{% extends "affiliates/centerfield-media/fluid-index.html" %}
{% block google_experiment %}
<!-- Google Analytics Content Experiment code -->
<script> 
_udn = "protectamerica.com";
</script>
<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='61445283-44',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->
{% endblock %}    
{% block hero-content %}
    <h3>Protect America is our TopTenREVIEWS Silver Award winner because you save hundreds in upfront cost.<img src="{{ STATIC_URL }}img/affiliates/centerfield-media/quote-arrow.png" class="quote-arrow" alt="quote-arrow" width="32" height="16" /></h3>
    <p>Top Ten Reviews</p>
{% endblock %}

    {% block bottom-content %}
        <h2>Protect America "delivers superior protection"</h2>
        <p>TopTenReviews.com has noticed it and you should too! No company can match Protect America’s affordability and quality. That’s why Top Ten Reviews said, "Protect America delivers superior protection without a costly upfront investment."</p>
    {% endblock %}