{% extends "contact-us/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}
{% block page_title %}Security | Protect America | Security Affiliate Enrollment{% endblock %}
{% block page_keywords %}security, home security, home security sales jobs, equipment security, alarm security, security systems, wireless alarmm{% endblock %}
{% block page_description %}Protect America Security offers an easy-to-enroll online security affiliate program.  Enroll today and give your friends and neighbors great security service and security monitoring, while making money and gaining financial security for yourself.{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/contact-us.css">
{% endblock %}

{% block content %}

<div id="agent-two-overview">
    <h1 class="title">Security Affiliate Enrollment</h1>
    <p>Protect America is the fastest growing installer of <a href="{% url equipment %}" title="Wireless Alarm Systems">GE wireless alarm systems</a> in the country. Using cutting edge technology, we are able to offer wireless alarm systems nationwide. Our wireless alarm systems offer superior protection at a superior price. Join our affiliate program and reap the benefits of promoting our wireless alarm system that practically sells itself. Our new affiliate program offers the most lucrative commissions available on wireless alarm sales. Drive online visitors from your web page to our web page, bringing us new customers and earning you a lucrative income.</p>
    <p><strong>Here are just a few of the tools we provide to help ensure your success:</strong></p>
    <ul>
    	<li>Unique Tracking URL</li>
    	<li>Professional Banner Ad Creatives</li>
    	<li>Online Reporting Tool</li>
    	<li>Email Alerts for Each Sale</li>
    </ul>
    <p>Protect America's Affiliates are paid $300 for each new customer that you bring us. Affiliates are paid each week for all referred customers who activate their security system during the previous week. We've made our affiliate enrollment process extremely easy so you can get started right away. Simply fill out the form below to become one of Protect America's affiliates.</p>
</div>
{% include "order/quote-form.html" with form=forms.basic %}
<div class="clear"></div>


{% endblock %}  
