{% extends "support/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}
{% block page_title %}Home Security Dealer Program | Become an Authorized Reseller | Protect America{% endblock %}
{% block page_keywords %}home security dealers, home security dealer, security dealer program, security dealer programs, alarm dealer software, home security dealer program, security networks dealer program, security alarm dealer programs{% endblock %}
{% block page_description %}Protect America offers more then a traditional security dealer program with its innovative Agent 2.0 Program. Get access to the resources of an industry leader and work from anywhere. Protect America will ship all products directly to the customer so you never have to worry about inventory! Earn some of the highest multiples in the industry while obtaining maximum RMR for every approved sale.{% endblock %}


{% block content %}
<div id="hero-wrapper" class="v-light-grey">

    <div id="hero-image">
        <h1>Join Our Home Security Dealer Program <br>Become an Authorized Reseller</h1>
        <div id="hero-area">
            
            <h2>Has Your Dealer Program Left You<h2>
            <h3>High & Dry</h3>
            <p>Join the Fastest Growing home security company. Trusted for 20 years, Protect America Home Security has protected over 450,000 customers and has the most successful Home Security Dealers in the security industry.</p>
            
            <h4>For More Dealer Information, Call Us Now <br>1-888-951-5156</h4>
            <a href="mailto:agent2.0@protectamerica.com"<h5>agent2.0@protectamerica.com</h5></a>
            
        </div>
        
    </div>
    <img src="{{ STATIC_URL }}img/affiliates/new-dealer/high-dry.jpg" id="high-dry"  />

</div>
<div class="wrapper">
   <div id="agent-more-information">
        <h2>Fed Up with Your Home Security Dealer Program?  Join Protect America  Home Security</h2>
         <p>Are you are fed up with your dealer program not paying out on time, long guarantees, hold-backs, caps on monitoring and bogging you down with paperwork?  Protect America’s price can’t be beat. <a href="http://www.protectamerica.com/shop-home-security-packages/copper" title="copper security package">The Copper Security Package</a>, named a ‘Best Buy’ by Consumers Digest, starts as low as $19.99 per month with no up-front cost to the customer.</p>
        <p>Protect America has been in business for 20 years and is a nationally recognized home security company licensed to sell in all 50 states. Protect America has been the leader in quality and affordability.  Protect America has won a 5-star rating for the last five years by Top Consumer Reviews.</p>

        
        <h3>Join Us and Discover The Opportunity:</h3>
        <li> Highest Net Payouts</li>
        <li> No Start Up Cost</li>
        <li> No Inventory to Carry</li>
        <li> Direct Ship to Customers</li>
        <li> 7 Days a Week Customer Service</li>
        <li> Turnkey Operation</li>
        
        <h2>Historical Opportunity to make money in the Home Security Industry</h2>        
        <p>The security industry is growing fast. Wireless technology has drastically transformed home security, making it accessible to millions of consumers who previously thought it was beyond their grasp. Industry experts anticipate over $14 billion in growth by 2017. Plug into our successful business model today - why shouldn't you have a piece of the pie? High customer demand, the right product, the right price, and high profits. Call us now!</p>
               
    </div>
    <div id="agent-two-overview">
                
        <h3>Call Now</h3>
        <p>1-888-951-5156</p>
        {% comment %} 
        <div id="webinar">
        <img src="{{ STATIC_URL }}img/affiliates/new-dealer/video-icon.png" />
            <div id="head-title">
                    
                    <h3>Ready To Get Started?</h3>
                    <h2>Register For a Free<br>Webinar Today!</h2>
            </div>
            <form id="form-area">
                <p>The webinar will provide you with the information you need in order to become an Authorized Dealer.  Start making money tomorrow, sign up now.</p>
                <input id="id_name" type="text" maxlength="128" name="name" placeholder="Name">
                <input id="id_email" type="text" maxlength="128" name="email" placeholder="Email">
                <input id="id_phone" type="text" maxlength="128" name="phone" placeholder="Phone">
                <button type="button" class="blue-button">Get Started | ></button>
            </form>
        </div>
        {% endcomment %}
        <img src="{{ STATIC_URL }}img/affiliates/new-dealer/infographic.png">
    </div>
    <div class="clear"></div>

    <div id="key-indicators">

        <ul>
            <li><i class="icon-ok-sign"></i> High Multiples</li>           
            
            <li><i class="icon-ok-sign"></i> Aggressive Net Commissions</li>
            <li><i class="icon-ok-sign"></i> Highest Installation Rate in the Industry</li>                       
            <li><i class="icon-ok-sign"></i> No Cap on Monitoring</li>
            <li><i class="icon-ok-sign"></i> Never Replace Equipment</li>    
            <li><i class="icon-ok-sign"></i> No Paperwork
            <li><i class="icon-ok-sign"></i> Convenient Online Agreements & Reporting</li>
            <li><i class="icon-ok-sign"></i> Great Support Team</li>            
            <li><i class="icon-ok-sign"></i> No Carrying Costs</li>
            </li>
            
           
        </ul>
    </div>
       
</div>
<div id="action">
        <h2>Want to learn more? We thought so! Seasoned alarm company veterans and start-ups are welcome.</h2>
        <p>Some opportunities don't knock. You have to pick up the phone.<span> Call Us Now </span></p>
        <p style="font-size:36px;font-weight:100px; line-height: 36px;">1-888-951-5156</p>

    </div>
    
    <div id="agent-badges">
        <img src="{{ STATIC_URL }}img/affiliates/new-dealer/badges.png" alt="No Carrying Cost- Support On the Go- Installation Optional, No Extra Work- High Multiples, Money In Your Pocket" alt="agent-two-badges" width="888" height="176" />
    </div>


 
<div class="clear"></div>
{% addtoblock "js" %}
{% block javascript %}
<script type="text/javascript">
$(document).ready(function() {
    function validateEmail(email){
    var re = /\S+@\S+\.\S+/;
    return re.test(email);
    }

    $('.sleepy input, .droopy input').keypress(function(e){
        if(e.which == 13){
            $('.sleepy button').click();
        }
    });
    var submitting = false;

    $('#form-area button').click(function() {
        $('#form-area button').attr('disabled',true);
        var $form = $(this).closest('#form-area');
        var name = $form.find("#id_name").val();
        var email = $form.find("#id_email").val();
        var phone = $form.find("#id_phone").val();
        /*
        if (name == ''){
            alert('Please include your name before proceeding.');
            _gaq.push(['_trackEvent', 'Form Error', 'Name Error', '{{ page_name }']);
            return false;
        }
        if (phone == ''){
            alert('Please include your phone number before proceeding.');
            _gaq.push(['_trackEvent', 'Form Error', 'Phone Error', '{{ page_name }}']);
            return false;
        }
        */
        var data = {'name':name, 
                    'email': email,
                    'phone': phone, 
                    'trusted_form': $form.find("[name ='xxTrustedFormToken']").val(),
                    'trusted_form2': $form.find("[name ='CertUrl']").val(),
                    'form': 'basic',
                    'referer_page':window.location.href,
                    'form_values':$form.serialize()}
    
  
        $.ajax({
                type: "POST",
                url: "/contact/ajaxpost/",
                data: data,
                dataType: "json",
                success: newFormSuccess,
                error: newFormError,
                beforeSend:function(){
                    $(".sleepy .icon-chevron-right, .droopy .icon-chevron-right").hide();
                    $(".sleepy #form-loading, .droopy #form-loading").show();
                    $("#form-area button").text('Thank You');
                    $('#form-area button').attr('disabled',true);
                    }
                });
       

         function newFormError(){
            $(".sleepy #form-loading, .droopy #form-loading").hide();
            $(".sleepy .icon-chevron-right, .droopy .icon-chevron-right").show();
            $('#form-area button').attr('disabled',false);
            $("#form-area button").text('Get Started');
            if (!name && !phone){
                $('#id_name').css('border-color','red').attr('placeholder','Please Enter Name');
                $('#id_phone').css('border-color','red').attr('placeholder','Please Enter Phone Number');
                alert('Please Enter Your Name and Phone Number.');
            }
            if (!phone && name){
                $('#id_phone').css('border-color','red').attr('placeholder','Please Enter Phone Number');
                alert('Please Enter Your Phone Number.');
            }
            if (!name && phone){
                $('#id_name').css('border-color','red').attr('placeholder','Please Enter Your Name');
                alert('Please Enter Your Name.');
            }
            if (name){
                $('#id_name').css('border-color','');
            }
            if (phone){
                $('#id_phone').css('border-color','');
            }
        }

        function newFormSuccess(json) {
            $('#form-loading').hide();
            submitting = false;
            if(json.success) {
                {% if thank_you %}
                window.location = '{{ thank_you }}';
                {% else %}
                url = json.thank_you
                window.location = "http://www.protectamerica.com" + url;
                {% endif %}
                _gaq.push([  
                    '_trackEvent',
                    'Form Click',
                    'Form Events',
                    '{{ page_name }}'
                ]);
                return;
            }
        }
        return false;
        });
    });   
</script>
{% endblock %}
{% endaddtoblock "js" %}

{% endblock %}
