{% extends "support/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}
{% block page_title %}Security Dealer Program | Home Security Dealers | Protect America{% endblock %}
{% block page_keywords %}home security dealers, home security dealer, security dealer program, security dealer programs, alarm dealer software, home security dealer program, security networks dealer program, security alarm dealer programs{% endblock %}
{% block page_description %}Protect America offers more then a traditional security dealer program with its innovative Agent 2.0 Program. Get access to the resources of an industry leader and work from anywhere. Protect America will ship all products directly to the customer so you never have to worry about inventory! Earn some of the highest multiples in the industry while obtaining maximum RMR for every approved sale.{% endblock %}


{% block content %}
<div id="hero-wrapper" class="v-light-grey">

    <div id="hero-image">
        <div id="hero-content">
            
            <h1>Has Your Dealer Program Left You<h1>
            <h2>High & Dry</h2>
            <p>Enjoy the benefits of partnering with Protect America as an Authorized Dealer. Get access to the resources of an industry leader and work from anywhere.</p>
            <h3>For More Dealer Information, Call Us Now <br>1-888-951-5156</h3>
            <a href="mailto:agent2.0@protectamerica.com"<h4>agent2.0@protectamerica.com</h4></a>
            
        </div>
        
    </div>
    <img src="{{ STATIC_URL }}img/affiliates/new-dealer/high-dry.jpg" id="high-dry"  />

</div>
<div class="wrapper">
   <div id="agent-more-information">
        <h2>Historical Opportunity to Make Money in the Home Security Industry!</h2>
        <p>The security industry is growing fast. Wireless technology has drastically transformed home security, making it accessible to millions of consumers who previously thought it was beyond their grasp. Industry experts anticipate over $14 billion in growth by 2017. Plug into our successful business model today - why shouldn't you have a piece of the pie? High customer demand, the right product, the right price, and high profits. Call us now!</p>
        <h3> Join Us and Discover The Opportunity:</h3>
        <h4>Aggressive Commissions</h4>
        <h4>No Upfront Cost</h4>
        <h4>No Carrying Cost</h4>        
        <h4>Great Support Team</h4>
        <h2>The Protect America Opportunity</h2>
        
          
        <p>Our prices can’t be beat.  The <a href="http://www.protectamerica.com/shop-home-security-packages/copper" title="copper security package">Copper Security Package</a>, named a ‘Best Buy’ by Consumers Digest, starts as low as $19.99 per month with no up-front cost to the customer.</p>
        <p>Protect America has been in business for 20 years and is a nationally recognized home security company licensed to sell in all 50 states. Protect America has been a recognized leader in quality and affordability.  Protect America has won a 5-star rating for the last five years by Top Consumer Reviews.</p>
        
    </div>
    <div id="agent-two-overview">
        <img src="{{ STATIC_URL }}img/affiliates/new-dealer/infographic.png">
        <h3>Call Now</h3>
        <p>1-888-951-5156</p>

        <ul>
            <li><i class="icon-ok-sign"></i> High Multiples</li>           
            
            <li><i class="icon-ok-sign"></i> No Cap on Monitoring</li>            
            <li><i class="icon-ok-sign"></i> Never Replace Equipment</li>
            <li><i class="icon-ok-sign"></i> No Paperwork. Convenient Online Agreement</li>
           
        </ul>
            </div>
    <div class="clear"></div>
   
</div>
<div id="action">
        <h2>Want to learn more? We thought so! Seasoned alarm company veterans and start-ups are welcome.</h2>
        <p>Some opportunities don't knock. You have to pick up the phone.<span> Call Us Now </span></p>
        <p style="font-size:36px;font-weight:100px; line-height: 36px;">1-888-951-5156</p>

    </div>
    
    <div id="agent-badges">
        <img src="{{ STATIC_URL }}img/affiliates/new-dealer/badges.png" alt="No Carrying Cost- Support On the Go- Installation Optional, No Extra Work- High Multiples, Money In Your Pocket" alt="agent-two-badges" width="888" height="176" />
    </div>


 
<div class="clear"></div>
{% endblock %}  
