{% extends "base.html" %}
{% block subnav_child %}
<ul>
	<li><a href="{% url security-packages %}">Department Listing</a></li>
	<li><a href="{% url interactive-video %}">Affiliate Program</a></li>
	<li><a href="{% url equipment %}">Careers</a></li>
	<li><a href="{% url equipment %}">Send Feedback to CEO</a></li>
	<li><a href="{% url monitoring %}">Find Us</a></li>
	<li><a href="{% url order-package %}">Order a System</a></li>
</ul>
{% endblock %}
{% block subnav_parent %}
<ul class="siblings">
	<li><a href="{% url security-packages %}">Department Listing</a></li>
	<li><a href="{% url interactive-video %}">Affiliate Program</a></li>
	<li><a href="{% url equipment %}">Careers</a></li>
	<li><a href="{% url equipment %}">Send Feedback to CEO</a></li>
	<li><a href="{% url monitoring %}">Find Us</a></li>
	<li><a href="{% url order-package %}">Order a System</a></li>
</ul>

{% endblock %}