{% extends "support/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}
{% block page_title %}Department Listings | Security System | Protect America{% endblock %}
{% block page_keywords %}protectamerica.com,security,home security,security system,home security system{% endblock %}
{% block page_description %}Use the Protect America department listing to find the resolution to any issues or questions you have regarding PA's home security systems.{% endblock %}

{% block content %}
<div id="hero-wrapper" class="v-light-grey">
    <div id="hero-image">
        <div id="hero-content">
            <i class="icon-customer-care"></i>
            <h2>Contact Us</h2>
            <h1>Department Listings</h1>
            <p>Contact the appropriate department directly about our home security systems so that we can serve you as quickly as possible.</p>
        </div>
        <img src="{{ STATIC_URL }}img/base/protect-america-hero.jpg" class="main-hero-image" alt="Protect America Logo" />
    </div>
</div>
<div class="wrapper">
    <div id="department-listings">
        <div id="buying-home-security">
            <h2>Buying Home Security</h2>
            <div id="sales-department">
                <h3>Sales</h3>
                <p class="phone-number"><strong><span{% if use_call_measurement %} class="dynamic-phone-number"{% endif %}>{{ phone_number|format_number }}</span></strong></p>
                <p class="email-address"><a href="mailto:sales@protectamerica.com" title="Contact Sales Department">sales@protectamerica.com</a></p>
            </div>
            <div class="clear"></div>
        </div>
    
        <div id="customer-care">
            <h2>Customer Care</h2>
            <div id="custservice-department">
                <h3>Customer Service</h3>
                <p class="phone-number"><strong>1-800-951-5111, Option 4</strong></p>
                <p class="email-address"><a href="mailto:support@protectamerica.com" title="Contact Customer Support Department">support@protectamerica.com</a></p>
            </div>
            <div class="clear"></div>
            <div id="installation-department">
                <h3>New Customer Activation</h3>
                <p class="phone-number"><strong>1-800-951-5111, Option 3</strong></p>
                <p class="email-address"><a href="mailto:cust_inst@protectamerica.com" title="Contact Installation Department">cust_inst@protectamerica.com</a></p>
            </div>
            <div class="clear"></div>
            <div id="monitoring-station">
                <h3>Monitoring Station</h3>
                <p class="phone-number"><strong>1-877-274-0604</strong></p>
            </div>
            <div class="clear"></div>
        </div>
        <div id="home-security-opportunities">
            
            <h2>Home Security Opportunities</h2>
            <div id="bizdev-department">
                <h3>Business Development</h3>
                <p class="phone-number"><strong>1-800-951-5111, ext 8436</strong></p>
                <p class="email-address"><a href="mailto:busdev@protectamerica.com" title="Contact Business Development Department">busdev@protectamerica.com</a></p>
            </div>
            <div class="clear"></div>
            <div id="careers-department">
                <h3>Careers</h3>
                <p class="phone-number"><strong>1-800-951-5111, ext 8201</strong></p>
                <p class="email-address"><a href="mailto:careers@protectamerica.com" title="Contact Careers Department">careers@protectamerica.com</a></p>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
</div>
{% endblock %}  


