{% extends "contact-us/base.html" %}
{% block page_title %}Send Feedback to our CEO | Protect America | Home Security{% endblock %}
{% block page_keywords %}protect america{% endblock %}
{% block page_description %}Protect America aims for 100% customer satisfaction on all home security systems and home security services. Send feedback directly to the CEO with any issues.{% endblock %}


{% block content %}
<div id="ceo-feedback-form">
    <form method="POST">
    {% csrf_token %}
    <div id="ceo-message">
        <h2>A Message from our CEO</h2>
        <p>"As the Founder and CEO of Protect America, I want to make sure that we are doing everything possible to provide each and every customer with the very best customer service. If there is ever a situation in which a customer is not 100% satisfied, I want to know about it. I also want to know when a member of my staff provides you with exceptional service as well. Please use this page to submit your feedback directly to me. If you have an unresolved issue, I will have a member of my staff contact you to resolve your problem within 48 hours. Thank you for taking the time to provide me with your valuable feedback!"</p>
        <img src="/static/img/external/tp-signature.png" />
        <p><strong>Thad Paschall</strong><br/>CEO & Founder</p>
    </div>
    <div id="ceo-form">
        <h1>Send Thad a Message</h1>
        <div id="customer-information"
            <p>Please fill out the form below to provide feedback to our CEO. Be sure to choose the type of feedback, the department for which you are providing feedback, and if you know the name of the representative(s) that helped you, please enter that information as well.</p>
            {% include "_partials/formfield.html" with field=formset.name %}
            {% include "_partials/formfield.html" with field=formset.email %}
            {% include "_partials/formfield.html" with field=formset.phone %}
            <label>City & State</label>
            {% include "_partials/formfield_nolabel.html" with field=formset.city %}
            {% include "_partials/formfield_nolabel.html" with field=formset.state %}
        </div>
        <div id="feedback-information">
            <p>Please provide as much detailed information as possible regarding the nature of your feedback, especially if you still have an outstanding issue or complaint that you need resolved.</p>
            {% include "_partials/formfield.html" with field=formset.feedback_type %}
            {% include "_partials/formfield.html" with field=formset.department %}
            {% include "_partials/formfield.html" with field=formset.rep_name %}
        </div>
        <div class="clear"></div>
        {% include "_partials/formfield.html" with field=formset.message %}

        <button class="buyit" type="submit">Send Your Message to Thad ></button>

        <div class="clear"></div>
    </div>

    </form>

</div>


{% endblock %}  
