{% extends "contact-us/base.html" %}
{% block subnav_parent %}{% endblock %}
{% block content %}
<div>
	<div class="content-box small text-bump-50">
		<h2>A Message from our CEO</h2>
		<p>"As the Founder and CEO of Protect America, I want to make sure that we are doing everything possible to provide each and every customer with the very best customer service. If there is ever a situation in which a customer is not 100% satisfied, I want to know about it. I also want to know when a member of my staff provides you with exceptional service as well. Please use this page to submit your feedback directly to me. If you have an unresolved issue, I will have a member of my staff contact you to resolve your problem within 48 hours. Thank you for taking the time to provide me with your valuable feedback!"</p>
		<img src="/media/img/external/tp-signature.png" />
		<p><strong>Thad Paschall</strong><br/>CEO, Secret Agent, & Founder</p>
	</div>
	<div class="content-box big text-bump-25">
		<div class="big-blue-form">
			<h1>Send Thad a Message</h1>
			<p>Please fill out the form below to provide feedback to our CEO. Be sure to choose the type of feedback, the department for which you are providing feedback, and if you know the name of the representative(s) that helped you, please enter that information as well.</p>
			<form>
				<input type="text" value="Name">
				<input type="text" value="Email">
				<input type="text" value="Phone">
				<div class="bottom-rule">
					<input type="text" value="City" class="city">
					<select class="state">
						<option value="AR">AR</option>
					</select>
				</div>
				<p>Please provide as much detailed information as possible regarding the nature of your feedback, especially if you still have an outstanding issue or complaint that you need resolved.</p>
				<label>Type of Feedback: </label>
				<select>
				  <option value="general-feedback">General Feedback</option>
				  <option value="bronze">Sales</option>
				  <option value="silver">Careers</option>
				</select>
				<label>Department: </label>
				<select>
				  <option value="customer-service">Customer Service</option>
				  <option value="sales">Sales</option>
				  <option value="careers">Careers</option>
				</select>
				<input type="text" value="Representative's Name">


				<textarea rows="5">Enter your message and feedback to our CEO here.</textarea>
				<button class="buyit">Submit & Finish</button>

			</form>
		</div>
		<div class="clear"></div>
	</div>


</div>


{% endblock %}  
{{ block.super }}


