{% extends "base.html" %}
{% block content %}
<h1>Contact Us</h1>
<div class="sub-nav">
	<ul>
		<li>Department Listing</li>
	</ul>
	<div class="clear"></div>
</div>
<div>
	<div class="content-box half">
		<p>We offer GE home security systems at an affordable price for homes and small businesses. Each department is in place to offer you assistance concerning any question you might have about our GE home security systems In order for us to provide you with the most efficient assistance possible, please visit the Department Listing page to contact the appropriate department for your inquiry about our GE home security systems. For information on our affiliate program and other business development inquiries, please visit our Home Security Opportunities page.</p>
	</div>
	<div class="content-box half">
		<div class="outline-box">
			<span>Need a Home Security System?</span>

		</div>
	</div>
</div>
{% endblock %}  
{% block sidebar %}
{{ block.super }}


{% endblock %}
