{% extends "contact-us/base.html" %}
{% block subnav_parent %}{% endblock %}
{% block extra_javascript %}
<script type="text/javascript" 
    src="/static/js/jquery.placeholder.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('input[type="text"],textarea').placeholder();
    });
</script>
{% endblock %}
{% block content %}
<div>
	<div class="content-box small text-bump-50">
		<p>We offer GE home security systems at an affordable price for homes and small businesses. Each department is in place to offer you assistance concerning any question you might have about our GE home security systems In order for us to provide you with the most efficient assistance possible, please visit the Department Listing page to contact the appropriate department for your inquiry about our GE home security systems. For information on our affiliate program and other business development inquiries, please visit our Home Security Opportunities page. </p>
		<h2>Need a Home Security System?</h2>
		<p>We will be happy to assist you in finding the best security system for your home. Call us toll-free today at 1-800-951-5167 during our normal business hours:</p>
		<h3>Mon - Fri: 08:00am - 09:00pm CT</h3>
		<h3>Sat: 08:00am - 05:00pm CT </h3>
		<h3>Sun: 09:00am - 05:00pm CT </h3>

		<p><strong>Note:</strong> All business hours are listed in Central Standard Time. </p>
	</div>
	<div class="content-box big text-bump-25">
		<div class="big-blue-form">
			<h1>Contact Us</h1>
			<p>
                One of our home security professionals is ready to 
                guide you through protecting your home.  Please 
                fill out the information below or call:
                <strong>1-800-951-5111</strong></strong>
            </p>
            {% include "contact-us/forms/basic-contact-form.html" %}
		</div>
		<div class="clear"></div>
	</div>
</div>
{% endblock %}  

