{% extends "support/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags i18n %}
{% block page_title %}Job Openings | Protect America Careers | Protect America{% endblock %}
{% block page_keywords %}home security jobs, security sales, security, home security, home security system, security system{% endblock %}
{% block page_description %}Protect America has many home security jobs available for dedicated, hard-working and intelligent individuals seeking a fun, fast-paced career.{% endblock %}
{% block typekit %}tk-jaf-facitweb{% endblock %}



{% block content %}
<div class="wrapper">
<script type="text/javascript" src="http://www.ziprecruiter.com/jobs-widget/v1/522cb148"></script><a href="http://www.ziprecruiter.com" id="jobs_widget_link">Powered by ZipRecruiter</a>
<div class="clear"></div>
</div>
{% endblock %}  


