
{% extends "affiliates/generic-landing-base/index.html" %}
{% load sekizai_tags content_tags content_filters %}


{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/affiliates/reliance-vs-pa-canada/reliance-vs-pa-canada.css">
    <script type="text/javascript" src="//use.typekit.net/qrm2ztf.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
{% endblock %}

{% block typekit %}tk-museo-slab{% endblock %}

{% block hero-block %}
</div>
<div id="hero-banner">
    <div class="wrapper">
        <div id="top-hero-banner">
            <div id="main-banner" data-url="{% url order-package %}">
                <img src="{{ STATIC_URL }}img/affiliates/adt-comparison-two/adt-banner.jpg" class="adt-banner" alt="adt-banner" width="1229" height="409" />
            </div>
        </div>
        {% include "order/quote-form-noview.html" with form=forms.basic %}
    </div>
</div>
{% include "order/call-box.html" %}

<div class="wrapper">
<div class="clear"></div>
{% endblock %}

{% block assurance-block-one %}
    <img src="{{ STATIC_URL }}img/affiliates/reliance-vs-pa-canada/money-icon.png" alt="money-icon" width="117" height="115" />
    <h3 class="tk-freight-sans-pro">Reliance Will<br />Cost You</h3>
{% endblock %}

{% block assurance-block-two %}
    <img src="{{ STATIC_URL }}img/affiliates/wireless/customizable-call-out-logo.png" alt="customizable-call-out-logo" width="117" height="114" />
    <h3 class="tk-freight-sans-pro">Customizable Security Packages</h3>
{% endblock %}

{% block assurance-block-three %}
    <img src="{{ STATIC_URL }}img/affiliates/wireless/interactive-call-out-logo.png" alt="interactive-call-out-logo" width="113" height="111" />
    <h3 class="tk-freight-sans-pro">Smartphone System Control</h3>
{% endblock %}

{% block assurance-block-four %}
    <img src="{{ STATIC_URL }}img/affiliates/wireless/moving-call-out-logo.png" alt="moving-call-out-logo" width="114" height="111" />
    <h3 class="tk-freight-sans-pro">Home Security Relocation</h3>
{% endblock %}

{% block assurance-block-five %}
    <img src="{{ STATIC_URL }}img/affiliates/wireless/easy-installation-call-out-logo.png" alt="easy-installation-call-out-logo" width="119" height="116" />
    <h3 class="tk-freight-sans-pro">Easy Install &amp; Maintenance</h3>
{% endblock %}

{% block assurance-card-one %}
<div id="conv-install">
    <div class="full">
        <h2 class="tk-freight-sans-pro">Reliance Will Cost You</h2>
       <p><strong>Reliance Protectron’s basic package starts out at $30.95 and their equipment cost is $149</strong>. Our basic package starts at $19.99 and our equipment is completely free! Reliance also offers an extended warranty for extra money every month. This means, you pay more monthly in addition to your current monthly charge. Protect America offers a free lifetime warranty. We understand our customers, and want to provide the best price for your household or budget.</p>
       <h2 class="tk-freight-sans-pro">Our Prices:</h2>
       <img src="{{ STATIC_URL }}img/affiliates/reliance-vs-pa-canada/price-diagram.jpg" alt="price-diagram" width="920" height="495" />
    </div>
</div>
{% endblock %}

{% block assurance-card-two %}
<div id="house-features">
    <h2 class="tk-freight-sans-pro">Customized to Fit Your Needs</h2>
    <p class="tk-freight-sans-pro">We Provide Home Security to Fit Your Needs. Only Protect America will give you the protection for ever part of your home.<span> Click on the blue dots to see all that we can protect, it’s your choice!</span></p>
    <div id="equipment-features">
        <div class="equipment-feature" style="left: 360px; top: 115px;">
            <div class="feature-icon">+</div>
            <div class="feature-content left">
                <h3 class="tk-freight-sans-pro">Motion Detectors</h3>
                <p style="width: 220px;" class="tk-freight-sans-pro">Our Motion Detectors use both heat and movement to detect intruders when your alarm system is armed. They are very useful in case someone does enter your home. Therefore, a motion detector is best placed in a heavy traffic area of your home.</p>
            </div>
        </div>
        <div class="equipment-feature" style="left: 375px; top: 375px;">
            <div class="feature-icon">+</div>
            <div class="feature-content right">
                <h3 class="tk-freight-sans-pro">GE Simon XT Touch Screen</h3>
                <p style="width: 220px;" class="tk-freight-sans-pro">A touch screen acts as an optional point of access for your home security system. The GE Simon XT Touch Screen features one-touch arming and disarming, soothing voice feedback, and an emergency response signal.</p>
            </div>
        </div>
        <div class="equipment-feature" style="left: 100px; top: 325px;">
            <div class="feature-icon">+</div>
            <div class="feature-content left">
                <h3 class="tk-freight-sans-pro">Glass Break Sensor</h3>
                <p style="width: 220px;" class="tk-freight-sans-pro">This sensor is specially designed using pattern recognition technology to detect the sound of breaking glass within a 20-foot radius. Use this sensor around easily accessible windows or glass doors that could be shattered to gain entry into your home.</p>
            </div>
        </div>
        <div class="equipment-feature" style="left: 195px; top: 150px;">
            <div class="feature-icon active">+</div>
            <div class="feature-content first-open">
                <h3 class="tk-freight-sans-pro">The GE Simon XT</h3>
                <p style="width: 220px;" class="tk-freight-sans-pro">The control panel is the 'brains' of your home security system. And with the GE Simon XT, you get a full-featured home security platform that combines the best of home security with ease of use. Arming, emergency response, and status updates are all just one button press away. And with its robust programming system, the Simon XT allows you to upgrade and create an alarm system that fits your needs. Protecting your home and family couldn't be easier than with the GE Simon XT control panel.</p>
            </div>
        </div>
                <div class="equipment-feature" style="left: 25px; top: 100px;">
            <div class="feature-icon">+</div>
            <div class="feature-content left">
                <h3 class="tk-freight-sans-pro">Window Sensors</h3>
                <p style="width: 220px;" class="tk-freight-sans-pro">Window sensors are the most common piece of home security equipment and the front line defense for your home. A surprisingly simple device, door/window sensors create a magnetic field that, when broken, sends a signal to your central GE Simon XT control panel and sounds the alarm. Protect America only uses wireless sensors that can be used on either doors or windows, allowing for greater system customization. For most homes, we recommend one sensor for every accessible door and window.</p>
            </div>
        </div>
        <div class="equipment-feature" style="left: 230px; top: 40px;">
            <div class="feature-icon">+</div>
            <div class="feature-content right">
                <h3 class="tk-freight-sans-pro">Smoke Detector</h3>
                <p style="width: 220px;" class="tk-freight-sans-pro">Protect your home and family from fire by adding monitored smoke detectors to your security system. Monitored smoke detectors can identity smoke or rapidly rising temperatures 24 hours a day whether you're home or not. Even if your security system is disarmed, our monitoring facility notifies your local fire department if there is a fire.</p>
            </div>
        </div>
        <div class="equipment-feature" style="left: 850px; top: 405px;">
            <div class="feature-icon">+</div>
            <div class="feature-content right">
                <h3 class="tk-freight-sans-pro">Home Security Sign</h3>
                <p style="width: 220px;" class="tk-freight-sans-pro">Deter burglars from targeting your home with this warning sign that prominently displays that your house is secured with a home alarm system.</p>
            </div>
        </div>
        <div class="equipment-feature" style="left: 635px; top: 385px;">
            <div class="feature-icon">+</div>
            <div class="feature-content left">
                <h3 class="tk-freight-sans-pro">Keychain Remote Control</h3>
                <p style="width: 220px;" class="tk-freight-sans-pro">With the keychain remote control, you can enjoy the convenience of turning off your system as you pull into the driveway. You can also send a panic signal from anywhere inside your home allowing you to notify authorities.</p>
            </div>
        </div>
        <div class="equipment-feature" style="left: 635px; top: 345px;">
            <div class="feature-icon">+</div>
            <div class="feature-content left">
                <h3 class="tk-freight-sans-pro">GPS Vehicle Tracking</h3>
                <p style="width: 220px;" class="tk-freight-sans-pro">Protect America allows you to instantly locate and follow your car with real-time GPS vehicle tracking. Easily keep a "virtual eye" on your vehicle through an intuitive web interface. Get customizable alerts via email or text if your teenager is speeding or if they are going to places they shouldn't.</p>
            </div>
        </div>
        <div class="equipment-feature" style="left: 635px; top: 300px;">
            <div class="feature-icon">+</div>
            <div class="feature-content right">
                <h3 class="tk-freight-sans-pro">Garage Door Sensors</h3>
                <p style="width: 220px;" class="tk-freight-sans-pro">This sensor protects against entry though the biggest door in your house. By detecting the tilt of an overhead door, this sensor can alert your alarm system if your garage is opened while armed.</p>
            </div>
        </div>
        <div class="equipment-feature" style="left: 479px; top: 100px;">
            <div class="feature-icon">x</div>
            <div class="feature-content left">
                <h3 class="tk-freight-sans-pro">Interactive Video Cameras</h3>
                <p style="width: 220px;" class="tk-freight-sans-pro">With our interactive video home security services, we bring you easy to use, high-quality video security. So you can easily check in at home anytime of day and from anywhere. Getting a cup of joe? Easy, log in with your laptop and view your cameras. On vacation? No problem, just use your smartphone to make sure everything is okay. With video home security, checking in at home is just a click away.</p>
            </div>
        </div>
    </div>
    <img src="{{ STATIC_URL }}img/affiliates/adt-comparison/house.gif" alt="house" width="957" height="475" />
</div>
{% addtoblock "js" %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.easing.1.3.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('#house-features .feature-icon').click(function(){
            var icon = $(this).clone();
            $('#house-features .feature-icon').removeClass('active').html('+');
            $('#house-features .feature-content').slideUp(250, 'easeOutBounce');
            if(!$(icon).hasClass('active')) {
                $(this).addClass('active').html('x').next('#house-features .feature-content').slideDown(250, 'easeOutBounce');
            }
        });
        $('#touchscreen-features .feature-icon').click(function(){
            var icon = $(this).clone();
            $('#touchscreen-features .feature-icon').removeClass('active').html('+');
            $('#touchscreen-features .feature-content').slideUp(250, 'easeOutBounce');
            if(!$(icon).hasClass('active')) {
                $(this).addClass('active').html('x').next('#touchscreen-features .feature-content').slideDown(250, 'easeOutBounce');
            }
        });
    });
    </script>
{% endaddtoblock "js" %}
{% endblock %}


{% block assurance-card-three %}
<div class="copy-point">
    <h2 class="tk-freight-sans-pro">Control Your Home Security System from Anywhere!</h2> 
    <p>When you choose our cellular or broadband monitoring, your account will come with free interactive features.</p>
    <div class="image-area">
        <img src="{{ STATIC_URL }}img/affiliates/adt-comparison/interactive.png" alt="interactive" width="642" height="309" />
    </div>
</div>
<div id="interactive-call-out-box">
    <div class="interactive-call-out">
        <p class="tk-freight-sans-pro">Arm your system while on the go or wherever your life takes you. Arm and disarm your system anytime and anywhere. Keep a close eye on your home like never before.</p>
        <ul>
            <li>Arm/Disarm</li>
            <li>Real Time Status Check</li>
            <li>Live Video Feed</li>
            <li>Sensor Control</li>
            <li>Alarm Notifications</li>
        </ul>
    </div>
</div>
<div class="clear"></div>
{% endblock %}

{% block assurance-card-four %}
<div id="conv-install">
    <div class="left-conv-install">
        <img src="{{ STATIC_URL }}img/affiliates/wireless/relocation.jpg" alt="relocation" width="515" height="327" />
    </div>
    <div class="right-conv-install">
        <h2 class="tk-freight-sans-pro">Free &amp; Easy Relocation</h1>
        <p>Reliance Protectron will actually charge you if you move to a new home to set up a new system! Even if you have paid to get your old home fully covered, they will actually only give you their basic security system for a “special price.” Why should you have to pay for a whole new system? At Protect America we offer a free relocation kit. Not only is our system easy to move but it is completely free to take to your next home.  We will be there every step of the way to ensure your new home is secured.</p>
    </div>
</div>
{% endblock %}

{% block assurance-card-five %}
<div id="conv-install">
    <div class="left-conv-install">
      <img style="padding-top: 25px; padding-left: 25px;" src="{{ STATIC_URL }}img/affiliates/wireless/lots-of-wires.jpg" alt="lots-of-wires" width="455" height="264" />
    </div>
    <div class="right-conv-install">
        <h2 class="tk-freight-sans-pro">Quick &amp; Easy Self-Installation </h1>
        <p>Installing your own wireless home security system has never been easier! Protect America provides low-cost home alarm systems that customers install themselves. No need for power tools or expensive professionals. Reliance will have to send a technician out to your home every time there is an issue. Not only will you have to wait for your alarm system to be fixed until they have someone available, but it might even cost you! Our install process can be complete over the phone in as little as 30 minutes with the help of our home security experts. Customers don’t just save time with Protect America, they also save hundreds of dollars that other companies like Reliance Protectron charge for install, maintenance, and activation.</p>
    </div>
</div>
{% endblock %}
{% block page-product %}
    <h2>Silver Security Package</h2>
    <p><span>Equipment Price: <strong>FREE*</strong></span>monthly monitoring starting at $37.99/mo</p>
    <div class="button-submit">
        <a href="{% url order-package %}?package=silver" onClick="_gaq.push(['_trackEvent', 'Order Now', 'Order Now Package Footer Click', 'Silver-B']);">Order Now ></a>
    </div>
{% endblock %}

