@charset "UTF-8";
#hero-wrapper #hero-image h1 {
  font-size: 36px;
  line-height: 36px;
}
#hero-wrapper #hero-image h1 span {
  font-size: 24px;
}
#hero-wrapper #hero-content {
  width: 100%;
}
#hero-wrapper #hero-content h3 {
  top: 48px;
}
#hero-wrapper #hero-content p {
  margin-top: 50px;
}
#hero-wrapper #hero-content ul li {
  width: 200px;
  font-size: 12px;
}
#texas-company img {
  margin: 0 auto;
}
#texas-company .texas-content {
  width: 100%;
}
#texas-company .texas-content p {
  width: auto;
}
#advantage-table-wrapper {
  overflow: hidden;
  width: 100%;
}
#advantage-table-wrapper #advantage-table {
  width: 100%;
  margin: 0 auto;
  padding: 16px 0;
}
#advantage-table-wrapper #advantage-table h2 {
  text-align: center;
  font-size: 16px;
  line-height: 28px;
  font-weight: bold;
  padding: 16px 0;
}
#advantage-table-wrapper #advantage-table h2 span {
  display: block;
  font-size: 14px;
  line-height: 16px;
}
#advantage-table-wrapper #advantage-table table {
  width: 100%;
  vertical-align: middle;
}
#advantage-table-wrapper #advantage-table table thead tr th {
  text-align: center;
  font-size: 16px;
  padding: 8px 0;
  font-weight: bold;
  vertical-align: middle;
}
#advantage-table-wrapper #advantage-table table thead tr th .table-logo {
  width: 100px;
  height: 17px;
}
#advantage-table-wrapper #advantage-table table tbody tr td {
  text-align: center;
  line-height: 32px;
  width: 200px;
  font-size: 16px;
  font-weight: 100;
  vertical-align: middle;
  padding: 8px 0;
}
#advantage-table-wrapper #advantage-table table tbody tr td i {
  font-size: 24px;
}
#advantage-table-wrapper #advantage-table table tbody tr td.y-axis {
  text-align: right;
  width: 298px;
  padding-right: 8px;
  font-size: 10px;
  line-height: 14px;
  font-weight: normal;
}
#advantage-table-wrapper #advantage-table table tbody tr td.pa {
  width: 246px;
  border-top: none;
}
#advantage-table-wrapper #advantage-table table tbody tr.alpha td {
  border-top: none;
}
#advantage-table-wrapper #advantage-table table tbody tr.omega td {
  border-bottom: none;
}
#security-stats {
  width: 100%;
}
#security-stats h2 {
  text-align: center;
  color: #555555;
  font-size: 28px;
  line-height: 32px;
  font-weight: bold;
  padding: 16px 0;
}
#security-stats h2 span {
  display: block;
  font-size: 16px;
  line-height: 24px;
}
#security-stats .crime-stats-mobile,
#security-stats .state-stats-mobile {
  margin: 0 auto;
  display: block;
}
#security-stats .crime-stats,
#security-stats .state-stats {
  display: none;
}
#security-stats .main-statement {
  background: url(/static/img/affiliates/sem-landing-page/geo/statement-banner-480.png) center center no-repeat;
}
#security-stats .main-statement h2 {
  font-size: 22px;
  width: 250px;
  margin: 0 auto;
  line-height: 22px;
  padding-top: 89px;
  padding-bottom: 38px;
}
