@charset "UTF-8";
@import "768.less";
.thirdparty {
    position: absolute;
    bottom: -141px;
    right: -13px;
}
#mobile-main-promo {
    background: #a94810;
    width: 100%;
    height: 56px;
    position: absolute;
    bottom: 0px;
    left: 0;
    #main-promo-content {
        width: 960px;
        margin: 0 auto;
        text-decoration: none;
        position: relative;
        height: 56px;
        display: block;
        .main-promo-image {
            position: absolute;
            left: 0;
            bottom: 0px;
        }
        p {
            color: #fffcd0;

            font-size: 18px;
            text-align: left;
            line-height: 20px;
            padding: 6px 0;
            text-shadow: none;
            padding-left: 127px;
            span {
                display: block;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: normal;
            }
        }
    }
    &:hover {
        background: #a94810;
    }
}
#hero-wrapper {
    background: #ea6214;
    #quote-form {
        background: #cdecf8;
        .drop-shadow(0px, 2px, 5px, rgba(0,0,0,.7));
        button {
            background: #1fb867;
            i {
                border-left: 1px solid @dark-green;
            }
            &:hover {
                background: @green;
            }
        }
    }
    #hero-image {
        h1 {
            color: @white;
            font-size: 32px;
            line-height: 40px;
            span {
                font-weight: 100;
                
            }
        }
    }
    #hero-content {
        h3 {
            color: #fffcd0;
            font-size: 19px;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
            position: absolute;
            top: 105px;
            font-weight: normal;
        }
        p {
            margin-top: 90px;
            font-size: 50px;
            line-height: 56px;
            width: 236px;
            span {
                font-size: 14px;
                line-height: 24px;
            }
            em {
                top: 27px;
                right: 16px;
            }
        }
        .best-logo {
            left: 0px;
            bottom: -179px;
            display: block;
        }

        ul {
            position: absolute;
            left: 237px;
            top: 163px;
            border-left: 1px solid @white;
            padding-left: 16px;
            li {
                line-height: 24px;
                font-size: 12px;
                i {
                    font-size: 16px;
                    margin-right: 8px;
                }

            }
        }
    }
}
#call-box {
    #main-promo {
        background: #a94810;
        display: none;
        p {
            color: #fffcd0;
        }
        &:hover {
            background: #a94810;
        }
    }
}