.sticky-wrapper {
    height: 52px;
}

#hero-wrapper {
    background: #000;
    .hero-content {
        padding: 8px 16px;
        position: absolute;
        left: 203px;
        width: 430px;
        background: #28aae1;
        top: 38px;
        z-index: 200;
        transform: rotate(2deg);
        -ms-transform: rotate(2deg); /* IE 9 */
        -webkit-transform: rotate(2deg); /* Safari and Chrome */
        h1 {
            text-transform: uppercase;
            font-size: 32px;
            line-height: 32px;
            font-weight: bold;
            color: #fff;
        }
    }
    .hero-copy {
        padding: 8px 16px;
        background: #ffffff;
        background: rgba(255,255,255,.3);
        position: absolute;
        left: 24%;
        top: 30%;
        z-index: 999;
        width: 428px;
        padding-right: 64px;
        text-align: justify;
        font-size: 13px;
        color: #333;
        transform: rotate(-1deg);
        -ms-transform: rotate(-1deg); /* IE 9 */
        -webkit-transform: rotate(-1deg); /* Safari and Chrome */        
        font-weight: bold;
        .button-link {
            text-align: right;
            margin: 16px auto;
            display: block;
            float: none;
            width: 152px;
            padding: 12px 21px;
            background: #28aae1;
            font-size: 14px;
            font-weight: normal;
        }
    }
    #hero-image {
        z-index: 400;
        .cmonday {
            height: 500px;
        }
        #cyber-monday {
            text-align: center;
            background: url(/static/img/banners/hero-banners/cyber-monday/cyber_hero.jpg) 0 -25px no-repeat #fffcf3;
            height: 496px;
            .main-hero-image {
                position: absolute;
                z-index: -1;
                left: -230px;
                bottom: -29px;
            }
            a {
                &.button-link {
                    padding: 8px 2px;
                    background: #ffc000;
                    color: #222;
                    margin-left: 37%;
                    float: none;
                    width: 160px;
                    &:hover {
                        color: #666;
                        background: #ffd75e;
                        text-decoration: none;
                    }
                    i {
                        display: none;
                    }
                }
            }
            h1 {
                color: #2f394a;
                font-size: 28px;
                font-weight: 600;
                text-shadow: none;
                padding: 30px 0 0;
                margin: 0 0 0 233px;
            }
            h2 {
                color: #2f394a;
                font-size: 28px;
                font-weight: 100;
                margin: 0 0 0 233px;
            }
            p {
                color: #08ba64;
                font-size: 14px;
                text-transform: uppercase;
                text-align: center;
                width: auto;
                margin: 0 0 20px 233px;
            }
            img {
                padding-right: 15px;
                margin: 0 0 0 233px;
            }
        }
        &.sleepy {
            #dependable-security {
                h1 {
                    font-size: 33px;
                }
                p {
                    width: 72%;
                    font-size: 13px;
                    span {
                        display: inline;
                    }
                }
            }
        }
    }
    &.cmonday {
        background: url(/static/img/banners/hero-banners/cyber-monday/white_grain.png) repeat;
    }
}

/************** White Quote Form ****************/

#hero-image.cmonday {
    #quote-form {
        height: 476px;
        border-radius: 0;
        background: #fff;
        float: left;
        margin: 0;
        position: absolute;
        z-index: 999;
        top: 0;
        display: block;
        left: 0;
        border: none;
        padding: 20px 0 0;
        box-shadow: none;
        text-align: center;
        .consent-box {
            label.consent-label {
                display: block;
                text-align: left;
                font-size: 9px;
                margin-bottom: 10px;
                color: #999;
                cursor: default;
            }
        }
        p.form-title {
           background: #fff;
           line-height: 30px;
           font-size: 16px;
           color: #2f394a;
           margin: 0 auto; 
           width: 165px;
        }
        small {
            font-size: 11px;
            line-height: 14px;
            text-align: center;
            padding: 0;
            width: 120px;
            display: block;
            margin: 0 auto 20px;
        }
        .form-fields {
            padding: 8px 32px 16px;
            p {
                font-size: 11px;
                line-height: 13px;
                text-align: justify;
                margin-bottom: 8px;
            }
            label {
                display: block;
                font-size: 13px;
            }
            .consent-box {
                border-top: 1px solid #dfdfdf;
                border-bottom: 1px solid #dfdfdf;
                padding: 4px 0;
                margin-top: 8px;
                cursor: pointer;
                cursor: hand;
                #id_consent {
                    float: left;
                    margin: 0 4px 0 0;
                    width: 16px;
                }
                label.consent-label {
                    font-size: 9px;
                    line-height: 14px;
                    text-align: left;
                    float: left;
                    width: 148px;
                    margin: 5px 0 0 5px;
                    color: #999;
                }
            }
        }
        button {
            display: block;
            padding: 6px 10px;
            color: #222;
            background: #ffc000;
            text-decoration: none;
            border: none;
            font-size: 14px;
            margin: 0 auto;
            width: 178px;
            float: none;
            cursor: pointer;
            cursor: hand;
            &:hover {
                color: #666;
                background: #ffd75e;
                text-decoration: none;
            }
        }
        #third-party-container {
            text-align: center;
            padding: 0;
            overflow: hidden;
            height: 76px;
            .third-party-badge {
                margin: 0 auto; 
                width: 135px; 
                padding: 0; 
                float: left;
                a {
                    padding-top: 0;
                } 
                div {
                    padding: 0;
                    background: none;
                }
                &.truste {
                    width: 126px;
                    position: relative;
                    top: 18px;
                    float: left !important;
                    img {
                        width: 100%;
                    }

                }
                &.vsign {
                    position: relative;
                    right: 5px;
                }
            }
        }
        div {
            p {
                display: block;
                font-size: 22px;
                line-height: 32px;
                font-weight: 400;
                text-align: center;
                padding: 0;
            }
            label {
                color: #666;
                padding: 0;
                display: none;
            }
            input {
                color: #666;
                font-size: 12px;
                height: 26px;
                line-height: 26px;
                margin: 0 0 8px 0;
                width: 170px;
                padding-left: 5px;
                border-radius: 0;
                border: 1px solid #ccc;
            }
            
        }

        a {
            display: block;
            text-align: center;
            font-size: 10px;
            line-height: 14px;
            width: 75%;
            margin: 0 auto;
            padding-top: 6px;
            text-decoration: none;
            color: #999;
            &:hover {
                text-decoration: underline;
            }
        }
        &.sleepy {
            width: 205px;
            .form-fields {
                padding: 8px 16px 16px;
                p {
                    font-size: 12px;
                    line-height: 14px;
                    text-align: center;
                    margin-bottom: 16px;
                    color: #2f394a;
                }
                label {
                    display: block;
                    font-size: 13px;
                }
                input {
                    width: 165px;
                }
                button {
                    width: 165px;
                }
            }
        }
    }
}

#deals {
    display: block;
    width: 314px;
    float: right;
    p {
        color: #000;
    }
    img {
        padding: 0;
        margin: 0;
        float: right;
   }
}


@media only screen and (max-width: 960px) {

    #hero-wrapper {
        #hero-image {
            #cyber-monday {
                background-position: 50% -25px;
                a {
                    &.button-link {
                        padding: 8px;
                        margin-left: 37%;
                        width: 120px;
                        font-size: 14px;
                    }
                }
            }
        }
    }

}

@media only screen and (max-width: 767px) {

    #hero-wrapper {
        width: 496px;
        #hero-image {
            #cyber-monday {
                .price-area {
                    img {
                        width: 100px;
                    }
                }
                a {
                    &.button-link {
                        margin-left: 36%;
                    }
                }
                img {
                    width: auto;
                    &.main-hero-image {

                    }
                }
            }
        }
    }
    #deals {
        display: none;
    }

}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    #hero-wrapper {
        width: 100%;
        #hero-image {
            #cyber-monday {
                background: url(/static/img/banners/hero-banners/cyber-monday/cyber_hero_mobile.jpg) 50% 95px no-repeat #fffcf3;
                a {
                    &.button-link {
                        margin-left: 57%;
                    }
                }
                h1 {
                    padding: 20px 0 0;
                }
            }
        }
    }

    #header-wrapper #header {
        height: 52px;
    }

    #hero-image.cmonday {
        margin-top: 20px;
        #quote-form {
            padding: 10px 0 0;
            small {
                margin: 0 auto 10px;
            }
        }
    }
}

@media only screen and (max-width: 479px) {

    #hero-wrapper {
        width: 496px;
        #hero-image {
            #cyber-monday {
                a {
                    &.button-link {
                        margin-left: 52%;
                    }
                }
                img {
                    width: 100px;
                    margin: 15px 0 0 170px;
                }
                h1, h2, p {
                    margin: 0 0 0 170px;
                }
            }
        }
    }

    #header-wrapper #header {
        height: 52px;
    }

    #hero-image.cmonday {
        #quote-form {
            .consent-box {
                border: none;
                label.consent-label {
                    margin: 10px 0;
                }
            }
            p.form-title {
                padding-top: 0;
            }
            div {
                img {
                    display: none;
                }
            }
        }
    }

}

@media only screen and (max-width: 460px) {

    #hero-wrapper {
        width: 100%;
        #hero-image {
            #cyber-monday {
                background: url(/static/img/banners/hero-banners/cyber-monday/cyber_hero_mobile.jpg) 50% 110px no-repeat #fffcf3;
                width: 100%;
                a {
                    &.button-link {
                        margin: 20px auto 0;
                    }
                }
                img {
                    width: 100px;
                    margin: 20px auto 0;
                }
                h1, h2, p {
                    margin: 0 auto;
                }
            }
        }
    }

    #header-wrapper #header {
        height: 52px;
    }

    #hero-image.cmonday {
        #quote-form {
            display: none;
        }
    }

}