body {
    #featured-on {
        small {
            margin-bottom: 10px;
        }
    }
    .wrapper {
        #categories {
            h2 {
                color: #555;
                letter-spacing: 1px;
                font-weight: 400;
            }
            .category {
                .category-info {
                    p {
                        color: #888;
                    }
                    a {
                        &.button-link {
                            background: #ffc000;
                            color: #222;
                            i {
                                border-left: 1px solid #d5a100;
                            }
                            &:hover {
                                color: #666;
                                background: #ffd75e;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
    #call-box {
        background: #f24141;
        border: none;
        p {
            a {
                text-transform: uppercase;
                text-shadow: none;
                font-size: 28px;
                font-weight: 400;
                color: #f1f1f1;
                span {
                    font-weight: 600;
                }
            }
        }
    }
}

#hero-wrapper {
    background: #000;
    #hero-image {
        z-index: 400;
        #spring-savings {
            text-align: center;
            background: transparent;
            .main-hero-image {
                position: absolute;
                z-index: -1;
                left: -16px;
                bottom: 0;
                top: 0;
            }
            a {
                &.button-link {
                    padding: 10px 12px;
                    background: #ffc000;
                    color: #222;
                    margin-left: 500px;
                    margin-top: 295px;
                    float: none;
                    width: 160px;
                    &:hover {
                        color: #666;
                        background: #ffd75e;
                        text-decoration: none;
                    }
                    i {
                        display: none;
                    }
                }
            }
            h1 {
                color: #fff;
                font-size: 20px;
                font-weight: 400;
                text-shadow: none;
                text-transform: uppercase;
                padding: 14px 0 0;
                margin: 0 0 0 208px;
                letter-spacing: 1px;
                line-height: 14px;
            }
            h2 {
                color: #fff;
                font-size: 12px;
                font-weight: 400;
                text-shadow: none;
                text-transform: uppercase;
                padding: 0;
                margin: 0 0 0 225px;
                letter-spacing: 1px;
                line-height: 14px;
            }
            h3 {
                color: #fff;
                font-size: 12px;
                font-weight: 600;
                letter-spacing: 1px;
                text-transform: uppercase;
                margin: 0 0 0 225px;
                padding-top: 10px;
            }
            p {
                color: #08ba64;
                font-size: 14px;
                text-transform: uppercase;
                text-align: center;
                width: auto;
                margin: 0 0 20px 233px;
            }
            img {
                padding-right: 15px;
                margin: 0 0 0 233px;
            }
            .ssavings-deals {
                width: 692px;
                margin: 0 20px 0 0;
                float: right;
                img {
                    padding: 0;
                    margin: 0;
                    border-right: 1px solid #898f99;
                    &.border-none {
                        border: none;
                    }
                }
            }
        }
        &.sleepy {
            #dependable-security {
                h1 {
                    font-size: 33px;
                }
                p {
                    width: 72%;
                    font-size: 13px;
                    span {
                        display: inline;
                    }
                }
            }
        }
    }
    &.ssavings {
        background: #2f394a;
    }
}

  @media only screen and (min-width: 768px) and (max-width: 959px) {

    body {
        #hero-wrapper {
            #hero-image {
                #spring-savings {
                    .main-hero-image {
                        width: 600px;
                        left: 50%;
                        margin-left: -200px;
                        top: 0;
                    }
                    h1 {
                        margin: 0 0 0 225px;
                        padding: 9px 0 0;
                    }
                    h2 {
                        margin: 0 0 0 225px;
                    }
                    h3 {
                        display: none;
                    }
                    a {
                        &.button-link {
                            margin-left: 52%;
                            margin-top: 245px;
                        }
                    }
                    .ssavings-deals {
                        display: none;
                    }
                }
            }
        } 
    }    

  }
 
  /* All Mobile Sizes (devices and browser) */
  @media only screen and (max-width: 767px) {}
 
  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (min-width: 480px) and (max-width: 767px) {

    body {
        #hero-wrapper {
            #hero-image {
                &.cmonday {
                    #quote-form {
                        display: none;
                    }
                }
                #spring-savings {
                    .main-hero-image {
                        width: 500px;
                        left: 50%;
                        margin-left: -250px;
                        top: 0;
                    }
                    h1 {
                        margin: 0 0 0 30px;
                        padding: 10px 0 0;
                    }
                    h2 {
                        margin: 0 0 0 30px;
                        display: none;
                    }
                    h3 {
                        display: none;
                    }
                    a {
                        &.button-link {
                            margin-left: 34%;
                            margin-top: 205px;
                        }
                    }
                    .ssavings-deals {
                        display: none;
                    }
                }
            }
        } 
    }

  }
 
  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 479px) {

        body {
        #hero-wrapper {
            #hero-image {
                &.cmonday {
                    #quote-form {
                        display: none;
                    }
                }
                #spring-savings {
                    .main-hero-image {
                        width: 360px;
                        left: 50%;
                        margin-left: -180px;
                        top: 0;
                    }
                    h1 {
                        margin: 0 0 0 30px;
                        padding: 6px 0 0;
                        font-size: 10px;
                    }
                    h2 {
                        margin: 0 0 0 30px;
                        display: none;
                    }
                    h3 {
                        display: none;
                    }
                    a {
                        &.button-link {
                            margin-left: 30%;
                            margin-top: 140px;
                        }
                    }
                    .ssavings-deals {
                        display: none;
                    }
                }
            }
        } 
    }

  }