{% extends "learn/base.html" %}

{% load sekizai_tags %}
{% block page_title %}{{ category.name }} | Home Security News | Protect America{% endblock %}

{% block content %}
{% addtoblock "css" %}
	<meta name="description" content="Home Security News in {{ category.name }} brought to you by Protect America - the leading distributor of state-of-the-art GE Wireless Home Security Systems" />	
	<meta name="ROBOTS" content="NOINDEX,FOLLOW"/>
{% endaddtoblock "css" %}
<div id="hero-wrapper" class="v-light-grey">
    <div id="hero-image">
        <div id="news-hero-image">
            {% if headline.image %}
            <div id="headline-image">
                <a href="{{ headline.get_absolute_url }}"><img src="{{ MEDIA_URL }}{{ headline.image }}" class="main-image" alt="{{ headline.image_caption }}" title="{{ headline.image_caption }}" /></a>
                <img src="{{ STATIC_URL }}img/base/news-decorator.png" class="decorator" alt="news-decorator" width="420" height="498" />
            </div>
            {% else %}
            <div class="news-date">
                <p>{{ headline.date_created|date:"M" }}<span>{{ headline.date_created|date:"d" }}</span><strong>{{ headline.date_created|date:"Y" }}</strong></p>
            </div>
            {% endif %}
        </div>
        <div id="hero-content">
            <i class="icon-home-security"></i>
            <h1>{{ category.name }}</h1>

            <h2><a href="{{ headline.get_absolute_url }}" title="{{ headline.heading }}">{{ headline.heading }}</a></h2>
            <p>{{ headline.content|truncatewords_html:40|safe }}</p>
            <a href="{{ headline.get_absolute_url }}" class="button-link alt" title="Read Full Article: {{ headline.heading }}">Read More <i class="icon-chevron-right"></i></a>
            <div class="clear"></div>
            <ul>
                LOCATED IN:
                {% for category in headline.categories.all %}
                <li><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

    </div>
</div>
{% include "order/generic-call-box.html" %}

<div class="wrapper">
    <div id="article-container">
        {% include "news/_partial/news_article_index_snippet.html" with articles=articles %}
    </div>
    {% if articles|length == 8 %}
    <div class="button-ajax"><a href="#"  title="Load More Articles">Click to Load More Articles</a></div>
    {% endif %}
    <div class="clear"></div>
</div>
{% addtoblock "js" %}
<script type="text/javascript">
$(document).ready(function() {
    var last_id = '{{ last_id }}';
    var article_load_count = 1;
    function load_articles() {
        var url = '{% url news:load-more-articles last_id=9999999 %}?category={{ category.pk }}';
        $.get(url.replace('9999999', last_id),
        function(data) {
            if(data.response == 'success') {
                $('#article-container').append(data.html);
                if( article_load_count == 2) {
                    article_load_count = 0;
                    var callbox = $('#call-box').clone();
                    $('#article-container').append(callbox);
                } else {
                    article_load_count++;
                }
                if(data.can_load_more == false) {
                    $('.button-ajax').remove();
                }
                last_id = data.last_id;
                
            }
        });
    }
    $('.button-ajax').click(function(e) {
        e.preventDefault();
        load_articles();
    });
    $('.read-description').click(function(e) {
        e.preventDefault();
        $('.short-description').remove();
        $('.full-description').slideDown();
    });
});
</script>
{% endaddtoblock "js" %}
{% endblock %}
