{% extends "news/base.html" %}
{% load content_filters content_tags sekizai_tags  %}

{% block subnav_parent %}{% endblock %}
{% block content %}
{% addtoblock "js" %}
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "e120b57d-de18-41e4-9f08-4c602e36df66"}); </script>
{% endaddtoblock "js" %}
<div id="single-article">
    <div id="article-header">
        <img src="http://pictures.directnews.co.uk/liveimages/a+would+be+thief+broke+into+a+new+jersey+scrap+metal+recycling+plant+only+to+trip+the+burglar+alarm+and+be+arrested+on+the+spot_3514_800712704_0_0_14899_500.jpg" />
        <div class="news-date">
            <p>Feb<span>28</span><strong>2011</strong></p>
        </div>

    </div>

    <h1>Security cameras, increased security lead to uptick in shoplifting arrests</h1>
    
    <p>A concerted effort on the part of local businesses to increase security has led to a significant increase in the number of shop-lifting arrests in Granite City, Illinois.</p>
    <p>City-wide shoplifting arrests hit 204 during 2011, more than a 50 percent increase over 2010, when there were 133 such arrests, according to the St. Louis Post-Dispatch. The main reason behind the surge in arrests is increased security at area businesses, local police say.</p>
    <p>Area big-box retailers Walmart and K-mart have each increased the number of security cameras in their stores. At K-mart, arrests rose from 34 in 2010 to 45 last year. The numbers at Walmart were even more dramatic, nearly doubling from 49 to 93 over the same time period, according to the news source.</p>
    <p>Smaller area stores have also been adding video surveillance equipment to their store security systems.</p>
    <p>Granite City is a close suburb of St. Louis, which can routinely be found on the list of top 10 most dangerous cities in America as determined by FBI statistics. During 2011, St. Louis slid to fourth place, down from its No. 1 spot in 2010.</p>
    <p>This article is brought to you by Protect America - the leading distributor of state-of-the-art GE Wireless Home Security Systems. Protect America protects homes across the US from intrusion, theft, fire, flooding, medical emergencies and more with 24/7 Cellular, Broadband and Landline Monitoring and cutting edge technology.
    </p>
    <ul id="article-breadcrumb">
        <li class="right-slash"><a href="">Home Security News</a></li>
        <li class="right-slash left-slash"><a href="">Articles</a></li>
        <li class="left-slash omega page-turn">Home security robots? Not in this lifetime</li>
    </ul>
    <ul id="article-topics">
        Topics:
        <li><a href="">Crime News</a></li>
        <li><a href="">Video Security</a></li>
    </ul>
</div>
<div id="right-column">
    {% include "order/quote-form.html" with form=forms.basic %}
    <div id="social-media">
        <h3>Share this with Friends:</h3>
        <span class='st_facebook_vcount' displayText='Facebook'></span>
        <span class='st_twitter_vcount' displayText='Tweet'></span>
        <span class='st_email_vcount' displayText='Email'></span>
        <span class='st_plusone_vcount' displayText='Google +1'></span>
    </div>
</div>

<div class="clear"></div>
{% include "order/generic-call-box.html" %}

<div>
    <div class="news-article">
        <div class="image-container">
            <img src="http://pictures.directnews.co.uk/liveimages/a+would+be+thief+broke+into+a+new+jersey+scrap+metal+recycling+plant+only+to+trip+the+burglar+alarm+and+be+arrested+on+the+spot_3514_800712704_0_0_14899_500.jpg" />
        </div>
        <h3>Scrap metal thief foiled</h3>
        <p>A New Jersey man was caught red-handed recently trying to rob a local scrap metal recycling business...</p>
        <ul>
            Topics:
            <li><a href="">Crime News</a></li>
            <li><a href="">Video Security</a></li>

        </ul>
        <div class="button-link"><a href="">Read More ></a></div>


    </div>
    <div class="news-article">
        <div class="news-date">
            <p>Feb<span>28</span><strong>2011</strong></p>
        </div>
        <h3>Multiple burglary victim installs cameras, uses Facebook to catch suspects</h3>
        <p>The Enterprise Ledger in Alabama reports a homeowner purchased home security cameras after her house was robbed twice in two ...</p>
        <ul>
            Topics:
            <li><a href="">Crime News</a></li>
            <li><a href="">Video Security</a></li>
        </ul>
        <div class="button-link"><a href="">Read More ></a></div>

    </div>
    <div class="news-article">
        <div class="image-container">
            <img src="http://pictures.directnews.co.uk/liveimages/new+apps+let+business+owners+monitor+security+cameras+from+their+iphones_3514_800711385_0_0_14216_500.jpg" />
        </div>
        <h3>Security cameras on smartphones? There's an app for that</h3>
        <p>Wireless security systems are going mobile, according to a rundown of some of the new security camera monitoring applications available for cellphones and tablet computers...</p>

        <ul>
            Topics:
            <li><a href="">Home Security Equipment</a></li>
            <li><a href="">Video Security</a></li>
        </ul>
        <div class="button-link"><a href="">Read More ></a></div>
    </div>
    <div class="news-article">
        <div class="image-container">
            <img src="http://pictures.directnews.co.uk/liveimages/researchers+at+arizona+state+university+are+creating+more+effective+infrared+technology+which+could+be+used+to+improve+home+security+systems_3514_800709913_0_0_7018842_500.jpg" />
        </div>
        <h3>New infrared technology could bolster home security systems</h3>
        <p>Home security systems could soon become much more sophisticated thanks to new research into nanomaterials from Arizona State University.</p>
        <ul>
            Topics:
            <li><a href="">Home Security News</a></li>
        </ul>
        <div class="button-link"><a href="">Read More ></a></div>
    </div>
    <div class="clear"></div>
</div>
{% endblock %}  
{{ block.super }}


