{% extends "affiliates/centerfield-media/index.html" %}
{% block page_title %}Rated a Top Consumer Review 5 Stars | Best Home Security | Protect America Home Security{% endblock %}
{% block page_description %}Rated 5 Stars by Top Consumer Reviews, You can get get a Protect America home security system at an affordable price. Protect America home security and alarm systems will protect your home. Get a free GE home security system today!{% endblock %}


{% block hero-content %}
    <h3 style="font-size: 20px;">Protect America provides the best home security solution available today. Their state-of-the-art equipment and 24 hour nationwide monitoring system [are] top-notch. 
        <img src="{{ STATIC_URL }}img/affiliates/centerfield-media/quote-arrow.png" class="quote-arrow" alt="quote-arrow" width="32" height="16" /></h3>
    <p style="padding-bottom:8px;">&mdash; Top Consumer Reviews</p>
{% endblock %}

{% block bottom-content %}
    <h2>Protect America is a "Great Choice"</h2>
    <p>Top Consumer Reviews has noticed it and you should too! No company can match Protect America’s affordability and quality. Top Consumer Reviews has rated us 5-Star for the past six years, stating: "Protect America offers a great way to get into a home security system for no upfront cost. They deliver a variety of home security systems packages that provide cutting edge technology and reliable nationwide monitoring. Combined with customer-focused pricing and knowledgeable support, Protect America receives our 5-star rating and is an excellent option for your next home security system."</p>
{% endblock %}