{% load content_filters %}
<html>
<head>
    <title></title>
<style type="text/css">
body {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    font-family: "Helvetica", "Arial", sans-serif; 
    font-size: 100%;
    width: 640px;
}

img {
    padding: 0; margin: 0; border: 0; outline: 0;
}
table {
    margin: 0 auto; border: 0;  outline: 0;
}


</style>
</head>
<body style="border: 0; margin-right: auto; margin-left: auto; padding: 0; outline: 0; font-family: "Helvetica", "Arial", sans-serif; font-size: 100%; width: 568px;">
    <center>
    <div width="568px" style="margin: 0 auto;">
        <table border="0" cellpadding="0" cellspacing="0" valign="top" bgcolor="#FFFFFF" width="568px" style="margin-left: auto; margin-right: auto;">
            <thead>
            <tr width="568px">
                 <td border="0" colspan="2" cellpadding="0" cellspacing="0" style="padding-top:10px; text-align: center;">
                    <a style="color:#e51b24; line-height: 22px; font-size: 10px; position: relative; padding-left: 8px; bottom: 6px;" href="http://www.protectamerica.com/email/lead-email_97/">Go here to view this email as a webpage.</a>
                </td>
            </tr>

              <tr width="568px" style="background-color:#363636;">
                <th style="padding: 8px 0 8px 8px; align:left;">
                    <img style="display:block; width: 180px;" src="http://www.protectamerica.com/django-media/email_images/email_95/pa-logo_1.png" alt="Protect America Home Security" />
                </th>
                <th style="text-align: right; padding-right: 8px; ">
                    <strong style="color: #e51b24; font-size: 20px; font-weight: bold;"><a style="color:#FFFFFF; text-decoration:none; text-decoration:none;" href="tel:+{{ pa_phone }}">{{ pa_phone|format_number }}</a>
                    </strong>
                </th>
            </tr>
               
                </th>
                </tr>
            </thead>

<!--------------------------------------------------------- INTRO -------------------------------------------------------------------->           
            <tbody width="568px">
                <tr width="568px">
                        <td colspan="2">
                         <img style="display:block" src="http://www.protectamerica.com/django-media/email_images/email_97/thank-you.png"/>
                        </td>
                </tr>
                <tr width="568px">
                    <td>
                        <img style="display:block; float: left; padding-top:16px;" src="http://www.protectamerica.com/django-media/email_images/email_97/check.png"/>
                        <div>
                        <h1 style="color: #1570ab; font-size: 16px; padding-top:24px; font-weight: 100;"> <a href="http://www.protectamerica.com/learn/protect-america">Experience</a></h1>
                        <p style="color: #555555; font-size: 11px; padding-left: 8px; text-align: justify;">We've been helping homeowners around the country protect their homes for over 20 years. Our company is adamant about producing the best in home security for consumers on a national and international level.</p>
                        </div>
                    </td>                   
                    <td style="padding-left: 8px;">
                        <img style="display:block; float: left;" src="http://www.protectamerica.com/django-media/email_images/email_97/check.png"/>
                        <div>
                        <h1 style="color: #1570ab; font-size: 16px; padding-top:8px; font-weight: 100;"> <a href="http://www.protectamerica.com/security-equipment">Equipment</a></h1>
                        <p style="color: #555555; font-size: 11px; padding-left: 8px; text-align: justify;">Protect America only specializes in security innovations of the finest caliber – providing our customers with cellular monitoring equipment manufactured by GE.</p>
                        </div>
                    </td>
                </tr>
                <tr width="568px">
                    <td>
                        <img style="display:block; float: left; padding-top:16px;" src="http://www.protectamerica.com/django-media/email_images/email_97/check.png"/>
                        <div>
                        <h1 style="color: #1570ab; font-size: 16px; padding-top:24px; font-weight: 100;"> <a href="http://www.protectamerica.com/learn/alarm-monitoring">24/7 Monitoring</a></h1>
                        <p style="color: #555555; font-size: 11px; padding-left: 8px; text-align: justify;">Around the clock monitoring is available to you when activating a cellular, broadband, or traditional landline connection, plus you’ll enjoy the convenience of regulating your alarm from your smartphone or PC.</p>
                        </div>
                    </td>                   
                    <td style="padding-left: 8px;">
                        <img style="display:block; float: left;  " src="http://www.protectamerica.com/django-media/email_images/email_97/check.png"/>
                        <div>
                        <h1 style="color: #1570ab; font-size: 16px; padding-top:8px; font-weight: 100;"> <a href="http://www.protectamerica.com/security-equipment">Options</a></h1>
                        <p style="color: #555555; font-size: 11px; padding-left: 8px; text-align: justify;">Regardless of your security needs, we ensure your satisfaction.  Just ask your experienced home security professional about monitored smoke detectors, interactive cameras, GPS car tracking, and more.</p>
                        </div>
                    </td>
                </tr>
                <tr width="568px">
                    <td >
                        <img style="display:block; float: left; padding-top:16px;" src="http://www.protectamerica.com/django-media/email_images/email_97/check.png"/>
                        <div>
                        <h1 style="color: #1570ab; font-size: 16px; padding-top:24px; font-weight: 100;"> <a href="http://www.protectamerica.com/shop-home-security-packages-new/">Affordable Protection</a></h1>
                        <p style="color: #555555; font-size: 11px; padding-left:8px; text-align: justify; padding-bottom: 8px;">Our competitively priced security plans encompass complete packages of up to 15 door/window sensors, motion detector, internal siren, battery backup, plus add-ons — all with no upfront responsibility to you!</p>
                        </div>
                    </td>     
                    <td style="padding-left:30px; padding-top: 8px;">
                        <img style="display:block"; src="http://www.protectamerica.com/django-media/email_images/email_97/blurb.png">
                    </td>
                </tr>
                <tr width="568px" style="background-color:#363636;">
                    <td style="padding-left:8px;">
                        <img style="display:block;  float:left; " src="http://www.protectamerica.com/static/img/promo/promo.png">
                    </td>
                    <td>
                        <h1 style="color: #FFFFFF; text-align: right; font-size: 20px; font-weight: strong; padding-right: 8px;padding-top:8px;">Call Now To Get Started<br><a style="color:#FFFFFF; text-decoration:none; text-decoration:none;" href="tel:+{{ pa_phone }}">{{ pa_phone|format_number }}</a></h1>
                        </h1>
                    </td>
                </tr>
               <tr width="568px">
              <td colspan="2"style="text-align:center; padding-top:16px;">
              <a href="http://www.protectamerica.com/home-security-blog/" title="Home Security Blog"><img src="http://www.protectamerica.com/django-media/email_images/email_92/blog.png" alt="blog%20copy" width="40" height="40" /></a>
              <a href="https://www.facebook.com/ProtectAmerica/" title="Protect America Facebook"><img src="http://www.protectamerica.com/django-media/email_images/email_92/facebook.png" alt="facebook" width="40" height="40" /></a>
              <a href="http://www.twitter.com/protectamerica/" title="Protect America Twitter"><img src="http://www.protectamerica.com/django-media/email_images/email_92/twitter_4.png" alt="twitter" width="40" height="40" /></a>
              <a href="https://plus.google.com/113573642727337197280" title="Protect America Google Plus"><img src="http://www.protectamerica.com/django-media/email_images/email_92/googleplus_1.png" alt="twitter" width="40" height="40" /></a>

             
              <a href="http://www.youtube.com/user/protectamerica" title="Protect America LinkedIn"><img src="http://www.protectamerica.com/django-media/email_images/email_92/youtube_1.png" alt="linkedin" width="40" height="40" /></a>

             
              <a href="http://www.angieslist.com/companylist/us/tx/austin/protect-america-inc-reviews-436469.htm" title="Protect America LinkedIn"><img src="http://www.protectamerica.com/django-media/email_images/email_92/angies.png" alt="linkedin" width="40" height="40" /></a>

              </td>
            
              </tr>
            </tbody>          
            <tfoot>
                <tr width="568px">
                    <td colspan="2" style="padding-top:30px;">
                        <p style="font-size:10px; line-height: 16px; text-align: left; ">This email was sent by: Protect America, Inc. 3800 Quick Hill Road, Building 1-100 Austin, TX 78728
                </p>
               
                <p style="font-size:10px;line-height: 16px; text-align: justify;">&dagger;Standard thirty-six month monitoring agreement required with approved credit. Applicable taxes and fees not included. Cannot be combined with any other offer. Offer subject to change. Not available to existing Protect America customers. Other restrictions apply. Void where prohibited. Protect America, Inc., 3800 Quick Hill Rd. Building 1-100, Austin, TX 78728.
                </p>
                <p style="font-size:10px; line-height: 16px; text-align: left;">We provide our service in all 50 states. <a href="http://www.protectamerica.com/a01254?g=license&affKey=emailday2" style="color: #3366cc;">For a list of our state licenses, please follow this link</a>.
                </p>
                <p style="font-size:10px; line-height: 16px; text-align: left;"><a name="Unsubscribe_1" xt="SPONECLICKOPTOUT" href="#SPONECLICKOPTOUT" target="_blank">Click Here to Unsubscribe</a></p>
    
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    </center>
</body>
</html>