Thank you for enrolling in our affiliate program. We are reviewing your application and we will update you via email once your application has been processed. Please allow 3 business days for us to complete this process.

A copy of your affiliate agreement is attached to this message for your records.

We look forward to having you as a part of our affiliate program. If we have any questions regarding your application, a member of our team will be in contact with you.

Sincerely,

Protect America Affiliate Program

Affiliate Submission:

 - Contact Person: {{ name }}
 - Title: {{ title }}

 - Company Name: {{ company_name }}
 - URL: {{ website }}
 - Phone: {{ phone }}
 - Fax: {{ fax }}
 - Email: {{ email }}
 - Federal Tax ID: {{ taxid }}

 - Address: {{ street_address }}
   {{ city }}, {{ state }} {{ zipcode }}

 - Comments: {{ comments }}