Hey {{ sub.friend_name }},
 
While looking into security systems for our house, I discovered a website that offers really great deals on GE security products. I know you’re also concerned about the safety of your family so I wanted to make sure you knew about it too. It won’t take long to check out because all the information you need is on their website. If you get a home security system, you’ll receive $50 of additional equipment for no cost with your order!
 
Right now, Protect America is offering a special deal on their Silver package that includes 10 door/window sensors and a motion sensor. Regularly priced at $595, the Silver package can be yours for no upfront cost. Simply maintain your monthly monitoring service and you’ll never pay for your GE wireless home security system. Hurry, this offer is only available for a limited time.
 
Go to http://www.protectamerica.com/?agent=a01740