<html>
<head>
	<title></title>
<style type="text/css">
body {
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
	font-family: "Helvetica", "Arial", sans-serif; 
	font-size: 100%;
}

img {
	padding: 0; margin: 0; border: 0; outline: 0;
}
table {
	margin: 0 auto; border: 0;	outline: 0;
}


</style>
</head>
<body style="border: 0; margin: 0; padding: 0; outline: 0; font-family: "Helvetica", "Arial", sans-serif; font-size: 100%;">
    <center>
    <div width="100%">
        <table cellpadding="0" cellspacing="0" valign="top" width="640px" align="left" style="margin: 0 auto; width: 640px;">
            <tr>
                <td width="24" valign="top"><img src="http://www.protectamerica.com/images/email/auto_generic/left-shadow.jpg" width="24" height="480" /></td>
                <td valign="top" style="background: url(http://www.protectamerica.com/images/email/auto_generic/background.jpg)">
                    <table cellpadding="0" cellspacing="0" width="592px;" style="background: url(http://www.protectamerica.com/images/email/auto_generic/family.jpg) bottom right no-repeat;">
                        <tr>
                            <td colspan="2"><img src="http://www.protectamerica.com/images/email/auto_generic/top-shadow.jpg" width="592" height="16" /></td>
                        </tr>
                        <tr>
                            <td style="padding: 8px 0; width: 270px;"><img src="http://www.protectamerica.com/images/email/auto_generic/logo.png" width="264" height="56" alt="Protect America Home Security" /></td>
                            <td style="text-align: right; padding-right: 24px; width: 298px;"><strong style="color: #e51b24; font-size: 24px;">1-877-687-7901</strong></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="background: #e51b24; height: 16px;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="padding: 24px 56px; font-size: 12px; text-align: justify; line-height: 21px;">
                                <p style="padding-bottom: 4px;"><strong style="color: #e51b24; font-size: 16px;">We have received your home security inquiry.</strong></p>
                                <p style="padding-bottom: 4px;">We understand you have choices and appreciate the opportunity to serve your home security needs. A home security expert will be contacting you within the next business day or please call us at <strong style="font-size: 14px; color: #0069aa;">1-877-687-7901</strong> to get started immediately.</p>
                                <p style="padding-bottom: 4px;">Find out why Protect America is the best choice for home security:</p>
                                <ul style="padding-left: 0px;">
                                    <li style="color: #e51b24; line-height: 16px;"><p style="color: #000;"><strong style="font-size: 12px; color: #0069aa;">Experience</strong> &mdash; In 2012, we'll celebrate our 20th year of protecting homes across America!</p></li>
                                     <li style="color: #e51b24; line-height: 16px;"><p style="color: #000;"><strong style="font-size: 12px; color: #0069aa;">24/7 Monitoring</strong> &mdash; Link your home to our monitoring facility through a cellular, broadband, or traditional landline connection and learn how to control your security system from your smart phone or computer.</p></li>
                                     <li style="color: #e51b24; line-height: 16px;"><p style="color: #000;"><strong style="font-size: 12px; color: #0069aa;">Affordable Protection</strong> &mdash; Our affordable security packages include a complete security system&mdash;up to 15 door/window sensors, motion detector, internal siren, battery backup, and more&mdash;all with no upfront cost to you!</p></li>
                                     <li style="color: #e51b24; line-height: 16px;"><p style="color: #000;"><strong style="font-size: 12px; color: #0069aa;">Equipment</strong> &mdash; Protect America only offers the most reliable equipment in the industry &mdash; wireless home security systems made by GE.</p></li>
                                     <li style="color: #e51b24; line-height: 16px;"><p style="color: #000;"><strong style="font-size: 12px; color: #0069aa;">Options</strong> &mdash; Ask your security expert about monitored smoke detectors, interactive cameras, GPS vehicle tracking, and more. No matter what your security needs, we have you covered!</p></li>
                                </ul>
                                <p style="padding-bottom: 0px; width: 350px;">Join the hundreds of thousands of American families that have discovered the peace of mind Protect America provides.</p>
    
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="padding: 0 0 80px 56px;">
                                <img src="http://www.protectamerica.com/images/email/auto_generic/thad-signature.png" width="187" height="33" alt="Thad Paschall" />
                                <div style="padding: 0px; font-size: 10px; line-height: 10px; text-align: justify;">
                                    <p><strong style="font-size: 16px; color: #0069aa;">Thad Paschall</strong></p>
                                    <p>CEO, Protect America</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="background: #e51b24; height: 4px; font-size: 8px;">&nbsp;</td>
                        </tr>
                    </table>
                    <p style="font-size:10px; line-height: 16px;">This email was sent by: Protect America, Inc. 3800 Quick Hill Road, Building 1-100 Austin, TX 78728 <br />&copy; 2011 Protect America All rights reserved. Follow this link to <a href="http://protectamerica.prusc.com/unsub/unsub.form?id=4f0c39ed79009ae2f7ab0eb6166e8045" style="color: #0069aa;">[unsubscribe]</a></p>
                </td>
                <td width="24" valign="top"><img src="http://www.protectamerica.com/images/email/auto_generic/right-shadow.jpg" height="480" width="24" /></td>
            </tr>
        </table>
    </div>
    </center>
</body>
</html>
