<div class="outline-box">
<div id='hero-banner-id' class='hero-banner'>
    <div id='hero-banner-id_slide-0' class='slide top-consumers'>
        <span>Test Campaign</span>
        <img src="/images/hero-banners/top-consumer-reviews.jpg" alt="Best Home Security System - 5 Stars from Top Consumer Reviews" width="349" height="190" />
        <h3>"Protect America provides the <strong>best home security</strong> solution available today. Their state-of-the-art equipment and 24 hour nationwide monitoring system [are] <strong>top-notch</strong>."</h3>
<p>-Top Consumer Reviews 2010</p>
    </div>
</div>
</div>
<script>
$(document).ready(function() {
    $('#hero-banner-id').cycle({
        fx: 'scrollRight',
        delay: 0*1000,
        timeout: 6*1000,
        slideExpr: 'div.slide',
        pause: true
    });
    $('#hero-banner-id_slide-0').click(function() { window.location = '/pa/copper';});
    $('#hero-banner_newthinking').click(function() { window.location = '/pa/complete-home-security/';});
});
</script>

