*.py[co]
*~
*.swp
.DS_Store
Thumbs.db
etc/django/local.py
src/apps/common/management/commands/roblog.py
/*.db
src/media/*

/.vagrant
/Vagrantfile
/env/
database.db
database2.db

src/templates/products/monitoring/interactive/AC_RunActiveContent-ck.js

src/apps/common/static/css/404.css

src/apps/common/static/css/404.css

src/templates/payitforward/payitforward.html
