@import "../../landing-page/basic.less";
#header-wrapper {
    margin-top: 8px;
    #company-logo {
        bottom: 0;
    }
}

#big-hero-banner {

    #hero-wrapper {
        #hero-features {
            width: 52%;
        }
        .pricing {
            bottom: 116px;
        }
    }
}
