{% extends "local-pages/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}
{% block page_title %}Platinum Package | Home Security in Austin, TX | Protect America Home Security{% endblock %}

{% block content %}
    <div id="hero-banner">

    </div>


    {% include "order/quote-form.html" with form=forms.basic %}
<div id="protect-america-difference">
	<div>
		<h2>Protect America Home Security</h2>
		<p>No matter where you live, even in CITY, STATE, Protect America has a security system that fits your home security needs and, most importantly, your budget. Here are just a few reasons to trust your home security with Protect America:</p>
	</div>
	<div id="all-day-monitoring">
		<img src="/static/img/extra/24-7-token.png" />

		<h3>Affordable 24/7 Home Security Monitoring</h3>
		<p>Keeping your home protected day and night</p>
	</div>
	<div id="ge-wireless-equipment">
		<img src="/static/img/extra/wireless-token.png" />

		<h3>Simple to Use Wireless GE Security</h3>
		<p>Trusted top of the line security equipment</p>
	</div>
	<div id="save-on-homeowners-insurance">
    	<img src="/static/img/extra/20-percent-token.png" />
		<h3>Save up to 20% on Homeowner's Insurance</h3>
		<p>Protecting your home and saving money</p>
	</div>
	<div id="replacement-parts-warranty">
    	<img src="/static/img/extra/hammer-token.png" />
		<h3>Lifetime Replacement Parts Warranty</h3>
		<p>Making sure you are always safe and secure</p>
	</div>
	<div id="best-priced-home-security">
    	<img src="/static/img/extra/dollar-sign-token.png" />
		<h3>The Best Priced Home Security System</h3>
		<p>Tailored to *CITY*, you get the best price around guaranteed</p>
	</div>

</div>
<div id="crime-statistics">
    <div id="crime-grade-scorecard">
        <img src="{{ STATIC_URL }}img/crime-stats/crime-grades/grade-a-big.png" id="overall-grade" />
        <div id="scorecard-content">
            <h2>{{ city }}, {{ state }} Crime Scorecard</h2>
            <p>The security grade for Pflugerville, Texas is a B. This means you are living in a city that has crime rates below the national average. Crime rates vary from one part of a city to another, however. Just like any major city, some areas where you live are simply safer than others. Regardless of the statistics in your city, it is important that you feel safe in your home. To help keep your home and family safe, we highly recommend getting a home security system from Protect America.</p>
            <div id="crime-grades">
                <div id="burglary-grade">
                    <img src="{{ STATIC_URL }}img/crime-stats/crime-grades/grade-a-sml.png" />
                    <p>Burglary</p>
                </div>
                <div id="murder-grade">
                    <img src="{{ STATIC_URL }}img/crime-stats/crime-grades/grade-a-sml.png" />
                    <p>Murder</p>
                </div>
                <div id="rape-grade">
                    <img src="{{ STATIC_URL }}img/crime-stats/crime-grades/grade-a-sml.png" />
                    <p>Forcible Rape</p>
                </div>
                <div id="robbery-grade">
                    <img src="{{ STATIC_URL }}img/crime-stats/crime-grades/grade-a-sml.png" />
                    <p>Robbery</p>
                </div>
                <div id="assault-grade">
                    <img src="{{ STATIC_URL }}img/crime-stats/crime-grades/grade-a-sml.png" />
                    <p>Aggravated Assault</p>
                </div>
                <div id="auto-theft-grade">
                    <img src="{{ STATIC_URL }}img/crime-stats/crime-grades/grade-a-sml.png" />
                    <p>Auto Theft</p>
                </div>
                <div id="larceny-grade">
                    <img src="{{ STATIC_URL }}img/crime-stats/crime-grades/grade-a-sml.png" />
                    <p>Larceny</p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="button-link"><a href="http://www.protectamerica.com/pa/copper">Secure your Home ></a>{% businesstime %}<p class="phone-alt">or call <strong><span{% if use_call_measurement %} class="dynamic-phone-number"{% endif %}>{{ phone_number|format_number }}</span></strong> to start protect your home and family</p>{% endbusinesstime %}</div>
        <div class="clear"></div>
    </div>
</div>
{% include "order/call-box.html" %}

<div id="home-security-advantage">
	<div id="protect-america-advantage">
		<div id="advantage-background">

		</div>
		<div id="protect-america-advantage-content">
			<h2>Protect America's Home Security Advantage</h2>
			<p>Protecting your home and family is about more than money but everybody is looking for the best deal. That is why we researched your area and created packages that are the best price for a home security system in {{ city }}. Our award-winning, 24/7 nationwide monitoring is the best deal in the industry and we guarantee it.</p>
            <p>Get the most trusted home security available for hundreds of dollars less than the competition. With our variety of monitoring solutions, complete home protection can be yours for as little as a $1 a day! Take a look at the huge savings Protect America offers versus ADT:</p>
			<div class="clear"></div>
		</div>
	</div>
	<table id="protect-america-vs-adt">
		<thead>
			<tr>
				<th id="blank-box"></th>
				<th id="protect-america-table-title">Protect America</th>
				<th id="adt-table-title">ADT*</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td id="copper-package"><span>Copper Package</span>3 Door / Window Sensors<br />1 Motion Detector</td>
				<td id="copper-package-protect-america-price"><span>{{ pricetable.COPPER.upfront|default_if_none:"FREE" }}</span>({{ pricetable.COPPER.standard_monitoring }}/monthly)</td>
				<td id="copper-package-adt-price"><span>{{ pricetable.COPPER.adt_upfront }}</span>({{ pricetable.COPPER.adt_monitoring }}/monthly)</td>
			</tr>
			<tr>
				<td id="bronze-package"><span>Bronze Package</span>7 Door / Window Sensors<br />1 Motion Detector</td>
				<td id="bronze-package-protect-america-price"><span>{{ pricetable.BRONZE.upfront|default_if_none:"FREE" }}</span>({{ pricetable.BRONZE.standard_monitoring }}/monthly)</td>
				<td id="bronze-package-adt-price"><span>{{ pricetable.BRONZE.adt_upfront }}</span>({{ pricetable.BRONZE.adt_monitoring }}/monthly)</td>
			</tr>
			<tr>
				<td id="silver-package"><span>Silver Package</span>10 Door / Window Sensors<br />1 Motion Detector</td>
				<td id="silver-package-protect-america-price"><span>{{ pricetable.SILVER.upfront|default_if_none:"FREE" }}</span>({{ pricetable.SILVER.standard_monitoring }}/monthly)</td>
				<td id="silver-package-adt-price"><span>{{ pricetable.SILVER.adt_upfront }}</span>({{ pricetable.SILVER.adt_monitoring }}/monthly)</td>
			</tr>
			<tr>
				<td id="gold-package"><span>Gold Package</span>12 Door / Window Sensors<br />1 Motion Detector</td>
				<td id="gold-package-protect-america-price"><span>{{ pricetable.GOLD.upfront|default_if_none:"FREE" }}</span>({{ pricetable.GOLD.standard_monitoring }}/monthly)</td>
				<td id="gold-package-adt-price"><span>{{ pricetable.GOLD.adt_upfront }}</span>({{ pricetable.GOLD.adt_monitoring }}/monthly)</td>
			</tr>
			<tr>
				<td id="platinum-package"><span>Platinum Package</span>15 Door / Window Sensors<br />1 Motion Detector</td>
				<td id="platinum-package-protect-america-price"><span>{{ pricetable.PLATINUM.upfront|default_if_none:"FREE" }}</span>({{ pricetable.PLATINUM.standard_monitoring }}/monthly)</td>
				<td id="platinum-package-adt-price"><span>{{ pricetable.PLATINUM.adt_upfront }}</span>({{ pricetable.PLATINUM.adt_monitoring }}/monthly)</td>
			</tr>
		</tbody>
	</table>
	<div class="clear"></div>
</div>

{% endblock %}  


