{% extends "base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags humanize %}
{% block page_title %}{% if keyword %}{{ keyword }} |{% endif %} {{ city }}, {{ state }} | Protect America{% endblock %}
{% block page_description %}{{ city }} {{ state }} Home Security Systems from Protect America. Voted #1 Home Security Company by Top Consumer Reviews{% endblock %}
{% block page_keywords %}{{ city }} Home Security, Home Security {{ city }}, {{ city }} Alarm Monitoring, Home Security {{ city }} {{ state_long }}, {{ city }} Alarm Systems, {{ city }} Security Alarms, {{ city }} Alarm Security, {{ city }} Alarm Companies, {{ city }} Alarms, Alarms {{ city }} {{ state_long }}, {{ city }} Alarm, {{ city }} Smart Home, {{ city }} Home Automation, Home Security Systems {{ city }}, Security Systems {{ city }}, {{ city }} Alarm Company, Alarm Monitoring {{ city }}{% endblock %}

{% block css %}
<meta name="description" content="Protect America {% content_spinner "meta3" "looked at|talked with|gathered feedback from|collected the opinions of" %} many families from around {{ city }}, regarding their home security system needs and goals. We are proud to offer {% content_spinner "meta2" "affordable|low priced|top of the line" %} {% content_spinner 'meta1' 'alarm systems|home security systems|securtiy systems|GE systems| GE wireless home security systems' %} that will fulfill your home security needs and most importantly, fit your budget." />
<meta name="robots" content="FOLLOW,INDEX"/>
<meta name="revisit-after" content="2 days"/>
<meta name="geo.region" content="US-{{ state }}" />
<meta name="geo.placename" content="{{ city }}" />
<meta name="geo.position" content="{{ lat }};{{ long }}" />
<meta name="ICBM" content="{{ lat }}, {{ long }}" />
<meta name = "viewport" content ="initial-scale=1, user-scalable=no">
<link rel="stylesheet" href="{{ STATIC_URL }}css/local-generic.css">
{% endblock %}

{% block content %}

{% addtoblock "js" %}
<script type="text/javascript">
$(document).ready(function() {
    $('#review-cycle-container').cycle({
                fx: 'scrollRight',
                timeout:  15000,
            });
});
</script>
{% endaddtoblock "js" %}

</div>

	<div id="generic-banner">
		<div class="wrapper">
			<div class="left">
				<h1>THE BEST HOME SECURITY IN {{city}}</h1>
				<p>Over the past 20 years, Protect America has revolutionized the home security industry; making it easy to protect your family with quality home security products at an affordable price.</p>
				<h2>Plans start at only</h2>
				<h3>$19.99</h3>
				<a class="button-link" title="Shop now" href="/shop-home-security-packages">Shop now <i class="icon-chevron-right"></i></a>
			</div>
			<div class="right">
				<div id="hero-content">
					<div id="slide-form-area">
						{% include "order/quote-form-noview.html" with form=forms.basic %}
					</div>
				</div>
			</div>
		</div>
	</div>		

<div class="wrapper">
    
	<div id="local-first-paragraph">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut porttitor sapien pharetra felis interdum, ac dignissim tortor imperdiet. Ut dignissim lobortis elit, ut dignissim mauris egestas sit amet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc euismod neque id placerat vestibulum. Sed blandit consectetur ipsum nec varius. Nullam purus urna, volutpat ac mi vel, hendrerit iaculis augue. Vivamus tortor lacus, aliquet sit amet suscipit ac, interdum vel sem.</p>
	</div>

</div>

	<div id="local-banner">
		<div class="left">
			<p>Get Started Now,<br>Call Today!<br><strong>1-800-657-2717</strong></p>
		</div>
		<div class="right">
			<p>Protecting your home in {{ city }} has never been easier.</p>
		</div>

		<div class="clear"></div>
	</div>

<div class="wrapper">

	<div id="crime-statistics">
		<h2>{{ city }}</h2>
		<h3>2013 Crime statistics</h3>
		<div class="pie">
			<canvas id="canvas" height="265" width="265"></canvas>
			<script>

					var pieData = [
									{
									value: 30,{% comment %} overall robbery stat 2013 {% endcomment %}
									color:"#cccccc"
									},
									{
									value : 50, {% comment %} overall auto theft stat 2013 {% endcomment %}
									color : "#ffc000"
									},
									{
									value : 100, {% comment %} overall burglary stat 2013 {% endcomment %}
									color : "#2f394a"
									},
									{
									value : 200, {% comment %} overall larceny stat 2013 {% endcomment %}
									color : "#eb292b"
									}

					];

					var myPie = new Chart(document.getElementById("canvas").getContext("2d")).Pie(pieData);
	            
	        </script>
	        <div class="pie-legend">
				<table width="110" border="0">
				  <tr>
				    <td width="10" bgcolor="#2f394a">&nbsp;</td>
				    <td width="100">Burglary</td>
				  </tr>
				  <tr>
				    <td width="10" bgcolor="#cccccc">&nbsp;</td>
				    <td width="100">Robbery</td>
				  </tr>
				  <tr>
				    <td width="10" bgcolor="#ffc000">&nbsp;</td>
				    <td width="100">Auto theft</td>
				  </tr>
				  <tr>
				    <td width="10" bgcolor="#eb292b">&nbsp;</td>
				    <td width="100">Larceny</td>
				  </tr>
				</table>
	        </div>
	        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id eros feugiat, vestibulum diam non, rhoncus neque. Cras porta in nibh eget consequat. Ut accumsan porttitor ante dignissim consequat. Suspendisse pulvinar at lectus at consectetu. Sed eu elit commodo, eleifend nibh in, ultricies mi. Mauris sed orci fermentum, ullamcorper ipsum non, interdum nisi. Vestibulum quis diam mauris.</p>
	    </div>
			<div class="crime-tiles">
				<div class="crime-tiles-four">
					<h4>Burglary<h4>
					<p>per 100k</p>
					<h3>{% comment %}Burglary stat for 2013 per 100k{% endcomment %}59</h3>
				</div>
				<div class="crime-tiles-four">
					<h4>Robbery<h4>
					<p>per 100k</p>
					<h3>{% comment %}Robbery stat for 2013 per 100k{% endcomment %}41</h3>
				</div>
				<div class="crime-tiles-four">
					<h4>Auto theft<h4>
					<p>per 100k</p>
					<h3>{% comment %}Auto theft for 2013 stat per 100k{% endcomment %}66</h3>
				</div>
				<div class="crime-tiles-four" id="omega">
					<h4>Larceny<h4>
					<p>per 100k</p>
					<h3>{% comment %}Larceny for 2013 stat per 100k{% endcomment %}859</h3>
				</div>
			</div>
		<div class="clear"></div>
	</div>

</div>

	<div id="hero-testimonial">
	    <div id="hero-testimonial-wrapper" class="wrapper">
	        <div id="review-cycle-container">
	            <div class="review">

	                <p>My husband and I recently got married and bought a house. We were uncertain about which security system to go with but were convinced by your reviews, contract agreement, and pricing that Protect America was a good fit for us. From the day we received our security system in the mail Protect America remained in constant contact with us to ensure that the system was installed and working as soon as possible. Thank you for your great customer service, I now feel safer in my new home.</p>
	                <b>Jamese of Lynnwood, IL <span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span></b>
	            </div>
	            <div class="review">
	                <p>I have never felt more relieved knowing my family is safer now that I have your security system watching over our house 24/7 and 365 days of the year. Ms. Nwaka was very informative about the active and passive side of the security system and how well I could utilize them to their fullest extent. I am very happy that I chose Protect America, and commend you on having such an excellent and very friendly staff, who actually care about their clients.</p>
	                <b>Edward of Duluth, MN <span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span></b>
	            </div>
	            <div class="review">
	                <p>I phoned your company today after receiving a recommendation from my police dept. and going online to find out about what you offered. Mike was extremely helpful in explaining the many features available and the equipment you have to offer. I've never had a system before, so I appreciated his patience in dealing with me. It is so important to find businesses that are trustworthy in this day and age! Looking forward to my new protection</p>
	                <b>Gail of Deer Park, TX <span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span></b>
	            </div>
	        </div>
	    </div>
	</div>

<div class="wrapper">

	<div id="protect-america-content">
	
		<h2>With Protect America, you get more than just home security</h2>
		
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id eros feugiat, vestibulum diam non, rhoncus neque. Cras porta in nibh eget consequat. Ut accumsan porttitor ante dignissim consequat. Suspendisse pulvinar at lectus at consectetur. Sed eu elit commodo, eleifend nibh in, ultricies mi. Mauris sed orci fermentum, ullamcorper ipsum non, interdum nisi. Vestibulum quis diam mauris.</p>

		<p>Sed faucibus, felis et molestie tempus, massa risus ultrices est, convallis ultricies purus enim ultricies augue. In pretium aliquam diam. Suspendisse potenti. Integer non velit mauris. Donec sed pretium purus, eu fermentum erat. In laoreet euismod dolor. Etiam volutpat, orci sit amet viverra ultricies, nunc ipsum porta purus, sed mollis dui sapien sit amet orci. Maecenas non laoreet ante, quis sodales orci.</p>

		<div class="content-smart-connect">

			<p>We realize that modern homeowners need flexible, mobile products. That’s why Protect America offers security with landline, cellular, or broadband monitoring. Leave the house in a rush? Don’t worry: you can arm your security on the go with our mobile app.
			<br><br>
			<a class="button-link" title="Buy now" href="/shop-home-security-packages">Buy now <i class="icon-chevron-right"></i></a>
			</p>	

		</div>

	</div>

	<div id="main-benefits">
		
		<ul>
	        <li>
	            <h3><i class="icon-home"></i>Simply Peace of Mind.</h3>
	            <p>Our systems provide state-of-the-art security so you don't have to worry about a thing.</p>
	        </li>
	        <li>
	            <h3><i class="icon-user"></i>Security Designed for your Life.</h3>
	            <p>Each system is built to fit you, including options like: home automation, fire protection, and iPhone control.</p>
	        </li>
	        <li>
	            <h3><i class="icon-rss"></i>Easy Wireless Set-Up</h3>
	            <p>Our wireless security systems make installation a snap without holes or destruction to your home.</p>
	        </li>
	        <li id="omega">
	            <h3><i class="icon-dollar"></i>The Best Price, Period.</h3>
	            <p>Protect America makes it easy to secure and protect your home and family.</p>
	        </li>
	    </ul>

	</div>

	<div class="clear"></div>

</div>

{% endblock %}


