{% extends "base.html" %}
{% block css %}
<meta name="robots" content="FOLLOW,INDEX"/>
<meta name="revisit-after" content="2 days"/>
<meta name="geo.region" content="US-{{ state }}" />
<meta name="geo.placename" content="{{ city }}" />
<meta name="geo.position" content="{{ lat }};{{ long }}" />
<meta name="ICBM" content="{{ lat }}, {{ long }}" />
<meta name = "viewport" content ="initial-scale=1, user-scalable=no">
<link rel="stylesheet" href="{{ STATIC_URL }}css/local-generic.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/style-responsive.css">
{% endblock %}

{% block content %}
<div class="wrapper">
	   {% for key, value in cities.iteritems %}
    	<div id="{{ key }}_cities" class="alphabet-content">
        <h2>{{ key }}</h2>
        <ul>
        {% for city in value %}
            <li><a href="{% url local-page-keyword2 state city.city_name %}">{{ city.city_name }}</a></li>
        {% endfor %}
        </ul>
        {% comment %}
        "/{{ state }}/{{ city.city_name }}/"
        {% endcomment %}
    </div>
    <div class="clear"></div>
    {% endfor %}
</div>
{% endblock %}