{% extends "base.html" %}
{% block content %}
        <h1>Crimestats</h1>
        <p>Robbery: {{ crime_stats.robbery }}</p>
        <p>Vehicle Theft: {{ crime_stats.motor_vehicle_theft }}</p>
        <p>Burgalry: {{ crime_stats.burglary }}</p>
        <p>Larceny: {{ crime_stats.larceny_theft }}</p>
	   {% for key, value in cities.iteritems %}
    	<div id="{{ key }}_cities" class="alphabet-content">
        <h2>{{ key }}</h2>
        <ul>
        {% for city in value %}
            <li><a href="{% url local-page-keyword2 state city.city_name %}">{{ city.city_name }}</a></li>
        {% endfor %}
        </ul>
        {% comment %}
        "/{{ state }}/{{ city.city_name }}/"
        {% endcomment %}
    </div>
    <div class="clear"></div>
    {% endfor %}
{% endblock %}