/*--- Colors*/
/*DarkBlues*/
/*Light Blues*/
/*turquoise*/
/*Grays*/
/*White*/
/*Reds*/
/*Layout*/
.container {
  width: 960px;
  margin: 0 auto;
}
body {
  background: #eeeeee;
  font-size: 14px;
  font-family: "jaf-facitweb", sans-serif;
}
a {
  color: #344a5f;
  text-decoration: none;
}
.clear {
  clear: both;
}
/*Headers*/
#headerBlue {
  background-color: #2f394a;
  color: #ffffff;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
#headerBlue .logo {
  float: left;
  margin-top: 5px;
}
#headerBlue .liveChat a,
#headerBlue .phone a {
  background: url(../img/sprite.png) no-repeat #344a5f;
  padding-left: 36px;
}
#headerBlue .liveChat a {
  background-position: -30px 17px;
}
#headerBlue .phone a {
  background-position: -30px -64px;
}
#headerBlue .liveChat a:hover,
#headerBlue .phone a:hover {
  background-color: #2f394a;
}
#secondaryNav {
  float: right;
  margin: 0;
}
#secondaryNav li:first-child {
  border-left: none;
}
#secondaryNav li {
  border-left: 1px dotted #344a5f;
  float: left;
}
#secondaryNav li a {
  background-color: #344a5f;
  color: #ffffff;
  display: block;
  padding: 10px;
}
#headerWhite {
  background-color: rgba(255, 255, 255, 0.65);
  margin-bottom: 420px;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
#nav {
  float: right;
  margin: 0;
  text-transform: uppercase;
}
#nav li:first-child {
  border-left: none;
}
#nav li {
  float: left;
}
#nav li a {
  display: block;
  padding: 10px;
}
#nav .requestQuote a {
  color: #eb292b;
}
#nav .separator {
  padding: 10px;
}
/*Hero*/
#hero {
  background: url(../img/MyProtectAmericaBanner.jpg) no-repeat center top #ffffff;
  padding-top: 200px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
}
#hero h1,
#hero h2 {
  text-align: center;
  line-height: 1;
  margin: 8px 0;
}
#hero h1 {
  font-size: 36px;
  font-weight: 600;
}
#hero h2 {
  font-size: 24px;
  font-weight: 200;
}
/*Login Box*/
.logingHeading {
  background-color: rgba(47, 57, 74, 0.9);
  color: #fff;
  text-align: center;
  margin: 0 auto;
  padding: 10px 0;
  width: 720px;
}
.loginBox {
  background: url(../img/loginGradient.png) repeat-x center top;
  margin: 0 auto;
  width: 720px;
}
.loginBox fieldset {
  border: none;
  padding: 20px 50px 60px;
}
.loginBox #login,
.loginBox #password {
  color: #555555;
  font-size: 20px;
  font-weight: 200;
  border: 1px solid #cccccc;
  height: 36px;
  line-height: 36px;
  padding-left: 1%;
  width: 47%;
}
.loginBox #login {
  float: left;
}
.loginBox #password {
  float: right;
}
.loginBox .smartConnectWrapper,
.loginBox .getHomeSecurityWrapper {
  text-align: center;
  width: 48%;
}
.loginBox .smartConnectWrapper p,
.loginBox .getHomeSecurityWrapper p {
  font-size: 12px;
  font-weight: 400;
  color: #555555;
  margin: 1em 0 0;
  text-transform: uppercase;
}
.loginBox .smartConnectWrapper {
  float: left;
}
.loginBox .getHomeSecurityWrapper {
  float: right;
}
.loginBox button[type="submit"],
.loginBox .btnGetHomeSecurity {
  font-family: "jaf-facitweb", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-radius: 5px;
  display: block;
  padding: 8px 16px;
  width: 100%;
}
.loginBox button[type="submit"] {
  background: #2a94d6;
  border-bottom-color: #1376b4;
}
.loginBox .btnGetHomeSecurity {
  background: #eb292b;
  border-bottom-color: #cc1416;
}
/*Featured On*/
#featured-on {
  text-align: center;
  padding: 30px 0;
}
#featured-on h2 {
  font-size: 14px;
  text-transform: uppercase;
  margin: 0 0 40px;
  color: #999999;
}
#featured-on img {
  margin: 0 30px;
}
/*Features*/
#features {
  color: #2f394a;
  text-align: center;
  overflow: hidden;
  padding: 60px 0;
}
#features p {
  color: #999999;
  font-weight: 200;
  margin-top: 0;
}
#features ul li {
  float: left;
  margin: 10px 1.5% 20px;
  width: 30%;
}
#features ul li h3 {
  font-weight: 400;
  margin-bottom: 10px;
}
#features ul li h3 i {
  font-size: 48px;
  display: block;
  margin-bottom: 30px;
}
/*Lifestyle*/
#lifestyle {
  color: #ffffff;
  background: url(../img/simonBackground.jpg) no-repeat center top #ffffff;
  padding: 0;
  height: 420px;
}
#lifestyle .text {
  margin-left: 55%;
  padding-top: 88px;
  padding-left: 100px;
}
#lifestyle h3 {
  font-size: 18px;
  margin-bottom: 0;
}
#lifestyle h3 i {
  font-size: 48px;
  display: block;
  margin-bottom: 20px;
}
#lifestyle p {
  margin-top: 0;
}
/*Testimonials*/
#testimonials {
  color: #ffffff;
  font-size: 18px;
  font-weight: 200;
  line-height: 1.8;
  background-color: #2f394a;
  padding: 60px 0;
}
#testimonials .testimonialText {
  margin: 0 auto;
  width: 80%;
}
#testimonials .testimonialAuthor {
  text-align: right;
}
/*Footer One*/
#footerOne {
  color: #ffffff;
  background-color: #333333;
  overflow: hidden;
  padding: 40px 0;
}
#footerOne a {
  color: #ffffff;
}
#footerOne ul {
  font-weight: 200;
}
#footerOne .footerLogo {
  float: left;
}
#footerOne #footer-main-navigation,
#footerOne #footer-care-nav {
  float: left;
}
#footerOne #footer-contact-info,
#footerOne #footerSocial {
  float: right;
}
#footerOne #footerSocial a:hover {
  text-decoration: none;
}
#footerOne #footer-social-icons {
  margin-top: 20px;
}
#footerOne #footer-social-icons a i {
  border-radius: 50%;
  color: #333333;
  display: block;
  font-size: 28px;
  float: left;
  line-height: 28px;
  margin-right: 6px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  height: 28px;
  width: 28px;
  transition: all 0.25s ease-out;
}
#footerOne #footer-social-icons a:hover i {
  opacity: .5;
}
#footerOne #footer-social-icons a i.icon-google-plus {
  background-color: #DC5931;
}
#footerOne #footer-social-icons a i.icon-facebook {
  background-color: #698BD3;
}
#footerOne #footer-social-icons a i.icon-twitter {
  background-color: #76C1C5;
}
#footerOne #footer-social-icons a i.icon-youtube {
  background-color: #FF5A5A;
}
#footerOne #footer-awards {
  float: right;
}
/*Footer Two*/
#footerTwo {
  color: #ffffff;
  font-size: 12px;
  font-weight: 200;
  line-height: 1.2;
  background-color: #555555;
  overflow: hidden;
  padding: 30px 0;
}
#footerTwo .leftText {
  float: left;
  width: 40%;
}
#footerTwo .rightText {
  float: right;
  width: 40%;
}
