{% extends "affiliates/radioshack/radioshack.html" %}

{% load sekizai_tags %}


{% block left-wrapper %}
    <img src="{{ STATIC_URL }}img/affiliates/radioshack/home-security-price.png" id="five-banner" alt="home-security-price" width="616" height="248" />
{% addtoblock "gwo" %}
<script type="text/javascript">

 var _gaq = _gaq || [];
 _gaq.push(['_setAccount', 'UA-5441302-2']);
 _gaq.push(['_setDomainName', '.protectamerica.com']);
 _gaq.push(['_trackPageview']);

 (function() {
   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
 })();

</script>
{% endaddtoblock %}
{% addtoblock "css" %}
    <link rel="icon" href="/favicon.ico" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/affiliates/radioshack.css">
    <script type="text/javascript" src="http://use.typekit.com/exw1shj.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
{% endaddtoblock %}
{% endblock %}