{% extends "affiliates/centerfield-media/fluid-index.html" %}
{% block google_experiment %}

{% endblock %}
{% block hero-content %}
    <h3>Simply maginficent! The best ever! Makes me happy every night! I feel so safe! My kids love it also.
        <img src="{{ STATIC_URL }}img/affiliates/centerfield-media/quote-arrow.png" class="quote-arrow" alt="quote-arrow" width="32" height="16" /></h3>
    <p style="padding-bottom:8px;">&mdash; A Top Tens User</p>
{% endblock %}

{% block bottom-content %}
    <h2>Protect America "delivers superior protection"</h2>
    <p>The-Top-Tens.com has noticed it and you should too! No company can match Protect America’s affordability and quality. Just listen to one of the The-Top-Ten.com users said, "Great system I love the do it your self that way I don't have a stranger in my house! Extremely affordable and I love that even though it is a 3 year contract, if I move it can come with me! I also love that I have interactive features on my phone! Its a great system and it makes me feel safe a secure in my home!"</p>
{% endblock %}