@import "../style";
#header-wrapper {
    height: 72px;
    #company-logo {
        #protect-america-logo {
            top: 14px;
        }
    }
    #ge-logo {
        top: 14px;
    }
}
#navigation-wrapper {
    background: none;
    height: 10px;
}
/***** Left Column ****/
#left-column {
    .content-box(664px);
    margin-bottom: 0;
    margin-top: 16px;
    #affordable-home-security {
        background: @white url(/static/img/products/copper-package/little-girl-sleeping.jpg) no-repeat;
        width: 664px;
        height: 320px;
        position: relative;
        float:left;
        h1 {
            background: @red;
            height: 56px;
            width: 400px;
            color: @white;
            line-height: 56px;
            padding: 0 16px;
            text-align: right;
            position: absolute;
            bottom: 32px;
            font-size: 14px;
            strong {
                font-weight: 800;
    
            }
        }
    }
    #package-content {
        position: relative;
        height: 316px;
        margin-top: 24px;
        h2 {
            position: absolute;
            right: 24px;
            top: 4px;
            span {
                display: block;
                font-weight: 800;
                font-size: 39px;
                line-height: 42px;
            }
        }
        ul {
            width: 355px;
            position: absolute;
            right: 90px;
            top: 84px;
            li {
                width : 175px;
                float: left;
                font-size: 12px;
                line-height: 20px;
            }
        }
        p#price-tag {
            position: absolute;
            right: 16px;
            bottom: 0;
            color: @blue;
            font-size: 20px;
            line-height: 20px;
            strong {
                font-size: 82px;
                line-height: 82px;
                font-weight: 300;
                display: block;
                color: @black;
                letter-spacing: -2px;
                position: relative;
                right: 6px;
                color: @dark-grey;
            }
            span {
                font-size: 9px;
                line-height: 10px;
                position: relative;
                bottom: 16px;
            }
        }
        #platinum-package {
            .image-break;
        }
    }
}
#quote-form {
    margin-left: 0;
    width: 280px;
    button {
        width: 264px;
    }
}
#right-column {
    .content-box(280px);
    margin: 16px 0;
    margin-left: 16px;
    margin-bottom: 0;
    form {
        div.clear {
            padding: 0;
        }
        input {
            width: 256px;
        }
        #state-check, #zip-check {
            float: left;
            width: 125px;
            padding: 0;
            label {
                display: block;
            }
            input {
                width: 100px;
            }
            
        }
        #zip-check {
            input {
                width: 131px;
            }
        }
        #homeowner-check {
            padding: 0;
            height: 40px;
            label {
                float: left;
                line-height: 40px;
                padding-right: 16px;
            }
            select {
                float: left;
                width: 97px;
                margin: 10px 0;
            }
        }
        #agreement-check {
            padding: 0;
            margin: 8px 0 8px;
            input {
                width: 20px;
                float: left;
                margin: 16px 18px;
            }
            label {
                width: 200px;
                float: left;
                text-align: justify;
                font-size: 11px;
            }
        }
        #credit-rating {
            padding: 0;
            select {
                color: @light-grey;
                font-size: 18px;
                line-height: 28px;
                margin: 5px 0 0px;
                width: 262px;
            }
        }
    }
}
#call-box {
    margin: 0 0 32px;
}
/***** Why Protect America *****/
#why-protect-america {
    background: @white;
    padding: 0 16px 16px;
    #pa-logo{
        display: block;
    }
    #about-protect-america {
        width: 560px;
        padding-top: 8px;
        float: left;
        p {
            color: @grey;
            font-size: 14px;
            line-height: 32px;
            text-align: justify;
            padding-bottom: 12px;
        }
        .phone-alt p {
            font-size: 12px;
            color: @black;
            line-height: 24px;
            font-weight: 800;
            strong {
                color: @red;
            }
        }
    }
    #awards {
        width: 300px;
        float: left;
        border-left: 1px solid @light-grey;
        margin-left: 50px;
        #top-consumer-reviews, #consumer-digest {
            font-size: 10px;
            line-height: 16px;
            vertical-align: middle;
            width: 132px;
            height: 80px;
            padding: 18px 100px;
            margin-left: 25px;

            text-align: justify;

        }
        #consumer-digest {
            background: url(/static/img/external/consumer-digest/consumer-digest-logo-sml.png) no-repeat;
        }
        #top-consumer-reviews {
            background: url(/static/img/external/top-consumer-reviews.jpg) no-repeat;
        }
    }
    #confidence-builders {
        padding: 24px 0;
       #all-day-monitoring, #wireless-home-security, #twenty-off-home-insurance, #lifetime-warranty, #lowest-price-guaranteed {
            float: left;
            width: 185px;
            text-align: center;
            h3 {
                font-size: 13px;
                text-align: center;

                font-weight: 800;
                margin: 16px 8px 8px;
            }
            p {
                font-size: 12px;
                color: @grey;
                margin: 0 16px;
                text-align: center;
            }
        }
    }
}
/***** Footer *****/
#small-footer {
    border-top: 2px solid @red;
    p {
        width: 960px;
        margin: 0 auto;
        text-align: justify;
        font-size: 10px;
        line-height: 14px;
        padding: 16px 0 32px;
    }
}