@import "../style";
#header-wrapper {
    height: 72px;
    #company-logo {
        #protect-america-logo {
            top: 14px;
        }
    }
    #ge-logo {
        top: 14px;
    }
}
#navigation-wrapper {
    background: none;
    height: 10px;
}
/***** Left Column ****/
#left-column {
    .content-box(664px);
    #affordable-home-security {
        background: @white url(/static/img/products/copper-package/little-girl-sleeping.jpg) no-repeat;
        width: 664px;
        height: 320px;
        position: relative;
        float:left;
        h1 {
            background: @red;
            height: 56px;
            width: 400px;
            color: @white;
            line-height: 56px;
            padding: 0 16px;
            text-align: right;
            position: absolute;
            bottom: 32px;
            font-size: 14px;
            strong {
                font-weight: 800;
    
            }
        }
    }
}
#right-column {
    .content-box(275px);
    form {
        div.clear {
            padding: 0;
        }
        #state-check, #zip-check {
            float: left;
            width: 120px;
            padding: 0;
            label {
                display: block;
            }
            input {
                width: 100px;
            }
            
        }
        #zip-check {
            input {
                width: 131px;
            }
        }
        #homeowner-check {
            padding: 0;
            height: 50px;
            label {
                float: left;
                line-height: 53px;
                padding-right: 16px;
            }
            select {
                float: left;
                width: 92px;
                margin: 16px 0;
            }
        }
        select {
            color: @light-grey;
            font-size: 18px;
            line-height: 28px;
            margin: 5px 0 8px;
            width: 257px;
        }
    }
}