@import "../style.less";
@import "../monitoring.less";

#worry-free-vacation {
    background: @white url(/static/img/products/copper-package/little-girl-sleeping.jpg) no-repeat;
    width: 664px;
    height: 320px;
    position: relative;
    float:left;
    margin-top: 16px;
    h1 {
        background: @red;
        height: 56px;
        width: 350px;
        color: @white;
        line-height: 56px;
        padding: 0 16px;
        text-align: right;
        position: absolute;
        bottom: 32px;
        strong {
            font-weight: 800;

        }
    }
}
#quote-form {
    margin-top: 16px;
}
#call-box {
    margin-top: 0;
    padding: 4px 16px;
    vertical-align: middle;
    img {
        vertical-align: middle;
        padding-left: 16px;
    }
}
#package-content {
    .content-box;
    position: relative;
    height: 316px;
    margin-top: 24px;
    h2 {
        position: absolute;
        left: 235px;
        top: 4px;
        font-size: 36px;
        line-height: 38px;
        span {
            display: block;
            font-weight: 800;
            font-size: 56px;
            line-height: 56px;
        }
    }
    ul {
        width: 600px;
        position: absolute;
        right: 122px;
        top: 112px;
        li {
            width : 175px;
            float: left;
            font-size: 12px;
            line-height: 20px;
        }
    }
    p#price-tag {
        position: absolute;
        right: 67px;
        bottom: 0;
        color: @blue;
        font-size: 20px;
        line-height: 20px;
        strong {
            font-size: 82px;
            line-height: 82px;
            font-weight: 300;
            display: block;
            color: @black;
            letter-spacing: -2px;
            position: relative;
            right: 6px;
            color: @dark-grey;
        }
        span {
            font-size: 9px;
            line-height: 10px;
            position: relative;
            bottom: 16px;
        }
    }
    #platinum-package {
        .image-break;
    }
}
#confidence-builders {
    padding: 50px 0 24px;
   #all-day-monitoring, #wireless-home-security, #twenty-off-home-insurance, #lifetime-warranty, #lowest-price-guaranteed {
        float: left;
        width: 192px;
        text-align: center;
        h3 {
            font-size: 13px;
            text-align: center;

            font-weight: 800;
            margin: 16px 8px 8px;
        }
        p {
            font-size: 12px;
            color: @grey;
            margin: 0 16px;
            text-align: center;
        }
    }
}
#contact-form {
    background: @white url(/static/img/extra/or-background.png) 480px 135px no-repeat;
    border: 1px solid #ccc;
    margin: 32px 0;
    padding-bottom: 32px;
    h2 {
        font-size: 42px;
        font-weight: 800;
        line-height: 80px;
        padding: 24px 0;
        text-align: center;
        
    }
    #call-us {
        display: block;
        float: left;
        width: 530px;
        padding: 0 16px;
        h3 {
            color: @blue;
            font-size: 36px;
            line-height: 36px
        }
        p {
            color: @grey;
            font-size: 14px;
            text-align: justify;
            line-height: 32px;
            padding: 8px 90px 0 0;
        }
        h4 {
            color: @red;
            font-weight: 800;
            font-size: 56px;
            padding-top: 54px;
            line-height: 45px;
            span {
                color: @grey;
                font-size: 36px;
                font-weight: normal;
                display: block;
            }
        }
    }
    #call-you {
        display: block;
        float: left;
        width: 380px;
        padding-left: 16px;
        h3 {
            color: @blue;
            font-size: 36px;
            line-height: 36px;
        }
        p {
            color: @grey;
            font-size: 12px;
            text-align: justify;
            line-height: 24px;
            padding: 8px 60px 0 0;
        }
    } 
    #quote-form {
        margin: 4px 0 0 0;
        padding-top: 4px;
        width: 325px;
        input {
            width: 302px;
        }
        button {
            width: 308px;
        }
        p {
            display: none;
        }
    }
}