#top-content {
    display: none;
}
#header-wrapper #quick-link-navigation {
    height: 25px;
    li {
        display: none;
    }
}
#navigation-wrapper {
    margin-top: 8px;
    #navigation {
        display: none;
    }
}
#package-content {
    #platinum-package {
        left: -50px;
    }
    h2 {
        left: 335px;
    }
    ul {
        right: 22px;
    }
}
#postcards .postcard5 {
    display: none;
}
#call-box {
    margin-top: 0;
    padding: 4px 16px;
    vertical-align: middle;
    p {
        font-size: 3.75em;
        line-height: 1.25em;
    }
    img {
        display: none;
    }
}
#check-in-anywhere {
    margin-top: 32px;
    h2 {
        font-size: 36px;
        strong {
            font-size: 42px;
            line-height: 42px;
        }
    }
}
#contact-form {

    #quote-form {
        input {
            width: 282px;
        }
    }
}