{% extends "base.html" %}

{% load testimonial_tags %}

{% block page_title %}Home Security Systems | Protect America{% endblock %}
{% block page_keywords %}{% endblock %}
{% block page_description %}Discover how Protect America provides you with peace of mind by helping you feel safer and more secure with one of our inexpensive home security systems.{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/affiliates/ppc-adt-clone/ppc-adt-clone.css">
{% endblock %}

{% block navigation %}
{% endblock %}

{% block content %}
<div id="main-container">
    <div id="header">
        <h1>Free GE Wireless <p class="homesecurity">Home Security System</p></h1>
        <ul>
            <li><img src="{{ STATIC_URL }}img/affiliates/ppc-adt-clone/icon-price.png" alt="icon-price" width="75" height="73" /><p>The Best Priced Home Security System</p></li>
            <li><img src="{{ STATIC_URL }}img/affiliates/ppc-adt-clone/icon-twenty-percent.png" alt="icon-twenty-percent" width="75" height="73" /><p>Save up to 20% on Homeowner's Insurance</p></li>
            <li><img src="{{ STATIC_URL }}img/affiliates/ppc-adt-clone/icon-tools.png" alt="icon-tools" width="75" height="73" /><p>Lifetime Replacement Parts Warranty</p></li>
            <li><img src="{{ STATIC_URL }}img/affiliates/ppc-adt-clone/icon-twenty-four-seven.png" alt="icon-twenty-four-seven" width="75" height="73" /><p>Affordable 24/7 Home Security Monitoring</p></li>
            <li><img src="{{ STATIC_URL }}img/affiliates/ppc-adt-clone/icon-moving.png" alt="icon-moving" width="75" height="73" /><p>Moving? No relocation fees!</p></li>
        </ul>
        <div id="family-photo">
            <img src="{{ STATIC_URL }}img/affiliates/ppc-adt-clone/family-photo.png" alt="family-photo" width="418" height="281" />
        </div>
    </div>
    <div class="controls">
        <img src="{{ STATIC_URL }}img/affiliates/ppc-adt-clone/carrot.png" alt="carrot" width="29" height="19" />
    </div>
    <div class="middle-container">
        <div class="call-out-description">
        <div class="control-moving">
            <h1>Moving?</h1><h2>No Problem. No Fees!
            <p>Our wireless GE products can be moved from your old house to your new home. Just call us to transfer your service and receive your free relocation kit. No relocation or reactivation fees!</p></h2>
            </div>
        <!--<div class="control-247">
                <img src="{{ STATIC_URL }}img/affiliates/ppc-adt-clone/carrot.png" alt="carrot" width="29" height="19" />
                <h1>24/7 Monitoring</h1><h2>We're there when your not.
                <p>Protect America offers the lowest monitoring rates in the country! Other companies charge more for less comprehensive security coverage but Protect America won't leave its customers vulnerable. Our security solutions meet the budget of any American family.</p></h2>
            </div> //-->
        <!--<div class="control-lifetime">
                <h1>Lifetime Warranty</h1><h2>UL Listed.
                <p>As long as you're a Protect America customer, your home security will work! If any part breaks, we replace it. No shipping costs. No stocking fees. Just a guarantee that the home security service you pay for works as promised.</p></h2>
            </div> //-->
        <!--<div class="control-twenty-percent">
                <h1>20% Discount</h1><h2>On Home Insurance
                <p>Home security systems are great for protection but they're also a great way to save! By simply installing a security system in your home, you can receive a discount on your homeowner's insurance of up to 20 percent.
                </p></h2>
            </div> //-->
        <!--<div class="control-lowest-price">
                <h1>Affordable?</h1><h2>How Does Free Sound? 
                <p>You can't beat free! When you order one of Protect America's award-winning monitoring solutions, we'll send you a FREE GE Simon XT wireless home security system. No upfront costs! No activation or installation fees!
                </p></h2>
            </div> //-->
        </div>
        <div class="check-mark-container">
            <ul>
                <li><strong>Locked in Rates</strong>- Protect America customers never have to worry about their bills getting higher. Your monitoring rate stays the same for the length of your contract.</li>
                <li><strong>Adaptable Technology</strong>- Protect America offers broadband, landline, and cellular monitoring solutions that can adapt to the tech needs of any home.</li>
                <li><strong>Fully Customized Packages</strong>- No two homes have the exact same security needs. Protect America understands this so we provide enough sensors to protect ALL your doors and windows.</li>
                <li><strong>High Customer Retention</strong>- The average customer stays with Protect America for 6 years. We like happy customers, they like affordable security.</li>
                <li><strong>Lowest False Alarm Rates</strong>- in the Industry when a Protect America security system is activated, our customers know it's the real deal. Our systems are self-installed, which leads to a substantially lower rate of false alarms.</li>
            </ul>
        </div>
    </div>
    <div id="quote">
        {% include "order/quote-form.html" with form=forms.basic %}
            <div class="awards">
                <div class="top-consumer">
                    <img src="{{ STATIC_URL }}img/affiliates/ppc-adt-clone/top-consumer-reviews-logo.png" alt="top-consumer-reviews-logo" width="103" height="45" />
                    <div class="top-consumer-text">Five star rating five years in a row by online website: TopConsumerReviews.com</div>
                </div>
                <div class="best-buy">
                    <img style="" src="{{ STATIC_URL }}img/affiliates/ppc-adt-clone/consumer-digest-logo.png" alt="consumer-digest-logo" width="57" height="52" />
                    <div class="best-buy-text">Voted a Consumers Digest "Best Buy" for our Copper home security package</div>
                </div>
            </div>
    </div>
</div>
{% endblock %}