{% extends '404.html' %}
{% block css %}
    {{ block.super }}
    <style type="text/css">
   	.button-link{
   		margin-top: 20px;
   	}
    </style>
{% endblock %}
{% block content %}
</div>
<div class="box-404-wrapper" style="background: #000;">
    <div id="box-404">
        <img src="/static/img/products/platinum-package/platinum-package-oh-no.jpg" alt="Oh No! 404 Page" />
        <div id="box-content">
            <h1><span>404</span>The Security Blanket Is In The Wash.</h1>
            <p>Protect America experts strive to make our blog "The Security Blanket" fit only for a home security connoisseur such as yourself. 
               We appreciate your patience as we do some housekeeping.  In the mean time, visit our <a href="http://www.protectamerica.com/">homepage</a> to learn how Protect America can secure your home while saving you money.  </p>
            <a href="http://www.protectamerica.com/" class="button-link">Protect America Homepage <i class="icon-chevron-right"></i></a>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
    {% include "banners/seo-hero-images.html" %}

{% endblock %}