{% extends "base.html" %}
{% load adspace %}
{% block extra_javascript %}
<script type="text/javascript" src="/media/js/jquery.cycle.all.min.js"></script>
{% endblock %}
{% block subnav %}
{% endblock %}
{% block content %}
    {% adspace "hero-banner" %}
		<div class="content-box half">
			<h2>100% Protection</h2>
			<p>Whether you want protection for your home or even a small business, the GE Home Security System from Protect America will fulfill your <strong>home security</strong> needs and most importantly, fit your budget. Here are just a few of the reasons to trust your home security with a GE Home Security System from Protect America:</p>
	
			<ul class="bulleted_list">
				<li><a title="Compare Protect America to ADT Security and other home security system companies." href="http://www.protectamerica.com/pa/advantage">BEST Price in Home Security</a> - Compare &amp; Save!</li>
				<li>BEST Home Security System in the Industry</li>
				<li><a title="View available GE wireless home security system equipment and learn how it works." href="http://www.protectamerica.com/pa/equipment">State-of-the-art UL Listed Security Equipment</a></li>
				<li>Protect Your Home with 24/7 Security Monitoring</li>
	
				<li>Guaranteed Locked in Security Monitoring Rates</li>
	    		<li>Super Flexible <a title="View all of our alarms packages and choose the right package and service for your home." href="http://www.protectamerica.com/pa/packages">Home Security Packages</a></li>
	   			 <li>Lifetime <a title="Lifetime monitoring home security system equipment warranty for our valued customers." href="http://www.protectamerica.com/pa/warranty">Alarm System Replacement Parts Warranty</a></li>
	   			 <li>Up to 20% Off Homeowners Insurance</li>
	   			 <li>Peace of Mind When It Comes to Your Family &amp; Home</li>
	
			</ul>
			<div class="button">
				<a href="{% url copper %}" title="View Copper Security Package details and compare to our other home security systems packages.">Home Security Packages</a>
			</div>	
		</div>
		<div class="content-box half">
			<h2>The Protect America Security Advantage</h2>
		
			<p>Protection for your home and family is not an easy decision.  The home security system packages from Protect America combine the best price with the best equipment and service.  Compare how our packages stack up against other leaders in the home security industry below to help make the decision easier.</p>
			<table summary="Small comparison chart detailing Protect America pricing versus major competitors.">
				<thead>
					<tr>
						<th id="package" class="table-header round-top-left">Package</th>
						<th id="pa" class="table-header price">Our Price</th>
						<th id="adt" class="table-header price round-top-right">ADT Price</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td headers="package"><a title="View Copper Package details and compare to our other home security system packages." href="/copper">Copper Security Package</a><span>3 Door Sensors, 1 Motion Detector</span></td>
						<td class="highlight price" headers="pa">FREE<sup>*</sup></td>
						<td headers="adt" class="price"><sup>$</sup>379</td>
					</tr>
					<tr class="alt">
						<td headers="package"><a title="View Bronze Package details and compare to our other home security system packages." href="/bronze">Bronze Security Package</a><span>3 Door Sensors, 4 Window Sensors, 1 Motion Detector</span></td>
						<td class="highlight price" headers="pa">FREE<sup>*</sup></td>
						<td headers="adt" class="price"><sup>$</sup>699</td>
		
					</tr>
					<tr class="">
						<td headers="package"><a title="View Silver Package details and compare to our other home security system packages." href="/silver">Silver Security Package</a><span>3 Door Sensors, 7 Window Sensors</span></td>
						<td class="highlight price" headers="pa"><sup>$</sup>99</td>
						<td headers="adt" class="price"><sup>$</sup>939</td>
					</tr>
		
					<tr class="alt">
						<td headers="package"><a title="View Gold Package details and compare to our other home security system packages." href="/gold">Gold Package</a><span>3 Door Sensors, 9 Window Sensors, 1 Motion Detector</span></td>
						<td class="highlight price" headers="pa">FREE<sup>*</sup></td>
						<td headers="adt" class="price"><sup>$</sup>1,099</td>
					</tr>
					<tr class="">
		
						<td headers="package"><a title="View Platinum Package details and compare to our other home security system packages." href="/platinum">Platinum Package</a><span>3 Door Sensors, 12 Window Sensors, 1 Motion Detector</span></td>
						<td class="highlight price" headers="pa">FREE<sup>*</sup></td>
						<td headers="adt" class="price"><sup>$</sup>1,339</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="3" class="disclaimer">
			                Information regarding home security system comparisons obtained via telephone quotations and Internet research 
			                on Nov 01, 2010.
			            </td>
					</tr>
				</tfoot>
			</table>
		
			<div class="button">
				<a title="Learn more about the Protect America home security system advantage." href="/advantage">Security Advantage</a>
			</div>	
			<div class="clear"></div>		
		</div>
	
		<!-- Protect America Home Security Box -->
		<div class="content-box">
			<h2>Protect America Home Security</h2>
			<h3><a name="security systems for home">Home Security Commitment</a></h3>
	
			<p>
			    Protect America is committed to excellence and affordability when it comes to securing
			    your home. That's why we're a Consumers Digest Best Buy for home security and the best
			    choice for a world-class security system backed by a company that is dedicated to serving
			    your home security needs. Your family is your top priority. Your home is probably your largest
			    investment. Why not take the extra precaution of providing a home security system and security
			    monitoring for your residence? Protect America is committed to helping you meet your home
			    security needs and providing you with service you can depend on.
			</p>
			<h3>Home Security Value</h3>
			<p>
			    The average yearly home insurance premium in the U.S. costs over $800. The good news is that
			    many plans offer discounts up to 20% on home insurance for homes with security systems. You
			    could save $14 or more per month on your insurance with a GE home alarm system. For many, 
			    the monthly cost of a Protect America GE home security system would be less than $16 per
			    month once a home insurance discount is applied. For 50 cents a day, you can have the peace
			    of mind knowing that your family and home will have the extra protection of a residential
			    security system. Our wireless GE home security system is one investment you can't afford to 
			    ignore.
			</p>
			<h3>Home Security Choices</h3>
			<p>
	
			    Protect America offers the <a title="View all of our alarms packages and choose the right package and service for your home." href="{% url charities %}">best home security system and monitoring</a> deal you'll find. We install
			    premium security hardware with GE home security products, and have the most flexible range
			    of monitoring services, including cellular monitoring, two-way voice monitoring, HomePulse
			    broadband monitoring, or standard talking command station monitoring over landline. We
			    provide an extensive selection of GE wireless home security components. And, our home
			    security packages are designed to fit most any budget. Let us help you find the right system
			    for your needs, so you can start protecting your home and family today.
			</p>
			<h3>Home Security Statistics</h3>
			<p>
			    <strong>Facts about Burglary, Property Crimes, and Home Security Alarms</strong>
			    <br>
			    2007 FBI Crime Statistics:
			</p>
	
			<ul>
			    <li>Each year in the United States, a burglary occurs every 14 seconds.</li>
			    <li>Most burglaries occur during the day between 6am and 6pm.</li>
			    <li>The average residential burglary victim lost $1,991.</li>
			</ul>
			<p>
			    There is no better time than today to protect your residence with a monitored home security alarm
			    system, and there is no more affordable solution than Protect America's wireless GE home security
			    system. Wherever you live, we have a home security alarm solution for you and with our unique,
			    low-price guarantee, you can be confident in your choice. Sign up today for a free home security 
			    system and get our low-price guarantee, a lifetime alarm equipment warranty, free movers program, 
			    dedicated support, and award winning home security monitoring from Protect America.
			</p>
	
			<ul>
			    <li>
			        In more than a third of all burglaries, the burglar enters the front door (and most of the time 
			        does so forcefully).
			    </li>
			    <li>
			        Homes without a monitored security alarm system are 3 times more likely to be burglarized or 
			        robbed than those with a monitored home security system.
			    </li>
			    <li>
			        There is sufficient evidence to show that in the past, when the economy has suffered, burglary 
			        and property crime has increased in parallel.
			    </li>
	
			</ul>
			<div class="clear"></div>
		</div>
	<!-- Sister Companies Box -->
		<div class="outline-box">
			<h2>Our Sister Companies</h2>
			<img width="650" height="80" alt="Protect America's sister companies: Cleveland Cavaliers, Fathead, Quicken Loans, In House Realty, Quizzle." src="media/img/sister-companies.jpg" style="margin-bottom: 6px;">
			<div class="clear"></div>

		</div>
		<div class="clear"></div>
{% endblock %}  
{% block sidebar %}
{{ block.super }}
        
{% endblock %}
