{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/home.css">
{% endblock %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}
{% block extra_javascript %}
<script type="text/javascript" src="/static/js/jquery.cycle.all.min.js"></script>
{% endblock %}
{% block subnav %}
{% endblock %}
{% block content %}
    <div id="hero-banner">

    </div>


    {% include "order/quote-form.html" with form=forms.basic %}
<div class="clear"></div>
<div id="customer-testimonials">
    <h2>Real Customers Talking about Protect America</h2>
    <ul id="main-testimonials">
    {% testimonial_search "protect america" "limit=4&words=75" %}
    </ul>
</div>
<div id="protect-america-difference">
	<div>
		<h2>Protect America Home Security</h2>
		<p>To protect your home and family, you want the best home security technology available without top home security prices. Protect America offers innovation in home security with GE security systems that are cutting-edge, simple to use and affordable. Not only will a Protect America home security system provide you with reliability and peace of mind, but it can also save you hundreds of dollars on alarm equipment over other brands like ADT.</p>
	</div>
	<div id="all-day-monitoring">
		<img src="/static/img/extra/24-7-token.png" />

		<h3>Affordable 24/7 Home Security Monitoring</h3>
		<p>Keeping your home protected day and night</p>
	</div>
	<div id="ge-wireless-equipment">
		<img src="/static/img/extra/wireless-token.png" />

		<h3>Simple to Use Wireless GE Security</h3>
		<p>Trusted top of the line security equipment</p>
	</div>
	<div id="save-on-homeowners-insurance">
    	<img src="/static/img/extra/20-percent-token.png" />
		<h3>Save up to 20% on Homeowner's Insurance</h3>
		<p>Protecting your home and saving money</p>
	</div>
	<div id="replacement-parts-warranty">
    	<img src="/static/img/extra/hammer-token.png" />
		<h3>Lifetime Replacement Parts Warranty</h3>
		<p>Making sure you are always safe and secure</p>
	</div>
	<div id="best-priced-home-security">
    	<img src="/static/img/extra/dollar-sign-token.png" />
		<h3>The Best Priced Home Security System</h3>
		<p>Compare & save, you get the best priced guaranteed</p>
	</div>

</div>
<div id="home-security-advantage">
	<div id="protect-america-advantage">
		<div id="advantage-background">

		</div>
		<div id="protect-america-advantage-content">
			<h2>Protect America's Home Security Advantage</h2>
			<p>Protecting your home and family is about more than money. But if you can get a state-of-the-art GE home security system, 24/7 nationwide monitoring and top-notch customer service for less, why wouldn't you?</p>
			<p>Protect America offers trusted home security options for hundreds of dollars less than the competition. And with a variety of monitoring options, you can get complete home protection for as low as $1/day. Take a look below at the huge savings Protect America offers versus what you'd pay up-front for ADT:</p>
			<div class="clear"></div>
		</div>
	</div>
	<table id="protect-america-vs-adt">
		<thead>
			<tr>
				<th id="blank-box"></th>
				<th id="protect-america-table-title">Protect America</th>
				<th id="adt-table-title">ADT*</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td id="copper-package"><span>Copper Package</span>3 Door / Window Sensors<br />1 Motion Detector</td>
				<td id="copper-package-protect-america-price"><span>{{ pricetable.COPPER.upfront|default_if_none:"FREE" }}</span>({{ pricetable.COPPER.standard_monitoring }}/monthly)</td>
				<td id="copper-package-adt-price"><span>{{ pricetable.COPPER.adt_upfront }}</span>({{ pricetable.COPPER.adt_monitoring }}/monthly)</td>
			</tr>
			<tr>
				<td id="bronze-package"><span>Bronze Package</span>7 Door / Window Sensors<br />1 Motion Detector</td>
				<td id="bronze-package-protect-america-price"><span>{{ pricetable.BRONZE.upfront|default_if_none:"FREE" }}</span>({{ pricetable.BRONZE.standard_monitoring }}/monthly)</td>
				<td id="bronze-package-adt-price"><span>{{ pricetable.BRONZE.adt_upfront }}</span>({{ pricetable.BRONZE.adt_monitoring }}/monthly)</td>
			</tr>
			<tr>
				<td id="silver-package"><span>Silver Package</span>10 Door / Window Sensors<br />1 Motion Detector</td>
				<td id="silver-package-protect-america-price"><span>{{ pricetable.SILVER.upfront|default_if_none:"FREE" }}</span>({{ pricetable.SILVER.standard_monitoring }}/monthly)</td>
				<td id="silver-package-adt-price"><span>{{ pricetable.SILVER.adt_upfront }}</span>({{ pricetable.SILVER.adt_monitoring }}/monthly)</td>
			</tr>
			<tr>
				<td id="gold-package"><span>Gold Package</span>12 Door / Window Sensors<br />1 Motion Detector</td>
				<td id="gold-package-protect-america-price"><span>{{ pricetable.GOLD.upfront|default_if_none:"FREE" }}</span>({{ pricetable.GOLD.standard_monitoring }}/monthly)</td>
				<td id="gold-package-adt-price"><span>{{ pricetable.GOLD.adt_upfront }}</span>({{ pricetable.GOLD.adt_monitoring }}/monthly)</td>
			</tr>
			<tr>
				<td id="platinum-package"><span>Platinum Package</span>15 Door / Window Sensors<br />1 Motion Detector</td>
				<td id="platinum-package-protect-america-price"><span>{{ pricetable.PLATINUM.upfront|default_if_none:"FREE" }}</span>({{ pricetable.PLATINUM.standard_monitoring }}/monthly)</td>
				<td id="platinum-package-adt-price"><span>{{ pricetable.PLATINUM.adt_upfront }}</span>({{ pricetable.PLATINUM.adt_monitoring }}/monthly)</td>
			</tr>
		</tbody>
	</table>
	<div class="clear"></div>
</div>
<div id="call-box">
    <p>Get Started Now, <strong>Call Today! {{ phone_number|format_number }}</strong></p>
</div>
<div id="extra-security-content">
    <div id="home-security-statistics">
        <h2>Home Security Statistics</h2>
        <p>There is no better time than the present to get a monitored home security system to protect your home and family. With our affordable GE wireless home security system and award winning home security monitoring service, there is no better solution than Protect America. Protect America offers a low-price guarantee so you can be confident you're getting the best deal. Our home security experts are standing by to assist you, so call today for a free home security analysis and we will help you protect your home and family with a solution that meets your needs!</p>
    </div>
    <div id="home-security-news">
        <h2>Home Security News</h2>
        <div class="news-article">
            <p class="date"><span>Feb</span> 28</p>
            <div class="news-content">
                <h3>California city crime rate increased two-fold last year</h3>
                <p>Residents of St. Helena, California, may be wise to purchase a home security system and GPS tracking for their vehicles, as ... [Read More]</p>
            </div>
        </div>
        <div class="news-article">
            <p class="date"><span>Feb</span> 28</p>
            <div class="news-content">
                <h3>California city crime rate increased two-fold last year</h3>
                <p>Residents of St. Helena, California, may be wise to purchase a home security system and GPS tracking for their vehicles, as ... [Read More]</p>
            </div>
        </div>
        <div class="news-article">
            <p class="date"><span>Feb</span> 28</p>
            <div class="news-content">
                <h3>California city crime rate increased two-fold last year</h3>
                <p>Residents of St. Helena, California, may be wise to purchase a home security system and GPS tracking for their vehicles, as ... [Read More]</p>
            </div>
        </div>
        <div class="button-link">
            <a href="">Read More Home Security News ></a>
        </div>
    </div>
</div>
<div id="fbi-statistics">
    <div id="three-times-more">
        <img src="{{ STATIC_URL }}img/extra/3x-icon.png" />
        <p>Your home is <strong>three times less likely to be burglarized</strong> when you have a home security system with monitoring. If you're serious about protecting your home and family, getting a home security system should be the first thing you do.</p>
        <div class="clear"></div>
    </div>
    <div id="burglary-every-14-seconds">
        <img src="{{ STATIC_URL }}img/extra/stopwatch-icon.jpg" />
        <p>According to the FBI Unified Crime Reports, <strong>a burglary occurs every 14 seconds</strong> in the United States. It's scary to think that since you've been reading this page, 7 burglaries have occurred through the United States.</p>
        <div class="clear"></div>
    </div>
    <div id="burglary-during-day">
        <img src="{{ STATIC_URL }}img/extra/sun-icon.jpg" />
        <p>Most burglaries actually take place in the daytime. <strong>The average burglary occurs from 6am to 6pm.</strong> Arm your security system during the day to help protect while you are at work.</p>
        <div class="clear"></div>
    </div>
    <div id="average-amount-lost">
        <img src="{{ STATIC_URL }}img/extra/lost-icon.png" />
        <p><strong>Average amount lost</strong> in a residential burglary <strong>is $2,096.</strong></p>
        <div class="clear"></div>
    </div>
    <div id="through-front-door">
        <img src="{{ STATIC_URL }}img/extra/front-door-icon.jpg" />
        <p>In more than a third of all burglaries, <strong>the burglar enters the front door</strong> (and most of the time does so forcefully).</p>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>
{% block order-footer %}
{% endblock %}
{% addtoblock "js" %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cycle.all.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('#hero-banner').cycle({
            fx: 'fade',
            timeout: 6000
        });
    });
    $(document).ready(function() {
        $('#main-testimonials').cycle({
            fx: 'fade',
            timeout: 9000
        });
    });
    </script>
{% endaddtoblock "js" %}
{% endblock %}
