{% extends "base.html" %}

{% load content_filters content_tags sekizai_tags testimonial_tags adspace %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/home-b.css">

{% if not debug %}
{% if request.GET.agent == 'a01986' or request.COOKIES.refer_id == 'a01986' %}
<script> 
_udn = "protectamerica.com";
</script> 
<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='61445283-18',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->
{% endif %}
{% if request.GET.agent == 'a03183' or request.COOKIES.refer_id == 'a03183' %}
<script> 
_udn = "protectamerica.com";
</script>
<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='61445283-14',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->
{% endif %}
{% if request.GET.agent == 'a02818' or request.COOKIES.refer_id == 'a02818' %}
<script> 
_udn = "protectamerica.com";
</script>
<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='61445283-15',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->
{% endif %}
{% if request.GET.agent == 'a03053' or request.COOKIES.refer_id == 'a03053' %}
<script> 
_udn = "protectamerica.com";
</script>
<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='61445283-16',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->
{% endif %}
{% if request.GET.agent == 'a02675' or request.COOKIES.refer_id == 'a02675' %}
<script> 
_udn = "protectamerica.com";
</script>
<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='61445283-17',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->
{% endif %}
{% if request.COOKIES.refer_id == 'GOOGLEPPC' or request.COOKIES.refer_id == 'BINGPPC' or request.COOKIES.refer_id == 'HOMESITE' or not request.COOKIES.refer_id %}
{% comment %}Test for Homesite only{% endcomment %}
<!-- Google Analytics Content Experiment code -->
<!-- Google Analytics Content Experiment code -->
<script> 
_udn = "protectamerica.com";
</script>
<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='61445283-90',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->
{% endif %}
{% endif %}
{% endblock %}
{% block page_title %}Home Security Systems - Alarm Monitoring | Protect America{% endblock %}
{% block page_keywords %}home alarm system, home alarm systems, security, security system, security systems, home security, home security system, home security systems, home security monitoring{% endblock %}
{% block page_description %}Want a FREE home security system? Sign up for monitoring with Protect America and get a security system at no cost. Call 800-951-5190 today to learn more!{% endblock %}

{% block typekit-code %}
<script type="text/javascript" src="//use.typekit.net/wsu1mxq.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
{% endblock %}

{% block header %}
    {% include "_partials/new-header.html" with form=forms.basic %}
{% endblock %}

{% block subnav %}
{% endblock %}
{% block bing-conversion-code %}<meta name="google-site-verification" content="OSo3lFTITOYd9b2_wfgqZbQaQvE-OYsg6rpUzFY7-HQ" />
<meta name="msvalidate.01" content="AEAA46163DE3E7323225885EAAF6CB36" />{% endblock %}

{% block content %}
{% block hero_banner_area %}
    {% comment %}{% include "banners/spring-savings.html" %}{% endcomment %}
    {% include "banners/sept-deals.html" %}
{% endblock %}
{% include "order/call-box-b.html" %}

<div id="featured-on">
    <small>Proudly Featured on:</small>
    <div id="featured-badges">
        <div class="featured abc">&nbsp;</div>
        <div class="featured besty">&nbsp;</div>
        <div class="featured foxnews">&nbsp;</div>
        <div class="featured npr">&nbsp;</div>
        <div class="featured topconsumer">&nbsp;</div>
        <div class="featured cw">&nbsp;</div>
        <div class="featured history">&nbsp;</div>
        <div class="featured consumerdigest">&nbsp;</div>
        <div class="featured buzz">&nbsp;</div>
        <div class="featured gadgeteer">&nbsp;</div>
        <div class="featured toptens">&nbsp;</div>
    </div>
</div>
<div class="container">

    <div id="categories">
        <h2>Protect what matters most</h2>
        <div class="seven columns">
            <p>We are proud to provide reliable security for your entire home at the most affordable rate in the industry, simple as that. We believe in protecting you, your home, and your family with trusted, easy-to-use 24/7 home security monitoring.</p>
        </div>
        <div class="seven columns offset-by-two">
            <p>Protect all the windows, doors, and areas of your home - that's how effective security works. Protect America provides all the help, equpiment, and resources you need to easily protect your home.</p>
            <a href="http://www.protectamerica.com/equipment/home-security">Learn more</a>
        </div>
    </div>
</div>
<div class="clear"></div>

<div id="advantage-table-wrapper">
    <div id="advantage-table">
        {% block advantage-header %}
        <h2>A Step above the rest <span>providing more safety and security for less</span></h2>
        {% endblock %}
        <table>
            <thead>
                {% block table-headers %}

                <tr>
                    <th>&nbsp;</th>
                    <th>Door / Window Protection</th>
                    <th>24/7 Alarm Monitoring</th>
                    <th>Free Security Equipment</th>
                    <th class="extra">No Installation <br />Fees</th>
                    <th class="extra">Lifetime Equipment Warranty</th>
                    <th>Monthly Cost</th>
                </tr>
                {% endblock %}
            </thead>
            <tbody>
                {% block advantage-us %}
                <tr class="alpha">
                    <td class="title">Protect America</td>
                    <td class="price">3</td>
                    <td><i class="fa fa-check"></i></td>
                    <td><i class="fa fa-check"></i></td>
                    <td class="extra"><i class="fa fa-check"></i></td>
                    <td class="extra"><i class="fa fa-check"></i></td>
                    <td class="price">$19.99</td>
                </tr>
                {% endblock %}
                {% block advantage-competitor-1 %}
                <tr>
                    <td class="title">ADT</td>
                    <td class="price">2</td>
                    <td><i class="fa fa-check"></i></td>
                    <td class="na">Not Available</td>
                    <td class="na extra">Not Available</td>
                    <td class="na extra">Not Available</td>
                    <td class="price">$42.99</td>
                </tr>
                {% endblock %}
                {% block advantage-competitor-2 %}
                    {% if local_rival %}
                    <tr>
                        <td class="title">{{ local_rival.rival }}</td>
                        <td class="price">{{ local_rival.door_window }}</td>
                        <td class="na" >{% if local_rival.alarm_monitoring %}<i class="fa fa-check"></i>{% else %}Not Available{% endif %}</td>
                        <td class="na">{% if local_rival.free_equipment %}<i class="fa fa-check"></i>{% else %}Not Available{% endif %}</td>
                        <td class="na extra">{% if local_rival.no_fees %}<i class="fa fa-check"></i>{% else %}Not Available{% endif %}</td>
                        <td class="na extra">{% if local_rival.warranty %}<i class="fa fa-check"></i>{% else %}Not Available{% endif %}</td>
                        <td class="price">{{ local_rival.monthly_cost }}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td class="title">Vivint</td>
                        <td class="price">2</td>
                        <td><i class="fa fa-check"></i></td>
                        <td class="na">Not Available</td>
                        <td class="na extra">Not Available</td>
                        <td class="na extra">Not Available</td>
                        <td class="price">$49.99</td>
                    </tr>
                    {% endif %}
                {% endblock %}
            </tbody>
        </table>
        <div class="clear"></div>
    </div>
</div>
<div class="container" style="margin: 60px auto;">
    <div class="seven columns">
        <h3>Home automation made easy</h3>
        <p>With the touch of a button, you become the master of your home by controlling your alarm, locks, lights, appliances and more from the ease of your smartphone.</p>
        <p>Our Z-Wave technology transforms your house into something more - a smart house. While some other companies charge up to $20 more per month, we provide our home automation and interactive services free with your broadband or cellular monitored home.</p>
        <a href="http://www.protectamerica.com/equipment/home-automation">Learn more</a>
    </div>
    <div class="seven columns offset-by-two">
        <h3>Security from every angle</h3>
        <p>Home security is not just about being able to protect your home; it's about being able to protect your entire life. Our systems easily add fire and smoke protection, carbon monoxide detectors, medical panic alerts, and more. We make it easy to customize and fit your alarm system to your home and family's needs.</p>
        <a href="http://www.protectamerica.com/equipment/life-safety">Learn more</a>
    </div>
</div>

{% addtoblock "js" %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.menu-aim.js"></script>
    <script type="text/javascript">

        var $menu = $(".dropdown-menu");

        $menu.menuAim({
            activate: activateSubmenu,
            deactivate: deactivateSubmenu,
        });

        function activateSubmenu(row) {
            var $row = $(row),
                submenuId = $row.data("submenuId"),
                $submenu = $("#" + submenuId),
                height = 240,
                width = $menu.outerWidth();
            $submenu.css({
                display: "block",
                top: -1,
                left: width - 3,  // main should overlay submenu
                height: height - 4  // padding for main dropdown's arrow
            });

            $row.find("a").addClass("maintainHover");
        }

        function deactivateSubmenu(row) {
            var $row = $(row),
                submenuId = $row.data("submenuId"),
                $submenu = $("#" + submenuId);

            // Hide the submenu and remove the row's highlighted look
            $submenu.css("display", "none");
            $row.find("a").removeClass("maintainHover");
        }

        $(".dropdown-menu li").click(function(e) {
            e.stopPropagation();
        });
        $(".dropdown-toggle").click(function(e) {
            return false;
        });


    </script>
    <script type="text/javascript">
    $(document).ready(function() {
    	$( "#menu-button" ).click(function() {
			$( "#mobile-menu-container" ).slideToggle( "slow", function() {
			});
		});
    	
        var owl = $("#featured-badges");
        
        owl.owlCarousel({
          autoPlay: 7000,
          items : 12,
          pagination: false,
          itemsCustom: [[0, 2], [480, 3], [640, 4], [800, 5], [960, 6], [1120, 7], [1280, 8], [1440, 9], [1600, 10]]
        });
    });
    </script>
    <script type="text/javascript">
    $(".extra-content").siblings('p').append(' <a href="" class="read-more">Read More</a>')
    $(".read-more").click(function() {
        $(this).hide()
        $(this).parent().parent().children('.extra-content').slideDown('fast');
        return false;
    });

        {% if 'hic_test' in request.GET %}
        setCookie('hic_test', 'true');
        {% endif %}

    });
    </script>
{% endaddtoblock "js" %}
{% endblock %}

{% block terms %}
<div id="terms-wrapper">
    <div id="terms">
        <div id="terms-conditions">
            <p>* <a href="https://secure.protectamerica.com/sample/en" >Standard home security alarm monitoring agreement</a> required with approved credit. Offer subject to change. Void where prohibited. Offer Expires: {{ final_date|date:"SHORT_DATE_FORMAT" }}</p>
            <p>* Information used for home security alarm system comparisons was obtained November 2011 through telephone and online research. ADT prices: based on total out-of-pocket expense to obtain services; installation based on fees for similar home security equipment packages; "Monitoring" price listed includes the additional "warranty" or "extended service plan". </p>
            {% block extra_terms %}
            {% endblock %}
        </div>
        <div id="copyrights">
            {% if local_street %}
            <div id="local-address" itemscope itemtype="http://schema.org/LocalBusiness">
                <p><span itemprop="name">{{ city }} Protect America</span>: <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><b itemprop="streetAddress">{{ local_street }}</b> <b itemprop="addressLocality">{{ local_city }}</b>, <b itemprop="addressRegion">{{ local_state }}</b> <b itemprop="postalCode">{{ local_zipcode }}</b></span></p>
            </div>
            {% endif %}

            {% block consumer-digest-term %}<p>The BEST BUY SEAL is a registered trademark of Consumers Digest Communications, LLC, used under license.</p>{% endblock %}
            <p>&copy; 1992 &mdash; 2014 Protect America, Inc. All rights reserved</p>
        </div>

    </div>
    <div class="clear"></div>

</div>
{% endblock %}
{% block footer %}
    {% block main-footer %}
<!-- Footer navigation -->
<footer>
    <div class="container">
        <ul class="four columns">
            <li><a href="{% url shop %}">Shop</a></li>
            <li><a href="{% url how-it-works %}">How It Works</a></li>
            <li><a href="{% url customer-service %}">Customer Service</a></li>
            <li><a href="/home-security-blog/">Home and Life Blog</a></li>
            <li><a href="">Sitemap</a></li>
        </ul>
        <ul class="four columns">

            <li><a href="{% url privacy-policy %}">Privacy Policy</a></li>
            <li><a href="{% url return-policy %}">Return Policy</a></li>
            <li><a href="{% url state-licenses %}">State Licenses</a></li>
            <li><a href="{% url do-not-call %}">Do Not Call</a></li>
            <li><a href="{% url careers %}">Careers</a></li>
        </ul>
        <ul class="five columns hours-area">
            <li><strong>Telephone</strong></li>
            <li>{{ phone_number|format_number }}</li>
            <li>M-F 7am - 11pm ct</li>
            <li>Sat 8am - 8pm ct</li>
            <li>Sun 9am - 9pm ct</li>
        </ul>
        <ul class="two columns offset-by-one">
            <li class="facebook"><a href="http://www.facebook.com/ProtectAmerica"><i class="fa fa-facebook"></i></a></li>
            <li class="googleplus"><a href="https://plus.google.com/+ProtectAmerica/"><i class="fa fa-google-plus"></i></a></li>
            <div class="clear"></div>
            <li class="twitter"><a href="http://www.twitter.com/ProtectAmerica"><i class="fa fa-twitter"></i></a></li>
            <li class="youtube"><a href="http://www.youtube.com/user/ProtectAmerica"><i class="fa fa-youtube"></i></a></li>
            <div class="clear"></div>
            <li class="linkedin"><a href="http://www.linkedin.com/company/protect-america"><i class="fa fa-linkedin"></i></a></li>
        </ul>
    </div>
</footer>
<!-- End footer navigation -->



    <!-- Terms and conditions -->
    <div id="terms">
        <div class="container">
            <div class="eight columns">
                <p class="small">* Standard home security alarm monitoring agreement required with approved credit. Offer subject to change. Void where prohibited. Offer Expires: {{ final_date|date:"SHORT_DATE_FORMAT" }}</p>
                <p class="small">* Information used for home security alarm system comparisons was obtained November 2011 through telephone and online research. ADT prices: based on total out-of-pocket expense to obtain services; installation based on fees for similar home security equipment packages; "Monitoring" price listed includes the additional "warranty" or "extended service plan".</p>
                <p>We provide security in all 50 states. <a href="http://www.protectamerica.com/help/state-licenses/">Click here for licensing information</a></p>

            </div>
            <div class="seven columns">
                {% if local_street %}
                <div id="local-address" itemscope itemtype="http://schema.org/LocalBusiness">
                {{ local_street.googleplus_url }}
                    <p class="copyright">{% if local_street.googleplus_url %}<a href="{{ local_street.googleplus_url }}" title="{{ city }} Protect America">{% endif %}<span itemprop="name">{{ city }} Protect America</span> &ndash; <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><b itemprop="streetAddress">{{ local_street }}</b> <b itemprop="addressLocality">{{ local_city }}</b>, <b itemprop="addressRegion">{{ local_state }}</b> <b itemprop="postalCode">{{ local_zipcode }}</b></span></p>{% if local_street.googleplus_url %}</a>{% endif %}
                </div>
                {% endif %}
                <p class="copyright">The BEST BUY SEAL is a registered trademark of Consumers Digest Communications, LLC, used under license.<br><br>&copy; 1992 &ndash; 2014 Protect America, Inc. All rights reserved</p>
                <p class="copyright">Neighborhood data is provided by: <br/>&copy; Zillow, Inc., 2006-2014. Use is subject to <br/><a href="http://www.zillow.com/corp/Terms.htm">Terms of Use</a></p>
            </div>
        </div>
    </div>
    <!-- End terms and conditions -->
    {% endblock %}
<div class="lightbox request-quote">
    <div class="lightcard">
        <div class="closebox">
            close
            <i class="fa fa-times-circle"></i>
        </div>
        {% include "order/quote-form-partial.html" with form=forms.basic %}

        <div class="lightbox-info">
            <span>Three reasons people choose</span>
            <img src="{{ STATIC_URL }}img/base/protect-america-logo.png" title="Protect America Home Security" width="212" height="36"  />
            <ul>
                <li><i class="fa fa-check-circle"></i> Free Security Equipment</li>
                <li><i class="fa fa-check-circle"></i> Lowest Price Guaranteed</li>
                <li><i class="fa fa-check-circle"></i> Lifetime Warranty</li>
            </ul>
            <span>Award Winning Security</span>
            <img src="{{ STATIC_URL }}img/base/awards.png" title="Protect America Awards" class="award" width="248" height="70"  />
        </div>

    </div>
    <div class="lightbox-bg">&nbsp;</div>
</div>

{% endblock %}

