{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/thank-you.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/payitforward.css">
{% endblock %}
{% block subnav_parent %}

{% endblock %}

{% block subnav_child %}
{% endblock %}

{% block content %}
<div id="top">
    <div class="top-left">
        <div class="heart-area">
            <img src="{{ STATIC_URL }}img/payitforward/pacares-heart.png" alt="pacares-heart" width="198px" height="174px" />
        </div>
        <div class="headline-area">
            <div class="pay">Pay It Forward Challenge</div>
            <div class="helping">Helping Others Takes</div>
            <div class="forward"> Forward Thinking</div>
            <div class="date">Jan. 19th &mdash; April 10th, 2012</div>
        </div>
        <div class="para">
            35 Advertising & Marketing students, graduating from MSU, accepted the ProtectAmericaCares Pay It Forward Challenge.
        </div>
    </div>
    <div class="volunteer">
        <img src="{{ STATIC_URL }}img/payitforward/volunteer.jpg" alt="volunteer" width="399" height="255" />
    </div>
    <div class="clear"></div>
</div>
<div id="video-main-container">
    <div class="video-left-container">
        <div class="boxing">
            <div class="red">
                <div class="button">
                    <img src="{{ STATIC_URL }}img/payitforward/play-button.png" alt="play-button" width="50" height="50" />
                </div>
                <h1>Protect America Presents The ProtectAmericaCares Pay It Forward Challenge </h1>
                <h3>MSU Team: Top Hat Media</h3>
            </div>
        </div>
    </div>
    <div class="video-right-container">
        <ul>
            <li>
                <div class="button">
                    <img src="{{ STATIC_URL }}img/payitforward/play-button.png" alt="play-button" width="50" height="50" />
                </div>
                <strong>Charity:</strong>
                <em>Help a willing kid</em>
                <p>MSU Team: Top Hat Media</p>
            </li>
            <li>
                <div class="button">
                    <img src="{{ STATIC_URL }}img/payitforward/play-button.png" alt="play-button" width="50" height="50" />
                </div>
                <strong>Charity:</strong>
                <em>Help a willing kid</em>
                <p>MSU Team: Top Hat Media</p>
            </li>
            <li>
                <div class="button">
                    <img src="{{ STATIC_URL }}img/payitforward/play-button.png" alt="play-button" width="50" height="50" />
                </div>
                <strong>Charity:</strong>
                <em>Help a willing kid</em>
                <p>MSU Team: Top Hat Media</p>
            </li>
        </ul>
    </div>
    <div class="clear"></div>

    <div class="video-base">
        <ul>
            <li class="active">1</li>
            <li>2</li>
            <li>3</li>
        </ul>
        {% comment %}
        <div class="video-base-continue">
            <div class="white-circle1">
                <div class="active">
                    <p>1</p>
                </div>
            </div>
            <div class="white-circle1">
                <p>2</p>
            </div>
            <div class="white-circle1">
                <p>3</p>
            </div>
        </div>
        {% endcomment %}
    </div>
    <div class="clear"></div>
</div>
<div id="base">
    <div class="left_container">
        <div class="challenge">
            <h3>The Challenge:</h3>
            <p>Protect America Cares (the charitable organization of home security company, Protect America, Inc.) recently teamed up with students at Michigan State University to raise money and awareness for charities in the Lansing area. Guided by advertising professor David Regan, the students were divided into 7 groups and given $500 seed money from Protect America to create marketing campaigns that help local charities improve fundraising.</p>
        </div>
        <div class="donate">
            <h3>Would you like to donate to one of these charities?</h3>
            <ul>
                <li><a href="http://www.helpawillingkid.org/" target="_blank">http://www.helpawillingkid.org/</a></li>
                <li><a href="http://www.hosannahousemi.org/" target="_blank">http://www.hosannahousemi.org/</a></li>
                <li><a href="http://www.havenhouseel.org/index.php" target="_blank">http://www.havenhouseel.org/index.php</a></li>
                <li><a href="http://www.fbidogs.org/home0.aspx" target="_blank">http://www.fbidogs.org</a></li>
                <li><a href="http://sleeptightsite.org/" target="_blank">http://sleeptightsite.org/</a></li>
                <li><a href="http://www.beekmanriding.org/BTRC/index.html" target="_blank">http://www.beekmanriding.org/BTRC/index.html</a></li>
                <li><a href="http://www.icrclansing.org/" target="_blank">http://www.icrclansing.org/</a></li>
            </ul>
        </div>
        <div class="participate">
            <p>Do you know of a charity that could use a little extra help? Protect America wants to continue the Pay It Forward Challenge but we can't do it without you! If your school or organization wants to provide assistance to worthwhile charities in your area, please contact Shawne Groves at 1-800-951-5111 extension 8208.</p>
        </div>
    </div>
    <div class="right_container">
        <div class="total_container">
            <div>Total Funds Raised</div>
            <div>$10,563.51</div>
            <div>Total Food Raised:</div>
            <div>318+ lbs.</div>
        </div>
        <ul class="total">    
            <li>
                <strong>Top Hat Media:</strong>
                <span>Helping a willing kid</span>
                <em>(HAWK) Foundation</em>
                <p>$3,175 + 318lbs. of food</p>
            </li>
            <li>
                <strong>Five Star Media:</strong>
                <span>Beekman Therapeutic</span>
                <em> Riding Center</em>
                <p>$2,255.51</p>
            </li>
            <li>
                <strong>Evolve Media:</strong>
                <span>Haven House</span>
                <p>$2,000</p>
            </li>
            <li>
                <strong>Wanderlust Media:</strong>
                <span>Sleep Tight</span>
                <p>$1,200</p>
            </li>
        </ul>
        <ul class="total">
            <li>
                <strong>Visionary Media:</strong>
                <span>Hungry Hands</span>
                <p>$813 &amp; a large supply of food</p>
            </li>
            <li>
                <strong>Movement Advertising:</strong>
                <span>Hosanna House</span>
                <p>$620 Earned</p>
            </li>
            <li>
                <strong>Infinite Solutions:</strong>
                <span>For Better Independence</span>
                <em>assistance Dogs</em>
                <p>$500 Earned</p>
            </li>
        </ul>
        <div class="clear"></div>
    </div> 
    <div class="clear"></div>
</div>
{% endblock %}
