{% extends "base.html" %}

{% block content %}
<h1>QA PAGE</h1>

<h2>Protect America Homepage</h2>
<iframe src="http://www.protectamerica.com" width="960" height="400" style="border: 1px solid black;"></iframe>

<h2>Home Security Landing Page</h2>
<iframe src="http://homesecurity.protectamerica.com" width="960" height="400" style="border: 1px solid black;"></iframe>

<h2>Radio Shack Landing Page</h2>
<iframe src="http://radioshack.protectamerica.com" width="960" height="400" style="border: 1px solid black;"></iframe>

{% endblock %}
