<div id="product_header">
    <ul>
        <li class="first active">
            <a href="#">
                <div class="item_thumb copper"></div>
                <strong>Copper Package</strong>
                <span>Free</span>
                <div class="lowest_badge">
                    <img src="{{ STATIC_URL }}img/products/lowest-price-icon.png" />
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="item_thumb bronze"></div>
                <strong>Bronze Package</strong>
                <span>Free</span>
                <div class="lowest_badge">
                    <img src="{{ STATIC_URL }}img/products/lowest-price-icon.png" />
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="item_thumb silver"></div>
                <strong>Silver Package</strong>
                <span>Free</span>
                <div class="lowest_badge">
                    <img src="{{ STATIC_URL }}img/products/lowest-price-icon.png" />
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="item_thumb gold"></div>
                <strong>Gold Package</strong>
                <span>Free</span>
                <div class="lowest_badge">
                    <img src="{{ STATIC_URL }}img/products/lowest-price-icon.png" />
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="item_thumb platinum"></div>
                <strong>Platinum Package</strong>
                <span>Free</span>
                <div class="lowest_badge">
                    <img src="{{ STATIC_URL }}img/products/lowest-price-icon.png" />
                </div>
            </a>
       </li>
    </ul>
    <div class="clear"></div>
</div>
