<div id="quoteform">
    <h3>Free Home Security Quote</h3>
    <form action="" method="POST">
        <div class="ctrlHolder">
            <label for="name">* Name:</label>
            <input name="name" value="" />
        </div>
        <div class="ctrlHolder">
            <label for="email">* Email:</label>
            <input name="email" value="" />
        </div>
        <div class="ctrlHolder">
            <label for="phone">* Home Phone:</label>
            <input name="phone" value="" />
        </div>
        <div id="submit_lead">
            <a title="Get My Free Home Security System Quote" href="#">Get My Free Home Security System Quote</a>
        </div>
    </form>
    <div class="formextras">
        {% comment %}
        <script type="text/javascript" src="https://seal.verisign.com/getseal?host_name=www.protectamerica.com&amp;size=S&amp;use_flash=YES&amp;use_transparent=YES&amp;lang=en"></script>
        {% endcomment %}
        <img src="http://i.imgur.com/GSvMT.png" />

        <p>Fill out this form for a no-obligation security analysis. <a title="Privacy Policy" href="http://www.protectamerica.com/pa/priv_p">We never share your information with anyone.</a></p>        
    </div>
</div>
