<div id="quoteform" class="contentbox-dark">
    <h3>Free Home Security Quote</h3>
    <form action="" method="POST">
        <div class="ctrlHolder">
            <label for="name">* Name:</label>
            <input name="name" value="" />
        </div>
        <div class="ctrlHolder">
            <label for="email">* Email:</label>
            <input name="email" value="" />
        </div>
        <div class="ctrlHolder">
            <label for="phone">* Home Phone:</label>
            <input name="phone" value="" />
        </div>
        <div id="submit_lead">
            <a title="Get My Free Home Security System Quote" href="#">Get My Free Home Security System Quote</a>
        </div>
    </form>
</div>
