<!doctype html>
{% load content_filters content_tags sekizai_tags testimonial_tags %}

<!-- 
320 and Up boilerplate extension
Andy Clarke http://about.me/malarkey
Keith Clark http://twitter.com/keithclarkcouk
Version: 2
URL: http://stuffandnonsense.co.uk/projects/320andup/
License: http://creativecommons.org/licenses/MIT
-->

<!--[if IEMobile 7]><html class="no-js iem7 oldie"><![endif]-->
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)]><!--><html class="no-js" lang="en"><!--<![endif]-->

<head>
<meta charset="utf-8">

<title>{% block page-title %}5LINX Home Security Systems{% endblock %}</title>
<meta name="description" content="{% block page-description %}320 and Up{% endblock %}">
<meta name="author" content="www.forkandsite.com - Your Restaurant's Website on a Silver Platter">

<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0">

{% block css %}
<!-- For all browsers -->
<link rel="stylesheet" href="{{ STATIC_URL }}css/affiliates/five-linx/320.css">
<link rel="stylesheet" media="print" href="{{ STATIC_URL }}css/print.css">
<!-- For progressively larger displays -->
<link rel="stylesheet" media="only screen and (min-width: 480px)" href="{{ STATIC_URL }}css/affiliates/five-linx/480.css">
<link rel="stylesheet" media="only screen and (min-width: 600px)" href="{{ STATIC_URL }}css/affiliates/five-linx/600.css">
<link rel="stylesheet" media="only screen and (min-width: 768px)" href="{{ STATIC_URL }}css/affiliates/five-linx/768.css">
<link rel="stylesheet" media="only screen and (min-width: 960px)" href="{{ STATIC_URL }}css/affiliates/five-linx/960.css">
<!-- For Retina displays -->
<link rel="stylesheet" media="only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5)" href="{{ STATIC_URL }}css/2x.css">
{% endblock %}

<!--[if (lt IE 9) & (!IEMobile)]>
<script src="js/selectivizr-min.js"></script>
<![endif]-->

<!-- JavaScript -->
<script src="{{ STATIC_URL }}js/modernizr-2.0.6.min.js"></script>
{% block favicons %}
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}img/h/apple-touch-icon.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}img/m/apple-touch-icon.png">
<link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}img/l/apple-touch-icon-precomposed.png">
<link rel="shortcut icon" href="{{ STATIC_URL }}img/l/apple-touch-icon.png">
<link rel="shortcut icon" href="/favicon.ico">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<link rel="apple-touch-startup-image" href="{{ STATIC_URL }}img/splash.png">
{% endblock %}

<!--Microsoft. Delete if not required -->
<meta http-equiv="cleartype" content="on">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<!--[if lt IE 7 ]><script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script><script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script><![endif]-->

<!-- http://t.co/y1jPVnT -->
<link rel="canonical" href="/">
</head>

<body class="{{ page_name }} clearfix">
<div class="wrapper">
    <div class="callbox">
        <h3>Protect Your Family Now:</h3>
        <h4><a href="tel:+1-800-713-0139" title="Call 5LINX Home Security today to Order your Home Security System">1-800-713-0139</a></h4>
        <p>{% if request.GET.affkey %}Agent ID: {{ request.GET.affkey }}{% else %}{% if request.COOKIES.affkey %}Agent ID: {{ request.COOKIES.affkey }}{% else %}Agent ID: L100000{% endif %}{% endif %}</p>
    </div>
    <div id="navigation">
        <ul>
            <li class="first {% if 'copper' in active_pages %}active{% endif %}{% if 'bronze' in active_pages %}active{% endif %}{% if 'silver' in active_pages %}active{% endif %}{% if 'gold' in active_pages %}active{% endif %}{% if 'platinum' in active_pages %}active{% endif %}"><a href="{% url copper %}">Security Systems</a></li>
            <li class="video-security {% if 'video' in active_pages %}active{% endif %}"><a href="{% url video %}">Video Security</a></li>
            <li class="gps-tracking {% if 'gps' in active_pages %}active{% endif %}"><a href="{% url gps %}">GPS</a></li>
            <li class="place-order {% if 'order' in active_pages %}active{% endif %}"><a href="{% url order %}">Order Now</a></li>


        </ul>
        <a href="{% url home %}"><img src="{{ STATIC_URL }}img/affiliates/five-linx/5-linx-nav-logo.jpg" alt="5-linx-nav-logo" /></a>
    </div>
    
    {% block content %}
    {% endblock %}
    <div id="bottom-form">
        <h2>Security is An Amazing Conversation Piece.</h2> 

        <div id="call-us">
            <h3>Give us a Call</h3>
            <p>Call 5LINX to start a discussion about the security of your home today. One of our security experts will help determine which package best meets your needs. With a home being burglarized every 14 seconds in the United States, there's no reason to wait. Call 5Linx now and secure what matters most!</p>  
            <h4><span>Call Today!</span><a href="tel:+1-800-713-0139" title="Call 5LINX Home Security today to Order your Home Security System">1-800-713-0139</a></h4>
        </div>
        {% include "order/quote-form.html" with form=forms.basic %}

    </div>
    <div class="callbox">
        <h3>Protect Your Family Now:</h3>
        <h4><a href="tel:+1-800-713-0139" title="Call 5LINX Home Security today to Order your Home Security System">1-800-713-0139</a></h4>
        <p>{% if request.GET.affkey %}Agent ID: {{ request.GET.affkey }}{% else %}{% if request.COOKIES.affkey %}Agent ID: {{ request.COOKIES.affkey }}{% else %}Agent ID: L100000{% endif %}{% endif %}</p>
    </div>
</div>



<!-- Scripts -->
<script src="{{ STATIC_URL }}js/jquery-1.6.2.min.js"></script>
<script src="{{ STATIC_URL }}js/plugins.js"></script>
<script src="{{ STATIC_URL }}js/script.js"></script>
<script src="{{ STATIC_URL }}js/helper.js"></script>
{% render_block "js" %}
<!--[if (lt IE 9) & (!IEMobile)]>
<script src="js/imgsizer.js"></script>
<![endif]-->

<script>
// iOS scale bug fix
MBP.scaleFix();

// Respond.js
yepnope({
	test : Modernizr.mq('(only all)'),
	nope : ['{{ STATIC_URL }}js/respond.min.js']
});
</script>

<!-- http://mths.be/aab -->
<script>
var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']]; // Change UA-XXXXX-X to be your site's ID
(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document,'script'));
</script>


</body>
</html>
