<html>
<head>
    <title>5LINX - Win an Xbox 360!</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/affiliates/five-linx/contest.css">

</head>
<body>
<div class="wrapper">
    <div id="contest-thanks">
        <img src="{{ STATIC_URL }}img/affiliates/five-linx/big-5linx-logo.png" alt="big-5linx-logo" width="300" height="300" />
        <h1>Thank You!</h1>
        <p>You have been entered into the contest.</p>
        <div class="button-link"><a href="../contest/">Go To Contest Page ></a></div>
    </div>
</div>

</body>

</html>

