<html>
<head>
    <title>5LINX - Win an Xbox 360!</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/affiliates/five-linx/contest.css">

</head>
<body>
<div class="wrapper">
    <div id="contest-picture">
        <img src="{{ STATIC_URL }}img/affiliates/five-linx/big-5linx-logo.png" alt="big-5linx-logo" width="300" height="300" />
        <img src="{{ STATIC_URL }}img/affiliates/five-linx/xbox-contest.jpg" alt="xbox-contest" />
    </div>
    <div id="contest-form">
        <h1>Win a <strong>Xbox <span>360</span></strong></h1>
        <p>Just enter your information for a chance to win.</p>
        <form action="" method="POST">
        <ul>
            {{ form.as_ul }}
            <button>Enter To Win!</button>
        </ul>
        </form>
    </div>
</div>

</body>

</html>

