{% extends "affiliates/five-linx/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}

{% block content %}
    <div id="main-package">
        <div id="the-main-package">
            <img src="{{ STATIC_URL }}/img/products/gold-package/gold-package-simon-xt.jpg" alt="Gold Package" class="package-image" />
            <div id="package-info">
                <h2>Free Gold Package</h2>
                <h1>Home Security System</h1>
                <ul>
                    <li>Simon XT Control Panel</li>
                    <li>11 Door / Window Sensors</li>
                    <li>1 Motion Detector</li>
                    <li>Siren &amp; Door Chime</li>
                    <li>3 Window Decals</li>
                    <li>1 Security Yard Sign</li>
                    <li>Battery Backup</li>
                    
                </ul>
                <div class="clear"></div>
                <div id="low-price-seal">
                    <img src="{{ STATIC_URL }}img/affiliates/five-linx/5-linx-lowest-price-seal.jpg" alt="5-linx-lowest-price-seal" />
                </div>
                <div id="package-price">
                    <p>Price Today <strong>Free</strong></p>
                    <span>{{ pricetable.GOLD.standard_monitoring }} per month</span>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <div class="big-button-link">
                <a href="{% url order %}" title="Order the Gold Package">Order Now ></a>
            </div>
        </div>
        {% include "affiliates/five-linx/quote-form.html" with form=forms.basic %}

    </div>
    <div class="clear"></div>
    <div id="in-your-home">
        <img src="{{ STATIC_URL }}img/products/gold-package/in-the-home.jpg" alt="In the Home: Gold Package" />
        <p>Get the greatest security system in the industry with the Gold Security System from 5LINX. Your new home security system features 11 door/window sensors that monitor every point of entry into your home. For an increased sense of security, the Gold Security System also has a motion detector for use inside your home. The Gold Security System can also be customized to include security accessories, like smoke detectors, interactive security cameras, and flood sensors.</p>
    </div>
    <div id="encouragement">
        <div id="wireless-security">
            <img src="{{ STATIC_URL }}img/affiliates/five-linx/wireless-security-icon.png" alt="Easy to Use Wireless Security" />
            <h2>Easy to Use Wireless Security</h2>
            <p>Keep your family safe and secure day and night.</p>
            <div class="clear"></div>
        </div>
        <div id="homeowners-insurance">
            <img src="{{ STATIC_URL }}img/affiliates/five-linx/dollar-sign.png" alt="Save on Home Owner's Insurance"  />
            <h2>Save on Home Owner's Insurance</h2>
            <p>Get extra savings when you own a home security system.</p>
            <div class="clear"></div>
        </div>
        <div id="owned-system">
            <img src="{{ STATIC_URL }}img/affiliates/five-linx/owned-system.png" alt="Own your Security System" />
            <h2>A System You Own</h2>
            <p>The Security System goes with you. Moving to a new home is easy with our free relocation kit.</p>
            <div class="clear"></div>
        </div>
        <div id="lifetime-warranty">
            <img src="{{ STATIC_URL }}img/affiliates/five-linx/lifetime-warranty.png" alt="Lifetime Replacement Parts Warranty" />
            <h2>Lifetime Replacement Parts Warranty</h2>
            <p>If anything breaks or dies we'll replace it for free, even batteries.</p>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>

    </div>
    <div class="flexibleMonitoringOptionsSection">
        <h2>Flexible Monitoring Options</h2>
        <div class="oneThirdCol firstCol">
            <img src="{{ STATIC_URL }}img/affiliates/five-linx/MonitoringLandLine.png" alt="Landline Monitoring">
            <p class="monitoringPrice">$39.99/mo</p>
            <h3>Landline</h3>
            <p>Perfect for cell dead-zones or lack of internet. Connecting your security system via a telephone connection.</p>
        </div><!-- /oneThirdCol -->
        <div class="oneThirdCol">
            <img src="{{ STATIC_URL }}img/affiliates/five-linx/monitoringBroadband.png" alt="Broadband Monitoring">
            <p class="monitoringPrice">$47.99/mo</p>
            <h3>Broadband</h3>
            <p>No telephone needed. Connecting your home security system via your internet connection.</p>
        </div><!-- /oneThirdCol -->
        <div class="oneThirdCol">
            <img src="{{ STATIC_URL }}img/affiliates/five-linx/monitoringCellular.png" alt="Cellular Monitoring">
            <p class="monitoringPrice">$51.99/mo</p>
            <h3>Cellular</h3>
            <p>No landline phone or internet required. Connecting your home security system via cellular towers.</p>
        </div><!-- /oneThirdCol -->
    </div><!-- /flexibleMonitoringOptionsSection -->
    <img src="{{ STATIC_URL }}img/affiliates/five-linx/other-packages-header.png" alt="Other Security Packages Header" width="288" height="24" class="other-packages-header" />
    <div class="clear"></div>
    <a href="{% url copper %}" title="Copper Security Package">

    <div class="other-package">
        <img src="{{ STATIC_URL }}img/products/copper-package/copper-package-simon-xt-2.jpg" alt="Copper Security Package" />
        <h3>Copper Package</h3>
        <ul>
            <li>3 Door / Window Sensors</li>
            <li>1 Motion Detector</li>
        </ul>
        <span>FREE TODAY!</span>
        <p>
            Monthly Monitoring:
            <strong>$19.99/mo</strong>
        </p>
        <div class="clear"></div>

    </div>
    </a>
    <a href="{% url bronze %}" title="Bronze Security Package">

    <div class="other-package bronze-package">
        <img src="{{ STATIC_URL }}img/products/bronze-package/bronze-package-simon-xt.jpg" alt="Bronze Security Package" />

        <h3>Bronze Package</h3>
        <ul>
            <li>6 Door / Window Sensors</li>
            <li>1 Motion Detector</li>
        </ul>
        <span>FREE TODAY!</span>
        <p>
            Monthly Monitoring:
            <strong>{{ pricetable.BRONZE.standard_monitoring }}/mo</strong>
        </p>
        <div class="clear"></div>

    </div>
    </a>
    <a href="{% url silver %}" title="Silver Security Package">

    <div class="other-package">
        <img src="{{ STATIC_URL }}img/products/silver-package/silver-package-simon-xt.jpg" alt="Silver Security Package" />

        <h3>Silver Package</h3>
        <ul>
            <li>9 Door / Window Sensors</li>
            <li>1 Motion Detector</li>
        </ul>
        <span>FREE TODAY!</span>

        <p>
            Monthly Monitoring:
            <strong>{{ pricetable.SILVER.standard_monitoring }}/mo</strong>
        </p>
        <div class="clear"></div>

    </div>
    </a>
    <a href="{% url platinum %}" title="Platinum Security Package">
    <div class="other-package">
        <img src="{{ STATIC_URL }}img/products/platinum-package/platinum-package-simon-xt.jpg" alt="Platinum Security Package" />

        <h3>Platinum Package</h3>
        <ul>
            <li>14 Door / Window Sensors</li>
            <li>1 Motion Detector</li>
        </ul>
        <span>FREE TODAY!</span>

        <p>
            Monthly Monitoring:
            <strong>{{ pricetable.PLATINUM.standard_monitoring }}/mo</strong>
        </p>
        <div class="clear"></div>

    </div>
    </a>
    <div class="clear"></div>
</div>


{% endblock %}
