{% extends "affiliates/five-linx/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}

{% block content %}
<div id="top-content">
    <div id="gps-tracking-overview">
        <img src="{{ STATIC_URL }}img/products/gps/big-red-car.jpg" alt="big-red-car" />
        <div id="gps-overview-content">
            <h1>GPS Vehicle Tracking</h1>
            <p>5LINX Security Systems allows you to locate and follow your car online with real-time GPS vehicle tracking. Create customizable alerts sent via email or text that inform you when someone is driving your vehicle and even if they're speeding! GPS vehicle tracking is great for younger drivers and comforting for their parents. Take control of your vehicles with GPS vehicle tracking from 5LINX Security Systems.</p>
            <div class="button-link"><a href="{% url order %}">Order GPS Tracking Now ></a></div>
        </div>
    </div>
    {% include "order/quote-form.html" with form=forms.basic %}

</div>
<div id="location-found">
    <div id="lost-car">
        <h2>Lost your Car?</h2>
        <p>With the click of a button, your car is instantly located through GPS vehicle tracking. Use it as an aide in case it's ever stolen or if you forgot where you're parked. It works as an extra level of security - you always know the location of your car.</p>

    </div>

</div>
<div class="clear"></div>
{% endblock %}