{% extends "affiliates/five-linx/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}

{% block content %}
<div class="wrapper">

    <div class="callbox">
        <h3>Protect Your Family Now:</h3>
        <h4><a href="tel:+{{ phone_number|format_number }}" title="Call 5-Linx Home Security today to Order your Home Security System">{{ phone_number|format_number }}</a></h4>
        <p>Agent ID: L100000</p>
    </div>
    <div id="navigation">
        <ul>
            <li class="first"><a href="">Security Systems</a></li>
            <li><a href="">Video Security</a></li>
        </ul>
        <a href="{% url home %}"><img src="{{ STATIC_URL }}img/affiliates/five-linx/5-linx-nav-logo.jpg" alt="5-linx-nav-logo" width="144" height="136" /></a>
    </div>
    <div id="silver-package">
        <img src="{{ STATIC_URL }}/img/products/silver-package/silver-package-simon-xt.jpg" alt="silver-package-simon-xt" class="package-image" />
        <h2>Free GE Wireless</h2>
        <h1>Home Security System</h1>
        <ul>
            <li>Simon XT Control Panel</li>
            <li>10 Door / Window Sensors</li>
            <li>1 Motion Detector</li>
            <li>Siren &amp; Door Chime</li>
            <li>3 Window Decals</li>
            <li>1 Security Yard Sign</li>
            <li>Battery Backup</li>
            
        </ul>
        <div class="clear"></div>
    </div>
    <div class="button-link">
        <a href="">Order Now ></a>
    </div>
    <div class="clear"></div>
    <div class="callbox">
        <h3>Protect Your Family Now:</h3>
        <h4><a href="tel:+{{ phone_number|format_number }}" title="Call 5-Linx Home Security today to Order your Home Security System">{{ phone_number|format_number }}</a></h4>
        <p>Agent ID: L100000</p>
    </div>
</div>
{% endblock %}