{% extends "affiliates/five-linx/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}

{% block content %}

    <div id="hero">
        <div class="container">
            <div id="heroForm">
                {% include "affiliates/five-linx/quote-form.html" with form=forms.basic %}</div><!-- Added this Div because there is one div missing in form -->
            </div><!-- /heroForm -->
            <div class="intro">
                <h1>Home Security Systems</h1>
                <h2>We Offer Reliable Business Security Systems That Are Easy To Use At An Affordable Price.</h2>
            </div><!-- /intro -->
        </div><!-- /container -->
    </div><!-- /hero -->

    <div class="call-box">
        Get Started Now, Call Today! 1-800-713-0139
    </div><!-- /call-box -->
    
    <div id="highlights">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="sprite hl247"></div>
                    <h3>24/7 Security Protection</h3>
                    <p>Keep your business safe &amp; secure day and night.<br></p>
                </div><!-- /col -->
                <div class="col">
                    <div class="sprite hlUnbeatablePrice"></div>
                    <h3>Unbeatable Low Price</h3>
                    <p>Dollars go further without loss of security.</p>
                </div><!-- /col -->
                <div class="col">
                    <div class="sprite hlSimpleWireless"></div>
                    <h3>Simple Wireless Security</h3>
                    <p>No holes and no drilling, just peace of mind.</p>
                </div><!-- /col -->
                <div class="col">
                    <div class="sprite hlBudget"></div>
                    <h3>Plans For Every Budget</h3>
                    <p>Our plans adapt to your business needs.</p>
                </div><!-- /col -->
            </div><!-- /row -->
            <hr>
            <div class="row clearRow">
                <div class="col">
                    <div class="sprite hlInteractiveSecSys"></div>
                    <h3>Interactive Security System</h3>
                    <p>Use your smartphone or computer to watch your business.</p>
                    <p><a class="btn" href="/features/">Learn More</a></p>
                </div><!-- /col -->
                <div class="col">
                    <div class="sprite hlVideo"></div>
                    <h3>Video Surveillance</h3>
                    <p>Keep your business safe &amp; secure day and night.</p>
                    <p><a class="btn" href="/features/#videoSurveillance">Learn More</a></p>
                </div><!-- /col -->
                <div class="col">
                    <div class="sprite hlGPS"></div>
                    <h3>GPS Vehicle Tracking</h3>
                    <p>Dollars go further without loss of security.</p>
                    <p><a class="btn" href="/features/#gpsTracking">Learn More</a></p>
                </div><!-- /col -->
                <div class="col">
                    <div class="sprite hlGetInTouch"></div>
                    <h3>Get in Touch</h3>
                    <p>We'll help determine which package best meets your needs.</p>
                    <p><a class="btn" href="/order/">Contact Us</a></p>
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
    </div><!-- /highlights -->


    <div id="aboutPA">
            <div class="container">
                <div class="row">
                    <h2>About Protect America</h2>
                    <div class="colHalf">
                        <p>Founded in 1992 by Thad Paschall, Protect America Inc. has protected over 100,000 active business customers nationwide. Over the past 20 years, Protect America has revolutionized the business security industry; making it easy to protect your business with quality security products at an affordable price.</p>
                        <hr>
                        <p>As one of the fastest growing business security companies nationwide, we use cutting-edge computer technology to provide instantaneous product support and 24-hour protection of your home and family.</p>
                    </div>
                    <div class="colHalf">
                        <p>We work hard to earn and keep your business every day, and people are taking notice. We very proud to be ranked #1 from many home security review sites including: Best Home Security Companys, HomeSecuritySystems.net, and Top Consumer Reviews.</p>
                        <div class="logos">
                            <img src="http://static.protectamericasecurity.net/img/affiliates/acn/consumerDigestLogo.jpg">
                            <img src="http://static.protectamericasecurity.net/img/affiliates/acn/bestHomeSecurityCompanys.jpg">
                            <img src="http://static.protectamericasecurity.net/img/affiliates/acn/topConsumerReviews.jpg">
                            <img src="http://static.protectamericasecurity.net/img/affiliates/acn/homeSecuritySystemsNet.jpg">
                        </div><!-- /logos -->
                        <p class="smallText">The BEST BUY SEAL is a registered trademark of Consumers Digest Communications, LLC, used under license.</p>
                    </div>
                </div><!-- /row -->
            </div><!-- /container -->
        </div>

        <div id="seeAllFeatures">
            <a class="btn" href="{% url features %}">See all Features</a>
        </div>


{% endblock %}
