{% extends "affiliates/five-linx/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}
{% block extra-head %}
<script type="text/javascript">var switchTo5x=false;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "e120b57d-de18-41e4-9f08-4c602e36df66"}); </script>
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">

{% endblock %}
{% block content %}

    <div id="step-one">
        <div class="image-area">
            <img src="{{ STATIC_URL }}img/affiliates/five-linx/step-1.png" alt="step-1" />
        </div>
        <div class="copy-area">
            <h2><span>Step 1:</span> Become a 5LINX Rep</h2>
            <p>That was easy, if you’re reading this, you're already a representative. Congratulations! You have made a wonderful investment for your future with 5LINX. With a 5LINX Security Systems, we can help you get that money back and double your investment.</p>
        </div>
        <div class="clear"></div>
        <img src="{{ STATIC_URL }}img/affiliates/five-linx/arrow.png" alt="arrow" class="arrow" width="58" height="58" />

    </div>
    <div id="step-two">
        <div class="image-area">
            <img src="{{ STATIC_URL }}img/affiliates/five-linx/step-2.jpg" alt="step-2" />
        </div>
        <div class="copy-area">
            <h2><span>Step 2:</span> Sell Two Security Systems</h2>
            <p>5LINX Security gives you $200 bounty per security system sold with a reoccurring monthly residual of $4 per month, even if you buy one for yourself! Sell two systems and your investment in 5LINX has been taken care of and you are already making a profit.</p>
            <div class="button-link">
                <a href="{% url order %}">Get Your Security System ></a><span>or call today at: 1-800-713-0139</a>
            </div>
        </div>
        <div class="clear"></div>
        <img src="{{ STATIC_URL }}img/affiliates/five-linx/arrow.png" alt="arrow" class="arrow" width="58" height="58" />
    </div>
    <div id="step-three">
        <div class="image-area">
            <img src="{{ STATIC_URL }}img/affiliates/five-linx/step-3.png" alt="step-3" />
        </div>
        <div class="copy-area">
            <h2><span>Step 3:</span> Encourage Reps to Buy a System</h2>
            <p>Not only do they make money, you do too! Get 1% of each of your reps monthly commission per security system. Its an easy and simple way to build your residual monthly revenue.</p>
            <br />
            <span class='share st_email_hcount' displayText='Email'></span>
            <span class='share st_facebook_hcount' displayText='Facebook'></span>
            <span class='share st_twitter_hcount' displayText='Tweet'></span>
            <span class='share st_sharethis_hcount' displayText='ShareThis'></span>
        </div>
        <div class="clear"></div>
        <img src="{{ STATIC_URL }}img/affiliates/five-linx/arrow.png" alt="arrow" class="arrow" width="58" height="58" />
    </div>
    <div class="clear"></div>
    <div id="make-it-rain">
        &nbsp;
    </div>
</div>
    <img src="{{ STATIC_URL }}img/affiliates/five-linx/get-your-money.png" alt="get-your-money" width="144" height="61" class="get-money" />
    {% block conversation-piece %}
    {% endblock %}
{% endblock %}
