{% extends "affiliates/five-linx/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}

{% block content %}
    <div id="hero">
        <div class="container">
            <div id="heroForm">
                {% include "affiliates/five-linx/quote-form.html" with form=forms.basic %}</div><!-- Added this Div because there is one div missing in form -->
            </div><!-- /heroForm -->
            <div class="intro">
                <h1>Home Security Plans For Every Budget</h1>
                <p>Select the plan that fits your home and money needs.</p>
            </div><!-- /intro -->
        </div><!-- /container -->
    </div><!-- /hero -->

    <div class="call-box">
        <p>Get Started Now, Call Today! 800-867-0151</p>
    </div><!-- /call-box -->

    <div id="packagesDescription">
        <div class="container">
            <div id="packagesTabs">

                <ul>
                    <li><a href="#tabs-1">Copper</a></li>
                    <li><a href="#tabs-2">Bronze</a></li>
                    <li><a href="#tabs-3">Silver</a></li>
                    <li><a href="#tabs-4">Gold</a></li>
                    <li><a href="#tabs-5">Platinum</a></li>
                </ul>
                <div class="tabsContent">
                    <div id="tabs-1">
                        <div class="halfLeft">
                            <p>The average American home has three or less outside doors. Burglars can enter your home in a number of ways but most break-ins occur through an outside door. The Copper Security package from 5LINX includes three door/window sensors to meet the basic security needs of most homes. This system also features an infrared motion detector for increased interior protection. Ask one of our home security experts how to customize your system with smoke detectors, flood sensors, and interactive cameras.</p>
                            <div class="halfLeft">
                                <ul>
                                    <li>Simon XT Control Panel</li>
                                    <li>3 Door / Window Sensors</li>
                                    <li>1 Motion Detector</li>
                                    <li>Siren &amp; Door Chime</li>
                                </ul>
                            </div><!-- /halfLeft -->
                            <div class="halfRight">
                                <ul>
                                    <li>3 Window Decals</li>
                                    <li>1 Security Yard Sign</li>
                                    <li>Battery Backup</li>
                                </ul>
                            </div><!-- /halfRight -->
                        </div><!-- /halfLeft -->
                        <div class="halfRight">
                            <p><img src="{{ STATIC_URL }}img/products/copper-package/in-the-home.jpg" alt="Cooper Package" title="Cooper Package"></p>
                        </div><!-- /halfRight -->
                    </div><!-- Tab1 -->

                    <div id="tabs-2">
                        <div class="halfLeft">
                            <p>The Bronze Home Security System is the first of four levels of perimeter protection offered by 5Linx. Designed to provide protection at each point of entry into your home, the Bronze Home Security System is ideal for houses under 1200 square feet. The Bronze Home Security System includes 7 door/window sensors and a motion detector for use in rooms or hallways. Don't forget to ask one of our salespeople how you can customize your system with smoke detectors or other great accessories.</p>
                            <div class="halfLeft">
                                <ul>
                                    <li>Simon XT Control Panel</li>
                                    <li>7 Door / Window Sensors</li>
                                    <li>1 Motion Detector</li>
                                    <li>Siren &amp; Door Chime</li>
                                </ul>
                            </div><!-- /halfLeft -->
                            <div class="halfRight">
                                <ul>
                                    <li>3 Window Decals</li>
                                    <li>1 Security Yard Sign</li>
                                    <li>Battery Backup</li>
                                </ul>
                            </div><!-- /halfRight -->
                        </div><!-- /halfLeft -->
                        <div class="halfRight">
                            <p><img src="{{ STATIC_URL }}img/products/bronze-package/in-the-home.jpg" alt="bronze Package" title="bronze Package"></p>
                        </div><!-- /halfRight -->
                    </div><!-- Tab2 -->

                    <div id="tabs-3">
                        <div class="halfLeft">
                            <p>Achieve superior security with the Silver Security System from 5LINX Home Security. This system has 10 door/window sensors, enough to cover every door or window on a home less than 2500 square feet. The Silver Security System also includes a motion detector for increased security inside your home. Your new security system is incredibly easy to customize with smoke detectors, flood sensors, low temperature gauges, and interactive security cameras.</p>
                            <div class="halfLeft">
                                <ul>
                                    <li>Simon XT Control Panel</li>
                                    <li>10 Door / Window Sensors</li>
                                    <li>1 Motion Detector</li>
                                    <li>Siren &amp; Door Chime</li>
                                </ul>
                            </div><!-- /halfLeft -->
                            <div class="halfRight">
                                <ul>
                                    <li>3 Window Decals</li>
                                    <li>1 Security Yard Sign</li>
                                    <li>Battery Backup</li>
                                </ul>
                            </div><!-- /halfRight -->
                        </div><!-- /halfLeft -->
                        <div class="halfRight">
                            <p><img src="{{ STATIC_URL }}img/products/silver-package/in-the-home.jpg" alt="Silver Package" title="Silver Package"></p>
                        </div><!-- /halfRight -->
                    </div><!-- Tab3 -->

                    <div id="tabs-4">
                        <div class="halfLeft">
                            <p>Get the greatest security system in the industry with the Gold Security System from 5LINX. Your new home security system features 12 door/window sensors that monitor every point of entry into your home. For an increased sense of security, the Gold Security System also has a motion detector for use inside your home. The Gold Security System can also be customized to include security accessories, like smoke detectors, interactive security cameras, and flood sensors.</p>
                            <div class="halfLeft">
                                <ul>
                                    <li>Simon XT Control Panel</li>
                                    <li>12 Door / Window Sensors</li>
                                    <li>1 Motion Detector</li>
                                    <li>Siren &amp; Door Chime</li>
                                </ul>
                            </div><!-- /halfLeft -->
                            <div class="halfRight">
                                <ul>
                                    <li>3 Window Decals</li>
                                    <li>1 Security Yard Sign</li>
                                    <li>Battery Backup</li>
                                </ul>
                            </div><!-- /halfRight -->
                        </div><!-- /halfLeft -->
                        <div class="halfRight">
                            <p><img src="{{ STATIC_URL }}img/products/gold-package/in-the-home.jpg" alt="Gold Package" title="Gold Package"></p>
                        </div><!-- /halfRight -->
                    </div><!-- Tab4 -->

                    <div id="tabs-5">
                        <div class="halfLeft">
                            <p>Put the perfect security system for your home. The Platinum Security System from 5LINX is the most comprehensive and affordable perimeter protection available in the home security industry. When you order the Platinum Security System, you'll receive 15 door/windows sensors to protect every entry point into your home. The Platinum Security System from 5LINX also includes an infrared motion detector that monitors the inside of your home. Customize your Platinum Security System for your specific security needs by adding interactive security cameras, smoke detectors, and flood sensors.</p>
                            <div class="halfLeft">
                                <ul>
                                    <li>Simon XT Control Panel</li>
                                    <li>15 Door / Window Sensors</li>
                                    <li>1 Motion Detector</li>
                                    <li>Siren &amp; Door Chime</li>
                                </ul>
                            </div><!-- /halfLeft -->
                            <div class="halfRight">
                                <ul>
                                    <li>3 Window Decals</li>
                                    <li>1 Security Yard Sign</li>
                                    <li>Battery Backup</li>
                                </ul>
                            </div><!-- /halfRight -->
                        </div><!-- /halfLeft -->
                        <div class="halfRight">
                            <p><img src="{{ STATIC_URL }}img/products/platinum-package/in-the-home.jpg" alt="Platinum Package" title="Platinum Package"></p>
                        </div><!-- /halfRight -->
                    </div><!-- Tab5 -->

                </div><!-- /container -->
            </div><!-- /packatesTabs -->
        </div><!-- /container -->
    </div><!-- /packagesDescription -->

    <div id="tabs">
        <div class="container">
            <h2>Home Security Packages</h2>
            <ul>
                <li>
                    <div class="package-box-copper">
                        <h2>Copper</h2>
                        <div class="package-blue-strip"><strong>$19.99</strong> <small>monthly</small></div>
                        <p>1 Simon XT control panel</p>
                        <p>3 Door / window sensors</p>
                        <p>1 Motion detector</p>
                        <hr>
                        <p>Monitoring Option:<br><b>Landline</b></p>
                        <hr>
                        <p>No equipment fees</p>
                        <p>No activation fees</p>
                        <hr>
                        <p><a href="/order/">Order Now</a></p>
                    </div>
                </li>
                <li>
                    <div class="package-box-bronze">
                        <h2>Bronze</h2>
                        <div class="package-blue-strip"><strong>$35.99</strong> <small>monthly</small></div>
                        <p>1 Simon XT control panel</p>
                        <p>7 Door / window sensors</p>
                        <p>1 Motion detector</p>
                        <hr>
                        <p>Monitoring Option:<br><b>Landline</b></p>
                        <hr>
                        <p>No equipment fees</p>
                        <p>No activation fees</p>
                        <hr>
                        <p><a href="/order/">Order Now</a></p>
                    </div>
                </li>
                <li class="package-box-silver">
                    <div class="package-box-silver">
                        <h2>Silver</h2>
                        <div class="package-blue-strip"><strong>$37.99</strong> <small>monthly</small></div>
                        <p>1 Simon XT control panel</p>
                        <p>10 Door / window sensors</p>
                        <p>1 Motion detector</p>
                        <hr>
                        <p>Monitoring Option:<br><b>Landline</b></p>
                        <hr>
                        <p>No equipment fees</p>
                        <p>No activation fees</p>
                        <hr>
                        <p><a href="/order/">Order Now</a></p>
                    </div>
                </li>
                <li>
                    <div class="package-box-gold">
                        <h2>Gold</h2>
                        <div class="package-blue-strip"><strong>$39.99</strong> <small>monthly</small></div>
                        <p>1 Simon XT control panel</p>
                        <p>12 Door / window sensors</p>
                        <p>1 Motion detector</p>
                        <hr>
                        <p>Monitoring Option:<br><b>Landline</b></p>
                        <hr>
                        <p>No equipment fees</p>
                        <p>No activation fees</p>
                        <hr>
                        <p><a href="/order/">Order Now</a></p>
                    </div>
                </li>
                <li>
                    <div class="package-box-platinum">
                        <h2>Platinum</h2>
                        <div class="package-blue-strip"><strong>$42.99</strong> <small>monthly</small></div>
                        <p>1 Simon XT control panel</p>
                        <p>15 Door / window sensors</p>
                        <p>1 Motion detector</p>
                        <hr>
                        <p>Monitoring Option:<br><b>Landline</b></p>
                        <hr>
                        <p>No equipment fees</p>
                        <p>No activation fees</p>
                        <hr>
                        <p><a href="/order/">Order Now</a></p>
                    </div>
                </li>
            </ul>
        </div><!-- /container -->
    </div><!-- /tabs -->

    <div id="monitoringOptions">
        <div class="container">
            <h2>Monitoring Options</h2>
            <div class="oneThird landlineMonitoring">
                <div class="whiteBox">
                    <h4 class="sprite">Landline</h4>
                    <p class="monitoringDescription">The standard connection for most home security systems. Landline monitoring simply connects right into your current business line. This is the perfect solution for business that are in cell dead-zones or lack high speed internet.</p>
                    <p class="price"><span class="number">$0</span> monthly</p>
                </div><!-- /whiteBox -->
            </div><!-- /col-4 -->
            <div class="oneThird broadbandMonitoring">
                <div class="whiteBox">
                    <h4 class="sprite">Broadband</h4>
                    <p class="monitoringDescription">No phone no problem, use your modem or router instead to connect to the monitoring facility. We call it high speed because it is fast! The signal from your business to our monitoring facility is received within 2 seconds.</p>
                    <p class="price"><span class="number">$8</span> monthly</p>
                </div><!-- /whiteBox -->
            </div><!-- /col-4 -->
            <div class="oneThird cellularMonitoring">
                <div class="whiteBox">
                    <h4 class="sprite">Cellular</h4>
                    <p class="monitoringDescription">The completely wireless solution, simply plug the command station into a power outlet and everything else is completely wireless. No landline phone or internet required since all communication is via cellular towers.</p>
                    <p class="price"><span class="number">$12</span> monthly</p>
                </div><!-- /whiteBox -->
            </div><!-- /col-4 -->
        </div><!-- /container -->
    </div><!-- /monitoringOptions -->

    <div id="additionalProducts">
        <div class="container">
            <h2 class="title">Additional Products</h2>
            <div class="productsGrid">
                <div class="col">
                    <div class="productWrapper">
                        <img title="Door/Window Sensor" alt="Door/Window Sensor" src="http://static.protectamericasecurity.net/img/affiliates/acn/productDoorSensor.png">
                        <p>Door/Window Sensor</p>
                    </div> <!-- /productWrapper -->
                </div><!-- /col -->
                <div class="col">
                    <div class="productWrapper">
                        <img title="Panic Pendant" alt="Panic Pendant" src="http://static.protectamericasecurity.net/img/affiliates/acn/productPanic.png">
                        <p>Panic Pendant</p>
                    </div> <!-- /productWrapper -->
                </div><!-- /col -->
                <div class="col">
                    <div class="productWrapper">
                        <img title="Video Camera" alt="Video Camera" src="http://static.protectamericasecurity.net/img/affiliates/acn/prodVideoCamera.png">
                        <p>Video Camera</p>
                    </div> <!-- /productWrapper -->
                </div><!-- /col -->
                <div class="col">
                    <div class="productWrapper">
                        <img title="Motion Detector" alt="Motion Detector" src="http://static.protectamericasecurity.net/img/affiliates/acn/prodMotionDetector.png">
                        <p>Motion Detector</p>
                    </div> <!-- /productWrapper -->
                </div><!-- /col -->
                <div class="col">
                    <div class="productWrapper">
                        <img title="Extra Key Pad" alt="Extra Key Pad" src="http://static.protectamericasecurity.net/img/affiliates/acn/prodExtraKeyPad.png">
                        <p>Extra Key Pad</p>
                    </div> <!-- /productWrapper -->
                </div><!-- /col -->
                <div class="col">
                    <div class="productWrapper">
                        <img title="Sign" alt="Sign" src="http://static.protectamericasecurity.net/img/affiliates/acn/prodSign.png">
                        <p>Sign</p>
                    </div> <!-- /productWrapper -->
                </div><!-- /col -->

                <div class="col">
                    <div class="productWrapper">
                        <img title="Glass Break Detector" alt="Glass Break Detector" src="http://static.protectamericasecurity.net/img/affiliates/acn/prodGlassBreakDetector.png">
                        <p>Glass Break Detector</p>
                    </div> <!-- /productWrapper -->
                </div><!-- /col -->
                <div class="col">
                    <div class="productWrapper">
                        <img title="Keychain Remote" alt="Keychain Remote" src="http://static.protectamericasecurity.net/img/affiliates/acn/prodKeyChainRemote.png">
                        <p>Keychain Remote</p>
                    </div> <!-- /productWrapper -->
                </div><!-- /col -->
                <div class="col">
                    <div class="productWrapper">
                        <img title="Overhead Garage Sensor" alt="Overhead Garage Sensor" src="http://static.protectamericasecurity.net/img/affiliates/acn/garageSensor.png">
                        <p>Overhead Garage Sensor</p>
                    </div> <!-- /productWrapper -->
                </div><!-- /col -->
                <div class="col">
                    <div class="productWrapper">
                        <img title="Solar Sign" alt="Solar Sign" src="http://static.protectamericasecurity.net/img/affiliates/acn/prodSolarSign.png">
                        <p>Solar Sign</p>
                    </div> <!-- /productWrapper -->
                </div><!-- /col -->
                <div class="col">
                    <div class="productWrapper">
                        <img title="Smoke Detector" alt="Smoke Detector" src="http://static.protectamericasecurity.net/img/affiliates/acn/prodSmokeDetector.png">
                        <p>Smoke Detector</p>
                    </div> <!-- /productWrapper -->
                </div><!-- /col -->
                <div class="col">
                    <div class="productWrapper">
                        <img title="Low Temperature Sensor" alt="Low Temperature Sensor" src="http://static.protectamericasecurity.net/img/affiliates/acn/prodLowTemperatureSensor.png">
                        <p>Low Temperature Sensor</p>
                    </div> <!-- /productWrapper -->
                </div><!-- /col -->


                <div class="col">
                    <div class="productWrapper">
                        <img title="GPS Module" alt="GPS Module" src="http://static.protectamericasecurity.net/img/affiliates/acn/prodGPSModule.png">
                        <p>GPS Module</p>
                    </div> <!-- /productWrapper -->
                </div><!-- /col -->
                <div class="col">
                    <div class="productWrapper">
                        <img title="Wireless Secret Keypad" alt="Wireless Secret Keypad" src="http://static.protectamericasecurity.net/img/affiliates/acn/prodWirelessSecretPad.png">
                        <p>Wireless Secret Keypad</p>
                    </div> <!-- /productWrapper -->
                </div><!-- /col -->
                <div class="col">
                    <div class="productWrapper">
                        <img title="Flood Detector" alt="Flood Detector" src="http://static.protectamericasecurity.net/img/affiliates/acn/prodFloodDetector.png">
                        <p>Flood Detector</p>
                    </div> <!-- /productWrapper -->
                </div><!-- /col -->
                <div class="col">
                    <div class="productWrapper">
                        <img title="Touch-screen Keypad" alt="Touch-screen Keypad" src="http://static.protectamericasecurity.net/img/affiliates/acn/prodTouchscreenPad.png">
                        <p>Touch-screen Keypad</p>
                    </div> <!-- /productWrapper -->
                </div><!-- /col -->
            </div><!-- /productsGrid -->
        </div><!-- /container -->
    </div><!-- /additionalProducts -->

    <div id="cellularUplink">
        <div class="container">
            <div class="halfLeft">
                <h2>Existing Alarm Systems Cellular Uplink Device</h2>
                <h4>Compatible with nearly all existing hardwired business security systems. Cellular connection eliminates the risk of a burglar disconnecting exterior phone lines prior to breaking into business.</h4>
                <p>Easy to install device can be done by the business owner in less than fifteen minutes, regardless of experience.</p>
                <p>Utilizes the wide-spread AT&amp;T cellular network.</p>
                <p>Monthly Monitoring: $29.99</p>
            </div><!-- /halfLeft -->
            <div class="halfRight">
                <p><img width="240" title="Cellular Uplink Device" alt="Cellular Uplink Device" src="http://static.protectamericasecurity.net/img/affiliates/acn/cellularUplinkDevice.png"></p>
            </div><!-- /halfRight -->
        </div><!-- /container --> 
    </div><!-- /cellularUplink -->

{% endblock %}