{% extends "affiliates/five-linx/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}

{% block content %}
    <div id="hero" class="2">
        <div class="container">
            <div id="heroForm">
                {% include "affiliates/five-linx/quote-form.html" with form=forms.basic %}</div><!-- Added this Div because there is one div missing in form -->
            </div><!-- /heroForm -->
            <div class="intro">
                <h1>Home and Business Security Plans for Every Budget</h1>
                <p>No two homes or enterprises are the same. Select the plan that’s perfect for you.</p>
            </div><!-- /intro -->
        </div><!-- /container -->
    </div><!-- /hero -->

    <div class="call-box">
        <p>Get Started Now, Call Today! 1-800-713-0139</p>
    </div><!-- /call-box -->

    <div id="packagesDescription">
        <div class="container">
            <div id="packagesTabs">

                <ul>
                    <li><a href="#tabs-1">Copper</a></li>
                    <li><a href="#tabs-2">Bronze</a></li>
                    <li><a href="#tabs-3">Silver</a></li>
                    <li><a href="#tabs-4">Gold</a></li>
                    <li><a href="#tabs-5">Platinum</a></li>
                </ul>
                <div class="tabsContent">
                    <div id="tabs-1">
                        <div class="halfLeft">
                            <p>The average American home or business has three or less outside doors. Burglars can enter in a number of ways but most break-ins occur through an outside door. The Copper Security package from 5LINX includes three door/window sensors to meet the basic security needs of most homes. This system also features an infrared motion detector for increased interior protection. Ask one of our home security experts how to customize your system with smoke detectors, flood sensors, and interactive cameras.</p>
                            <div class="halfLeft">
                                <ul>
                                    <li>Simon XT Control Panel</li>
                                    <li>3 Door / Window Sensors</li>
                                    <li>1 Motion Detector</li>
                                    <li>Siren &amp; Door Chime</li>
                                </ul>
                            </div><!-- /halfLeft -->
                            <div class="halfRight">
                                <ul>
                                    <li>3 Window Decals</li>
                                    <li>1 Security Yard Sign</li>
                                    <li>Battery Backup</li>
                                </ul>
                            </div><!-- /halfRight -->
                        </div><!-- /halfLeft -->
                        <div class="halfRight">
                            <p><img src="{{ STATIC_URL }}img/products/copper-package/in-the-home.jpg" alt="Cooper Package" title="Cooper Package"></p>
                        </div><!-- /halfRight -->
                    </div><!-- Tab1 -->

                    <div id="tabs-2">
                        <div class="halfLeft">
                            <p>The Bronze Security System is the first of four levels of perimeter protection offered by 5LINX. Designed to provide protection at each point of entry into your home or business, the Bronze Security System is ideal for houses under 1200 square feet. The Bronze Security System includes 6 door/window sensors and a motion detector for use in rooms or hallways. Don't forget to ask one of our security experts how you can customize your system with photoelectric smoke detectors or other great accessories.</p>
                            <div class="halfLeft">
                                <ul>
                                    <li>Simon XT Control Panel</li>
                                    <li>6 Door / Window Sensors</li>
                                    <li>1 Motion Detector</li>
                                    <li>Siren &amp; Door Chime</li>
                                </ul>
                            </div><!-- /halfLeft -->
                            <div class="halfRight">
                                <ul>
                                    <li>3 Window Decals</li>
                                    <li>1 Security Yard Sign</li>
                                    <li>Battery Backup</li>
                                </ul>
                            </div><!-- /halfRight -->
                        </div><!-- /halfLeft -->
                        <div class="halfRight">
                            <p><img src="{{ STATIC_URL }}img/products/bronze-package/in-the-home.jpg" alt="bronze Package" title="bronze Package"></p>
                        </div><!-- /halfRight -->
                    </div><!-- Tab2 -->

                    <div id="tabs-3">
                        <div class="halfLeft">
                            <p>Achieve superior security with the Silver Security System from 5LINX Home Security. This system has 9 door/window sensors, enough to cover every door or window on a home or business less than 2500 square feet. The Silver Security System also includes a motion detector for an added layer of security. Your new alarm system is incredibly easy to customize with smoke detectors, flood sensors, low temperature gauges, and interactive security cameras.</p>
                            <div class="halfLeft">
                                <ul>
                                    <li>Simon XT Control Panel</li>
                                    <li>9 Door / Window Sensors</li>
                                    <li>1 Motion Detector</li>
                                    <li>Siren &amp; Door Chime</li>
                                </ul>
                            </div><!-- /halfLeft -->
                            <div class="halfRight">
                                <ul>
                                    <li>3 Window Decals</li>
                                    <li>1 Security Yard Sign</li>
                                    <li>Battery Backup</li>
                                </ul>
                            </div><!-- /halfRight -->
                        </div><!-- /halfLeft -->
                        <div class="halfRight">
                            <p><img src="{{ STATIC_URL }}img/products/silver-package/in-the-home.jpg" alt="Silver Package" title="Silver Package"></p>
                        </div><!-- /halfRight -->
                    </div><!-- Tab3 -->

                    <div id="tabs-4">
                        <div class="halfLeft">
                            <p>Get the greatest security system in the industry with the Gold Security System from 5LINX. Your new security system features 11 door/window sensors that monitor every point of entry into your home. For an increased sense of security, the Gold Security System also includes a motion detector to be placed in a high-traffic indoor area. The Gold Security System can also be customized to include security accessories like smoke detectors, interactive security cameras, and flood sensors.</p>
                            <div class="halfLeft">
                                <ul>
                                    <li>Simon XT Control Panel</li>
                                    <li>11 Door / Window Sensors</li>
                                    <li>1 Motion Detector</li>
                                    <li>Siren &amp; Door Chime</li>
                                </ul>
                            </div><!-- /halfLeft -->
                            <div class="halfRight">
                                <ul>
                                    <li>3 Window Decals</li>
                                    <li>1 Security Yard Sign</li>
                                    <li>Battery Backup</li>
                                </ul>
                            </div><!-- /halfRight -->
                        </div><!-- /halfLeft -->
                        <div class="halfRight">
                            <p><img src="{{ STATIC_URL }}img/products/gold-package/in-the-home.jpg" alt="Gold Package" title="Gold Package"></p>
                        </div><!-- /halfRight -->
                    </div><!-- Tab4 -->

                    <div id="tabs-5">
                        <div class="halfLeft">
                            <p>Arm yourself with the perfect security technology. The Platinum Security System from 5LINX is the most comprehensive and affordable perimeter protection available in the industry. When you order the Platinum Security System, you'll receive 14 door/windows sensors to protect every entry point to your home or business. The Platinum Security System from 5LINX also includes an infrared motion detector for an added layer of security. Customize your Platinum Security System for your specific security needs by adding interactive security cameras, smoke detectors, and flood sensors.</p>
                            <div class="halfLeft">
                                <ul>
                                    <li>Simon XT Control Panel</li>
                                    <li>14 Door / Window Sensors</li>
                                    <li>1 Motion Detector</li>
                                    <li>Siren &amp; Door Chime</li>
                                </ul>
                            </div><!-- /halfLeft -->
                            <div class="halfRight">
                                <ul>
                                    <li>3 Window Decals</li>
                                    <li>1 Security Yard Sign</li>
                                    <li>Battery Backup</li>
                                </ul>
                            </div><!-- /halfRight -->
                        </div><!-- /halfLeft -->
                        <div class="halfRight">
                            <p><img src="{{ STATIC_URL }}img/products/platinum-package/in-the-home.jpg" alt="Platinum Package" title="Platinum Package"></p>
                        </div><!-- /halfRight -->
                    </div><!-- Tab5 -->

                </div><!-- /container -->
            </div><!-- /packatesTabs -->
        </div><!-- /container -->
    </div><!-- /packagesDescription -->

    <div id="tabs">
        <div class="container">
            <h2>Home Security Packages</h2>
            <ul>
                <li>
                    <div class="package-box-copper">
                        <h2>Copper</h2>
                        <div class="package-blue-strip"><img src="/static/img/affiliates/five-linx/copper.png" title="Copper package" alt="Special $19.99"></div>
                        <p>1 Simon XT control panel</p>
                        <p>3 Door / window sensors</p>
                        <p>1 Motion detector</p>
                        <hr>
                        <p>Monitoring Option:<br><b>Landline</b></p>
                        <hr>
                        <p>No equipment fees</p>
                        <p>No activation fees</p>
                        <hr>
                        <p><a href="/order/">Order Now</a></p>
                    </div>
                </li>
                <li>
                    <div class="package-box-bronze">
                        <h2>Bronze</h2>
                        <div class="package-blue-strip"><strong>$35.99</strong> <small>monthly</small></div>
                        <p>1 Simon XT control panel</p>
                        <p>6 Door / window sensors</p>
                        <p>1 Motion detector</p>
                        <hr>
                        <p>Monitoring Option:<br><b>Landline</b></p>
                        <hr>
                        <p>No equipment fees</p>
                        <p>No activation fees</p>
                        <hr>
                        <p><a href="/order/">Order Now</a></p>
                    </div>
                </li>
                <li class="package-box-silver">
                    <div class="package-box-silver">
                        <h2>Silver</h2>
                        <div class="package-blue-strip"><strong>$37.99</strong> <small>monthly</small></div>
                        <p>1 Simon XT control panel</p>
                        <p>9 Door / window sensors</p>
                        <p>1 Motion detector</p>
                        <hr>
                        <p>Monitoring Option:<br><b>Landline</b></p>
                        <hr>
                        <p>No equipment fees</p>
                        <p>No activation fees</p>
                        <hr>
                        <p><a href="/order/">Order Now</a></p>
                    </div>
                </li>
                <li>
                    <div class="package-box-gold">
                        <h2>Gold</h2>
                        <div class="package-blue-strip"><strong>$39.99</strong> <small>monthly</small></div>
                        <p>1 Simon XT control panel</p>
                        <p>11 Door / window sensors</p>
                        <p>1 Motion detector</p>
                        <hr>
                        <p>Monitoring Option:<br><b>Landline</b></p>
                        <hr>
                        <p>No equipment fees</p>
                        <p>No activation fees</p>
                        <hr>
                        <p><a href="/order/">Order Now</a></p>
                    </div>
                </li>
                <li>
                    <div class="package-box-platinum">
                        <h2>Platinum</h2>
                        <div class="package-blue-strip"><strong>$42.99</strong> <small>monthly</small></div>
                        <p>1 Simon XT control panel</p>
                        <p>14 Door / window sensors</p>
                        <p>1 Motion detector</p>
                        <hr>
                        <p>Monitoring Option:<br><b>Landline</b></p>
                        <hr>
                        <p>No equipment fees</p>
                        <p>No activation fees</p>
                        <hr>
                        <p><a href="/order/">Order Now</a></p>
                    </div>
                </li>
            </ul>
        </div><!-- /container -->
    </div><!-- /tabs -->

    <div id="monitoringOptions">
        <div class="container">
            <h2>Monitoring Options</h2>
            <div class="oneThird landlineMonitoring">
                <div class="whiteBox">
                    <h4 class="sprite">Landline</h4>
                    <p class="monitoringDescription">The standard connection for most security systems. Landline monitoring simply connects right into your current phone line. This is the perfect solution for a home or business that is in a cell dead-zone or lacks high speed internet.</p>
                    <p class="price">Included with Standard Packages</p>
                </div><!-- /whiteBox -->
            </div><!-- /col-4 -->
            <div class="oneThird broadbandMonitoring">
                <div class="whiteBox">
                    <h4 class="sprite">Broadband</h4>
                    <p class="monitoringDescription">No phone? No problem. Use your modem or router to connect to the monitoring facility instead. This high-speed option is remarkably fast! The signal from your home or business to our monitoring facility is received within 2 seconds.</p>
                    <p class="price">Only $8 Extra Per Month</p>
                </div><!-- /whiteBox -->
            </div><!-- /col-4 -->
            <div class="oneThird cellularMonitoring">
                <div class="whiteBox">
                    <h4 class="sprite">Cellular</h4>
                    <p class="monitoringDescription">This is a completely wireless solution. Simply plug the command station into a power outlet and everything else is completely wireless. No landline phone or internet is required since all communication is via cellular towers.</p>
                    <p class="price">Only $12 Extra Per Month</p>
                </div><!-- /whiteBox -->
            </div><!-- /col-4 -->
        </div><!-- /container -->
    </div><!-- /monitoringOptions -->

    <div id="additionalProducts">
        <div class="container">
            <h2 class="title">Additional Products</h2>
            <div class="productsGrid">
                <div class="col">
                    <div class="productWrapper">
                        <img title="Door/Window Sensor" alt="Door/Window Sensor" src="{{ STATIC_URL }}img/affiliates/acn/productDoorSensor.png">
                        <p>Door/Window Sensor</p>
                    </div> <!-- /productWrapper -->
                </div><!-- /col -->
                <div class="col">
                    <div class="productWrapper">
                        <img title="Panic Pendant" alt="Panic Pendant" src="{{ STATIC_URL }}/img/affiliates/acn/productPanic.png">
                        <p>Panic Pendant</p>
                    </div> <!-- /productWrapper -->
                </div><!-- /col -->
                <div class="col">
                    <div class="productWrapper">
                        <img title="Video Camera" alt="Video Camera" src="{{ STATIC_URL }}img/affiliates/acn/prodVideoCamera.png">
                        <p>Video Camera</p>
                    </div> <!-- /productWrapper -->
                </div><!-- /col -->
                <div class="col">
                    <div class="productWrapper">
                        <img title="Motion Detector" alt="Motion Detector" src="{{ STATIC_URL }}img/affiliates/acn/prodMotionDetector.png">
                        <p>Motion Detector</p>
                    </div> <!-- /productWrapper -->
                </div><!-- /col -->
                <div class="col">
                    <div class="productWrapper">
                        <img title="Extra Key Pad" alt="Extra Key Pad" src="{{ STATIC_URL }}img/affiliates/acn/prodExtraKeyPad.png">
                        <p>Extra Key Pad</p>
                    </div> <!-- /productWrapper -->
                </div><!-- /col -->
                <div class="col">
                    <div class="productWrapper">
                        <img title="Sign" alt="Sign" src="{{ STATIC_URL }}img/affiliates/acn/prodSign.png">
                        <p>Sign</p>
                    </div> <!-- /productWrapper -->
                </div><!-- /col -->

                <div class="col">
                    <div class="productWrapper">
                        <img title="Glass Break Detector" alt="Glass Break Detector" src="{{ STATIC_URL }}img/affiliates/acn/prodGlassBreakDetector.png">
                        <p>Glass Break Detector</p>
                    </div> <!-- /productWrapper -->
                </div><!-- /col -->
                <div class="col">
                    <div class="productWrapper">
                        <img title="Keychain Remote" alt="Keychain Remote" src="{{ STATIC_URL }}img/affiliates/acn/prodKeyChainRemote.png">
                        <p>Keychain Remote</p>
                    </div> <!-- /productWrapper -->
                </div><!-- /col -->
                <div class="col">
                    <div class="productWrapper">
                        <img title="Overhead Garage Sensor" alt="Overhead Garage Sensor" src="{{ STATIC_URL }}img/affiliates/acn/garageSensor.png">
                        <p>Overhead Garage Sensor</p>
                    </div> <!-- /productWrapper -->
                </div><!-- /col -->
                <div class="col">
                    <div class="productWrapper">
                        <img title="Solar Sign" alt="Solar Sign" src="{{ STATIC_URL }}img/affiliates/acn/prodSolarSign.png">
                        <p>Solar Sign</p>
                    </div> <!-- /productWrapper -->
                </div><!-- /col -->
                <div class="col">
                    <div class="productWrapper">
                        <img title="Smoke Detector" alt="Smoke Detector" src="{{ STATIC_URL }}img/affiliates/acn/prodSmokeDetector.png">
                        <p>Smoke Detector</p>
                    </div> <!-- /productWrapper -->
                </div><!-- /col -->
                <div class="col">
                    <div class="productWrapper">
                        <img title="Low Temperature Sensor" alt="Low Temperature Sensor" src="{{ STATIC_URL }}img/affiliates/acn/prodLowTemperatureSensor.png">
                        <p>Low Temperature Sensor</p>
                    </div> <!-- /productWrapper -->
                </div><!-- /col -->


                <div class="col">
                    <div class="productWrapper">
                        <img title="GPS Module" alt="GPS Module" src="{{ STATIC_URL }}img/affiliates/acn/prodGPSModule.png">
                        <p>GPS Module</p>
                    </div> <!-- /productWrapper -->
                </div><!-- /col -->

                <div class="col">
                    <div class="productWrapper">
                        <img title="Flood Detector" alt="Flood Detector" src="{{ STATIC_URL }}img/affiliates/acn/prodFloodDetector.png">
                        <p>Flood Detector</p>
                    </div> <!-- /productWrapper -->
                </div><!-- /col -->
                <div class="col">
                    <div class="productWrapper">
                        <img title="Touch-screen Keypad" alt="Touch-screen Keypad" src="{{ STATIC_URL }}img/affiliates/acn/prodTouchscreenPad.png">
                        <p>Touch-screen Keypad</p>
                    </div> <!-- /productWrapper -->
                </div><!-- /col -->
            </div><!-- /productsGrid -->
        </div><!-- /container -->
    </div><!-- /additionalProducts -->

    <div id="cellularUplink">
        <div class="container">
            <div class="halfLeft">
                <h2>Existing Alarm Systems Cellular Uplink Device</h2>
                <h4>This technology is compatible with nearly all existing hardwired security systems. Cellular connection eliminates the risk of a burglar disconnecting exterior phone lines prior to breaking into business.</h4>
                <p>The easily-installed device can be placed by the home or business owner in less than fifteen minutes, regardless of experience level.</p>
                <p>Utilizes the wide-spread AT&amp;T cellular network.</p>
                <p>Monthly Monitoring: $29.99</p>
            </div><!-- /halfLeft -->
            <div class="halfRight">
                <p><img width="240" title="Cellular Uplink Device" alt="Cellular Uplink Device" src="{{ STATIC_URL }}img/affiliates/acn/cellularUplinkDevice.png"></p>
            </div><!-- /halfRight -->
        </div><!-- /container --> 
    </div><!-- /cellularUplink -->

{% endblock %}