{% extends "affiliates/five-linx/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}

{% block content %}
<div id="supportInfo">
	<div class="container">
		<h2>We're here to help.</h2>
		<div class="halfLeft">
            <h4>If you have any questions or concerns about your 5LINX security system, don’t hesitate to contact us. Our customer support staff is specially trained to help you with any issue concerning your home or business alarm system.</h4>
            <hr>
            <h3>Customer Support Hours:</h3>
            <p>Mon - Fri: 8:00am - 9:00pm CT<br>
			Sat: 9:00am - 7:00pm CT<br>
			Sun: 9:00am - 7:00pm CT</p>
        </div><!-- /halfLeft -->

        <div class="halfRight">
			<a target="blank" id="online-chat-button" href="https://server.iad.liveperson.net/hc/34774121/?cmd=file&amp;file=visitorWantsToChat&amp;site=34774121&amp;byhref=1" class="primaryBtn noBgBtn"><div class="halfLeft chat">
                <img title="Online chat" alt="Online chat" src="{{ STATIC_URL }}img/affiliates/five-linx/chat.png">
	        	<h3>Online Chat:</h3>
	            <p>Click here <i class="arrowIcon sprite"></i></p>
        	</div></a><!-- /halfLeft -->
			<a onclick="_gaq.push(['_trackEvent', 'Phone Call Click', 'Top Call', 'support']);" class="phonenumber" href="tel:1-800-951-5111"><div class="halfRight care">
                <img title="Customer CARE" alt="Customer CARE" src="{{ STATIC_URL }}img/affiliates/five-linx/call.png">
	        	<h3>Customer CARE:</h3>
	            <h2>1-800-951-5111</h2>
        	</div></a><!-- /halfRight -->
        </div><!-- /halfright -->

	</div><!-- /container -->
</div><!-- /supportInfo -->

<div id="faqs">
	<div class="container">
		<h2>FAQ’s</h2>

				<div class="col">
                    <div class="faq">
                        <h3>Who is Protect America?</h3>
                        <div class="faqAnswer" style="display: none;">
                            <p>Protect America has been one of the nation’s top security companies for over 20 years. The company has protected over half a million homes and business in the United States and Canada. Protect America is a pioneer of wireless home security and has revolutionized the industry by enabling homeowners everywhere to affordably defend themselves with innovative technology.</p>
                        </div><!-- /faqAnswer -->
                    </div><!-- /faq -->

                    <div class="faq">
                        <h3>Why Protect America?</h3>
                        <div class="faqAnswer">
                            <p>Deciding on the right security company can be a tough decision. Our goal is to make it easy to choose the right solution by offering products tailored to your home or business. Protect America technology is affordable, user-friendly and flexible – the perfect combination. No two homes or businesses are the same, so the company’s security experts are diligently trained to listen and learn about your situation before making the best recommendations.</p>
                        </div><!-- /faqAnswer -->
                    </div><!-- /faq -->

                    <div class="faq">
                        <h3>What do I need in order to get Protect America service?</h3>
                        <div class="faqAnswer">
                            <p>You, as the purchaser, are required to pass a standard credit check. You’ll then formally agree to a 36-month monitoring agreement and must have access to a computer to e-sign the contract. Payment via credit, debit, checking or savings account is accepted. We also require that you not be under contract with any other security provider.</p>
                        </div><!-- /faqAnswer -->
                    </div><!-- /faq -->

                    <div class="faq">
                        <h3>Do you offer residential and commercial systems?</h3>
                        <div class="faqAnswer">
                            <p>Absolutely. The wireless nature of this security technology is designed to secure any structure whether it is residential or a business.</p>
                        </div><!-- /faqAnswer -->
                    </div><!-- /faq -->
                    
                    <div class="faq">
                        <h3>What if I have an existing system?</h3>
                        <div class="faqAnswer">
                            <p>A Protect America representative can verify if we can take over your existing alarm system.</p>
                        </div><!-- /faqAnswer -->
                    </div><!-- /faq -->
                    

                    <div class="faq">
                        <h3>How do I place an order?</h3>
                        <div class="faqAnswer">
                            <p>Call the designated 5LINX toll free number 800-713-0139 and speak to a Protect America security expert. Make sure you’re in front of a computer, tablet, or smart phone to easily place payment and e-sign the agreement.</p>
                        </div><!-- /faqAnswer -->
                    </div><!-- /faq -->

                    <div class="faq">
                        <h3>How does the installation process work?</h3>
                        <div class="faqAnswer">
                            <p>Your Protect America security package will be shipped directly to you. Upon receipt, simply call the customer installation department at 800-951-5111 number, option 3. A security expert will walk you through the installation process which takes about 30 to 45 minutes on average.</p>
                        </div><!-- /faqAnswer -->
                    </div><!-- /faq -->

                    <div class="faq">
                        <h3>What if I decide to cancel my order?</h3>
                        <div class="faqAnswer">
                            <p>Once you sign the monitoring agreement, you are responsible for the entire length of the contract. However, a new customer has 14 days from the original shipment date to cancel their service with Protect America. There is a $79.00 restocking fee within the first 14 days.</p>
                        </div><!-- /faqAnswer -->
                    </div><!-- /faq -->
                </div><!-- /col -->


	</div><!-- /container -->
</div><!-- /faqs -->

{% endblock %}

{% block page_title %}Order Your Home Security System | Home Security Packages | Protect America Home Security{% endblock %}

{% block subnav %}
{% endblock %}

