{% extends "affiliates/five-linx/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}

{% block content %}
<div id="thank-you-top">
    <div id="thank-you-img">
        <img src="{{ STATIC_URL }}img/thank-you-pages/excited-woman.jpg" />
    </div>
    <div id="thank-you-content">
        <h1>Go Ahead, Get Excited!</h1>
        <h2>You are one step closer to 
        securing your home!</h2>
        <p>Thanks for choosing 5LINX Home Security for your family's security. We've received your request for a free security quote and one of our security professionals will be contacting you within 24 hours. In the meantime, you can always call us directly at 1-800-713-0139. When you do, be sure to ask about our Lowest Price Guarantee that ensures your family is well-protected at an affordable price.</p>
    </div>

</div>
<div class="clear"></div>
<div id="what-next">
    <h2>What's Next:</h2>
    <div id="security-professional">
        <img src="{{ STATIC_URL }}img/thank-you-pages/security-professional.png" alt="Security Professional will contact you within 24 Hours"  />
        <h3>Step One:</h3>
        <p>A Security Professional will contact you within 24 hours</p>
    </div>
    <div id="build-system">
        <img src="{{ STATIC_URL }}img/thank-you-pages/house-blueprint.png" alt="A Free Security System that fits your Home and Budget"  />
        <h3>Step Two:</h3>
        <p>Together we will create your free system that fits your home and budget</p>
    </div>
    <div id="secured-home">
        <img src="{{ STATIC_URL }}img/thank-you-pages/secured-home.jpg" alt="Home Security in 7 - 10 Days" />
        <h3>Step Three:</h3>
        <p>Your home will be secured and protected within 7 - 10 days</p>

    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>


{% endblock %}
{% block conversation-piece %}
{% endblock %}