{% extends "affiliates/five-linx/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}
{% block content %}
<div id="hero">
    <div class="container">
        <div class="intro">
            <h1>Go Ahead, Get Excited!</h1>
            <p>You are one step closer to your new home security system! Thanks for choosing 5LINX Security for your alarm system needs. We've received your request for a free security quote and one of our security professionals will be contacting you within 24 hours. In the meantime, you can always call us directly at 1-800-713-0139. When you do, be sure to ask about our Lowest Price Guarantee that ensures your family is well-protected at an affordable price.</p>
        </div><!-- /intro -->
    </div><!-- /container -->
</div><!-- /hero -->

<div class="call-box">
    <p>Get Started Now, Call Today! 1-800-713-0139</p>
</div><!-- /call-box -->

<div id="securitySysFeatures">
    <div class="container">
        <ul>
            <li>
                <h3><i class="icon-home"></i>Simply Peace of Mind</h3>
                <p>Our systems provide state-of-the-art 24/7 security so you don't have to worry about a thing.</p>
            </li>
            <li class="mobile">
                <h3><i class="icon-rss"></i>Easy Wireless Set-Up</h3>
                <p>Our wireless security systems make installation a snap without holes or destruction to your home.</p>
            </li>
            <li class="alt">
                <h3><i class="icon-money"></i>The Best Price, Period</h3>
                <p>The equipment is included, there are no activation fees, and our alarm monitoring starts at $19.99 per month.</p>
            </li>

            <li class="mobile">
                <h3><i class="icon-user"></i>Security Designed for your Life</h3>
                <p>Each system is built to fit you, including options like: home automation, fire protection, and iPhone control.</p>
            </li>
            <li class="mobile">
                <h3><i class="icon-thumbs-up"></i>Saving You More</h3>
                <p>Home security is good you and your pocket. Save up to 20% on your homeowners insurance with a home security system.</p>
            </li>
            <li class="alt">
                <h3><i class="icon-heart"></i>Committed To You</h3>
                <p>For the past 20 years, Protect America is proud to protect over half a million homes all across the country.</p>
            </li>
        </ul>
    </div><!-- /container -->
</div><!-- /securitySysFeatures -->

{% endblock %}


{% block conversation-piece %}
{% endblock %}