{% extends "affiliates/centerfield-media/fluid-index.html" %}
{% block google_experiment %}
<!-- Google Analytics Content Experiment code -->
<script> 
_udn = "protectamerica.com";
</script>
{% endblock %}
{% block hero-content %}
    <h3 style="font-size:20px; line-height:30px;">We have tested the system ourselves and Protect America has the quickest response time (from when alarm goes off to when they call you) out of any company.  Low prices, 20+ year history add to the resume as well.
        <img src="{{ STATIC_URL }}img/affiliates/centerfield-media/quote-arrow.png" class="quote-arrow" alt="quote-arrow" width="32" height="16" /></h3>
    <p style="padding-bottom:8px;">&mdash; alarm-reviews.net</p>
{% endblock %}

{% block bottom-content %}
        <h2>Protect America "delivers superior protection"</h2>
        <p>No company can match Protect America’s affordability and quality. Just listen to Tiffany, one of the Best-Home-Security-Companies.com users said, "Protect America home security company is by far the best I have ever had. Their reliable customer service, plan options and great reputation have never made me consider giving them up for another security company. I proudly renew with them every year, because I know with them I am well protected and well covered and that is all I need to worry about."</p>
{% endblock %}

{% block hero-badges %}
{% endblock %}