{% extends "affiliates/acn/base.html" %}
    {% block content %}
            <div class="businessSecuirity section">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        	<h2>Premium Security System</h2>
                        	<p>This technology connects via our Interactive Broadband Monitoring and plugs right into your current high speed internet connection. This lends itself to lightning quick reaction times.</p>
							<p>Free access to our interactive services allows you to monitor your business from anywhere with your smartphone, tablet or personal computer.</p>
                            <hr>
							<h4>Easy to Use Wireless Security</h4>
							<p>Keep your Business safe and secure day and night.</p>

							<h4>Lifetime Replacement Parts Warranty</h4>
							<p>If anything breaks or malfunctions, we'll replace it for free &mdash; including batteries.</p>

							<p><a href="{% url packages %}" class="primaryBtn noBgBtn">Learn More About Our Packages <i class="arrowIcon sprite"></i></a></p>
                        </div><!-- /col -->
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        	<img src="{{ STATIC_URL }}img/affiliates/acn/BusinessSecuritySystem.jpg" alt="ACN Business Security System" title="ACN Business Security System">
                        </div><!-- /col -->
                    </div><!-- /row -->
                </div><!-- /container -->
            </div><!-- /businessSecuirity -->


            <div id="videoSurveillance" class="videoSurveillance section">
                <div class="container" id="video">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        	<img src="{{ STATIC_URL }}img/affiliates/acn/ACNVideoSurveillance.png" alt="ACN Business Security System" title="ACN Business Security System">
                        </div><!-- /col -->
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        	<h2>Video Surveillance</h2>
                        	<p>Our video services enable you to keep an eye on your business from anywhere in the world. These interactive video cameras help prevent against burglary, employee theft and vandalism. Watching your home or business is just a click away with interactive video security.</p>

							<p>Get a clear picture 24/7 with on-demand video from our security systems. These video cameras enhance your security with smartphone notifications, archived clips, and automatic recording to cloud storage when an alarm is triggered. Reassurance is just a quick click away with this novel security video service.</p>

							<p><a href="{% url packages %}" class="primaryBtn noBgBtn">Learn More About Our Packages <i class="arrowIcon sprite"></i></a></p>
                        </div><!-- /col -->
                    </div><!-- /row -->
                </div><!-- /container -->
            </div><!-- /businessSecuirity -->


            <div id="gpsTracking" class="gpsTracking section">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        	<h2>GPS Vehicle Tracking</h2>
                        	<p>Our Security Systems allows you to locate and follow your vehicles online with real-time GPS vehicle tracking.

							<p>Keep a "virtual eye" on your vehicle through its intuitive web interface. You can set up or system to send you text &amp; email notifications about speeding alerts and “off limits” alerts.</p>

							<p>Tracking via satellite provides you with the safety and security of knowing where your vehicles are at all times.</p>

							<p><a href="{% url packages %}" class="primaryBtn noBgBtn">Learn More About Our Packages <i class="arrowIcon sprite"></i></a></p>
                        </div><!-- /col -->
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        	<img src="{{ STATIC_URL }}img/affiliates/acn/ACNgpsTracking.png" alt="ACN GPS Tracking" title="ACN GPS Tracking">
                        </div><!-- /col -->
                    </div><!-- /row -->
                </div><!-- /container -->
            </div><!-- /businessSecuirity -->
{% endblock %}