{% extends "base.html" %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">



        {% block css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/affiliates/acn/bootstrap.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/affiliates/acn/flexslider.css" type="text/css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/affiliates/acn/styles.css">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        {% endblock %}


    </head>
    <body>
    {% block header %}
        <div class="mainContainer">

            <div class="headerPhone inverse">
                <div class="container">
                    <div class="row">
                        <p>CALL NOW TO ORDER <span>800-867-0151</span></p>
                    </div><!-- /row -->
                </div><!-- /container -->
            </div><!-- /headerPhone -->

            <div id="header" class="inverse">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-9 col-sm-4 col-md-6 col-lg-7">
                            <div class="logoWrapper">
                                <h1><a href="{% url home %}" title="ACN Business Security"><img src="{{ STATIC_URL }}img/affiliates/acn/ProtectAmericaForACN.png" alt="ACN" title="ACN" width="380"></a></h1>
                            </div><!-- /logoWrapper -->
                        </div>

                        <div class="col-xs-3 visible-xs">
                            <div id="mobileBlogNavTrigger">
                                <i></i>
                                <i></i>
                                <i></i>
                                <i></i>
                            </div>
                        </div>
                        <div class="col-sm-8 col-md-6 col-lg-5 mobileClear">
                                <div class="nav">
                                    {% block navigation %}
                                    <ul id="mainNav">
                                        <li><a href="{% url home %}">Home</a></li>
                                        <li><a href="{% url features %}">Features</a></li>
                                        <li><a href="{% url packages %}">Packages</a></li>
                                        <li><a href="{% url order %}">Order</a></li>
                                        <li><a href="{% url support %}">Support</a></li>
                                    </ul>
                                    {% endblock %}
                                </div><!-- /nav -->
                        </div>
                    </div><!-- /row -->
                </div><!-- /container -->
            </div><!-- /header -->
            {% endblock %}


            {% block content %}
            <div class="hero section inverse">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="heroIntroWrapper">
                                <h1>Because You Don’t Have Eyes in the Back of Your Head.</h1>
                                <h3>We are the extra eyes for your business.</h3>
                                <p><a class="primaryBtn noBgBtn" href="{% url packages %}">See our business security packages <i class="arrowIcon sprite"></i></a></p>
                            </div><!-- /heroIntro -->
                        </div><!--  /leftCol -->
                        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 col-md-offset-1 col-lg-offset-1">
                            <div class="formWrapper mobileSection">
                                <p class="form-title">Order Now</p>
                                {% include "order/quote-form-refresh.html" with form=forms.basic %}
                            </div><!-- /formWrapper -->
                        </div><!-- /RightCol -->
                    </div><!-- /row -->
                </div><!-- /container -->
            </div><!-- /hero -->

            <div class="call-box center inverse section">
            Get Started Now, Call Today! 800-867-0151
            </div>

            <div class="highlights center section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2"><h2 class="center"><a href="{% url packages %}">We Offer Reliable Business Security Systems That Are Easy To Use At An Affordable Price.</a></h2>
                        </div>
                        <div class="clearRow">&nbsp;</div>
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <div class="sprite hl247"></div>
                            <h3>24/7 Security Protection</h3>
                            <p>Keep your business safe &amp; secure day and night.<br></p>
                        </div><!-- /col-lg-3 -->
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <div class="sprite hlUnbeatablePrice"></div>
                            <h3>Unbeatable Low Price</h3>
                            <p>Dollars go further without loss of security.</p>
                        </div><!-- /col-lg-3 -->
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <div class="sprite hlSimpleWireless"></div>
                            <h3>Simple Wireless Security</h3>
                            <p>No holes and no drilling, just peace of mind.</p>
                        </div><!-- /col-lg-3 -->
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <div class="sprite hlBudget"></div>
                            <h3>Plans For Every Budget</h3>
                            <p>Our plans adapt to your business needs.</p>
                        </div><!-- /col-lg-3 -->
                    </div><!-- /row -->
                    <hr >
                    <div class="row clearRow">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <div class="sprite hlInteractiveSecSys"></div>
                            <h3>Interactive Security System</h3>
                            <p>Use your smartphone or computer to watch your business.</p>
                            <p><a href="{% url features %}">Learn More</a></p>
                        </div><!-- /col-lg-3 -->
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <div class="sprite hlVideo"></div>
                            <h3>Video Surveillance</h3>
                            <p>Keep your business safe &amp; secure day and night.</p>
                            <p><a href="{% url features %}#videoSurveillance">Learn More</a></p>
                        </div><!-- /col-lg-3 -->
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <div class="sprite hlGPS"></div>
                            <h3>GPS Vehicle Tracking</h3>
                            <p>Dollars go further without loss of security.</p>
                            <p><a href="{% url features %}#gpsTracking">Learn More</a></p>
                        </div><!-- /col-lg-3 -->
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <div class="sprite hlGetInTouch"></div>
                            <h3>Get in Touch</h3>
                            <p>We'll help determine which package best meets your needs.</p>
                            <p><a href="{% url order %}">Contact Us</a></p>
                        </div><!-- /col-lg-3 -->
                    </div><!-- /row -->
                </div><!-- /container -->
            </div><!-- /highlights -->


            <div class="aboutPA section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2>About Protect America</h2>
                        </div><!-- /col -->
                        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
                            <h4>Founded in 1992 by Thad Paschall, Protect America Inc. has protected over 100,000 active business customers nationwide. Over the past 20 years, Protect America has revolutionized the business security industry; making it easy to protect your business with quality security products at an affordable price.</h4>
                            <hr>
                            <p>As one of the fastest growing business security companies nationwide, we use cutting-edge computer technology to provide instantaneous product support and 24-hour protection of your home and family.</p>
                            <p>Among other home security companies, Protect America, Inc. has ranked in the Top 10 in volume of residential security system installations for the last three years according to SDM Magazine.</p>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 col-md-offset-1 col-lg-offset-1">
                            <p>We work hard to earn and keep your business every day, and people are taking notice. We very proud to be ranked #1 from many home security review sites including: Best Home Security Companys, HomeSecuritySystems.net, and Top Consumer Reviews.</p>
                            <div class="halfCol"><img src="{{ STATIC_URL }}img/affiliates/acn/consumerDigestLogo.jpg"></div>
                            <div class="halfCol"><img src="{{ STATIC_URL }}img/affiliates/acn/bestHomeSecurityCompanys.jpg"></div>
                            <div class="halfCol"><img src="{{ STATIC_URL }}img/affiliates/acn/topConsumerReviews.jpg"></div>
                            <div class="halfCol"><img src="{{ STATIC_URL }}img/affiliates/acn/homeSecuritySystemsNet.jpg"></div>
                            <p class="smallText">The BEST BUY SEAL is a registered trademark of Consumers Digest Communications, LLC, used under license.</p>
                        </div>
                    </div><!-- /row -->
                </div><!-- /container -->
            </div><!-- /highlights -->

            <div class="contactFooter section">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
                            <h2>Get in Touch</h2>
                            <p>We are available to offer you assistance concerning any questions you might have about our business security systems.</p>
                            <p>Give us a call to start your discussion about the security choice for your business today.</p>
                            <p>One of our security experts will help determine which package best meets your needs.</p>
                            <p class="orCall">Or Call:<span class="phone">800-867-0151</span></p>
                        </div><!-- /col -->

                        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 col-md-offset-1 col-lg-offset-1">
                            <div class="formWrapper mobileSection">
                                <p class="form-title">Order Now</p>
                                {% include "order/quote-form-refresh.html" with form=forms.basic %}
                            </div><!-- /formWrapper -->
                        </div><!-- /col -->
                    </div><!-- /row -->
                </div><!-- /container -->
            </div><!-- /contactFooter -->


            <div id="footer" class="footerPhone section inverse center">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-7">
                            <ul class="footerNav">
                                <li><a href="{% url home %}">Home</a></li>
                                <li><a href="{% url features %}">Security System Features</a></li>
                                <li><a href="{% url packages %}">Packages</a></li>
                                <li><a href="{% url order %}">Order</a></li>
                                <li><a href="{% url order %}">Support</a></li>
                            </ul>
                        </div><!-- /col -->
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-5">
                           <p>CALL TO ORDER NOW:<br><span>800-867-0151</span></p>
                       </div><!-- /col -->
                    </div><!-- /row -->
                </div><!-- /container -->
            </div><!-- /footer -->

            <!-- ScrollBubble -->
            <div id="scrollBubble"><p class="sprite">Scroll</p></div>

        </div><!-- /mainContainer -->
        <!-- jquery -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}js/affiliates/acn/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}js/affiliates/acn/jquery.flexslider-min.js"></script>
        <script src="http://static.protectamericasecurity.net/js/placeholder.js"></script>
        <script type="text/javascript" charset="utf-8">
            $(window).load(function() {
                $('.flexslider').flexslider();
            });
            $( "#mobileBlogNavTrigger" ).click(function() {
              $( "#mainNav" ).toggle( "fast" );
            });
            $( window ).scroll(function() {
                $( "#scrollBubble" ).fadeOut( "slow" );
            });
        </script>
    {% endblock %}
{% block main-footer %}{% endblock %}
{% block terms %}{% endblock %}
    </body>
</html>
