{% extends "affiliates/acn/base.html" %}
{% block content %}
<div class="section orderHero">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="{{ STATIC_URL }}img/affiliates/acn/call-center_women-focus.jpg" alt="Order Protect America" title="Order Protect America">
            </div>
            <div class="col-lg-6">
                <h2>Call Us to Order by Phone</h2>
                <h3>Speak with a business security representative now!</h3>
                <h2>800-867-0151</h2>
            </div>
        </div><!-- /row -->
    </div><!-- /container -->
</div><!-- /hero -->

<div class="contactFooter section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Or, let us call you</h2>
                <p>Submit your contact information below and a home security representative will contact you shortly.</p>
            </div><!-- /col -->

            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
                <div class="formWrapper mobileSection">
                    {% include "affiliates/acn/_partials/quote-form.html" with form=forms.basic %}
                </div><!-- /formWrapper -->
            </div><!-- /col -->
        </div><!-- /row -->
        <div class="row">
            <div class="col-lg-12">
                <hr>
                <h2>Get your Business Security System Today.</h2>
                <h3>There's No Reason to Wait.</h3>
                <p>We are available to offer you assistance concerning any questions you might have about our business security systems.</p>
                <p>Give us a call to start your discussion about the security choice for your business today.</p>
                <p>One of our security experts will help determine which package best meets your needs.</p>
                <hr>
                <h4>Have Questions? Ready to Learn More?</h4>
                <h5>Our Business Security Representatives Can Help!</h5>
                <p>Call Now:<span class="phone">800-867-0151</span></p>
            </div><!-- /col -->
        </div><!-- /row -->
    </div><!-- /container -->
</div><!-- /contactFooter -->
{% endblock %}
