{% extends "affiliates/acn/base.html" %}

{% block content %}
            <div id="premiumBusinessPackage" class="premiumBusinessPackage section">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6  col-md-6 col-lg-5">
                            <h2 class="title">Premium Business Package</h2>
                                <ul>
                                    <li>2 Door Sensors</li>
                                    <li>GE Control Panel</li>
                                    <li>1 Interactive Video Camera</li>
                                    <li>1 Glass Break Detector</li>
                                    <li>Battery Backup</li>
                                    <li>3 Window Decals</li>
                                    <li>Broadband Interactive Monitoring</li>
                                </ul>
                                <h3>
                                    One-Time Equipment Fee: $99<br>
                                    Monthly Monitoring: $46.99<br>
                                    No Installation Fees
                                </h3>
                        </div><!-- /col -->
                        <div class="col-sm-6 col-md-6 col-lg-6 center">
                            <img class="premiumBusinessPackageImage" src="{{ STATIC_URL }}img/affiliates/acn/ACNbusinessPremiumPackage.jpg" alt="ACN Premium Business Package" title="ACN Premium Business Package" width="440">
                        </div><!-- /col -->
                    </div><!-- /row -->
                </div><!-- /container -->
            </div><!-- /premiumBusinessPackage -->


            <div class="call-box center inverse section">
            Get Started Now, Call Today! 800-867-0151
            </div>



            <div class="packagesTable section">
                <div class="container">
                    <div class="row">
                        <div>
                            <div class="col-lg-12">
                                <h2 class="title">Other Business Packages</h2>
                            </div><!-- /col -->
                            <div id="tabs">
                                <ul>
                                    <li>
                                        <div class="package-box-copper">
                                            <h2>Copper</h2>
                                            <div class="package-blue-strip"><strong>$19.99</strong> <small>monthly</small></div>
                                            <p>1 Simon XT control panel</p>
                                            <p>3 Door / window sensors</p>
                                            <p>1 Motion detector</p>
                                            <hr>
                                            <p>Monitoring Option:<br><b>Landline</b></p>
                                            <hr>
                                            <p>No equipment fees</p>
                                            <p>No activation fees</p>
                                            <hr>
                                            <p><a href="{% url order %}">Order Now</a></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="package-box-bronze">
                                            <h2>Bronze</h2>
                                            <div class="package-blue-strip"><strong>$35.99</strong> <small>monthly</small></div>
                                            <p>1 Simon XT control panel</p>
                                            <p>7 Door / window sensors</p>
                                            <p>1 Motion detector</p>
                                            <hr>
                                            <p>Monitoring Option:<br><b>Landline</b></p>
                                            <hr>
                                            <p>No equipment fees</p>
                                            <p>No activation fees</p>
                                            <hr>
                                            <p><a href="{% url order %}">Order Now</a></p>
                                        </div>
                                    </li>
                                    <li class="package-box-silver">
                                        <div class="package-box-silver">
                                            <h2>Silver</h2>
                                            <div class="package-blue-strip"><strong>$37.99</strong> <small>monthly</small></div>
                                            <p>1 Simon XT control panel</p>
                                            <p>10 Door / window sensors</p>
                                            <p>1 Motion detector</p>
                                            <hr>
                                            <p>Monitoring Option:<br><b>Landline</b></p>
                                            <hr>
                                            <p>No equipment fees</p>
                                            <p>No activation fees</p>
                                            <hr>
                                            <p><a href="{% url order %}">Order Now</a></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="package-box-gold">
                                            <h2>Gold</h2>
                                            <div class="package-blue-strip"><strong>$39.99</strong> <small>monthly</small></div>
                                            <p>1 Simon XT control panel</p>
                                            <p>12 Door / window sensors</p>
                                            <p>1 Motion detector</p>
                                            <hr>
                                            <p>Monitoring Option:<br><b>Landline</b></p>
                                            <hr>
                                            <p>No equipment fees</p>
                                            <p>No activation fees</p>
                                            <hr>
                                            <p><a href="{% url order %}">Order Now</a></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="package-box-platinum">
                                            <h2>Platinum</h2>
                                            <div class="package-blue-strip"><strong>$42.99</strong> <small>monthly</small></div>
                                            <p>1 Simon XT control panel</p>
                                            <p>15 Door / window sensors</p>
                                            <p>1 Motion detector</p>
                                            <hr>
                                            <p>Monitoring Option:<br><b>Landline</b></p>
                                            <hr>
                                            <p>No equipment fees</p>
                                            <p>No activation fees</p>
                                            <hr>
                                            <p><a href="{% url order %}">Order Now</a></p>
                                        </div>
                                    </li>
                                </ul>
                            </div><!-- /tabs -->
                        </div>
                    </div><!-- /row -->

                    <div class="row monitoringOptionsHeading">
                        <div class="col-lg-12">
                            <h3>Monitoring Options</h3>
                        </div><!-- /col-12 -->
                    </div><!-- /row -->

                    <div class="row monitoringOptions">
                        <div class="col-sm-4 landlineMonitoring">
                            <div class="whiteBox">
                                <h4 class="sprite">Landline</h4>
                                <p class="monitoringDescription">The standard connection for most business security systems. Landline monitoring simply connects right into your current business line. This is the perfect solution for business that are in cell dead-zones or lack high speed internet.</p>
                                <p class="price"><span class="number">$0</span> monthly</p>
                            </div><!-- /whiteBox -->
                        </div><!-- /col-4 -->
                        <div class="col-sm-4 broadbandMonitoring">
                            <div class="whiteBox">
                                <h4 class="sprite">Broadband</h4>
                                <p class="monitoringDescription">No phone no problem, use your modem or router instead to connect to the monitoring facility. We call it high speed because it is fast! The signal from your business to our monitoring facility is received within 2 seconds.</p>
                                <p class="price"><span class="number">$8</span> monthly</p>
                            </div><!-- /whiteBox -->
                        </div><!-- /col-4 -->
                        <div class="col-sm-4 cellularMonitoring">
                            <div class="whiteBox">
                                <h4 class="sprite">Cellular</h4>
                                <p class="monitoringDescription">The completely wireless solution, simply plug the command station into a power outlet and everything else is completely wireless. No landline phone or internet required since all communication is via cellular towers.</p>
                                <p class="price"><span class="number">$12</span> monthly</p>
                            </div><!-- /whiteBox -->
                        </div><!-- /col-4 -->
                    </div><!-- /row -->
                </div><!-- /container -->
            </div><!-- /packagesTable -->


            <div class="additionalProducts section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="title">Additional Products</h2>
                        </div><!-- /col -->
                        
                        <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
                            <div class="productWrapper">
                                <img src="{{ STATIC_URL }}img/affiliates/acn/productDoorSensor.png" alt="Door/Window Sensor" title="Door/Window Sensor">
                                <p>Door/Window Sensor</p>
                            </div> <!-- /productWrapper -->
                        </div><!-- /col -->
                        <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
                            <div class="productWrapper">
                                <img src="{{ STATIC_URL }}img/affiliates/acn/productPanic.png" alt="Panic Pendant" title="Panic Pendant">
                                <p>Panic Pendant</p>
                            </div> <!-- /productWrapper -->
                        </div><!-- /col -->
                        <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 mobileClear">
                            <div class="productWrapper">
                                <img src="{{ STATIC_URL }}img/affiliates/acn/prodVideoCamera.png" alt="Video Camera" title="Video Camera">
                                <p>Video Camera</p>
                            </div> <!-- /productWrapper -->
                        </div><!-- /col -->
                        <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
                            <div class="productWrapper">
                                <img src="{{ STATIC_URL }}img/affiliates/acn/prodMotionDetector.png" alt="Motion Detector" title="Motion Detector">
                                <p>Motion Detector</p>
                            </div> <!-- /productWrapper -->
                        </div><!-- /col -->
                        <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 mobileClear">
                            <div class="productWrapper">
                                <img src="{{ STATIC_URL }}img/affiliates/acn/prodExtraKeyPad.png" alt="Extra Key Pad" title="Extra Key Pad">
                                <p>Extra Key Pad</p>
                            </div> <!-- /productWrapper -->
                        </div><!-- /col -->
                        <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
                            <div class="productWrapper">
                                <img src="{{ STATIC_URL }}img/affiliates/acn/prodSign.png" alt="Sign" title="Sign">
                                <p>Sign</p>
                            </div> <!-- /productWrapper -->
                        </div><!-- /col -->

                        <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 mobileClear clearRow">
                            <div class="productWrapper">
                                <img src="{{ STATIC_URL }}img/affiliates/acn/prodGlassBreakDetector.png" alt="Glass Break Detector" title="Glass Break Detector">
                                <p>Glass Break Detector</p>
                            </div> <!-- /productWrapper -->
                        </div><!-- /col -->
                        <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
                            <div class="productWrapper">
                                <img src="{{ STATIC_URL }}img/affiliates/acn/prodKeyChainRemote.png" alt="Keychain Remote" title="Keychain Remote">
                                <p>Keychain Remote</p>
                            </div> <!-- /productWrapper -->
                        </div><!-- /col -->
                        <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 mobileClear">
                            <div class="productWrapper">
                                <img src="{{ STATIC_URL }}img/affiliates/acn/garageSensor.png" alt="Overhead Garage Sensor" title="Overhead Garage Sensor">
                                <p>Overhead Garage Sensor</p>
                            </div> <!-- /productWrapper -->
                        </div><!-- /col -->
                        <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
                            <div class="productWrapper">
                                <img src="{{ STATIC_URL }}img/affiliates/acn/prodSolarSign.png" alt="Solar Sign" title="Solar Sign">
                                <p>Solar Sign</p>
                            </div> <!-- /productWrapper -->
                        </div><!-- /col -->
                        <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 mobileClear">
                            <div class="productWrapper">
                                <img src="{{ STATIC_URL }}img/affiliates/acn/prodSmokeDetector.png" alt="Smoke Detector" title="Smoke Detector">
                                <p>Smoke Detector</p>
                            </div> <!-- /productWrapper -->
                        </div><!-- /col -->
                        <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
                            <div class="productWrapper">
                                <img src="{{ STATIC_URL }}img/affiliates/acn/prodLowTemperatureSensor.png" alt="Low Temperature Sensor" title="Low Temperature Sensor">
                                <p>Low Temperature Sensor</p>
                            </div> <!-- /productWrapper -->
                        </div><!-- /col -->


                        <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 mobileClear clearRow">
                            <div class="productWrapper">
                                <img src="{{ STATIC_URL }}img/affiliates/acn/prodGPSModule.png" alt="GPS Module" title="GPS Module">
                                <p>GPS Module</p>
                            </div> <!-- /productWrapper -->
                        </div><!-- /col -->
                        <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
                            <div class="productWrapper">
                                <img src="{{ STATIC_URL }}img/affiliates/acn/prodWirelessSecretPad.png" alt="Wireless Secret Keypad" title="Wireless Secret Keypad">
                                <p>Wireless Secret Keypad</p>
                            </div> <!-- /productWrapper -->
                        </div><!-- /col -->
                        <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 mobileClear">
                            <div class="productWrapper">
                                <img src="{{ STATIC_URL }}img/affiliates/acn/prodFloodDetector.png" alt="Flood Detector" title="Flood Detector">
                                <p>Flood Detector</p>
                            </div> <!-- /productWrapper -->
                        </div><!-- /col -->
                        <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
                            <div class="productWrapper">
                                <img src="{{ STATIC_URL }}img/affiliates/acn/prodTouchscreenPad.png" alt="Touch-screen Keypad" title="Touch-screen Keypad">
                                <p>Touch-screen Keypad</p>
                            </div> <!-- /productWrapper -->
                        </div><!-- /col -->


                    </div><!-- /row -->
                </div><!-- /container -->
            </div><!-- /packagesTable -->


            <div class="cellular section">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <h2>Existing Alarm Systems Cellular Uplink Device</h2>
                            <h4>Compatible with nearly all existing hardwired business security systems. Cellular connection eliminates the risk of a burglar disconnecting exterior phone lines prior to breaking into business.</h4>
                            <p>Easy to install device can be done by the business owner in less than fifteen minutes, regardless of experience.</p>
                            <p>Utilizes the wide-spread AT&amp;T cellular network.</p>
                            <p>Monthly Monitoring: $29.99</p>
                        </div><!-- /col -->
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 center">
                            <p><img src="{{ STATIC_URL }}img/affiliates/acn/cellularUplinkDevice.png" alt="Cellular Uplink Device" title="Cellular Uplink Device" width="240"></p>
                        </div><!-- /col -->
                    </div><!-- /row -->
                </div><!-- /container -->
            </div><!-- /cellular -->
{% endblock %}