{% extends "order/quote-form.html" %}
{% block formfields %}
	<h2 class="form-title">Order Now</h2>
	<div class="form-fields">
       <input id="id_name" type="text" maxlength="128" name="name" placeholder="Name">
       <input id="id_email" type="text" maxlength="128" name="email" placeholder="Email">
       <input id="id_phone" type="text" maxlength="20" name="phone" placeholder="Phone">
   </div>
{% endblock %}
{% block quote-button %}Order Now <i class="icon-chevron-right"></i>{% endblock %}
{% block privacy-policy %}
<div>By clicking this button, you consent to receive calls using automated technology from Protect America at the number provided and understand this is not a condition of purchase.</div>
<a href="http://www.protectamerica.com/help/privacy-policy" title="View our Privacy Policy">We never share your information with anyone</a>
{% endblock %}