{% extends "affiliates/acn/base.html" %}

{% block content %}
    <div class="hero section inverse">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
                    <div class="heroIntroWrapper">
                        <h1>Home and Business Security Support</h1>
                        <h4>By Protect America Customer CARE</h4>
                    </div><!-- /heroIntro -->
                </div><!--  /leftCol -->
            </div><!-- /row -->
        </div><!-- /container -->
    </div><!-- /hero -->

    <div class="supportInfo section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>We're Here to Help.</h2>
                </div><!-- /col -->
                <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
                    <h4>If you have any questions or concerns about your security system, don’t hesitate to contact us. Our customer support staff is specially trained to help with any issue concerning your home or business alarm system.</h4>
                    <hr>
                    <h3>Customer Support Hours:</h3>
                    <p>Mon - Fri: 8:00am - 9:00pm CT<br>
					Sat: 9:00am - 7:00pm CT<br>
					Sun: 9:00am - 7:00pm CT</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-md-offset-1 col-lg-offset-1">
                	<h3>Online Chat:</h3>
                    <p><a class="primaryBtn noBgBtn" href="https://server.iad.liveperson.net/hc/34774121/?cmd=file&file=visitorWantsToChat&site=34774121&byhref=1" class="easy-chat-click" id="online-chat-button" target="blank">Online Chat <i class="arrowIcon sprite"></i></a></p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                	<h3>Customer CARE:</h3>
                    <h2><a href="tel:1-800-951-5111" class="phonenumber" onClick="_gaq.push(['_trackEvent', 'Phone Call Click', 'Top Call', '{{ page_name }}']);">1-800-951-5111</a></h2>
				</div>
            </div><!-- /row -->
        </div><!-- /container -->
    </div><!-- /supportInfo -->

        <div class="faqs section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>FAQ’s</h2>
                </div><!-- /col -->
                <div class="col-lg-12">
                    <div class="faq">
                        <h3>Who is Protect America?</h3>
                        <div class="faqAnswer">
                            <p>Protect America has been one of the nation’s top security companies for over 20 years. The company protects over half a million homes and business in the United States and Canada. Protect America is a pioneer of wireless home security and has revolutionized the industry by enabling homeowners everywhere to affordably defend themselves with innovative technology.</p>
                        </div><!-- /faqAnswer -->
                    </div><!-- /faq -->

                    <div class="faq">
                        <h3>Why Protect America?</h3>
                        <div class="faqAnswer">
                            <p>Deciding on the right security company can be tough. Our goal is to make it easy to choose the right solution by offering products tailored to your business. Protect America technology is affordable, user-friendly and flexible – the perfect combination. No two homes or businesses are the same, so the company’s security experts are diligently trained to listen and learn about your situation before making the best recommendations.</p>
                        </div><!-- /faqAnswer -->
                    </div><!-- /faq -->

                    <div class="faq">
                        <h3>What do I need in order to get Protect America service?</h3>
                        <div class="faqAnswer">
                            <p>You, as the purchaser, are required to pass a standard credit check. You’ll then formally agree to a 36-month monitoring agreement and must have access to a computer to e-sign the contract. Payment via credit, debit, checking or savings account is accepted. We also require that you not be under contract with any other security provider.</p>
                        </div><!-- /faqAnswer -->
                    </div><!-- /faq -->
                    <div class="faq">
                        <h3>Are there any businesses you don't service?</h3>
                        <div class="faqAnswer">
                            <p>We currently do not service the following businesses: Hospitals (including nursing or retirement homes), schools, childcare facilities, pawn shops, check cashing, and any government operated facilities.</p>
                        </div><!-- /faqAnswer -->
                    </div><!-- /faq -->
                    <div class="faq">
                        <h3>Are there any states you do not service?</h3>
                        <div class="faqAnswer">
                            <p>We currently do not service commercial or apartment buildings in the state of Idaho.</p>
                        </div><!-- /faqAnswer -->
                    </div><!-- /faq -->
                    <div class="faq">
                        <h3>What if I have an existing system?</h3>
                        <div class="faqAnswer">
                            <p>A Protect America representative can verify if we can take over your existing alarm system.</p>
                        </div><!-- /faqAnswer -->
                    </div><!-- /faq -->
                    <div class="faq">
                        <h3>How do I place an order?</h3>
                        <div class="faqAnswer">
                            <p>Call the designated ACN toll free number 800-867-0151 and speak to a Protect America security expert. Make sure you’re in front of a computer, tablet, or smart phone to easily place payment and e-sign the agreement.</p>
                        </div><!-- /faqAnswer -->
                    </div><!-- /faq -->
                    <div class="faq">
                        <h3>How does the installation process work?</h3>
                        <div class="faqAnswer">
                            <p>Your Protect America security package will be shipped directly to you. Upon receipt, simply call the customer installation department at 800-951-5111 option 3. A security expert will walk you through the installation process which takes about 30 to 45 minutes on average.</p>
                        </div><!-- /faqAnswer -->
                    </div><!-- /faq -->
                    <div class="faq">
                        <h3>What if I decide to cancel my order?</h3>
                        <div class="faqAnswer">
                            <p>Once you sign the monitoring agreement, you are responsible for the entire length of the contract. However, a new customer has 14 days from the original shipment date to cancel their service. There is a $79.00 restocking fee within the first 14 days.</p>
                        </div><!-- /faqAnswer -->
                    </div><!-- /faq -->
                  </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
    </div><!-- /faqs -->

{% endblock %}

