{% extends "products/cell-takeover/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}
{% block page_title %}Cellular Monitoring | Existing Home Security System Activation | Protect America{% endblock %}
{% block page_keywords %}security system,alarm,security,home security,security system,alarm system{% endblock %}
{% block page_description %}Protect America offers the best wireless home alarm services on pre-installed alarm systems, which ensures no cut phone lines and no new alarm equipment to buy.{% endblock %}

{% block content %}
<div>
	<div id="existing-systems">
    	<div id="old-security-system-image">
    		<img src="/static/img/products/cell-takeover/old-alarm-panels.jpg">
    	</div>
    	<div id="existing-system-overview">
    		<h1>Already have an Existing Security System?</h1>
    		<p>Protect America provides dedicated home security monitoring for almost any type of pre-installed alarm system. Did you just buy a home with an alarm? Or perhaps you are looking to reactivate your unused home security system? We can help. By using our cellular conversion device, we can take your current home security system and upgrade it with our state-of-the-art cellular monitoring. And there is no need to buy new equipment. With Protect America, you can be assured you get premium home security with a company that is committed to excellence and affordability when it comes to securing your home.</p>
    		<div class="button-link">
    			<a href="">Get Security for your Existing Alarm System ></a>
    		</div>
    	</div>
	</div>
    {% include "order/quote-form.html" with form=forms.basic %}

	<div class="clear"></div>
</div>
<div>
	<div id="cellular-connection">
		<img src="/static/img/products/cell-takeover/black-wire.jpg" class="flood-left">

		<h2>Cellular Connection.<br/>No Cut Phone Line.</h2>
		<p>When switching to Protect America, your security system is upgraded to connect via a cellular connection. Meaning your home security system works just like a cell phone. If the alarm goes off, authorities are notified without the need of a land line. This eliminates the opportunity for thieves to bypass your protection by simply cutting the wires that lead to your home.</p>
	</div>
	<div id="cut-wire-image">
		<img src="/static/img/products/cell-takeover/wire-cutters.jpg" class="absolute">

	</div>
	<div class="clear"></div>
</div>

<div>
	<div id="no-phone-line">
		<h2>No Phone Line?<br />No Problem.</h2>
		<p>These days, many people are giving up their home phone in place of a cell phone. But with most alarm systems, giving up your phone means giving up your protection - as they usually require a phone line to dial out to their monitoring station. We say, ditch the phone line and switch to cellular with our cellular conversion device. With this new device, your alarm system will be upgraded to work like a cell phone - wirelessly contacting our monitoring station during any sign of trouble. And best of all, it saves you money. You will no longer need that phone line just for your alarm system, and our monitoring rates are cheaper then those other guys.</p>
	</div>
	<div class="clear"></div>
</div>
    {% include "order/call-box.html" %}
<div id="customer-testimonials">
    <h2>Real Customers Talking about Protect America:</h2>
    <ul id="main-testimonials">
    {% testimonial_search "art" "limit=10&words=100" %}
    </ul>
</div>
<div>
	<div id="helpful-tech-support">
		<img src="/static/img/products/cell-takeover/hi-bubble.jpg">

		<h3>Friendly and Helpful Step-By-Step Tech Support</h3>
		<p>As a Protect America customer, you have access to our technical support professionals to help you with whatever home security questions you may have. We want to make sure you are safe and comfortable in your home.</p>
	</div>
	<div id="save-money">
		<img src="/static/img/products/cell-takeover/piggy-bank.jpg">

		<h3>Protecting your Family while Saving Money</h3>
		<p>Compared to the leading home security companies, we have some of the best monitoring rates around. There is no extra equipment to buy. And with the cellular connection you can ditch that extra phone line.</p>
	</div>
	<div id="nationwide-coverage">
		<img src="/static/img/products/cell-takeover/united-states.jpg">

		<h3>Full Nationwide Coverage</h3>
		<p>Protect America is proud to serve all 50 states with a commitment to excellence and affordability when it comes to securing your home. We are one of the fastest growing home security companies in America with customers coast to coast!.</p>
	</div>

</div>


{% addtoblock "js" %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cycle.all.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('#main-testimonials').cycle({
            fx: 'fade',
            timeout: 9000
        });
    });
    </script>
{% endaddtoblock "js" %}

{% endblock %}  
{% block sidebar %}
{{ block.super }}


{% endblock %}
