{% extends "base.html" %}

{% load content_filters content_tags sekizai_tags testimonial_tags adspace %}
{% block page_title %}Houston Home Security Systems & Alarm Monitoring | Protect America{% endblock %}
{% block page_description %}Call 888-936-3385 for Houston's Home Security Systems & Burglar Alarm Experts. Get Monitored Security Systems- No Equipment Fees and our Low Price Guarantee.{% endblock %}

{% block data_template %}itemscope itemtype="http://schema.org/WebPage"{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/local-pages/houston.css?v3.9">
<link href="http://www.protectamerica.com/static/css/font-awesome/4.0.3/font-awesome.css" rel="stylesheet">


<!-- Google Authorship and Publisher Markup -->
<link rel="publisher" href="https://plus.google.com/+ProtectAmerica"/>
<link rel="author" href="https://plus.google.com/100161547993684068267"/>

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="Your Houston Home Security Systems Experts">
<meta itemprop="description" content="Call 888-936-3385 for Houston's Home Security Systems & Burglar Alarm Experts. Get Monitored Security Systems- No Equipment Fees and our Low Price Guarantee.">
<meta itemprop="image" content="http://www.protectamerica.com/static/img/local-pages/houston/houston.jpg">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@ProtectAmerica">
<meta name="twitter:title" content="Your Houston Home Security Systems Experts">
<meta name="twitter:description" content="Call 888-936-3385 for Houston's Home Security Systems & Burglar Alarm Experts. Get Monitored Security Systems- No Equipment Fees and our Low Price Guarantee.">
<!-- Twitter summary card with large image must be at least 280x150px -->
<meta name="twitter:image:src" content="http://www.protectamerica.com/static/img/local-pages/houston/houston.jpg">

<!-- Open Graph data -->
<meta property="og:title" content="Your Houston Home Security Systems Experts" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.protectamerica.com/home-security/TX/Houston/" />
<meta property="og:image" content="http://www.protectamerica.com/static/img/local-pages/houston/houston.jpg" />
<meta property="og:description" content="Call 888-936-3385 for Houston's Home Security Systems & Burglar Alarm Experts. Get Monitored Security Systems- No Equipment Fees and our Low Price Guarantee." />
<meta property="og:site_name" content="Protect America" />


{% endblock %}
{% block typekit-code %}
<script type="text/javascript" src="//use.typekit.net/wsu1mxq.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
{% endblock %}
{% block header %}

    <div id="top-section-wrapper">
        <div id="top-section">
            <div id="company-links">
                <a href="http://www.myprotectamerica.com" class="interactive-customer" target="blank">Interactive Customers</a>

                <a href="https://server.iad.liveperson.net/hc/34774121/?cmd=file&file=visitorWantsToChat&site=34774121&byhref=1" class="easy-chat-click" id="online-chat-button" target="blank">Online Chat</a>
                <form action="http://www.protectamerica.com/search/" method='get'>
                    {% csrf_token %}
                     <input type="text" id="q" name="q" placeholder="SEARCH THE SITE"></input>
                </form>
                <div id="main-phone">
                    <i class="fa fa-phone-square"></i>
                    {% block main-phone %}
                        {% if phone_number %}
                            <a href="tel:{{ phone_number|format_number }}" class="" onClick="_gaq.push(['_trackEvent', 'Phone Call Click', 'Top Call', '{{ page_name }}']);"><span{% if use_call_measurement %} class="dynamic-phone-number"{% endif %}>{{ phone_number|format_number }}</span></a>
                        {% endif %}
                    {% endblock %}
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div id="header-wrapper">
        <div id="header">

            <a href="{% url home %}">
                <img src="http://static.protectamericasecurity.net/img/base/protect-america-grey.png" width="192" height="32" title="Home Security Systems by Protect America" alt="Protect America Home Security" id="company-logo">
            </a>
            <a id="menu-button"><i class="fa fa-bars"></i></a>
            <a href="{% url order-package %}" onClick="_gaq.push(['_trackEvent', 'Request Quote Click', 'Menu Request Quote', '{{ page_name }}']);" class="request-quote-button">Request Quote</a>
            {% if phone_number %}
                <div class="stuck-phone">
                    Call Today and Save!
                    <a href="tel:{{ phone_number|format_number }}" class="" onClick="_gaq.push(['_trackEvent', 'Phone Call Click', 'Top Call', '{{ page_name }}']);"><span{% if use_call_measurement %} class="dynamic-phone-number"{% endif %}>{{ phone_number|format_number }}</span></a>
                </div>
            {% endif %}
            <ul id="mobile-main-navigation" class="hide-desktop">
                    <li><a href="tel:{{ phone_number|format_number }}" title="Call Protect America" onClick="_gaq.push(['_trackEvent', 'Phone Call Click', 'Call Icon', '{{ page_name }}']);"><i class="fa fa-phone"></i>Call Us</a></li>
            </ul>
            {% block navigation %}
            <ul id="main-navigation">
                <li {% if 'shop' in active_pages %}class="active"{% endif %}>
                    <a href="{% url shop %}">Shop</a>
                    {% if 'shop' in active_pages %}<i class="fa fa-caret-down"></i>{% endif %}
                </li>
                <li {% if 'equipment' in active_pages %}class="active"{% endif %}>
                    <a href="{% url equipment %}">Equipment</a>
                    {% if 'equipment' in active_pages %}<i class="fa fa-caret-down"></i>{% endif %}
                </li>
                <li {% if 'learn' in active_pages %}class="active"{% endif %}>
                    <a href="{% url learn %}">Learn</a>
                    {% if 'learn' in active_pages %}<i class="fa fa-caret-down"></i>{% endif %}
                </li>
                <li {% if 'support' in active_pages %}class="active"{% endif %}>
                    <a href="{% url support %}">Support</a>
                    {% if 'support' in active_pages %}<i class="fa fa-caret-down"></i>{% endif %}
                </li>
            </ul>
            {% endblock %}
            {% include "order/quote-form-refresh.html" with form=forms.basic %}

            <div class="clear"></div>

        </div>
        <div id="mobile-menu-container">
			<ul id="mobile-navigation">
                <li>
                    <a href="{% url shop %}">Shop</a>
                </li>
                <li>
                    <a href="{% url equipment %}">Equipment</a>
                </li>
                <li>
                    <a href="{% url learn %}">Learn</a>
                </li>
                <li>
                    <a href="{% url support %}">Support</a>
                </li>
            </ul>
		</div>
    </div>

{% endblock %}

{% block content %}
<!-- Hero section -->
<div id="hero" class="index">
    <div class="container">
        {% include "order/quote-form-local.html" with form=forms.basic %}
        <div class="heading">
            <h1 class="big">Your Houston <span>Home Security Systems</span> Experts</h1>
            <p>For a free quote, call now!</p>
            <h3><span {% if use_call_measurement %} class="dynamic-phone-number"{% endif %}>{{ phone_number|format_number }}</span></h3>
        </div>

		{% include "local-pages/static-pages/_partials/party-box.html" %}
    </div>


</div>
<!-- End hero -->
<!-- Featured on banner -->

<div id="featured-on">
    <small>Proudly Featured on:</small>
    <div id="featured-badges">
        <div class="featured krbe">&nbsp;</div>
        <div class="featured abc">&nbsp;</div>
        <div class="featured besty">&nbsp;</div>
        <div class="featured npr">&nbsp;</div>
        <div class="featured topconsumer">&nbsp;</div>
        <div class="featured foxnews">&nbsp;</div>
        <div class="featured consumerdigest">&nbsp;</div>
        <div class="featured buzz">&nbsp;</div>
        <div class="featured bbb">&nbsp;</div>
        <div class="featured gadgeteer">&nbsp;</div>
        <div class="featured toptens">&nbsp;</div>
        <div class="featured cw">&nbsp;</div>
        <div class="featured history">&nbsp;</div>
    </div>
</div>
<!-- End featured banner -->
<div class="container" id="overview">
	<div class="eight columns" id="side-image">
    	<img src="{{ STATIC_URL}}img/local-pages/smart-connect-security-app.jpg" alt="Stay connected to your home from anywhere, at any time, with our free smart phone application." />
    </div>
    <div class="seven columns" id="add-padding">
    	<h2>Security systems for every Houston home.</h2>
        <p>We may be a national company, but our story began right here in Texas. Houston, the booming metropolis of the South, remains a special city in Protect America’s history - two decades and half a million protected homes later.</p>
        <p>From the Galleria to the Discovery Green area - to Katy, Westheimer, Cypress and beyond, we’ve armed thousands of homes all over the Bayou City. Houston’s constant growth and blossoming 2.2 million population level keep Texas on the map. However, with population growth comes an increase in crime. Houston’s rate of burglaries and thefts rises above the U.S. average rate, and burglary remains a real threat to those who call Houston home.</p>
        <p>In a city constantly pushing the boundaries and changing every day, it’s vital that homes and families stay protected. We’ve dedicated ourselves to the idea that every home and family has the right to be protected - affordably and with quality technology. That’s why we combine wireless security systems with 24/7 monitoring and prices beginning at $19.99 a month.</p>
    </div>
</div>

<a name="signature"></a>
<div id="signature">
	<div class="container">
		<div class="eight columns" id="signature-right">
    		<h2 class="big">Your Safety isn’t Just Important, <span>It’s Essential.</span></h2>
        	<p>When it comes to the protection of home and family, mediocre is not an option. And although safety is a must, it shouldn’t be expensive. Every home secured by Protect America comes with free equipment, flexible, custom systems and monitoring that begins at only $19.99 a month. Our commitment to Five Star Service and remaining low-cost for any budget consistently makes us the best option for homeowners nationwide. Affordably safeguarding loved ones and valuables is everyone’s right, and we’re here to do just that.</p>
		</div>
		<div class="eight columns" id="signature-left">

		</div>
	</div>
</div>

<!-- Features tiles -->
<div id="features">
    <div class="container">
        <h2 class="light">Why Homes Choose Us - Again and Again</h2>
        <ul>
            <li id="feature1">
                <h3><i class="fa fa-tag"></i>Prices Unmatched</h3>
                <p>We secure homes at a wide range of budgets and start at only $19.99 a month with no equipment fees. Find a better deal? We’ll match it with our Lowest Price Guarantee.</p>
            </li>
            <li id="feature2">
                <h3><i class="fa fa-scissors"></i>Wireless Means Easy</h3>
                <p> From Hyde Park to Tarrytown, our wireless technology covers your entire home without destructive installation and drilling countless holes in your walls</p>
            </li>
            <li id="feature3">
                <h3><i class="fa fa-lock"></i>Protection 24/7</h3>
                <p>Plug in to the Protect America 24/7 monitoring grid and take comfort in knowing your home is under guard day and night. Walk out of the door with confidence.</p>
            </li>
            <li id="feature4">
                <h3><i class="fa fa-mobile"></i>Smartphone Ready</h3>
                <p>21st century convenience means monitoring and controlling your home security from anywhere. Use our free app and arm/disarm your security system, view camera footage and receive text notifications – all on your Apple or Android device.</p>
            </li>
            <li id="feature5">
                <h3><i class="fa fa-ban"></i>No Installation or Equipment Fees</h3>
                <p>Securing your home should be stress-free. That’s why our DIY system packages come with free equipment and require no expensive expert installation. One of our security experts guides you though every step in the simple installation process.</p>
            </li>
            <li id="feature6">
                <h3><i class="fa fa-thumbs-up"></i>Home Automation Experts</h3>
                <p>Make home life safer and ultra-convenient with home automation technology. Control lights, appliances and even digital door locks from Apple or Android devices with the same free app you’ll use to control your security system.</p>
            </li>
        </ul>
    </div>
</div>
<!-- End features -->
<div id="community">
    <div class="container">
        <h2>Protect America in the Community</h2>
        <p class="community-subhead"></p>
    </div>
    <!--<div id="community-outreach-squares">
        <div class="square"><a href="http://www.myfoxaustin.com/story/24627086/new-app-helps-keep-homes-secure" target="_blank"><img src="{{ STATIC_URL }}img/local-pages/austin/fox-7-door-lock.jpg" title="Protect America features the latest home automation on myFOXaustin" alt="fox-7-door-lock" width="300" height="240" /><p class="caption">Protect America features the latest home automation on myFOXaustin</p></a></div>
        <div class="square"><a href="http://bit.ly/1b8bX9L" target="_blank"><img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-prn1/t31/p180x540/1553300_10152163673609551_1683699488_o.jpg" title="Protect America Employees Donate to SafePlace" alt="fox-7-door-lock" width="300" height="240" /><p class="caption">Protect America Employees Donate to SafePlace</p></a></div>
        <div class="square"><a href="http://www.myfoxaustin.com/story/24445424/experts-proper-home-tech-can-prevent-fire-related-deaths" target="_blank"><img src="{{ STATIC_URL }}img/local-pages/austin/fox-7-fire.jpg" title="Proper home tech can prevent fire-related deaths" alt="fox-7-door-lock" width="300" height="240" /><p class="caption">Proper home tech can prevent fire-related deaths</p></a></div>
    </div>-->
    <div class="container">
        <h3>Why Home Security Systems?</h3>
        <p>You can’t always be there to guard your home, and thieves are counting on it. Most burglaries occur during the daytime when no one is present, and the average burglary costs over $2,000 in stolen property and damage. Home security is a way to stay connected to your house and feel protected no matter where you are.</p>
        <ul class="container">
            <li class="eight columns alpha stat one-stat">
                <h3>Every 15 seconds</h3>
                <p>a break-in occurs in the United States.</p>
            </li>
            <li class="eight columns omega stat two-stat">
                <h3>Night or day</h3>
                <p>Daytime arming is important - 58% of burglaries take place during the day.</p>
            </li>
            <li class="eight columns alpha stat three-stat">
                <h3>$4.7 billion</h3>
                <p>in property loss due to burglaries in 2012 alone (over $2,000 per burglary on average).</p>
            </li>
            <li class="eight columns omega stat four-stat">
                <h3>1 in 19</h3>
                <p>chance of being a victim of property crime.</p>
            </li>
        </ul>
        <div class="five columns alpha delta">
            <h4>Protecting your family</h4>
            <p>Loved ones are our most precious assets. They’re what make a house a home. Our technology is designed with multiple users in mind, so families are able to work as a team. Program multiple codes, including those that alert your smartphone when used: perfect for children.</p>
        </div>
        <div class="five columns middle-column delta gamma">
            <h4>Safeguarding a business</h4>
            <p>You don’t take the defense of your business lightly, and neither do we. Protect America wireless systems integrate seamlessly into a business, using wireless and interactive security cameras that are viewable on a smartphone at any time. Houston businesses are the foundation of its community, and we’re proud to arm each one with modern technology.</p>
        </div>
        <div class="five columns omega delta">
            <h4>Peace of mind</h4>
            <p>Knowing your home is defended from burglary 24/7 is priceless, but when you add fire protection, carbon monoxide defense, medial alert technology and the ease of home automation – you’ve created real peace of mind.</p>
        </div>
        <div class="clear"></div>
    </div>

<div class="container local-data" id="overview">
	<div class="eight columns side-map" id="local-map">
		<iframe src="https://mapsengine.google.com/map/embed?mid=zZomU8UD5470.kOufxrZFRA4Q" id="map"></iframe>
		<div class="g-plusone" data-size="medium" data-annotation="inline" data-width="300"></div>
			<script type="text/javascript">
			  (function() {
			    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
			    po.src = 'https://apis.google.com/js/platform.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
			  })();
			</script>
		</div>
		<div class="eight columns" id="local-business-info">
			<div itemscope itemtype="http://schema.org/LocalBusiness">
				<h3><span itemprop="name">Protect America</span></h3>
				<span itemprop="description">Home Security Systems in Houston, TX</span>
				<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
					<span itemprop="streetAddress">5100 Westheimer Suite 200</span>
					<span itemprop="addressLocality">Houston</span>,
					<span itemprop="addressRegion">TX</span>
				</div>
				<span id="title">Phone</span>: <span itemprop="telephone"><a href="tel:{{ phone_number|format_number }}" class="" onClick="_gaq.push(['_trackEvent', 'Phone Call Click', 'Top Call', '{{ page_name }}']);"><span {% if use_call_measurement %} class="dynamic-phone-number"{% endif %}>{{ phone_number|format_number }}</span></a>
</span>

			</div><br />
			<span id="title">Hours</span>:<br />
			<meta itemprop="openingHours" content="Mo-Fr 6:00-23:00"><em>Monday - Friday</em> : 6:00 AM - 11:00 PM<br />
			<meta itemprop="openingHours" content="Sa 7:00-19:00"><em>Saturday</em> : 7:00 AM - 7:00 PM <br />
			<meta itemprop="openingHours" content="Su 8:00-20:00"><em>Sunday</em> : 8:00 PM - 8:00 PM <br /><br />
			</div>
		</div>
	</div>
</div>
{% block testimonials %}
<!-- Testimonials -->
<div id="testimonials">
    <div class="container">
        <div id="review-container">
            <div class="review">
                <img src="{{ STATIC_URL }}img/local-pages/houston/eileen.jpg" alt="veronika" />
                <i class="fa fa-quote-left"></i>
                <blockquote>Morgan was very helpful and went above and beyond my expectations. I was having some difficulty understanding installation, but Protect America provided their best technician to help me get up and running. Morgan was positive, polite and extremely helpful. She reassured me that she was there to help me and get my system started so that my home would be secure. Thank you Morgan!
                <p>Eileen &ndash; Houston, TX</p>
                <span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
                </blockquote>
            </div>
            <div class="review">
            	<img src="{{ STATIC_URL }}img/local-pages/houston/scott.jpg" alt="tom" />
                <i class="fa fa-quote-left"></i>
                <blockquote>I the reason I chose Protect America was not just for the great product but the great experience as well. No other company could compare. I now know it is because your product is the best. I will not hesitate to recommended Protect America to my friends. Thank you.
                <p>Scott - Houston, TX</p>
                <span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
                </blockquote>
            </div>
            <div class="review">
            	<img src="{{ STATIC_URL }}img/local-pages/houston/carole.jpg" alt="melissa" />
                <i class="fa fa-quote-left"></i>
                <blockquote>Ever since we installed our alarm we have been so impressed! We had never seen a system like yours on the market before; it was way ahead of its time. Over the years we have added many new and unique services that we've really enjoyed. Protect America has kept my family safe for years and always will.
                    <p>Carole &ndash; Houston, TX</p>
                    <span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
                </blockquote>
            </div>
            <div class="review">
            	<img src="{{ STATIC_URL }}img/local-pages/houston/javon.jpg" alt="ernest" />
                <i class="fa fa-quote-left"></i>
                <blockquote>I've never experienced such great service. Both representatives that assisted me proved patience and persistence pays when solving customer issues. I truly felt like these two fulfilled my need for protection in my home and I'm glad to be with Protect America.
                    <p>Javon &ndash; Houston, TX</p>
                    <span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
                </blockquote>
            </div>
        </div>
    </div>
</div>
<!-- End testimonials -->
{% endblock %}
{% block lifestyle-button %}
<div id="lifestyle-quote" class="container">
    <a href="http://www.protectamerica.com/order/order-package-b" class="button">Get a Free Quote</a>
    <img src="{{ STATIC_URL }}img/local-pages/houston/houston-quote.jpg" class="bg" alt="longhorns football game" width="1200" height="600" />
</div>
{% endblock %}
{% block advantage %}
<div id="advantage-table-wrapper">
    <div id="advantage-table">
        {% block advantage-header %}
        <h2>A Step above the rest <span>providing more safety and security for less</span></h2>
        {% endblock %}
        <table>
            <thead>
                {% block table-headers %}

                <tr>
                    <th>&nbsp;</th>
                    <th>Equipment & Activation Fees</th>
                    <th>24/7 Alarm Monitoring</th>
                    <th>Lowest Price Guaranteed</th>
                    <th class="extra">Lifetime Equipment Warranty</th>
                    <th class="extra">Locked-In Rate</th>
                    <th>Monthly Cost</th>
                </tr>
                {% endblock %}
            </thead>
            <tbody>
                {% block advantage-us %}

                <tr class="alpha">
                    <td class="title highlight">Protect America</td>
                    <td class="price highlight">$0</td>
                    <td class="highlight">Included</td>
                    <td class="highlight">Included</td>
                    <td class="extra highlight">Included</td>
                    <td class="extra highlight">Included</td>
                    <td class="price highlight">$19.99</td>
                </tr>
                {% endblock %}
                {% block advantage-competitor-1 %}
                <tr>
                    <td class="title">ADT</td>
                    <td class="price">$99</td>
                    <td>Included</td>
                    <td class="na">Not Available</td>
                    <td class="na extra">Not Available</td>
                    <td class="na extra">Not Available</td>
                    <td class="price">$42.99</td>
                </tr>
                {% endblock %}
                {% block advantage-competitor-2 %}
                <tr>
                    <td class="title">Frontpoint</td>
                    <td class="price">$99</td>
                    <td>Included</td>
                    <td class="na">Not Available</td>
                    <td class="na extra">Not Available</td>
                    <td class="na extra">Not Available</td>
                    <td class="price">$34.95</td>
                </tr>
                {% endblock %}
            </tbody>
        </table>
        <div class="clear"></div>
    </div>
</div>
{% endblock %}
{% addtoblock "js" %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/owl.carousel.min.js"></script>

    <script type="text/javascript">
    $(document).ready(function() {
    	$( "#menu-button" ).click(function() {
			$( "#mobile-menu-container" ).slideToggle( "slow", function() {
			});
		});

        var owl = $("#featured-badges");
        var outreach = $("#community-outreach-squares");

        owl.owlCarousel({
          autoPlay: 7000,
          items : 12,
          pagination: false,
          itemsCustom: [[0, 2], [480, 3], [640, 4], [800, 5], [960, 6], [1120, 7], [1280, 8], [1440, 9], [1600, 10]]
        });
        outreach.owlCarousel({
          autoPlay: 7000,
          stopOnHover: true,
          items : 3, //10 items above 1000px browser width
          itemsDesktop : [1000,3], //5 items between 1000px and 901px
          itemsDesktopSmall : [930,2], // betweem 900px and 601px
          itemsTablet: [660,1], //2 items between 600 and 0
          itemsMobile : false // itemsMobile disabled - inherit from itemsTablet option
        });
        $("#review-container").owlCarousel({
          slideSpeed : 300,
          paginationSpeed : 400,
          singleItem: true,
          autoHeight: true,
          pagination: false,
          autoPlay: 9000,

        });
        $('.square').click(function() {
            var link = $(this).data("link");
            $(this).attr(link, '_blank');

        });
    });
    </script>
{% endaddtoblock "js" %}
{% endblock %}
{% block order-footer %}
<div id="phone-chat-search">
    <div class="container">
        <div class="five columns">
            <p>Your family's safety is important. Our security experts are ready to help:</p>
            <p class="white"><i class="icon-phone"></i><span{% if use_call_measurement %} class="dynamic-phone-number"{% endif %}>{{ phone_number|format_number }}</span></p>
        </div>
        <div class="six columns">
            <p>Didn't find what you were looking for? Try searching our website below:</p>
            <form>
                <input type="text" name="findit" placeholder="I'm looking for..." class="search-field">
                <button type="submit" class="fa fa-search" id="search-footer">&nbsp;</button>
            </form>
        </div>
        <div class="five columns chat">
            <p>Have a question you need answered right now?</p>
            <p class="white"><i class="fa fa-comment"></i><a href="#">Try our online chat.</a></p>
        </div>
    </div>
</div>
{% endblock %}
{% block social-icons %}
    <li id="footer-social-icons">
        <a href="https://plus.google.com/100161547993684068267/" title="Visit Protect Americ on Google +"><i class="fa fa-google-plus"></i></a>

        <a href="http://www.facebook.com/ProtectAmerica" title="Visit Protect America's Facebook Page"><i class="fa fa-facebook"></i>
        <div class="clear" style="padding-bottom: 16px;"></div>
        <a href="http://www.twitter.com/ProtectAmerica" title="Visit Protect America's Twitter Page"><i class="fa fa-twitter"></i></a>

        <a href="http://www.youtube.com/user/ProtectAmerica" title="Watch our Tutorials and Videos on our YouTube Page"><i class="fa fa-youtube"></i></a>
        <a href="http://www.linkedin.com/company/protect-america" title="Visit Protect America's LinkedIn Page"><i class="fa fa-linkedin"></i></a>


    </li>
{% endblock %}
{% block terms %}
    <div id="terms-wrapper">
        <div id="terms">
            <div id="terms-conditions">
                <p>* <a href="https://secure.protectamerica.com/sample/en" >Standard home security alarm monitoring agreement</a> required with approved credit. Offer subject to change. Void where prohibited. Offer Expires: {{ final_date|date:"SHORT_DATE_FORMAT" }}</p>
                <p>* Information used for home security alarm system comparisons was obtained November 2013 through telephone and online research. ADT prices: based on total out-of-pocket expense to obtain services; installation based on fees for similar home security equipment packages; "Monitoring" price listed includes the additional "warranty" or "extended service plan". </p>
                <p>We provide security in all 50 states. <a href="http://www.protectamerica.com/help/state-licenses/">Click here for licensing information</a></p>
                <p>Images sourced from <a href="http://flickr.com/photos/erionshehaj/2414390329/in/photostream/" target="_blank" title="Header Image">Erion Shehaj</a>, <a href="http://www.flickr.com/photos/32345848@N07/3419411665/in/photolist-6danXx-6dr1mN-6hVUt8-6hVUvZ-6hVUyc-6hVUDn-6hVUP8-6hVV5c-6hVV8i-6hVVap-6hVVe4-6i1489-6i14cf-6i14jG-6i14oy-6i14rq-6i14FY-6i14JA-6i14LJ-6i14P9-6qRF25-6s83K3-kMUJ1k-fX6jCU-dngV9u-8jvPXQ-8jsA5M" target="_blank" title="Middle Image">Patrick Feller</a>, and <a href="http://www.flickr.com/photos/atbaker/126381608/" target="_blank" title="Footer Image">Adam Baker</a> provided under a <a href="https://creativecommons.org/licenses/by/2.0/" target="_blank" title="License">Creative Commons Attribution License</a>.<br /></p>
                {% block extra_terms %}
                {% endblock %}
            </div>
            <div id="copyrights">

                {% block consumer-digest-term %}<p>The BEST BUY SEAL is a registered trademark of Consumers Digest Communications, LLC, used under license.</p>{% endblock %}
                <p>&copy; 1992 &mdash; 2014 Protect America, Inc. All rights reserved</p>
            </div>
        </div>
        <div class="clear"></div>

    </div>
    {% endblock %}
