
<ul class="subnav">
    <li {% if 'get-quote' in active_pages %}class="active"{% endif %}><a href="{% url get-quote %}"><img src="{{ STATIC_URL }}img/mobile/clipboard-icon.png" alt="clipboard-icon" width="54" height="54" />Request a Quote</a></li>
    <li {% if 'packages' in active_pages %}class="active"{% endif %}><a href="{%  url packages %}"><img src="{{ STATIC_URL }}img/mobile/plans-icon.png" alt="plans-icon" width="54" height="54" />Plans & Pricing</a></li>
    <li {% if 'monitoring' in active_pages %}class="active"{% endif %}><a href="{%  url monitoring %}"><img src="{{ STATIC_URL }}img/mobile/monitoring-icon.png" alt="monitoring-icon" width="54" height="54" />Monitoring Options</a></li>
    <li {% if 'home-security' in active_pages %}class="active"{% endif %}><img src="{{ STATIC_URL }}img/mobile/lock-icon.png" alt="lock-icon" width="54" height="54" />24 / 7 Security</li>
    <li {% if 'interactive' in active_pages %}class="active"{% endif %}><a href="{%  url interactive %}"><img src="{{ STATIC_URL }}img/mobile/computer-icon.png" alt="computer-icon" width="54" height="54" />Interactive</a></li>
</ul>