{% extends "affiliates/centerfield-media/fluid-index.html" %}
{% block google_experiment %}

{% endblock %}
{% block hero-content %}
    <h3 style="font-size: 23px;">Protect your home, protect your family with Protect America Home Security. 
        <img src="{{ STATIC_URL }}img/affiliates/centerfield-media/quote-arrow.png" class="quote-arrow" alt="quote-arrow" width="32" height="16" /></h3>
    <p style="padding-bottom:8px;">Christopher Greene AMTV</p>
{% endblock %}

{% block bottom-content %}
    <h2>Protect America "delivers superior protection"</h2>
    <p>BestHomeSecurityCompanys.com has noticed it and you should too! No company can match Protect America’s affordability and quality. Just listen to one of the BestHomeSecurityCompanys.com users said, "I’m team PA! I’ve got 3 little girls in my home, (just moved to Sacramento from Idaho Falls.) Set my alarm for the first time last night after installing it, which only took 30 min. Super simple. big peace of mind, and their customer service has already called me 3 times to make sure I was all set. Very impressed."</p>
{% endblock %}

{% block main-promo %}
<img src="{{ STATIC_URL }}img/affiliates/centerfield-media/giftcard-promo.png" class="badge" alt="keychain-promo" width="421" height="104" />
{% endblock %}