@import "../../style";
#header-wrapper {
    height: 72px;
    #company-logo {
        #protect-america-logo {
            top: 14px;
        }
    }
    #ge-logo {
        top: 14px;
        position: relative;
    }
    #phone-number {
        bottom: 0px;
        top: 10px;
    }
}
#navigation-wrapper {
    background: none;
    height: 10px;
}
/***** Left Column ****/
.left-column {
    .content-box(680px);
    margin-top: 16px;
}
.main-offer {
    .content-box(680px);
    margin-top: 16px;
    height: 392px;
    background: url('/static/img/affiliates/realtor/realtor-main-graphic.jpg')  -2px 0px no-repeat;
    h1 {
        background: @red;
        position: absolute;
        bottom: 16px;
        left: 0;
        color: @white;
        font-size: 24px;
        padding: 8px 8px 8px 32px;
        
    }
}
#confidence-builders {
    padding: 24px 0;
   #all-day-monitoring, #wireless-home-security, #twenty-off-home-insurance, #lifetime-warranty, #lowest-price-guaranteed {
        float: left;
        width: 185px;
        text-align: center;
        h3 {
            font-size: 13px;
            text-align: center;

            font-weight: bold;
            margin: 16px 8px 8px;
        }
        p {
            font-size: 12px;
            color: @grey;
            margin: 0 16px;
            text-align: center;
        }
    }
}
#included-equipment {
    .content-box;
    div {
        .content-box(144px);
        margin-bottom: 0;
        display: block;
        font-size: 12px;
        text-align: center;
        padding: 0 8px;
        line-height: 14px;
        color: @black;
        text-decoration: none;
        &:hover {
            color: @blue;
        }
        strong {
            display: block;
        }
        img {
            display: block;
        }

    }
}
#quote-form {
    margin-left: 0;
    width: 280px;
    button {
        width: 264px;
    }
}
.right-column {
    .content-box(280px);
    margin: 16px 0;
    margin-left: 0px;
    margin-bottom: 0;
    form {
        div.clear {
            padding: 0;
        }
        input {
            width: 256px;
        }
        #state-check, #zip-check {
            float: left;
            width: 125px;
            padding: 0;
            label {
                display: block;
            }
            input {
                width: 100px;
            }
            
        }
        #zip-check {
            input {
                width: 131px;
            }
        }
        #homeowner-check {
            padding: 0;
            height: 40px;
            label {
                float: left;
                line-height: 40px;
                padding-right: 16px;
            }
            select {
                float: left;
                width: 97px;
                margin: 10px 0;
            }
        }
        #agreement-check {
            padding: 0;
            margin: 8px 0 8px;
            input {
                width: 20px;
                float: left;
                margin: 16px 18px;
            }
            label {
                width: 200px;
                float: left;
                text-align: justify;
                font-size: 11px;
            }
        }
        #credit-rating {
            padding: 0;
            select {
                color: @light-grey;
                font-size: 18px;
                line-height: 28px;
                margin: 5px 0 0px;
                width: 262px;
            }
        }
    }
}
#call-box {
    margin: 0 0 32px;
    p {
        font-size: 36px;
        
    }
}
#copper-package-offer, #bronze-package-offer, #silver-package-offer, #gold-package-offer, #platinum-package-offer {
    width: 664px;
    height: 400px;
    position: relative;
    float: left;
    h1 {
        color: @blue;
        font-size: 26px;
        position: absolute;
        right: 8px;
        width: 378px;
        text-align: center;
        border-bottom: 1px solid @light-grey;
        padding-bottom: 12px;
        top: 17px;
    }
    #offer-main-image {
        width: 345px;
        padding-top: 62px;
        .house {
        
        }
    }
    ul {
        width: 380px;
        position: absolute;
        right: -16px;
        top: 72px;
        li {
            width : 182px;
            float: left;
            font-size: 12px;
            line-height: 20px;
            list-style-type: disc;
            margin-right: 8px;
        }
    }
    span {
        font-weight: bold;
        line-height: 16px;
        font-size: 16px;
        position: absolute;
        bottom: 60px;
        right: 128px;
        strong {
            color: @blue;
            font-weight: bold;
            font-size: 64px;
            display: block;
            line-height: 72px;
            position: relative;
            bottom: 12px;
            right: 4px;
            sup {
                font-size: 20px;
                position: relative;
                bottom: 10px;
            }
        }
    }
    #top-consumer-review-medal {
        position: absolute;
        right: 10px;
        top: 152px;
        background: @v-light-grey;
        border: 1px solid @light-grey;
        font-weight: bold;
        width: 290px;
        .border-radius(5px, 5px, 5px, 5px);
        line-height: 16px;
        font-size: 12px;
        p {
            padding: 20px 8px 20px 0;
            font-size: 12px;
            margin-bottom: 0;
        }
        img {
            float: left;
            padding: 0 8px;
        }
    }
}
#the-copper-package, #the-bronze-package, #the-silver-package, #the-gold-package, #the-platinum-package, #the-business-package {
    .content-box;
    margin-bottom: 0;
    h3 {
        font-size: 24px;
        font-weight: 300;
        padding: 8px 48px 8px 0;
        color: @dark-grey;
    }
    em {
        float: none;
        display: block;
        text-decoration: line-through;
        color: @grey;
        font-size: 10px;
    }
    #main-package-image {
        width: 397px;
        position: absolute;
        top: 16px;
        left: 0;
    }
    #copper-package-content, #bronze-package-content, #silver-package-content, #gold-package-content, #platinum-package-content {
        float: left;
        width: 555px;
        margin: 32px 0 40px 400px;
    }
    #bronze-package-content {
        margin: 32px 0 86px 400px;
    }
}

/***** Why Protect America *****/
#why-protect-america {
    background: @white;
    padding: 0 16px 16px;
    #pa-logo{
        display: block;
    }
    #about-protect-america {
        width: 560px;
        padding-top: 8px;
        float: left;
        p {
            color: @grey;
            font-size: 14px;
            line-height: 32px;
            text-align: justify;
            padding-bottom: 12px;
        }
        .phone-alt p {
            font-size: 12px;
            color: @black;
            line-height: 24px;
            font-weight: bold;
            strong {
                color: @red;
            }
        }
    }
    #awards {
        width: 300px;
        float: left;
        border-left: 1px solid @light-grey;
        margin-left: 50px;
        #top-consumer-reviews, #consumer-digest {
            font-size: 10px;
            line-height: 16px;
            vertical-align: middle;
            width: 132px;
            height: 80px;
            padding: 18px 100px;
            margin-left: 25px;

            text-align: justify;

        }
        #consumer-digest {
            background: url(/static/img/external/consumer-digest/consumer-digest-logo-sml.png) no-repeat;
        }
        #top-consumer-reviews {
            background: url(/static/img/external/top-consumer-reviews.jpg) no-repeat;
        }
    }

}
/***** Footer *****/
#small-footer {
    border-top: 2px solid @red;
    p {
        width: 960px;
        margin: 0 auto;
        text-align: justify;
        font-size: 10px;
        line-height: 14px;
        padding: 16px 0 32px;
    }
}