{% load content_filters %}
<form action="" method="POST">
    {% csrf_token %}
    {% for field in formset.hidden_fields %}
        {{ field }}
    {% endfor %}
    {% for field in formset.visible_fields %}
        {% if forloop.counter == 4 %}
        <div class="bottom-rule">
        {% endif %}
        {{ field.errors }}

        {% if field.field.widget|klass == 'Select' %}
        <label>{{ field.name|capfirst }}:</label>
        {% endif %}
        
        {{ field }}
        {% if forloop.counter == 5 %}
        </div>
		<p>
            Please provide as much detailed information as possible
            regarding the nature of your feedback, especially if you
            still have an outstanding issue or complaint that you 
            need resolved.
        </p>
        {% endif %}
    {% endfor %}
    <button class="buyit">Submit &amp; Finish</button>
</form>
