{% load content_filters %}
<form action="" method="POST">
    {% csrf_token %}
    {% for field in formset.hidden_fields %}
        {{ field }}
    {% endfor %}
    {% for field in formset.visible_fields %}
        {{ field.errors }}
        
        {% if field.field.widget|klass == 'Select' %}
        <label class="select">{{ field.name|capfirst }}:</label>
        {% else %}
        <label>{{ field.name|capfirst }}:</label>
        {% endif %}
        {{ field }}
    {% endfor %}
    <button class="buyit">Continue ></button>
    <a href="http://www.protectamerica.com/pa/priv_p" title="View our Privacy Policy">We never share your information with anyone</a>

</form>
