{% load content_filters sekizai_tags %}
<form action="" method="POST" id="package-form">
    {% csrf_token %}
    {% for field in formset.hidden_fields %}
        {{ field }}
    {% endfor %}
    {% for field in formset.visible_fields %}
            {{ field.errors }}


            {{ field }}


    {% endfor %}

    <button type="button">Continue <i class="icon-chevron-right"></i><img style="position:absolute;top:300px;left:310px;display:none;" id='form-loading' height='120px' width='120px' src="{{ STATIC_URL }}/img/loading2.gif"></button>
    <div class="consent-box">
        <label class="consent-label" for="id_consent_box">By clicking this button, you consent to receive calls using automated technology from Protect America at the number provided and understand this is not a condition of purchase.</label>
        <div class="clear"></div>
    </div>
    <a href="{% url privacy-policy %}" id="privacy-policy" title="View our Privacy Policy">Your privacy is important and safe with us.</a>
</form>
{% addtoblock "js" %}
{% comment %}
<script type="text/javascript">
    $(document).ready(function() {
    function setMark(ele, yes) {
        if((ele.hasClass('yes-check') && yes) || (ele.hasClass('no-check') && !yes)) {
            return false;
        }
        // clear styles
        ele.removeClass('no-check yes-check').siblings('.form-check').hide();
        if(yes) {
            // its good to go
            ele.addClass('yes-check').siblings('.form-check.yes').fadeIn(350);
        } else {
            ele.addClass('no-check').siblings('.form-check.no').fadeIn(350);
        }

    }
    $('#package-form input').blur(function() {
        if($(this).val() == '') {
            return false;
        }
        if($(this).attr('id') == 'id_name') {
            if(/^[^\d]+$/.test($(this).val())) {
                setMark($(this), true);
            } else {
                setMark($(this), false);
            }
        }
        if($(this).attr('id') == 'id_email') {
            var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            if(filter.test($(this).val())){
                setMark($(this), true);
            } else {
                setMark($(this), false);
            }
        }
        if($(this).attr('id') == 'id_phone') {
            var filter = /^\(?(\d{3})\)?[- \.]?(\d{3})[- \.]?(\d{4})$/;
            if(filter.test($(this).val())){
                setMark($(this), true);
            } else {
                setMark($(this), false);
            }
        }

    });
    });
</script>
{% endcomment %}
<script type="text/javascript">
$(document).ready(function() {
    function validateEmail(email){
    var re = /\S+@\S+\.\S+/;
    return re.test(email);
    }

    $('#package-form input').keypress(function(e){
        if(e.which == 13){
            $('#package-form button').click();
        }
    });
    var submitting = false;

    $('#package-form button').click(function() {
        $('#package-form button').attr('disabled',true);
        var $form = $(this).closest('#package-form');
        var trusted = $form.find("[name ='xxTrustedFormToken']").val() || $form.find("[name ='CertUrl']").val()
        if (!trusted){
            $form.remove();
            $('#trusted-error').show();
            return false;
        }
        var name = $form.find("#id_name").val();
        var email = $form.find("#id_email").val();
        var phone = $form.find("#id_phone").val();
        /*
        if (name == ''){
            alert('Please include your name before proceeding.');
            _gaq.push(['_trackEvent', 'Form Error', 'Name Error', 'moving-kit']);
            return false;
        }
        if (email == ''){
            alert('Please include your email before proceeding.');
            _gaq.push(['_trackEvent', 'Form Error', 'Email Error', 'moving-kit']);
            return false;
        }
        if (validateEmail(email) != true){
            alert ('Please input a valid email before proceeding.');
            _gaq.push(['_trackEvent', 'Form Error', 'Invalid Email Error', 'moving-kit']);
            return false;
        }
        if (phone == ''){
            alert('Please include your phone number before proceeding.');
            _gaq.push(['_trackEvent', 'Form Error', 'Phone Error', '{{ page_name }}']);
            return false;
        }
        */
        $form.children('div').removeClass('.error-state');
        var data = {'name':name,
                    'email': email,
                    'phone': phone,
                    'trusted_form': trusted,
                    'form': 'basic',
                    'referer_page':window.location.href,
                    'form_values':$form.serialize(),
                    'operating_system':(window.OSName + "_PA"),
                    'form_js': 't/c-s/f/o_f.h'
                    };
        $.ajax({
                type: "POST",
                url: "/contact/ajaxpost/",
                data: data,
                dataType: "json",
                success: newFormSuccess,
                error: newFormError,
                beforeSend:function(){
                    $("#package-form .icon-chevron-right").hide();
                    $('#package-form #form-loading').show();
                    $('#package-form button').attr('disabled',true);
                    }
                });

         function newFormError(){
            $('#package-form #form-loading').hide();
            $("#package-form .icon-chevron-right").show();
            $('#package-form button').attr('disabled',false);
            if (!name && !phone){
                $('#id_name').css('border-color','red').attr('placeholder','Please Enter Name');
                $('#id_phone').css('border-color','red').attr('placeholder','Please Enter Phone Number');
                alert('Please Enter Your Name and Phone Number.');
            }
            if (!phone && name){
                $('#id_phone').css('border-color','red').attr('placeholder','Please Enter Phone Number');
                alert('Please Enter Your Phone Number.');
            }
            if (!name && phone){
                $('#id_name').css('border-color','red').attr('placeholder','Please Enter Your Name');
                alert('Please Enter Your Name.');
            }
            if (name){
                $('#id_name').css('border-color','');
            }
            if (phone){
                $('#id_phone').css('border-color','');
            }
        }

        function newFormSuccess(json) {
            $('#package-form #form-loading').hide();
            submitting = false;
            if(json.success) {
                {% if thank_you %}
                window.location = '{{ thank_you }}';
                {% else %}
                url = json.thank_you
                window.location = "http://www.protectamerica.com" + url;
                {% endif %}
                _gaq.push([
                    '_trackEvent',
                    'Form Click',
                    'Form Events',
                    '{{ page_name }}'
                ]);
                return;
            }
        }
        return false;
        });
    });

</script>
{% endaddtoblock "js" %}
