@import "../../style";


body {
    background: @light-grey;
}
#top-wrapper {
    #left-wrapper {
        .content-box(669px);
        background: @white;
    }
}
#five-blocks {
    .assurance-block {
        .content-box(160px);
        padding: 8px;
        height: 168px;
        background: @white;
        margin-right: 20px;
        &#assurance-block-five {
            margin-right: 0;
        }
    }
}
#five-cards {
    margin-top: 8px;
    position: relative;
    .content-box(960px);
    height: 363px;
    #selector-arrow {
        position: absolute;
        top: -20px;
        left: 66px;
        width: 48px;
        height: 20px;
        background: url(/static/img/affiliates/generic-landing-page/white-arrow.png) no-repeat;
    }
    .assurance-card {

        background: @white;
        display: none;
        &#assurance-card-one {
            display: block;
        }
    }
}
