@import "../../style";


body {
    background: @light-grey;
}
#hero-banner {
    background: #449fd3 url(/static/img/affiliates/adt-comparison-two/light-blue-bg.jpg) repeat-x;
    height: 409px;
    width: 100%;
    overflow: hidden;
    #top-hero-banner {
        float: left;
        width: 669px;
        height: 409px;
    }

    .adt-banner {
        position: absolute;
        left: -269px;
    }
}
#call-box {
    width: 100%;
    margin: 0;
    background: @red;
    &:hover {
        background: @red;
    }
    p {
        color: @white;
        strong {
            color: @white;
            span {
                a {
                    color: @white;
                }
            }
        }
    }
}
.wrapper {
    padding: 0;
}
#quote-form {
    margin-top: 8px;
    margin-bottom: 0;
}
#top-wrapper {
    #left-wrapper {
        .content-box(669px);
        background: @white;
    }
}
#five-blocks {
    .assurance-block {
        .content-box(160px);
        padding: 8px;
        height: 168px;
        background: @white;
        margin-right: 20px;
        &#assurance-block-five {
            margin-right: 0;
        }
    }
    #selector-arrow {
        position: absolute;
        top: 181px;
        left: 66px;
        width: 48px;
        height: 20px;
        background: url(/static/img/affiliates/generic-landing-page/white-arrow.png) no-repeat;
    }
}
#five-cards {
    margin-top: 8px;
    position: relative;
    .content-box(960px);
    height: 363px;

    .assurance-card {

        background: @white;
        display: none;
        &#assurance-card-one {
            display: block;
        }
    }
}
