/********** Global Styles ***********/

@white: #fff;
@black: #000;

@lightgrey: #EFF1F0;
@lightblue: #0066B3;

@grey: #EFEFEF;
@red: #C70909;
@blue: #00559A;
@linkred: #BB3226;

@darkblue: #014C9F;
@darkgrey: #333333;

/********** Global Mixins ***********/

.bold() {
    font-weight: bold;
}
.italic() {
    font-style: italic;
}
.inline_list() {
    display: inline;
    float: left;
}
.border_radius(@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}
.top_border_radius(@radius: 5px) {
    -moz-border-radius-topleft: @radius;
    -moz-border-radius-topright: @radius;
    -webkit-border-top-left-radius: @radius;
    -webkit-border-top-right-radius: @radius;
    border-top-left-radius: @radius;
    border-top-right-radius: @radius;
}
