@import "style.less";

/********** Home Page Styles ***********/

#testimonial_wrapper {
    .border_radius;
    margin-bottom: 30px;
    margin-top: 10px;
    position: relative;
    width: 100%;
    border: 1px solid #999999;
}

#protection {
    .halfblock;

    ul {
        margin-left: 1.5em;

        li {
            .sprite(-219px, -1px);
            padding: 0 0 10px 15px;
        }
    }
}

#advantage {
    .rightblock;

    table {
        border-left: 1px solid #CCCCCC;
        border-spacing: 0;
        border-top: 1px solid #CCCCCC;
        clear: both;
        line-height: 1.2em;
        margin: 0 auto 10px;
        text-align: center;
        width: 308px;
        margin: 8px;

        thead, tfoot {
            td {
                .sprite(0, -1345px);
                background-repeat: repeat-x;
                font-size: 10px;
                line-height: 1.2em;
            }
        }
        th {
            background: none repeat scroll 0 0 #004A97;
            color: #FFFFFF;
            padding: 2px;
            text-align: center;
            border-bottom: 1px solid #CCCCCC;
            border-right: 1px solid #CCCCCC;
        }
        
        td {
            text-align: center;
            border-bottom: 1px solid #CCCCCC;
            border-right: 1px solid #CCCCCC;
            padding: 3px;
            vertical-align: middle; 
        }
        tr:hover {
            background-color: #FFFFBF;
        }
        tr {
            background-color: #F9F9F9;
        }

        .odd {
            background-color: #F1F2F3;
        }
        .highlight {
            background-color: #FFFFBF;
        }
        .red {
            color: #CC0000 !important;
        }
    }
}

#familyofcompanies, #security {
    .contentbox;
    h2 {
        margin-left: 4px;
    }
}
#cellupgrade {
    margin-bottom: 10px;
}
#copperbestbuy {
    .contentbox;
    text-align: center;
}
