@import "style.less";

/********** Product Header Styles ***********/

#product_header {
    .border_radius(10px);
    width: 669px;
    background: @white;
    border: 1px solid #AAAAAA;
    -moz-box-shadow: 0 2px 5px #CCCCCC;
    box-shadow: 0 2px 5px #CCCCCC;
    margin: 0 auto 10px;

    ul {
        display: block;
        margin: 0 auto;
        text-align: center;

        .active {
            background: none repeat scroll 0 0 #D3EDFC;
            box-shadow: 0 5px 5px #888888;
        }

        li {
            .border_radius(10px);
            display: block;
            float: left;
            padding: 20px 5px 5px;
            position: relative;
            width: 124px;
        }

        li:hover {
            background: none repeat scroll 0 0 #EEEEEE;
        }
        
        strong {
            color: #014C9F;
            display: block;
            font-weight: 600;
            line-height: 1em;
            margin: 0;
            padding: 0;
        }

        span {
            color: @black;
            font-size: 0.8em;
            line-height: 1em;
            margin: 0px;
            padding: 0px;
        }

        .item_thumb {
            cursor: pointer;
            height: 80px;
            margin: 0 auto;
            width: 125px;
        }
        .copper {
            .sprite(1px, -19px, "/static/img/products/packages_icon-xt.png");
        }
        .bronze {
            .sprite(1px, -97px, "/static/img/products/packages_icon-xt.png");
        }
        .silver {
            .sprite(1px, -182px, "/static/img/products/packages_icon-xt.png");
        }
        .gold {
            .sprite(1px, -259px, "/static/img/products/packages_icon-xt.png");
        }
        .platinum {
            .sprite(1px, -340px, "/static/img/products/packages_icon-xt.png");
        }
        .lowest_badge {
            left: 5px;
            position: absolute;
            top: 6px;
        }
        .first, .last {
            width: 123px;
        }
    }
}

/********** Product Page Styles ***********/

#package_area {
    .border_radius(10px);
    background-color: #E1E1E1;
    padding: 10px;
    width: 648px;
    margin-bottom: 20px;
    border: 1px solid #0066B3;
    position: relative;
    -moz-box-shadow: 0 5px 5px #888888;
    box-shadow: 0 5px 5px #888888;

    #product_image {
        float: left;
        margin: 0 auto;
        padding-right: 10px;
        text-align: center;
        width: 340px;

        h2 {
            color: #0066B3;
            font-size: 26px;
            line-height: 26px;
            padding-top: 10px;
            font-weight: normal;
            margin-bottom: 0;
        }

        h3 {
            color: #5E5E5E;
            font-size: 14px;
            letter-spacing: 0;
            line-height: 14px;
            font-weight: normal;
            margin-bottom: 0;
        }

        h4 {
            color: #BB3226;
            font-size: 16px;
            letter-spacing: 0;
            line-height: 28px;
            font-weight: normal;
            margin-bottom: 0;
        }
    }

    #product_description {
        float: left;
        position: relative;
        width: 290px;

        h1 {
            border-bottom: 2px solid #A09F9F;
            color: #131313;
            font-size: 27px;
            font-weight: normal;
            padding: 0 0 5px 2px;
            line-height: 1em;
        }

        ul {
            color: #3E3E3E;
            font-size: 13px;
            line-height: 15px;
            list-style-type: disc;
            margin-left: 20px;
        }
        
        h2 {
            color: #131313;
            font-size: 15px;
            font-weight: 600;
            letter-spacing: 0.25px;
            margin: 0;
        }

        #offers {
            background: none repeat scroll 0 0 @white;
            border-radius: 5px 5px 5px 5px;
            margin-bottom: 10px;
            padding: 10px;
            width: 270px;

            ul {
                color: #345897;
                font-size: 13px;
                font-weight: bolder;
                line-height: 15px;
                list-style-type: disc;
                margin: 0 0 0 10px;
            }
        }
        
        #order_button {
            border-top: 2px solid #A09F9F;
            padding-top: 0;
            text-align: center;
            width: 290px;

            div {
                color: #333333;
                font-size: 16px;
                margin: 0;
                padding: 0;
            }

            span {
                color: #0066B3;
                display: block;
                font-size: 26px;
                font-weight: 600;
                line-height: 26px;
                margin: 0;
                padding: 0;
            }
        }

        #red_badge {
            background: url("/static/img/products/red-badge.png") no-repeat scroll center top transparent;
            color: #FFFFFF;
            height: 47px;
            padding: 18px 8px 15px 2px;
            position: absolute;
            right: 0;
            text-align: center;
            top: 50px;
            width: 70px;

            p {
                color: #FFFFFF;
                display: block;
                font-size: 12px;
                font-weight: 800;
                line-height: 0.75em;
                margin: 0;
                padding: 0;
                padding-bottom: 2px;

                span {
                    color: #FFFFFF;
                    display: block;
                    font-size: 24px;
                    font-weight: 800;
                    letter-spacing: -0.5px;
                    line-height: 24px;
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
}
