@import "style.less";
#search {
    position: relative;

    #search_matches {
        position: absolute;
        top: 70px;
        left: 15px;

        h2 {
            color: #000000;
            font-size: 12px;
            letter-spacing: 0;
            margin-bottom: 0;
            padding-left: 10px;
            padding-top: 5px;
            
        }
        .border {
            border-top: 1px solid #CCC;
        }

        .search_page {
            width: 620px;
            height: 85px;
            padding: 10px;
            margin-top: 5px;
            margin-bottom: 5px;

            h3 {
                font-size: 16px;
                font-weight: normal;
                margin-bottom: 0px;
                letter-spacing: 0;
                a {
                    color: #0000CC;
                    text-decoration: underline;
                }
            }
            p {
                padding: 0px;
                margin: 0px;
            }
            span {
                color: #008000;
            }
        }
    }
}
