{% extends "base.html" %}
{% block page_title %}Protect America | Home Security{% endblock %}

{% block css %}
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7; IE=EmulateIE9"> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<link rel="stylesheet" href="./css/base.css" type="text/css" media="all">
	<!--[if lt IE 9 ]><link rel="stylesheet" href="./css/720_grid.css" type="text/css"><![endif]-->
	<link rel="stylesheet" href="./css/720_grid.css" type="text/css" media="screen and (min-width: 720px)">
	<link rel="stylesheet" href="./css/986_grid.css" type="text/css" media="screen and (min-width: 986px)">
	<link rel="stylesheet" href="./css/1236_grid.css" media="screen and (min-width: 1236px)" >
	<link rel="icon" href="images/favicon.png" type="image/png" >
{% endblock %}
{% block header %}{% endblock %}
{% block content %}	
	<!--header-->
		<div class="header_wrap">
		<div class="header_width">
			<div class="logo">
				<a href="url"><img src="./images/protect_america_logo.jpg" alt="Protect America"></a>
			</div>
			
			<div class="disp_no_phones"">
			<div class="header_cta">
					<p class="call">Call Now For A <b>FREE SYSTEM!</b></p>
					<p class="phone">1-800-657-2717</p>
			</div>
			</div>
		</div>
		</div>
	<!--end header -->
	<!--hero-->
	<div class="hero_bg">
	<div class="grid">
		<div class="row">
			
			<!--left-->
			<div class="slot-0-1-2-3">
				<h1>Wireless Home Security. <br />100% Protection.</h1>
			
				<div class="row">
					<div class="slot-0-1-2">
						<div class="bar_bg1">
							<p class="checks"><span class="disp_no_phones"><img src="images/checks.png"></span></p>
							<div class="bar_points">
								<h5>FREE <span class="disp_no_phones">HOME SECURITY</span> SYSTEM</h5>
								<h6>You pay nothing out of pocket.<span class="disp_no_phones"> Nada.</span></h6>
							</div>
							<div class="clear"></div>
						</div>
						<div class="bar_bg2">
							<p class="checks">	<span class="disp_no_phones"><img src="images/checks.png" alt="checkmark"></span></p>
							<div class="bar_points">
								<h5>LIFETIME WARRANTY</h5>
								<h6><span class="disp_no_phones"> Use it up, wear it out, if</span><span class="disp_only_phones">If</span> it breaks we’ll send it out!</h6>
							</div>
							<div class="clear"></div>
						</div>
						<div class="bar_bg3">
							<p class="checks">	<span class="disp_no_phones"><img src="images/checks.png"  alt="checkmark"></span></p>
							<div class="bar_points">
								<h5>ONLY $19.99 A MONTH</h5>
								<h6>Surprisingly affordable? <span class="disp_no_phones">Thats how we planned it.</span></h6>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<div class="disp_no_phones">
					<div class="slot-3">
						<p class="phones"><img src="images/phones.png" alt="phones"  alt="checkmark"></p>
					</div>
					</div>
				</div>
				
				<div class="disp_no_phones">
				<div class="limited_bg">
				<div class="row">
				<div class="slot-0-1-2-3">
						<p class="keychains"><img src="images/keychains.png" alt="keychains"></p>
						<div class="details">
							<p class="offer_headline">LIMITED TIME OFFER!</p>
							<p class="offer_text">Call now for 2 FREE keychain remotes. </p>
							<p class="offer_text"><b>Offer ends <?= date(" m/d/Y"); ?>!</b></p>
						</div>
						<div class="disp">
						<div class="winner_cta">
							<p><img src="images/besty_award.png" alt="besty award"></p>
							<p><a href="http://besthomesecuritycompanys.com/company/protect-america" target="0"><img src="images/like_button.jpg" alt="protect america reviews"></a></p>
						</div>
						</div>
				</div>
				</div>
				</div>
				</div>
			
			</div>
			<!--end left-->
			
			
			<!--right-->
			<div class="slot-4-5">
			<div class="form_white_bg"><br />
				<p class="new_price"><span class="disp_no_phones"><img src="images/new_price.jpg" alt="new price"></span></p>
<?php include 'forms/form.php';?> 
			</div>
			</div>
			<!--end right-->
			
		</div>
		</div>
		</div>
		<!--end hero-->
	
	
		<!--first cta-->
		<div class="orange_cta">
		<div class="disp_no_phones">
		<div class="row">
			<div class="slot-0-1-2-3-4-5">
				<p>Call now for a FREE system! 1-800-657-2717</p>
			</div>
		</div>
		</div>
		</div>
		<!--end first cta-->
	
	
	
	
	<!--main body-->
	<div class="main">
	<div class="grid">
		<!--second section-->
		<div class="row">
		<div class="three_columns">
			<!--left-->
			<div class="slot-0-1">
				<div class="disp_no_phones">
					<p><img src="images/img_1.jpg" alt="lowest price guaranteed"></p>
				</div>
				<h4>Lowest Price Guaranteed</h4>
				<p>At Protect America, we provide the best possible security at the most affordable price. 
				We will match or beat any competitors price, so you never have to worry if you’re getting the 
				best deal.</p>
			</div>
			<!--end left-->
			
			<!--mid-->
			<div class="slot-2-3">
				<div class="disp_no_phones">
					<p><img src="images/img_2.jpg" alt="Lifetime Equipment Warranty"></p>
				</div>
				<h4>Lifetime Equipment Warranty</h4>
				<p>When you choose Protect America, you choose a lifetime of service. If your equipement 
				ever malfunctions, we will repair it or provide a new one for free. We work hard to keep 
				you safe, 24/7</p>
			</div>
			<!--end mid-->
			
			<!--right-->
			<div class="slot-4-5">
				<div class="disp_no_phones">
					<p><img src="images/img_3.jpg" alt="Award Winning Service"></p>
				</div>
				<h4>Award Winning Service</h4>
				<p>Protect America is selected year after year as the undisputed, all-around best choice 
				for home security. You can rest assured you’re getting the best security for the best deal around!</p>
			</div>
			<!--end right-->
		</div>
		</div>
		<!--end second section-->
			
		<div class="disp_no_phones">
			<hr />
		</div>
		
		<!--third section-->
		<div class="disp_no_phones">
		<div class="row">
		<div class="three_columns">
			<!--left-->
			<div class="slot-0-1-2-3">
				<h4>See How Protect America Stacks Up to the Competition:</h4>
<!--chart-->
				<div class="chart">
					<div class="chart_header_bg">
					<div class="row">
						<div class="slot-0">
							<p></p>
						</div>
						<div class="slot-1">
						<div class="company_bg">
							<p>Protect America</p>
						</div>
						</div>
						<div class="slot-2">
							<p>ADT</p>
						</div>
						<div class="slot-2">
							<p>FrontPoint</p>
						</div>
					</div>
					</div>
				
					<div class="gray_bg">
					<div class="row">
						<div class="slot-0">
						<div class="chart_label">
							<p>Installation</p>
						</div>
						</div>
						<div class="slot-1">
						<div class="company_bg_dark">
							<p>$0</p>
						</div>
						</div>
						<div class="slot-2">
							<p>$49</p>
						</div>
						<div class="slot-2">
							<p>$99</p>
						</div>
					</div>
					</div>
				
					<div class="white_bg">
					<div class="row">
						<div class="slot-0">
						<div class="chart_label">
							<p>Monthly Rate</p>
						</div>
						</div>
						<div class="slot-1">
						<div class="company_bg_light">
							<p>$19.99</p>
						</div>
						</div>
						<div class="slot-2">
							<p>$42.99</p>
						</div>
						<div class="slot-2">
							<p>$34.99</p>
						</div>
					</div>
					</div>
				
					<div class="gray_bg">
					<div class="row">
						<div class="slot-0">
						<div class="chart_label">
							<p>Owner's Discount</p>
						</div>
						</div>
						<div class="slot-1">
						<div class="company_bg_dark">
							<p><img src="images/white_check.png" alt="yes"></p>
						</div>
						</div>
						<div class="slot-2">
							<p><img src="images/gray_check.png" alt="yes"></p>
						</div>
						<div class="slot-2">
							<p><img src="images/gray_check.png" alt="yes"></p>
						</div>
					</div>
					</div>
				
					<div class="white_bg">
					<div class="row">
						<div class="slot-0">
						<div class="chart_label">
							<p>24/7 Monitoring</p>
						</div>
						</div>
						<div class="slot-1">
						<div class="company_bg_light">
							<p><img src="images/white_check.png" alt="yes"></p>
						</div>
						</div>
						<div class="slot-2">
							<p><img src="images/gray_check.png" alt="yes"></p>
						</div>
						<div class="slot-2">
							<p><img src="images/gray_check.png" alt="yes"></p>
						</div>
					</div>
					</div>
				
					<div class="gray_bg">
					<div class="row">
						<div class="slot-0">
						<div class="chart_label">
							<p>Lifetime Warranty</p>
						</div>
						</div>
						<div class="slot-1">
						<div class="company_bg_dark">
							<p><img src="images/white_check.png" alt="yes"></p>
						</div>
						</div>
						<div class="slot-2">
							<p></p>
						</div>
						<div class="slot-2">
							<p></p>
						</div>
					</div>
					</div>
				
					<div class="white_bg">
					<div class="row">
						<div class="slot-0">
						<div class="chart_label">
							<p>Lowest Price Gty.</p>
						</div>
						</div>
						<div class="slot-1">
						<div class="company_bg_light">
							<p><img src="images/white_check.png" alt="yes"></p>
						</div>
						</div>
						<div class="slot-2">
							<p></p>
						</div>
						<div class="slot-2">
							<p></p>
						</div>
					</div>
					</div>
				
					<div class="gray_bg">
					<div class="row">
						<div class="slot-0">
						<div class="chart_label">
							<p>Locked-in Rate</p>
						</div>
						</div>
						<div class="slot-1">
						<div class="company_bg_dark">
							<p><img src="images/white_check.png" alt="yes"></p>
						</div>
						</div>
						<div class="slot-2">
							<p></p>
						</div>
						<div class="slot-2">
							<p></p>
						</div>
					</div>
					</div>
				
				</div>
				<!--end chart-->
			</div>
			<!--end left-->
			
			<!--right-->
			<div class="slot-4-5">
				<h4>Read REAL Customer Reviews:</h4>
				
				<p class="quote">They were awesome! Easy set up and super nice. Best deal compared to the other companies.</p>
				<p class="signature">- Andrea</p>
				
				<p class="quote">I had the system up and working great in just a couple of hours. I have the cellular 
				version so if the internet or phone lines are cut the system still works. The GE equipment is simply
				 great. As long as you are having them monitor the equipment is warrantied. I couldn’t be happier.</p>
				<p class="signature">- Richard B.</p>
				
				<p class="quote">I am so glad I have my system through Protect America. Cheaper rates and better customer service. Thank you!</p>
				<p class="signature">- Ray Carroll</p>
			</div>
			<!--end right-->
			
		</div>
		</div>
		</div>
		<!--end third section-->
		
		<!--last cta-->
		<div class="disp_no_phones">
		<div class="row">
			<div class="slot-0-1-2-3-4-5">
			<div class="blue_cta">
				<p>Call now for a FREE system! 1-800-657-2717</p>
			</div>
			</div>
		</div>
		</div>
		<!--end last cta-->
			
	<br />
	</div>
	</div>
	<!--end main body-->

<!--footer-->
		<div class="row">
			<div class="slot-0-1-2-3-4-5">
			<div class="footer_text">
				<p class="footer_logo"><a href="url"><img src="images/footer_logo.png" alt="protect america logo"></a></p>
				<p>* Standard home security alarm monitoring agreement required with approved credit. 
				Offer subject to change. Void where prohibited. </p>

				<p>* Information used for home security alarm system comparisons was obtained November 2011 
				through telephone and online research. ADT prices: based on total out-of-pocket expense to 
				obtain services; installation based on fees for similar home security equipment packages; 
				"Monitoring" price listed includes the additional "warranty" or "extended service plan".</p>

				<p>GE and GE Security logos are registered trademarks of General Electric.</p>

				<p>© 1992 — <?= date("Y"); ?> Protect America, Inc. All rights reserved</p>
			</div>
			</div>
		</div>
		<!--end footer-->
{% endblock %}	