{% extends "order/quote-form.html" %}
{% block form-title %}
    <p class="form-title">Get Your Free System!</p>
    <p class="form_explain">Just provide your <b>contact info.</b> and a representative will contact you directly!</p>
{% endblock %}
{% block quote-button %}Get my System{% endblock %}
{% block formfields %}
    <div class="form-fields">
           
        <input id="id_name" type="text" maxlength="128" name="name" placeholder="Name">
           
           
        <input id="id_email" type="text" maxlength="128" name="email" placeholder="Email">
           
           
        <input id="id_phone" type="text" maxlength="20" name="phone" placeholder="Phone">

    </div>
{% endblock %}