{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/about-us.css">
{% endblock %}
{% block subnav_child %}

{% endblock %}
{% block subnav_parent %}
<ul id="sub-nav-parent">
    <li {% if 'profile' in active_pages %}class="active"{% endif %}><a href="{% url profile %}" title="Learn about Protect America Inc.">Profile</a></li>
    <li {% if 'family' in active_pages %}class="active"{% endif %}><a href="{% url family %}" title="Click to Learn about Our Family of Companies">Family of Companies</a></li>
    <li {% if 'charities' in active_pages %}class="active"{% endif %}><a href="{% url charities %}" title="Click to Learn about All the Charities Protect America Supports or has helped over the years">Charities</a></li>


</ul>
{% endblock %}
