{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/learn.css">
{% endblock %}
{% block subnav_child %}

{% endblock %}
{% block subnav_parent %}
<ul id="sub-nav-parent">
    <li {% if 'profile' in active_pages %}class="active"{% endif %}><a href="{% url profile %}" title="Learn about Protect America Inc.">Profile</a></li>
    <li {% if 'family' in active_pages %}class="active"{% endif %}><a href="{% url family %}" title="Click to Learn about Our Family of Companies">Family of Companies</a></li>
    <li {% if 'charities' in active_pages %}class="active"{% endif %}><a href="{% url charities %}" title="Click to Learn about All the Charities Protect America Supports or has helped over the years">Charities</a></li>
    <li {% if 'testimonials' in active_pages %}class="active"{% endif %}><a href="{% url testimonials %}" title="See all of the Protect America customers who have sent us love throughout the years">Testimonials</a></li>
    <li {% if 'how-it-works' in active_pages %}class="active"{% endif %}><a href="{% url how-it-works %}" title="Click to Learn how Protect America Home Security Systems Work">How It Works</a></li>
    <li {% if 'learn-about-security' in active_pages %}class="active"{% endif %}><a href="{% url learn-about-security %}" title="Click to Learn About Home Security">Learn About Security</a></li>
    <li {% if 'tell-a-friend' in active_pages %}class="active"{% endif %}><a href="{% url tell-a-friend %}" title="Tell Your Friends about Protect America">Tell A Friend</a></li>



</ul>
{% endblock %}
