{% extends "about-us/base.html" %}

{% block content %}
<div id="protect-america-cares">
    <img width="325" height="270" src="/static/img/external/protect-america-cares.png" id="protect-america-cares-logo">
	<div id="protect-america-cares-content">
		<h1>Supported Charities with Protect America Cares</h1>
		<p>As a company, we strive to be more than just a home security company. And we've made it our goal to help people. We are proud to care about those around us and to give back to our community when we can. Below are just some of the people we have helped over the years. For more information about our charity efforts and upcoming events, please visit us today at: <a target="_blank" href="http://www.protectamericacares.org">http://www.protectamericacares.org</a></p>
	</div>
	<div class="clear"></div>
</div>
{% include "order/quote-form.html" with form=forms.basic %}
<div class="clear"></div>
<div id="ronald-mcdonald-house">
	<div id="ronald-mcdonald-house-content">
		<h2>Ronald McDonald House</h2>
		<p>Protect America is committed to protecting families and homes across the United States.  We feel that the most important thing we can do is keep our children safe. That is why we support Ronald McDonald House and their mission to improve the health and well being of children. We are proud to be one of the largest contributors over the years to the Ronald McDonald House here in Austin, TX.</p>
		<div id="ronald-mcdonald-house-more-info">
			<span>More Information</span>
			<ul>
				<li><a target="_blank" href="/images/letter_rmh.jpg">Letter from Ronald McDonald House</a></li>
				<li><a target="_blank" href="http://protectamericacares.org">Protect America at the Ronald McDonald House</a></li>
				<li><a target="_blank" href="http://rmhc.org/">Ronald McDonald House Website</a></li>
			</ul>
		</div>
	</div>
	<div id="ronald-mcdonald-house-logo">
		<img width="325" height="270" src="/static/img/external/ronald-mcdonald-house.png">
	</div>
	<div class="clear"></div>
</div>
<div id="austin-zoo">
	<div id="austin-zoo-logo">
		<img width="325" height="270" src="/static/img/external/austin-zoo.png">
	</div>
	<div id="austin-zoo-content">
		<h2>The Austin Zoo</h2>
		<p>After finding a full-blooded timberland wolf pup on his property, our  CEO, Thad Paschall knew that this small animal would need a special  place to call home.  With more than 300 animals from more than 100 different species, the Austin Zoo was the perfect place.  Austin  Zoo is a private, non-profit zoo that rescues animals and serves the  Austin community. Here at Protect America, we were proud to have rescued  this wolf, affectionately named Joy, and to be involved in building a  large and lush wolf habitat for the Austin Zoo. Now, Joy and the other  wolves at Austin zoo have a safe place to play hide and seek while  enjoying the lazy days of summer.</p>
		<div id="austin-zoo-more-info" class="outline-box">
			<span>More Information</span>
			<ul>
				<li><a target="_blank" href="http://www.austinzoo.org/">Austin Zoo Website</a></li>
			</ul>
		</div>
	</div>
	<div class="clear"></div>
</div>
<div id="animal-charities">
	<div id="austin-pets-alive">
		<img width="325" height="270" src="/static/img/external/austin-pets-alive.png">
		<h2>Austin Pets Alive</h2>
		<p>Many of us here at Protect America are big animal lovers.  And we consider our pets as another important member of our family. So when we found out about the local non-profit, Austin Pets Alive, we knew we had to help. They make it their job to try to find homes for all those pets out there that don't have a family.</p>
		<div id="austin-pets-alive-more-info">
			<span>More Information</span>
			<ul>
				<li><a target="_blank" href="http://www.austinpetsalive.org/">Austin Pets Alive Website</a></li>
			</ul>
		</div>
	</div>
	<div id="barkin-doggie-biscuits">
		<img width="325" height="270" src="/static/img/external/barkin-doggie-biscuits.png">
		<h2>Barkin' Doggie Biscuits</h2>
		<p>Barkin' Doggie Biscuits makes biscuits that your pets will love. And when you buy a treat for your pet, they give one to a dog in need. So, working with various shelters around town, we bought a bunch of these tasty treats so pets in shelters can benefit from this wonderful program!</p>
		<div id="barkin-doggie-biscuits-more-info">
			<span>More Information</span>
			<ul>
				<li><a target="_blank" href="http://barkindoggiebiscuits.com/">Barkin' Doggie Biscuits Website</a></li>
			</ul>
		</div>
	</div>
	<div class="clear"></div>
</div>
<div id="support-our-troops">
	<div id="troops-image">
		<img width="325" height="270" src="/static/img/external/united-states-military.jpg">
	</div>		
	<div id="support-our-troops-content">
		<h2>Support Our Troops</h2>
		<p>We really believe that home security is about protecting your loved ones. And we take this job to heart by making it our goal to keep your home safe. Here at Protect America, we never forget the sacrifice that our armed forces give to keep us safe and protect the freedom we hold so dear.  That is why we are proud to support our troops in Afghanistan and Iraq.</p>
		<div id="support-our-troops-more-info">
			<span>More Information</span>
			<ul>
				<li><a target="_blank" href="/images/letter_troops.gif">Letter from Family Readiness Group</a></li>
				<li><a target="_blank" href="//images/troops_certificate.gif">Certificate of Appreciation</a></li>
				<li><a target="_blank" href="http://www.defendamerica.mil/articles/mar2005/a030805wm1.html">Defend America Article</a></li>
			</ul>
		</div>
	</div>
	<div class="clear"></div>
</div>
<div id="cystic-fibrosis-foundation">
	<div id="cystic-fibrosis-foundation-content" class="content-box half">
		<h2>Cystic Fibrosis Foundation</h2>
		<p>Through participating in their events like the Great Strides walk, Protect America has raised awareness for the local chapter of the Cystic Fibrosis Foundation. We support their efforts as they work toward a cure for cystic fibrosis.</p>
		<div id="cystic-fibrosis-foundation-more-info">
			<span>More Information</span>
			<ul>
				<li><a target="_blank" href="http://www.cff.org/">CFF Website</a></li>
			</ul>
		</div>
	</div>
	<div id="cystic-fibrosis-foundation-logo">
		<img width="325" height="176" src="/static/img/external/cystic-fibrosis-foundation.png">
	</div>
	<div class="clear"></div>
</div>
<div id="children-charities">
	<div id="feed-the-children">
		<img width="325" height="270" src="/static/img/external/feed-the-children.png">
		<h2>Feed the Children</h2>
		<p>Feed The Children is an international, nonprofit relief organization that delivers food, medicine, clothing and other necessities to individuals, children and families who lack these essentials due to famine, war, poverty, or natural disaster. They truly help people when they need it most and Protect America is very proud to support their efforts.</p>
		<div id="feed-the-children-more-info">
			<span>More Information</span>
			<ul>
				<li><a target="_blank" href="/images/letter_ftc.jpg">Letter from Feed the Children</a></li>
				<li><a target="_blank" href="http://www.feedthechildren.org/">Feed the Children Website</a></li>
			</ul>
		</div>
	</div>
	<div id="any-baby-can">
		<img width="325" height="270" src="/static/img/external/any-baby-can.png">
		<h2>Any Baby Can</h2>
		<p>Any Baby Can serves more than 6,000 of the youngest, sickest, and poorest children and their families in the Central Texas area. Giving these children the chance to reach their potential through education, therapy and family support services. Protect America is proud to support their endeavors and help children right here in Austin, TX.</p>
		<div id="any-baby-can-more-info">
			<span>More Information</span>
				<ul>
					<li><a target="_blank" href="/images/letter_abc.jpg">Letter from Any Baby Can</a></li>
					<li><a target="_blank" href="http://www.abcaus.org/">Any Baby Can Website</a></li>
				</ul>
		</div>
	</div>
	<div class="clear"></div>
</div>

{% endblock %}  
{% block sidebar %}
{{ block.super }}


{% endblock %}
