{% extends "learn/base.html" %}
{% block page_title %}How It Works | GE Wireless Security System | Protect America{% endblock %}
{% block page_keywords %}GE security system, GE security systems, security, alarm system, security system, home security{% endblock %}
{% block page_description %}Learn how the Wireless GE Home Security Systems work and see how Protect America is able to offer you the best GE Security Systems at such an affordable price.{% endblock %}

{% block content %}
<div id="hero-wrapper" class="v-light-grey">
    <div id="glossary">
    	<h2>Glossary</h2>
    	<ul>
    		<li><u>Security Risk Assessment</u> - A study that identifies potential weak spots in security and proposes ways to eliminate them, increasing safety for the property owner.</li>
    		<li><u>Security System</u> - A device or network of devices that monitors for unauthorized activity. If such activity occurs, the system automatically notifies the property owner and appropriate authorities.</li>
    		<li><u>Select Brackets</u> - These pieces of equipment secure the sensors to a wall or other surface.</li>
    		<li><u>Sensor Extensions</u> - Used when a surface is not ideal for installing sensors, such as on the narrow frame of a window or door.</li>
    		<li><u>Sensor Magnets</u> - Magnets function in connection with sensors to detect activity. Magnets attach directly to doors/windows, while the sensors attach to frames.</li>
    		<li><u>Sensors</u> - The main method of detecting activity within the protected area. Sensors, when triggered, send signals to the monitoring system.</li>
    		<li><u>Shipping</u> - Shipping by UPS, with options from overnight to regular shipping. Costs depend on items shipped and delivery speed.</li>
    		<li><u>Smoke Detector</u> - A basic household fire safety device. Powered by battery or home electricity; emits a loud noise when smoke is in close proximity.</li>
    		<li><u>Soft Key</u> - The keys on the keypad allow the user to navigate options on handsets and other devices, reflected in a display.</li>
    		<li><u>STAY</u> - The STAY setting is in effect when the property owner is on site. Indicated by a signal when activated and deactivated.</li>
    		<li><u>Surveillance System</u> - A tool to monitor activity in a given area remotely.</li>
    		<li><u>TCP</u> - Allows networked users to send and receive information. Stands for "transmission control protocol."</li>
    		<li><u>Temperature Sensor</u> - A specialized device that measures temperature and detects changes. Useful for highly sensitive security monitoring.</li>
    		<li><u>Tempered glass</u> - Tempered glass is safer and stronger than normal glass. It resists breakage and does not shatter when broken. Commonly used in doors to provide extra safety from intruders.</li>
    		<li><u>Terms Of Product Sale</u> - The final agreement between purchaser and seller of a home security system.</li>
    		<li><u>Terms Of Service</u> - The agreement between property owner and security system provider. The agreement specifies the responsibilities of each party during usage of the system.</li>
    		<li><u>Theft protection</u> - Any means of securing property from theft or of replacing it via insurance if stolen.</li>
    		<li><u>Two-way keypad</u> - A convenient method of controlling a security system remotely. The user can activate or deactivate the system from any location, or alert the communication center of intrusion.</li>
    		<li><u>Window Lock</u> - A physical locking mechanism operated from inside that keeps a window shut. Specific type of lock depends on the style of window.</li>
    		<li><u>Wireless Home Security</u> - Wireless security systems are less visible, intrusive, and vulnerable than wired systems. Sensors transmit wireless signals to monitoring devices.</li>
    		<li><u>x10 system</u> - The X10 system provides wireless switching ability to the user, for activating a variety of on/off functions within the home.</li>
    	</ul>

    </div>
</div>
{% include "order/call-box.html" %}



{% endblock %}
