{% extends "learn/base.html" %}
{% block page_title %}How It Works | Protect America{% endblock %}
{% block page_description %}Learn how the Wireless Home Security Systems work and see how Protect America is able to offer you the best Security Systems at such an affordable price.{% endblock %}

{% block content %}
<div id="hero-wrapper" class="v-light-grey">
    <div id="hero-image">
        <div id="hero-content">
            <i class="icon-customer-care"></i>
            <h2>Home Security</h2>
            <h1>How It Works</h1>
            <p>Finding a home security system can be hard.  With Protect America, we make it simple and easy.</p>
        </div>
        <img src="{{ STATIC_URL }}img/products/simon-xt/simon-xt-hero-grey.jpg" class="main-hero-image" alt="smart-connect-interactive-app" />

    </div>
</div>
{% include "order/call-box.html" with no_promo=False %}
<div class="wrapper">
    <div id="how-it-works">
    	<h2>How the Home Security System and Monitoring Service Work:</h2>
    	<p>Protect America's <a href="http://www.protectamerica.com/home-alarm-systems/">Security System</a> provides flexible equipment packages so that you can customize a security system that meets your specific needs. To help detect burglars and intruders, wireless sensors that are part of any security system package, are placed on the doors and windows as well as wireless motion detectors that are used inside the home. Also, part of any security system package is the talking command station, which receives the signals from the wireless devices and sounds the 100dB interior siren.
    Call Today!</p>
        <p>With our 24/7 alarm monitoring service, the talking command station then attempts to notify the monitoring facility about the problem in your home by sending the signals either through your landline telephone or broadband Internet connection. The monitoring facility will allow you enough time to cancel the alarm from your home by entering the correct 4-digit code.</p>
        <p>If the code is not entered on the Security System, we will attempt to contact your home and ask for your correct password to verify whether it is a false alarm or a real emergency. If the correct password is not received on the first attempt to call your home, then our monitoring facility will immediately attempt to dispatch the appropriate emergency authorities to your home.</p>
        <p>At that point, we would then attempt to call your emergency contact numbers to notify you, your family, and any friends or neighbors on the list about the problem at your house.</p>
    </div>
        <div class="clear"></div>
    <div id="customer-qualifications">
        <h2>Customer Qualifications</h2>
        <p>Protect America is proud to offer our security system and service to all qualified U.S. residents. This offer is only available to U.S. residents with approved credit. To receive promotional online offers, customer must agree to and meet the following requirements:</p>
        <ul>
            <li>Customer must agree to standard monitoring agreement of 36 months and pass a basic credit check</li>
            <li>Customer is also required to install and activate their alarm system within 20 days of receiving it</li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
{% endblock %}  
