{% extends "about-us/base.html" %}
{% block content %}
<div id="about-us-content">
    <h1>Protect America Values Customers and Community</h1>
    <p>Protect America, Inc has protected over 375,000 families nationwide with the state-of-the-art <a href="http://www.protectamerica.com/pa/equipment" title="GE Wireless Home Security Companies Systems">GE Wireless Home Security System</a>. We are one of the fastest growing <a href="http://www.protectamerica.com/pa/profile" title="Home Security Companies">home security companies</a> in America with customers coast to coast!</p>
    
    <p>Among other home security companies, Protect America, Inc. has ranked in the Top 10 in volume of residential security system installations for the last three years according to SDM Magazine. As one of the fastest growing home security companies nationwide, we use cutting-edge computer technology to provide instantaneous product support and <strong>24-hour protection</strong> of your home and family.</p>
    
    <p>Make sure you are prepared in the event of an emergency anytime day or night. Defend your home and family against the threat of invasion, burglary and forced entry with a <a href="http://www.protectamerica.com/pa/equipment" title="GE Wireless Home Security Companies Systems">GE Wireless Home Security System</a> from one of the best home security companies around!</p>
</div>
{% include "order/quote-form.html" with form=forms.basic %}

{% endblock %}  


