{% extends "learn/base.html" %}
{% block page_title %}Learn About Security | Home Security | Home Security Company{% endblock %}
{% block page_keywords %}alarm companies, security, home security, home security system, home security systems{% endblock %}
{% block page_description %}Studies show burglars will commit crimes somewhere else when confronted with a home security system. Protect your home with a GE home security system.{% endblock %}

{% block content %}
<div id="hero-wrapper" class="v-light-grey">
    <div id="hero-image">
        <div id="hero-content">
            <i class="icon-customer-care"></i>
            <h2>Learn About Security</h2>
            <h1>Security 101</h1>
            <p>The best way to avoid being robbed is to be an intelligent homeowner. While studies show burglars are less likely to commit crimes when confronted with a <a href="{% url monitoring %}" title="Protect America Monitored Alarm Systems">monitored home security system</a>, there are also everyday things you can do to increase your home's security.</p>
        </div>
        <img src="{{ STATIC_URL }}img/learn/security-101-hero.jpg" class="main-hero-image" alt="smart-connect-interactive-app" />
    </div>
</div>
{% include "order/call-box.html" %}

<div class="wrapper">
    <div id="burglary-statistics">
        <h2>Know the Stats: Burglary Statistics</h2>
        <ul>
            <li>1 burglary every 14.6 seconds.</li>
            <li>Over 60% of all burglaries occur between 6am-6pm</li>
            <li>U.S. burglary victims lost $4.6 billion in property in 2009</li>
            <li>Less than 13% of burglaries are solved</li>
        </ul>
        
        <p class="footnote">Source: U.S. Dept Of Justice-FBI (2004)</p>
    </div>
    <div class="clear"></div>

    <div id="yard-maintenance">
        <h2>Proper Yard Maintenance</h2>
        <ul>
            <li>Use large, reflective numbers outside on the front of your home and mailbox to make it easy for police, fire and ambulances to find your house in case of emergency.</li> 
            <li>Never store a ladder on the outside of your garage or home.</li>
            <li>Never put your name on your mailbox. Anyone can look up your number, call, and find out you are not home.</li>
            <li>Never hide a spare key near your front door. Find a trusted neighbor or friend to keep a spare key.</li>
            <li>Always trim shrubs and trees so they don't provide cover and hiding for an intruder.</li>
            <li>Keep all points of entry to your home well-lit with the use of motion-sensor lights on the rear and sides of your home.</li>
        </ul>
    </div>
    
    <div id="protecting-valuables">
        <h2>Protecting Your Valuables and Your Identity</h2>
        <ul>
            <li>Don't hide valuables or money in the freezer, under your mattress, or in the cookie jar.</li>
            <li>Do not leave empty boxes from new purchases of electronics or valuables on the curb for trash pickup. It advertises that you have things worth stealing in your home.</li>
            <li>Break boxes down or cut them up before discarding.</li>
            <li>Use a paper shredder before you discard sensitive documents.</li>
            <li>Keep expensive jewelry in a safe-deposit box.</li> 
        </ul>
    </div>
    <div class="clear"></div>
    <div id="windows-secure">
        <h2>Keeping Your Windows Secure</h2>
        <ul>
            <li>Make sure you replace or repair broken and cracked windows immediately.</li>
            <li>Always keep expensive items away from windows and use window treatments on windows and doors that are easy to see into.</li>
        </ul>
    </div>
    <div class="clear"></div>
    <div id="preparing-vacation">
        <h2>Preparing for a Vacation</h2> 
        <ul>
            <li>Set lights on timers to turn on and off in the evening. You can also set a timer for your TV or radio to create the illusion that someone is home.</li> 
            <li>Suspend newspaper delivery so papers do not pile up in front of your house and put the mail on hold.</li> 
            <li>Ask a neighbor to keep an eye on your house, pick up any fliers, newspapers, or packages left outside and shovel your walkways if it snows.</li> 
            <li>Make sure that someone takes care of mowing the yard while you are away.</li> 
            <li>If you have an extra car, leave it parked outside in the driveway or ask a neighbor to park there while you're gone.</li>
            <li>Never record a message on your voicemail or answering machine indicating that you are away.</li> 
            <li>Make sure to leave all your shades, curtains and blinds in the same position you normally would when you are home.</li>
            <li>Consider having your home phone forward to your cell phone when you are away to give the illusion you are home when you answer the calls.</li>
        </ul>
    </div>
    
    <div id="misc-tips">
        <h2>Miscellaneous Tips</h2>
        <ul>
            <li>Get to know your neighbors as that is the only way for them to have a chance of noticing anything suspicious.</li>  
            <li>Never share personal information with people you don't trust and be careful who might be listening when you talk in public.</li> 
            <li>Often times, burglars will target the elderly, so be friendly and keep a watchful eye out for your elderly neighbors.</li>
        </ul>
    </div>
    <div class="clear"></div>
</div>

{% endblock %}  
