{% extends "learn/base.html" %}
{% block page_title %}Resources | Protect America{% endblock %}
{% block page_keywords %}GE security system, GE security systems, security, alarm system, security system, home security{% endblock %}
{% block page_description %}Learn how the Wireless GE Home Security Systems work and see how Protect America is able to offer you the best GE Security Systems at such an affordable price.{% endblock %}
{% block content %}

<div id="hero-wrapper" class="v-light-grey">
    <div id="resources">
    	<h2>Resources</h2>
    	<ul>
    		<li><a href='http://www.ncpc.org/' target="_blank">National Crime Prevention Council</a> - The NCPC produces tools that communities can use to learn crime prevention strategies, engage community members, and coordinate with local agencies.</li>
    		<li><a href='http://www.mcgruff.org/' target="_blank">McGruff.org</a> - McGruff® teaches parents and children alike how to stay safe both in the home and out. </li>
    		<li><a href='http://www.homesafetycouncil.org/index.asp' target="_blank">Home Safety Council</a> - a national nonprofit organization dedicated to preventing home related injuries that result in nearly 20,000 deaths and 21 million medical visits on average each year.  </li>
    		<li><a href='http://www.ycwa.org/' target="_blank">Youth Crime Watch of America</a> - With programs across the United States and around the world, Youth Crime Watch demonstrates that young people can make the difference in keeping their schools and communities safe from crime, drugs, and violence.</li>
    		<li><a href='http://www.fightcrime.org/' target="_blank">Fight Crime:Invest In Kids</a> - A national, bipartisan, nonprofit anti-crime organization of more than 3,000 police chiefs, sheriffs, prosecutors, other law enforcement leaders and violence survivors.  </li>
    		<li><a href='http://www.cssaul.org/' target="_blank">Central Station Alarm Association</a> - a trade association that represents companies offering security (alarm) monitoring systems through a central station.  </li>
    		<li><a href='http://www.nationaltownwatch.org/natw/' target="_blank">National Association of Town Watch</a> - a non-profit organization dedicated to the development and promotion of organized, law enforcement-affiliated crime and drug prevention programs.</li>
    		<li><a href='http://www.mainesecurity.com/' target="_blank">Maine Security Resources</a> - despite its name, this site provides a wealth of information regarding <a href="http://easy-home-security.net/" target="_blank">home security</a>.</li>
    		<li><a href='#' target="_blank">Security Info Watch</a> - For trusted source of news, products, trends and issues that are shaping the security industry.</li>
    		<li><a href='#' target="_blank">USA On Watch</a> – Neighborhood Watch Program – National Sheriff’s Association.</li>
    		<li><a href='#' target="_blank">Neighborhood Watch Institute</a> - For supplying excellent crime fighting material.</li>
    		<li><a href='http://www.nsc.org/' target="_blank">National Safety Council</a> - News and information on safety in the home and workplace.</li>
    		<li><a href='http://www.tsa.gov/' target="_blank">Transportation Security</a>  -  Transportation Safety Administration</li>
    		<li><a href='#' target="_blank">Disaster Safety</a>  - Insurance Institute for Business and Home Safety</li>
    	</ul>	

    </div>
</div>

{% endblock %}
