{% extends "about-us/base.html" %}
{% block subnav_child %}
<ul>
    <li><a href="">Testimonials</a></li>
	<li><a href="">Video Testimonials</a></li>
	<li><a href="">Tell Us Your Testimonial</a></li>
</ul>
{% endblock %}
{% block content %}
<form id="testimonial-form">
    <div id="login-section">
        <div id="manual-login">
            <h2>Contact Info:</h2>
        </div>
        <div id="Facebook-login">
            <h2>Login in With Facebook:</h2>
        </div>
    </div>
    <div id="rating-section">
        <h2>Rating:</h2>
    </div>
    <div id="review-section">
        <h2>Your Review:</h2>
    </div>
</form>

{% endblock %}  
