
{% extends "learn/base.html" %}
{% block page_title %}{{ testimonial.first_name }} {{ testimonial.last_name }} of {{ testimonial.city }}, {{ testimonial.state }} Review | Protect America Home Security | Testimonials{% endblock %}
{% block page_keywords %}crime prevention, security, security system, home security, home security system{% endblock %}
{% block page_description %}Crime prevention tips will help protect your home and family. The best crime prevention tool for your home is a home security system. Get a GE home security...{% endblock %}


{% block content %}
<div id="hero-wrapper" class="v-light-grey">
    <div id="hero-image">
        <div id="hero-content">
            <i class="icon-customer-care"></i>
            <h2>{% if testimonial.rating >= '1' %}<i class="icon-star"></i>{% endif %}
                {% if testimonial.rating >= '2' %}<i class="icon-star"></i>{% endif %}
                {% if testimonial.rating >= '3' %}<i class="icon-star"></i>{% endif %}
                {% if testimonial.rating >= '4' %}<i class="icon-star"></i>{% endif %}
                {% if testimonial.rating >= '5' %}<i class="icon-star"></i>{% endif %}
            </h2>
            <h1>{{ testimonial.first_name }} of {{ testimonial.city }}, {{ testimonial.state }}</h1>
            <p>{{ testimonial.message|safe }}</p>
            <a href="{% url testimonials %}" class="button-link alt" title="Read more reviews about Protect America">Read More Reviews <i class="icon-chevron-right"></i></a>

            

        </div>
    </div>
</div>
<div class="clear"></div>



{% endblock %}