{% extends "about-us/base.html" %}
{% block page_title %}Crime Prevention | Protect America Home Security | Testimonials{% endblock %}
{% block page_keywords %}crime prevention, security, security system, home security, home security system{% endblock %}
{% block page_description %}Crime prevention tips will help protect your home and family. The best crime prevention tool for your home is a home security system. Get a GE home security...{% endblock %}

{% block subnav_child %}
<ul>
    <li class="active"><a href="{% url testimonials %}">All Testimonials</a></li>
	<li><a href="">Video Testimonials</a></li>
	<li><a href="{% url send-testimonial %}" title="Share Your Own Protect America Testimonial with Us!">Tell Us Your Testimonial</a></li>
</ul>
{% endblock %}
{% block content %}
</div>
<div id="customer-testimonial-boxes">
	<div class="testimonial-column left">
		{% for test in left_ts %}
		<div class="customer-testimonial-box {% cycle 'alt' '' %}">
			<h3><span>{{ test.first_name }} writes:</span> from {{ test.city }}, {{ test.state }}</h3>
			<p>{{ test.testimonial }}</p>
			<div class="button-link"><a href="">Read the Entire Story</a></div>
			<div class="clear"></div>
		</div>
		{% endfor %}
		{% comment %}
		<div class="customer-testimonial-box alt">
			<img src="/static/img/uploads/brian-williamsburg-va.jpg" class="testimonial-image" style="-moz-transform: rotate(-2deg);" />
			<h3><span>Brian writes:</span> from Williamsburg, VA</h3>
			<p>...I love this company! And as a Police Officer I recommend Protect America to anyone who asks me about alarm systems. From purchase to install to monitoring, they are the best that I have ever experienced...</p>
			<div class="button-link"><a href="">Read the Entire Story</a></div>
			<div class="clear"></div>
		</div>
		<div class="customer-testimonial-box">
			<iframe width="100%" height="340px" src="http://www.youtube.com/embed/PrEnRZlurxU" frameborder="0" allowfullscreen></iframe>

		</div>
		<div class="customer-testimonial-box alt">
			<h3><span>Angel writes:</span> from Montclair, VA</h3>
			<p>Mr. Thad Paschall: I would like to take this opportunity to congratulate you in establishing a group of costumer service oriented professionals, and for providing excellent products to your costumers. I would like to bring to you attention the true service received by two individuals from...</p>
			<div class="button-link"><a href="">Read the Entire Story</a></div>

		</div>
		{% endcomment %}
		<div class="clear"></div>
	</div>
	
	<div class="testimonial-column">
		{% for test in middle_ts %}
		<div class="customer-testimonial-box {% cycle 'alt' '' %}">
			<h3><span>{{ test.first_name }} writes:</span> from {{ test.city }}, {{ test.state }}</h3>
			<p>{{ test.testimonial }}</p>
			<div class="button-link"><a href="">Read the Entire Story</a></div>
			<div class="clear"></div>
		</div>
		{% endfor %}
		{% comment %}
		<div class="customer-testimonial-box">
			<h3><span>PJ writes:</span> from Kensington, CA</h3>
			<p>Hello, I am a very new PA customer, I switched from ADT. Let me say that everyone I have dealt with has been professional patient and really great to work with. Today I wanted to upgrade my system to a two way voice, which is what Jackie helped me with. It was a very simple process made a bit more...</p>
			<div class="button-link"><a href="">Read the Entire Story</a></div>

		</div>
		<div class="customer-testimonial-box alt">
			<h3><span>Morrissey writes:</span> from Lincoln, RI</h3>
			<p>It was a pleasure to learn about your company and be walked through the process of ordering with your sales representative Toby. I found him to be extremely patient, even when asked to repeat or clarify information. His pleasant demeanor was appreciated.</p>
		</div>
		<div class="customer-testimonial-box">
			<img src="/static/img/uploads/delbert.jpg" class="testimonial-image" style="-moz-transform: rotate(3deg);" />

			<h3><span>Delbert writes:</span> from Doniphan, MO</h3>
			<p>Ordered my system on Monday, received it on Wednesday and we got it installed that afternoon. No runs drips or errors so far. I been playing with it all day as instructed. Everyone has been very cooperative and friendly & professional. If this keeps up, I definitely made the right choice!</p>
		</div>
		{% endcomment %}
		<div class="clear"></div>
	</div>
	
	<div class="testimonial-column right">
		{% for test in right_ts %}
		<div class="customer-testimonial-box {% cycle 'alt' '' %}">
			<h3><span>{{ test.first_name }} writes:</span> from {{ test.city }}, {{ test.state }}</h3>
			<p>{{ test.testimonial }}</p>
			<div class="button-link"><a href="">Read the Entire Story</a></div>
			<div class="clear"></div>
		</div>
		{% endfor %}
		{% comment %}
		<div class="customer-testimonial-box alt">
			<h3><span>Randall writes:</span> from Peoria, IL</h3>
			<p>Needed to test system. She was excellent in checking my motion detector. Thanks.</p>
		</div>
		<div class="customer-testimonial-box">
            <img src="/static/img/uploads/robert.jpg" class="testimonial-image" style="-moz-transform: rotate(-2deg);" />

			<h3><span>Darryl writes:</span> from Ham Lake, MN</h3>
			<p>I needed to order two additional window stickers as we just put on a new deck and I wanted the doors and windows accessible by the deck to display Protect America decals. I could not find how to order them on the website so I selected live chat and Gloria was the service representative who...</p>
			<div class="button-link"><a href="">Read the Entire Story</a></div>
			<div class="clear"></div>

		</div>
		<div class="customer-testimonial-box alt">
			<h3><span>Aaron writes:</span> from Portage, IN</h3>
			<p>I was very skeptical at first going with a security company that I have never heard of before. This whole process has been flawless. I have spoken with Gloria via chat a couple of times and feel that the customer care I have received has been top notch. Probably the best that I have ever...</p>
			<div class="button-link"><a href="">Read the Entire Story</a></div>

		</div>
		{% endcomment %}
		<div class="clear"></div>

	</div>
</div>


{% endblock %}

{% block sidebar %}
{{ block.super }}
{% endblock %}