{% extends "about-us/base.html" %}
{% block page_title %}Crime Prevention | Protect America Home Security | Testimonials{% endblock %}
{% block page_keywords %}crime prevention, security, security system, home security, home security system{% endblock %}
{% block page_description %}Crime prevention tips will help protect your home and family. The best crime prevention tool for your home is a home security system. Get a GE home security...{% endblock %}

{% block subnav_child %}
<ul>
    <li class="active"><a href="{% url testimonials %}">All Testimonials</a></li>
	<li><a href="">Video Testimonials</a></li>
	<li><a href="{% url send-testimonial %}" title="Share Your Own Protect America Testimonial with Us!">Tell Us Your Testimonial</a></li>
</ul>
{% endblock %}
{% block content %}
</div>
<div id="customer-testimonial-boxes">
	<div class="testimonial-column left">
		{% for test in left_ts %}
		<div class="customer-testimonial-box {% cycle 'alt' '' %}">
			<h3><span>{{ test.first_name }} writes:</span> from {{ test.city }}, {{ test.state }}</h3>
			<p>{{ test.testimonial|safe }}</p>
			<div class="clear"></div>
		</div>
		{% endfor %}
		<div class="clear"></div>
	</div>
	
	<div class="testimonial-column">
		{% for test in middle_ts %}
		<div class="customer-testimonial-box {% cycle 'alt' '' %}">
			<h3><span>{{ test.first_name }} writes:</span> from {{ test.city }}, {{ test.state }}</h3>
			<p>{{ test.testimonial|safe }}</p>
			<div class="clear"></div>
		</div>
		{% endfor %}
		<div class="clear"></div>
	</div>
	
	<div class="testimonial-column right">
		{% for test in right_ts %}
		<div class="customer-testimonial-box {% cycle 'alt' '' %}">
			<h3><span>{{ test.first_name }} writes:</span> from <strong>{{ test.city }}{% if test.state %}, {{ test.state }}{% endif %}</strong></h3>
			<p>{{ test.testimonial|safe }}</p>
			<div class="clear"></div>
		</div>
		{% endfor %}
		<div class="clear"></div>

	</div>
</div>


{% endblock %}
