{% extends "affiliates/generic-landing-base/index.html" %}


{% load sekizai_tags content_tags content_filters %}

{% block page_title %}ADT Home Security Comparison | Best Home Security Systems | Protect America Vs. ADT{% endblock %}
{% block page_description %}Protect America offers the best home security systems at competitive prices. Just compare our security services with that of ADT to see for yourself!{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/affiliates/alarmforce-vs-pa-canada/alarmforce-vs-pa-canada.css">
{% endblock %}

{% block active_tab_trigger %}
<script>
$(document).ready(function() {
    $('#assurance-block-four').trigger('click');
});
</script>
{% endblock %}

{% block hero-block %}
</div>
<div id="hero-banner">

    <div class="wrapper">
        <div id="top-hero-banner">
            <div id="main-banner" data-url="{% url order-package %}">
                <img src="{{ STATIC_URL }}img/affiliates/adt-comparison-two/adt-banner.jpg" class="adt-banner" alt="adt-banner" width="1229" height="409" />
            </div>
        </div>
        {% include "order/quote-form-noview.html" with form=forms.basic %}
    </div>
</div>
{% include "order/call-box.html" %}

<div class="wrapper">
<div class="clear"></div>
{% endblock %}


{% block left-wrapper %}
    <img src="{{ STATIC_URL }}img/affiliates/adt-comparison/hero-exp0113.gif" alt="hero-exp0113" width="660" height="410" />
{% endblock %}    

{% block assurance-block-one %}
    <img src="{{ STATIC_URL }}img/extra/alarm-token.png" alt="alarm-token" width="111" height="111" />
    <h3>Customizable Home Security Packages</h3>
{% endblock %}

{% block assurance-block-two %}
    <img src="{{ STATIC_URL }}img/extra/alarm-token.png" alt="alarm-token" width="111" height="111" />
    <h3>Customizable Home Security Packages</h3>
{% endblock %}

{% block assurance-block-three %}
    <img src="{{ STATIC_URL }}img/affiliates/adt-comparison/mobile-icon.png" alt="mobile-icon" width="110" height="107" />
    <h3>Smartphone Control</h3>
{% endblock %}

{% block assurance-block-four %}
    <img src="{{ STATIC_URL }}img/affiliates/wireless/easy-installation-call-out-logo.png" alt="shh-icon" width="109" height="106" />
    <h3>Easy Install &amp; Maintenance</h3>
{% endblock %}

{% block assurance-block-five %}
    <img src="{{ STATIC_URL }}img/affiliates/alarmforce-vs-pa-canada/247.png" alt="247" width="107" height="104" />
    <h3>24/7 Protection</h3>
{% endblock %}

{% block assurance-card-one %}

{% endblock %}

{% block assurance-card-two %}
<div id="house-features">
    <h2 class="tk-freight-sans-pro">Home Security that Fits Your Life</h2>
    <p class="tk-freight-sans-pro">We Provide Home Security to Fit Your Lifestyle. Only Protect America will give you all the protection you need and provide complete home security.</span></p>
    {% if phone_number %}
        {% businesstime %}
            <h3 class="phone">Get Started Today, <strong>Call Now! <span{% if use_call_measurement %} class="dynamic-phone-number"{% endif %}><a href="tel:{{ phone_number|format_number }}">{{ phone_number|format_number }}</a></span></strong></h3>
        {% endbusinesstime %}
    {% endif %}
    <div id="equipment-features">
        <div class="equipment-feature" style="left: 360px; top: 115px;">
            <div class="feature-icon">+</div>
            <div class="feature-content left">
                <h3 class="tk-freight-sans-pro">Motion Detectors</h3>
                <p style="width: 220px;" class="tk-freight-sans-pro">Our Motion Detectors use both heat and movement to detect intruders when your alarm system is armed. They are very useful in case someone does enter your home. Therefore, a motion detector is best placed in a heavy traffic area of your home.</p>
            </div>
        </div>
        <div class="equipment-feature" style="left: 375px; top: 375px;">
            <div class="feature-icon">+</div>
            <div class="feature-content right">
                <h3 class="tk-freight-sans-pro">GE Simon XT Touch Screen</h3>
                <p style="width: 220px;" class="tk-freight-sans-pro">A touch screen acts as an optional point of access for your home security system. The GE Simon XT Touch Screen features one-touch arming and disarming, soothing voice feedback, and an emergency response signal.</p>
            </div>
        </div>
        <div class="equipment-feature" style="left: 100px; top: 325px;">
            <div class="feature-icon">+</div>
            <div class="feature-content left">
                <h3 class="tk-freight-sans-pro">Glass Break Sensor</h3>
                <p style="width: 220px;" class="tk-freight-sans-pro">This sensor is specially designed using pattern recognition technology to detect the sound of breaking glass within a 20-foot radius. Use this sensor around easily accessible windows or glass doors that could be shattered to gain entry into your home.</p>
            </div>
        </div>
        <div class="equipment-feature" style="left: 195px; top: 150px;">
            <div class="feature-icon active">+</div>
            <div class="feature-content first-open">
                <h3 class="tk-freight-sans-pro">The GE Simon XT</h3>
                <p style="width: 220px;" class="tk-freight-sans-pro">The control panel is the 'brains' of your home security system. And with the GE Simon XT, you get a full-featured home security platform that combines the best of home security with ease of use. Arming, emergency response, and status updates are all just one button press away. And with its robust programming system, the Simon XT allows you to upgrade and create an alarm system that fits your needs. Protecting your home and family couldn't be easier than with the GE Simon XT control panel.</p>
            </div>
        </div>
                <div class="equipment-feature" style="left: 25px; top: 100px;">
            <div class="feature-icon">+</div>
            <div class="feature-content left">
                <h3 class="tk-freight-sans-pro">Window Sensors</h3>
                <p style="width: 220px;" class="tk-freight-sans-pro">Window sensors are the most common piece of home security equipment and the front line defense for your home. A surprisingly simple device, door/window sensors create a magnetic field that, when broken, sends a signal to your central GE Simon XT control panel and sounds the alarm. Protect America only uses wireless sensors that can be used on either doors or windows, allowing for greater system customization. For most homes, we recommend one sensor for every accessible door and window.</p>
            </div>
        </div>
        <div class="equipment-feature" style="left: 230px; top: 40px;">
            <div class="feature-icon">+</div>
            <div class="feature-content right">
                <h3 class="tk-freight-sans-pro">Smoke Detector</h3>
                <p style="width: 220px;" class="tk-freight-sans-pro">Protect your home and family from fire by adding monitored smoke detectors to your security system. Monitored smoke detectors can identity smoke or rapidly rising temperatures 24 hours a day whether you're home or not. Even if your security system is disarmed, our monitoring facility notifies your local fire department if there is a fire.</p>
            </div>
        </div>
        <div class="equipment-feature" style="left: 850px; top: 405px;">
            <div class="feature-icon">+</div>
            <div class="feature-content right">
                <h3 class="tk-freight-sans-pro">Home Security Sign</h3>
                <p style="width: 220px;" class="tk-freight-sans-pro">Deter burglars from targeting your home with this warning sign that prominently displays that your house is secured with a home alarm system.</p>
            </div>
        </div>
        <div class="equipment-feature" style="left: 635px; top: 385px;">
            <div class="feature-icon">+</div>
            <div class="feature-content left">
                <h3 class="tk-freight-sans-pro">Keychain Remote Control</h3>
                <p style="width: 220px;" class="tk-freight-sans-pro">With the keychain remote control, you can enjoy the convenience of turning off your system as you pull into the driveway. You can also send a panic signal from anywhere inside your home allowing you to notify authorities.</p>
            </div>
        </div>
        <div class="equipment-feature" style="left: 635px; top: 345px;">
            <div class="feature-icon">+</div>
            <div class="feature-content left">
                <h3 class="tk-freight-sans-pro">GPS Vehicle Tracking</h3>
                <p style="width: 220px;" class="tk-freight-sans-pro">Protect America allows you to instantly locate and follow your car with real-time GPS vehicle tracking. Easily keep a "virtual eye" on your vehicle through an intuitive web interface. Get customizable alerts via email or text if your teenager is speeding or if they are going to places they shouldn't.</p>
            </div>
        </div>
        <div class="equipment-feature" style="left: 635px; top: 300px;">
            <div class="feature-icon">+</div>
            <div class="feature-content right">
                <h3 class="tk-freight-sans-pro">Garage Door Sensors</h3>
                <p style="width: 220px;" class="tk-freight-sans-pro">This sensor protects against entry though the biggest door in your house. By detecting the tilt of an overhead door, this sensor can alert your alarm system if your garage is opened while armed.</p>
            </div>
        </div>
        <div class="equipment-feature" style="left: 479px; top: 100px;">
            <div class="feature-icon">x</div>
            <div class="feature-content left">
                <h3 class="tk-freight-sans-pro">Interactive Video Cameras</h3>
                <p style="width: 220px;" class="tk-freight-sans-pro">With our interactive video home security services, we bring you easy to use, high-quality video security. So you can easily check in at home anytime of day and from anywhere. Getting a cup of joe? Easy, log in with your laptop and view your cameras. On vacation? No problem, just use your smartphone to make sure everything is okay. With video home security, checking in at home is just a click away.</p>
            </div>
        </div>
    </div>
    <img src="{{ STATIC_URL }}img/affiliates/adt-comparison/house.gif" alt="house" width="957" height="475" />
</div>
{% addtoblock "js" %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.easing.1.3.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('#house-features .feature-icon').click(function(){
            var icon = $(this).clone();
            $('#house-features .feature-icon').removeClass('active').html('+');
            $('#house-features .feature-content').slideUp(250, 'easeOutBounce');
            if(!$(icon).hasClass('active')) {
                $(this).addClass('active').html('x').next('#house-features .feature-content').slideDown(250, 'easeOutBounce');
            }
        });
        $('#touchscreen-features .feature-icon').click(function(){
            var icon = $(this).clone();
            $('#touchscreen-features .feature-icon').removeClass('active').html('+');
            $('#touchscreen-features .feature-content').slideUp(250, 'easeOutBounce');
            if(!$(icon).hasClass('active')) {
                $(this).addClass('active').html('x').next('#touchscreen-features .feature-content').slideDown(250, 'easeOutBounce');
            }
        });
    });
    </script>
{% endaddtoblock "js" %}
{% endblock %}


{% block assurance-card-three %}
<div class="copy-point">
    <h2 class="tk-freight-sans-pro">Control Your Home Security System On the Go.</h2> 
    <p class="tk-freight-sans-pro">With our exclusive Smart Connect technology, Control Your Security System from Anywhere!.</p>
    <p class="tk-freight-sans-pro">When you select our broadband or cellular monitoring, your account will come with FREE interactive features. Arm your system while on the go and wherever your life takes you. Keep a close eye on your home and protect your home like never before.</p>
    {% if phone_number %}
        {% businesstime %}
            <h3 class="phone">Get Started Today, <strong>Call Now! <span{% if use_call_measurement %} class="dynamic-phone-number"{% endif %}><a href="tel:{{ phone_number|format_number }}">{{ phone_number|format_number }}</a></span></strong></h3>
        {% endbusinesstime %}
    {% endif %}
    <div class="image-area">
        <img src="{{ STATIC_URL }}img/affiliates/adt-comparison/interactive.png" alt="interactive" width="642" height="309" />
    </div>
</div>
<div id="interactive-call-out-box">
    <div class="interactive-call-out">
        <ul>
            <li>
                <img src="{{ STATIC_URL }}img/affiliates/adt-comparison/security-system-control-small-icon-interactive.png" alt="security-system-control-small-icon-interactive" width="74" height="74" />
                <p><strong>Security System Control</strong>Use your smartphone to arm, disarm, and view the status of your alarm system easily in real time.</p>
                
            </li>
            <li>
                <img src="{{ STATIC_URL }}img/affiliates/adt-comparison/live-video-small-icon-automation.png" alt="live-video-small-icon-automation" width="74" height="74" />
                <p><strong>Live Video</strong>Keep an eye on your home from anywhere in the world with live video. (Video Service Required)</p>
            </li>
        </ul>
    </div>
</div>
<div class="clear"></div>

{% endblock %}

{% block assurance-card-four %}
<div id="conv-install">
    <div class="left-conv-install">
        <img src="{{ STATIC_URL }}img/affiliates/wireless/easy-installation-para-section.jpg" alt="easy-installation-para-section" width="529" height="299" />
    </div>
    <div class="right-conv-install">
        <h2 class="tk-freight-sans-pro">Quick &amp; Easy Self-Installation</h2>
        <p>Installing your own wireless security system has never been easier! Protect America provides low-cost home alarm systems that customers install themselves. No need for power tools or expensive professionals! The installation process can be complete over the phone in as little as 30 minutes with help from our home security experts. Customers don’t just save time with Protect America, they also save hundreds of dollars that other companies charge for installation and activation.</p>
    </div>
</div>{% endblock %}

{% block assurance-card-five %}
<div id="conv-install">
    <div class="left-conv-install">
        <img style="margin-left: 25px;" src="{{ STATIC_URL }}img/affiliates/comcast-vs-protectamerica/open-247.jpg" alt="open-247" width="352" height="283" />
    </div>
    <div class="right-conv-install">
        <h2 class="tk-freight-sans-pro"> 24/7 Protection</h2>
        <p class="tk-freight-sans-pro"> Our monitoring solutions offer complete, round-the-clock protection based on your needs. We know some people got rid of their landlines while others still don’t have Internet access. Well, don’t worry! Protect America provides landline, broadband, and cellular monitoring that fits the tech needs of any household.</p>
    </div>
</div>
<div class="clear"></div>{% endblock %}
{% block page-product %}
    <h2>Copper Security Package</h2>
    <p><span>Price Today: <strong>FREE*</strong></span>monthly monitoring starting at $19.99/mo</p>
    <div class="button-submit">
        <a href="{% url order-package %}?package=copper" onClick="_gaq.push(['_trackEvent', 'Order Now', 'Order Now Package Footer Click', 'Copper-B']);">Order Now ></a>
    </div>
{% endblock %}
