body #featured-on small {
  margin-bottom: 10px;
}
body .wrapper #categories h2 {
  color: #555;
  letter-spacing: 1px;
  font-weight: 400;
}
body .wrapper #categories .category .category-info p {
  color: #888;
}
body .wrapper #categories .category .category-info a.button-link {
  background: #ffc000;
  color: #222;
}
body .wrapper #categories .category .category-info a.button-link i {
  border-left: 1px solid #d5a100;
}
body .wrapper #categories .category .category-info a.button-link:hover {
  color: #666;
  background: #ffd75e;
  text-decoration: none;
}
body #call-box {
  background: #f24141;
  border: none;
}
body #call-box p a {
  text-transform: uppercase;
  text-shadow: none;
  font-size: 28px;
  font-weight: 400;
  color: #f1f1f1;
}
body #call-box p a span {
  font-weight: 600;
}
#hero-wrapper {
  background: #000;
}
#hero-wrapper #hero-image {
  z-index: 400;
}
#hero-wrapper #hero-image #mothers-day {
  text-align: center;
  background: transparent;
}
#hero-wrapper #hero-image #mothers-day .main-hero-image {
  position: absolute;
  z-index: -1;
  left: 10px;
  bottom: 0;
  top: 0;
}
#hero-wrapper #hero-image #mothers-day h1 {
  color: #4d317f;
  font-size: 12px;
  font-weight: 400;
  text-shadow: none;
  text-transform: uppercase;
  padding: 10px 0 0;
  margin: 0 0 0 225px;
  letter-spacing: 1px;
}
#hero-wrapper #hero-image #mothers-day h2 {
  color: #4d317f;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 300px 0 0 225px;
}
#hero-wrapper #hero-image #mothers-day p {
  color: #08ba64;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  width: auto;
  margin: 0 0 20px 233px;
}
#hero-wrapper #hero-image #mothers-day img {
  padding-right: 15px;
  margin: 0 0 0 233px;
}
#hero-wrapper #hero-image #mothers-day .mothers-day-deals {
  width: 692px;
  margin: 0 20px 0 0;
  float: right;
}
#hero-wrapper #hero-image #mothers-day .mothers-day-deals img {
  padding: 0 8px;
  margin: 0;
  border-right: 1px solid #d9a8bb;
}
#hero-wrapper #hero-image #mothers-day .mothers-day-deals img.border-none {
  border: none;
}
#hero-wrapper.ssavings {
  background: #f6f6de;
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  body #hero-wrapper #hero-image #spring-savings .main-hero-image {
    width: 600px;
    left: 50%;
    margin-left: -200px;
    top: 0;
  }
  body #hero-wrapper #hero-image #spring-savings h1 {
    margin: 0 0 0 225px;
    padding: 9px 0 0;
  }
  body #hero-wrapper #hero-image #spring-savings h2 {
    margin: 0 0 0 225px;
  }
  body #hero-wrapper #hero-image #spring-savings h3 {
    display: none;
  }
  body #hero-wrapper #hero-image #spring-savings a.button-link {
    margin-left: 52%;
    margin-top: 245px;
  }
  body #hero-wrapper #hero-image #spring-savings .ssavings-deals {
    margin-top: 36px;
    width: 75%;
  }
  body #hero-wrapper #hero-image #spring-savings .ssavings-deals .border-none {
    display: none;
  }
}
/* All Mobile Sizes (devices and browser) */
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  body #hero-wrapper {
    height: 300px;
  }
  body #hero-wrapper #hero-image.cmonday #quote-form {
    display: none;
  }
  body #hero-wrapper #hero-image #spring-savings .main-hero-image {
    width: 500px;
    left: 50%;
    margin-left: -250px;
    top: 0;
  }
  body #hero-wrapper #hero-image #spring-savings h1 {
    margin: 0 0 0 30px;
    padding: 10px 0 0;
  }
  body #hero-wrapper #hero-image #spring-savings h2 {
    margin: 0 0 0 30px;
    display: none;
  }
  body #hero-wrapper #hero-image #spring-savings h3 {
    display: none;
  }
  body #hero-wrapper #hero-image #spring-savings a.button-link {
    margin-left: 34%;
    margin-top: 205px;
  }
  body #hero-wrapper #hero-image #spring-savings .ssavings-deals {
    display: none;
  }
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  body #hero-wrapper {
    height: 250px;
  }
  body #hero-wrapper #hero-image.cmonday #quote-form {
    display: none;
  }
  body #hero-wrapper #hero-image #spring-savings .main-hero-image {
    width: 360px;
    left: 50%;
    margin-left: -180px;
    top: 0;
  }
  body #hero-wrapper #hero-image #spring-savings h1 {
    margin: 0 0 0 30px;
    padding: 6px 0 0;
    font-size: 10px;
  }
  body #hero-wrapper #hero-image #spring-savings h2 {
    margin: 0 0 0 30px;
    display: none;
  }
  body #hero-wrapper #hero-image #spring-savings h3 {
    display: none;
  }
  body #hero-wrapper #hero-image #spring-savings a.button-link {
    margin-left: 30%;
    margin-top: 140px;
  }
  body #hero-wrapper #hero-image #spring-savings .ssavings-deals {
    display: none;
  }
}
