{% extends "products/interactive/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}
{% block page_title %}Interactive Monitoring with Smart Phone App | SMART Connect | Protect America{% endblock %}
{% block page_keywords %}{% endblock %}
{% block page_description %}Control your alarm system with Protect America's SMART Connect App.  Arm or Disarm your system, watch live video, or control your home automation from anywhere.{% endblock %}
{% block typekit %}tk-jaf-facitweb{% endblock %}

{% block content %}
</div>
<div id="big-hero-banner">
    <div id="hero-wrapper">
        <h1>Arm Your System From Anywhere.</h1>
        <h2>with our Exclusive SMART Connect Interactive</h2>
        <img src="{{ STATIC_URL }}img/interactive/computer-iphone-tablet.png" class="happy-family" alt="Arm and Disarm your Security from Cell Phone" />
        <div class="overview">
            <p>Making your home smarter with Protect America’s Exclusive SMART Connect is easy! Arm your system, receive text messages, watch live video, home automation, and more.</p>
            <p>Forget to arm your system? No problem, just use your SMART Connect app while sipping your morning coffee at work.</p>
            <div class="button-submit">
                <a href="{% url order-package %}">Order Now</a>
            </div>
        </div>
        <img src="{{ STATIC_URL }}img/interactive/included-transparent.png" class="included-box" alt="Included with Cellular and Broadband Monitoring" />
        {% include "order/quote-form-new.html" with form=forms.basic %}

        {% if phone_number %}
            <div class="clear"></div>
            <div id="call-box">
                {% block call-box-text %}<p>Get Started Today, <strong>Call Now! {% endblock %}<span{% if use_call_measurement %} class="dynamic-phone-number"{% endif %}><a href="tel:{{ phone_number|format_number }}">{{ phone_number|format_number }}</a></span></strong></p>
            </div>
            <div class="clear"></div>
    
        {% endif %}
    </div>
    <img src="{{ STATIC_URL }}img/protectamerica/office-space.jpg" alt="Security For Every Home" id="hero-backdrop" />
</div>
<div class="wrapper">
    <div id="app-for-that">
        <h2>There’s an App For That!</h2>
        <p>Control your entire home with the press of a button. Protect America’s amazing, and free, SMART Connect apps for Android devices and the iPhone puts home automation, energy management, and live video in your pocket! Controlling your home just got easier and a lot more fun. </p>
        <div class="button-submit">
            <a href="{% url order-package %}?package=silver" onClick="_gaq.push(['_trackEvent', 'Order Now', 'Order Now Button Click', 'Silver']);">Order Now ></a>{% businesstime %}<p class="phone-alt">or call <strong><span{% if use_call_measurement %} class="dynamic-phone-number"{% endif %}>{{ phone_number|format_number }}</span></strong> to get started now.</p>{% endbusinesstime %}
        </div>
        <div class="clear"></div>
        <img src="{{ STATIC_URL }}img/interactive/phones.jpg" class="phones" alt="SMART Connect available on iPhone and Android phones" width="400" height="512" />
        <ul>
            <li>
                <img src="{{ STATIC_URL }}img/interactive/alarm-icon.jpg" alt="Control your Securtiy System from your Phone" width="58" height="58" />
                <div>
                    <h3>Security System Control</h3>
                    <p>Use your smartphone to arm, disarm, and view the status of your alarm system easily in real time.</p>
                </div>
            </li>
            <li>
                <img src="{{ STATIC_URL }}img/interactive/home-automation-icon.jpg" alt="Home Automation from your Phone" width="58" height="58" />
                <div>
                    <h3>Home Automation</h3>
                    <p>Home automation lets you control lights and appliances from your phone or computer using Z-Wave technology.</p>
                </div>
            </li>
            <li class="omega">
                <img src="{{ STATIC_URL }}img/interactive/live-video-icon.jpg" alt="Live Video on your Phone" width="58" height="58" />
                <div>
                    <h3>Live Video Surveillance</h3>
                    <p>Keep an eye on your home from anywhere in the world with live video. <span>(Video Service Required)</span></p>
                </div>
            </li>
            <img src="{{ STATIC_URL }}img/interactive/features-arrow.jpg" class="features-arrow" alt="features-arrow" width="40" height="72" />
            <div class="clear"></div>
        </ul>
        <div class="clear"></div>
    </div>
{% testimonial_search "interactive" "limit=10&words=75" %}

<div class="clear"></div>
    <div id="check-in-anywhere">
        <h2><strong>A Secured Home Means a Relaxing, Worry-Less Vacation</strong> Check in at home from wherever you may be</h2>
    </div>
</div>
<div id="postcards">
    <div id="interactive-demo">
        <img src="{{ STATIC_URL }}/img/products/monitoring/interactive/iphone-hand.png" id="iphone" alt="Alarm Control in your Hand" />
        <div id="app-screens">
            <img src="{{ STATIC_URL }}/img/products/monitoring/interactive/app-alarm-armed.png"  alt="SMART Connect: Alarm Armed" />
            <img src="{{ STATIC_URL }}/img/products/monitoring/interactive/app-alarm-cameras.png"  alt="SMART Connect: Video Cameras" />
            <img src="{{ STATIC_URL }}/img/products/monitoring/interactive/app-main-menu.png"  alt="SMART Connect: Main Menu" />

            <img src="{{ STATIC_URL }}/img/products/monitoring/interactive/app-alarm-history.png" alt="SMART Connect: Alarm History" />



        </div>

    </div>
    <img src="{{ STATIC_URL }}/img/products/monitoring/interactive/hawaii-postcard.jpg" class="postcard1" alt="Check in from Hawaii" />
    <img src="{{ STATIC_URL }}/img/products/monitoring/interactive/savannah-ga-postcard.jpg" class="postcard2" alt="Check in from Savannah" />
    <img src="{{ STATIC_URL }}/img/products/monitoring/interactive/austin-tx-postcard.jpg" class="postcard3" alt="Check in from Austin" />
    <img src="{{ STATIC_URL }}/img/products/monitoring/interactive/new-york-postcard.jpg" class="postcard4" alt="Check in from New York" />
    <img src="{{ STATIC_URL }}/img/products/monitoring/interactive/hawaii-postcard.jpg" class="postcard5" alt="Check in from Hawaii" />
</div>
<div class="clear"></div>
<div class="wrapper">
    <div id="free-smart-app">
        <h2>Did We Mention It’s Free?</h2>
        <p>While many other security companies charge for the extra features of interactive control, we provide our SMART Connect for Free with our Broadband and Cellular security systems. Arm/disarm your system, watch your live video cameras, control your lights and home appliances, receive event notifications, and much more! Home security has never been more convenient, and cool, than Protect America SMART Connect. </p>
        <div class="button-submit">
            <a href="{% url order-package %}?package=silver" onClick="_gaq.push(['_trackEvent', 'Order Now', 'Order Now Button Click', 'Silver']);">Order Now ></a>{% businesstime %}<p class="phone-alt">or call <strong><span{% if use_call_measurement %} class="dynamic-phone-number"{% endif %}>{{ phone_number|format_number }}</span></strong> to get started now.</p>{% endbusinesstime %}
        </div>
        <img src="{{ STATIC_URL }}img/interactive/included-white.jpg" alt="Free App with Cellular or Broadband Monitoring" width="360" height="112" />
    </div>
    <img src="{{ STATIC_URL }}img/interactive/smart-connect-icon-big.png" id="smart-connect-icon" alt="Alarm Security iPhone App Icon" width="264" height="264" />
</div>

{% addtoblock "js" %}
    <script type="text/javascript" src="{{ STATIC_URL }}/js/jqueryrotate.js"></script>

    <script type="text/javascript">
    $(document).ready(function() {
        $('#search-testimonial-box').cycle({
            fx: 'fade',
            timeout: 9000
        });
    });
    </script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('#app-screens').cycle({
    		fx: 'fade' // choose your transition type, ex: fade, scrollUp, shuffle, etc...
    	}).rotate(7.75);
        $('.postcard1').rotate(-3);
        $('.postcard2').rotate(2);
        $('.postcard3').rotate(-1);
        $('.postcard4').rotate(3);
        $('.postcard5').rotate(-2);

    });
    </script>
{% endaddtoblock "js" %}
{% endblock %}  
{% block page-product %}
    <h2>Wireless Home Security</h2>
    <p><span>Price Today: <strong>FREE*</strong></span>monthly monitoring starting at $19.99/mo</p>
    <div class="button-submit">
        <a href="{% url order-package %}?package=bronze" onClick="_gaq.push(['_trackEvent', 'Order Now', 'Order Now Package Footer Click', 'Bronze-B']);">Order Now ></a>
    </div>
{% endblock %}
