{% extends "_base.html" %}

{% load adspace %}
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/home.css" />
{% endblock %}
{% block content %}
    {% adspace "hero-banner" %}

    {% adspace "home-banner" %}

    <div id="testimonial_wrapper">
        <div class="testimonial">
            <h2>What our customers say...</h2>
            <a href="#">read more</a>
            <p>Kristen was an absolute joy to deal with. In today's environment, great customer service is not easy to find. Thank you for a pleasant experience.</p>
            <span>
                <em>&mdash; &nbsp;Salvatore </em>
            Rincon, GA on September 02, 2011
            </span>
        </div>
    </div>
    <div id="protection">
        <h3>100% Protection</h3>
        <p>Whether you want protection for your home or even a small business, the GE Home Security System from Protect America will fulfill your home security needs and most importantly, fit your budget. Here are just a few of the reasons to trust your home security with a GE Home Security System from Protect America:</p>
        <ul>
            <li><a href="#" title="Compare Protect America to ADT Security and other home security system companies." >BEST Price in Home Security</a> - Compare &amp; Save!</li>

            <li>BEST Home Security System in the Industry</li>
            <li><a href="#" title="View available GE wireless home security system equipment and learn how it works." >State-of-the-art UL Listed Security Equipment</a></li>
            <li>Protect Your Home with 24/7 Security Monitoring</li>
            <li>Guaranteed Locked in Security Monitoring Rates</li>
            <li>Super Flexible <a href="#" title="View all of our alarms packages and choose the right package and service for your home." >Home Security Packages</a></li>
            <li>Lifetime <a href="#" title="Lifetime monitoring home security system equipment warranty for our valued customers." >Alarm System Replacement Parts Warranty</a></li>

            <li>Up to 20% Off Homeowners Insurance</li>
            <li>Peace of Mind When It Comes to Your Family &amp; Home</li>
        </ul>
        <div class="button-cmn">
            <a title="View Copper Security Package details and compare to our other home security systems packages." href="#">Home Security Packages</a>
        </div>
        
    </div>
    <div id="advantage">
        <h3>The Protect America Security Advantage</h3>
        <p>Protection for your home and family is not an easy decision. The home security system packages from Protect America combine the best price with the best equipment and service. Compare how our packages stack up against other leaders in the home security industry below to help make the decision easier.</p>
        {% include "_partial/small_compare.html" %}
        <div class="button-cmn">
            <a title="View Copper Security Package details and compare to our other home security systems packages." href="#">Security Advantage</a>
        </div>
    </div>
    <div class="clear"></div>
    <div id="familyofcompanies">
        <h3>Family of Companies</h3>
        <img src="{{ STATIC_URL }}img/sister-companies.jpg" width="650" height="80" alt="Protect America's sister companies: Cleveland Cavaliers, Fathead, Quicken Loans, In House Realty, Quizzle."/> 
    </div>
    <div id="security">
        <h3>Protect America Home Security</h3>
        <h2>Home Security Commitment</h2>
        <p>
            Protect America is committed to excellence and affordability when it comes to securing
            your home. That's why we're a Consumers Digest Best Buy&trade; for home security and the best
            choice for a world-class security system backed by a company that is dedicated to serving
            your home security needs. Your family is your top priority. Your home is probably your largest
            investment. Why not take the extra precaution of providing a home security system and security
            monitoring for your residence? Protect America is committed to helping you meet your home
            security needs and providing you with service you can depend on.
        </p>

        <h2>Home Security Value</h2>
        <p>
            The average yearly home insurance premium in the U.S. costs over $800. The good news is that
            many plans offer discounts up to 20% on home insurance for homes with security systems. You
            could save $14 or more per month on your insurance with a <a href='/pa/gold/alarm-systems'>GE home alarm system</a>. For many, 
            the monthly cost of a Protect America GE home security system would be less than $16 per
            month once a home insurance discount is applied. For 50 cents a day, you can have the peace
            of mind knowing that your family and home will have the extra protection of a residential
            security system. Our wireless GE home security system is one investment you can't afford to 
            ignore.
        </p>

        <h2>Home Security Choices</h2>
        <p>
            Protect America offers the <a href="/pa/packages" title="View all of our alarms packages and choose the right package and service for your home." >best home security system and monitoring</a> deal you'll find. We install
            premium security hardware with GE home security products, and have the most flexible range
            of monitoring services, including cellular monitoring, two-way voice monitoring, HomePulse
            broadband monitoring, or standard talking command station monitoring over landline. We
            provide an extensive selection of GE <a href='/pa/equipment/wireless-home-security-system'>wireless home security</a> components. And, our home
            security packages are designed to fit most any budget. Let us help you find the right system
            for your needs, so you can start protecting your home and family today.

        </p>

        <h2>Home Security Statistics</h2>
        <p>
            <strong>Facts about Burglary, Property Crimes, and Home Security Alarms</strong>
            <br/><br/>
            
            2007 FBI Crime Statistics:
        </p>
        <ul style='padding-left:25px;list-style-type:square;'>
            <li>Each year in the United States, a burglary occurs every 14 seconds.</li>

            <li>Most burglaries occur during the day between 6am and 6pm.</li>
            <li>The average residential burglary victim lost $1,991.</li>
        </ul>
        <p>
            There is no better time than today to protect your residence with a monitored home security alarm
            system, and there is no more affordable solution than Protect America's wireless GE home security
            system. Wherever you live, we have a home security alarm solution for you and with our unique,
            low-price guarantee, you can be confident in your choice. Sign up today for a <a href='/pa/copper/home-security-systems'>free home security 
            system</a> and get our low-price guarantee, a lifetime alarm equipment warranty, free movers program, 
            dedicated support, and award winning home security monitoring from Protect America.
        </p>
        <ul style='padding-left:25px;list-style-type:square;'>
            <li>

                In more than a third of all burglaries, the burglar enters the front door (and most of the time 
                does so forcefully).
            </li>
            <li>
                Homes without a monitored security alarm system are 3 times more likely to be burglarized or 
                robbed than those with a monitored home security system.
            </li>
            <li>
                There is sufficient evidence to show that in the past, when the economy has suffered, burglary 
                and property crime has increased in parallel.
            </li>
        </ul>
        
    </div>
{% endblock %}

{% block sidebar %}
    {{ block.super }}

    <div id="cellupgrade">
        <a title="Click Here If You Already Have a Home Security System" href="#">
            <img width="251" height="286" alt="Click Here If You Already Have a Home Security System" src="{{ STATIC_URL }}/img/already-have-system.jpg">
        </a>
    </div>

    <div id="copperbestbuy">
        <h3>Copper Package, Best Buy</h3>
        <img class="centered" width="108" height="200" alt="Copper Package" src="{{ STATIC_URL }}img/consumer_digest3D_ribbon.png">
        <div class="button-cmn">
            <a title="View Copper Package details. Compare to our other home security systems packages." href="#">Copper Package</a>
        </div>
    </div>
{% endblock %}    
