@import "../../style";


body {
    background: @white;
}
#sub-navigation {
    display: none;
}
#navigation-wrapper {
    border-bottom: none;
    .drop-shadow;
}
.wrapper {
    padding-bottom: 0;
}
#top-wrapper {
    background: @red url(/static/img/affiliates/canada/top-wrapper-bg.png) repeat-x bottom;
    border-bottom: 1px solid @light-grey;
    position: relative;
    height: 435px;
    #home-security-maple-leaf {
        position: absolute;
        left: -24px;
        bottom: 0;
    }
    #left-wrapper {
        position: relative;
        .content-box(669px);
        height: 435px;
        margin-bottom: 0;
        h1 {
            text-align: center;
            font-weight: 100;
            color: @white;
            letter-spacing: 1px;
            font-size: 48px;
            line-height: 56px;
            padding-top: 24px;
        }
        #security-main-image {
            position: absolute;
            left: 0;
            bottom: 0;
            
        }
        #soft-offer-box {
            position: absolute;
            right: 8px;
            top: 185px;
            .button-submit {
                margin-left: 8px;
                a {
                    padding: 8px 67px;
                    font-size: 20px;
                    font-weight: bold;
                }
            }
        }
    }
    #quote-area {
        float: left;
        background: rgba(0,0,0,.25);
        width: 290px;
        #quote-form {
            background: transparent;
            margin-bottom: 0;
            margin-left: 8px;
            label {
                float: left;
                text-transform: uppercase;
                width: 56px;
                line-height: 37px;
            }
            input {
                float: left;
                width: 195px;
            }
            #third-party-container {
                display: none;
            }
        }
        iframe {
            float: left;
            margin-left: 8px;
            padding-bottom: 8px
        }
    }
}
#five-blocks {
    margin-top: 8px;
    .assurance-block {
        .content-box(184px);
        text-align: center;
        height: 48px;
        background: @blue;
        margin-right: 8px;
        border: 1px solid transparent;
        border-bottom: none;
        cursor: pointer;
        cursor: hand;
        margin-bottom: 0;
        .fade-slow;
        p {
            color: @white;
            line-height: 48px;
            font-size: 18px;
            text-align: center;

        }
        &:hover {
            .background-gradient;
        }
        &.active {
            background: @v-light-grey;
            border: 1px solid @light-grey;
            border-bottom: none;
            cursor: default;
            .fade-fast;
            p {
                color: @grey;
            }
        }
    }
}
#five-cards {
    margin-top: 8px;
    position: relative;
    .content-box(960px);
    height: 363px;
    border: 1px solid @light-grey;
    padding: 8px;
    .drop-shadow(0, 2px, 5px, #ccc);
    background: transparent;
    .assurance-card {

        background: @white;
        display: none;
        &#assurance-card-one {
            display: block;
        }
        &#assurance-card-five {
            table {
                width: 90%;
                margin: 0 auto;
                thead {
                    th {
                        text-align: center;
                        vertical-align: bottom;
                        background: @v-light-blue;
                        border: 1px solid @light-grey;
                        border-left: none;
                        padding-bottom: 8px;
                        &.alpha {
                            background: transparent;
                            border-left: none;
                            border-top: none;
                            h3 {
                                color: @black;
                            }
                        }
                        h3 {
                            font-size: 14px;
                            color: @blue;
                            line-height: 14px;
                            padding-bottom: 0;
                            text-transform: uppercase;
                            font-weight: bold;
                        }
                        p {
                            color: @blue;
                            text-align: center;
                            font-weight: 100;
                            font-size: 40px;
                            line-height: 40px;
                            span {
                                display: block;
                                font-size: 20px;
                                line-height: 20px;
                                
                            }
                        }
                    }
                }
                tbody {
                    tr {
                    
                        td {
                            background: @v-light-grey;
                            border: 1px solid @light-grey;
                            border-left: none;
                            border-top: none; 
                            vertical-align: middle;
                            .fade-slow;
                            h3 {
                                text-align: right;
                                color: @grey;
                                font-weight: 100;
                                font-size: 28px;
                                line-height: 32px;
                                padding-right: 16px;
                            }
                            p {
                                font-size: 24px;
                                font-weight: bold;
                                text-align: center;
                                padding-bottom: 0;
                                margin-bottom: 0;
                                line-height: 36px;
                            }
                            &.alpha {
                                border-left: 1px solid @light-grey;
                                background: @white;
                                width: 275px;
                            }
                            &.alt {
                                background: @white;
                            }
                            &:hover {
                                background: @v-light-blue;
                            }
                            img {
                                margin: 0 auto;
                                display: block;
                            }
                        }
                        &:hover {
                            td {
                                background: @light-green;
                                .fade-fast;
                                &:hover {
                                    background: rgba(255,255,255,.2);
                                }
                                &.alpha:hover {
                                    background: @light-green;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
