{% extends "affiliates/sem-landing-page/reviews-base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}
{% block page_title %}Home Security Reviews | Alarm Systems | Protect America{% endblock %}


{% block header-h1 %}The Best Home Security{% endblock %}
{% block header-p %}With so many home security choices, it’s nice to hear from real homeowners. The people have spoken, and Protect America is consistently top-notch!{% endblock %}


{% block benefits-headline %}<h2>The Protect America Advantage</h2>{% endblock %}
{% block benefits-subhead %}<p>WE MAKE IT EASY TO SECURE AND PROTECT YOUR HOME AND FAMILY.</p>{% endblock %}

{% block benefits-1 %}
	<li>
		<h3><i class="fa fa-money"></i>The Lowest Price. Period.</h3>
		<p>Protect America wireless packages begin at just $19.99 a month. We’re dedicated to making home security affordable for everyone.</p>
	</li>
{% endblock %}
{% block benefits-2 %}
	<li class="mobile">
		<h3><i class="fa fa-home"></i>Top Security System Monitoring</h3>
		<p>Plug in to the Protect America 24/7 national monitoring grid for peace of mind like never before. </p>
	</li>
{% endblock %}
{% block benefits-3 %}
	<li class="alt">
	    <h3><i class="fa fa-rss"></i>Welcome to Wireless</h3>
	    <p>Wireless technology means no hassle, no complicated equipment and no expensive professional installation. It also means no drilling holes and no running wires.</p>
	</li>
{% endblock %}
{% block benefits-4 %}
	<li class="mobile">
	    <h3><i class="fa fa-heart"></i>We’re Celebrated!</h3>
	    <p>Our Copper security system and monitoring package has been named a Consumer's Digest "Best Buy" and we are ranked number one by BestHomeSecurityCompanys.com</p>
	</li>
{% endblock %}
{% block benefits-5 %}
	<li class="mobile">
	    <h3><i class="fa fa-user"></i>Flexible is Better</h3>
	    <p>Each system is tailored to your home by a Protect America security expert. Explore a variety of home security and monitoring options!</p>
	</li>
{% endblock %}
{% block benefits-6 %}
	<li class="alt">
	    <h3><i class="fa fa-thumbs-o-up "></i>No Installation or <span>Equipment Fees</span></h3>
	    <p>Setting up your home security system should be stress-free and easy on your wallet. That’s why our packages come with free equipment and no installation fees.</p>
	</li>
{% endblock %}

{% block reviews-headline %}<h2>What our customers say</h2>{% endblock %}
{% block reviews-subhead %}<p>Don’t just take our word for it, real customers are talking!</p>{% endblock %}
				
				
{% block review-1 %}
	<div class="review">
		<div class="box">
	    	<p>Your home is secure with self-installed security system. If you have wifi you have the option to set up Protect America in minutes once your sensors arrive. Plenty of help with online chat or phone help for your install. You can do it.</p>
		</div>
		<div class="info">
		<img class="triangle" src="{{ STATIC_URL }}img/affiliates/sem-landing-page/review-triangle.png" alt"">
		<h3>Janet</h3>
		<img class="stars" src="{{ STATIC_URL }}img/affiliates/sem-landing-page/review-stars.png" alt"">
		</div>
	</div>
{% endblock %}
{% block review-2 %}
	<div class="review">
		<div class="box">
	    	<p>I have been a Protect America for a long time and in all that time I can say that I have never been disappointed with the service I have received as well as the tech support consideration given when needed. All representatives I have had dealings with are very professional and dedicated to assuring that the customer has received complete service when contacted. I have no reservation recommending Protect America as a reliable and dedicated home security service.</p>
		</div>
		<div class="info">
		<img class="triangle" src="{{ STATIC_URL }}img/affiliates/sem-landing-page/review-triangle.png" alt"">
		<h3>Ron</h3>
		<img class="stars" src="{{ STATIC_URL }}img/affiliates/sem-landing-page/review-stars.png" alt"">
		</div>
	</div>
{% endblock %}
{% block review-3 %}
	<div class="review">
		<div class="box">
	    	<p>I installed both hardwired and wireless alarm systems for years before I went to college. After getting married and buying a home that had not been pre-wired for an alarm system, I did my homework. The customized package, very reasonable monitoring fee, and excellent customer support made this decision a no brainer. Protect America. I have not been disappointed at all, in fact my high expectations have been exceeded. I could not possibly more highly recommend this product. I was a certified alarm installer through NBFAA, (National Burglar and Fire Alarm Association) and this product exceeds market expectations and they have excellent customer support.</p>
		</div>
		<div class="info">
		<img class="triangle" src="{{ STATIC_URL }}img/affiliates/sem-landing-page/review-triangle.png" alt"">
		<h3>William</h3>
		<img class="stars" src="{{ STATIC_URL }}img/affiliates/sem-landing-page/review-stars.png" alt"">
		</div>
	</div>
{% endblock %}
{% block review-4 %}
	<div class="review">
		<div class="box">
	    	<p>I have switched from ADT to Protect America. So far so good. Installation was very simple and went well. Everyone I have talked to so far on the phone has been very friendly and helpful. The alarm was set off accidentally the other night while I was at work, and was very happy with the immediate text I received so that I could check on the situation.</p>
		</div>
		<div class="info">
		<img class="triangle" src="{{ STATIC_URL }}img/affiliates/sem-landing-page/review-triangle.png" alt"">
		<h3>Cory <span>of</span> Bryan, OH</h3>
		<img class="stars" src="{{ STATIC_URL }}img/affiliates/sem-landing-page/review-stars.png" alt"">
		</div>
	</div>
{% endblock %}
{% block review-5 %}
	<div class="review">
		<div class="box">
	    	<p>Protect America has ALWAYS had the best customer service that I have seen in a long time. Every time my husband and I call for alarm testing or one of our door contacts isn't working probably, they have always taken care of us. Installation is very easy to do yourself (wireless). They are true to the fees they tell you too.</p>
		</div>
		<div class="info">
		<img class="triangle" src="{{ STATIC_URL }}img/affiliates/sem-landing-page/review-triangle.png" alt"">
		<h3>Connie <span>of</span> Sarasota, FL</h3>
		<img class="stars" src="{{ STATIC_URL }}img/affiliates/sem-landing-page/review-stars.png" alt"">
		</div>
	</div>
{% endblock %}
{% block review-6 %}
	<div class="review">
		<div class="box">
	    	<p>I am always contacted when an alarm is activated and I have been able to have issues resolved quickly. A technician came to install my system for free and he was very knowledgeable. Over the past four years I have contacted Protect America with issues and was given free upgrades to my system to correct flaws. Testing my alarm is a breeze and the customer service I have received has been outstanding. (...)</p>
		</div>
		<div class="info">
		<img class="triangle" src="{{ STATIC_URL }}img/affiliates/sem-landing-page/review-triangle.png" alt"">
		<h3>Geraldine <span>of</span> Harrisburg, PA</h3>
		<img class="stars" src="{{ STATIC_URL }}img/affiliates/sem-landing-page/review-stars.png" alt"">
		</div>
	</div>
{% endblock %}
{% block review-7 %}
	<div class="review">
		<div class="box">
	    	<p>My family and I have been with Protect America for a few years now. I was hesitant at first about being able to "install" the system myself. But the customer service representative stayed on the phone with me the entire time as I labelled and placed each monitor on all areas of entry. I have recommended this company to friends and family simply because I believe they are the best (and the price is amazing)!</p>
		</div>
		<div class="info">
		<img class="triangle" src="{{ STATIC_URL }}img/affiliates/sem-landing-page/review-triangle.png" alt"">
		<h3>Karen <span>of</span> Rineyville, KY</h3>
		<img class="stars" src="{{ STATIC_URL }}img/affiliates/sem-landing-page/review-stars.png" alt"">
		</div>
	</div>
{% endblock %}
{% block review-8 %}
	<div class="review">
		<div class="box">
	    	<p>I have had occasion to call customer service on many occasions, starting with doing the install of my system. The folks I have talked to have, without exception, been knowledgeable, professional and pleasant. I have also used the on-line chat function and had the same positive experience. I would recommend Protect America to anyone looking for a home security system. Keep up the great work!</p>
		</div>
		<div class="info">
		<img class="triangle" src="{{ STATIC_URL }}img/affiliates/sem-landing-page/review-triangle.png" alt"">
		<h3>Fred <span>of</span> Chandler, AZ</h3>
		<img class="stars" src="{{ STATIC_URL }}img/affiliates/sem-landing-page/review-stars.png" alt"">
		</div>
	</div>
{% endblock %}
