{% extends "affiliates/sem-landing-page/paid-base.html" %}

{% load content_filters content_tags sekizai_tags testimonial_tags %}

{% block faq %}{% endblock %}

{% block h2 %}The Best Home Security{% endblock %}
{% block h1 %}for any home{% endblock %}

{% block lifestyle-headline %}<h2>Home security made easy.</h2>{% endblock %}
{% block lifestyle-subhead %}<p><strong>Imagine a home security system designed for you.</strong> No two homes are the same, so why should alarm systems be? Our wireless technology is built to be customized for your home: no matter how many windows, what kind of connection you have, or what your needs are.</p>{% endblock %}

{% block benefits-headline %}<h2>Easy and Flexible - A Must for Home Security</h2>{% endblock %}
{% block benefits-subhead %}<p>Protect America makes it easy to secure and protect your home and family.</p>{% endblock %}

{% block benefits-1 %}
<li>
    <h3><i class="icon-home"></i>Simply Peace of Mind</h3>
    <p>Our home security systems come with world-class 24/7 monitoring for real coverage and real safety.</p>
</li>
{% endblock %}
{% block benefits-2 %}
<li class="mobile">
    <h3><i class="icon-rss"></i>Welcome to Wireless</h3>
    <p>No wires means home security that’s incredibly simple and user-friendly. Safety without the hassle.</p>
</li>
{% endblock %}
{% block benefits-3 %}
<li class="alt">
    <h3><i class="icon-money"></i>The Lowest Price. Period.</h3>
    <p>Our security packages start at $19.99 a month. We'll also match any competitor's prices with our lowest price guarantee!</p>
</li>
{% endblock %}
<div class="clear"></div>
{% block benefits-4 %}
<li class="mobile">
    <h3><i class="icon-user"></i>Customize It</h3>
    <p>Our systems are designed to be tailored to fit your home. Swap equipment, add home automation, fire protection and interactive features.</p>
</li>
{% endblock %}
{% block benefits-5 %}
<li class="mobile">
    <h3><i class="icon-thumbs-up"></i>No Installation or Equipment Fees</h3>
    <p>Securing your home should be stress-free. Our DIY system packages come with free equipment and require no expensive expert installation.</p>
</li>
{% endblock %}
{% block benefits-6 %}
<li class="alt">
    <h3><i class="icon-heart"></i>Celebrated and Top Rated</h3>
    <p>Our Copper alarm package has been named a Consumer's Digest "Best Buy" 5 years in a row and we’re ranked number one by BestHomeSecurityCompanys.com</p>
</li>
{% endblock %}

{% block advantage-header %}
<h2>When it Comes to Security, Never Settle.<span>providing more safety and security for less</span></h2>
{% endblock %}