{% extends "affiliates/sem-landing-page/responsive.html" %}

{% block page_title %}Request a Home Security Quote | Free  | Protect America{% endblock %}
{% block page_keywords %}Home Security System Quotes, Home Security Quote, Alarm System Prices, online alarm quotes{% endblock %}
{% block page_description %}Protect your home today, receive a free home security quote from Protect America{% endblock %}

{% load content_filters content_tags sekizai_tags testimonial_tags %}


{% block content %}
<div id="quote-wrapper-single">
    <div id="quote-area">
        {% include "order/quote-form.html" with form=forms.basic thank_you='/thank-you/' %}
        <div class="clear"></div>
    </div>
</div>
{% endblock %}