{% extends "affiliates/sem-landing-page/paid-base-b.html" %}
{% block page_title %}Security System | Home Alarms | Protect America{% endblock %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}


<h1>{% block h2 %}The Best Security System{% endblock %}</h1>
<h2>{% block h1 %}Wireless, Powerful Security for your Home{% endblock %}</h2>
{% block faq %}
    <a id="faqs"></a>
        <div class="big_wrapper" id="faq">
          <div class="wrapper clearfix">
            <h2>Frequently Asked Questions</h2>
            <ul>
              <li  class="faq">
                <div>
                  <h3>Why Protect America?</h3>
                    <p>Security is extremely important, but it shouldn’t be expensive. Period. Protect America has secured over half a million homes in all 50 states because our wireless security technology is affordable, simple, interactive and user-friendly. We’ve perfected security and made it accessible for anyone seeking to protect their home and family. We’re happy to help explore your best options and will match any price with our Lowest Price Guarantee!</p>
                </div>
              </li>
              <li  class="faq">
                <div>
                  <h3>What If I don’t know exactly what I need?</h3>
                    <p>Protect America has been a pioneer of wireless home security for over 20 years. We take the time to listen, learn your situation, then make effective, affordable suggestions. No two homes are the same, so we approach every household with an open mind.</p>
                </div>
              </li>
              <li class="faq">
                <div>
                  <h3>Will my monitoring rate ever change?</h3>
                    <p>Protect America keeps your monitoring rate the same for the entirety of your contract. With ADT, they can increase your monthly monitoring rate every year after the first year! It's hidden in their 'Terms and Conditions.'</p>
                </div>
              </li>
            </ul>
            <ul class="col2">
              <li class="faq">
                <div>
                  <h3>How does Protect America compare to ADT and other companies?</h3>
                  <p>Protect America has the lowest price in the industry, plus no installation cost and free equipment with every package. Compare our $19.99 per month to ADT’s $42.99 monthly fee for the same coverage, plus their installation fees. You could save up to $612. We also never change contract monitoring rates. ADT and other companies can increase monthly fees at will. We’re dedicated to homeowners everywhere, because everyone should be able to protect their home and their wallet.</p>
                </div>
              </li>
              <li class="faq">
                <div>
                  <h3 >What if there’s a problem with my equipment?</h3>
                  <p>If your system malfunctions with ADT, they will charge you for the replacement of parts which can cost hundreds of dollars. With Protect America, if any part of your system breaks, we replace it. With our Lifetime Replacement Parts warranty, you can rest easy knowing your home is safe and sound.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
    
        
        <div class="clear"></div>
    </div>
{% endblock %}
{% block benefits-headline %}<h2>Trusted Home Security That Can't Be Beat</h2>{% endblock %}
{% block benefits-subhead %}<p>For Over 20 Years, Protect America makes it easy to secure your home and family. </p>{% endblock %}
{% block lifestyle-headline %}<h2>Not all security systems are created equal.</h2>{% endblock %}
{% block lifestyle-subhead %}<p><strong>The security system built for you.</strong> You’re not your neighbor, so why should your home’s security system be the same? Our technology is designed to be customized to fit your house: no matter what kind of connection, how many windows and doors or what your needs are.</p>{% endblock %}