{% extends "affiliates/sem-landing-page/paid-base.html" %}

{% load content_filters content_tags sekizai_tags testimonial_tags %}
{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/affiliates/sem-landing-page/adt.css?v=3.27">
    <!--[if (lt IE 9) & (!IEMobile)]>
    <script src="{{ STATIC_URL }}js/selectivizr-min.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0;">
{% endblock %} 
{% block page_title %}Wireless Security Systems | Home Alarms | Protect America{% endblock %}
{% block google_experiment %}

{% endblock %}


{% block h1 %}Re-think Security. Experience the Freedom of Control.{% endblock %}
{% block h2 %}A Wireless Security System Built for You{% endblock %}

{% block lifestyle-headline %}<h2>A Simple, Powerful Wireless Security System</h2>{% endblock %}

{% block lifestyle-subhead %}<p>Forget complicated hardwired equipment and expensive monthly fees. This is the wireless answer to the classic security system. Surround your home with a digital web of safety where you are the central command station. Control and monitor everything from your smartphone, but take comfort in knowing professional monitoring stations are ready to respond if an alarm is triggered. That’s just smart security.</p>{% endblock %}


{% block benefits-headline %}<h2>The Modern and Wireless Security System</h2>{% endblock %}
{% block benefits-subhead %}<p>PROTECT AMERICA MAKES IT EASY TO SECURE AND PROTECT YOUR HOME AND FAMILY.</p>{% endblock %}
{% block benefits-1 %}
    
    <li class="">
        <h3><i class="icon-money"></i>The Lowest Price. Period.</h3>
        <p>Protect America wireless packages begin at just $19.99 a month. We’re dedicated to making security affordable for everyone.</p>
    </li>
{% endblock %}
{% block benefits-2 %}
    
    <li class="mobile">
        <h3><i class="icon-rss"></i>Welcome to Wireless</h3>
        <p>A wireless security system means no hassle, no complicated equipment and no expensive professional installation.</p>
    </li>
{% endblock %}

{% block benefits-3 %}
    <li class="alt">
        <h3><i class="icon-heart"></i>Top Rated, Everywhere</h3>
        <p>Our Copper alarm package has been named a Consumer's Digest "Best Buy" and we are ranked number one by BestHomeSecurityCompanys.com.</p>
    </li>
{% endblock %}

{% block benefits-4 %}
    
    <li class="mobile">
        <h3><i class="icon-user"></i>Flexible is Better</h3>
        <p>Each wireless home security system is tailored to your home by a Protect America expert. Explore your options!</p>
    </li>
{% endblock %}

{% block benefits-5 %}
    
    <li class="mobile">
        <h3><i class="icon-thumbs-up"></i>No Installation or Equipment Fees</h3>
        <p>Setting up your alarm should be stress-free and easy on your wallet. Our packages come with free equipment and no installation fees.</p>
    </li>
{% endblock %}

{% block benefits-6 %}

    <li class="alt">
        <h3><i class="icon-home"></i>Real Safety. Real Comfort.</h3>
        <p>Plug in to the Protect America 24/7 national monitoring grid for peace of mind like never before. Always connected, always protected.</p>
    </li>

{% endblock %}

{% block advantage-header %}
<h2>A Step above ADT <span>providing more safety and security for less</span></h2>
{% endblock %}

{% block advantage-competitor-2 %}
<tr>
    <td class="title">FRONTPOINT</td>
    <td class="price">$99</td>
    <td>Included</td>
    <td class="na">Not Available</td>
    <td class="na extra">Not Available</td>
    <td class="na extra">Not Available</td>
    <td class="price">$34.95</td>
</tr>
{% endblock %}
{% block faq %}
    <a id="faqs"></a>
        <div class="big_wrapper" id="faq">
          <div class="wrapper clearfix">
            <h2>Frequently Asked Questions</h2>
            <ul>
              <li class="faq">
                <div>
                  <h3>Will my monitoring rate ever change?</h3>
                    <p>Protect America’s monitoring rates are “locked-in”. That means they never change for the life of your contract. Not so with every security company. </p>
                </div>
              </li>
              <li  class="faq">
                <div>
                  <h3>What If I don’t know exactly what I need?</h3>
                    <p>We’ve been a pioneer of the wireless security system for over 20 years. We take the time to listen, learn your situation, then make effective and affordable suggestions. No two homes are the same, so we approach every household with an open mind.</p>
                </div>
              </li>
              <li class="faq">
                <div>
                  <h3 >What if there’s a problem with my equipment?</h3>
                  <p>If any part of your system breaks, we replace it. Period! You can relax knowing your home is safe and sound with our Lifetime Replacement Parts warranty.</p>
                </div>
              </li>
               <li class="faq">
                <div>
                  <h3>Can I add more equipment?</h3>
                  <p>Absolutely. Our safety options can protect your home in many ways including carbon monoxide, fire and smoke, flood, freeze and more. Even add home automation devices like interactive lighting and digital door locks for complete control.</p>
                </div>
              </li>
            </ul>
            <ul class="col2">
              <li class="faq">
                <div>
                  <h3 >How do I Arm and Disarm my wireless alarm?</h3>
                  <p>Simply press one button to arm your system, and enter your master code to disarm it. Protect America wireless home security system technology is also interactive, so you can arm and disarm from a smartphone with our free app!</p>
                </div>
              </li>
              <li class="faq">
                <div>
                  <h3>How much does it cost?</h3>
                  <p>Protecting your home is an important step, but that doesn’t mean it should break the bank. Every Protect America wireless security system is affordable, effective and has a lifetime warranty. This is an investment in your home and family, and can cost as low as a dollar a day.  </p>
                </div>
              </li>
              <li class="faq">
                <div>
                  <h3>What if I have to move?</h3>
                  <p>No problem. Take your security system with you and change your monitoring location at no extra charge. Wireless technology means you can move your system whenever you like!</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
    
        
        <div class="clear"></div>
    </div>
{% endblock %}