{% load sekizai_tags content_tags content_filters %}
{% if phone_number %}
<div class="clear"></div>
<div id="call-box">

    {% if no_promo = True %}

    {% else %}
{% comment %}
        {% if cyber_promo == "shop" %}
        <div id="main-promo" style="background: #2c3c56;">
            <a href="http://www.protectamerica.com/products/order-package?promo=cyber-security" id="main-promo-content">
                <img src="{{ STATIC_URL }}img/promo/cyber-monday/cyber-monday-banner.png" alt="cyber-monday-banner" width="264" height="48" style="position: absolute; top: -4px;" />
                <img src="{{ STATIC_URL }}img/promo/cyber-monday/simon-xt-icon.png" style="position: absolute; left: 290px; top: -8px;" alt="simon-xt-icon" width="93" height="60" />
                <img src="{{ STATIC_URL }}img/promo/cyber-monday/security-right.png" style="float: right; padding-top: 4px;" alt="security-right" width="552" height="48" />
            </a>
        </div>    
        {% endif %}
        {% if cyber_promo == "camera" %}
        <div id="main-promo" style="background: #1570aa;">
            <a href="http://www.protectamerica.com/products/order-package?promo=cyber-camera" id="main-promo-content">
                <img src="{{ STATIC_URL }}img/promo/cyber-monday/cyber-monday-banner.png" alt="cyber-monday-banner" width="264" height="48" style="position: absolute; top: -4px;" />
                <img src="{{ STATIC_URL }}img/banners/promos/camera-banner.png" class="main-promo-image" style="width: 92px; left: 280px;" alt="keychain-promo" />
                <img src="{{ STATIC_URL }}img/promo/cyber-monday/camera-right.png" style="float: right; padding-top: 4px;" alt="security-right" width="552" height="48" />
            </a>
        </div>    
        {% endif %}
        {% if cyber_promo == "keychain" %}
        <div id="main-promo" style="background: #1570aa;">
            <a href="http://www.protectamerica.com/products/order-package?promo=cyber-keychain" id="main-promo-content">
                <img src="{{ STATIC_URL }}img/promo/cyber-monday/cyber-monday-banner.png" alt="cyber-monday-banner" width="264" height="48" style="position: absolute; top: -4px;" />
                <img src="{{ STATIC_URL }}img/products/equipment/keychain-remote/keychain-promo.png" class="main-promo-image" style="width: 108px; left: 280px;" alt="keychain-promo" />
                <img src="{{ STATIC_URL }}img/promo/cyber-monday/keychain-right.png" style="float: right; padding-top: 4px;" alt="security-right" width="552" height="48" />
            </a>
        </div>    
        {% endif %}
        {% if cyber_promo == "smoke" %}
        <div id="main-promo" style="background: #ffc000;">
            <a href="http://www.protectamerica.com/products/order-package?promo=cyber-keychain" id="main-promo-content">
                <img src="{{ STATIC_URL }}img/promo/cyber-monday/cyber-monday-banner.png" alt="cyber-monday-banner" width="264" height="48" style="position: absolute; top: -4px;" />
                <img src="{{ STATIC_URL }}img/promo/cyber-monday/smoke-icon.png" style="position: absolute; left: 310px; top: -12px;" alt="simon-xt-icon" />
                <img src="{{ STATIC_URL }}img/promo/cyber-monday/smoke-right.png" style="float: right; padding-top: 4px;" alt="security-right" width="552" height="48" />
            </a>
        </div>    
        {% endif %}
        {% if cyber_promo == "smart" %}
        <div id="main-promo" style="background: #ececec;">
            <a href="http://www.protectamerica.com/products/order-package?promo=cyber-smart" id="main-promo-content">
                <img src="{{ STATIC_URL }}img/promo/cyber-monday/cyber-monday-banner.png" alt="cyber-monday-banner" width="264" height="48" style="position: absolute; top: -4px;" />
                <img src="{{ STATIC_URL }}img/promo/cyber-monday/smart-icon.png" style="position: absolute; left: 273px; top: -34px;" alt="simon-xt-icon" />
                <img src="{{ STATIC_URL }}img/promo/cyber-monday/smart-right.png" style="float: right; padding-top: 0px;" alt="security-right" />
            </a>
        </div>    
        {% endif %}
{% endcomment %}
{% comment %}
        {% if cyber_promo == Null %}
{% endcomment %}
            {% comment %}
            <div id="main-promo" style="background: #2c3c56;">
                <a href="http://www.protectamerica.com/products/order-package?promo=cyber-security" id="main-promo-content">
                    <img src="{{ STATIC_URL }}img/promo/cyber-monday/cyber-monday-banner.png" alt="cyber-monday-banner" width="264" height="48" style="position: absolute; top: -4px;" />
                    <img src="{{ STATIC_URL }}img/promo/cyber-monday/simon-xt-icon.png" style="position: absolute; left: 290px; top: -8px;" alt="simon-xt-icon" width="93" height="60" />
                    <img src="{{ STATIC_URL }}img/promo/cyber-monday/security-right.png" style="float: right; padding-top: 4px;" alt="security-right" width="552" height="48" />
                </a>
            </div>
            {% endcomment %}
            <div id="main-promo">
                <a href="http://www.protectamerica.com/equipment/home-security/security-camera?promo=true" id="main-promo-content">
                    <img src="{{ STATIC_URL }}img/banners/promos/camera-banner.png" class="main-promo-image" style="width: 92px; left: 16px;" alt="keychain-promo" />
                    <p style=""><strong style="display: block; float: left; font-size: 31px; padding-top: 12px;">SALE TODAY!</strong><span style="float: left; display: block; margin-left: 16px; font-size:12px;">Free Security Camera <br/> With Select Home Security Bundles</span></p>
                    <div class="clear"></div>
                </a>
            </div>
            {% comment %}
            <div id="main-promo">
                <a href="http://www.protectamerica.com/products/order-package?promo=true" id="main-promo-content">
                    <img src="{{ STATIC_URL }}img/products/equipment/keychain-remote/keychain-promo.png" class="main-promo-image" style="width: 108px; left: 16px;" alt="keychain-promo" />
                    <p style="margin-left: 16px;"><strong style="display: block; float: left; font-size: 31px; padding-top: 12px;">SALE TODAY!</strong><span style="float: left; display: block; margin-left: 16px;">2 Keychain Remotes <br/> When you Order Any Package</span></p>
                    <div class="clear"></div>
                </a>
            </div>
            {% endcomment %}
            {% comment %}
        
            <div id="main-promo">
                <a href="http://www.protectamerica.com/products/order-package?promo=true" id="main-promo-content">
                    <img src="{{ STATIC_URL }}img/banners/tablet-banner/tablet-icon.png" class="main-promo-image" style=" width: 131px; height: 81px;  left: -36px;" alt="tablet-icon" />
                    <p style="margin-left: 16px;"><span style="float: left; display: block; margin-left: -36px;">7” ASUS Tablet Included<br/>on select packages</span></p>
                    <img src="{{ STATIC_URL }}img/banners/tablet-banner/limited-time.png" style="position: absolute; bottom: -3px; right: 283px;" alt="limited-time" width="183" height="73" />
                    <div class="clear"></div>
                </a>
            </div>
            {% endcomment %}

            {% comment %}
            
            <div id="main-promo">
                <a href="http://www.protectamerica.com/products/order-package?promo=true" id="main-promo-content">
                    <img src="{{ STATIC_URL }}img/banners/call-banner/free-shipping-icon.png" class="main-promo-image" style="width: 121px;" alt="keychain-promo" />
                    <p style="margin-left: 16px;"><strong style="display: block; float: left; font-size: 31px; padding-top: 12px;">TODAY ONLY!</strong><span style="float: left; display: block; margin-left: 16px;">Free Shipping <br/> When you Order Any Package</span></p>
                    <div class="clear"></div>
                </a>
            </div>
            {% endcomment %}
{% comment %}
        {% endif %}
{% endcomment %}
    {% endif %}
    {% block call-box-text %}<p><a href="tel:{{ phone_number|format_number }}">Get Started Now, <strong>Call Today! {% endblock %}<span{% if use_call_measurement %} class="dynamic-phone-number"{% endif %}>{{ phone_number|format_number }}</span></strong></a></p>
</div>
<div class="clear"></div>

{% endif %}