
{% extends "packages/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}
{% block page_title %}Order Your {% if request.GET.package %} {{ request.GET.package|title }}{% endif %}Home Security Products | Order | Protect America{% endblock %}
{% block page_description %}Order a wireless home security from Protect America today. Starting at $19.99 per month, Our alarm systems are rated a Consumer Digest Best Buy and #1 from Best Home Security Companys.{% endblock %}
{% block page_keywords %}Protect America, buy home security system, buy home security, order home security, home security systems review, best buy home security, buy home security alarm, best home security systems, where to buy home security systems{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/order-b.css">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="order-package-page">
        <div class="titles">
            <h1>Home security and automation</h1>
            <h2>built for you</h2>
        </div>
        <div class="convenience">
            <p>For your convenience and immediate attention, call <span>1-800-951-5190</span></p>
        </div>
        <div class="clear"></div>
        <form class="quote-form-order">
            <h3>For your <span>FREE quote</span>, call<br> <span>1-800-951-5190</span> now!</h3>
            <p>or<br>please provide your information below</p>
            <input id="id_name" type="text" maxlength="128" name="name" placeholder="Name" class="order-b">
            <input id="id_email" type="text" maxlength="128" name="email" placeholder="Email" class="order-b">
            <input id="id_phone" type="text" maxlength="20" name="phone" placeholder="Phone" class="order-b">
            <select id="id_package">
                <option selected="selected" value="Copper">Copper</option>
                <option value="Bronze">Bronze</option>
                <option value="Silver">Silver</option>
                <option value="Gold">Gold</option>
                <option value="Platinum">Platinum</option>
            </select>
            <button type="button" class="order-b">continue</button>
            <span class="small">By clicking this button, you consent to receive calls using automated technology from Protect America at the number provided and understand this is not a condition of purchase.</span>
            <div class="clear"></div>
            <a href="#">Your privacy is important and safe with us</a>
            <img src="/static/img/base/best-buy.png" alt="Consumer best buy" />
        </form>
        <div class="triple-guarantee">
            <h3>Protect america</h3>
            <h4>Triple guarantee</h4>
            <span><i class="fa fa-usd"></i><strong>Lowest price guaranteed</strong><p>If you find a better offer, let us know. We are committed to providing the best possible security at the most affordable price. We match or beat anyone out there.</p></span>
            <span><i class="fa fa-thumbs-up"></i><strong>No equipment fees</strong><p>Setting up your alarm should be stress-free and easy on your wallet. Our packages come with free equipment to get you up and running as soon as possible.</p></span>
            <span class="last"><i class="fa fa-refresh"></i><strong>Lifetime replacement plan</strong><p>As a Protect America customer, if your equipment ever happens to malfunction, we will repair it or get you a new one for free. We want to make sure your home is always secure.</p></span>
            <div class="bottom"><p>Protect America is committed to excellence and affordability when it comes to securing your home. That's why we're a Consumers Digest Best Buy&trade; for home security systems and the best choice for a world-class security system backed by a company that is dedicated to serving your security needs. Your family is your top priority. Call <strong class="blue">1-800-951-5190</strong> for a fast <strong>FREE quote.</strong></p></div>
        </div>
    </div>
</div>

{% include "order/call-box.html" %}
{% block testimonials %}
<!-- Testimonials -->
<div id="testimonials">
    <div class="container">
        <div id="review-container">
            <div class="review">
                <img src="{{ STATIC_URL }}img/local-pages/austin/ernest.jpg" alt="ernest" />
                <i class="icon-quote-left"></i>
                <blockquote>I have worked customer service for over 30 yrs and I appreciate good service when I get it. Jeremy was patient, explained everything as we were adding sensors and was very polite and willing to answer questions as we went thru the process. He is an excellent representative of your company!
                    <p>Ernest &ndash; Austin, TX</p>
                    <span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span>
                </blockquote>
            </div>
            <div class="review">
                <img src="{{ STATIC_URL }}img/local-pages/austin/dillon.jpg" alt="dillon" />
                <i class="icon-quote-left"></i>
                <blockquote><!--I just wanted to express my thanks to you and your excellent customer service agents. --> I recently moved to Austin, TX and Protect America has made the move a lot easier. I really appreciate the peace of mind that I have when I arrive at my new home every day. Sharon and Khadijah were excellent at assisting me in upgrading my system to Cellular Monitoring. <!--just one month after experiencing the quality of your service and equipment.--> Thanks guys!
                    <p>Dillon &ndash; Austin, TX</p>
                    <span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span>
                </blockquote>
            </div>
            <div class="review">
                <img src="{{ STATIC_URL }}img/local-pages/austin/melissa.jpg" alt="melissa" />
                <i class="icon-quote-left"></i>
                <blockquote>Emily was extremely nice & patient with me today, as I needed help w/ my system & installation of some glass breakage sensors.  She is very knowledgeable w/ a good-natured personality.  I really enjoyed talking with her!
                    <p>Melissa &ndash; Austin, TX</p>
                    <span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span>
                </blockquote>
            </div>
        </div>
    </div>
</div>
<!-- End testimonials -->
{% endblock %}
{% addtoblock "js" %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/waypoints.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/waypoints-sticky.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
			$('#header').waypoint('sticky', {
			  offset: -85 // Apply "stuck" when element 30px from top
			});
        });
    </script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/owl.carousel.min.js"></script>

    <script type="text/javascript">
    $(document).ready(function() {
        $( "#menu-button" ).click(function() {
            $( "#mobile-menu-container" ).slideToggle( "slow", function() {
            });
        });

        var owl = $("#featured-badges");
        var outreach = $("#community-outreach-squares");
        owl.owlCarousel({
          autoPlay: 7000,
          items : 12,
          pagination: false,
          itemsCustom: [[0, 2], [480, 3], [640, 4], [800, 5], [960, 6], [1120, 7], [1280, 8], [1440, 9], [1600, 10]]
        });
        outreach.owlCarousel({
          autoPlay: 7000,
          stopOnHover: true,
          items : 3, //10 items above 1000px browser width
          itemsDesktop : [1000,3], //5 items between 1000px and 901px
          itemsDesktopSmall : [930,2], // betweem 900px and 601px
          itemsTablet: [660,1], //2 items between 600 and 0
          itemsMobile : false // itemsMobile disabled - inherit from itemsTablet option
        });
        $("#review-container").owlCarousel({
          slideSpeed : 300,
          paginationSpeed : 400,
          singleItem: true,
          autoHeight: true,
          pagination: false,
        });
        $('.square').click(function() {
            var link = $(this).data("link");
            $(this).attr(link, '_blank');

        });
    });
    </script>

    <script type="text/javascript">
    $('.quote-form-order input').keypress(function(e){
        if(e.which == 13){
            var $form = $(this).closest('.quote-form-order');
            $form.find('button').click();
        }
    });

    var submitting = false;

    $('.quote-form-order').on('click','button',function() {
        $('.quote-form-order button').attr('disabled',true);
        var $form = $(this).closest('.quote-form-order');
        var trusted = $form.find("[name ='xxTrustedFormToken']").val() || $form.find("[name ='CertUrl']").val();
        var device = getParameterByName('device');
        if (!trusted){
            $('#quote-form button').attr('disabled',false);
            var phone_number = $(".dynamic-phone-number").first().text();
            if (phone_number){
                alert("Sorry your form can't be submitted at this time. Please call us at" +" " + phone_number + " " +".");
            }
            else{
                alert("Sorry your form can't be submitted at this time. Please call us at the number above.");
            }
            return;
        }

        var name = $form.find("#id_name").val();
        var email = $form.find("#id_email").val();
        var phone = $form.find("#id_phone").val();
        var business_name = $form.find("#id_business_name").val();
        /*
        if (name == ''){
            alert('Please include your name before proceeding.');
            _gaq.push(['_trackEvent', 'Form Error', 'Name Error', '{{ page_name }']);
            return false;
        }
        if (phone == ''){
            alert('Please include your phone number before proceeding.');
            _gaq.push(['_trackEvent', 'Form Error', 'Phone Error', '{{ page_name }}']);
            return false;
        }
        */
        var data = {'name':name,
                    'email': email,
                    'phone': phone,
                    'trusted_form': trusted,
                    'form': 'basic',
                    'referer_page':window.location.href,
                    'form_values':$form.serialize(),
                    'operating_system':(window.OSName + "_PA"),
                    'device':device,
                    'gclid':$("[name='gclid']").val(),
                    'form_js': 't/o/q-f.h'
                    }

        if (business_name){
            data['business_name'] = business_name;
        }


        if (trusted){
            $.ajax({
                    type: "POST",
                    url: "/contact/ajaxpost/",
                    data: data,
                    dataType: "json",
                    success: newFormSuccess,
                    error: newFormError
                    });
        }

        function newFormError(){
            $(".sleepy #form-loading, .droopy #form-loading").hide();
            $(".sleepy .icon-chevron-right, .droopy .icon-chevron-right").show();
              $('.quote-form-order button').attr('disabled',false);
            if (!name && !phone){
                $('#id_name').css('border-color','red').attr('placeholder','Please Enter Name');
                $('#id_phone').css('border-color','red').attr('placeholder','Please Enter Phone Number');
                alert('Please Enter Your Name and Phone Number.');
            }
            if (!phone && name){
                $('#id_phone').css('border-color','red').attr('placeholder','Please Enter Phone Number');
                alert('Please Enter Your Phone Number.');
            }
            if (!name && phone){
                $('#id_name').css('border-color','red').attr('placeholder','Please Enter Your Name');
                alert('Please Enter Your Name.');
            }
            if (name){
                $('#id_name').css('border-color','');
            }
            if (phone){
                $('#id_phone').css('border-color','');
            }
        }

        function newFormSuccess(json) {
            $('#form-loading').hide();
            submitting = false;
            try
            {
                var acn = $('.form-fields').data('acn');
                if (acn){
                    var url = $('.form-fields').data('thank-you');
                    window.location = url;
                    return;
                    }
            }
            catch(err){var acn = false;}
            if(json.success) {
                {% if thank_you %}
                window.location = '{{ thank_you }}';
                {% else %}
                url = json.thank_you
                window.location = "http://www.protectamerica.com" + url;
                {% endif %}
                _gaq.push([
                    '_trackEvent',
                    'Form Click',
                    'Form Events',
                    '{{ page_name }}'
                ]);
                return;
            }
        }


        return false;
        });

</script>

{% endaddtoblock %}

{% endblock %}

{% block order-footer %}{% endblock %}



{% block subnav_parent %}{% endblock %}
