{% load content_tags content_filters sekizai_tags %}
<div id="trusted-error" style="display:none;color:#ffffff;position:absolute;right:0px;top:52px;width:250px;height:300px;background:#1fb867;">
    <h1>Oops!</h1>
    <h1>There was an error submitting your form. Please call us at {{ phone_number|format_number }}</h1>
</div>
<form id="quote-form" class='not-sleepy' method="post" action="">
    {% csrf_token %}
    
	<div>
        <p class="form-title">Free Security Quote</p>
        {% block formfields %}
		  <label>Name</label>
            {{ form.name }}

		  <label>Email</label>
            {{ form.email }}
		
            <label>{% block phone-num %}Phone Number{% endblock %}</label>
            {{ form.phone }}
        {% endblock %}

	</div>
    
	<button type="button" class="redbutton" onClick="_gaq.push(['_trackEvent', 'Request Quote Click', 'Request Quote Submit', '{{ page_name }}']);">{% block quote-button %}Get Quote <i class="icon-chevron-right"></i>{% endblock %}<img style="position:absolute;top:240px;right:-30px;display:none" id='form-loading' height='120px' width='120px' src="{{ STATIC_URL }}/img/loading2.gif"></button>
        {% block consent %}
             <div class="consent-box-two">
            <label class="consent-label-two" for="id_consent_two">By clicking this button, you consent to receive calls using automated technology from Protect America at the number provided and understand this is not a condition of purchase.</label>
            <div class="clear"></div>
        </div>
        {% endblock %}

    <a href="http://www.protectamerica.com/help/privacy-policy" title="View our Privacy Policy">Your privacy is important and safe with us</a>
    <div id="third-party-container" class="v">
        <div class="third-party-badge vsign">
            <table width="135" border="0" cellpadding="2" cellspacing="0" title="Click to Verify - This site chose VeriSign Trust Seal to promote trust online with consumers."><tr><td width="135" align="center" valign="top"><script type="text/javascript" src="https://seal.verisign.com/getseal?host_name={% if request.get_host == '127.0.0.1:5001' %}www.protectamerica.com{% else %}{{ request.get_host }}{% endif %}&amp;size=S&amp;use_flash=NO&amp;use_transparent=NO&amp;lang=en"></script></td> </tr></table>
        </div>
        <div class="third-party-badge truste">
            <div id="4d9e197b-b560-4855-8a81-060da2587fb0"> <script type="text/javascript" src="//privacy-policy.truste.com/privacy-seal/Protect-America,-Inc-/asc?rid=4d9e197b-b560-4855-8a81-060da2587fb0"></script><a href="//privacy.truste.com/privacy-seal/Protect-America,-Inc-/validation?rid=a32fda55-5b8a-4a07-b143-f23589641269" title="TRUSTe online privacy certification" target="_blank"><img style="border: none" src="//privacy-policy.truste.com/privacy-seal/Protect-America,-Inc-/seal?rid=a32fda55-5b8a-4a07-b143-f23589641269" alt="TRUSTe online privacy certification"/></a></div>
        </div>
    </div>
</form>
{% addtoblock "js" %}
{% block javascript %}
<script type="text/javascript">
$(document).ready(function() {
    function validateEmail(email){
    var re = /\S+@\S+\.\S+/;
    return re.test(email);
    }

    $('.not-sleepy input').keypress(function(e){
        if(e.which == 13){
            $('.sleepy button').click();
        }
    });
    var submitting = false;

    $('.not-sleepy button,').click(function() {
        $('.not-sleepy button').attr('disabled',true);
        var $form = $(this).closest('#quote-form');
        var trusted = $form.find("[name ='xxTrustedFormToken']").val() || $form.find("[name ='CertUrl']").val()
        if (!trusted){
            $form.remove();
            $('#trusted-error').show();
            return false;
        }
        var name = $form.find("#id_name_two").val();
        var email = $form.find("#id_email_two").val();
        var phone = $form.find("#id_phone_two").val();
        /*
        if (name == ''){
            alert('Please include your name before proceeding.');
            _gaq.push(['_trackEvent', 'Form Error', 'Name Error', '{{ page_name }']);
            return false;
        }
        if (phone == ''){
            alert('Please include your phone number before proceeding.');
            _gaq.push(['_trackEvent', 'Form Error', 'Phone Error', '{{ page_name }}']);
            return false;
        }
        */
        $form.children('div').removeClass('.error-state');
        var data = {'name':name, 
                    'email': email,
                    'phone': phone, 
                    'trusted_form': $form.find("[name ='xxTrustedFormToken']").val(),
                    'trusted_form2': $form.find("[name ='CertUrl']").val(),
                    'form': 'basic',
                    'referer_page':window.location.href,
                    'form_values':$form.serialize(),
                    'operating_system':OSName}
        $.ajax({
                type: "POST",
                url: "/contact/ajaxpost/",
                data: data,
                dataType: "json",
                success: newFormSuccess,
                error:newFormError,
                beforeSend:function(){
                    $(".not-sleepy .icon-chevron-right").hide();
                    $('.not-sleepy #form-loading').show();
                    $('.not-sleepy button').attr('disabled',true);
                    }
                });
       
        function newFormError(){
            $('.not-sleepy #form-loading').hide();
            $(".not-sleepy .icon-chevron-right").show();
            $('.not-sleepy button').attr('disabled',false);
            if (!name && !phone){
                $('#id_name_two').css('border-color','red').attr('placeholder','Please Enter Name');
                $('#id_phone_two').css('border-color','red').attr('placeholder','Please Enter Phone Number');
                alert('Please Enter Your Name and Phone Number.');
            }
            if (!phone && name){
                $('#id_phone_two').css('border-color','red').attr('placeholder','Please Enter Phone Number');
                alert('Please Enter Your Phone Number.');
            }
            if (!name && phone){
                $('#id_name_two').css('border-color','red').attr('placeholder','Please Enter Your Name');
                alert('Please Enter Your Name.');
            }
            if (name){
                $('#id_name_two').css('border-color','');
            }
            if (phone){
                $('#id_phone_two').css('border-color','');
            }
        }

        function newFormSuccess(json) {
            $('#form-loading').hide();
            submitting = false;
            if(json.success) {
                {% if thank_you %}
                window.location = '{{ thank_you }}';
                {% else %}
                url = json.thank_you
                window.location = "http://www.protectamerica.com" + url;
                {% endif %}
                _gaq.push([  
                    '_trackEvent',
                    'Form Click',
                    'Form Events',
                    '{{ page_name }}'
                ]);
                return;
            }
       
        if(json.errors) {
            $('#quote-form button').attr('disabled', false); 
            $("#quote-form-error").show();
            $("#quote-form-error ul").html("");
            var error_string = "";
            if(typeof json.errors == "object") { //this is an array of error messages
                $.each(json.errors, function(k,v) {
                    switch(k) {
                        case 'phone':
                            error_string += "<li> Phone: "+v+"</li>";
                            break;
                        case 'email':
                            error_string += "<li> Email: "+v+"</li>";
                            break;
                        case 'name':
                            error_string += "<li> Name: "+v+"</li>";
                            break;
                        default:
                            error_string += "<li>"+v+"</li>";
                            break;
                    }
                });
            } else {
                error_string = "<li>"+json.errors+"</li>\n";
            }
            
            $("#quote-form-error ul").html(error_string);
            } else $("#quote-form-error").hide();
        }
        return false;
        });
    });   
</script>
{% endblock %}
{% endaddtoblock "js" %}
