{% extends "order/quote-form-white-base.html" %}
       
{% block formfields %}
    <div class="form-fields">
        <p>Our security experts are ready to help.</p>
           
        <input id="id_name" type="text" maxlength="128" name="name" placeholder="Name">
           
           
        <input id="id_email" type="text" maxlength="128" name="email" placeholder="Email">
           
           
        <input id="id_phone" type="text" maxlength="20" name="phone" placeholder="Phone">
        <div class="consent-box">
            <input id="id_consent" type="checkbox" maxlength="20" name="consent">
            <label class="consent-label" for="id_consent">I consent to receive autodialed calls from Protect America and understand this is not a condition of purchase.</label>
            <div class="clear"></div>
        </div>
    </div>
{% endblock %}