{% extends "order/quote-form.html" %}
{% block form-title %}
     <p>Get a free quote</p>
     <span>Our security experts are ready to help</span>
{% endblock %}
{% block consent %}
     <span class="small">By clicking this button, you consent to receive calls using automated technology from Protect America at the number provided and understand this is not a condition of purchase.</span>
{% endblock %}
{% block quote-button %}Call me{% endblock %}

<div class="quote-form-white">
     <span class="small">By clicking this button, you consent to receive calls using automated technology from Protect America at the number provided and understand this is not a condition of purchase.</span>
     <a href="#">Your privacy is important and safe with us.</a>
     <a href="#"><img style="border: none" src="//privacy-policy.truste.com/privacy-seal/Protect-America,-Inc-/seal?rid=a32fda55-5b8a-4a07-b143-f23589641269" alt="TRUSTe online privacy certification"/></a>
 </div>