{% load sekizai_tags %}
<form id="quote-form" method="post" action="">
    {% csrf_token %}
	<div>
		<p>Free Security Quote</p>
		<label>Name</label>
        {{ form.name }}

		<label>Email</label>
        {{ form.email }}
		
        <label>Phone Number</label>
        {{ form.phone }}


	</div>
	<button type="button" class="redbutton">Get Quote ></button>
    <a href="http://www.protectamerica.com/pa/priv_p" title="View our Privacy Policy">We never share your information with anyone</a>
    <div id="quote-form-error">
        <img src="{{ STATIC_URL }}/img/base/error-arrow.png" id="error-arrow" />
        <strong>Whoops!</strong>
        <ul></ul>
    </div>
</form>
{% addtoblock "js" %}
<script type="text/javascript">
$(document).ready(function() {
    $('#quote-form button').click(function() {
        $('#quote-form div').removeClass('.error-state');
        var data = {'name': $('#id_name').val(), 'email': $('#id_email').val(), 'phone': $('#id_phone').val(), 'form': 'basic'}
        $.ajax({
            type: "POST",
            url: "/contact/ajaxpost/",
            data: data,
            dataType: "json",
            success: newFormSuccess
        });

        function newFormSuccess(json) {
            if(json.success) {
                window.location = "{% url security-packages %}";
            }
        if(json.errors) {
            $("#quote-form-error").show();
            $("#quote-form-error ul").html("");
            var error_string = "";
            if(typeof json.errors == "object") { //this is an array of error messages
                $.each(json.errors, function(k,v) {
                    switch(k) {
                        case 'phone':
                            error_string += "<li> Phone: "+v+"</li>";
                            break;
                        case 'email':
                            error_string += "<li> Email: "+v+"</li>";
                            break;
                        case 'name':
                            error_string += "<li> Name: "+v+"</li>";
                            break;
                        default:
                            error_string += "<li>"+v+"</li>";
                            break;
                    }
                });
            } else {
                error_string = "<li>"+json.errors+"</li>\n";
            }
            
            $("#quote-form-error ul").html(error_string);
            } else $("#quote-form-error").hide();

        }
        return false;
        });
    }); 
</script>
{% endaddtoblock "js" %}
