<style type="text/css">
/************** Platinum Package Ad ****************/
#hero-banners {
	margin: 20px 15px 20px 0;
	-moz-box-shadow: 0 2px 5px #ccc;
	-moz-border-radius: 10px;
	width: 645px;
	float: left;

}


/************** Top Consumer Reviews ****************/
#top-consumers-ad {
	background: #555 url(/media/img/banners/top-consumer-reviews-bg.jpg) repeat-x;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	height: 290px;
	width: 645px;
}
#top-consumers-ad span {
	color: #CCCCCC;
    font-size: 16px;
    left: 59px;
    position: absolute;
    top: 15px;
    z-index: 50;
}
#top-consumers-ad h3 {
	color: #FCFCFC;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 29px;
    position: absolute;
    right: 13px;
    text-align: justify;
    text-shadow: 3px 3px 5px #111111;
    top: 30px;
    width: 273px;	
}
#top-consumers-ad h3 strong {
	color: #36C6F8;	
}
#top-consumers-ad img {
	position: absolute;
	top: 43px;
	left: 12px;
	
}
#top-consumers-ad p {
	color: #CCCCCC;
    font-size: 12px;
    position: absolute;
    right: 13px;
    top: 219px;
}
</style>
<div id="hero-banners">

	<div id="top-consumers-ad">
		<div id="consumers-ad-content">
			<span id="year-statement">For the Fourth Consecutive Year</span>
			<img width="338" height="219" alt="Best Home Security System - 5 Stars from Top Consumer Reviews" src="/media/img/banners/top-consumer-banner.jpg">
   			<h3>"Protect America provides the <strong>best home security</strong> solution available today. Their state-of-the-art equipment and 24 hour nationwide monitoring system [are] <strong>top-notch</strong>."</h3>
    		<p>-Top Consumer Reviews 2010</p>
		</div>
	</div>


</div>
<script type="text/javascript">
$(document).ready(function() {
	$('#hero-banners').cycle({timeout: 7000});	
});
</script>
