<style type="text/css">
/************** Platinum Package Ad ****************/
#hero-banners {
	margin: 10px 0 20px;
	-moz-box-shadow: 0 2px 5px #ccc;
	-moz-border-radius: 10px;

}
.platinum-ad {
	background: #ccc url(/media/img/banners/platinum-package-bg.png) repeat-x;

	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	height: 300px;
}
.platinum-ad-content {
	position: absolute;
	right: 70px;
	top: 50px;
}
.platinum-ad-content strong {
	border-bottom: 1px solid #CCC;
	color: #555;
	display: block;
	font-size: 41px;
	font-weight: 300;
	margin-bottom: 15px;
	padding-bottom: 22px;
}
.platinum-ad-content p {
	color: #777;
	font-size: 17px;
}
.platinum-ad-content .button {
	position: absolute;
	bottom: -100px;
	right: 15px;
}
.platinum-ad img {
	position: absolute;
	top: 20px;
	left: -17px;
}

/************** Top Consumer Reviews ****************/
.consumers-ad {
	background: #555 url(/media/img/banners/top-consumer-reviews-bg.jpg) repeat-x;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	height: 300px;
}
.consumers-banner {
	position: absolute;
	left: 22px;
	top: 45px;
}
.consumers-ad p strong {
	color: #36C6F8;
}
.consumers-ad p {
    color: #FFFFFF;
    font-size: 21px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 40px;
    position: absolute;
    right: 20px;
    text-shadow: 3px 3px 5px #111111;
    top: 40px;
    width: 455px;
}
.consumers-ad .button {
	bottom:25px;
	position:absolute;
	right:30px;
}
.consumers-ad .button a {
	-moz-box-shadow: 0 2px 5px #000;
	-webkit-box-shadow: 0 2px 5px #000;
	box-shadow: 0 2px 5px #000;


}
.consumers-ad span {
	color:#DDDDDD;
	font-size:18px;
	font-weight:300;
	left:33px;
	letter-spacing:1px;
	position:absolute;
	text-align:center;
	text-shadow:1px 4px 5px #333333;
	top:18px;
	width:371px;
}
/************** Whole Home Ad ****************/
.whole-home-ad {
	background: #fff url(/media/img/banners/whole-home-protect-bg.jpg);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	height: 300px;
}
.whole-home-ad span {
	color:#555555;
	font-size:32px;
	font-weight:normal;
	line-height:35px;
}
.whole-home-ad h3 {
	border-bottom:medium none;
	color:#333333;
	font-size:39px;
	font-weight:800;
	line-height:35px;
	position:absolute;
	right:30px;
	text-align:right;
	top:0px;
	width:400px;

}
.whole-home-ad h3 strong {
	display:block;
	font-size:40px;
	line-height:44px;
}
.whole-home-ad .button {
	bottom:8px;
	position:absolute;
	right:25px;
}
.whole-home-ad .button a {
	-moz-box-shadow: 0 2px 5px #274703;
	-webkit-box-shadow: 0 2px 5px #274703;
	box-shadow: 0 2px 5px #274703;
}
.whole-home-ad p {
	bottom:61px;
	color:#274703;
	font-size:19px;
	font-weight:bold;
	line-height:22px;
	position:absolute;
	right:15px;
	text-align:right;
	width:240px;
}
.whole-home-ad p span {
	color:#274703;
	display:block;
	font-size:24.3px;
	font-weight:800;
	line-height:24px;
}
.content-box {
	width: 960px;
	margin: 0 0 15px;
	float: left;
	position: relative;
}
</style>
<div id="hero-banners">

	<div class="content-box whole-home-ad">
		<div class="whole-home-content">
		<h3><span>The Only Company Offering</span> <u>Affordable</u> Protection <strong>for the Whole Home</strong></h3>			<p><span>Secure up to fifteen</span> doors &amp; windows for free <br>(Save $1339 vs ADT)</p>
		<div class="button">
				<a href="{% url copper %}">Protect Your Whole Home</a>
			</div>
		</div>
	</div>

	<div class="content-box consumers-ad">
		<div class="consumers-ad-content">
			<span>For the Third Consecutive Year</span>
			<img src="/media/img/banners/top-consumer-banner.jpg" class="consumers-banner" />
			<p>"Protect America provides the <strong>best home security</strong> solution available today. Their state-of-the-art equipment and 24 hour nationwide monitoring system [are] <strong>top-notch</strong>."</p>
			<div class="button">
				<a href="{% url copper %}">See Security Packages</a>
			</div>
		</div>
	</div>

	<div class="content-box platinum-ad">
		<img src="/media/img/banners/platinum-package.jpg" class="platinum-package-banner" />

		<div class="platinum-ad-content">
			<p><strong>The Platinum Package</strong>Exceptional home security at a very affordable cost.</p>
			<div class="button">
				<a href="{% url copper %}">Get the Platinum Package</a>
			</div>
		</div>
	</div>

</div>
<script type="text/javascript">
$(document).ready(function() {
	$('#hero-banners').cycle({timeout: 7000});	
});
</script>
