{% extends "base.html" %}

{% load sekizai_tags %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/affiliates/generic-landing-page/style.css">
{% endblock %}

{% block robots_tag %}
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW"/>
{% endblock %}

{% block quick-links %}
{% endblock %}
{% block company-logo %}
    <div id="company-logo">
        <a href="http://www.protectamerica.com/" title="Protect America Home Security">
            <img src="{{ STATIC_URL }}/img/affiliates/generic-landing-page/protect-america-logo-transparent.png"  alt="home security systems" id="protect-america-logo" width="288" height="48" />
    
        </a>
    </div>
{% endblock %}
{% block third-party-nav %}
    <img src="{{ STATIC_URL }}img/external/ge-logo-transparent.png" alt="ge-logo-transparent" width="160" height="48" style="float: right;" />
{% endblock %}
{% block content %}
    <div id="top-wrapper">
        <div id="left-wrapper">
            {% block left-wrapper %}
            {% endblock %}    
        </div>
        <div id="quote-area">
            {% include "order/quote-form.html" with form=forms.basic %}
        </div>
        {% include "order/call-box.html" %}

    </div>

    <div id="five-blocks">
        <div class="assurance-block active" id="assurance-block-one">
            {% block assurance-block-one %}
            {% endblock %}
        </div>
        <div class="assurance-block" id="assurance-block-two">
            {% block assurance-block-two %}
            {% endblock %}
        </div>
        <div class="assurance-block" id="assurance-block-three">
            {% block assurance-block-three %}
            {% endblock %}
        </div>
        <div class="assurance-block" id="assurance-block-four">
            {% block assurance-block-four %}
            {% endblock %}
        </div>

        <div class="assurance-block" id="assurance-block-five">
            {% block assurance-block-five %}
            {% endblock %}
        </div>
        <div id="selector-arrow">&nbsp;</div>

    </div>
    <div class="clear"></div>
    <div id="five-cards">
        <div class="assurance-card" id="assurance-card-one">
            {% block assurance-card-one %}
            {% endblock %}
        </div>
        <div class="assurance-card" id="assurance-card-two">
            {% block assurance-card-two %}
            {% endblock %}
        </div>
        <div class="assurance-card" id="assurance-card-three">
            {% block assurance-card-three %}
            {% endblock %}
        </div>
        <div class="assurance-card" id="assurance-card-four">
            {% block assurance-card-four %}
            {% endblock %}
        </div>
        <div class="assurance-card" id="assurance-card-five">
            {% block assurance-card-five %}
            {% endblock %}
        </div>
    </div>
{% addtoblock "js" %}
<script type="text/javascript" src="http://gsgd.co.uk/sandbox/jquery/easing/jquery.easing.1.3.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    var animatedAction = false;
    function switch_card(num) {
        
        if(animatedAction) {
            return false;
        }

        animatedAction = true;
        $('.assurance-card:visible').fadeOut('fast');
        $('.assurance-card:eq('+num+')').fadeIn();
        // move arrow here
        var left_pos = (196 * num) + 66; 
        $('#selector-arrow').animate({
            'left': left_pos+'px',
        }, 500, 'easeOutBack');
        animatedAction = false;
        return true;
    }
    $('.assurance-block').click(function (e){
        e.preventDefault();
        switch_card($(this).index());
        $('.assurance-block').removeClass('active');
        $(this).addClass('active');
    });
});
</script>
{% endaddtoblock "js" %}
{% endblock %}