#top-content, #top-content-holiday {
    background: #fff url(/static/img/banners/hero-banners/holiday-bg.png) repeat-x;
    width: 100%;
    border-bottom: 1px solid #ccc;
    height: 400px;
    padding-top: 8px;
    position: relative;
    overflow: hidden;
    .wrapper {
        height: 400px;
        position: relative;
    }

    #top-hero-banner-controls {
        position: absolute;
        left: 33%;
        bottom: 4px;
        z-index: 999;
        #hero-left-arrow, #hero-right-arrow {
            .base-sprite(-192px, -2px);
            width: 7px;
            height: 13px;
            float: left;
            margin: 0 4px;
            cursor: pointer;
            cursor: hand;
        }
        #hero-right-arrow {
            .base-sprite(-215px, -2px);
        }
        #pager-container {
            float: left;
            margin-top: 3px;
            ul {
                width: 30px;
                li {
                    width: 8px;
                    height: 8px;
                    .base-sprite(-199px, -5px);
                    display: block;
                    float: left;
                    margin: 0px 1px;
                    cursor: pointer;
                    cursor: hand;
                    &.activeSlide {
                        .base-sprite(-207px, -5px);
                    }
                }
            }
        }
    }
    #top-hero-banner {
        float: left;
        width: 685px;
        position: relative;
        #copper-flash {
            position: relative;
            right: 108px;
            top: -8px;
        }
        div {
            cursor: pointer;
            cursor: hand;
        }
        #keychain-banner {
            display: none;
            #keychain-image {
                position: absolute;
                left: 0;
            }
            #keychain-banner-content {
                float: left;
                width: 380px;
                margin: 16px;
                margin-left: 285px;
                h2 {
                    font-weight: lighter;
                    font-weight: 100;
                    font-size: 40px;
                    line-height: 40px;
                    margin-top: 24px;
                    span {
                        font-size: 19px;
                        line-height: 22px;
                        color: @blue;
                        font-weight: normal;
                        display: block;
                    }
                }
                p {
                    font-size: 26px;
                    font-weight: 100;
                    padding-top: 70px;
                    strong {
                        font-weight: bold;
                        color: @red;
                    }
                    span {
                        display: block;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 28px;
                    }
                }
                .button-submit {
                    text-align: left;
                    font-size: 16px;
                    font-weight: 16px;
                    font-weight: bold;
                    a {
                        padding: 4px 82px;
                    }
                }
                em {
                    font-size: 10px;
                    display: block;
                    padding-top: 50px;
                }
            }
        }
        #interactive-banner, #touchscreen-banner, #top-consumer-banner, #cell-takeover-banner {
            position: relative;
            height: 400px;
            width: 685px;
            display: none;
            h2 {
                font-weight: 100;
                font-size: 42px;
                line-height: 42px;
                margin-top: 8px;
                display: block;
                text-align: center;
                span {
                    font-size: 19px;
                    line-height: 22px;
                    color: @blue;
                    font-weight: normal;
                    display: block;
                    text-align: center;
                }
            }
            #interactive-image {
                position: absolute;
                bottom: 48px;
                left: -138px;
            }
            #cell-takeover-image {
                position: absolute;
                bottom: 27px;
                left: -60px;
                z-index: -1;
            }
            #consumer-image {
                position: absolute;
                bottom: 50px;
                left: 8px;
            }
            #touchscreen-image {
                position: absolute;
                bottom: 16px;
                left: -83px;
            }
            #streamers {
                position: absolute;
                z-index: -1;
                left: -51px;
                top: -8px;                
            }
            #interactive-banner-content, #touchscreen-banner-content, #top-consumer-content, #cell-takeover-content {
                position: absolute;
                right: 16px;
                p {
                    font-size: 30px;
                    font-weight: 100;
                    padding-top: 70px;
                    strong {
                        font-weight: bold;
                        color: @red;
                    }
                    span {
                        display: block;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 28px;
                    }
                }
                .button-link {
                    text-align: left;
                }
                em {
                    font-size: 10px;
                    display: block;
                    padding-top: 50px;
                }
            }
            #cell-takeover-content {
                width: 350px;
                p {
                    padding-bottom: 16px;
                    span {
                        font-weight: bold;
                        color: #555;
                        padding-bottom: 8px;
                    }
                }
            }
            #top-consumer-content {
                width: 350px;
                p {
                    font-size: 20px;
                    font-weight: normal;
                    text-align: justify;
                    padding-top: 42px;
                    line-height: 32px;
                    padding-right: 8px;
                }
                em {
                    padding-top: 24px;
                    font-size: 16px;
                    color: @blue;
                }
            }


        }

        #top-consumer-banner {
            h2 {
                margin-top: 12px;
            }
        }
        #twenty-logo {
            position: absolute;
            right: 0;
            bottom: 8px;
            z-index: 0;
            right: 8px;
        }
        #touchscreen-banner {
            h2 {
                font-size: 40px;
                span {
                    font-size: 16px;
                }
            }
            #touchscreen-banner-content {
                text-align: center;
                position: relative;
                right: 0;
                em {
                    font-weight: bold;
                    color: @red;
                    text-transform: uppercase;
                    font-size: 24px;
                }
                p {
                    position: relative;
                    padding-top: 0px;
                    font-size: 16px;
                    color: #555;
                    font-weight: normal;
                }
                span {
                    font-size: 10px;
                    padding-top: 22px;
                    display: block;
                    position: absolute;
                    left: 0;
                    bottom: -36px;
                }
                .button-submit {
                    text-align: center;
                    a {
                        font-size: 16px;
                        padding: 4px 48px;
                    }
                }
            }
        }
    }
    &.black-friday {
        background: #590035 url(/static/img/banners/hero-banners/cyber-monday-bg.png) repeat-x;
        #copper-flash {
            top: 0;
        }
    }
}
#top-content-holiday {
    background: #fff url(/static/img/banners/hero-banners/holiday-banner/green-bg.jpg) repeat-x;
    #green-bow {
        position: absolute;
        left: -410px;
        top: -8px;
    }
    #top-hero-banner {
        #copper-flash {
            position: relative;
            left: 76px;
            top: -8px;
        }

    }
}
