#top-content, #top-content-holiday {
    background: #fff url(/static/img/banners/hero-banners/holiday-bg.png) repeat-x;
    width: 100%;
    border-bottom: 1px solid #ccc;
    height: 400px;
    padding-top: 8px;
    position: relative;
    overflow: hidden;
    .wrapper {
        height: 400px;
        position: relative;
    }

    #top-hero-banner-controls {
        position: absolute;
        left: 33%;
        bottom: 4px;
        z-index: 999;
        #hero-left-arrow, #hero-right-arrow {
            .base-sprite(-192px, -2px);
            width: 7px;
            height: 13px;
            float: left;
            margin: 0 4px;
            cursor: pointer;
            cursor: hand;
        }
        #hero-right-arrow {
            .base-sprite(-215px, -2px);
        }
        #pager-container {
            float: left;
            margin-top: 3px;
            ul {
                width: 30px;
                li {
                    width: 8px;
                    height: 8px;
                    .base-sprite(-199px, -5px);
                    display: block;
                    float: left;
                    margin: 0px 1px;
                    cursor: pointer;
                    cursor: hand;
                    &.activeSlide {
                        .base-sprite(-207px, -5px);
                    }
                }
            }
        }
    }
    #top-hero-banner {
        float: left;
        width: 685px;
        position: relative;
        #copper-flash {
            position: relative;
            right: 108px;
            top: -8px;
        }
        #main-banner {
            width: 685px;
            float: left;
        }
        div {
            cursor: pointer;
            cursor: hand;
        }
    }
}
#holiday-banner {
    width: 400px;
    height: 400px;
    img {
        position: absolute;
        top: -8px;
        left: -286px;
    }
}
#top-content-holiday {
    background: #fff url(/static/img/banners/hero-banners/holiday-banner/holiday-banner-blue-bg.jpg) repeat-x;

    #top-hero-banner {
        #copper-flash {
            position: relative;
            left: 116px;
            top: -10px;
        }

    }
}
#new-years {
    background: #2524ab url(/static/img/banners/hero-banners/new-year-bg.png) repeat-x;
    height: 409px;
    overflow: hidden;

}
#top-hero-banner {
    float: left;
    width: 685px;
    height: 400px;
    position: relative;
    margin-bottom: 8px;
    #copper-flash {
        position: relative;
        right: 108px;
        top: -8px;
    }
    #main-banner {
        width: 685px;
        float: left;
    }
    div {
        cursor: pointer;
        cursor: hand;
    }
}