 /* ==========================================================================
   Media Queries
   ========================================================================== */

@media screen and  (max-width: 320px) {


}

@media screen and (max-width: 400px) { 
  @-ms-viewport {
    width: 320px;
  }

	
} 

@media screen and (max-width: 500px) { 
.phone-orange img, .phone-blue img  {	width: 100%;	height: auto;}

.logo {	width: 100%;	height: auto;}
}

@media (max-width: 767px) { 
.phone-orange img, .phone-blue img  {	width: 100%;	height: auto;}

} 

@media (min-width: 768px) and (max-width: 991px) {
 .phone-orange img, .phone-blue img  {	width: 100%;	height: auto;}
.resimg2  {	width: 100%;	height: auto;}
}

@media (min-width: 992px) and (max-width: 1199px) {
.phone-orange img, .phone-blue img  {	width: 100%;	height: auto;}
.resimg2  {	width: 100%;	height: auto;}
.form-wrap { margin-left:20px; margin-right: 20px}
}

@media (min-width: 1200px) {
.form-wrap { margin-left:20px; margin-right: 20px}

}








