<div class="testimonial {% cycle 'alt' '' %}">
    {% if test.type == 'Textimonial' %}

        {% if testimonial.rating > '0' %}
            <div class="rating">
                {% if testimonial.rating >= '1' %}<i class="fa fa-star"></i>{% endif %}
                {% if testimonial.rating >= '2' %}<i class="fa fa-star"></i>{% endif %}
                {% if testimonial.rating >= '3' %}<i class="fa fa-star"></i>{% endif %}
                {% if testimonial.rating >= '4' %}<i class="fa fa-star"></i>{% endif %}
                {% if testimonial.rating >= '5' %}<i class="fa fa-star"></i>{% endif %}
            </div>
        {% endif %}
        <p>{{ testimonial.message|safe }}</p>
        <i class="fa fa-caret-down"></i>
        <h3>{{ testimonial.first_name }} <span>of {{ testimonial.city }}, {{ testimonial.state }}
        </span></h3>
        <div class="clear"></div>
    {% else %}
        {% if test.type == 'Vidimonial' %}
            <iframe width="100%" height="340px" src="http://www.youtube.com/embed/{{ testimonial.video_url }}" frameborder="0" allowfullscreen></iframe>
        {% endif %}
    {% endif %}
</div>