<div class="testimonial_page">
<div class="testimonial-column left">
    {% for test in left_column %}
    {% include "about-us/_partials/single_testimonial_render.html" with testimonial=test.obj %}
    {% endfor %}
    <div class="clear"></div>
</div>

<div class="testimonial-column">
    {% for test in middle_column %}
    {% include "about-us/_partials/single_testimonial_render.html" with testimonial=test.obj %}
    {% endfor %}
    <div class="clear"></div>
</div>

<div class="testimonial-column right">
    {% for test in right_column %}
    {% include "about-us/_partials/single_testimonial_render.html" with testimonial=test.obj %}
    {% endfor %}
    <div class="clear"></div>

</div>
<div class="clear"></div>
</div>
