{% extends "affiliates/sem-landing-page/ppc-landing.html" %}

{% block google_experiment %}
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/affiliates/agent-two/agent.css" />
    <script type="text/javascript" src="//use.typekit.net/lgm4msi.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>


{% endblock %}
{% block company-logo %}
<div id="company-logo">
    <img src="{{ STATIC_URL }}img/base/authorized-agent-logo.png"  alt="home security systems" id="protect-america-logo" />
</div>
{% endblock %}

{% block navigation %}{% endblock %}
{% block subnav %}{% endblock %}

{% block third-party-nav %}

<div id="ge-logo" title="GE Logo">
    <p>GE Security Authorized Dealer</p>
</div>

{% endblock %}
{% block quick-links %}{% endblock %}
{% block hero-order %}{% endblock %}
{% block quote-form %}{% endblock %}

{% block overview-content %}
<div id="protect-america-information">
    <h2>Wireless Home Security: <br />100% Protection</h2>
    <p>Whether you want protection for your home or even a small business, the GE Home Security System from Protect America will fulfill your home security needs and most importantly, fit your budget. Here are just a few of the reasons to trust your home security with a GE Home Security System from Protect America:</p>
</div>

<ul>
    <li>BEST Price in Home Security - Compare &amp; Save!</li>

    <li>BEST Home Security System in the Industry</li>
    <li>State-of-the-art UL Listed Security Equipment</li>
    <li>Protect Your Home with 24/7 Security Monitoring</li>
    <li>Guaranteed Locked in Security Monitoring Rates</li>
    <li>Super Flexible Home Security Packages</li>
    <li>Lifetime Alarm System Replacement Parts Warranty</li>
    <li>Up to 20% Off Homeowners Insurance</li>
    <li>Peace of Mind When It Comes to Your Family &amp; Home</li>
</ul>
{% endblock %}
{% block table-order %}{% endblock %}

{% block main-footer %}{% endblock %}
{% block order-footer %}{% endblock %}