@charset "UTF-8";
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
:focus{outline:0;}
body{line-height:1;color:#000;background:#ffffff;}
ol,ul{list-style:none;}
table{border-collapse:separate;border-spacing:0;}
caption,th,td{text-align:left;font-weight:normal;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:"" "";}
.container_full{overflow:hidden;width:100%;}
.padding_10{padding:10px;}
.center{text-align:center;}
.absolute{position:absolute!important;}
.relative{position:relative!important;}
.text-center{text-align:center;}
.float_left{float:left;}
.clear{clear:both;height:0;line-height:0;}
.fade-slow{-webkit-transition:background-color 0.7s ease-out;-moz-transition:background-color 0.7s ease-out;transition:background-color 0.7s ease-out;}
.fade-fast{-webkit-transition:background-color 0.3s ease-out;-moz-transition:background-color 0.3s ease-out;transition:background-color 0.3s ease-out;}
img.image-break{left:-150px;position:absolute;z-index:-50;}
.image-break-ribbon{position:absolute;right:-145px;top:0px;z-index:-50;}
.absolute{position:absolute;z-index:-50;}
.flood-left{position:absolute;right:0;top:0;z-index:-50;}
.flood-right{position:absolute;left:0;top:0;z-index:-50;}
strong{font-weight:bold;}
body{background:#f0f2f3 url(/static/img/affiliates/five-linx/main-wrapper-bg.jpg) center top no-repeat;text-align:center;font-family:Helvetica Neue,Arial,sans-serif;border-top:3px solid #22609e;}
.wrapper{width:768px;margin:0 auto;}
#contest-picture{padding-top:85px;width:443px;margin:0 0 15px;float:left;position:relative;}#contest-picture h1{color:#22609e;font-size:26px;font-weight:normal;line-height:36px;margin-bottom:10px;letter-spacing:-1px;}
#contest-picture h2{color:#333333;font-size:28px;font-weight:300;line-height:28px;margin-bottom:10px;letter-spacing:-1px;}#contest-picture h2 a{color:#333333;text-decoration:none;}
#contest-picture h2 a:hover{color:#0066b3;text-decoration:underline;}
#contest-picture h3{color:#22609e;font-size:20px;border-bottom:none;padding:8px 0px 4px;}
#contest-picture p{margin-bottom:10px;font-size:14px;text-align:justify;line-height:22px;color:#353535;}
#contest-picture img{width:275px;}
#contest-form{width:315px;margin:0 0 15px;float:left;position:relative;background:#22609e;background-image:-moz-linear-gradient(top, #22609e, #123763);background-image:-webkit-gradient(linear, left top, left bottom, from(#22609e), to(#123763));margin:64px 0px 32px 10px;padding-bottom:24px;}#contest-form h1{color:#22609e;font-size:26px;font-weight:normal;line-height:36px;margin-bottom:10px;letter-spacing:-1px;}
#contest-form h2{color:#333333;font-size:28px;font-weight:300;line-height:28px;margin-bottom:10px;letter-spacing:-1px;}#contest-form h2 a{color:#333333;text-decoration:none;}
#contest-form h2 a:hover{color:#0066b3;text-decoration:underline;}
#contest-form h3{color:#22609e;font-size:20px;border-bottom:none;padding:8px 0px 4px;}
#contest-form p{margin-bottom:10px;font-size:14px;text-align:justify;line-height:22px;color:#353535;}
#contest-form h1{font-size:92px;line-height:85px;text-transform:uppercase;text-shadow:2px 2px 0px #023269;font-weight:800;color:#ffffff;padding:0;margin:0;}#contest-form h1 strong{font-size:61px;line-height:61px;}
#contest-form p{font-weight:bold;font-size:12px;color:#ffffff;line-height:14px;padding:0 8px;text-align:center;}
#contest-form form{padding:0;margin:0;}
#contest-form ul,#contest-form li{padding:0;margin:0;}
#contest-form input{margin:0 14px 8px;padding:0;display:block;height:36px;font-size:20px;line-height:28px;width:287px;}
#contest-form label{text-align:left;padding:0 14px;color:#ffffff;display:block;padding-top:8px;font-size:14px;line-height:16px;}
#contest-form button{display:block;background:#e22204;background-image:-moz-linear-gradient(top, #e22204, #b71c03);background-image:-webkit-gradient(linear, left top, left bottom, from(#e22204), to(#b71c03));margin:0 auto;color:#ffffff;padding:10px 75px;text-decoration:none;border:1px solid transparent;font-size:18px;font-weight:bold;-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.3);-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.3);box-shadow:0 1px 1px rgba(0, 0, 0, 0.3);width:287px;margin-top:16px;cursor:pointer;cursor:hand;}
.button-link{margin-top:16px;}.button-link a{background:#22609e;color:#ffffff;padding:16px 125px;text-decoration:none;background-image:-moz-linear-gradient(top, #22609e, #005f9a);background-image:-webkit-gradient(linear, left top, left bottom, from(#22609e), to(#005f9a));border:1px solid transparent;font-size:24px;background-image:-moz-linear-gradient(center top, #22609e, #00568b);background-image:-webkit-gradient(linear, left top, left bottom, from(#22609e), to(#00568b));border:1px solid #094182;border-bottom:1px solid #023269;-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.3);-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.3);box-shadow:0 1px 1px rgba(0, 0, 0, 0.3);cursor:pointer;cursor:hand;}
.button-link span{font-size:12px;}.button-link span strong{color:#e51b24;}
.button-link p.phone-alt{display:inline;padding-left:8px;font-size:12px !important;color:#4a505a !important;}.button-link p.phone-alt strong{color:#e51b24;}
#contest-thanks{width:100%;margin:0 0 15px;float:left;position:relative;text-align:center;}#contest-thanks h1{color:#22609e;font-size:26px;font-weight:normal;line-height:36px;margin-bottom:10px;letter-spacing:-1px;}
#contest-thanks h2{color:#333333;font-size:28px;font-weight:300;line-height:28px;margin-bottom:10px;letter-spacing:-1px;}#contest-thanks h2 a{color:#333333;text-decoration:none;}
#contest-thanks h2 a:hover{color:#0066b3;text-decoration:underline;}
#contest-thanks h3{color:#22609e;font-size:20px;border-bottom:none;padding:8px 0px 4px;}
#contest-thanks p{margin-bottom:10px;font-size:14px;text-align:justify;line-height:22px;color:#353535;}
#contest-thanks h1{font-size:92px;line-height:125px;text-transform:uppercase;text-shadow:2px 2px 0px #ffffff;font-weight:800;color:#22609e;padding:0;margin:0;}
#contest-thanks p{text-align:center;font-size:24px;padding-bottom:32px;border-bottom:1px solid #cccccc;margin-bottom:64px;}
