{% load sekizai_tags %}

{% if template == 'local' %}
    {% for testimonial in testimonials %}

    <div class="review">

        <p>{% if words %}{{ testimonial.testimonial|safe|truncatewords_html:words }}{% else %}{{ testimonial.testimonial|safe }}{% endif %}</p>
        <b>{{ testimonial.first_name }} of {{ testimonial.city }}, {{ testimonial.state }} <span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span></b>
    </div>
    
    {% endfor %}
{% else %}
<ul class="testimonials">
    {% for testimonial in testimonials %}

    <li class="testimonial {% cycle '' 'mid' %}">
        <h3>{{ testimonial.first_name }} <span>of {{ testimonial.city }}, {{ testimonial.state }}
        {% if testimonial.rating > '0' %}
            <div class="rating">
                {% if testimonial.rating >= '1' %}<i class="icon-star"></i>{% endif %}
                {% if testimonial.rating >= '2' %}<i class="icon-star"></i>{% endif %}
                {% if testimonial.rating >= '3' %}<i class="icon-star"></i>{% endif %}
                {% if testimonial.rating >= '4' %}<i class="icon-star"></i>{% endif %}
                {% if testimonial.rating >= '5' %}<i class="icon-star"></i>{% endif %}
            </div>
        {% endif %}
        </span></h3>
        <i class="icon-caret-up"></i>
        <p>{{ testimonial.testimonial|safe }}</p>
 
        <div class="clear"></div>
    </li>
    {% endfor %}
    <div class="clear"></div>
</ul>
<div class="clear"></div>
{% endif %}
