{% load sekizai_tags %}

{% if template == None or template == 'default' %}
</div>
<div class="clear"></div>
<div id="testimonial-wrapper">
    <ul id="search-testimonial-box">
        {% for testimonial in testimonials %}
            <li class="one-testimonial">
                <img src="/static/img/base/testimonial-guy.png" alt="Testimonial Icon" width="208" height="160" class="testimonial-guy" />

                <h2>{{ testimonial.first_name }} of {{ testimonial.city }}, {{ testimonial.state }} Writes:</h1>
                <p class="extra-info">on <strong>{{ testimonial.date_created|date:"F d, Y" }}</strong></p>
                <p>{% if words %}{{ testimonial.testimonial|safe|truncatewords_html:words }}{% else %}{{ testimonial.testimonial|safe }}{% endif %}</p>
                {% if testimonial.rating %}
                <div class="star-container">
                    <div class="star {% if testimonial.rating <= 1 %}active{% endif %}">&nbsp;</div>
                    <div class="star {% if testimonial.rating <= 2 %}active{% endif %}">&nbsp;</div>
                    <div class="star {% if testimonial.rating <= 3 %}active{% endif %}">&nbsp;</div>
                    <div class="star {% if testimonial.rating <= 4 %}active{% endif %}">&nbsp;</div>
                    <div class="star {% if testimonial.rating <= 5 %}active{% endif %}">&nbsp;</div>
                    <div class="clear"></div>
                </div>
                {% endif %}

                <div class="button-link">
                    <a href="http://www.protectamerica.com{{ testimonial.get_absolute_url }}" title="Read More Testimonials">Read {{ testimonial.first_name }}'s Testimonial ></a>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>

<div class="wrapper">
{% endif %}





{% if template == 'sidebar' %}
{% for testimonial in testimonials %}
<li>
    <p><img src="/static/img/extra/testimonial-arrow-down.png" class="testimonial-arrow" />{% if words %}{{ testimonial.testimonial|safe|truncatewords_html:words }}{% else %}{{ testimonial.testimonial|safe }}{% endif %}</p>
    <div class="customer-name">
        <h4>{{ testimonial.first_name }} <span>of {{ testimonial.city }}, {{ testimonial.state }}</span></h4>
        <strong>{{ testimonial.date_created }}</strong>
        <div class="button-link">
            <a href="http://www.protectamerica.com{{ testimonial.get_absolute_url }}" title="Read more of {{ testimonial.first_name|pluralize }} testimonial">Read More ></a>
        </div>

    </div>
    <div class="clear"></div>
</li>
{% endfor %}
{% endif %}
{% if template == 'sidebar-old' %}
{% for testimonial in testimonials %}
<a href="http://www.protectamerica.com{{ testimonial.get_absolute_url }}" title="Read more of {{ testimonial.first_name }}'s testimonial">
<li>
    <p>{% if words %}{{ testimonial.testimonial|safe|truncatewords_html:words }}{% else %}{{ testimonial.testimonial|safe }}{% endif %}</p>
    <div class="customer-name">
        <h4>&mdash; {{ testimonial.first_name }} of {{ testimonial.city }}, {{ testimonial.state }}</h4>

    </div>
    <div class="clear"></div>
</li>
</a>
{% endfor %}
{% endif %}
{% if template == 'old' %}
{% for testimonial in testimonials %}
<div>
    <a href="http://www.protectamerica.com{{ testimonial.get_absolute_url }}" title="Read more of {{ testimonial.first_name|pluralize }} testimonial" class="read-more-button">Read More ></a>

    <p>{% if words %}{{ testimonial.testimonial|safe|truncatewords_html:words }}{% else %}{{ testimonial.testimonial|safe }}{% endif %} </p>
    <span>&mdash; &nbsp;{{ testimonial.first_name }} 
        <em>{{ testimonial.city }}, {{ testimonial.state }} on {{ testimonial.date_created|date:"F d, Y" }}</em>
    </span>
</div>
{% endfor %}
{% endif %}
{% if template == 'canada-side' %}
    {% for testimonial in testimonials %}
    <div class="testimonial">
        <p>{% if words %}{{ testimonial.testimonial|safe|truncatewords_html:words }}{% else %}{{ testimonial.testimonial|safe }}{% endif %}
        <img src="/static/img/extra/grey-arrow.png" class="grey-arrow" alt="grey-arrow" width="39" height="18" />
        </p>
        <h3>{{ testimonial.first_name }} <span>{{ testimonial.date_created|date:"F d, Y" }}</span></h3>
    </div>
    
    {% endfor %}
{% endif %}
{% if template == 'state-side' %}
    {% for testimonial in testimonials %}
    <div class="testimonial">
        <p>{% if words %}{{ testimonial.testimonial|safe|truncatewords_html:words }}{% else %}{{ testimonial.testimonial|safe }}{% endif %}
        <img src="/static/img/extra/grey-arrow.png" class="grey-arrow" alt="grey-arrow" width="39" height="18" />
        </p>
        <h3>{{ testimonial.first_name }} from {{ testimonial.city }}, {{ testimonial.state }}<span>{{ testimonial.date_created|date:"F d, Y" }}</span></h3>
    </div>
    
    {% endfor %}
{% endif %}