{% extends "affiliates/centerfield-media/index.html" %}
{% block page_title %}A Secure Life Home Security Review | Best Home Security | Protect America Home Security{% endblock %}
{% block page_description %}Rated a COnsumer Digest Best Buy, You can get get a Protect America home security system at an affordable price. Protect America home security and alarm systems will protect your home. Get a free GE home security system today!{% endblock %}


{% block hero-content %}
    <h3 style="font-size: 20px;">In terms of pricing, Protect America is the company to beat with the lowest entry price point among the top contenders. 
        <img src="{{ STATIC_URL }}img/affiliates/centerfield-media/quote-arrow.png" class="quote-arrow" alt="quote-arrow" width="32" height="16" /></h3>
    <p style="padding-bottom:8px;">&mdash; A Secure Life</p>
{% endblock %}

{% block bottom-content %}
    <h2>Protect America is "the company to beat!"</h2>
    <p>A Secure Life has noticed it and you should too! No company can match Protect America's affordability and quality. That's why A Secure Life said, "Customers who choose Protect America over comparable systems from many other home security providers save money and receive products that have more options."</p>
{% endblock %}