{% extends "products/equipment/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}
{% block page_title %}Home Security Equipment | Z Wave Applicance Module | Protect America{% endblock %}
{% block page_keywords %}wireless home security system, home security, home security monitoring, x10 home automation, homepulse, latchkey feature, pan{% endblock %}
{% block page_description %}Wireless home security system equipment by GE uses state-of-the-art wireless home security system technology to provide the reliability our customers know they can trust. Get a GE wireless home security system from Protect America today.{% endblock %}

{% block content %}
<div id="hero-wrapper" class="yellow">
    <div id="hero-image">
        <div id="hero-content">
            <i class="icon-home-automation"></i>
            <h2>Home Automation</h2>
            <h1>Z-Wave Appliance Module</h1>
            <p>Control your home from your phone.</p>
            {% if phone_number %}

                <h3>Call <span{% if use_call_measurement %} class="dynamic-phone-number"{% endif %}>{{ phone_number|format_number }}</span> to add to your security package today.</h3>


            {% endif %}
            <a href="{% url shop %}" titel="Shop Packages" class="button-link">Shop Packages <i class="icon-chevron-right"></i></a>

        </div>
        <img src="{{ STATIC_URL }}img/products/appliance-module/appliance-module-hero.jpg" class="main-hero-image" alt="Z WAve Appliance Module" />

    </div>
</div>
{% include "order/call-box.html" %}
<div class="wrapper">
    <div class="video-features">
        <div class="video-content">
            <h2>The Power Control Your Home<span>From the App on Your Phone.</span></h2>
            <p>The Z-Wave appliance module enables wireless control of on / off functions for all of your table lamps, floor lamps, and small appliances. It’s small size allows you to plug it into the wall outlet without blocking the second plug.</p>
        </div>
     
    </div>
    <div class="clear"></div>
</div>
<div id="in-home-wrapper">
    <div id="in-your-home">
        <div class="home-img">
            <img src="{{ STATIC_URL }}img/products/appliance-module/appliance-module-white.jpg" alt="In The Home; Z Wave Appliance Module" />
        </div>
        <div class="home-content">
            <strong>In The Home:</strong>
            <h2>Z-Wave Appliance Module</h2>
            <p>The Z-Wave appliance module can be used with small appliances and all types of lighting including incandescent, fluorescent, LED, Halogen, and Xenon. The module contains one Z-Wave AC outlet and one standard AC outlet. </p>
            <a href="{% url shop %}" title="Shop Packages" class="button-link">Shop Packages <i class="icon-chevron-right"></i></a>
        </div>
    </div>
    <img src="{{ STATIC_URL }}img/hero-backgrounds/inside-home.jpg" alt="In The Home;Background" class="in-home-bg" />
    <div class="clear"></div>
</div>
{% addtoblock "js" %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.easing.1.3.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {

        $('.feature-icon').click(function(){
            var icon = $(this).clone();
            $('.feature-icon').removeClass('active').html('+');
            $('.feature-content').slideUp(250, 'easeOutBounce');
            if(!$(icon).hasClass('active')) {
                $(this).addClass('active').html('x').next('.feature-content').slideDown(250, 'easeOutBounce');
            }
        });
    });
    </script>
{% endaddtoblock "js" %}
{% endblock %}  

{% block page-product %}
    <h2>The GE Simon XT</h2>
    <p><span>Included in any Package.</span></p>

    <div class="button-submit">
        <a href="{% url order-package %}?package=silver" onClick="_gaq.push(['_trackEvent', 'Order Now', 'Order Now Package Footer Click', 'Simon XT Touchscreen']);">Order Now ></a>
    </div>
{% endblock %}

