{% extends "products/base.html" %}
{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/products.css">
{% endblock %}
{% block subnav_child %}
<ul>
	<li {% if 'simon-xt' in active_pages %}class="active"{% endif %}><a href="{% url simon-xt %}" title="Learn about the GE Simon XT Control Panel">GE Simon XT</a></li>
	<li {% if 'sensors' in active_pages %}class="active"{% endif %}><a href="{% url sensors %}" title="Learn about our Home Security Sensors">Security Sensors</a></li>
	<li {% if 'video' in active_pages %}class="active"{% endif %}><a href="{% url video %}" title="Learn about our Wireless Video Cameras">Video Cameras</a></li>
	<li {% if 'gps' in active_pages %}class="active"{% endif %}><a href="{% url gps %}" title="Learn about our GPS Vehicle Tracking">GPS Vehicle Tracking</a></li>
	<li {% if 'accessories' in active_pages %}class="active"{% endif %}><a href="{% url accessories %}" title="Learn about all the Security Accessories Protect America has to offer">Security Accessories</a></li>
	<li {% if 'moving-kit' in active_pages %}class="active"{% endif %}><a href="{% url moving-kit %}" title="Moving? Take your Protect America Security System with you using this Alarm Moving Kit">Alarm Moving Kit</a></li>

</ul>
{% endblock %}