{% extends "products/equipment/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}

{% block content %}
<div id="door-window-sensor-main">
    <div id="main-image">
        <img src="{{ STATIC_URL }}img/products/equipment/door-window-sensor/door-window-sensor.jpg" alt="door-window-sensor" width="325" height="270" />

    </div>
    <div id="main-content">
        <h1>Door / Window Home Security Sensors</h1>
        <p>Door/window sensors are the most common piece of home security equipment and the front line defense for your home. A surprisingly simple device, door/window sensors create a magnetic field that, when broken, sends a signal to your central GE Simon XT control panel and sounds the alarm. Protect America only uses wireless sensors that can be used on either doors or windows, allowing for greater system customization. For most homes, we recommend one sensor for every accessible door and window.</p>
        <div class="button-submit"><a href="{% url order-package %}?package=copper" onClick="_gaq.push(['_trackEvent', 'Order Now', 'Order Now Button Click', 'Copper-B']);">Order Home Security System ></a></div>
    </div>
</div>
{% include "order/quote-form.html" with form=forms.basic %}
<div class="clear"></div>
<div id="door-window-video">
    <h2>How the Door / Window Security Sensors Work:</h2>
    <div id="main-video">
        <iframe width="520" height="300" src="http://www.youtube.com/embed/7i0luaNTZHo" frameborder="0" allowfullscreen></iframe>
    </div>
    <div id="other-videos">
        <h3>Other Videos:</h3>
        <ul>
            <li>
                <img src="{{ STATIC_URL }}img/products/equipment/door-window-sensor/how-to-install-door-window-sensor-video.jpg" alt="Video: How to Install a Door / Window Security Sensor" width="120" height="90" />
                <p>Installation of the GE Wireless Door and Window Sensors</p>
                <div class="button-link"><a href="">Watch Video ></a></div>
                <div class="clear"></div>
            </li>
            <li><img src="{{ STATIC_URL }}img/products/equipment/door-window-sensor/maintenance-door-window-sensor-video.jpg" alt="Maintence on your Door / Window Sensors" width="120" height="90" /><p>Maintenance of the GE Wireless Door and Window Sensors</p></li>
            <div class="button-link"><a href="">Watch Video ></a></div>
            <div class="clear"></div>
        </ul>
    </div>
</div>
<div class="clear"></div>
{% include "order/call-box.html" %}
<div id="about-door-sensor">
    <div id="front-door-content">
        <h2>The Front Door: A Burglar's Main Target</h2>
        <p>Your home starts at the front door. So should your home security.</p>
        <p>In nearly 24 percent of burglaries, forcible entry was used on the front door to gain access to the home. In total, more than a third of all burglaries involve the front door.  
It's clearly important to secure your front door with quality locks and a home security system. Houses with alarm systems are 3 times less likely to fall victim to burglary. It's just common sense protection. Obviously, criminals avoid the unwanted attention of loud alarms!</p>
        <p>Defend your home, and front door, with a wireless GE Simon XT alarm system from Protect America. You and your family deserve to be safe.</p>
        <div class="button-submit"><a href="{% url order-package %}?package=copper" onClick="_gaq.push(['_trackEvent', 'Order Now', 'Order Now Button Click', 'Copper-B']);">Order Home Security ></a>{% businesstime %}<p class="phone-alt">or call <strong><span{% if use_call_measurement %} class="dynamic-phone-number"{% endif %}>{{ phone_number|format_number }}</span></strong> to receive a free security analysis</p>{% endbusinesstime %}</div>
    </div>
    <div id="big-front-door">
        <img src="{{ STATIC_URL }}/img/products/equipment/door-window-sensor/front-door.jpg" alt="front-door" width="264" height="592" />
    </div>

</div>
<div id="in-your-home">
    <h2>How Many Door/Window Sensors for Your Home?</h2>
    <p>Our home security packages are designed to provide complete protection for almost any sized home. As a general rule, there should be one sensor per accessible door and window. Check out the chart below to figure out which home security package works best for your home:</p>
    <table>
        <thead>
            <tr>
                <th class="alpha">&nbsp;</th>
                <th>Door / Window Sensors</th>
                <th>Motion Detector</th>
                <th>Home Size</th>
                <th class="omega">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span>Copper Package</span>Starting at: {{ pricetable.COPPER.standard_monitoring }}/monthly</td>
                <td class="call-out">3</td>
                <td>1</td>
                <td>~900 sq. ft.</td>
                <td class="button"><a href="" class="button-link">Learn More ></a></td>
            </tr>
            <tr>
                <td><span>Bronze Package</span>Starting at: {{ pricetable.BRONZE.standard_monitoring }}/monthly</td>
                <td class="call-out">7</td>
                <td>1</td>
                <td>~1200 sq. ft.</td>
                <td class="button"><a href="" class="button-link">Learn More ></a></td>
            </tr>
            <tr>
                <td><span>Silver Package</span>Starting at: {{ pricetable.SILVER.standard_monitoring }}/monthly</td>
                <td class="call-out">10</td>
                <td>1</td>
                <td>~2300 sq. ft.</td>
                <td class="button"><a href="" class="button-link">Learn More ></a></td>
            </tr>
            <tr>
                <td><span>Gold Package</span>Starting at: {{ pricetable.GOLD.standard_monitoring }}/monthly</td>
                <td class="call-out">12</td>
                <td>1</td>
                <td>~3500 sq. ft.</td>
                <td class="button"><a href="" class="button-link">Learn More ></a></td>
            </tr>
            <tr>
                <td><span>Platinum Package</span>Starting at: {{ pricetable.PLATINUM.standard_monitoring }}/monthly</td>
                <td class="call-out">15</td>
                <td>1</td>
                <td>~4500 sq. ft.</td>
                <td class="button omega"><a href="" class="button-link">Learn More ></a></td>
            </tr>
        </tbody>
    </table>
</div>
    
<div id="customer-testimonials">
    <h2>Real Customers Talking about Protect America:</h2>
    <ul id="main-testimonials">
    {% testimonial_search "affordable" "limit=4&words=50" %}
    </ul>
</div>
{% addtoblock "js" %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cycle.all.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('#main-testimonials').cycle({
            fx: 'fade',
            timeout: 9000
        });
    });
    </script>
{% endaddtoblock "js" %}
{% endblock %}  

{% block page-product %}
    <h2>Door / Window Security Sensors</h2>
    <p><span>Add to your Package: <strong>$39.50 each</strong></span></p>
    <div class="button-submit">
        <a href="{% url order-package %}?package=silver" onClick="_gaq.push(['_trackEvent', 'Order Now', 'Order Now Package Footer Click', 'Copper-B']);">Order Now ></a>
    </div>
{% endblock %}

