{% extends "products/equipment/base.html" %}
{% block page_title %}Flood Detector Sensor | Wireless Alarm Equipment | Protect America{% endblock %}
{% block content %}
</div>
<div style="background: #ecfbfe url(/static/img/water.jpg) repeat-x;">
	<div class="wrapper">
		<img src="/static/img/products/flood-sensor/rubber-ducky.jpg">
		<div>
			<div class="content-box half">
			</div>
			<div id="know-the-problem">
				<h2>Know about a Problem, Before it Becomes a Catastrophe.</h2>
				<p>When a leak occurs, your flood sensor will warn you as soon as it senses the water.  Meaning you don't have to arrive home to find yourself knee-deep in water. And you can fix the problem quickly without costly repairs. So instead of having an aquarium, you can have a nice, dry basement. Add a flood sensor to any of our home security packages today.</p>
				<div class="button-link">
					<a href="{% url order-package %}">Order Now ></a>
				</div>
			</div>
		</div>
		<div class="clear"></div>
		{{ block.super }}

	</div>
</div>
{% endblock %}  
{% block flooder %}



{% endblock %}
