{% extends "products/equipment/base.html" %}
{% block content %}
<div>
	<div class="content-box small">
		<img src="/media/img/products/equipment/simon-xt-and-simon-3.jpg" class="flood-left">
	</div>
	<div class="content-box big text-compensate-300 text-bump-50">
		<h1>Flood Sensor</h1>
		<p>Protect America allows you to gain a true picture of what is happening in your home or business with 24 / 7 on-demand video. Get enhanced security with our pan and tilt video cameras, archived clips, event notifications, and automatic recording when movement is detected. With Protect America's video services, peace of mind is just an instant click away.  </p>
		<div class="button right">
			<a href="">Home Security Alarm Panels</a>
		</div>
	</div>
	<div class="clear"></div>
</div>
{% endblock %}  
{% block flooder %}
<div style="background: #ecfbfe url(/media/img/water.jpg) repeat-x;">
	<div class="wrapper">
		<img src="/media/img/products/flood-sensor/rubber-ducky.jpg">
		<div>
			<div class="content-box half">
			</div>
			<div class="content-box half text-bump-25">
				<h2>Know about a Problem, Before it Becomes a Catastrophe.</h2>
				<p>When a leak occurs, your flood sensor will warn you as soon as it senses the water.  Meaning you don't have to arrive home to find yourself knee-deep in water. And you can fix the problem quickly without costly repairs. So instead of having an aquarium, you can have a nice, dry basement.</p>
			</div>
		</div>
		
		<div class="clear"></div>
	</div>
</div>


{% endblock %}
