{% extends "products/equipment/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}
{% block page_title %}Home Automation | X-10 Home Automation | Protect America{% endblock %}
{% block page_keywords %}home automation devices, home security, x10 lamp module, x10 appliance module, x10 power horn module,{% endblock %}
{% block page_description %}Wireless home security system equipment by GE uses state-of-the-art wireless home security system technology to provide the reliability our customers know they can trust. Get a GE wireless home security system from Protect America today.{% endblock %}

{% block content %}
<div id="home-automation-overview">
    <img src="{{ STATIC_URL }}img/products/equipment/home-automation/x10-lamp-module.jpg" alt="X-10 Home Automation Modules" width="325" height="270" />
    <div id="home-automation-content">
        <h1>Home Automation Accessories</h1>
        <p>Home automation devices help complete everyday household tasks, like turning lights off and on and controlling various appliances. Customers interested in home automation can seamlessly add necessary devices to their wireless home security systems. Home management equipment from Protect America uses X10, the most widely recognized standard for home automation. Most home automation service requires a monthly fee but Protect America only charges for equipment.</p>

    </div>
    <div class="clear"></div>
</div>
{% include "order/quote-form.html" with form=forms.basic %}
<div class="clear"></div>
<div id="x10-lamp">
    <img src="{{ STATIC_URL }}img/products/equipment/home-automation/x10-lamp-module.jpg" alt="X-10 Lamp Module" width="325" height="270" />
    <h2>X-10 Lamp Module</h2>
    <p>This module is built to control any table lamp, or incandescent lamp from your Simon 3 or Simon XT control panel. Simply plug the Lamp Module into any wall socket, then plug your lamp into the module, and you have wireless versatility. The Lamp Module is an ideal solution for hard-to-reach light switches and rooms with multiple floor lamps or displays.</p>
</div>
<div id="x10-appliance">
    <img src="{{ STATIC_URL }}img/products/equipment/home-automation/x10-appliance-module.jpg" alt="X-10 Appliance Module" width="325" height="270" />
    <h2>X-10 Appliance Module</h2>
    <p>With this extension to your home security system you can automate or remotely control appliances from your Simon 3 or Simon XT control panel. Controllable appliances include: fans, air conditioners, dehumidifiers, coffee pots, stereos, TV's and more.</p>
</div>
<div id="x10-power-horn">
    <img src="{{ STATIC_URL }}img/products/equipment/home-automation/x10-powerhorn-module.jpg" alt="X-10 Power Horn Module" width="325" height="270" />
    <h2>X-10 Power Horn Module</h2>
    <p>The power horn module can be added anywhere around your home and communicates with your control panel to produce a loud siren when the alarm is triggered. No intruder will hang around when one of these sirens sound.</p>
</div>
<div class="clear"></div>
{% endblock %}  

