{% extends "products/equipment/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}
{% block page_title %}Wireless Home Security System | Protect America | Equipment{% endblock %}
{% block page_keywords %}wireless home security system, GE security, wireless GE security equipment,security, home security, security system, home sec{% endblock %}
{% block page_description %}Protect America's GE wireless home security systems are easy to install and very reliable. These are some of the most advanced available and offer great protection.{% endblock %}

{% block content %}
<div id="simon-xt-control-panel-overview">
    <div id="simon-xt-image">
        <a href="{% url simon-xt %}" title="Click to Learn About the GE Simon XT Control Panel">
            <img src="/static/img/products/equipment/simon-xt-and-simon-3.jpg" class="flood-left">
        </a>
    </div>
    <div id="simon-xt-content">
        <h1>Home Security Equipment</h1>
        <h2>GE Simon XT Control Panel</h2>
        <p>The GE Simon XT control panel is a full-featured home security system that delivers dependable protection for you and your family. With control for over 40 zones, an LCD screen, digital voice technology, one touch emergency buttons, and latch key features, the Simon XT is the best control panel for home security needs.</p>
        <div class="button-link">
            <a href="{% url simon-xt %}" title="Click to Learn About the GE Simon XT Control Panel">GE Simon XT Control Panel ></a>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div id="three-main-products">
    <h2>Popular Security Equipment</h2>
    <div id="ge-simon-xt-touchscreen">
        <a href="{% url touchscreen %}" title="Learn About the GE Simon XT Touch Screen">
            <img src="{{ STATIC_URL }}img/products/equipment/ge-touchscreen/ge-simon-xt-touchscreen-med.jpg" alt="GE Simon XT Touch Screen" width="312" height="304" />
        </a>
        <h3>GE Simon XT Touch Screen</h3>
        <p>A touch screen acts as an optional point of access for your home security system. The GE Simon XT Touch Screen adds an unprecedented level of ease and control to the GE Simon XT home security platform. </p>
        <div class="button-link">
            <a href="{% url touchscreen %}" title="Learn About the GE Simon XT Touch Screen">GE Simon XT Touch Screen ></a>
        </div>
    </div>
    <div id="door-window-sensors">
        <a href="{% url door-window-sensor %}" title="Learn About our Door / Window Security Sensors">
            <img src="{{ STATIC_URL }}img/products/equipment/door-window-sensor/door-window-sensor-med.jpg" alt="Door and Window Sensors" width="312" height="304" />
        </a>
        <h3>Door / Window Sensors</h3>
        <p>Wireless door and window sensors are the most common piece of home security equipment. They are interchangeable and can be used as a door sensor or as window alarm sensors. When an intruder opens any door or window, the sensor detects the change and triggers the alarm.</p>
        <div class="button-link">
            <a href="{% url door-window-sensor %}" title="Learn About our Door / Window Security Sensors">Door / Window Sensors ></a>
        </div>
    </div>
    <div id="smoke-detectors">
        <a href="{% url sensors %}#smoke-detector" title="Learn About our Smoke Detectors">
            <img src="{{ STATIC_URL }}img/products/equipment/smoke-detector/smoke-detector-med.jpg" alt="smoke-detector-med" width="312" height="304" />
        </a>
        <h3>Smoke Detectors</h3>
        <p>Monitored smoke detectors can identity smoke or rapidly rising temperatures 24 hours a day whether you're home or not. Even if your security system is disarmed, our monitoring facility notifies your local fire department if there is a fire.</p>
        <div class="button-link">
            <a href="{% url sensors %}#smoke-detector" title="Learn About our Smoke Detectors">Smoke Detectors ></a>
        </div>
    </div>
</div>

<div id="four-product-categories">
    <h2>Home Security Equipment Categories</h2>
    <div id="security-sensors">
        <a href="{% url sensors %}" title="Click to learn about our Security Sensors">
            <img src="{{ STATIC_URL }}img/products/equipment/door-window-sensor/door-window-sensor-240x240.jpg" alt="Security Sensors and Devices" width="240" height="240" />
        </a>
        <h3>Home Security Sensors</h3>
        <p>Protect America employees a wide range of security sensors to better improve the security of your home. Protect America’s security sensors are simple and non-intrusive wireless devices that connect to a central control panel.</p>
        <div class="button-link">
            <a href="{% url sensors %}" title="Click to learn about our Security Sensors">Security Sensors ></a>
        </div>
    </div>
    <div id="home-security-accessories">
        <a href="{% url accessories %}" title="Learn About our Security Accessories">
            <img src="{{ STATIC_URL }}img/products/accessories/accessories-med.jpg" alt="Home Security Accessories" width="240" height="240" />
        </a>
        <h3>Home Security Accessories</h3>
        <p>Home security accessories from Protect America aren’t required to make your home secure but they do make things more convenient.</p>
        <div class="button-link">
            <a href="{% url accessories %}" title="Learn About our Security Accessories">Home Security Accessories ></a>
        </div>
    </div>
    <div id="home-security-cameras">
        <a href="{% url video %}" title="Learn About our Home Security Cameras">
            <img src="{{ STATIC_URL }}img/products/video/interactive-security-camera-med.jpg" alt="Interactive Home Security Cameras" width="240" height="240" />
        </a>
        <h3>Home Security Cameras</h3>

        <p>Interactive security cameras include event notifications, remote pan and tilt function, and motion activation. Users can even watch their live feed from almost any Internet-enabled smartphone or computer.</p>
        <div class="button-link">
            <a href="{% url video %}" title="Learn About our Home Security Cameras">Home Security Cameras ></a>
        </div>
    </div>

    <div id="gps-device">
        <a href="{% url gps %}" title="Learn about our GPS Car Tracking">
            <img src="{{ STATIC_URL }}img/products/gps/gps-car-tracker-med.jpg" alt="GPS Car Tracking" width="240" height="240" />
        </a>
        <h3>GPS Tracking Device</h3>
        <p>Always know where your car is located with GPS vehicle tracking from Protect America. Through any smartphone or computer with Internet access, customers can check on the whereabouts of their vehicle.</p>
        <div class="button-link">
            <a href="{% url video %}" title="Learn About our GPS Car Tracking">GPS Car Tracking ></a>
        </div>
    </div>
</div>

{% endblock %}  

