{% extends "products/equipment/base.html" %}
{% block content %}
<div id="simon-xt-control-panel-overview">
	<div id="simon-xt-image">
		<img src="/static/img/products/equipment/simon-xt-and-simon-3.jpg" class="flood-left">
	</div>
	<div id="simon-xt-content">
		<h1>GE Simon XT Control Panel</h1>
		<p>The GE Simon XT control panel is a full-featured home security system that delivers dependable protection for you and your family. With control for over 40 zones, an LCD screen, digital voice technology, one touch emergency buttons, and latch key features, the Simon XT is the best control panel for home security needs.</p>
		<div class="button-link">
			<a href="http://www.protectamerica.com/pa/ge_simon_xt/">GE Simon XT Control Panel ></a>
		</div>
	</div>
	<div class="clear"></div>
</div>


{% endblock %}  

