{% extends "products/equipment/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}
{% block page_title %}Home Security Systems | Security Equipment and Automation | Protect America{% endblock %}
{% block page_keywords %}wireless home security system, GE security, wireless GE security equipment,security, home security, security system, home sec{% endblock %}
{% block page_description %}Safeguard your family with our reliable, easily installed home security systems. Our security equipment is tailored to protect your home today.{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/equipment-new.css">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="hero-wrapper">
    <div id="hero-image" class="cmonday">
        {% include "order/quote-form-white.html" with form=forms.basic %}
        <div id="heading">
            <h1>Home Security Systems <span>Built for you.</h1>
            <p>Peace of mind for your entire family.</p>
            <a href="/shop-home-security-systems" title="Shop home security packages">Starting at $19.99</a>
            <p>Explore our equipment solutions below, or call <strong>1-800-951-5190</strong></p>
        </div>
    </div>
</div>
{% include "order/call-box.html" %}
<div class="wrapper">
    <div id="home">
        <h2>Security Equipment Tailored to Your Home</h2>
        <h3>From smartphone integration and medical pendants <span>to GPS tracking and garage sensors, we’ve got you covered.</span></h3>
		<div id="home-image">
			<img src="{{ STATIC_URL }}img/products/equipment/index/house.jpg" alt="Security equipment in your home" />
	        <div class="home-component" id="component-1">
	            <h4>Monitored Smoke <span>Detectors</span></h4>
	            <p>Monitored smoke detectors can identify smoke or rapid rising temperatures 24 hours a day.</p>
	            <a href="#" title="">Learn more</a>
	        </div>
	        <div class="home-component" id="component-2">
	            <h4>Pet Friendly <span>Motion Detector</span></h4>
	            <p>Add a second layer of defense by placing this detector in heavily-used rooms or hallways. It detects movement and heat in a 90° arc.</p>
	            <a href="#" title="">Learn more</a>
	        </div>
	        <div class="home-component" id="component-3">
	            <h4>Video Security <span>Cameras</span></h4>
	            <p>Easily check on maintenance workers, pets or babysitters by accessing your home's secure LIVE video feed while at work or even on vacation.</p>
	            <a href="#" title="">Learn more</a>
	        </div>
	        <div class="home-component" id="component-4">
	            <h4>GPS Vehicle Tracker</h4>
	            <p>Keep an eye on vehicles with a small sensor that monitors location and rate of speed. Perfect for new teenage drivers.</p>
	            <a href="#" title="">Learn more</a>
	        </div>
	        <div class="home-component" id="component-5">
	            <h4>Z-Wave Door Lock</h4>
	            <p>Unlock doors with your phone, program multiple user codes and check the status of your lock from anywhere, anytime.</p>
	            <a href="#" title="">Learn more</a>
	        </div>
	        <div class="home-component" id="component-6">
	            <h4>Door/Window <span>Sensors</span></h4>
	            <p>Door/window sensors create a magnetic field that, when broken, sends a signal to your central Simon XT control panel and sounds the alarm.</p>
	            <a href="#" title="">Learn more</a>
	        </div>
		</div>
    </div>
	<div class="clear"></div>
</div>
<div id="wrapper-features">
	<div class="wrapper">
		<div id="security-features">
			<h2>A Home Security System that Just Does More</h2>
			<h3>Wrap your home in an interactive web of armor that goes beyond just burglary.</h3>
			
			<div class="features" id="feature-1">
				<img src="{{ STATIC_URL }}img/products/equipment/index/alarm-systems.jpg" alt="Alarm systems" />
				<h4>Alarm systems</h4>
				<p>Plans and service are built around your lifestyle. Our security fits any home.</p>
				<ul>
					<li>Simon XT Control Panel</li>
					<li>Door / Window Sensors</li>
					<li>Motion Detectors</li>
					<li>Glass Break Detector</li>
				</ul>
				<a href="#" title="">Learn more about home security</a>
			</div>
			<div class="features" id="feature-2">
				<img src="{{ STATIC_URL }}img/products/equipment/index/home-automation.jpg" alt="Home automation" />
				<h4>Home automation</h4>
				<p>Control lights and appliances to manage your energy usage. Lock and unlock doors, even be notified of water leaks.</p>
				<ul>
					<li>Free smartphone app</li>
					<li>Z-Wave Door Lock</li>
					<li>Z-Wave Light Module</li>
					<li>Keychain Remote</li>
				</ul>
				<a href="#" title="">Learn more about home automation</a>
			</div>
			<div class="features" id="feature-3">
				<img src="{{ STATIC_URL }}img/products/equipment/index/life-safety.jpg" alt="Life safety" />
				<h4>Life safety</h4>
				<p>Life safety sensors and accessories can extend your security and defend against unforeseen disasters.</p>
				<ul>
					<li><a href="/equipment/life-safety/smoke-detector">Monitored Smoke Detector</a></li>
					<li><a href="/equipment/life-safety/medical-alert">Medical Alert Pendant</a></li>
					<li><a href="/equipment/life-safety/co-detector">Carbon Monoxide Detector</a></li>
				</ul>
				<a href="#" title="">Learn more about life safety</a>
			</div>
			<div class="features" id="feature-4">
				<img src="{{ STATIC_URL }}img/products/equipment/index/gps-tracking.jpg" alt="GPS tracking" />
				<h4>Automotive</h4>
				<p>Receive customizable alerts via email or text if your teenager or loved one is speeding or going places they shouldn’t.</p>
				<ul>
					<li><a href="/equipment/automotive/gps-car-tracker">GPS Vehicle Tracker</a></li>
					<li><a href="/equipment/home-security/garage-security">Garage Door Sensor</a></li>
					<br />
				</ul>
				<a href="#" title="">Learn more about GPS tracking</a>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>
<div id="wrapper-smart-phone">
	<div class="wrapper">
		<div id="smart-phone-features">
			<h2>Smart Phone <span>Integration</span></h2>
			<p>Control your home while you’re away with our free SMART Connect app. Arm your system, conserve energy, and control lights at any time through your computer or smartphone.</p>
			<a href="" title="" class="button">Shop Now <i class="icon-chevron-right"></i></a>
		</div>
	</div>
</div>
<div id="wrapper-testimonial">
	<div class="wrapper">
		<div id="testimonial">
			<img src="{{ STATIC_URL }}img/base/testimonial-ernest.jpg" class="home" alt="Protect America testimonial">
			<i class="fa fa-quote-left"></i>
			<blockquote>
				My husband and I purchased the Protect America Home Security System. We had the pleasure of working with William McClure for the installation. He was very polite and professional and helped us with all of our questions. We were very impressed with William and wanted to give him positive feedback. We have been long time customers of ADT. We researched other companies and Protect America beat out all of the other competition for price and service. Thank you.
				<p>MELISSA OF GARDENDALE, AL</p>
			</blockquote>
		</div>
	</div>
	<div class="clear"></div>
</div>
<div id="wrapper-solutions">
	<div class="wrapper">
		<div id="solutions">
			<h2>Built For Your Lifestyle</h2>
			<h3>Our security solutions are as unique as you are.</h3>
			<div class="solution-types" id="solution-1">
				<img src="{{ STATIC_URL }}img/products/equipment/index/man-with-phone.jpg" alt="" />
				<h4>Free Smartphone App</h4>
				<p>Easily control your home security using your smart phone and our free smartphone application.</p>
			</div>
			<div class="solution-types" id="solution-2">
				<img src="{{ STATIC_URL }}img/products/equipment/index/active-elderly-couple.jpg" alt="" />
				<h4>Medical pendant</h4>
				<p>More than protection for your home.<br />
				It can save your life.</p>
			</div>
			<div class="solution-types" id="solution-3">
				<img src="{{ STATIC_URL }}img/products/equipment/index/phone-on-bench.jpg" alt="" />
				<h4>Home Automation</h4>
				<p>Control digital door locks, lights, appliances and more <span>– all from your smartphone.</span></p>
			</div>
			<div id="solutions-row-2">
				<div class="solution-types" id="solution-4">
					<img src="{{ STATIC_URL }}img/products/equipment/index/woman-with-children.jpg" alt="" />
					<h4>Real Convenience</h4>
					<p>Control your system with a Keychain Remote, put a Mini Pin Pad in the master bedroom, and even hide a panic button as a backup plan.</p>
				</div>
				<div class="solution-types" id="solution-5">
					<img src="{{ STATIC_URL }}img/products/equipment/index/stormy-weather-houses.jpg" alt="" />
					<h4>Home Hazard Protection</h4>
					<p>Safeguard your home and family from fire, carbon monoxide, flood, freeze and more with wireless technology.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>
{% addtoblock "js" %}



    <script type="text/javascript">
        $(document).ready(function() {
            $("#home-security-category").click(function() {
                window.location.href = "{% url home-security-equipment %}";
            });
            $("#life-safety-category").click(function() {
                window.location.href = "{% url life-safety-equipment %}";
            });
            $("#home-automation-category").click(function() {
                window.location.href = "{% url home-automation-equipment %}";
            });
            $("#smart-connect-category").click(function() {
                window.location.href = "{% url interactive-control %}";
            });
            $("#automotive-category").click(function() {
                window.location.href = "{% url gps %}";
            });

        });
    </script>
{% endaddtoblock "js" %}
{% endblock %}  

