{% extends "products/equipment/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}
{% block page_title %}Home Security Equipment | Protect America{% endblock %}
{% block page_keywords %}wireless home security system, GE security, wireless GE security equipment,security, home security, security system, home sec{% endblock %}
{% block page_description %}Protect America's GE wireless home security systems are easy to install and very reliable. These are some of the most advanced available and offer great protection.{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/equipment-new.css">
{% endblock %}

{% block content %}
<div id="hero-wrapper">
    <div id="hero-image">
        {% include "order/quote-form-spring.html" with form=forms.basic %}
        <span>
            <h1>Home security equipment</h1>
            <p>Peace of mind for your entire family.</p>
            <p>Explore our equipment solution below, or <a href="#">shop by package here.</a></p>
        </span>
    </div>
</div>
{% include "order/call-box.html" %}
<div class="wrapper">
    <div id="home">
        <h2>Security Equipment Tailored to The Home</h2>
        <h3>From smart phone integration and medical pendants, <span>to GPS tracking and garage sensors, we've got you covered.</span></h3>
		<div id="home-image">
	        <div class="home-component" id="component-1">
	            <h4>Monitored Smoke <span>Detectors</span></h4>
	            <p>Monitored smoke detectors can identify smoke or rapid rising temperatures 24 hours a day.</p>
	            <a href="#" title="">Learn more</a>
	        </div>
	        <div class="home-component" id="component-2">
	            <h4>Pet Friendly <span>Motion Detector</span></h4>
	            <p>Easily check on maintenance workers, pets or babysitters by accessing your home's secure LIVE video feed while at work or even on vacation.</p>
	            <a href="#" title="">Learn more</a>
	        </div>
	        <div class="home-component" id="component-3">
	            <h4>Video Security <span>Cameras</span></h4>
	            <p>Easily check on maintenance workers, pets or babysitters by accessing your home's secure LIVE video feed while at work or even on vacation.</p>
	            <a href="#" title="">Learn more</a>
	        </div>
	        <div class="home-component" id="component-4">
	            <h4>GPS Vehicle Tracker</h4>
	            <p>Door/window sensors create a magnetic field that, when broken, sends a signal to your central Simon XT control panel and sounds the alarm.</p>
	            <a href="#" title="">Learn more</a>
	        </div>
	        <div class="home-component" id="component-5">
	            <h4>Z-Wave Door Lock</h4>
	            <p>Unlock doors with your phone, program multiple user codes and check the status of your lock from anywhere, anytime.</p>
	            <a href="#" title="">Learn more</a>
	        </div>
	        <div class="home-component" id="component-6">
	            <h4>Door/Window <span>Sensors</span></h4>
	            <p>Door/window sensors create a magnetic field that, when broken, sends a signal to your central Simon XT control panel and sounds the alarm.</p>
	            <a href="#" title="">Learn more</a>
	        </div>
		</div>
    </div>
	<div class="clear"></div>
</div>
<div id="wrapper-features">
	<div class="wrapper">
		<div id="security-features">
			<h2>A security system that just does more</h2>
			<h3>From smart phone integration and medical pendants, <span>to GPS tracking and garage sensors, you’ve got you covered.</span></h3>
			
			<div class="features" id="feature-1">
				<h4>Alarm systems</h4>
				<p>Plans and service built around your lifestyle. We provide security equipment that fit any home.</p>
				<ul>
					<li>Simon XT Control Panel</li>
					<li>Door / Window Sensors</li>
					<li>Motion Detectors</li>
					<li>Glass Break Detector</li>
				</ul>
				<a href="#" title="">Learn more about home security</a>
			</div>
			<div class="features" id="feature-2">
				<h4>Home automation</h4>
				<p>Control lights and appliances to manage your energy usage. Lock and unlock doors, even be notified of water leaks.</p>
				<ul>
					<li>SMART Connect iPhone App</li>
					<li>Z-Wave Door Lock</li>
					<li>Z-Wave Light Module</li>
					<li>Keychain Remote</li>
				</ul>
				<a href="#" title="">Learn more about home automation</a>
			</div>
			<div class="features" id="feature-3">
				<h4>Life safety</h4>
				<p>Life safety sensors and accessories that can extend your security and protect from unforeseen disasters.</p>
				<ul>
					<li>Monitored Smoke Detector</li>
					<li>Medical Alert Pendant</li>
					<li>Carbon Monoxide Detector</li>
					<li>Diaster Sensor</li>
				</ul>
				<a href="#" title="">Learn more about life safety</a>
			</div>
			<div class="features" id="feature-4">
				<h4>Automotive</h4>
				<p>Customizable alerts via email or text if your teenager or loved one is speeding or going places they shouldn’t.</p>
				<ul>
					<li>GPS Vehicle Tracker</li>
					<li>Garage Door Sensor</li>
					<li>Driveway Sensor</li>
					<br />
				</ul>
				<a href="#" title="">Learn more about GPS tracking</a>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>
<div 
{% addtoblock "js" %}



    <script type="text/javascript">
        $(document).ready(function() {
            $("#home-security-category").click(function() {
                window.location.href = "{% url home-security-equipment %}";
            });
            $("#life-safety-category").click(function() {
                window.location.href = "{% url life-safety-equipment %}";
            });
            $("#home-automation-category").click(function() {
                window.location.href = "{% url home-automation-equipment %}";
            });
            $("#smart-connect-category").click(function() {
                window.location.href = "{% url interactive-control %}";
            });
            $("#automotive-category").click(function() {
                window.location.href = "{% url gps %}";
            });

        });
    </script>
{% endaddtoblock "js" %}
{% endblock %}  

