{% extends "products/equipment/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}
{% block page_title %}Home Security Accessories | Buy Wireless Security Equipment | Protect America{% endblock %}
{% block page_keywords %}home security accessories, home security system, talking wireless keypad, keychain remote control, wireless secret keypad, so{% endblock %}
{% block page_description %}Protect America's security accessories secures and protects your home and family by giving you more options and convienence when securing your home.{% endblock %}

{% block content %}
<div id="hero-wrapper" class="blue">
    <div id="hero-image">
        <div id="hero-content">
            <i class="icon-home-security"></i>
            <h2>Home Security</h2>
            <h1>Security Accessories</h1>
            {% if phone_number %}

                <h3>Call <span{% if use_call_measurement %} class="dynamic-phone-number"{% endif %}>{{ phone_number|format_number }}</span> to add to your security package today.</h3>


            {% endif %}
            <p>All the extra little things that make your security system special.</p>
            <a href="{% url shop %}" title="Shop Packages" class="button-link">Shop Packages <i class="icon-chevron-right"></i></a>

        </div>
        <img src="{{ STATIC_URL }}img/products/equipment/yard-sign/yard-sign-hero.jpg" alt="Protect America Security Yard Sign" class="main-hero-image" />

    </div>
</div>
{% include "order/call-box.html" with no_promo=False %}
<div class="wrapper">

  
    <div class="accessory" id="siren">
        <img src="{{ STATIC_URL }}img/products/equipment/keychain-remote/keychain-white.jpg" alt="Keychain Remote" width="325"  />
        <h2>Keychain Remote Control</h2>
        <p>Arm and disarm your home alarm system with the push of a button. With the keychain remote control, you can enjoy the convenience of turning off your system as you pull into the driveway. You can also send a panic signal from anywhere inside your home allowing you to notify authorities.</p>
    </div>
      <div class="accessory" id="keychain-remote">
        <img src="{{ STATIC_URL }}img/products/equipment/siren/siren-white.jpg" alt="Siren" width="325"  />
        <h2>External Siren</h2>
        <p>The External Wireless Siren mimics your main control panel's siren sound and serves as an extra alarm notification.  Placed anywhere in the home, it beeps in cadence with the actual system every time the panel beeps or goes into alarm mode.  We recommend a siren (including the Simon XT Control Panel) be placed on each level of your home.</p>
    </div>
    <div class="accessory" id="solar-light">
        <img src="{{ STATIC_URL }}img/products/equipment/solar-light/solar-yard-light-small.jpg" alt="Solar Yard Sign Light" width="325" height="270" />
        <h2>Solar Yard Sign Light</h2>
        <p>Make sure your Protect America Yard Sign is extra visible and easy to read with the aid of a clip-on Solar Yard Sign Light.  Although the majority of break-ins occur when no one is home during the day, quite a few still occur at night.  The LED Solar Yard Sign Light that turns on at dusk, off at dawn and last up to 8 hour using solar-powered rechargeable batteries. The Solar Yard Sign Light easily clips on to the base of your yard sign Protect America Yard Sign.</p>
    </div>
    <div class="accessory" id="security-yard-sign">
        <img src="{{ STATIC_URL }}img/products/equipment/security-yard-sign/pa-security-yard-sign-med.jpg" alt="Protect America Security Yard Sign" width="325" height="270" />
        <h2>Protect America Home Security Sign</h2>
        <p>Deter burglars from targeting your home with this warning sign that prominently displays that your house is secured with a home alarm system. The signs stands about 2ft in height. To best fend off intruders, placing yard signs at every point of access to your home is suggested.  </p>
    </div>
    <div class="accessory" id="security-window-stickers">
        <img src="{{ STATIC_URL }}img/products/equipment/stickers/stickers-white.jpg" alt="Protect America Security Window Stickers" width="325" />
        <h2>Protect America Window Stickers</h2>
        <p>The window stickers are a simple and effective method to deter intruders. It works as a reinforcer with the Protect America Yard Sign. These stickers will deter burglars by showing that your home is protected with a home security system.</p>
    </div>

    <div class="clear"></div>
</div>
{% endblock %}  

