{% extends "products/equipment/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}
{% block page_title %}GE Simon XT Control Panel | Alarm Systems | Protect America{% endblock %}
{% block page_keywords %}wireless home security system, home security, home security monitoring, x10 home automation, homepulse, latchkey feature, pan{% endblock %}
{% block page_description %}Wireless home security system equipment by GE uses state-of-the-art wireless home security system technology to provide the reliability our customers know they can trust. Get a GE wireless home security system from Protect America today.{% endblock %}

{% block content %}
<div id="hero-wrapper" class="red">
    <div id="hero-image">
        <div id="hero-content">
            <i class="icon-life-safety"></i>
            <h2>Life Safety</h2>
            <h1>Monitored Smoke Detector</h1>
            <p>Don't play with fire or your might get burned.</p>
            
            <a href="{% url shop %}" class="button-link">Shop Packages <i class="icon-chevron-right"></i></a>

        </div>
        <img src="{{ STATIC_URL }}img/products/smoke-detector/smoke-detector-hero.jpg" class="main-hero-image" alt="smart-connect-interactive-app" />

    </div>
</div>
{% include "order/call-box.html" %}
<div class="wrapper">
    <div class="video-features">
        <div class="video-content">
            <h2>The Fire Protection You Need.</h2>
            <p>Protect your home and family from fire by adding monitored smoke detectors to your security system. Monitored smoke detectors can identify smoke or rapid rising temperatures 24 hours a day. Even if your security system is disarmed, our monitoring facility notifies your local fired department if it detects a fire.</p>
        </div>
        <div class="video-frame">
            <iframe width="400" height="225" src="http://www.youtube.com/embed/AmTixexoxVc?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div id="in-home-wrapper">
    <div id="in-your-home">
        <div class="home-img">
            <img src="{{ STATIC_URL }}img/products/equipment/smoke-detector/smoke-detector-white.jpg" alt="in-the-home-simon-xt" />
        </div>
        <div class="home-content">
            <strong>In The Home:</strong>
            <h2>Monitored Smoke Detector</h2>
            <p>A smoke detector is recommended to be placed on each level of a home along with a siren. Whether you have a basement or a 2 to 3-story home, you will need to place one on each level per fire department regulations. </p>
            <a href="{% url shop %}" class="button-link">Shop Packages <i class="icon-chevron-right"></i></a>
        </div>
    </div>
    <img src="{{ STATIC_URL }}img/hero-backgrounds/inside-home.jpg" alt="inside-home" class="in-home-bg" />
    <div class="clear"></div>
</div>
{% addtoblock "js" %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.easing.1.3.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {

        $('.feature-icon').click(function(){
            var icon = $(this).clone();
            $('.feature-icon').removeClass('active').html('+');
            $('.feature-content').slideUp(250, 'easeOutBounce');
            if(!$(icon).hasClass('active')) {
                $(this).addClass('active').html('x').next('.feature-content').slideDown(250, 'easeOutBounce');
            }
        });
    });
    </script>
{% endaddtoblock "js" %}
{% endblock %}  

{% block page-product %}
    <h2>The GE Simon XT</h2>
    <p><span>Included in any Package.</span></p>

    <div class="button-submit">
        <a href="{% url order-package %}?package=silver" onClick="_gaq.push(['_trackEvent', 'Order Now', 'Order Now Package Footer Click', 'Simon XT Touchscreen']);">Order Now ></a>
    </div>
{% endblock %}

