{% extends "products/equipment/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}
{% block page_title %}Simon XT Touch Screen | Protect America{% endblock %}
{% block page_keywords %}wireless home security system, home security, home security monitoring, x10 home automation, homepulse, latchkey feature, pan{% endblock %}
{% block page_description %}Interested in a Simon XT Touch Screen? Protect America has protected 500,000 families since 1992. Call 800-951-5190 today to learn more!{% endblock %}

{% block content %}
<div id="hero-wrapper" class="blue">
    <div id="hero-image">
        <div id="hero-content">
            <i class="icon-home-security"></i>
            <h2>Home Security</h2>
            <h1>Simon XT Touch Screen</h1>
            <p>The sleek, easy way to control your home security system.</p>
            {% if phone_number %}

                <h3>Call <span{% if use_call_measurement %} class="dynamic-phone-number"{% endif %}>{{ phone_number|format_number }}</span> to add to your security package today.</h3>


            {% endif %}
            <a href="{% url shop %}" title="Shop Packages" class="button-link">Shop Packages <i class="icon-chevron-right"></i></a>

        </div>
        <img src="{{ STATIC_URL }}img/products/touchscreen/touchscreen-hero.jpg" class="main-hero-image" alt="Touchscreen" />

    </div>
</div>
{% include "order/call-box.html" with no_promo=False %}
<div class="wrapper">
    <div class="video-features">
        <div class="video-content">
            <h2>Innovative Technology. <span>Sleek Security.</span></h2>
            <p>The touch screen acts as an optional point of access for your home security system. The Simon XT Touch Screen adds an unprecedented level of ease and control to the Simon XT home security platform.</p>
            <p>Created to quickly and easily update homeowners of their security status, the Simon XT Touch Screen features one-touch arming and disarming, soothing voice feedback, and an emergency response signal. A Simon XT Touch Screen simplifies the protection of your home and family.</p>
        </div>
        <div class="video-frame">
            <iframe width="400" height="225" src="http://www.youtube.com/embed/aLJmbv6RXrU?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div id="in-home-wrapper">
    <div id="in-your-home">
        <div class="home-img">
            <img src="{{ STATIC_URL }}img/products/equipment/touchscreen/touchscreen-white.jpg" alt="In The Home; Touchscreen" />
        </div>
        <div class="home-content">
            <strong>In The Home:</strong>
            <h2>The Simon XT Touchscreen</h2>
            <p>  Place the touchscreen in a central location like the kitchen, living room or main entrance. The touchscreen comes with hands free capabilities with its built in digital voice commands, for when you are unable to check for something on the main control panel.</p>
            <a href="{% url shop %}" title="Shop Packages" class="button-link">Shop Packages <i class="icon-chevron-right"></i></a>
        </div>
    </div>
    <img src="{{ STATIC_URL }}img/hero-backgrounds/inside-home.jpg" alt="In The Home;Background" class="in-home-bg" />
    <div class="clear"></div>
</div>
<div class="wrapper">
    <div id="touchscreen-features">
        <h2>Explore the Simon XT Touchscreen Features:</h2>
        <p>Featuring an easy-to-install wireless design, the Simon XT Touch Screen gives users greater and more streamlined access to their Simon XT home security systems. An ideal solution for more flexible system control, the Simon XT Touch Screen includes one-touch arming and disarming, panic alarm and a vibrant 3.5 inch LCD screen. The Simon XT Touch Screen will simplify the use of your security system while maintaining the highest standards of protection for your home and family. <strong>Click the "+" Icons on the Simon XT Touchscreen to Learn More</strong></p>
    </div>
    <div class="clear"></div>
     <div id="touchscreen-img"><img src="{{ STATIC_URL }}img/products/equipment/touchscreen/touchscreen-map.jpg" alt="touchscreen" class="equipment-bg" /></div>

    <div id="equipment-features">
        <div class="equipment-feature" style="left: 220px; top: 200px;">
            <div class="feature-icon">+</div>
            <div class="feature-content left">
                <h3>Built-In Digital Voice Commands</h3>
                <p>Convenient voice functionality warns users when the system has been activated or deactivated. The reassuring voice features of the Simon XT Touch Screen can also warn homeowners whenever a door or window opens.</p>
            </div>
        </div>

        <div class="equipment-feature" style="left: 330px; top: 176px;">
            <div class="feature-icon">+</div>
            <div class="feature-content right">
                <h3>Door & Window Supervision</h3>
                <p>Open doors and windows attract burglars, even when you and your family are home. A green checkmark on the touch screen reassures homeowners that all monitored doors and windows into the home are closed and secured. When users see a red exclamation mark, they know an entry point is not secure. Nothing could be easier!</p>
            </div>
        </div>
        <div class="equipment-feature" style="left: 431px; top: 200px;">
            <div class="feature-icon">+</div>
            <div class="feature-content left">
                <h3>3.5-inch Color LCD Screen</h3>
                <p>The vibrant display of the Simon XT Touch Screen makes using your Simon XT home security system easier than ever before. The Simon XT Touch Screen is bright but designed to be energy efficient and plugs into a standard 110 Volt electrical outlets. In case of emergency, the Simon XT Touch Screen can also be use four AAA batteries.</p>
            </div>
        </div>
        <div class="equipment-feature" style="left: 550px; top: 150px;">
            <div class="feature-icon active">x</div>
            <div class="feature-content left first-open">
                <h3>One-Button Arming/Disarming</h3>
                <p>Using your Simon XT home security system is as easy as pushing a button. This feature activates or deactivates all sensors associated with your alarm system. The easy-to-understand graphical interface clearly displays when the system is armed.</p>
            </div>
        </div>
        <div class="equipment-feature" style="left: 540px; top: 175px;">
            <div class="feature-icon">+</div>
            <div class="feature-content left">
                <h3>Simple Status Updates</h3>
                <p>With a quick glance, accurately gauge your home's security status. The easy-to-use graphical interface helps users keep tabs on open entry points and system diagnostics. The Simon XT Touch Screen also tells homeowners whether the system is active or not.</p>
            </div>
        </div>
        <div class="equipment-feature" style="left: 190px; top: 123px;">
            <div class="feature-icon">+</div>
            <div class="feature-content left">
                <h3>Security Equipment</h3>
                <p>All of our systems feature Security Certified products. This means that you get the reliability and flexibility known throughout the security industry for alarm systems.  And with the Touchscreen, the system comes pre-built to work perfectly and conjunction with your Simon XT Control Panel</p>
            </div>
        </div>
        <div class="equipment-feature" style="left: 280px; top: 100px;">
            <div class="feature-icon">+</div>
            <div class="feature-content right">
                <h3>24-Hour Emergency Panic Button</h3>
                <p>The Simon XT Touch Screen includes a distress signal that can be sent with the single push of button. This feature is intended for use during non-medical emergencies.</p>
            </div>
        </div>
    </div>
    
</div>


{% addtoblock "js" %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.easing.1.3.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {

        $('.feature-icon').click(function(){
            var icon = $(this).clone();
            $('.feature-icon').removeClass('active').html('+');
            $('.feature-content').slideUp(250, 'easeOutBounce');
            if(!$(icon).hasClass('active')) {
                $(this).addClass('active').html('x').next('.feature-content').slideDown(250, 'easeOutBounce');
            }
        });
    });
    </script>
{% endaddtoblock "js" %}
{% endblock %}  

{% block page-product %}
    <h2>The Simon XT</h2>
    <p><span>Included in any Package.</span></p>

    <div class="button-submit">
        <a href="{% url order-package %}?package=silver" onClick="_gaq.push(['_trackEvent', 'Order Now', 'Order Now Package Footer Click', 'Simon XT Touchscreen']);">Order Now ></a>
    </div>
{% endblock %}

