{% extends "products/equipment/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}
{% block page_title %}Home Security Systems | Alarm Systems | Protect America{% endblock %}
{% block page_keywords %}wireless home security system, home security, home security monitoring, x10 home automation, homepulse, latchkey feature, pan{% endblock %}
{% block page_description %}Wireless home security system equipment by GE uses state-of-the-art wireless home security system technology to provide the reliability our customers know they can trust. Get a GE wireless home security system from Protect America today.{% endblock %}

{% block content %}
<div id="touchscreen-main">
    <div id="main-image">
        <img src="{{ STATIC_URL }}img/products/equipment/touchscreen/touchscreen.jpg" alt="touchscreen" width="450" />
    </div>
    <div id="main-content">
        <h1>GE Simon XT Touch Screen</h1>
        <p>A touch screen acts as an optional point of access for your home security system. The GE Simon XT Touch Screen adds an unprecedented level of ease and control to the GE Simon XT home security platform. Created to quickly and easily update homeowners of their security status, the GE Simon XT Touch Screen features one-touch arming and disarming, soothing voice feedback, and an emergency response signal. A GE Simon XT Touch Screen simplifies the protection of your home and family.</p>
        <div class="button-submit"><a href="{% url order-package %}?package=platinum" onClick="_gaq.push(['_trackEvent', 'Order Now', 'Order Now Button Click', 'Copper-B']);">Order Home Security ></a></div>
    </div>
</div>
{% include "order/quote-form.html" with form=forms.basic %}
{% include "order/call-box.html" %}

{% testimonial_search "equipment" "limit=10&words=75" %}

<div class="clear"></div>

<div id="touchscreen-features">
    <h2>Explore the Simon XT Touchscreen Features:</h2>
    <p>Featuring an easy-to-install wireless design, the GE Simon XT Touch Screen gives users greater and more streamlined access to their GE Simon XT home security systems. An ideal solution for more flexible system control, the Simon XT Touch Screen includes one-touch arming and disarming, panic alarm, and a vibrant 3.5 inch LCD screen. The Simon XT Touch Screen from GE will simplify the use of your security system while maintaining the highest standards of protection for your home and family. <strong>Click the "+" Icons on the Simon XT Touchscreen to Learn More</strong></p>
    <div id="equipment-features">
        <div class="equipment-feature" style="left: 165px; top: 260px;">
            <div class="feature-icon">+</div>
            <div class="feature-content left">
                <h3>Built-In Digital Voice Commands</h3>
                <p>Convenient voice functionality warns users when the system has been activated or deactivated. The reassuring voice features of the Simon XT Touch Screen can also warn homeowners whenever a door or window opens.</p>
            </div>
        </div>

        <div class="equipment-feature" style="left: 323px; top: 176px;">
            <div class="feature-icon">+</div>
            <div class="feature-content right">
                <h3>Door & Window Supervision</h3>
                <p>Open doors and windows attract burglars, even when you and your family are home. A green checkmark on the touch screen reassures homeowners that all monitored doors and windows into the home are closed and secured. When users see a red exclamation mark, they know an entry point is unsecure. Nothing could be easier!</p>
            </div>
        </div>
        <div class="equipment-feature" style="left: 381px; top: 216px;">
            <div class="feature-icon">+</div>
            <div class="feature-content left">
                <h3>3.5-inch Color LCD Screen</h3>
                <p>The vibrant display of the GE Simon XT Touch Screen makes using your Simon XT home security system easier than ever before. The Simon XT Touch Screen is bright but designed to be energy efficient and plugs into a standard 110 Volt electrical outlets. In case of emergency, the Simon XT Touch Screen can also be use four AAA batteries.</p>
            </div>
        </div>
        <div class="equipment-feature" style="left: 479px; top: 176px;">
            <div class="feature-icon active">x</div>
            <div class="feature-content left first-open">
                <h3>One-Button Arming/Disarming</h3>
                <p>Using your Simon XT home security system is as easy as pushing a button. This feature activates or deactivates all sensors associated with your alarm system. The easy-to-understand graphical interface clearly displays when the system is armed.</p>
            </div>
        </div>
        <div class="equipment-feature" style="left: 490px; top: 123px;">
            <div class="feature-icon">+</div>
            <div class="feature-content left">
                <h3>Simple Status Updates</h3>
                <p>With a quick glance, accurately gauge your home's security status. The easy-to-use graphical interface helps users keep tabs on open entry points and system diagnostics. The Simon XT Touch Screen also tells homeowners whether the system is active or not.</p>
            </div>
        </div>
        <div class="equipment-feature" style="left: 140px; top: 123px;">
            <div class="feature-icon">+</div>
            <div class="feature-content left">
                <h3>GE Security Equipment</h3>
                <p>All of our systems feature GE Security Certified products. This means that you get the reliability and flexibility known throughout the security industry for GE alarm systems.  And with the GE Touchscreen, the system comes pre-built to work perfectly and conjunction with your Simon XT Control Panel</p>
            </div>
        </div>
        <div class="equipment-feature" style="left: 256px; top: 123px;">
            <div class="feature-icon">+</div>
            <div class="feature-content right">
                <h3>24-Hour Emergency Panic Button</h3>
                <p>The Simon XT Touch Screen includes a distress signal that can be sent with the single push of button. This feature is intended for use during non-medical emergencies.</p>
            </div>
        </div>
    </div>
    <table id="tech-specs">
        <thead>
            <tr>
                <th colspan="2">Technical Specifications</th>
            </tr>
        </thead>
        <tbody>

            <tr class="alt">
                <td>Compatibility</td>
                <td class="omega">Simon XT (version 1.3 or later)</td>
            </tr>
            <tr>
                <td>Power</td>
                <td class="omega">6 VDC, 500 mA</td>
            </tr>
            <tr class="alt">
                <td>Batteries</td>
                <td class="omega">Four 1.5 V, Alkaline, AAA</td>
            </tr>
            <tr>
                <td>Dimensions (W x H x D)</td>
                <td class="omega">5.5 x 3.6 x 1.1 in. (140 x 92 x 28 mm)</td>
                
            </tr>
            <tr class="alt">
                <td>Operating Environment</td>
                <td class="omega">32 to 104°F (0 to 40°C)</td>
            </tr>
        </tbody>
    </table>
    <img src="{{ STATIC_URL }}img/products/equipment/touchscreen/touchscreen.jpg" alt="touchscreen" class="equipment-bg" />
</div>
{% addtoblock "js" %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cycle.all.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.easing.1.3.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('#search-testimonial-box').cycle({
            fx: 'fade',
            timeout: 9000
        });
        $('.feature-icon').click(function(){
            var icon = $(this).clone();
            $('.feature-icon').removeClass('active').html('+');
            $('.feature-content').slideUp(250, 'easeOutBounce');
            if(!$(icon).hasClass('active')) {
                $(this).addClass('active').html('x').next('.feature-content').slideDown(250, 'easeOutBounce');
            }
        });
    });
    </script>
{% endaddtoblock "js" %}
{% endblock %}  

{% block page-product %}
    <h2>GE Simon XT Touch Screen</h2>
    <p><span>Add to your Package: <strong><em>$115</em>$49.00</strong></span></p>
    <em>When you Order a Gold or Platinum Package</em>
    <div class="button-submit">
        <a href="{% url order-package %}?package=platinum" onClick="_gaq.push(['_trackEvent', 'Order Now', 'Order Now Package Footer Click', 'Simon XT Touchscreen']);">Order Now ></a>
    </div>
{% endblock %}

