{% block party-box %}
<div id="deals">
	<div class="unbeatable"><p><strong>Unbeatable</strong>Home security deals</p></div>
    <a href="http://www.protectamerica.com/shop-home-security-packages"><img src="{{ STATIC_URL }}img/banners/unbeatable-deals/spring/free-security-system.png" alt="Free Security System" /></a>
    <a href="http://www.protectamerica.com/equipment/home-security/security-camera"><img src="{{ STATIC_URL }}img/banners/unbeatable-deals/spring/free-video-camera.png" alt="Free Security Camera" /></a>
    <a href="http://www.protectamerica.com/equipment/smart-connect"><img src="{{ STATIC_URL }}img/banners/unbeatable-deals/spring/smart-connect.png" alt="No Landline Required" /></a>
</div>
{% endblock %}