 {% extends "base.html" %}


{% load testimonial_tags sekizai_tags %}

{% block page_title %}Home Security Systems | Protect America{% endblock %}
{% block page_keywords %}{% endblock %}
{% block page_description %}Discover how Protect America provides you with peace of mind by helping you feel safer and more secure with one of our inexpensive home security systems.{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/payitforward/payitforward.css">
    <script type="text/javascript" src="//use.typekit.net/hcr8tqq.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<!--<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#control_arrow').click(function(e) {
        e.preventDefault();
        var $next = null;
        $next = $(this).next();
        if($next.length === 0) {
            $next = $(this).siblings().first();
        }
        $(this).hide();
        $next.show();
    });
});
</script>//-->
{% endblock %}

{% block navigation %}
{% endblock %}
{% block footer %}
{% endblock %}
{% block order-footer %}
{% endblock %}
{% block header %}
{% endblock %}

{% block content %}
<div id="body">
    <div id="grunge">
        <div id="top-container">
            <div id="hero-image">
                <a href="{% url payitforward %}"><img src="{{ STATIC_URL }}img/payitforward/hero-image2.gif" alt="hero-image2" width="591" height="183" /></a>
            </div>
            <div id="hero-video">
                <iframe width="329" height="185" src="http://www.youtube.com/embed/HFhmcJiIZtQ?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="clear"></div>        
        <div id="navigation">
            <ul id="nav">
                <li class="tk-kremlin-pro-web-expanded"><a href="{% url payitforward-about %}">ABOUT</a>
                    <ul>
                        <li><a href="{% url payitforward-press %}">Press Room</a></li>
                    </ul>
                </li>  
                <li class="tk-kremlin-pro-web-expanded"><a href="{% url payitforward-rules %}">RULES</a>
                    <ul>
                        <li><a href="{% url payitforward-awareness %}">Awareness</a></li>
                        <li><a href="{% url payitforward-point-scale %}">Point-Scale</a></li>
                        <li><a href="{% url payitforward-revenue %}">Revenue</a></li>
                        <li><a href="{% url payitforward-video %}">Video</a></li>
                    </ul>
                </li>
                <li class="tk-kremlin-pro-web-expanded"><a href="{% url payitforward-point-tracking %}">POINT TRACKING</a></li>
                <li class="tk-kremlin-pro-web-expanded"><a href="{% url payitforward-teams %}">TEAMS</a>
                    <ul>
                        <li><a href="{% url payitforward-spring2012 %}">Spring 2012 Completed Challenge</a></li>
                    </ul>
                </li>
                <li class="tk-kremlin-pro-web-expanded"><a href="{% url payitforward-extras %}">EXTRAS</a></li>
                <li class="tk-kremlin-pro-web-expanded"><a href="{% url payitforward-involved %}">GET INVOLVED</a></li>
            </ul>
        </div>
        <div id="body-container">
            <div class="body-left">
                <h2 class="tk-kremlin-pro-web-expanded">Get Involved</h2>
                    <p>The Protect America Pay It Forward Challenge is constantly getting better and growing every year. For the past two collegiate semesters of 2012, Protect America has been involved in helping over 90 college students and over 17 charities. The challenge raises awareness and revenue for charities that don't necessarily have the resources to gain these. The marketing and advertising students gain real world knowledge by helping the charities generate revenue by creating strategic marketing and fundraising campaigns. 
                    </p>
                    <h3 style="padding-top: 15px;" class="tk-kremlin-pro-web-expanded">Want to get involved?</h3><p>Anyone can become a part of the Pay It Forward Challenge and help any charity. We encourage you, no matter where you are to pay it forward. If you would like to get involved or have a specific charity you want to help contact us today.
                    </p>
            </div>
            <div class="body-right">
                <div style="margin-top: -30px;" class="form">
                    <h3 class="tk-kremlin-pro-web-expanded" style="margin-bottom: 15px; font-size: 15px;">To find out more information on how you can get involved, fill out the contact form below. If you are interested in learning more about the challenge or simply would like some information about Protect America and Protect America Cares, feel free to contact us. 
                    </h3>
                    <form name="" action="" method="POST">
                        {% csrf_token %}
                        <fieldset>
                        <div style="color: @black;">
                            <label for="first_name">First Name:</label>
                            {% include "_partials/formfield_nolabel.html" with field=form.first_name %}
                        </div>
                        <div style="color: @black;">
                            <label for="last_name">Last Name:</label>
                            {% include "_partials/formfield_nolabel.html" with field=form.last_name %}
                        </div>
                        <div style="color: @black;">
                            <label for="email">Email:</label>
                            {% include "_partials/formfield_nolabel.html" with field=form.email %}
                        </div>
                        <div style="color: @black;">
                            <label for="comments">Comments:</label><br>
                            {% include "_partials/formfield_nolabel.html" with field=form.comments %}
                        </div>
                        <div style="color: @black;">
                            <input type="submit" value="Submit" />
                        </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div id="tail">
            <div class="logos">
                <img src="{{ STATIC_URL }}img/payitforward/protect-america-logo.png" alt="protect-america-logo" width="200" height="43" />
            </div>
            <div class="twitter-icons">
                <a href="http://www.twitter.com/protectamerica" target="_blank">
                    <img width="46" height="46" alt="Twitter%20Icon" src="http://static.protectamericasecurity.net/img/payitforward/Twitter%20Icon.png">
                </a>
            </div>
            <div class="facebook-icon">
                <a href="http://www.facebook.com/protectamerica" target="_blank">
                    <img width="46" height="46" alt="facebook%20icon" src="http://static.protectamericasecurity.net/img/payitforward/facebook%20icon.png">
                </a>
            </div>
            <div class="linked-in">
                <a href="http://www.linkedin.com/company/protect-america" target="_blank">
                    <img src="{{ STATIC_URL }}img/payitforward/linked-in.png" alt="linked-in" width="50" height="45" />
                </a>
            </div>
            <div class="google-plus">
                <a href="https://plus.google.com/113573642727337197280/posts" target="_blank">
                    <img style="padding-left: 6px;" src="{{ STATIC_URL }}img/payitforward/google-plus.png" alt="google-plus" width="46" height="46" />
                </a>
            </div>
            <div class="blog">
                 <a href="http://www.protectamerica.com/home-security-blog" target="_blank">
                    <img style="padding-left: 3px;" src="{{ STATIC_URL }}img/payitforward/blog-icon.png" alt="blog-icon" width="46" height="46" />
                </a>
            </div>
            <div class="url">
                <h1 style="padding-left: 15px;" class="tk-kremlin-pro-web-expanded"><a href="http://www.protectamerica.com" target="_blank">protectamerica.com</</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}