{% extends "base.html" %}


{% load testimonial_tags sekizai_tags %}

{% block page_title %}Protect America | Pay It Forward Challenge | Charities and Non-Profits{% endblock %}
{% block page_keywords %}{% endblock %}
{% block page_description %}Protect America presents the Pay It Forward Challenge. The Pay It Forward challenge provides a platform for students at Universities and Colleges to help local charities by creating fundraising and marketing campaigns. Students learn from real life team building experiences. Do you pay it forward?{% endblock %}

{% block css %}
  <link href='http://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Karla:400,400italic,700italic,700' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/payitforward/jquery.scroll.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/payitforward/modernizr.custom.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/payitforward/scroll.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/payitforward.css">
    

{% endblock %}

{% block viewport %}
<meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no">
{% endblock %}

{% block navigation %}
{% endblock %}
{% block footer %}
{% endblock %}
{% block order-footer %}
{% endblock %}
{% block header %}
{% endblock %}

{% block content %}


{% addtoblock "js" %}
    <script>
      $(document).ready(function(){
        $(".main").onepage_scroll({
          sectionContainer: "section"
        });
      });
    </script>
    <script>
        $(document).ready(function() {
            $('.top-menu > li > a').click(function () {
              $(".main").moveTo($(this).data("index"));
              return false;
            });
        });
    </script>
{% endaddtoblock %}

  <div class="wrapper">
      <div class="main">

      <a id="page1"></a>  
      <section class="page1">
        <div class="pa-header"><a href="http://www.protectamerica.com/"><img src="{{ STATIC_URL }}img/payitforward/logo_pa.png" alt="Protect America"></a><p>1-800-657-2717</p></div>
        <div class="page_container">
          <h1>Pay it Forward Challenge</h1>
          <div class="logo_mobile">
              <object type="image/svg+xml" width="280" height="80" data="{{ STATIC_URL }}img/payitforward/logo.svg" title="Pay It Forward Logo" alt="Pay It Forward"></object>
          </div>
          <h2>The Pay It Forward Challenge has been designed to create a learning experience for students while creating a charitable platform for worthwhile local organizations.</h2>
            <div class="schools">
              <img src="{{ STATIC_URL }}img/payitforward/school_msu.png" class="msu">
              <img src="{{ STATIC_URL }}img/payitforward/school_uf.png" class="uf">
              <img src="{{ STATIC_URL }}img/payitforward/school_usa_2.png">
            </div>
          <iframe width="560" height="315" src="//www.youtube.com/embed/Jatw45EZGjQ" frameborder="0" allowfullscreen></iframe><br><br>
        </div>
      </section>

        <a id="page2"></a>
        <section class="page2">
          <div class="page_container">
            <h1>about</h1>
            <p>Protect America is committed to improving the quality of home and life for everyone. The Pay It Forward Challenge is the company’s way of giving back to the community and also the future homeowners of America while staying true to our passion. Since 2011, the Pay It Forward Challenge has tasked marketing and advertising students at major universities with helping local charitable organizations raise funds and awareness.</p>
            <p>To jump start the Challenge, students are broken into teams that form mini agencies. Each agency chooses their own local charity and is given the same stipend from Protect America to fund their work.</p>
            <p>Once they create their team and have chosen a charity, students start the challenge by drawing up plans, creating awareness and generating funds for their client. Creatively, every team will respond to the challenge differently and create a unique experience. Each team will be able to learn and adapt by facing challenges exclusive to their particular charities.</p>
            <p>The Pay It Forward Challenge is a great opportunity for students to put their education into real world practice. Students gain valuable experience in marketing and advertising while helping charities that serve their local community.</p>
            <h3>Market a charity. Market yourself. Pay It Forward!</h3>
          </div>
      </section>

        <a id="page3"></a>
        <section class="page3">
          <div class="page_container">
          <h1>Rules</h1>
          <div class="left">
            <p>The rules for the challenge are quite simple. The students must gather into teams for the challenge. Each team then creates a marketing and advertising agency that will identify their team. Once they create their team brand and identity, they will pick a charity. Each team will then create marketing campaigns to generate funds and awareness for the charity they partner with.</p>
            <h1 style="text-align: left;">WHAT ARE YOU GOING TO DO TO CHANGE THE WORLD TODAY?</h1>
          </div>
          <div class="right">
            <ul>
              <li><img src="{{ STATIC_URL }}img/payitforward/num_1.png"><h2>Teams</h2><p>Break up into teams, and create your marketing group.</p></li>
              <li><img src="{{ STATIC_URL }}img/payitforward/num_2.png"><h2>Charity</h2><p>Pick a charity that you will be helping with your team.</p></li>
              <li><img src="{{ STATIC_URL }}img/payitforward/num_3.png"><h2>Planning</h2><p>Make a plan and create ideas to help the charity. You should develop marketing and fundraising strategies with your team.</p></li>
              <li><img src="{{ STATIC_URL }}img/payitforward/num_4.png"><h2>Reporting</h2><p>Each team will report their progress in generating awareness and revenue at least once a month.</p></li>
              <li><img src="{{ STATIC_URL }}img/payitforward/num_5.png"><h2>Presentation</h2><p>Turn in your final presentation to your professor displaying your team's accomplishments and creativity during the course of the challenge.</p></li> 
          </div>
        </div>
      </section>

      <a id="page4"></a>
      <section class="page4">
        <div class="page_container">
          <h1>The feed</h1>
          <ul>
            <li class="msu"><img src="{{ STATIC_URL }}img/payitforward/school_msu.png">
              <p>Michigan State University</p>
              <div class="msuTweets">
                {% if tweetsMSU %}
                  {% for tweet in tweetsMSU %}
                      <p>{{ tweet.text|safe }}</p>
                      {% if tweet.user.screen_name %}
                        <b>@{{ tweet.user.screen_name }}</b>
                        {% endif %}
                        {% if tweet.user and not tweet.user.screen_name %}
                         <b>@{{ tweet.user }}</b>
                        {% endif %}

                    </br></br>
                  {% endfor %}

                {% else %}
                    <b>Feed Not Available</b>
                {% endif %}
              </div>
            </li>
            <li class="uf"><img src="{{ STATIC_URL }}img/payitforward/school_uf.png">
              <p>University of Florida</p>
              <div class="ufTweets">
                {% if tweetsUFL %}
                  {% for tweet in tweetsUFL %}
                     <p> {{ tweet.text|safe }}</p>
                      {% if tweet.user.screen_name %}
                        <b>@{{ tweet.user.screen_name }}</b>
                        {% endif %}
                        {% if tweet.user and not tweet.user.screen_name %}
                         <b>@{{ tweet.user }}</b>
                        {% endif %}
                  {% endfor %}

                   {% else %}
                    <b>Feed Not Available</b>
                {% endif %}
              </div>
            </li>
            <li class="usa"><img src="{{ STATIC_URL }}img/payitforward/school_usa.png">
              <p>University of Southern Alabama</p>
                <div class="usaTweets">
                  {% if tweetsUSA %}
                    {% for tweet in tweetsUSA %}
                       <p> {{ tweet.text|safe }} </p>
                        {% if tweet.user.screen_name %}
                        <b>@{{ tweet.user.screen_name }}</b>
                        {% endif %}
                        {% if tweet.user and not tweet.user.screen_name %}
                         <b>@{{ tweet.user }}</b>
                        {% endif %}

                    {% endfor %}

                     {% else %}
                      <b>Feed Not Available</b>
                  {% endif %}
                </div>
            </li>
          </ul>
        </div>
      </section>

      <a id="page5"></a>
      <section class="page5">
        <div class="page_container">
          <h1>Want to get involved?</h1>
          <h2>Anyone can become a part of the Pay It Forward Challenge and help any charity. We encourage you, no matter who you are, to pay it forward. If you would like to get involved or have a specific charity you want to help, <a href="mailto:timkrebs@protectamerica.com">contact us today!</a></h2>
        </div>
      </section>
    </div>
    <ul class="top-menu">
      <li><a href="#1" data-index="1">Home</a></li>
      <li><a href="#2" data-index="2">About</a></li>
      <li><a href="#3" data-index="3">Rules</a></li>
      <li class="feed"><a href="#4" class="feed" data-index="4">The Feed</a></li>
      <li><a href="#5" data-index="5">Get involved</a></li>
    </ul>
  </div>

{% endblock %}