 {% extends "base.html" %}


{% load testimonial_tags sekizai_tags %}

{% block page_title %}Protect America | Pay It Forward Challenge | Charities and Non-Profits{% endblock %}
{% block page_keywords %}{% endblock %}
{% block page_description %}Protect America presents the Pay It Forward Challenge. The Pay It Forward challenge provides a platform for students at Universities and Colleges to help local charities by creating fundraising and marketing campaigns. Students learn from real life team building experiences. Do you pay it forward?{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/payitforward/payitforward.css">
    <script type="text/javascript" src="//use.typekit.net/hcr8tqq.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<!--<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#control_arrow').click(function(e) {
        e.preventDefault();
        var $next = null;
        $next = $(this).next();
        if($next.length === 0) {
            $next = $(this).siblings().first();
        }
        $(this).hide();
        $next.show();
    });
});
</script>//-->
{% endblock %}

{% block navigation %}
{% endblock %}
{% block footer %}
{% endblock %}
{% block order-footer %}
{% endblock %}
{% block header %}
{% endblock %}

{% block content %}
<div id="body">
    <div id="grunge">
        <div id="top-container">
            <div id="hero-image">
                <a href="{% url payitforward %}" title="Visit the Pay it Forward Website"><img src="{{ STATIC_URL }}img/payitforward/hero-image2.gif" alt="Pay it Forward" width="591" height="183" /></a>
            </div>
            <div id="hero-video">
                <iframe width="329" height="185" src="http://www.youtube.com/embed/gu-18gI7pWg?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="clear"></div>
            <div id="navigation">
            <ul id="nav">
                <li class="tk-etica"><a href="{% url payitforward-about %}" title="About Us">ABOUT</a>
                    <ul>
                        <li><a href="{% url payitforward-press %}" title="Press Room">Press Room</a></li>
                    </ul>
                </li>  
                <li class="tk-etica"><a href="{% url payitforward-rules %}" title="Rules">RULES</a>
                    <ul>
                        <li><a href="{% url payitforward-awareness %}" title="Awareness">Awareness</a></li>
                        <li><a href="{% url payitforward-point-scale %}" title="Point Scale">Point-Scale</a></li>
                        <li><a href="{% url payitforward-revenue %}" title="Revenues">Revenue</a></li>
                        <li><a href="{% url payitforward-video %}" title="video">Video</a></li>
                    </ul>
                </li>
                <li class="tk-etica"><a href="{% url payitforward-point-tracking %}" title="point tracking">POINT TRACKING</a></li>
                <li class="tk-etica"><a href="{% url payitforward-teams %}" title="teams">TEAMS</a>
                    <ul>
                        <li><a href="{% url payitforward-spring2012 %}" title="Spring 2012 Completed Challenge">Spring 2012 Completed Challenge</a></li>
                    </ul>
                </li>
                <li class="tk-etica"><a href="{% url payitforward-extras %}" title="extras">EXTRAS</a></li>
                <li class="tk-etica"><a href="{% url payitforward-involved %}" title="get involved">GET INVOLVED</a></li>
            </ul>
        </div>
        <div id="body-container">
            <div class="body-left">
                <h2 style="padding-top: 100px;" class="tk-etica">Welcome!</h2><p>The Pay It Forward Challenge has been designed to create a learning experience for students while creating a charitable platform for worthwhile local organizations.</p><p>Students in the Challenge are tasked with creating their own marketing/advertising agencies that design a marketing plan for specific charities. Specific details of each agency plan will ultimately rely on the skills of individual team members but standard industry collateral is expected. In past Challenges, teams have created websites, overhauled charities, social media, raised funds and goods, attracted media coverage, and more.</p>
            </div>
            <div class="body-right">
                <iframe style="margin-top: 65px;" width="380" height="214" src="http://www.youtube.com/embed/7v6H4X0IB14?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div id="tail">
            <div class="logos">
                <img src="{{ STATIC_URL }}img/payitforward/protect-america-logo.png" alt="Protect America Logo" width="200" height="43" />
            </div>
            <div class="twitter-icons">
                <a href="http://www.twitter.com/protectamerica" title="twitter" target="_blank">
                    <img width="46" height="46" alt="Twitter" src="http://static.protectamericasecurity.net/img/payitforward/Twitter%20Icon.png">
                </a>
            </div>
            <div class="facebook-icon">
                <a href="http://www.facebook.com/protectamerica" title="facebook" target="_blank">
                    <img width="46" height="46" alt="facebook" src="http://static.protectamericasecurity.net/img/payitforward/facebook%20icon.png">
                </a>
            </div>
            <div class="linked-in">
                <a href="http://www.linkedin.com/company/protect-america" title="linkedin"target="_blank">
                    <img src="{{ STATIC_URL }}img/payitforward/linked-in.png" alt="LinkedIn" width="50" height="45" />
                </a>
            </div>
            <div class="google-plus">
                <a href="https://plus.google.com/113573642727337197280/posts" title="google plus" target="_blank">
                    <img style="padding-left: 6px;" src="{{ STATIC_URL }}img/payitforward/google-plus.png" alt="Google Plus" width="46" height="46" />
                </a>
            </div>
            <div class="blog">
                 <a href="http://www.protectamerica.com/home-security-blog" title="Protect America Home Security Blog" target="_blank">
                    <img style="padding-left: 3px;" src="{{ STATIC_URL }}img/payitforward/blog-icon.png" alt="Protect America Home Security Blog" width="46" height="46" />
                </a>
            </div>
            <div class="url">
                <h1 style="padding-left: 15px;" class="tk-etica"><a href="http://www.protectamerica.com" title="Protect America"target="_blank">protectamerica.com</</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}