{% extends "base.html" %}


{% load testimonial_tags sekizai_tags %}

{% block page_title %}Protect America | Pay It Forward Challenge | Charities and Non-Profits{% endblock %}
{% block page_keywords %}{% endblock %}
{% block page_description %}Protect America presents the Pay It Forward Challenge. The Pay It Forward challenge provides a platform for students at Universities and Colleges to help local charities by creating fundraising and marketing campaigns. Students learn from real life team building experiences. Do you pay it forward?{% endblock %}

{% block css %}
  <link href='http://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Karla:400,400italic,700italic,700' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/payitforward/jquery.scroll.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/payitforward/jquery.fancybox.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/payitforward/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/payitforward/modernizr.custom.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/payitforward.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/payitforward/scroll.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/payitforward/jquery.fancybox.css">

{% endblock %}


{% block navigation %}
{% endblock %}
{% block footer %}
{% endblock %}
{% block order-footer %}
{% endblock %}
{% block header %}
{% endblock %}

{% block content %}


{% addtoblock "js" %}
    <script>
        $(document).ready(function(){
          $(".main").onepage_scroll({
            sectionContainer: "section"
          });
        });
    </script>
    <script>
        $(document).ready(function() {
            $(".various").fancybox({
                maxWidth    : 800,
                maxHeight   : 600,
                fitToView   : false,
                width       : '70%',
                height      : '70%',
                autoSize    : false,
                closeClick  : false,
                openEffect  : 'none',
                closeEffect : 'none'
            });
        });
    </script>
{% endaddtoblock %}

  <div class="wrapper">
      <div class="main">
        
      <section class="page1">
        <div class="pa-header"><img src="{{ STATIC_URL }}img/payitforward/logo_pa.png" alt="Protect America"><p>1-800-657-2717</p></div>
        <div class="page_container">
          <h1>Pay it Forward</h1>
          <h2>The Pay It Forward Challenge has been designed to create a learning experience for students while creating a charitable platform for worthwhile local organizations.</h2>
          <iframe width="320" height="215" src="//www.youtube.com/embed/7v6H4X0IB14" frameborder="0" allowfullscreen></iframe><br><br>
          <p><a href="#"><img src="{{ STATIC_URL }}img/payitforward/button_getinvolved.png" alt="Get Involved"></a></p>
        </div>
      </section>
        
        <section class="page2">
          <div class="page_container">
          <div class="left">
            <h1>about</h1>
            <p>Since 2011, the Pay It Forward Challenge has tasked marketing and advertising students at major universities with helping local charitable organizations raise funds and awareness.</p>
            <p>To jump start the Challenge, students are broken into teams that form mini agencies. Each agency chooses their own local charity and is given the same stipend from Protect America to fund their work.</p>
            <p>Once they create their team and have chosen a charity, students start the challenge by drawing up plans, creating awareness and generating funds for their client. Creatively, every team will respond to the challenge differently and create a unique experience. Each team will be able to learn and adapt by facing challenges exclusive to their particular charities.</p>
            <p>The Pay It Forward Challenge is a great opportunity for students to put their education into real world practice. Students gain valuable experience in marketing and advertising while helping charities that serve their local community.</p>
            <h3>Market a charity. Market yourself. Pay It Forward!</h3>
          </div>
          <div class="right">
            <h2>Press room</h2>
              <div class="story">
                <h2>Apr 25</h2><h3>2012</h3><h4>Austin, Texas (PRWEB)</h4>
                <h5>Protect America and MSU Students Teach Local Charities How To Fish</h5>
                <p>Advertising students from MSU and home security company Protect America teamed up to provide Lansing charities with long-term fundraising and marketing solutions. <a href="http://www.prweb.com/releases/2012/4/prweb9440064.htm">Read more</a></p>
              </div>
              <div class="story">
                <h2>Sep 06</h2><h3>2012</h3><h4>Austin, Texas (PRWEB)</h4>
                <h5>American Company Gives Back To Community</h5>
                <p>Protect America a successful American owned home security company partners with Michigan State students to generate revenue and awareness for local charities. <a href="http://www.prweb.com/releases/2012/4/prweb9440064.htm">Read more</a></p>
              </div>
          </div>
          </div>
      </section>
        
        <section class="page3">
          <div class="page_container">
          <h1>Rules</h1>
          <div class="left">
            <p>The rules for the challenge are quite simple. The students must gather into teams for the challenge. Each team then creates a marketing and advertising agency that will identify their team. Once they create their team brand and identity, they will pick a charity. Each team will then create marketing campaigns to generate funds and awareness for the charity they partner with.</p>
            <h1 style="text-align: left;">WHAT ARE YOU GOING TO DO TO CHANGE THE WORLD TODAY?</h1>
          </div>
          <div class="right">
            <ul>
              <li><img src="{{ STATIC_URL }}img/payitforward/num_1.png"><h2>Teams</h2><p>Break up into teams, and create your marketing group.</p></li>
              <li><img src="{{ STATIC_URL }}img/payitforward/num_2.png"><h2>Charity</h2><p>Pick a charity that you will be helping with your team.</p></li>
              <li><img src="{{ STATIC_URL }}img/payitforward/num_3.png"><h2>Planning</h2><p>Make a plan and create ideas to help the charity. You should develop marketing and fundraising strategies with your team.</p></li>
              <li><img src="{{ STATIC_URL }}img/payitforward/num_4.png"><h2>Reporting</h2><p>Each team will report their progress in generating awareness and revenue at least once a month. Point Tracking will allow everyone to see where your team stands during the course of the challenge.</p></li>
              <li><img src="{{ STATIC_URL }}img/payitforward/num_5.png"><h2>Presentation</h2><p>Turn in your final presentation to your professor displaying your team's accomplishments and creativity during the course of the challenge.</p></li>
          </div>
          <div class="icons">
            <a class="various" href="#inline">Inline</a>
          </div>
        </div>

      </section>
      <section class="page4">
        <div class="page_container">
          <h1>Point tracking</h1>
          <h2>Coming soon...</h2>
        </div>
      </section>
      <section class="page5">
        <div class="page_container">
          <h1>Teams</h1>
          <h2>Fall 2012 MSU Teams</h2>
          <table width="80%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="25%" class="title">&nbsp;</td>
              <td width="25%" class="title" style="border-left: 1px solid #333;"><strong>Team</strong></td>
              <td width="50%" class="title" style="border-left: 1px solid #333;"><strong>Charity</strong></td>
            </tr>
            <tr>
              <td bgcolor="#ffffff" style="padding: 5px 0;"><img src="{{ STATIC_URL }}img/payitforward/one-media.jpeg" height="40"></td>
              <td bgcolor="#f1f1f1" style="border-left: 1px solid #333; padding: 0 20px;">One Media</td>
              <td bgcolor="#f1f1f1" style="border-left: 1px solid #333; padding: 0 20px;">Shiawassee County Humane Society</td>
            </tr>
            <tr>
              <td bgcolor="#ffffff" style="padding: 5px 0;"><img src="{{ STATIC_URL }}img/payitforward/vantage-point-media.png" height="40"></td>
              <td style="border-left: 1px solid #333; padding: 0 20px;">Vantage Point Media</td>
              <td style="border-left: 1px solid #333; padding: 0 20px;">The Reading People</td>
            </tr>
            <tr>
              <td bgcolor="#ffffff" style="padding: 5px 0;"><img src="{{ STATIC_URL }}img/payitforward/missing-piece-media.png" height="40"></td>
              <td bgcolor="#f1f1f1" style="border-left: 1px solid #333; padding: 0 20px;">Missing Piece Media</td>
              <td bgcolor="#f1f1f1" style="border-left: 1px solid #333; padding: 0 20px;">Gateway Community Services</td>
            </tr>
            <tr>
              <td bgcolor="#ffffff" style="padding: 5px 0;"><img src="{{ STATIC_URL }}img/payitforward/4media.jpeg" height="40"></td>
              <td style="border-left: 1px solid #333; padding: 0 20px;">4Media</td>
              <td style="border-left: 1px solid #333; padding: 0 20px;">Greater Lansing Food Bank</td>
            </tr>
            <tr>
              <td bgcolor="#ffffff" style="padding: 5px 0;"><img src="{{ STATIC_URL }}img/payitforward/songbird-media.jpeg" height="40"></td>
              <td bgcolor="#f1f1f1" style="border-left: 1px solid #333; padding: 0 20px;">Songbird Media</td>
              <td bgcolor="#f1f1f1" style="border-left: 1px solid #333; padding: 0 20px;">Pet Support Services of Lansing</td>
            </tr>
            <tr>
              <td bgcolor="#ffffff" style="padding: 5px 0;"><img src="{{ STATIC_URL }}img/payitforward/launch-media.jpeg" height="40"></td>
              <td style="border-left: 1px solid #333; padding: 0 20px;">Launch Media</td>
              <td style="border-left: 1px solid #333; padding: 0 20px;">Christo Rey Community Center</td>
            </tr>
            <tr>
              <td bgcolor="#ffffff" style="padding: 5px 0;"><img src="{{ STATIC_URL }}img/payitforward/highfive.gif" height="40"></td>
              <td bgcolor="#f1f1f1" style="border-left: 1px solid #333; padding: 0 20px;">High 5 Media</td>
              <td bgcolor="#f1f1f1" style="border-left: 1px solid #333; padding: 0 20px;">Her Power! Her Pride! Her Voice! </td>
            </tr>
          </table>
        </div>
      </section>
      <section class="page6">
        <div class="page_container">
          <h1>Want to get involved?</h1>
          <h2>Anyone can become a part of the Pay It Forward Challenge and help any charity. We encourage you, no matter where you are to pay it forward. If you would like to get involved or have a specific charity you want to help, contact us today!</h2>
          <div id="getInvolved_form">
            <p>fields</p>
          </div>
        </div>
      </section>
    </div>
    <ul class="top-menu">
      <li><a href="#2" data-index="2">About</a></li>
      <li><a href="#3" data-index="3">Rules</a></li>
      <li><a href="#4" data-index="4">Point tracking</a></li>
      <li><a href="#5" data-index="5">Teams</a></li>
      <li><a href="#6" data-index="6">Get involved</a></li>
    </ul>
  </div>

{% endblock %}