 {% extends "base.html" %}

{% load testimonial_tags sekizai_tags %}

{% block page_title %}Home Security Systems | Protect America{% endblock %}
{% block page_keywords %}{% endblock %}
{% block page_description %}Discover how Protect America provides you with peace of mind by helping you feel safer and more secure with one of our inexpensive home security systems.{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/payitforward/payitforward.css">
    <script type="text/javascript" src="//use.typekit.net/hcr8tqq.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<!--<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#control_arrow').click(function(e) {
        e.preventDefault();
        var $next = null;
        $next = $(this).next();
        if($next.length === 0) {
            $next = $(this).siblings().first();
        }
        $(this).hide();
        $next.show();
    });
});
</script>//-->
{% endblock %}


{% block navigation %}
{% endblock %}
{% block footer %}
{% endblock %}
{% block order-footer %}
{% endblock %}
{% block header %}
{% endblock %}

{% block content %}
<div id="grunge">
    <div id="top-container">
        <div class="pacares-logo">
            <a href="{% url payitforward %}"><img src="{{ STATIC_URL }}img/payitforward/pacares-red-logo.png" alt="pacares-red-logo" width="219" height="85" /></a>
        </div>
        <h1 class="tk-kremlin-pro-web-expanded">ADVERTISING & MARKETING STUDENTS FROM MSU ACCEPTED THE PROTECT AMERICA CARES PAY IT FORWARD CHALLENGE.
        </h1>
        <div class="msu-logo">
            <img src="{{ STATIC_URL }}img/payitforward/msu-logo.gif" alt="msu-logo" width="371" height="69" />
        </div>
        <div id="hero-image">
            <img src="{{ STATIC_URL }}img/payitforward/hero-image2.gif" alt="hero-image2" width="591" height="183" />
        </div>
        <div id="hero-video">
            <iframe width="329" height="185" src="http://www.youtube.com/embed/HFhmcJiIZtQ?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
        <div class="clear"></div>
        <div id="navigation">
        <ul id="nav">
            <li class="tk-kremlin-pro-web-expanded"><a href="{% url payitforward-about %}">ABOUT</a>
                <ul>
                    <li><a href="{% url payitforward-press %}">Press Room</a></li>
                </ul>
            </li>  
            <li class="tk-kremlin-pro-web-expanded"><a href="{% url payitforward-rules %}">RULES</a>
                <ul>
                    <li><a href="{% url payitforward-awareness %}">Awareness</a></li>
                    <li><a href="{% url payitforward-point-scale %}">Point-Scale</a></li>
                    <li><a href="{% url payitforward-revenue %}">Revenue</a></li>
                    <li><a href="{% url payitforward-video %}">Video</a></li>
                </ul>
            </li>
            <li class="tk-kremlin-pro-web-expanded"><a href="{% url payitforward-point-tracking %}">POINT TRACKING</a></li>
            <li class="tk-kremlin-pro-web-expanded"><a href="{% url payitforward-teams %}">TEAMS</a>
                <ul>
                    <li><a href="{% url payitforward-spring2012 %}">Spring 2012 Completed Challenge</a></li>
                </ul>
            </li>
            <li class="tk-kremlin-pro-web-expanded"><a href="{% url payitforward-extras %}">EXTRAS</a></li>
            <li class="tk-kremlin-pro-web-expanded"><a href="{% url payitforward-involved %}">GET INVOLVED</a></li>

        </ul>
    </div>
    <div class="clear"></div>
    <div id="body-container">
        <div class="body-left">
            <h2 style="padding-bottom: 15px;" class="tk-kremlin-pro-web-expanded">Point Scale</h2>
                <ul>
                    <li>Company Branding: 10 - 100 pts</li>
                    <li>Charity Branding: 10 - 100 pts</li>
                    <li>Company Website: 100 - 500 pts</li>
                    <li>Charity Website: 100 - 500 pts</li>
                    <li>Revamping Current Charity Website: 10 - 100 pts</li>
                    <li>Facebook Design: 10 pts - 100 pts</li>
                    <li>Twitter Design: 10 pts - 100 pts </li>
                    <li>Most Facebook Likes: 10 -100 pts </li>
                    <li>Most Twitter Followers: 10 - 100 pts</li>
                    <li>YouTube: Overall Video Views 10 pts - 100 pts </li>
                    <li>YouTube Design: 10 pts - 100 pts</li>
                    <li>Presentation Video: Upload Final Video to YouTube - 100 pts</li>
                    <li>Additional YouTube Videos Uploaded: 10 pts each</li>
                    <li style="line-height: 15px; padding-top: 5px;">Pictures: Upload pictures to Facebook and or Google Plus - 1 pt per picture (Points are awarded for every approved picture)</li>
                </ul>
        </div>
        <div class="body-right">
            <ul>
                <li>Company Logo Design: 10 - 100 pts</li>
                <li>Charity Logo Design: 10 - 100 pts </li>
                <li>Revamping Current Charity Logo: 10 - 100 pts</li>
                <li>Mention in Blog Post: 10 pts per blog post</li>
                <li>Mention in Local Newspaper or Online: 50 pts</li>
                <li>Full Story in Local Newspaper or Online: 200 pts</li>
                <li>Mention in National Newspaper or Online: 500 pts</li>
                <li>Full Story in National Newspaper or Online: 700 pts</li>
                <li>Overall Marketing Campaign: 10 - 100 pts</li>
                <li>Overall Social Media Campaign: 10 - 100 pts </li>
                <li><strong><div style="line-height: 17px; margin-top: 15px;">*Published Content: Any published content online or print must be approved by Protect America and will need to include certain verbiage depending on what media outlet you're using. Contact <a href="mailto:SHAWNE@protectamerica.com">Shawne Groves</a></div></strong> </li>
            </ul>
        </div>
    </div>
</div>
<div class="clear"></div>
<div id="tail">
    <div class="twitter">
        <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
        <script>
        new TWTR.Widget({
          version: 2,
          type: 'search',
          search: 'pacpayitforward',
          interval: 30000,
          title: 'Protect America ',
          subject: 'Pay It Forward Challenge',
          width: 400,
          height: 5,
          theme: {
            shell: {
              background: '#bd1313',
              color: '#ffffff'
            },
            tweets: {
              background: '#ffffff',
              color: '#444444',
              links: '#080808'
            }
          },
          features: {
            scrollbar: false,
            loop: true,
            live: true,
            behavior: 'default'
          }
        }).render().start();
        </script>
    </div>
    <div class="tail-urls">
        <ul>
            <li class="tk-kremlin-pro-web-expanded"><a target="_blank" href="http://www.twitter.com/protectamerica"><img src="{{ STATIC_URL }}img/payitforward/Twitter%20Icon.png" alt="Twitter%20Icon" width="36" height="36" /></a><a target="_blank" href="http://www.facebook.com/protectamerica"><img src="{{ STATIC_URL }}img/payitforward/facebook%20icon.png" alt="facebook%20icon" width="36" height="36" /></a><a target="_blank"  href="{% url home %}">PROTECTAMERICA.COM</a></li>
            <li class="tk-kremlin-pro-web-expanded"><a target="_target" href="http://www.twitter.com/pasecurity"><img src="{{ STATIC_URL }}img/payitforward/Twitter%20Icon.png" alt="Twitter%20Icon" width="36" height="36" /></a><a target="_blank" href="http://www.facebook.com/protectamericacares"><img src="{{ STATIC_URL }}img/payitforward/facebook%20icon.png" alt="facebook%20icon" width="36" height="36" /></a><a target="_blank"  href="http://www.protectamericacares.org/">PROTECTAMERICACARES.ORG</a></li>
            <li class="tk-kremlin-pro-web-expanded"><a target="_blank" href="http://www.twitter.com/socialfirefly_"><img src="{{ STATIC_URL }}img/payitforward/Twitter%20Icon.png" alt="Twitter%20Icon" width="36" height="36" /></a><a target="_blank" href="http://www.facebook.com/socialfireflyapp"><img src="{{ STATIC_URL }}img/payitforward/facebook%20icon.png" alt="facebook%20icon" width="36" height="36" /></a><a target="_blank" href="http://www.socialfirefly.com">SOCIALFIREFLY.COM</a></li>
        </ul>
    </div>
        <div class="logos">
        <img style="padding-top: 10px;" src="{{ STATIC_URL }}img/payitforward/pa-white-logo.png" alt="pa-white-logo" width="125" height="125" />
        <img style="margin-top: -10px; padding-left: 10px;" src="{{ STATIC_URL }}img/payitforward/pacares.png" alt="pacares" width="105" height="105" />
    </div>
</div>
{% endblock %}