 {% extends "base.html" %}

{% load testimonial_tags sekizai_tags %}

{% block page_title %}Home Security Systems | Protect America{% endblock %}
{% block page_keywords %}{% endblock %}
{% block page_description %}Discover how Protect America provides you with peace of mind by helping you feel safer and more secure with one of our inexpensive home security systems.{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/payitforward/payitforward.css">
    <script type="text/javascript" src="//use.typekit.net/hcr8tqq.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<!--<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#control_arrow').click(function(e) {
        e.preventDefault();
        var $next = null;
        $next = $(this).next();
        if($next.length === 0) {
            $next = $(this).siblings().first();
        }
        $(this).hide();
        $next.show();
    });
});
</script>//-->
{% endblock %}

{% block navigation %}
{% endblock %}
{% block footer %}
{% endblock %}
{% block order-footer %}
{% endblock %}
{% block header %}
{% endblock %}

{% block content %}
<div id="grunge">
    <div id="top-container">
        <div class="pacares-logo">
            <a href="{% url payitforward %}"><img src="{{ STATIC_URL }}img/payitforward/pacares-red-logo.png" alt="pacares-red-logo" width="219" height="85" /></a>
        </div>
        <h1 class="tk-kremlin-pro-web-expanded">60 ADVERTISING & MARKETING STUDENTS FROM MSU ACCEPTED THE PROTECT AMERICA CARES PAY IT FORWARD CHALLENGE.
        </h1>
        <div class="msu-logo">
            <img src="{{ STATIC_URL }}img/payitforward/msu-logo-green.png" alt="msu-logo-green" width="188" height="56" />
        </div>
        <div id="hero-image">
            <img src="{{ STATIC_URL }}img/payitforward/hero-image.png" alt="hero-image" width="596" height="184" />
        </div>
        <div id="hero-video">
            <iframe width="329" height="185" src="http://www.youtube.com/embed/videoseries?list=PL20676F04B38DC24B&amp;hl=en_US" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="clear"></div>
    <div id="navigation">
        <ul id="nav">
            <li class="tk-kremlin-pro-web-expanded"><a href="{% url payitforward-about %}">ABOUT</a></li> 
            <li class="tk-kremlin-pro-web-expanded"><a href="{% url payitforward-rules %}">RULES</a>
                <ul>
                    <li><a href="{% url payitforward-awareness %}">Awareness</a></li>
                    <li><a href="{% url payitforward-point-scale %}">Point-Scale</a></li>
                    <li><a href="{% url payitforward-revenue %}">Revenue</a></li>
                    <li><a href="{% url payitforward-video %}">Video</a></li>
                </ul>
            </li>
            <li class="tk-kremlin-pro-web-expanded"><a href="{% url payitforward-point-tracking %}">POINT TRACKING</a></li>
            <li class="tk-kremlin-pro-web-expanded"><a href="{% url payitforward-gallery %}">GALLERY</a></li>
            <li class="tk-kremlin-pro-web-expanded"><a href="{% url payitforward-involved %}">GET INVOLVED</a></li>
            <li class="tk-kremlin-pro-web-expanded"><a href="{% url payitforward-contact %}">CONTACT</a></li>
            
        </ul>
    </div>
    <div id="body-container">
        <img style="padding-left: 70px; margin-top: 55px;" src="{{ STATIC_URL }}img/payitforward/point-scale.png" alt="point-scale" width="662" height="358" />
        <h3 style="width: 200px; color: black; position: absolute; margin-left: 675px; margin-top: -250px;" class="tk-kremlin-pro-web-expanded">Keep track of where each team is with our real time point tracking system.<br /><img style="margin-left: 30px;" src="{{ STATIC_URL }}img/payitforward/arrow-hndwrtg-pointing-left.jpg" alt="arrow-hndwrtg-pointing-left" width="89" height="41" /></h3>
    </div>
</div>
<div class="clear"></div>
<div id="tail">
    <div class="twitter">
        <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
        <script>
        new TWTR.Widget({
          version: 2,
          type: 'search',
          search: 'payitforward',
          interval: 30000,
          title: 'Protect America ',
          subject: 'Pay It Forward Challenge',
          width: 400,
          height: 5,
          theme: {
            shell: {
              background: '#bd1313',
              color: '#ffffff'
            },
            tweets: {
              background: '#ffffff',
              color: '#444444',
              links: '#080808'
            }
          },
          features: {
            scrollbar: false,
            loop: true,
            live: true,
            behavior: 'default'
          }
        }).render().start();
        </script>
    </div>
    <div class="tail-urls">
        <ul>
            <li class="tk-kremlin-pro-web-expanded"><a target="_blank" href="http://www.twitter.com/protectamerica"><img src="{{ STATIC_URL }}img/payitforward/Twitter%20Icon.png" alt="Twitter%20Icon" width="36" height="36" /></a><a target="_blank" href="http://www.facebook.com/protectamerica"><img src="{{ STATIC_URL }}img/payitforward/facebook%20icon.png" alt="facebook%20icon" width="36" height="36" /></a><a target="_blank"  href="{% url home %}">PROTECTAMERICA.COM</a></li>
            <li class="tk-kremlin-pro-web-expanded"><a target="_target" href="http://www.twitter.com/pasecurity"><img src="{{ STATIC_URL }}img/payitforward/Twitter%20Icon.png" alt="Twitter%20Icon" width="36" height="36" /></a><a target="_blank" href="http://www.facebook.com/protectamericacares"><img src="{{ STATIC_URL }}img/payitforward/facebook%20icon.png" alt="facebook%20icon" width="36" height="36" /></a><a target="_blank"  href="http://www.protectamericacares.org/">PROTECTAMERICACARES.COM</a></li>
            <li class="tk-kremlin-pro-web-expanded"><a target="_blank" href="http://www.twitter.com/socialfirefly_"><img src="{{ STATIC_URL }}img/payitforward/Twitter%20Icon.png" alt="Twitter%20Icon" width="36" height="36" /></a><a target="_blank" href="http://www.facebook.com/socialfireflyapp"><img src="{{ STATIC_URL }}img/payitforward/facebook%20icon.png" alt="facebook%20icon" width="36" height="36" /></a><a target="_blank" href="http://www.socialfirefly.com">SOCIALFIREFLY.COM</a></li>
        </ul>
    </div>
    <div class="pa-logo">
        <img src="{{ STATIC_URL }}img/payitforward/pa-logo-red.png" alt="pa-logo-red" width="220" height="84" />
    </div>
</div>
{% endblock %}