 {% extends "base.html" %}


{% load testimonial_tags sekizai_tags %}

{% block page_title %}Revenue | Pay It Forward | Protect America{% endblock %}

{% block page_keywords %}{% endblock %}
{% block page_description %}Protect America presents the Pay It Forward Challenge. The Pay It Forward challenge provides a platform for students at Universities and Colleges to help local charities by creating fundraising and marketing campaigns. Students learn from real life team building experiences. Do you pay it forward?{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/payitforward/payitforward.css">
    <script type="text/javascript" src="//use.typekit.net/hcr8tqq.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<!--<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#control_arrow').click(function(e) {
        e.preventDefault();
        var $next = null;
        $next = $(this).next();
        if($next.length === 0) {
            $next = $(this).siblings().first();
        }
        $(this).hide();
        $next.show();
    });
});
</script>//-->
{% endblock %}

{% block navigation %}
{% endblock %}
{% block footer %}
{% endblock %}
{% block order-footer %}
{% endblock %}
{% block header %}
{% endblock %}

{% block content %}
<div id="body">
    <div id="grunge">
        <div id="top-container">
            <div id="hero-image">
                <a href="{% url payitforward %}"><img src="{{ STATIC_URL }}img/payitforward/hero-image2.gif" alt="hero-image2" width="591" height="183" /></a>
            </div>
            <div id="hero-video">
                <iframe width="329" height="185" src="http://www.youtube.com/embed/gu-18gI7pWg?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="clear"></div>
            <div id="navigation">
            <ul id="nav">
                <li class="tk-etica"><a href="{% url payitforward-about %}">ABOUT</a>
                    <ul>
                        <li><a href="{% url payitforward-press %}">Press Room</a></li>
                    </ul>
                </li>  
                <li class="tk-etica"><a href="{% url payitforward-rules %}">RULES</a>
                    <ul>
                        <li><a href="{% url payitforward-awareness %}">Awareness</a></li>
                        <li><a href="{% url payitforward-point-scale %}">Point-Scale</a></li>
                        <li><a href="{% url payitforward-revenue %}">Revenue</a></li>
                        <li><a href="{% url payitforward-video %}">Video</a></li>
                    </ul>
                </li>
                <li class="tk-etica"><a href="{% url payitforward-point-tracking %}">POINT TRACKING</a></li>
                <li class="tk-etica"><a href="{% url payitforward-teams %}">TEAMS</a>
                    <ul>
                        <li><a href="{% url payitforward-spring2012 %}">Spring 2012 Completed Challenge</a></li>
                    </ul>
                </li>
                <li class="tk-etica"><a href="{% url payitforward-extras %}">EXTRAS</a></li>
                <li class="tk-etica"><a href="{% url payitforward-involved %}">GET INVOLVED</a></li>
            </ul>
        </div>
        <div id="body-container">
            <div class="body-left">
                <h2 style="line-height: 35px;" class="tk-etica">Revenue:<br />$1.00 = 1 pt</h2>
                <p>Revenue always plays a major role when it comes to charity. This is a great part of the Pay It Forward Challenge and will help decide which team was most effective. Each dollar raised for your charity will earn your team 1 point. While raising awareness for your charity and their cause is most important, we also want to boost their contributions.</p>
                <p>Teams can generate revenue a number of ways, such as individual fund-raising events or a donation page on a website. Think of and implement a strategy to generate funds for your charity.</p>
                <p>Every team has the same amount of time and opportunity to raise funds. It's all about who will use this time and opportunity to generate the most funds. Be productive and pro active.</p>
            </div>
            <div class="body-right">
                <p><strong>*Reporting</strong> The dollar amount each team raises for their charity will be tracked on our leader board featured on <a href="{% url payitforward-point-tracking %}">payitforward</a></p>
                <p>Report the amount of money you have raised at least once a month to <a href="mailto:SHAWNE@protectamerica.com">Shawne Groves</a> to update your points and make sure they are up to date on the leader board and show off your teams fundraising skills!
                </p>
                <p>*Food and donations will be taken into consideration for points as well, if you are working with a charity that accepts them. Report these items when reporting fundraising money, and awareness points.
                </p>
            </div>
        </div>
        <div id="tail">
            <div class="logos">
                <img src="{{ STATIC_URL }}img/payitforward/protect-america-logo.png" alt="protect-america-logo" width="200" height="43" />
            </div>
            <div class="twitter-icons">
                <a href="http://www.twitter.com/protectamerica" target="_blank">
                    <img width="46" height="46" alt="Twitter%20Icon" src="http://static.protectamericasecurity.net/img/payitforward/Twitter%20Icon.png">
                </a>
            </div>
            <div class="facebook-icon">
                <a href="http://www.facebook.com/protectamerica" target="_blank">
                    <img width="46" height="46" alt="facebook%20icon" src="http://static.protectamericasecurity.net/img/payitforward/facebook%20icon.png">
                </a>
            </div>
            <div class="linked-in">
                <a href="http://www.linkedin.com/company/protect-america" target="_blank">
                    <img src="{{ STATIC_URL }}img/payitforward/linked-in.png" alt="linked-in" width="50" height="45" />
                </a>
            </div>
            <div class="google-plus">
                <a href="https://plus.google.com/113573642727337197280/posts" target="_blank">
                    <img style="padding-left: 6px;" src="{{ STATIC_URL }}img/payitforward/google-plus.png" alt="google-plus" width="46" height="46" />
                </a>
            </div>
            <div class="blog">
                 <a href="http://www.protectamerica.com/home-security-blog" target="_blank">
                    <img style="padding-left: 3px;" src="{{ STATIC_URL }}img/payitforward/blog-icon.png" alt="blog-icon" width="46" height="46" />
                </a>
            </div>
            <div class="url">
                <h1 style="padding-left: 15px;" class="tk-etica"><a href="http://www.protectamerica.com" target="_blank">protectamerica.com</</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}