 {% extends "base.html" %}


{% load testimonial_tags sekizai_tags %}

{% block page_title %}Rules | Pay It Forward | Protect America{% endblock %}

{% block page_keywords %}{% endblock %}
{% block page_description %}Protect America presents the Pay It Forward Challenge. The Pay It Forward challenge provides a platform for students at Universities and Colleges to help local charities by creating fundraising and marketing campaigns. Students learn from real life team building experiences. Do you pay it forward?{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/payitforward/payitforward.css">
    <script type="text/javascript" src="//use.typekit.net/hcr8tqq.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<!--<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#control_arrow').click(function(e) {
        e.preventDefault();
        var $next = null;
        $next = $(this).next();
        if($next.length === 0) {
            $next = $(this).siblings().first();
        }
        $(this).hide();
        $next.show();
    });
});
</script>//-->
{% endblock %}

{% block navigation %}
{% endblock %}
{% block footer %}
{% endblock %}
{% block order-footer %}
{% endblock %}
{% block header %}
{% endblock %}

{% block content %}
<div id="body">
    <div id="grunge">
        <div id="top-container">
            <div id="hero-image">
                <a href="{% url payitforward %}"><img src="{{ STATIC_URL }}img/payitforward/hero-image2.gif" alt="hero-image2" width="591" height="183" /></a>
            </div>
            <div id="hero-video">
                <iframe width="329" height="185" src="http://www.youtube.com/embed/HFhmcJiIZtQ?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="clear"></div>
            <div id="navigation">
            <ul id="nav">
                <li class="tk-etica"><a href="{% url payitforward-about %}">ABOUT</a>
                    <ul>
                        <li><a href="{% url payitforward-press %}">Press Room</a></li>
                    </ul>
                </li>  
                <li class="tk-etica"><a href="{% url payitforward-rules %}">RULES</a>
                    <ul>
                        <li><a href="{% url payitforward-awareness %}">Awareness</a></li>
                        <li><a href="{% url payitforward-point-scale %}">Point-Scale</a></li>
                        <li><a href="{% url payitforward-revenue %}">Revenue</a></li>
                        <li><a href="{% url payitforward-video %}">Video</a></li>
                    </ul>
                </li>
                <li class="tk-etica"><a href="{% url payitforward-point-tracking %}">POINT TRACKING</a></li>
                <li class="tk-etica"><a href="{% url payitforward-teams %}">TEAMS</a>
                    <ul>
                        <li><a href="{% url payitforward-spring2012 %}">Spring 2012 Completed Challenge</a></li>
                    </ul>
                </li>
                <li class="tk-etica"><a href="{% url payitforward-extras %}">EXTRAS</a></li>
                <li class="tk-etica"><a href="{% url payitforward-involved %}">GET INVOLVED</a></li>
            </ul>
        </div>
        <div class="clear"></div>
        <div id="body-container">
            <div class="body-left">
            <h2 class="tk-etica">PIFC Rules</h2>
            <p>The rules for the challenge are quite simple. The students must gather into teams for the challenge. Each team then creates a marketing and advertising agency that will identify their team. Once they create their team brand and identity, they will pick a charity. Each team will then create marketing campaigns to generate funds and awareness for the charity they partner with.
            </p>
        </div>
            <div class="body-right">
            <p>
                <ul>
                    <li><strong>1. Teams:</strong> Break up into teams, and create your marketing group.</li>
                    <li><strong>2. Charity:</strong> Pick a charity that you will be helping with your team.</li>
                    <li><strong>3. Planning:</strong> Make a plan and create ideas to help the charity. You should develop marketing and fundraising strategies with your team.</li>
                    <li><strong>4. Reporting:</strong> Each team will report their progress in generating awareness and revenue at least once a month. Point Tracking will allow everyone to see where your team stands during the course of the challenge.</li>
                    <li><strong>5. Presentation:</strong> Turn in your final presentation to your professor displaying your team's accomplishments and creativity during the course of the challenge.</li>
                </ul>
            <h3 class="tk-etica">What are you going to do to change the world today?</h3></p>
            </div>
        </div>
        <div id="tail">
            <div class="logos">
                <img src="{{ STATIC_URL }}img/payitforward/protect-america-logo.png" alt="protect-america-logo" width="200" height="43" />
            </div>
            <div class="twitter-icons">
                <a href="http://www.twitter.com/protectamerica" target="_blank">
                    <img width="46" height="46" alt="Twitter%20Icon" src="http://static.protectamericasecurity.net/img/payitforward/Twitter%20Icon.png">
                </a>
            </div>
            <div class="facebook-icon">
                <a href="http://www.facebook.com/protectamerica" target="_blank">
                    <img width="46" height="46" alt="facebook%20icon" src="http://static.protectamericasecurity.net/img/payitforward/facebook%20icon.png">
                </a>
            </div>
            <div class="linked-in">
                <a href="http://www.linkedin.com/company/protect-america" target="_blank">
                    <img src="{{ STATIC_URL }}img/payitforward/linked-in.png" alt="linked-in" width="50" height="45" />
                </a>
            </div>
            <div class="google-plus">
                <a href="https://plus.google.com/113573642727337197280/posts" target="_blank">
                    <img style="padding-left: 6px;" src="{{ STATIC_URL }}img/payitforward/google-plus.png" alt="google-plus" width="46" height="46" />
                </a>
            </div>
            <div class="blog">
                 <a href="http://www.protectamerica.com/home-security-blog" target="_blank">
                    <img style="padding-left: 3px;" src="{{ STATIC_URL }}img/payitforward/blog-icon.png" alt="blog-icon" width="46" height="46" />
                </a>
            </div>
            <div class="url">
                <h1 style="padding-left: 15px;" class="tk-etica"><a href="http://www.protectamerica.com" target="_blank">protectamerica.com</</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}