 {% extends "base.html" %}


{% load testimonial_tags sekizai_tags %}


{% block page_title %}Spriong 2012 | Pay It Forward | Protect America{% endblock %}

{% block page_keywords %}{% endblock %}
{% block page_description %}Protect America presents the Pay It Forward Challenge. The Pay It Forward challenge provides a platform for students at Universities and Colleges to help local charities by creating fundraising and marketing campaigns. Students learn from real life team building experiences. Do you pay it forward?{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/payitforward/payitforward.css">
    <script type="text/javascript" src="//use.typekit.net/hcr8tqq.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<!--<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#control_arrow').click(function(e) {
        e.preventDefault();
        var $next = null;
        $next = $(this).next();
        if($next.length === 0) {
            $next = $(this).siblings().first();
        }
        $(this).hide();
        $next.show();
    });
});
</script>//-->
<style type="text/css">
.slide-row {
    display: none;
}
.active {
    display: block;
}
</style>
{% endblock %}

{% block navigation %}
{% endblock %}
{% block footer %}
{% endblock %}
{% block order-footer %}
{% endblock %}
{% block header %}
{% endblock %}

{% block content %}
{% addtoblock "js" %}
<script type="text/javascript">
$(document).ready(function() {
    $('.next-row-button').click(function() {
        var current_row = $(this).parent().children('.slide-row:visible');
        var row_count = $(this).parent().children('.slide-row').length;
        if(current_row.index() == (row_count - 1) ) {
            var next_slide = $(this).parent().children('.slide-row:eq(0)');
        } else {
            var next_slide = $(this).parent().children('.slide-row:eq('+(current_row.index() + 1)+')');
        }
        $(this).parent().children('.slide-row:visible').removeClass('active')
        next_slide.addClass('active');
    });
});
</script>
{% endaddtoblock "js" %}
<div id="body">
    <div id="grunge">
        <div id="top-container">
            <div id="hero-image">
                <a href="{% url payitforward %}"><img src="{{ STATIC_URL }}img/payitforward/hero-image2.gif" alt="hero-image2" width="591" height="183" /></a>
            </div>
            <div id="hero-video">
                <iframe width="329" height="185" src="http://www.youtube.com/embed/gu-18gI7pWg?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="clear"></div>
            <div id="navigation">
            <ul id="nav">
                <li class="tk-etica"><a href="{% url payitforward-about %}">ABOUT</a>
                    <ul>
                        <li><a href="{% url payitforward-press %}">Press Room</a></li>
                    </ul>
                </li>  
                <li class="tk-etica"><a href="{% url payitforward-rules %}">RULES</a>
                    <ul>
                        <li><a href="{% url payitforward-awareness %}">Awareness</a></li>
                        <li><a href="{% url payitforward-point-scale %}">Point-Scale</a></li>
                        <li><a href="{% url payitforward-revenue %}">Revenue</a></li>
                        <li><a href="{% url payitforward-video %}">Video</a></li>
                    </ul>
                </li>
                <li class="tk-etica"><a href="{% url payitforward-point-tracking %}">POINT TRACKING</a></li>
                <li class="tk-etica"><a href="{% url payitforward-teams %}">TEAMS</a>
                    <ul>
                        <li><a href="{% url payitforward-spring2012 %}">Spring 2012 Completed Challenge</a></li>
                    </ul>
                </li>
                <li class="tk-etica"><a href="{% url payitforward-extras %}">EXTRAS</a></li>
                <li class="tk-etica"><a href="{% url payitforward-involved %}">GET INVOLVED</a></li>
            </ul>
        </div>
        <div id="body-container">
            <div class="gallery">
                <ul>
                    <li class="active slide-row">
                        <ul>
                            <li><img src="{{ STATIC_URL }}img/payitforward/gallery-1.jpg" alt="gallery-1" width="174" height="135" /></li>
                            <li><img src="{{ STATIC_URL }}img/payitforward/gallery-1.jpg" alt="gallery-1" width="174" height="135" /></li>
                            <li><img src="{{ STATIC_URL }}img/payitforward/gallery-2.jpg" alt="gallery-2" width="174" height="135" /></li>
                            <li><img src="{{ STATIC_URL }}img/payitforward/gallery-3.jpg" alt="gallery-3" width="174" height="135" /></li>
                            <li><img src="{{ STATIC_URL }}img/payitforward/gallery-4.jpg" alt="gallery-4" width="174" height="135" /></li>
                        </ul>
                    </li>
                    <li class="slide-row">
                        <ul>
                            <li><img src="{{ STATIC_URL }}img/payitforward/gallery-33.jpg" alt="gallery-33" width="174" height="135" /></li>
                            <li><img src="{{ STATIC_URL }}img/payitforward/gallery-24.jpg" alt="gallery-24" width="174" height="135" /></li>
                            <li><img src="{{ STATIC_URL }}/img/payitforward/gallery-30.jpg" alt="gallery-30" width="174" height="135" /></li>
                            <li><img src="{{ STATIC_URL }}img/payitforward/gallery-26.jpg" alt="gallery-26" width="174" height="135" /></li>
                            <li><img src="{{ STATIC_URL }}img/payitforward/gallery-32.jpg" alt="gallery-32" width="174" height="135" /></li>
                        </ul>
                    </li>
                    <li style="margin-top: 50px; text-decoration:underline; cursor:pointer;" class="tk-etica next-row-button">
                        Next
                    </li>
                </ul>
                <ul>
                    <li class="active slide-row">
                        <ul>
                            <li><img src="{{ STATIC_URL }}img/payitforward/gallery-15.jpg" alt="gallery-15" width="174" height="135" /></li>
                            <li><img src="{{ STATIC_URL }}/img/payitforward/gallery-7.jpg" alt="gallery-7" width="174" height="135" /></li>
                            <li><img src="{{ STATIC_URL }}img/payitforward/gallery-14.jpg" alt="gallery-14" width="174" height="135" /></li>
                            <li><img src="{{ STATIC_URL }}img/payitforward/gallery-11.jpg" alt="gallery-11" width="174" height="135" /></li>
                            <li><img src="{{ STATIC_URL }}img/payitforward/gallery-10.jpg" alt="gallery-10" width="174" height="135" /></li>
                        </ul>
                    </li>
                    <li class="slide-row">
                        <ul>
                            <li><img src="{{ STATIC_URL }}img/payitforward/gallery-43.jpg" alt="gallery-43" width="174" height="135" /></li>
                            <li><img src="{{ STATIC_URL }}img/payitforward/gallery-39.jpg" alt="gallery-39" width="174" height="135" /></li>
                            <li><img src="{{ STATIC_URL }}img/payitforward/gallery-421.jpg" alt="gallery-421" width="174" height="135" /></li>
                            <li><img src="{{ STATIC_URL }}img/payitforward/gallery-38.jpg" alt="gallery-38" width="174" height="135" /></li>
                            <li><img src="{{ STATIC_URL }}img/payitforward/gallery-41.jpg" alt="gallery-41" width="174" height="135" /></li>
                        </ul>
                    </li>
                    <li style="margin-top: 50px; text-decoration:underline; cursor:pointer;" class="tk-etica next-row-button">
                        Next
                    </li>
                </ul>
                <ul>
                    <li class="active slide-row">
                        <ul>
                            <li><img src="{{ STATIC_URL }}img/payitforward/gallery-21.jpg" alt="gallery-21" width="174" height="135" /></li>
                            <li><img src="{{ STATIC_URL }}img/payitforward/gallery-17.jpg" alt="gallery-17" width="174" height="135" /></li>
                            <li><img src="{{ STATIC_URL }}img/payitforward/gallery-18.jpg" alt="gallery-18" width="174" height="135" /></li>
                            <li><img src="{{ STATIC_URL }}img/payitforward/gallery-19.jpg" alt="gallery-19" width="174" height="135" /></li>
                            <li><img src="{{ STATIC_URL }}img/payitforward/gallery-20.jpg" alt="gallery-20" width="174" height="135" /></li>
                        </ul>
                    </li>
                    <li class="slide-row">
                        <ul>
                            <li><img src="{{ STATIC_URL }}img/payitforward/gallery-61.jpg" alt="gallery-61" width="174" height="135" /></li>
                            <li><img src="{{ STATIC_URL }}img/payitforward/gallery-53.jpg" alt="gallery-53" width="174" height="135" /></li>
                            <li><img src="{{ STATIC_URL }}img/payitforward/gallery-54.jpg" alt="gallery-54" width="174" height="135" /></li>
                            <li><img src="{{ STATIC_URL }}img/payitforward/gallery-55.jpg" alt="gallery-55" width="174" height="135" /></li>
                            <li><img src="{{ STATIC_URL }}img/payitforward/gallery-56.jpg" alt="gallery-56" width="174" height="135" /></li>
                        </ul>
                    </li>
                    <li class="slide-row">
                        <ul>
                            <li><img src="{{ STATIC_URL }}img/payitforward/gallery-44.jpg" alt="gallery-44" width="174" height="135" /></li>
                            <li><img src="{{ STATIC_URL }}img/payitforward/gallery-49.jpg" alt="gallery-49" width="174" height="135" /></li>
                            <li><img src="{{ STATIC_URL }}img/payitforward/gallery-47.jpg" alt="gallery-47" width="174" height="135" /></li>
                            <li><img src="{{ STATIC_URL }}img/payitforward/gallery-48.jpg" alt="gallery-48" width="174" height="135" /></li>
                            <li><img src="{{ STATIC_URL }}img/payitforward/gallery-50.jpg" alt="gallery-50" width="174" height="135" /></li>
                        </ul>
                    </li>
                    <li style="margin-top: 50px; text-decoration:underline; cursor:pointer;" class="tk-etica next-row-button">
                        Next
                    </li>
                </ul>
                <!--
                <ul>
                    <li><img src="{{ STATIC_URL }}img/payitforward/gallery-15.jpg" alt="gallery-15" width="174" height="135" /></li>
                    <li><img src="{{ STATIC_URL }}/img/payitforward/gallery-7.jpg" alt="gallery-7" width="174" height="135" /></li>
                    <li><img src="{{ STATIC_URL }}img/payitforward/gallery-8.jpg" alt="gallery-8" width="174" height="135" /></li>
                    <li><img src="{{ STATIC_URL }}img/payitforward/gallery-9.jpg" alt="gallery-9" width="174" height="135" /></li>
                    <li><img src="{{ STATIC_URL }}img/payitforward/gallery-10.jpg" alt="gallery-10" width="174" height="135" /></li>
                    <li style="margin-top: 50px; text-decoration:underline;" class="tk-etica">Next</li>
                </ul>
                <ul>
                    <li><img src="{{ STATIC_URL }}img/payitforward/gallery-21.jpg" alt="gallery-21" width="174" height="135" /></li>
                    <li><img src="{{ STATIC_URL }}img/payitforward/gallery-17.jpg" alt="gallery-17" width="174" height="135" /></li>
                    <li><img src="{{ STATIC_URL }}img/payitforward/gallery-18.jpg" alt="gallery-18" width="174" height="135" /></li>
                    <li><img src="{{ STATIC_URL }}img/payitforward/gallery-19.jpg" alt="gallery-19" width="174" height="135" /></li>
                    <li><img src="{{ STATIC_URL }}img/payitforward/gallery-20.jpg" alt="gallery-20" width="174" height="135" /></li>
                    <li style="margin-top: 50px; text-decoration:underline;" class="tk-etica">Next</li>
                </ul>
                //-->
            </div>
           <!-- <div id="control_arrow">
                <img style="margin-left: 800px;" src="{{ STATIC_URL }}img/payitforward/arrow.png" alt="arrow" width="25" height="25" />
            </div>//-->
        </div>
        <div id="tail">
            <div class="logos">
                <img src="{{ STATIC_URL }}img/payitforward/protect-america-logo.png" alt="protect-america-logo" width="200" height="43" />
            </div>
            <div class="twitter-icons">
                <a href="http://www.twitter.com/protectamerica" target="_blank">
                    <img width="46" height="46" alt="Twitter%20Icon" src="http://static.protectamericasecurity.net/img/payitforward/Twitter%20Icon.png">
                </a>
            </div>
            <div class="facebook-icon">
                <a href="http://www.facebook.com/protectamerica" target="_blank">
                    <img width="46" height="46" alt="facebook%20icon" src="http://static.protectamericasecurity.net/img/payitforward/facebook%20icon.png">
                </a>
            </div>
            <div class="linked-in">
                <a href="http://www.linkedin.com/company/protect-america" target="_blank">
                    <img src="{{ STATIC_URL }}img/payitforward/linked-in.png" alt="linked-in" width="50" height="45" />
                </a>
            </div>
            <div class="google-plus">
                <a href="https://plus.google.com/113573642727337197280/posts" target="_blank">
                    <img style="padding-left: 6px;" src="{{ STATIC_URL }}img/payitforward/google-plus.png" alt="google-plus" width="46" height="46" />
                </a>
            </div>
            <div class="blog">
                 <a href="http://www.protectamerica.com/home-security-blog" target="_blank">
                    <img style="padding-left: 3px;" src="{{ STATIC_URL }}img/payitforward/blog-icon.png" alt="blog-icon" width="46" height="46" />
                </a>
            </div>
            <div class="url">
                <h1 style="padding-left: 15px;" class="tk-etica"><a href="http://www.protectamerica.com" target="_blank">protectamerica.com</</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}