 {% extends "base.html" %}


{% load testimonial_tags sekizai_tags %}

{% block page_title %}Team | Pay It Forward | Protect America{% endblock %}

{% block page_keywords %}{% endblock %}
{% block page_description %}Protect America presents the Pay It Forward Challenge. The Pay It Forward challenge provides a platform for students at Universities and Colleges to help local charities by creating fundraising and marketing campaigns. Students learn from real life team building experiences. Do you pay it forward?{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/payitforward/payitforward.css">
    <script type="text/javascript" src="//use.typekit.net/hcr8tqq.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<!--<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#control_arrow').click(function(e) {
        e.preventDefault();
        var $next = null;
        $next = $(this).next();
        if($next.length === 0) {
            $next = $(this).siblings().first();
        }
        $(this).hide();
        $next.show();
    });
});
</script>//-->
{% endblock %}

{% block navigation %}
{% endblock %}
{% block footer %}
{% endblock %}
{% block order-footer %}
{% endblock %}
{% block header %}
{% endblock %}

{% block content %}
<div id="body">
    <div id="grunge">
        <div id="top-container">
            <div id="hero-image">
                <a href="{% url payitforward %}"><img src="{{ STATIC_URL }}img/payitforward/hero-image2.gif" alt="hero-image2" width="591" height="183" /></a>
            </div>
            <div id="hero-video">
                <iframe width="329" height="185" src="http://www.youtube.com/embed/gu-18gI7pWg?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="clear"></div>
            <div id="navigation">
            <ul id="nav">
                <li class="tk-etica"><a href="{% url payitforward-about %}">ABOUT</a>
                    <ul>
                        <li><a href="{% url payitforward-press %}">Press Room</a></li>
                    </ul>
                </li>  
                <li class="tk-etica"><a href="{% url payitforward-rules %}">RULES</a>
                    <ul>
                        <li><a href="{% url payitforward-awareness %}">Awareness</a></li>
                        <li><a href="{% url payitforward-point-scale %}">Point-Scale</a></li>
                        <li><a href="{% url payitforward-revenue %}">Revenue</a></li>
                        <li><a href="{% url payitforward-video %}">Video</a></li>
                    </ul>
                </li>
                <li class="tk-etica"><a href="{% url payitforward-point-tracking %}">POINT TRACKING</a></li>
                <li class="tk-etica"><a href="{% url payitforward-teams %}">TEAMS</a>
                    <ul>
                        <li><a href="{% url payitforward-spring2012 %}">Spring 2012 Completed Challenge</a></li>
                    </ul>
                </li>
                <li class="tk-etica"><a href="{% url payitforward-extras %}">EXTRAS</a></li>
                <li class="tk-etica"><a href="{% url payitforward-involved %}">GET INVOLVED</a></li>
    
            </ul>
        </div>
        <div class="clear"></div>
        <div id="body-container">
        <h2 style="margin-left: 25px;" class="tk-etica">Fall 2012 MSU Teams</h2>
            <div class="teams-top-row">
                <div class="team-one">
                    <img style="padding-left: 50px;" src="{{ STATIC_URL }}img/payitforward/one-media.jpeg" alt="one-media" width="104" height="105" />
                    <ul style="margin-left: 25px;">
                        <li class="tk-etica">One Media</li>
                        <li>Charity: Shiawassee County Humane Society</li>
                        <li><a href="http://www.shspets.org" target="_blank">www.shspets.org</a></li>
                    </ul>
                </div>
                <div class="team-two">
                    <img style="padding-left: 70px;" src="{{ STATIC_URL }}img/payitforward/vantage-point-media.png" alt="vantage-point-media" width="96" height="96" />
                    <ul style="margin-left: 40px;">
                        <li class="tk-etica">Vantage Point Media</li>
                        <li>Charity: The Reading People</li>
                        <li><a href="http://www.thereadingpeople.org" target="_blank">www.thereadingpeople.org</a></li>
                    </ul>
                </div>
                <div class="team-three">
                    <img style="padding-left: 40px;" src="{{ STATIC_URL }}img/payitforward/missing-piece-media.png" alt="missing-piece-media" width="192" height="89" />
                    <ul style="margin-left: 25px;">
                        <li class="tk-etica">Missing Piece Media</li>
                        <li>Charity: Gateway Community Services</li>
                        <li><a href="http://www.gatewayservices.org" target="_blank">www.gatewayservices.org</a></li>
                    </ul>
                </div>
            </div>
            <div class="teams-bottom-row">
                <div class="team-one">
                    <img style="margin-left:25px;" src="{{ STATIC_URL }}img/payitforward/4media.jpeg" alt="4media" width="128" height="112" />
                    <ul>
                        <li class="tk-etica">4Media</li>
                        <li>Charity: Greater Lansing Food Bank</li>
                        <li><a href="http://www.greaterlansingfoodbank.org" target="_blank">www.greaterlansingfoodbank.org</a></li>
                    </ul>
                </div>
                <div class="team-two">
                    <img style="margin-left: 15px;" src="{{ STATIC_URL }}img/payitforward/songbird-media.jpeg" alt="songbird-media" width="119" height="118" />
                    <ul>
                        <li class="tk-etica">Songbird Media</li>
                        <li>Charity: Pet Support Services of Lansing</li>
                        <li><a href="http://www.facebook.com/songbirdmedia" target="_blank">www.facebook.com/SongbirdMedia</a></li>
                    </ul>
                </div>
                <div class="team-three">
                    <img style="margin-left: 25px; margin-top: -15px;" src="{{ STATIC_URL }}img/payitforward/launch-media.jpeg" alt="launch-media" width="50" height="130" />
                    <ul>
                        <li class="tk-etica">Launch Media</li>
                        <li>Charity: Christo Rey Community Center</li>
                        <li><a href="http://www.cristo-rey.org" target="_blank">www.cristo-rey.org</a></li>
                    </ul>
                </div>
                <div class="team-four">
                    <img src="{{ STATIC_URL }}img/payitforward/highfive.gif" alt="highfive" width="70" height="124" />
                    <ul style="padding-top: 5px;">
                        <li class="tk-etica">High 5 Media</li>
                        <li>Charity: Her Power! Her Pride! Her Voice! </li>
                        <li><a href="http://herpowerherpride.weebly.com/" target="_blank">www.herpowerherpride.weebly.com/</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="tail">
            <div class="logos">
                <img src="{{ STATIC_URL }}img/payitforward/protect-america-logo.png" alt="protect-america-logo" width="200" height="43" />
            </div>
            <div class="twitter-icons">
                <a href="http://www.twitter.com/protectamerica" target="_blank">
                    <img width="46" height="46" alt="Twitter%20Icon" src="http://static.protectamericasecurity.net/img/payitforward/Twitter%20Icon.png">
                </a>
            </div>
            <div class="facebook-icon">
                <a href="http://www.facebook.com/protectamerica" target="_blank">
                    <img width="46" height="46" alt="facebook%20icon" src="http://static.protectamericasecurity.net/img/payitforward/facebook%20icon.png">
                </a>
            </div>
            <div class="linked-in">
                <a href="http://www.linkedin.com/company/protect-america" target="_blank">
                    <img src="{{ STATIC_URL }}img/payitforward/linked-in.png" alt="linked-in" width="50" height="45" />
                </a>
            </div>
            <div class="google-plus">
                <a href="https://plus.google.com/113573642727337197280/posts" target="_blank">
                    <img style="padding-left: 6px;" src="{{ STATIC_URL }}img/payitforward/google-plus.png" alt="google-plus" width="46" height="46" />
                </a>
            </div>
            <div class="blog">
                 <a href="http://www.protectamerica.com/home-security-blog" target="_blank">
                    <img style="padding-left: 3px;" src="{{ STATIC_URL }}img/payitforward/blog-icon.png" alt="blog-icon" width="46" height="46" />
                </a>
            </div>
            <div class="url">
                <h1 style="padding-left: 15px;" class="tk-etica"><a href="http://www.protectamerica.com" target="_blank">protectamerica.com</</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}