{% extends "base.html" %}


{% load testimonial_tags sekizai_tags %}


{% block page_title %}Payitforward{% endblock %}



{% block content %}

{% block comment %}

	Waldy if when testing you see tweets that are not payitforward, dont
	be alarmed. I have it set to just fetch all of PA's tweets while testing 
	and when its pushed live it will pull the payitforward tweets (with the settings.DEBUG value).
	Reason being there aren't any payitfoward tweets to test on yet.
	*If you are not getting any tweets or have some type of error make sure you use this command to migrate
	"python manage.py migrate newsfeed"

{% endblock %}

{% if tweets %}
	{% for tweet in tweets %}
			<h1>{{ tweet.text }}</h1></br>
				{% if tweet.payitfoward %} 
				{{ tweet.GetRelativeCreatedAt }}
				{% else %}
				{{ tweet.relative_created_at }}
				{% endif %}
			</br>

	{% endfor %}

{% else %}

	<h1>No tweets available</h1>
{% endif %}

{% endblock %}