@import "../../style";

#main-container {
    .content-box(960px);
    #header {
        background-image:url('../../../img/affiliates/ppc-adt-clone/blue-background.jpg');
        background-repeat:repeat-x;
        height: 286px;
        border-bottom: @red 2px solid;
        h1 {
            font-size: 30px;
            color: @blue;
            padding-top: 35px;
            padding-left: 32px;
        }
        p {
            font-size: 40px;
            color: @black;
        }
        ul {
            margin-top: 25px;
            li{
                float: left;
                margin-left: 25px;
            }
            p {
            font-color: @black;
            font-size: 12px;
            width: 85px;
            text-align: center;
            line-height: 15px;
            font-weight: 600;
            }
        }
        #family-photo {
            float: right;
            margin-top: -247px;
        }
    }
    .middle-container {
        .content-box(640px);
        width: 630px;
        .call-outs-moving {
            background-image:url('../../../img/affiliates/ppc-adt-clone/moving-photo.png');
            background-repeat: no-repeat;
            background-position:right; 
            height: 190px;
            margin-left: 35px;
            margin-top: -4px;
            padding-left: 25px;
            .drop-shadow(-5/5px, 5px, 5px, @light-grey);
            .check-mark-container {
                padding-top: 35px;
                padding-left: 25px;
                ul {
                    li {
                        float: left;
                        line-height: 17px;
                        list-style-image: url('../../../img/affiliates/ppc-adt-clone/check-mark.png');
                       
                    }
                }
            }   
            h1 {
                color: @red;
                font-size:28px;
                padding-top: 10px;
                font-weight: 200;
            }
           h2 {
                color: @red;
                font-size: 25px;
                font-weight: 400;
                margin-top: -12px;
                p {
                    width: 330px;
                    font-size: 14px;
                    color: @black;
                    padding-top: 10px;
                    line-height: 22px;
                    letter-spacing: .5px;
                }
            }
        }
    }
    .awards {
        .topconsumerreviews {
            h4 {
                background-image: url('../../../img/affiliates/ppc-adt-clone/top-consumer-reviews-logo.png');
                width: 94px;
            }
        }
    }
}
