@import "../../style";

#main-container {
    .content-box(960px);
    #header {
        background-image:url('../../../img/affiliates/ppc-adt-clone/blue-background.jpg');
        background-repeat:repeat-x;
        height: 286px;
        border-bottom: @red 2px solid;
        h1 {
            font-size: 30px;
            color: @blue;
            padding-top: 35px;
            padding-left: 32px;
        }
        p {
            font-size: 40px;
            color: @black;
        }
        ul {
            margin-top: 25px;
            li{
                float: left;
                margin-left: 25px;
                &:hover {
                    cursor:pointer;
                    color: blue;
                }
                &.active {
                    display: block;
                    color: blue; 
                }
            }
            p {
            font-color: @black;
            font-size: 12px;
            width: 85px;
            text-align: center;
            line-height: 15px;
            font-weight: 600;
            }
        }
        #family-photo {
            float: right;
            margin-top: -247px;
        }
    }
    .controls {
        margin-top: -21px;
    }
    .middle-container {
        .content-box(640px);
        width: 630px;
        height: 500px;
        .call-out-description{
            .control-moving {
                background-image:url('../../../img/affiliates/ppc-adt-clone/moving-photo.png');
                background-repeat: no-repeat;
                background-position:right; 
                height: 190px;
                margin-left: 35px;
                margin-top: -4px;
                padding-left: 25px;
                .drop-shadow(-5/5px, 5px, 5px, @light-grey);
                h1 {
                    color: @red;
                    font-size:28px;
                    padding-top: 10px;
                    font-weight: 200;
                }
                h2 {
                    color: @red;
                    font-size: 25px;
                    font-weight: 400;
                    margin-top: -12px;
                    p {
                        width: 330px;
                        font-size: 14px;
                        color: @black;
                        padding-top: 10px;
                        line-height: 22px;
                        letter-spacing: .5px;
                    }
                }
            }
            .control-247 {
                background-image:url('../../../img/affiliates/ppc-adt-clone/24-7-image.gif');
                background-repeat: no-repeat;
                background-position:right; 
                height: 190px;
                margin-left: 35px;
                margin-top: -4px;
                padding-left: 25px;
                .drop-shadow(-5/5px, 5px, 5px, @light-grey);
                h1 {
                    color: @red;
                    font-size:28px;
                    padding-top: 10px;
                    font-weight: 200;
                }
                h2 {
                    color: @red;
                    font-size: 25px;
                    font-weight: 400;
                    margin-top: -12px;
                    p {
                        width: 375px;
                        font-size: 14px;
                        color: @black;
                        padding-top: 10px;
                        line-height: 20px;
                        letter-spacing: .5px;
                    }
                }
            }
            .control-lifetime {
                background-image:url('../../../img/affiliates/ppc-adt-clone/ul-logo.png');
                background-repeat: no-repeat;
                background-position:right; 
                height: 190px;
                margin-left: 35px;
                margin-top: -4px;
                padding-left: 25px;

                .drop-shadow(-5/5px, 5px, 5px, @light-grey);
                h1 {
                    color: @red;
                    font-size:28px;
                    padding-top: 10px;
                    font-weight: 200;
                }
                h2 {
                    color: @red;
                    font-size: 25px;
                    font-weight: 400;
                    margin-top: -12px;
                    p {
                        width: 375px;
                        font-size: 14px;
                        color: @black;
                        padding-top: 10px;
                        line-height: 20px;
                        letter-spacing: .5px;
                    }
                }
            }
            .control-twenty-percent {
                background-image:url('../../../img/affiliates/ppc-adt-clone/20percent-off-image.gif');
                background-repeat: no-repeat;
                background-position:right; 
                height: 190px;
                margin-left: 35px;
                margin-top: -4px;
                padding-left: 25px;
                .drop-shadow(-5/5px, 5px, 5px, @light-grey);
                h1 {
                    color: @red;
                    font-size:28px;
                    padding-top: 10px;
                    font-weight: 200;
                }
                h2 {
                    color: @red;
                    font-size: 25px;
                    font-weight: 400;
                    margin-top: -12px;
                    p {
                        width: 325px;
                        font-size: 14px;
                        color: @black;
                        padding-top: 5px;
                        line-height: 20px;
                        letter-spacing: .5px;
                    }
                }
            }
            .control-lowest-price {
                background-image:url('../../../img/affiliates/ppc-adt-clone/lowest-price.gif');
                background-repeat: no-repeat;
                background-position:right; 
                height: 190px;
                margin-left: 35px;
                margin-top: -4px;
                padding-left: 25px;
                .drop-shadow(-5/5px, 5px, 5px, @light-grey);
                h1 {
                    color: @red;
                    font-size:28px;
                    padding-top: 10px;
                    font-weight: 200;
                }
                h2 {
                    color: @red;
                    font-size: 25px;
                    font-weight: 400;
                    margin-top: -12px;
                    p {
                        width: 325px;
                        font-size: 14px;
                        color: @black;
                        padding-top: 5px;
                        line-height: 20px;
                        letter-spacing: .5px;
                    }
                }
            }
        }
        .check-mark-container {
            margin-top: 30px;
            padding-left: 75px;
            height: 275px;
            width: 530px;
            ul {
                li {
                    float: left;
                    line-height: 17px;
                    list-style-image: url('../../../img/affiliates/ppc-adt-clone/check-mark.png');
                }
            }
        }   
    }
    #quote {
        .content-box(290px);
        height: 395px;
        margin-top: -4px;
        p {
            color: white;
            font-size: 29px;
        }
        .awards {
            width: 290px;
            margin-top: 400px;
            .top-consumer {
                height: 55px;
                padding-left: 15px;
            }
            .top-consumer-text {
                font-size: 11px;
                line-height: 15px;
                font-weight:bold;
                float: right;
                width: 160px;
            }
            .best-buy {
                height: 55px;
                padding-left: 60px;
                margin-top: 15px;
            }
            .best-buy-text {
                font-size: 11px;
                line-height: 15px;
                font-weight:bold;
                float: right;
                width: 160px;
            }
        }
    }
    #call-box {
        width:926px;
        background:#fcfcfc;
        border:1px solid #cccccc;
        padding:24px 16px;
        margin:15px 0;-webkit-transition:background-color 0.3s ease-out;-moz-transition:background-color 0.3s ease-out;transition:background-color 0.3s ease-out;
    }
    #call-box p {
        color:#0069aa;
        font-size:40px;
        line-height:36px;
        margin-bottom:10px;
        padding-left: 50px;
    }
}
