@import "../../style.less";

#popup-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    background: @black;
    z-index: 9999;
    top: 0;
    left: 0;
    #touchscreen-popup {
        width: 640px;
        background: @white;
        height: 480px;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -240px;
        margin-left: -320px;
        .drop-shadow(0, 2px, 5px, #000);
        #popup-callbox {
            background: @red;
            display: block;

            p {
                display: block;
                line-height: 72px;
                height: 80px;
                text-align: center;
                color: @white;
                font-size: 72px;
                font-weight: bold;
            }
        }
        #popup-close {
            
        }
    }
}
