{% extends "products/video/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}
{% block page_title %}Security Cameras | Wireless Security Camera | Interactive Video{% endblock %}
{% block page_keywords %}security system,alarm,security,home security,security system,alarm system{% endblock %}
{% block page_description %}Watch over your house without even being home using Protect America Interactive Video Home Security Services. Get 24/7 on-demand video with automatic recording cued by movement.{% endblock %}

{% block content %}
<div id="interactive-video-overview">
    <div id="laptop-and-camera-image">
        <img src="/static/img/products/video/laptop-and-interactive-camera.jpg" class="image-break">
    </div>
    <div id="interactive-video-overview-content">
        <h1>Interactive Video<br>Home Security Services</h1>
        <p>Protect America allows you to gain a true picture of what is happening in your home or business with 24 / 7 on-demand video. Get enhanced security with our pan and tilt video cameras, archived clips, event notifications, and automatic recording when movement is detected. With Protect America's video services, peace of mind is just an instant click away.  </p>
        <div class="button-submit">
            <a href="{% url order-package %}" title="Click to Order Interactive Video Security">Get Interactive Video Security ></a>
        </div>
    </div>
    <div class="clear"></div>
</div>
{% include "order/quote-form.html" with form=forms.basic %}

<div>
    <div id="video-security-for-your-home">
        <a href="{% url video-home %}" title="24 / 7 Video Security For Your Home">
        <img src="/static/img/products/video/video-residential.jpg" />
        <h2>24 / 7 Video Security<br>For Your Home</h2>
        </a>
        <p>Easily check on maintenance workers, pets, or babysitters by accessing your home's secure LIVE video feed while at work or even on vacation. Protect America makes it easy to add video home security into your house today.</p>
        <div class="button-link">
            <a href="{% url video-home %}" title="Click to See how to use video cameras in your home"> Interactive Home Video Cameras > </a>
        </div>
    </div>
    <div id="video-security-for-your-business">
        <img src="/static/img/products/video/video-business.jpg" />

        <h2><a title="24 / 7 Video Security For Your Business" href="{% video-business %}">24 / 7 Video Security<br>For Your Business</a></h2>
        <p>Deter shoplifters, watch employees, or keep an eye on your company safe by accessing your business' secure video feed online, anywhere and at anytime. With Protect America, you can easily keep an extra eye on your business with our video security services.</p>
        <div class="button-link">
            <a href="{% url video-business %}" title="Click to See how to use video cameras for your business"> Interactive Business Video Cameras > </a>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>
    {% include "order/call-box.html" %}

<div>
    <div id="video-security-anywhere">      
        <h2>Video Home Security<br>Here, There, Everywhere.</h2>
        <p>These days, we are always on the go.  Whether you are traveling for work or heading to the beach to relax, we find ourselves spending less time at home.  Unfortunately, being gone makes it a perfect time for a burglar to strike.  So, we made it easy to check in at home anytime, and anywhere with our smart phone app. Just click the icon and you can view your own live feed from your home security cameras.  Also, you will stay notified with text notifications that can be read straight from your phone.</p>
    </div>
    <div id="i-phone-compatible">
        <img src="/static/img/products/video/iphone-blackberry-compatible.jpg" alt="Use your Blackberry or iPhone to access your video cameras">            
    </div>
    <div class="clear"></div>
</div>
<div id="customer-testimonials">
    <h2>Real Customers Talking about Protect America:</h2>
    <ul id="main-testimonials">
    {% testimonial_search "video" "limit=10&words=100" %}
    </ul>
</div>

<div>
    <div id="already-own-system">       
        <img src="/static/img/products/platinum-package/platinum-sml.jpg" alt="Interactive Video works perfectly with other Protect America security systems">          
        <h3>Already Own a Protect America Home Security System?</h4>
        <p>No problem. Our interactive video system is designed to work in conjunction with your home security system. It is the perfect way to add video surveillance and security to any home.</p>
    </div>
    <div id="wifi-compatible">  
        <img src="/static/img/external/wifi-logo.jpg" alt="Cameras connect wirelessly for easy set-up">
        <h3>Wirelessly Connected. WiFi Compatible.</h4>         
        <p>WiFi compatible cameras give you true freedom of placing your cameras where they would be the most effective. You don't have to worry about drilling or awkward wires.</p>
    </div>
    <div id="online-archived-video">        
        <img src="/static/img/products/video/archived-video-sml.jpg" alt="Store recorded video clips online for later viewing">         
        <h3>Online Storage and Archived Video</h4>
        <p>Our video home security comes with an automated archiving feature that allows you to store your videos when an event is triggered. This means that you can view it on your time and access your stored videos when you need them.</p>
    </div>  
    <div class="clear"></div>
</div>
{% addtoblock "js" %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cycle.all.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('#main-testimonials').cycle({
            fx: 'fade',
            timeout: 9000
        });
    });
    </script>
{% endaddtoblock "js" %}
{% endblock %}  

