{% extends "products/video/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}
{% block page_title %}Home Security Systems | Alarm Systems | Protect America{% endblock %}
{% block page_keywords %}video surveillance, home video security, security cameras, nanny cam, home video surveillance, surveillance camera, wireless security camera{% endblock %}
{% block page_description %}With our interactive video home security services, we bring you easy to use, high-quality video security. So you can easily check in at home anytime of day and from anywhere.{% endblock %}

{% block content %}
<div id="interactive-video-business-overview">
    <div id="business-overview-image">
        <img src="{{ STATIC_URL }}img/products/video/video-security-for-business.jpg" alt="video-security-for-business" width="293" height="247" />
    </div>
    <div id="business-overview-content">
        <h1>Keep An Eye On Your Store Even While You're Away.</h1>
        <p>With our interactive video security services, we bring you easy to use, high-quality video security that allows you to keep an eye on your business anytime of day and from anywhere. Worried about your employees? Easy, log in with your laptop and view your cameras. Need an extra eye on the safe? No problem, just use your smartphone to make sure everything is okay. With video security, watching the store is just a click away.</p>
    </div>
    <div class="clear"></div>
</div>
{% include "order/quote-form.html" with form=forms.basic %}
<div class="clear"></div>


<div>
    <div id="after-hours">
        <img src="{{ STATIC_URL }}img/products/video/closed-sign.jpg" alt="closed-sign" width="180" height="160" />
        <h3>After Hours Video Surveillance</h3>
        <p>Waking up in a cold sweat at night because you're worried about your business? Check in at anytime to make sure everything is alright.</p>
    </div>
    <div id="deter-shoplifters">
        <img src="{{ STATIC_URL }}img/products/video/money-bags.jpg" alt="money-bags" width="180" height="160" />
        <h3>Keep your Inventory Safe. Deter Shoplifters.</h3>
        <p>A visible camera on your products helps you keep shoplifters at bay.</p>
    </div>
    <div id="employee-theft">
        <img src="{{ STATIC_URL }}img/products/video/safe-box.jpg" alt="safe-box" width="180" height="160" />
        <h3>Reduce Employee Theft with an Extra Level of Security</h3>
        <p>Always have an "eye in the sky" to watch sensitive areas such as your store's safe to stop employee theft.</p>
    </div>

</div>
<div id="employee-watch">
    <img src="{{ STATIC_URL }}img/products/video/company-blackberry.jpg" alt="company-blackberry" width="366" height="308" />

    <div id="employee-content">
        <h2>What Exactly Are Your Employees Doing?</h2>
        <p>Well now, you'll know. Because with our interactive video security, you get an extra set of "eyes" to be able to watch your business. So you can easily make sure your employees stay on task and are working rather than goofing off. And checking in on your phone is just a click away with our easy to use smart phone apps.</p>
    </div>

    <div class="clear"></div>
</div>
<div class="clear"></div>
    {% include "order/call-box.html" %}
<div id="camera-callout">
    <img src="{{ STATIC_URL }}img/products/video/big-camera.jpg" alt="big-camera" width="356" height="327" />
    <div id="camera-callout-content">
        <h2>Get the Full, Clear, Unpixelated Picture</h2>
        <p>With traditional video cameras, you are stuck with a small fixed viewing area. And lower resolution cameras mean you get an unrecognizable, pixelated image. So when creating our home security video services, we built in pan and tilt capabilities with every camera. This allows you to control the lens, moving it side-to-side as well as up and down to "look" around a room. And we made sure you get a nice clear picture with up to 30 frames per second at 640x480 resolution.</p>
    </div>
    <div class="clear"></div>
    <table class="presentational-table">
        <thead>
            <tr>
                <th colspan="4">Technical Specifications</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>Video</strong></td>
                <td>
                    <li>Compression: Motion JPEG, MPEG-4, H.264</li>
                    <li>Streaming: Simultaneous dual streams, MPEG-4 streaming over UDP, TCP, or HTTP MPEG-4 multicast streaming MJPEG streaming over HTTP Supports 3GPP mobile surveillance</li>
                    <li>Resolutions: MJPEG video with resolution up to 640x480 MPEG-4 video with resolution up to 640x480</li>
                    <li>Frame rates: 176x144 up to 30fps, 320x240 up to 30fps, 640x480 up to 30fps</li>
                </td>
                <td><strong>Security</strong></td>
                <td>
                    <li>Compression: Motion JPEG, MPEG-4, H.264</li>
                    <li>Streaming: Simultaneous dual streams, MPEG-4 streaming over UDP, TCP, or HTTP MPEG-4 multicast streaming MJPEG streaming over HTTP Supports 3GPP mobile surveillance</li>
                    <li>Resolutions: MJPEG video with resolution up to 640x480 MPEG-4 video with resolution up to 640x480</li>
                    <li>Frame rates: 176x144 up to 30fps, 320x240 up to 30fps, 640x480 up to 30fps</li>
                </td>
            </tr>
            <tr>
                <td><strong>Audio</strong></td>
                <td>
                    <li>Compression: MPEG-4 AAC audio encoding: 16~128 kbps</li>
                </td>
                <td><strong>Notification</strong></td>
                <td>
                    <li>IVR Phone, SMS, or Email</li>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td><strong>Requirements:</strong></td>
                <td colspan="3">
                    <li>OS: Microsoft Windows® 2000/XP/Vista/7, Apple Mac®, or Linux®</li>
                    <li>Browser: Internet Explorer® 5.x or above, Firefox® and Safari®, Quick Time® player</li>
                    <li>Mobile phone: Blackberry®, iPhone®, Symbion OS (Nokia®) with data plan</li>
                    <li>Camera: Minimum 5mb/s down &amp; 1mb/s up Broadband Internet</li>
                </td>
            </tr>
        </tfoot>
    </table>

</div>
{% addtoblock "js" %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cycle.all.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('#main-testimonials').cycle({
            fx: 'fade',
            timeout: 9000
        });
    });
    </script>
{% endaddtoblock "js" %}
{% endblock %}  

