{% extends "products/equipment/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}
{% block page_title %}Home Automation | X-10 Home Automation | Protect America{% endblock %}
{% block page_keywords %}home automation devices, home security, x10 lamp module, x10 appliance module, x10 power horn module,{% endblock %}
{% block page_description %}Protect America offers complete home automated control with Z-Wave techonology.{% endblock %}

{% block content %}
<div id="hero-wrapper" class="yellow">
    <div id="hero-image">
        <div id="hero-content">
            <i class="icon-home-automation"></i>
            <h2>Protect America Equipment</h2>
            <h1>Home Automation</h1>
            <p>Home automation can seamlessly add wireless control to  everyday household tasks, like turning lights off and on and controlling various appliances. It even can lock and unlock your front door. Protect America proudly offers home management equipment featuring Z-Wave technology, the most widely recognized standard for home automation.</p>
            <img src="{{ STATIC_URL }}img/products/home-automation/home-auto-icon.png" class="main-hero-image" />


        </div>

    </div>
</div>
{% include "order/call-box.html" %}
<div id="in-home-wrapper">
    <div id="in-your-home">
        <div class="home-img">
            <img src="{{ STATIC_URL }}img/products/simon-xt/in-the-home-simon-xt.jpg" alt="in-the-home-simon-xt" />
        </div>
        <div class="home-content">
            <strong>In The Home:</strong>
            <h2>Home Automation</h2>
            <p>Z-Wave automation is the perfect way to turn your house into a 'Smart' Home.  Combined with our interactive SMART Connect app, you can control various appliances and controls from anywhere.  Set up scenes to have your home just the way you like it when you get home from work. Or if you lost your keys, just use your i-Phone to unlock the door. Anything is possible with Z-Wave home automation.</p>
            <a href="{% url interactive-control %}" class="button-link">SMART Connect <i class="icon-chevron-right"></i></a>
        </div>
    </div>
    <img src="{{ STATIC_URL }}img/hero-backgrounds/inside-home.jpg" alt="inside-home" class="in-home-bg" />
    <div class="clear"></div>
</div>
<div class="clear"></div>
<div class="wrapper">
    <div id="featured-equipment">
        <h2>Featured Equipment</h2>
        {% comment %}
        <div class="equipment-piece">
            <a href="{% url door-lock %}" class="equipment-piece">
                <img src="{{ STATIC_URL }}img/products/zwave-door-lock/zwave-door-lock-small.jpg" alt="in-the-home-door-window-sensor" width="192" height="192" />
                <h3>Z-Wave Door Lock</h3>
            </a>
            <div class="clear"></div>
            <a href="{% url door-lock %}" class="button-link">Learn More <i class="icon-chevron-right"></i></a>
        </div>
        {% endcomment %}
        <div class="equipment-piece">
            <a href="{% url appliance-module %}" class="equipment-piece">
                <img src="{{ STATIC_URL }}img/products/appliance-module/appliance-module-white.jpg" alt="in-the-home-door-window-sensor" width="192" height="192" />
                <h3>Appliance Module</h3>
            </a>
            <div class="clear"></div>
            <a href="{% url appliance-module %}" class="button-link">Learn More <i class="icon-chevron-right"></i></a>
        </div>
        <div class="equipment-piece">
            <a href="{% url indoor-siren %}" class="equipment-piece">
                <img src="{{ STATIC_URL }}img/products/indoor-siren/indoor-siren-white.jpg" alt="in-the-home-door-window-sensor" width="192" height="192" />
                <h3>Indoor Siren</h3>
            </a>
            <div class="clear"></div>
            <a href="{% url indoor-siren %}" class="button-link">Learn More <i class="icon-chevron-right"></i></a>
        </div>


    </div>
    <div class="clear"></div>
</div>
{% endblock %}  

