{% extends "products/equipment/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}
{% block page_title %}GE Simon XT Control Panel | Alarm Systems | Protect America{% endblock %}
{% block page_keywords %}wireless home security system, home security, home security monitoring, x10 home automation, homepulse, latchkey feature, pan{% endblock %}
{% block page_description %}Protect America's GE Simon XT secures and protects your home and family by alarming you of a break-in.{% endblock %}

{% block content %}
<div id="hero-wrapper" class="blue">
    <div id="hero-image">
        <div id="hero-content">
            <i class="icon-home-security"></i>
            <h2>Home Security</h2>
            <h1>Simon XT Control Panel</h1>
            <p>Meet Simon. The control panel and brains of your home security system.</p>
            <h3>Included in any package.</h3>
            <a href="{% url shop %}" title="shop" class="button-link">Shop Packages <i class="icon-chevron-right"></i></a>

        </div>
        <img src="{{ STATIC_URL }}img/products/simon-xt/simon-xt-hero.jpg" class="main-hero-image" alt="Simon XT" />

    </div>
</div>
{% include "order/call-box.html" %}
<div class="wrapper">
    <div class="video-features">
        <div class="video-content">
            <h2>Simple to Use. <span>Reliable Security.</span></h2>
            <p>The Simon XT is the operations center for your entire alarm system. It checks in with each wireless sensor and other devices to make sure everything is doing alright.</p>
            <p>Unlike other wireless security systems, the Simon XT provides a full-featured home security platform that combines the best of home security with ease of use. Its one button arming makes it easy to secure your home and loved ones.</p>
        </div>
        <div class="video-frame">
            <iframe width="400" height="225" src="http://www.youtube.com/embed/Dvx_HZQ4qq0?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div id="in-home-wrapper">
    <div id="in-your-home">
        <div class="home-img">
            <img src="{{ STATIC_URL }}img/products/simon-xt/in-the-home-simon-xt.jpg" alt="In The Home;Simon XT" />
        </div>
        <div class="home-content">
            <strong>In The Home:</strong>
            <h2>The Simon XT</h2>
            <p>  Placed in a central location, the Simon XT can be used to arm your system with its one-button arming, call emergency response or disarm your system with its keypad. The security panel connects with up to 40 home security, life safety or home automation sensors to secure your entire home. Though we think its most important feature is the dependable protection it provides for your family.</p>
            <a href="{% url shop %}" title="Shop" class="button-link">Shop Packages <i class="icon-chevron-right"></i></a>
        </div>
    </div>
    <img src="{{ STATIC_URL }}img/hero-backgrounds/inside-home.jpg" alt="In The Home;Background" class="in-home-bg" />
    <div class="clear"></div>
</div>
<div class="wrapper">
    <div id="simon-xt-features">
        <h2>Explore the GE Simon XT Features:</h2>
        <p>The GE Simon XT is the smallest control panel of its kind. The GE Simon XT is able to support a complete family of wireless sensors and accessories. For smarter, safer protection, the intelligence of the GE Simon XT will provide your family with the highest measure of security and convenience at an incredible value. <strong>Click the "+" Icons on the GE Simon XT to Learn More</strong></p>
        <div id="equipment-features">
    
    
    
            <div class="equipment-feature" style="left: 700px; top: 358px;">
                <div class="feature-icon">+</div>
                <div class="feature-content left">
                    <h3>40 Wireless Zones</h3>
                    <p>With the ability to operate up to 40 wireless zones, the GE Simon XT can support up to 40 total wireless security devices such as door or window entry point sensors, motion detectors, keychain remote controls and more.</p>
                </div>
            </div>
            <div class="equipment-feature" style="left: 679px; top: 46px;">
                <div class="feature-icon">+</div>
                <div class="feature-content left">
                    <h3>24-Hour Rechargeable Battery Back-Up</h3>
                    <p>In the event of a power failure your Command Station will automatically convert from AC to DC. With the back-up battery, your system remains up and running in the event of a power outage for up to 24 hours and will automatically recharge once power is restored.</p>
                </div>
            </div>
            <div class="equipment-feature" style="left: 290px; top: 310px;">
                <div class="feature-icon">+</div>
                <div class="feature-content right">
                    <h3>24 Hour Emergency Panic Button</h3>
                    <p>The GE Simon XT provides you access to emergency panic buttons on your control pad and other available wireless devices that allows you to summon help 24 hours a day from anywhere inside your home.</p>
                </div>
            </div>
    
            <div class="equipment-feature" style="left: 256px; top: 123px;">
                <div class="feature-icon">+</div>
                <div class="feature-content right">
                    <h3>Super Loud Built-In Warning Piezo Siren</h3>
                    <p>The built-in siren is 85dB and will alert any intruder that they have been detected by the system and alerts you of a break-in or other problem in your home.</p>
                </div>
            </div>
    
    
            <div class="equipment-feature" style="left: 576px; top: 300px;">
                <div class="feature-icon">+</div>
                <div class="feature-content left">
                    <h3>Configurable Door & Window Chimes</h3>
                    <p>The GE Simon XT wireless home security system will, at your request, act as a door and/or window chime anytime a door or window is opened. Should your child try to slip out a door unattended, the system will pleasantly notify you with an audio chime that you select from the system's configurable chime options.</p>
                </div>
            </div>
            <div class="equipment-feature" style="left: 400px; top: 212px;">
                <div class="feature-icon active">x</div>
                <div class="feature-content right first-open">
                    <h3>Built-In Touchpad with One Button Arming</h3>
                    <p>Arming your wireless home security system is as easy as pushing a single button. The GE Simon XT wireless home security system comes with entry and exit delays at the doors you select, and you can also put these same doors and windows on instant alert and arm with the push of a single button.</p>
                </div>
            </div>
    
    
            <div class="equipment-feature" style="left: 80px; top: 300px;">
                <div class="feature-icon">+</div>
                <div class="feature-content left">
                    <h3>Innovative Wireless Technology Allows for Simple Installation</h3>
                    <p>Simon XT is a full-featured home security platform that's installed in minutes yet delivers years of dependable protection for you and your family. Simon XT employs advanced wireless technology, so installation doesn't involve the mess and expense of running wires to detectors and sensors.</p>
                </div>
            </div>
            <div class="equipment-feature" style="left: 412px; top: 300px;">
                <div class="feature-icon">+</div>
                <div class="feature-content right">
                    <h3>9 User-Programmable Access Codes</h3>
                    <p>The GE Simon XT wireless home security system allows you to have one master access code and up to 8 additional programmable user codes. These 4 digit access codes can be assigned to your children so you'll know anytime they disarm the system. You can also use separate access codes for your baby-sitter, housekeeper, neighbor, relatives, etc.</p>
                </div>
            </div>
            <div class="equipment-feature" style="left: 849px; top: 40px;">
                <div class="feature-icon">+</div>
                <div class="feature-content right">
                    <h3>Remote System Control Via Telephone</h3>
                    <p>The GE Simon XT allows you the option to control your system remotely from any telephone by dialing into your system. With this feature, you can check system status, arm and disarm the system, activate a no-entry delay, or activate the latchkey feature.</p>
                </div>
            </div>
    
            <div class="equipment-feature" style="left: 680px; top: 285px;">
                <div class="feature-icon">+</div>
                <div class="feature-content left">
                    <h3>Fully Supervised (Self-testing)</h3>
                    <p>Most of the sensors for the GE Simon XT wireless home security system report in regularly to the Command Station by sending a signal. In the event a sensor does not report in, the Status Button on your GE Simon XT will light up. This informs you that your Command Station has some important information to share with you and helps ensure that you know your alarm system is working properly.</p>
                </div>
            </div>
            <div class="equipment-feature" style="left: 321px; top: 144px;">
                <div class="feature-icon">+</div>
                <div class="feature-content right">
                    <h3>Built-In Digital Voice Commands</h3>
                    <p>Built-in digital voice commands provide instructions for operating the system plus it tells you the status of your system and the location of an alarm. The system even tells you anytime a door or window is opened! It is so simple that even a small child can follow the instructions and use the system.</p>
                </div>
            </div>
            <div class="equipment-feature" style="left: 552px; top: 169px;">
                <div class="feature-icon">+</div>
                <div class="feature-content right">
                    <h3>Numeric Keypad with Status Button</h3>
                    <p>The GE Simon XT comes equipped with a backlit numeric keypad for access codes and control functions providing easy to understand arm, disarm, and status buttons. If the Status Button is lit, simply press the button and the Simon XT audio status messages will notify you if a particular module needs battery replacement, or if there has been an activation in your absence, etc.</p>
                </div>
            </div>
            <div class="equipment-feature" style="left: 500px; top: 95px;">
                <div class="feature-icon">+</div>
                <div class="feature-content left">
                    <h3>Large Backlit Buttons and LCD Display</h3>
                    <p>Easy to see backlit buttons and controls with a large LCD screen to keep you updated with pertinent information and easy navigation of your home security controls.</p>
                </div>
            </div>
            <div class="equipment-feature" style="left: 100px; top: 80px;">
                <div class="feature-icon">+</div>
                <div class="feature-content left">
                    <h3>Latchkey Pager Feature</h3>
                    <p>Parents need to know when their children are home safely from school. With the GE Simon XT, receive automatic notification if your child's pass code is not entered before a set time. The GE Simon XT can call any telephone and deliver a clear, concise voice message notifying you of system events such as alarms, latchkey disarming and more.</p>
                </div>
            </div>
            <div class="equipment-feature" style="left: 362px; top: 50px;">
                <div class="feature-icon">+</div>
                <div class="feature-content right">
                    <h3>GE Security Equipment</h3>
                    <p>All of our systems feature GE Security Certified products. This means that you get the reliability and flexibility known throughout the security industry for GE alarm systems.</p>
                </div>
            </div>
        </div>
        {% comment %}
        <table id="tech-specs">
            <thead>
                <tr>
                    <th colspan="2">Technical Specifications</th>
                </tr>
            </thead>
            <tbody>
    
                <tr class="alt">
                    <td>Color</td>
                    <td class="omega">Natural White</td>
                </tr>
                <tr>
                    <td>Height / Length</td>
                    <td class="omega">5.7in / 7.05in</td>
                </tr>
                <tr class="alt">
                    <td>Dialing Format</td>
                    <td class="omega">DTMF / Pulse</td>
                </tr>
                <tr>
                    <td>Regulatory Approval</td>
                    <td class="omega">UL 985, CSFM, FCC Part 15, FCC Part 68, UL 1023, UL 1635, ULC ORD-C1023-1974, ULC-S545-M89</td>
                </tr>
                <tr class="alt">
                    <td>Operating Environment</td>
                    <td class="omega">32 to 122°F (90.0% RH)</td>
                </tr>
            </tbody>
        </table>
        {% endcomment %}
        <img src="{{ STATIC_URL }}img/products/security-panels/ge-simon-xt-layout.jpg" alt="Explore the GE Simon XT" class="equipment-bg" width="918" height="496" />
    </div>
    <div class="clear"></div>
</div>
{% addtoblock "js" %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.easing.1.3.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {

        $('.feature-icon').click(function(){
            var icon = $(this).clone();
            $('.feature-icon').removeClass('active').html('+');
            $('.feature-content').slideUp(250, 'easeOutBounce');
            if(!$(icon).hasClass('active')) {
                $(this).addClass('active').html('x').next('.feature-content').slideDown(250, 'easeOutBounce');
            }
        });
    });
    </script>
{% endaddtoblock "js" %}
{% endblock %}  

{% block page-product %}
    <h2>The GE Simon XT</h2>
    <p><span>Included in any Package.</span></p>

    <div class="button-submit">
        <a href="{% url order-package %}?package=silver" onClick="_gaq.push(['_trackEvent', 'Order Now', 'Order Now Package Footer Click', 'Simon XT Touchscreen']);">Order Now ></a>
    </div>
{% endblock %}

