{% extends "products/equipment/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}
{% block page_title %}GE Simon 3 Control Panel | Alarm Panels | Protect America{% endblock %}
{% block page_keywords %}simon 3, ge, ge simon 3, ge security, emergency response, control panel, alarm panel, latchkey pager{% endblock %}
{% block page_description %}The GE Simon 3 is the most affordable, yet reliable choice when selecting a control panel for your home security system. It comes standard with many great features like wireless control, digital voice technology, one button emergency response, and other great features you come to expect from a GE alarm system.{% endblock %}

{% block content %}
<div id="ge-simon-3-main">
    <div id="main-image">
        <img src="{{ STATIC_URL }}img/products/security-panels/ge-simon-3-large.jpg" alt="GE Simon 3 Control Panel" />
    </div>
    <div id="main-content">
        <h1>The GE Simon 3</h1>
        <p>The GE Simon 3 is the most affordable, yet reliable choice when selecting a control panel for your home security system. It comes standard with many great features like wireless control, digital voice technology, one button emergency response, and other great features you come to expect from a GE alarm system. But the best part is that the GE Simon 3 doesn't come with an expensive price tag. In fact, the GE Simon 3 comes free with our Copper and Bronze packages. You get great home protection with an unbeatable price.</p>
    </div>
</div>
{% include "order/quote-form.html" with form=forms.basic %}
<div class="clear"></div>

<div id="simon-3-features">
    <h2>Explore the GE Simon 3 Features:</h2>
    <p>The GE Simon 3 wireless security system offers proven performance in a quality-tested design with the added advantage of being extremely easy to install and operate. For affordable and reliable home security, the GE Simon 3 system delivers advanced security at an incredible value. <strong>Click the "+" Icons on the Simon 3 to Learn More</strong></p>
    <div id="equipment-features">
        <div class="equipment-feature" style="left: 566px; top: 111px;">
            <div class="feature-icon active">x</div>
            <div class="feature-content left first-open">
                <h3>Peace-of-Mind Installation</h3>
                <p>Because it's wireless, the GE Simon 3 can be installed in minutes, not days, anywhere within your residence – it just needs to be located near a 110v non-switched electrical outlet and either a working standard phone line or a working high speed Internet connection.</p>
            </div>
        </div>

        <div class="equipment-feature" style="left: 300px; top: 400px;">
            <div class="feature-icon">+</div>
            <div class="feature-content left">
                <h3>24 Wireless Zones</h3>
                <p>With the ability to operate up to 24 wireless zones, the GE Simon 3 can support up to 24 total wireless security devices such as door or window entry point sensors, motion detectors, keychain remote controls and more.</p>
            </div>
        </div>
        <div class="equipment-feature" style="left: 156px; top: 372px;">
            <div class="feature-icon">+</div>
            <div class="feature-content right">
                <h3> 24-Hour Rechargeable Battery Back-Up</h3>
                <p>In the event of a power failure your Command Station will automatically remain up and running for up to 24 hours and will automatically recharge once power is restored..</p>
            </div>
        </div>
        <div class="equipment-feature" style="left: 385px; top: 337px;">
            <div class="feature-icon">+</div>
            <div class="feature-content left">
                <h3>24-Hour Emergency Panic Button</h3>
                <p>You have access to an emergency panic button that allows you to summon help 24 hours a day.</p>
            </div>
        </div>

        <div class="equipment-feature" style="left: 95px; top: 232px;">
            <div class="feature-icon">+</div>
            <div class="feature-content right">
                <h3>Latchkey Pager Feature</h3>
                <p>Parents need to know when their children are home safely from school. If a child does not disarm the system within a scheduled time, the GE Simon 3 will call your telephone or pager to let you know. The GE Simon 3 can call any telephone and deliver a clear, concise voice message notifying you of system events such as alarms, latchkey disarming and more.</p>
            </div>
        </div>
        <div class="equipment-feature" style="left: 254px; top: 300px;">
            <div class="feature-icon">+</div>
            <div class="feature-content right">
                <h3>Door & Window Chime</h3>
                <p>The wireless home security system will, at your request, act as a door and/or window chime anytime a door or window is opened. Should your child try to slip out a door unattended, the system will pleasantly chime to notify you.</p>
            </div>
        </div>
        <div class="equipment-feature" style="left: 298px; top: 194px;">
            <div class="feature-icon">+</div>
            <div class="feature-content right">
                <h3>Built-In Touchpad with One Button Arming</h3>
                <p>Arming your wireless home security system is as easy as pushing a single button. The GE Simon 3 wireless home security system comes with entry and exit delays at the doors you select, and you can also put these same doors and windows on instant alert and arm with the push of a single button.</p>
            </div>
        </div>

        <div class="equipment-feature" style="left: 522px; top: 238px;">
            <div class="feature-icon">+</div>
            <div class="feature-content left">
                <h3>6 User-Programmable Access Codes</h3>
                <p>Your Status Button is part of your product on-site communication system. If the Status Button is lit, simply press the button and your Command Station will notify you if a particular module needs battery replacement, or if there has been an activation in your absence, etc.</p>
            </div>
        </div>

        <div class="equipment-feature" style="left: 221px; top: 144px;">
            <div class="feature-icon">+</div>
            <div class="feature-content right">
                <h3>Fully Supervised (Self-testing)</h3>
                <p>Each module in your wireless home security system communicates (or reports in) regularly to the Command Station by sending a signal. In the event a module does not report in, the Status Button on your wireless home security system will light up. This informs you that your Command Station has some important information to share with you.</p>
            </div>
        </div>
        <div class="equipment-feature" style="left: 386px; top: 253px;">
            <div class="feature-icon">+</div>
            <div class="feature-content right">
                <h3>X10 Home Automation Control</h3>
                <p>The GE Simon 3 gives you the option to control lights and appliances with X10 line carrier technology – by schedule, by event or with the press of a button. Control up to 8 individual X-10 devices such as light or appliance control units.</p>
            </div>
        </div>

        <div class="equipment-feature" style="left: 197px; top: 46px;">
            <div class="feature-icon">+</div>
            <div class="feature-content right">
                <h3>Easy-to-Understand System Operation</h3>
                <p>Built-in digital voice commands direct you through every step of operating the system plus it can tell you the status of your system and the location of an alarm. It is so simple that even a small child can follow the instructions and use the system.</p>
            </div>
        </div>
        <div class="equipment-feature" style="left: 418px; top: 138px;">
            <div class="feature-icon">+</div>
            <div class="feature-content right">
                <h3>Status Button</h3>
                <p>In the event of a power failure your Command Station will automatically remain up and running for up to 24 hours and will automatically recharge once power is restored.</p>
            </div>
        </div>
        <div class="equipment-feature" style="left: 450px; top: 54px;">
            <div class="feature-icon">+</div>
            <div class="feature-content right">
                <h3>Built-In Warning Siren</h3>
                <p>The built-in siren is 95dB and will alert any intruder that they have been detected by the system and alerts you of a break-in or other problem in your home.</p>
            </div>
        </div>
    </div>
    <table id="tech-specs">
        <thead>
            <tr>
                <th colspan="2">Technical Specifications</th>
            </tr>
        </thead>
        <tbody>

            <tr class="alt">
                <td>Color</td>
                <td class="omega">Belgian Gray</td>
            </tr>
            <tr>
                <td>Height / Length</td>
                <td class="omega">6.75in / 7.5in</td>
            </tr>
            <tr class="alt">
                <td>Auxilary Power VDC @ mA</td>
                <td class="omega">10.0 V @ 250.0 mA</td>
            </tr>
            <tr>
                <td>Regulatory Approval</td>
                <td class="omega">FCC Part 15, FCC Part 68, UL 985, UL 1023, UL 1635, ULC ORD-C1023-1974, ULC-S545-M89, CSFM</td>
            </tr>
            <tr class="alt">
                <td>Operating Environment</td>
                <td class="omega">32 to 122°F (90.0% RH)</td>
            </tr>
        </tbody>
    </table>
    <img src="{{ STATIC_URL }}img/products/security-panels/ge-simon-3-large.jpg" alt="GE Simon 3 Control Panel" class="equipment-bg" />
</div>
{% addtoblock "js" %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.easing.1.3.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('#search-testimonial-box').cycle({
            fx: 'fade',
            timeout: 9000
        });
        $('.feature-icon').click(function(){
            var icon = $(this).clone();
            $('.feature-icon').removeClass('active').html('+');
            $('.feature-content').slideUp(250, 'easeOutBounce');
            if(!$(icon).hasClass('active')) {
                $(this).addClass('active').html('x').next('.feature-content').slideDown(250, 'easeOutBounce');
            }
        });
    });
    </script>
{% endaddtoblock "js" %}
{% endblock %}  

{% block page-product %}
    <h2>The GE Simon 3</h2>

{% endblock %}

