@charset "UTF-8";
@import "mixin";



#header {
    #header-wrapper {
        #phone-number {
            text-align: center;
            background: @grey;
            color: @white;
            font-weight: bold;
            font-size: 22px;
            line-height: 36px;
            min-width: 320px;
            text-transform: uppercase;
            a {
                color: @white;
                text-decoration: none;
            }
        }
        #company-logo {
            background: @red url(/static/img/mobile/nav-bg.png) repeat-x;
            height: 55px;
            #main-navigation {
                float: right;
                margin-right: 4px;
                li {
                    float: left;
                    width: 48px;
                    height: 48px;
                    border-left: 1px solid #811208;
                    cursor: pointer;
                    cursor: hand;
                    position: relative;
                    overflow: hidden;
                    img {
                        padding: 4px 10px;
                    }
                    &:hover {
                        background: @dark-red;
                    }
                    &.active {
                        background: @dark-grey;
                    }
                }
            }
        }
    }
}