@charset "UTF-8";
@import "mixin";


body {
    background: #f0f5f7;
}
.fifth-box {
    .content-box(100%/5);

    h3 {
        border-bottom: none;
        text-align: left;
        font-size: 18px;
        line-height: 18px;
        padding: 0 20px;
    }
    p {
        font-size: 13px;
        line-height: 15px;
        text-align: justify;
    }
}
.content-box (@content-width: 960px) {
    width: @content-width;
    margin: 0 0 15px;
    float: left;
    position: relative;

    h1 {
        color: @blue;
        font-size: 26px;
        font-weight: normal;
        line-height: 36px;
        margin-bottom: 10px;
        letter-spacing: -1px;
    }
    h2 {
        color: @black;
        font-size: 28px;
        font-weight: 300;
        line-height: 28px;
        margin-bottom: 10px;
        letter-spacing: -1px;
        a {
            color: @black;
            text-decoration: none;
        }
        a:hover {
            color: @link-blue;
            text-decoration: underline;
        }
    }
    h3 {
        color: @blue;
        font-size: 20px;
        border-bottom: none;
        padding: 8px 0px 4px;
    }
    p {
        margin-bottom: 10px;
        font-size: 14px;
        text-align: justify;
        line-height: 22px;
        color: @black+2;
    }


}
#header {
    

    #header-wrapper {
        width: 960px;
        margin: 0 auto;
        #phone-number {

            p {
                
                em {
                }
            }
            a, span {
                font-size: 48px;
            }
        }
        #company-logo {

            #main-logo {
                img {
                }
            }
            #main-navigation {
                li {

                    img {
                    }
                    &:hover {
                    }
                    &.active {
                    }
                }
            }
        }
    }
}
#hero-wrapper {
    height: 582px;
    background: @blue url(/static/img/affiliates/sem-landing-page/rep/backdrop.jpg) 52% 135px no-repeat;

    #hero {
        position: relative;
        width: 960px;
        margin: 0 auto;
        height: 582px;
    }
    h1 {
        font-size: 48px;
        line-height: 60px;
        span {
        }
    }
    ul {
        li {
            font-size: 21px;
            padding-bottom: 10px;
            &.no-mobile {
                display: list-item;
            }
        }
    }
    .price-tag {
        em {
        }
        p {

            sup {
            }
            span {

            }
        }
    }
    #big-quote {
        width: 322px;
        #price-tag {


            h3 {

                
            }
            p {
                width: 298px;
                font-size: 56px;
                span {

                }
                em {
                    font-size: 20px;
                    span {

                    }
                }
            }
        }
        #quote-form-new {
            margin-top: 16px;
            #quote-form-error {
            }
            #form-headline {
                font-size: 28px;
                line-height: 36px;
            }
            #form-area {

                label {
                    font-size: 16px;
                    line-height: 24px;
                }
                input {
                    font-size: 16px;
                    height: 32px;
                    margin-bottom: 10px;
                }
                button {
                    margin-top: 8px;
                    padding: 12px;
                    &:hover {

                    }
                }
            }
        }
        .privacy-policy {

            a {
            }
        }
        #third-party-container {
            display: block;
            padding: 16px 0;
            .third-party-badge {
                margin: 8px !important;
            }
        }
    }
    #mobile-banner {
        left: 14px;
        .mobile {
            display: none;
        }
        .big {
            display: block;
        }
    }
}
.sticky-wrapper {
    height: 64px;
    #call-box {
        height: 54px;
            font-size: 38px;
            line-height: 56px;
        a {

        }
    
    }
}
#advantages, #security-packages, #sets-apart, #customer-testimonials {
    width: 960px;
    margin: 0 auto;
    .header {
        .left-side {

        }
        .right-side {

        }
        h2 {
            span {

            }
        }
    }
    #home-security-package-choices {
        #home-security-packages {

            .premium-packages-header {
            }
            #copper-security-package, #bronze-security-package, #silver-security-package, #gold-security-package, #platinum-security-package {
                width: 166px;
                float: left;
                .border-radius(5px, 5px, 5px, 5px);
                overflow: hidden;
                border: 1px solid #15537c;
                margin-right: 2px;

                .package-name {
                    height: auto;
                    padding: 0;
                }
                h3 {
                    background: #555 url(/static/img/spanish/package-topper-bg.png) repeat-x;
                    width: 173px;
                    height: 126px;
                    color: @white;
                    font-size: 32px;
                    font-weight: 100;
                    line-height: 126px;
                    text-shadow: 0px 2px 0px #000;
                    letter-spacing: 0px;
                    text-align: center;
        
                }
                p {
                    background: #00bbf2 url(/static/img/spanish/security-package-price-highlighter.jpg) repeat-x;
                    height: 55px;
                    width: 173px;
                    text-align: center;
                    color: @white;
                    font-size: 36px;
                    padding-top: 8px;
                    text-shadow: 1px 2px 0px #04758f;
                    line-height: 36px;
                    position: relative;
                    sup {
                        font-size: 16px;
                    }
                    span {
                        display: block;
                        font-size: 12px;
                        color: #04758f;
                        text-shadow: none;
                        line-height: 12px;
                        position: relative;
                        bottom: 0px;
                    }
                }
                .package-info {
                    background: @white url(/static/img/canada/basic-package-background.jpg) center top no-repeat;
                    height: 312px;
                    position: relative;
                    
                    ul {
                        padding-top: 8px;
                        line-height: 32px;
                        background: none;
                        li {
                            text-align: center;
                            font-size: 11px;
                            line-height: 20px;
                            padding-bottom: 6px;
                            strong {
                                font-size: 18px;
                                line-height: 18px;
                                position: relative;
                                top: 2px;
                                display: block;
                            }
        
                        }
                        &.extra-features {
                            background: none;
                            border: none;
                            border-top: 1px solid @light-grey;
                            margin: 4px 16px;
                            padding-top: 8px;
                            width: 137px;

                            
                            li {
                                font-size: 11px;
                                color: @grey;
                                text-transform: uppercase;
                                line-height: 16px;
                                text-align: center;
                                padding-bottom: 9px;
                                img {
                                    vertical-align: middle;
                                    padding-right: 16px;
                                    position: relative;
                                    bottom: 1px;
                                }
                            }
                        }
                    }
        
                }
            }
            #copper-security-package, #bronze-security-package {
                margin-top: 48px;
            }
            #standard-security-package {
                margin: 0 29px;
                p {
                    background: #00bbf2 url(/static/img/spanish/security-package-price-highlighter-orange.jpg) repeat-x;
                    text-shadow: 1px 2px 0px #7d4c16;
                    span {
                        color: #7d4c16;
                    }
                }
            }
            #premier-security-package {
                p {
                    background: #00bbf2 url(/static/img/spanish/security-package-price-highlighter-purple.jpg) repeat-x;
                    text-shadow: 1px 2px 0px #52167d;
                    span {
                        color: #52167d;
                    }
                }
            }
            &.package-page {
                margin: 16px 0;
                #copper-security-package, #standard-security-package, #premier-security-package {
                    border: 1px solid #aaa;
                    .drop-shadow(0px, 2px, 5px, #ccc);
                }
            }
            .premium-packages {
                margin-right: 8px;
                float: left;
                background: #000;
                padding: 8px 4px 0 8px;
                width: 600px;
                .border-radius(3px, 3px, 3px, 3px);
                background: url(/static/img/canada/premium-package-bg.jpg) repeat-x;
                .premium-packages-header {
                    display: block;
                    margin: 0 auto;
                }

                #silver-security-package, #gold-security-package, #platinum-security-package {
                    width: 196px;
                    h3, p {
                        width: 210px;
                    }
                    .package-info {
                        background: @white url(/static/img/canada/premium-package-background.jpg) no-repeat;
                        ul {
                            padding-bottom: 0
                        }
                        .extra-features {
                            left: 14px;
                            padding: 8px 16px 0;
                        }
                        .smart-connect {
                            height: 41px;
                            padding: 0;
                            margin: 0;
                            p {
                                background: none;
                                text-align: left;
                            }
                        }
                    }
                }
                #silver-security-package {
                    p {
                        background: #00bbf2 url(/static/img/spanish/security-package-price-highlighter-green.jpg) repeat-x;
                        text-shadow: 1px 2px 0px #1a5808;
                        span {
                            color: #1a5808;
                        }
                    }
                    .package-info {
                        background: @white url(/static/img/canada/green-package-bg.jpg) bottom center no-repeat;
                    }
                }
                #gold-security-package {
                    p {
                        background: #00bbf2 url(/static/img/spanish/security-package-price-highlighter-orange.jpg) repeat-x;
                        text-shadow: 1px 2px 0px #7d4c16;
                        span {
                            color: #7d4c16;
                        }
                    }
                    .package-info {
                        background: @white url(/static/img/canada/orange-package-bg.jpg) bottom center no-repeat;
                    }
                }
                #platinum-security-package {
                    p {
                        background: #00bbf2 url(/static/img/spanish/security-package-price-highlighter-purple.jpg) repeat-x;
                        text-shadow: 1px 2px 0px #52167d;
                        span {
                            color: #52167d;
                        }
                    }
                    .package-info {
                        background: @white url(/static/img/canada/purple-package-bg.jpg) bottom center no-repeat;

                    }
                }
                .promo-banner {
                    padding-top: 8px;
                }
            }

            .promo-banner {
                width: auto;
                padding: 4px 0;
            }

            #platinum-security-package {
            }
        }
    }
    #order-reassurance {
        padding-top: 8px;
        width: 940px;
        margin: 4px auto 0;
        #lowest-price-guaranteed, #lifetime-warranty, #homeowner-insurance-discount, #relocation-kit, #free-tech-support {
            .fifth-box;
            text-align: center;
            img {
                margin-right: 0;
            }
            .text {
                h3 {
                    font-size: 16px;
                    font-weight: bold;
                    text-align: center;
                    margin-bottom: 10px;
                }
                p {
                    font-size: 11px;
                    padding: 0 12px;
                    width: auto;
                }
            }
        }
    }
    #order-reassurance, #alarm-monitoring-options {
        #lowest-price-guaranteed, #lifetime-warranty, #homeowner-insurance-discount, #relocation-kit, #free-tech-support {

            img {

            }
            .text {
                h3 {

                }
                p {

                }
            }
            &.left-side {
                margin-right: 0
            }
            &.no-six {
                display: block;
                border-bottom: none;
            }
        }
        #cellular-monitoring-option, #broadband-monitoring-option, #landline-monitoring-option {
            width: 31%;
            img {
                width: auto;
            }
            .text {
                h3 {
                    font-size: 20px;
                }
                p {
                }
            }
        }
        #broadband-monitoring-option {
        }
        #free-tech-support {

        }
    }
    #comparison-table {
        width: 960px;
        padding-bottom: 16px;
        th {
            text-align: center;
            color: @white;
            font-weight: normal;
            font-size: 20px;
            line-height: 20px;
            vertical-align: middle;
            padding: 12px 0;
        }
        tbody {
            td {
                color: @white;
                font-weight: 100;
    
                font-size: 28px;
                line-height: 32px;
                padding: 4px 0;
                width: 175px;
                text-align: center;
                vertical-align: middle;
                border: 1px solid @dark-blue;
                border-top: none;
                border-left: none;
                &.pa {
                    width: 274px;
                    background: @light-blue;
                    color: @blue;
                    border-left: 1px solid @dark-blue;
    
                    &.alpha {
                        border-top: 1px solid @dark-blue;
                        .border-radius(3px, 3px, 0, 0);
                        padding-top: 8px;
                    }
                    &.omega {
                        border-bottom: 1px solid @dark-blue;
                        .border-radius(0, 0, 3px, 3px);
                        padding-bottom: 8px;
                        
                    }
                }
                &.title {
                    text-align: right;
                    padding-right: 24px;
                    border-right: none;
                    width: 296px;
                    font-size: 20px;
                    line-height: 24px;
                }
                &.omega {
                    border-bottom: none;
                }
            }
        }
        tfoot {
            td {
                margin-top: 8px;
                text-align: center;
                .header-button {
                    display: block;
                    margin-top: 4px;
                    padding: 8px 48px;
                    .border-radius(3px, 3px, 3px, 3px);
                    background: #00bbf4;
                    text-shadow: 0px 1px 0px #2a6273;
                    color: @white;
                    width: 100px;
                    margin: 10px auto 0;
                    &:hover {
                        border: 1px solid #2272a2;
                    }
                }
            }
        }
    }
    .testimonial {
        margin: 0 20px;
        h3 {

            span {
            }
            strong {

            }
        }
        p {

        }
        &.left {
        }
    }
}
#advantages {
    margin-top: 8px;
}
#sets-apart {
}
#customer-testimonials {
    .border-radius(0,0,0,0);

}
#sister-companies {
    display: block;
    background: @white;
    text-align: center;
    width: 960px;
    margin: 0 auto 8px;
    padding-bottom: 8px;
    .border-radius(0, 0, 10px, 10px);
    img {
        .border-radius;
    }
}
#footer {


    p {

    }
}