@charset "UTF-8";
/************************************
*   Reset                           *
************************************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
:focus {
  outline: 0;
}
body {
  line-height: 1;
  color: #000;
  background: #ffffff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}
.container_full {
  overflow: hidden;
  width: 100%;
}
.padding_10 {
  padding: 10px;
}
.center {
  text-align: center;
}
.absolute {
  position: absolute!important;
}
.relative {
  position: relative!important;
}
.text-center {
  text-align: center;
}
.float_left {
  float: left;
}
.clear {
  clear: both;
  height: 0;
  line-height: 0;
}
/********** Color Selection ***********/
/* In place of black, PA uses a very dark grey. */
/********** Mix-ins ***********/
.fade-slow {
  -webkit-transition: background-color 0.7s ease-out;
  -moz-transition: background-color 0.7s ease-out;
  transition: background-color 0.7s ease-out;
}
.fade-fast {
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}
img.image-break {
  left: -150px;
  position: absolute;
  z-index: -50;
}
.image-break-ribbon {
  position: absolute;
  right: -145px;
  top: 0px;
  z-index: -50;
}
.absolute {
  position: absolute;
  z-index: -50;
}
.flood-left {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -50;
}
.flood-right {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -50;
}
strong {
  font-weight: bold;
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  /*************** Main Styles ************/
  body {
    background: #fff;
    font-family: Helvetica Neue, Arial, sans-serif;
    border-top: 3px solid #22609e;
  }
  .container {
    width: 280px;
    margin: 0 auto;
  }
  .wrapper {
    background: #ffffff;
    width: 464px;
  }
  .wrapper .callbox h4 {
    font-size: 36px;
    height: 48px;
    line-height: 48px;
  }
  .wrapper .callbox p {
    color: #22609e;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }
  .wrapper #navigation {
    background: url(/static/img/affiliates/five-linx/nav-bg.png) 0 32px repeat-x;
    width: 100%;
    height: 136px;
  }
  .wrapper #navigation img {
    position: absolute;
    left: 45%;
    top: -3px;
    margin-left: -72px;
  }
  .wrapper #navigation ul {
    display: block;
    padding: 43px 0 0;
    margin: 0;
  }
  .wrapper #navigation ul li {
    float: left;
    width: 150px;
    text-align: center;
    color: #004B8D;
    display: block;
    font-weight: bold;
    line-height: 42px;
    text-shadow: 1px 0 white;
    margin: 0 4px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-transition: background-color 0.3s ease-out;
    -moz-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
  }
  .wrapper #navigation ul li:hover {
    background: #ffffff;
    -webkit-transition: background-color 0.7s ease-out;
    -moz-transition: background-color 0.7s ease-out;
    transition: background-color 0.7s ease-out;
  }
  .wrapper #navigation ul li img {
    left: 44%;
    margin-left: -90px;
    margin-top: 34px;
    position: absolute;
    top: 4px;
    width: 210px;
    width: 44%;
  }
  .wrapper #navigation ul li.active {
    background: #22609e;
    background-image: -moz-linear-gradient(top, #22609e, #123763);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#22609e), to(#123763));
    -moz-box-shadow: 0px 2px 5px #4a505a;
    -webkit-box-shadow: 0px 2px 5px #4a505a;
    box-shadow: 0px 2px 5px #4a505a;
  }
  .wrapper #navigation ul li.active a {
    color: #ffffff;
    text-shadow: 1px 0 #333333;
  }
  .wrapper #navigation ul li.first {
    margin-right: 152px;
  }
  .wrapper #navigation ul li a {
    color: #22609e;
    text-decoration: none;
  }
  .wrapper #main-package {
    text-align: left;
  }
  .wrapper #main-package .package-image {
    width: 464px;
  }
  .wrapper #main-package h1 {
    font-size: 40px;
    line-height: 40px;
  }
  .wrapper #main-package ul li {
    width: 149px;
    font-size: 11px;
  }
  .wrapper #main-package .oneThirdCol {
    overflow: hidden;
  }
  .wrapper #main-package .flexibleMonitoringOptionsSection .oneThirdCol img {
    width: 13%;
  }
  .wrapper #encouragement #all-day-protection,
  .wrapper #encouragement #unbeatable-price,
  .wrapper #encouragement #wireless-security,
  .wrapper #encouragement #ge-logo,
  .wrapper #encouragement #lifetime-warranty,
  .wrapper #encouragement #owned-system,
  .wrapper #encouragement #homeowners-insurance {
    float: left;
    width: 138px;
  }
  .wrapper #encouragement #all-day-protection img,
  .wrapper #encouragement #unbeatable-price img,
  .wrapper #encouragement #wireless-security img,
  .wrapper #encouragement #ge-logo img,
  .wrapper #encouragement #lifetime-warranty img,
  .wrapper #encouragement #owned-system img,
  .wrapper #encouragement #homeowners-insurance img {
    float: none;
    width: 138px;
  }
  .wrapper #encouragement #all-day-protection h2,
  .wrapper #encouragement #unbeatable-price h2,
  .wrapper #encouragement #wireless-security h2,
  .wrapper #encouragement #ge-logo h2,
  .wrapper #encouragement #lifetime-warranty h2,
  .wrapper #encouragement #owned-system h2,
  .wrapper #encouragement #homeowners-insurance h2 {
    text-align: center;
  }
  .wrapper #encouragement #all-day-protection p,
  .wrapper #encouragement #unbeatable-price p,
  .wrapper #encouragement #wireless-security p,
  .wrapper #encouragement #ge-logo p,
  .wrapper #encouragement #lifetime-warranty p,
  .wrapper #encouragement #owned-system p,
  .wrapper #encouragement #homeowners-insurance p {
    text-align: center;
  }
  .wrapper .other-package h3 {
    font-size: 18px;
    line-height: 18px;
  }
  .wrapper .other-package ul li {
    font-size: 12px;
    line-height: 20px;
  }
  .wrapper .other-package p {
    font-size: 12px;
  }
  #bottom-form #quote-form,
  #bottom-form .form-quote {
    width: 260px;
  }
  #bottom-form #quote-form p,
  #bottom-form .form-quote p {
    color: #333;
  }
  #bottom-form #quote-form input,
  #bottom-form .form-quote input {
    width: 440px;
  }
  #bottom-form .rightCol {
    width: 100%;
  }
  #bottom-form #call-us {
    display: none;
  }
  #bottom-form #bottom-form {
    width: 280px;
    padding: 0;
  }
  #bottom-form h2 {
    text-align: center;
  }
  .big-button-link a {
    padding: 10px 125px;
  }
  /****************** Makes Sense ****************/
  .makes-sense #step-one .image-area,
  .makes-sense #step-two .image-area,
  .makes-sense #step-three .image-area {
    text-align: center;
    width: 100%;
  }
  .makes-sense #step-one .image-area img,
  .makes-sense #step-two .image-area img,
  .makes-sense #step-three .image-area img {
    width: 287px;
  }
  /****************** Package Pages *****************/
  #in-your-home img {
    width: 463px;
  }
  /*************** GPS *************/
  #location-found {
    background: url(/static/img/products/gps/location-found.jpg) -350px top no-repeat;
  }
  #top-content #gps-tracking-overview img {
    width: auto;
  }
  #top-content #interactive-video-overview img {
    width: 480px;
    position: relative;
    right: 48px;
    padding-top: 16px;
  }
  #home-business-security #home-video-security,
  #home-business-security #business-video-security {
    width: 432px;
    margin: 0 0 15px;
    float: left;
    position: relative;
    text-align: left;
    padding: 0 16px;
  }
  #home-business-security #home-video-security h1,
  #home-business-security #business-video-security h1 {
    color: #22609e;
    font-size: 26px;
    font-weight: normal;
    line-height: 36px;
    margin-bottom: 10px;
    letter-spacing: -1px;
  }
  #home-business-security #home-video-security h2,
  #home-business-security #business-video-security h2 {
    color: #333333;
    font-size: 28px;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 10px;
    letter-spacing: -1px;
  }
  #home-business-security #home-video-security h2 a,
  #home-business-security #business-video-security h2 a {
    color: #333333;
    text-decoration: none;
  }
  #home-business-security #home-video-security h2 a:hover,
  #home-business-security #business-video-security h2 a:hover {
    color: #0066b3;
    text-decoration: underline;
  }
  #home-business-security #home-video-security h3,
  #home-business-security #business-video-security h3 {
    color: #22609e;
    font-size: 20px;
    border-bottom: none;
    padding: 8px 0px 4px;
  }
  #home-business-security #home-video-security p,
  #home-business-security #business-video-security p {
    margin-bottom: 10px;
    font-size: 14px;
    text-align: justify;
    line-height: 22px;
    color: #353535;
  }
  #home-business-security #home-video-security img,
  #home-business-security #business-video-security img {
    width: auto;
  }
  /************ Thank You ****************/
  #thank-you-top {
    width: 447px;
    margin: 0 0 15px;
    float: left;
    position: relative;
    padding: 16px 16px;
  }
  #thank-you-top h1 {
    color: #22609e;
    font-size: 26px;
    font-weight: normal;
    line-height: 36px;
    margin-bottom: 10px;
    letter-spacing: -1px;
  }
  #thank-you-top h2 {
    color: #333333;
    font-size: 28px;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 10px;
    letter-spacing: -1px;
  }
  #thank-you-top h2 a {
    color: #333333;
    text-decoration: none;
  }
  #thank-you-top h2 a:hover {
    color: #0066b3;
    text-decoration: underline;
  }
  #thank-you-top h3 {
    color: #22609e;
    font-size: 20px;
    border-bottom: none;
    padding: 8px 0px 4px;
  }
  #thank-you-top p {
    margin-bottom: 10px;
    font-size: 14px;
    text-align: justify;
    line-height: 22px;
    color: #353535;
  }
  #thank-you-top #thank-you-img {
    display: none;
  }
  #what-next {
    width: 480px;
    margin: 0 0 15px;
    float: left;
    position: relative;
  }
  #what-next h1 {
    color: #22609e;
    font-size: 26px;
    font-weight: normal;
    line-height: 36px;
    margin-bottom: 10px;
    letter-spacing: -1px;
  }
  #what-next h2 {
    color: #333333;
    font-size: 28px;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 10px;
    letter-spacing: -1px;
  }
  #what-next h2 a {
    color: #333333;
    text-decoration: none;
  }
  #what-next h2 a:hover {
    color: #0066b3;
    text-decoration: underline;
  }
  #what-next h3 {
    color: #22609e;
    font-size: 20px;
    border-bottom: none;
    padding: 8px 0px 4px;
  }
  #what-next p {
    margin-bottom: 10px;
    font-size: 14px;
    text-align: justify;
    line-height: 22px;
    color: #353535;
  }
  #what-next #security-professional,
  #what-next #build-system,
  #what-next #secured-home {
    float: none;
    margin: 0 auto 16px;
  }
  #header {
    position: relative;
  }
  #header .container img {
    width: auto;
  }
  #header .container .callbox {
    top: 105px;
    left: 0;
    width: 100%;
  }
  #header .container .callbox h4 a {
    font-size: 16px;
  }
  #header .container .textRight ul li {
    width: 100%;
    font-size: 16px;
    background: #eee;
    border-bottom: 1px solid #ccc;
  }
  #header .container .textRight ul a {
    padding: 15px !important;
  }
  #header .container .textRight ul a:hover {
    color: #fff !important;
  }
  #header .container .textRight ul li:hover {
    background: #00aed1;
  }
  #header .container .textRight.nav {
    margin-top: 90px;
  }
  #supportInfo {
    height: 275px;
  }
  #supportInfo .container .halfLeft {
    width: 100%;
  }
  #supportInfo .container .halfLeft hr {
    border: none;
  }
  #supportInfo .container .halfRight {
    width: 100%;
  }
  #footer .callbox {
    margin: 0 0 20px 0;
  }
  #hero .intro {
    display: none;
  }
  #hero #heroForm {
    width: 260px;
  }
  #highlights h3 {
    font-size: 20px;
  }
  #highlights p {
    font-size: 18px;
    line-height: 22px;
  }
  #highlights .col {
    width: 100%;
    margin: 0;
  }
  .call-box p {
    font-size: 16px;
  }
  #aboutPA .colHalf {
    width: 100%;
  }
  #tabs .package-blue-strip small {
    right: 70px;
  }
  #tabs li {
    width: 100%;
    margin: 0 10px 10px 0;
  }
  #additionalProducts .container h2 {
    text-align: center;
  }
  #additionalProducts .productsGrid .col {
    width: 48%;
  }
  #securitySysFeatures ul {
    padding: 0;
  }
  #securitySysFeatures ul li {
    width: 100% !important;
    margin: 0;
  }
}
