@charset "UTF-8";
@charset "UTF-8";
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
:focus{outline:0;}
body{line-height:1;color:#000;background:#ffffff;}
ol,ul{list-style:none;}
table{border-collapse:separate;border-spacing:0;}
caption,th,td{text-align:left;font-weight:normal;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:"" "";}
.container_full{overflow:hidden;width:100%;}
.padding_10{padding:10px;}
.center{text-align:center;}
.absolute{position:absolute!important;}
.relative{position:relative!important;}
.text-center{text-align:center;}
.float_left{float:left;}
.clear{clear:both;height:0;line-height:0;}
.fade-slow{-webkit-transition:background-color 0.7s ease-out;-moz-transition:background-color 0.7s ease-out;transition:background-color 0.7s ease-out;}
.fade-fast{-webkit-transition:background-color 0.3s ease-out;-moz-transition:background-color 0.3s ease-out;transition:background-color 0.3s ease-out;}
img.image-break{left:-150px;position:absolute;z-index:-50;}
.image-break-ribbon{position:absolute;right:-145px;top:0px;z-index:-50;}
.absolute{position:absolute;z-index:-50;}
.flood-left{position:absolute;right:0;top:0;z-index:-50;}
.flood-right{position:absolute;left:0;top:0;z-index:-50;}
strong{font-weight:bold;}
body{background:#f0f2f3 url(/static/img/affiliates/five-linx/main-wrapper-bg.jpg) center top no-repeat;text-align:center;font-family:Helvetica Neue,Arial,sans-serif;border-top:3px solid #22609e;}
.wrapper{background:#ffffff;width:584px;}
.wrapper #navigation ul li{margin:0 42px;}
.wrapper #silver-package .package-image{width:290px;float:left;}
.wrapper #silver-package #package-info{float:left;width:270px;padding-bottom:8px;}
.wrapper #silver-package h1{font-size:32px;line-height:32px;}
.wrapper #silver-package ul li{float:left;width:127px;font-size:10px;}
.wrapper #silver-package #low-price-seal{float:left;width:114px;padding-top:8px;}.wrapper #silver-package #low-price-seal img{width:114px;}
.wrapper #silver-package #package-price{padding-top:8px;}.wrapper #silver-package #package-price p{text-align:left;}
.button-link a{padding:10px 175px;}
