@charset "UTF-8";
/************************************
*   Reset                           *
************************************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
:focus {
  outline: 0;
}
body {
  line-height: 1;
  color: #000;
  background: #ffffff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}
.container_full {
  overflow: hidden;
  width: 100%;
}
.padding_10 {
  padding: 10px;
}
.center {
  text-align: center;
}
.absolute {
  position: absolute!important;
}
.relative {
  position: relative!important;
}
.text-center {
  text-align: center;
}
.float_left {
  float: left;
}
.clear {
  clear: both;
  height: 0;
  line-height: 0;
}
/********** Color Selection ***********/
/* In place of black, PA uses a very dark grey. */
/********** Mix-ins ***********/
.fade-slow {
  -webkit-transition: background-color 0.7s ease-out;
  -moz-transition: background-color 0.7s ease-out;
  transition: background-color 0.7s ease-out;
}
.fade-fast {
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}
img.image-break {
  left: -150px;
  position: absolute;
  z-index: -50;
}
.image-break-ribbon {
  position: absolute;
  right: -145px;
  top: 0px;
  z-index: -50;
}
.absolute {
  position: absolute;
  z-index: -50;
}
.flood-left {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -50;
}
.flood-right {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -50;
}
strong {
  font-weight: bold;
}
/*************** Main Styles ************/
body {
  background: #f0f2f3 url(/static/img/affiliates/five-linx/main-wrapper-bg.jpg) center top no-repeat;
  text-align: center;
  font-family: Helvetica Neue, Arial, sans-serif;
  border-top: 3px solid #22609e;
}
.wrapper {
  background: #ffffff;
  width: 960px;
}
.wrapper #navigation ul li {
  margin: 0 32px;
}
.wrapper #navigation ul li.first {
  margin-right: 32px;
}
.wrapper #navigation ul li.video-security {
  display: inline;
  margin-right: 136px;
}
.wrapper #navigation ul li.gps-tracking {
  display: inline;
}
.wrapper #main-package #the-main-package {
  width: 646px;
  float: left;
  margin-top: 24px;
  position: relative;
  overflow: hidden;
}
.wrapper #main-package #the-main-package .button-link {
  text-align: right;
  margin-right: 24px;
}
.wrapper #main-package #the-main-package .button-link a {
  padding: 8px 100px;
  font-size: 14px;
}
.wrapper #main-package #the-main-package .package-image {
  width: 388px;
  float: left;
  padding-top: 16px;
  position: absolute;
  left: -44px;
  z-index: 0;
}
.wrapper #main-package #the-main-package #package-info {
  float: left;
  width: 326px;
  padding-bottom: 8px;
  margin-left: 320px;
  z-index: 999;
  position: relative;
}
.wrapper #main-package #the-main-package h1 {
  font-size: 27px;
  line-height: 32px;
}
.wrapper #main-package #the-main-package ul li {
  float: left;
  width: 155px;
  font-size: 12px;
}
.wrapper #main-package #the-main-package #low-price-seal {
  float: left;
  width: 150px;
  padding-top: 8px;
}
.wrapper #main-package #the-main-package #low-price-seal img {
  width: 150px;
}
.wrapper #main-package #the-main-package #package-price {
  padding-top: 24px;
  text-align: left;
}
.wrapper #main-package #the-main-package #package-price p {
  text-align: left;
}
.wrapper #main-package #the-main-package #package-price span {
  font-size: 16px;
}
.wrapper #main-package #quote-form,
.wrapper #main-package .form-quote {
  display: block;
  float: left;
  width: 304px;
  background: #22609e;
  background-image: -moz-linear-gradient(top, #22609e, #123763);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#22609e), to(#123763));
  margin: 0px auto 8px;
  padding-bottom: 8px;
  text-align: center;
}
.wrapper #main-package #quote-form p,
.wrapper #main-package .form-quote p {
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
  line-height: 42px;
}
.wrapper #main-package #quote-form input,
.wrapper #main-package .form-quote input {
  margin: 0 8px;
  display: block;
  height: 28px;
  font-size: 20px;
  line-height: 28px;
  width: 281px;
}
.wrapper #main-package #quote-form label,
.wrapper #main-package .form-quote label {
  text-align: left;
  padding: 0 8px;
  color: #ffffff;
  display: block;
  padding-top: 8px;
  font-size: 14px;
}
.wrapper #main-package #quote-form button,
.wrapper #main-package .form-quote button {
  display: block;
  background: #e22204;
  background-image: -moz-linear-gradient(top, #e22204, #b71c03);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e22204), to(#b71c03));
  margin: 0 auto;
  color: #ffffff;
  padding: 10px 75px;
  text-decoration: none;
  border: 1px solid transparent;
  font-size: 18px;
  font-weight: bold;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  width: 287px;
  margin-top: 16px;
}
.wrapper #main-package #quote-form .quote-form-error,
.wrapper #main-package .form-quote .quote-form-error {
  display: none;
}
.wrapper #main-package #quote-form a,
.wrapper #main-package .form-quote a {
  font-size: 10px;
  color: #ffffff;
  text-decoration: none;
}
.wrapper #main-package #quote-form a :hover,
.wrapper #main-package .form-quote a :hover {
  text-decoration: underline;
}
.wrapper #main-package #quote-form #third-party-container,
.wrapper #main-package .form-quote #third-party-container {
  padding: 4px 0;
}
.wrapper #encouragement #all-day-protection,
.wrapper #encouragement #unbeatable-price,
.wrapper #encouragement #wireless-security,
.wrapper #encouragement #ge-logo,
.wrapper #encouragement #lifetime-warranty,
.wrapper #encouragement #owned-system,
.wrapper #encouragement #homeowners-insurance {
  float: left;
  width: 220px;
}
.wrapper #encouragement #all-day-protection img,
.wrapper #encouragement #unbeatable-price img,
.wrapper #encouragement #wireless-security img,
.wrapper #encouragement #ge-logo img,
.wrapper #encouragement #lifetime-warranty img,
.wrapper #encouragement #owned-system img,
.wrapper #encouragement #homeowners-insurance img {
  float: none;
  width: 178px;
}
.wrapper #encouragement #all-day-protection h2,
.wrapper #encouragement #unbeatable-price h2,
.wrapper #encouragement #wireless-security h2,
.wrapper #encouragement #ge-logo h2,
.wrapper #encouragement #lifetime-warranty h2,
.wrapper #encouragement #owned-system h2,
.wrapper #encouragement #homeowners-insurance h2 {
  text-align: center;
}
.wrapper #encouragement #all-day-protection p,
.wrapper #encouragement #unbeatable-price p,
.wrapper #encouragement #wireless-security p,
.wrapper #encouragement #ge-logo p,
.wrapper #encouragement #lifetime-warranty p,
.wrapper #encouragement #owned-system p,
.wrapper #encouragement #homeowners-insurance p {
  text-align: center;
  padding: 0 16px;
}
.wrapper #encouragement #ge-logo,
.wrapper #encouragement #owned-system {
  display: block;
}
.wrapper .other-package {
  width: 174px;
  float: left;
  background: #ffffff;
}
.wrapper .other-package img {
  display: block;
  margin-top: 4px;
  width: 100%;
}
.wrapper .other-package ul li {
  width: 158px;
}
.wrapper .other-package p {
  width: 158px;
  text-align: center;
  margin: 8px 0;
}
.wrapper .other-package .button-link a {
  background: #90af01;
  background-image: -moz-linear-gradient(top, #90af01, #829e01);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#90af01), to(#829e01));
}
.wrapper .other-package .button-link a:hover {
  background: #90af01;
  background-image: -moz-linear-gradient(top, #90af01, #687e01);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#90af01), to(#687e01));
  border: 1px solid #768f03;
  border-bottom: 1px solid #576902;
}
.wrapper .other-package.silver-package {
  display: block;
}
#bottom-form {
  width: 100%;
  margin: 0 0 15px;
  float: left;
  position: relative;
}
#bottom-form h1 {
  color: #22609e;
  font-size: 26px;
  font-weight: normal;
  line-height: 36px;
  margin-bottom: 10px;
  letter-spacing: -1px;
}
#bottom-form h2 {
  color: #333333;
  font-size: 28px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 10px;
  letter-spacing: -1px;
}
#bottom-form h2 a {
  color: #333333;
  text-decoration: none;
}
#bottom-form h2 a:hover {
  color: #0066b3;
  text-decoration: underline;
}
#bottom-form h3 {
  color: #22609e;
  font-size: 20px;
  border-bottom: none;
  padding: 8px 0px 4px;
}
#bottom-form p {
  margin-bottom: 10px;
  font-size: 14px;
  text-align: justify;
  line-height: 22px;
  color: #353535;
}
#bottom-form h2 {
  font-weight: bold;
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid #ccc;
  margin-top: 16px;
  font-size: 42px;
  line-height: 48px;
  display: block;
}
#bottom-form #call-us {
  display: block;
  width: 620px;
  float: left;
}
#bottom-form #call-us h3 {
  text-align: left;
  font-size: 32px;
  padding: 16px 48px 8px;
  line-height: 36px;
}
#bottom-form #call-us h4 {
  text-align: left;
  font-weight: bold;
  padding: 0 48px;
}
#bottom-form #call-us h4 span {
  display: block;
  font-size: 36px;
  font-weight: 300;
  color: #4a505a;
}
#bottom-form #call-us h4 a {
  color: #e51b24;
  display: block;
  text-decoration: none;
  font-size: 48px;
}
#bottom-form #call-us p {
  padding: 0 60px 32px 48px;
  line-height: 24px;
}
#bottom-form #quote-form,
#bottom-form .form-quote {
  width: 304px;
  float: left;
}
#bottom-form #quote-form input,
#bottom-form .form-quote input {
  width: 281px;
}
#bottom-form #quote-form p,
#bottom-form .form-quote p {
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  padding-top: 8px;
}
.button-link a {
  background: #90af01;
  background-image: -moz-linear-gradient(top, #90af01, #829e01);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#90af01), to(#829e01));
}
.button-link a:hover {
  background: #90af01;
  background-image: -moz-linear-gradient(top, #90af01, #687e01);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#90af01), to(#687e01));
  border: 1px solid #768f03;
  border-bottom: 1px solid #576902;
}
.big-button-link {
  padding-top: 38px;
}
/*************** Makes Senses *************/
.makes-sense #step-one .button-link span,
.makes-sense #step-two .button-link span,
.makes-sense #step-three .button-link span {
  display: inline;
}
/*************** Package Pages *************/
#in-your-home img {
  float: left;
  width: auto;
}
#in-your-home p {
  padding: 48px 48px 0;
}
.copper .wrapper #main-package #the-main-package .package-image,
.bronze .wrapper #main-package #the-main-package .package-image,
.silver .wrapper #main-package #the-main-package .package-image,
.gold .wrapper #main-package #the-main-package .package-image,
.platinum .wrapper #main-package #the-main-package .package-image {
  width: 450px;
  left: -42px;
  top: -22px;
}
.copper .wrapper .other-package,
.bronze .wrapper .other-package,
.silver .wrapper .other-package,
.gold .wrapper .other-package,
.platinum .wrapper .other-package {
  width: 222px;
}
.copper .wrapper .other-package p,
.bronze .wrapper .other-package p,
.silver .wrapper .other-package p,
.gold .wrapper .other-package p,
.platinum .wrapper .other-package p {
  width: 206px;
}
.bronze .wrapper #main-package #the-main-package .package-image {
  left: -75px;
}
.silver .wrapper #main-package #the-main-package .package-image,
.gold .wrapper #main-package #the-main-package .package-image,
.platinum .wrapper #main-package #the-main-package .package-image {
  width: 380px;
}
/********** GPS **********/
#top-content #gps-tracking-overview {
  float: left;
  width: 613px;
}
#top-content #gps-tracking-overview img {
  position: absolute;
  left: -150px;
  width: 450px;
}
#top-content #gps-tracking-overview #gps-overview-content {
  z-index: 50;
  position: relative;
  padding-left: 235px;
  width: 390px;
}
#top-content #interactive-video-overview {
  float: left;
  width: 613px;
  padding-bottom: 64px;
}
#top-content #interactive-video-overview img {
  position: absolute;
  left: -159px;
  width: 608px;
  top: 88px;
}
#top-content #interactive-video-overview #video-overview-content {
  z-index: 50;
  position: relative;
  padding-left: 235px;
  width: 360px;
  padding-top: 32px;
}
#top-content #quote-form,
#top-content .form-quote {
  display: block;
}
#home-business-security {
  width: 100%;
  margin: 0 0 15px;
  float: left;
  position: relative;
}
#home-business-security h1 {
  color: #22609e;
  font-size: 26px;
  font-weight: normal;
  line-height: 36px;
  margin-bottom: 10px;
  letter-spacing: -1px;
}
#home-business-security h2 {
  color: #333333;
  font-size: 28px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 10px;
  letter-spacing: -1px;
}
#home-business-security h2 a {
  color: #333333;
  text-decoration: none;
}
#home-business-security h2 a:hover {
  color: #0066b3;
  text-decoration: underline;
}
#home-business-security h3 {
  color: #22609e;
  font-size: 20px;
  border-bottom: none;
  padding: 8px 0px 4px;
}
#home-business-security p {
  margin-bottom: 10px;
  font-size: 14px;
  text-align: justify;
  line-height: 22px;
  color: #353535;
}
#home-business-security #home-video-security,
#home-business-security #business-video-security {
  width: 416px;
  margin: 0 0 15px;
  float: left;
  position: relative;
  text-align: left;
  padding: 0 32px;
}
#home-business-security #home-video-security h1,
#home-business-security #business-video-security h1 {
  color: #22609e;
  font-size: 26px;
  font-weight: normal;
  line-height: 36px;
  margin-bottom: 10px;
  letter-spacing: -1px;
}
#home-business-security #home-video-security h2,
#home-business-security #business-video-security h2 {
  color: #333333;
  font-size: 28px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 10px;
  letter-spacing: -1px;
}
#home-business-security #home-video-security h2 a,
#home-business-security #business-video-security h2 a {
  color: #333333;
  text-decoration: none;
}
#home-business-security #home-video-security h2 a:hover,
#home-business-security #business-video-security h2 a:hover {
  color: #0066b3;
  text-decoration: underline;
}
#home-business-security #home-video-security h3,
#home-business-security #business-video-security h3 {
  color: #22609e;
  font-size: 20px;
  border-bottom: none;
  padding: 8px 0px 4px;
}
#home-business-security #home-video-security p,
#home-business-security #business-video-security p {
  margin-bottom: 10px;
  font-size: 14px;
  text-align: justify;
  line-height: 22px;
  color: #353535;
}
#home-business-security #home-video-security img,
#home-business-security #business-video-security img {
  width: auto;
}
#location-found #lost-car {
  padding: 0 48px;
}
/************ Thank You ****************/
#thank-you-top {
  width: 929px;
  margin: 0 0 15px;
  float: left;
  position: relative;
  padding: 16px 16px;
}
#thank-you-top h1 {
  color: #22609e;
  font-size: 26px;
  font-weight: normal;
  line-height: 36px;
  margin-bottom: 10px;
  letter-spacing: -1px;
}
#thank-you-top h2 {
  color: #333333;
  font-size: 28px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 10px;
  letter-spacing: -1px;
}
#thank-you-top h2 a {
  color: #333333;
  text-decoration: none;
}
#thank-you-top h2 a:hover {
  color: #0066b3;
  text-decoration: underline;
}
#thank-you-top h3 {
  color: #22609e;
  font-size: 20px;
  border-bottom: none;
  padding: 8px 0px 4px;
}
#thank-you-top p {
  margin-bottom: 10px;
  font-size: 14px;
  text-align: justify;
  line-height: 22px;
  color: #353535;
}
#thank-you-top #thank-you-content {
  width: 400px;
  margin: 0 0 15px;
  position: relative;
  float: left;
  padding-top: 92px;
  text-align: left;
}
#thank-you-top #thank-you-content h1 {
  color: #22609e;
  font-size: 26px;
  font-weight: normal;
  line-height: 36px;
  margin-bottom: 10px;
  letter-spacing: -1px;
}
#thank-you-top #thank-you-content h2 {
  color: #333333;
  font-size: 28px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 10px;
  letter-spacing: -1px;
}
#thank-you-top #thank-you-content h2 a {
  color: #333333;
  text-decoration: none;
}
#thank-you-top #thank-you-content h2 a:hover {
  color: #0066b3;
  text-decoration: underline;
}
#thank-you-top #thank-you-content h3 {
  color: #22609e;
  font-size: 20px;
  border-bottom: none;
  padding: 8px 0px 4px;
}
#thank-you-top #thank-you-content p {
  margin-bottom: 10px;
  font-size: 14px;
  text-align: justify;
  line-height: 22px;
  color: #353535;
}
#thank-you-top #thank-you-content h2 {
  padding-left: 0;
}
#thank-you-top #thank-you-img {
  display: block;
  width: 475px;
  margin: 0 0 15px;
  position: relative;
  float: left;
}
#thank-you-top #thank-you-img h1 {
  color: #22609e;
  font-size: 26px;
  font-weight: normal;
  line-height: 36px;
  margin-bottom: 10px;
  letter-spacing: -1px;
}
#thank-you-top #thank-you-img h2 {
  color: #333333;
  font-size: 28px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 10px;
  letter-spacing: -1px;
}
#thank-you-top #thank-you-img h2 a {
  color: #333333;
  text-decoration: none;
}
#thank-you-top #thank-you-img h2 a:hover {
  color: #0066b3;
  text-decoration: underline;
}
#thank-you-top #thank-you-img h3 {
  color: #22609e;
  font-size: 20px;
  border-bottom: none;
  padding: 8px 0px 4px;
}
#thank-you-top #thank-you-img p {
  margin-bottom: 10px;
  font-size: 14px;
  text-align: justify;
  line-height: 22px;
  color: #353535;
}
#thank-you-top #thank-you-img img {
  width: 371px;
}
#what-next {
  width: 100%;
  margin: 0 0 15px;
  float: left;
  position: relative;
  background: url(/static/img/thank-you-pages/arrows-bg.png) center 68px no-repeat;
}
#what-next h1 {
  color: #22609e;
  font-size: 26px;
  font-weight: normal;
  line-height: 36px;
  margin-bottom: 10px;
  letter-spacing: -1px;
}
#what-next h2 {
  color: #333333;
  font-size: 28px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 10px;
  letter-spacing: -1px;
}
#what-next h2 a {
  color: #333333;
  text-decoration: none;
}
#what-next h2 a:hover {
  color: #0066b3;
  text-decoration: underline;
}
#what-next h3 {
  color: #22609e;
  font-size: 20px;
  border-bottom: none;
  padding: 8px 0px 4px;
}
#what-next p {
  margin-bottom: 10px;
  font-size: 14px;
  text-align: justify;
  line-height: 22px;
  color: #353535;
}
#what-next h2 {
  font-weight: bold;
}
#what-next #security-professional,
#what-next #build-system,
#what-next #secured-home {
  width: 320px;
  margin: 0 0 15px;
  float: left;
  position: relative;
  text-align: center;
}
#what-next #security-professional h1,
#what-next #build-system h1,
#what-next #secured-home h1 {
  color: #22609e;
  font-size: 26px;
  font-weight: normal;
  line-height: 36px;
  margin-bottom: 10px;
  letter-spacing: -1px;
}
#what-next #security-professional h2,
#what-next #build-system h2,
#what-next #secured-home h2 {
  color: #333333;
  font-size: 28px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 10px;
  letter-spacing: -1px;
}
#what-next #security-professional h2 a,
#what-next #build-system h2 a,
#what-next #secured-home h2 a {
  color: #333333;
  text-decoration: none;
}
#what-next #security-professional h2 a:hover,
#what-next #build-system h2 a:hover,
#what-next #secured-home h2 a:hover {
  color: #0066b3;
  text-decoration: underline;
}
#what-next #security-professional h3,
#what-next #build-system h3,
#what-next #secured-home h3 {
  color: #22609e;
  font-size: 20px;
  border-bottom: none;
  padding: 8px 0px 4px;
}
#what-next #security-professional p,
#what-next #build-system p,
#what-next #secured-home p {
  margin-bottom: 10px;
  font-size: 14px;
  text-align: justify;
  line-height: 22px;
  color: #353535;
}
#what-next #security-professional h3,
#what-next #build-system h3,
#what-next #secured-home h3 {
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
}
#what-next #security-professional p,
#what-next #build-system p,
#what-next #secured-home p {
  padding: 0 32px;
  font-size: 14px;
  color: #4a505a;
  text-align: center;
  line-height: 18px;
}
