@font-face{font-family:'FontAwesome';src:url('http://homesecurity.protectamerica.com/static/font/fontawesome-webfont.eot?v=3.2.1');src:url('http://homesecurity.protectamerica.com/static/font/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'),url('http://homesecurity.protectamerica.com/static/font/fontawesome-webfont.woff?v=3.2.1') format('woff'),url('http://homesecurity.protectamerica.com/static/font/fontawesome-webfont.ttf?v=3.2.1') format('truetype'),url('http://homesecurity.protectamerica.com/static/font/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');font-weight:normal;font-style:normal}[class^="icon-"],[class*=" icon-"]{font-family:FontAwesome;font-weight:normal;font-style:normal;text-decoration:inherit;-webkit-font-smoothing:antialiased;*margin-right:.3em}
.icon-rss:before{content:"\f09e"}
.icon-home:before{content:"\f015"}
.icon-money:before{content:"\f0d6"}
.icon-user:before{content:"\f007"}
.icon-thumbs-up:before{content:"\f164"}
.icon-heart:before{content:"\f004"}
[class^="icon-"]:before,[class*=" icon-"]:before{display:block}
body{background:url(/static/img/affiliates/five-linx/main-wrapper-bg.jpg) no-repeat #f0f2f3;border-top:3px solid #004b8d;color:#6d859a}
h1,h2,h3,h4{color:#004b8d;font-weight:bold}
a{color:#00aed1;text-decoration:none}
a:hover{color:#2794b5;text-decoration:underline}
.btn{background-color:#00aed1;color:#fff;padding:10px;transition:all 250ms ease-out}
.btn:hover{background-color:#2794b5;color:#fff;text-decoration:none}
.secondaryBtn{border:2px solid #00aed1;padding:10px 20px;transition:all 250ms ease-out}
.secondaryBtn:hover{background-color:#00aed1;color:#fff;border:2px solid #00aed1;padding:10px 20px;text-decoration:none}
img{max-width:100%}
hr{clear:both;display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
.clearRow{clear:both}
.sprite{background:url(/static/img/affiliates/five-linx/sprite.png) no-repeat 0 0}
.smallText{font-size:12px}
.halfLeft{float:left;width:48%}
.halfRight{float:right;width:48%}
.oneThird{float:left;margin-right:1%;width:32%}
.container{width:1200px;margin:0 auto}
.call-box{background-color:#004b8d;border-bottom:1px solid #305678;border-top:1px solid #305678;color:#fff;font-size:25pt;font-weight:200;padding:16px 0;text-align:center;text-shadow:0 1px 2px rgba(0,0,0,0.25)}
#header{text-align:left;padding:10px 0;}#header .callbox{left:50%;margin-left:-150px;position:absolute;text-align:center;top:0;width:300px}#header .callbox h3{color:#004b8d;font-size:16px;margin-top:6px;margin-bottom:4px;font-weight:bold}
#header .callbox h4{font-size:24px;margin:0}
#header .callbox p{margin-top:4px}
#header .textRight{float:right}
#header #nav{font-weight:bold;float:right;list-style:none;margin:0}#header #nav li:first-child{border-left:none}
#header #nav li{float:left}#header #nav li a{color:#004b8d;display:block;padding:20px 10px}
#hero{background:url(/static/img/affiliates/five-linx/heroBg.jpg) center top no-repeat;overflow:hidden}#hero #heroForm{background-color:#fff;float:left;padding:10px 10px;width:210px}#hero #heroForm p{font-size:17px;font-weight:bold;text-transform:uppercase;color:#004b8d;margin-bottom:10px}
#hero #heroForm label{display:none}
#hero #heroForm input[type="text"]{border:1px solid #999;font-size:18px;font-weight:200;height:30px;padding:0 1%;margin-bottom:8px;width:98%}
#hero #heroForm button{background-color:#00aed1;border:1px solid #00aed1;color:#fff;font-size:20px;height:48px;margin-bottom:10px;width:100%;transition:all 250ms ease-out}
#hero #heroForm button:hover{background-color:#2794b5}
#hero #heroForm .quote-form-error{display:none}
#hero #heroForm .consent-box a{font-size:10px}
#hero #heroForm .consent-box label{display:block;margin-bottom:4px !important}
#hero #heroForm .consent-box #third-party-container{padding-top:10px}
#hero .intro{background:rgba(255,255,255,0.8);float:left;margin-left:20px;margin-top:90px;padding:20px;text-align:left;width:50%}#hero .intro h1{font-size:36px;font-weight:bold;color:#004b8d;margin-bottom:0}
#hero .intro h2{font-size:22px;font-weight:normal;color:#6d859a;margin-top:0}
#highlights{overflow:hidden;text-align:center}#highlights .sprite{height:60px;margin:30px auto 0;width:100px}
#highlights .hl247{background-position:center 4px}
#highlights .hlUnbeatablePrice{background-position:center -74px}
#highlights .hlSimpleWireless{background-position:center -156px}
#highlights .hlCertifiedGE{background-position:center -240px}
#highlights .hlInteractiveSecSys{background-position:center -1267px}
#highlights .hlVideo{background-position:center -305px}
#highlights .hlGPS{background-position:center -392px}
#highlights .hlBudget{background-position:center -467px}
#highlights .hlGetInTouch{background-position:center -550px}
#highlights .col{float:left;width:24%;margin-right:1%}
#highlights h3{color:#004b8d;font-size:18px;font-weight:bold}
#highlights p{margin-bottom:30px}
#aboutPA{border-top:1px solid #ccc;text-align:left;overflow:hidden;line-height:1.5;margin-top:30px;padding:30px 0 60px}#aboutPA .colHalf{float:left;margin-right:3%;width:47%}
#aboutPA .logos{background:#fff;border-radius:3px;box-shadow:0 1px 2px rgba(0,0,0,0.5);overflow:hidden;padding:10px;margin-bottom:10px}#aboutPA .logos img{float:left;width:25%}
#seeAllFeatures{background:url(/static/img/affiliates/five-linx/home.png) no-repeat center center fixed #fff;height:350px;position:relative;text-align:center}#seeAllFeatures .btn{font-weight:bold;position:absolute;top:50%;left:50%;margin-left:-100px;margin-top:-15px;line-height:30px;height:30px;width:220px;text-transform:uppercase;letter-spacing:1px}
.home #bottom-form .container{border-top:none}
#bottom-form{overflow:hidden}#bottom-form .container{border-top:1px solid #ccc}
#bottom-form .leftCol{float:left;margin-right:5%;width:48%}#bottom-form .leftCol h4{display:block;font-size:36px}#bottom-form .leftCol h4 span{display:block}
#bottom-form .rightCol{float:left;width:30%}
#bottom-form #bottomForm{float:left;padding:10px 10px}#bottom-form #bottomForm p{font-size:17px;font-weight:bold;text-transform:uppercase;color:#004b8d;margin-bottom:10px}
#bottom-form #bottomForm label{display:none}
#bottom-form #bottomForm input[type="text"]{border:1px solid #999;font-size:18px;font-weight:200;height:30px;padding:0 1%;margin-bottom:8px;width:98%}
#bottom-form #bottomForm button{background-color:#00aed1;border:1px solid #00aed1;color:#fff;font-size:20px;height:48px;margin-bottom:10px;width:100%;transition:all 250ms ease-out}
#bottom-form #bottomForm button:hover{background-color:#2794b5}
#bottom-form #bottomForm .quote-form-error{display:none}
#bottom-form #bottomForm .consent-box a{font-size:10px}
#bottom-form #bottomForm .consent-box label{display:block;margin-bottom:4px !important}
#bottom-form #bottomForm .consent-box #third-party-container{padding-top:10px}
#footer{clear:both;margin-top:30px}#footer .container{border-top:3px solid #004b8d;padding-top:30px}
#footer .callbox{float:right;text-align:right}#footer .callbox h3,#footer .callbox h4,#footer .callbox p{margin:0}
#footer #footerNav{font-weight:bold;float:left;list-style:none;margin:0;padding-left:0}#footer #footerNav li:first-child{border-left:none}
#footer #footerNav li:first-child a{padding-left:0}
#footer #footerNav li{float:left}#footer #footerNav li a{color:#004b8d;display:block;padding:0 10px 20px}
#terms{font-size:12px;clear:both;padding-top:30px}#terms .container{border-top:1px solid #ccc}
#terms #terms-conditions{float:left;width:48%}
#terms #copyrights{float:right: 48%}
#securitySysFeatures{overflow:hidden}#securitySysFeatures ul{list-style:none;text-align:center}#securitySysFeatures ul li{float:left;margin-right:1%;width:32%}
#securitySysFeatures ul h3 i{color:#00aed1;font-size:40px}
#videoSurveillance{overflow:hidden;clear:both;padding:30px 0}#videoSurveillance .container{border-top:1px solid #ccc}
#gpsTracking{clear:both;overflow:hidden;padding:30px 0}#gpsTracking .container{border-top:1px solid #ccc}
#packagesDescription{background-color:#fff}
#packagesTabs>ul{font-weight:bold;float:left;list-style:none;margin:0;padding-left:0}#packagesTabs>ul li:first-child{border-left:none}
#packagesTabs>ul li:first-child a{padding-left:0}
#packagesTabs>ul li{float:left}#packagesTabs>ul li a{color:#004b8d;display:block;padding:20px}
#packagesTabs>ul li.ui-tabs-active a{text-decoration:underline}
#packagesTabs .tabsContent{clear:both;overflow:hidden}
#tabs{overflow:hidden;padding:30px 0}#tabs ul{padding:0}
#tabs li{background-color:#fff;border:1px solid #ccc;border-radius:6px;box-shadow:0 1px 2px rgba(0,0,0,0.25);float:left;font-size:12px;list-style:none outside none;margin-left:.25%;margin-right:.25%;padding-bottom:6px;position:relative;text-align:center;width:19%}
#tabs h2{margin-bottom:10px}
#tabs .package-blue-strip{background:#004b8d;color:#fff;height:42px;line-height:47px;margin-bottom:12px;position:relative}#tabs .package-blue-strip strong{font-size:24px;margin-right:42px}
#tabs .package-blue-strip small{font-size:11px;font-weight:bold;line-height:1;position:absolute;right:48px;top:15px}
#monitoringOptions{clear:both;overflow:hidden;padding:30px 0}#monitoringOptions .whiteBox{background-color:#fff;border-radius:6px;box-shadow:0 1px 2px rgba(0,0,0,0.25);padding:10px 20px}
#monitoringOptions h4{height:36px;line-height:36px;padding-left:24px}
#monitoringOptions .landlineMonitoring h4{background-position:-43px -1672px}
#monitoringOptions .broadbandMonitoring h4{background-position:-43px -1752px}
#monitoringOptions .cellularMonitoring h4{background-position:-43px -1840px}
#additionalProducts .productsGrid .col{float:left;margin-right:.5%;margin-bottom:5px;width:16%}
#additionalProducts .productsGrid .productWrapper{background:#fff;padding:0 0 40px;position:relative;text-align:center}#additionalProducts .productsGrid .productWrapper p{bottom:10px;left:20px;line-height:1;position:absolute;right:20px}
#cellularUplink{clear:both;overflow:hidden;padding:30px 0}#cellularUplink .container{border-top:1px solid #ccc}
#supportInfo{overflow:hidden;padding:30px 0}
#faqs{padding:30px 0}#faqs .container{border-top:1px solid #ccc}
#faqs .faq h3{background:url(/static/img/affiliates/five-linx/sprite.png) no-repeat scroll -30px -1576px rgba(0,0,0,0);border-top:1px solid #d4dce5;cursor:pointer;margin:0;padding:20px 0 20px 60px}
#faqs .faq .faqAnswer{display:none}
.delete{display:none}
