@import "../generic-landing-page/style.less";


#interiorWrapper {
    background: transparent !important;
}
#top-wrapper {
    background: #fff;
    #left-wrapper {
        padding-top: 16px;
        #five-banner {
            position: absolute;
            left: -14px;
        }
    }
    #quote-form {
        background: #e32505;
    }

}
#five-cards {
    float: none;
    background: black;
}