{% extends "order/quote-form.html" %}
{% block form-extra %}
	<div class="autocenter">
		<div class="form_center">
{% endblock %}
{% block form-title %}

			<p class="form_header">GET YOUR FREE SYSTEM!</p>
			<p class="form_explain">Just provide your <b>contact info.</b> and a representative will contact you directly!</p>
{% endblock %}
{% block quote-button %}Get System!{% endblock %}

{% block consent %}

{% endblock %}
{% block privacy-policy %}
{% endblock %}
{% block quote-validation %}
</div>
</div>
{% endblock %}