
/* Containers */
body { font-size: 1.125em; }
.banner, .grid{ width:1206px; }

.disp_only_phones{display:none;} 
.disp{display:inline}
.disp_desk{display:inline}
.disp_no_desk{display:none;}


/* 6-Col Grid Sizes */
.slot-0,.slot-1,.slot-2,.slot-3,.slot-4,.slot-5{ width:176px; } /* Sixths */
.slot-0-1,.slot-1-2,.slot-2-3,.slot-3-4,.slot-4-5{ width:382px; } /* Thirds */
.slot-0-1-2-3,.slot-1-2-3-4,.slot-2-3-4-5{ width:794px; } /* Two-Thirds */
.slot-0-1-2-3-4,.slot-1-2-3-4-5{ width:1000px; } /* Five-Sixths */

/* 4-Col Grid Sizes */
.slot-6,.slot-7,.slot-8,.slot-9{ width:279px; } /* Quarters */
.slot-6-7-8,.slot-7-8-9{ width:897px; } /* Three-Quarters */

/* 6-Col/4-Col Shared Grid Sizes */
.slot-0-1-2,.slot-1-2-3,.slot-2-3-4,.slot-3-4-5, .slot-6-7,.slot-7-8,.slot-8-9{ width:588px; } /* Halves */



.hero_back{background-image:url('/static/img/affiliates/skyrocket/hero_back_1236.jpg');width:794px;height:302px;}
h2 {font-size: 1.6em;}
.ge_authorized{padding-top:5em; }



.chart{text-align:center; margin-top:.5em; font-weight:bold;}
.chart_header_bg{display:block; background-color:#9b9f9f;  color:fff; padding-top:.5em;}
.chart_header_bg p{color:#fff;}
.gray_bg{display:block; background-color:#f6f7f7;  padding-top:.5em; margin-top:-1em;}
.white_bg{display:block; background-color:#fff;  padding-top:.5em; margin-top:-1em;}
.chart_label{text-align:left; padding-left:1em;}
.company_bg{ width:150px; height:35px; margin-top:-6px; padding-top:.5em;}
.company_bg_dark{ width:150px; height:35px; margin-top:-8px; padding-top:.5em; }
.company_bg_light{ width:150px; height:35px; margin-top:-8px; padding-top:.5em;}

