
/* Containers */
body { font-size: 0.875em; padding: 0; }


.disp_no_phones{display:inline;} 
.disp_only_phones{display:none;} 	

.banner, .grid{ margin:0 auto; padding: 0 10px; width:700px; }
.row{ clear:left; }

/* Slots Setup */
.slot-0,.slot-1,.slot-2,.slot-3,.slot-4,.slot-5,.slot-0-1,.slot-0-1-2,.slot-0-1-2-3,.slot-0-1-2-3-4,.slot-0-1-2-3-4-5,.slot-1-2,.slot-1-2-3,.slot-1-2-3-4,.slot-1-2-3-4-5,.slot-2-3,.slot-2-3-4,.slot-2-3-4-5,.slot-3-4,.slot-3-4-5,.slot-4-5,.slot-6,.slot-7,.slot-8,.slot-9,.slot-6-7,.slot-6-7-8,.slot-6-7-8-9,.slot-7-8,.slot-7-8-9,.slot-8-9{ display:inline; float:left; margin-left:20px; }

/* 6-Col Grid Sizes */
.slot-0,.slot-1,.slot-2,.slot-3,.slot-4,.slot-5{ width:100px; } /* Sixths */
.slot-0-1,.slot-1-2,.slot-2-3,.slot-3-4,.slot-4-5{ width:220px; } /* Thirds */
.slot-0-1-2-3,.slot-1-2-3-4,.slot-2-3-4-5{ width:460px; } /* Two-Thirds */
.slot-0-1-2-3-4,.slot-1-2-3-4-5{ width:580px; } /* Five-Sixths */

/* 4-Col Grid Sizes */
.slot-6,.slot-7,.slot-8,.slot-9{ width:160px; } /* Quarters */
.slot-6-7-8,.slot-7-8-9{ width:520px; } /* Three-Quarters */

/* 6-Col/4-Col Shared Grid Sizes */
.slot-0-1-2,.slot-1-2-3,.slot-2-3-4,.slot-3-4-5, .slot-6-7,.slot-7-8,.slot-8-9{ width:340px; } /* Halves */
.slot-0-1-2-3-4-5, .slot-6-7-8-9{ width: 100%; } /* Full-Width */

/* Zeroing Out Leftmost Slot Margins */
.slot-0,.slot-0-1,.slot-0-1-2,.slot-0-1-2-3,.slot-0-1-2-3-4,.slot-0-1-2-3-4-5,.slot-6,.slot-6-7,.slot-6-7-8,.slot-6-7-8-9,.slot-1 .slot-1,.slot-1-2 .slot-1,.slot-1-2 .slot-1-2,.slot-1-2-3 .slot-1,.slot-1-2-3 .slot-1-2,.slot-1-2-3 .slot-1-2-3,.slot-1-2-3-4 .slot-1,.slot-1-2-3-4 .slot-1-2,.slot-1-2-3-4 .slot-1-2-3,.slot-1-2-3-4 .slot-1-2-3-4,.slot-1-2-3-4-5 .slot-1,.slot-1-2-3-4-5 .slot-1-2,.slot-1-2-3-4-5 .slot-1-2-3,.slot-1-2-3-4-5 .slot-1-2-3-4,.slot-1-2-3-4-5 .slot-1-2-3-4-5,.slot-2 .slot-2,.slot-2-3 .slot-2,.slot-2-3 .slot-2-3,.slot-2-3-4 .slot-2,.slot-2-3-4 .slot-2-3,.slot-2-3-4 .slot-2-3-4,.slot-2-3-4-5 .slot-2,.slot-2-3-4-5 .slot-2-3,.slot-2-3-4-5 .slot-2-3-4,.slot-2-3-4-5 .slot-2-3-4-5,.slot-3 .slot-3,.slot-3-4 .slot-3,.slot-3-4 .slot-3-4,.slot-3-4-5 .slot-3,.slot-3-4-5 .slot-3-4,.slot-3-4-5 .slot-3-4-5,.slot-4 .slot-4,.slot-4-5 .slot-4,.slot-4-5 .slot-4-5,.slot-5 .slot-5,.slot-7 .slot-7,.slot-7-8 .slot-7,.slot-7-8 .slot-7-8,.slot-7-8-9 .slot-7,.slot-7-8-9 .slot-7-8,.slot-7-8-9 .slot-7-8-9,.slot-8 .slot-8,.slot-8-9 .slot-8,.slot-8-9 .slot-8-9{ margin-left:0 !important; } /* Important is to avoid repeating this in larger screen css files */

/* Row Clearfix */
.row:after{ visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0; }
.row{ zoom:1; }

.header_wrap { margin-bottom:-.5em;}
.hero_back{background-image:url('/static/img/affiliates/skyrocket/hero_back_720.jpg'); background-repeat:none; display:block;width:460px;height:175px;}
.logo{text-align:left;}

h1 {font-size: 2em;}
h2 {font-size: 1.2em; text-align:left;}
h4 {font-size: 1.1em;}
.orange_cta{display:block; background-color:#f79c38; color:#fff; font-weight:bold; font-size:2em; text-align:center; padding-top:.5em; padding-bottom:.2em;}
.blue_cta{display:block; background-color:#0067a6; color:#fff; font-weight:bold; font-size:2em; text-align:center; padding-top:.5em; padding-bottom:.2em;}

.points{font-style:italic; margin-left:2em; padding-top:.5em;}
.points b{color:#d12322; font-weight:bold;}
.ge_authorized{padding-top:2em; padding-left:1em;}

.offer_headline{color:#0c608f; font-weight:bold; text-align:center; font-size:.9em; line-height:1.2em;}
.offer_text{text-align:center; font-size:.8em; line-height:1.1em;}



.chart{text-align:center; margin-top:.5em; font-weight:bold; font-size:.8em;}
.chart_header_bg{display:block; background-color:#9b9f9f;  color:fff; padding-top:.5em;}
.chart_header_bg p{color:#fff;}
.gray_bg{display:block; background-color:#f6f7f7;  padding-top:.5em; margin-top:-1em;}
.white_bg{display:block; background-color:#fff;  padding-top:.5em; margin-top:-1em;}
.chart_label{text-align:left; padding-left:1em;}
.company_bg{ display:block; background-color:#457995; width:120px; height:35px; margin-top:-5px; padding-top:.5em;}
.company_bg_dark{ display:block; background-color:#6a9cb9; width:120px; height:35px; margin-top:-6px; padding-top:.5em; color:#fff;}
.company_bg_light{ display:block; background-color:#8cb9d2; width:120px; height:35px; margin-top:-6px; padding-top:.5em; color:#fff;}
