
/* Containers */
body { font-size: 100%; }

/*specific to the size*/
.banner, .grid{ width:966px; }


.disp{display:inline}
.disp_only_phones{display:none;} 

/* Slots Setup */
.slot-0,.slot-1,.slot-2,.slot-3,.slot-4,.slot-5,.slot-0-1,.slot-0-1-2,.slot-0-1-2-3,.slot-0-1-2-3-4,.slot-0-1-2-3-4-5,.slot-1-2,.slot-1-2-3,.slot-1-2-3-4,.slot-1-2-3-4-5,.slot-2-3,.slot-2-3-4,.slot-2-3-4-5,.slot-3-4,.slot-3-4-5,.slot-4-5,.slot-6,.slot-7,.slot-8,.slot-9,.slot-6-7,.slot-6-7-8,.slot-6-7-8-9,.slot-7-8,.slot-7-8-9,.slot-8-9{ display:inline; float:left; margin-left:30px; }

/* 6-Col Grid Sizes */
.slot-0,.slot-1,.slot-2,.slot-3,.slot-4,.slot-5{ width:136px; } /* Sixths */
.slot-0-1,.slot-1-2,.slot-2-3,.slot-3-4,.slot-4-5{ width:302px; } /* Thirds */
.slot-0-1-2-3,.slot-1-2-3-4,.slot-2-3-4-5{ width:634px; } /* Two-Thirds */
.slot-0-1-2-3-4,.slot-1-2-3-4-5{ width:800px; } /* Five-Sixths */

/* 4-Col Grid Sizes */
.slot-6,.slot-7,.slot-8,.slot-9{ width:219px; } /* Quarters */
.slot-6-7-8,.slot-7-8-9{ width:717px; } /* Three-Quarters */

/* 6-Col/4-Col Shared Grid Sizes */
.slot-0-1-2,.slot-1-2-3,.slot-2-3-4,.slot-3-4-5, .slot-6-7,.slot-7-8,.slot-8-9{ width:468px; } /* Halves */

.hero_back{background-image:url('/static/img/affiliates/skyrocket/hero_back.jpg');width:634px;height:241px;}

h1 {font-size: 2.3em;}
h2 {font-size: 1.5em;}
h4 {font-size: 1.25em;}

.orange_cta{display:block; background-color:#f79c38; color:#fff; font-weight:bold; font-size:2.5em; text-align:center; padding-top:.5em; padding-bottom:.2em;}
.blue_cta{display:block; background-color:#0067a6; color:#fff; font-weight:bold; font-size:2.5em; text-align:center; padding-top:.5em; padding-bottom:.2em;}

.ge_authorized{padding-top:3.4em; }

.offer_headline{color:#0c608f; font-weight:bold; text-align:center; font-size:.9em; line-height:1.2em;}
.offer_text{text-align:center; font-size:.9em; line-height:1.2em;}


.company_bg{ width:120px; height:35px; margin-top:-5px; padding-top:.5em;}
.company_bg_dark{width:120px; height:35px; margin-top:-7px; padding-top:.5em; }
.company_bg_light{width:120px; height:35px; margin-top:-7px; padding-top:.5em;}

