html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {color: #444; font-family: helvetica, arial, sans-serif; line-height: 1.5em; background-color:#f0f1f2;}
ol, ul {margin: 0 0 0.5em;}
img {max-width: 100%;}
.grid {padding: 0 20px; box-shadow: 0px 0px 5px #888888; min-width:250px; background-color:#fff; }
.row {margin-bottom: 1em;}
table {border-collapse: collapse; border-spacing: 0;}
p {margin: 0 0 0.5em;}
h1, h2, h3, h4, h5, h6 {font-family: helvetica, arial, sans-serif; font-weight: normal; line-height: 1.2em; padding: 0.5em 0 0.25em;}
h1 {font-size: 1.5em; background-color:#0068a9; display:block; color:#fff; text-align:center; font-weight:bold; padding-top:.125em;}
h2 {font-size: 1.3em; font-weight:bold; text-align:center; padding-left:.5em;}
h3 {font-size: 1.5em;}
h4 {font-size: 1.25em; color:#0c608f; font-weight:bold;}
h5, h6 {font-size: 1em;}

.tac{text-align:center;}	
.gray{color:#444444;}
.orange{color:#f47f10;}
.green{color:#90b816;}
.italic{font-style:italic;}
b {font-weight:bold;}
.clear{clear:both;}
input.placeholder {color: #DDD !important;}

.header_wrap {border-bottom:3px solid #0c608f;}
.header_wrap .row{margin-bottom:0;}
.call{text-align:right; font-size:1.2em; margin-top:1em;}
.call b{color:#0364a3;}
.phone{color:#f7941d; font-weight:bold; font-size:2.3em; text-align:right; margin-top:0.25em; padding-bottom:-1em;}
.logo{text-align:center; margin:auto; display:block;}


ul {  padding-left:1em; list-style: none; margin-top:-.5em;}
li{line-height:1em;}
li:before {   content: "";  border-color: transparent #0068a9; border-style: solid; border-width: 0.35em 0 0.35em 0.45em;  display: block;  height: 0;  width: 0; left: -1em; top: 0.9em; position: relative;}

.hero_back{}
.offer_headline{color:#0c608f; font-weight:bold; text-align:center; font-size:.9em; line-height:1.2em;}
.offer_text{text-align:center; font-size:.9em; line-height:1.2em;}
.offer_text b{color:#d5171d; font-weight:bold;}
.advanced{padding-top:1em; padding-bottom:1em;}

.footer_text {text-align:center; font-size:.8em; max-width:850px; margin:auto; line-height:1.2em; color:#8b8c8d; padding-left:1em; padding-right:1em;}
.three_columns p{font-size:.9em; line-height:1.3em;}

.quote{font-style:italic; font-size:1em; line-height:1.3em;}
.signature{font-weight:bold; text-align:right; padding-bottom:1em;}
.footer_logo{padding-bottom:1em; padding-top:1em;}

#quote-form{padding:0;background-color:#a9d9f4;border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; }
.form-fields, button{width:80%; margin:auto;}
.form-title{text-align:center; font-weight:bold; color:#0c608f; font-size:1.3em; padding-top:1em;}
.form_explain{text-align:center; color:#0c608f; font-size:.9em; line-height:1.1em; padding-bottom:1em;}
.privacy{text-align:center; color:#aaaaaa; font-size:.8em; line-height:1.2em; padding-top:1em;}
#quote-form button{background-color:#f7941d;border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; color:#fff;font-weight:bold;border:none;font-size:1.2em;margin-bottom:1.5em; display:block;width:80%;/*remove gradient in mobile browsers*/background: -webkit-gradient(linear, left top, right top, from(#e68303), to(#e68303));background: -webkit-linear-gradient(left, #e68303, #e68303);background: -moz-linear-gradient(left, #e68303, #e68303);background: -ms-linear-gradient(left, #e68303, #e68303);background: -o-linear-gradient(left, #e68303, #e68303);}
#quote-form input, #quote-form  textarea { padding: 10px; margin: 2px 0 15px 0; background: #fff; width: 90%; font-size: 14px;font-family:helvetica, sans-serif;color: #555; border: 1px solid #5c5c5c;}
#quote-form  select { 		padding: 7px 6px  7px 6px; margin: 2px 0 5px 0; background: #fff; width: 100%;height:38px;font-size: 14px;font-family:helvetica, arial, sans-serif;color: #555; border: 1px solid #5c5c5c;}
/*BACKGROUND IMAGES*/
.bg{background-image:url('/static/img/affiliates/skyrocket/generic.png');border-bottom:5px solid #cb2028;background-color: #cb2028;display:block;background-position:50% 20%;background-repeat:no-repeat;padding-bottom:1.4em;padding-top:3.6em;}
/*BACKGROUND IMAGES*/
	
.disp_only_phones{display:inline;} 	
.disp_no_phones{display:none;} /*don't show to phones*/
.disp{display:none;} /*don't show to phones & ipads*/
.disp_desk{display:none;} /*only show on desktop*/
.disp_no_desk{display:inline;} /*don't show to desk*/