@import "../generic-landing-page/style.less";

body {
    background-color: @white;
}
#header-wrapper {
    margin-top: 8px;
}
#sub-navigation {
    display: none;
}
#top-wrapper {
    backgroun-color: @white;
    margin-bottom: 16px;
    .drop-shadow(0px, 2px, 3px, @grey);
    #left-wrapper {
        .content-box(661px);
        height: 408px;
        margin: 8px 0 0 8px;
        h1 {
            padding-top: 30px;
            font-size: 45px;
            font-weight: 300;
            color: @red;
        }
        h2 {
            font-size: 45px;
            font-weight:600;
            color: @red;
        }
        h3 {
            font-size: 33px;
            font-weight: 300;
            color: #6fa53b;
        }
        img {
            padding-top: 25px;
        }
    }
    #quote-area {
        width: 283px;
        float: left;
        margin-top: 8px; 
        #quote-form {
            margin-top: 8px;
            margin-bottom: 8px;
            margin-left: 0;
        }        
    }
    

    #call-box {
        margin: 0;
        border: none;
        background: transparent;
        text-transform: uppercase;
        p {
            font-size: 30px;
            color: @black;
        }
    }    
}
#five-blocks {
    .assurance-block {
        background: transparent;
        text-align: center;
        .border-radius(5px,5px,5px,5px);
        border: 1px solid transparent;
        margin-right: 17px;
        cursor: pointer;
        cursor: block;
        &.active {
            background: #ddeef8;
        }
        h3 {
            color: #555;
            font-size: 13px;
            text-transform: uppercase;
        }
        &:hover {
            background: #ddeef8;
        }
    }
}
#five-cards {
    height: 550px;
    background: transparent;
    .drop-shadow(0px, 2px, 3px, @grey);
    z-index: 999;
    #selector-arrow {
        background: url(/static/img/affiliates/diy-landing-page/paper-arrow.png) no-repeat;
    }
        .image-area {
            width: 275px;
            height: 363px;
            .image-break(-175px);
            margin-top: 230px;
            z-index: 1
        }
    .assurance-card {
        background: transparent;
            .drop-shadow(0px, 2px, 3px, @grey);
            position: relative;
        .copy-point {
            float: left;
            width: 460px;
            padding: 16px;
            padding-left:45px;
            height: 363px;
            h2 {
                font-size: 35px;
                line-height: 40px;
                color: @dark-grey;
                font-weight: lighter;
                letter-spacing: 2;
            }
            p {
                font-size: 16px;
                line-height: 27px;
                span {
                    font-size: 16px;
                    line-height: 36px;
                    font-weight:700;
                }
            }
            #interactive-call-outs {
                float: left;
                background: #eeeeee;
                .drop-shadow(0px, 2px, 3px, @grey);
                width: 325px;
                height: 425px;
                .img {
                    margin-left: 300px;
                }
            }
            #call-area {
                p {
                    color: @blue;
                    strong {
                        color: @red;
                    }
                }
            }
        }
    }
}