@import "../generic-landing-page/style.less";

body {
    background-color: @white;
}
#header-wrapper {
    margin-top: 8px;
}
#sub-navigation {
    display: none;
}
#top-wrapper {
    backgroun-color: @white;
    margin-bottom: 16px;
    #left-wrapper {
        .content-box(661px);
        margin: 8px 0 0 8px;
        h1 {
            padding-top: 30px;
            font-size: 45px;
            font-weight: 300;
            color: @red;
        }
        h2 {
            font-size: 45px;
            font-weight:600;
            color: @red;
        }
        h3 {
            font-size: 33px;
            font-weight: 300;
            color: #6fa53b;
        }
        img {
            padding-top: 25px;
        }
    }
    #quote-area {
        width: 283px;
        float: left;
        margin-top: 8px; 
        #quote-form {
            margin-top: 8px;
            margin-bottom: 8px;
            margin-left: 0;
        }        
    }
    #call-box {
        margin: 0;
        border: 1px solid @light-grey;
        text-transform: uppercase;
        p {
            font-size: 30px;
            color: @black;
        }
    }    
}
#five-blocks {
    .assurance-block {
        background: transparent;
        text-align: center;
        .border-radius(5px,5px,5px,5px);
        border: 1px solid @light-grey;
        margin-right: 17px;
        cursor: pointer;
        cursor: block;
        &.active {
            .inset-shadow(0, 2px, 3px, @light-grey);
            background: rgba(255,255,255,.4);
            border: 1px solid #0069aa;
            background: #ddeef8;
        }
        h3 {
            color: #555;
            font-size: 13px;
            text-transform: uppercase;
        }
        &:hover {
            background: #ddeef8;
            .inset-shadow(0, 2px, 3px, @light-grey);
            border: 1px solid #0069aa;
        }
    }
}
#five-cards {
    background: transparent;
    border: #0069aa solid 1px;
    z-index: 999;
    height: auto;
    #selector-arrow {
        background: url(/static/img/affiliates/diy-landing-page/paper-arrow-blue.png) no-repeat;
    }
    .image-area {
        width: 275px;
        height: 363px;
        .image-break(-175px);
        margin-top: 10px;
    }
    .assurance-card {
        background: transparent;
        position: relative;
        .copy-point {
            float: left;
            width: 855px;
            padding: 16px;
            padding-left:15px;
            h2 {
                font-size: 35px;
                line-height: 40px;
                color: @dark-grey;
                font-weight: lighter;
                letter-spacing: 2;
            }
            p {
                font-size: 16px;
                line-height: 27px;
                span {
                    font-size: 16px;
                    line-height: 36px;
                    font-weight:700;
                }
            }
            #call-area {
                p {
                    color: @blue;
                    strong {
                        color: @red;
                    }
                }
            }
        }
    }
    #interactive-call-out-box {
        width: 439px;
        height: 287px;
        float: left;
        .interactive-call-out {
            width: 460px;
            height: 235px;
            margin-top: 15px;
            margin-left: 500px;
            background-color: #e6e6e6;
            img {
                float: left;
                padding-left: 15px;
                padding-right: 20px;
            }
            ul {
                width: 400px;
                li {
                    padding-top: 15px;
                    strong {
                        display: block;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}
.copy-point2 {
    float: left;
    width: 250px;
    height: 640px;
    padding: 16px;
    padding-left:45px;
    h2 {
        span {
            font-size: 52px;
            line-height: 50px;
            color: @dark-grey;
            font-weight: 500;
            letter-spacing: 2;
        }

    }
}
.four-call-out-boxes {
    float: left;
    margin-top: 25px;
    width: 647px;
    .top-left {
        float: left;
        width: 300px;
        height: 300px;
        border: solid thin #efefef;
        .drop-shadow(-4px, -4px, 3px, #efefef);
        h2 {
            width: 250px;
            margin: auto;
            padding-top: 15px;
            font-size: 15px;
            font-weight: 800;
            line-height: 5px;
        }
        p {
            width: 250px;
            margin: auto;
        }
        img {
            float: left;
            padding-left: 25px;
        }
    }
    .top-right {
        float: right;
        margin-right: 10px;
        width: 300px;
        height: 300px;
        border: solid thin #efefef;
        .drop-shadow(-4px, -4px, 3px, #efefef);
        h2 {
            width: 250px;
            margin: auto;
            padding-top: 15px;
            line-height: 5px;
        }
        p {
            width: 250px;
            margin: auto;
        }
        img {
            float: left;
            padding-left: 25px;
        }
    }
    .bottom-left {
        margin-top: 15px;
        float: left;
        width: 300px;
        height: 300px;
        .drop-shadow(-4px, -4px, 3px, #efefef);
        border: solid thin #efefef;
        h2 {
            width: 250px;
            margin: auto;
            padding-top: 15px;
            line-height: 5px;
        }
        p {
            width: 250px;
            margin: auto;
        }
        img {
            float: left;
            padding-left: 25px;
        }
    }
    .bottom-right {
        margin-top: 15px;
        margin-right: 10px;
        float: right;
        width: 300px;
        height: 300px;
        .drop-shadow(-4px, -4px, 3px, #efefef);
        border: solid thin #efefef;
        h2 {
            width: 250px;
            margin: auto;
            padding-top: 15px;
            line-height: 4px;
        }
        p {
            width: 250px;
            margin: auto;
        }
        img {
            float: left;
            padding-left: 25px;
        }
    }
}
.image-area2 {
    width: 275px;
    height: 700px;
    .image-break(-200px);
    z-index: -1;
    top: 0;
}
#touchscreen-features {
    .content-box;
    text-align: center;
    height: 600px;
    h2 {
        text-align: left;
        margin: 15px;
        font-size: 35px;
        line-height: 40px;
        color: @dark-grey;
        font-weight: lighter;
        letter-spacing: 2;
    }
    p {
        text-align: left;
        margin: 15px;
        font-size: 16px;
        line-height: 27px;
        width: 750px;
        span {
            font-weight: 600;
        }
    }
    img {
        position: relative;
    }
    #tech-specs {
        position: absolute;
        width: 309px;
        bottom: 0px;
        right: 0px;
        font-size: 10px;
        line-height: 12px;
        background: rgba(255,255,255,.5);
        z-index: 50;
        tr {
            th {
                text-align: center;
                font-weight: bold;
                font-size: 14px;
                line-height: 16px;
                padding: 4px;
                background: @light-blue;
                border: 1px solid @v-light-grey;

            }
            td {
                padding: 4px;
                vertical-align: middle;
                border: 1px solid @v-light-grey;
                border-top: none;
                border-right: none;
                &.omega {
                    border-right: 1px solid @v-light-grey;
                }
            }
        }
    }
}
#house-features {
    .content-box;
    text-align: center;
    height: 650px;
    h2 {
        text-align: left;
        margin: 15px;
        font-size: 35px;
        line-height: 40px;
        color: @dark-grey;
        font-weight: lighter;
        letter-spacing: 2;
    }
    p {
        text-align: left;
        width: 550px;
        margin:5px 15px 8px 15px;
        font-size: 16px;
        line-height: 27px;
        span {
            font-weight: 600;
        }
    }
    img {
        position: relative;
    }
    #tech-specs {
        position: absolute;
        width: 309px;
        bottom: 0px;
        right: 0px;
        font-size: 10px;
        line-height: 12px;
        background: rgba(255,255,255,.5);
        z-index: 50;
        tr {
            th {
                text-align: center;
                font-weight: bold;
                font-size: 14px;
                line-height: 16px;
                padding: 4px;
                background: @light-blue;
                border: 1px solid @v-light-grey;

            }
            td {
                padding: 4px;
                vertical-align: middle;
                border: 1px solid @v-light-grey;
                border-top: none;
                border-right: none;
                &.omega {
                    border-right: 1px solid @v-light-grey;
                }
            }
        }
    }
}

#equipment-features {
    position: relative;
    .equipment-feature {
        position: absolute;
        width: 24px;
        height: 24px;
        z-index: 250;
        .feature-icon {
            width: 24px;
            height: 24px;
            background: @blue;
            .drop-shadow(0px, 2px, 5px, @black);
            .border-radius(10px, 10px, 10px, 10px);
            border: 2px solid @light-blue;
            z-index: 100;
            position: absolute;
            left: 0;
            top: 0;
            color: @white;
            font-weight: bold;
            cursor: pointer;
            cursor: hand;
            &:hover {
                .background-gradient(@blue, #00568b);
                border: 2px solid @light-blue;
            }
            &.active {
                background: @red;
                border: 2px solid @dark-red;
                &:hover {
                    .background-gradient(#e51a19, #ba1615);
                }
            }
        }
        .feature-content {
            position: absolute;
            width: 250px;
            background: @v-light-grey;
            .background-gradient(@off-white, @v-light-grey);
            border: 1px solid @light-grey;
            top: 50%;
            .drop-shadow(0px, 2px, 5px, @grey);
            padding: 8px;
            .border-radius(5px, 5px, 5px, 5px);
            z-index: 50;
            display: none;
            &.first-open {
                display: block;
            }
            &.right {
                right: 12px;
            }
            &.left {
                left: 12px;
            }
            h3 {
                font-size: 16px;
                font-weight: bold;
            }
            p {
                font-size: 13px;
                line-height: 16px;
                text-align: justify;
                color: @black;
            }
        }
    }
}
#package-comparison-chart {
        .content-box;
        height: 1000;
        margin-top: 15px;
        h2 {
            text-align: left;
            margin-left: 15px;
            font-size: 35px;
            line-height: 40px;
            color: @dark-grey;
            font-weight: lighter;
            letter-spacing: 2;
        }
        table {
            td {
                width: 17%;
                text-align: center;
                vertical-align: middle;
                padding: 15px 0;
                border: 1px solid @light-grey;
                border-left: none;
                border-top: none;
                .fade-fast;
                &:hover {
                  background: @v-light-blue+10;
                  .fade-fast;
                }
                span {
                    font-size: 16px;
                    display: block;
                    font-weight: bold;
                }
                &.button {
                    border-right: none;
                }
                &.omega {
                    border-bottom: none;
                }
                &.call-out {
                    background: #fffee4;
                    font-size: 18px;
                    font-weight: bold;
                }
                .strike {
                    text-decoration: line-through;
                }
                .free {
                    color: @red;
                }
            }
            tr {
                .fade-slow;
                &:hover {
                    background: @v-light-blue;
                    .fade-fast;   
                }
                
            }
            .blank-box {
                border-right: 1px solid @light-grey;
            }
            th {
                background: @light-blue;
                border: 1px solid @light-grey;
                padding: 5px;
                text-align: center;
                vertical-align: middle;
                font-size: 15px;
                font-weight: bold;
                border-left: none;
                &.alpha {
                    background: none;
                    border-top: none;
                    border-bottom: none;
                }
                &.omega {
                    background: none;
                    border-top: none;
                    border-right: none;
                    border-bottom: none;
                }
            }
        }
    }



