body,div,dl,dt,dd,ul,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{ margin:0; padding:0; }
body{ font-family:'Open Sans', Helvetica, Arial, sans-serif; font-size:12px; font-weight: 400; position: relative; overflow-x: hidden;}
body{ background-color:#f0f5f7; }
div{ display: block; }
div.block{ width: 100%; overflow:hidden; float:left; margin-bottom:20px; }
img{ border:0; float: left; }
ul,li{ list-style: none;  }
ul{ margin: 0; padding: 0; position:relative; float: left; }
ol { list-style: decimal inside; display:block; }
li{ float: left; padding: 0; margin: 0; position:relative;}
h3{ font-family: 'Sanchez'; font-size: 32px; line-height:64px; color: #ffffff; float: left; font-weight: 400; width:100%; text-align:center; text-shadow: #581b00 0px 1px 1px; }
h3 strong{ font-weight: normal; color: #796bcd; }
h3 span{ color:#f14f35;  }
h5{ font-family:'Open Sans'; font-size:15px; font-weight:600; margin-bottom:10px; color:#222222; }
hr{ border: 0; height:3px; color:#f14f35; background-color: #f14f35; clear:both; }
hr.thin{ border: 0; height:1px; color:#e3e3e3; background-color: #e3e3e3; clear:both; }
hr.boxhr{border: 0; height:1px; color:#dbdbdb; background-color: #dbdbdb; clear:both; width:80%;}
a, a:hover, a:visited, a:link, a:active{text-decoration: none;color: #FFFFFF; }
input[type=text]{  }
input[type=submit]{ }
form{ float:left; }
label{ float:left; margin-right:5px; }

.topBarHolder{ width:100%; }
#top-bar { 
	position: fixed; 
	top: -205px; 
	margin-left: auto;
	margin-right: auto;
    z-index:1;
    width:1007px;
    margin-left: 8px;
   
}

#mainContainer{ clear:both; min-width: 1020px; margin: 0 auto; width:100%; }
#content { float: left; width:100%; clear:both; background:url(/static/img/affiliates/centerfield-media/lp2/bottom_background.jpg) repeat-x #f0f5f7 0 bottom; background-position-y:bottom;}
#centeredContainer{ background: transparent; float:left; position: relative; width:100%; margin: 0 auto; text-align:left; background-color: #fcfcfc; }
#topContainer{ float:left;clear:both; width:100%; margin-bottom:20px; position:relative; }
#logoContainer{ float:left;clear:both; width:100%; background:url(/static/img/affiliates/centerfield-media/lp2/top_background.jpg) repeat-x; height:107px; }
#header{ float:left;clear:both; position:relative; background: url(/static/img/affiliates/centerfield-media/lp2/header.jpg) #026aab no-repeat center; width:100%; height:582px; border-top: red 3px solid; }
#middleContent{float:left;clear:both; position:relative; width:100%; }
#getstarted{ position:absolute; background: url(/static/img/affiliates/centerfield-media/lp2/getstarted_background.jpg) repeat-x; height:91px; width:100%; }
#mainContent{ position:initial; }
#mainContentOutline{ border:1px solid #dbe0e2; float:left; clear:both; width:100%; padding-bottom:20px; border-bottom-left-radius:1em; border-bottom-right-radius:1em; background-color: #fcfcfc; }
.contentClear{ height:110px; clear:both;float:left; width:100%; }
.titleHolder{ position:relative; float:left; clear:both; width:100%; }
.title{ width:1042px; height:84px; background:url(/static/img/affiliates/centerfield-media/lp2/title_background.png) no-repeat; position:absolute; left:-11px;}
.contentHolder{ width:1020px; min-width:1020px; margin: 0 auto; position:relative; }

#logo{ position:absolute; top:26px; left: 40px; }
#calltoday, #calltoday_top{ position:absolute; right:20px; top:26px; }
#getstarted_call{position:absolute; top:7px; left:0; margin:0 0 0 8px;}

.price{ font-family:'Sanchez'; position:absolute; width:322px; height:116px; right:35px; }
.price .starting{ font-size:20px; color:#a00408; text-align:center; text-transform:uppercase; }
.price .month{ color:#ffffff; font-size:64px; margin-left:15px; margin-top:7px; float:left; }
.price .month .usd{ font-size:44px;}
.price .month .asterisk{font-size:40px;}
.price .permonth{ color:#ffffff; font-size:24px; width:87px; float:left; margin-left:10px; margin-top:15px; }
.form-wrap{ position:absolute; right:40px; top:120px; width:310px; }
.title-form{ font-size:25px; font-family:'Open Sans', Helvetica, Arial, sans-serif; padding:20px 0 0 0; text-align:center; color:#ce1b20; }
.title-form span{ color:#379715; font-weight:700; font-size:16px;display:block; clear:both;
background:#FFF; }
.tf, #quote-form label{ font-size:17px; padding:10px 0 0 0; margin:0 0 0 12px; font-family:'Open Sans', Helvetica, Arial, sans-serif; }
.tf span{ color:#ff0000; }
.tb, #quote-form input{ background:url(/static/img/affiliates/centerfield-media/lp2/input_background.png) no-repeat; border:none; width:289px; height:33px; outline:none; padding:0 0 0 15px; margin:0 0 0 11px; font-family:'Open Sans', Helvetica, Arial, sans-serif; }
.share, #quote-form a{ text-align:center; margin-top:10px; display: block; }
.share a, #quote-form a{ margin:auto; color:#026aab; text-decoration:underline; font-size:13px; }

.btn{ background:url(/static/img/affiliates/centerfield-media/lp2/getquote.png) no-repeat; border: none; width:292px; height:65px; outline:none; margin:20px auto 0 auto; display:block; font-size: 0; background-position:0 0; cursor: pointer; cursor: hand;}
.btn:hover{ background-position:0 0; }
#quote-form-error, #quote-form p {display:none;}
#getstarted.stuck { position:fixed; top: -5px; z-index: 999; left: 0;

}
#third-party-container {
    margin-top: 46px;
    padding-left: 8px;
}
.third-party-badge {
    float: left;
}
.third-party-badge.truste {
    margin-top: 8px;
}
.wrapper {
    background: #fff;
}
#call-box {width: 926px; background: #fff; padding: 8px; margin: 8px auto;}
#call-box p {
        font-size: 40px;
        font-weight: 300;
        margin-bottom: 0;
        text-align: center;
        color: #0069aa;
}
#call-box p strong { color: #e31b23;}
#call-box p strong a {
                text-decoration: none;
                color: #e31b23;
            }


#header-wrapper {width: 960px; margin: 0 auto; position: relative;}
#phone-number { color: @black; font-weight: bold; float: right; text-align: center; width: 320px; margin-right: 16px; position: relative; bottom: 4px; }
#phone-number p { font-size: 21px; line-height: 16px; position: relative; top: 4px; text-transform: uppercase;}
#phone-number p span { font-size: 40px; color: #e31b23 !important; display: block; line-height: 1.5em; }
#phone-number p span a { text-decoration: none; color: #e31b23 !important; }


.advantages{ height:900px; width:100%; float:left;clear:both; padding-top:80px; }
.advantagesTopGroups{ float:left;clear:both; margin-top:30px; width:100%; padding-left:30px; }
.advantagesBottomGroups{ float:left;clear:both; margin-top:30px; width:100%; padding-left:30px; }
.advantagesGroup{ width:180px; float:left; position:relative; margin-right:10px; }
.advantagesTopImage{ margin-left:18px;  }
.advantagesTopTitle{ text-align:center; color:#0066b3; font-size:19px; font-family:'Sanchez'; float:left; clear:both; width:100%; margin-top:10px; min-height:80px;}
.advantagesTopDescription{float:left; clear:both; width:100%; margin-top:15px; font-family:'Open Sans', Helvetica, Arial, sans-serif; }
.advantagesBottomGroups .advantagesGroup{ width:320px; margin:30px 0 0 0;}
.advantagesBottomGroups .advantagesTopImage{ margin-left:45px; }
.advantagesBottomGroups .advantagesGroup .advantagesTopTitle{ font-size:22px; }
.advantagesBottomGroups .advantagesGroup .titleBig1{ color:#379900; }
.advantagesBottomGroups .advantagesGroup .titleBig2{ color:#0066b3; }
.advantagesBottomGroups .advantagesGroup .titleBig3{ color:#c30d0d; }
.advantagesBottomGroups .advantagesGroup .advantagesTopDescription{ width:85%; }

.security{ height:752px; width:100%; background:url(/static/img/affiliates/centerfield-media/lp2/security_background.jpg) no-repeat bottom #2d85b8; float:left; clear:both; padding-top:80px; }
.securitySmall{ height:698px; float:left; width:356px; margin: 40px 0 0 30px; }
.securityLarge{ height:698px; width:607px; float:left; margin-top:40px; }
.securityColumn{ float:left; margin-top:43px; }
.securityRow{}
.firstRow{}
.firstRow img{ float:left; clear:both; margin-top:15px;}
.firstRow span{ font-family:'Sanchez'; font-size:28px; color:#FFFFFF;float:left;clear:both; text-align:center; width:100%;}
.titleRow{ color: #FFFFFF; font-family:'Open Sans'; font-size:40px; font-weight:700; width:100%; height:54px; }
.titleRow .rowPrice{ margin-left:30px; }
.titleRow .rowPrice sup{ font-size:22px; }
.titleRow .rowMonthly{ color:#000000; font-size:12px; margin-left:-30px; }
.middleRow{ color: #373838;text-align:center; float:left; clear:both; background:url(/static/img/affiliates/centerfield-media/lp2/security_table_row.png) repeat-x; width:100%; height:79px; padding:0;}
.middleRow .rowNumber{ font-family:'Open Sans'; font-size:30px; font-weight:600; float:left; clear:both; width:100%; margin-top:10px; }
.middleRow .rowText{ font-family:'Sanchez'; font-size:12px; width:100%; float:left; clear:both; }
.exclusiveRow{background:url(/static/img/affiliates/centerfield-media/lp2/security_table_smart.png) no-repeat; float:left;clear:both; width:100%; height:56px; padding:15px 0 0 10px; text-shadow: #167406 0px -1px -1px; }
.exclusiveRow .rowExclusive{ font-family:'Open Sans'; font-style:italic; font-weight:400; color:#ffffff; font-size:14px; float:left; clear:both; line-height:15px; }
.exclusiveRow .rowSmart{ font-family:'Open Sans'; font-weight:600; color:#fff608; font-size:19px; float:left; clear:both; line-height:24px; width:100%; }
.lastRow{ height:85px; float:left;clear:both; text-align:center; }
.lastRow .rowText{ font-family:'Open Sans'; font-size:12px; width:100%; float:left; clear:both; margin-top:15px; }
.orangeRow{ background:url(/static/img/affiliates/centerfield-media/lp2/security_table_price_1.png) no-repeat center 0; }
.orangeRow .rowPrice{ text-shadow: #990d09 0px 1px 1px; }
.bronzeRow{ background:url(/static/img/affiliates/centerfield-media/lp2/security_table_price_2.png) no-repeat center 0;}
.bronzeRow .rowPrice{ text-shadow: #593a08 0px 1px 1px; }
.silverRow{ background:url(/static/img/affiliates/centerfield-media/lp2/security_table_price_3.png) no-repeat center 0;}
.silverRow .rowPrice{ text-shadow: #f2fdff 0px 1px 1px; color:#363737; }
.goldRow{ background:url(/static/img/affiliates/centerfield-media/lp2/security_table_price_4.png) no-repeat center 0;}
.goldRow .rowPrice{ text-shadow: #f2fdff 0px 1px 1px; color:#6a5002; }
.platinumRow{ background:url(/static/img/affiliates/centerfield-media/lp2/security_table_price_5.png) no-repeat center 0;}
.platinumRow .rowPrice{ text-shadow: #f2fdff 0px 1px 1px; color:#095f73; }
.rowNumberGreen{ color:#3cb54c; font-weight:700; }
.securitySmall .securityColumn{ width:174px; }
.securitySmall .firstRow{ background:url(/static/img/affiliates/centerfield-media/lp2/security_table_top_small.png) no-repeat; width:174px; height:118px;  }
.securitySmall .firstRow img{ margin-left:60px; }
.securitySmall .middleRow{ margin-left:3px; width:168px; }
.securitySmall .lastRow{ background: url(/static/img/affiliates/centerfield-media/lp2/security_table_bottom.png) no-repeat; background-position-x:center; width:100%; }
.securityLarge .securityColumn{ width:199px; margin-left:2px; margin-top:0; }
.securityLarge .firstRow{ background:url(/static/img/affiliates/centerfield-media/lp2/security_table_top.png) no-repeat; width:199px; height:118px;  }
.securityLarge .firstRow img{ margin-left:70px; }
.securityLarge .middleRow{ margin-left:3px; width:193px; }
.securityLarge .lastRow{ background: url(/static/img/affiliates/centerfield-media/lp2/security_table_bottom_big.png) no-repeat; background-position-x:center; width:100%; }
.securityLarge .rowPrice{ margin-left:42px; }
.securityLargeTitle{ float:left; clear:both; width:100%; text-align:center; color:#ffffff; font-family:'Sanchez'; font-size:20px; margin:10px 0 8px 0; text-shadow: #130d14 0px 1px 1px;  }
.securityRowImage{ float:left;clear:both; margin:5px 0 0 5px; }

.whatProtect{ height:690px; width:100%;float:left;clear:both; padding-top:80px; }
.protectTable{ width:960px; float:left;clear:both; margin:20px 0 0 30px; }
.protectColumn{float:left; font-family:'Sanchez'; font-size:22px;}
.protectRow{float:left;clear:both; width:100%; border-bottom:1px solid #e1e4e6; line-height:42px;}
.protectColumn .firstRow{ height: 61px;}
.protectColumn .lastRow{ height:86px;border:none; }
.labelColumn{ width:320px; color:#6d6d6d; text-align:right; background:url(/static/img/affiliates/centerfield-media/lp2/table_shadow_left.png) no-repeat 290px 0; }
.labelColumn .protectRow{ text-align:right; padding-right:40px; width:280px; }
.americaColumn{ width:284px; color:#ffffff; }
.americaColumn .protectRow{ text-align:center; width:284px; background-color:#2670aa; }
.americaColumn .protectRow .protectCenterImage{ margin: 0 auto; width:34px; height:39px; padding-top:3px; }
.americaColumn .firstRow{ border-top-left-radius:0.3em; border-top-right-radius:0.3em; }
.americaColumn .lastRow{ border-bottom-left-radius:0.3em; border-bottom-right-radius:0.3em; }
.americaColumn .lastRow a{ margin:10px 0 0 10px; float:left; }
.americaTitle{ margin: 0 auto; width:250px;}
.americaTitle img{ float:left; clear:none; }
.americaTitle span{ float:left; clear:none; font-family:'Verdana'; font-size:18px; font-weight:800; width:auto; margin: 12px 0 0 10px;  }
.adtColumn, .frontpointColumn{ width:172px; color:#2878af; margin-left:5px; background:url(/static/img/affiliates/centerfield-media/lp2/table_shadow_right.png) no-repeat; background-position-x:left; }
.adtColumn .protectRow, .frontpointColumn .protectRow{ text-align:center; width:172px; height:42px;}
.adtColumn .protectRow .protectCenterImage, .frontpointColumn .protectRow .protectCenterImage{ margin: 0 auto; width:34px; height:39px; padding-top:3px; }
.adtColumn .firstRow, .frontpointColumn .firstRow{ background-color:#dddddd; height:61px; }
.adtTitle{ margin: 0 auto; width:172px;}
.adtTitle span{ float:left; clear:none; font-family:'Sanchez'; font-size:22px; width:100%; margin: 12px 0 0 0; color:#2878af; text-align:center; }
.frontpointColumn{ background:none; margin-left:0; }
.frontpointColumn .firstRow{ border-left:2px solid #d1d1d1; }
.frontpointColumn .protectRow{ border-left:2px solid #d1d1d1; border-right:none;}
.frontpointColumn .lastRow{ border:none; }

.aboutUs{ height:640px; width:100%;float:left;clear:both; padding-top:80px; }
.commentsColumn{ float:left; width:332px; margin:30px 0 0 5px; }
.comment{ width:309px; float:left; clear:both; margin-left:10px; }
.comment .commentFrom{ font-family:'Open Sans'; font-style:italic; font-weight:400; font-size:14px; margin-top:10px; }
.comment .commentFrom span{ color:#e72b2b; }
.comment .commentWrite{ font-family:'Sanchez'; color:#2e88bd; font-size:24px; }
.comment .commentBox{ width:309px; }
.comment .commentBox .commentBoxTop{ background:url(/static/img/affiliates/centerfield-media/lp2/aboutbox_top.png) no-repeat; height:27px; width:309px; }
.comment .commentBox .commentBoxMiddle{ background:url(/static/img/affiliates/centerfield-media/lp2/aboutbox_middle.png) repeat-y; width:259px; font-family:'Open Sans'; font-size:1.4em; color:#010101; padding:0 25px; font-weight:400; line-height:22px; }
.comment .commentBox .commentBoxBottom{ background:url(/static/img/affiliates/centerfield-media/lp2/aboutbox_bottom.png) no-repeat; height:23px; width:309px; }

.companies{ float:left;clear:both; margin:10px 0 30px 0; width:100%; background-color:#f5f4f4; height:120px; }
.companies img{ margin:10px 0 0 40px; width:947px; float:left; clear:both; }

#bottomContainer{ float:left;clear:both; width:100%; }
#bottomTerms{ font-family: Verdana; color:#FFF; padding:20px; padding-bottom:40px; font-size:10px; float:left; }
.bottomColumn{ width:450px; float:left; margin:0 20px; }

div.maintitles {
	position:absolute;
	top: 10px;
	left: 0px;
}
div.maintitles div.ftitle {
	color:#FFF;
	text-shadow:1px 1px 1px #039;
	font-size: 36px;
	font-family:'Noto Sans', Helvetica, Arial, sans-serif;
}
div.maintitles span.byello {
	font-size:51px;
	font-family:'Open Sans', Helvetica, Arial, sans-serif;
	color:#ffcb08;
	font-weight:700;
	line-height:1em;
}
div.ftitle span.redfree {
	display:inline-block;
	background-color:#f30d14;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
	font-weight:700;
	padding:5px;
}
ul.mainlist {
	color: #FFF;
	position:absolute;
	top: 178px;
	left:30px;
}
ul.mainlist li {
	list-style: url('/static/img/affiliates/centerfield-media/lp2/check_green2.png');
	display: list-item;
	float: none;
	font-size:21px;
	font-family:'Noto Sans', Helvetica, Arial, sans-serif;
	margin:0 0 7px 0;
}
div.keyoffer {
	position:absolute;
	top: 476px;
	left: 176px;
	width: 475px;
}
div.offertxt {
	float:left;
	width: 61%;
	font-size: 15px;
	line-height: 1em;
	font-family:'Noto Sans', Helvetica, Arial, sans-serif;
}
div.offertxt span.ojb {
	font-weight:700;
	color:#f4512d;
	text-transform:uppercase;
}
ul.nlist {
	float: left;
	width: 33%;
}
ul.nlist li {
	display:list-item;
	color:#d72126;
	font-weight:700;
}
div.fielditems {
	background-color:#e5ecf4;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
	padding: 5px 0px 10px 0;
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
.tk-jaf-facitweb {
	font-family: "jaf-facitweb",sans-serif;
}

#quote-form button.redbutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809) );
	background:-moz-linear-gradient( center top, #89c403 5%, #77a809 100% );
	background-color:#89c403;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #74b807;
	display:block;
	color:#ffffff;
	font-family:arial;
	font-size: 30px;
	font-weight:bold;
	padding:6px 0;
	text-decoration:none;
	text-shadow:1px 1px 0px #528009;
	margin:20px auto 0 auto;
	cursor:pointer;
	width: 291px;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809');

}
#quote-form button.redbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403) );
	background:-moz-linear-gradient( center top, #77a809 5%, #89c403 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403');
	background-color:#77a809;
}
span.bluet {
	color:#026aab ;
}

div#company-logo {
	position:relative;
	width: 31%;
}
div#company-logo img#ge-logo {
	position: absolute;
	top: 37px;
	right: 18px;
	width: 96px;
}
div#company-logo img#protect-america-logo {
	position:absolute;
	top:-6px;
}