@charset "UTF-8";

@import "style";

/*************** Main Styles ************/
body {
    text-align: center;
    font-family: Helvetica Neue, Arial, sans-serif;

}
#company-logo {
    width: 450px;
    margin: 0 auto;
}
.wrapper {
    background: @white;
    .callbox {

        h4 {

            font-size: 36px;
            height: 48px;
            line-height: 48px;

        }
        p {
            font-weight: bold;
            font-size: 12px;
            line-height: 18px;
            text-transform: uppercase;
            margin: 0;
            padding: 0;
        }
    }
    #navigation {
        width: 100%;
        ul {
            display: block;
            margin: 0 0 16px;
            width: 100%;
            background: #f7f7f7;
            border: 1px solid #CBCBCB;
            height: 42px;
            

            li {
                display: block;
                text-transform: uppercase;
                float: left;
                text-align: center;
                color: #6F6F6F;
                line-height: 42px;
                margin: 0px;
                border-right: 1px solid #CBCBCB;
                font-size: 10px;
                background: #f7f7f7;

                .fade-fast;
                &:hover {
                    .background-gradient(#f7f7f7, #cbcbcb);
                    .fade-slow;
                    a {
                        color: #000;
                    }
                }
                &.active {
                    background: #f8b2c0;
                    a {
                        color: #000;
                    }
                }

                a {
                    color: #6F6F6F;
                    text-decoration: none;
                    padding: 8px 24px;
                }
            }
        }
    }
    #main-package {
        text-align: left;
        width: 464px;
        position: relative;
        margin: 0 auto;
        .package-image {
            width: 464px;
        }
        h1 {
            font-size: 40px;
            line-height: 40px;
        }
        ul {
            li {

                width: 149px;
                font-size: 11px;
            }
        }
        #package-price {
            p {
                strong {
                    display: block;
                }
            }
        }
    }
    #encouragement {
        #all-day-protection, #unbeatable-price, #wireless-security, #ge-logo, #lifetime-warranty, #owned-system, #homeowners-insurance {
            float: left;
            width: 144px;
            img {
                float: none;
                width: 138px;
            }
            h2 {

                text-align: center;
                
            }
            p {
                text-align: center;
            }
        }
    }
    .other-package {
        h3 {
            font-size: 18px;
            line-height: 18px;
        }
        ul {
            li {
                font-size: 12px;
                line-height: 20px;
            }
        }
        p {
            font-size: 12px;
        }
    }
}
#bottom-form {

    #quote-form, .form-quote {
        width: 465px;
        input {
            width: 440px;
        }
    }
}
.big-button-link {
    a {
        padding: 10px 125px;
    }
}
/****************** Package Pages *****************/
#in-your-home {

    img {
        width: 463px;
    }
    p {
    }
}
/*************** GPS *************/
#location-found {
    background: url(/static/img/products/gps/location-found.jpg) -350px top no-repeat;

}
#top-content {
    #gps-tracking-overview {

        img {
            width: auto;
        }
    }
    #interactive-video-overview {

        img {
            width: 480px;
            position: relative;
            right: 48px;
            padding-top: 16px;
        }

    }
}
#home-business-security {
    #home-video-security, #business-video-security {
        .content-box(432px);
        text-align: left;
        padding: 0 16px;
        img {
            width: auto;
        }
    }
}
/************ Thank You ****************/
#thank-you-top {
    .content-box(447px);
    padding: 16px 16px;
    #thank-you-content {
        h1 {
            color: #f8b2c0;
            font-weight: bold;
        }
    }
    #thank-you-img {
        display: none;
    }
}
#what-next {
    .content-box(480px);
    #security-professional, #build-system, #secured-home {
        float: none;
        margin: 0 auto 16px;
    }
}