{% extends "learn/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}
{% block page_title %}Protect America vs. ADT | Protect America vs. Vivint{% endblock %}
{% block page_keywords %}adt,adt security,security,home security,home security system,security system{% endblock %}
{% block page_description %}Interested in how Protect America compares to ADT and Vivint? We've protected 500,000 families since 1992. Click to learn more.{% endblock %}


{% block content %}

    <div id="hero-wrapper" class="v-light-grey">
        <div id="hero-image">
            <div id="hero-content">
                <h1>The Protect America Advantage over ADT and Vivint</h1>
                <p>We are driven to provide only the highest quality products and dedicated service at an affordable price. Our <a href="http://www.protectamerica.com/best-home-security-system/" title="Best Home Security System">home security</a> packages provide the equipment necessary to protect your entire home for a fraction of the cost of our competitors' monthly fees. Other companies usually offer a "starter" package which usually provide little or no security.  See the charts below to compare our prices to the competition's monthly rates, such as ADT, to discover the Protect America Advantage.</p>
            </div>
        </div>
    </div>
    {% include "order/call-box.html" with no_promo=False %}

<div class="container">
    <h2 class="title center">Why choose Protect America?</h2>
    <div class="eight columns">
        <div>
            <h3>No installation or equipment cost</h3>
            <p class="margin-vertical"> The Protect America advantage is unlike any other. Why should safeguarding your home involve installation costs or equipment charges? We believe peace of mind is priceless, but it should be affordable nonetheless. No installation, equipment fees. Also, we provide a lifetime guarantee on our security system, unlike ADT, who charge an extra monthly fee for their maintenance plan. Defend your home and your wallet with Protect America.</p>
        </div>
        <div>
            <h3>Lowest price guaranteed</h3>
            <p class="margin-vertical">If you’ve researched ADT prices or Vivint security, you know that no offer comes close to Protect America. Our security prices start at just $19.99 per month, and that includes the equipment! But think beyond security! Protect America allows you to stay more connected than ever with home lighting automation, door lock and appliance control. If another company does manage to beat our price, we'll match their offer. That’s our Lowest Price Guarantee!</p>
        </div>
        <div>
            <h3>Top rated, everywhere</h3>
            <p class="margin-vertical">Protect America is a pioneer of wireless security technology. We’ve spent the past 20 years developing an award-winning reputation. Protect America has been ranked the number one home security company by TopConsumerReviews for the past five years! Since 2008, our Copper security package has been named a Consumer’s Digest “Best Buy” for quality and affordability.</p>
        </div>
            <a href="{% url order-package %}" class="button">Get Started Now</a>

    </div>
    <div class="seven columns offset-by-one">
        <div>
            <img src="{{ STATIC_URL }}img/base/adv_venn.png" alt="Price comparison between Protect America and ADT monthly fees over 36 months" title="Price comparison between Protect America and ADT over 36 months" class="margin-vertical">
            <img src="{{ STATIC_URL }}img/base/toprated.png" alt="Top rated, everywhere" class="margin-vertical plus">
        </div>
    </div>
    <div class="clear"></div>

    <h2 class="center title bottom">The cost of Protect America vs the competition</h2>
    <h4 class="center subhead">Compare us with the competition and save thousands of dollars.</h4>

    <div class="seven columns">
            <canvas id="canvas" height="325" width="360"></canvas>


            <script>

                var lineChartData = {
                    labels : ["Install","1 year","2 years","3 years"],
                    datasets : [

                        {
                            fillColor : "rgba(204,204,204,1)",
                            strokeColor : "rgba(204,204,204,1)",
                            pointColor : "rgba(255,255,255,1)",
                            pointStrokeColor : "#ccc",
                            data : [350,866,1382,1898]
                        },
                        {
                            fillColor : "rgba(255,131,9,1)",
                            strokeColor : "rgba(255,131,9,1)",
                            pointColor : "rgba(255,255,255,1)",
                            pointStrokeColor : "#ff8209",
                            data : [0,516,1032,1548]
                        },
                        {
                            fillColor : "rgba(235,41,43,1)",
                            strokeColor : "rgba(235,41,43,1)",
                            pointColor : "rgba(255,255,255,1)",
                            pointStrokeColor : "#eb292b",
                            data : [0,240,480,720]
                        }

                    ]
                    
                }

            var myLine = new Chart(document.getElementById("canvas").getContext("2d")).Line(lineChartData);
            
            </script>

    </div>
    <div class="nine columns ">
            <p><span style="color: #eb292b; font-weight: bold;">Protect America</span> vs. <span style="color: #aaa; font-weight: bold;">ADT Monthly Fees</span> & <span style="color: #ff8209; font-weight: bold;">Vivint</span><br /><br />Copper package price comparison between ADT and Protect America over standard 36 month contract length.</p>
        <p>Deciding on home security is a big decision. The standard length of a home security contract is around 36 months, and over that time paying too much for home security can really add up. That is why Protect America keeps their prices affordable, making sure that you get the best deal from beginning to end.  With Protect America you can save over $1000 vs ADT and Vivint</p>
            <a href="{% url shop %}" class="button">Shop Our Security Packages</a>

    </div>
    <div class="clear"></div>
</div>


    <div class="our-advantage-commitment">
        <div class="content">
            <img src="{{ STATIC_URL }}img/base/adv_commitment.png" alt="Home Security Commitment" style="float: left; padding: 0 100px 100px 0;"><h2>Home security commitment</h2>
            <p>Protect America is committed to excellence and affordability when it comes to securing your home. That's why we're a Consumers Digest Best Buy™ for home security systems and the best choice for a world-class security system backed by a company that is dedicated to serving your security needs. Your family is your top priority. Your home is probably your largest investment. Why not take the extra precaution of providing a security system and monitoring for your residence? Protect America is committed to helping you meet your home security needs and providing you with quality home security systems and service you can depend on.</p>
            <hr>
            <img src="{{ STATIC_URL }}img/base/adv_value.png" alt="Home Security Value" style="float: right; padding: 0 0 100px 100px;"><h2>Home security value</h2>
            <p>The average yearly home insurance premium in the U.S. costs over $800. The good news is that many plans offer discounts up to 20% on home insurance for homes with home security systems installed. You could save $14 or more per month on your insurance with any of our home alarm systems. For many, the monthly cost of a Protect America security system would be less than $16 per month once a home insurance discount is applied. For 50 cents a day, you can have the peace of mind knowing that your family and home will have the extra protection you want.</p>
            <hr>
            <img src="{{ STATIC_URL }}img/base/adv_choices.png" alt="Home Security Choices" style="float: left; padding: 0 100px 100px 0;"><h2>Home security choices</h2>
            <p>Protect America offers the best home security systems and monitoring deals you'll find. We install premium security hardware with security products, and have the most flexible range of monitoring services, including cellular monitoring, two-way voice monitoring, HomePulse broadband monitoring, or standard talking command station monitoring over landline. We provide an extensive selection of wireless home security components. And, our security packages are designed to fit most any budget. Let us help you find the right system for your needs, so you can start protecting your home and family today. </p>
        </div>
    </div>
<div class="extra-block">
    <div class="container">
    <h2 class="center title">What ADT won't say speaks volumes!</h2>
        <div class="six columns">
            <img src="{{ STATIC_URL }}img/shop/adt-robber.png" style="padding-top: 24px;" />
        </div>
        <div class="nine columns offset-by-one">
    
            <h4>Your ADT monthly fees can change</h4>
            <p>Protect America keeps your monitoring rate the same for the entirety of your contract. ADT can increase your monthly monitoring rate every year after the first year! It's hidden in their ‘Terms and Conditions.’</p>
    
            <h4>Equipment repairs with ADT can cost you</h4>
            <p>If your system malfunctions with ADT, they will charge you for the replacement of parts – unless of course, you pay extra for their ADT maintenance plan. If any part of your Protect America system breaks, we replace it. With our Lifetime Replacement Parts warranty, you can take comfort in knowing your home is safe and sound.</p>
            <h4>You could be charged for moving</h4>
            <p>ADT could cost you hundreds of dollars when you move. Home security companies that sell wired security systems often require additional fees for relocation. Protect America service and wireless home security systems are transferrable to your new home for free!</p>
    
            <div class="clear"></div>
            <h2>Vivint vs Protect America</h2>
            <h4>Vivint’s high prices aren’t for everyone</h4>
            <p>Equipment from Vivint is incredibly expensive. Their home security and automation devices can cost as much as $699. Even useful accessories like smoke detectors are priced far higher than most security companies. Vivint’s complicated home automation platform increases costs to consumers without providing comprehensive protection. If you’re looking for reliable and affordable security, Protect America is a great solution!</p>
        </div>
    </div>
</div>


{% endblock %}  
