{% extends "base.html" %}
{% block subnav_child %}
<ul>
	<li><a href="{% url security-packages %}">Home Security Packages</a></li>

	<li><a href="{% url interactive-video %}">Video Security</a></li>
	<li><a href="{% url equipment %}">Security Equipment</a></li>
	<li><a href="{% url equipment %}">Alarm Monitoring</a></li>
	<li><a href="{% url equipment %}">Existing Systems</a></li>
	<li><a href="{% url equipment %}">GPS Vehicle Tracking</a></li>
</ul>
{% endblock %}
{% block subnav_parent %}
<ul class="siblings">
	<li><a href="{% url security-packages %}">Home Security Packages</a></li>

	<li><a href="{% url interactive-video %}">Video Security</a></li>
	<li><a href="{% url equipment %}">Security Equipment</a></li>
	<li><a href="{% url equipment %}">Alarm Monitoring</a></li>
	<li><a href="{% url equipment %}">Existing Systems</a></li>
	<li><a href="{% url equipment %}">GPS Vehicle Tracking</a></li>
</ul>
{% endblock %}