{% extends "base.html" %}
{% block content %}
<div class="bottom-rule">
	<div class="content-box small">
		<img src="/media/img/products/bronze-package/bronze-package-simon-3.jpg" class="image-break">
	</div>
	<div class="content-box big text_compensate_400 text_bump_50">
		<h1>The Bronze Package</h1>
		<p>The Bronze Package is the first of four levels of perimeter protection offered by Protect America. The perimeter packages were designed to provide enough door and window sensors so that you can place a sensor on all of your doors and windows. In this case, the Bronze Package provides a total of 7 door/window sensors and would be the right package if your home has a total of 7 doors and windows combined. This gives you a level of protection at each point of entry into your home. If you prefer, you can also add a motion detector to any of our packages to meet your specific security needs. You can customize your system by adding additional equipment at the time the order is placed or anytime in the future. </p>
		<div class="button right buyit">
			<a href="">Get The Bronze Package</a>
		</div>
	</div>
	<div class="clear"></div>
</div>
<div>
	<div class="content-box">
		<h2>What's Included:</h2>
		<div class="content-box sixth"><p>One</div> 
		<div class="content-box sixth"><p>Two</div> 
		<div class="content-box sixth">Three</div> 
		<div class="content-box sixth">Four</div> 
		<div class="content-box sixth">Five</div> 
		<div class="content-box sixth">Six</div> 

	</div>
</div>

{% endblock %}  

