{% extends "base.html" %}
{% block content %}
<h1>Interactive Video Home Security</h1>
<div class="sub-nav">
	<ul>
		<li>For Your Home</li>
		<li>For Your Business</li>
	</ul>
	<div class="clear"></div>
</div>
<div>
	<div class="content-box half">
		<img src="/media/img/products/video/laptop-and-interactive-camera.jpg" class="image-break">
	</div>
	<div class="content-box half text_compensate_350">
		<h2>Interactive Video<br>Home Security Services</h2>
		<p>Protect America allows you to gain a true picture of what is happening in your home or business with 24 / 7 on-demand video. Get enhanced security with our pan and tilt video cameras, archived clips, event notifications, and automatic recording when movement is detected. With Protect America's video services, peace of mind is just an instant click away.  </p>
	</div>
	<div class="clear"></div>
</div>
<div>
	<div class="content-box">
		<img src="/media/img/home-and-business.jpg" alt="Protect America Interactive Video Security Services is perfect for your home or business">
	</div>
	<div class="content-box half">
		<h2><a href="/pa/video-home/" title="24 / 7 Video Security For Your Home">24 / 7 Video Security<br>For Your Home</a></h2>
		<p>Easily check on maintenance workers, pets, or babysitters by accessing your home's secure LIVE video feed while at work or even on vacation. Protect America makes it easy to add video home security into your house today.</p>
		<div class="button">
			<a href="/pa/video-home" title="Video Security for your home">Video for your Home</a>
		</div>
	</div>
	<div class="content-box half">
		<h2><a title="24 / 7 Video Security For Your Business" href="/pa/video-home/">24 / 7 Video Security<br>For Your Business</a></h2>
		<p>Deter shoplifters, watch employees, or keep an eye on your company safe by accessing your business' secure video feed online, anywhere and at anytime. With Protect America, you can easily keep an extra eye on your business with our video security services.</p>
		<div class="button">
			<a href="/pa/video-business" title="Video Security for your Business">Video for your Business</a>
		</div>	
	</div>
	<div class="clear"></div>
</div>
<div>
	<div class="content-box half">		
		<h2>Video Home Security<br>Here, There, Everywhere.</h2>
		<p>These days, we are always on the go.  Whether you are traveling for work or heading to the beach to relax, we find ourselves spending less time at home.  Unfortunately, being gone makes it a perfect time for a burglar to strike.  So, we made it easy to check in at home anytime, and anywhere with our smart phone app. Just click the icon and you can view your own live feed from your home security cameras.  Also, you will stay notified with text notifications that can be read straight from your phone.</p>
	</div>
	<div class="content-box half">
		<img src="/media/img/products/video/iphone-blackberry-compatible.jpg" alt="Use your Blackberry or iPhone to access your video cameras">			
	</div>
	<div class="clear"></div>
</div>
<div>
	<div class="content-box third">		
		<img src="/media/img/products/platinum-package/platinum-sml.jpg" alt="Interactive Video works perfectly with other Protect America security systems">			
		<h4>Already Own a Protect America Home Security System?</h4>
		<p>No Problem. Our interactive video system is designed to in conjunction with your home security system. It is the perfect way to add video surveillance and security to any home.</p>
	</div>
	<div class="content-box third">	
		<img src="/media/img/external/wifi-logo.jpg" alt="Cameras connect wirelessly for easy set-up">
		<h4>Wirelessly Connected.<br/>WiFi Compatible</h4>			
		<p>WiFi compatible cameras give you true freedom of placing your cameras where they would be the most effective. You don't have to worry about drilling or awkward wires.</p>
	</div>
	<div class="content-box third">		
		<img src="/media/img/products/video/archived-video-sml.jpg" alt="Store recorded video clips online for later viewing">			
		<h4>Online Storage and Archived Video</h4>
		<p>Our video home security comes with an automated archiving feature that allows you to store your videos when an event is triggered. This means that you can view it on your time and access your stored videos when you need them.</p>
	</div>	
	<div class="clear"></div>
</div>
{% endblock %}  
{% block sidebar %}
{{ block.super }}


{% endblock %}
