{% extends "base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}
{% load url from future %}

{% block page_title %}Alarm Systems by Protect America{% endblock %}
{% block page_keywords %}alarm home security systems, best home security system, free home security, free home security system, ge home security systems, home security alarms, home security systems{% endblock %}
{% block page_description %}Discover how Protect America provides you with peace of mind by helping you feel safer and more secure with one of our inexpensive home security systems.{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/seo-content-pages.css">

{% endblock %}

{% block content %}

    {% include "banners/cyber-monday.html" %}
    {% include "order/call-box.html" %}
    
    <div class="wrapper">
        <div id="featured-on">
            <p>Featured On:</p>
            <img src="http://static.protectamericasecurity.net/img/extra/validation-icons/abc.png" class="alpha" alt="Featured on ABC" width="96" height="96" />
            <img src="http://static.protectamericasecurity.net/img/extra/validation-icons/best.png" alt="Featured on Best Home Security Companys" width="96" height="96" />
    
            <img src="http://static.protectamericasecurity.net/img/extra/validation-icons/fox-news.png" alt="Featured on Fox News" width="96" height="96" />
    
            <img src="http://static.protectamericasecurity.net/img/extra/validation-icons/cw.png" alt="Featured on The CW" width="96" height="96" />
    
            <img src="http://static.protectamericasecurity.net/img/extra/validation-icons/consumer-digest.png" alt="Rated a Consumer Digest Best Buy" width="96" height="96" />
            <img src="{{ STATIC_URL }}img/extra/validation-icons/history.png" class="omega" alt="Featured on The History Channel" width="96" height="96" />
        </div>
    </div>
    {% block "cs_1" %}
    {% endblock %}
    {% block "lifestyle" %}
        <div id="lifestyle-shot">
            <div class="wrapper">
                <div id="home-content">
                    {% block "cs_2" %}
                    <h2 >The perfect alarm system <span>for your home.</span></h2>
                    <p><strong>An alarm system built for you.</strong> Don’t have a phone line? Our cellular monitoring is 100% wireless. Have more than two windows? Easy, our packages are built to provide coverage for your entire home.</p>
                    <a href="" class="button-link  order-button hide-mobile no-desktop">Order Now <i class="icon-chevron-right"></i></a>
                    <a href="tel:{{ phone_number|format_number }}" class="button-link hide-desktop no-mobile">Order Now <i class="icon-chevron-right"></i></a>
                    {% endblock %}
                </div>
            </div>
        </div>
    {% endblock %}
    {% block "cs_3" %}{% endblock %}
    {% block "advantage" %}
        <div id="advantage-table-wrapper">
            <div id="advantage-table">
                <h2>A Step above the rest <span>providing more safety and security for less</span></h2>
                <table>
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Equipment & Activation Fees</th>
                            <th>24/7 Alarm Monitoring</th>
                            <th>Lowest Price Guaranteed</th>
                            <th class="extra">Lifetime Equipment Warranty</th>
                            <th class="extra">Locked-In Rate</th>
                            <th>Monthly Cost</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="alpha">
                            <td class="title">Protect America</td>
                            <td class="price">$0</td>
                            <td>Included</td>
                            <td>Included</td>
                            <td class="extra">Included</td>
                            <td class="extra">Included</td>
                            <td class="price">$19.99</td>
                        </tr>
                        <tr>
                            <td class="title">ADT</td>
                            <td class="price">$99</td>
                            <td>Included</td>
                            <td class="na">Not Available</td>
                            <td class="na extra">Not Available</td>
                            <td class="na extra">Not Available</td>
                            <td class="price">$42.99</td>
                        </tr>
                        <tr>
                            <td class="title">Frontpoint</td>
                            <td class="price">$99</td>
                            <td>Included</td>
                            <td class="na">Not Available</td>
                            <td class="na extra">Not Available</td>
                            <td class="na extra">Not Available</td>
                            <td class="price">$34.95</td>
                        </tr>
                    </tbody>
                </table>
                <div class="clear"></div>
            </div>
        </div>
    {% endblock %}
    <div class="clear"></div>
    {% block "cs_4" %}{% endblock %}
    <div class="clear"></div>

{% endblock %}
{% block order-footer %}
    <div id="order-final">
        <div class="wrapper">
            <div class="left-side">
                <h2>Your Family's safety is important.</h2>
                {% block "order-snippet" %}<p>Our home security system experts are ready to help:</p>{% endblock %}
                <a href="tel:{{ phone_number|format_number }}" class="" onClick="_gaq.push(['_trackEvent', 'Phone Call Click', 'Top Call', '{{ highlightge_name }}']);"><span{% if use_call_measurement %} class="dynamic-phone-number"{% endif %}><i class="icon-phone"></i> {{ phone_number|format_number }}</span></a>
            </div>
            <div class="right-side no-desktop">
                <a href="{% url 'order-package' %}" class="button-link order-button">
                    Order Now <i class="icon-chevron-right"></i>
                </a>
            </div>
            <div class="clear"></div>
        </div>
    </div>

{% endblock %}
