{% extends "seo-pages/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}

{% block page_title %}GE Home Security | Buy GE Home Security | Protect America{% endblock %}
{% block page_keywords %}ge home alarm, ge alarm systems, ge alarm system, ge home security systems{% endblock %}
{% block page_description %}Get a high quality GE home security system today to give your family a safe and secure night’s sleep.{% endblock %}


{% block content %}
    {{ block.super }}

<div class="home-security-content">
    <h1>GE Home Security by Protect America</h1>
 
    <p>GE Home Security is a brand that is manufactured by General Electric. You have probably heard about them from home appliances they sell. But did you know GE Home Security equipment is also ranked among the best in home security?</p>

    <p>Below are five reasons why there are hundreds of thousands of homes with GE Home Security:</p>
</div>
<div id="home-security-systems-extra-content">
    <div id="home-security-content">
        <img src="{{ STATIC_URL }}img/products/platinum-package/platinum-package-simon-xt-lowest-price.jpg" alt="GE Simon XT Platinum Package by Protect America" />

        <ul>
            <li>Protect America has been providing GE Home Security equipment since 1996.</li>
            <li>GE Home Security is the best wireless home security system available</li>
            <li>The ability to provide 24-hour service, even in times of crisis (bad weather, power outage, etc).</li>
            <li>GE Home Security equipment provided by Protect America for as little as $1 a day.</li> 
            <li>The above four reasons allow us to easily beat the competition with no questions asked.</li>
        </ul>
        <div class="clear"></div>
    </div>
</div>
<div class="home-security-content">

    <p>Protect America and GE Home Security know that making an investment in home security is a difficult decision. A few things to consider when looking at GE Home Security are packages that will protect every entry to your home and fit your budget. These are the two biggest topics that are brought up when people look into home security. If you compare how our home security systems look beside other competitors there is no question that Protect America and GE Home Security is the best combination.</p>
</div>
{% include "order/call-box.html" %}

<div class="home-security-content">
    <img src="{{ STATIC_URL }}img/external/consumer-digest-top-consumer-review.png" alt="Protect America Reviews & Awards" width="352" height="176" />
    <p>Whether you are trying to protect your home or small business, GE Home Security will exceed your expectations while meeting your budget. That’s a big reason Protect America has been named a Consumers Digest Best Buy for home security for the past five consecutive years and counting. Protect America treats you as part of their family and gives you the respect and priority you deserve. Additionally, once you’ve installed your GE Home Security system you will be able to reduce your homeowners insurance, while having peace away from home.</p>
    <div class="clear"></div>
</div>

{% endblock %}