{% extends "seo-pages/base.html" %}
{% load url from future %}
{% block page_title %}Home Security Systems | Protect America{% endblock %}
{% block page_keywords %}alarm home security systems, best home security system, free home security, free home security system, ge home security systems, home security alarms, home security systems{% endblock %}
{% block content %}
    {{ block.super }}
<div id="home-security-systems-extra-content">
    <div id="old-security-system-image">
        <img src="{{ STATIC_URL }}img/products/equipment/touchscreen/touchscreen.jpg" alt="touchscreen" />
    </div>
    <div id="home-security-content">
        <h1>Home Security Systems by Protect America</h1>
        <p>For five years, Protect America is and has been the leading provider in home security systems. None of the other brands provide top-notch, state-of-the-art equipment for free while keeping their customers the top priority. It's why we have provided nearly a half million families with the least expensive, highest quality home security systems.</p>
    </div>
    <div class="clear"></div>
    <p>Many of our competitors attempt to provide reliable home security systems, but there is no real competition. Our five choices of security systems include a talking control panel, battery backup, one button arming, window stickers, lifetime warranty and a yard sign.</p>
    <img src="{{ STATIC_URL }}img/products/platinum-package/platinum-package-simon-xt-lowest-price.jpg" alt="GE Simon XT Platinum Package by Protect America" />
    <ul>
        <li><strong>Copper Package</strong> - Includes 3 sensors for your windows or doors, a motion detector and window stickers with a yard sign for a low monthly monitoring fee of only $29.99.</li>
        <li><strong>Bronze Package</strong> - Includes 7 sensors for your windows or doors, a motion detector and window stickers with a yard sign for a low monthly monitoring fee of only $35.99.</li>
        <li><strong>Silver Package</strong> - Includes a lowest price guarantee with 10 free detectors for your windows or doors, a free motion detector and decal stickers with a yard sign for a low monthly monitoring fee of only $37.99.</li>
        <li><strong>Gold Package</strong> - Includes 12 sensors for your windows or doors, a motion detector and window stickers with a yard sign for a low monthly monitoring fee of only $39.99.</li>
        <li><strong>Platinum Package</strong> - Includes 15 sensors for your windows or doors, a motion detector and window stickers with a yard sign for a low monthly monitoring fee of only $42.99.</li>
    </ul>


    <p>Keep in mind while looking at our home security systems that you should have a door or window sensor for every point of entry on the ground level of your home. With Protect America’s lowest price guaranteed on the Bronze, Silver, Gold, and Platinum packages, protecting your entire home with a comprehensive home security system is easy and affordable.</p>
</div>

<div class="clear"></div>
    {% include "order/call-box.html" %}
<div id="home-security-systems-last-content">
    <p>All of our home security systems are shipped to you for installation. The directions are easy to follow and we provide an <a href="{% url 'installation' %}" title="online installation video">online home security installation video</a> to help you install your new alarm system if necessary. Once you've activated your new security system, Protect America will mail you an official certificate of installation. As with all monitored home security systems, this certificate allows you to reduce your insurance premium for home insurance or renters insurance to help you save even more money.</p>
    
    <p>Your new home security system will give you peace of mind by helping you feel safer, more secure and help improve your overall quality of life all for a low monthly fee. Figure out which package fits your needs and get protected today!</p>
</div>
{% endblock %}
{% block page-product %}
    <h2>Silver Security Package</h2>
    <p><span>Price Today: <strong>FREE*</strong></span>monthly monitoring starting at $37.99/mo</p>
    <div class="button-submit">
        <a href="{% url 'order-package' %}?package=silver" onClick="_gaq.push(['_trackEvent', 'Order Now', 'Order Now Package Footer Click', 'Silver-B']);">Order Now ></a>
    </div>
{% endblock %}