{% extends "seo-pages/base.html" %}
{% load url from future %}
{% block page_title %}Home Security Companies | Protect America{% endblock %}
{% block page_keywords %}home security, home security systems, best home security systems, home security company{% endblock %}
{% block page_description %}Learn how Protect America helps you and your family feel safer and more secure then all of the home security companies in America.{% endblock %}


{% block "cs_2" %}
    <h1>A Comparison of the Best Home Security Companies</h1>
    <p>There are so many options out there when selecting a home security company. Luckily, Protect America prides itself on being the best and we'll show you why.</p>
    <a href="{% url 'shop' %}" class="button-link  order-button hide-mobile no-desktop" style="margin-top: 36px;">Get Home Security <i class="icon-chevron-right"></i></a>
{% endblock %}

{% block "cs_3" %}
    <div class="wrapper">
        <div class="main-title">
            <h2>Simply A Better Home Security Company</h2>
            <p>Protect America makes it easy to secure and protect your home and family. </p>
        </div>
    <div class="home-security-content">
        <p>When you are trying to decide on one of the many home security companies out there, you need to consider the following questions.</p>
        <div id="home-security-systems-extra-content">
            <img src="{{ STATIC_URL }}img/base/adv_bronze.png" style="padding-top: 56px;" alt="GE Simon XT Silver Home Security Package by Protect America" />
            <ul style="padding-top: 48px;">
              <li>How much does it cost per month?</li>
              <li>Is the equipment and installation included?</li>
              <li>How many sensors are included?</li>
              <li>Does the monitoring service provide 24/7 home security?</li>
              <li>If I forget to "arm" my house can I do it through my phone or at a computer?</li>
              <li>What type of guarantee do they have?</li>
            </ul>
        </div>
        <div class="clear"></div>
        <h2>Best Home Security Companies</h2>
        
        <p>Protect America, compared to the other home security companies that provide free
        equipment, has no installation charge and starts at only $29.99 per month for monitoring. Each of our five packages includes sensors for your doors and windows, however the number of sensors depends on which package you choose. All of our packages include 24-hour, seven-day-a-week home security monitoring and can include mobile capabilities as well.</p>
        
        <p>Below are three other home security companies that offer similar packages:</p>
        
        <ul style="width: 95%; margin: 32px 0;">
          <li><strong>FrontPoint Security</strong> - This company is the only other home security company that does not have an installation charge but their plans start at $99.99 for equipment and a minimum of $34.99 per month monitoring charge with a three-year contract. However, Protect America is the only home security company that truly gives you the equipment for free when you sign up for monitoring.</li>
          <li><strong>Vivint</strong> - This company is a mixture of home security, home automation and energy management so home security is not their core focus. We believe most consumers want to buy from an organization that specializes in home security because when it comes to your family or business, you only have one chance to get it right if there's an unfortunate event, and you want only the best in control.</li>
          <li><strong>ADT</strong> - ADT charges their customers at least $99 for installation and has a starting price of $42.99 per month. ADT only provides a wireless keypad, two door sensors, a motion detector and a wireless keychain remote with their starter package which is four times the price to get started with Protect America.
          </li>
        </ul>
        <div class="clear"></div>
    </div>        

        <div class="clear"></div>
    </div>
{% endblock %}
{% block "cs_4" %}
    <div class="wrapper">
        <div class="main-title">
            <h2>The Best Home Security Company, Period.</h2>
        </div>
        <div class="home-security-content">
            <p>When you compare the offers of all the home security companies, Protect America has a better price and better customer service, and has been number one among the best home security companies for the last five years. They are the only company to offer free equipment when you sign up for service and the most sensors and equipment, giving you way more "bang-for-your buck" compared to the other home security companies. So if you're considering a home security system get started today with Protect America and be assured that you have the best protection the industry can offer.</p>
        </div>
    </div>
{% endblock %}
{% block "order-snippet" %}<p>Our home security system experts are ready to help:</p>{% endblock %}