{% extends "base.html" %}
{% block page_title %}Home Security Systems | Protect America{% endblock %}
{% block page_keywords %}alarm home security systems, best home security system, free home security, free home security system, ge home security systems, home security alarms, home security systems{% endblock %}
{% block page_description %}Discover how Protect America provides you with peace of mind by helping you feel safer and more secure with one of our inexpensive home security systems.{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/seo-content-pages.css">

{% endblock %}


{% block content %}
<div id="home-security-systems-overview">
    <div id="hero-banner">
        <a href="{% url touchscreen %}" class="touchscreen-hero-banner">
            <h2>Don't Be Out of Touch!</h2>
            <h3>Get a FREE* Simon XT Touch Screen</h3>
            <p class="select">when you select:</p>
            <ul>
                <li>Cellular Interactive,</li>
                <li>Broadband Interactive,</li>
                <li><span>or</span> Two-Way Voice</li>
            </ul>
        <div class="button-submit">Order Now ></div>
            <span class="disclaimer">*Restrictions apply. Offer not available with Copper Package. Expires July 31, 2012</span>
        </a>
    
    </div>
    
    <a href="{% url copper %}" title="Protect America has been rated 5-Stars by TopConsumerReviews.com for the past 5 years">
        <img src="{{ STATIC_URL }}img/banners/670x144/top-consumer-reviews-banner.png" alt="Protect America has been rated 5-Stars by TopConsumerReviews.com for the past 5 years" width="670" height="144" />
    </a>

</div>
{% include "order/quote-form.html" with form=forms.basic %}
<div class="clear"></div>
    {% include "order/call-box.html" %}
<div id="home-security-systems-extra-content">
    <div id="old-security-system-image">
        <img src="{{ STATIC_URL }}img/products/cell-takeover/old-alarm-panels.jpg" alt="Home Security Systems">
    </div>
    <div id="home-security-content">
        <h1>Home Security Systems by Protect America</h1>
        <p>For five years, Protect America is and has been the leading provider in home security systems. None of the other brands provide top-notch, state-of-the-art equipment for free while keeping their customers the top priority. It's why we provide over 250,000 satisfied customers with the least expensive, highest quality home security systems.</p>
    </div>
    <div class="clear"></div>
    <p>Many of our competitors attempt to provide reliable home security systems, but there is no real competition. Our five choices of security systems include a talking control panel, battery backup, one button arming, window decals, lifetime warranties and a yard sign.</p>
    <img src="{{ STATIC_URL }}img/products/platinum-package/platinum-package-simon-xt-lowest-price.jpg" alt="GE Simon XT Platinum Package by Protect America" />
    <ul>
        <li><strong>Copper Package</strong> - Includes 3 free detectors for your windows or doors, a free motion detector and decal stickers with a yard sign for a low monthly monitoring fee of only $29.99.</li>
        <li><strong>Bronze Package</strong> - Includes 7 free detectors for your windows or doors, a free motion detector and decal stickers with a yard sign for a low monthly monitoring fee of only $35.99.</li>
        <li><strong>Silver Package</strong> - Includes a lowest price guarantee with 10 free detectors for your windows or doors, a free motion detector and decal stickers with a yard sign for a low monthly monitoring fee of only $37.99.</li>
        <li><strong>Gold Package</strong> - Includes 12 free detectors for your windows or doors, a free motion detector and decal stickers with a yard sign for a low monthly monitoring fee of only $39.99.</li>
        <li><strong>Platinum Package</strong> - Includes 15 free detectors for your windows or doors, a free motion detector and decal stickers with a yard sign for a low monthly monitoring fee of only $42.99.</li>
    </ul>


    <p>Keep in mind while looking at our home security systems that you should have a detector for every point of entry on the ground level of your home. For anything other than an apartment or urban setting, Protect America recommends the <a href="{% url silver %}" title="Silver Package">silver package</a> because it uniquely has the lowest price guaranteed.</p>
</div>

<div class="clear"></div>
    {% include "order/call-box.html" %}
<div id="home-security-systems-last-content">
    <p>All of our home security systems are shipped to you for installation. The directions are easy to follow and we provide an <a href="{% url installation %}" title="Online Installation Guide">online installation guide</a> to help you install your new alarm system if necessary. Once you've activated your new security system, Protect America will mail you an official certificate of installation. Since we set the standard for home security systems, this certificate allows you to reduce your insurance premium for home insurance or renters insurance to help you save even more money.</p>
    
    <p>Your new home security system will give you peace of mind by helping you feel safer, more secure and help improve your overall quality of life all for a low monthly fee. Figure out which package fits your needs and get protected today!</p>
</div>
{% endblock %}
{% block page-product %}
    <h2>Silver Security Package</h2>
    <p><span>Price Today: <strong>FREE*</strong></span>monthly monitoring starting at $37.99/mo</p>
    <div class="button-submit">
        <a href="{% url order-package %}?package=silver" onClick="_gaq.push(['_trackEvent', 'Order Now', 'Order Now Package Footer Click', 'Silver-B']);">Order Now ></a>
    </div>
{% endblock %}