{% extends "seo-pages/base.html" %}
{% load url from future %}
{% block page_title %}Home Security System | Buy a Home Security System | Protect America{% endblock %}
{% block page_keywords %}home security system, security system, best security systems, home alarm system{% endblock %}
{% block page_description %}Protect America provides the best home security system available. With inexpensive monitoring and more features for less, they're an obvious choice.{% endblock %}

{% block content %}
{% block hero_banner_area %}
    {% include "banners/seo-hero-images.html" %}
{% endblock %}
{% include "order/call-box.html" %}
<div class="wrapper">
    <div class="home-security-content">
        <img src="{{ STATIC_URL }}img/products/equipment/sensors-layout.jpg" alt="Home Security Sensors" class="center" width="665" height="250" />
        <h1>Home Security System by Protect America</h1>

        <p>Getting a home security system protects you and your family from unauthorized entry into your personal space while you are away from home. When you purchase your security system you expect a security system that will detect unwanted intrusion. Protect America will provide you with a security system that will not only protect you and your family, but won't break your pocketbook in the process.</p>
        
        <p>Buying a home security system today can sometimes be confusing. With so many features such as fire, flood, and carbon monoxide sensors, it's important to get a general idea of what each system can do for you. Also, many people believe that a security system is limited to just your residence. However many companies, commercial and industrial, are using our security systems to protect their business as well.</p>
        
        <p>Some extra features that are being added are video surveillance, glass sensors and panic buttons to help keep property and people safe. Adding these features is important when installing your home security system to fit your home layout.</p>
    </div>
        {% include "order/call-box.html" %}

    <div class="home-security-content">
        <img src="{{ STATIC_URL }}img/products/copper-package/in-the-home.jpg" alt="In Your Home with the Copper Package" width="512" height="352" />

        <h2>Layout of Your Home Security System</h2>
        <p>In order to install a home security system, you first need to know where you are going to place your sensors, how many additional features you want, and where you will install everything in your home.</p>
        
        <p>Protect America's basic home security system will consist of three sensors that can be placed on doors or windows. Usually this is for small apartments or lofts that have one door with two windows.</p>
        
        <p>A more complex home security system will include additional sensors synced to the control unit. Your control unit is the heart of your system since it reads all your sensors and detects intrusion while your system is armed. Additionally, if you have monitored smoke detectors, it will alert us of a fire regardless if your system is armed.</p>
        
        <p>Think of your layout, decide what is best for your needs and don't be caught without the basic protection of home security system. A security system by Protect America can help prevent your home from being targeted and keep you and your family protected in the event your home is ever broken into.</p>
    
    </div>
{% endblock %}
{% block page-product %}
    <h2>Silver Security Package</h2>
    <p><span>Price Today: <strong>FREE*</strong></span>monthly monitoring starting at $37.99/mo</p>
    <div class="button-submit">
        <a href="{% url 'order-package' %}?package=silver" onClick="_gaq.push(['_trackEvent', 'Order Now', 'Order Now Package Footer Click', 'Silver-B']);">Order Now ></a>
    </div>
    <div class="clear"></div>
</div>
{% endblock %}