{% extends "seo-pages/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}

{% block page_title %}Home Alarm System | Protect America{% endblock %}
{% block page_keywords %}home alarm system, alarm system, best alarm systems, home alarm systems{% endblock %}
{% block page_description %}Protect America provides a great home alarm system that gives you and your family a safe and secure peace of mind.{% endblock %}


{% block content %}
    {{ block.super }}

    <div class="home-security-content">
    <h1>GE Home Security Systems by Protect America</h1>
 
    <p>When looking for a home security system you consider multiple options and compare them to the competition. Making sure your home security system exceeds your expectation is invaluable if your life were to be in harms way.
     
    <p>Below are five reasons why you should choose GE Home Security Systems:
<div id="home-security-systems-extra-content">
    <div id="home-security-content">
        <img src="{{ STATIC_URL }}img/products/platinum-package/platinum-package-simon-xt-lowest-price.jpg" alt="GE Simon XT Platinum Package by Protect America" />

        <ul>
            <li><strong>GE Home Security Systems Provide Immediate Response</strong> - GE Wireless Security Systems call our monitoring facility so we can dispatch the necessary local authorities to check your home once your home security detects activity. We will also call you to make sure you and your family are safe.</li>
            <li><strong>GE Home Security Systems Offer 24-Hour Monitoring</strong> - We only hire trained security professionals that are capable of offering the necessary protection for you and your family. GE Home Security Systems are able to contact our state-of-the-art monitoring facilities which are available 24 hours a day, seven days a week. This protection also allows you to potentially save 20% on your homeowner’s insurance.</li>
            <li><strong>GE Home Security Systems Deter Criminals</strong> - Studies show that nine out of 10 criminals will think twice and even avoid the home, if they know your home is secured. Protect America and GE Home Security Systems will provide you with window warning stickers to place on your doors and windows. Also, for your front yard you can place a yard sign that will show your home is secured by Protect America with GE Home Security Systems.</li>
            <li><strong>GE Home Security Systems are Easy-To-Use</strong> - With a keychain remote that will enable you to arm or disarm your home before you leave your garage or before coming home makes it easy to use. Additionally, if you come home and see something suspicious, you can press the panic button on your keychain and we will dispatch the authorities. It’s super easy for children to use when they are coming home from school or after school activities to simply use a remote before they enter the house.</li>
            <li><strong>GE Home Security Systems Allow You to Know What’s Going On In Your Home</strong> - GE Home Security Systems allow you to know which doors and windows have been opened. This allows you to know where the entry took place. Whether you are away from home or in bed, GE Home Security Systems are always protecting your home. If you have pets under 40 pounds, our motion detectors will not detect small pets giving you additional peace of mind.</li>
        </ul>
    </div>
</div>
    {% include "order/call-box.html" %}
    <p>With all these features GE Home Security Systems from Protect America start as low as a $1.00 a day, while leading the way in home security.  Without question you have heard of General Electric, now you can begin to protect your home today with the same trusted company that has been ranked number one in many reviews. Or you can read the testimonials that some of our customers have mentioned regarding their GE Home Security System.</p>
    </div>

{% endblock %}