@import "style.less";

#box-404 {
    .content-box;
    margin: 16px 0;
    img {
        float: left;
        margin-top: 40px;
    }
    #box-content {
        margin-top: 0px;
        float: left;
        width: 400px;
        h1 {
            font-size: 48px;
            font-weight: 300;
            line-height: 48px;
            width: 345px;
            margin: 0 auto;
            text-align: center;
            span {
                display: block;
                font-size: 200px;
                font-weight: 800;
                line-height: 200px;
            }
        }
        p {
            margin: 8px 16px 0;
        }
        .button-link {
            margin-left: 16px;
            text-align: center;
        }
    }
}
#order-footer {
    .content-box(959px);
    background: @off-white;
    border: 1px solid @light-grey;
    padding: 0px;
    margin: 8px 0 0 0;
    .fade-fast;
    h3 {
        font-weight: 800;
        padding-bottom: 16px;
        padding-top: 0
    }
    #footer-package-section {
        width: 309px;
        border-right: 1px solid @v-light-grey;
        padding: 16px 16px;
        float: left;
        input {
            background: @white url(/static/img/base/search-icon.png) no-repeat 4px 4px;
            padding-left: 24px;
            font-size: 14px;
            line-height: 20px;
            height: 20px;
            width: 260px;
        }
        button {
            margin: 8px 0 0 0;
        }
        p {
            font-size: 12px;
            line-height: 16px;
            padding: 0px 0 8px;
            span {
                font-size: 16px;
                display: block;
                line-height: 18px;
            }
        }
    }
    #footer-call-now, #footer-chat-now {
        width: 276px;
        border-right: 1px solid @v-light-grey;
        float: left;
        padding: 16px 16px;
        height: 128px;


        p {
            font-size: 12px;
            line-height: 16px;
            padding: 0 8px 8px 0;
            margin-bottom: 0;
        }
        span {
            color: @red;
            display: block;
            font-size: 32px;
            line-height: 32px;
            padding-top: 9px;
            font-weight: 800;
        }

    }
    #footer-chat-now {
        border-right: none;
    }

}