@import "home.less";
.box-404-wrapper {
    background: #ffb25f;
    padding: 16px;
}
#box-404 {
    .content-box;
    margin: 16px auto 32px;
    float: none;
    background: @white;
    .border-radius;
    img {
        float: left;
        margin-top: 40px;
    }
    #box-content {
        margin-top: 0px;
        float: left;
        width: 400px;
        padding-bottom: 32px;
        h1 {
            font-size: 48px;
            font-weight: 300;
            line-height: 48px;
            width: 345px;
            margin: 0 auto;
            text-align: center;
            span {
                display: block;
                font-size: 200px;
                font-weight: bold;
                line-height: 200px;
            }
        }
        p {
            margin: 8px 16px 0;
        }
        .button-link {
            margin-left: 16px;
            text-align: center;
        }
    }
}
@import "banners/hero-images.less";

#hero-image.cmonday {
    #quote-form {
        height: 476px;
        border-radius: 0;
        .content-box(376px);
        background: #fff;
        float: left;
        margin: 0;
        position: absolute;
        z-index: 999;
        top: 0;
        display: block;
        left: 0;
        border: none;
        padding: 20px 0 0;
        box-shadow: none;
        text-align: center;
        p.form-title {
           background: #fff;
           line-height: 30px;
           font-size: 16px;
           color: #2f394a;
           margin: 0 auto; 
           width: 165px;
        }
        small {
            font-size: 11px;
            line-height: 14px;
            text-align: center;
            padding: 0;
            width: 120px;
            display: block;
            margin: 0 auto 20px;
        }
        .form-fields {
            padding: 8px 32px 16px;
            p {
                font-size: 11px;
                line-height: 13px;
                text-align: justify;
                margin-bottom: 8px;
            }
            label {
                display: block;
                font-size: 13px;
            }
            .consent-box {
                border-top: 1px solid #dfdfdf;
                border-bottom: 1px solid #dfdfdf;
                padding: 4px 0;
                margin-top: 8px;
                cursor: pointer;
                cursor: hand;
                #id_consent {
                    float: left;
                    margin: 0 4px 0 0;
                    width: 16px;
                }
                label.consent-label {
                    font-size: 9px;
                    line-height: 14px;
                    text-align: left;
                    float: left;
                    width: 148px;
                    margin: 5px 0 0 5px;
                    color: #999;
                }
            }
        }
        button {
            display: block;
            padding: 6px 10px;
            .border-radius(3px,3px,3px,3px);
            color: #222;
            background: #ffc000;
            text-decoration: none;
            border: none;
            font-size: 14px;
            margin: 0 auto;
            width: 178px;
            float: none;
            .fade-slow;
            cursor: pointer;
            cursor: hand;
            &:hover {
                color: #666;
                .fade-fast;
                background: #ffd75e;
                text-decoration: none;
            }
        }
        #third-party-container {
            background: @white;
            text-align: center;
            padding: 0;
            overflow: hidden;
            height: 76px;
            .third-party-badge {
                margin: 0 auto; 
                width: 135px; 
                padding: 0; 
                float: left;
                a {
                    padding-top: 0;
                } 
                div {
                    padding: 0;
                    background: none;
                }
                &.truste {
                    width: 126px;
                    position: relative;
                    top: 18px;
                    float: left !important;
                    img {
                        width: 100%;
                    }

                }
                &.vsign {
                    position: relative;
                    right: 5px;
                }
            }
        }
        div {
            p {
                display: block;
                font-size: 22px;
                line-height: 32px;
                font-weight: 400;
                text-align: center;
                color: @white;
                padding: 0;
            }
            label {
                color: #666;
                padding: 0;
                display: none;
            }
            input {
                color: #666;
                font-size: 12px;
                height: 26px;
                line-height: 26px;
                margin: 0 0 8px 0;
                width: 170px;
                padding-left: 5px;
                border-radius: 0;
                border: 1px solid #ccc;
            }
            
        }

        a {
            display: block;
            text-align: center;
            font-size: 10px;
            line-height: 14px;
            width: 75%;
            margin: 0 auto;
            padding-top: 6px;
            text-decoration: none;
            color: #999;
            &:hover {
                text-decoration: underline;
            }
        }
        &.sleepy {
            width: 205px;
            .form-fields {
                padding: 8px 16px 16px;
                p {
                    font-size: 12px;
                    line-height: 14px;
                    text-align: center;
                    margin-bottom: 16px;
                    color: #2f394a;
                }
                label {
                    display: block;
                    font-size: 13px;
                }
                input {
                    width: 165px;
                }
                button {
                    width: 165px;
                }
            }
        }
    }
}
#top-hero-banner {
    width: 669px;
}
#quote-form {
    margin-top: 8px;
    ///display: none;
}
#new-years {
    width: 100%;
    overflow: hidden;
}
.wrapper {
    margin-bottom: 0;
    padding: 0;
}
#deals {
    display: block;
    width: 314px;
    float: right;
    p {
        color: #000;
    }
    img {
        padding: 0;
        margin: 0;
        float: right;
   }
}