@import "style";


// Styles for the About Us Pages
body.profile {
	#about-protect-america {
		.content-box(664px);
		margin-right: 4px;
		img {
            float: left;
            padding: 0 8px 8px 0;
		}
	}	
	#security-equipment {
	   display: block;
	   margin: 0 auto;
	}
}
#customer-testimonials {
	.text-bump(25px);
	.testimonial-column {
		margin: 10px;
		width: 300px;
		float: left;
		.customer-testimonial {
			.bottom-rule;
			text-align: center;
			h3 {
				color: @black+2;
				font-size: 14px;
				font-weight: normal;
				line-height: 28px;
				padding: 10px 20px 0;
				margin: 10px 0;
				letter-spacing: 0px;
				text-align: left;
				span {
					color: @black;
					display: block;
					font-weight: 300;
					font-size: 36px;
				}
			}
			p {
				margin: 0 10px 20px;
				text-align: left;
			}
			img {
				.drop-shadow(0, 2px, 5px, @grey);
				border: 5px solid @white;
				margin: 0 auto;
				text-align: center;
			}

		}
		.customer-testimonial.alt {
			.bottom-rule;
			background: @v-light-grey;
		}
	}
	
}
body.family {
    #family-companies-overview {
        .content-box(664px);
        margin-top: 48px;
        img {
            position: absolute;
            left: -162px;
        }
        #overview-content {
            margin-left: 161px;
            margin-top: 32px;
            margin-right: 16px;
        }
    }
    #biotechnology, #business-services, #consumer-services, #education-training, #financial-services, #investment-companies, #sports {
        .content-box;
        .bottom-rule;
        .family-company {
            
            .content-box;
            .company-about {
                float: left;
                width: 640px;
            }
            img {
                float: left;
                padding: 24px 16px 8px 0;
            }
        }
    }
}
body.learn-about-security {
    #learn-about-security {
        .content-box(664px);
        margin-top: 64px;
    }
    #burglary-statistics, #yard-maintenance, #windows-secure, #protecting-valuables, #preparing-vacation, #misc-tips, #national-security-company {
        .content-box;
    }
}
body.how-it-works {
    #how-it-works {
        .content-box(664px);
    }
    #customer-qualifications {
        .content-box;
    }
}
body.charities {
	#protect-america-cares {
		.text-bump(25px);
		.content-box(664px);
		
		#protect-america-cares-logo {
            float: left;
            padding-right: 8px;
		}
		
		#protect-america-cares-content {
			
		}
	}
	
	#ronald-mcdonald-house {
		.bottom-rule;
		
		#ronald-mcdonald-house-content {
			.half-box;
			#ronald-mcdonald-house-more-info {
				.outline-box;
			}
		}
		
		#ronald-mcdonald-house-logo {
			.half-box;
			.center;
		}
	}	
	
	#austin-zoo {
			
		#austin-zoo-content {
			.half-box;
			#austin-zoo-more-info {
				.outline-box;
			}
		}
		
		#austin-zoo-logo {
			.half-box;
			.center;
		}
	}
	
	
	
	#animal-charities {
		.bottom-rule;
		
		#austin-pets-alive {
            .content-box(450px);
			padding: 0 16px 0 0;
			#austin-pets-alive-more-info {
				.outline-box;
			}
		}
		#barkin-doggie-biscuits {
            .content-box(450px);
			padding: 0 0 0 16px;

			#barkin-doggie-biscuits-more-info {
				.outline-box;
			}
		}
		
	}	
	
	#support-our-troops {
		.bottom-rule;
		
		#support-our-troops-content {
			.half-box;
			#support-our-troops-more-info {
				.outline-box;
			}
		}
		
		#troops-image {
			.half-box;
			.center;
		}
	}
	
	#cystic-fibrosis-foundation {
		.bottom-rule;
		
		#cystic-fibrosis-foundation-content {
			.half-box;
			#cystic-fibrosis-foundation-more-info {
				.outline-box;
			}
		}
		
		#cystic-fibrosis-foundation-logo {
			.half-box;
			.center;
		}
	}
	
	#children-charities {
	
		#feed-the-children {
            .content-box(450px);
			padding: 0 16px 0 0;
			#feed-the-children-more-info {
				.outline-box;
			}
		}
		#any-baby-can {
            .content-box(450px);
			padding: 0 0 0 16px;
			#any-baby-can-more-info {
				.outline-box;
			}
		}
		
	}
}

body.testimonials {
	#video-testimonials {
		.bottom-rule;
		
		#newest-video-testimonial {
			.big-box;
			.center;
			.text-bump(25px);
		}
		#video-selection-cube {
			.small-box;
			.text-bump(25px);
			.text-compensate(350px);
			
			img {
				margin: 0 0 4px 12px;
				border: 1px solid @black;
				opacity: 1;
				filter: e("alpha(opacity = 100);");
				.drop-shadow(0px, 2px, 5px, @black+2);

			}
			img:hover {
				opacity: .80;
				filter: e("alpha(opacity = 80);");
			}
			img.active {
				border: 1px solid @link-blue;
				opacity: .5;
				filter: e("alpha(opacity = 50);");
				.drop-shadow(0, 0, 0, @white);

			}
		}
	}
	#protect-america-reviews, #share-your-story {
		.half-box;
	}
}