@import "style";

#customer-testimonials {
    .content-box;
    padding-bottom: 0px;
    h2 {
        margin-bottom: 16px;
    }
    ul {
        margin-right: 0;
    }
    .customer-name {
        float: left;
        width: 175px;
        margin: 24px 32px 0 0;
        text-align: right;
        h4 {
            color: @blue;
            font-weight: 300;
            font-size: 32px;
            text-transform: uppercase;
            text-align: right;
            line-height: 36px;
            span {
                display: block;
                font-size: 16px;
                line-height: 18px;
                color: @dark-grey;
                font-weight: normal;
            }
        }
        strong {
            display: block;
            margin-bottom: 16px;
            font-size: normal;
            color: @dark-grey;
            font-size: 12px;
        }
    }
    p {
        float: left;
        padding: 16px;
        border: 1px solid @light-grey;
        font-size: 16px;
        color: @dark-grey;
        line-height: 32px;
        font-weight: normal;
        width: 710px;
        text-align: justify;
        position: relative;
        .testimonial-arrow {
            .base-sprite(-164px, 0px);
            width: 24px;
            height: 32px;
            position: absolute;
            left: -21px;
            top: 24px;
            
        }
    }
}
// Styles for the About Us Pages
body.about-us {
    #about-us-content {
        .content-box(664px);
        padding-top: 32px;
    }
}

body.profile {
    #about-protect-america {
        .content-box(664px);
        margin-right: 4px;
        img {
            float: left;
            padding: 0 8px 8px 0;
        }
    }   
    #security-equipment {
       display: block;
       margin: 0 auto;
    }
}
#customer-testimonial-boxes {
    .text-bump(25px);
    width: 100%;
    text-align: center;
    margin: 0 auto;
    min-width: 960px;
    .testimonial-column {
        margin: 0 .5%;
        min-width: 288px;
        width: 32%;
        float: left;
        .customer-testimonial-box {
            text-align: center;
            padding: 16px;
            background: @off-white;
            .drop-shadow(0px, 2px, 5px, #ccc);
            margin-bottom: 16px;
            position: relative;
            border: 1px solid @v-light-grey;

            h3 {
                color: @black+2;
                font-size: 14px;
                font-weight: normal;
                line-height: 16px;
                padding: 10px 10px 0;
                margin: 10px 0;
                letter-spacing: 0px;
                text-align: left;
                vertical-align: text-bottom;
                img {
                    vertical-align: text-bottom;
                }
                span {
                    color: @black;
                    display: block;
                    font-weight: 300;
                    font-size: 36px;
                    line-height: 32px;
                    padding-bottom: 4px;
                }
            }
            strong {
                color: @off-white;
                position: absolute;
                right: 0;
                top: 0;
                font-size: 48px;
                text-align: right;
                font-weight: 300;
                
            }
            p {
                margin: 0 10px 20px;
                text-align: left;
                font-size: 14px;
                line-height: 22px;
            }
            img.testimonial-image {
                .drop-shadow(0, 2px, 5px, @grey);
                border: 5px solid @white;
                margin: 16px 16px 8px 0;
                text-align: center;
                width: 120px;
                float: left;
            }
            
            &.alt {
                background: @v-light-grey;
                .drop-shadow(0px ,0px ,0px ,@white);
                border: 1px solid @light-grey;
            }
            &:hover {
                background: @light-green;
                .drop-shadow;
            }
        }
    }
    
}
body.family {
    #family-companies-overview {
        .content-box(664px);
        margin-top: 48px;
        img {
            position: absolute;
            left: -162px;
        }
        #overview-content {
            margin-left: 161px;
            margin-top: 32px;
            margin-right: 16px;
        }
    }
    #biotechnology, #business-services, #consumer-services, #education-training, #financial-services, #investment-companies, #sports {
        .content-box;
        .bottom-rule;
        .family-company {
            
            .content-box;
            .company-about {
                float: left;
                width: 640px;
            }
            img {
                float: left;
                padding: 24px 16px 8px 0;
            }
        }
    }
}
body.learn-about-security {
    #learn-about-security {
        .content-box(664px);
        margin-top: 64px;
    }
    #burglary-statistics, #yard-maintenance, #windows-secure, #protecting-valuables, #preparing-vacation, #misc-tips, #national-security-company {
        .content-box;
    }
}
body.how-it-works {
    #how-it-works {
        .content-box(664px);
    }
    #customer-qualifications {
        .content-box;
    }
}
body.charities {
    #protect-america-cares {
        .text-bump(25px);
        .content-box(664px);
        
        #protect-america-cares-logo {
            float: left;
            padding-right: 8px;
        }
        
        #protect-america-cares-content {
            
        }
    }
    
    #ronald-mcdonald-house {
        .bottom-rule;
        
        #ronald-mcdonald-house-content {
            .half-box;
            #ronald-mcdonald-house-more-info {
                .outline-box;
            }
        }
        
        #ronald-mcdonald-house-logo {
            .half-box;
            .center;
        }
    }   
    
    #austin-zoo {
            
        #austin-zoo-content {
            .half-box;
            #austin-zoo-more-info {
                .outline-box;
            }
        }
        
        #austin-zoo-logo {
            .half-box;
            .center;
        }
    }
    
    
    
    #animal-charities {
        .bottom-rule;
        
        #austin-pets-alive {
            .content-box(450px);
            padding: 0 16px 0 0;
            #austin-pets-alive-more-info {
                .outline-box;
            }
        }
        #barkin-doggie-biscuits {
            .content-box(450px);
            padding: 0 0 0 16px;

            #barkin-doggie-biscuits-more-info {
                .outline-box;
            }
        }
        
    }   
    
    #support-our-troops {
        .bottom-rule;
        
        #support-our-troops-content {
            .half-box;
            #support-our-troops-more-info {
                .outline-box;
            }
        }
        
        #troops-image {
            .half-box;
            .center;
        }
    }
    
    #cystic-fibrosis-foundation {
        .bottom-rule;
        
        #cystic-fibrosis-foundation-content {
            .half-box;
            #cystic-fibrosis-foundation-more-info {
                .outline-box;
            }
        }
        
        #cystic-fibrosis-foundation-logo {
            .half-box;
            .center;
        }
    }
    
    #children-charities {
    
        #feed-the-children {
            .content-box(450px);
            padding: 0 16px 0 0;
            #feed-the-children-more-info {
                .outline-box;
            }
        }
        #any-baby-can {
            .content-box(450px);
            padding: 0 0 0 16px;
            #any-baby-can-more-info {
                .outline-box;
            }
        }
        
    }
}
