@import "style";

#customer-testimonials {
    .content-box;
    padding-bottom: 0px;
    h2 {
        margin-bottom: 16px;
    }
    ul {
        margin-right: 0;
    }
    .customer-name {
        float: left;
        width: 175px;
        margin: 24px 32px 0 0;
        text-align: right;
        h4 {
            color: @blue;
            font-weight: 300;
            font-size: 32px;
            text-transform: uppercase;
            text-align: right;
            line-height: 36px;
            span {
                display: block;
                font-size: 16px;
                line-height: 18px;
                color: @dark-grey;
                font-weight: normal;
            }
        }
        strong {
            display: block;
            margin-bottom: 16px;
            font-size: normal;
            color: @dark-grey;
            font-size: 12px;
        }
    }
    p {
        float: left;
        padding: 16px;
        border: 1px solid @light-grey;
        font-size: 16px;
        color: @dark-grey;
        line-height: 32px;
        font-weight: normal;
        width: 710px;
        text-align: justify;
        position: relative;
        .testimonial-arrow {
            .base-sprite(-164px, 0px);
            width: 24px;
            height: 32px;
            position: absolute;
            left: -21px;
            top: 24px;
            
        }
    }
}
// Styles for New Testimonial Box 
#single-testimonial-box {
    width: 100%;
    background: url(../img/base/testimonial-bg.png) repeat;
    min-height: 336px;
    border-top: 1px solid @light-grey;
    border-bottom: 1px solid @v-light-grey;
    margin-bottom: 36px;
    .inset-shadow(0px, 3px, 5px, @light-grey);
    .one-testimonial {
        position: relative;
        width: 928px;
        margin: 0 auto;
        min-height: 336px;
        padding-bottom: 16px;
        h1, h2 {
            font-size: 36px;
            font-weight: 300;
            line-height: 42px;
            padding-top: 16px;
            color: @black;

        }
        p {
            color: @dark-grey;
            font-size: 24px;
            font-weight: 300;
            text-align: justify;
            line-height: 36px;
            padding-bottom: 16px;
            &.extra-info {
                font-size: 16px;
                line-height: 20px;
                padding-bottom: 16px;
            }
        }
        .button-link {
            position: absolute;
            right: 0;
            bottom: -12px;
            a {
                font-weight: bold;
                padding: 8px 64px;
            }
        }
        .star-container {
            padding-bottom: 16px;
            .star {
                width: 45px;
                height: 45px;
                background: url(../img/extra/testimonial-stars-light-patched.png) -45px 0 no-repeat;
                float: left;

                &.active {
                    background: url(../img/extra/testimonial-stars-light-patched.png) -1px 0 no-repeat;
    
                }
            }
        }
    }
}
// Styles for the About Us Pages
body.about-us {
    #about-us-content {
        .content-box(664px);
    }
}

body.profile {
    #about-protect-america {
        .content-box(664px);
        margin-right: 4px;
        img {
            float: left;
            padding: 0 8px 8px 0;
        }
    }   
    #security-equipment {
       display: block;
       margin: 0 auto;
    }
}
body.send-testimonial {
    #testimonial-person {
        float: left;
        margin-top: 182px;
        margin-left: 28px;
    }
    #testimonial-form {
        .content-box(500px);
        padding: 16px 32px;
        background: @v-light-grey;
        margin-top: 16px;
        h1 {
            text-align: center;
        }
        p {
            font-size: 12px;
            line-height: 16px;
            
        }
        label {
            color: @blue;
            display: block;
        }
        input {
            color: @black;
            font-size: 18px;
            height: 28px;
            line-height: 28px;
            margin: 0 0 8px;
            width: 495px;
            &.half-box {
                width: 236px;
                margin-right: 16px;
                &.omega {
                    margin-right: 0;
                    
                }
            }
        }
        select {
            width: 236px;
            margin: 8px 0 16px;
        }
        textarea {
            width: 495px;
            height: 120px;
            
        }
        #star-rating {
            padding: 16px 0;
            margin: 8px 0;
            border: 1px solid @light-grey;
            border-right: none;
            border-left: none;
        }
        .star-container {
            width: 200px;
            margin: 0 auto;
            
        }
        .star-button {
            width: 40px;
            height: 40px;
            background: url(../img/extra/testimonial-stars-light-grey.png) -40px 0 no-repeat;
            float: left;
            cursor: pointer;
            cursor: hand;
            &.active {
                background: url(../img/extra/testimonial-stars-light-grey.png) 0px 0 no-repeat;

            }
            &.hover {
                background: url(../img/extra/testimonial-stars-light-grey.png) -80px 0 no-repeat;

            }
            
        }
        #marketing-checkbox {
            input {
                width: 32px;
                float: left;
                margin: 8px;
            }
            label {
                float: left;
                width: 452px;
            }
            
        }
        button {
            display: block;
            background: #90af01;
            color: @white;
            text-decoration: none;
            height: 36px;
            line-height: 36px;
            background-image: -moz-linear-gradient(top, #90af01, #829e01);
            background-image: -webkit-gradient(linear, left top, left bottom, from(#90af01), to(#829e01));
            border: 1px solid transparent;
            font-size: 18px;
            padding: 0 24px;
            font-weight: bold;
            cursor: pointer;
            cursor: hand;
            margin: 16px auto 16px;
            width: 501px;
            &:hover {
                background-image: -moz-linear-gradient(center top, #90af01, #687e01);
                background-image: -webkit-gradient(linear, left top, left bottom, from(#90af01), to(#687e01));
                border: 1px solid #768f03;
                border-bottom: 1px solid #576902;
                -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.3);
                -moz-box-shadow: 0 1px 1px rgba(0,0,0,.3);
                box-shadow: 0 1px 1px rgba(0,0,0,.3);
            }
        }
    }

}
#customer-testimonial-boxes {
    .text-bump(25px);
    width: 100%;
    text-align: center;
    margin: 0 auto;
    min-width: 960px;
    .testimonial-column {
        margin: 0 .5%;
        min-width: 288px;
        width: 32%;
        float: left;
        .customer-testimonial-box {
            text-align: center;
            padding: 16px;
            background: @v-light-grey url(../img/base/testimonial-bg.png) repeat;
            .drop-shadow(0px, 2px, 5px, #ccc);
            margin-bottom: 16px;
            position: relative;
            border: 1px solid @v-light-grey;

            h3 {
                color: @black+2;
                font-size: 14px;
                font-weight: normal;
                line-height: 16px;
                padding: 10px 10px 0;
                margin: 10px 0;
                letter-spacing: 0px;
                text-align: left;
                vertical-align: text-bottom;
                img {
                    vertical-align: text-bottom;
                }
                span {
                    color: @black;
                    display: block;
                    font-weight: 300;
                    font-size: 36px;
                    line-height: 32px;
                    padding-bottom: 4px;
                }
            }
            strong {
                color: @blue;
                
            }
            p {
                margin: 0 10px 20px;
                text-align: justify;
                font-size: 14px;
                line-height: 22px;
            }
            img.testimonial-image {
                .drop-shadow(0, 2px, 5px, @grey);
                border: 5px solid @white;
                margin: 16px 16px 8px 0;
                text-align: center;
                width: 120px;
                float: left;
            }
            
            &.alt {
                background: @off-white;
                .drop-shadow(0px ,0px ,0px ,@white);
                border: 1px solid @light-grey;
            }
            &:hover {
                background: @light-green;
                .drop-shadow;
            }
        }
    }
    
}
#testimonial-wrapper {
    width: 100%;
    background: url(../img/base/testimonial-bg.png) repeat;
    min-height: 300px;
    border-top: 1px solid @light-grey;
    border-bottom: 1px solid @v-light-grey;
    margin-bottom: 36px;
    .inset-shadow(0px, 3px, 5px, @light-grey);
    #search-testimonial-box {
        width: 928px;
        padding: 0 16px;
        margin: 8px auto;
        background: url(../img/base/testimonial-bubble.png) repeat;
        .border-radius;
        .testimonial-guy {
            position: absolute;
            left: -227px;
            top: 62px;
            
        }
        .one-testimonial {
            position: relative;
            width: 905px;
            margin: 0 auto;
            min-height: 300px;
            padding-left: 16px;
            .border-radius(5px,5px,5px,5px);
            h1, h2 {
                font-size: 36px;
                font-weight: 300;
                line-height: 42px;
                padding-top: 16px;
                color: @black;
    
            }
            p {
                color: @dark-grey;
                font-size: 20px;
                font-weight: 300;
                text-align: justify;
                line-height: 36px;
                &.extra-info {
                    font-size: 16px;
                    line-height: 20px;
                    padding-bottom: 16px;
                }
            }
            .button-link {
                position: absolute;
                right: 0;
                bottom: 16px;
                a {
                    font-weight: bold;
                    padding: 8px 64px;
                }
            }
            .star-container {
                padding-top: 12px;
                .star {
                    width: 45px;
                    height: 45px;
                    background: url(../img/extra/testimonial-stars-light-patched.png) -45px 0 no-repeat;
                    float: left;
    
                    &.active {
                        background: url(../img/extra/testimonial-stars-light-patched.png) -1px 0 no-repeat;
        
                    }
                }
            }
        }
    }
}
body.family {
    #family-companies-overview {
        .content-box(664px);
        margin-top: 48px;
        img {
            position: absolute;
            left: -162px;
        }
        #overview-content {
            margin-left: 161px;
            margin-top: 32px;
            margin-right: 16px;
        }
    }
    #biotechnology, #business-services, #consumer-services, #education-training, #financial-services, #investment-companies, #sports-entertainment {
        .content-box;
        .bottom-rule;
        .family-company {
            
            .content-box;
            .company-about {
                float: left;
                width: 640px;
            }
            img {
                float: left;
                padding: 24px 16px 8px 0;
                width: 125px;
            }
        }
    }
}
body.learn-about-security {
    #learn-about-security {
        .content-box(664px);
        margin-top: 64px;
    }
    h2 {
        padding-bottom: 16px;
    }
    #burglary-statistics, #yard-maintenance {
        .content-box(464px);
        margin-right: 16px;
        p.footnote {
            font-size: 10px;
            margin-left: 32px;
            color: @grey;
        }
    }
    #windows-secure, #protecting-valuables {
        .content-box(464px);
        margin-left: 16px;
    }
    #preparing-vacation, #misc-tips, #national-security-company {
        .content-box;
    }
    #preparing-vacation, #misc-tips, #national-security-company, #windows-secure, #protecting-valuables, #burglary-statistics, #yard-maintenance {
        ul {
            margin-left: 16px;
            li {
                margin-left: 16px;
                list-style-type: disc;
                padding-bottom: 16px;
                font-size: 16px;
                color: @dark-grey;
                line-height: 18px;
            }
        }
    }
}
body.how-it-works {
    #how-it-works {
        .content-box(664px);
    }
    #customer-qualifications {
        .content-box;
        ul {
            margin-left: 16px;
            li {
                margin-left: 16px;
                list-style-type: disc;
                padding-bottom: 16px;
                font-size: 16px;
                color: @dark-grey;
                line-height: 18px;
            }
        }
    }
}
body.charities {
    #protect-america-cares {
        .text-bump(25px);
        .content-box(664px);
        
        #protect-america-cares-logo {
            float: left;
            padding-right: 8px;
        }
        
        #protect-america-cares-content {
            
        }
    }
    
    #ronald-mcdonald-house {
        .bottom-rule;
        
        #ronald-mcdonald-house-content {
            .half-box;
            #ronald-mcdonald-house-more-info {
                .outline-box;
            }
        }
        
        #ronald-mcdonald-house-logo {
            .half-box;
            .center;
        }
    }   
    
    #austin-zoo, #pay-it-forward {
            
        #austin-zoo-content, #pay-it-forward-content {
            .half-box;
            #austin-zoo-more-info {
                .outline-box;
            }
        }
        
        #austin-zoo-logo, #pay-it-forward-ad {
            .half-box;
            .center;
        }
    }
    
    
    
    #animal-charities {
        .bottom-rule;
        
        #austin-pets-alive {
            .content-box(450px);
            padding: 0 16px 0 0;
            #austin-pets-alive-more-info {
                .outline-box;
            }
        }
        #barkin-doggie-biscuits {
            .content-box(450px);
            padding: 0 0 0 16px;

            #barkin-doggie-biscuits-more-info {
                .outline-box;
            }
        }
        
    }   
    
    #support-our-troops {
        .bottom-rule;
        
        #support-our-troops-content {
            .half-box;
            #support-our-troops-more-info {
                .outline-box;
            }
        }
        
        #troops-image {
            .half-box;
            .center;
        }
    }
    
    #cystic-fibrosis-foundation {
        .bottom-rule;
        
        #cystic-fibrosis-foundation-content {
            .half-box;
            #cystic-fibrosis-foundation-more-info {
                .outline-box;
            }
        }
        
        #cystic-fibrosis-foundation-logo {
            .half-box;
            .center;
        }
    }
    
    #children-charities {
    
        #feed-the-children {
            .content-box(450px);
            padding: 0 16px 0 0;
            #feed-the-children-more-info {
                .outline-box;
            }
        }
        #any-baby-can {
            .content-box(450px);
            padding: 0 0 0 16px;
            #any-baby-can-more-info {
                .outline-box;
            }
        }
        
    }
}

// Tell A Friend
body.tell-a-friend {
    #quote-form {
        margin-top: 16px;
    }
    #tell-friend-content {
        .content-box(664px);
        margin-top: 16px;
    }
    #tell-friend-form {
        .content-box(944px);
        background: @off-white;
        h2 {
            text-align: center;
        }
        fieldset {
            background: @v-light-grey;
            .content-box(334px);
            padding: 8px;
        }
        #customer-information {
            margin: 28px 16px 28px 100px;

        }
        #friend-information {
            margin: 28px 100px 28px 26px;
        }
        #you-icon {
            position: absolute;
            left: 4px;
            top: 90px;
        }
        #friend-icon {
            position: absolute;
            right: 4px;
            top: 90px;
        }
        padding: 8px 8px 32px;
        label {
            color: @blue;
            display: block;
            &.required {
                font-weight: bold;
            }
            &.checkbox {
                height: 28px;
                line-height: 28px;
                border-top: 1px solid @light-grey;
                padding-top: 16px;
            }
        }

        input {
            color: @black;
            font-size: 18px;
            height: 28px;
            line-height: 28px;
            margin: 0 0 8px;
            width: 323px;
            &.checkbox {
                width: 36px;
                float: left;
                margin-top: 16px;
            }
        }
        select {
            width: 416px;
            margin: 8px 0 16px;
        }
        textarea {
            width: 416px;
            height: 92px;
            
        }
        button {
            display: block;
            background: #90af01;
            color: @white;
            text-decoration: none;
            height: 36px;
            line-height: 36px;
            background-image: -moz-linear-gradient(top, #90af01, #829e01);
            background-image: -webkit-gradient(linear, left top, left bottom, from(#90af01), to(#829e01));
            border: 1px solid transparent;
            font-size: 18px;
            padding: 0 24px;
            font-weight: bold;
            cursor: pointer;
            cursor: hand;
            margin: 0 auto;
            width: 700px;
            &:hover {
                background-image: -moz-linear-gradient(center top, #90af01, #687e01);
                background-image: -webkit-gradient(linear, left top, left bottom, from(#90af01), to(#687e01));
                border: 1px solid #768f03;
                border-bottom: 1px solid #576902;
                -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.3);
                -moz-box-shadow: 0 1px 1px rgba(0,0,0,.3);
                box-shadow: 0 1px 1px rgba(0,0,0,.3);
            }
        }
    }
}

