@import "home-b.less";


#header-wrapper {
    background: @red;
    #header {
        #canada-logo {
            margin-top: 10px;
            width: 257px;
            float: left;
        }
        .request-quote-button {
            background: @white;
            color: @dark-navy;
            font-weight:600;
            margin-top: 5px;
            padding: 10px 16px 6px 16px;
            -webkit-box-shadow: 0px 4px 0px 0px rgba(212,212,212,1);
            -moz-box-shadow: 0px 4px 0px 0px rgba(212,212,212,1);
            box-shadow: 0px 4px 0px 0px rgba(212,212,212,1);
                &:hover {
                    background: @off-white;
                }
                &.active {
                    padding: 10px 16px 16px 16px;
                }
        }
        #quote-form {
            p.form-title {
                background: @white;
            }
        }
    }
}

#top-section-wrapper {
    #top-section {
        #company-links {
            #international-selection {
                float: right;
            }
        }
    }
}
#hero-wrapper {
    &.sept-deals {
        background: url(/static/img/banners/hero-banners/canada/canada-bg.jpg) center bottom no-repeat;
        background-size: cover;
    }
    #hero-image {
        #sept-deals {
            h2 {
                font-size:36px;
            }
            img {
                padding-right: 30px;
                margin: 0;
            }
        }
    }
}

#order-footer {
    background: @red;
    #footer-call-now {
        h3, p, span a {
            color:@white;
        }
    }
}