@import "landing-page/basic.less";

#hero-banner {
    background: #449fd3 url(/static/img/canada/red-bg.jpg) repeat-x;
    height: 409px;
    width: 100%;
    overflow: hidden;
    #top-hero-banner {
        float: left;
        width: 669px;
        height: 409px;
    }

    .promo-banner {
        position: absolute;
        left: -258px;
    }
    .maple-leaf {
        position: absolute;
        left: -348px;
        top: 27px;
    }
}