@import "home-b.less";


#header-wrapper {
    background: @red;
    #header {
        #canada-logo {
            margin-top: 10px;
            width: 257px;
            float: left;
        }
        .request-quote-button {
            background: @white;
            color: @dark-navy;
            font-weight:600;
            margin-top: 5px;
            padding: 10px 16px 6px 16px;
            -webkit-box-shadow: 0px 4px 0px 0px rgba(212,212,212,1);
            -moz-box-shadow: 0px 4px 0px 0px rgba(212,212,212,1);
            box-shadow: 0px 4px 0px 0px rgba(212,212,212,1);
                &:hover {
                    background: @off-white;
                }
                &.active {
                    padding: 10px 16px 16px 16px;
                }
        }
        #quote-form {
            p.form-title {
                background: @white;
            }
        }
    }
}

#top-section-wrapper {
    #top-section {
        #company-links {
            #international-selection {
                float: right;
            }
        }
    }
}
#hero-wrapper {
    &.sept-deals {
        background: url(/static/img/banners/hero-banners/canada/canada-bg.jpg) center bottom no-repeat;
        background-size: cover;
    }
    #hero-image {
        #sept-deals {
            h2 {
                font-size:36px;
            }
            img {
                padding-right: 30px;
                margin: 0;
            }
        }
    }
}

#header-wrapper #header .stuck-phone-number {
    display: none;
}

#header-wrapper.stuck #header {
    .stuck-phone {
        font-size:19px;
        font-weight: 600;
    }
    .stuck-phone-number {
        display:none;
        float: right;
        margin-right: 16px;
        margin-top: 16px;
        a {
            color: #fff;
            font-size:19px;
            font-weight: 600;
            text-decoration: none;
        }
    }
}

#advantage-table-wrapper #advantage-table table {
    width: 99%;
    vertical-align: middle;
    margin: 32px auto;
}

#order-footer {
    background: @red;
    #footer-call-now {
        h3, p, span a {
            color:@white;
        }
    }
}

/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (max-width: 959px) {
        #top-section-wrapper #top-section, #header-wrapper #header, #hero-wrapper #hero-image { 
            width: 95%;
            margin: 0 auto;
        }
        #hero-wrapper #hero-image #sept-deals {
            width: 51%;
            padding: 32px 0 0 100px;
            h1 {
                padding: 0;
            }
            h2 {
                font-size:32px;
                line-height: 33px;
            }
            ul {
                margin: 15px 0 15px 50px;
            }
            .deal-box {
                position: relative;
                bottom: 0;
                margin-top: 15px;
                img {
                    padding:0;
                }
            }
        }
    }

/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (max-width: 480px) {
        #top-section-wrapper #top-section #company-links {
            .interactive-customer, #online-chat-button, {
                display:none;
            }
        }
        #header-wrapper #header #canada-logo {
            width: 180px;
            margin-top: 15px;
        }
        #call-box p {
            width: 88%;
        }
    }

    @media only screen and (min-width: 600px) and (max-width: 767px) {
        #header-wrapper.stuck #header {
            .stuck-phone-number {
                display:block;
            }
        }
    }

/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
        #top-section-wrapper #top-section #company-links { 
            width: 95%;
            margin: 0 auto;
        }
        #header-wrapper.stuck #header {
            .stuck-phone {
                display:none;
            }
        }
        #hero-wrapper #hero-image #sept-deals {
            width: 95%;
            padding: 32px 0 0 0;
            h1 {
                padding: 0;
            }
            h2 {
                font-size:32px;
                line-height: 33px;
            }
            ul {
                margin: 15px auto;
                width: 320px;
            }
            .deal-box {
                display:none;
            }
            a {
                background-color:transparent; 
                color: #418fde; 
                text-decoration: underline; 
                border-radius: 0; 
                padding: 0; 
            }
        }
        #call-box {
            p {
                line-height: 22px;
                span {
                    font-size: 32px;
                    line-height: 34px;
                }
                span:before {
                    content: ' ';
                    clear: right;
                    display: block;
                }
            }
        }
        .lightbox .lightcard {
            width:80%;
            height: auto;
            margin:0px 0px 10px 0px;
            top:10%;
            left:10%;
            .quote-form-white {
                width: 100%;
                height: auto;
                padding:0;
                float:none;
                margin-bottom: -8px;
            }
            .lightbox-info {
                display:none;
            }
            .third-party-badge {
                padding: 10px 0 15px 0;
            }
        }
    }





