@import "affiliates/sem-landing-page/paid-base.less";

@navy: #2f394a;

@light-yellow: #fee18f;
@teal: #55b1a6;
@light-teal: #94ccc3;
#top-section-wrapper {
    background: @v-light-grey;
    #top-section {
        #company-links {
            #main-phone {
                color: @navy;
                a {
                    color: @navy;
                }
            }
            #international-selection {
                float: right;
                margin-right: 24px;
                li {
                    a {
                        color: #555;
                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}
#header-wrapper {
    background: @red;
}
#header {
    .order-button {
        background: #fac521;
        color: @navy;
        font-weight: normal;
        &:hover {
            background: @light-yellow;
        }
    }
}
#call-box {
    background: #555;
}
#order-final {
    background: @teal;
    .right-side {
        .button-link {
            color: @teal;
        }
    }
}
#lifestyle-shot {
    #home-content {
        h2 {
            padding-top: 24px;
        }
        .button-link {
            background: @teal;
            &:hover {
                background: @light-teal;
            }
        }
    }
}
#information-area {
    width: 960px;
    margin: 64px auto;
    h3 {
        color: #023269;
        font-size: 14px;
        font-weight: bold;
        line-height: 24px;
        letter-spacing: 1px;
        padding-top: 24px;
    }
    h2 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 24px;
        line-height: 28px;
        color: #2f394a;
        text-align: center;
        padding-top: 32px;
    }
    ul {
        li {
            float: left;
            width: 457px;
            margin-right: 45px;
            margin-bottom: 24px;
            i {
                color: @navy;
                font-size: 32px;
                padding-right: 24px;
                float: left;
                display: block;
                padding: 24px 16px 8px 8px;
            }
            &.alt {
                margin-right: 0;
            }
            span {
                display: block;
                &.one-line {
                    padding-top: 24px;
                }
                &.two-line {
                    padding-top: 12px;
                }
            }
        }
    }
}
@media (max-width: 960px) {
    #information-area {
        width: 80%;
        ul {
            li {
                width: 400px;
                margin-right: 0;
            }
        }
    }
}
@media (max-width: 480px) {
    #information-area {
        width: 90%;
        ul {
            li {
                width: 45%;
                margin: 0 8px;
                text-align: center;
                i {
                    display: block;
                    float: none;
                    font-size: 48px;
                }
            }
        }
    }
}