@import "style";

/**** The Packages Page ****/
#package-fan {
    .content-box;
    height: 350px;
    float: none;
    .card {
        position: relative;
        width: 188px;
        border: 1px solid @light-grey;
        float: left;
        .drop-shadow(0px, 2px, 5px, @light-grey);
        height: 375px;
        background: #FCFCFC;
        background-image: -moz-linear-gradient(top, @white, @v-light-grey);
        background-image: -webkit-gradient(linear, left top, left bottom, from(@white), to(@v-light-grey));
        margin-top: 20px;
        z-index: 0;
        margin: 25px 1px 0;
        img {
            display: block;
            margin: 0 auto;
            padding-bottom: 8px;
        }
        &:hover {
            background: @v-light-blue;
            border: 1px solid @light-blue;
        }
        h2 {
            text-align: center;
            font-size: 40px;
            line-height: 40px;
            letter-spacing: 0px;
            font-weight: bold;
            margin-bottom: 0;
            color: @blue;
            padding: 8px 0 0;
        }
        h3 {
            text-align: center;
            font-size: 26px;
            line-height: 26px;
            font-weight: bold;
            width: 150px;
            margin: 0 auto;
            color: @blue;
            padding: 0 4px 4px;
            sup {
                font-size: 12px;
            }
        }
        h4 {
            text-align: center;
            font-size: 14px;
            padding-top: 4px;
        }
        ul {
            width: 165px;
            margin: 8px auto;
            padding-left: 0;
            float: none;
            text-align: center;
            li {
                font-size: 12px;
                width: auto;
                margin: 0;
                list-style-type: none;
                padding: none;
                strong {
                    color: @blue;
                }
            }
        }
        p {
            margin: 8px 4px;
            padding: 4px 0;
            font-size: 11px;
            text-align: center;
            line-height: 12px;
            color: @dark-grey;
            border: 1px solid @v-light-grey;
            border-left: 0;
            border-right: 0;
            
        }
        .button-submit {

            
        }
    }
    .button-submit {
        text-align: center;
    }
}