@import "style";

/**** The Packages Page ****/
#package-fan {
    .content-box;
    height: 350px;
    float: none;
    h1 {
        padding: 16px 0;
        margin-top: 16px;
        text-align: center;
        font-size: 33px;
        color: @dark-grey;
        font-weight: 300;
        strong {
            color: @black;
        }
    }
    .card {
        position: relative;
        width: 188px;
        border: 1px solid @light-grey;
        float: left;
        .drop-shadow(0px, 2px, 5px, @light-grey);
        height: 375px;
        background: #FCFCFC;
        background-image: -moz-linear-gradient(top, @white, @v-light-grey);
        background-image: -webkit-gradient(linear, left top, left bottom, from(@white), to(@v-light-grey));
        margin-top: 20px;
        z-index: 0;
        margin: 0px 1px 0;
        img {
            display: block;
            margin: 0 auto;
            padding-bottom: 8px;
        }
        &:hover {
            background: @v-light-blue;
            border: 1px solid @light-blue;
        }
        h2 {
            text-align: center;
            font-size: 40px;
            line-height: 40px;
            letter-spacing: 0px;
            font-weight: bold;
            margin-bottom: 0;
            color: @blue;
            padding: 8px 0 0;
        }
        h3 {
            text-align: center;
            font-size: 26px;
            line-height: 26px;
            font-weight: bold;
            width: 150px;
            margin: 0 auto;
            color: @blue;
            padding: 0 4px 4px;
            sup {
                font-size: 12px;
            }
        }
        h4 {
            text-align: center;
            font-size: 14px;
            padding-top: 4px;
        }
        ul {
            width: 165px;
            margin: 8px auto;
            padding-left: 0;
            float: none;
            text-align: center;
            li {
                font-size: 12px;
                width: auto;
                margin: 0;
                list-style-type: none;
                padding: none;
                strong {
                    color: @blue;
                }
            }
        }
        p {
            margin: 8px 4px;
            padding: 4px 0;
            font-size: 11px;
            text-align: center;
            line-height: 12px;
            color: @dark-grey;
            border: 1px solid @v-light-grey;
            border-left: 0;
            border-right: 0;
            
        }
        .button-submit {

            
        }
    }
    .button-submit {
        text-align: center;
    }
}

/************ ADT Advantage *******************/
#protect-america-difference {
	.content-box;
	#all-day-monitoring, #ge-wireless-equipment, #save-on-homeowners-insurance, #replacement-parts-warranty, #flexible-packages, #best-priced-home-security {
		.fifth-box;
		padding: 5px 0;
		.border-radius;
		.fade-slow;
		text-align: center;
		h3 {
			font-size: 16px;
			font-weight: bold;
			text-align: center;
			margin-bottom: 5px;
		}
		p {
			font-size: 12px;
			text-align: center;
		}

		&:hover {
            background: @v-light-grey;
            .fade-fast;
        }
    }
}
#home-security-advantage {
	.content-box;
	margin-bottom: 0;
	#protect-america-advantage {
		.small-box;
		height: 260px;
		margin-right: 20px;
		#advantage-background {
			width: 3000px;
			position: absolute;
			right: 0;
			top: 45px;
			background: @light-blue;
			height: 350px;
			.border-radius;
			opacity: .8;
		}
		#protect-america-advantage-content {
			.content-box (398px);
			position: absolute;
			right: 0;
			top: -7px;
			margin: 60px 0 15px;
			padding: 8px 16px 16px;
		}
	}

}
#advantage-disclaimer {
	p {
		font-size: 10px;
		color: @grey;
		line-height: 14px;
	}
}
#protect-america-vs-adt {
	width: 520px;
	margin-bottom: 0px;
	td {
		width: 33%;
		vertical-align: top;
		padding: 15px 0;
		border: 1px solid @light-grey;
		border-left: none;
		border-top: none;
		.fade-fast;
		&:hover {
		  background: @v-light-blue+10;
		  .fade-fast;
		}
	}
	tr {
        .fade-slow;
        &:hover {
            background: @v-light-blue;
            .fade-fast;   
        }

	}
	#blank-box {
		border-right: 1px solid @light-grey;
	}
	#protect-america-table-title, #adt-table-title {
		background: @light-blue;
		border: 1px solid @light-grey;
		padding: 5px;
		text-align: center;
		vertical-align: middle;
		font-size: 15px;
		font-weight: bold;
		border-left: none;
	}
	#copper-package, #bronze-package, #silver-package, #gold-package {
		padding-left: 10px;
		font-size: 12px;
		line-height: 14px;
		span {
			font-size: 16px;
			display: block;
			font-weight: bold;
			margin-bottom: 5px;
		}
	}
	#platinum-package {
		padding-left: 10px;
		font-size: 12px;
		line-height: 14px;
		border-bottom: none;
		span {
			font-size: 16px;
			display: block;
			font-weight: bold;
			margin-bottom: 5px;
		}
	}
	#copper-package-protect-america-price, #copper-package-adt-price, #bronze-package-protect-america-price, #bronze-package-adt-price, #silver-package-protect-america-price, #silver-package-adt-price, #gold-package-protect-america-price, #gold-package-adt-price, #platinum-package-protect-america-price, #platinum-package-adt-price {
		text-align: center;
		font-size: 12px;
		line-height: 14px;
		color: @grey;
		span {
			font-size: 35px;
			line-height: 25px;
			display: block;
			font-weight: bold;
			margin-bottom: 5px;
			color: @blue;
			letter-spacing: .5px;
		}
	}
}
#customer-testimonials {
    .content-box;
    padding-bottom: 0px;
    h2 {
        margin-bottom: 16px;
    }
    ul {
        margin-right: 0;
    }
    .customer-name {
        float: left;
        width: 175px;
        margin: 24px 32px 0 0;
        text-align: right;
        h4 {
            color: @blue;
            font-weight: 300;
            font-size: 32px;
            text-transform: uppercase;
            text-align: right;
            line-height: 36px;
            span {
                display: block;
                font-size: 16px;
                line-height: 18px;
                color: @dark-grey;
                font-weight: normal;
            }
        }
        strong {
            display: block;
            margin-bottom: 16px;
            font-size: normal;
            color: @dark-grey;
            font-size: 12px;
        }
    }
    p {
        float: left;
        padding: 16px;
        border: 1px solid @light-grey;
        font-size: 16px;
        color: @dark-grey;
        line-height: 32px;
        font-weight: normal;
        width: 710px;
        text-align: justify;
        position: relative;
        .testimonial-arrow {
            .base-sprite(-164px, 0px);
            width: 24px;
            height: 32px;
            position: absolute;
            left: -21px;
            top: 24px;
            
        }
    }
}