@import "style";


// Styles for the About Us Pages
body.contact-us {
	#contact-us-overview {
		.content-box(664px);
	}	
    #ask-us-anything {
        .content-box;
        border-top: 1px solid @v-light-grey;
        padding-top: 16px;
        
        form {
            background: @v-light-grey;
            padding-bottom: 32px;
            #form-left-side, #form-right-side {
                .content-box(416px);
                margin: 32px;
                label {
                    color: @blue;
                    display: block;
                }
                input {
                    color: @black;
                    font-size: 18px;
                    height: 28px;
                    line-height: 28px;
                    margin: 0 0 8px;
                    width: 416px;
                }
                select {
                    width: 416px;
                    margin: 8px 0 16px;
                }
                textarea {
                    width: 416px;
                    height: 92px;
                    
                }
            }
            button {
                display: block;
                background: #90af01;
                color: @white;
                text-decoration: none;
                height: 36px;
                line-height: 36px;
                background-image: -moz-linear-gradient(top, #90af01, #829e01);
                background-image: -webkit-gradient(linear, left top, left bottom, from(#90af01), to(#829e01));
                border: 1px solid transparent;
                font-size: 18px;
                padding: 0 24px;
                font-weight: bold;
                cursor: pointer;
                cursor: hand;
                margin: 0 auto;
                width: 700px;
                &:hover {
                    background-image: -moz-linear-gradient(center top, #90af01, #687e01);
                    background-image: -webkit-gradient(linear, left top, left bottom, from(#90af01), to(#687e01));
                    border: 1px solid #768f03;
                    border-bottom: 1px solid #576902;
                    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.3);
                    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.3);
                    box-shadow: 0 1px 1px rgba(0,0,0,.3);
                }
            }
        }
    }
}
body.find-us {
    #find-us {
        .content-box(664px);
        margin-top: 16px;

    }
    #quote-form {
        margin-top: 16px;
    }
}
body.department-listing {
    #department-listings {
        .content-box;    
        h2 {
            margin-top: 8px;
            padding-top: 8px;
            padding-bottom: 4px
        }
        #customer-care {
            background: @v-light-grey;
            padding: 0 8px 8px;
        }
        #buying-home-security, #home-security-opportunities {
            padding: 0 8px 8px;
        }
        #billing-department, #sales-department, #custservice-department, #installation-department, #monitoring-station, #bizdev-department, #careers-department {
            .content-box(944px);
            background: @off-white;
            padding-top: 8px;
            margin: 8px 0;

            &:hover {
                background: @light-green;
            }
            h3 {
                float: left;
                padding: 0 0 0 16px;
                line-height: 32px;
            }
            p {
                float: right;
                padding: 0 16px 0 64px;
                line-height: 32px;
                font-size: 20px;
                width: 260px;
                text-align: right;
            }
        }
    }
}