@import "style";


// Styles for the About Us Pages
body.contact-us {
	#contact-us-overview {
		.content-box(664px);
	}
	.care-info {
    	padding-top: 16px;
	}	
    #ask-us-anything {
        .content-box;
        border-top: 1px solid @v-light-grey;
        padding-top: 16px;
        
        form {
            background: @v-light-grey;
            padding-bottom: 32px;
            #form-left-side, #form-right-side {
                .content-box(416px);
                margin: 32px;
                label {
                    color: @blue;
                    display: block;
                    &.required {
                        font-weight: bold;
                        
                    }
                }
                input {
                    color: @black;
                    font-size: 18px;
                    height: 28px;
                    line-height: 28px;
                    margin: 0 0 8px;
                    width: 416px;
                }
                select {
                    width: 416px;
                    margin: 8px 0 16px;
                }
                textarea {
                    width: 416px;
                    height: 92px;
                    
                }
            }
            button {
                display: block;
                background: #90af01;
                color: @white;
                text-decoration: none;
                height: 36px;
                line-height: 36px;
                background-image: -moz-linear-gradient(top, #90af01, #829e01);
                background-image: -webkit-gradient(linear, left top, left bottom, from(#90af01), to(#829e01));
                border: 1px solid transparent;
                font-size: 18px;
                padding: 0 24px;
                font-weight: bold;
                cursor: pointer;
                cursor: hand;
                margin: 0 auto;
                width: 700px;
                &:hover {
                    background-image: -moz-linear-gradient(center top, #90af01, #687e01);
                    background-image: -webkit-gradient(linear, left top, left bottom, from(#90af01), to(#687e01));
                    border: 1px solid #768f03;
                    border-bottom: 1px solid #576902;
                    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.3);
                    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.3);
                    box-shadow: 0 1px 1px rgba(0,0,0,.3);
                }
            }
        }
    }
}
body.find-us {
    #find-us {
        .content-box(664px);
        margin-top: 16px;

    }
    #quote-form {
        margin-top: 16px;
    }
}
body.careers {
    .wrapper {
        padding-bottom: 0;
    }
    .button {
        padding-top: 12px;
        display: block;
        padding-left: 4.5%;
        a {
            background: #00bbf4;
            padding: 8px 64px;
            .border-radius(5px, 5px, 5px, 5px);
            color: @white;
            font-size: 16px;
            text-shadow: 0px 1px 0px #2a6273;
            font-size: 16px;
            text-shadow: 0px 1px 0px #2a6273;
            width: 87px;
            float: none;
            display: block;
            text-decoration: none;
            border: 1px solid transparent;
            &:hover {
                border: 1px solid @dark-blue;
            }
        }

    }
    #big-hero-banner {
        height: 571px;
        width: 100%;
        position: relative;
        overflow: hidden;
        border-bottom: 1px solid #555;
        #hero-wrapper {
            background: url(/static/img/contact-us/lime-green-bg.png) repeat;
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 500;
            min-width: 1024px;
            h1 {
                font-weight: 100;
                color: @blue;
                font-size: 76px;
                line-height: 72px;
                padding-top: 48px;
                padding-left: 4.5%;
                text-shadow: none;
                
            }
            h2 {
                padding-top: 12px;
                padding-left: 4.5%;
                padding-bottom: 12px;
                font-size: 26px;
                line-height: 36px;
                width: 900px;
                color: #555;
                
            }
            .worker {
                position: absolute;
                left: 40%;
                bottom: 0;
            }
            .worker-1 {
                left: 40%;
            }
            .worker-2 {
                left: 58%;
            }
            .worker-3 {
                left: 81%;
            }
            .worker-4 {
                left: 23%;
            }
            .worker-5 {
                left: -1%;
            }

            #quote-form-new {
                position: absolute;
                right: 1%;
                border: none;
                background: none;
                width: 23%;
                top: 7%;
                #form-headline {
                    background: url(/static/img/protectamerica/black-shade.png) repeat;
                    color: @white;
                    text-align: center;
                    line-height: 72px;
                    height: 72px;
                    margin-bottom: 8px;
                    font-size: 20px;
                }
                #form-area {
                    background: url(/static/img/protectamerica/black-shade.png) repeat;
                    padding: 32px 16px;
                    p {
                        color: @white;
                        padding-bottom: 16px;
                        text-align: justify;
                    }
                    
                }
                #third-party-container {
                    width: 100%;
                    background: @white;
                    margin-top: 8px;
                    height: 91px;
                }
            }
            #call-box {
                background: url(/static/img/protectamerica/black-shade.png) repeat;
                width: 100%;
                position: absolute;
                bottom: 0;
                margin-bottom: 0;
                p {
                    color: @white;
                    font-weight: 100;
                    strong {
                        color: @white;
                        font-weight: 100;
                    }
                    span {
                        font-weight: 100;
                        color: @white;
                        a {
                            color: @white;
                        }
                    }
                }
            }
        }
        #hero-backdrop {
            position: absolute;
            width: 100%;
            height: 100%;
            min-width: 1024px;
            bottom: 0;
            left: 0;
            z-index: -1;

        }
    }
    #company-overview {
        width: 599px;
        float: left;
        padding-right: 48px;
        position: relative;
        padding-bottom: 400px;
        h2 {
            color: @blue;
            font-weight: normal;
            font-size: 36px;
            line-height: 40px;
            padding-top: 24px;
            padding-bottom: 8px;
        }
        h3 {
            color: @blue;
            font-size: 28px;
            line-height: 32px;
            font-weight: normal;
            padding-bottom: 8px;
        }
        p {
            text-align: justify;
            padding-bottom: 24px;
        }
        ul {
            padding-left: 24px;
            li {
                line-height: 24px;
                font-size: 20px;
                font-weight: 100;
                padding-bottom: 16px;
                img {
                    position: relative;
                    top: 5px;
                    padding-right: 8px;
                }
            }
        }
        .big-worker {
            position: absolute;
            left: 270px;
            bottom: 0;
            z-index: -1;
        }
    }
    #events-and-awards {
        width: 288px;
        padding-left: 16px;
        margin-top: 24px;
        float: left;
        border-left: 1px solid @light-grey;
        h2 {
            color: @blue;
            font-style: italic;
            font-weight: normal;
            font-size: 20px;
            line-height: 20px;
            padding-bottom: 16px;
            &.awards {
                padding-top: 24px;
            }
        }
        .award {
            display: block;
            margin: 0 auto;
            margin-bottom: 8px;
        }
        .event {
            padding-bottom: 4px;
            margin-bottom: 4px;
            border-bottom: 1px solid @light-grey;
            padding: 4px;
            .fade-slow;
            &:hover {
                background: @v-light-blue;
                .fade-fast;
            }
            .date {
                float: left;
                margin-right: 8px;
                text-transform: uppercase;
                text-align: center;
                font-size: 14px;
                line-height: 14px;
                color: @black;
                span {
                    display: block;
                    font-size: 36px;
                    line-height: 36px;
                }
            }
            h3 {
                font-size: 16px;
            }
            p {
                color: #555;
            }
        }
    }
    #company-awesomeness {
        background: url(/static/img/spanish/home-security-bg.png) repeat;
        display: block;
        padding: 48px 0;
        margin-bottom: 8px;
        #awesome-video {
            float: left;
            width: 472px;
        }
        #company-culture {
            float:left;
            width: 440px;
            padding-left: 48px;
            .button {
                padding-left: 0;
            }
            h2 {
                color: @white;
                font-size: 28px;
                line-height: 28px;
                padding-bottom: 16px;
            }
            p {
                text-align: justify;
                color: @white;
            }
        }
    }

}
body.agent-two {
    #agent-two-overview {
        .content-box(664px);
        ul {
            list-style-type: disc;
            color: @blue;
            font-size: 16px;
            margin-left: 16px;
            margin-top: 16px;
            li {
                width: 46%;
                margin-right: 16px;
                float: left;
                padding-bottom: 16px;
            }
        }
        #agent-ad {
            position: absolute;
            right: -296px;
            top: 262px;
            width: 265px;
            text-align: center;
        }
        #home-security-dealer {
            position: absolute;
            right: -296px;
            top: 10px;
            width: 232px;
            background: @blue;
            padding: 16px;
            .border-radius(5px, 5px, 5px, 5px);
            .drop-shadow;
            h3 {
                color: @white;
                font-size: 13px;
                text-align: justify;
                letter-spacing: 1px;
                strong {
                    text-align: center;
                    display: block;
                    font-size: 17px;
                    line-height: 21px;
                    text-shadow: 0 2px 0px @dark-blue;

                    span {
                        display: block;
                        font-size: 25px;
                        line-height: 54px;
                    }
                }
            }
        }
    }
    #agent-badges {
        text-align: center;
    }
    #agent-more-information {
        .content-box;
        margin-top: 32px;

    }
}
body.affiliate-program {

    #affiliate-enrollment {
        .content-box(664px);
        ul {
            margin-left: 16px;
            li {
                margin-left: 16px;
                list-style-type: disc;
                font-size: 18px;
                line-height: 24px;
                color: @blue;
                padding-bottom: 8px;
            }
        }
    }
    #affiliates-enroll-form {
        .content-box(944px);
        background: @v-light-grey;
        padding: 8px 8px 32px;
        label {
            color: @blue;
            display: block;
            &.required {
                font-weight: bold;
            }
            &.checkbox {
                height: 28px;
                line-height: 28px;
                border-top: 1px solid @light-grey;
                padding-top: 16px;
            }
        }

        input {
            color: @black;
            font-size: 18px;
            height: 28px;
            line-height: 28px;
            margin: 0 0 8px;
            width: 416px;
            &.checkbox {
                width: 36px;
                float: left;
                margin-top: 16px;
            }
        }
        select {
            width: 416px;
            margin: 8px 0 16px;
        }
        textarea {
            width: 416px;
            height: 92px;
            
        }
        button {
            display: block;
            background: #90af01;
            color: @white;
            text-decoration: none;
            height: 36px;
            line-height: 36px;
            background-image: -moz-linear-gradient(top, #90af01, #829e01);
            background-image: -webkit-gradient(linear, left top, left bottom, from(#90af01), to(#829e01));
            border: 1px solid transparent;
            font-size: 18px;
            padding: 0 24px;
            font-weight: bold;
            cursor: pointer;
            cursor: hand;
            margin: 0 auto;
            width: 700px;
            &:hover {
                background-image: -moz-linear-gradient(center top, #90af01, #687e01);
                background-image: -webkit-gradient(linear, left top, left bottom, from(#90af01), to(#687e01));
                border: 1px solid #768f03;
                border-bottom: 1px solid #576902;
                -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.3);
                -moz-box-shadow: 0 1px 1px rgba(0,0,0,.3);
                box-shadow: 0 1px 1px rgba(0,0,0,.3);
            }
        }
        #general-information {
            .content-box(448px);
            padding: 8px;
            margin-right: 8px;
            margin-bottom: 4px;
        }
        #address-information {
            .content-box(448px);
            padding: 8px;
            margin-left: 8px;
            margin-bottom: 4px;
        }
        #contact-information {
            .content-box(448px);
            padding: 8px;
            padding-right: 16px;
            margin-bottom: 4px;
            border-top: 1px solid @light-grey;

        }
        #website-information {
            .content-box(448px);
            padding: 8px;
            padding-left: 16px;
            margin-bottom: 4px;
            border-top: 1px solid @light-grey;
            p.form-help {
                font-size: 11px;
                line-height: 14px;
                width: 422px;
                text-align: justify;
            }
        }
        #terms-conditions {
            margin: 8px;
            border-top: 1px solid @light-grey;
            padding-top: 8px;
            #the-agreement {
                background: @white;
                height: 300px;
                overflow-y: scroll;
                padding: 8px;
                border: 1px solid @light-grey;
                ol {
                    margin-left: 16px;
                    li {
                        list-style-type: decimal;
                        margin: 16px;
                        text-align: justify;
                    }
                }
            }
            p.submit-text {
                padding: 8px 0;
            }
        }
        #agent-signature {
            padding: 8px;
            border-bottom: 1px solid @light-grey;
            margin-bottom: 16px; 
            input {
                width: 924px;
            }
        }
    }
}
body.department-listing {

    #department-listings {
        .content-box;    
        h2 {
            margin-top: 8px;
            padding-top: 8px;
            padding-bottom: 4px
        }
        #customer-care {
            background: @off-white;

            padding: 0 8px 8px;
        }
        #buying-home-security, #home-security-opportunities {
            background: @v-light-grey;

            padding: 0 8px 8px;
        }
        #billing-department, #sales-department, #custservice-department, #installation-department, #monitoring-station, #bizdev-department, #careers-department {
            .content-box(944px);
            background: @off-white;
            padding-top: 8px;
            margin: 8px 0;

            &:hover {
                background: @light-green;
            }
            h3 {
                float: left;
                padding: 0 0 0 16px;
                line-height: 32px;
                color: @black;
            }
            p {
                float: right;
                padding: 0 16px 0 64px;
                line-height: 32px;
                font-size: 20px;
                width: 260px;
                text-align: right;
            }
        }
    }
}
body.feedback-ceo {
    #ceo-feedback-form {
        .content-box(928px);
        margin-top: 16px;
        padding: 16px;
        #ceo-message {
            .content-box(920px);
        }
        #ceo-form {
            .content-box(914px);
            padding: 8px;
            background: @v-light-grey;
            p {
                font-size: 12px;
            }
            label {
                color: @blue;
                display: block;
                &.required {
                    font-weight: bold;
                }
                &.checkbox {
                    height: 28px;
                    line-height: 28px;
                    border-top: 1px solid @light-grey;
                    padding-top: 16px;
                }
            }
    
            input {
                color: @black;
                font-size: 18px;
                height: 28px;
                line-height: 28px;
                margin: 0 0 8px;
                width: 416px;
                &.city {
                    width: 200px;
                }
                &.checkbox {
                    width: 36px;
                    float: left;
                    margin-top: 16px;
                }
            }
            select {
                width: 416px;
                margin: 8px 0 16px;
                &#state {
                    width: 200px;
                    margin-left: 11px;
                    position: relative;
                    bottom: 3px;
                }
            }
            textarea {
                width: 907px;
                height: 150px;
                
            }
            #customer-information {
                .content-box(424px);
                padding-right: 24px;
                border-right: 1px solid @light-grey;
                p {
                    font-size: 12px;
                }
            }
            #feedback-information {
                .content-box(424px);
                padding-left: 24px;
                p {
                    font-size: 12px;
                    height: 84px;
                }
            }
        }
        .star-container {
            width: 200px;
            
        }
        .star-button {
            width: 40px;
            height: 40px;
            background: url(../img/extra/testimonial-stars-light-grey.png) -40px 0 no-repeat;
            float: left;
            cursor: pointer;
            cursor: hand;
            &.active {
                background: url(../img/extra/testimonial-stars-light-grey.png) 0px 0 no-repeat;

            }
            &.hover {
                background: url(../img/extra/testimonial-stars-light-grey.png) -80px 0 no-repeat;

            }
            
        }
        button {
            display: block;
            background: #90af01;
            color: @white;
            text-decoration: none;
            height: 36px;
            line-height: 36px;
            background-image: -moz-linear-gradient(top, #90af01, #829e01);
            background-image: -webkit-gradient(linear, left top, left bottom, from(#90af01), to(#829e01));
            border: 1px solid transparent;
            font-size: 18px;
            padding: 0 24px;
            font-weight: bold;
            cursor: pointer;
            cursor: hand;
            margin: 16px auto;
            width: 700px;
            &:hover {
                background-image: -moz-linear-gradient(center top, #90af01, #687e01);
                background-image: -webkit-gradient(linear, left top, left bottom, from(#90af01), to(#687e01));
                border: 1px solid #768f03;
                border-bottom: 1px solid #576902;
                -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.3);
                -moz-box-shadow: 0 1px 1px rgba(0,0,0,.3);
                box-shadow: 0 1px 1px rgba(0,0,0,.3);
            }
        }
    }
}