@import "style";
#sub-navigation {
    display: none;
}
#city-bar {
    .content-box;
    background: @v-light-blue url(/static/img/crime-stats/city-building-icon.jpg) 5px 12px no-repeat;
    .drop-shadow;
    height: 82px;
    h1 {
        color: @black;
        font-size: 32px;
        line-height: 38px;
        margin-left: 72px;
        margin-top: 12px;
        letter-spacing: 0;
        float: left;
    }
    #city-info {
        font-weight: 600;
        line-height: 24px;
        color: @dark-grey;
        float: left;
        margin-left: 16px;
        font-size: 12px;
        position: relative;
        top: 16px;
        img {
            vertical-align: text-bottom;
        }
        strong {
            display: block;
            font-weight: 300;
            font-size: 18px;
            line-height: 32px;
        }
    }
    .change-city {
        position: absolute;
        left: 74px;
        bottom: 12px;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    #share-buttons {
        position: absolute;
        right: 16px;
    }
}
#sexual-predators {
    .content-box(664px);
    float: left;
    #sex-offender-legend {
        background: @off-white;
        width: 668px;
        border: 1px solid @light-grey;
        padding: 8px;
        position: relative;
        bottom: 24px;
        thead {
            th {
                color: @blue;
                font-weight: 800;
                border-right: 1px solid @light-grey;
                padding-left: 8px;
                    &.omega {
                        border: none;
                    }
            }
        }
        tbody {
            tr {
                td {
                    font-size: 10px;
                    border-right: 1px solid @light-grey;
                    padding-left: 8px;
                    span {
                        width: 8px;
                        height: 8px;
                        background: @red;
                        display: block;
                        float: left;
                        margin-top: 5px;
                        margin-right: 4px;
                        border: 1px solid @dark-grey;
                    }
                    &.omega {
                        border: none;
                    }
                }
            }
        }
    }
}
.sidebar {
    float: left;
    width: 275px;
    .side-ad {
        margin-left: 16px;
        float: left;
    }
}
#crime-statistics {
    .content-box;
    #crime-grade-scorecard {
        background: @off-white url(/static/img/crime-stats/rural-background.jpg) 0px 100px no-repeat;
        border: 1px solid @v-light-grey;
        padding: 8px 16px 0;
        #overall-grade {
            float: left;
            margin-right: 16px;
        }
        #scorecard-content {
            .content-box(560px);
            margin-top: 16px;
        }
        #crime-grades{
            background: rgba(255,255,255,.5);
            _background: @white;
            height: 96px;
            overflow: hidden;
            #burglary-grade, #murder-grade, #rape-grade, #robbery-grade, #assault-grade, #auto-theft-grade, #larceny-grade {
                float: left;
                width: 64px;
                padding: 4px 8px 0;
                .fade-fast;
                p {
                    text-align: center;
                    font-size: 10px;
                    font-weight: 800;
                    line-height: 11px;
                    position: relative;
                    bottom: 8px;
                }
                &:hover {
                    background: @light-blue;
                    .fade-slow;
                }
            }
        }
        .button-link {
            margin-right: 16px;
        }
    }
    #burglary-crime-statistics {
        margin-top: 16px;
        .bottom-rule;
        p {
            .content-box(444px);
            padding: 16px 24px 0 0;
        }
        table {
            float: left;
            width: 492px;
            margin-bottom: 16px;
            thead {
                tr{
                    th {
                        font-size: 10px;
                        font-weight: 800;
                        text-align: center;
                        border-bottom: 1px solid @light-grey;
                    }
                }
            }
            tbody {
                tr {
                    .fade-fast;
                    td{
                        font-size: 32px;
                        font-weight: 300;
                        text-align: center;
                        line-height: 42px;
                        border-bottom: 1px solid @light-grey;
                        border-left: 1px solid @light-grey;
                        color: @dark-grey;
                        .fade-fast;
                        &.year {
                            color: @blue;
                            font-weight: 800;
                        }
                        &.grade {
                            font-weight: 800;
                        }
                        &.omega {
                            border-right: 1px solid @light-grey;
                        }
                        &:hover {
                            background: @light-blue;
                            .fade-slow;
                        }
                    }
                    &.alt {
                        background: @off-white;
                    }
                    &:hover {
                        background: @v-light-blue;
                        .fade-slow;
                    }
                }
            }
        }
    }
}