@import "style";
#sub-navigation {
margin-bottom: 8px;
}
/*************** Select City Page *******************/
#city-bar.select {
    width: 960px;
    background: @v-light-blue;

    h1 {
        color: @black;
        font-size: 20px;
        line-height: 22px;
        margin: 12px 0 8px 16px;
        letter-spacing: 0;
        float: left;
    }
    form {
        margin-top: 11px;        
        height: 36px;
        input {
            height: 20px;
            margin: 0 16px 0px 16px;
            float: left;
            width: 600px;
        }
        button {
            float: left;
            margin-top: 0;
        }
    }
    ul#letters {
        width: 936px;
        margin: 0 auto;
        li {
            float: left;
            a {
                display: block;
                width: 30px;
                margin: 0 2px;
                font-weight: bold;
                text-align: center;
                background: @light-blue;
                color: @v-light-blue;
                .border-radius;
                cursor: default;
                text-decoration: none;
                border: 1px solid transparent;

            }
            &.has-cities {
                a {
    
                    background: @blue;
                    color: @white;
                    background-image: -moz-linear-gradient(top,@blue,#005f9a);
                    background-image: -webkit-gradient(linear,left top,left bottom,from(@blue),to(#005f9a));
                    cursor: pointer;
                    cursor: hand;
                    text-decoration: none;
                    color: @white;
                    .fade-fast;
                    &:hover {
                        background-image: -moz-linear-gradient(center top , @blue, #00568b);
                        background-image: -webkit-gradient(linear,left top,left bottom,from(@blue),to(#00568b));
                        border: 1px solid #094182;
                        border-bottom: 1px solid @dark-blue;
                        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.3);
                        -moz-box-shadow: 0 1px 1px rgba(0,0,0,.3);
                        box-shadow: 0 1px 1px rgba(0,0,0,.3);
                    }
                }
                &.active {
                    a {
                        background: @light-green;
                        color: @green;
                        border: 1px solid @green;
                        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.3);
                        -moz-box-shadow: 0 1px 1px rgba(0,0,0,.3);
                        box-shadow: 0 1px 1px rgba(0,0,0,.3);
                        cursor: default;
                        .fade-slow;
                        &:hover {
                            background: @light-green;
                            color: @green;
                            border: 1px solid @green;
                        }
                    }
                }
            }
        }
    }
}
#city-content, #state-list, #search-results {
     .content-box(648px);
    margin-right: 4px;
    padding: 8px;
    .alphabet-content {
        float: left;
        padding-top: 32px;
        h2 {
            .bottom-rule;
            padding: 0 0 4px 4px;
            float: none;
        }

    }
        ul {
            li {
                display: inline;
                padding-right: 12px;
                font-size: 12px;
                line-height: 24px;
            }
        }
}
#search-results {
    background: @off-white;
    ul {
        li {
            font-size: 14px;
            font-weight: bold;
        }
    }
}

/*************** Crime Stats Page *******************/
#city-bar {
    margin-top: 8px;
    #city-search {
        display: none;
        h2 {
            color: @black;
            font-size: 20px;
            line-height: 22px;
            margin: 12px 0 0px 75px;
            letter-spacing: 0;
        }
        form {
            margin-top: 11px;        
            margin-left: 60px;
            input {
                height: 20px;
                margin: 0 16px 0px 16px;
                float: left;
                width: 600px;
            }
            button {
                float: left;
                margin-top: 0;
                margin-right: 8px;
            }
        }
    }

    .content-box;
    background: @v-light-blue url(/static/img/crime-stats/city-building-icon.jpg) 5px 12px no-repeat;
    .drop-shadow;
    height: 82px;
    h1 {
        color: @black;
        font-size: 32px;
        line-height: 38px;
        margin-left: 72px;
        margin-top: 12px;
        letter-spacing: 0;
        float: left;
    }
    #city-info {
        font-weight: 600;
        line-height: 24px;
        color: @dark-grey;
        float: left;
        margin-left: 16px;
        font-size: 12px;
        position: relative;
        top: 16px;
        img {
            vertical-align: text-bottom;
        }
        strong {
            display: block;
            font-weight: 300;
            font-size: 18px;
            line-height: 32px;
        }
    }
    .change-city {
        position: absolute;
        left: 74px;
        bottom: 12px;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    #share-buttons {
        position: absolute;
        right: 16px;
    }
}
#sexual-predators {
    .content-box(664px);
    float: left;
    #sex-offender-legend {
        background: @off-white;
        width: 668px;
        border: 1px solid @light-grey;
        padding: 8px;
        position: relative;
        bottom: 24px;
        thead {
            th {
                color: @blue;
                font-weight: bold;
                border-right: 1px solid @light-grey;
                padding-left: 8px;
                    &.omega {
                        border: none;
                    }
            }
        }
        tbody {
            tr {
                td {
                    font-size: 10px;
                    border-right: 1px solid @light-grey;
                    padding-left: 8px;
                    span {
                        width: 8px;
                        height: 8px;
                        background: @red;
                        display: block;
                        float: left;
                        margin-top: 5px;
                        margin-right: 4px;
                        border: 1px solid @dark-grey;
                    }
                    &.omega {
                        border: none;
                    }
                }
            }
        }
    }
}
.sidebar {
    float: left;
    width: 275px;
    .side-ad {
        margin-left: 16px;
        float: left;
    }
}
#crime-statistics {
    .content-box;
    #crime-grade-scorecard {
        background: @off-white url(/static/img/crime-stats/rural-background.jpg) 0px 100px no-repeat;
        border: 1px solid @v-light-grey;
        padding: 8px 16px 0;
        #overall-grade {
            float: left;
            margin-right: 16px;
        }
        #scorecard-content {
            .content-box(560px);
            margin: 0 14px 15px 0;
        }
        #crime-grades{
            background: rgba(255,255,255,.5);
            _background: @white;
            height: 96px;
            overflow: hidden;
            #burglary-grade, #murder-grade, #rape-grade, #robbery-grade, #assault-grade, #auto-theft-grade, #larceny-grade {
                float: left;
                width: 64px;
                padding: 4px 8px 0;
                .fade-fast;
                p {
                    text-align: center;
                    font-size: 10px;
                    font-weight: bold;
                    line-height: 11px;
                    position: relative;
                    bottom: 8px;
                }
                &:hover {
                    background: @light-blue;
                    .fade-slow;
                }
            }
        }
        .button-link {
            margin-right: 16px;
        }
    }
}
#burglary-crime-statistics {
    .content-box;
    margin-top: 16px;
    .bottom-rule;
    p {
        .content-box(444px);
        padding: 16px 24px 0 0;
    }
    table {
        float: left;
        width: 492px;
        margin-bottom: 16px;
        thead {
            tr{
                th {
                    font-size: 10px;
                    font-weight: bold;
                    text-align: center;
                    border-bottom: 1px solid @light-grey;
                }
            }
        }
        tbody {
            tr {
                .fade-fast;
                td{
                    font-size: 32px;
                    font-weight: 300;
                    text-align: center;
                    line-height: 42px;
                    border-bottom: 1px solid @light-grey;
                    border-left: 1px solid @light-grey;
                    color: @dark-grey;
                    .fade-fast;
                    &.year {
                        color: @blue;
                        font-weight: bold;
                    }
                    &.grade {
                        font-weight: bold;
                    }
                    &.omega {
                        border-right: 1px solid @light-grey;
                    }
                    &:hover {
                        background: @light-blue;
                        .fade-slow;
                    }
                }
                &.alt {
                    background: @off-white;
                }
                &:hover {
                    background: @v-light-blue;
                    .fade-slow;
                }
            }
        }
    }
}
