@import "style";
#sub-navigation {
    display: none;
}
#city-bar {
    .content-box;
    background: @v-light-blue url(/static/img/crime-stats/city-building-icon.jpg) 5px 12px no-repeat;
    .drop-shadow;
    height: 82px;
    h1 {
        color: @black;
        font-size: 32px;
        line-height: 38px;
        margin-left: 72px;
        margin-top: 12px;
        letter-spacing: 0;
        float: left;
    }
    #city-info {
        font-weight: 600;
        line-height: 24px;
        color: @dark-grey;
        float: left;
        margin-left: 16px;
        font-size: 12px;
        position: relative;
        top: 16px;
        img {
            vertical-align: text-bottom;
        }
        strong {
            display: block;
            font-weight: 300;
            font-size: 18px;
            line-height: 32px;
        }
    }
    .change-city {
        position: absolute;
        left: 74px;
        bottom: 12px;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    #share-buttons {
        position: absolute;
        right: 16px;
    }
}
#sexual-predators {
    .content-box(664px);
    float: left;
    #sex-offender-legend {
        background: @off-white;
        width: 668px;
        border: 1px solid @light-grey;
        padding: 8px;
        position: relative;
        bottom: 24px;
        thead {
            th {
                color: @blue;
                font-weight: 800;
                border-right: 1px solid @light-grey;
                padding-left: 8px;
                    &.omega {
                        border: none;
                    }
            }
        }
        tbody {
            tr {
                td {
                    font-size: 10px;
                    border-right: 1px solid @light-grey;
                    padding-left: 8px;
                    &.omega {
                        border: none;
                    }
                }
            }
        }
    }
}
.sidebar {
    float: left;
    .side-ad {
        margin-left: 16px;
        float: left;
    }
}
#crime-grade-scorecard {
    .content-box;
}