@import "home.css";

body.equipment-b {
    #hero-wrapper {
        height: 450;
        &.cmonday {
            background: #fff;
        }
        #hero-image {
            #quote-form {
                display: block;
                padding-top: 0;
                height: 435px;
                position: relative;
                background: #fff;
                border: 1px solid #eee;
                #third-party-container {
                    background: transparent;
                    height: 52px;
                    .third-party-badge {
                        div {
                            margin: 0;
                        }
                    }
                }
                .consent-box {
                    border-bottom: 1px solid #ccc;
                    margin: 6px auto 0;
                    padding: 2px 0 0;
                }
                p.form-title {
                    text-transform: uppercase;
                    font-size: 14px;
                    width: 195px;
                    padding: 5px;
                    background: #2e3849;
                    color: #fff;
                    font-weight: 600;
                }
                i {
                    color: #2e3849;
                    font-size: 30px;
                    line-height: 24px;
                    padding: 0;
                    margin: 0 auto;
                    position: absolute;
                    top: 32px;
                    left: 46%;
                }
                div {
                    div {
                        margin-top: 10px;
                        span {
                            float: none;
                            padding-left: 0;
                        }
                    }
                    label {
                        font-weight: 400;
                        line-height: 12px;
                        margin-bottom: 8px;
                        color: #999;
                    }
                    input {
                        margin: 0 0 8px 15px !important;
                        padding: 1px 3px;
                        width: 166px;
                        border-radius: 4px;
                        border-bottom: 1px solid #ccc;
                        border-left: 1px solid #ccc;
                        border-right: 1px solid #ccc;
                        border-top: 1px solid #999;
                        font-size: 14px;
                    }
                }
                button {
                    text-transform: none;
                    font-weight: 400;
                }
            }
            &.cmonday {
                #deals {
                    width: 730px;
                    margin-left: 0;
                    .camera {
                        width: 220px;
                        height: 159px;
                        overflow: hidden;
                        float: left;
                        img {
                            &.video-camera {
                                &:hover {
                                    float: right;
                                    margin: 0;
                                }
                            }
                        }
                    }
                    .security-system {
                        width: 205px;
                        height: 159px;
                        overflow: hidden;
                        float: left;
                        margin-right: 10px;
                        img {
                            &.free-system {
                                &:hover {
                                    float: right;
                                    margin: 0;
                                }
                            }
                        }
                    }
                    .three {
                        margin-left: 454px;
                        background: #ddd;
                        width: 235px;
                        height: 119px;
                        padding: 20px;
                        display: block;
                        h3 {
                            font-size: 18px;
                            line-height: 20px;
                            text-shadow: none;
                            text-transform: uppercase;
                            font-weight: 700;
                            text-align: left;
                            color: #333;
                            padding: 0;
                        }
                        h4 {
                            font-size: 14px;
                            text-transform: uppercase;
                            font-weight: 600;
                            text-align: left;
                            text-shadow: none;
                            color: #333;
                        }
                        p {
                            color: #666;
                            font-size: 14px;
                            width: auto;
                            line-height: 18px;
                            text-shadow: none;
                            text-transform: none;
                            text-align: left;
                            margin: 10px 0;
                        }
                    }
                    img {
                        float: left;
                        &.free-system {
                            margin-right: 10px;
                        }
                        &.video-camera {
                            margin-right: 10px;
                        }
                    }
                    .unbeatable {
                        width: 180px;
                        display: block;
                        float: right;
                        background: #2e3849;
                        text-transform: uppercase;
                        text-align: center;
                        p {
                            color: #fff;
                            width: auto;
                            text-align: center;
                            font-size: 13px;
                            padding-top: 10px;
                            margin: 0;
                            line-height: 28px;
                            strong {
                                clear: both;
                                color: #fff;
                                display: block;
                                font-size: 23px;
                                line-height: 18px;
                            }
                        }
                    }
                }
            }
            #cyber-monday {
                width: 753px;
                height: 327px;
                float: left;
                text-align: left;
                .copy {
                    display: block;
                    float: left;
                    padding-top: 42px;
                    width: 500px;
                    h1 {
                        margin: 10px 0 2px 50px;
                        font-size: 32px;
                        line-height: 32px;
                        font-weight: 500;
                        text-transform: none;
                    }
                    h2 {
                        margin: 20px 0 0 50px;
                        font-size: 16px;
                        line-height: 18px;
                        font-weight: 400;
                        text-transform: none;
                    }
                    h3 {
                        background: #2e3849;
                        font-size: 22px;
                        font-weight: 800;
                        padding: 8px;
                        text-align: center;
                        width: 180px;
                        margin: 10px 0 0 50px;
                        color: #ef2922;
                        text-shadow: none;
                        text-transform: none;
                    }
                    h4 {
                        text-transform: none;
                        font-size: 22px;
                        font-weight: 400;
                        line-height: 38px;
                        margin: 0 0 10px 50px;
                        color: #666;
                        text-transform: none;
                    }
                }
                .plans {
                    width: 165px;
                    height: 145px;
                    margin: 85px 0 0 50px;
                    padding: 10px;
                    background: url(/static/img/banners/spring/form_bg.png) repeat;
                    float: left;
                    display: block;
                    p {
                        margin: 0;
                        font-size: 13px;
                        line-height: 16px;
                        text-align: left;
                        color: #0f64c3;
                    }
                    big {
                        font-size: 80px;
                        margin: 32px 0 40px 0;
                        display: block;
                        float: left;
                        font-weight: 600;
                        color: #2f394a;
                    }
                    small {
                        font-size: 30px;
                        display: block;
                        float: left;
                        margin: 14px 0 0 0;
                        color: #2f394a;
                        &.month {
                            font-size: 18px;
                            margin: 50px 0 0;
                        }
                    }
                    a.button-link {
                        width: 161px;
                        text-align: center;
                        margin: 0;
                        clear: both;
                    }
                }
                .main-hero-image {
                    top: 0;
                    left: -500px;
                }
                .price-area {
                    img {
                        margin: 20px 0 0 340px;
                    }
                }
            }
        }
    }
    .wrapper { 
    	h2 {
            font-size: 28px;
            font-weight: 500;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 20px;
            }
        h3 {
            font-size: 18px;
            line-height: 28px;
            font-weight: 100;
            color: #666;
            text-align: center;
            margin-bottom: 70px;
            span {
                display: block;
            }
        }
        a {
            font-weight: 500;
			text-decoration: none;
        }
        #home {
            margin: 70px 0;
            #home-image {
            	position: relative;
				height: 760px;
	            .home-component {
	                position: absolute;
	                width: 200px;
	                height: 200px;
	                h4 {
	                    font-size: 16px;
	                    line-height: 24px;
	                    font-weight: 500;
	                    text-transform: uppercase;
	                    margin-bottom: 10px;
	                    span {
	                        display: block;
	                    }
	                }
	                p {
	                    font-size: 14px;
	                    line-height: 20px;
	                    font-weight: 100;
	                    color: #666;
	                    margin-bottom: 10px;
	                }
	            }
	            #component-1 {
	                left: 180px;
	            }
	            #component-2 {
	                top: 200px;
	            }
	            #component-3 {
	                top: 460px;
	                left: 60px;
	            }
	            #component-4 {
	                top: 523px;
	                left: 550px;
	                width: 340px;
	            }
	            #component-5 {
	                top: 280px;
	                left: 775px;
	            }
	            #component-6 {
	               top: 20px;
	               left: 700px;
	            }
	        }
        }
    }
}
#wrapper-features {
	background-color: #eee;
	padding: 70px 0;
	.wrapper {
		#security-features {
			.features {
				width: 200px;
				float: left;
				h4 {
					font-size: 18px;
					font-weight: 600;
					margin-bottom: 20px;
					
				}
				p {
					color: #555;
					margin-bottom: 20px;
				}
				ul {
					list-style-type: disc;
					margin: 0 0 20px 17px;
				}
			}
			#feature-1, #feature-2, #feature-3 {
				margin-right: 53px;
			}
		}
	}
}
#wrapper-smart-phone {
	background-color: #333;
	padding: 70px 0;
	.wrapper {
		#smart-phone-features {
			
		}
	}
}