@import "style";
#hero-image {
    .main-hero-image {
        position: absolute;
        bottom: 0;
        left: -5%;
        z-index: 0;
    }
    #hero-content {
        float: right;
        width: 480px;
        margin-top: 48px;
    }
} 
.video-features {
    .content-box;
    margin-top: 48px;
    margin-bottom: 48px;
    .video-content {
        width: 400px;
        float: right;
        clear: right;
        ul {
            li {
                width: 100%;
                clear: both;
                margin: 10px 0;
                i {
                    color: #999;
                    margin-right: 20px;
                }
                strong {
                    font-size: 14px;
                    text-transform: uppercase;
                    font-weight: 400;
                    color: #999;
                }
            }
        }
    }
    .video-frame {
        width: 400px;
        float: left;
    }
}
#featured-equipment {
    .content-box();
    margin: 32px 0;
    .equipment-piece {
        .content-box(192px);
        text-align: center;
        a {
            text-decoration: none;
        }
        .button-link {
            float: none;
            margin: 0 auto;
            width: 100px;
        }
    }
}
body.equipment {
    #hero-wrapper {
        overflow: hidden;

        #hero-image {
            .equipment-category {
                width: 192px;
                float: left;
                height: 496px;
                .fade-slow;
                cursor: pointer;
                cursor: hand;
                i.home-security-icon {
                    width: 128px;
                    height: 128px;
                    display: block;
                    margin: 80px auto 16px;
                    background: url(/static/img/base/main-icons-sprite.png) 0 0 no-repeat;
                    
                }
                h2 {
                    color: @grey;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 28px;
                    padding-bottom: 8px;
                    text-align: center;
                    span {
                        display: block;
                    }
                }
                p {
                    width: 150px;
                    color: @grey;
                    margin: 0 auto;
                    text-align: center;
                    font-size: 15px;
                }
                .button-link {
                    margin: 32px auto 0;
                    display: block;
                    width: 105px;
                    float: none;
                    padding: 8px 16px;
                    font-size: 14px;
                    background: @blue;
                    color: @white;
                }
                &:hover {
                    .fade-fast;
                    .drop-shadow(0px,0px,10px,@black);
                    background-image: url(/static/img/base/equipment-shade.png);
                    background-repeat: repeat-x;
                    h2 {
                        color: @white;
                        text-shadow: 1px 2px 1px rgba(0,0,0,.35);
                    }
                    p {
                        color: @white;
                    }
                    .button-link {
                        background: @v-light-grey;
                        color: @blue;
                    }
                }
                &#home-security-category {
                    i.home-security-icon {
                        background: url(/static/img/base/main-icons-sprite.png) 0 0px no-repeat;
                        
                    }
                    &:hover {
                        background-color: @blue;
                        i.home-security-icon {
                            background: url(/static/img/base/main-icons-sprite.png) -128px 0px no-repeat;
                        }
                    }
                }
                &#life-safety-category {
                    i.home-security-icon {
                        background: url(/static/img/base/main-icons-sprite.png) 0 -128px no-repeat;
                        
                    }
                    &:hover {
                        background-color: @red;
                        i.home-security-icon {
                            background: url(/static/img/base/main-icons-sprite.png) -128px -128px no-repeat;
                        }
                    }
                }
                &#home-automation-category {
                    i.home-security-icon {
                        background: url(/static/img/base/main-icons-sprite.png) 0 -256px no-repeat;
                        
                    }
                    &:hover {
                        background-color: @yellow;
                        i.home-security-icon {
                            background: url(/static/img/base/main-icons-sprite.png) -128px -256px no-repeat;
                        }
                    }
                }
                &#smart-connect-category {
                    i.home-security-icon {
                        background: url(/static/img/base/main-icons-sprite.png) 0 -385px no-repeat;
                        
                    }
                    &:hover {
                        background-color: @green;

                        i.home-security-icon {
                            background: url(/static/img/base/main-icons-sprite.png) -128px -385px no-repeat;
                        }
                    }
                }
                &#automotive-category {
                    i.home-security-icon {
                        background: url(/static/img/base/main-icons-sprite.png) 0 -515px no-repeat;
                        
                    }
                    &:hover {
                        background-color: @grey;

                        i.home-security-icon {
                            background: url(/static/img/base/main-icons-sprite.png) -128px -515px no-repeat;
                        }
                    }
                }
            }
        }
    }
    #simon-xt-control-panel-overview {
        
        #simon-xt-image {
            
        }
        #simon-xt-content {
            

            h1 {
                font-size: 16px;
                line-height: 16px;
                margin-bottom: 0;
            }
        }
    }
    #three-main-products {
        .content-box;
            top: 30px;
            margin-bottom: 80px;
        #door-window-sensors, #smoke-detectors, #ge-simon-xt-touchscreen {
            .content-box(320px);
            text-align: center;
            p {
                text-align: left;
                padding: 0 16px;
            }
            .button-link {
                float: none;
                margin: 0 auto;
                width: 200px;
            }
        }
    }
    #four-product-categories {
        .content-box;
        #security-sensors, #gps-device, #home-security-cameras, #home-security-accessories {
            width: 240px;
            float: left;
            text-align: center;
            p {
                padding: 0 8px;
            }
        }
    }

}
body.home-security-equipment {
    #hero-image {
        .main-hero-image {
                position: absolute;
                bottom: 0;
                left:-14%;
                
               
        }
    }
    
}
body.appliance-module {
    #hero-image {
        .main-hero-image {
                position: absolute;
                bottom: 0;
                left:-14%;
                
               
        }
    }
    
}
body.indoor-siren {
    #hero-image {
        .main-hero-image {
                position: absolute;
                bottom: 0;
                left:-20%;
                
               
        }
    }
    
}


body.life-safety-equipment {
    #hero-image {
        .main-hero-image {
                position: absolute;
                bottom: 0;
                left:-14%;
                
               
        }
    }
    
}
body.home-automation-equipment {
    #hero-image {
        .main-hero-image {
                position: absolute;
                bottom: 0;
                left:-14%;
                
               
        }
    }
    
}
body.accessories {
    #hero-image {
        .main-hero-image {
                position: absolute;
                bottom: 0;
                left:-15%;
                
               
        }
    }   
    .accessory {
        .content-box;
        margin-top:50px;
       
        img {
            float: left;
            padding-right: 16px;
            
        }
        h2 {
            margin-top: 64px;
        }
    }

    
}



body.simon-xt {
    #hero-image {
        .main-hero-image {
            position: absolute;
            bottom: 0;
            left: -33%;
        }
        #hero-content {
            float: right;
            width: 480px;
            margin-top: 48px;
        }
    }    
    .video-features {
        .content-box;
        margin-top: 48px;
        margin-bottom: 48px;
        .video-content {
            width: 480px;
            float: left;
            margin-right: 80px;
        }
        .video-frame {
            width: 400px;
            float: left;
        }
    }
    #simon-xt-features {
        .content-box;
        text-align: center;
        margin-top: 32px;
        h2 {
            text-align: left;
        }
        p {
            text-align: left;
        }
        img {
            position: absolute;
            right: 76px;
            top: 129px;
            z-index: -1;
        }

        #equipment-features {
            position: relative;
            height: 500px;
            .equipment-feature {
                position: absolute;
                width: 24px;
                height: 24px;
                z-index: 250;
                .feature-icon {
                    width: 24px;
                    height: 24px;
                    background: @blue;
                    .drop-shadow(0px, 2px, 5px, @black);
                    .border-radius(10px, 10px, 10px, 10px);
                    border: 2px solid @light-blue;
                    z-index: 100;
                    position: absolute;
                    left: 0;
                    top: 0;
                    color: @white;
                    font-weight: bold;
                    cursor: pointer;
                    cursor: hand;
                    &:hover {
                        .background-gradient(@blue, #00568b);
                        border: 2px solid @light-blue;
                    }
                    &.active {
                        background: @red;
                        border: 2px solid @dark-red;
                        &:hover {
                            .background-gradient(#e51a19, #ba1615);
                        }
                    }
                }
                .feature-content {
                    position: absolute;
                    width: 250px;
                    background: @v-light-grey;
                    .background-gradient(@off-white, @v-light-grey);
                    border: 1px solid @light-grey;
                    top: 50%;
                    .drop-shadow(0px, 2px, 5px, @grey);
                    padding: 8px;
                    .border-radius(5px, 5px, 5px, 5px);
                    z-index: 50;
                    display: none;
                    &.first-open {
                        display: block;
                    }
                    &.right {
                        right: 12px;
                    }
                    &.left {
                        left: 12px;
                    }
                    h3 {
                        font-size: 16px;
                        font-weight: bold;
                    }
                    p {
                        font-size: 13px;
                        line-height: 16px;
                        text-align: left;
                        color: @black;
                    }
                }
            }
        }
    }
}
body.door-window-sensor {
    #about-door-sensor {
        .content-box;
        margin-top: 32px;
        #big-front-door {
            .content-box(460px);
            text-align: center;
        }
        #front-door-content {
            padding-top: 100px;
            .content-box(500px);
            p {
                width: 500px;
            }
        }
    }
}
body.gps {
      #hero-image {
        .main-hero-image {
            position: absolute;
            bottom: 0;
            left: -10%;
            z-index: 0;
        }
        #hero-content {
            float: right;
            width: 480px;
            margin-top: 48px;
        }
    }
    #vehicle-gps {
        .content-box;
        margin-right: 4px;
        #gps-tracking-car {
            float: left;
        }
        #gps-tracking-overview {
            .content-box(460px);
            margin-top: 48px;
            margin-left: 32px;    
        }
    }
    #lost-your-car {
        .content-box;
        h2, p {
            padding: 0 32px;
            position: relative;
            bottom: 56px;
        }
        p {
            width: 480px;
        }
    }
    #custom-notifications {
        margin-bottom: 48px;
        img {
            float: left;
        }
        #notifications-content {
            .content-box(480px);
            margin-top: 28px;
        }
    }
    #access-from-computer, #plug-n-play, #monitor-elderly-drivers, #company-vehicle-tracker {
        .content-box(240px);
        margin-bottom: 16px;
        h3 {
            padding: 0 8px 8px;
            text-align: center;
        }
        p {
            padding: 0 16px;
            line-height: 18px;
            font-size: 12px;
            
        }
    }  
}
body.two-button-panic {
    #hero-image {
        .main-hero-image {
            left: 10%;
        }
    }
}
body.video {
    #video-security-for-your-home {
        .content-box(50%);
        width: 40%;
        margin: 52px 0 15px;
        float: left;
        position: relative;
    }
    #video-security-for-your-business {
        .content-box(50%);
        width: 40%;
        margin: 46px  80px 15px;
        float: left;
        position: relative;
        
    }

    #video-security-anywhere {
        .content-box(50%);
        margin: 0 0 15px;
        float: left;
        position: relative;
        padding-top: 50px;
        text-align: left;
        

    }

    #i-phone-compatible {
        
        .center;
        margin-bottom: 0;
        padding-bottom: 0;
        img {
            position: relative;
            top: 5px;
            margin-bottom: -1px;
        }
    }
    #already-own-system {
         .content-box(30%);
        text-align: center;
        margin: 50px 20px 50px 0;
    }
    #wifi-compatible, #online-archived-video {
         .content-box(30%);
        text-align: center;
        margin: 50px 20px 50px 20px;
        

     }
     #online-archived-video {
      .content-box(30%);
        text-align: center;
        margin: 50px 0px 50px 20px;
        

     }



}

body.motion-detector {
    #hero-image {
        .main-hero-image {
            left: 0%;
        }
    } 
}
body.carbon-monoxide-detector {
    #hero-image {
        .main-hero-image {
            left: 7%;
        }
    } 
}
body.touchscreen {
        #hero-image {
            .main-hero-image {
                left: -25%;
            }
        }
        #touchscreen-features {        
             .content-box;
             margin-top:50px;
            
        }
        #touchscreen-img {
            z-index: -9;
            position:absolute;
            margin-top: -30px;
            left:150px;
            
        }
        #equipment-features {
        position: relative;
        height: 500px;
        .equipment-feature {
            position: absolute;
            width: 24px;
            height: 24px;
            z-index: 250;
            .feature-icon {
                width: 24px;
                height: 24px;
                background: @blue;
                .drop-shadow(0px, 2px, 5px, @black);
                .border-radius(10px, 10px, 10px, 10px);
                border: 2px solid @light-blue;
                z-index: 100;
                position: absolute;
                left: 0;
                top: 0;
                color: @white;
                font-weight: bold;
                cursor: pointer;
                cursor: hand;
                text-align: center;
                &:hover {
                    .background-gradient(@blue, #00568b);
                    border: 2px solid @light-blue;
                }
                &.active {
                    background: @red;
                    border: 2px solid @dark-red;
                    &:hover {
                        .background-gradient(#e51a19, #ba1615);
                    }
                }
            }
            .feature-content {
                position: absolute;
                width: 250px;
                background: @v-light-grey;
                .background-gradient(@off-white, @v-light-grey);
                border: 1px solid @light-grey;
                top: 50%;
                .drop-shadow(0px, 2px, 5px, @grey);
                padding: 16px;
                .border-radius(5px, 5px, 5px, 5px);
                z-index: 50;
                display: none;
                &.first-open {
                    display: block;
                }
                &.right {
                    right: 12px;
                }
                &.left {
                    left: 12px;
                }
                h3 {
                    font-size: 16px;
                    font-weight: bold;
                }
                p {
                    font-size: 13px;
                    line-height: 16px;
                    text-align: left;
                    color: @black;
                }
            }
        }
           
    } 
}

body.smoke-detector {
    #hero-image {
        .main-hero-image {
            left: -15%;
        }
    } 
}
body.freeze-sensor {
    #hero-image {
        .main-hero-image {
            left: -21%;
        }
    } 
}
body.glassbreak-sensor {
    #hero-image {
        .main-hero-image {
            left: -19%;
        }
    }
}
body.talking-wireless-keypad {
    #hero-image {
        .main-hero-image {
            left: -15.5%;
            top: 5%;
        }
    } 

}
body.flood-sensor {
    #hero-image {
        .main-hero-image {
            left: -21%;
        }
    }
    #rubber-duck {
        margin-top: 50px;
    } 
    #know-the-problem {
        .content-box(60%);
        margin-top: -30px;
        
        
    }
}
body.interactive-control {
    #hero-image {
        .main-hero-image {
            position: absolute;
            bottom: 0;
            left: -5%;
            z-index: 0;
        }
        #hero-content {
            float: right;
            width: 480px;
            margin-top: 48px;
        }
    }
    .wrapper {
        padding-bottom: 0;
    }
    #free-smart-app {
        .content-box(500px);
        padding-top: 48px;
        img {
        	display: block;
        	margin: 16px auto;
        }
    }
    #smart-connect-icon {
    	padding: 64px 98px;
    }
    #app-for-that {
        .content-box;
        padding-top: 46px;
        .phones {
            float: left;
        }
        .order-link {
            position: absolute;
            right: 24px;
            bottom: 50px;
            width: 475px;
        }
        ul {
            float: left;
            background: @v-light-grey;
            width: 480px;
            padding: 16px;
            margin-left: 48px;
            margin-top: 72px;
            position: relative;
            .features-arrow {
                position: absolute;
                left: -40px;
                top: 50%;
                margin-top: -32px;
            }
            li {
                clear: both;
                height: 100px;
                &.omega {
                    padding-bottom: 0;
                    height: 75px;
                }
                img {
                    float: left;
                    padding-right: 8px;
                    padding-top: 8px;
                }
                h3 {
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 16px;
                    color: #555;
                    padding-bottom: 0;
                    padding-top: 0;
                }
                p {
                    font-size: 12px;
                    padding-bottom: 0;
                    margin-bottom: 0;
                    span {
                        color: @red;
                    }
                }
            }
        }
    }
    #check-in-anywhere {
        overflow: visible;
        margin-top: 16px;
        h2 {
            font-weight: 300;
            text-align: center;
            font-size: 24px;
            line-height: 36px;
            color: @dark-grey;
            strong {
                display: block;
                font-size: 32px;
            }
            
        }
    
    
    }
    #app-screens {
        position: absolute;
        top: 77px;
        left: 602px;
        z-index: 900;
    }
    #postcards {
        background: url(/static/img/products/monitoring/interactive/map-background.jpg) center center no-repeat;
        position: relative;
        width: 100%;
        overflow: hidden;
        height: 430px;
        z-index: -999;
        #interactive-demo {
            width: 960px;
            z-index: 0;
            margin: 0 auto;
            height: 500px;
            position: relative;
            #iphone {
                position: absolute;
                right: 100px;
                top: 14px;
            }
        }
        .postcard1, .postcard2, .postcard3, .postcard4, .postcard5 {
            .drop-shadow(0px, 2px, 5px, @black);
            z-index: -5;
            position: absolute;
            top: 20px;
        }
        .postcard5 {
            left: 97%;
        }
        .postcard4 {
            left: 69%;
            z-index: -25;
        }
        .postcard3 {
            left: 40%;
        }
        .postcard2 {
            left: 10%;
            z-index: -25;
        }
        .postcard1 {
            left: -19%;
        }
    }

}

body.door-lock {
    #hero-wrapper {
        overflow: hidden;
        &.zwave {
            background: url(/static/img/products/zwave-door-lock/zwave-doorlock.jpg) center 0 no-repeat #f1f8fb;
        }
        #hero-image {
            #hero-content {
                width: 300px;
                margin-right: 40px;
            }
            p {
                width: 100%;
            }
        }
    }
}

#features {
    width: 100%;
    background: #2f394a;
    padding: 60px 0 20px 0;
    margin: 40px 0;
    text-align: center;
    overflow: hidden;
    .container {
        width: 960px;
        margin: 0 auto;
        p {
            color: #ccc;
            font-weight: 200;
            margin-top: 0;
        }
        ul li {
            float: left;
            margin: 10px 1.5% 40px;
            width: 30%;
            h3 {
                color: #fff;
                font-weight: 400;
                margin-bottom: 10px;
            }
            h3 i {
                color: #fff;
                font-size: 48px;
                display: block;
                margin-bottom: 30px;
            }
        }
    }
}

#call-box {
    background: #54b0a4;
    border: none;
    p {
        text-shadow: none;
        text-transform: uppercase;
        font-size: 30px;
        a {
            letter-spacing: 1px;
            font-weight: 600;
            .dynamic-phone-number {
                font-weight: 200;
                margin-left: 10px;
            }
        }
    }
}

#faq {
    width: 90%;
    margin: 0 auto 300px;
}

#faq2, #faq3, #faq4, #faq5, #faq6 {
    width: 100%;   
}

#faq .wrapper, #faq2 .wrapper, #faq3 .wrapper, #faq4 .wrapper, #faq5 .wrapper, #faq6 .wrapper {
    padding: 50px 0;
}
#faq h2, #faq2 h2, #faq3 h2, #faq4 h2, #faq5 h2, #faq6 h2 {
    text-align: center;
    color: #0a9ec8;
    font-size: 36px;
    line-height: 52px;
    font-weight: bold;
    padding: 16px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}
#faq ul {
    float: left;
    padding-top: 43px;
    width: 50%;
}

#faq2 ul, #faq3 ul, #faq4 ul, #faq5 ul, #faq6 ul {
    float: left;
    padding-top: 10px;
    width: 630px;
    position: relative;
}

#faq ul li {
    background: url(/static/img/base/adv_faq_arrowdown.png) no-repeat scroll 0 7px transparent;
    float: left;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    padding: 0 40px 25px 30px;
    width: 80%;
    list-style-type: none;
    cursor: pointer;
    cursor: hand;
}

#faq2 ul li, #faq3 ul li, #faq4 ul li, #faq5 ul li, #faq6 ul li {
    background: url(/static/img/base/adv_faq_arrowdown.png) no-repeat scroll 0 7px transparent;
    float: left;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    padding: 0 40px 25px 30px;
    width: 100%;
    list-style-type: none;
}

#faq ul li h3, #faq2 ul li h3, #faq3 ul li h3, #faq4 ul li h3, #faq5 ul li h3, #faq6 ul li h3 {
    color: #333;
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    text-align: left;
    text-transform: inherit;
    line-height: 20px;
    padding: 0;
    letter-spacing: 0;
}

#faq ul li p, #faq2 ul li p, #faq3 ul li p, #faq4 ul li p, #faq5 ul li p, #faq6 ul li p {
    display: none;
    line-height: 24px;
    padding: 16px 0 0;
    font-weight: normal;
    font-size: 14px;
    color: #666;
}

#faq ul li.arrow_up, #faq2 ul li.arrow_up, #faq3 ul li.arrow_up, #faq4 ul li.arrow_up, #faq5 ul li.arrow_up, #faq6 ul li.arrow_up {
    background: url(/static/img/base/adv_faq_arrowup.png) no-repeat scroll 0 7px transparent;
}
#faq ul li.arrow_up a, #faq2 ul li.arrow_up a, #faq3 ul li.arrow_up a, #faq4 ul li.arrow_up a, #faq5 ul li.arrow_up a, #faq6 ul li.arrow_up a {
    color: #eb292b;
    font-weight: bold;
}
