@import "style";
@import "equipment";

body.equipment-b {
    #hero-wrapper {
        height: 450;
        #hero-image {
            span {
                background: #fff;
                float: right;
                margin: 20px 0 0;
                width: 480px;
                padding: 20px;
                h1 {
                    color: #222;
                    text-shadow: none;
                    text-align: left;
                }
                h2 {
                    color: #222;
                    font-size: 24px;
                    text-transform: uppercase;
                    text-align: left;
                }
                p {
                    text-align: left;
                    color: #666;
                    font-size: 14px;
                    span {
                        font-size: 18px;
                        margin: 0;
                        width: auto;
                        padding: 0;
                        float: none;
                        span {
                            margin: 0;
                            width: auto;
                            strong {
                                span {
                                    margin: 0;
                                    width: auto;
                                }
                            }
                        }
                    }
                }
            }
            #quote-form {
                button {
                    text-transform: none;
                    font-weight: 400;
                }
                div {
                    clear: both;
                    display: block;
                    color: #666;
                    font-size: 12px;
                    div {
                        margin-top: 15px;
                        span {
                            display: block;
                            color: #0f64c3;
                            font-size: 17px;
                            line-height: 16px;
                            float: left;
                            padding-left: 4px;
                            padding-bottom: 5px;
                        }
                        p {
                            &.left {
                                float: left;
                                font-size: 17px;
                                line-height: 16px;
                                color: #666;
                                margin: 0;
                                width: auto;
                                padding-left: 3px;
                            }
                        }
                    }
                }
            }
            #quote-form {
                padding-top: 0;
                height: 435px;
                position: relative;
                margin-top: 0;
                background: #fff;
                border: none;
                #third-party-container {
                    background: transparent;
                    height: 52px;
                    .third-party-badge {
                        div {
                            margin: 0;
                            a {
                                img {
                                    display: block;
                                }
                            }
                        }
                    }
                }
                .consent-box {
                    border-bottom: 1px solid #ccc;
                    margin: 6px auto 0;
                    padding: 2px 0 0;
                }
                p.form-title {
                    text-transform: uppercase;
                    font-size: 14px;
                    width: 195px;
                    padding: 5px;
                    background: #2e3849;
                    color: #fff;
                    font-weight: 600;
                }
                i {
                    color: #2e3849;
                    font-size: 30px;
                    line-height: 24px;
                    padding: 0;
                    margin: 0 auto;
                    position: absolute;
                    top: 32px;
                    left: 46%;
                }
                div {
                    div {
                        margin-top: 10px;
                        span {
                            float: none;
                            padding: 0 0 5px;
                            margin: 0;
                            width: auto;
                        }
                    }
                    label {
                        font-weight: 400;
                        line-height: 12px;
                        margin-bottom: 8px;
                        color: #999;
                    }
                    input {
                        margin: 0 0 8px 0 !important;
                        padding: 1px 3px;
                        width: 169px;
                        border-radius: 4px;
                        border-bottom: 1px solid #ccc;
                        border-left: 1px solid #ccc;
                        border-right: 1px solid #ccc;
                        border-top: 1px solid #999;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    #interactive-home {
        text-align: center;
        padding: 60px 0;
        h2 {
            font-size: 26px;
            text-transform: uppercase;
            padding-bottom: 20px;
        }
        p {
            font-size: 18px;
            line-height: 24px;
            color: #999;
            font-weight: 200;
            width: 520px;
            margin: 0 auto;
        }
    }
    #just-does-more {
        text-align: center;
        padding: 60px 0;
        background: #eee;
        height: 650px;
        h2 {
            font-size: 26px;
            text-transform: uppercase;
            padding-bottom: 20px;
        }
        p {
            font-size: 18px;
            line-height: 24px;
            color: #999;
            font-weight: 200;
            width: 520px;
            margin: 0 auto;
        }
        div {
            width: 220px;
            display: block;
            float: left;
        }
    }
}
