@import "style";
#hero-image {
    .main-hero-image {
        position: absolute;
        bottom: 0;
        left: -5%;
        z-index: 0;
    }
    #hero-content {
        float: right;
        width: 480px;
        margin-top: 48px;
        color: @grey;
        h2 {
            color: @blue;
        }
        p {
            color: @grey;
            text-align: justify;
        }
        h1 {
            color: @blue;
        }
    }
} 

// Styles for the Helper Pages
body.help {
    #hero-image {
        .main-hero-image {
            position: absolute;
            bottom: 0;
            left: 1%;
            z-index: 0;
        }
        #hero-content {
            h1 {
                text-shadow: 1px 1px 1px rgba(0,0,0,.4);
                font-size: 32px;
            }
            #customer-support-hours {
                margin-top: 16px;
                border-top: 1px solid @light-grey;
                padding-top: 16px;
                h2 {
                    padding-bottom: 16px;
                    color: grey;
                }
                h3 {
                    color: @grey;
                    text-shadow: none;
                    padding-top: 0;
                    font-size: 20px;
                    padding-bottom: 16px;
                }
            }
        }
    }
}

// The Privacy Policy

#privacy-policy {
    .content-box;
    margin-top: 20px;
    #truste-privacy-logo {
        position: absolute;
        right: 15px;
        top: 0;
    }
    #privacy-contact-us {
        #protect-america-mailing-address, #protect-america-phone-number {
            .content-box(50%);
        }
    }
}
// Low Price Guarantee

#low-price-guarantee, #security-of-information-content {
    .content-box;
    padding-top: 32px;
    #low-price-intro {
        .content-box(664px);
        ol {
            margin-left: 32px;
            li {
                font-size: 14px;
                line-height: 18px;
                padding-bottom: 20px;
                list-style-type: circle;
                color: @blue;
                font-weight: bold;

            }

        }
    }
    #screenshot-warning {
        .content-box;
        background: @v-light-grey;
        .border-radius;
        .drop-shadow(0px, 2px, 5px, @grey);
        p {
            font-size: 12px;
            padding: 8px;
        }
    }
    #low-price-terms {
        .content-box;
        ul {
            background: @v-light-grey;
            padding: 16px 32px;
            margin: 16px 0;
            li {
                padding-bottom: 8px;
            }
        }
        ol {
            margin-left: 32px;
            li {
                font-size: 14px;
                line-height: 18px;
                padding-bottom: 20px;
                list-style-type: circle;
                color: @blue;
                font-weight: bold;
            }
        }
    }
}
.security-of-information {
    #security-of-information-content {
        .content-box;
        padding-top: 32px;
        #third-party-cert {
            text-align: center;
            padding-bottom: 16px;
            border-bottom: 1px solid @v-light-grey;
        }
        ol {
            margin-left: 32px;
            text-align: justify;
            li {
                font-size: 14px;
                line-height: 18px;
                padding-bottom: 20px;
                list-style-type: decimal;
                color: @blue;
                font-weight: bold;

            }
            ul {
                margin-left: 32px;
                padding-top: 16px;
                li {
                    list-style-type: disc;
                    color: @dark-grey;
                    width: 700px;
                }
            }
        }
    }
}
body.warranty {
    #lifetime-warranty {
        padding-top: 16px;
        .content-box(664px);
    }
    #quote-form {
        margin-top: 16px;
    }
}
// Return Policy

#return-policy {
    .content-box;
    margin-top: 20px;
    #about-return-policy {
        .content-box(464px);
        padding: 0 16px 0 0;
    }
    #return-policy-content {
        .content-box(448px);
        padding: 20px 16px;
        background: @v-light-grey;
        .border-radius;
        
        address {
            display: block;
            width: 165px;
            text-align: center;
            margin: 10px auto;
            background: @off-white;
            .border-radius;
            padding: 10px 20px;
            .drop-shadow(0px, 2px, 5px, @light-grey);

        }
    }
}

// State Licenses
#state-licenses {
    .content-box;
    margin-top: 20px;
    table#licenses-list {
        font-size: 12px;
        padding: 0 0 8px;
        border-bottom: 1px solid @v-light-grey;
        thead {
            padding-bottom: 8px;
            th {
                padding: 0 8px 0; 
                font-weight: bold;
                font-size: 12px;
            }
        }
        tr {
            &:hover {
                background: @light-green;
            }
            td {
                padding: 0 8px;
                &:hover {
                    background: @light-green+15;
                }
            }
            &.license-requirement {
                td {
                    font-size: 13px;
                }
            }
        }
    }
}
// Do Not Call
body.do-not-call {
    #hero-image {
        #hero-content {

            p {
                color: @grey;
                text-align: justify;
            }
        }
        form {
            .content-box(300px);
            background: @blue;
            padding: 8px 8px 32px;
            margin-top: 42px;
            margin-left: 42px;
            .border-radius(5px,5px,5px,5px);
            .ctrlHolder {
                padding-bottom: 8px;
                margin-bottom: 16px;
                border-bottom: 1px solid #6598b9;
            }
            #ctrl-id_name {
                border-top: 1px solid #6598b9;
                border-bottom: none;
                margin-bottom: 0;
                margin-top: 8px;
                padding-top: 8px;
            }
            h2 {
                color: @white;
                span {
                    display: block;
                }
            }
            label {
                color: @white;
                display: block;
                &.required {
                    font-weight: bold;
                }
                &.checkbox {
                    height: 28px;
                    line-height: 28px;
                    border-top: 1px solid @light-grey;
                    padding-top: 16px;
                }
            }
    
            input {
                color: @black;
                font-size: 18px;
                height: 28px;
                line-height: 28px;
                margin: 0 0 8px;
                width: 294px;
                &.checkbox {
                    width: 36px;
                    float: left;
                    margin-top: 16px;
                }
            }
            select {
                width: 416px;
                margin: 8px 0 16px;
            }
            textarea {
                width: 416px;
                height: 92px;
                
            }
            button {
                display: block;
                padding: 12px 16px;
                .border-radius(5px,5px,5px,5px);
                color: @blue;
                background: @v-light-grey;
                text-decoration: none;
                margin-right: 16px;
                .fade-slow;
                border: none;
                font-size: 16px;
                margin: 0 auto;
                &:hover {
                    color: @white;
                    .fade-fast;
                    background: #00aee4;
                    text-decoration: none;
                }
                i {
                    border-left: 1px solid #6598b9;
                    padding: 4px 0 4px 8px;
                    margin-left: 4px;
                }
            }
        }
        #do-not-call-information {
            .content-box;
        
            #do-not-call-content {
                padding-top: 48px;
                .content-box(660px);
            }
            img {
                padding-top: 32px;
                float: left;
                padding-bottom: 16px;
            }
        
        
        }
    }

}

#unsubscribe-email {
    .content-box;
    margin: 24px 0;
}
// Sitemap
#sitemap {
    .content-box;
    ul {

        li {
            font-size: 24px;
            line-height: 28px;
            margin: 8px;
            padding: 8px;
            background: @off-white;
            border: 1px solid transparent;
            &:hover {
                .drop-shadow(0,2px,5px, @v-light-grey);
            }
            a {
                text-decoration: none;
                display: block;
                &:hover {
                    text-decoration: underline;
                    color: @blue;
                }
            }
            ul {
                margin-left: 24px;
                padding: 4px;
                li {
                    font-size: 16px;
                    line-height: 18px;
                    margin: 0;
                    padding: 4px;
                    background: transparent;
                    a {
                        color: @dark-grey;
                    }
                    &:hover {
                        background: @v-light-grey;
                        border: 1px solid @light-grey;

                    }
                    ul {
                        li {
                            font-size: 14px;
                            line-height: 16px;
                            padding: 4px;
                            &:hover {
                                background: @v-light-blue;
                                border: 1px solid @light-blue;
                            }
                            a {
                                color: @navy-blue;
                            }
                            ul {
                                li {
                                    font-size: 12px;
                                    line-height: 14px;
                                    a {
                                        color: @grey;
                                    }
                                    &:hover {
                                        background: @white;
                                        border: 1px solid @off-white;
                                    }
                                }
                            }
                        }
                        
                    }
                    
                }
            }
        }
        
    }
}
