@import "style";


// Styles for the Helper Pages


// The Privacy Policy

#privacy-policy {
    .content-box;
    margin-top: 20px;
    #truste-privacy-logo {
        position: absolute;
        right: 15px;
        top: 0;
    }
    #privacy-contact-us {
        #protect-america-mailing-address, #protect-america-phone-number {
            .half-box;
        }
    }
}
// Low Price Guarantee

#low-price-guarantee {
    .content-box;
    padding-top: 32px;
    #low-price-intro {
        .content-box(664px);
        ol {
            margin-left: 32px;
            li {
                font-size: 14px;
                line-height: 18px;
                padding-bottom: 20px;
                list-style-type: circle;
                color: @blue;
                font-weight: bold;
            }
        }
    }
    #screenshot-warning {
        .content-box;
        background: @v-light-grey;
        .border-radius;
        .drop-shadow(0px, 2px, 5px, @grey);
        p {
            font-size: 12px;
            padding: 8px;
        }
    }
    #low-price-terms {
        .content-box;
        ul {
            background: @v-light-grey;
            padding: 16px 32px;
            margin: 16px 0;
            li {
                padding-bottom: 8px;
            }
        }
        ol {
            margin-left: 32px;
            li {
                font-size: 14px;
                line-height: 18px;
                padding-bottom: 20px;
                list-style-type: circle;
                color: @blue;
                font-weight: bold;
            }
        }
    }
}

// Return Policy

#return-policy {
    .content-box;
    margin-top: 20px;
    #about-return-policy {
        .content-box(464px);
        padding: 0 16px 0 0;
    }
    #return-policy-content {
        .content-box(448px);
        padding: 20px 16px;
        background: @v-light-grey;
        .border-radius;
        
        address {
            display: block;
            width: 165px;
            text-align: center;
            margin: 10px auto;
            background: @off-white;
            .border-radius;
            padding: 10px 20px;
            .drop-shadow(0px, 2px, 5px, @light-grey);

        }
    }
}

// State Licenses
#state-licenses {
    .content-box;
    margin-top: 20px;
    table#licenses-list {
        font-size: 12px;
        padding: 0 0 8px;
        border-bottom: 1px solid @v-light-grey;
        thead {
            padding-bottom: 8px;
            th {
                padding: 0 8px 0; 
                font-weight: bold;
                font-size: 12px;
            }
        }
        tr {
            &:hover {
                background: @light-green;
            }
            td {
                padding: 0 8px;
                &:hover {
                    background: @light-green+15;
                }
            }
            &.license-requirement {
                td {
                    font-size: 13px;
                }
            }
        }
    }
}

// Sitemap
#sitemap {
    .content-box;
    ul {
        li {
            font-size: 28px;
            display: block;
            width: 209px;
            background: @v-light-grey;
            .border-radius;
            padding: 10px 5px 10px 10px;
            margin: 0 5px 10px;
            .fade-slow;
            .drop-shadow(0, 2px, 5px, @light-grey);
            ul {
                margin-top: 20px;
                display: block;
                li {
                    font-size: 18px;
                    background: @off-white;
                    padding: 5px;
                    margin: 5px 0;
                    width: 195px;
                    .drop-shadow(0px,0px,0px,@white);
                    ul {
                        margin-top: 0;
                        li {
                            background: @light-blue;
                            width: 185px;
                            font-size: 14px;

                        }
                    }
                }
            }
        }
    }
    ul:hover {
        li:hover {
            background: @light-grey;
            .fade-fast;
            ul:hover {
                li:hover {
                    background: @grey;

                    ul:hover {
                        li:hover {
                            background: @blue;
                            color: @white;

                        }
                    }
                }
            }
        }
    }
}
