@import "style.less";
#hero-wrapper {
    background: #000;
    #hero-image {
        #dependable-security {
            padding: 0 54px;
            h1 {
                font-size: 40px;
                padding-top: 42px;
                line-height: 42px;
            }
            p {
                width: 100%;
                font-size: 16px;
                line-height: 24px;
                span {
                    display: block;
                }
            }
            .main-hero-image {
                position: absolute;
                z-index: -1;
                left: -205px;
            }
            .price-area {
                width: 500px;
                float: left;
                margin-top: 32px;

                h3.stylized-price { 

                    color: @light-yellow;
                    font-size: 42px;
                    font-weight: 100;
                    line-height: 48px;
                    border-right: 1px solid @light-grey;
                    margin-right: 26px;
                    padding-top: 8px;
                    float: left;
                    padding-right: 24px;
                    width: 200px;
                    strong {
                        float: left;
                        font-weight: 100;
                        padding-right: 4px;
                    }
                    b {
                        display: block;
                        font-size: 20px;
                        line-height: 20px;
                    }
                    span {
                        font-size: 16px;
                        line-height: 16px;
                        float: left;
                        width: 20px;
                        padding-top: 4px;
                    }
                }
                h4 {
                    float: left;
                    color: @light-yellow;
                    padding-top: 8px;
                    font-size: 21px;
                    font-weight: 100;
                    line-height: 31px;
                    span {
                        display: block;
                    }
                }
            }


            .button-link {
                float: none;
                display: block;
                margin: 0 auto;
                width: 162px;
                margin-top: 80px;
                .drop-shadow(0,2px,5px,#000);
                background: #00aee4;
                color: @white;
                &:hover {
                    background: @white;
                    color: @blue;
                }
                &.stylized {
                    margin-top: 150px;
                }
            }
        }
        &.sleepy {
            #dependable-security {
                h1 {
                    font-size: 33px;
                }
                p {
                    width: 72%;
                    font-size: 13px;
                    span {
                        display: inline;
                    }
                }
            }
        }
    }
}
#packages {
    margin: 16px 0 32px;
    .package {
        width: 175px;
        padding: 8px 4px;
        float: left;
        background: @v-light-grey;
        .border-radius(5px,5px,5px,5px);
        margin-right: 8px;
        border: 1px solid @light-grey;
        .drop-shadow(0,2px,3px, @light-grey);
        text-align: center;
        background: @v-light-grey url(/static/img/products/packages-sprite.png) 16px 36px no-repeat;
        height: 200px;
        .fade-slow;
        cursor: pointer;
        cursor: hand;
        &.bronze {
            background: @v-light-grey url(/static/img/products/packages-sprite.png) -136px 36px no-repeat;
        }
        &.silver {
            background: @v-light-grey url(/static/img/products/packages-sprite.png) -288px 36px no-repeat;
        }
        &.gold {
            background: @v-light-grey url(/static/img/products/packages-sprite.png) -445px 36px no-repeat;
        }
        &.platinum {
            background: @v-light-grey url(/static/img/products/packages-sprite.png) -601px 36px no-repeat;
        }
        &:hover {
            .fade-fast;
            background-color: @v-light-blue;
        }
        h2 {
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            padding-bottom: 90px;
            padding-top: 4px;
        }
        p {
            color: @blue;
            font-size: 24px;
            line-height: 42px;
            margin: 0 auto;
            width: 150px;
            height: 42px;
            b {
                float: left;
                font-weight: normal;
            }
            span {
                float: left;
                width: 42px;
                font-size: 12px;
                line-height: 14px;
                text-align: left;
                padding-left: 8px;
                padding-top: 6px;
            }
        }
        &.omega {
            margin-right: 0;
        }
        .button-link {
            clear: both;
            float: none;
            width: 100px;
            margin: 0 auto;
        }
        
    }
}
#categories {
    .category {
        float: left;
        width: 448px;
        margin: 32px 32px 32px 0;
        .category-img {
            float: left;
            padding-right: 16px;
            width: 128px;
            height: 128px;
            display: block;
            margin: 42px auto 16px;
            background: url(/static/img/base/main-icons-sprite.png) 0 0 no-repeat;  
            &.life-safety {
                background: url(/static/img/base/main-icons-sprite.png) 0 -128px no-repeat;
            }        
            &.home-automation {
                background: url(/static/img/base/main-icons-sprite.png) 0 -256px no-repeat;
            }          
            &.smart-connect {
                background: url(/static/img/base/main-icons-sprite.png) 0 -385px no-repeat;
            }
        }
        .category-info {
            float: left;
            width: 300px;
            h2 {
                color: @grey;
                font-weight: bold;
                font-size: 24px;
                line-height: 28px;
                padding-bottom: 8px;
                span {
                    display: block;
                }
            }
            p {
                text-align: justify;
                line-height: 24px;
                margin-bottom: 8px;
            }
        }
    }
}