@import "style.less";

#categories {
    .category {
        float: left;
        width: 448px;
        margin: 16px 32px 32px 0;
        .category-img {
            float: left;
            padding-right: 16px;
            width: 132px;
        }
        .category-info {
            float: left;
            width: 300px;
            h2 {
                color: @grey;
                font-weight: bold;
                font-size: 24px;
                line-height: 28px;
                padding-bottom: 8px;
                span {
                    display: block;
                }
            }
            p {
                text-align: justify;
                line-height: 24px;
                margin-bottom: 8px;
            }
        }
    }
}