@import "style";
#hero-image {
    .main-hero-image {
        position: absolute;
        bottom: 0;
        left: -5%;
        z-index: 0;
    }
    #hero-content {
        float: right;
        width: 480px;
        margin-top: 48px;
        color: @grey;
        h2 {
            color: @blue;
        }
        p {
            color: @grey;
            text-align: justify;
        }
        h1 {
            color: @blue;
        }
    }
}

#app-for-that {
    .content-box;
    padding-top: 46px;
    .phones {
        float: left;
    }
    .order-link {
        position: absolute;
        right: 24px;
        bottom: 50px;
        width: 450px;
    }
    ul {
        float: left;
        background: @v-light-grey;
        width: 480px;
        padding: 16px;
        margin-left: 48px;
        margin-top: 72px;
        position: relative;
        .features-arrow {
            position: absolute;
            left: -40px;
            top: 50%;
            margin-top: -32px;
        }
        li {
            padding-bottom: 8px;
            &.omega {
                padding-bottom: 0;
            }
            img {
                float: left;
                padding-right: 8px;
                padding-top: 16px;
            }
            h3 {
                text-transform: uppercase;
                font-weight: bold;
                font-size: 16px;
                color: #555;
            }
            p {
                font-size: 12px;
                span {
                    color: @red;
                }
            }
        }
    }
}
 
.crime-hero {
    form {
        input {
            height: 32px;
            line-height: 32px;
            font-size: 16px;
            color: @black;
            display: block;
            float: none;
            margin-top: 32px;
            width: 300px;
        }
        button {
            display: block;
            float: left;
            .border-radius(5px,5px,5px,5px);
            color: @white;
            background: @blue;
            text-decoration: none;
            margin-right: 16px;
            .fade-slow;            
            font-size: 16px;
            padding: 12px 24px;
            margin-top: 32px;
            border: none;
            cursor: pointer;
            cursor: hand;
            &:hover {
                .fade-fast;
                background: #00aee4;
                text-decoration: none;
            }
            i {
                border-left: 1px solid #6598b9;
                padding: 4px 0 4px 8px;
                margin-left: 4px;
            }
            &.alt {
                background: @blue;
                color: @white;
                &:hover {
                    background: #00aee4;
                }
            }
        }
    }
}
body.monitoring {
    #hero-image {
        #cellular-monitoring-option, #broadband-monitoring-option, #landline-monitoring-option {
            width: 320px;
            float: left;
            height: 496px;
            text-align: center;
            .fade-slow;
            img {
                margin-top: 16px;
            }
            h2 {
                color: @grey;
                font-weight: bold;
                font-size: 20px;
                line-height: 28px;
                padding-bottom: 16px;
                span {
                    display: block;
                }
            }
            p {
                width: 250px;
                margin: 0 auto;
                color: @grey;
                text-align: justify;
            }
            &:hover {
                background: @white;
                .fade-fast;
            }
            .button-link {
                background: @blue;
                color: @white;
                width: 120px;
                float: none;
                margin: 16px auto 0;
                &:hover {
                    color: @white;
                    .fade-fast;
                    background: #00aee4;
                    text-decoration: none;
                }
            }
        }
    }
    #alarm-monitoring-intro {
        .content-box;
        margin-top: 20px;
        #alarm-monitoring-solutions {
            .content-box(44%);
            margin: 20px 262px 70px;
            h2 {
                text-align: center;
            }
        }
        #monitoring-company-image {
            position: absolute;
            left: -50px;
            z-index: -1;
        }
        #protected-home-image {
            position: absolute;
            right: -6px;
            z-index: -1;
        }
    }
    #alarm-monitoring-confidence {
        #trusted-home-monitoring, #redundent-security-backup, #on-the-level-pricing {
            .content-box(33%);
            text-align: center;
            p {
                padding: 0 16px;
            }
            
        }
        #redundent-security-backup {
            p {
            }
        }
    }
}
body.landline, body.broadband, body.cellular {
    #landline-overview, #broadband-overview, #cellular-overview {
        .content-box(664px);
        padding-top: 16px;
        #landline-image, #broadband-image, #cellular-image {
            float: left;
            width: 200px;
            padding-top: 32px;
        }
        #landline-content, #broadband-content, #cellular-content {
            .content-box(420px);
            padding-left: 40px;
        }

    }
    #cut-wire-image {
        .content-box(50%);
    }
    #no-phone-line {
        .content-box(50%);
    }
    #cellular-connected {
        .content-box(50%);        
    img {
            padding-right: 0;
        }
    }
    #landline-telephone, #broadband-connection, #cellular-connection {
        padding-top: 16px;
        #landline-benefits, #broadband-benefits, #cellular-benefits {
            .content-box(480px);
            margin: 32px 0;
            ul {
                margin-left: 16px;
                padding-top: 16px;
                li {
                    margin-left: 16px;
                    list-style-type: disc;
                    font-size: 16px;
                    line-height: 18px;
                    color: @dark-grey;
                    padding-bottom: 8px;
                }
            }
        }
        img {
            float: left;
            padding-left: 100px;
            padding-top: 32px;
        }
        
    }
    #cellular-connection {
        img {
            padding-right: 100px;
            padding-left: 0;
        }
    }
    #two-way-voice, #no-phone-required, #interactive-call-out, #interactive-laptop {
        #upgrade-voice, #no-phone-content, #app-for-that, #online-control {
            .content-box(540px);
        }
        #no-phone-content {
            padding-top: 32px;
        }
        img {
            float: left;
            margin-right: 32px;
            &.app-button {
                padding-left: 0;
                margin-right: 16px;
            }
        }
        .no-phone-img {
            margin-left: 32px;
        }
    }
    #cellular-connected {
        padding-top: 148px;
        padding-bottom: 32px;
    }
    .flood-left {
        position: absolute;
        right: 0;
        top: 0;
    }
    .upgrade-wrapper {
        background: @v-light-grey;
        width: 100%;
        #two-way-voice {
            margin: 0 auto;
            width: 960px;
            padding: 32px 0;
        }
    }
    #interactive-laptop {
        border-top: 1px solid @v-light-grey;
        padding-top: 16px;
        #online-control {
            padding-top: 16px;
        }
        img {
            margin-left: 32px;
        }
    }
    #interactive-call-out {
        img {
            margin-right: 64px;
            padding-left: 32px;
        }
    }
    #nationwide-coverage, #helpful-tech-support, #save-money {
        .content-box(33%);
        text-align: center;
        margin-top: 32px;
        h3 {
          margin-bottom: 10px;
          padding: 0 16px;
        }
        p {
            padding: 0 16px;
            font-size: 14px;
            line-height: 22px;
        }
    }
}
body.testimonials, body.video-testimonials {
    padding-top: 0;
    margin: 0;
    h1 {
        text-align: center;
        color: @grey;
        font-size: 42px;
        line-height: 52px;
        font-weight: bold;
        padding: 16px 0;
        margin: 32px 0;
        span {
            display: block;
            font-size: 28px;
            line-height: 36px;
        }
    }
    .testimonial-column {
        .content-box(33%);
        h3 {
            padding: 0;
        }
        .testimonial {
            margin-bottom: 16px;
        }
    }
}
body.single-testimonial {
    #hero-image {
        #hero-content {
            width: 100%;
            p {
                width: 960px;
            }
        }
    }
}
body.how-it-works {
    #hero-image {
        .main-hero-image {
            left: -24%;
        }
    }
    #how-it-works {
        
        .content-box(960px);
        margin: 32px 0;
    }
    #customer-qualifications {
        .content-box;
        ul {
            margin-left: 16px;
            li {
                margin-left: 16px;
                list-style-type: disc;
                padding-bottom: 16px;
                font-size: 16px;
                color: @dark-grey;
                line-height: 18px;
            }
        }
    }
}
body.family {
    #family-of-companies-container {
        .content-box;
        h2 {
            padding: 16px 0;
            margin: 16px 0;
            border-top: 1px solid @v-light-grey; 
            border-bottom: 1px solid @v-light-grey; 

        }
        .family-company {
            .content-box(456px);
            margin: 0 24px 16px 0;
            img {
                float: left;
                width: 143px;
            }
            .company-about {
                width: 257px;
                float: left;
                padding-left: 7px;
                margin-left: 8px;
                border-left: 1px solid @v-light-grey;
            }
            
        }
        #education-training, #business-services, #investment-companies, #sports-entertainment, #financial-services, #biotechnology, #consumer-services {
            clear: both;
        }
    }
}
body.charities {
    #protect-america-cares {
        .content-box(664px);
        margin-top: 32px;
        #protect-america-cares-logo {
            float: left;
            padding-right: 8px;
        }
        
        #protect-america-cares-content {
            
        }
    }
    
    #ronald-mcdonald-house {
        
        #ronald-mcdonald-house-content {
            .content-box(50%);
            #ronald-mcdonald-house-more-info {
                background: @v-light-grey;
                .border-radius(5px,5px,5px,5px);
                width: 65%;
                padding: 8px;
                span {
                    display: block;
                    font-weight: bold;
                    color: @blue;
                }
            }
        }
        
        #ronald-mcdonald-house-logo {
            .content-box(50%);
            img {
                display: block;
                margin: 0 auto;
            }
        }
    }   
    
    #austin-zoo, #pay-it-forward {
            
        #austin-zoo-content, #pay-it-forward-content {
            .content-box(50%);
            #austin-zoo-more-info {
                background: @v-light-grey;
                .border-radius(5px,5px,5px,5px);
                width: 65%;
                padding: 8px;
                span {
                    display: block;
                    font-weight: bold;
                    color: @blue;
                }
            }
        }
        
        #austin-zoo-logo, #pay-it-forward-ad {
            .content-box(50%);
            img {
                display: block;
                margin: 0 auto;
            }
        }
    }
    #pay-it-forward {
        margin-top: 32px;
    }
    
    
    #animal-charities {
        
        #austin-pets-alive {
            .content-box(450px);
            padding: 0 16px 0 0;
            #austin-pets-alive-more-info {
                background: @v-light-grey;
                .border-radius(5px,5px,5px,5px);
                width: 65%;
                padding: 8px;
                span {
                    display: block;
                    font-weight: bold;
                    color: @blue;
                }
            }
            img {
                display: block;
                margin: 0 auto;
            }
        }
        #barkin-doggie-biscuits {
            .content-box(450px);
            padding: 0 0 0 16px;

            #barkin-doggie-biscuits-more-info {
                background: @v-light-grey;
                .border-radius(5px,5px,5px,5px);
                width: 65%;
                padding: 8px;
                span {
                    display: block;
                    font-weight: bold;
                    color: @blue;
                }
            }
            img {
                display: block;
                margin: 0 auto;
            }
        }
        
    }   
    
    #support-our-troops {
        
        #support-our-troops-content {
            .content-box(50%);
            #support-our-troops-more-info {
                background: @v-light-grey;
                .border-radius(5px,5px,5px,5px);
                width: 65%;
                padding: 8px;
                span {
                    display: block;
                    font-weight: bold;
                    color: @blue;
                }
            }
        }
        
        #troops-image {
            .content-box(50%);
            text-align: center;
            img {
                display: block;
                margin: 0 auto;
            }
        }
    }
    
    #cystic-fibrosis-foundation {
        
        #cystic-fibrosis-foundation-content {
            .content-box(50%);
            #cystic-fibrosis-foundation-more-info {
                background: @v-light-grey;
                .border-radius(5px,5px,5px,5px);
                width: 65%;
                padding: 8px;
                span {
                    display: block;
                    font-weight: bold;
                    color: @blue;
                }
            }
        }
        
        #cystic-fibrosis-foundation-logo {
            .content-box(50%);
            img {
                display: block;
                margin: 0 auto;
            }
        }
    }
    
    #children-charities {
    
        #feed-the-children {
            .content-box(450px);
            padding: 0 16px 0 0;
            #feed-the-children-more-info {
                background: @v-light-grey;
                .border-radius(5px,5px,5px,5px);
                width: 65%;
                padding: 8px;
                span {
                    display: block;
                    font-weight: bold;
                    color: @blue;
                }
            }
            img {
                display: block;
                margin: 0 auto;
            }
        }
        #any-baby-can {
            .content-box(450px);
            padding: 0 0 0 16px;
            #any-baby-can-more-info {
                background: @v-light-grey;
                .border-radius(5px,5px,5px,5px);
                width: 65%;
                padding: 8px;
                span {
                    display: block;
                    font-weight: bold;
                    color: @blue;
                }
            }
            img {
                display: block;
                margin: 0 auto;
            }
        }
        
    }
}
#state-chooser {
    #state-list {
        .content-box;
        margin: 32px 0;
        ul {
            li {
                float: left;
                line-height: 24px;
                background: @blue;
                color: @white;
                margin-right: 8px;
                .border-radius(5px,5px,5px,5px);
                margin-bottom: 8px;
                .fade-slow;
                a {
                    color: @white;
                    text-decoration: none;
                    padding: 8px 16px;
                    display: block;
                }
                &:hover {
                    background: @v-light-grey;
                    color: @blue;
                    a {
                        color: @blue;
                    }
                }
            }
        }
    }
}
#city-bar-wrapper {
    background: @v-light-blue;
    height: 96px;
    width: 100%;
    #city-bar.select {
        width: 960px;
        margin: 0 auto;
        h1 {
            color: @black;
            font-size: 20px;
            line-height: 22px;
            margin: 12px 0 8px 16px;
            letter-spacing: 0;
            float: left;
        }
        form {
            margin-top: 11px;        
            height: 36px;
            input {
                height: 24px;
                margin: 8px 16px 0px 16px;
                float: left;
                width: 600px;
            }
            button {
                float: left;
                margin-top: 0;
                border: none;
                margin-top: 7px;
                font-size: 13px;
            }
        }
    
        ul#letters {
            width: 936px;
            margin: 16px auto;
            padding-bottom: 16px;
            li {
                float: left;
                a {
                    display: block;
                    width: 30px;
                    margin: 0 2px;
                    font-weight: bold;
                    text-align: center;
                    background: @light-blue;
                    color: @v-light-blue;
                    .border-radius;
                    cursor: default;
                    text-decoration: none;
                    border: 1px solid transparent;
    
                }
                &.has-cities {
                    a {
        
                        background: @blue;
                        color: @white;
                        background-image: -moz-linear-gradient(top,@blue,#005f9a);
                        background-image: -webkit-gradient(linear,left top,left bottom,from(@blue),to(#005f9a));
                        cursor: pointer;
                        cursor: hand;
                        text-decoration: none;
                        color: @white;
                        .fade-fast;
                        &:hover {
                            background-image: -moz-linear-gradient(center top , @blue, #00568b);
                            background-image: -webkit-gradient(linear,left top,left bottom,from(@blue),to(#00568b));
                            border: 1px solid #094182;
                            border-bottom: 1px solid @dark-blue;
                            -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.3);
                            -moz-box-shadow: 0 1px 1px rgba(0,0,0,.3);
                            box-shadow: 0 1px 1px rgba(0,0,0,.3);
                        }
                    }
                    &.active {
                        a {
                            background: @light-green;
                            color: @green;
                            border: 1px solid @green;
                            -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.3);
                            -moz-box-shadow: 0 1px 1px rgba(0,0,0,.3);
                            box-shadow: 0 1px 1px rgba(0,0,0,.3);
                            cursor: default;
                            .fade-slow;
                            &:hover {
                                background: @light-green;
                                color: @green;
                                border: 1px solid @green;
                            }
                        }
                    }
                }
            }
        }
    }
}
#city-content {
    .content-box;
    h2 {
        margin-top: 16px;
    }
    ul {
        li {
            float: left;
            line-height: 24px;
            background: @blue;
            color: @white;
            margin-right: 8px;
            .border-radius(5px,5px,5px,5px);
            margin-bottom: 8px;
            .fade-slow;
            a {
                color: @white;
                text-decoration: none;
                padding: 8px 16px;
                display: block;
            }
            &:hover {
                background: @v-light-grey;
                color: @blue;
                a {
                    color: @blue;
                }
            }
        }
    }
}
body.news-home {
    #hero-image {
        #headline-image {
            position: absolute;
            z-index: 0;
            width: 420px;
            height: 100%;
            overflow: hidden;
            img {
                height: 100%;
            }
            .decorator {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 500;
            }
            
        }
        #hero-content {
            width: 500px;
            float: right;
            h1 {
                a {
                    color: @grey;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                        color: @link-blue;
                    }
                }
            }
            ul {
                font-size: 8px;
                text-transform: uppercase;
                font-weight: bold;
                margin-top: 8px;
                li {
                    display: inline;
                    margin-left: 4px;
                    a {
                        background: @v-light-grey;
                        color: @grey;
                        padding: 2px 4px;
                        text-transform: uppercase;
                        font-size: 8px;
                        text-decoration: none;
                        .fade-slow;
                        &:hover {
                            background: @link-blue;
                            .fade-fast;
                            color: @white;
                        }
                    }
                }
            }
        }
    }
    #article-container {
        border-top: 1px solid @v-light-grey;
        padding-top: 8px;
        h3 {
            color: @black;
            &:hover {
                text-decoration: underline;
                color: @link-blue;
            }
        }
        h2 {
            color: @black;
            font-size: 28px;
            font-weight: 300;
            line-height: 28px;
            margin-bottom: 10px;
            letter-spacing: -1px;
            a {
                color: @black;
                text-decoration: none;
            }
            a:hover {
                color: @link-blue;
                text-decoration: underline;
            }
        }
        .news-article {
            .content-box(25%);
            .news-date {
                padding: 20px;
                background: @black;
                background-image: -moz-linear-gradient(top,@black,#222);
                background-image: -webkit-gradient(linear,left top,left bottom,from(@black),to(#222));
                width: 183px;
                height: 158px;
                border: 1px solid #000;
                margin: 0 auto 8px;
                p {
                    color: @v-light-grey;
                    font-size: 24px;
                    font-weight: bold;
                    line-height: 0;
                    text-align: center;
                    text-transform: uppercase;
                    font-weight: 300;
                    padding: 0;
                }
                span {
                    display: block;
                    font-size: 150px;
                    line-height: 150px;
                    padding-bottom: 8px;
                    font-weight: bold;
                }   
            }
            .image-container {
                height: 200px;
                overflow: hidden;
                width: 225px;
                margin: 0 auto 8px;
                position: relative;
                img {
                    position: relative;
                    left: -25%;
                    top: -25%;
                }
            }
            h3 {
                color: @black;
                padding: 8px 8px 4px;
                &:hover {
                    text-decoration: underline;
                    color: @link-blue;
                }
            }
            a  {
                text-decoration: none;
            }
            p {
              padding: 4px 8px 0;
              margin-bottom: 0;
              line-height: 20px;
              font-size: 12px;
            }
            .button-link {
                width: 96px;
                float: none;
                margin: 16px auto;
            }
            ul {
                font-size: 8px;
                text-transform: uppercase;
                font-weight: bold;
                margin: 4px 16px 0;
                border-top: 1px solid @v-light-grey;
                padding-top: 4px;
                li {
                    display: inline;
                    margin-left: 4px;
                    a {
                        background: @v-light-grey;
                        color: @grey;
                        padding: 2px 4px;
                        text-transform: uppercase;
                        font-size: 8px;
                        text-decoration: none;
                        .fade-slow;
                        &:hover {
                            background: @link-blue;
                            .fade-fast;
                            color: @white;
                        }
                    }
                }
            }
        
        }
    }
    .extra-content-wrapper {
        background: @v-light-grey;
        width: 100%;
    }
    #extra-content {
        border-top: 1px solid @v-light-grey;
        padding-top: 16px;
        width: 960px;
        margin: 0 auto;
        padding-bottom: 32px;
        .button-link {
            width: 175px;
            float: none;
            margin: 32px auto 0;
        }
        #news-videos {
            .content-box(300px);
            div.button-link {
                margin-top: 16px;
                text-align: center;
            }
            a {
                text-decoration: none;
            }
            .button-link {
                width: 144px;
            }
            .video {
                
                margin-bottom: 8px;
                &:hover {
                    background: @v-light-blue;
                }
                h3 {
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 16px;
                    padding: 0;
                    color: @black;
                }
                span {
                    display: block;
                    font-size: 10px;
                }
                p {
                    font-size: 11px;
                    line-height: 18px;
                    padding-bottom: 0;
                    margin-bottom: 0;
                }
                img {
                    float: left;
                    padding-right: 8px;
                }
                &.big {
                    padding-bottom: 8px;
                    margin-bottom: 8px;
                    &:hover {
                        background: none;
                    }
                    a:hover {
                        text-decoration: underline;
                    }
                }
            }
    
        }
        #news-topics {
            .content-box(240px);
            ul {
                li {
                    font-size: 16px;
                    padding: 8px;
                    background: @off-white;
                    &:hover {
                        background: @v-light-blue;
                    }
                    a {
                        font-size: 14px;
                        font-weight: bold;
                        line-height: 16px;
                        margin-bottom: 5px;
                        padding: 0;
                        color: @link-blue;
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                            color: @blue;
                        } 
                    }
                    &.odd {
                        background: @v-light-grey;
                        &:hover {
                            background: @v-light-blue;
                        }
                    }
                }
            }

        }
        #news-archives {
            .content-box(350px);
            border: 1px solid @v-light-grey;
            border-top: none;
            border-bottom: none; 
            margin: 0 16px;
            padding: 0 16px;
            a {
                text-decoration: none;
            }
            .button-link {
                width: 180px;
            }
            .archived-article {
                &:hover {
                    background: @v-light-blue;
                }
                .news-content {
                    margin: 20px 32px 0 75px;
                    h3 {
                        font-size: 14px;
                        font-weight: bold;
                        line-height: 16px;
                        margin-bottom: 5px;
                        padding: 0;
                        color: @black;
                    }
                    p {
                        font-size: 11px;
                        line-height: 18px;
                    }
                    a {
                        text-decoration: none;
                    }
                    span {
                        color: @link-blue;
                        &:hover {
                            text-decoration: underline;
                            color: @blue;
                        }
                    }
                
                }
                p.date{
                    width: 60px;
                    float: left;
                    text-align: center;
                    padding: 0;
                    margin: 0 8px 0 0;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 39px;
                    letter-spacing: 0;
                    background: @v-light-grey;
                    .drop-shadow(0px, 2px, 5px, #ccc);
    
                    span {
                        background: @blue;
                        color: @white;
                        display: block;
                        font-weight: bold;
                        letter-spacing: 1px;
                        text-align: center;
                        text-transform: uppercase;
                        font-size: 13px;
                        line-height: 17px;
                    }
                }
            }
        }
    }

}