@import "style";

body.monitoring {
    #hero-image {
        #cellular-monitoring-option, #broadband-monitoring-option, #landline-monitoring-option {
            width: 320px;
            float: left;
            height: 496px;
            text-align: center;
            .fade-slow;
            img {
                margin-top: 16px;
            }
            h2 {
                color: @grey;
                font-weight: bold;
                font-size: 20px;
                line-height: 28px;
                padding-bottom: 16px;
                span {
                    display: block;
                }
            }
            p {
                width: 250px;
                margin: 0 auto;
                color: @grey;
                text-align: justify;
            }
            &:hover {
                background: @white;
                .fade-fast;
            }
            .button-link {
                background: @blue;
                color: @white;
                width: 120px;
                float: none;
                margin: 16px auto 0;
                &:hover {
                    color: @white;
                    .fade-fast;
                    background: #00aee4;
                    text-decoration: none;
                }
            }
        }
    }
    #alarm-monitoring-intro {
        .content-box;
        margin-top: 20px;
        #alarm-monitoring-solutions {
            .content-box(44%);
            margin: 20px 262px 70px;
            h2 {
                text-align: center;
            }
        }
        #monitoring-company-image {
            position: absolute;
            left: -50px;
            z-index: -1;
        }
        #protected-home-image {
            position: absolute;
            right: -6px;
            z-index: -1;
        }
    }
}