@import "2014-refresh/style-new.less";

#community-section {
    .community-slide {
        height: 400px;
        h4 {
            .slab-font;
            font-size: 60px;
            text-transform: uppercase;
            padding-top: 32px;
            line-height: 70px;
            padding-left: 16px;
            color: @navy;
            width: 85%;
        }
        &.farmers {
            li {
                span {
                    font-size: 10px;
                    display: block;
                    padding-bottom: 8px;
                }
            }
        }
    }
}