@import "style";

body {
    background-image: url(../img/local-pages/city-partly-cloudy-night-left.jpg), url(../img/local-pages/city-partly-cloudy-night-right.jpg);
    background-position: left bottom, right bottom;
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed, fixed;
    font: 0.8em/1.7em "Helvetica Neue", Arial, sans-serif;
    color: @black;
}
.wrapper {
    background: rgba(255,255,255,.85);
    margin:0 auto;
    position:relative;
    width:960px;
    padding: 0 8px;
    padding-bottom: 10px;
    z-index: 0;
    clear: both;
}