@import "home";

body {
    background-image: url(../img/local-pages/city-partly-cloudy-dusk-left.jpg), url(../img/local-pages/city-partly-cloudy-dusk-right.jpg);
    background-position: left bottom, right bottom;
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed, fixed;
    font: 0.8em/1.7em "Helvetica Neue", Arial, sans-serif;
    color: @black;
}
.wrapper {
    background: rgba(255,255,255,.85);
    margin:0 auto;
    position:relative;
    width:960px;
    padding: 0 8px;
    padding-bottom: 10px;
    z-index: 0;
    clear: both;
}
#crime-statistics {
    .content-box;
    #crime-grade-scorecard {
        background: @off-white 0px 100px no-repeat;
        border: 1px solid @v-light-grey;
        padding: 8px 16px 0;
        #overall-grade {
            float: left;
            margin-right: 16px;
        }
        #scorecard-content {
            .content-box(560px);
            margin-top: 16px;
        }
        #crime-grades{
            background: rgba(255,255,255,.5);
            _background: @white;
            height: 96px;
            overflow: hidden;
            #burglary-grade, #murder-grade, #rape-grade, #robbery-grade, #assault-grade, #auto-theft-grade, #larceny-grade {
                float: left;
                width: 64px;
                padding: 4px 8px 0;
                .fade-fast;
                p {
                    text-align: center;
                    font-size: 10px;
                    font-weight: 800;
                    line-height: 11px;
                    position: relative;
                    bottom: 8px;
                }
                &:hover {
                    background: @light-blue;
                    .fade-slow;
                }
            }
        }
        .button-link {
            margin-right: 16px;
        }
    }
}