@import "style.less";

#top-phone-number {
    text-align: center;
    background: @grey;
    color: @white;
    font-weight: bold;
    font-size: 22px;
    line-height: 36px;
    min-width: 320px;
    text-transform: uppercase;
    a {
        color: @white;
        text-decoration: none;
    }
}
#header {
    background: @red url(/static/img/mobile/nav-bg.png) repeat-x;
    height: 55px;
    #company-logo {
        padding: 8px 0 0 4px;
        float: left;
        width: 163px;
    }
    #main-navigation {
        float: right;
        margin-right: 4px;
        li {
            float: left;
            width: 48px;
            height: 48px;
            border-left: 1px solid #811208;
            cursor: pointer;
            cursor: hand;
            img {
                padding: 4px 10px;
            }
            &:hover {
                background: @dark-red;
            }
            &.active {
                background: @dark-grey;
            }
        }
    }
}
#navigation-wrapper {
    border: none;
    height: 32px;
}
#search-area {
    margin: 0 8px 8px;
    width: auto;
    float: none;
    border: 1px solid @light-grey;
    position: relative;
    .border-radius(10px,10px,10px,10px);
    input {
        display: block;
        width: 90%;
    }
    button {
        position: absolute;
        right: 16px;
        top: 0px;
        right: -2px;
        height: 24px;
        .border-radius(10px,10px,10px,10px);
        background: @blue;
        color: @white;
        border: none;
        text-transform: uppercase;
        padding: 0 16px;
        font-weight: bold;
        cursor: pointer;
        cursor: hand;
        &:hover {
            .background-gradient;
        }
    }
}
.wrapper {
    width: 100%;
}
.hero-image {
    background: @blue url(/static/img/mobile/blue-bg.png) repeat-x;
    text-align: center;
    height: 350px;
    overflow: hidden;
}
#sub-navigate {
    display: none;
}
.subnav {
    li {
        background: @white url(/static/img/mobile/arrow-bg.png) right no-repeat;
        border-bottom: 1px solid @light-grey;
        padding: 8px;
        line-height: 48px;
        color: @blue;
        font-size: 24px;
        line-height: 24px;
        font-weight: 300;
        a {
            display: block;
            text-decoration: none;
            color: @blue;
            &:hover {
                color: @link-blue;
            }
        }
        img {
            vertical-align: middle;
            padding-right: 8px;
        }
        &:hover {
            background: @v-light-blue url(/static/img/mobile/arrow-bg.png) right no-repeat;
        }
        &.active {
            background: @light-blue;
        }
    }
}
#phone-number {
    text-align: center;
    padding-top: 16px;
    h3 {
        color: @dark-grey;
        font-weight: bold;
        font-size: 24px;
    }
    p {
        color: @red;
        font-size: 40px;
        line-height: 46px;
        font-weight: bold;
        a {
            color: @red;
            text-decoration: none;
        }
    }
}
#terms {
    p {
        font-size: 14px;
        padding: 16px 8px;
        text-align: justify;
    }
}

#mobile-monitoring, #mobile-packages, #mobile-adds {
    h2 {
        color: #555;
        font-size: 24px;
        text-transform: uppercase;
        padding: 16px 0;
        text-align: center;
    }
    ul {
        li {
            background: @v-light-grey;
            color: @blue;
            border-bottom: 1px solid @grey;
            padding: 8px 0;
            display: block;
            height: 124px;
            img {
                float: left;
                padding-right: 8px;
                padding-top: 16px;
                padding-bottom: 16px;
            }
            h3 {
                font-weight: bold;
                font-size: 20px;
                position: relative;
                line-height: 20px;
                color: #555;
                strong {
                    color: @blue;
                    display: block;
                    padding-bottom: 8px;
                    span {
                        font-size: 12px;
                        line-height: 14px;
                        padding-top: 4px;
                    }
                }
            }
            &.alpha {
                border-top: 1px solid @grey;
            }
            ul {
                list-style-type: disc;

                li {
                    background: transparent;
                    color: @black;
                    font-size: 11px;
                    line-height: 14px;
                    border-bottom: none;
                    padding: 0;
                    height: auto;
                    list-style-type: disc;

                }
            }
            .button-link {
                margin-top: 8px;
            }
        }
    }
    .equipment-included {
        background: @blue;
        text-align: center;
    }
    .button-submit {
        margin: 16px auto;
        text-align: center;
        a {
            font-size: 16px;
            padding: 8px 64px;
        }
    }
    .selected {
        color: @red;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
    }
}
#mobile-interactive {
    h2 {
        color: #555;
        font-size: 24px;
        text-transform: uppercase;
        padding: 16px 0;
        text-align: center;
    }
    #interactive-content {
        h3 {
            color: @blue;
            font-size: 16px;
            text-transform: uppercase;
            text-align: center;
            font-weight: bold;
            padding-bottom: 4px;
        }
        p {
            padding: 0 16px;
            font-size: 14px;
            margin: 0 auto;
            text-align: justify;
            padding-bottom: 16px;
        }
    }
    #interactive-included {
        text-align: center;
        background: url(/static/img/mobile/interactive-bg.png) repeat-x;
    }

    .button-submit {
        margin: 16px auto;
        text-align: center;
        a {
            font-size: 16px;
            padding: 8px 64px;
        }
    }
    ul {
        li {
            background: @v-light-grey;
            color: @blue;
            border-bottom: 1px solid @grey;
            padding: 8px 0;
            display: block;
            height: 80px;
            img {
                float: left;

            }
            h3 {
                font-weight: bold;
                font-size: 16px;
                position: relative;
                line-height: 20px;
                color: #555;
                strong {
                    color: @blue;
                    display: block;
                    padding-bottom: 8px;
                    span {
                        font-size: 12px;
                        line-height: 14px;
                        padding-top: 4px;
                    }
                }
            }
            &.alpha {
                border-top: 1px solid @grey;
            }
            p {
                background: transparent;
                color: @black;
                font-size: 11px;
                line-height: 14px;
                border-bottom: none;
                padding: 0;
                height: auto;
                padding-top: 8px;
                strong {
                    color: @red;
                }

            }
            .button-link {
                margin-top: 8px;
            }
        }
    }
}
#quote-wrapper {
    background: @blue url(/static/img/mobile/blue-bg.png) repeat-x;
    width: 100%;
    #quote-form {
        background: transparent;
        margin: 8px auto 24px;
        width: 100%;
        label {
            display: block;
        }
        input {
            width: 92%;
            display: block;
            padding-right: 0;
        }
        #third-party-container {
            display: none;
        }
        button {
            margin: 0 auto;
        }
    }
}