@import "style";


// Styles for the Monitoring Pages and Sections

/********** Interactive *************/

#check-in-anywhere {
    overflow: visible;
    margin-top: 16px;
    h2 {
        font-weight: 300;
        text-align: center;
        font-size: 24px;
        line-height: 36px;
        color: @dark-grey;
        strong {
            display: block;
            font-size: 32px;
        }
        
    }


}
#app-screens {
    position: absolute;
    top: 77px;
    right: 220px;
    z-index: 900;
    -webkit-transform: rotate(7.75deg);
}
#postcards {
    background: url(/static/img/products/monitoring/interactive/map-background.jpg) center center no-repeat;
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 430px;
    z-index: -999;
    #interactive-demo {
        width: 960px;
        z-index: 0;
        margin: 0 auto;
        height: 500px;
        position: relative;
        #iphone {
            position: absolute;
            right: 100px;
            top: 14px;
        }
    }
    .postcard1, .postcard2, .postcard3, .postcard4, .postcard5 {
        .drop-shadow(0px, 2px, 5px, @black);
        z-index: -5;
        position: absolute;
        top: 20px;
    }
    .postcard5 {
        left: 97%;
        .rotate(-2deg);
    }
    .postcard4 {
        left: 69%;
        z-index: -25;
        .rotate(3deg);
    }
    .postcard3 {
        left: 40%;
        .rotate(-1deg);
    }
    .postcard2 {
        left: 10%;
        z-index: -25;
        .rotate(2deg);
    }
    .postcard1 {
        left: -19%;
        .rotate(-3deg);
    }
}