@import "style";



// Styles for the Monitoring Pages and Sections

/************** Monitoring Solutions ****************/
#alarm-monitoring-intro {
    .content-box;
    margin-top: 20px;
    #alarm-monitoring-solutions {
        .content-box(44%);
        margin: 20px 262px 70px;
        h1 {
            text-align: center;
        }
    }
    #monitoring-company-image {
        .image-break(-50px);
    }
    #protected-home-image {
        .image-break-right(-6px);
    }
}

#alarm-monitoring-options {
    border: 1px solid @light-blue;
    .drop-shadow(0px, 2px, 5px, @light-grey);
    .border-radius(20px,20px,20px,20px);
    
    #landline-monitoring-option, #broadband-monitoring-option, #two-way-monitoring-option, #cellular-monitoring-option {
        .third-box;
        padding-top: 20px;
        margin-top: 10px;
        height: 380px;
        text-align: center;
        p {
            margin-top: 10px;
        }
        &:hover {
            background: @light-blue;
            .border-radius;
        }
        a {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    
}
#picking-alarm-monitoring {
    .content-box;
    margin-top: 20px;
    .bottom-rule;
    h2 {
        margin-top: 55px;
    }
    img {
        float: left;
    }
}
#alarm-monitoring-confidence {
    #trusted-home-monitoring, #redundent-security-backup, #on-the-level-pricing {
        .third-box;
        text-align: center;
        p {
            text-align: justify;
        }
    }
}
#customer-testimonials {
    .content-box;
    padding-bottom: 0px;
    h2 {
        margin-bottom: 16px;
    }
    ul {
        margin-right: 0;
    }
    .customer-name {
        float: left;
        width: 175px;
        margin: 24px 32px 0 0;
        text-align: right;
        h4 {
            color: @blue;
            font-weight: 300;
            font-size: 32px;
            text-transform: uppercase;
            text-align: right;
            line-height: 36px;
            span {
                display: block;
                font-size: 16px;
                line-height: 18px;
                color: @dark-grey;
                font-weight: normal;
            }
        }
        strong {
            display: block;
            margin-bottom: 16px;
            font-size: normal;
            color: @dark-grey;
            font-size: 12px;
        }
    }
    p {
        float: left;
        padding: 16px;
        border: 1px solid @light-grey;
        font-size: 16px;
        color: @dark-grey;
        line-height: 32px;
        font-weight: normal;
        width: 710px;
        text-align: justify;
        position: relative;
        .testimonial-arrow {
            .base-sprite(-164px, 0px);
            width: 24px;
            height: 32px;
            position: absolute;
            left: -21px;
            top: 24px;
            
        }
    }
}
/********** Landline *************/
body.landline, body.broadband, body.cellular {
    #landline-overview, #broadband-overview, #cellular-overview {
        .content-box(664px);
        padding-top: 16px;
        #landline-image, #broadband-image, #cellular-image {
            float: left;
            width: 200px;
            padding-top: 32px;
        }
        #landline-content, #broadband-content, #cellular-content {
            .content-box(420px);
            padding-left: 40px;
        }

    }
    #cut-wire-image {
        .half-box;
    }
    #no-phone-line {
        .half-box;
        .text-compensate(300px);
    }
    #cellular-connected {
        .half-box;
        .text-bump(120px);
        img {
            padding-right: 0;
        }
    }
    #landline-telephone, #broadband-connection, #cellular-connection {
        padding-top: 16px;
        #landline-benefits, #broadband-benefits, #cellular-benefits {
            .content-box(480px);
            ul {
                margin-left: 16px;
                padding-top: 16px;
                li {
                    margin-left: 16px;
                    list-style-type: disc;
                    font-size: 16px;
                    line-height: 18px;
                    color: @dark-grey;
                    padding-bottom: 8px;
                }
            }
        }
        img {
            float: left;
            padding-left: 100px;
        }
        
    }
    #cellular-connection {
        img {
            padding-right: 100px;
            padding-left: 0;
        }
    }
    #two-way-voice, #no-phone-required, #interactive-call-out, #interactive-laptop {
        #upgrade-voice, #no-phone-content, #app-for-that, #online-control {
            .content-box(540px);
        }
        #no-phone-content {
            padding-top: 32px;
        }
        img {
            float: left;
            margin-right: 32px;
            &.app-button {
                padding-left: 0;
                margin-right: 16px;
            }
        }
        .no-phone-img {
            margin-left: 32px;
        }
    }
    #interactive-laptop {
        border-top: 1px solid @v-light-grey;
        padding-top: 16px;
        #online-control {
            padding-top: 16px;
        }
        img {
            margin-left: 32px;
        }
    }
    #interactive-call-out {
        img {
            margin-right: 64px;
            padding-left: 32px;
        }
    }
    #nationwide-coverage, #helpful-tech-support, #save-money {
        .third-box;
        text-align: center;
        h3 {
          margin-bottom: 10px;
          padding: 0 16px;
        }
        p {
            padding: 0 16px;
            font-size: 14px;
            line-height: 22px;
        }
    }
}

/********** Interactive *************/
body.interactive-control {
    .wrapper {
        padding-bottom: 0;
    }
    #free-smart-app {
        .content-box(500px);
        padding-top: 48px;
        img {
        	display: block;
        	margin: 16px auto;
        }
    }
    #smart-connect-icon {
    	padding: 64px 98px;
    }
    #app-for-that {
        .content-box;
        padding-top: 46px;
        .phones {
            float: left;
        }
        .button-submit {
        	margin-bottom: 24px;
        }
        ul {
            float: left;
            background: @v-light-grey;
            width: 480px;
            padding: 16px;
            margin-left: 48px;
            margin-top: 72px;
            position: relative;
            .features-arrow {
                position: absolute;
                left: -40px;
                top: 50%;
                margin-top: -32px;
            }
            li {
                padding-bottom: 8px;
                &.omega {
                    padding-bottom: 0;
                }
                img {
                    float: left;
                    padding-right: 8px;
                    padding-top: 16px;
                }
                h3 {
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 16px;
                    color: #555;
                }
                p {
                    font-size: 12px;
                    span {
                        color: @red;
                    }
                }
            }
        }
    }
    #big-hero-banner {
        height: 643px;
        min-height: 600px;
        width: 100%;
        position: relative;
        overflow: hidden;
        #hero-wrapper {
            background: url(/static/img/protectamerica/green-bg.png) repeat;
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 500;
            min-width: 1024px;
            h1 {
                font-weight: 100;
                color: @white;
                font-size: 43px;
                line-height: 58px;
                padding-top: 30px;
                padding-left: 7%;
                text-shadow: 1px 2px 0px @dark-green; 
                
            }
            h2 {
                font-weight: 300;
                color: @white;
                font-size: 24px;
                line-height: 32px;
                padding-left: 7%;
                
            }
            .overview {
                position: absolute;
                color: @white;
                left: 39%;
                width: 32%;
                top: 170px;
                p {
                    text-align: justify;
                    padding-bottom: 16px;
                }
            }
            .included-box {
                position: absolute;
                bottom: 87px;
                left: 38%;
            }
            .happy-family {
                position: absolute;
                bottom: 14%;
                right: 62%;
                width: 900px;
            }
            .button-submit {
                a {
                    display: block;
                    margin-top: 4px;
                    padding: 8px 60px;
                    .border-radius(3px,3px,3px,3px);
                    background: #00bbf4;
                    text-shadow: 0px 1px 0px #2a6273;
                    color: #ffffff;
                    width: 100px;
                    text-align: center;
                    margin: 10px 0;
                    &:hover {
                        border: 1px solid @blue;
                    }
                }
            }
            #quote-form-new {
                position: absolute;
                right: 1%;
                border: none;
                background: none;
                width: 23%;
                top: 7%;
                #form-headline {
                    background: url(/static/img/protectamerica/black-shade.png) repeat;
                    color: @white;
                    text-align: center;
                    line-height: 72px;
                    height: 72px;
                    margin-bottom: 8px;
                    font-size: 20px;
                }
                #form-area {
                    background: url(/static/img/protectamerica/black-shade.png) repeat;
                    padding: 32px 16px;
                    label {
                        display: block;
                        color: @white;
                        line-height: 16px;
                        font-size: 14px;
                        padding-bottom: 4px;
                    }
                    input {
                        display: block;
                        margin-bottom: 8px;
                        height: 22px;
                        font-size: 14px;
                        width: 98%;
                    }
                    .button {
                        display: block;
                        background: #41bb1a;
                        .border-radius(3px, 3px, 3px, 3px);
                        height: 42px;
                        width: 207px;
                        padding: 0;
                        margin: 16px auto 8px;
                        color: @white;
                        border: 1px solid #0f4707;
                        font-size: 16px;
                        cursor: pointer;
                        cursor: hand;
                    }
                    .privacy-policy {
                        font-size: 11px;
                        color: @white;
                        display: block;
                        text-align: center;
                        text-decoration: none;
                        line-height: 13px;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
                #third-party-container {
                    width: 100%;
                    background: @white;
                    margin-top: 8px;
                    height: 91px;
                }
            }
            #call-box {
                background: url(/static/img/protectamerica/black-shade.png) repeat;
                width: 100%;
                position: absolute;
                bottom: 0;
                margin-bottom: 0;
                p {
                    color: @white;
                    font-weight: 100;
                    strong {
                        color: @white;
                        font-weight: 100;
                    }
                    span {
                        font-weight: 100;
                        color: @white;
                        a {
                            color: @white;
                        }
                    }
                }
            }
        }
        #hero-backdrop {
            position: absolute;
            width: 100%;
            min-width: 1024px;
            bottom: 0;
            left: 0;
            z-index: -1;
        }
    }
}
#check-in-anywhere {
    overflow: visible;
    margin-top: 16px;
    h2 {
        font-weight: 300;
        text-align: center;
        font-size: 24px;
        line-height: 36px;
        color: @dark-grey;
        strong {
            display: block;
            font-size: 32px;
        }
        
    }


}
#app-screens {
    position: absolute;
    top: 77px;
    left: 602px;
    z-index: 900;
}
#postcards {
    background: url(/static/img/products/monitoring/interactive/map-background.jpg) center center no-repeat;
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 430px;
    z-index: -999;
    #interactive-demo {
        width: 960px;
        z-index: 0;
        margin: 0 auto;
        height: 500px;
        position: relative;
        #iphone {
            position: absolute;
            right: 100px;
            top: 14px;
        }
    }
    .postcard1, .postcard2, .postcard3, .postcard4, .postcard5 {
        .drop-shadow(0px, 2px, 5px, @black);
        z-index: -5;
        position: absolute;
        top: 20px;
    }
    .postcard5 {
        left: 97%;
    }
    .postcard4 {
        left: 69%;
        z-index: -25;
    }
    .postcard3 {
        left: 40%;
    }
    .postcard2 {
        left: 10%;
        z-index: -25;
    }
    .postcard1 {
        left: -19%;
    }
}
