@import "style";

body {
    background: #333;
}
#header {
    height: 54px;
    padding: 32px 0;
}
#in-home-wrapper {
    .home-content {
        h2 {
            margin-top: 64px;
        }
    }
    .home-img {
        width: 325px;
        height: 453px;
        float: left;
        margin-left: 24px;
        h1 {
            color: @white;
            text-align: center;
            font-size: 28px;
            line-height: 64px;
            padding: 32px 0;
            font-weight: 100;
            background: @grey;
        }
        .blockLabels {
            background: @grey;
            padding-bottom: 64px;
            margin-top: 16px;
            padding-top: 32px;
        }
        input {
            color: @black;
            font-size: 14px;
            height: 32px;
            line-height: 32px;
            margin: 0 auto 24px;
            width: 280px;
            padding-left: 8px;
            .border-radius (5px,5px, 5px, 5px);
            border: 1px solid @black;
            float: none;
            display: block;
        }
        button {
            display: block;
            padding: 14px 16px;
            .border-radius(5px,5px,5px,5px);
            color: @white;
            background: @red;
            text-decoration: none;
            border: none;
            font-size: 24px;
            margin: 61px auto 0;
            width: 265px;
            .fade-slow;
            cursor: pointer;
            cursor: hand;
            float: none;
            &:hover {
                color: @white;
                .fade-fast;
                background: @dark-red;
                text-decoration: none;
                i {
                    border-left: 1px solid @red;
    
                }
            }
            i {
                border-left: 1px solid @dark-red;
                padding: 4px 0 4px 24px;
                margin-left: 12px;
            }
        }
    }
}
#footer-wrapper {
    border-bottom: 24px solid @blue;
    #footer {
        padding: 32px 0;
        background: none;
        width: 960px;
    }
}