
// Shades of Grey
@white: #fff;
@off-white: #fcfcfc;
@v-light-grey: #eee;
@light-grey: #ccc;
@grey: #555;
@dark-grey: #4A505A;
@black: #333; /* In place of black, PA uses a very dark grey. */

// Shades of Blue
@v-light-blue: #f2fdff;
@light-blue: #d9f2ff;
@blue: #1570ab;
@dark-blue: #023269;
@link-blue: #3f99fe;
@navy-blue: #2f394a;
@light-navy: #6d7f80;
@navy: #2f394a;
@dark-navy: #273347;

// Shades of Blood
@light-red: #ffdfdf;
@red: #eb292b;
@dark-red: #8b0404;

// Shades of Green
@light-green: #DDF7B7;
@green: #4bba29;
@dark-green: #005500;

@yellow: #ffc000;
@light-yellow: #ffe28a;
.slab-font {
    font-family: "museo-slab",sans-serif;

}
.san-serif-font {
    font-family: "proxima-nova",sans-serif;
}
.condensed-font {
    font-family: "proxima-nova-condensed",sans-serif;
    font-weight: 600 !important;
}


#call-box {
    background: #273347;
    border-top: none;
    p {
        padding: 16px 0 16px;
        a {
            font-size: 24px;
            text-transform: none;
            font-weight: 800;
            cursor: pointer;
            color: @white;
            &:hover {
                color: @yellow;
                span {
                    color: @yellow;
                }
            }
            span {
                font-weight: 300;
                color: @white;
            }
        }
    }
}

#hero-wrapper {

    &.night {
        background: url(/static/img/banners/hero-banners/night/hero-night.jpg) center top no-repeat #65605b;
        background-size: cover;
        #hero-image {
            #quote-form {
                div {
                    p {
                        margin-top: 4px;
                        margin-bottom: 4px;
                    }
                }
                .quote-content {
                    margin-bottom: 0;
                }
            }
            #sept-deals {
                margin: 0 0 0 245px;
                width: 600px;
                text-align: left;
                h1 {
                    text-align: left;
                }
                h2 {
                    text-align: left;
                    color: @white;
                    width: 100%;
                }
                h3 {
                    font-size: 24px;
                    text-align: left;
                    font-weight: 100;
                    text-transform: inherit;
                    color: @v-light-grey;
                    .san-serif-font;
                    padding-top: 16px;
                }
                ul {
                    margin-left: 0;
                    li {
                        color: @v-light-grey;                    
                    }
                }
                a {
                    text-align: left;
                    color: @yellow;
                }
                .deal-box {
                    position: absolute;
                    right: 0;
                    top: 40%;
                }
            }
        }

        select {
            width: 182px;
            margin: 0 12px;
            padding: 4px 0;
            height: 32px;
            border: 1px solid #aaa;

        }
    }
}



