@import "pasecurity/skeleton/base.less";
@import "pasecurity/skeleton/skeleton.less";
@import "style";


input[type="text"], select, textarea { 
	width: 100%;
}

input[type="text"] {
	padding: 8px 4px;
	margin-bottom: 5px;
	font-size: 16px;
  -webkit-box-shadow: inset 0 -1px 10px -3px #999999;
  -moz-box-shadow: inset 0 -1px 10px -3px #999999;
  box-shadow: inset 0 -1px 10px -3px #999999;
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
textarea {
  -webkit-box-shadow: inset 0 -1px 10px -3px #999999;
  -moz-box-shadow: inset 0 -1px 10px -3px #999999;
  box-shadow: inset 0 -1px 10px -3px #999999;
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
fieldset {
  &.appliedbefore {
    margin-bottom: 20px;
  }
  &.currentlyemployed {
    margin-bottom: 20px;
  }
}
h2 {
	font-size: 24px;
	font-weight: 600;
	margin: 40px 0 10px;
	color: #222;
}

hr {
  margin: 40px 0;
  border-color: #e7e2cd;
}

h3 {
	font-size: 18px;
	font-weight: 600;
	color: #333;
  float: left;
}

p {
	margin-bottom: 20px;
	font-size: 14px;
	line-height: 20px;
	color: #555;
}

label {
	float: left;
	display: block;
	margin-right: 5px;
	font-weight: 600;
	color: #555;
}

small {
	font-size: 11px;
	&.required {
		color: #e4002b;
		font-weight: 600;
		font-size: 12px;
    float: right;
    padding: 5px 0 0;
	}
}

select {
  padding: 10px;
  font-size: 16px;
  display: block;
  margin: 5px 0;
}

input.button {
  font-family: "proxima-nova-condensed", sans-serif;
  border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  background: #418fde;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-shadow: none;
  border: 1px solid transparent;
  border-bottom: 4px solid #0065aa;
  padding: 8px 16px 6px;
  -webkit-transition: background-color 0.7s ease-in-out;
  -moz-transition: background-color 0.7s ease-in-out;
  transition: background-color 0.7s ease-in-out;

  &:hover {
    	font-family: "proxima-nova-condensed", sans-serif;
      border-radius: 6px 6px 6px 6px;
      -moz-border-radius: 6px 6px 6px 6px;
      -webkit-border-top-left-radius: 6px;
      -webkit-border-top-right-radius: 6px;
      -webkit-border-bottom-left-radius: 6px;
      -webkit-border-bottom-right-radius: 6px;
      background: #6ab1fa;
      color: #fff;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      text-shadow: none;
      border: 1px solid transparent;
      border-bottom: 4px solid #0065aa;
      padding: 8px 16px 6px;
      -webkit-transition: background-color 0.7s ease-in-out;
      -moz-transition: background-color 0.7s ease-in-out;
      transition: background-color 0.7s ease-in-out;
      }
}

.container {
  .one-third.column {
    width: 296px;
  }
  .two-thirds.column {
    width: 612px;
  }
  .four.columns {
    width: 217px;
  }
  .sixteen.columns {
    width: 928px;
  }
  .eight.columns {
    width: 455px;
  }
  .twelve.columns {
    width: 690px;
  }
}

.personal-info, .employment-desired, .availability, .education-history, .professional-history, .recent-employment, .recent-unemployment, .professional-references {
  padding: 10px;
  background: #faf7e9;
  border: 1px solid #e6e0c3;
  margin-bottom: 20px;
}


/**********************************

Name: cmxform Styles

***********************************/
form.cmxform {
  width: 960px;
  font-size: 1.0em;
  color: #333;
}

form.cmxform legend {
  padding-left: 0;
}

form.cmxform legend, form.cmxform label {
  color: #333;
}

form.cmxform fieldset fieldset {
  background: none;
}

form.cmxform fieldset p, form.cmxform fieldset fieldset {
  padding: 5px 10px 7px;
}

form.cmxform label.error, label.error {
  /* remove the next line when you have trouble in IE6 with labels in list */
  color: red;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  margin-left: 3px;
}
#employ-form {
  margin-left: 3px;
  width: auto;
  display: inline;
  .block {
      display: block;
  }
  label.error {
    display: none;
  }
}
div.error { display: none; }
input { border: 1px solid black; }
input.checkbox { border: none }
input.error {
  border: 2px solid red;
}
form.cmxform .gray * { color: gray; }