@import "products.less";
#copper-package-offer, #bronze-package-offer, #silver-package-offer, #gold-package-offer, #platinum-package-offer {
    width: 664px;
    height: 400px;
    position: relative;
    float: left;
    #offer-main-image {
        position: absolute;
        left: -81px;
        z-index: -1;
        top: 24px;
    }
    h1 {
        color: @blue;
        font-size: 26px;
        position: absolute;
        right: 8px;
        width: 378px;
        text-align: center;
        border-bottom: 1px solid @light-grey;
        padding-bottom: 12px;
        top: 17px;
    }
    ul {
        width: 380px;
        position: absolute;
        right: -16px;
        top: 72px;
        li {
            width : 190px;
            float: left;
            font-size: 13px;
            line-height: 20px;
            list-style-type: disc;
        }
    }
    span {
        font-weight: bold;
        line-height: 16px;
        font-size: 16px;
        position: absolute;
        bottom: 60px;
        right: 128px;
        strong {
            color: @blue;
            font-weight: bold;
            font-size: 64px;
            display: block;
            line-height: 72px;
            position: relative;
            bottom: 12px;
            right: 4px;
            sup {
                font-size: 20px;
                position: relative;
                bottom: 10px;
            }
        }
    }
    #copper-package-best-buy {
        position: absolute;
        right: 10px;
        top: 152px;
        background: @v-light-grey;
        border: 1px solid @light-grey;
        font-weight: bold;
        width: 290px;
        .border-radius(5px, 5px, 5px, 5px);
        line-height: 16px;
        font-size: 12px;
        p {
            padding: 20px 0;
        }
        img {
            float: left;
            padding: 0 8px;
        }
    }
    #top-consumer-review-medal {
        position: absolute;
        right: 10px;
        top: 152px;
        background: @v-light-grey;
        border: 1px solid @light-grey;
        font-weight: bold;
        width: 290px;
        .border-radius(5px, 5px, 5px, 5px);
        line-height: 16px;
        font-size: 12px;
        p {
            padding: 20px 0;
        }
        img {
            float: left;
            padding: 0 8px;
        }
    }
}
#copper-package-offer {
    #offer-main-image {
        position: absolute;
        left: -125px;
        z-index: -1;
        top: 28px;
    }
}
#bronze-package-offer {
    #offer-main-image {
        position: absolute;
        left: -131px;
        z-index: -1;
        top: 28px;
    }
}
#silver-package-offer {
    #offer-main-image {
        position: absolute;
        left: -131px;
        z-index: -1;
        top: 28px;
    }
}
#gold-package-offer {
    #offer-main-image {
        position: absolute;
        left: -145px;
        z-index: -1;
        top: 28px;
    }
}
#platinum-package-offer {
    #offer-main-image {
        position: absolute;
        left: -127px;
        z-index: -1;
        top: 28px;
    }
}
#the-copper-package {
    #main-package-image {
        left: -96px;
    }
    #copper-package-content {
        margin-bottom: 96px;
        p {
            padding-bottom: 16px;
        }
    }
}

#the-bronze-package {
    #main-package-image {
        left: -92px;
        top: 10px;
    }
    #bronze-package-content {
        margin-bottom: 112px;
        p {
            padding-bottom: 16px;
        }
    }
}
#the-silver-package {
    #main-package-image {
        left: -92px;
        top: 10px;
    }
    #silver-package-content {
        margin-bottom: 116px;
        p {
            padding-bottom: 16px;
        }
    }
}
#the-gold-package {
    #main-package-image {
        left: -92px;
        top: 10px;
    }
    #gold-package-content {
        margin-bottom: 116px;
        p {
            padding-bottom: 16px;
        }
    }
}
#the-platinum-package {
    #main-package-image {
        left: -92px;
        top: 10px;
    }
    #platinum-package-content {
        margin-bottom: 116px;
        p {
            padding-bottom: 16px;
        }
    }
}