@import "style";

#header {
    display: none;
}
#navigation-wrapper {
    display: none;
}
#grunge {
    background-image: url('../../img/payitforward/background.png');
    background-repeat: no-repeat;
    width: 1024px;
    height: 1080px;
    #top-container {
        width: 960px;
        height: 75px;
        margin-left: 30px;
        padding-top: 55px;
        .pacares-logo {
            margin-left: -31px;
            margin-top:-8px;
        }
        h1 {
            font-size:16px;
            color: white;
            margin-top: -55px;
            padding-left: 205px;
            line-height: 20px;
        }
        .msu-logo {
            float: right;
            margin-top: -115px;
            margin-right: -5px;
        }
        #hero-image {
            width: 596px;
            height: 184px;
            margin-left: 6px;
            margin-top: 9px;
        }
        #hero-video {
            float: right;
            margin-top: -185px;
            margin-right: -4px;
        }
    }
    #navigation {
    margin: 5px 0 10px 60px;
        ul {
            height: 45px;
            line-height: 35px;
            float: left;
            width: 925px;
            li {
            margin-right: -10px;
                a {
                    font-size: 16px;
                    list-style-image: none;
                    border: none;
                    color: @white;
                    &:hover {
                        background-color:#e6fbff;
                        cursor:pointer;
                        color: @white;
                    }
                    &.active {
                        background-color:#e6fbff;
                        cursor:pointer;
                        color: @white;
                    }
                    &:visited {
                        background-color:#e6fbff;
                        color: @white;
                    }
                }
            }
        }
    }
    #body-container {
        background-color: white;
        width: 930px;
        height: 470px;
        margin-left: 50px;
        h2 {
            font-size: 45px;
            padding-top: 35px;
            padding-left: 25px;
        }
        .body-left {
            padding-left: 35px;
            width: 400px;
            height: 465px;
            h2 {
                font-size: 55px;
            }
            p {
                font-size: 14px;
                line-height: 25px;
                padding-top: 15px;
                font-weight:200;
                text-align:justify;
            }
        }
        .body-right {
            width:400px;
            float: right;
            height: 325px;
            margin-top: -407px;
            z-index: 1;
            padding-right: 40px;
            p {
                font-size: 14px;
                line-height: 23px;
                padding-top: 15px;
                font-weight:200;
                text-align:justify;
            }
        }
        .body-right-calendar {
            width:400px;
            float: right;
            height: 325px;
            margin-top: -407px;
            z-index: 1;
            padding-right: 75px;
            p {
                font-size: 14px;
                line-height: 23px;
                padding-top: 15px;
                font-weight:200;
                text-align:justify;
            }
        }
        .call-out-arrow1 {
            z-index: 99;
            float: right;
            margin-top: -160px;
            margin-right: 170px;
        }
        .call-out-arrow2 {
            z-index: 99;
            float: right;
            margin-top: -285px;
            margin-right: 350px;
        }
        .call-out-calander {
            z-index: 99;
            float: right;
            margin-top: -365px;
            margin-right: 50px;
            font-size: x-large;
            color: @grey;
        }
    }
}
#tail {
    width: 960px;
    margin-left: 45px;
    margin-top: -230px;
    position: relative;
    .twitter {
        float: left;
        width: 405px;
    }
    .tail-urls {
        float: left;
        width: 350px;
        height: 100px;
        ul {
        margin-left: 25px;
        line-height: 35px;
            li {
                a {
                    font-size: 16px;
                    list-style-image: none;
                    border: none;
                    color: @white;
                    &:hover {
                        background-color:#e6fbff;
                        cursor:pointer;
                        color: @white;
                    }
                    &.active {
                        background-color:#e6fbff;
                        cursor:pointer;
                        color: @white;
                    }
                    &:visited {
                        background-color:#e6fbff;
                        color: @white;
                    }
                }
            }
        }
    }
    .pa-logo {
        position: absolute;
        margin-left: 767px;
        margin-top: -35px;
    }
}