@import "style";

#header {
    display: none;
}
#navigation-wrapper {
    display: none;
}
#grunge {
    background-image: url('../../img/payitforward/background.png');
    background-repeat: no-repeat;
    width: 1024px;
    height: 1080px;
    #top-container {
        width: 960px;
        height: 75px;
        margin-left: 30px;
        padding-top: 55px;
        .pacares-logo {
            margin-left: -31px;
            margin-top:-8px;
        }
        h1 {
            font-size:16px;
            color: white;
            margin-top: -55px;
            padding-left: 205px;
            line-height: 20px;
        }
        .msu-logo {
            float: right;
            margin-top: -115px;
            margin-right: -5px;
        }
        #hero-image {
            width: 596px;
            height: 184px;
            margin-left: 6px;
            margin-top: 9px;
        }
        #hero-video {
            float: right;
            margin-top: -185px;
            margin-right: 8px;
        }
    }
    #navigation {
        width: 960px;
        margin-left: 55px;
        height: 24px;
        position: relative;
        overflow: visible;
        z-index: 500;
        border: none;
    }    
    #nav{
        list-style:none;
        font-weight:bold;
        margin-bottom:10px;
        float:left;
        width:100%;
        margin-left: 25px;
        border: none;
    }
    #nav li{
        float:left;
        margin-right:30px;
        position:relative;
        border: none;
    }
    #nav a{
        display:block;
        padding:5px;
        color:#fff;
        background:#333;
        text-decoration:none;
    }
    #nav a:hover{
        color:#fff;
        background:#6b0c36;
        text-decoration:underline;
    }

/*--- DROPDOWN ---*/
    #nav ul{
        background:#fff;
        background:rgba(255,255,255,0); 
        list-style:none;
        position:absolute;
        left:-9999px;
        z-index: 999;
        top: 25px;
    }
    #nav ul li{
        padding-top:1px;
        float:none;
    }
    #nav ul a{
        white-space:nowrap;
    }
    #nav li:hover ul{
        left:0;
    }
    #nav li:hover a{
        background:#6b0c36;
        text-decoration:underline;
    }
    #nav li:hover ul a{         
        text-decoration:none;
    }
    #nav li:hover ul li a:hover{
        background:#333;
    }
    #body-container {
        background-color: white;
        width: 930px;
        height: 470px;
        margin-left: 50px;
        h2 {
            font-size: 45px;
            padding-top: 35px;
            padding-left: 25px;
        }
        h3 {
            margin-top: 25px;
            color: #e51b24;
            margin-bottom: -13px;
        }
        p {
            font-size: 14px;
            line-height: 25px;
            padding-top: 15px;
            font-weight: 200;
            text-align:justify;
        }
        h4 {
            font-size: 20pt;
            margin-top: 25px;
            color: #e51b24;
            margin-bottom: -13px;
            }
        .body-left {
            padding-left: 35px;
            width: 400px;
            height: 465px;
        }
        .body-right {
            width:400px;
            float: right;
            height: 325px;
            margin-top: -407px;
            z-index: 1;
            padding-right: 40px;
            ul {
                margin-top: -65px;
                li {
                    font-size: 9pt;
                    line-height: 15px;
                }
            }
        }
        .body-right-calendar {
            width:400px;
            float: right;
            height: 325px;
            margin-top: -385px;
            z-index: 1;
            padding-right: 75px;
            p {
                font-size: 14px;
                line-height: 23px;
                padding-top: 15px;
                font-weight:200;
                text-align:justify;
            }
        }
        .gallery {
            margin: 10px;
                ul {
                    margin-top: 8px;
                    li{
                        list-style-type: none;
                        float: left;
                        padding-bottom: 5px;
                    }
                }
        }
        .call-out-arrow1 {
            z-index: 99;
            float: right;
            margin-top: -160px;
            margin-right: 325px;
            width: 65px;
            p {
                font-size: x-small;
                color: #e51b24;
            }
        }
        .call-out-arrow2 {
            z-index: 99;
            float: right;
            margin-top: -290px;
            margin-right: 145px;
            width: 65px;
            p {
                font-size: x-small;
                color: #e51b24;
            }
        }
        .call-out-calander {
            z-index: 99;
            float: right;
            margin-top: -365px;
            margin-right: 50px;
            font-size: x-large;
            color: @grey;
        }
    }
}
#tail {
    width: 960px;
    margin-left: 45px;
    margin-top: -230px;
    position: relative;
    .twitter {
        float: left;
        width: 405px;
    }
    .tail-urls {
        float: left;
        width: 350px;
        height: 100px;
        ul {
        margin-left: 25px;
        line-height: 55px;
            li {
                a {
                    font-size: 14px;
                    list-style-image: none;
                    border: none;
                    color: @white;
                    text-decoration: none;
                    &:hover {
                        background-color:#e6fbff;
                        cursor:pointer;
                        color: @white;
                    }
                    &.active {
                        background-color:#e6fbff;
                        cursor:pointer;
                        color: @white;
                    }
                    &:visited {
                        background-color:#e6fbff;
                        color: @white;
                    }
                }
            }
        }
    }
    .pa-logo {
        position: absolute;
        margin-left: 767px;
        margin-top: -35px;
    }
}