@import "style";

#header {
    display: none;
}
#navigation-wrapper {
    display: none;
}
#grunge {
    background-image: url('../../img/payitforward/background.png');
    background-repeat: no-repeat;
    width: 1024px;
    height: 1080px;
    #top-container {
        width: 960px;
        height: 75px;
        margin-left: 30px;
        padding-top: 55px;
        .pacares-logo {
            margin-left: -31px;
            margin-top:-8px;
        }
        h1 {
            font-size:16px;
            color: white;
            margin-top: -55px;
            padding-left: 205px;
            line-height: 20px;
        }
        .msu-logo {
            float: right;
            margin-top: -115px;
            margin-right: -5px;
        }
        #hero-image {
            width: 596px;
            height: 184px;
            margin-left: 6px;
            margin-top: 9px;
        }
        #hero-video {
            float: right;
            margin-top: -185px;
            margin-right: 8px;
        }
    }
    #navigation {
        width: 960px;
        margin-left: 100px;
        height: 24px;
        position: relative;
        overflow: visible;
        z-index: 500;
        #nav{
            list-style:none;
            font-weight:bold;
            float:left;
            width:100%;
            margin-left: 25px;
        }
        #nav li{
            float:left;
            margin-right:50px;
            position:relative;
        }
        #nav a{
            display:block;
            padding:5px;
            color:#fff;
            text-decoration:none;
            border: none;
        }
        #nav a:hover{
            color:#fff;
            background:#333;
            text-decoration:underline;
            border: none;
        }
    
    /*--- DROPDOWN ---*/
        #nav ul{
            list-style:none;
            position:absolute;
            left:-9999px;
            z-index: 999;
            top: 30px;
        }
        #nav ul li{
            padding-top:1px;
            float:none;
        }
        #nav ul a{
            white-space:nowrap;
    
        }
        #nav li:hover ul{
            left:0;
        }
        #nav li:hover a{
            background:#333;
            text-decoration:underline;
        }
        #nav li:hover ul a{         
            text-decoration:none;
            border-right: white solid 1px;
        }
        #nav li:hover ul li a:hover{
            background:@dark-grey;
            border-right: white solid 1px;
        }
    }    
    #body-container {
        background-color: white;
        width: 930px;
        height: 470px;
        margin-left: 50px;
        margin-top: 15px;
        h2 {
            font-size: 45px;
            padding-top: 35px;
            padding-left: 25px;
        }
        h3 {
            color: #e51b24;
            margin-bottom: -13px;
        }
        p {
            font-size: 14px;
            line-height: 23px;
            padding-top: 15px;
            font-weight: 200;
            text-align:justify;
        }
        h4 {
            font-size: 20pt;
            margin-top: 25px;
            color: #e51b24;
            margin-bottom: -13px;
            }
        .body-left {
            padding-left: 35px;
            width: 400px;
            height: 465px;
            ul {
                padding-top: 15px;
                li {
                    font-size: 14px;
                    line-height: 25px;
                    font-weight: 200;
                    text-align:justify;
                }
            }
        }
        .body-right {
            width:400px;
            float: right;
            height: 325px;
            margin-top: -407px;
            z-index: 1;
            padding-right: 40px;
            a {
                padding:5px;
                color: black;
                text-decoration:underline;
                border: none;
                &:hover {
                    background-color:white;
                    cursor:pointer;
                    color:black;
                }
                &.active {
                    background-color:white;
                    cursor:pointer;
                    color:black;
                }
                &:visited {
                    background-color:white;
                    color:black;
                }
            }
            ul {
                li {
                    font-size: 14px;
                    line-height: 25px;
                    font-weight: 200;
                    text-align:justify;
                }
            }
            .form {
                background-image: url('../../img/payitforward/form-background.jpg');
                border: solid @light-grey 2px;
                .drop-shadow(5px, 5px, 5px, @grey);
                margin-top: 0px;
                padding: 8px 25px 15px 35px;
                width: 300px;
                height: 320px;
                line-height: 20px;
                h3 {
                    color: black;
                }
            }
            .fund-jar {
                width: 500px;
                .list {
                    position: absolute;
                    line-height: 18px;
                    ul {
                        position: absolute;
                        margin-top: 25px;
                        margin-left: 150px;
                        width: 250px;
                        li {
                            font-size: 12px;
                            line-height: 25px;
                            font-weight:200;
                            a {
                                padding:5px;
                                color: black;
                                text-decoration:underline;
                                border: none;
                                &:hover {
                                    background-color:#6b0c36;
                                    cursor:pointer;
                                    color:white;
                                }
                                &.active {
                                    background-color:#6b0c36;
                                    cursor:pointer;
                                    color:white;
                                }
                                &:visited {
                                    background-color:#6b0c36;
                                    color: black;
                                    text-decoration:underline;
                                    border: none;
                                }
                            }
                        }
                    }
                }
            }
        }
        .gallery {
            margin: 10px;
                ul {
                    margin-top: 8px;
                    li{
                        list-style-type: none;
                        float: left;
                        padding-bottom: 5px;
                    }
                }
        }
    }
}
#tail {
    width: 960px;
    margin-left: 45px;
    margin-top: -230px;
    position: relative;
    .twitter {
        float: left;
        width: 405px;
    }
    .tail-urls {
        float: left;
        width: 350px;
        height: 100px;
        ul {
        margin-left: 25px;
        line-height: 55px;
            li {
                a {
                    font-size: 14px;
                    list-style-image: none;
                    border: none;
                    color: @white;
                    text-decoration: none;
                    &:hover {
                        cursor:pointer;
                        color: @white;
                        text-decoration: underline;
                    }
                    &.active {
                        cursor:pointer;
                        color: @white;
                    }
                    &:visited {
                        color: @white;
                    }
                }
            }
        }
    }
    .pa-logo {
        position: absolute;
        margin-left: 767px;
        margin-top: -35px;
    }
}