@import "style";


// Styles for the Products Pages
#order-footer {
    #footer-package-section {
        width: 309px;
        border-right: 1px solid @v-light-grey;
        padding: 16px 16px;
        float: left;
        p {
            font-size: 12px;
            line-height: 16px;
            padding: 8px 0 10px;
            span {
                font-size: 16px;
                display: block;
                line-height: 18px;
            }
        }
    }

}
/************** Packages ****************/
#sub-navigation {
    #packages-navigation {
        li {
            width: 190px;
            border: 1px solid @light-grey;
            border-right: none;
            background: @v-light-grey url(/static/img/products/packages-sprite.png) 21px 0 no-repeat;
            background-position-y: -4px;
            height: 112px;
            margin: 4px 0 12px 0;
            position: relative;
            .fade-slow;

            a {
                padding: 80px 0 0;
                float: none;
                border-bottom: 0;
                line-height: 16px;
                font-weight: bold;
                span {
                    display: block;
                    font-size: 9px;
                    line-height: 10px;
                    font-weight: normal;
                    color: @dark-grey;
                    letter-spacing: 0;
                }
            }
            &.active {
                background-color: @light-grey;
                a {
                    color: @black;
                    span {
                        color: @dark-grey;
                    }
                }
                #package-active-arrow {
                    position: absolute;
                    left: 85px;
                    bottom: -8px;
                }
                &:hover {
                    background-color: @light-grey;
                }
            }
            &.omega {
                border-right: 1px solid @light-grey;
            }
            &:hover {
                background-color: @white;
                .fade-fast;
            }
            &.copper {
                background-position: 21px -3px;
            }
            &.bronze {
                background-position: -133px -3px;
            }
            &.silver {
                background-position: -283px -3px;
            }
            &.gold {
                background-position: -440px -3px;
            }
            &.platinum {
                background-position: -603px -3px;
            }
        }
    }
}
#quote-form.alt {
    margin-left: 0;
    margin-right: 16px;
}
/************** Packages Pages *************/
/*********** Top Package Offer **************/
/*********** Business Security Package ***********/
body.business {
    #interactive-call-out {
        #app-for-that {
            .content-box(540px);
        }
        img {
            float: left;
            margin-right: 64px;
            padding-left: 32px;
            &.app-button {
                padding-left: 0;
                margin-right: 16px;
            }
        }
    }
    #top-content {
        #business-package-offer {
            width: 664px;
            height: 400px;
            position: relative;
            float: left;
            h1 {
                color: @blue;
                font-size: 26px;
                position: absolute;
                right: 8px;
                width: 378px;
                text-align: center;
                border-bottom: 1px solid @light-grey;
                padding-bottom: 12px;
                top: 17px;
            }
            #offer-main-image {
                width: 345px;
                padding-top: 62px;
                .house {
                
                }
            }
            ul {
                width: 380px;
                position: absolute;
                right: -16px;
                top: 72px;
                li {
                    width : 190px;
                    float: left;
                    font-size: 13px;
                    line-height: 20px;
                    list-style-type: disc;
                }
            }
            span {
                font-weight: bold;
                line-height: 20px;
                font-size: 16px;
                position: absolute;
                bottom: 40px;
                right: 128px;
                text-align: center;
                strong {
                    color: @blue;
                    font-weight: bold;
                    font-size: 64px;
                    display: block;
                    line-height: 64px;
                    position: relative;
                    bottom: 12px;
                    right: 4px;
                    height: 72px;
                    padding-top: 4px;
                    sup {
                        font-size: 20px;
                        vertical-align: super;
                        position: relative;
                        bottom: 4px;

                    }
                }
                &.monthly-price {
                    right: 10px;
                    border-left: 1px solid @v-light-grey;
                    padding-left: 32px;
                    padding-top: 16px;
                    
                }
                &.upfront-price {
                    right: 200px;
                }
            }
            #top-consumer-review-medal {
                position: absolute;
                right: 10px;
                top: 164px;
                background: @v-light-grey;
                border: 1px solid @light-grey;
                font-weight: bold;
                width: 290px;
                .border-radius(5px, 5px, 5px, 5px);
                line-height: 16px;
                font-size: 12px;
                p {
                    padding: 20px 0;
                }
                img {
                    float: left;
                    padding: 0 8px;
                }
            }
        }
    }
    #included-equipment {
        .content-box;
        div {
            .content-box(144px);
            margin-bottom: 0;
            display: block;
            font-size: 12px;
            text-align: center;
            padding: 0 8px;
            line-height: 14px;
            color: @black;
            text-decoration: none;
            &:hover {
                color: @blue;
            }
            strong {
                display: block;
            }
            img {
                display: block;
            }

        }
    }
    #the-business-package {
        .content-box;
        margin-bottom: 0;

        em {
            float: none;
            display: block;
            text-decoration: line-through;
            color: @grey;
            font-size: 10px;
        }
        #main-package-image {
            width: 397px;
            position: absolute;
            top: 16px;
            left: 0;
        }
        #business-package-content {
            float: left;
            width: 555px;
            margin: 32px 0 40px 400px;
        }
    }
    #employee-watch {
        .content-box;
        img {
            float: left;
        }
        #employee-content {
            .big-box;
            padding: 90px 0 0 32px;
        }
    }
    #door-protection, #window-protection, #video-protection, #after-hours, #deter-shoplifters, #employee-theft {
        .third-box;
        text-align: center;
        h3 {
          margin-bottom: 10px;
          padding: 0 16px;
        }
        p {
            padding: 0 16px;
            font-size: 14px;
            line-height: 22px;
        }
    }
    #window-protection {
        img {
            padding: 21px 0;
        }
        
    }
}
#top-content {
    #copper-package-offer, #bronze-package-offer, #silver-package-offer, #gold-package-offer, #platinum-package-offer {
        width: 664px;
        height: 400px;
        position: relative;
        float: left;
        h1 {
            color: @blue;
            font-size: 26px;
            position: absolute;
            right: 8px;
            width: 378px;
            text-align: center;
            border-bottom: 1px solid @light-grey;
            padding-bottom: 12px;
            top: 17px;
        }
        #offer-main-image {
            width: 345px;
            padding-top: 62px;
            .house {
            
            }
        }
        ul {
            width: 380px;
            position: absolute;
            right: -16px;
            top: 72px;
            li {
                width : 190px;
                float: left;
                font-size: 13px;
                line-height: 20px;
                list-style-type: disc;
            }
        }
        span {
            font-weight: bold;
            line-height: 16px;
            font-size: 16px;
            position: absolute;
            bottom: 60px;
            right: 128px;
            strong {
                color: @blue;
                font-weight: bold;
                font-size: 64px;
                display: block;
                line-height: 72px;
                position: relative;
                bottom: 12px;
                right: 4px;
                sup {
                    font-size: 20px;
                    position: relative;
                    bottom: 10px;
                }
            }
        }
        #copper-package-best-buy {
            position: absolute;
            right: 10px;
            top: 152px;
            background: @v-light-grey;
            border: 1px solid @light-grey;
            font-weight: bold;
            width: 290px;
            .border-radius(5px, 5px, 5px, 5px);
            line-height: 16px;
            font-size: 12px;
            p {
                padding: 20px 0;
            }
            img {
                float: left;
                padding: 0 8px;
            }
        }
        #top-consumer-review-medal {
            position: absolute;
            right: 10px;
            top: 152px;
            background: @v-light-grey;
            border: 1px solid @light-grey;
            font-weight: bold;
            width: 290px;
            .border-radius(5px, 5px, 5px, 5px);
            line-height: 16px;
            font-size: 12px;
            p {
                padding: 20px 0;
            }
            img {
                float: left;
                padding: 0 8px;
            }
        }
    }
    #copper-package-offer,#bronze-package-offer, #silver-package-offer {
        #offer-main-image {
            &.house {
                padding-top: 89px;
            }
        }
    }
}
/*********** In the Home Content **************/
#the-copper-package, #the-bronze-package, #the-silver-package, #the-gold-package, #the-platinum-package, #the-business-package {
    .content-box;
    margin-bottom: 0;
    h3 {
        font-size: 24px;
        font-weight: 300;
        padding: 8px 48px 8px 0;
        color: @dark-grey;
    }
    em {
        float: none;
        display: block;
        text-decoration: line-through;
        color: @grey;
        font-size: 10px;
    }
    #main-package-image {
        width: 397px;
        position: absolute;
        top: 16px;
        left: 0;
    }
    #copper-package-content, #bronze-package-content, #silver-package-content, #gold-package-content, #platinum-package-content {
        float: left;
        width: 555px;
        margin: 32px 0 40px 400px;
    }
    #bronze-package-content {
        margin: 32px 0 86px 400px;
    }
    #included-equipment {
        div {
            .content-box(144px);
            margin-bottom: 0;
            display: block;
            font-size: 12px;
            text-align: center;
            padding: 0 8px;
            line-height: 14px;
            color: @black;
            text-decoration: none;
            &:hover {
                color: @blue;
            }
            strong {
                display: block;
            }
            img {
                display: block;
            }

        }
    }
}

/**** The Packages Page ****/
body.products {
    #comparison-intro {
        .content-box;
        padding-top: 16px;
    }
    #package-comparison-chart {
        .content-box;
        table {
            td {
                width: 17%;
                text-align: center;
                vertical-align: middle;
                padding: 15px 0;
                border: 1px solid @light-grey;
                border-left: none;
                border-top: none;
                .fade-fast;
                &:hover {
                  background: @v-light-blue+10;
                  .fade-fast;
                }
                span {
                    font-size: 16px;
                    display: block;
                    font-weight: bold;
                }
                &.button {
                    border-right: none;
                }
                &.omega {
                    border-bottom: none;
                }
                &.call-out {
                    background: #fffee4;
                    font-size: 18px;
                    font-weight: bold;
                }
                .strike {
                    text-decoration: line-through;
                }
                .free {
                    color: @red;
                }
            }
            tr {
                .fade-slow;
                &:hover {
                    background: @v-light-blue;
                    .fade-fast;   
                }
                
            }
            .blank-box {
                border-right: 1px solid @light-grey;
            }
            th {
                background: @light-blue;
                border: 1px solid @light-grey;
                padding: 5px;
                text-align: center;
                vertical-align: middle;
                font-size: 15px;
                font-weight: bold;
                border-left: none;
                &.alpha {
                    background: none;
                    border-top: none;
                    border-bottom: none;
                }
                &.omega {
                    background: none;
                    border-top: none;
                    border-right: none;
                    border-bottom: none;
                }
            }
        }
    }

    #customer-testimonials {
        padding-top: 16px;
    }
    #extra-features {
        .content-box;
        #lifetime-warranty, #insurance-discount {
            .content-box(464px);
        }
        #lifetime-warranty {
            margin-right: 32px;
        }

    }
} 
#package-fan {
    .content-box;
    height: 350px;
    .card {
        position: relative;
        width: 175px;
        border: 1px solid @light-grey;
        float: left;
        .drop-shadow(0px, 2px, 5px, @light-grey);
        height: 300px;
        background: #FCFCFC;
        background-image: -moz-linear-gradient(top, @white, @v-light-grey);
        background-image: -webkit-gradient(linear, left top, left bottom, from(@white), to(@v-light-grey));
        margin-top: 20px;
        z-index: 0;
        margin: 25px 1px 0;
        &:hover {
            background: @v-light-blue;
            border: 1px solid @light-blue;
        }
        .gloss {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 500;
        }
        h2 {
            text-align: center;
            font-size: 28px;
            line-height: 32px;
            letter-spacing: 0px;
            font-weight: bold;
            margin-bottom: 0;
            color: @blue;
            padding: 8px 0;
        }
        h3 {
            text-align: center;
            font-size: 20px;
            line-height: 28px;
            font-weight: bold;
            width: 150px;
            margin: 0 auto;
            border: 1px solid @v-light-grey;
            border-right: none;
            border-left: none;
            color: @black;
            padding: 4px;
            sup {
                font-size: 12px;
            }
        }
        h4 {
            text-align: center;
            font-size: 14px;
            border-top: 1px solid @v-light-grey;
            padding-top: 4px;
        }
        ul {
            width: 165px;
            margin: 8px auto;
            text-align: center;
            li {
                font-size: 12px;
                strong {
                    color: @blue;
                }
            }
        }
        p {
            padding: 0 4px 4px 4px;
            font-size: 11px;
            text-align: center;
            line-height: 12px;
            color: @dark-grey;
        }
        .button-link {

            
        }
    }
    .mid.card {
        width: 187px;
        z-index: 500;
        .drop-shadow(0px, 2px, 5px, @grey);
        height: 325px;
        margin-top: 13px;
        h3 {
            width: 170px;
            font-size: 20px;

        }
        h4 {
            font-size: 16px;
            padding-top: 16px;
        }
        .button-link {
            margin-top: 28px;
        }
    }
    .big.card {
        width: 216px;
        height: 350px;
        margin-top: 0;
        z-index: 999;
        .drop-shadow(0px, 2px, 5px, @dark-grey);
        h3 {
            width: 195px;
            font-size: 28px;

        }
        h4 {
            font-size: 20px;
            padding-top: 20px;
        }
        ul {
            margin: 16px auto;
        }
        .button-link {
            margin-top: 32px;
        }

    }
    .button-link {
        text-align: center;
    }

}
/**** 
body.advantage {
    #package-comparison-chart {
        .content-box;
        margin-top: 16px;
        table {
            width: 100%;
            margin: 8px 0 32px;
            td {
                text-align: center;
                vertical-align: middle;
                padding: 15px 0;
                border: 1px solid @light-grey;
                border-left: none;
                border-top: none;
                font-size: 16px;
                text-transform: uppercase;
                line-height: 16px;
                font-weight: 800;
                .fade-fast;
                &:hover {
                  background: @v-light-blue+10;
                  .fade-fast;
                }
                span {
                    font-size: 10px;
                    display: block;
                    font-weight: normal;
                }
                &.button {
                    border-right: none;
                }
                &.omega {
                    border-bottom: none;
                }
                &.call-out {
                    background: #fffee4;
                    font-size: 18px;
                    font-weight: bold;
                }
                .strike {
                    text-decoration: line-through;
                }
                .free {
                    color: @red;
                }
                &.company {
                    font-size: 12px;
                    width: 100px;
                }
                &.upfront {
                    width: 100px;
                }
                &.third-party {
                    width: 200px;
                }
                &.na {
                    font-size: 10px;
                    color: @light-grey;
                }
            }
            tr {
                .fade-slow;
                &.alt {
                    background: @off-white;
                    
                }
                &:hover {
                    background: @v-light-blue;
                    .fade-fast;   
                }

                
            }
            .blank-box {
                border-right: 1px solid @light-grey;
            }
            th {
                background: @light-blue;
                border: 1px solid @light-grey;
                padding: 5px;
                text-align: center;
                vertical-align: middle;
                font-size: 10px;
                font-weight: bold;
                border-left: none;
                line-height: 12px;
                text-transform: uppercase;
                &.alpha {
                    background: none;
                    border-top: none;
                    border-bottom: none;
                }
                &.omega {
                    background: none;
                    border-top: none;
                    border-right: none;
                    border-bottom: none;
                }
            }
            
        }
    }
}
***/
body.advantage {
    #advantage-overview {
        .content-box(664px);
        #advantage-content {
            .content-box(338px);
            margin-right: 16px;
            
        }
        img {
            float: left;
            padding-top: 100px;
        }
    }
    .home-security-comparisons {
        .content-box;
        #copper-package-comparison, #bronze-package-comparison, #silver-package-comparison, #gold-package-comparison, #platinum-package-comparison {
            .bottom-rule;
            padding-bottom: 32px;
            margin-bottom: 32px;
            position: relative;
            
            #copper-package-image, #bronze-package-image, #silver-package-image, #gold-package-image, #platinum-package-image {
                float: left;
                position: absolute;
                left: -60px;
                top: 5px;
                z-index: -1;
                width: 435px;
            }
            #copper-package-information, #bronze-package-information, #silver-package-information, #gold-package-information, #platinum-package-information {
                .content-box(578px);
                padding-left: 385px;
                h3 {
                    padding-bottom: 8px;
                    font-size: 24px;
                    line-height: 24px;
                }
                ul {
                    margin-bottom: 24px;
                    li {
                        float: left;
                        margin-right: 16px;
                        width: 175px;
                    }
                }
            }
        }
        #platinum-package-comparison, #bronze-package-comparison, #gold-package-comparison {
            border-bottom: none;
            padding-bottom: 0;
            margin-bottom: 0;
        }
        table {
            td {
                width: 17%;
                text-align: center;
                vertical-align: middle;
                padding: 8px 0;
                border: 1px solid @light-grey;
                border-left: none;
                border-top: none;
                .fade-fast;
                &:hover {
                  background: @v-light-blue+10;
                  .fade-fast;
                }
                span {
                    font-size: 14px;
                    display: block;
                    font-weight: bold;
                }
                &.button {
                    border-right: none;
                }
                &.omega {
                    border-bottom: none;
                }
                &.call-out {
                    background: #fffee4;
                    font-size: 16px;
                    font-weight: bold;
                }
                .strike {
                    text-decoration: line-through;
                }
                .free {
                    color: @red;
                }
            }
            tr {
                .fade-slow;
                &:hover {
                    background: @v-light-blue;
                    .fade-fast;   
                }
                
            }
            .blank-box {
                border-right: 1px solid @light-grey;
            }
            th {
                background: @light-blue;
                border: 1px solid @light-grey;
                padding: 5px;
                text-align: center;
                vertical-align: middle;
                font-size: 15px;
                font-weight: bold;
                border-left: none;
                &.alpha {
                    background: none;
                    border-top: none;
                    border-bottom: none;
                }
                &.omega {
                    background: none;
                    border-top: none;
                    border-right: none;
                    border-bottom: none;
                }
            }
        }

    }
    #copper-package-bar, #bronze-package-bar, #silver-package-bar, #gold-package-bar, #platinum-package-bar {
        height: 101px;
        background: @v-light-blue;
        border: 1px solid @v-light-grey;
        .button-submit {
            width: 275px;
            margin: 40px 50px;
            float: left;
            a {
                padding: 8px 24px;
                font-size: 16px;
            }
            p.phone-alt {
                position: relative;
                top: 8px;
                left: 12px;
                display: block;
            }
        }
        .adt-badge, .top-consumer-badge, .lowest-badge {
            float: left;
            padding: 0 32px;
        }

    }
    #why-choose-protect-america {
        .content-box;
        ul {
            margin-left: 16px;
            li {
                margin-left: 16px;
                list-style-type: disc;
                padding-bottom: 16px;
                font-size: 16px;
                color: @dark-grey;
                line-height: 18px;
            }
        }
    }
}
/**** The Copper Package ***/
#affordable-home-security, #starter-home-security, #average-american-home-security, #complete-perimeter-home-security, #most-comprehensive-security {
    background: @white url(/static/img/products/copper-package/little-girl-sleeping.jpg) no-repeat;
    width: 664px;
    height: 320px;
    position: relative;
    float:left;
    h1 {
        background: @red;
        height: 56px;
        width: 400px;
        color: @white;
        line-height: 56px;
        padding: 0 16px;
        text-align: right;
        position: absolute;
        bottom: 32px;
        font-size: 14px;
        strong {
            font-weight: bold;

        }
    }
}
#starter-home-security {
    background: @white url(/static/img/products/bronze-package/starter-home-security.jpg) no-repeat;
}
#average-american-home-security {
    background: @white url(/static/img/products/bronze-package/new-home-security.jpg) no-repeat;
}
#most-comprehensive-security {
    background: @white url(/static/img/products/platinum-package/full-family-photo.jpg) no-repeat;
}
#complete-perimeter-home-security {
    background: @white url(/static/img/products/silver-package/average-american-family.jpg) no-repeat;
}

#monitoring-options {
    .content-box;
    #monitoring-rates {
        margin: 16px 0 32px 0;
        li {
            float: left;
            width: 320px;
            img {
                float: left;
                padding-right: 8px;
            }
            h3 {
                color: @blue;
                font-size: 26px;
                font-weight: normal;
                line-height: 26px;
                margin-bottom: 0px;
                letter-spacing: -1px;
                
            }
            p {
                position: relative;
                font-size: 72px;
                font-weight: 300;
                letter-spacing: -4px;
                line-height: 72px;
                color: @dark-grey;
                padding-bottom: 4px;
                sup {
                    font-size: .25em;
                    line-height: .25em;
                    position: relative;
                    bottom: 15px;
                }
                span {
                    font-size: .5em;
                    line-height: .5em;
                    position: relative;
                    bottom: 26px;
                    left: 4px;
                    letter-spacing: 0px;
                }
                strong {
                    font-size: .25em;
                    line-height: .25em;
                    font-weight: normal;
                    letter-spacing: 0;
                    position: relative;
                    right: 32px;
                }
            }
            .button-link {
                margin-left: 125px;
            }
            
        }
    }

}
#adt-comparison {
    margin-bottom: 32px;
    border-bottom: 1px solid @v-light-grey;
    #extra-benefits {
        .small-box;
        ul {
            li {
                font-size: 12px;
                width: 350px;
                text-align: justify;
                padding: 9px 0 10px;
                line-height: 16px;
                img {
                    float: left;
                    margin-right: 16px;
                    position: relative;
                    bottom: 4px;
                    vertical-align: middle;
                }
            }
        }
    }
    #adt-price-chart {
        .big-box;
        table {
        width: 90%;
            td {
            
                font-size: 16px;
                padding: 8px;
                font-weight: bold;
                strong {
                    font-size: 12px;
                    font-weight: normal;
                }
            }
            tfoot {
                td {
                    text-align: center;
                    padding: 0;
                    padding-top: 4px;
                }
            }
        }
    }
}
#customer-testimonials {
    .content-box;
    padding-bottom: 0px;
    h2 {
        margin-bottom: 16px;
    }
    ul {
        margin-right: 0;
    }
    .customer-name {
        float: left;
        width: 175px;
        margin: 24px 32px 0 0;
        text-align: right;
        h4 {
            color: @blue;
            font-weight: 300;
            font-size: 32px;
            text-transform: uppercase;
            text-align: right;
            line-height: 36px;
            span {
                display: block;
                font-size: 16px;
                line-height: 18px;
                color: @dark-grey;
                font-weight: normal;
            }
        }
        strong {
            display: block;
            margin-bottom: 16px;
            font-size: normal;
            color: @dark-grey;
            font-size: 12px;
        }
    }
    p {
        float: left;
        padding: 16px;
        border: 1px solid @light-grey;
        font-size: 16px;
        color: @dark-grey;
        line-height: 32px;
        font-weight: normal;
        width: 710px;
        text-align: justify;
        position: relative;
        .testimonial-arrow {
            .base-sprite(-164px, 0px);
            width: 24px;
            height: 32px;
            position: absolute;
            left: -21px;
            top: 24px;
            
        }
    }
}

/************** Existing Systems ****************/
body.cell-takeover {
    #existing-systems {
        .content-box(664px);
    }
    #existing-system-overview {
        .content-box(400px);
        .text-compensate(300px);
        padding-left: 250px;
        padding-top: 16px;
    }
    #old-security-system-image {
        .image-break(-300px);
    }
    #cellular-connection {
        .half-box;
        .text-bump(120px);
        img {
            padding-right: 0;
        }
    }
    #cut-wire-image {
        .half-box;
    }
    #no-phone-line {
        .half-box;
        .text-compensate(300px);
    }
    #nationwide-coverage, #helpful-tech-support, #save-money {
        .third-box;
        text-align: center;
        h3 {
          margin-bottom: 10px;
          padding: 0 16px;
        }
        p {
            padding: 0 16px;
            font-size: 14px;
            line-height: 22px;
        }
    }
}
/************** GPS Vehicle Tracking ****************/

body.gps {
    #vehicle-gps {
        .content-box(664px);
        margin-right: 4px;
    }
    #gps-tracking-car {
        .small-box;
        .image-break;
        left: -165px;
    }
    #gps-tracking-overview {
        .big-box;
        .content-box(406px);
        .text-compensate(300px);
        .text-bump(50px);
        padding-left: 250px;
    }
    #location-found-image {
        .text-compensate(350px);
    }
    #lost-your-car {
        .half-box ;
        .text-bump(175px);
        .absolute;
    }
    #speed-limit-sign {
        .half-box
    }
    #customizable-notifications {
        .half-box;
        .text-bump(50px);
    }
    #access-from-computer, #plug-n-play, #monitor-elderly-drivers, #company-vehicle-tracker {
        .fourth-box;
        p {
            padding: 0 8px;
        }
    }
}
/************** Interactive Video Security ****************/
body.video {
    #interactive-video-overview {
        .content-box(664px);
        #laptop-and-camera-image {
            .image-break;
            top: 50px;
        }
        #interactive-video-overview-content {
            .content-box(400px);
            .text-compensate(300px);
            .text-bump(50px);
            padding-left: 250px;
        }
    }
    #video-security-for-your-home, #video-security-for-your-business {
        .half-box;
        h2 {
            padding: 0 32px;
            text-decoration: none;
        }
        a {
            text-decoration: none;
            h2 {
                text-decoration: none;
                &:hover {
                    color: @blue;
                    text-decoration: underline;
                }
            }
        }
        p {
            padding: 0 32px;
        }
    }
    #video-security-for-your-home {
        h2, p {
            padding-left: 0;
        }
    }
    #video-security-for-your-business {
        h2, p {
            padding-right: 0;
        }
        .button-link {
            padding-left: 32px;
            
        }
    }
    #video-security-anywhere {
        .half-box;
        .text-bump(50px);
    } 
    #i-phone-compatible {
        .half-box;
        .center;
    }
    #already-own-system, #wifi-compatible, #online-archived-video {
        .third-box;
        text-align: center;
        h3 {
          margin-bottom: 10px;
          padding: 0 16px;
        }
        p {
            padding: 0 16px;
            font-size: 14px;
            line-height: 22px;
        }
    }
}
body.video-home, body.video-business {
    #interactive-video-home-overview, #interactive-video-business-overview {
        .content-box(664px);
        padding: 32px 0 0;
        #home-overview-image, #business-overview-image {
            .content-box(300px);
        }
    }
    #nanny-cam, #employee-watch {
        .content-box;
        img {
            float: left;
        }
        #babysitter-content, #employee-content {
            .big-box;
            padding: 32px 0 0 32px;
            
        }
    }
    #child-safety, #elderly-parents, #check-on-pets, #after-hours, #employee-theft, #deter-shoplifters {
        .third-box;
        text-align: center;
        h3 {
          margin-bottom: 10px;
          padding: 0 16px;
        }
        p {
            padding: 0 16px;
            font-size: 14px;
            line-height: 22px;
        }
    }
    #camera-callout {
        .content-box;
        img {
            float: left;
        }
        #camera-callout-content {
            .content-box(480px);
            padding: 48px 0 0 32px;
        }
        table {
            td {
                width: 20%;
                vertical-align: middle;
                padding: 15px 0;
                border: 1px solid @light-grey;
                border-top: none;
                padding: 16px;
                font-size: 10px;
                line-height: 12px;
                li {
                    padding-bottom: 12px;
                }
                .fade-fast;
                &:hover {
                  background: @v-light-blue+10;
                  .fade-fast;
                }
                span {
                    font-size: 16px;
                    display: block;
                    font-weight: bold;
                }
                &.button {
                    border-right: none;
                }
                &.omega {
                    border-bottom: none;
                }
                &.call-out {
                    background: #fffee4;
                    font-size: 18px;
                    font-weight: bold;
                }
            }
            tr {
                .fade-slow;
                &:hover {
                    background: @v-light-blue;
                    .fade-fast;   
                }
                
            }
            .blank-box {
                border-right: 1px solid @light-grey;
            }
            th {
                background: @light-blue;
                border: 1px solid @light-grey;
                padding: 5px;
                text-align: center;
                vertical-align: middle;
                font-size: 15px;
                font-weight: bold;
                &.alpha {
                    background: none;
                    border-top: none;
                    border-bottom: none;
                }
                &.omega {
                    background: none;
                    border-top: none;
                    border-right: none;
                    border-bottom: none;
                }
            }
        }

    }

}
/************** Equipment ****************/
body.equipment {
    #simon-xt-control-panel-overview {
        .bottom-rule;
        #simon-xt-image {
            .big-box;
        }
        #simon-xt-content {
            .small-box;
            .text-compensate(300px);
            .text-bump(50px);
            h1 {
                font-size: 16px;
                line-height: 16px;
                margin-bottom: 0;
            }
        }
    }
    #three-main-products {
        .content-box;
        #door-window-sensors, #smoke-detectors, #ge-simon-xt-touchscreen {
            .content-box(320px);
            text-align: center;
            p {
                text-align: justify;
                padding: 0 16px;
            }
        }
    }
    #four-product-categories {
        .content-box;
        #security-sensors, #gps-device, #home-security-cameras, #home-security-accessories {
            width: 240px;
            float: left;
            text-align: center;
            p {
                padding: 0 8px;
            }
        }
    }
}
body.home-automation {
    #home-automation-overview {
        .content-box(664px);
        img {
            .image-break(-32px);
        }
        #home-automation-content {
            .content-box(339px);
            padding-left: 300px;
            h1 {
                margin-bottom: 0;
            }
            
        }
    }
    #x10-lamp, #x10-appliance, #x10-power-horn {
        .content-box(320px);
        text-align: center;
        p {
            text-align: justify;
            padding: 0 16px;
        }
    }
    
    
}
body.accessories {
    #simon-xt-touchscreen {
        .content-box(664px);
        img {
            width: 430px;
            .image-break(-160px);
        }
        #touchscreen-content {
            .content-box(339px);
            padding-left: 300px;
            h1 {
                margin-bottom: 0;
            }
            
        }
    }
    #wireless-keypad, #keychain-remote, #secret-keypad, #solar-light, #medical-panic, #security-yard-sign, #security-window-stickers, #home-automation {
        .content-box(464px);
        padding-right: 16px;
        text-align: center;
        p, h2, ul, h3 {
            text-align: left;
        }
        ul {
            margin-left: 16px;
            li {
                margin-left: 16px;
                list-style-type: disc;
                padding-bottom: 16px;
                font-size: 16px;
                color: @dark-grey;
                line-height: 18px;
            }
        }
    }
    #home-automation {
        padding-right: 0;
        padding-left: 0;
        width: 960px;
        img {
            float: left;
            padding-right: 16px;
        }
        #home-automation-content {
            float: left;
            width: 600px;
            margin-top: 48px;
        }
    }
    #medical-panic {
        padding-right: 0;
        padding-left: 0;
        width: 960px;
    }
    
    
}
body.secret-keypad {
    #secret-keypad-overview {
        .content-box(664px);
        margin-top: 32px;
        #top-secret-background {
            position: absolute;
            width: 664px;
            z-index: -1;
        }
        p {
            padding-left: 288px;
            padding-right: 32px;
            padding-top: 96px;
        }
    }
    #no-code-needed, #case-emergency, #hide-in-garage, #convenient-control {
        .content-box(464px);
        padding-right: 16px;
        text-align: center;
        p, h2, ul, h3 {
            text-align: left;
        }
        ul {
            margin-left: 16px;
            li {
                margin-left: 16px;
                list-style-type: disc;
                padding-bottom: 16px;
                font-size: 16px;
                color: @dark-grey;
                line-height: 18px;
            }
        }
    }
    #worried-kids, #arm-before-bed, #panic-room {
        .content-box(320px);
        text-align: center;
        p {
            text-align: justify;
            padding: 0 16px;
        }
    }
}
body.touchscreen, body.simon-xt {
    #touchscreen-main, #ge-simon-xt-main {
        .content-box(664px);
        #main-image {
            width: 325px;
            .image-break(-160px);
        }
        #main-content {
            width: 339px;
            float: left;
            padding-left: 300px;
        }
    }
    #touchscreen-features {
        .content-box;
        text-align: center;
        h2 {
            text-align: left;
        }
        p {
            text-align: left;
        }
        img {
            position: relative;
            right: 100px;
        }
        #tech-specs {
            position: absolute;
            width: 309px;
            bottom: 0px;
            right: 0px;
            font-size: 10px;
            line-height: 12px;
            background: rgba(255,255,255,.5);
            z-index: 50;
            tr {
                th {
                    text-align: center;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 16px;
                    padding: 4px;
                    background: @light-blue;
                    border: 1px solid @v-light-grey;

                }
                td {
                    padding: 4px;
                    vertical-align: middle;
                    border: 1px solid @v-light-grey;
                    border-top: none;
                    border-right: none;
                    &.omega {
                        border-right: 1px solid @v-light-grey;
                    }
                }
            }
        }
    }
}
body.simon-3 {
    #ge-simon-3-main {
        .content-box(664px);
        #main-image {
            width: 325px;
            .image-break(-200px);
        }
        #main-content {
            width: 289px;
            float: left;
            padding-left: 350px;
            padding-top: 32px;
            padding-bottom: 120px;
        }
    }
    #simon-3-features {
        .content-box;
        text-align: center;
        h2 {
            text-align: left;
        }
        p {
            text-align: left;
        }
        img {
            position: relative;
            right: 160px;
        }
        #tech-specs {
            position: absolute;
            width: 309px;
            bottom: 0px;
            right: 0px;
            font-size: 10px;
            line-height: 12px;
            background: rgba(255,255,255,.5);
            z-index: 50;
            tr {
                th {
                    text-align: center;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 16px;
                    padding: 4px;
                    background: @light-blue;
                    border: 1px solid @v-light-grey;

                }
                td {
                    padding: 4px;
                    vertical-align: middle;
                    border: 1px solid @v-light-grey;
                    border-top: none;
                    border-right: none;
                    &.omega {
                        border-right: 1px solid @v-light-grey;
                    }
                }
            }
        }
    }
}
body.simon-xt {
    #ge-simon-xt-main {
        .content-box(664px);
        #main-image {
            width: 325px;
            .image-break(-200px);
        }
        #main-content {
            width: 289px;
            float: left;
            padding-left: 350px;
            padding-top: 32px;
            padding-bottom: 86px;
        }
    }
    #simon-xt-features {
        .content-box;
        text-align: center;
        h2 {
            text-align: left;
        }
        p {
            text-align: left;
        }
        img {
            position: relative;
            right: 60px;
        }
        #tech-specs {
            display: none;
            position: absolute;
            width: 309px;
            bottom: 0px;
            right: 0px;
            font-size: 10px;
            line-height: 12px;
            background: rgba(255,255,255,.5);
            z-index: 50;
            tr {
                th {
                    text-align: center;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 16px;
                    padding: 4px;
                    background: @light-blue;
                    border: 1px solid @v-light-grey;

                }
                td {
                    padding: 4px;
                    vertical-align: middle;
                    border: 1px solid @v-light-grey;
                    border-top: none;
                    border-right: none;
                    &.omega {
                        border-right: 1px solid @v-light-grey;
                    }
                }
            }
        }
    }
}
#equipment-features {
    position: relative;
    .equipment-feature {
        position: absolute;
        width: 24px;
        height: 24px;
        z-index: 250;
        .feature-icon {
            width: 24px;
            height: 24px;
            background: @blue;
            .drop-shadow(0px, 2px, 5px, @black);
            .border-radius(10px, 10px, 10px, 10px);
            border: 2px solid @light-blue;
            z-index: 100;
            position: absolute;
            left: 0;
            top: 0;
            color: @white;
            font-weight: bold;
            cursor: pointer;
            cursor: hand;
            &:hover {
                .background-gradient(@blue, #00568b);
                border: 2px solid @light-blue;
            }
            &.active {
                background: @red;
                border: 2px solid @dark-red;
                &:hover {
                    .background-gradient(#e51a19, #ba1615);
                }
            }
        }
        .feature-content {
            position: absolute;
            width: 250px;
            background: @v-light-grey;
            .background-gradient(@off-white, @v-light-grey);
            border: 1px solid @light-grey;
            top: 50%;
            .drop-shadow(0px, 2px, 5px, @grey);
            padding: 8px;
            .border-radius(5px, 5px, 5px, 5px);
            z-index: 50;
            display: none;
            &.first-open {
                display: block;
            }
            &.right {
                right: 12px;
            }
            &.left {
                left: 12px;
            }
            h3 {
                font-size: 16px;
                font-weight: bold;
            }
            p {
                font-size: 13px;
                line-height: 16px;
                text-align: justify;
                color: @black;
            }
        }
    }
}
body.sensors {
    #door-window-sensor {
        .content-box(664px);
        img {
            float: left;
            padding-right: 16px;
        }
        #door-sensor-content {
            .content-box(300px);
            h1 {
                margin-bottom: 0;
            }
            
        }
    }

    #motion-detector, #garage-door-sensor, #low-temperature-sensor, #glass-break-sensor, #flood-sensor {
        .content-box(464px);
        padding-right: 16px;
        text-align: center;
        p, h2, ul, h3 {
            text-align: left;
        }
        ul {
            margin-left: 16px;
            li {
                margin-left: 16px;
                list-style-type: disc;
                padding-bottom: 16px;
                font-size: 16px;
                color: @dark-grey;
                line-height: 18px;
            }
        }
    }
    #flood-sensor {
        padding-right: 0;
        padding-left: 0;
        width: 960px;
    }
    #garage-door-sensor, #low-temperature-sensor {
        padding-right: 0;
        padding-left: 16px;
    }
    #smoke-detector {
        .content-box;
        padding-top: 8px;
        margin-top: 8px;
        border-top: 1px solid @v-light-grey;
        
        img {
            float: left;
            padding-right: 16px;
        }
        #smoke-detector-content {
            
            .content-box(632px);
            margin-top: 75px;
        }
    }
}
body.door-window-sensor {
    #door-window-sensor-main {
        .content-box(664px);
        #main-image {
            width: 325px;
            float: left;
        }
        #main-content {
            width: 339px;
            float: left;
        }
    }
    #about-door-sensor {
        .content-box;
        #big-front-door {
            .small-box;
            text-align: center;
        }
        #front-door-content {
            padding-top: 100px;
            .big-box;
            p {
                width: 500px;
            }
        }
    }
    #door-window-video {
        .content-box;
        #main-video {
            .big-box;
            padding-top: 8px;
        }
        #other-videos {
            .small-box;
            li {
                margin-bottom: 8px;
                img {
                    float: left;
                    padding-right: 8px;
                }
                p {
                    font-size: 14px;
                    font-weight: bold;
                    padding-right: 8px;
                }
                &.active {
                    background: @v-light-grey;
                    img {
                        opacity: .5;
                        
                    }
                    .button-link {
                        a {
                            background: #E51A19;
                            color: white;
                            background-image: -moz-linear-gradient(top, #e51a19, #ba1615);
                            background-image: -webkit-gradient(linear, left top, left bottom, from(#e51a19), to(#ba1615));
                            cursor: default;
                            &:hover {
                                background-image: -moz-linear-gradient(center top, #e51a19, #920403);
                                background-image: -webkit-gradient(linear, left top, left bottom, from(#e51a19), to(#920403));
                                border: 1px solid #8d0400;
                                border-bottom: 1px solid #6e0401;
                                -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
                                -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
                                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
                            }
                        }
                        
                    }
                }
            }
        }
    }
    #in-your-home {
        .content-box;
        table {
            td {
                width: 20%;
                text-align: center;
                vertical-align: middle;
                padding: 15px 0;
                border: 1px solid @light-grey;
                border-left: none;
                border-top: none;
                .fade-fast;
                &:hover {
                  background: @v-light-blue+10;
                  .fade-fast;
                }
                span {
                    font-size: 16px;
                    display: block;
                    font-weight: bold;
                }
                &.button {
                    border-right: none;
                }
                &.omega {
                    border-bottom: none;
                }
                &.call-out {
                    background: #fffee4;
                    font-size: 18px;
                    font-weight: bold;
                }
            }
            tr {
                .fade-slow;
                &:hover {
                    background: @v-light-blue;
                    .fade-fast;   
                }
                
            }
            .blank-box {
                border-right: 1px solid @light-grey;
            }
            th {
                background: @light-blue;
                border: 1px solid @light-grey;
                padding: 5px;
                text-align: center;
                vertical-align: middle;
                font-size: 15px;
                font-weight: bold;
                border-left: none;
                &.alpha {
                    background: none;
                    border-top: none;
                    border-bottom: none;
                }
                &.omega {
                    background: none;
                    border-top: none;
                    border-right: none;
                    border-bottom: none;
                }
            }
        }
    }
}
body.flood-sensor {
    #flood-sensor-image {
        .small-box;
    }
    #flood-sensor-overview {
        .big-box;
        .text-compensate(300px);
        .text-bump(50px);
    }
    #know-the-problem {
        .half-box;
        .text-bump(25px);
    }

}