@import "style";

// Styles for the affiliate resources page
#affiliate-reports {
    .content-box;
    margin: 16px 0;
    border-bottom: 1px solid @light-grey;
    .button-link {
        margin: 16px auto;
        width: 290px;
    }
}
.content-area {
    .content-box;
    text-align: center;
    h2 {
        text-align: left;
    }
    img {
        margin-right: 16px;
        margin-bottom: 8px;
    }
    h3 {
        font-size: 20px;
        padding-left: 0;
        color: @blue;
        margin: 16px 0 8px;
        padding-top: 8px;
        border-top: 1px solid @v-light-grey;
    }
    .dl-item {
        .third-box;
        text-align: center;
        p {
            font-size: 10px;
            margin-top: 8px;
        }
        img {
            float: none;
            max-width: 319px;
            max-height: 88px;
        }
        .button-link {
            text-align: center;
        }
    }
}