@import "style";


// Styles for the Security-101 Pages

body.security-news {
    #headline-image {
        height: 391px;
        width: 245px;
        overflow: hidden;
        position: relative;
        float: left;
        border: 1px solid @light-grey;
        border-right: none;
        img {
            position: relative;
            height: 100%;
        }
    }
    #security-news-headline {
        .content-box(669px);
        background: @off-white;
        margin: 0 0 10px;
        .news-date {
            padding: 20px;
            background: @black;
            background-image: -moz-linear-gradient(top,@black,#111);
            background-image: -webkit-gradient(linear,left top,left bottom,from(@black),to(#111));
            width: 200px;
            height: 351px;
            border: 1px solid #000;
            border-right: 5px solid #000;
            float: left;
            position: relative;

            p {
                color: @v-light-grey;
                font-size: 24px;
                font-weight: 800;
                line-height: 0;
                text-align: center;
                text-transform: uppercase;
                font-weight: 300;
                padding-top: 88px;
            }
            span {
                display: block;
                font-size: 150px;
                line-height: 150px;
                padding-bottom: 8px;
                font-weight: 800;
            }   
        }
        #headline-article {
          float: left;
          width: 357px;
          padding: 16px 32px;
          border: 1px solid @light-grey;
          height: 359px;
          h1 {
            margin: 0;
            padding: 0;
            font-size: 20px;
            line-height: 21px;
            font-weight: bold;
          }
          ul {
            font-size: 8px;
            text-transform: uppercase;
            font-weight: bold;
            margin-top: 8px;
            li {
                display: inline;
                margin-left: 4px;
                a {
                    background: @v-light-grey;
                    color: @grey;
                    padding: 2px 4px;
                    text-transform: uppercase;
                    font-size: 8px;
                    text-decoration: none;
                    .fade-slow;
                    &:hover {
                        background: @link-blue;
                        .fade-fast;
                        color: @white;
                    }
                }
            }
          }
        }
    }
    .news-article {
        .text-bump(20px);
        .fourth-box;
        .news-date {
            padding: 20px;
            background: @black;
            background-image: -moz-linear-gradient(top,@black,#222);
            background-image: -webkit-gradient(linear,left top,left bottom,from(@black),to(#222));
            width: 183px;
            height: 158px;
            border: 1px solid #000;
            margin: 0 auto 8px;
            p {
                color: @v-light-grey;
                font-size: 24px;
                font-weight: 800;
                line-height: 0;
                text-align: center;
                text-transform: uppercase;
                font-weight: 300;
                padding: 0;
            }
            span {
                display: block;
                font-size: 150px;
                line-height: 150px;
                padding-bottom: 8px;
                font-weight: 800;
            }   
        }
        .image-container {
            height: 200px;
            overflow: hidden;
            width: 225px;
            margin: 0 auto 8px;
            img {
                position: relative;
                left: -25%;
                top: -25%;
            }
        }
        p {
          padding: 8px 16px 0;
          margin-bottom: 0;
        }
        .button-link {
          text-align: center;
        }
        ul {
            font-size: 8px;
            text-transform: uppercase;
            font-weight: bold;
            margin: 4px 16px 0;
            border-top: 1px solid @v-light-grey;
            padding-top: 4px;
            li {
                display: inline;
                margin-left: 4px;
                a {
                    background: @v-light-grey;
                    color: @grey;
                    padding: 2px 4px;
                    text-transform: uppercase;
                    font-size: 8px;
                    text-decoration: none;
                    .fade-slow;
                    &:hover {
                        background: @link-blue;
                        .fade-fast;
                        color: @white;
                    }
                }
            }
        }

    }
    #extra-content {
        border-top: 1px solid @v-light-grey;
        padding-top: 16px;
        #news-videos {
            .content-box(300px);
            div.button-link {
                margin-top: 16px;
                text-align: center;
            }
            .video {

                margin-bottom: 8px;
                h3 {
                    font-size: 14px;
                    font-weight: 800;
                    line-height: 16px;
                    padding: 0;
                    color: @black;
                }
                span {
                    display: block;
                    font-size: 10px;
                }
                p {
                    font-size: 11px;
                    line-height: 18px;
                    padding-bottom: 0;
                    margin-bottom: 0;
                }
                img {
                    float: left;
                    padding-right: 8px;
                }
                &.big {
                    .bottom-rule;
                    padding-bottom: 8px;
                    margin-bottom: 8px;
                }
            }

        }
        #news-topics {
            .content-box(240px);
            ul {
                li {
                    font-size: 16px;
                    padding: 8px;
                    background: @off-white;
                    a {
                        font-size: 14px;
                        font-weight: 800;
                        line-height: 16px;
                        margin-bottom: 5px;
                        padding: 0;
                        color: @link-blue;
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                            color: @blue;
                        } 
                    }
                    &.odd {
                        background: @v-light-grey;
                    }
                }
            }
            .button-link {
                text-align: center;
            }
        }
        #news-archives {
            .content-box(350px);
            border: 1px solid @v-light-grey;
            border-top: none;
            border-bottom: none; 
            margin: 0 16px;
            padding: 0 16px;
            .archived-article {
                .news-content {
                    margin: 20px 32px 0 75px;
                    h3 {
                        font-size: 14px;
                        font-weight: 800;
                        line-height: 16px;
                        margin-bottom: 5px;
                        padding: 0;
                        color: @black;
                    }
                    p {
                        font-size: 11px;
                        line-height: 18px;
                    }
                
                }
                p.date{
                    width: 60px;
                    float: left;
                    text-align: center;
                    padding: 0;
                    margin: 0 8px 0 0;
                    font-weight: 800;
                    font-size: 24px;
                    line-height: 39px;
                    letter-spacing: 0;
                    background: @v-light-grey;
                    .drop-shadow(0px, 2px, 5px, #ccc);
    
                    span {
                        background: @blue;
                        color: @white;
                        display: block;
                        font-weight: 800;
                        letter-spacing: 1px;
                        text-align: center;
                        text-transform: uppercase;
                        font-size: 13px;
                        line-height: 17px;
                    }
                }
            }
            .button-link {
                text-align: center;
            }
        }
    }
}
