@import "style";


// Styles for the Security-101 Pages

#right-column {
    float: left;
    width: 275px;
    margin-left: 16px;
    text-align: center;
    form {
        margin-left: 0;
        text-align: left;
    }
    #social-media {
        .content-box(275px);
        text-align: left;
        margin-bottom: 16px;
        .bottom-rule;
        padding-bottom: 8px;
    }

}
#security-news-headline {
    
    .content-box(669px);
    background: @off-white;
    margin: 0 0 10px;
    #headline-image {
        height: 391px;
        width: 245px;
        overflow: hidden;
        position: relative;
        float: left;
        border: 1px solid @light-grey;
        border-right: none;
        img {
            position: relative;
            height: 100%;
        }
    }
    .news-date {
        padding: 20px;
        background: @black;
        background-image: -moz-linear-gradient(top,@black,#111);
        background-image: -webkit-gradient(linear,left top,left bottom,from(@black),to(#111));
        width: 200px;
        height: 351px;
        border: 1px solid #000;
        border-right: 5px solid #000;
        float: left;
        position: relative;

        p {
            color: @v-light-grey;
            font-size: 24px;
            font-weight: 800;
            line-height: 0;
            text-align: center;
            text-transform: uppercase;
            font-weight: 300;
            padding-top: 88px;
        }
        span {
            display: block;
            font-size: 150px;
            line-height: 150px;
            padding-bottom: 8px;
            font-weight: 800;
        }   
    }
    #headline-article {
      float: left;
      width: 357px;
      padding: 16px 32px;
      border: 1px solid @light-grey;
      height: 359px;
      h1 {
        margin: 0;
        padding: 0;
        font-size: 20px;
        line-height: 21px;
        font-weight: bold;
      }
      ul {
        font-size: 8px;
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 8px;
        li {
            display: inline;
            margin-left: 4px;
            a {
                background: @v-light-grey;
                color: @grey;
                padding: 2px 4px;
                text-transform: uppercase;
                font-size: 8px;
                text-decoration: none;
                .fade-slow;
                &:hover {
                    background: @link-blue;
                    .fade-fast;
                    color: @white;
                }
            }
        }
      }
    }
}
#article-container {
    border-top: 1px solid @v-light-grey;
    padding-top: 8px;
    h3 {
        color: @black;
        &:hover {
            text-decoration: underline;
            color: @link-blue;
        }
    }
    h2 {
        color: @black;
        font-size: 28px;
        font-weight: 300;
        line-height: 28px;
        margin-bottom: 10px;
        letter-spacing: -1px;
        a {
            color: @black;
            text-decoration: none;
        }
        a:hover {
            color: @link-blue;
            text-decoration: underline;
        }
    }
    .news-article {
        .text-bump(20px);
        .fourth-box;
        .news-date {
            padding: 20px;
            background: @black;
            background-image: -moz-linear-gradient(top,@black,#222);
            background-image: -webkit-gradient(linear,left top,left bottom,from(@black),to(#222));
            width: 183px;
            height: 158px;
            border: 1px solid #000;
            margin: 0 auto 8px;
            p {
                color: @v-light-grey;
                font-size: 24px;
                font-weight: 800;
                line-height: 0;
                text-align: center;
                text-transform: uppercase;
                font-weight: 300;
                padding: 0;
            }
            span {
                display: block;
                font-size: 150px;
                line-height: 150px;
                padding-bottom: 8px;
                font-weight: 800;
            }   
        }
        .image-container {
            height: 200px;
            overflow: hidden;
            width: 225px;
            margin: 0 auto 8px;
            img {
                position: relative;
                left: -25%;
                top: -25%;
            }
        }
        h3 {
            color: @black;
            &:hover {
                text-decoration: underline;
                color: @link-blue;
            }
        }
        a  {
            text-decoration: none;
        }
        p {
          padding: 8px 16px 0;
          margin-bottom: 0;
        }
        .button-link {
          text-align: center;
        }
        ul {
            font-size: 8px;
            text-transform: uppercase;
            font-weight: bold;
            margin: 4px 16px 0;
            border-top: 1px solid @v-light-grey;
            padding-top: 4px;
            li {
                display: inline;
                margin-left: 4px;
                a {
                    background: @v-light-grey;
                    color: @grey;
                    padding: 2px 4px;
                    text-transform: uppercase;
                    font-size: 8px;
                    text-decoration: none;
                    .fade-slow;
                    &:hover {
                        background: @link-blue;
                        .fade-fast;
                        color: @white;
                    }
                }
            }
        }
    
    }
}

#extra-content {
    border-top: 1px solid @v-light-grey;
    padding-top: 16px;
    #news-videos {
        .content-box(300px);
        div.button-link {
            margin-top: 16px;
            text-align: center;
        }
        a {
            text-decoration: none;
        }
        .video {
            
            margin-bottom: 8px;
            &:hover {
                background: @v-light-blue;
            }
            h3 {
                font-size: 14px;
                font-weight: 800;
                line-height: 16px;
                padding: 0;
                color: @black;
            }
            span {
                display: block;
                font-size: 10px;
            }
            p {
                font-size: 11px;
                line-height: 18px;
                padding-bottom: 0;
                margin-bottom: 0;
            }
            img {
                float: left;
                padding-right: 8px;
            }
            &.big {
                .bottom-rule;
                padding-bottom: 8px;
                margin-bottom: 8px;
                &:hover {
                    background: none;
                }
                a:hover {
                    text-decoration: underline;
                }
            }
        }

    }
    #news-topics {
        .content-box(240px);
        ul {
            li {
                font-size: 16px;
                padding: 8px;
                background: @off-white;
                &:hover {
                    background: @v-light-blue;
                }
                a {
                    font-size: 14px;
                    font-weight: 800;
                    line-height: 16px;
                    margin-bottom: 5px;
                    padding: 0;
                    color: @link-blue;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                        color: @blue;
                    } 
                }
                &.odd {
                    background: @v-light-grey;
                    &:hover {
                        background: @v-light-blue;
                    }
                }
            }
        }
        .button-link {
            text-align: center;
        }
    }
    #news-archives {
        .content-box(350px);
        border: 1px solid @v-light-grey;
        border-top: none;
        border-bottom: none; 
        margin: 0 16px;
        padding: 0 16px;
        a {
            text-decoration: none;
        }
        .archived-article {
            &:hover {
                background: @v-light-blue;
            }
            .news-content {
                margin: 20px 32px 0 75px;
                h3 {
                    font-size: 14px;
                    font-weight: 800;
                    line-height: 16px;
                    margin-bottom: 5px;
                    padding: 0;
                    color: @black;
                }
                p {
                    font-size: 11px;
                    line-height: 18px;
                }
                a {
                    text-decoration: none;
                }
                span {
                    color: @link-blue;
                    &:hover {
                        text-decoration: underline;
                        color: @blue;
                    }
                }
            
            }
            p.date{
                width: 60px;
                float: left;
                text-align: center;
                padding: 0;
                margin: 0 8px 0 0;
                font-weight: 800;
                font-size: 24px;
                line-height: 39px;
                letter-spacing: 0;
                background: @v-light-grey;
                .drop-shadow(0px, 2px, 5px, #ccc);

                span {
                    background: @blue;
                    color: @white;
                    display: block;
                    font-weight: 800;
                    letter-spacing: 1px;
                    text-align: center;
                    text-transform: uppercase;
                    font-size: 13px;
                    line-height: 17px;
                }
            }
        }
        .button-link {
            text-align: center;
        }
    }
}
/************* Single Article ****************/
#single-article {
    .content-box(653px);
    margin-right: 16px;

    #article-header {
        float: left;
        width: 225px;
        margin-right: 16px;
        img {
            width: 225px;
            float: right;
        }
        .news-date {
            padding: 20px;
            background: @black;
            background-image: -moz-linear-gradient(top,@black,#222);
            background-image: -webkit-gradient(linear,left top,left bottom,from(@black),to(#222));
            width: 183px;
            height: 158px;
            float: left;
            border: 1px solid #000;
            margin-right: 8px;
            p {
                color: @v-light-grey;
                font-size: 24px;
                font-weight: 800;
                line-height: 0;
                text-align: center;
                text-transform: uppercase;
                font-weight: 300;
                padding: 0;
            }
            span {
                display: block;
                font-size: 150px;
                line-height: 150px;
                padding-bottom: 8px;
                font-weight: 800;
            }   
        }
    }
    #article-topics {
        font-size: 8px;
        text-transform: uppercase;
        font-weight: bold;
        li {
            display: inline;
            margin-left: 4px;
            a {
                background: @v-light-grey;
                color: @grey;
                padding: 2px 4px;
                text-transform: uppercase;
                font-size: 8px;
                text-decoration: none;
                .fade-slow;
                &:hover {
                    background: @link-blue;
                    .fade-fast;
                    color: @white;
                }
            }
        }
    }
    #article-breadcrumb {
        font-size: 8px;
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 8px;
        border-top: 1px solid @v-light-grey;
        padding-top: 8px;
        li {
            display: inline;
            background: @v-light-grey;
            position: relative;
            padding: 2px 16px;
            &.omega {
                background: @v-light-grey;
                &.page-turn {
                    &:after {
                        content:"";
                        position:absolute;
                        top:0;
                        right:0;
                        border-width:0 6px 6px 0px;
                        border-style:solid;
                        border-color:@light-grey @white;
                        display:block; width:0;
                    }
                }
                &.left-slash {
                    &:before {
                        content:"";
                        position:absolute;
                        top:0;
                        left:0;
                        border-width: 0px 0px 14px 7px;
                        border-style:solid;
                        border-color:@v-light-grey @white;
                        display:block; width:0;
                    }
                }
                &:hover {
                    background: @v-light-grey;
                    &.left-slash {
                        &:before {
    
                           border-color:@v-light-grey @white;
                        }
                    }
                }
            }
            &.right-slash {
                &:after {
                    content:"";
                    position:absolute;
                    bottom:0;
                    right:0;
                    border-width:14px 7px 0 0;
                    border-style:solid;
                    border-color:@v-light-grey @white;
                    display:block; width:0;
                }
            }
            &.left-slash {
                &:before {
                    content:"";
                    position:absolute;
                    top:0;
                    left:0;
                    border-width: 0px 0px 14px 7px;
                    border-style:solid;
                    border-color:@v-light-grey @white;
                    display:block; width:0;
                }
            }
            &:hover {
                background: @link-blue;
                a {
                    color: @white;
                }
                &.right-slash {
                    &:after {

                       border-color:@link-blue @white;
                    }
                }
                &.left-slash {
                    &:before {

                       border-color:@link-blue @white;
                    }
                }
            }
            a {
                padding: 2px 8px;
                color: @grey;
                text-transform: uppercase;
                font-size: 8px;
                text-decoration: none;
            }
        }
    }

}
/************* Select Archive Date ***************/
#archive-bar.select {
    width: 960px;
    background: @v-light-blue;
    padding: 4px 0;
    margin-bottom: 8px;
    h1 {
        color: @black;
        font-size: 20px;
        line-height: 22px;
        margin: 12px 0 8px 16px;
        letter-spacing: 0;
        float: left;
    }
    form {
        margin-top: 11px;        
        height: 36px;
        input {
            height: 20px;
            margin: 0 16px 0px 16px;
            float: left;
            width: 600px;
        }
        button {
            float: left;
            margin-top: 0;
        }
    }
    ul {
        width: 936px;
        margin: 4px auto;
        li {
            float: left;
            a {
                display: block;
                margin: 0 2px;
                font-weight: 800;
                text-align: center;
                background: @light-blue;
                color: @v-light-blue;
                .border-radius;
                cursor: default;
                text-decoration: none;
                border: 1px solid transparent;
                padding: 0 4px;

            }
            &.has-data {
                a {
    
                    background: @blue;
                    color: @white;
                    background-image: -moz-linear-gradient(top,@blue,#005f9a);
                    background-image: -webkit-gradient(linear,left top,left bottom,from(@blue),to(#005f9a));
                    cursor: pointer;
                    cursor: hand;
                    text-decoration: none;
                    color: @white;
                    .fade-fast;
                    &:hover {
                        background-image: -moz-linear-gradient(center top , @blue, #00568b);
                        background-image: -webkit-gradient(linear,left top,left bottom,from(@blue),to(#00568b));
                        border: 1px solid #094182;
                        border-bottom: 1px solid @dark-blue;
                        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.3);
                        -moz-box-shadow: 0 1px 1px rgba(0,0,0,.3);
                        box-shadow: 0 1px 1px rgba(0,0,0,.3);
                    }
                }
                &.active {
                    a {
                        background: @light-green;
                        color: @green;
                        border: 1px solid @green;
                        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.3);
                        -moz-box-shadow: 0 1px 1px rgba(0,0,0,.3);
                        box-shadow: 0 1px 1px rgba(0,0,0,.3);
                        cursor: default;
                        .fade-slow;
                        &:hover {
                            background: @light-green;
                            color: @green;
                            border: 1px solid @green;
                        }
                    }
                }
            }
        }
    }
}
#city-content, #state-list, #search-results {
     .content-box(648px);
    margin-right: 4px;
    padding: 8px;
    .alphabet-content {
        float: left;
        padding-top: 32px;
        h2 {
            .bottom-rule;
            padding: 0 0 4px 4px;
            float: none;
        }

    }
        ul {
            li {
                display: inline;
                padding-right: 12px;
                font-size: 12px;
                line-height: 24px;
            }
        }
}
#search-results {
    background: @off-white;
    ul {
        li {
            font-size: 14px;
            font-weight: 800;
        }
    }
}
