@import "style";

body.seo-home-security-systems {
    #home-security-systems-overview {
        .content-box(664px);
        #old-security-system-image {
            .image-break(-300px);
        }
        #home-security-content {
            padding-left: 260px;
            padding-top: 64px;
        }
    }
    #home-security-systems-extra-content {
        .content-box;
        img {
            float: left;
            width: 384px;
            padding-top: 48px;
        }
        ul, ol {
            margin-left: 16px;
            width: 560px;
            float: left;
            li {
                margin-left: 16px;
                list-style-type: disc;
                padding-bottom: 16px;
                font-size: 16px;
                color: @dark-grey;
                line-height: 18px;
                text-align: justify;
            }
        }
    }
    #home-security-systems-last-content {
        .content-box;
    }
}
