@import "style";
#left-content {
    float: left;
    width: 670px;
}
.wrapper {
    padding-bottom: 0;
}
#sub-navigation {
    display: none;
}
#call-box {
    margin: 0 0 8px;
}
#top-content {
    background: #efefef;
    width: 100%;
    border-bottom: 1px solid #ccc;
    height: 400px;
    padding-top: 8px;
    position: relative;
    .wrapper {
        height: 400px;
        position: relative;
    }
    #top-hero-banner-controls {
        position: absolute;
        left: 35%;
        bottom: 4px;
        z-index: 999;
        #hero-left-arrow, #hero-right-arrow {
            background: url(/static/img/extra/nav-items.png) 0px 0px no-repeat;
            width: 7px;
            height: 13px;
            float: left;
            margin: 0 4px;
            cursor: pointer;
            cursor: hand;
        }
        #hero-right-arrow {
            background: url(/static/img/extra/nav-items.png) -22px 0px no-repeat;
        }
        #pager-container {
            float: left;
            margin-top: 3px;
            ul {
                width: 30px;
                li {
                    width: 8px;
                    height: 8px;
                    background: url(/static/img/extra/nav-items.png) -7px -3px no-repeat;
                    display: block;
                    float: left;
                    margin: 0px 1px;
                    cursor: pointer;
                    cursor: hand;
                    &.activeSlide {
                        background: url(/static/img/extra/nav-items.png) -15px -3px no-repeat;
                    }
                }
            }
        }
    }
    #top-hero-banner {
        float: left;
        width: 685px;
        position: relative;
        #keychain-banner {
            display: none;
            #keychain-image {
                float: left;
                width: 280px;
                padding-top: 16px;
            }
            #keychain-banner-content {
                float: left;
                width: 373px;
                margin: 16px;
                h2 {
                    font-weight: lighter;
                    font-weight: 100;
                    font-size: 40px;
                    line-height: 40px;
                    margin-top: 24px;
                    span {
                        font-size: 19px;
                        line-height: 22px;
                        color: @blue;
                        font-weight: normal;
                        display: block;
                    }
                }
                p {
                    font-size: 26px;
                    font-weight: 100;
                    padding-top: 70px;
                    strong {
                        font-weight: bold;
                        color: @red;
                    }
                    span {
                        display: block;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 28px;
                    }
                }
                .button-submit {
                    text-align: left;
                    font-size: 16px;
                    font-weight: 16px;
                    font-weight: bold;
                    a {
                        padding: 4px 82px;
                    }
                }
                em {
                    font-size: 10px;
                    display: block;
                    padding-top: 50px;
                }
            }
        }
        #interactive-banner, #touchscreen-banner {
            position: relative;
            height: 400px;
            width: 685px;
            display: none;
            h2 {
                font-weight: 100;
                font-size: 42px;
                line-height: 42px;
                margin-top: 8px;
                display: block;
                text-align: center;
                span {
                    font-size: 19px;
                    line-height: 22px;
                    color: @blue;
                    font-weight: normal;
                    display: block;
                    text-align: center;
                }
            }
            #interactive-image {
                position: absolute;
                bottom: 48px;
                left: -138px;
            }
            #touchscreen-image {
                position: absolute;
                bottom: 16px;
                left: -83px;
            }
            #interactive-banner-content, #touchscreen-banner-content {
                position: absolute;
                right: 16px;
                p {
                    font-size: 30px;
                    font-weight: 100;
                    padding-top: 70px;
                    strong {
                        font-weight: bold;
                        color: @red;
                    }
                    span {
                        display: block;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 28px;
                    }
                }
                .button-link {
                    text-align: left;
                }
                em {
                    font-size: 10px;
                    display: block;
                    padding-top: 50px;
                }
            }
            #touchscreen-banner-content {
                right: 32px;
                em {
                    font-weight: bold;
                    color: @red;
                    text-transform: uppercase;
                    font-size: 24px;
                }
                p {
                    position: relative;
                    strong {
                        text-decoration: line-through;
                        font-weight: 300;
                        color: @black;
                        
                    }
                    em {
                        position: absolute;
                        right: 90px;
                        bottom: 64px;
                        font-weight: bold;
                        color: @red;
                        font-size: 36px;
                    }
                }
            }

        }
    }
}

#quote-form {
    margin-left: 0px;
}
#home-security-systems-overview {
    .content-box(664px);
}
#home-security-systems-extra-content, .home-security-content {
    .content-box;
    #home-security-content {
        padding-top: 48px;
    }
    img {
        float: left;
        width: 384px;
        padding-right: 16px;
    }
    ul, ol {
        margin-left: 16px;
        width: 544px;
        float: left;
        li {
            margin-left: 16px;
            list-style-type: disc;
            padding-bottom: 16px;
            font-size: 16px;
            color: @dark-grey;
            line-height: 18px;
            text-align: justify;
        }
    }
}
.home-security-content {
    img {
        width: auto;
        &.center {
            margin: 0 auto;
            display: block;
            float: none;
        }
    }
}
#home-security-systems-last-content {
    .content-box;
}

