@import "style";
#left-content {
    float: left;
    width: 670px;
}
.wrapper {
    padding-bottom: 0;
}
#sub-navigation {
    display: none;
}
#call-box {
    margin: 0 0 8px;
}
@import "banners/hero-images.less";


#quote-form {
    margin-left: 0px;
}
#hero-wrapper {
    background: #000;
    #hero-image {
        #dependable-security {
            padding: 0 54px;
            h1 {
                font-size: 40px;
                padding-top: 42px;
                line-height: 42px;
            }
            p {
                width: 100%;
                font-size: 16px;
                line-height: 24px;
                span {
                    display: block;
                }
            }
            .main-hero-image {
                position: absolute;
                z-index: -1;
                left: -205px;
            }
            .button-link {
                float: none;
                display: block;
                margin: 0 auto;
                width: 160px;
                margin-top: 80px;
                .drop-shadow(0,2px,5px,#000);
                background: #00aee4;
                color: @white;
                &:hover {
                    background: @white;
                    color: @blue;
                }
            }
        }
    }
}
#home-security-systems-overview {
    .content-box(664px);
}
#home-security-systems-extra-content, .home-security-content {
    .content-box;
    #home-security-content {
        padding-top: 48px;
    }
    img {
        float: left;
        width: 384px;
        padding-right: 16px;
    }
    ul, ol {
        margin-left: 16px;
        width: 544px;
        float: left;
        li {
            margin-left: 16px;
            list-style-type: disc;
            padding-bottom: 16px;
            font-size: 16px;
            color: @dark-grey;
            line-height: 18px;
            text-align: justify;
        }
    }
}
.home-security-content {
    img {
        width: auto;
        &.center {
            margin: 0 auto;
            display: block;
            float: none;
        }
    }
}
#home-security-systems-last-content {
    .content-box;
}

