@import "shop";

#big-choices {
    #home-security-package-choices {
        .big-wrapper {
        padding-bottom: 64px;
            #home-security-packages {
                #copper-security-package, #bronze-security-package {
                    margin-top: 8px;
                }
                .premium-packages {
                    padding-bottom: 8px;
                    background: #145782;
                    margin-right: 0;
                    margin-left: 8px;
                }
            }            
        }
    }
}
#security-information {
    #wireless-security {
        padding: 30px 0;
    }
    #quote-form {
        display: block;
        position: relative;
        float: left;
        .drop-shadow(0,0,0,0);
        width: 265px;
        top: 0;
        border: 1px solid @black;
        label {
            display: none;
        }
        input {
            margin: 16px auto;
            width: 225px;
            display: block;
        }
        button {
            width: 234px;
        }
    }
}