@import "landing-page/basic.less";


#spanish-hero-wrapper {
    background: #95b627 url(/static/img/spanish/hero-image-bg.jpg) center bottom no-repeat;
    width: 100%;
    height: 400px;
    border-bottom: 1px solid @green;
    #spanish-topper {
        width: 1024px;
        margin: 0 auto;
        #hero-image {
            position: absolute;
        }
        #quote-form {
            float: right;
            margin: 4px;
            margin-right: 0;
        }
    }
    #quote-form {
        border: 1px solid #446132;
    }
}
#call-box {
    p {
        font-size: 36px;
    }
}
#security-benefits {
    ul {
        list-style-type: disc;
        margin-left: 22px;
        margin-top: 16px;
        li {
            color: @blue;
            font-size: 20px;
            font-weight: 100;
            line-height: 34px;
        }
    }
}
#security-categories {
    padding-top: 0px;
}