@import "style.less";

@import "banners/hero-images.less";

#sub-navigation {
    margin-bottom: 0;
    display: none;
}
.wrapper {
    margin-bottom: 0;
    padding-bottom: 0;
    width: 1024px;
}

#top-content-holiday #top-hero-banner {
    width: 733px;
    #holiday-banner {
        img {
            left: -204px;
        }
    }
}
#call-box {
    background: @white;
    border: none;
    margin: 16px 0;
    p {
        font-size: 35px;
    }
    &:hover {
        border: none;
        background: none;
    }
}
#security-benefits {
    width: 568px;
    margin-right: 32px;
    float: left;
    #advantage-badges {
        width: 568px;
        padding-bottom: 16px;
        #top-consumer-logo {
            padding: 0 28px;
        }
    }
    p {
        text-align: justify;
    }
    #home-security-video {
        background: url(/static/img/extra/textured-background.png) repeat;
        padding: 16px;
        margin-top: 32px;
        .drop-shadow(0px, 2px, 5px, @light-grey);
    }
}
#home-security-testimonials {
    width: 423px;
    float: left;
    h2 {
        font-weight: 200;
        font-size: 36px;
        line-height: 38px;
    }
    .testimonial {
        margin-top: 8px;
        margin-bottom: 16px;
        p {
            background: @v-light-grey;
            font-size: 20px;
            line-height: 28px;
            font-weight: 200;
            text-align: justify;
            padding: 48px 16px;
            position: relative;
            margin-bottom: 20px;
            .grey-arrow {
                position: absolute;
                bottom: -18px;
                left: 24px;
            }
        }
        h3 {
            background: url(/static/img/extra/testimonial-icon.png) 24px center no-repeat;
            color: @blue;
            font-size: 18px;
            line-height: 20px;
            font-weight: 800;
            height: 40px;
            padding-left: 72px;
            padding-top: 2px;
            span {
                display: block;
                color: @black;
                font-size: 12px;
                line-height: 12px;
                font-weight: normal;
            }
        }
    }
}
#security-categories {
    border-top: 1px solid @v-light-grey;
    padding-top: 32px;
    padding-bottom: 64px;
    width: 1024px;
    position: relative;
    overflow: hidden;
    ul {
        li {
            float: left;
            width: 341px;
            text-align: center;
            h2 {
                font-size: 26px;
                line-height: 28px;
                padding: 16px 32px;
                font-weight: 200;
            }
        }
    }
    #color-band {
        position: absolute;
        z-index: -1;
        bottom: 0;
    }
    #white-arrow {
        position: absolute;
        z-index: -1;
        left: -925px;
        bottom: 0;
    }
}
.big-info {
    padding: 16px 0;
    .big-wrapper {
        width: 1024px;
        margin: 0 auto;
    }
}
#home-security-button-choice {
    display: none;
}
#home-security-choice {
    background: url(/static/img/spanish/home-security-bg.png) repeat;
    display: block;
}
#video-security-choice {
    background: url(/static/img/spanish/video-bg.png) repeat;
    #video-security-main-image {
        float: left;
        width: 424px;
        text-align: center;
    }
    #video-security-overview {
        float: left;
        width: 568px;
        padding: 0 16px;
        h2 {
            color: @white;
            font-weight: 100;
            font-size: 32px;
            padding-bottom: 16px;
            text-shadow: 0px 2px 0px #8f191a;
            line-height: 32px;
            padding-top: 82px;
            
        }
        p {
            text-align: justify;
            color: @white;
            line-height: 24px;
        }
    }
}
#smart-app-choice {
    background: url(/static/img/spanish/smart-app-bg.png) repeat;
}