@import "pasecurity/style.less";

@black: #333;

body.index-spring {
    #top-section-wrapper {
        #top-section {
            ul {
                &#newsfeed {
                    margin-bottom: 0;
                }
            }
        }
    }
}
.not-desktop {
    display: none !important;
}
header {
    background: @pa-blue;
    height: 40px;
    position: relative;
    .logo {
        position: relative;
        padding: 6px 0;
        height: 28px;
        width: 190px;
        float: left;
        overflow: hidden;
        img {
            width: 160px;
        }
    }
    ul {
        float: right;
        margin-bottom: 0;
        li {
            float: left;
            margin-bottom: 0;
            a {
                color: @v-light-grey;
                text-decoration: none;
                background: #344a5f;
                padding: 12px 12px 0px;
                font-weight: bold;
                font-size: 14px;
                line-height: 14px;
                height: 28px;
                text-transform: uppercase;
                display: block;
                border-right: 1px solid @pa-blue;
                i {
                    padding-right: 8px;
                    font-size: 14px;
                    &.alt {
                        padding-right: 0;
                        padding: 0 8px;
                        font-size: 14px;
                    }
                }
                &:hover {
                    .fade-fast;
                    background: @blue;
                }
                &.active {
                    .fade-slow;
                    background: @v-light-grey;
                    color: @pa-blue;
                }
            }
        }
    }
}
nav {
    background: url(/static/images/white-bg.png) repeat;
    display: block;
    border-bottom: 1px solid #ddd;
    ul {
        &.container {
            .nav-collapse {
                .collapse {
                    position: relative;
                    height: auto;
                    overflow: hidden;
                    -webkit-transition: height 0.35s ease;
                    -moz-transition: height 0.35s ease;
                    -o-transition: height 0.35s ease;
                    transition: height 0.35s ease;
                }
                ul {
                    &.nav {
                        list-style: none;
                        margin: 0;
                        li {
                            a {
                                display: block;
                                float: left;
                                outline: none;
                                &:hover {
                                    background: @v-light-grey;
                                }
                                &.dropdown-toggle {

                                }
                            }
                            &.open {
                                a.dropdown-toggle {
                                    background: @v-light-grey;
                                }
                            }
                            ul {
                                &.dropdown-menu {
                                    position: absolute;
                                    top: 100%;
                                    left: 259px;
                                    z-index: 1000;
                                    float: none;
                                    display: none;
                                    float: left;
                                    width: 220px;
                                    padding: 10px 0;
                                    margin: 0;
                                    list-style: none;
                                    background: @v-light-grey;
                                    background-clip: padding-box;
                                    border: 1px solid #ddd;
                                    height: 238px;
                                    &#dropdown-learn {
                                        left: 182px;
                                    }
                                    &#dropdown-equipment {
                                        left: 69px;
                                    }
                                    &#dropdown-shop {
                                        left: 0px;
                                    }
                                    li {
                                        a {
                                            width: 84%;
                                            text-transform: none;
                                            font-size: 12px;
                                            font-weight: 500;
                                            text-shadow: none;
                                            padding: 6px 15px;
                                            color: @dark-grey;
                                            i {
                                                float: right;
                                                font-size: 10px;
                                                line-height: 18px;
                                                text-decoration: none;
                                            }
                                            &:hover, &.maintainHover {
                                                font-weight: 700;
                                                color: @red;
                                                text-decoration: underline;
                                            }
                                        }
                                        .popover {
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                            z-index: 1010;
                                            display: none;
                                            width: 400px;
                                            padding: 1px;
                                            text-align: left;
                                            white-space: normal;
                                            background: @white;
                                            border: 1px solid #ddd;
                                            h3 {
                                                padding: 10px 25px;
                                                margin: 0;
                                                font-size: 18px;
                                                font-weight: 700;
                                                color: @blue;
                                            }
                                            .popover-content {
                                                ul {
                                                    margin: 5px 20px;
                                                    li {
                                                        a {
                                                            width: auto;
                                                            padding: 4px 6px;
                                                            display: block;
                                                            float: none;
                                                            color: @dark-grey;
                                                            font-weight: 400;
                                                            text-decoration: underline;
                                                            &:hover {
                                                                font-weight: 700;
                                                                background: none;
                                                                color: @red;
                                                            }
                                                        }
                                                    }
                                                    &.left {
                                                        width: 42%;
                                                        float: left;
                                                    }
                                                    &.right {
                                                        width: 38%;
                                                        float: right;
                                                    }
                                                }
                                                img {
                                                    position: absolute;
                                                    right: 0;
                                                    bottom: 0;
                                                    width: 225px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            &.open {
                                ul {
                                    &.dropdown-menu {
                                        display: block;
                                        *z-index: 1000;

                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    ul {
        li {
            margin: 0;
            a {
               text-transform: uppercase;
               text-decoration: none;
               font-weight: 500;
               color: @pa-blue;
               padding: 16px;
               display: block;
               .fade-slow;
               text-shadow: 0px 1px 0px @white;
               font-size: 14px;
               &:hover {
                   color: @red;
                   background: @white;
                   .fade-fast;
               }
            }
            &.quote {
                float: right;
                a {
                    margin-right: 5px;
                    padding: 16px 0;
                    color: @red;
                    background: none;
                }
            }
        }
    }
}
.banner { position: relative; overflow: auto; }
    .banner li { list-style: none; }
        .banner ul li { float: left; }

.wrapper {
    margin:0 auto;
    position:relative;
    width:960px;
    z-index: 0;
    clear: both;
}

#hero-wrapper {
    height: 450;
    &.cmonday {
        background: #fff;
    }
    #hero-image {
        #quote-form {
            button {
                text-transform: none;
                font-weight: 400;
            }
            div {
                clear: both;
                display: block;
                color: #666;
                font-size: 12px;
                div {
                    margin-top: 15px;
                    span {
                        display: block;
                        color: #0f64c3;
                        font-size: 17px;
                        line-height: 16px;
                        float: left;
                        padding-left: 4px;
                        padding-bottom: 5px;
                    }
                    p {
                        &.left {
                            float: left;
                            font-size: 17px;
                            line-height: 16px;
                            color: #666;
                            margin: 0;
                            width: auto;
                            padding-left: 3px;
                        }
                    }
                }
            }
        }
        &.cmonday {
            #deals {
                width: 730px;
                margin-left: 0;
                .camera {
                    width: 220px;
                    height: 159px;
                    overflow: hidden;
                    float: left;
                    img {
                        &.video-camera {
                            &:hover {
                                float: right;
                                margin: 0;
                            }
                        }
                    }
                }
                .security-system {
                    width: 205px;
                    height: 159px;
                    overflow: hidden;
                    float: left;
                    margin-right: 10px;
                    img {
                        &.free-system {
                            &:hover {
                                float: right;
                                margin: 0;
                            }
                        }
                    }
                }
                .three {
                    margin-left: 454px;
                    background: #ddd;
                    width: 235px;
                    height: 119px;
                    padding: 20px;
                    display: block;
                    h3 {
                        font-size: 18px;
                        line-height: 20px;
                        text-shadow: none;
                        text-transform: uppercase;
                        font-weight: 700;
                        text-align: left;
                        color: #333;
                        padding: 0;
                    }
                    h4 {
                        font-size: 14px;
                        text-transform: uppercase;
                        font-weight: 600;
                        text-align: left;
                        text-shadow: none;
                        color: #333;
                    }
                    p {
                        color: #666;
                        font-size: 14px;
                        width: auto;
                        line-height: 18px;
                        text-shadow: none;
                        text-transform: none;
                        text-align: left;
                        margin: 10px 0;
                    }
                }
                img {
                    float: left;
                    &.free-system {
                        margin-right: 10px;
                    }
                    &.video-camera {
                        margin-right: 10px;
                    }
                }
                .unbeatable {
                    width: 180px;
                    display: block;
                    float: right;
                    background: #2e3849;
                    text-transform: uppercase;
                    text-align: center;
                    p {
                        color: #fff;
                        width: auto;
                        text-align: center;
                        font-size: 13px;
                        padding-top: 10px;
                        margin: 0;
                        line-height: 28px;
                        strong {
                            clear: both;
                            color: #fff;
                            display: block;
                            font-size: 23px;
                            line-height: 18px;
                        }
                    }
                }
            }
            #quote-form {
                padding-top: 0;
                height: 435px;
                position: relative;
                margin-top: 50px;
                background: #fff;
                border: 1px solid #eee;
                #third-party-container {
                    background: transparent;
                    height: 52px;
                    .third-party-badge {
                        div {
                            margin: 0;
                        }
                    }
                }
                .consent-box {
                    border-bottom: 1px solid #ccc;
                    margin: 6px auto 0;
                    padding: 2px 0 0;
                }
                p.form-title {
                    text-transform: uppercase;
                    font-size: 14px;
                    width: 195px;
                    padding: 5px;
                    background: #2e3849;
                    color: #fff;
                    font-weight: 600;
                }
                i {
                    color: #2e3849;
                    font-size: 30px;
                    line-height: 24px;
                    padding: 0;
                    margin: 0 auto;
                    position: absolute;
                    top: 32px;
                    left: 46%;
                }
                div {
                    div {
                        margin-top: 10px;
                        span {
                            float: none;
                            padding-left: 0;
                        }
                    }
                    label {
                        font-weight: 400;
                        line-height: 12px;
                        margin-bottom: 8px;
                        color: #999;
                    }
                    input {
                        margin: 0 0 8px 15px !important;
                        padding: 1px 3px;
                        width: 166px;
                        border-radius: 4px;
                        border-bottom: 1px solid #ccc;
                        border-left: 1px solid #ccc;
                        border-right: 1px solid #ccc;
                        border-top: 1px solid #999;
                        font-size: 14px;
                    }
                }
            }
        }
        #cyber-monday {
            width: 753px;
            height: 327px;
            float: left;
            text-align: left;
            .copy {
                display: block;
                float: left;
                padding-top: 42px;
                width: 500px;
                h1 {
                    margin: 10px 0 2px 50px;
                    font-size: 32px;
                    line-height: 32px;
                    font-weight: 500;
                    text-transform: none;
                }
                h2 {
                    margin: 20px 0 0 50px;
                    font-size: 16px;
                    line-height: 18px;
                    font-weight: 400;
                    text-transform: none;
                }
                h3 {
                    background: #2e3849;
                    font-size: 22px;
                    font-weight: 800;
                    padding: 8px;
                    text-align: center;
                    width: 180px;
                    margin: 10px 0 0 50px;
                    color: #ef2922;
                    text-shadow: none;
                    text-transform: none;
                }
                h4 {
                    text-transform: none;
                    font-size: 22px;
                    font-weight: 400;
                    line-height: 38px;
                    margin: 0 0 10px 50px;
                    color: #666;
                    text-transform: none;
                }
            }
            .plans {
                width: 165px;
                height: 145px;
                margin: 85px 0 0 50px;
                padding: 10px;
                background: url(/static/img/banners/spring/form_bg.png) repeat;
                float: left;
                display: block;
                p {
                    margin: 0;
                    font-size: 13px;
                    line-height: 16px;
                    text-align: left;
                    color: #0f64c3;
                }
                big {
                    font-size: 80px;
                    margin: 32px 0 40px 0;
                    display: block;
                    float: left;
                    font-weight: 600;
                    color: #2f394a;
                }
                small {
                    font-size: 30px;
                    display: block;
                    float: left;
                    margin: 14px 0 0 0;
                    color: #2f394a;
                    &.month {
                        font-size: 18px;
                        margin: 50px 0 0;
                    }
                }
                a.button-link {
                    width: 161px;
                    text-align: center;
                    margin: 0;
                    clear: both;
                }
            }
            .main-hero-image {
                top: 0;
                left: -500px;
            }
            .price-area {
                img {
                    margin: 20px 0 0 340px;
                }
            }
        }
    }
}

.content-box (@content-width: 960px) {
    width: @content-width;
    margin: 0 0 15px;
    float: left;
    position: relative;

    h1 {
        color: @blue;
        font-size: 26px;
        font-weight: normal;
        line-height: 36px;
        margin-bottom: 10px;
        letter-spacing: -1px;
    }
    h2 {
        color: @grey;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        padding-bottom: 8px;
        span {
            display: block;
        }
    }
    p {
        text-align: justify;
        line-height: 24px;
        margin-bottom: 8px;
    }
    h3 {
        color: @grey;
        font-size: 18px;
        border-bottom: none;
        font-weight: bold;
        padding: 8px 0px 8px;
    }
}



#overview {
    margin: 48px auto;
    .side {
        text-align: right;
        padding-top: 32px;
    }
}


#signature {
	background: url(/static/img/local-pages/austin/austin-frog-bg-2000px.jpg) center top no-repeat @white;
	width: 100%;
	height: auto;
	padding: 30px 0px;
    margin: 50px auto 0px auto;
    p {
    	color: @dark-grey;
    }
    h1 {
    	font-size: 40px;
    	line-height: 50px;
	    color: @dark-grey;
	    text-transform: none;
	    span {
		    line-height: 50px;
		    display: block;
		    font-size: 36px;
	    }
    }
	#signature-left {
		text-align: center;
		margin-top: 125px;
	}
	#signature-right {
		background: url(/static/img/local-pages/austin/white-75.png);
		padding: 50px 30px;
		width: 400px;
	}
}			

#community {
    margin: 48px auto;

    h2 {
        text-align: center;
    }
    .middle-column {
        margin: 0 50px;
    }

    ul {
        margin: 32px 0;
        li {
            height: 100px;
            background: #f5f5f5;
            padding: 30px 0;
            margin-bottom: 8px;
            h3 {
                text-transform: uppercase;
            }
            &.one-stat {
                background: url(/static/img/local-pages/learn-tile-clock.png) -95px -15px no-repeat #f5f5f5;
                h3, p {
                    padding-left: 120px;
                    padding-right: 30px
                }
            }
            &.two-stat {
                background: url(/static/img/local-pages/learn-tile-sun.png) right no-repeat #f5f5f5;
                h3, p {
                    padding-left: 30px;
                    padding-right: 20%;
                }
            }
            &.three-stat {
                background: url(/static/img/local-pages/learn-tile-money.png) -95px -15px no-repeat #f5f5f5;
                h3, p {
                    padding-left: 120px;
                    padding-right: 5%;
                }                
            }
            &.four-stat {
                background: url(/static/img/local-pages/learn-tile-house.png) 190px top no-repeat #f5f5f5;
                h3, p {
                    padding-left: 30px;
                    padding-right: 40%;
                }                
            }
        }
    }

}
#community-outreach-squares {
    margin-bottom: 32px;
    .square {
        .border-radius;
        background: @v-light-grey;
        width: 300px;
        margin: 0 auto;
        height: 240px;
        overflow: hidden;
        position: relative;
        .caption {
            width: 280px;
            height: 200px;
            padding: 20px 10px;
            background: rgba(0,0,0,.8);
            position: absolute;
            top: 0;
            left: 0;
            color: @white;
            display: none;
        }
        &:hover {
            .caption {
                display: block;
            }
        }
    }
}
#top-section-wrapper {
    background: @grey;
    position: relative;
    z-index: 999;
    #top-section {
        .wrapper;
        form {
            display: inline;
        }
        #company-links {
            float: right;
            width: 600px;
            position: relative;
            height: 36px;
            #online-chat-button, .interactive-customer {
                float: right;
                width: 68px;
                color: @white;
                margin-left: 8px;
                text-decoration: none;
                background: @black;
                font-size: 10px;
                padding: 0 4px;
                text-align: center;
                text-transform: uppercase;
                .border-radius(5px,5px,5px,5px);
                margin-top: 6px;
                .fade-slow;
                &:hover {
                    background: #00aee4;
                }
            }
            .interactive-customer {
                width: 130px;
            }
            #main-phone {
                float: right;
                color: @white;
                font-size: 19px;
                line-height: 34px;
                i {
                    padding-right: 4px;
                }
                a {
                    color: @white;
                    text-decoration: none;
                }

            }
            input {
                background: #646464;
                .border-radius();
                border: 1px solid #6e6e6e;
                height: 16px;
                line-height: 16px;
                padding-left: 24px;
                float: right;
                margin: 6px 0 5px 8px;
                color: @white;
                font-size: 9px;
                background: url(/static/img/base/base-sprite-new.png) -78px 0px no-repeat;
                width: 86px;
                padding: 1px 0 1px 24px;
            }
        }
    }
}
#header-wrapper {
    background: @black;
    position: relative;
    z-index: 900;
    height: 52px;
    #quote-form {
        .content-box(376px);
        background: #555;
        float: left;
        margin-left: 16px;
        position: relative;
        padding-bottom: 4px;
        position: absolute;
        z-index: 999;
        top: 52px;
        display: none;
        right: -1px;
        border: 1px solid @black;
        border-top: none;
        .border-radius(0,0,5px,5px);
        padding: 0;
        .drop-shadow(0px,2px,5px,#000);
    
        p.form-title {
           background: #55b1a6;
           line-height: 64px;
           margin-bottom: 8px; 
        }
        .form-fields {
            padding: 8px 32px 0px;
            p {
                font-size: 11px;
                line-height: 13px;
                text-align: justify;
                margin-bottom: 8px;
            }
            label {
                display: block;
                font-size: 13px;
            }
    
        }
        .consent-box, .consent-box-two {
            border-bottom: 1px solid #333333;
            padding: 4px 0;
            margin: 8px auto;
            width: 87%;
            color: #ccc;
            #id_consent, #id_consent_two {
                float: left;
                margin: 8px 8px 8px 32px;
                width: 16px;
            }
            label.consent-label, label.consent-label-two {
                font-size: 10px;
                line-height: 15px;
                text-align: justify;
                float: left;
                cursor: pointer;
                cursor: hand;
                color: #ccc;
            }
        }
        button {
        }
        #third-party-container {
            background: @white;
            text-align: center;
            padding: 0 8px;
            overflow: hidden;
            height: 76px;
            .third-party-badge {
                margin: 0 auto; 
                width: 135px; 
                padding: 0; 
                float: left;
                a {
                    padding-top: 0;
                } 
                div {
                    padding: 0;
                    background: none;
                }
                &.truste {
                    width: 126px;
                    position: relative;
                    top: 18px;
                    img {
                        width: 100%;
                    }
    
                }
                &.vsign {
                    position: relative;
                    right: 5px;
                }
            }
        }
        div {
            p {
                display: block;
                font-size: 22px;
                line-height: 32px;
                font-weight: 400;
                text-align: center;
                color: @white;
                padding: 0;
            }
            label {
                color: @white;
                padding: 0;
            }
            input {
                color: @black;
                font-size: 14px;
                height: 32px;
                line-height: 32px;
                margin: 0 0 8px;
                width: 300px;
                padding: 1px 3px;
                .border-radius (5px,5px, 5px, 5px);
                border: 1px solid @black;
            }
            
        }
    
        a {
            display: block;
            text-align: center;
            font-size: 10px;
            padding-top: 4px;
            text-decoration: none;
            color: @white;
            &:hover {
                text-decoration: underline;
            }
        }
        &.sleepy {
            width: 275px;
            .form-fields {
                padding: 8px 16px 0px;
                p {
                    font-size: 11px;
                    line-height: 13px;
                    text-align: justify;
                    margin-bottom: 16px;
                }
                label {
                    display: block;
                    font-size: 13px;
                }
                input {
                    width: 234px;
                }
                button {
                    width: 244px;
                }
            }
            button {
                width: 244px;
            }
            .consent-box, .consent-box-two {
                #id_consent, #id_consent_two {
                    margin: 8px 8px 8px 8px;
                }
                label.consent-label, label.consent-label-two {
                }
            }
        }
    
    }

    #header {
        width: 960px !important;
        .wrapper;
        #company-logo {
            margin-top: 10px;
            width: 192px;
            float: left;
        }
        .stuck-phone {
            display: none;
        }
        ul {
            margin-bottom: 0;
        }
        #main-navigation {
            float: right;
            width: 464px;
            li {
                color: @white;
                font-weight: 100;
                display: block;
                float: left;
                width: 100px;
                margin-right: 16px;
                text-align: center;
                font-size: 16px;
                height: 32px;
                margin-top: 8px;
                position: relative;
                padding-bottom: 0;
                a {
                    text-decoration: none;
                    width: 100px;
                    color: @white;
                    display: block;
                    padding: 8px 0 8px;
                    .border-radius (5px,5px,5px,5px);
                    .fade-slow;
                    font-weight: 400;
                    &:hover {
                        background: @grey;
                        .fade-fast;
                    }
                }
                &.active {
                    background: @blue;
                    .border-radius(5px, 5px, 0, 0);
                    a {
                        border-bottom: 1px solid #6598b9;
                        .border-radius(0,0,0,0);
                        width: 84px;
                        margin: 0 auto;
                        padding-bottom: 4px;
                        &:hover {
                            background: none;
                        }
                    }
                    .icon-caret-down {
                        position: absolute;
                        top: 25px;
                        left: 9px;
                        width: 84px;
                        color: #6598b9;
                        
                    }
                }
                
            }
        }
        .request-quote-button {
            background: #55b1a6;
            .border-radius(5px,5px,5px,5px);
            text-decoration: none;
            color: @white;
            float: right;
            font-weight: normal;
            font-size: 16px;
            padding: 8px 16px;
            margin-top: 8px;
            &:hover {
                background: @light-green;
            }
            &.active {
                .border-radius(5px,5px, 0, 0);
                padding: 8px 16px 15px;
            }
        }
        #mobile-main-navigation {
            display: none;
        }

    }
    &.stuck {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        width: 100%;
        .drop-shadow;
        #header {
            height: 52px;
            #main-navigation {
                display: none;
            }
            .stuck-phone {
                display: block;
                color: #ffffff;
                margin-top: 16px;
                font-size: 22px;
                font-weight: normal;
                float: right;
                color: @white;
                margin-right: 16px;
                a {
                    color: @white;
                    text-decoration: none;
                }
            }
        }
    }
}
#lifestyle-quote {
    width: 100%;
    height: auto;
    overflow: hidden;
    .button {
        width: 200px;
        margin: 122px auto 122px;
        text-align: center;
        display: block;
        font-size: 24px;
        padding: 16px;
        border-bottom-width: 6px;
    }
    .bg {
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        height: auto;
    }
}
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}
.owl-theme .owl-controls{
	margin-top: 10px;
	text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px;
	padding: 3px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #869791;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px !important;
	height: 12px;
	margin: 5px 7px !important;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}

#call-box {
    background: #2e3849;
    border: none;
    p {
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 400;
    }
}

#featured-on {
    margin-top: 20px;
}

#categories {
    .category {
        .category-img {
            &.smart-connect {
                margin-bottom: 100px;
            }
        }
    }
}

/* #Media Queries
================================================== */

    /* Smaller than standard 960 (devices and browsers) */
    @media only screen and (max-width: 959px) {}

    /* Tablet Portrait size to standard 960 (devices and browsers) */
    @media only screen and (min-width: 768px) and (max-width: 959px) {

        .wrapper {
            width: 740px !important;
        }
        #header-wrapper {
            #header {
                width: 740px !important;
            }
        }
        #hero-wrapper {
            #hero-image {
                width: 740px;
                &.cmonday {
                    #deals {
                        width: 510px;
                        .three {
                            display: none;
                        }
                    }
                }
                #cyber-monday {
                    width: 533px;
                    .copy {
                        width: 313px;
                        h1 {
                            font-size: 22px;
                            line-height: 22px;
                        }
                    }
                    .plans {
                        margin: 85px 0 0 35px;
                    }
                }
            }
        }

    }

    /* All Mobile Sizes (devices and browser) */
    @media only screen and (max-width: 767px) {

        #footer-wrapper, #terms-wrapper {
            display: none;
        }
        .wrapper {
            width: 480px !important;
            #categories {
                display: none;
                .category {
                    .category-img {
                        float: none !important;
                        width: 230px;
                        margin: 0 auto 20px;
                        padding: 0;
                    }
                    .category-info {
                        width: 100%;
                        h2 {
                            text-align: center;
                        }
                        p {
                            text-align: center;
                        }
                        a {
                            &.button-link {
                                margin: 0 auto;
                                float: none;
                                width: 160px;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
        #header-wrapper {
            #header {
                width: 480px !important;
            }
        }
        #hero-wrapper {
            #hero-image {
                width: 480px;
                &.cmonday {
                    #deals {
                        display: none;
                        .three {
                            display: none;
                        }
                    }
                }
                #cyber-monday {
                    width: 273px;
                    .copy {
                        width: 273px;
                        padding-top: 10px;
                        h1 {
                            font-size: 23px;
                            line-height: 27px;
                        }
                    }
                    .plans {
                        width: 175px;
                        margin: 30px 0 0 50px;
                        a.button-link {
                            width: 171px;
                        }
                    }
                }
            }
        }

    }

    /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
    @media only screen and (min-width: 480px) and (max-width: 767px) {}

    /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
    @media only screen and (max-width: 479px) {}