@charset "UTF-8";
@import "font-awesome/font-awesome.less";
#arm-icon {
    position: absolute;
    left: 0%;
    z-index: 999;
    top: -5%;
}

/************************************
*   Reset                           *
************************************/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}:focus{outline:0;}body{line-height:1;color:#000;background:@white;}ol,ul{list-style:none;}table{border-collapse:separate;border-spacing:0;}caption,th,td{text-align:left;font-weight:normal;}blockquote:before,blockquote:after,q:before,q:after{content:"";}blockquote,q{quotes:"" "";}.container_full{overflow:hidden;width:100%;}.padding_10{padding:10px;}.center{text-align:center;}.absolute{position:absolute!important;}.relative{position:relative!important;}.text-center{text-align:center;}.float_left{float:left;}

/********** Color Selection ***********/

// Shades of Grey
@white: #fff;
@off-white: #fcfcfc;
@v-light-grey: #eee;
@light-grey: #ccc;
@grey: #555;
@dark-grey: #4A505A;
@black: #333; /* In place of black, PA uses a very dark grey. */

// Shades of Blue
@v-light-blue: #f2fdff;
@light-blue: #d9f2ff;
@blue: #1570ab;
@dark-blue: #023269;
@link-blue: #0066B3;
@navy-blue: #2f394a;

// Shades of Blood
@light-red: #ffdfdf;
@red: #eb292b;
@dark-red: #8b0404;

// Shades of Green
@light-green: #DDF7B7;
@green: #4bba29;
@dark-green: #005500;

@yellow: #ffc000;
@light-yellow: #ffe28a;


/********** Mix-ins ***********/

.border-radius (@top-left-radius: 10px, @top-right-radius: 10px, @bottom-right-radius: 10px, @bottom-left-radius: 10px) {
    border-radius: @top-left-radius @top-right-radius @bottom-right-radius @bottom-left-radius;
    -moz-border-radius: @top-left-radius @top-right-radius @bottom-right-radius @bottom-left-radius;
    -webkit-border-top-left-radius: @top-left-radius;
    -webkit-border-top-right-radius: @top-right-radius;
    -webkit-border-bottom-left-radius: @bottom-left-radius;
    -webkit-border-bottom-right-radius: @bottom-right-radius;
}
.drop-shadow (@shadow-x: 0px, @shadow-y: 2px, @shadow-blur: 5px, @shadow-color: @dark-grey) {
    -moz-box-shadow: @shadow-x @shadow-y @shadow-blur @shadow-color;
    -webkit-box-shadow: @shadow-x @shadow-y @shadow-blur @shadow-color;
    box-shadow: @shadow-x @shadow-y @shadow-blur @shadow-color;
}
.inset-shadow (@shadow-x: 0px, @shadow-y: 0px, @shadow-blur: 5px, @shadow-color: @light-blue) {
    -moz-box-shadow: inset @shadow-x @shadow-y @shadow-blur @shadow-color;
    -webkit-box-shadow: inset @shadow-x @shadow-y @shadow-blur @shadow-color;
    box-shadow: inset @shadow-x @shadow-y @shadow-blur @shadow-color;
}
.rotate (@rotation) {
    -webkit-transform: rotate(@rotation);
    -moz-transform: rotate(@rotation);
    transform: rotate(@rotation);

}
.fade-slow {
    -webkit-transition: background-color .7s ease-out;
    -moz-transition: background-color .7s ease-out;
    transition: background-color .7s ease-out;


}
.fade-fast {
    -webkit-transition: background-color .3s ease-out;
    -moz-transition: background-color .3s ease-out;
    transition: background-color .3s ease-out;

}
.background-gradient(@top-color: @blue, @bottom-color: #005f9a) {
    background: @top-color;
    background-image: -moz-linear-gradient(top,@top-color,@bottom-color);
    background-image: -webkit-gradient(linear,left top,left bottom,from(@top-color),to(@bottom-color));
}

strong {
    font-weight: bold;
}
.base-sprite (@icon-x, @icon-y) {
    background: url(/static/img/base/base-sprite.png) no-repeat @icon-x @icon-y;
}
/********** Main ***********/
body {
    background: @white;
    font: 0.8em/1.7em "Helvetica Neue", Arial, sans-serif;
    color: @black;
}
.wrapper {
    margin:0 auto;
    position:relative;
    width:960px;
    z-index: 0;
    clear: both;
}

.clear {
    clear: both;
    height: 0;
    line-height: 0;
}
a {
    color: @link-blue;
    h2 {
        text-decoration: none;
    }
    &:hover {
        color: @blue;
        text-decoration: underline;
    }
}
/********** Content Boxes **********/

.content-box (@content-width: 960px) {
    width: @content-width;
    margin: 0 0 15px;
    float: left;
    position: relative;

    h1 {
        color: @blue;
        font-size: 26px;
        font-weight: normal;
        line-height: 36px;
        margin-bottom: 10px;
        letter-spacing: -1px;
    }
    h2 {
        color: @grey;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        padding-bottom: 8px;
        span {
            display: block;
        }
    }
    p {
        text-align: justify;
        line-height: 24px;
        margin-bottom: 8px;
    }
    h3 {
        color: @grey;
        font-size: 18px;
        border-bottom: none;
        font-weight: bold;
        padding: 8px 0px 8px;
    }



}

/*** Search Testimonial Results Box ***/

table#licenses-table {
    font-size: 10px;
    padding: 0 0 8px;
    border-bottom: 1px solid @v-light-grey;
    display: none;
    thead {
        padding-bottom: 8px;
        th {
            padding: 0 8px 0; 
            font-weight: bold;
            font-size: 12px;
        }
    }
    tr {
        &:hover {
            background: @light-green;
        }
        td {
            padding: 0 8px;
            &:hover {
                background: @light-green+15;
            }
        }
        &.license-requirement {
            td {
                font-size: 13px;
            }
        }
    }

}
/************** Header ****************/
#top-section-wrapper {
    background: @grey;
    position: relative;
    z-index: 999;
    #top-section {
        .wrapper;
        #newsfeed {
            width: 510px;
            float: left;
            li {
                display: block;
                width: 510px;
                color: @light-grey;
                font-size: 10px;
                line-height: 32px;
                display: none;
                i {
                    font-size: 16px;
                    vertical-align: middle;
                    padding-right: 4px;
                }
                span {
                    font-size: 8px;
                    color: @white;
                    text-transform: uppercase;
                }
                a {
                    color: @white;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        #company-links {
            float: right;
            width: 450px;
            position: relative;
            #international-selection {
                margin-top: 6px;
                float: left;
                width: 64px;
                position: relative;
                li {
                    display: none;
                    color: @light-grey;
                    font-size: 10px;
                    width: 56px;
                    padding: 4px 4px;
                    .fade-slow;
                    .border-radius(5px,5px,5px,5px);

                    a {
                        background: url(/static/img/base/base-sprite-new.png) -78px -17px no-repeat;
                        color: @white;
                        padding: 0 16px 0 21px;
                        text-decoration: none;
                        line-height: 12px;
                        height: 12px;
                        display: block;
                        width: 20px;
                    }
                    
                    &:hover {
                        background: @black;
                        .fade-fast;
                    }
                    &.active {
                        display: block;
                    }
                    &.ca {
                        a {
                            background: url(/static/img/base/base-sprite-new.png) -78px -29px no-repeat;
                        }
                    }
                }
                .icon-caret-down {
                    position: absolute;
                    right: 11px;
                    top: -1px;
                    color: @light-grey;
                }
                &.active {
                    position: absolute;
                    background: @light-grey;
                    z-index: 999;
                    .border-radius(5px,5px,5px,5px);
                    li {
                        display: block;
                        a {
                            color: @grey;
                            &:hover {
                                color: @white;
                            }
                        }
                        &.active {
                            .border-radius(0,0,0,0);
                            border-bottom: 1px solid @black;
                            &:hover {
                                background: transparent;
                                
                            }
                            
                        }
                    }
                    .icon-caret-down {
                        color: @grey;
                    }
                }
            }
            #online-chat-button {
                float: right;
                width: 68px;
                color: @white;
                margin-left: 8px;
                text-decoration: none;
                background: @black;
                font-size: 10px;
                padding: 0 4px;
                text-align: center;
                text-transform: uppercase;
                .border-radius(5px,5px,5px,5px);
                margin-top: 6px;
                .fade-slow;
                &:hover {
                    background: #00aee4;
                }
            }
            #main-phone {
                float: right;
                color: @white;
                font-size: 19px;
                line-height: 32px;
                i {
                    padding-right: 4px;
                }
                a {
                    color: @white;
                    text-decoration: none;
                }

            }
            input {
                background: #646464;
                .border-radius();
                border: 1px solid #6e6e6e;
                height: 16px;
                line-height: 16px;
                padding-left: 24px;
                float: right;
                margin: 6px 0 5px 8px;
                color: @white;
                font-size: 9px;
                background: url(/static/img/base/base-sprite-new.png) -78px 0px no-repeat;
                width: 86px;
            }
        }
    }
}
#header-wrapper {
    background: @black;
    position: relative;
    z-index: 900;
    #header {
        .wrapper;
        #company-logo {
            margin-top: 10px;
            width: 192px;
            float: left;
        }
        .stuck-phone {
            display: none;
        }
        #main-navigation {
            float: right;
            width: 464px;
            li {
                color: @white;
                font-weight: 100;
                display: block;
                float: left;
                width: 100px;
                margin-right: 16px;
                text-align: center;
                font-size: 16px;
                height: 40px;
                margin-top: 8px;
                position: relative;
                padding-bottom: 4px;
                a {
                    text-decoration: none;
                    width: 100px;
                    color: @white;
                    display: block;
                    padding: 8px 0 8px;
                    .border-radius (5px,5px,5px,5px);
                    .fade-slow;
                    &:hover {
                        background: @grey;
                        .fade-fast;
                    }
                }
                &.active {
                    background: @blue;
                    .border-radius(5px, 5px, 0, 0);
                    a {
                        border-bottom: 1px solid #6598b9;
                        .border-radius(0,0,0,0);
                        width: 84px;
                        margin: 0 auto;
                        padding-bottom: 4px;
                        &:hover {
                            background: none;
                        }
                    }
                    .icon-caret-down {
                        position: absolute;
                        top: 25px;
                        left: 9px;
                        width: 84px;
                        color: #6598b9;
                        
                    }
                }
                
            }
        }
        .request-quote-button {
            background: #1fb867;
            .border-radius(5px,5px,5px,5px);
            text-decoration: none;
            color: @white;
            float: right;
            font-weight: 100;
            font-size: 16px;
            padding: 8px 16px;
            margin-top: 8px;
            &:hover {
                background: #12a859
            }
            &.active {
                .border-radius(5px,5px, 0, 0);
                padding: 8px 16px 15px;
            }
        }

    }
    &.stuck {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        width: 100%;
        .drop-shadow;
        #header {
            height: 54px;
            #main-navigation {
                display: none;
            }
            .stuck-phone {
                display: block;
                color: #ffffff;
                margin-top: 16px;
                font-size: 22px;
                font-weight: normal;
                float: right;
                color: @white;
                margin-right: 16px;
                a {
                    color: @white;
                    text-decoration: none;
                }
            }
        }
    }
}
/************** Sub-Navigation ****************/
#subnav-wrapper {
    background: @blue;
    border-bottom: 1px solid @dark-blue;
    .drop-shadow(0px, 3px, 2px, rgba(0,0,0,.15));
    position: relative;
    z-index: 500;
    #subnav {
        margin: 0 auto;
        width: 960px;
        li {
            color: @white;
            display: block;
            float: left;
            margin: 4px 24px 4px 0;
            .border-radius(5px,5px,5px,5px);
            .fade-slow;
            a {
                display: block;
                padding: 4px 16px;
                color: @white;
                text-decoration: none;
            }
            .child-nav {
                width: 960px;
                background: @grey;
                position: absolute;
                top: 36px;
                left: 50%;
                margin-left: -480px;
                .border-radius(0,0,5px,5px);
                z-index: 100;
                display: none;
                .drop-shadow;
                ul {
                    padding: 8px;
                    li {
                        color: @white;
                        float: left;
                        width: 192px;
                        margin: 0 8px 4px 0;
                        .border-radius(5px,5px,5px,5px);
                        display: block;
                        font-size: 12px;
                        .fade-slow;
                        a {
                            color: @white;
                            padding: 4px 8px;
                        }
                        &:hover {
                            background: @black;
                            .fade-fast;
                        }
                        &.active {
                            background: @white;
                            color: @blue;
                            a {
                                color: @blue;
                            }
                        }
                    }
            
                }
                
            }
            &:hover {
                background: #6598b9;
                .fade-fast;
                a {
                    color: @white;
                }
            }
            &.active {
                background: @white;
                a {
                    color: @blue;

                }
            }
            &.hover {
                background: @grey;
                .border-radius(5px,5px,0,0);
                padding-bottom: 4px;
                margin-bottom: 0px;
                a {
                    color: @white;
                }
            }

        }
    }
}


/************** Quote Form ****************/
#quote-form {
    .content-box(376px);
    background: #555;
    float: left;
    margin-left: 16px;
    position: relative;
    padding-bottom: 4px;
    position: absolute;
    z-index: 999;
    top: 52px;
    display: none;
    right: -1px;
    border: 1px solid @black;
    border-top: none;
    .border-radius(0,0,5px,5px);
    padding: 0;
    .drop-shadow(0px,2px,5px,#000);

    p.form-title {
       background: #1fb867;
       line-height: 64px;
       margin-bottom: 8px; 
    }
    .form-fields {
        padding: 8px 32px 0px;
        p {
            font-size: 11px;
            line-height: 13px;
            text-align: justify;
            margin-bottom: 8px;
        }
        label {
            display: block;
            font-size: 13px;
        }

    }
    .consent-box, .consent-box-two {
        border-bottom: 1px solid #333333;
        padding: 4px 0;
        margin: 8px auto;
        width: 87%;
        color: #ccc;
        #id_consent, #id_consent_two {
            float: left;
            margin: 8px 8px 8px 32px;
            width: 16px;
        }
        label.consent-label, label.consent-label-two {
            font-size: 10px;
            line-height: 15px;
            text-align: justify;
            float: left;
            cursor: pointer;
            cursor: hand;
            color: #ccc;
        }
    }
    button {
        display: block;
        padding: 14px 16px;
        .border-radius(5px,5px,5px,5px);
        color: @white;
        background: @red;
        text-decoration: none;
        border: none;
        font-size: 24px;
        margin: 8px auto;
        width: 265px;
        .fade-slow;
        cursor: pointer;
        cursor: hand;
        &:hover {
            color: @white;
            .fade-fast;
            background: @dark-red;
            text-decoration: none;
            i {
                border-left: 1px solid @red;

            }
        }
        i {
            border-left: 1px solid @dark-red;
            padding: 4px 0 4px 24px;
            margin-left: 12px;
        }
    }
    #third-party-container {
        background: @white;
        text-align: center;
        padding: 0 8px;
        overflow: hidden;
        height: 76px;
        .third-party-badge {
            margin: 0 auto; 
            width: 135px; 
            padding: 0; 
            float: left;
            a {
                padding-top: 0;
            } 
            div {
                padding: 0;
                background: none;
            }
            &.truste {
                width: 126px;
                position: relative;
                top: 18px;
                img {
                    width: 100%;
                }

            }
            &.vsign {
                position: relative;
                right: 5px;
            }
        }
    }
    div {
        p {
            display: block;
            font-size: 22px;
            line-height: 32px;
            font-weight: 400;
            text-align: center;
            color: @white;
            padding: 0;
        }
        label {
            color: @white;
            padding: 0;
        }
        input {
            color: @black;
            font-size: 14px;
            height: 32px;
            line-height: 32px;
            margin: 0 0 8px;
            width: 300px;
            padding-left: 8px;
            .border-radius (5px,5px, 5px, 5px);
            border: 1px solid @black;
        }
        
    }

    a {
        display: block;
        text-align: center;
        font-size: 10px;
        padding-top: 4px;
        text-decoration: none;
        color: @white;
        &:hover {
            text-decoration: underline;
        }
    }
    &.sleepy {
        width: 275px;
        .form-fields {
            padding: 8px 16px 0px;
            p {
                font-size: 11px;
                line-height: 13px;
                text-align: justify;
                margin-bottom: 16px;
            }
            label {
                display: block;
                font-size: 13px;
            }
            input {
                width: 234px;
            }
            button {
                width: 244px;
            }
        }
        button {
            width: 244px;
        }
        .consent-box, .consent-box-two {
            #id_consent, #id_consent_two {
                margin: 8px 8px 8px 8px;
            }
            label.consent-label, label.consent-label-two {
            }
        }
    }

}
body.alternate {
    .request-quote-button {
        display: none;
    }
    #hero-banner.alt-form {
        #quote-form {
            display: block;
            width: 275px;
            top: 0;
            .drop-shadow(0,0,0,0);
            border: 1px solid @black;
            label {
                display: none;
            }
            input {
                margin: 16px auto;
                width: 240px;
                display: block;
            }
            button {
                width: 250px;
            }
        }
    }
}
#quote-form-error {
    display: none;
    position: absolute;
    z-index: 999;
    width: 250px;
    background: @red;
    bottom: 20%;
    left: -275px;
    border: 1px solid @dark-red;
    padding: 8px;
    .drop-shadow;
    opacity: .95;
    background: @red;
    ul {
        margin-bottom: 4px;
        li {
            text-align: left;
            font-size: 12px;
            line-height: 16px;
            color: @white;
            list-style-type: disc;
            margin-left: 16px;
            margin-bottom: 4px;

        }
    }
    strong {
        font-size: 24px;
        display: block;
        line-height: 48px;
        color: @white;
        text-align: left;
    }
    #error-arrow {
        position: absolute;
        right: -24px;
        top: 32%;
    }
}
#order-footer-wrapper {
    background: @off-white;
    #order-footer {
        width: 960px;
        margin: 0 auto;
        #footer-package-section {
            float: left;
            width: 46%;
        }
        #footer-call-now {
            float: left;
            width: 27%;
        }
        #footer-chat-now {
            float: left;
            width: 27%;
        }
    }
}

/************** Call Box ****************/
#call-box {
    background: @grey;
    border-top: 1px solid @black;
    width: 100%;
    border-bottom: 1px solid @black;
    position: relative;
    #main-promo {
        background: #333;
        width: 100%;
        height: 56px;
        position: absolute;
        top: -56px;
        left: 0;
        #main-promo-content {
            width: 960px;
            margin: 0 auto;
            text-decoration: none;
            position: relative;
            height: 56px;
            display: block;
            .main-promo-image {
                position: absolute;
                left: 0;
                bottom: 0px;
            }
            p {
                font-size: 18px;
                text-align: left;
                line-height: 20px;
                padding: 6px 0;
                text-shadow: none;
                padding-left: 127px;
                display: block;
                width: 800px;
                span {
                    display: block;
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: normal;
                }
            }
        }
        &:hover {
            background: #12a859
        }
    }
    &.alt {
        background: #1fb867;
    }
    p {
        width: 960px;
        margin: 0 auto;
        color: @white;
        font-weight: bold;
        font-size: 38px;
        line-height: 42px;
        text-align: center;
        padding: 12px 0px;
        text-shadow: 1px 2px 0px @black;
        strong {
            font-weight: bold;
        }
        a {
            color: @white;
            text-decoration: none;
            cursor: default;
        }
    }
}

/************** Footer ****************/
#order-footer {
    .content-box(960px);
    background: @off-white;
    border: 1px solid @light-grey;
    padding: 0px;
    margin: 8px auto 8px;
    float: none;
    .fade-fast;
    h3 {
        font-weight: bold;
        padding-bottom: 16px;
        padding-top: 0
    }
    #footer-package-section {
        width: 309px;
        border-right: 1px solid @v-light-grey;
        padding: 16px 16px;
        float: left;
        input {
            background: @white url(/static/img/base/search-icon.png) no-repeat 4px 4px;
            padding-left: 24px;
            font-size: 14px;
            line-height: 20px;
            height: 20px;
            width: 260px;
        }
        button {
            margin: 8px 0 0 0;
            display: block;
            float: left;
            padding: 8px 16px;
            border-radius: 5px 5px 5px 5px;
            -moz-border-radius: 5px 5px 5px 5px;
            -webkit-border-top-left-radius: 5px;
            -webkit-border-top-right-radius: 5px;
            -webkit-border-bottom-left-radius: 5px;
            -webkit-border-bottom-right-radius: 5px;
            color: #ffffff;
            background: #1570ab;
            text-decoration: none;
            margin-right: 16px;
            -webkit-transition: background-color 0.7s ease-out;
            -moz-transition: background-color 0.7s ease-out;
            transition: background-color 0.7s ease-out;
            border: none;
            font-size: 14px;
            i {
                border-left: 1px solid #6598b9;
                padding: 4px 0 4px 8px;
                margin-left: 4px;
            }
        }
        p {
            font-size: 12px;
            line-height: 16px;
            padding: 0px 0 8px;
            span {
                font-size: 16px;
                display: block;
                line-height: 18px;
                em {
                    text-decoration: line-through;
                    position: relative;
                    color: @grey;
                    top: 0;
                    font-size: 16px;
                    line-height: 18px;
                    padding-right: 4px;
                }
            }
        }
        em {
            font-size: 11px;
            line-height: 12px;
            position: absolute;
            top: 112px;
            color: @blue;
        }
    }
    #footer-call-now, #footer-chat-now {
        width: 276px;
        border-right: 1px solid @v-light-grey;
        float: left;
        padding: 16px 16px;
        height: 128px;


        p {
            font-size: 12px;
            line-height: 16px;
            padding: 0 8px 8px 0;
            margin-bottom: 0;
        }
        span {
            color: @red;
            display: block;
            font-size: 32px;
            line-height: 32px;
            padding-top: 9px;
            font-weight: bold;
            a {
                text-decoration: none;
                color: @red;
            }
        }

    }
    #footer-chat-now {
        border-right: none;
    }

}
#footer-wrapper {
    background: @black;
    #footer {
        background: url(/static/img/base/protect-america-grey.png) 0px 25px no-repeat;
        margin: 0 auto;
        width: 730px;
        padding: 32px 0 32px 230px;
        #footer-main-navigation, #footer-care-nav, #footer-contact-info {
            display: block;
            float: left;
            padding-left: 16px;
            li {
                color: @white;
                font-weight: 100;
                font-size: 12px;
                line-height: 20px;
                margin-bottom: 8px;
                display: block;
                width: 108px;
                padding: 2px 8px;
                .border-radius(5px,5px,5px,5px);
                .fade-slow;
                &:hover {
                    background: @grey;
                    .fade-fast;
                }
                a {
                    color: @white;
                    text-decoration: none;
                }
                &.active {
                    background: @white;
                    color: @blue;
                    a {
                        color: @blue;
                    }
                }
            }
        }
        #footer-contact-info {
            li {
                width: 132px;
                margin-bottom: 0;

                strong {
                    text-transform: uppercase;
                }
                span {
                    font-weight: normal;
                }
                a {
                    color: @white;
                    text-decoration: none;
                }
                &:hover {
                    background: transparent;
                }
                &#footer-social-icons {
                    margin-top: 32px;
                    .icon-twitter, .icon-facebook, .icon-youtube {
                        background: #76c1c5;
                        padding: 4px 6px;
                        color: @black;
                        font-size: 28px;
                        .border-radius(20px, 20px, 20px, 20px);
                        .fade-slow;
                        margin-right: 1px;
                        &:hover {
                            background: @light-grey;
                            .fade-fast;
                        }
                    }
                    .icon-facebook {
                        background: #698bd3;
                        padding: 4px 13px;
                    }
                    .icon-youtube {
                        background: #ff5a5a;
                    }
                }
            }
        }
        #footer-awards {
            border-left: 1px solid @grey;
            height: 192px;
            float: left;
        }
    }
}
#terms-wrapper {
    background: @grey;
    #terms {
        width: 960px;
        margin: 0 auto;
        padding-top: 8px;
        #terms-conditions {
            float: left;
            width: 50%;
            p {
                font-size: 10px;
                line-height: 14px;
                padding-bottom: 8px;
                color: @light-grey;
                text-align: justify;
                a {
                    color: @light-grey;
                }
            }
        }
        #copyrights {
            width: 45%;
            float: right;
            p {
                text-align: right;
                font-size: 10px;
                line-height: 14px;
                padding-bottom: 8px;
                color: @light-grey;
            }
        }
    }
}





/************** Banners ****************/

#limited-time-offer {
    width: 937px;
    height: 130px;
    border: 1px dashed @light-grey;
    padding: 8px;
    margin-bottom: 8px;
    position: relative;
    #limited-time-offer-headline {
        position: absolute;
        left: 8px;
        top: -8px;
    }
}
/************* Big Hero Banner Default *****************/

#hero-wrapper {
    height: 496px;
    background: #2b80b8 url(/static/img/base/bg-blue.png) repeat;
    position: relative;
    z-index: 0;
    width: 100%;
    overflow: hidden;
    &.tablet {
        z-index: 400;
    }
    &.red {
        background: @red url(/static/img/base/bg-red.png) repeat;
    }
    &.yellow {
        background: @yellow url(/static/img/base/bg-yellow.png) repeat;
        #hero-image {
            #hero-content {
                h1, p, h2 {
                    color: @grey;
                    text-shadow: 1px 2px 1px rgba(0,0,1,.2);

                }
                p {
                    text-shadow: none;
                }
                h3 {
                    color: @grey;
                }
            }
        }
    }
    &.grey {
        background: @grey url(/static/img/base/bg-grey.jpg) repeat;
    }
    &.green {
        background: @green url(/static/img/base/bg-green.png) repeat;
    }
    &.v-light-grey {
        background: @v-light-grey url(/static/img/base/bg-v-light-grey.jpg) repeat;
        #hero-image {
            #hero-content {
                h1, p, h2 {
                    color: @grey;

                }
                p {
                    text-shadow: none;
                }
            }
        }
    }
    #hero-image {
        width: 960px;
        margin: 0 auto;
        position: relative;
        height: 496px;
        z-index: 0;
        .icon-smart-connect, .icon-automotive, .icon-home-automation, .icon-home-security, .icon-life-safety, .icon-customer-care {
            width: 48px;
            height: 48px;
            display: block;
            background: url(/static/img/base/base-sprite-new.png) -48px -48px no-repeat;
            
        }
        .icon-automotive {
            background: url(/static/img/base/base-sprite-new.png) -48px -96px no-repeat;
        }
        .icon-life-safety {
            background: url(/static/img/base/base-sprite-new.png) 0px 0px no-repeat;
        }  
        .icon-home-security {
            background: url(/static/img/base/base-sprite-new.png) 0px -48px no-repeat;
        }
        .icon-customer-care {
            background: url(/static/img/base/base-sprite-new.png) 0px -144px no-repeat;
        }  
        .icon-home-automation {
            background: url(/static/img/base/base-sprite-new.png) 0px -96px no-repeat;
        }  
        h2 {
            font-weight: 300;
            color: @white;
            font-size: 24px;
            line-height: 36px;
        }
        h1 {
            font-weight: bold;
            color: @white;
            font-size: 24px;
            line-height: 32px;
            text-shadow: 1px 2px 1px rgba(0,0,0,.3);

        }
        h3 {
            color: @light-yellow;
            font-size: 15px;
            text-shadow: 1px 1px 1px rgba(0,0,0,.4);
            padding-top: 48px;
            font-weight: bold;
        }
        p {
            color: @white;
            width: 400px;
            margin-top: 16px;
            text-align: justify;
        }
        .button-link {
            font-size: 16px;
            padding: 12px 24px;
            margin-top: 32px;
            background: @v-light-grey;
            color: @blue;
            &:hover {
                background: @white;
            }
            &.alt {
                background: @blue;
                color: @white;
                &:hover {
                    background: #00aee4;
                }
            }
        }
        button {
            display: block;
            float: left;
            padding: 8px 16px;
            .border-radius(5px,5px,5px,5px);
            color: @white;
            background: @blue;
            text-decoration: none;
            margin-right: 16px;
            border: none;
            font-size: 16px;
            .fade-slow;
            &:hover {
                color: @white;
                .fade-fast;
                background: #00aee4;
                text-decoration: none;
            }
            i {
                border-left: 1px solid #6598b9;
                padding: 4px 0 4px 8px;
                margin-left: 4px;
            }
        }
        .main-hero-image {
            position: absolute;
            bottom: 0;
            z-index: -1;
            
        }
    }
}
/************* In the Home *************/
#in-home-wrapper {
    width: 100%;
    overflow: hidden;
    height: 512px;
    position: relative;
    #in-your-home {
        width: 960px;
        margin: 32px auto;
        .home-img {
            width: 439px;
            height: 453px;
            background: @white;
            float: left;
            margin-right: 16px;
            position: relative;
            overflow: hidden;
            .home-icon {
                position: absolute;
                cursor: pointer;
                cursor: hand;
            }
            .alt-img {
                display: none;
            }
            .home-icon-base {
                position: absolute;
                font-weight: bold;
                color: @white;
                background: @blue;
                font-style: normal;
                width: 20px;
                padding: 6px;
                text-align: center;
                left: 0;
                top: 0;
                font-size: 18px;
                .border-radius(20px,20px,20px,20px);
                cursor: pointer;
                cursor: hand;
            }
            .learn-more {
                position: absolute;
                left: 120px;
                z-index: 999;
                top: 24px;
                text-transform: uppercase;
                color: @blue;
            }
            .back {
                position: absolute;
                left: 16px;
                z-index: 999;
                top: 16px;
                text-transform: uppercase;
                color: @grey;
                display: none;
            }
        }
        .home-content {
            width: 436px;
            background: @white;
            background: rgba(255,255,255,.85);
            float: left;
            height: 357px;
            padding: 48px 32px;
            .alt-content {
                display: none;
            }
            strong, h2 {
                font-size: 40px;
                line-height: 44px;
                font-weight: 100;
                font-style: italic;
                color: @grey;
            }
            h2 {
                padding-bottom: 16px;
            }
            p {
                text-align: justify;
                line-height: 24px;
                margin-bottom: 24px;
                &.emp {
                    font-weight: bold;
                }
            }
            .order-link {
                strong {
                    line-height: 37px;
                    font-style: normal;
                    font-size: 14px;
                }
            }
        }

    }
    .in-home-bg {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
}
/************* Buttons *****************/
.button-link {
    display: block;
    float: left;
    padding: 8px 16px;
    .border-radius(5px,5px,5px,5px);
    color: @white;
    background: @blue;
    text-decoration: none;
    margin-right: 16px;
    .fade-slow;
    &.alt {
        background: @white;
        color: @blue;
    }
    &:hover {
        color: @white;
        .fade-fast;
        background: #00aee4;
        text-decoration: none;
    }
    
    i {
        border-left: 1px solid #6598b9;
        padding: 4px 0 4px 8px;
        margin-left: 4px;
    }
}
.order-link {
    b.phone-alt {
        line-height: 37px;
        height: 37px;
        color: @grey;
        span {
            font-weight: bold;
        }
    }
}
/************ Testimonials ************/
.testimonials {
    margin: 16px 0;
    .testimonial {
        width: 304px;
        position: relative;
        float: left;
        h3 {
            font-size: 24px;
            color: @grey;
            font-weight: bold;
            line-height: 26px;
            height: 66px;
            span {
                display: block;
                font-weight: normal;
                font-style: italic;
                font-size: 16px;
                line-height: 20px;
            }
            .rating {
                position: absolute;
                right: 0;
                top: 26px;
                color: @yellow;
            }
        }
        i.icon-caret-up {
            position: absolute;
            left: 24px;
            top: 32px;
            line-height: 56px;
            font-size: 56px;
            color: @light-blue;
        }
        p {
            display: block;
            background: @light-blue;
            .border-radius(5px,5px,5px,5px);
            padding: 16px;
            text-align: justify;
            font-size: 13px;
        }
        &.mid {
            margin: 0 24px;
        }
    }
}
