/* #Media Queries
================================================== */

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {

    .wrapper, #header-wrapper #header, #top-section-wrapper #top-section, #order-footer {
        width: 96%;
    }
    #footer-wrapper, #terms-wrapper {
        width: 100%;
        #terms, #footer {
            width: 740px;
        }
        #footer {
            padding: 32px 0;
            background: none;
        }
    }
    #header-wrapper #header #main-navigation {
        width: 380px;
        li {
            font-size: 14px;
            width: 75px;
        }
    }
    #header-wrapper.stuck {
        display: none;
        #header .stuck-phone {
            font-size: 18px;
        }
    }
    #footer-wrapper #footer {
        #footer-awards {
            display: none;
        }
        #footer-main-navigation {
            padding: 0;
        }
        #footer-contact-info {
            float: right;
        }
    }
    #order-footer #footer-package-section {
        width: 30%;
        input {
            width: 160px;
        }
    }
    #order-footer #footer-call-now, #order-footer #footer-chat-now {
        width: 28%;
    }
    #order-footer #footer-call-now span a, #order-footer #footer-chat-now span a {
        font-size: 24px;
    }
    #local-first-paragraph {
        width: 500px;
        margin: 33px auto 40px;
        p {
            font-size: 16px;
            line-height: 24px;   
        }
    }
    #generic-banner .left {
        width: 65%;
        float: left;
        margin: 20px 0 0 225px;
        h1, h3 {
            font-size: 28px;
            line-height: 30px;
        }
        h2 {
            font-size: 18px;
        }
        p {
            font-size: 15px;
            line-height: 20px;
        }
    }
    #call-box {
        p {
            width: auto;
        }
    }
    #local-banner .left {
        left: 10%;
        top: 6%;
        width: 24%;
        p {
            font-size: 20px;
            line-height: 30px;
        }
    }
    #local-banner .right {
        top: 63px;
        width: 45%;
    }
    #crime-statistics {
        width: 730px;
        margin: 0 auto 60px;
        padding-top: 20px;
        text-align: center;
        .crime-tiles .crime-tiles-four {
            padding: 20px;
            width: 135px;
            h3 {
                font-size: 40px;
                padding: 15px 0 10px;
            }
        }
        .pie p {
            float: right;
            font-size: 14px;
            line-height: 20px;
            margin-left: 20px;
            width: 40%;
        }
    }
    #main-benefits {
        padding: 0;
        ul {
            width: 96%;
            li {
                margin: 0 6%;
                width: 38%;
            }
        }
    }
    #order-footer {
        display: none;
    }
    #protect-america-content {
        p {
            width: 600px;
        }
        h2 {
            width: 500px;
            font-size: 30px;
        }
        .content-smart-connect p {
            font-weight: 400;
        }
    }

}
 

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .wrapper, #header-wrapper #header, #top-section-wrapper #top-section, #order-footer {
        width: 96%;
    }
    #footer-wrapper, #terms-wrapper {
        width: 100%;
        #terms, #footer {
            width: 460px;
        }
        #footer {
            padding: 32px 0;
            background: none;
        }
    }
    #top-section-wrapper {
        #top-section {
            #company-links {
                width: 100%;
                float: none;
                .interactive-customer, .easy-chat-click, #international-selection {
                    display: none;
                }
                form {
                    display: none;
                }
                #main-phone {
                    float: none;
                    text-align: center;
                }
            }
        }
    }
    #header-wrapper {
        #header {
            #company-logo {
                margin: 20px 0 10px;
            }
            #main-navigation {
                width: 100%;
                display: none;
                li {
                    font-size: 16px;
                    width: 90px;
                    margin-right: 20px;
                }
            }
        }
    }
    #header-wrapper #header .request-quote-button {
        margin-top: 14px;
    }
    #header-wrapper.stuck {
        display: none;
    }
    #generic-banner {
        .right {
            display: none;
        }
        .left {
            width: 100%;
        }
    }
    #call-box {
        p {
            width: 100%;
            span {
                display: block;
            }
        }
    }
    #featured-on {
        display: none;
    }
    #footer-wrapper #footer {
        #footer-awards {
            display: none;
        }
        #footer-main-navigation {
            padding: 0;
        }
        #footer-contact-info {
            float: right;
        }
    }
    #order-footer {
        display: none;
    }
    #order-footer p {
        text-align: left;
    }
    #order-footer #footer-package-section {
        width: 93%;
        border: none;
        input {
            width: 215px;
            float: left;
            margin-bottom: 10px;
        }
    }
    #order-footer #footer-call-now, #order-footer #footer-chat-now {
        width: 93%;
        border: none;
    }
    #order-footer #footer-call-now span a, #order-footer #footer-chat-now span a {
        font-size: 24px;
    }
    #local-first-paragraph {
        width: 400px;
        margin: 33px auto 40px;
        p {
            font-size: 16px;
            line-height: 24px;   
        }
    }
    #generic-banner .left {
        margin: 0 0 0 6%;
        h1, h3 {
            font-size: 22px;
            line-height: 26px;
        }
        h2 {
            font-size: 18px;
        }
        p {
            font-size: 15px;
            line-height: 20px;
        }
    }
    #generic-banner .right {
        width: 45%;
    }
    #generic-banner .right #hero-content #slide-form-area {
        min-width: 180px;
        max-width: 280px;
        #quote-form {
            input {
                min-width: 150px;
                max-width: 250px;
            }
            button {
                min-width: 150px;
                max-width: 250px;
                font-size: 14px;
            }
            p.form-title {
                font-size: 14px;
                line-height: 34px;
            }
        }
    }
    #local-banner .left {
        left: 45%;
        top: 32%;
        width: 40%;
        p {
            font-size: 20px;
            line-height: 30px;
        }
    }
    #local-banner .right {
        display: none;
    }
    #hero-testimonial #hero-testimonial-wrapper #review-cycle-container {
        width: 300px;
        height: 375px;
        .review {
            width: 300px;
            p {
                font-size: 12px;
                line-height: 20px;
            }
            b {
                font-size: 18px;
            }
        }
    }
    #crime-statistics {
        width: 430px;
        margin: 0 auto 60px;
        padding-top: 20px;
        text-align: center;
        .crime-tiles .crime-tiles-four {
            padding: 20px;
            width: 165px;
            margin: 0 10px 10px 0;
            h3 {
                font-size: 40px;
                padding: 15px 0 10px;
            }
        }
        .pie p {
            float: right;
            font-size: 14px;
            line-height: 20px;
            margin-left: 20px;
            width: 96%;
            clear: both;
            padding: 40px 0 0;
        }
    }
    #main-benefits {
        padding: 0;
        ul {
            width: 96%;
            li {
                margin: 0 6%;
                width: 38%;
            }
        }
    }
    #protect-america-content {
        p {
            width: 80%;
        }
        h2 {
            width: 60%;
            font-size: 30px;
        }
        .content-smart-connect p {
            font-weight: 400;
            font-size: 16px;
        }
    }
}
 
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    .wrapper, #header-wrapper #header, #top-section-wrapper #top-section {
        width: 96%;
    }
    #order-footer {
        width: 90%;
    }
    #footer-wrapper, #terms-wrapper {
        width: 100%;
        #terms, #footer {
            width: 100%;
        }
        #footer {
            padding: 32px 0;
            background: none;
        }
    }
    #header-wrapper #header #main-navigation {
        width: 100%;
        li {
            font-size: 16px;
            width: 130px;
            margin-right: 15px;
            a {
                width: 100%;
            }
        }
    }
    #header-wrapper #header .request-quote-button {
        margin: 20px 0 10px 30px;
        float: left;
    }
    #header-wrapper.stuck {
        display: none;
    }
    #header-wrapper #header #company-logo {
        margin: 20px 0 0 30px;
    }
    #top-section-wrapper #top-section #company-links input {
        display: none;
    }
    #footer-wrapper #footer {
        #footer-awards {
            display: none;
        }
        #footer-main-navigation {
            padding: 0;
        }
        #footer-contact-info {
            float: right;
        }
    }
    #order-footer p {
        text-align: left;
    }
    #order-footer #footer-package-section {
        width: 93%;
        border: none;
        input {
            width: 215px;
            float: left;
            margin-bottom: 10px;
        }
    }
    #order-footer #footer-call-now, #order-footer #footer-chat-now {
        width: 93%;
        border: none;
    }
    #order-footer #footer-call-now span a, #order-footer #footer-chat-now span a {
        font-size: 24px;
    }
    #footer-wrapper #footer #footer-contact-info {
        display: none;
    }
    #terms-wrapper #terms {
        #terms-conditions, #copyrights {
            float: left;
            width: 96%;
        }
    }
    #local-first-paragraph {
        width: 80%;
        margin: 33px auto 40px;
        p {
            font-size: 16px;
            line-height: 24px;   
        }
    }
    #generic-banner .left {
        width: 90%;
        margin: 0 auto;
        float: none;
        h1, h3 {
            font-size: 22px;
            line-height: 26px;
        }
        h2 {
            font-size: 18px;
        }
        p {
            font-size: 15px;
            line-height: 20px;
        }
    }
    #generic-banner .right {
        width: 100%;
    }
    #generic-banner .right #hero-content #slide-form-area {
        min-width: 180px;
        max-width: 440px;
        #quote-form {
            input {
                min-width: 150px;
                max-width: 250px;
            }
            button {
                min-width: 150px;
                max-width: 250px;
                font-size: 14px;
            }
            p.form-title {
                font-size: 14px;
                line-height: 34px;
            }
        }
    }
    #local-banner .left {
        left: 45%;
        top: 37%;
        width: 45%;
        p {
            font-size: 16px;
            line-height: 25px;
        }
    }
    #local-banner .right {
        display: none;
    }
    #hero-testimonial #hero-testimonial-wrapper #review-cycle-container {
        width: 300px;
        height: 375px;
        .review {
            width: 300px;
            p {
                font-size: 12px;
                line-height: 20px;
            }
            b {
                font-size: 18px;
            }
        }
    }
    #crime-statistics {
        width: 96%;
        margin: 0 auto 60px;
        padding-top: 20px;
        text-align: center;
        h2 {
            font-size: 36px;
            padding: 5px 0 15px;
        }
        h3 {
            font-size: 24px;
        }
        .crime-tiles .crime-tiles-four {
            padding: 20px;
            width: 86%;
            margin: 0 10px 10px 0;
            text-align: center;
            h3 {
                font-size: 40px;
                padding: 15px 0 10px;
            }
        }
        .pie p {
            float: right;
            font-size: 14px;
            line-height: 20px;
            margin-left: 20px;
            width: 96%;
            clear: both;
            padding: 40px 0 0;
        }
    }
    #main-benefits {
        padding: 0;
        ul {
            width: 96%;
            li {
                margin: 0;
                width: 100%;
                float: none;
            }
        }
    }
    #protect-america-content {
        p {
            width: 80%;
        }
        h2 {
            width: 60%;
            font-size: 20px;
            line-height: 28px;
            font-weight: 600;
        }
        .content-smart-connect {
            background-position: -180px 0;
            p {
                font-weight: 100;
                font-size: 14px;
                width: 240px;
                padding: 15px;
                line-height: 20px;
            }
        }
    }
}