@import "style";

#customer-testimonials {
    .content-box;
    padding-bottom: 0px;
    h2 {
        margin-bottom: 16px;
    }
    ul {
        margin-right: 0;
    }
    .customer-name {
        float: left;
        width: 175px;
        margin: 24px 32px 0 0;
        text-align: right;
        h4 {
            color: @blue;
            font-weight: 300;
            font-size: 32px;
            text-transform: uppercase;
            text-align: right;
            line-height: 36px;
            span {
                display: block;
                font-size: 16px;
                line-height: 18px;
                color: @dark-grey;
                font-weight: normal;
            }
        }
        strong {
            display: block;
            margin-bottom: 16px;
            font-size: normal;
            color: @dark-grey;
            font-size: 12px;
        }
    }
    p {
        float: left;
        padding: 16px;
        border: 1px solid @light-grey;
        font-size: 16px;
        color: @dark-grey;
        line-height: 32px;
        font-weight: normal;
        width: 710px;
        text-align: justify;
        position: relative;
        .testimonial-arrow {
            .base-sprite(-164px, 0px);
            width: 24px;
            height: 32px;
            position: absolute;
            left: -21px;
            top: 24px;
            
        }
    }
}

body.support {
    #support-content {
        .content-box(664px);
        margin-top: 16px;
        #customer-support-hours, #customer-support-contact {
            .half-box;
            margin-top: 16px;
            h3 {
                padding: 8px 0 16px;
            }
        }
        #customer-support-contact {
            background: @v-light-grey;
            .border-radius(5px,5px,5px,5px);
            p {
                padding: 8px;
                text-align: center;
                font-size: 20px;

            }
        }
    }
}
#simon-xt-manual, #simon-3-manual {
    width: 456px;
    background: @v-light-grey;
    padding: 8px;
    padding-bottom: 0px;
    float: left;
    h3 {
        color: @black;
        font-weight: bold;
        padding-bottom: 8px;
    }
    #simon-xt-image, #simon-3-image {
        float: left;
        padding-right: 16px;
        width: 120px;
        text-align: center;
    }
    .button-link a {
        padding: 8px 58px;
    }
}
#simon-xt-manual {
    margin-right: 16px;
}
body.installation {
    #installation-video {
        margin-top: 16px;
    }
    #installation-content {
        .content-box;
        border-bottom: 1px solid @v-light-grey;
        padding-bottom: 8px;
    }
    #installation-department {
        .content-box(960px);
        background: @v-light-grey;
        padding-top: 8px;
        margin: 8px 0;

        &:hover {
            background: @light-green;
        }
        h3 {
            float: left;
            padding: 0 0 0 16px;
            line-height: 32px;
            color: @black;
        }
        p {
            float: right;
            padding: 0 16px 0 64px;
            line-height: 32px;
            font-size: 20px;
            width: 260px;
            text-align: right;
        }
    }

    #motion-detector-installation, #door-sensor-installation, #window-sensor-installation {
        .content-box;
        .bottom-rule;

        #motion-detector-media, #door-sensor-media, #window-sensor-media {
            .content-box(400px);
            margin-right: 32px;
            text-align: center;
            img {
                padding-top: 32px;
            }
        }
        #motion-detector-steps, #door-sensor-steps, #window-sensor-steps {
            .content-box(528px);
        }
        
    }
    #window-sensor-installation {
        padding-bottom: 0;
        border-bottom: none;
        margin-bottom: none;
    }
}
body.operation {
    #operation-support {
        .content-box(664px);
    }
    #support-department {
        .content-box(960px);
        background: @v-light-grey;
        padding-top: 8px;
        margin: 8px 0;

        &:hover {
            background: @light-green;
        }
        h3 {
            float: left;
            padding: 0 0 0 16px;
            line-height: 32px;
            color: @black;
        }
        p {
            float: right;
            padding: 0 16px 0 64px;
            line-height: 32px;
            font-size: 20px;
            width: 260px;
            text-align: right;
        }
    }
    #tech-support {
        .content-box;
    }
    #master-code, #false-alarm-prevention {
        .content-box;
        .bottom-rule;
        padding-bottom: 16px;
        margin-bottom: 16px;
        ul, ol {
            margin-left: 16px;
            li {
                margin-left: 16px;
                list-style-type: disc;
                padding-bottom: 16px;
                font-size: 16px;
                color: @dark-grey;
                line-height: 18px;
            }
        }
        ol {
            li {
                list-style-type: decimal;
            }
        }
    }

}