@import "style";
#hero-image {
    .main-hero-image {
        position: absolute;
        bottom: 0;
        left: -5%;
        z-index: 0;
    }
    #hero-content {
        float: right;
        width: 480px;
        margin-top: 48px;
        color: @grey;
        h2 {
            color: @blue;
        }
        p {
            color: @grey;
            text-align: justify;
        }
        h1 {
            color: @blue;
        }
    }
}
#support-hero {
    width: 960px;
    margin: 0 auto;
    padding-bottom: 64px;
    background: url(/static/img/support/install-hero.jpg) right bottom no-repeat;
    h1 {
        font-size: 26px;
        line-height: 32px;
        padding-top: 64px;
        font-weight: bold;
        padding-bottom: 8px;
        color: #333;
    }
    p {
        width: 515px;
        line-height: 28px;
    }
    .button-link {
        margin-top: 8px;
    }
}
.blue-section {
    padding: 48px 0;
    background: #2a94d6;
    margin-bottom: 32px;
    .wrapper {
        h2 {
            color: @white;
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 20px;
            letter-spacing: 1px;
        }
        h3 {
            color: #d1ebfa;
            text-align: center;
            font-weight: normal;
            text-transform: uppercase;
            font-size: 16px;
            letter-spacing: 1px;
            line-height: 32px;
        }
        ul {
            margin-top: 48px;
            li {
                float: left;
                margin-right: 40px;
                margin-bottom: 24px;
                cursor: pointer;
                cursor: hand;
                border: 1px solid transparent;
                .fade-slow;
                p {
                    text-align: center;
                    color: @white;
                    font-size: 12px;
                }
                a {
                    display: block;
                    color: #d1ebfa;
                    text-transform: uppercase;
                    font-size: 10px;
                    text-decoration: none;
                    text-align: center;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                &:hover {
                    background: #2f394a;
                    border: 1px solid #2f394a;
                    .fade-fast;
                }
            }
        }
    }
}
.install-area {
    display: none;
    .install-media {
        .content-box(400px);
        margin-right: 32px;
        text-align: center;
        padding-top:30px;
    }
    .install-steps {
        .content-box(528px);
        ul {
            margin-top: 32px;
            li {
                a {
                    i {
                        font-size: 17px;
                        margin-left: 16px;
                    }
                }
            }
        }
    }
    &.active {
        display: block;
    }
}
#package-code {
    margin-top: 32px;
    #order-form {
        margin-top: 32px;
        .content-box(50%);
        .drop-shadow;
        background: @blue;
        padding: 20px;
        opacity: 0.98;
        h1 {
           color: @v-light-grey;
        }
        p {
           color: @light-grey;
           font-size: 12px;
        }
        form {
            padding-bottom: 12px;
            a {
                color: @white;
                display: block;
                margin: 0 auto;
                text-align: center;
                font-size: 10px;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .order-form-field {
           position: relative;
           .form-check {
               position: absolute;
               right: -20px;
               top: 9px;
               display: none;
               
           }
           .form-check-select {
               position: absolute;
               left: 365px;
               top: -4px;
               display: none;
               
           }
        }
        input {
            color: @black;
            font-size: 24px;
            height: 28px;
            line-height: 28px;
            margin: 0 20px 15px;
            width: 432px;
            &.yes-check {
                .fade-slow;
                background: #fffee7;
            }
            &.no-check {
                .fade-slow;
                background: #ffd2d2;
            }
        }
        label {
            display: block;
            color: @white;
            font-size: 12px;
            line-height: 12px;
            margin-left: 20px;
        }
        label.select {
            display: inline;
            color: @white;
            font-size: 20px;
            line-height: 28px;
            margin-left: 20px;
        }
        select {
            margin: 0 20px 20px 5px;
            font-size: 18px;
            color: @black;
            width: 250px;
        }
        button {
            display: block;
            background: #90af01;
            color: @white;
            text-decoration: none;
            height: 36px;
            line-height: 36px;
            background-image: -moz-linear-gradient(top, #90af01, #829e01);
            background-image: -webkit-gradient(linear, left top, left bottom, from(#90af01), to(#829e01));
            border: 1px solid transparent;
            font-size: 18px;
            padding: 0 24px;
            width: 350px;
            font-weight: bold;
            cursor: pointer;
            cursor: hand;
            margin: 8px auto 0;
            &:hover {
                background-image: -moz-linear-gradient(center top, #90af01, #687e01);
                background-image: -webkit-gradient(linear, left top, left bottom, from(#90af01), to(#687e01));
                border: 1px solid #768f03;
                border-bottom: 1px solid #576902;
                -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.3);
                -moz-box-shadow: 0 1px 1px rgba(0,0,0,.3);
                box-shadow: 0 1px 1px rgba(0,0,0,.3);
            }
        }
    }
    #security-cart {
        .content-box(420px);
        margin-left: 16px;
        h2 {
            background: @grey;
            line-height: 52px;
            margin-bottom: 0;
            text-align: center;
            color: @white;
            font-weight: bold;
            &.error {
                background: @red;
                margin-top: 32px;
            }
        }
        ul {
            li {
                background: @v-light-grey;
                color: @blue;
                border: 1px solid @grey;
                border-top: none;
                padding: 8px 0;
                display: block;
                height: 136px;
                img {
                    float: left;
                    padding-right: 8px;
                    padding-top: 24px;
                    padding-bottom: 24px;
                }
                h3 {
                    font-weight: bold;
                    font-size: 20px;
                    position: relative;
                    line-height: 20px;
                    color: #555;
                    strong {
                        color: @blue;
                        display: block;
                        padding-bottom: 0px;
                        span {
                            font-size: 12px;
                            line-height: 14px;
                            padding-top: 4px;
                        }
                    }
                }
                &.alpha {
                    border-top: 1px solid @grey;
                }
                ul {
                    list-style-type: disc;
    
                    li {
                        background: transparent;
                        color: @black;
                        font-size: 11px;
                        line-height: 14px;
                        border-bottom: none;
                        padding: 0;
                        height: auto;
                        list-style-type: disc;
                        border: none;
    
                    }
                }
                .button-link {
                    margin-top: 8px;
                }
            }
        }
    }
}

body.support, body.customer-service {
    #hero-image {
        .main-hero-image {
            position: absolute;
            bottom: 0;
            left: 1%;
            z-index: 0;
        }
        #hero-content {
            h1 {
                text-shadow: 1px 1px 1px rgba(0,0,0,.4);
                font-size: 32px;
            }
            #customer-support-hours {
                margin-top: 16px;
                border-top: 1px solid @light-grey;
                padding-top: 16px;
                h2 {
                    padding-bottom: 16px;
                    color: grey;
                }
                h3 {
                    color: @grey;
                    text-shadow: none;
                    padding-top: 0;
                    font-size: 20px;
                    padding-bottom: 16px;
                }
            }
        }
    }
    #chat-option {
        .content-box;
        margin: 32px 0;
    }
}
body.department-listing {
    #hero-image {
        .main-hero-image {
            left: 2%;
        }
    }
    #department-listings {
        .content-box;    
        margin: 32px 0;
        h2 {
            margin-top: 8px;
            padding-top: 8px;
            padding-bottom: 4px
        }
        #customer-care {
            background: @off-white;

            padding: 0 8px 8px;
        }
        #buying-home-security, #home-security-opportunities {
            background: @v-light-grey;

            padding: 0 8px 8px;
        }
        #billing-department, #sales-department, #custservice-department, #installation-department, #monitoring-station, #bizdev-department, #careers-department {
            .content-box(944px);
            background: @off-white;
            padding-top: 8px;
            margin: 8px 0;
            .border-radius(5px,5px,5px,5px);

            &:hover {
                background: @light-green;
            }
            h3 {
                float: left;
                padding: 0 0 0 16px;
                line-height: 32px;
                color: @black;
            }
            p {
                float: right;
                padding: 0 16px 0 64px;
                line-height: 32px;
                font-size: 20px;
                width: 260px;
                text-align: right;
            }
        }
    }
}
body.affiliate-program {

    #affiliate-enrollment {
        .content-box(960px);
        margin: 32px 0;
        ul {
            margin-left: 16px;
            margin: 32px 0;
            li {
                margin-left: 16px;
                list-style-type: disc;
                font-size: 18px;
                line-height: 24px;
                color: @blue;
                padding-bottom: 8px;
                width: 48%;
                float: left;
            }
        }
    }
    #affiliates-enroll-form {
        .content-box(944px);
        background: @v-light-grey;
        padding: 8px 8px 32px;
        label {
            color: @blue;
            display: block;
            &.required {
                font-weight: bold;
            }
            &.checkbox {
                height: 28px;
                line-height: 28px;
                border-top: 1px solid @light-grey;
                padding-top: 16px;
            }
        }

        input {
            color: @black;
            font-size: 18px;
            height: 28px;
            line-height: 28px;
            margin: 0 0 8px;
            width: 416px;
            &.checkbox {
                width: 36px;
                float: left;
                margin-top: 16px;
            }
        }
        select {
            width: 416px;
            margin: 8px 0 16px;
        }
        textarea {
            width: 416px;
            height: 92px;
            
        }
        button {
            display: block;
            background: #90af01;
            color: @white;
            text-decoration: none;
            height: 36px;
            line-height: 36px;
            background-image: -moz-linear-gradient(top, #90af01, #829e01);
            background-image: -webkit-gradient(linear, left top, left bottom, from(#90af01), to(#829e01));
            border: 1px solid transparent;
            font-size: 18px;
            padding: 0 24px;
            font-weight: bold;
            cursor: pointer;
            cursor: hand;
            margin: 0 auto;
            width: 700px;
            &:hover {
                background-image: -moz-linear-gradient(center top, #90af01, #687e01);
                background-image: -webkit-gradient(linear, left top, left bottom, from(#90af01), to(#687e01));
                border: 1px solid #768f03;
                border-bottom: 1px solid #576902;
                -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.3);
                -moz-box-shadow: 0 1px 1px rgba(0,0,0,.3);
                box-shadow: 0 1px 1px rgba(0,0,0,.3);
            }
        }
        #general-information {
            .content-box(448px);
            padding: 8px;
            margin-right: 8px;
            margin-bottom: 4px;
        }
        #address-information {
            .content-box(448px);
            padding: 8px;
            margin-left: 8px;
            margin-bottom: 4px;
        }
        #contact-information {
            .content-box(448px);
            padding: 8px;
            padding-right: 16px;
            margin-bottom: 4px;
            border-top: 1px solid @light-grey;

        }
        #website-information {
            .content-box(448px);
            padding: 8px;
            padding-left: 16px;
            margin-bottom: 4px;
            border-top: 1px solid @light-grey;
            p.form-help {
                font-size: 11px;
                line-height: 14px;
                width: 422px;
                text-align: justify;
            }
        }
        #terms-conditions {
            margin: 8px;
            border-top: 1px solid @light-grey;
            padding-top: 8px;
            #the-agreement {
                background: @white;
                height: 300px;
                overflow-y: scroll;
                padding: 8px;
                border: 1px solid @light-grey;
                ol {
                    margin-left: 16px;
                    li {
                        list-style-type: decimal;
                        margin: 16px;
                        text-align: justify;
                    }
                }
            }
            p.submit-text {
                padding: 8px 0;
            }
        }
        #agent-signature {
            padding: 8px;
            border-bottom: 1px solid @light-grey;
            margin-bottom: 16px; 
            input {
                width: 924px;
            }
        }
    }
}
body.feedback-ceo {
    #hero-image {
        #hero-content {
            .content-box(640px);
            margin-top: 32px;
            margin-left: 200px;
            p {
                width: 640px;
            }
        }
    }
    #ceo-feedback-form {
        .content-box(928px);
        margin-top: 16px;
        padding: 16px;
        #ceo-message {
            .content-box(920px);
        }
        #ceo-form {
            .content-box(914px);
            padding: 8px;
            background: @v-light-grey;
            p {
                font-size: 12px;
            }
            label {
                color: @blue;
                display: block;
                &.required {
                    font-weight: bold;
                }
                &.checkbox {
                    height: 28px;
                    line-height: 28px;
                    border-top: 1px solid @light-grey;
                    padding-top: 16px;
                }
            }
    
            input {
                color: @black;
                font-size: 18px;
                height: 28px;
                line-height: 28px;
                margin: 0 0 8px;
                width: 416px;
                &.city {
                    width: 200px;
                }
                &.checkbox {
                    width: 36px;
                    float: left;
                    margin-top: 16px;
                }
            }
            select {
                width: 416px;
                margin: 8px 0 16px;
                &#state {
                    width: 200px;
                    margin-left: 11px;
                    position: relative;
                    bottom: 3px;
                }
            }
            textarea {
                width: 907px;
                height: 150px;
                
            }
            #customer-information {
                .content-box(424px);
                padding-right: 24px;
                border-right: 1px solid @light-grey;
                p {
                    font-size: 12px;
                }
            }
            #feedback-information {
                .content-box(424px);
                padding-left: 24px;
                p {
                    font-size: 12px;
                    height: 84px;
                }
            }
        }
        .star-container {
            width: 200px;
            
        }
        .star-button {
            width: 40px;
            height: 40px;
            background: url(../img/extra/testimonial-stars-light-grey.png) -40px 0 no-repeat;
            float: left;
            cursor: pointer;
            cursor: hand;
            &.active {
                background: url(../img/extra/testimonial-stars-light-grey.png) 0px 0 no-repeat;

            }
            &.hover {
                background: url(../img/extra/testimonial-stars-light-grey.png) -80px 0 no-repeat;

            }
            
        }
        button {
            display: block;
            background: #90af01;
            color: @white;
            text-decoration: none;
            height: 36px;
            line-height: 36px;
            background-image: -moz-linear-gradient(top, #90af01, #829e01);
            background-image: -webkit-gradient(linear, left top, left bottom, from(#90af01), to(#829e01));
            border: 1px solid transparent;
            font-size: 18px;
            padding: 0 24px;
            font-weight: bold;
            cursor: pointer;
            cursor: hand;
            margin: 16px auto;
            width: 700px;
            &:hover {
                background-image: -moz-linear-gradient(center top, #90af01, #687e01);
                background-image: -webkit-gradient(linear, left top, left bottom, from(#90af01), to(#687e01));
                border: 1px solid #768f03;
                border-bottom: 1px solid #576902;
                -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.3);
                -moz-box-shadow: 0 1px 1px rgba(0,0,0,.3);
                box-shadow: 0 1px 1px rgba(0,0,0,.3);
            }
        }
    }

}
body.troubleshooting {
    #hero-image {
        .main-hero-image {
            left: -23%;
        }
    }
    #troubleshooting-overview {
        .content-box(664px);
        padding-top: 32px;
        img {
            padding-right: 16px;
        }
        #troubleshooting-content {
            .content-box(400px);
            padding-left: 225px;
            
        }
    }
    #support-department {
        .content-box(960px);
        background: @v-light-grey;
        padding-top: 8px;
        margin: 8px 0;

        &:hover {
            background: @light-green;
        }
        h3 {
            float: left;
            padding: 0 0 0 16px;
            line-height: 32px;
            color: @black;
        }
        p {
            float: right;
            padding: 0 16px 0 64px;
            line-height: 32px;
            font-size: 20px;
            width: 260px;
            text-align: right;
        }
    }
    #ac-power, #low-battery, #system-time, #alarm-memory, #sensor-open, #sensor-low-battery, #communication-failure, #sensor-fail, #trouble-beeps {
        .content-box;
        padding-bottom: 16px;
        margin-bottom: 16px;
        ul, ol {
            margin-left: 16px;
            li {
                margin-left: 16px;
                list-style-type: disc;
                padding-bottom: 16px;
                font-size: 16px;
                color: @dark-grey;
                line-height: 18px;
            }
        }
        ol {
            li {
                list-style-type: decimal;
            }
        }
    }
}

body.agent-two {
    #hero-wrapper {
        #high-dry{
            width: 100%;
            height:auto;
            position:absolute;
            left:0px;
            bottom:-20%;
            min-width: 1200px;
            z-index: -1;
        }
        #hero-image {    
            z-index: 0;
            h1  {
                width:400px;
                
                text-align: center;
                margin-top:50px;
                font-size: 20px;
                color:white;
                font-weight: 500;
                line-height: 22px;
                padding-bottom:8px;
            }
               #hero-area {
                    width:400px;
                    z-index: 0;
                    position: absolute;
                    left: 0;
                    z-index: 1;
                    background: white;
                    padding-bottom: 16px;
                                        
                    h3 {
                        text-transform: uppercase;
                        margin-top:-50px;
                        padding-left:13px;
                        font-weight: 700;
                        font-size:65px;
                        color: @dark-grey;
                    }
                    h2 {
                        text-transform: uppercase;
                        font-size: 20px;
                        padding-left:16px;
                        padding-top:16px;
                        font-weight: 100;
                        color: @dark-grey;
                    }
                    p {
                        padding-top: 16px;
                        padding-left:16px;
                        width: 360px;
                        color: @dark-grey;
                        
                    }
                    h4 {
                        color:@grey;
                        width:360px;
                        font-weight: 700;
                        font-size:16px;
                        padding-left:16px;
                        padding-top:8px;
                    }
                    a {
                        color:@blue;
                        width:360px;
                        padding-left:16px;
                       
                    }
                    
                }
                            
        }
    }
    #agent-more-information {
        .content-box(50%);
        margin: 32px 0;
        margin-right: 32px;
        padding-right: 16px;
        border-right: 1px solid @v-light-grey;
        p {
            margin-right: 32px;
        }
        h3 {
            font-weight: bold;
            
            span {
                display: block;
            }
        }
        h4 {
            line-height: 32px;
            font-size: 16px;
            font-weight: 400;
            color:@blue;
            margin-bottom:20px;
        }
        li {
            font-size: 16px;
            margin-left: 16px;
            margin-bottom:16px;
            padding-top: 10px;
            margin-bottom: 20px;
           
        }
    }
    #agent-badges {
        text-align: center;
        margin-bottom: 16px;
    }
    #agent-two-overview {
        .content-box(44%);
        margin: 32px 0;
        #webinar {
            width:400px;
            height:450px;
            float:left;
            background: #333333;
            margin-bottom: 20px;
            margin-top:20px;
                img{
                    position:absolute;
                    width:101px;
                    height:119px;
                    margin-left:300px;
                    margin-top: 3px;
                }
                #head-title {
                    background: #adebff;
                    
                    padding-left:8px;
                        
                    h3 {                    
                        color:#333333;                    
                        font-size: 13px;
                        text-transform: uppercase;
                        font-weight: 600;
                    }
                    h2{
                        color:#333333;
                        font-size:27px;
                        text-transform: uppercase;
                        font-weight: 700;
                    }
                    
                }
                #form-area {
                    width:350px;
                    margin-top: 24px;
                    padding-left: 20px;
                    padding-right:16px;
                    p {
                        font-size: 12px;
                        color:@white;
                        line-height:14px;
                    }
                    input {
                        font-size: 24px;
                        line-height: 32px;
                        margin:8px 0 8px;
                        border-radius: 5px 5px 5px 5px;
                        width:344px;
                    }
                    button {
                        
                        border-radius: 5px 5px 5px 5px;
                        width:265px;
                        display: block;
                        margin:20px auto;
                        padding: 14px 16px;
                        background: @blue;
                        font-size: 24px;
                        color:@white;
                        border: none;
                    }
                }
        }
        img{
            width: 420px;
            margin-top:118px;
            margin-left: -10px;
        }
        h3{
            text-transform: uppercase;
           
            font-size:40px;
            font-weight:600;
        }
        p {
            
            font-size:36px;
            font-weight:100;
            line-height:42px;
        }
    }
    #key-indicators {
        width:960px;
        
        

        
        ul {
            margin-top: 20px;
            padding-bottom: 30px;
            
            li {
                margin-right: 20px;
                margin-left: 70px;
                display:inline-block;
                width:40%;
                font-size: 16px;
                line-height: 24px;
                color: @blue;
                
                line-height: 32px;
               
                font-weight: bold;
                margin-bottom: 16px;
                i {
                    font-size: 28px;
                    line-height: 32px;
                    vertical-align: middle;
                    margin-right: 8px;
                }
            }
        }
    }
    
    #action {
        text-align: center;
        margin-bottom:40px;
        background: @grey;
        width:100%;
        padding-top: 8px;  
        padding-bottom: 8px;
        h2 {
            color:white;
            text-transform: uppercase;
            font-weight: 100;
            font-size: 18px;
            line-height: 24px;
        }
        p{
            color:white;
            font-size: 18px;
        }       
    }
    
}
body.moving-kit {
    #hero-image {
        .main-hero-image {
            left: -17%;
        }
    }
    #account-info, #new-home-info {
        .content-box(422px);
        padding: 8px;
        background: @v-light-grey;
        p {
            font-size: 12px;
        }
        label {
            color: @blue;
            display: block;
            &.required {
                font-weight: bold;
            }
            &.checkbox {
                height: 28px;
                line-height: 28px;
                border-top: 1px solid @light-grey;
                padding-top: 16px;
            }
        }
    
        input {
            color: @black;
            font-size: 18px;
            height: 28px;
            line-height: 28px;
            margin: 0 0 8px;
            width: 416px;
            &.city {
                width: 200px;
            }
            &.zip {
                    width: 100px;
                
            }
            &.checkbox {
                width: 36px;
                float: left;
                margin-top: 16px;
            }
        }
        select {
            width: 416px;
            margin: 8px 0 16px;
            &.state {
                width: 80px;
                margin-left: 11px;
                position: relative;
                bottom: 3px;
                margin-right: 11px
            }
        }
        textarea {
            width: 907px;
            height: 150px;
            
        }
        
    }
    #same-as-account {
        .content-box(420px);
        background: @v-light-blue;
        margin-left: 32px;
        padding: 32px 8px;
        margin-top: 25px;
        border: 1px solid @light-blue;
        label {
            color: @blue;
            font-weight: bold;
            
        }
    }
    #shipping-address {
        .content-box(896px);
        padding: 8px;
        margin: 0 32px;
        background: @v-light-grey;
        display: none;
        #ctrl-id_shipping_address {
            float: left;
            width: 445px;
            margin-right: 16px;
            
        }
        p {
            font-size: 12px;
        }
        label {
            color: @blue;
            display: block;
            &.required {
                font-weight: bold;
            }
            &.checkbox {
                height: 28px;
                line-height: 28px;
                border-top: 1px solid @light-grey;
                padding-top: 16px;
            }
        }
    
        input {
            color: @black;
            font-size: 18px;
            height: 28px;
            line-height: 28px;
            margin: 0 0 8px;
            width: 416px;
            &.city {
                width: 200px;
            }
            &.zip {
                    width: 100px;
                
            }
            &.checkbox {
                width: 36px;
                float: left;
                margin-top: 16px;
            }
        }
        select {
            width: 416px;
            margin: 8px 0 16px;
            &.state {
                width: 80px;
                margin-left: 11px;
                position: relative;
                bottom: 3px;
                margin-right: 11px
            }
        }
        textarea {
            width: 907px;
            height: 150px;
            
        }
        
    }
    #account-info {
        margin-left: 32px;
        
    }
    #new-home-info {
        margin-left: 32px;
        
    }
    #moving-kit-form {
        margin: 32px 0;
        button {
            display: block;
            background: #90af01;
            color: @white;
            text-decoration: none;
            height: 36px;
            line-height: 36px;
            background-image: -moz-linear-gradient(top, #90af01, #829e01);
            background-image: -webkit-gradient(linear, left top, left bottom, from(#90af01), to(#829e01));
            border: 1px solid transparent;
            font-size: 18px;
            padding: 0 24px;
            font-weight: bold;
            cursor: pointer;
            cursor: hand;
            margin: 16px auto;
            width: 700px;
            &:hover {
                background-image: -moz-linear-gradient(center top, #90af01, #687e01);
                background-image: -webkit-gradient(linear, left top, left bottom, from(#90af01), to(#687e01));
                border: 1px solid #768f03;
                border-bottom: 1px solid #576902;
                -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.3);
                -moz-box-shadow: 0 1px 1px rgba(0,0,0,.3);
                box-shadow: 0 1px 1px rgba(0,0,0,.3);
            }
        }
    }
}
body.installation {
    #hero-image {
        #installation-video {
            float: left;
            margin-top: 104px;
        }
    }
    #installation-video {
        margin-top: 16px;
    }
    #installation-content {
        .content-box;
        border-bottom: 1px solid @v-light-grey;
        padding-bottom: 8px;
    }
    #installation-department {
        .content-box(960px);
        background: @v-light-grey;
        padding-top: 8px;
        margin: 8px 0;

        &:hover {
            background: @light-green;
        }
        h3 {
            float: left;
            padding: 0 0 0 16px;
            line-height: 32px;
            color: @black;
        }
        p {
            float: right;
            padding: 0 16px 0 32px;
            line-height: 32px;
            font-size: 16px;
            width: 220px;
            text-align: right;
        }
    }

    #motion-detector-installation, #door-sensor-installation, #window-sensor-installation {
        .content-box;

        #motion-detector-media, #door-sensor-media, #window-sensor-media {
            .content-box(400px);
            margin-right: 32px;
            text-align: center;
            padding-top:30px;
            img {
                padding-top: 100px;
            }
        }
        #motion-detector-steps, #door-sensor-steps, #window-sensor-steps {
            .content-box(528px);
        }
        
    }
    #window-sensor-installation {
        padding-bottom: 0;
        border-bottom: none;
        margin-bottom: none;
    }

}
body.operation {
    #hero-image {
        .main-hero-image {
            left: -23%;
        }
    }
    #operation-support {
        padding-top: 32px;
        .content-box(664px);
        img {
            padding-right: 16px;
        }
        #operation-overview {
            .content-box(400px);
            padding-left: 225px;
            
        }
    }
    #support-department {
        .content-box(960px);
        background: @v-light-grey;
        padding-top: 8px;
        margin: 8px 0;
        margin-top: 32px;
        &:hover {
            background: @light-green;
        }
        h3 {
            float: left;
            padding: 0 0 0 16px;
            line-height: 32px;
            color: @black;
        }
        p {
            float: right;
            padding: 0 16px 0 64px;
            line-height: 32px;
            font-size: 20px;
            width: 260px;
            text-align: right;
        }
    }
    #tech-support {
        .content-box;
    }
    #master-code, #false-alarm-prevention, #accidental-alarm, #test-system, #reference-guide {
        .content-box;
        padding-bottom: 16px;
        margin-bottom: 16px;
        ul, ol {
            margin-left: 16px;
            li {
                margin-left: 16px;
                list-style-type: disc;
                padding-bottom: 16px;
                font-size: 16px;
                color: @dark-grey;
                line-height: 18px;
            }
        }
        ol {
            li {
                list-style-type: decimal;
            }
        }
    }

}
body.operation {
    #operation-support {
        padding-top: 32px;
        .content-box(664px);
        img {
            padding-right: 16px;
        }
        #operation-overview {
            .content-box(400px);
            padding-left: 225px;
            
        }
    }
    #support-department {
        .content-box(960px);
        background: @v-light-grey;
        padding-top: 8px;
        margin: 8px 0;

        &:hover {
            background: @light-green;
        }
        h3 {
            float: left;
            padding: 0 0 0 16px;
            line-height: 32px;
            color: @black;
        }
        p {
            float: right;
            padding: 0 16px 0 64px;
            line-height: 32px;
            font-size: 20px;
            width: 260px;
            text-align: right;
        }
    }
    #tech-support {
        .content-box;
    }
    #master-code, #false-alarm-prevention, #accidental-alarm, #test-system, #reference-guide {
        .content-box;
        padding-bottom: 16px;
        margin-bottom: 16px;
        ul, ol {
            margin-left: 16px;
            li {
                margin-left: 16px;
                list-style-type: disc;
                padding-bottom: 16px;
                font-size: 16px;
                color: @dark-grey;
                line-height: 18px;
            }
        }
        ol {
            li {
                list-style-type: decimal;
            }
        }
    }

}
body.faq {
    #faq-overview, .question {
        .content-box;
    }
    #faq-overview {
        margin-top: 32px;
    }
}
body.careers {
    .wrapper {
        padding-bottom: 0;
    }
    #hero-image {
        .main-hero-image {
                    margin-left:-103px;
        }

        
        #hero-content {
            
            h3 {
                color: @grey;
                text-shadow: none;
                padding-top: 16px;
                font-size: 20px;
                padding-bottom: 16px;
            }
        }
    }
    .button {
        padding-top: 12px;
        display: block;
        padding-left: 4.5%;
        a {
            background: #00bbf4;
            padding: 8px 64px;
            .border-radius(5px, 5px, 5px, 5px);
            color: @white;
            font-size: 16px;
            text-shadow: 0px 1px 0px #2a6273;
            font-size: 16px;
            text-shadow: 0px 1px 0px #2a6273;
            width: 87px;
            float: none;
            display: block;
            text-decoration: none;
            border: 1px solid transparent;
            &:hover {
                border: 1px solid @dark-blue;
            }
        }

    }
    #company-overview {
        width: 599px;
        float: left;
        padding-right: 48px;
        position: relative;
        padding-bottom: 400px;
        h2 {
            color: @blue;
            font-weight: normal;
            font-size: 36px;
            line-height: 40px;
            padding-top: 24px;
            padding-bottom: 8px;
        }
        h3 {
            color: @blue;
            font-size: 28px;
            line-height: 32px;
            font-weight: normal;
            padding-bottom: 8px;
        }
        p {
            text-align: justify;
            padding-bottom: 24px;
        }
        ul {
            padding-left: 24px;
            li {
                line-height: 24px;
                font-size: 20px;
                font-weight: 100;
                padding-bottom: 16px;
                img {
                    position: relative;
                    top: 5px;
                    padding-right: 8px;
                }
            }
        }
        .big-worker {
            position: absolute;
            left: 270px;
            bottom: 0;
            z-index: -1;
        }
    }
    #events-and-awards {
        width: 288px;
        padding-left: 16px;
        margin-top: 24px;
        float: left;
        border-left: 1px solid @light-grey;
        h2 {
            color: @blue;
            font-style: italic;
            font-weight: normal;
            font-size: 20px;
            line-height: 20px;
            padding-bottom: 16px;
            &.awards {
                padding-top: 24px;
            }
        }
        .award {
            display: block;
            margin: 0 auto;
            margin-bottom: 8px;
        }
        .event {
            padding-bottom: 4px;
            margin-bottom: 4px;
            border-bottom: 1px solid @light-grey;
            padding: 4px;
            .fade-slow;
            &:hover {
                background: @v-light-blue;
                .fade-fast;
            }
            .date {
                float: left;
                margin-right: 8px;
                text-transform: uppercase;
                text-align: center;
                font-size: 14px;
                line-height: 14px;
                color: @black;
                span {
                    display: block;
                    font-size: 36px;
                    line-height: 36px;
                }
            }
            h3 {
                font-size: 16px;
            }
            p {
                color: #555;
            }
        }
    }
    #company-awesomeness {
        background: url(/static/img/spanish/home-security-bg.png) repeat;
        display: block;
        padding: 48px 0;
        #awesome-video {
            float: left;
            width: 472px;
        }
        .button-link {
            margin-top: 16px;
        }
        #company-culture {
            float:left;
            width: 440px;
            padding-left: 48px;
            .button {
                padding-left: 0;
            }
            h2 {
                color: @white;
                font-size: 28px;
                line-height: 28px;
                padding-bottom: 16px;
            }
            p {
                text-align: justify;
                color: @white;
            }
        }
    }

}
body.contact-us {
    #contact-areas {
        margin: 32px 0;
        #contact-us-overview {
            .content-box(448px);
    
        }
        #care-info {
            .content-box(448px);
            margin-left: 16px;
            padding-left: 16px;
            border-left: 1px solid @light-grey;
        }
    }
    #ask-us-anything {
        .content-box;
        border-top: 1px solid @v-light-grey;
        padding-top: 16px;
        margin-top: 16px;
        form {
            background: @v-light-grey;
            padding-bottom: 32px;
            .border-radius(5px,5px,5px,5px);
            #form-left-side, #form-right-side {
                .content-box(416px);
                margin: 32px;
                label {
                    color: @blue;
                    display: block;
                    &.required {
                        font-weight: bold;
                        
                    }
                }
                input {
                    color: @black;
                    font-size: 18px;
                    height: 28px;
                    line-height: 28px;
                    margin: 0 0 8px;
                    width: 416px;
                }
                select {
                    width: 416px;
                    margin: 8px 0 16px;
                }
                textarea {
                    width: 416px;
                    height: 92px;
                    
                }
            }
            button {
                display: block;
                padding: 12px 16px;
                .border-radius(5px,5px,5px,5px);
                color: @white;
                background: @blue;
                text-decoration: none;
                margin-right: 16px;
                .fade-slow;
                border: none;
                font-size: 16px;
                margin: 0 auto;
                cursor: pointer;
                cursor: hand;
                &:hover {
                    color: @white;
                    .fade-fast;
                    background: #00aee4;
                    text-decoration: none;
                }
                i {
                    border-left: 1px solid #6598b9;
                    padding: 4px 0 4px 8px;
                    margin-left: 4px;
                }
            }
        }
    }
}
body.find-us {
    #corporate-content {
        .content-box(480px);
        margin: 24px 0;
        p {
            margin-bottom: 16px;
        }
        h3 {
            padding-bottom: 0;
            padding-top: 0;
            font-size: 16px;
        }
    }
}
body.send-testimonial {
    #testimonial-person {
        float: left;
        margin-top: 182px;
        margin-left: 28px;
    }
    #testimonial-form {
        .content-box(500px);
        padding: 16px 32px;
        background: @v-light-grey;
        margin-top: 16px;
        h1 {
            text-align: center;
        }
        p {
            font-size: 12px;
            line-height: 16px;
            
        }
        label {
            color: @blue;
            display: block;
        }
        input {
            color: @black;
            font-size: 18px;
            height: 28px;
            line-height: 28px;
            margin: 0 0 8px;
            width: 495px;
            &.half-box {
                width: 234px;
                margin-right: 16px;
                &.omega {
                    margin-right: 0;
                    
                }
            }
        }
        select {
            width: 236px;
            margin: 8px 0 16px;
        }
        textarea {
            width: 495px;
            height: 120px;
            
        }
        #star-rating {
            padding: 16px 0;
            margin: 8px 0;
            border: 1px solid @light-grey;
            border-right: none;
            border-left: none;
        }
        .star-container {
            width: 200px;
            margin: 0 auto;
            
        }
        .star-button {
            width: 40px;
            height: 40px;
            background: url(../img/extra/testimonial-stars-light-grey.png) -40px 0 no-repeat;
            float: left;
            cursor: pointer;
            cursor: hand;
            &.active {
                background: url(../img/extra/testimonial-stars-light-grey.png) 0px 0 no-repeat;

            }
            &.hover {
                background: url(../img/extra/testimonial-stars-light-grey.png) -80px 0 no-repeat;

            }
            
        }
        #marketing-checkbox {
            input {
                width: 32px;
                float: left;
                margin: 8px;
            }
            label {
                float: left;
                width: 452px;
            }
            
        }
        button {
            display: block;
            background: #90af01;
            color: @white;
            text-decoration: none;
            height: 36px;
            line-height: 36px;
            background-image: -moz-linear-gradient(top, #90af01, #829e01);
            background-image: -webkit-gradient(linear, left top, left bottom, from(#90af01), to(#829e01));
            border: 1px solid transparent;
            font-size: 18px;
            padding: 0 24px;
            font-weight: bold;
            cursor: pointer;
            cursor: hand;
            margin: 16px auto 16px;
            width: 501px;
            &:hover {
                background-image: -moz-linear-gradient(center top, #90af01, #687e01);
                background-image: -webkit-gradient(linear, left top, left bottom, from(#90af01), to(#687e01));
                border: 1px solid #768f03;
                border-bottom: 1px solid #576902;
                -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.3);
                -moz-box-shadow: 0 1px 1px rgba(0,0,0,.3);
                box-shadow: 0 1px 1px rgba(0,0,0,.3);
            }
        }
    }

}