@import "style";
#hero-image {
    .main-hero-image {
        position: absolute;
        bottom: 0;
        left: -5%;
        z-index: 0;
    }
    #hero-content {
        float: right;
        width: 480px;
        margin-top: 48px;
        color: @grey;
        h2 {
            color: @blue;
        }
        p {
            color: @grey;
            text-align: justify;
        }
        h1 {
            color: @blue;
        }
    }
} 
body.support {
    #hero-image {
        .main-hero-image {
            position: absolute;
            bottom: 0;
            left: 1%;
            z-index: 0;
        }
        #hero-content {
            h1 {
                text-shadow: 1px 1px 1px rgba(0,0,0,.4);
                font-size: 32px;
            }
            #customer-support-hours {
                margin-top: 16px;
                border-top: 1px solid @light-grey;
                padding-top: 16px;
                h2 {
                    padding-bottom: 16px;
                    color: grey;
                }
                h3 {
                    color: @grey;
                    text-shadow: none;
                    padding-top: 0;
                    font-size: 20px;
                    padding-bottom: 16px;
                }
            }
        }
    }
}
body.careers {
    .wrapper {
        padding-bottom: 0;
    }
    #hero-image {
        #hero-content {
            h3 {
                color: @grey;
                text-shadow: none;
                padding-top: 16px;
                font-size: 20px;
                padding-bottom: 16px;
            }
        }
    }
    .button {
        padding-top: 12px;
        display: block;
        padding-left: 4.5%;
        a {
            background: #00bbf4;
            padding: 8px 64px;
            .border-radius(5px, 5px, 5px, 5px);
            color: @white;
            font-size: 16px;
            text-shadow: 0px 1px 0px #2a6273;
            font-size: 16px;
            text-shadow: 0px 1px 0px #2a6273;
            width: 87px;
            float: none;
            display: block;
            text-decoration: none;
            border: 1px solid transparent;
            &:hover {
                border: 1px solid @dark-blue;
            }
        }

    }
    #company-overview {
        width: 599px;
        float: left;
        padding-right: 48px;
        position: relative;
        padding-bottom: 400px;
        h2 {
            color: @blue;
            font-weight: normal;
            font-size: 36px;
            line-height: 40px;
            padding-top: 24px;
            padding-bottom: 8px;
        }
        h3 {
            color: @blue;
            font-size: 28px;
            line-height: 32px;
            font-weight: normal;
            padding-bottom: 8px;
        }
        p {
            text-align: justify;
            padding-bottom: 24px;
        }
        ul {
            padding-left: 24px;
            li {
                line-height: 24px;
                font-size: 20px;
                font-weight: 100;
                padding-bottom: 16px;
                img {
                    position: relative;
                    top: 5px;
                    padding-right: 8px;
                }
            }
        }
        .big-worker {
            position: absolute;
            left: 270px;
            bottom: 0;
            z-index: -1;
        }
    }
    #events-and-awards {
        width: 288px;
        padding-left: 16px;
        margin-top: 24px;
        float: left;
        border-left: 1px solid @light-grey;
        h2 {
            color: @blue;
            font-style: italic;
            font-weight: normal;
            font-size: 20px;
            line-height: 20px;
            padding-bottom: 16px;
            &.awards {
                padding-top: 24px;
            }
        }
        .award {
            display: block;
            margin: 0 auto;
            margin-bottom: 8px;
        }
        .event {
            padding-bottom: 4px;
            margin-bottom: 4px;
            border-bottom: 1px solid @light-grey;
            padding: 4px;
            .fade-slow;
            &:hover {
                background: @v-light-blue;
                .fade-fast;
            }
            .date {
                float: left;
                margin-right: 8px;
                text-transform: uppercase;
                text-align: center;
                font-size: 14px;
                line-height: 14px;
                color: @black;
                span {
                    display: block;
                    font-size: 36px;
                    line-height: 36px;
                }
            }
            h3 {
                font-size: 16px;
            }
            p {
                color: #555;
            }
        }
    }
    #company-awesomeness {
        background: url(/static/img/spanish/home-security-bg.png) repeat;
        display: block;
        padding: 48px 0;
        #awesome-video {
            float: left;
            width: 472px;
        }
        #company-culture {
            float:left;
            width: 440px;
            padding-left: 48px;
            .button {
                padding-left: 0;
            }
            h2 {
                color: @white;
                font-size: 28px;
                line-height: 28px;
                padding-bottom: 16px;
            }
            p {
                text-align: justify;
                color: @white;
            }
        }
    }

}
body.contact-us {
    #contact-areas {
        margin: 32px 0;
        #contact-us-overview {
            .content-box(448px);
    
        }
        #care-info {
            .content-box(448px);
            margin-left: 16px;
            padding-left: 16px;
            border-left: 1px solid @light-grey;
        }
    }
    #ask-us-anything {
        .content-box;
        border-top: 1px solid @v-light-grey;
        padding-top: 16px;
        margin-top: 16px;
        form {
            background: @v-light-grey;
            padding-bottom: 32px;
            .border-radius(5px,5px,5px,5px);
            #form-left-side, #form-right-side {
                .content-box(416px);
                margin: 32px;
                label {
                    color: @blue;
                    display: block;
                    &.required {
                        font-weight: bold;
                        
                    }
                }
                input {
                    color: @black;
                    font-size: 18px;
                    height: 28px;
                    line-height: 28px;
                    margin: 0 0 8px;
                    width: 416px;
                }
                select {
                    width: 416px;
                    margin: 8px 0 16px;
                }
                textarea {
                    width: 416px;
                    height: 92px;
                    
                }
            }
            button {
                display: block;
                padding: 12px 16px;
                .border-radius(5px,5px,5px,5px);
                color: @white;
                background: @blue;
                text-decoration: none;
                margin-right: 16px;
                .fade-slow;
                border: none;
                font-size: 16px;
                margin: 0 auto;
                cursor: pointer;
                cursor: hand;
                &:hover {
                    color: @white;
                    .fade-fast;
                    background: #00aee4;
                    text-decoration: none;
                }
                i {
                    border-left: 1px solid #6598b9;
                    padding: 4px 0 4px 8px;
                    margin-left: 4px;
                }
            }
        }
    }
}
body.find-us {
    #corporate-content {
        .content-box(480px);
        margin: 24px 0;
        p {
            margin-bottom: 16px;
        }
        h3 {
            padding-bottom: 0;
            padding-top: 0;
            font-size: 16px;
        }
    }
}