@import "style";

.hic-test {
    #sidebar {
        padding: 16px 7px 0 0px;
        #quote-form {
            margin-left: 0;
        }
    }
    #main {
        padding: 16px 0px 0 7px;
    }
    #ge-logo {
        margin: 0 auto 8px;
        width: 160px;
        height: 48px;
        background: url(/static/img/base/base-sprite.jpg) no-repeat 0px -32px;
        p {
            display: none;
        }
    }
} 