@import "style";
#hero-image {
    .main-hero-image {
        position: absolute;
        bottom: 0;
        left: -13%;
        z-index: 0;
    }
    #hero-content {
        float: right;
        width: 480px;
        margin-top: 48px;
    }
} 
.video-features {
    .content-box;
    margin-top: 48px;
    margin-bottom: 48px;
    .video-content {
        width: 480px;
        float: left;
        margin-right: 80px;
    }
    .video-frame {
        width: 400px;
        float: left;
    }
}
#main-content {
    .content-box;
    margin-top: 16px;
    #get-excited-image {
        .content-box(420px);;
        text-align: center;
    }
    #get-excited {
        .content-box(420px);;
        margin-top: 32px;
        h1 {
            font-weight: bold;
            font-size: 32px;
            margin-bottom: 0;
        }
        h2 {
            font-weight: 300;
            font-size: 34px;
            line-height: 36px;
        }
    }
}
#recommend-us {
    .content-box;
    margin-top: 32px;
    h2 {
        font-weight: bold;
    }
    #facebook, #google-plus {
        width: 430px;
        background: @v-light-blue;
        border: 1px solid @light-grey;
        padding: 8px;
        float: left;
        #social-button {
            background: @white;
            float: left;
            width: 50px;
            padding: 8px 12px;
            height: 64px;
            border: 1px solid @light-grey;
            margin-right: 16px;
        }
        .social-text {
            width: 300px;
            float: left;
        }
        h3 {
            font-weight: bold;
        }
        p {
            font-size: 12px;
            width: 280px;
        }
    }
    #google-plus {
        float: right;
    }
}
#what-next {
    .content-box;
    background: url(/static/img/thank-you-pages/arrows-bg.png) center 68px no-repeat;
    h2 {
        font-weight: bold;
    }
    #security-professional, #build-system, #secured-home {
        .content-box(33%);
        text-align: center;
        h3 {
            font-weight: bold;
            font-size: 28px;
            line-height: 32px;
        }
        p {
            padding: 0 32px;
            font-size: 14px;
            color: @dark-grey;
            text-align: center;
            line-height: 18px;
        }
    }
}
body.ceo-thank-you {
    #hero-image {
        .main-hero-image {

            left: 0%;
        }
    } 
}