@import "style";

#main-content {
    .content-box;
    margin-top: 16px;
    #get-excited-image {
        .small-box;
        text-align: center;
    }
    #get-excited {
        .small-box;
        margin-top: 32px;
        h1 {
            font-weight: bold;
            font-size: 32px;
            margin-bottom: 0;
        }
        h2 {
            font-weight: 300;
            font-size: 34px;
            line-height: 36px;
        }
    }
}
#recommend-us {
    .content-box;
    background: url(/static/img/thank-you-pages/small-or.png) center 68px no-repeat;
    h2 {
        font-weight: bold;
    }
    #facebook, #google-plus {
        width: 400px;
        background: @v-light-blue;
        border: 1px solid @light-grey;
        padding: 8px;
        float: left;
        #social-button {
            background: @white;
            float: left;
            width: 50px;
            padding: 8px 12px;
            height: 64px;
            border: 1px solid @light-grey;
            margin-right: 16px;
        }
        h3 {
            font-weight: bold;
        }
        p {
            font-size: 12px;
            width: 340px;
        }
    }
    #google-plus {
        float: right;
    }
}
#what-next {
    .content-box;
    background: url(/static/img/thank-you-pages/arrows-bg.png) center 68px no-repeat;
    h2 {
        font-weight: bold;
    }
    #security-professional, #build-system, #secured-home {
        .third-box;
        text-align: center;
        h3 {
            font-weight: bold;
            font-size: 28px;
            line-height: 32px;
        }
        p {
            padding: 0 32px;
            font-size: 14px;
            color: @dark-grey;
            text-align: center;
            line-height: 18px;
        }
    }
}