@charset "UTF-8";

#hero-wrapper {
    #hero-image {
        h1 {
            font-size: 36px;
            line-height: 36px;
            span {
                font-size: 24px;
            }
        }
    }
    #hero-content {
        width: 100%;
        h3 {
            top: 48px;
        }
        p {
            margin-top: 50px;
        }
        ul {
            li {
                width: 200px;
                font-size: 12px;
            }
        }
    }
}
#texas-company {
    img {
        margin: 0 auto;
    }
    .texas-content {
        width: 100%;
        p {
            width: auto;
        }
    }
}
#advantage-table-wrapper {
    overflow: hidden;
    width: 100%;
    #advantage-table {
        width: 100%;
        margin: 0 auto;
        padding: 16px 0;
        h2 {
            text-align: center;
            font-size: 16px;
            line-height: 28px;
            font-weight: bold;
            padding: 16px 0;
            span {
                display: block;
                font-size: 14px;
                line-height: 16px;
            }
        }
        table {
            width: 100%;
            vertical-align: middle;
            thead {
                tr {
                    th {
                        text-align: center;
                        font-size: 16px;
                        padding: 8px 0;
                        font-weight: bold;
                        vertical-align: middle;
                        .table-logo {
                            width: 100px;
                            height: 17px;
                        }
                    }
                }
            }
            tbody {
                tr {
                    td {
                        text-align: center;
                        line-height: 32px;
                        width: 200px;
                        font-size: 16px;
                        font-weight: 100;
                        vertical-align: middle;
                        padding: 8px 0;
                        i {
                            font-size: 24px;
                        }
                        &.y-axis {
                            text-align: right;
                            width: 298px;
                            padding-right: 8px;
                            font-size: 10px;
                            line-height: 14px;
                            font-weight: normal
                        }
                        
                        &.pa {
                            width: 246px;
                            i {
                            }
                            border-top: none;
                        }
                        &.last {
                        }
                    }
                    &.alpha {
                        td {
                            border-top: none;
                            &.pa {
                            }
                        }
                    }
                    &.omega {
                        td {
                            border-bottom: none;
                            &.pa {
                            }
                        }
                    }
                }
            }
        }
    }
}
#security-stats {
    width: 100%;
    h2 {
        text-align: center;
        color: #555555;
        font-size: 28px;
        line-height: 32px;
        font-weight: bold;
        padding: 16px 0;
        span {
            display: block;
            font-size: 16px;
            line-height: 24px;
        }
    }
    .crime-stats-mobile, .state-stats-mobile {
        margin: 0 auto;
        display: block;
    }
    .crime-stats, .state-stats {
        display: none;
    }
    .main-statement {
        background: url(/static/img/affiliates/sem-landing-page/geo/statement-banner-480.png) center center no-repeat;
        h2 {
            font-size: 22px;
            width: 250px;
            margin: 0 auto;
            line-height: 22px;
            padding-top: 89px;
            padding-bottom: 38px;
        }
    }
}