@media (max-width: 479px) {
    #hero-wrapper {
        width: 100%;
        z-index: auto;
        height: 239px;
        #hero-image {
            #cyber-monday {
                background: url(/static/img/banners/hero-banners/cyber-monday/cyber_hero_mobile.jpg) 50% 29px no-repeat #fffcf3;
                width: 100%;
                a {
                    &.button-link {
                        margin: 4px auto 0;
                        padding: 6px;
                    }
                }
                &.alt {
                    background: url(/static/img/banners/cyber-monday/cyber_hero_mobile2.jpg) 50% 29px no-repeat #fffcf3;
                }
                img {
                    width: 100px;
                    margin: 0px auto 0;
                    &.alt {
                        width: 250px;
                    }
                }
                h1, h2, p {
                    margin: 0 auto;
                    padding: 0;
                }
                h1 {
                    font-size: 20px;
                    line-height: 27px;
                }
                h2 {
                    line-height: 14px;
                    font-size: 14px;
                }
                p {
                    padding: 4px;
                    font-size: 11px;
                    line-height: 11px;
                }
            }
        }
    }
    #call-box {
        p {
            a {
                span {
                    display: block;
                }
            }
        }
    }

    #header-wrapper #header {
        height: 52px;
    }

    #hero-image.cmonday {
        #quote-form {
            display: none !important;
            .consent-box {
                border: none;
                label.consent-label {
                    margin: 10px 0;
                }
            }
            p.form-title {
                padding-top: 0;
            }
            div {
                img {
                    display: none;
                }
            }
        }
    }
    #top-section-wrapper {
        display: none;
    }

    #header-wrapper {
        height: 52px;
        width: 100%;
        #main-phone-number {
            text-align: center;
            width: 100%;
            background: #555;
            p {
                color: @white;
                font-weight: bold;
                font-size: 16px;
                a {
                    color: @white;
                    text-decoration: none;
                }
            }
        }
        #header {
            height: 52px;
            width: 100%;
            #company-logo {
                margin-top: 12px;
                margin-left: 4px;
                width: 140px;
                height: 24px;
                float: left;
            }
            .request-quote-button {
                display: none;
            }
            #main-navigation {
                display: none;
                
            }
            
        }
        &.stuck {
            #header {
                #mobile-main-navigation {
                    display: block;
                }
                .stuck-phone {
                    display: none;
                }
            }
        }
    }
#lifestyle-shot {
    #home-content {
        width: 60%;
    }
}


    #call-box {
        p {
            width: 100%;
            font-size: 18px;
            line-height: 20px;
            padding: 4px 0;
            text-shadow: none;
            strong {
                font-size: 18px;
                display: block;
            }
        }
    }
    #order-final {
        margin-bottom: 24px;
        .left-side {
            padding: 32px 16px;
            width: auto;
            h2 {
                font-weight: bold;
                color: @white;
                font-size: 21px;
                letter-spacing: 1px;
                line-height: 36px;
            }
            p {
                color: @white;
                font-size: 16px;
                padding-bottom: 16px;
            }
            a {
                text-decoration: none;
                color: @white;
                font-size: 24px;
                font-weight: 100;
                letter-spacing: 0;
                line-height: 52px;
                display: block;
            }
        }
        .right-side {
            padding: 0px 16px;
            width: auto;
            .button-link {
                background: @white;
                color: #74b24e;
                width: 250px;
                float: right;
                display: block;
                margin: 32px auto;
                text-align: center;
                font-size: 20px;
                padding: 16px 0;
                &:hover {
                    background: #555;
                    color: @white;
                }
            }
        }
    }
    #advantage-table-wrapper {
        #advantage-table {
            table {
                tbody {
                    tr {
                        td {
                            font-size: 10px;
                            &.price {
                                font-size: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}
/*
@media (max-width: 460px) {

    #featured-on {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #eee;
        p {
            text-align: center;
            text-transform: uppercase;
            color: #ccc;
            padding: 10px 0 5px;
        }
        img {
            margin: 0 30px;
            width: 70px;
            height: auto;
        }
    }


    #main-phone-number {
        text-align: center;
        width: 100%;
        background: #555;
        p {
            color: @white;
            font-weight: bold;
            font-size: 16px;
            a {
                color: @white;
                text-decoration: none;
            }
        }
    }
    #header-wrapper #header {
        height: 52px;
    }



}
*/