@charset "UTF-8";
@import "paid-base.less";
@import "refresh-responsive/spring-savings.less";


#hero-wrapper #hero-image #spring-savings h1 {
font-size: 20px;
padding: 20px 0 0;
}

#lifestyle-shot {
    #home-content {
        h2 {
            padding-top: 32px;
        }
        p {
            strong {
                display: block;
                padding-top: 56px;
            }
        }

    }
}
#lifestyle-shot {
	ul {
		margin: 10px 0;
		li {
			list-style: disc;
			margin-left: 15px;
			margin-top: 5px;
			color: #eee;
			font-size: 16px;
			line-height: 21px;
			font-weight: 100;
		}
	}
}

#hero-wrapper #hero-image #cyber-monday h1 {
	font-size: 22px;
}

@media only screen and (max-width: 767px) {
	#lifestyle-shot {
		#home-content {
			p {
				font-size: 12px !important;
			}
		}
		
		ul {
			li {
				font-size: 12px !important;
				marign-top: 0px;
			}
		}
	}
}
