@charset "UTF-8";
@import "paid-base.less";

@blue: #2a94d6;
@dark-blue: #0065aa;
@pa-blue: #2e3849;
@light-blue: #0a9ec8;

@red: #eb292b;
@light-yellow: #ffe28a;
@yellow: #fac521;

@white: #fff;
@v-light-grey: #f0f1f2;
@light-grey: #999;
@grey: #555;
@dark-grey: #333;
@black: #222;

body {
	background: #f9fafc !important;
}


#lifestyle-shot #home-content .button-link {
	margin-top: 40px !important;
}

#lifestyle-shot {
    #home-content {
        h2 {
            padding-top: 56px;
        }
    }
}

#advantage-table-wrapper {
    background: @pa-blue;
    #advantage-table {
        width: 960px;
        margin: 0 auto;
        padding: 64px 0;
        h2 {
            text-align: center;
            color: @white;
            font-size: 36px;
            line-height: 52px;
            font-weight: bold;
            padding: 16px 0;
            text-transform: uppercase;
            letter-spacing: 2px;
            span {
                display: block;
                font-size: 16px;
                line-height: 20px;
                color: @light-blue;
                font-weight: normal;
                letter-spacing: 1px;
            }
        }
        table {
            width: 100%;
            vertical-align: middle;
            margin: 32px 0;
            thead {
                tr {
                    th {
                        color: @white;
                        text-align: center;
                        font-size: 12px;
                        padding: 8px 0;
                        font-weight: normal;
                        vertical-align: middle;
                        border-bottom: 1px solid fade(@light-grey, 75%);
                        border-right: 1px solid fade(@light-grey, 75%);
                        text-transform: uppercase;
                        line-height: 14px;
                        letter-spacing: 1px;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        text-align: center;
                        color: @white;
                        line-height: 32px;
                        border-bottom: 1px solid fade(@light-grey, 75%);
                        border-right: 1px solid fade(@light-grey, 75%);
                        width: 200px;
                        font-size: 13px;
                        font-weight: normal;
                        vertical-align: middle;
                        padding: 8px 0;
                        text-transform: uppercase;
                        i {
                            color: @light-grey;
                            font-size: 32px;
                        }
                        &.y-axis {
                            text-align: right;
                            color: @grey;
                            width: 298px;
                            padding-right: 16px;
                            font-size: 18px;
                            line-height: 24px;
                        }
                        &.title {
                            line-height: 16px;
                        }
                        &.price {
                            font-size: 24px;
                            font-weight: bold;
                            span {
								display: block;
								font-size: 12px;
								line-height: 14px;
								font-weight: normal;
								color: @light-grey;
                            }
                        }
                        &.na {
                            color: @light-blue;
                            font-size: 12px;
                        }
                        &.highlight {
                            background: @light-yellow;
                            color: @pa-blue;
                        }
                        &.last {
                            border-left: 1px solid fade(@light-grey, 75%);
                        }
                    }
                    &.alpha {
                        td {
                            border-top: none;
                            &.pa {
                                border-top: 1px solid fade(@light-grey, 75%);
                                .border-radius(5px,5px,0,0);
                            }
                        }
                    }
                    &.omega {
                        td {
                            border-bottom: none;
                            &.pa {
                                border-bottom: 1px solid fade(@light-grey, 75%);
                                .border-radius(0,0,5px,5px);
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
#advantage-table-wrapper {
	        background: @pa-blue;
	        #advantage-table {
	            width: 738px;
	            margin: 0 auto;
	            padding: 64px 0;
	            h2 {
	                text-align: center;
	                color: @white;
	                font-size: 36px;
	                line-height: 52px;
	                font-weight: bold;
	                padding: 16px 0;
	                text-transform: uppercase;
	                letter-spacing: 2px;
	                span {
	                    display: block;
	                    font-size: 16px;
	                    line-height: 20px;
	                    font-weight: normal;
	                    letter-spacing: 1px;
	                }
	            }
	            table {
	                width: 100%;
	                vertical-align: middle;
	                margin: 32px 0;
	                thead {
	                    tr {
	                        th {
	                            color: @white;
	                            text-align: center;
	                            font-size: 10px;
	                            padding: 8px 0;
	                            font-weight: bold;
	                            vertical-align: middle;
	                            border-bottom: 1px solid fade(@light-grey, 75%);
	                            border-right: 1px solid fade(@light-grey, 75%);
	                            text-transform: uppercase;
	                            line-height: 14px;
	                            letter-spacing: 1px;
	                        }
	                    }
	                }
	                tbody {
	                    tr {
	                        td {
	                            text-align: center;
	                            color: @white;
	                            line-height: 32px;
	                            border-bottom: 1px solid fade(@light-grey, 75%);
	                            border-right: 1px solid fade(@light-grey, 75%);
	                            width: 200px;
	                            font-size: 14px;
	                            font-weight: normal;
	                            vertical-align: middle;
	                            padding: 8px 0;
	                            text-transform: uppercase;
	                            i {
	                                color: @light-grey;
	                                font-size: 32px;
	                            }
	                            &.y-axis {
	                                text-align: right;
	                                color: @grey;
	                                width: 298px;
	                                padding-right: 16px;
	                                font-size: 18px;
	                                line-height: 24px;
	                            }
	                            &.title {
	                                
	                            }
	                            &.price {
	                                font-size: 24px;
	                                font-weight: bold;
	                            }
	                            &.na {
	                                color: @light-blue;
	                                font-size: 12px;
	                            }
	                            &.pa {
	                                width: 246px;
	                                background: @pa-blue;
	                                i {
	                                    color: @light-blue;
	                                }
	                                border: 1px solid fade(@light-grey, 75%);
	                                border-top: none;
	                            }
	                            &.last {
	                                border-left: 1px solid fade(@light-grey, 75%);
	                            }
	                        }
	                        &.alpha {
	                            td {
	                                border-top: none;
	                                &.pa {
	                                    border-top: 1px solid fade(@light-grey, 75%);
	                                    .border-radius(5px,5px,0,0);
	                                }
	                            }
	                        }
	                        &.omega {
	                            td {
	                                border-bottom: none;
	                                &.pa {
	                                    border-bottom: 1px solid fade(@light-grey, 75%);
	                                    .border-radius(0,0,5px,5px);
	                                }
	                            }
	                        }
	                    }
	                }
	            }
	        }
	    }
	    
	    #triple {
		    display: none;
	    }
}

/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {

#advantage-table-wrapper {
		        background: @pa-blue;
		        #advantage-table {
		            width: 100%;
		            margin: 0 auto;
		            padding: 16px 0;
		            h2 {
		                text-align: center;
		                color: @white;
		                font-size: 16px;
		                line-height: 20px;
		                font-weight: bold;
		                padding: 16px 0;
		                text-transform: uppercase;
		                letter-spacing: 2px;
		                width: 420px;
		                margin: 0px auto;
		                span {
		                    display: block;
		                    font-size: 16px;
		                    line-height: 20px;
		                    color: @light-blue;
		                    font-weight: normal;
		                    letter-spacing: 1px;
		                }
		            }
		            table {
		                width: 420px;
		                vertical-align: middle;
		                margin: 32px auto;
		                thead {
		                    tr {
		                        th {
		                            color: @white;
		                            text-align: center;
		                            font-size: 7px;
		                            padding: 8px 0;
		                            font-weight: bold;
		                            vertical-align: middle;
		                            border-bottom: 1px solid fade(@light-grey, 75%);
		                            border-right: 1px solid fade(@light-grey, 75%);
		                            text-transform: uppercase;
		                            line-height: 11px;
		                            letter-spacing: 1px;
		                            &.extra {
		                                display: none;
		                            }
		                        }
		                    }
		                }
		                tbody {
		                    tr {
		                        td {
		                            text-align: center;
		                            color: #ffffff;
		                            line-height: 20px;
		                            border-bottom: 1px solid fade(@light-grey, 75%);
		                            border-right: 1px solid fade(@light-grey, 75%);
		                            width: auto;
		                            font-size: 10px;
		                            font-weight: normal;
		                            vertical-align: middle;
		                            padding: 8px 8px;
		                            text-transform: uppercase;
		                            i {
		                                color: @light-grey;
		                                font-size: 32px;
		                            }
		                            &.y-axis {
		                                text-align: right;
		                                color: @grey;
		                                width: 298px;
		                                padding-right: 16px;
		                                font-size: 18px;
		                                line-height: 24px;
		                            }
		                            &.extra {
		                                display: none;
		                            }
		                            &.title {
		                                
		                            }
		                            &.price {
		                                font-size: 16px;
		                                font-weight: bold;
		                            }
		                            &.na {
		                                color: @light-blue;
		                                font-size: 9px;
		                                line-height: 13px;
		                            }
		                            &.pa {
		                                width: 246px;
		                                background: @dark-blue;
		                                i {
		                                    color: @light-blue;
		                                }
		                                border: 1px solid fade(@light-grey, 75%);
		                                border-top: none;
		                            }
		                            &.last {
		                                border-left: 1px solid fade(@light-grey, 75%);
		                            }
		                        }
		                        &.alpha {
		                            td {
		                                border-top: none;
		                                &.pa {
		                                    border-top: 1px solid fade(@light-grey, 75%);
		                                    .border-radius(5px,5px,0,0);
		                                }
		                            }
		                        }
		                        &.omega {
		                            td {
		                                border-bottom: none;
		                                &.pa {
		                                    border-bottom: 1px solid fade(@light-grey, 75%);
		                                    .border-radius(0,0,5px,5px);
		                                }
		                            }
		                        }
		                    }
		                }
		            }
		        }
		    }
		 }

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {

#advantage-table-wrapper {
	        #advantage-table {
	        	h2 {
		        	width: 300px;
		        	margin: 0px auto;
	        	}
	            table {
	            	width: 300px;
	            	margin: 32px auto;
	                tbody {
	                    tr {
	                        td {
	                            font-size: 10px;
	                            &.price {
	                                font-size: 10px;
	                            }
	                        }
	                    }
	                }
	            }
	        }
	    }
}