@import "../../style.less";
@import "../../banners/pop-ups/shipping-popup.less";
.wrapper {
    padding-bottom: 0;
    
}
#call-box {
    margin: 8px 0 0;
}
#top-content {
    background: #efefef;
    width: 100%;
    border-bottom: 1px solid #ccc;
    height: 400px;
    padding-top: 8px;
    position: relative;
    .wrapper {
        height: 400px;
        position: relative;
    }
    #quote-form {
        position: absolute;
        left: 0;
        z-index: 999;
    }
    #top-hero-banner-controls {
        position: absolute;
        left: 60%;
        bottom: 4px;
        z-index: 999;
        #hero-left-arrow, #hero-right-arrow {
            background: url(/static/img/extra/nav-items.png) 0px 0px no-repeat;
            width: 7px;
            height: 13px;
            float: left;
            margin: 0 4px;
            cursor: pointer;
            cursor: hand;
        }
        #hero-right-arrow {
            background: url(/static/img/extra/nav-items.png) -22px 0px no-repeat;
        }
        #pager-container {
            float: left;
            margin-top: 3px;
            ul {
                width: 30px;
                li {
                    width: 8px;
                    height: 8px;
                    background: url(/static/img/extra/nav-items.png) -7px -3px no-repeat;
                    display: block;
                    float: left;
                    margin: 0px 1px;
                    cursor: pointer;
                    cursor: hand;
                    &.activeSlide {
                        background: url(/static/img/extra/nav-items.png) -15px -3px no-repeat;
                    }
                }
            }
        }
    }
    #top-hero-banner {
        float: left;
        width: 685px;
        position: relative;
        margin-left: 275px;
        #keychain-banner {
            display: none;
            #keychain-image {
                float: left;
                width: 280px;
                padding-top: 16px;
            }
            #keychain-banner-content {
                float: left;
                width: 373px;
                margin: 16px;
                h2 {
                    font-weight: lighter;
                    font-weight: 100;
                    font-size: 40px;
                    line-height: 40px;
                    margin-top: 24px;
                    span {
                        font-size: 19px;
                        line-height: 22px;
                        color: @blue;
                        font-weight: normal;
                        display: block;
                    }
                }
                p {
                    font-size: 26px;
                    font-weight: 100;
                    padding-top: 70px;
                    strong {
                        font-weight: bold;
                        color: @red;
                    }
                    span {
                        display: block;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 28px;
                    }
                }
                .button-submit {
                    text-align: left;
                    font-size: 16px;
                    font-weight: 16px;
                    font-weight: bold;
                    a {
                        padding: 4px 82px;
                    }
                }
                em {
                    font-size: 10px;
                    display: block;
                    padding-top: 50px;
                }
            }
        }
        #interactive-banner, #touchscreen-banner {
            position: relative;
            height: 400px;
            width: 685px;
            display: none;
            h2 {
                font-weight: 100;
                font-size: 42px;
                line-height: 42px;
                margin-top: 8px;
                display: block;
                text-align: center;
                span {
                    font-size: 19px;
                    line-height: 22px;
                    color: @blue;
                    font-weight: normal;
                    display: block;
                    text-align: center;
                }
            }
            #interactive-image {
                position: absolute;
                bottom: 48px;
                left: -118px;
            }
            #touchscreen-image {
                position: absolute;
                bottom: 16px;
                left: 0px;
            }
            #interactive-banner-content, #touchscreen-banner-content {
                position: absolute;
                right: 0px;
                p {
                    font-size: 30px;
                    font-weight: 100;
                    padding-top: 70px;
                    strong {
                        font-weight: bold;
                        color: @red;
                    }
                    span {
                        display: block;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 28px;
                    }
                }
                .button-link {
                    text-align: left;
                }
                em {
                    font-size: 10px;
                    display: block;
                    padding-top: 50px;
                }
            }
            #touchscreen-banner-content {
                right: 0px;
            }
        }
    }
}
/********** Home Page Styles ***********/
.button-link {
    text-align: center;
}
#mcafee {
        float: right;
        width: 110px;
        height: 38px;
        padding: 10px 8px;
}
.outlined-box {
    border: 1px solid @light-grey;
    padding-bottom: 16px;
    h2 {
        background: @light-blue;
        padding: 8px;
        border-bottom: 1px solid @light-grey;
        font-weight: normal;
    }
    h3 {
        padding-left: 8px;
    }
    p {
        padding: 0 8px;
    }
}
#quote-form {
    margin: 0 0 16px 0;
}
#main {
    float:left;
    padding: 16px 0px 0 8px;
    width: 670px;
    #protection {
        .content-box(325px);
        .outlined-box;
        margin-right: 8px;
        ul {
            margin-left: 1.5em;
    
            li {
                padding: 0 0 10px 15px;
            }
        }
    }
    #advantage {
        .content-box(325px);
        .outlined-box;
        margin-left: 8px;
        table {
            border-left: 1px solid #CCCCCC;
            border-spacing: 0;
            border-top: 1px solid #CCCCCC;
            clear: both;
            line-height: 1.2em;
            margin: 0 auto 10px;
            text-align: center;
            width: 308px;
            margin: 8px;
    
            thead, tfoot {
                td {
                    background-repeat: repeat-x;
                    font-size: 10px;
                    line-height: 1.2em;
                }
            }
            th {
                background: none repeat scroll 0 0 #004A97;
                color: #FFFFFF;
                padding: 2px;
                text-align: center;
                border-bottom: 1px solid #CCCCCC;
                border-right: 1px solid #CCCCCC;
            }
            
            td {
                text-align: center;
                border-bottom: 1px solid #CCCCCC;
                border-right: 1px solid #CCCCCC;
                padding: 3px;
                vertical-align: middle; 
            }
            tr:hover {
                background-color: #FFFFBF;
            }
            tr {
                background-color: #F9F9F9;
            }
    
            .odd {
                background-color: #F1F2F3;
            }
            .highlight {
                background-color: #FFFFBF;
            }
            .red {
                color: #CC0000 !important;
            }
        }
    }
    #familyofcompanies, #security {
        .content-box (670px);
        .outlined-box;
        margin-top: 16px;

    }

}
#sidebar {
    float:left;
    padding: 16px 7px 0 0px;
    width: 275px;
    text-align: center;
    #quote-form {
        text-align: left;
    }
    #ge-logo {
        text-align: center;
    }
}
#cellupgrade {
    margin-bottom: 10px;
}
#copperbestbuy {
    border-top: 1px solid @v-light-grey;
    border-bottom: 1px solid @v-light-grey;

    padding: 0px 0 16px;
    margin-top: 16px;
    .content-box (275px);
    .outlined-box;

    text-align: center;
}
#customer-testimonials {
    .content-box (670px);
    border: 1px solid @light-grey;
    margin: 8px 0;
    background: url(/static/img/affiliates/sem-landing-page/quote-symbol.png) top left no-repeat;
    h3 {
        margin: 8px 0 8px 24px;
        font-weight: bold;
    }
    a {
        position: absolute;
        right: 16px;
        top: 16px;
    }
    p {
        margin: 0 16px 16px 32px;
        font-style: italic;
    }
    span {
        padding-left: 400px;
        font-size: 20px;
        color: @blue;
        font-weight: bold;
        display: block;
        margin-right: 32px;
        
        em {
            font-size: 10px;
            display: block;
            font-weight: normal;
            padding: 0 0 8px 32px;
            
        }
    }
}
#how-safe-is-your-neighborhood {
    background: @red;
    .content-box(262px);
    padding: 0 8px;
    text-align: left;
    h3 {
        color: @white;
        text-align: left;
        font-size: 48px;
        font-weight: bold;
        line-height: 48px;
        span {
            font-size: 24px;
            display: block;
            font-weight: bold;
            line-height: 24px;
        }
    }
    p {
        color: @v-light-grey;
        font-size: 12px;
        line-height: 14px;
    }
    input {
        height: 24px;
        width: 175px;
        font-size: 20px;
        line-height: 24px;
        position: relative;
        top: 1px;
        margin-right: 4px;
    }
    button {
        background: @v-light-grey;
        color: @black;
        font-size: 16px;
        padding: 5px 20px;
        text-decoration: none;
        background-image: -moz-linear-gradient(top,@off-white,@light-grey);
        background-image: -webkit-gradient(linear,left top,left bottom,from(@off-white),to(@light-grey));
        border: 1px solid transparent;
        cursor: pointer;
        cursor: hand;
        &:hover {
            background-image: -moz-linear-gradient(center top , @v-light-grey, @grey);
            background-image: -webkit-gradient(linear,left top,left bottom,from(@v-light-grey),to(@grey));
            border: 1px solid #094182;
            border-bottom: 1px solid @dark-blue;
            -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.3);
            -moz-box-shadow: 0 1px 1px rgba(0,0,0,.3);
            box-shadow: 0 1px 1px rgba(0,0,0,.3);
        }
    }
    .fbi-stats {
        padding: 4px 0;
        color: @light-grey;
        font-size: 10px;
        a {
            color: @white;
            text-decoration: none;
        }
    }
}
#sidebar-testimonials {
    .content-box (275px);
    .outlined-box;
    padding-bottom: 0;
    margin-bottom: 24px;
    ul {
        li {
            background: url(/static/img/affiliates/sem-landing-page/quote-symbol.png) top left no-repeat;

            padding: 8px;
            margin: 0 8px;
            h2 {
                margin-bottom: 16px;
            }
            h4 {
                color: @blue;
                font-weight: bold;
                font-size: 14px;
                text-align: right;
                line-height: 20px;
                padding-bottom: 16px;

            }
            p {
                padding: 16px 16px 0;
                font-size: 13px;
                color: @black;
                line-height: 20px;
                font-weight: normal;
                text-align: justify;
                position: relative;
                .testimonial-arrow {
                    position: absolute;
                    left: 32px;
                    bottom: -17px;
                    
                }
            }
        }
    }

}
/************** Adspace **************/
#hero-banner {
    margin-bottom: 10px;
    overflow: hidden;
    width: 671px;
    height: 257px;
    a {
        text-decoration: none;
        display: block;
    }
    #affordable-security-banner {
        position: relative;
        .button-link {
            background: #E51A19;
            color: white;
            background-image: -moz-linear-gradient(top, #e51a19, #ba1615);
            background-image: -webkit-gradient(linear, left top, left bottom, from(#e51a19), to(#ba1615));
            position: absolute;

            top: 36px;
            left: 32%;
            padding: 9px 50px;
            font-size: 16px;
            z-index: 900;

            &:hover {
                background-image: -moz-linear-gradient(center top, #e51a19, #920403);
                background-image: -webkit-gradient(linear, left top, left bottom, from(#e51a19), to(#920403));
                border: 1px solid #8d0400;
                border-bottom: 1px solid #6e0401;
                -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
                -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
            }
        }
    }
    .touchscreen-hero-banner {
        background: url("/static/img/banners/hero-banners/touchscreen/touchscreen-background.jpg") repeat-x scroll 0 0 #131313;
        height: 248px;
        width: 668px;
        position: relative;
        text-decoration: none;
        border: 1px solid @light-grey;
        h2 {
            position: absolute;
            left: 322px;
            color: #124e6d;
            font-size: 30px;
            top: 17px;
            font-weight: bold;
        }
        h3 {
            position: absolute;
            left: 322px;
            color: #2595ce;
            top: 48px;
            font-weight: bold;
            font-size: 18.4px;
        }
        p.select {
            position: absolute;
            left: 344px;
            color: #2595ce;
            top: 82px;
            font-weight: bold;
            font-size: 16px;
        }
        .button-submit {
            position: absolute;
            left: 395px;
            top: 148px;
            font-size: 16px;
            font-weight: bold;
            width: 200px;
            margin-top: 16px;
            color: @white;
            padding: 4px 24px;
            text-decoration: none;
            background: #90af01;
            background-image: -moz-linear-gradient(top, #90af01, #829e01);
            background-image: -webkit-gradient(linear, left top, left bottom, from(#90af01), to(#829e01));
            border: 1px solid transparent;
            &:hover {
                background-image: -moz-linear-gradient(center top, #90af01, #687e01);
                background-image: -webkit-gradient(linear, left top, left bottom, from(#90af01), to(#687e01));
                border: 1px solid #768f03;
                border-bottom: 1px solid #576902;
                -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.3);
                -moz-box-shadow: 0 1px 1px rgba(0,0,0,.3);
                box-shadow: 0 1px 1px rgba(0,0,0,.3);
            }
        }
        span.disclaimer {
            font-size: 10px;
            color: @black;
            position: absolute;
            right: 8px;
            bottom: 8px;
        }
        ul {
            position: absolute;
            left: 476px;
            top: 82px;
            font-weight: bold;
            li {
                display: block;
                font-size: 16px;
                color: #124e6d;
                span {
                    color: #2595ce;
                }
            }
        }
    }
    .top-consumers {
        background: url("/static/img/banners/hero-banners/top-consumer-reviews/top-consumer-reviews-bg.jpg") repeat-x scroll 0 0 #131313;
        height: 250px;
        width: 670px;
        position: relative;
        text-decoration: none;
        span {
            color: @light-grey;
            font-size: 16px;
            left: 59px;
            position: absolute;
            top: 15px;
            z-index: 50;
        }
        img {
            left: 8px;
            position: absolute;
            top: 30px;
        }
        h3 {
            color: @white;
            font-size: 20px;
            font-weight: normal;
            letter-spacing: 1px;
            line-height: 25px;
            position: absolute;
            right: 5px;
            text-shadow: 3px 3px 5px @black;
            top: 16px;
            width: 300px;
            strong {
                color: #00cdff;
            }
        }
        p {
            color: @light-grey;
            font-size: 12px;
            position: absolute;
            right: 25px;
            top: 205px;
        }
    }

    .newthinking {
        background: url("/static/img/banners/hero-banners/whole-home-security/adt-vs-pa.jpg") no-repeat scroll center bottom #E5F2FB;
        width: 670px;
        height: 250px;
        position: relative;
        text-decoration: none;

        h3 {
            color: @black;
            font-size: 30px;
            line-height: 35px;
            position: absolute;
            right: 10px;
            text-align: right;
            top: 10px;
            width: 400px;
            letter-spacing: -1px;
            
            span {
                font-size: 27.6px;
                font-weight: normal;
                line-height: 25px;
            }
            strong {
                display: block;
                font-size: 31px;
            }
        }
        p {
            bottom: 40px;
            color: #374608;
            font-size: 16px;
            font-weight: bold;
            position: absolute;
            right: 10px;
            text-align: right;
            width: 230px;
            padding: 0 0 10px 15px;

            span {
                display: block;
                font-size: 22px;
                font-weight: bold;
            }
        }
        .newthinking-button {
            bottom: 10px;
            position: absolute;
            right: 10px;
            background: @blue;
            color: @white;
            padding: 4px 24px;
            text-decoration: none;
            background-image: -moz-linear-gradient(top,@blue,#005f9a);
            background-image: -webkit-gradient(linear,left top,left bottom,from(@blue),to(#005f9a));
            border: 1px solid transparent;
            &:hover {
                background-image: -moz-linear-gradient(center top , @blue, #00568b);
                background-image: -webkit-gradient(linear,left top,left bottom,from(@blue),to(#00568b));
                border: 1px solid #094182;
                border-bottom: 1px solid @dark-blue;
                -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.3);
                -moz-box-shadow: 0 1px 1px rgba(0,0,0,.3);
                box-shadow: 0 1px 1px rgba(0,0,0,.3);
            }
        }
    }
}