@charset "UTF-8";
@import "paid-base.less";

#hero-wrapper {
	background: url(/static/img/base/koke.jpg) no-repeat top center #56412a !important;
	#hero-image {
		h3 {
			font-size: 20px;
			margin: 0 0 0 233px;
			padding: 20px 0 10px;
			color: #333;
			text-shadow: none;
			font-weight: 400;
		}
		#cyber-monday {
			background: none;
			h1, h2 {
				color: #fff;
			}
			span {
				display: block;
				width: 260px;
				height: 190px;
				margin: 40px 0 0 445px;
				text-align: center;
				padding: 0;
				img {
					margin: 0;
				}
			}
			a.button-link {
				margin: 20px 0 0 500px;
			}
		}
	}
}
#call-box {
	background: #880800;
	border: none;
	p {
		a {
			text-transform: uppercase;
			font-size: 30px;
			text-shadow: none;
		}
	}
}

#lifestyle-shot {
	background: url(/static/img/base/hi-how-are-you.jpg) no-repeat #d4d0ca;
	#home-content {
		h2 {
			color: #333;
		}
		p {
			color: #333;
			font-size: 14px;
			line-height: 20px;
			font-weight: 400;
			margin: 20px 0 0;
			width: 400px;
			background: #fff;
			padding: 20px;
		}
		.button-link {
			background: #ebc439;
			border: none;
			color: #333;
			padding: 12px 20px;
			margin: 20px 0 0;
			&:hover {
				background: #fff;
			}
			i {
				border: none;
			}
		}
	}
}

@media screen and (max-width: 960px) {
	#hero-wrapper {
		#hero-image {
			h3 {
				font-size: 16px;
				margin: 0 auto;
			}
			#cyber-monday {
				a.button-link {
					margin: 20px auto;
				}
				h1 {
					font-size: 24px;
					margin: 0 auto;
				}
				h2 {
					font-size: 20px;
					margin: 0 auto;
				}
				span {
					margin: 20px auto;
					height: 140px;
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	#hero-wrapper {
		#hero-image {
			h3 {
				padding: 10px 0;
			}
			&.cmonday {
				#quote-form {
					&.sleepy {
						display: none;
					}
				}
			}
			#cyber-monday {
				a.button-link {

				}
				h1 {
					font-size: 24px;
					line-height: 18px;

				}
				h2 {
					font-size: 18px;

				}
				span {
					width: 200px;
					height: 140px;
					img {
						width: 200px;
					}
				}
			}
		}
	}
	#call-box {
	background: #e4701e;
	border: none;
		p {
			a {
				text-transform: uppercase;
				font-size: 18px;
				font-weight: 400;
				text-shadow: none;
			}
		}
	}
	#lifestyle-shot {
		#home-content {
			width: 90%;
			p {
				color: #333;
				font-size: 14px;
				line-height: 20px;
				font-weight: 400;
				margin: 20px 0 0;
				width: 90%;
				background: #fff;
				padding: 20px;
			}
			.button-link {
				background: #ebc439;
				border: none;
				color: #333;
				padding: 12px 20px;
				margin: 20px 0 0;
				float: right;
				i {
					border: none;
				}
			}
		}
	}
}

@media screen and (max-width: 480px) {
	#hero-wrapper {
		height: 269px;
		padding: 30px 0;
		#hero-image {
			height: 239px;
			#cyber-monday {
				height: 239px;
				h1 {
					font-size: 24px;
					line-height: 18px;
					padding-bottom: 10px;
				}
				h2 {
					font-size: 18px;

				}
				span {
					width: 200px;
					height: 140px;
					img {
						width: 200px;
					}
				}
			}
		}
	}
	#call-box {
	background: #e4701e;
	border: none;
		p {
			a {
				text-transform: uppercase;
				font-size: 14px;
				font-weight: 400;
				text-shadow: none;
			}
		}
	}
	#featured-on {
		display: none;
	}
	#lifestyle-shot {
		display: none;
		#home-content {
			width: 90%;
			p {
				color: #333;
				font-size: 12px;
				line-height: 18px;
				font-weight: 400;
				margin: 20px 0 0;
				width: 340px;
				background: #fff;
				padding: 20px;
			}
			.button-link {
				background: #ebc439;
				border: none;
				color: #333;
				padding: 12px 20px;
				margin: 20px 0 0;
				i {
					border: none;
				}
			}
		}
	}
}