.krbe {
    #hero-wrapper {
        background: url(../../../img/affiliates/sem-landing-page/krbe/backgroundHero.jpg) no-repeat center top #111;
        color: #fff;
        font-weight: 200;
        line-height: 1.46;
        .phoneImage {
            margin-left: 40px;
            margin-right: 20px;
            margin-top: 30px;
            float: left;
        }
        .heroContainer {
            margin: 0 auto;
        }
        h1 {
            font-size: 20px;
            margin-top: 100px;
        }
        h2 {
            font-size: 30px;
        }
        h3 {
            font-size: 22px;
        }
        h4 {
            font-size: 24px;
            margin-top: 10px;
            margin-bottom: 8px;
        }
        h5 {
            font-size: 20px;
        }
        h1, h2, h3, h4, h5 {
            padding-left: 20px;
        }
        .krbePromo {
            background: url(../../../img/affiliates/sem-landing-page/krbe/greenBarBg.png) no-repeat scroll 70px -70px #50b835;
            box-shadow: 0 1px 1px rgba(0,0,0,.5);
            font-weight: 600;
            line-height: 1.2;
            margin-left: 120px;
            padding: 20px;
        }
        .callbtn {
            display: none;
        }
        #quote-form {
            margin-right: 120px;
            position: static;
        }
        .leftBar {
            float: left;
            text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
            width: 730px;
        }
    }
    @media(min-width: 1200px)   {
        .heroContainer {
            width: 1200px;
        }
    }
    /*lessthan1200px, small screens and tablets*/
    @media(max-width: 1199px) {
        #hero-wrapper {
            .heroContainer {
                width: 100%;
            }
            .phoneImage {
                margin-left: 10px;
            }
            h1 {
                font-size: 14px;
            }
            h2 {
                font-size: 24px;
            }
            h3 {
                font-size: 22px;
            }
            h4 {
                font-size: 20px;
                margin-top: 8px;
                margin-bottom: 0px;
            }
            h5 {
                font-size: 20px;
            }
            h1, h2, h3, h4, h5 {
                padding-left: 20px;
            }
            .krbePromo {
                padding: 16px;
            }
            .leftBar {
                width: 61%;
            }
            #quote-form {
                margin-right: 0;
            }
        }
    }
    /*ipadSpecifically*/
    @media(min-width: 767px)and(max-width: 768px) {
        #order-footer,
        #footer-wrapper {
            display: none;
        }
    }
    /*Mobile, Less than 767*/
    @media(max-width: 767px) {
        #hero-wrapper {
            height: 440px;
            .phoneImage {
                float: none;
                left: 0;
                margin-left: -50px;
                margin-top: 20px;
                position: absolute;
                top: 0;
            }
            h1 {
                font-size: 14px;
                margin-bottom: 0;
                margin-top: 60px;
            }
            h2 {
                font-size: 16px;
            }
            h3 {
                font-size: 17px;
                padding-left: 10px;
            }
            h4 {
                font-size: 16px;
                margin-top: 8px;
                margin-bottom: 0px;
            }
            h5 {
                font-size: 18px;
            }
            h1, h2, h4, h5, p {
                margin-left: 150px;
            }
            h1, h2, h3, h4, h5, p {
                padding-left: 20px;
            }
            .callbtn {
                display: block;
            }
            .callbtn a {
                background-color: #1570AB;
                border-radius: 6px;
                color: #fff;
                display: block;
                font-size: 20px;
                margin: 24px 0 17px;
                padding: 10px 20px;
                text-decoration: none;
                width: 60%;
            }
            .krbePromo {
                font-size: 14px;
                margin-left: 130px;
                margin-top: 10px;
            }
            .leftBar {
                width: 100%;
            }
            #quote-form {
                display: none !important;
            }
        }
    }
    /*Mobile, Less than 360*/
    @media(max-width: 360px) {
        #hero-wrapper {
            h1 {
                border-bottom: 1px solid rgba(255,255,255,.25);
                margin-bottom: 4px;
                margin-top: 42px;
                padding-bottom: 8px;
            }
            h3 {
                font-size: 15px;
            }
            .krbePromo {
                padding: 10px 0px  10px 20px;
            }
            .callbtn a {
                margin: 10px 0 10px;
            }
        }
    }
}


