@charset "UTF-8";
@import "paid-base.less";
#hero-wrapper {           
            #hero-image {      
                #cyber-monday {
                     background: url(/static/img/banners/hero-banners/cyber-monday/cyber_hero.jpg) 0 -50px no-repeat #fffcf3;
                                    }                                                                      
            }
        }
#lifestyle-shot {
    #home-content {
        h2 {
            padding-top: 40px;            
        }
        p {
            font-size: 16px;
            strong {
                display: block;
             }
        }
        .button-link {
            margin-top:30px;
        }
    }
}

/* #Media Queries
========================================
    /* Smaller than 959px */
    @media only screen and (max-width: 959px) {
        #hero-wrapper {           
            #hero-image {      
                #cyber-monday {
                     background: url(/static/img/banners/hero-banners/cyber-monday/cyber_hero.jpg) 0 -25px no-repeat #fffcf3;
                    h2{
                        font-size:30px;                        
                    }
                }                                                                      
            }
        }
        #lifestyle-shot {
            #home-content {
                h2 {
                    font-size: 24px;
                    margin-left: 20px;
                    
                }
                p {
                    margin-left:20px;
                    font-size: 14px;
                    line-height: 18px;
                    
                }
                .button-link {
                   
                    margin-left: 20px;
                }
            }
        }
    }
    .wrapper {
        .triple-guarantee {
            padding-bottom: 40px;
        }
    }    
/* #Media Queries
========================================
    /* Smaller than 767px */
    @media only screen and (max-width: 767px) {
        #hero-wrapper { 
            #hero-image {      
                #cyber-monday {       
                    background: url(/static/img/banners/hero-banners/cyber-monday/cyber_hero_mobile.jpg) 100% 90px no-repeat #fffcf3;
                    width: 100%;
                   
                    h2{
                        
                        font-size:30px;
                        margin-bottom:4px;
                    }
                }                                                                      
            }
        }
        #lifestyle-shot {
            #home-content {
                h2 {               
                    font-size: 24px;
                    margin-left: 20px;
                    
                }
                p {
                    margin-left:20px;
                    font-size: 14px;
                    line-height: 18px;
                    
                }
                .button-link {
                    margin-top:15px;
                    margin-left: 20px;
                }
            }
        }
    }
    .wrapper {
        .triple-guarantee {
            padding-bottom: 200px;
        }
    }
    

/* #Media Queries
========================================
    /* Smaller than 479px */
    @media only screen and (max-width: 479px) {
        #hero-wrapper {           
            #hero-image {
                 img {
                    
                 }
               #cyber-monday {
                    background: url(/static/img/banners/hero-banners/cyber-monday/cyber_hero_mobile.jpg) 50% 10px no-repeat #fffcf3;
                    width: 100%;
                    h2{
                        margin-top: 20px;
                        font-size:24px;
                        margin-bottom:4px;
                    }
                }                                                                      
            }
        }
        #lifestyle-shot {
            #home-content {
                h2 {
                   margin-left: 30px;
                   line-height: 24px;
                   font-size: 20px;
                    padding-bottom: 10px;
                }
                p {
                    margin-left:30px;
                    font-size: 12px;
                    line-height: 15px;
                    
                }
                .button-link {
                   
                    margin-left: 30px;
                }
            }
        }
    }
        
