@charset "UTF-8";
@import "paid-base.less";
@import "../../spring/skeleton.less";
@import "../../2014-refresh/style-new.less";

#header-wrapper {
    #header {
        .order-button {
            background: @yellow;
            .san-serif-font;
            font-size: 16px;
            font-weight: 600;
            color: #222;
        }
    }
}
#hero-wrapper {
    background: url(/static/img/banners/hero-banners/july-deals/july-bg.jpg) top center no-repeat #e5eaec;
    background-size: cover;
    #hero-image {
        #quote-form {
            padding: 10px 0 0;
            button {
                .san-serif-font;
                font-size: 16px;
                font-weight: 600;
                background: @yellow;
                text-transform: none;
            }
            p.form-title {
                font-size: 14px;
            }
        }
        #paid-deals {
            margin: 30px 0 0 245px;
            float: left;
            h1 {
                .san-serif-font;
                color: #999;
                font-size: 12px;
                font-weight: 400;
                line-height: 20px;
                text-shadow: none;
            }
            h2 {
                .san-serif-font;
                font-size: 36px;
                font-weight: 400;
                line-height: 42px;
                color: @dark-grey;
                text-transform: none;
                text-shadow: none;
            }
            h3 {
                .san-serif-font;
                font-size: 24px;
                font-weight: 400;
                line-height: 30px;
                color: @dark-grey;
                text-transform: none;
                text-shadow: none;
                padding: 0;
            }
            ul {
                margin: 20px 0 40px;
                li {
                    font-size: 18px;
                    line-height: 24px;
                    i {
                        margin-right: 10px;
                    }
                }
            }
            a {
                text-decoration: none;
                text-transform: none;
                .san-serif-font;
                font-size: 16px;
                font-weight: 600;
            }
        }
    }
}
#order-final {
    .right-side {
        .button-link {
            line-height: 20px;
            color: @navy;
        }
    }
}
#main-benefits {
    ul {
        li {
            h3 {
                i {
                    color: @navy;
                }
            }
        }
    }
}
#lifestyle-shot {
    background: transparent;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: auto;
    .lifestyle-img {
        img {
            margin: 60px 0;
        }
    }
    #home-content {
        background: transparent;
        h2 {
            color: @navy;
            .san-serif-font;
        }
        p {
            color: @dark-grey;
            strong {
                color: @black;
            }
        }
    }
}
#faq {
    margin: 0 auto 60px;
    padding: 0;
}
#order-final {
    padding: 0;
}
#advantage-table-wrapper {
    background: transparent;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    #advantage-table {
        h2 {
            color: @navy;
            span {
                color: #ccc;
            }
        }
        table {
            margin: 0 0 20px;
            thead {
                tr {
                    th {
                        color: #666;
                        border-bottom-color: #dfdfdf;
                        border-right-color: #dfdfdf;
                    }
                }
            }
            tbody {
                tr.alpha {
                    td {
                        border: none;
                        background: #ffd100;
                    }
                }
                tr {
                    td.title {
                        color: #222;
                    }
                    td.price {
                        color: #333;
                        border-color: #dfdfdf;
                    }
                    td {
                        border-bottom-color: #dfdfdf;
                        border-right-color: #dfdfdf;
                        color: #666
                    }
                }
            }
        }
    }
}
.overpay {
    margin: 60px 0;
    a {
        text-decoration: none;
    }
    p {
        padding: 0 0 20px;
    }
}

h2 {
    &.subhead {
        padding: 60px 0 0;
    }
}
#review-background-wrapper {
    margin-top: 20px;
    background: #eee;
    .wrapper {
        #review-wrapper {
            padding-bottom: 0;
            h2 {
                font-size:32px;
                font-weight:bold;
                margin-bottom:8px;
                line-height:48px;
                color:@navy;
                text-align:center;
                text-transform: uppercase;
                padding-top: 32px;
                letter-spacing: 2px;
            }
            p {
                color:#2f394a;
                font-size:16px;
                line-height:20px;
                text-align:center;
                font-weight:normal;
                margin-bottom:32px;
                text-transform: uppercase;
            }
            #left-column {
                width: 50%;
                float: left;
                .review {
                    margin-right: 20px;
                }
            }
            #right-column {
                width: 50%;
                float: right;
                .review {
                    margin-left: 20px;
                }
            }
            .review {
                margin-bottom: 100px;
                clear: both;
                .box {
                    background: @white;
                    padding: 25px;
                    height: auto;
                    z-index: 2;
                    p {
                        text-transform: none;
                        color: @black;
                        text-align: left;
                        font-size: 14px;
                        line-height: 18px;
                        margin-bottom: 0;
                    }
                }
                .info {
                    .triangle {
                        z-index: 1;
                        float: left;
                        margin-left: 40px;
                    }
                    h3 {
                        display: inline;
                        color: @navy;
                        font-size: 14px;
                        font-weight: bold;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        width: 290px;
                        float: left;
                        margin-top: 4px;
                        span {
                            font-weight: normal;
                        }
                    }
                    .stars {
                        float: left;
                    }
                }
            }
        }
    }
}