@charset "UTF-8";
@import "paid-base.less";
@import "../../spring/skeleton.less";
@import "../../2014-refresh/style-new.less";

#header-wrapper {
    #header {
        .order-button {
            background: @yellow;
            .san-serif-font;
            font-size: 16px;
            font-weight: 600;
            color: #222;
            &:hover {
                background: #ffd75e;
                color: #666;
            }
        }
    }
}
#hero-wrapper {
    background: url(/static/img/banners/hero-banners/july-deals/july-bg-paid.jpg) top center no-repeat #e5eaec;
    background-size: cover;
    position: relative;
    height: 480px;
    #top-rated {
        width: 237px;
        height: 238px;
        position: absolute;
        top: 0;
        right: 0;
    }
    #hero-image {
        height: 480px;
        #quote-form {
            padding: 10px 0 0;
            i {
                display: none;
            }
            a {
                width: 95%;
                font-size: 9px;
                line-height: 12px;
                padding-top: 2px;
            }
            .quote-content {
                p {
                    font-size: 12px;
                    line-height: 12px;
                    color: @dark-grey;
                    margin: 0;
                    padding: 0;
                    width: auto;
                    display: block;
                }
                strong {
                    display: block;
                    clear: both;
                    font-size: 18px;
                    padding: 5px 0 0;
                }
                span {
                    margin: 0;
                    padding: 0;
                    width: auto;
                    font-size: 11px;
                    line-height: 11px;
                    font-style: italic;
                    color: #999;
                }
            }
            button {
                .san-serif-font;
                font-size: 16px;
                font-weight: 600;
                background: @yellow;
                text-transform: none;
            }
            p.form-title {
                font-size: 14px;
                font-weight: 800;
            }
        }
        #paid-deals {
            margin: 50px 0 0 255px;
            float: left;
            h1 {
                .san-serif-font;
                color: #999;
                font-size: 12px;
                font-weight: 400;
                line-height: 20px;
                text-shadow: none;
            }
            h2 {
                .san-serif-font;
                font-size: 36px;
                font-weight: 400;
                line-height: 42px;
                color: @dark-grey;
                text-transform: none;
                text-shadow: none;
            }
            h3 {
                .san-serif-font;
                font-size: 24px;
                font-weight: 400;
                line-height: 30px;
                color: @dark-grey;
                text-transform: none;
                text-shadow: none;
                padding: 0;
            }
            ul {
                margin: 30px 0 50px;
                li {
                    font-size: 18px;
                    line-height: 24px;
                    i {
                        margin-right: 10px;
                    }
                }
            }
            a {
                text-decoration: none;
                text-transform: none;
                .san-serif-font;
                font-size: 16px;
                font-weight: 600;
                color: #222;
            }
            img {
                &.deal {
                    display: block;
                    margin-top: 45px;
                    margin-right: 20px;
                    float: left;
                }
            }
        }
    }
}
#lightbox {
    .icon-remove-sign {
        color: #e4002b;
        right: 5px;
        top: 5px;
        left: auto;
        font-size: 24px;
    }
    .lightbox-info {
        float: right;
        border-left: 1px solid #ddd;
        border-right: none;
        width: 280px;
        background: #eee;
        margin: 0;
        padding: 15px 15px 0 25px;
        h3 {
            color: #333;
            font-weight: 600;
            text-transform: none;
            font-size: 24px;
            line-height: 30px;
            padding: 15px 10px 0;
            .san-serif-font;
        }
        p {
            font-size: 16px;
            line-height: 22px;
            color: #555;
            padding: 15px 10px;
            span {
                font-weight: 800;
            }
        }
    }
    #light-quote-form {
        background: @white;
        height: 455px;
        #quote-form {
            width: 319px;
            top: 15px;
            left: 0;
            margin-left: 0;
            .consent-box {
                label.consent-label {
                    font-size: 11px !important;
                    line-height: 17px !important;
                    cursor: auto;
                }
            }
            .form-fields {
                background: #eee;
                border-top: 1px solid #c5c5c5;
                border-bottom: 1px solid #c5c5c5;
                padding: 15px 54px 5px;
                margin-bottom: 15px;
                input {
                    box-shadow: inset 3px 2px 3px 0px #eee;
                    -webkit-box-shadow: inset 3px 2px 3px 0px #eee;
                    -moz-box-shadow: inset 3px 2px 3px 0px #eee;
                    border: 1px solid #ddd;
                    font-size: 12px;
                    padding: 5px;
                    color: #666;
                    line-height: 22px;
                    height: 22px;
                    width: 200px;
                }
            }
            a {
                color: @blue;
            }
            button {
                background: @yellow;
                color: #222;
                font-weight: 800px;
                .san-serif-font;
                &:hover {
                    &:hover {
                        background: #ffd75e;
                        color: #666;
                    }
                }
            }
            .form-title {
                color: #333;
                font-weight: 600;
                text-transform: none;
                font-size: 24px;
                line-height: 30px;
                padding-top: 15px;
                .san-serif-font;
                text-align: center;
            }
        }
    }
}
ul.comparison-boxes {
    li {
        background-color: #ddd;
        font-weight: 600;
    }
}
ul.check-list {
    padding-top: 0 !important;
}
body {
    #call-box {
        background: @yellow;
        p {
            .san-serif-font;
            background: @yellow;
            color: @black;
            line-height: 36px;
            width: auto;
            padding: 8px 0;
            a {
                font-size: 24px;
                color: @black;
            }
        }
    }
}

#staff-pick {
    background: @navy;
    img {
        margin: 0 auto;
        display: block;
        padding: 15px 0;
        width: 480px;
    }
}

#order-final {
    .right-side {
        .button-link {
            line-height: 20px;
            color: @navy;
        }
    }
}
#main-benefits {
    p {
        text-transform: none;
        line-height: 24px;
        font-size: 18px;
    }
    ul {
        li {
            h3 {
                i {
                    color: @yellow;
                }
            }
        }
    }
}
#lifestyle-shot {
    background: transparent;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: auto;
    .lifestyle-img {
        img {
            margin: 60px 0;
        }
    }
    #home-content {
        background: transparent;
        h2 {
            color: @navy;
            .san-serif-font;
        }
        p {
            color: @dark-grey;
            strong {
                color: @black;
            }
        }
    }
}
#faq {
    margin: 0 auto 20px;
    padding: 0;
    border-top: 1px solid #ccc;
    ul {
        li {
            margin-top: 10px;
            background-position: 0 12px;
            h3 {
                line-height: 26px !important;
            }
        }
    }
}
#order-final {
    padding: 0;
}
#advantage-table-wrapper {
    background: transparent;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    #advantage-table {
        h2 {
            color: @navy;
            span {
                color: #ccc;
            }
        }
        table {
            margin: 0 0 20px;
            thead {
                tr {
                    th {
                        color: #666;
                        border-bottom-color: #dfdfdf;
                        border-right-color: #dfdfdf;
                    }
                }
            }
            tbody {
                tr.alpha {
                    td {
                        border: none;
                        background: #ffd100;
                    }
                }
                tr {
                    td.title {
                        color: #222;
                    }
                    td.price {
                        color: #333;
                        border-color: #dfdfdf;
                    }
                    td {
                        border-bottom-color: #dfdfdf;
                        border-right-color: #dfdfdf;
                        color: #666
                    }
                }
            }
        }
    }
}
.overpay {
    margin: 60px 0;
    h3 {
        padding-bottom: 10px;
    }
    .blockquote {
        border: 1px solid #ddd;
        border-radius: 6px;
        padding: 15px;
        h3 {
            font-size: 18px;
        }
    }
    a {
        text-decoration: none;
    }
    p {
        padding: 0 0 20px;
    }
}

h2 {
    &.subhead {
        padding: 60px 0 0;
    }
}
#shop {
    padding: 25px 0;
    .container {
        h2 {
            font-size:32px;
            font-weight:bold;
            margin-bottom:8px;
            line-height:48px;
            color:@navy;
            text-align:center;
            text-transform: uppercase;
            padding-top: 32px;
            letter-spacing: 2px;
            .slab-font;
        }
        p {
            color:#2f394a;
            font-size:18px;
            line-height:24px;
            text-align:center;
            font-weight:normal;
            margin-bottom:32px;
            text-transform: none;
            .san-serif-font;
        }
        a.package {
            h3 {
                color: #666;
                padding: 14px 0 0;
            }
            .button {
                margin: 10px auto 20px;
            }
            &.silver {
                .button {
                    margin: 10px auto 20px;
                }
                h3 {
                    padding: 36px 0 0;
                }
            }
        }
        .triple-guarantee {
            h2 {
                margin-left: 30px;
                padding: 0;
                .condensed-font;
            }
        }
    }
}

#review-background-wrapper {
    margin-top: 0;
    background: #fff;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    .wrapper {
        #review-wrapper {
            padding-bottom: 0;
            h2 {
                font-size:32px;
                font-weight:bold;
                margin-bottom:8px;
                line-height:48px;
                color:@navy;
                text-align:center;
                text-transform: uppercase;
                padding-top: 32px;
                letter-spacing: 2px;
            }
            p {
                color:#2f394a;
                font-size:18px;
                line-height:24px;
                text-align:center;
                font-weight:normal;
                margin-bottom:32px;
                text-transform: none;
            }
            #left-column {
                width: 50%;
                float: left;
                .review {
                    margin-right: 20px;
                }
            }
            #right-column {
                width: 50%;
                float: right;
                .review {
                    margin-left: 20px;
                }
            }
            .review {
                margin-bottom: 60px;
                clear: both;
                .box {
                    background: #eee;
                    padding: 25px;
                    height: auto;
                    z-index: 2;
                    p {
                        text-transform: none;
                        color: @black;
                        text-align: left;
                        font-size: 14px;
                        line-height: 18px;
                        margin-bottom: 0;
                    }
                }
                .info {
                    .triangle {
                        z-index: 1;
                        float: left;
                        margin-left: 40px;
                    }
                    h3 {
                        display: inline;
                        color: @navy;
                        font-size: 14px;
                        font-weight: bold;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        width: 290px;
                        float: left;
                        margin-top: 4px;
                        padding: 0 0 0 20px;
                        span {
                            font-weight: normal;
                        }
                    }
                    .stars {
                        float: left;
                        padding-top: 10px;
                    }
                }
            }
        }
    }
}
#terms {
    background: transparent;
}


/* #Media Queries
================================================== */
 
  /* Smaller than standard 960 (devices and browsers) */
  @media only screen and (max-width: 959px) {
    h2 {
        font-size: 28px;
        line-height: 42px;
    }
    #main-benefits {
        width: 720px;
        ul {
            width: 100%;
            li {
                width: 320px;
                &.mobile {
                    display: none;
                }
            }
        }
    }
    ul.check-list {
        li {
            font-size: 14px;
            line-height: 22px;
        }
    }
    h3 {
        font-size: 18px;
    }
    ul.comparison-boxes {
        li {
            width: 38%;
            font-size: 11px; 
        }
    }
    #shop {
        .container {
            .triple-guarantee {
                h2 {
                    font-size: 18px;
                    line-height: 20px;
                    font-weight: 800;
                    .san-serif-font;
                }
                ul {
                    width: 525px;
                    li {
                        font-size: 12px;
                        line-height: 24px;
                        margin-right: 14px;
                        i {
                            font-size: 22px;
                        }
                    }
                }
            }
            a.package {
                .button {
                    font-size: 12px;
                    width: 80px;
                }
                p {
                    font-size: 30px;
                }
            }
        }
    }
    #review-background-wrapper {
        .wrapper {
            #review-wrapper {
                .review {
                    .info {
                        .stars {
                            margin-left: 20px;
                        }
                    }
                }
            }
        }
    }
    #lifestyle-shot {
        #home-content {
            margin-top: 12px;
            .button-link {
                margin-top: 20px;
            }
        }
    }
    #faq {
        width: 720px;
        ul {
            li {
                padding: 0 40px 16px 45px;
                h3 {
                    line-height: 26px;
                }
            }
        }
    }
    #order-final {
        .left-side {
            h2, p, a, i {
                color: #222;
            }
        }
    }
  }
 
  /* Tablet Portrait size to standard 960 (devices and browsers) */
  @media only screen and (min-width: 768px) and (max-width: 959px) {}
 
  /* All Mobile Sizes (devices and browser) */
  @media only screen and (max-width: 767px) {

    #shop {
        .container {
            h2 {
                margin-bottom: 30px;
            }
            .triple-guarantee {
                margin: 50px 0;
                h2 {
                    font-size: 38px;
                    line-height: 40px;
                    text-align: center;
                }
                ul {
                    width: 420px;

                    li {
                        font-size: 20px;
                        line-height: 44px;
                        margin-left: 40px;
                        i {
                            font-size: 22px;
                            line-height: 42px;
                        }
                    }
                }
            }
            a.package {
                float: none;
                margin: 0 auto 20px;
                width: 240px;
                &.copper {
                    margin: 0 auto 20px !important;
                }
                &.platinum {
                    margin: 0 auto 20px !important;
                }
                ul {
                    li {

                    }
                }
                .button {
                    font-size: 16px;
                    width: 120px;
                }
            }
        }
    }
    #hero-wrapper {
        #hero-image {
            #paid-deals {
                margin: 20px 0 0 65px;
                h2 {
                    font-size: 26px;
                    line-height: 32px;
                }
                h3 {
                    font-size: 20px;
                    line-height: 26px;
                    color: #666;
                }
                ul {
                    margin: 10px 0 20px;
                }
                img {
                    &.deal {
                        display: none;
                    }
                }
            }
            #quote-form {
                &.sleepy {
                    display: none;
                }
            }
        }
    }
    #lightbox {
        #light-quote-form {
            #quote-form {
                width: 275px;
                .form-fields {
                    padding: 15px 30px 5px;
                }
            }
        }
    }
    #lifestyle-shot {
        .lifestyle-img {
            img {
                margin: 60px 0 0;
            }
        }
        #home-content {
            width: 420px;
            margin: 0 auto;
            padding: 0 40px;
            float: none;
            text-align: center;
            .button-link {
                width: 100px;
                float: none !important;
                margin: 20px auto !important;
                border: none;
            }
        }
    }
    #order-final {
        .left-side {
            float: none;
            margin: 0 auto;
            text-align: center;
        }
        .right-side {
            float: none;
            margin: 0 auto;
            .button-link {
                float: none !important;
            }
        }
    }
    .container {
        .overpay {
            margin-top: 40px;
        }
    }
    #staff-pick {
        img {
            display: none;
        }
    }
    #main-benefits {
        width: 420px;
        ul {
            width: 100%;
            li {
                width: 90%;
                &.mobile {
                    display: none;
                }
            }
        }
    }
    #review-background-wrapper {
        .wrapper {
            #review-wrapper {
                .review {
                    .info {
                        h3 {
                            width: 80%;
                        }
                    }
                }
            }
        }
    }
    
  }
 
  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (min-width: 480px) and (max-width: 767px) {}
 
  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 479px) {

    body {
        #hero-wrapper {
            height: 260px;
            #top-rated {
                display: none;
            }
            #hero-image {
                #paid-deals {
                    h2 {
                        font-size: 22px;
                        line-height: 28px;
                    }
                    h3 {
                        font-size: 15px;
                        line-height: 21px;
                    }
                    ul {
                        li {
                            font-size: 14px;
                            line-height: 20px;
                        }
                    }
                    a {
                        font-size: 14px;
                    }
                }
            }
        }
        #call-box {
            p {
                padding: 0 0 4px;
                a {
                    span {
                        font-size: 24px;
                        line-height: 24px;
                        font-weight: 800;
                        padding-bottom: 4px;
                    }
                }
            }
        }
    }
    #shop {
        display: none;
    }
    #main-benefits {
        width: 320px;
        h2 {
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 8px;
        }
        ul {
            li.alt {
                margin: 0 20px;
            }
        }
    }
    #staff-pick {
        display: none;
    }
    #review-background-wrapper {
        .wrapper {
            #review-wrapper {
                #left-column, #right-column {
                    width: 100%;
                    .review {
                        margin: 0 0 50px;
                        .info {
                            .stars {
                                width: 100px;
                            }
                            h3 {
                                line-height: 20px;
                            }
                        }
                    }
                }
                h2 {
                    font-size: 18px;
                    line-height: 24px;
                }
            }
        }
    }
    .container {
        .overpay {
            margin-bottom: 20px;
        }
    }

  }