@charset "UTF-8";
@import "../../home-b.less";
.deals {
    position: absolute;
    bottom: 100px;
    left:0;
    .deal-img {
        position: absolute;
        left: 50px;
        top: -24px;
    }
    .deal-img2 {
        position: absolute;
        left: 300px;
        top: -24px;
    }
}
.deal-box {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgb(0,0,0);
    background: rgba(0,0,0,.25);
    height: 85px;
}
h2 {
    .san-serif-font;
    font-weight: 300;
    text-transform: inherit;
    font-size: 32px;
    font-weight: 38px;
}

ul.advantages {
    padding-top: 24px;
    li {
        line-height: 32px;
    }
    i {
        color: @blue;
        font-size: 24px;
        line-height: 32px;
        position: relative;
        top: 3px;
        padding-right: 8px;
    }
}

.extra-area {
    h3 {
        text-align: center;
        width: 65%;
        padding: 24px 0;
        margin: 0 auto;
        font-size: 32px;
        line-height: 38px;
        font-weight: 300;
    }
}
#customer-testimonial-boxes .testimonial p {
    font-size: 13px;
    line-height: 22px;
    .san-serif-font;
}
