@import "paid-base.less";

#hero-wrapper {
	background: #fff url(/static/img/affiliates/sem-landing-page/security-systems-bg.jpg) top center no-repeat;
	background-size: auto;
    #hero-image {
        &.cmonday {
            .hero-content {
                background: transparent;
            }
        }
    }
}
#lightbox {
    .icon-remove-sign {
        color: #e4002b;
        right: 5px;
        top: 5px;
        left: auto;
        font-size: 24px;
    }
    .lightbox-info {
        float: right;
        border-left: 1px solid #ddd;
        border-right: none;
        width: 280px;
        background: #eee;
        margin: 0;
        padding: 15px 15px 0 25px;
        h3 {
            color: #333;
            font-weight: 600;
            text-transform: none;
            font-size: 24px;
            line-height: 30px;
            padding: 15px 10px 0;
            .san-serif-font;
        }
        p {
            font-size: 16px;
            line-height: 22px;
            color: #555;
            padding: 15px 10px;
            span {
                font-weight: 800;
            }
        }
    }
    #light-quote-form {
        background: @white;
        height: 455px;
        #quote-form {
            width: 319px;
            top: 15px;
            left: 0;
            margin-left: 0;
            .consent-box {
                label.consent-label {
                    font-size: 11px !important;
                    line-height: 17px !important;
                    cursor: auto;
                }
            }
            .form-fields {
                background: #eee;
                border-top: 1px solid #c5c5c5;
                border-bottom: 1px solid #c5c5c5;
                padding: 15px 54px 5px;
                margin-bottom: 15px;
                input {
                    box-shadow: inset 3px 2px 3px 0px #eee;
                    -webkit-box-shadow: inset 3px 2px 3px 0px #eee;
                    -moz-box-shadow: inset 3px 2px 3px 0px #eee;
                    border: 1px solid #ddd;
                    font-size: 12px;
                    padding: 5px;
                    color: #666;
                    line-height: 22px;
                    height: 22px;
                    width: 200px;
                }
            }
            a {
                color: @blue;
            }
            button {
                background: @yellow;
                color: #222;
                font-weight: 800px;
                .san-serif-font;
                &:hover {
                    &:hover {
                        background: #ffd75e;
                        color: #666;
                    }
                }
            }
            .form-title {
                color: #333;
                font-weight: 600;
                text-transform: none;
                font-size: 24px;
                line-height: 30px;
                padding-top: 15px;
                .san-serif-font;
                text-align: center;
            }
        }
    }
}