@charset "UTF-8";
@import "paid-base.less";

#lifestyle-shot {
    #home-content {
        h2 {
            padding-top: 32px;
        }
        p {
            strong {
                display: block;
                padding-top: 56px;
            }
        }
        .button-link {
            margin-top: 48px;
        }
    }
}

#hero-wrapper {
    #hero-image {
        .button-link {
            margin-top: 24px;
        }
        #cyber-monday {
            h1 {
                font-size: 20px;
                line-height: 26px;
            }
            h2 {
                font-size: 16px;
                line-height: 22px;
            }
        }
    }
}

#main-benefits {
    ul {
        li {
            h3 {
                padding: 0 0 10px;
                i {
                    padding: 0 0 10px;
                }
            }
            p {
                font-size: 13px;
                line-height: 22px;
            }
        }
    }
}