@charset "UTF-8";
@import "paid-base.less";

#hero-wrapper {
	#hero-image {
		#cyber-monday {
			h1 {
				font-size: 17px;
			}
		}
		.button-link {
			margin-top: 12px;
		}
	}
}

#lifestyle-shot {
    #home-content {
		p {
			font-size: 14px;
			line-height: 17px;
		}
        h2 {
            padding-top: 32px;
        }
        .button-link {
	        margin-top: 30px;
        }
    }
}

/* ------ Media Queries ------ */

/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		#hero-wrapper {
			#hero-image {
				#cyber-monday {
					h1 {
						line-height: 18px;
					}
					h2 {
						font-size: 24px;
						line-height: 25px;
					}
					img {
						width: 160px;
					}
				}
				.button-link {
					margin-top: 12px;
				}
			}
		}
	}
/* Smaller than tablet-size 768 (devices and browsers) */
	@media only screen and (max-width: 767px) {
		#hero-wrapper {
			#hero-image {
				#cyber-monday {
					img {
						width: 160px;
					}
				}
				.button-link {
					margin-top: 12px;
				}
			}
		}
		#lifestyle-shot {
		    #home-content {
		        h2 {
		            line-height: 18px;
		        }
		        p {
			        font-size: 12px;
			        line-height: 13px;
		        }
		    }
		}
		.triple-guarantee { 
			margin-bottom: 80px;
			ul {
				padding: 15px 0 0 72px;
				li {
					i {
						font-size: 28px;
					}
				}
			}
		}
	}
/* Mobile size -  480 (devices and browsers) */
	@media only screen and (max-width: 480px) {
		#hero-wrapper {
			#hero-image {
				#cyber-monday {
					h1 {
						margin-top: 5px;
						font-size: 14px;
						line-height: 15px;
					}
					h2 {
						font-size: 20px;
						line-height: 21px;
					}
					img {
						width: 85px !important;
					}
				}
				.button-link {
					margin-top: 12px;
				}
			}
		}
	}