@charset "UTF-8";
@import "paid-base.less";

#lifestyle-shot {
    #home-content {
        h2 {
            padding-top: 24px;
        }
        p {
            strong {
                display: block;
                padding-top: 56px;
            }
        }
        .button-link {
            margin-top: 24px;
        }

    }
}
#hero-wrapper {
    #hero-image {
        #cyber-monday {
            h1 {
                font-size: 22px;
            }
            a {
                &.button-link {
                    margin-top: 16px;
                }
            }
        }
    }
}
@media (max-width: 960px) {
    #hero-wrapper {
        #hero-image {
            #cyber-monday {
                img {
                    width: 170px;
                }
                h2 {
                    font-size: 19px;
                }
                h1 {
                    font-size: 20px;
                    line-height: 24px;
                }
            }
        }
    }
}
@media (max-width: 480px) {
    #hero-wrapper {
        #hero-image {
            #cyber-monday {
            a {
                &.button-link {
                    margin-top: 8px;
                }
            }
            .price-area {
                img {
                    width: 70px;
                }
            }    
            h1 {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    }
}