@charset "UTF-8";
@import "paid-base.less";

#header {
	.order-button {
		background: #8ec0ff;
		color: #333;
		font-weight: 500;
		&:hover {
			background: #6197dc;
		}
	}
}
#hero-wrapper {
	background: #eee;
	height: 550px;
	background: url(/static/img/banners/hero-banners/yahoo.jpg) center top no-repeat #eee;
	#hero-image {
		position: relative;
		height: 550px;
		.yahoo {
			width: 208px;
			height: 131px;
			position: absolute;
			right: 0;
			top: 115px;
		}
		&.cmonday {
			#quote-form {
				&.sleepy {
					margin-top: 54px;
					div {
						img {
							display: none;
						}
					}
				}
			}
            #deals {
                width: 730px;
                margin-left: 0;
                position: absolute;
                bottom: 0;
                right: 0;
                .camera {
                    width: 220px;
                    height: 159px;
                    overflow: hidden;
                    float: left;
                    img {
                        &.video-camera {
                            &:hover {
                                float: right;
                                margin: 0;
                            }
                        }
                    }
                }
                .security-system {
                    width: 205px;
                    height: 159px;
                    overflow: hidden;
                    float: left;
                    margin-right: 10px;
                    img {
                        &.free-system {
                            &:hover {
                                float: right;
                                margin: 0;
                            }
                        }
                    }
                }
                .three {
                    margin-left: 454px;
                    background: #ddd;
                    width: 235px;
                    height: 119px;
                    padding: 20px;
                    display: block;
                    h3 {
                        font-size: 18px;
                        line-height: 20px;
                        text-shadow: none;
                        text-transform: uppercase;
                        font-weight: 700;
                        text-align: left;
                        color: #333;
                        padding: 0;
                    }
                    h4 {
                        font-size: 14px;
                        text-transform: uppercase;
                        font-weight: 600;
                        text-align: left;
                        text-shadow: none;
                        color: #333;
                    }
                    p {
                        color: #666;
                        font-size: 14px;
                        width: auto;
                        line-height: 18px;
                        text-shadow: none;
                        text-transform: none;
                        text-align: left;
                        margin: 10px 0;
                    }
                }
                img {
                    float: left;
                    &.free-system {
                        margin-right: 10px;
                    }
                    &.video-camera {
                        margin-right: 10px;
                    }
                }
                .unbeatable {
                    width: 180px;
                    display: block;
                    float: right;
                    background: #2e3849;
                    text-transform: uppercase;
                    text-align: center;
                    p {
                        color: #fff;
                        width: auto;
                        text-align: center;
                        font-size: 13px;
                        padding-top: 10px;
                        margin: 0;
                        line-height: 28px;
                        strong {
                            clear: both;
                            color: #fff;
                            display: block;
                            font-size: 23px;
                            line-height: 18px;
                        }
                    }
                }
            }
        }
		#cyber-monday {
			background: none;
			padding: 25px;
			margin-left: 220px;
			h1 {
				color: #fff;
				text-transform: uppercase;
				font-weight: 500;
				padding: 10px 0 0;
			}
			h2 {
				color: #fff;
				text-transform: uppercase;
				font-weight: 500;
				font-size: 22px;
			}
			h3 {
				line-height: 26px !important;
			}
			p {
				color: #8ec0ff;
				text-transform: none;
			}
			a.button-link {
				margin-left: 390px;
			}
			.price-area {
				position: relative;
				width: 200px;
				height: 70px;
				margin: 80px 0 0 385px;
				display: block;
				h3 {
					color: #ffc000;
					font-size: 130px;
					font-weight: 500;
					line-height: 48px;
					text-align: center;
					margin: 0;
					padding: 0;
					big {
						font-size: 34px;
						position: absolute;
						top: -30px;
						left: 20px;
					}
					small {
						font-size: 16px;
						font-weight: 300;
					}
				}
				img {
					display: none !important;
				}
			}
		}
	}
}
#call-box {
	background: #2d1152;
	border: none;
	p {
		a {
			font-size: 24px;
			text-transform: uppercase;
			font-weight: 500;
		}
	}
}
#main-benefits {
	p {
		color: #777;
	}
	ul {
		li {
			margin: 20px 20px 0;
			h3 {
				letter-spacing: 0;
				font-size: 16px;
				padding: 10px 0;
				i {
					font-size: 36px;
					color: #999;
					padding-bottom: 10px;
				}
			}
			p {
				font-size: 14px;
				line-height: 22px;
			}
		}
	}
}
#lifestyle-shot {
	#home-content {
		.button-link {
			background: #2d1152;
			border: none;
			color: #fff;
			i {
				border-left: 1px solid #ccc;
			}
		}
	}
}
#order-final {
	background: #2d1152;
	.right-side {
		.button-link {
			color: #2d1152;
		}
	}
}
#lightbox {
	#light-quote-form {
		#quote-form {
			button {
				background: #ffc000;
				color: #333;
				i {
					border-left: 1px solid #dba500;
				}
				&:hover {
					background: #dba500;
					i {
						border-left: 1px solid #b78a00;
					}
				}
			}
		}
	}
}

/* #Media Queries
================================================== */

    /* Smaller than standard 960 (devices and browsers) */
    @media only screen and (max-width: 959px) {

    	#header-wrapper {
    		padding: 5px 0 10px;
    		&.stuck {
    			padding: 5px 0 5px;
    			#header {
    				.stuck-phone {
    					font-size: 16px;
    				}
    			}
    		}
    		#header {
    			#main-navigation {
    				display: none;
    			}
    		}
    	}
    	#hero-wrapper {
    		#hero-image {
    			#cyber-monday {
    				a.button-link {
    					margin-left: 315px;
    				}
    				.price-area {
    					margin: 50px 0 0 305px;
    				}
    			}
    			.yahoo {
    				right: 305px;
    				top: 110px;
    			}
    		}
    	}

    }

    /* Tablet Portrait size to standard 960 (devices and browsers) */
    @media only screen and (min-width: 768px) and (max-width: 959px) {

        .wrapper {
            width: 740px !important;
        }
        #header-wrapper {
            #header {
                width: 740px !important;
            }
        }
        #hero-wrapper {
            #hero-image {
                width: 740px;
                &.cmonday {
                    #deals {
                        width: 510px;
                        .three {
                            display: none;
                        }
                    }
                }
                #cyber-monday {
                    width: 533px;
                    .copy {
                        width: 313px;
                        h1 {
                            font-size: 22px;
                            line-height: 22px;
                        }
                    }
                    h3 {
                    	line-height: 28px !important;
                    }
                    .plans {
                        margin: 85px 0 0 35px;
                    }
                }
            }
        }

    }

    /* All Mobile Sizes (devices and browser) */
    @media only screen and (max-width: 767px) {

        #footer-wrapper, #terms-wrapper {
            display: none;
        }
        .wrapper {
            width: 480px;
            #categories {
                display: none;
                .category {
                    .category-img {
                        float: none !important;
                        width: 230px;
                        margin: 0 auto 20px;
                        padding: 0;
                    }
                    .category-info {
                        width: 100%;
                        h2 {
                            text-align: center;
                        }
                        p {
                            text-align: center;
                        }
                        a {
                            &.button-link {
                                margin: 0 auto;
                                float: none;
                                width: 160px;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
        #header-wrapper {
            #header {
                width: 480px !important;
            }
        }
        #hero-wrapper {
            #hero-image {
                width: 480px;
                .yahoo {
                	right: 55px;
                }
                &.cmonday {
                    #deals {
                        display: none;
                        .three {
                            display: none;
                        }
                    }
                }
                #cyber-monday {
                    width: 273px;
                    h3 {
                    	line-height: 28px !important;
                    }
                    .copy {
                        width: 273px;
                        padding-top: 10px;
                        h1 {
                            font-size: 23px;
                            line-height: 27px;
                        }
                    }
                    .plans {
                        width: 175px;
                        margin: 30px 0 0 50px;
                        a.button-link {
                            width: 171px;
                        }
                    }
                }
            }
        }

    }

    /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
    @media only screen and (min-width: 480px) and (max-width: 767px) {

    	#hero-wrapper {
    		height: 450px;
    		#hero-image {
    			.yahoo {
    				right: 255px;
    			}
    			&.cmonday {
    				#quote-form {
    					&.sleepy {
    						display: none;
    					}
    				}
    			}
    			#cyber-monday {
    				width: 430px;
    				float: left;
    				margin: 0;
    				.price-area {
    					margin: 40px 0 0 240px;
    				}
    				h1 {
    					font-size: 16px;
    					line-height: 19px;
    					margin: 0 0 0 200px;
    				}
    				h2 {
    					font-size: 16px;
    					line-height: 19px;
    					margin: 0 0 0 200px;
    				}
    				h3 {
    					line-height: 26px !important;
    				}
    				p {
    					margin: 10px 0 20px 200px;
    				}
    				a.button-link {
    					margin-left: 250px;
    				}
    			}
    		}
    	}

    }

    /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
    @media only screen and (max-width: 479px) {

    	.wrapper {
    		width: 380px !important;
    	}
    	#header-wrapper {
    		#header {
    			width: 380px !important;
    		}
    	}
    	#hero-wrapper {
    		height: 450px;
    		#hero-image {
    			.yahoo {
    				right: 255px;
    			}
    			&.cmonday {
    				#quote-form {
    					&.sleepy {
    						display: none;
    					}
    				}
    			}
    			#cyber-monday {
    				width: 430px;
    				float: left;
    				margin: 0;
    				.price-area {
    					margin: 60px 0 0 180px;
    				}
    				h1 {
    					font-size: 16px;
    					line-height: 19px;
    					margin: 0 0 0 90px;
    				}
    				h2 {
    					font-size: 16px;
    					line-height: 19px;
    					margin: 0 0 0 90px;
    				}
    				h3 {
    					line-height: 2px !important;
    				}
    				p {
    					margin: 0 0 20px 90px;
    				}
    				a.button-link {
    					margin-left: 220px;
    					margin-top: 20px;
    				}
    			}
    		}
    	}

    }