@charset "UTF-8";
.clear {
  clear: both;
  height: 0;
  line-height: 0;
}
/********** Color Selection ***********/
/* In place of black, PA uses a very dark grey. */
/********** Mix-ins ***********/
.fade-slow {
  -webkit-transition: background-color 0.7s ease-out;
  -moz-transition: background-color 0.7s ease-out;
  transition: background-color 0.7s ease-out;
}
.fade-fast {
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}
#header-wrapper {
  width: 960px;
  margin: 0 auto;
}
#header-wrapper #quick-link-navigation {
  float: right;
  margin: 0px 0 2px 0;
}
#header-wrapper #quick-link-navigation li {
  font-size: 1em;
  font-weight: normal;
  list-style: none;
  float: left;
  display: inline;
  color: #353535;
  position: relative;
  bottom: 3px;
}
#header-wrapper #quick-link-navigation li a {
  padding: 3px 10px;
  color: #353535;
  text-decoration: none;
  background: #eeeeee;
  color: #888888;
  font-size: 10px;
  font-weight: normal;
  margin: 0 0 0 5px;
  border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
}
#header-wrapper #quick-link-navigation li a:hover {
  color: #ffffff;
  background-color: #0069aa;
  text-decoration: underline;
}
#header-wrapper #company-logo {
  width: 300px;
  height: 55px;
  margin: 0;
  clear: both;
  position: relative;
  float: left;
}
#header-wrapper #company-logo a {
  text-decoration: none;
}
#header-wrapper #company-logo h4 {
  bottom: 7px;
  color: #353535;
  font-size: 17.2px;
  font-weight: 300;
  left: 76px;
  letter-spacing: 1px;
  line-height: 28px;
  padding: 0 0 0 1px;
  position: absolute;
}
#header-wrapper #company-logo #protect-america-logo {
  position: absolute;
  left: 6px;
  top: -10px;
}
#header-wrapper #phone-number {
  color: #333333;
  font-weight: bold;
  position: absolute;
  right: 171px;
  text-align: right;
  width: 600px;
  bottom: 4px;
}
#header-wrapper #phone-number p {
  font-size: 16px;
}
#header-wrapper #phone-number p span {
  font-size: 32px;
  color: #e51b24;
  display: block;
  line-height: 37px;
}
#header-wrapper #phone-number #protection-snippet {
  font-size: 12px;
  color: #888888;
  font-weight: normal;
}
#header-wrapper #ge-logo {
  position: absolute;
  right: -15px;
  top: 24px;
  width: 175px;
  height: 52px;
}
#navigation-wrapper {
  border-bottom: 5px solid #e51b24;
  background: #eeeeee;
}
#navigation {
  width: 960px;
  margin: 0 auto;
  height: 24px;
  position: relative;
  overflow: hidden;
  z-index: 500;
  margin-bottom: 0px;
}
#navigation ul {
  width: 714px;
  margin: 0 auto;
  float: left;
  height: 24px;
}
#navigation ul li {
  display: inline;
}
#navigation ul li a {
  color: #000;
  display: block;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  outline: 0;
  padding: 0px 32px;
  text-decoration: none;
  text-align: center;
  line-height: 24px;
  height: 24px;
  float: left;
  letter-spacing: .5px;
  border-right: 1px solid #cccccc;
  -webkit-transition: background-color 0.7s ease-out;
  -moz-transition: background-color 0.7s ease-out;
  transition: background-color 0.7s ease-out;
}
#navigation ul li a:hover {
  background: #eeeeee;
  background: #fcfcfc;
  color: #0069aa;
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}
#navigation ul li.active a {
  color: #ffffff;
  background: #e51b24;
  border: 1px solid #e51b24;
  height: 23px;
  line-height: 24px;
  padding: 0px 15px;
}
#navigation ul li.active a:hover {
  text-decoration: none;
}
#search-area {
  background: rgba(255, 255, 255, 0.5) url(/static/img/search-icon.png) no-repeat 7px 5px;
  float: left;
  width: 244px;
  height: 24px;
  border: 1px solid #cccccc;
  border-top: none;
  border-bottom: none;
}
#search-area input {
  background: transparent;
  border: none;
  color: #888888;
  font-weight: bold;
  height: 24px;
  margin-left: 28px;
  width: 200px;
  line-height: 24px;
  font-size: 12px;
}
/************** Sub-Navigation ****************/
#sub-navigation {
  width: 960px;
  margin: 4px auto 16px;
  height: 32px;
}
#sub-navigation #share-this {
  float: left;
  width: 246px;
  padding: 0 0 0;
  position: relative;
}
#sub-navigation #share-this #plus-one {
  float: left;
  width: 120px;
  padding-top: 2px;
}
#sub-navigation #share-this #facebook-button {
  float: left;
  width: 90px;
  margin-right: 8px;
}
#sub-navigation #share-this #share-this-button {
  float: left;
  position: absolute;
  right: 0px;
  top: 2px;
}
#sub-navigation ul {
  width: 713px;
  float: left;
}
#sub-navigation ul li {
  height: 30px;
  margin-right: 16px;
  float: left;
}
#sub-navigation ul li.active {
  background: url(/images/nav-arrow.png) center 20px no-repeat;
}
#sub-navigation ul li.active a {
  border-bottom: 1px solid #333333;
}
#sub-navigation ul li a {
  color: #4a505a;
  display: block;
  font-size: 12px;
  font-weight: normal;
  outline: 0;
  padding: 0px 16px;
  text-decoration: none;
  text-align: center;
  line-height: 24px;
  height: 24px;
  float: left;
  letter-spacing: .5px;
  -webkit-transition: background-color 0.7s ease-out;
  -moz-transition: background-color 0.7s ease-out;
  transition: background-color 0.7s ease-out;
  border-bottom: 1px solid transparent;
}
#sub-navigation ul li a:hover {
  color: #0069aa;
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}
/************** Footer ****************/
#footer {
  background: #fcfcfc;
  border: 1px solid #cccccc;
  width: 960px;
  margin: 0 auto 75px;
  text-align: center;
}
#footer p {
  text-align: left;
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-left: 20px;
}
#footer div.bottom-rule {
  margin-bottom: 5px;
}
#footer #popular-topics,
#footer #about-us,
#footer #help {
  float: left;
  margin: 0 20px 25px;
  width: 175px;
  text-align: left;
}
#footer #popular-topics li,
#footer #about-us li,
#footer #help li {
  font-size: 11px;
  font-weight: normal;
  line-height: 25px;
}
#footer #popular-topics li a,
#footer #about-us li a,
#footer #help li a {
  color: #0066b3;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  position: relative;
  right: 10px;
}
#footer #popular-topics li a:hover,
#footer #about-us li a:hover,
#footer #help li a:hover {
  text-decoration: underline;
}
#footer #popular-topics li strong,
#footer #about-us li strong,
#footer #help li strong {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-top: 15px;
}
#footer #popular-topics li.active a,
#footer #about-us li.active a,
#footer #help li.active a {
  background: #0066b3;
  color: #ffffff;
}
#footer #awards {
  border-left: 1px solid #eeeeee;
  float: left;
  margin: 20px 0;
  padding: 10px;
  text-align: left;
  width: 290px;
}
#footer #awards div {
  width: 275px;
  padding: 5px 0 0 20px;
}
#footer #awards div img {
  float: left;
  margin-right: 20px;
}
#footer #awards div p {
  float: left;
  font-size: 10px;
  font-weight: bold;
  line-height: 15px;
  margin: 19px 0;
  width: 140px;
}
#extra-information {
  width: 960px;
  margin: 10px auto 135px;
}
#extra-information img {
  padding-top: 10px;
}
#extra-information #legal-text {
  float: right;
  width: 750px;
  text-align: right;
  font-size: 11px;
  line-height: 16px;
}
#extra-information #disclaimer {
  color: #999;
  font-size: 10px;
  line-height: 1.2em;
  padding-top: 5px;
  text-align: justify;
}
/************** Quote Form ****************/
#quote-form {
  width: 275px;
  margin: 0 0 15px;
  height: 280px;
  float: left;
  margin-left: 16px;
  position: relative;
}
#quote-form h1 {
  color: #0069aa;
  font-size: 26px;
  font-weight: normal;
  line-height: 36px;
  margin-bottom: 10px;
  letter-spacing: -1px;
}
#quote-form h2 {
  color: #333333;
  font-size: 28px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 10px;
  letter-spacing: -1px;
}
#quote-form h2 a {
  color: #333333;
  text-decoration: none;
}
#quote-form h2 a:hover {
  color: #0066b3;
  text-decoration: underline;
}
#quote-form h3 {
  border-bottom: none;
  padding: 0 10px;
}
#quote-form p {
  margin-bottom: 10px;
  font-size: 14px;
  text-align: justify;
  line-height: 22px;
  color: #353535;
}
#quote-form #quote-form-error {
  display: none;
  position: absolute;
  z-index: 999;
  width: 185px;
  background: #e51b24;
  top: 217px;
  left: -215px;
  border: 1px solid #8b0404;
  -moz-box-shadow: 0px 2px 5px #4a505a;
  -webkit-box-shadow: 0px 2px 5px #4a505a;
  box-shadow: 0px 2px 5px #4a505a;
  opacity: .95;
}
#quote-form #quote-form-error ul {
  margin-bottom: 4px;
}
#quote-form #quote-form-error ul li {
  text-align: left;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  list-style-type: disc;
  margin-left: 16px;
  margin-bottom: 4px;
}
#quote-form #quote-form-error strong {
  font-size: 24px;
  display: block;
  line-height: 48px;
  color: #ffffff;
  text-align: left;
}
#quote-form #quote-form-error #error-arrow {
  position: absolute;
  right: -24px;
  top: 40px;
}
#quote-form div {
  background: #0069aa;
  padding: 8px 8px 16px;
}
#quote-form div p {
  display: block;
  font-size: 26px;
  line-height: 32px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  padding: 0;
}
#quote-form div label {
  color: #ffffff;
  padding: 0;
}
#quote-form div input {
  color: #cccccc;
  font-size: 18px;
  height: 28px;
  line-height: 28px;
  margin: 0 0 8px;
  width: 251px;
}
#quote-form button {
  display: block;
  background: #90af01;
  color: #ffffff;
  text-decoration: none;
  height: 36px;
  line-height: 36px;
  background-image: -moz-linear-gradient(top, #90af01, #829e01);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#90af01), to(#829e01));
  border: 1px solid transparent;
  font-size: 18px;
  padding: 0 24px;
  width: 275px;
  font-weight: bold;
  margin-top: 8px;
  cursor: pointer;
  cursor: hand;
}
#quote-form button:hover {
  background-image: -moz-linear-gradient(center top, #90af01, #687e01);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#90af01), to(#687e01));
  border: 1px solid #768f03;
  border-bottom: 1px solid #576902;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
#quote-form a {
  display: block;
  text-align: center;
  font-size: 10px;
  padding-top: 4px;
  text-decoration: none;
}
#quote-form a:hover {
  text-decoration: underline;
}
