html {
  height: 100%;
}
body {
  background: #fff;
  padding: 0;
  text-align: center;
  font-family: 'open sans';
  position: relative;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: 'Karla', sans-serif;
}
p {
  font-family: 'Karla', sans-serif;
}
iframe {
  clear: both;
}
.wrapper {
  height: 100% !important;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
a {
  text-decoration: none;
}
h1 {
  width: 100%;
  font-family: 'Amatic SC', cursive;
  font-weight: 400;
}
h2 {
  font-family: 'Arvo', serif;
  font-weight: 400;
}
h1 {
  margin-top: 100px;
  color: #333;
  margin-bottom: 5px;
  font-size: 70px;
  font-weight: 100;
}
h1 span {
  font-size: 26px;
  margin: 0 5px;
  text-transform: capitalize;
  background: rgba(0, 0, 0, 0.85);
  display: inline-block;
  color: #6D461D;
  border-radius: 5px 5px;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px 5px;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.75);
  padding: 3px 10px;
}
h2 {
  color: #666;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 10px;
}
.pointer {
  color: #9b59b6;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  margin-top: 15px;
}
code {
  margin: 20px 1%;
  float: left;
  width: 48%;
  height: 105px;
  background: rgba(0, 0, 0, 0.1);
  border: rgba(0, 0, 0, 0.05) 5px solid;
  border-radius: 5px;
  padding: 5px;
  color: white;
  text-align: center;
  font-size: 15px;
  margin-top: 25px;
  display: block;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
code.html {
  color: #7EC9E6;
}
code.js {
  color: #FFAD00;
}
.main {
  float: left;
  width: 100%;
  margin: 0 auto;
}
.main h1 {
  padding: 150px 50px;
  float: left;
  width: 100%;
  font-size: 45px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-weight: 100;
  color: white;
  margin: 0;
}
.main h1.demo1 {
  background: #1ABC9C;
}
.main section.page1 {
  padding: 160px 0 60px;
}
.main section.page1 h1 {
  background: url(/static/img/payitforward/logo_pif.png) no-repeat;
  width: 250px;
  height: 71px;
  margin: 0 auto;
  text-align: left;
  text-indent: -999px;
  overflow: hidden;
  float: none;
  display: block;
}
.main section.page1 .logo_mobile {
  display: none;
}
.main section.page1 .schools {
  background: #ffffff;
  padding: 15px;
  width: 560px;
  margin: 0 auto;
}
.main section.page1 .schools img.msu {
  margin: 0 60px 0 0;
}
.main section.page1 .schools img.uf {
  margin: 0 60px 0 0;
}
.reload.bell {
  font-size: 12px;
  padding: 20px;
  width: 45px;
  text-align: center;
  height: 47px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}
.reload.bell #notification {
  font-size: 25px;
  line-height: 140%;
}
.reload,
.btn {
  border: 4px solid #A2261E;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #CC3126;
  display: inline-block;
  line-height: 100%;
  padding: 0.7em;
  text-decoration: none;
  color: #fff;
  width: 100px;
  line-height: 140%;
  font-size: 17px;
  font-family: open sans;
  font-weight: bold;
}
.reload:hover {
  background: #444;
}
.btn {
  width: 200px;
  color: #ffffff;
  border: 4px solid #000000;
  background: rgba(3, 3, 3, 0.75);
}
.clear {
  width: auto;
}
.btn:hover,
.btn:hover {
  background: #444;
}
.btns {
  width: 410px;
  margin: 50px auto;
}
.credit {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  width: 410px;
  clear: both;
}
.credit a {
  color: rgba(0, 0, 0, 0.85);
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}
.top-menu {
  position: absolute;
  top: 0;
  left: 0;
  text-align: right;
  display: block;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.75);
  font-weight: bold;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 15px 0;
  float: right;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
.top-menu li {
  list-style-type: none;
  margin: 0 20px;
  display: inline;
}
.top-menu li.feed {
  background: #efea28;
  padding: 15px;
}
.top-menu li a {
  color: #333333;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
}
.top-menu li a.feed {
  font-weight: 700;
  color: #2f394a;
}
.top-menu li a:hover {
  color: #eb292b;
}
header {
  position: relative;
  z-index: 10;
}
.main section .page_container {
  position: relative;
  top: 8%;
  margin: 0 auto 0;
  width: 100%;
  z-index: 3;
}
.main section.page1 .page_container {
  top: 15%;
}
.main section.page1 .page_container iframe {
  padding: 15px;
  background: #fff;
}
.main section {
  overflow: hidden;
}
.main section > img {
  position: absolute;
  max-width: 100%;
  z-index: 1;
}
.main section.page1 {
  background: url(/static/img/payitforward/bg_getinvolved.jpg) #4a505a;
  background-size: cover;
}
.main section.page1 .pa-header {
  width: 100%;
  background: #2f394a;
  padding: 0;
  position: absolute;
  top: 49px;
}
.main section.page1 .pa-header a {
  color: #fff;
}
.main section.page1 .pa-header p {
  float: right;
  width: auto;
  margin: 0 20px;
  padding: 8px 20px;
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  background: #344a5f;
}
.main section.page1 .pa-header img {
  float: left;
  margin: 8px 0 0 20px;
}
.main section.page1 h1 {
  text-align: center;
  padding: 0;
  margin-bottom: 15px;
  font-size: 70px;
  color: #333;
  font-weight: 100;
}
.main section.page1 h2 {
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  width: 60%;
  line-height: 160%;
  margin: 40px auto;
  font-size: 30px;
}
.main section.page1 p {
  margin: 20px 0;
}
.main section .page_container .btns {
  clear: both;
  float: left;
  text-align: center;
  width: 435px;
}
.main section .page_container .btns a {
  text-align: center;
}
.main section.page2 .left {
  float: left;
  margin-left: 5%;
  width: 45%;
}
.main section.page2 .left h3 {
  text-align: left;
}
.main section.page2 .right {
  float: right;
  margin: 0;
  width: 45%;
  min-width: 320px;
}
.main section.page2 .right h2 {
  background: url(/static/img/payitforward/banner_pressroom.png) no-repeat scroll left top transparent;
  height: 75px;
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  font-weight: 400;
  padding: 5px 0 0 20px;
  text-align: left;
  color: #fff;
}
.main section.page2 {
  padding: 60px 0;
}
.main section.page2 h1 {
  text-align: center;
  padding: 0;
  margin-bottom: 15px;
  font-size: 60px;
  color: #333;
}
.main section.page2 p {
  color: #333;
  text-align: left;
  line-height: 160%;
  font-weight: 100;
  font-size: 16px;
  width: 50%;
  padding: 0 0 20px 0;
  margin: 0 auto;
}
.main section.page2 h3 {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 2px;
  color: #333;
  margin: 20px auto 0;
  padding: 15px;
  width: 50%;
}
.main section.page2 .right .story {
  display: inline-block;
  background: #fff;
  margin: 10px 10% 10px 0;
  padding: 15px 0;
  border-radius: 5px;
}
.main section.page2 .right .story h2 {
  font-family: 'Arvo', serif;
  font-weight: 700;
  font-size: 18px;
  background: none;
  color: #1570ab;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
  height: auto;
  line-height: 14px;
}
.main section.page2 .right .story h4 {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 12px;
  font-style: italic;
  color: #666;
  margin: 0;
  padding: 0;
}
.main section.page2 .right .story h5 {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin: 15px auto 0;
  width: 90%;
}
.main section.page2 .right .story p {
  width: 90%;
  margin: 15px auto;
}
.main section.page2 .right .story a {
  color: #1570ab;
}
.main section.page3 {
  background: #162a33;
  padding: 60px 0;
}
.main section.page3 .icons {
  width: 100%;
  clear: both;
}
.main section.page3 .icons img.image {
  margin: 20px 5% 0;
}
.main section.page3 p {
  color: #fff;
  text-align: left;
  line-height: 160%;
  font-weight: 100;
  font-size: 14px;
}
.main section.page3 .left p {
  color: #fff;
  text-align: left;
  line-height: 180%;
  font-weight: 100;
  font-size: 16px;
  margin-bottom: 40px;
}
.main section.page3 .left {
  float: left;
  margin-left: 5%;
  width: 35%;
}
.main section.page3 .right {
  float: right;
  margin: 0 5%;
  width: 50%;
}
.main section.page3 .right ul li {
  list-style-type: none;
}
.main section.page3 .right ul li.more {
  margin: 25px 0 0;
  display: inline-block;
}
.main section.page3 .right ul li a {
  color: #f0e928;
}
.main section.page3 .right h1 {
  float: left;
  font-size: 24px;
  font-weight: 400;
  width: 70%;
  text-align: left;
  padding: 0;
  margin: 0 0 0 15px;
}
.main section.page3 .right p {
  float: left;
  font-size: 14px;
  line-height: 160%;
  margin: 0 0 10px 46px;
  width: 90%;
}
.main section.page3 .right img {
  float: left;
  clear: left;
}
.main section.page3 .page_container {
  overflow: hidden;
}
.main section.page3 h1 {
  text-align: center;
  padding: 0;
  margin-bottom: 15px;
  font-size: 60px;
  line-height: 56px;
  color: #fff;
}
.main section.page3 h2 {
  color: #f0e928;
  text-align: left;
  line-height: 160%;
  font-weight: 100;
  font-size: 14px;
  padding: 4px 0 0 45px;
  text-transform: uppercase;
  width: 50%;
}
.main section.page5 td {
  padding: 2px;
}
.main section.page5 td.title {
  padding: 10px 0;
  background: #f0e928;
}
.main section.page5 table {
  border: 1px solid #666;
  margin: 0 auto;
}
.main section.page2 {
  background: #40bac8;
}
.main section.page4 {
  background: #f6c443;
  padding: 60px 0;
}
.main section.page4 .page_container ul li {
  list-style-type: none;
  width: 28%;
  float: left;
  text-align: center;
  padding: 20px 10px 10px 10px;
  border: 1px solid #deaf35;
  margin: 0 10px;
  background: #fff;
}
.main section.page4 .page_container ul li.msu img {
  clear: both;
  margin: 0 auto;
}
.main section.page4 .page_container ul li.msu p {
  font-weight: bold;
  padding-bottom: 10px;
}
.main section.page4 .page_container ul li.msu div {
  height: 420px;
  overflow-y: scroll;
}
.main section.page4 .page_container ul li.uf img {
  clear: both;
  margin: 0 auto;
}
.main section.page4 .page_container ul li.uf p {
  font-weight: bold;
  padding-bottom: 10px;
}
.main section.page4 .page_container ul li.uf div {
  height: 420px;
  overflow-y: scroll;
}
.main section.page4 .page_container ul li.usa img {
  clear: both;
  margin: 0 auto;
}
.main section.page4 .page_container ul li.usa p {
  font-weight: bold;
  padding-bottom: 10px;
}
.main section.page4 .page_container ul li.usa div {
  height: 420px;
  overflow-y: scroll;
}
.main section.page5 {
  background: #eeeeee;
  background: -moz-linear-gradient(top, #eeeeee 0%, #ffffff 46%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(46%, #ffffff));
  background: -webkit-linear-gradient(top, #eeeeee 0%, #ffffff 46%);
  background: -o-linear-gradient(top, #eeeeee 0%, #ffffff 46%);
  background: -ms-linear-gradient(top, #eeeeee 0%, #ffffff 46%);
  background: linear-gradient(to bottom, #eeeeee 0%, #ffffff 46%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0);
}
.main section.page5 {
  background: #f1f1f1;
  padding: 60px 0;
}
.main section.page4 h1,
.main section.page5 h1,
.main section.page5 h1 {
  text-align: center;
  padding: 0;
  margin-bottom: 15px;
  font-size: 60px;
  color: #333;
}
.main section.page5 h2 {
  color: #ffffff;
  text-align: center;
  width: 60%;
  line-height: 180%;
  margin: 0 auto 40px;
  font-size: 18px;
}
.main section.page5 h2,
.main section.page4 h2 {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 60%;
  line-height: 180%;
  margin: 0 auto 40px;
  font-size: 18px;
}
.main section.page5 #getInvolved_form {
  width: 314px;
  height: 354px;
  background: url(/static/img/payitforward/bg_form.png) no-repeat;
  margin: 0 auto;
  padding: 40px;
  display: inline-block;
}
.main section.page5 #getInvolved_form input {
  width: 180px;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
  font-size: 14px;
  padding: 5px;
  color: #888;
  margin-bottom: 10px;
  float: right;
}
.main section.page5 #getInvolved_form input:focus {
  background: #eee;
  border: 1px solid #ccc;
  color: #333;
}
.main section.page5 #getInvolved_form p {
  color: #333;
  font-size: 14px;
  padding: 0 10px;
  margin: 0 0 20px 0;
}
#menuMobile {
  display: none;
}
/* #Media Queries
================================================== */
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
  .main section.page1 h2 {
    font-size: 16px;
    line-height: 140%;
    margin: 30px auto;
  }
  .main section.page1 .page_container iframe {
    width: 60%;
  }
  .main section.page1 .schools {
    width: 60%;
  }
  .main section.page1 .schools img.msu,
  .main section.page1 .schools img.uf {
    margin: 0 20px 0 0;
  }
  .main section.page2 p {
    width: 80%;
    font-size: 15px;
  }
  .main section.page2 h3 {
    font-size: 18px;
    padding: 10px;
    width: 80%;
  }
  .main section.page4 .page_container ul li {
    width: 27%;
  }
}
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  .top-menu {
    display: none;
    font-size: 11px;
    padding: 17px 0;
  }
  .top-menu li {
    margin: 0 8px;
  }
  #menuMobile {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    height: 49px;
    background: rgba(255, 255, 255, 0.5);
  }
  #menuMobile img {
    padding-top: 15px;
  }
  .nav {
    display: none;
    width: 100%;
    background: #ffffff;
    padding: 0;
    margin: 8px 0;
  }
  .nav li {
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }
  .nav a {
    color: #333;
    margin: 0;
    width: 100%;
    padding: 10px 0;
  }
  .nav a:hover {
    background: #ff0000;
  }
  .main section.page1 .schools img {
    height: 26px;
  }
  .main section.page1 .schools img.msu,
  .main section.page1 .schools img.uf {
    margin: 0;
  }
  .main section.page1 h2 {
    background: rgba(255, 255, 255, 0.2);
    padding: 15px;
  }
  .main section.page1 .pa-header {
    top: 0;
  }
  .main section.page1 .pa-header p {
    font-size: 20px;
  }
  .main section.page2 p {
    font-size: 13px;
  }
  .main section.page2 h3 {
    display: none;
  }
  .main section.page3 h2 {
    padding: 5px 0 0 0;
    float: left;
    width: 100%;
    clear: both;
  }
  .main section.page3 .page_container .right ul li {
    text-align: left;
  }
  .main section.page3 .left {
    display: none;
  }
  .main section.page3 .right {
    float: none;
    width: 90%;
  }
  .main section.page3 .right p {
    font-size: 14px;
    margin: 10px 0;
    width: 90%;
  }
  .main section.page3 .right img {
    float: left;
  }
  .main section.page4 .page_container ul li {
    width: 82%;
  }
  .main section.page4 .page_container ul li img {
    width: 170px;
  }
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  .main section.page1 .schools {
    width: 90%;
  }
  .main section.page1 .schools img {
    height: 32px;
  }
  .main section.page1 .page_container iframe {
    width: 90%;
  }
  .main section.page1 h1 {
    display: none;
  }
  .main section.page1 .logo_mobile {
    display: block;
    max-width: 280px;
    min-width: 280px;
  }
  .main section.page1 .logo_mobile object {
    width: 280px !important;
    max-width: 280px;
    min-width: 280px;
    height: 80px !important;
  }
  .main section.page1 .pa-header p {
    font-size: 14px;
    padding: 5px 7px;
  }
  .main section.page1 .pa-header img {
    margin: 8px 0 0 20px;
    width: 150px;
  }
  .main section.page2 p {
    width: 90%;
  }
  .main section.page3 h3 {
    padding: 4px 0 0 0;
  }
  .main section.page3 h2 {
    float: left;
    margin: 0;
  }
  .main section.page3 .page_container .right ul {
    width: 90%;
    display: inline;
  }
  .main section.page3 .page_container .right ul li {
    text-align: left;
  }
  .main section.page3 .page_container .right ul li img {
    float: left;
    clear: none;
  }
  .main section.page3 .page_container .right p {
    margin: 10px 0 15px;
    clear: both;
    width: 100%;
  }
  .main section.page4 .page_container ul li {
    width: 72%;
  }
  .main section.page4 .page_container ul li img {
    width: 170px;
  }
  .main section.page5 h2 {
    font-size: 16px;
    line-height: 160%;
  }
}
body.disabled-onepage-scroll .onepage-wrapper section {
  min-height: 100%;
  height: auto;
}
body.disabled-onepage-scroll .main section .page_container,
body.disabled-onepage-scroll .main section.page3 .page_container {
  padding: 20px;
  margin-top: 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body.disabled-onepage-scroll section .page_container h1 {
  text-align: center;
  font-size: 50px;
}
body.disabled-onepage-scroll section .page_container h2,
body.disabled-onepage-scroll section .page_container .credit,
body.disabled-onepage-scroll section .page_container .btns {
  text-align: left;
  width: 90%;
}
body.disabled-onepage-scroll .main section.page1 > img {
  position: absolute;
  width: 80%;
  left: 10%;
}
body.disabled-onepage-scroll .main section > img {
  position: relative;
  max-width: 80%;
  bottom: 0;
}
body.disabled-onepage-scroll code {
  width: 95%;
  margin: 0 auto 25px;
  float: none;
  overflow: hidden;
}
body.disabled-onepage-scroll .main section.page3 .page_container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  right: 0;
}
