#hero-wrapper{background:url(/static/img/affiliates/sem-landing-page/rep/phone-camera.jpg) -250px 0 #000}
#hero-wrapper #hero-image #best-deal h1{color:#fff;font-size:36px;line-height:42px;width:350px;margin:0 auto;padding:30px 0 0}
#hero-wrapper #hero-image #best-deal h2{color:#fff;font-size:25px;line-height:42px;width:350px;margin:0 auto 10px;padding:0}
#hero-wrapper #hero-image #best-deal h2 em{font-style:italic;padding-right:5px}
#hero-wrapper #hero-image #best-deal p{color:#fff;font-size:14px;line-height:24px;width:350px;margin:0 auto 20px;padding:0;text-align:left;text-shadow:0 0 3px #333}
#hero-wrapper #hero-image #best-deal small{padding:0;margin:0 auto;display:block;text-align:center;color:#fff;text-shadow:0 0 3px #333}
#hero-wrapper #hero-image #best-deal .validation-icons{margin:70px auto 10px}
#hero-wrapper #quote-form{background:#2f394a}
#advantages #order-reassurance .text h3 i{display:block;font-size:64px;line-height:64px;padding:10px 0;color:#2f394a}
#advantages #order-reassurance .text p{font-size:12px !important;text-align:left !important}
#wireless-security #security-information #one-hundred-percent{width:560px}
