body {
    font-size: 14px;
    font-family: verdana, sans-serif;
}

input#id_unsub_email {
    font-size: 14px;
    width: 250px;
}

input.submit {
    margin: 2px 0 2px 0;
}

#inputs {
    width: 250px;
}

.error {
    color: red
}

.post {
    font-size: 16px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.center {
    margin: 0 auto;
}

.clear {
    clear: both;
}

a:link, a:active, a:visited {
    text-decoration: none;
    color: #1144BB;
}

a:hover {
    text-decoration: underline;
    color: #000000;
}
