{% extends "base.html" %}

{% load sekizai_tags %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/support-2.css">
{% endblock %}

{% block subnav %}
<div id="subnav-wrapper">
    <ul id="subnav">
        <li class="{% if 'home-security-equipment' in active_pages %}active{% endif %} menu-item" data-menu="customer-service">
            <a href="{% url home-security-equipment %}">Customer Service</a>
            <div class="child-nav">
                <ul class="customer-service">
                    <li class="{% if 'installation' in active_pages %}active{% endif %}"><a href="{% url installation %}">Installation</a></li>
                    <li class="{% if 'operation' in active_pages %}active{% endif %}"><a href="{% url operation %}">Operation</a></li>

                    <li class="{% if 'troubleshooting' in active_pages %}active{% endif %}"><a href="{% url troubleshooting %}">Troubleshooting</a></li>

                    <li class="{% if 'faq' in active_pages %}active{% endif %}"><a href="{% url faq %}">FAQs</a></li>

                    <li class="{% if 'moving-kit' in active_pages %}active{% endif %}"><a href="{% url moving-kit %}">EasyMove Kit</a></li>

                </ul>
                <div class="clear"></div>

            </div>
        </li>
        <li class="{% if 'find-us' in active_pages %}active{% endif %} menu-item">
            <a href="{% url find-us %}">Find Us</a>
        </li>
        <li class="{% if 'careers' in active_pages %}active{% endif %} menu-item"  data-menu="careers">
            <a href="{% url careers %}">Careers</a>
            <div class="child-nav">
                <ul class="careers" >
                    <li class="{% if 'jobs' in active_pages %}active{% endif %}"><a href="{% url jobs %}" title="View Current Job Openings">Job Openings</a></li>
                </ul>
            </div>
        </li>
        <li class="{% if 'agent-two' in active_pages %}active{% endif %} menu-item">
            <a href="{% url agent-two %}">Dealer Program</a>
        </li>
        <li class="{% if 'affilaite-program' in active_pages %}active{% endif %} menu-item">
            <a href="{% url affiliate-program %}">Affiliates</a>
        </li>
        <li class="{% if 'contact-us' in active_pages %}active{% endif %} menu-item" data-menu="contact-areas">
            <a href="{% url contact-us %}">Contact Us</a>
            <div class="child-nav">
                <ul class="contact-areas">
                    <li class="{% if 'department-listing' in active_pages %}active{% endif %}"><a href="{% url department-listing %}">Department Listing</a></li>
                    <li class="{% if 'feedback-ceo' in active_pages %}active{% endif %}"><a href="{% url feedback-ceo %}">Send Feedback to Our CEO</a></li>
                </ul>
                <div class="clear"></div>

            </div>
        </li>
    </ul>
    <div class="clear"></div>
</div>

{% endblock %}
