{% extends "support/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}
{% block page_title %}FAQs | Protect America Support | Alarm Companies | Security Alarms{% endblock %}
{% block page_keywords %}FAQ,questions,alarm company monitoring, home security, security{% endblock %}
{% block page_description %}For answers to common questions regarding home security service or the GE wireless alarm monitoring system visit Protect America's FAQs page.{% endblock %}

{% block content %}
<div id="faq-overview">
    <h1>Important Information & Frequently Asked Questions (FAQs)</h1>
</div>
<div class="question">
    <h2>Does my local police department require that I have an alarm permit?</h2>
    <p>Some police departments require that you have an alarm permit or at least just register with them so they know you have an alarm. In some cases, they will charge a fee for the permit. It is very important that you contact your local police department to find out if they require you to have a permit. In some cities, if you fail to secure the permit, the police will not allow us to dispatch them to your home in case of an alarm so make sure you contact your police right away.</p>
</div>
<div class="question">
    <h2>What happens when my alarm system is triggered? How will the monitoring station respond?</h2>
    <ul>
        <li>When your alarm is triggered by a burglary protection device (door sensor, motion detector, etc), your system sends a signal to our monitoring facility. We will wait for 60 seconds to allow you the chance to enter your four-digit code. If you enter your code and disarm the system within 60 seconds, there will be no further response from the monitoring facility.</li>
        <li>If your alarm is triggered and you do not enter your four-digit code within 60 seconds, the Monitoring station will call your premise phone number on the account to ask for your verbal password and double check to see if it’s a false alarm. If you do not answer or if we do not get the correct password for any reason, we will dispatch local authorities to your home and then contact your emergency contact list.</li>
        <li>If your alarm system is triggered by a panic signal, the monitoring station will dispatch the police first, and then contact your emergency contact list.</li>
    </ul>
</div>
<div class="question">
    <h2>What happens at the end of my initial 36 month monitoring agreement?</h2>
    <ul>
        <li>It's important to remember that your alarm monitoring service agreement is for 36 months. At the end of 36 months, the agreement will automatically switch to a month to month contract unless you provide at least a 30 days written notice before your renewal date.</li>
    </ul>
</div>
<div class="question">
    <h2>How do I Arm and Disarm my new alarm system?</h2>
    <ul>
        <li>You may arm the doors and windows while exiting by pressing "doors and windows” once on the panel. The alarm system will start beeping to inform you that the system is arming. Now you may exit. </li>            
        <li>To arm your system using doors and windows with no ENTRY delay, press "Doors and windows" two times. This allows time to leave and will sound the alarm immediately if any sensors are tripped.</li>            
        <li>To arm the system using doors, windows and motions: press "Doors and windows" one time and "Motions" one time. This will allow time to leave and also to return without causing a false alarm.</li>            
        <li>To disarm your alarm system, type in your “master code” or “user code”.</li>
    </ul>
</div>
<div class="question">
    <h2>How do I send a panic signal?</h2>
    <ul>
        <li>To send an Emergency, Fire or Police panic signal simply press and hold the appropriate button for 2 seconds, (Cross = Emergency, Fire = Fire, Police badge= Police).</li>
    </ul>

</div>
<div class="question">
    <h2>What is a “Duress code”?</h2>
    <ul> 
        <li>The “duress code” is a 4 digit code used in place of your master code when someone is forcing you to disarm your system. Using this code will disarm the alarm system and send a silent duress signal to the monitoring station.</li>
    </ul>


</div>
<div class="question">
    <h2>What is the difference between the Master Code and a User Code?</h2>
    <ul>
        <li>The Master Code can be used to arm and disarm the system, add user codes, as well as change basic settings in the system programming.</li>
        <li>The user code (you can have up to 8 user codes in addition to the Master Code)  can only be used to arm and disarm, (Ideal for Family members, Caretakers, cleaning staff…etc.). </li>
    </ul>


</div>
<div class="question">
    <h2>Why is testing your system important?</h2>
    <ul>
        <li>We encourage you to test your system at least once a month to ensure that the system is functioning properly. Also try our new live chat feature for any questions or concerns, by visiting <a href="http://www.protectamerica.com">www.ProtectAmerica.com</a>. Once you are on the website, click the “chat” option on the top of the page and chat with a representative instantly.</li>
    </ul>
</div>
<div class="question">
    <h2>Why is it important to notify us about a change of the Phone or IP service provider?</h2>
    <ul>
        <li>Not all service providers are compatible with your alarm system. </li>
        <li>Some providers do not ensure that communication has been restored to your alarm system. </li>
        <li>It is very important to inform us before and after any changes so that we can confirm that the service provider is compatible, also so that we can test and confirm that your system is communicating.</li>
    </ul>
</div>
<div class="question">
    <h2>Why is it important to notify us about a future move?</h2>
    <ul>
        <li>Your system is wireless which makes it easy for you to take the existing equipment with you and set it up at the new location. The best part is we allow you to transfer your system and your service at no charge!</li>
        <li>Contact Customer CARE at 1(800)-951-5111 to request a relocation kit.</li>
        <li>The “Relocation Kit” includes extra Velcro and mounting tape for your sensors. Use these to mount the sensors securely in the new home. Contact us during the move to make this process simple.</li>
    </ul>
</div>
<div class="question">
    <h2>How do I Test My System?</h2>
    <p>To ensure your GE wireless alarm monitoring system is communicating properly, an alarm will have to be sent to the alarm company monitoring station.  Call the alarm company monitoring station to place your account on test; this is to prevent false alarms.  The number to the alarm company monitoring station is 877-274-0604.  Ask for Customer Care.  The alarm company monitoring station will ask you to provide them with your name or the address where the system is located and your password.  You will be able to place the account on test for one hour.  After your account has been placed on test, please follow these steps.</p>
    
    <ol>
    	<li>Arm system by pressing the Arm Doors and Windows button twice.</li>
    	<li>Press the Arm Motion button once.</li>
    	<li>When the panel stops beeping, your exit delay has expired.  The system is now armed.</li>
    	<li>Now open an entry/exit door.  When the alarm sounds close the door.  Open and close all remaining entry/exit doors.</li>
    	<li>With the alarm still sounding, open and close all remaining doors and window that are contacted.</li>
    	<li>With the alarm still sounding, walk in front of the motion detector.</li>
    	<li>With the alarm still sounding, open the panel cover until the panel starts talking. Close the cover. This will activate the panel tamper.</li>
    	<li>Now press and hold the Emergency Aux button for three seconds.</li>
    	<li>Now press and hold the Emergency Police button for three seconds.</li>
    	<li>Repeat this step on the second Emergency Aux button as well.
    		<p><strong>Reminder:</strong> The motion detector can only be activated once every four minutes.  If you walked in front of the motion you will need to wait at least four minutes, while the alarm is still sounding, before the motion detector will detect you again.</p></li>
    	<li>Disarm the system with the 4-digit Master Code.  The System Status light will be on.</li>
    	<li>Press System Status button.  This will indicate which zones have been activated.
    		<p><strong>Important Note:</strong> Listen carefully to make sure that all zones have been activated.  Not all panics will be mentioned.  Only the last panic pressed will be mentioned.</p></li>
    	<li>If any zones are not mentioned, re-arm the system.  Trip only those specific devices that were not indicated by the panel.</li>
    	<li>Enter the 4-digit Master Code to disarm system.</li>
    	<li>Press System Status button.  This will indicate that each specific device has been activated.
    		<p><strong>Special Note:</strong> Listen carefully again to make sure all zones are mentioned, including the zones that were not mentioned the first time that the System Status was checked.</p></li>
    	<li>Now that all the signals for all zones have been verified press System Status.  Immediately after the system stops talking, press the Disarm button to clear the alarm memory.</li>
    	<li>If all zones are closed, the System Status light will now be off.</li>
    	<li>Wait 3 to 4 minutes and call the alarm company monitoring station to verify the signals have been received.</li>
    	<li>If the alarm company monitoring station received the signals, notify the operator to take your account off test.  Your monthly system test is now complete.</li>
    	<li>If the alarm company monitoring station did not receive the signals, call Technical Support at (800) 951-5111 option 2.</li>
    </ol>
</div>
<div class="question">
    <h2>How do I Change the Master Code:</h2>
    <ol>
    	<li>Open the cover.
    	</li><li>Using the red numbered keys enter the existing 4-digit Master Code.  The panel will say, <em>"Please select from Start Menu."</em></li>
    	<li>Press the Add button.  The panel will say, <em>"Select from Main Menu."</em></li>
    	<li>Press the Access Code button one time.  The panel will say, <em>"Master Code, press again for next Access Code or Done to select."</em></li>
    	<li>Press the Done button.  The Panel will say, <em>"Use numbered keys to enter Master Code."</em></li>
    	<li>Enter the new Master Code.  The panel will repeat the new Master Code.</li>
    	<li>Close the cover when completed.</li>
    </ol>
</div>
<div class="question">
    <h2>How do I Program Additional User Codes:</h2>
    <p><strong>Note:</strong> System can have up to five access codes in addition to the Master Code.</p>
    
    <ol>
    	<li>Open the cover.</li>
    	<li>Using the red numbered keys enter the 4-digit Master Code.  The panel will say, <em>"Please select from Start Menu."</em></li>
    	<li>Press Add.  The panel will say, <em>"Please select from Main Menu"</em>.</li>     
    	<li>Press Access Code.  The panel will say, <em>"Master Code press again for next Access Code or Done to select"</em>.</li>  
    	<li>Press Access Code again.  The panel will say, <em>"Access code 1 press again for next access code or Done to select"</em>.</li>
    	<li>Press Done.  The panel will say, <em>"Use number keys to enter access code 1"</em>.</li>
    	<li>Enter access code. The panel will repeat access code.</li> 
    	<li>Close the cover when completed.</li>
    </ol>
    <p><strong>Note:</strong> For additional access codes repeat steps 1 through 5.  At Step 3 continue pressing "Access Code" button until you hear the next available location, i.e. access code 2.</p>
</div>

{% endblock %}  