{% extends "support/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}
{% block page_title %}Wireless System Operation | Alarm Monitoring | Alarm System{% endblock %}
{% block page_keywords %}operate, operation, engage, monitoring security, alarm, security, security system, home security, home security system{% endblock %}
{% block page_description %}Find answers to all operation and programming questions regarding your GE wireless home security system and its peripherals and learn to avoid false alarms.{% endblock %}
{% block subnav_child %}
<ul>
    <li><a href="#master-code" title="Learn how to Program your Master Code">Programming Your Master Code</a></li>
    <li><a href="#false-alarm-prevention" title="Learn how to Prevent False Alarms">False Alarm Prevention</a></li>
    <li><a href="#accidental-alarm" title="Learn what to do when you Accidentally set off your Alarm">Accidental Alarms</a></li>
    <li><a href="#test-system" title="Learn how to Test your System">System Test</a></li>
    <li><a href="#reference-guide" title="Read our Reference Guide">Reference Guide</a></li>

</ul>
{% endblock %}

{% block content %}
<div id="operation-support">
    <img src="{{ STATIC_URL }}img/products/security-panels/simon-xt-medium.jpg" alt="simon-xt-medium" width="350" height="297" />
    <div id="operation-overview">
        <h1>Help with Security System Operation</h1>
        <p>Wireless home security systems from Protect America are the simple and convenient solution for your home protection. To get the most from a new alarm system, customers should become acquainted with its features and operation. The most useful features to learn include learning about the emergency panic button and how to arm/disarm the system. It’s also important for new security system owners to know about performing monthly service tests and how to handle false alarms. </p>
    </div>
</div>
{% include "order/quote-form.html" with form=forms.basic %}

<div class="clear"></div>
<div id="tech-support">
    <div id="simon-xt-manual">
        <div id="simon-xt-image">
            <img src="{{ STATIC_URL }}img/products/security-panels/ge-simon-xt-on-grey-small.jpg" alt="GE Simon XT Installation Manual" />
        </div>
        <div>
            <h3>GE Simon XT Owner's Manual</h3>
            <div class="button-link"><a href="{{ STATIC_URL }}pdf/PA-2011SimonXT-Manual.pdf" title="Download the GE Simon XT PDF Manual">Download the PDF Manual ></a></div>
        </div>
        <div class="clear"></div>
    </div>
    <div id="simon-3-manual">
        <div id="simon-3-image">
            <img src="{{ STATIC_URL }}img/products/security-panels/ge-simon-3-on-grey-small.jpg" alt="GE Simon 3 Installation Manual" />
        </div>
        <div>
            <h3>GE Simon 3 Owner's Manual</h3>
            <div class="button-link"><a href="{{ STATIC_URL }}pdf/simon3_user_man.pdf" title="Download the GE Simon 3 PDF Manual">Download the PDF Manual ></a></div>
        </div>
        <div class="clear"></div>
    </div>

</div>
<div id="support-department">
    <h3>Customer Service</h3>
    <p class="phone-number"><strong>1-800-951-5111, Option 2</strong></p>
    <p class="email-address"><a href="mailto:support@protectamerica.com">support@protectamerica.com</a></p>
</div>
{% testimonial_search "operation" "limit=10&words=75" %}

<div class="clear"></div>
<div id="master-code">
    <h2>Programming Your New Master Code</h2>
    <p>This code number should be a secret, 4-digit ID Code known only by you.  It is recommended that other users have a different Access ID Code.  This is covered in the section "Creating Additional Access Codes for Other Users."</p>
    
    <p>To program your new master code:</p>
    
    <ol>
        <li>Open the Command Station cover by depressing the tab on the top.  The Command Station will say, "Use numbered keys to enter 4-digit ID."</li>
        <li>Enter your temporary 4-digit ID code (1234) using the RED numbered keys.  The Command Station will say, "Please select from start menu."</li>
        <li>Press Add button.  The Command Station will say, "Select from main menu."</li>
        <li>Press the Access Code button one time.  The Command Station will say, "Master Code, press again for next Access Code or Done to select."</li>
        <li>Press the Done button.  The Command Station will say, "Use numbered keys to enter 4-Digit Master Code."</li>
        <li>Enter your new Master Code.  The Command Station will repeat the new Master Code.  Close the panel cover.</li>
    </ol>
</div>

<div id="false-alarm-prevention">
    <h2>False Alarm Prevention</h2>
    <h3>What is a false alarm?</h3>
    <p>A false alarm is defined as any signal that elicits a response by police, fire or emergency medical services for which there is no evidence of criminal activity, fire, or medical need to justify an emergency response.  This simply means that if emergency personnel respond to an alarm activation and, after investigation, find no evidence that criminal, fire, or medical activity either had occurred or was occurring, the emergency response personnel will designate the alarm signal as a false alarm.</p>
    <p>With an estimated 25% yearly increase in alarm systems nationwide, emergency responders are becoming overwhelmed with false alarms.  This is resulting in stricter ordinances, severe fines and limited or no response policies.</p>
    <p>Help us reduce false alarms through the proper use and maintenance of your alarm system and <a href="{% url operation %}#test-system" title="How to test my GE Wireless Home Security System">Monthly Testing</a>.</p>
    <p>Your alarm has been programmed with a 60-second alarm cancel code.  If you activate your alarm but disarm it with your code within 60 seconds of the activation the monitoring station will be notified that an authorized user has disarmed the system.  The activity will be logged but no further action required.</p>
    <h3>Major causes of false alarms are:</h3>
    
    <ul>
        <li>User error.</li>
        <li>Unlocked or loose doors.</li>
        <li>Kids, neighbors, visitors, repairmen.</li>
        <li>Cleaning crews.</li>
        <li>Pets.</li>
        <li>Equipment malfunction.</li>
    </ul>
    <h3>Before you activate your alarm system:</h3>
    <p>Anyone who uses the security system needs to be fully educated on its proper operation.  This may include children, neighbors, domestics, cleaning crews, caretakers, realtors, employees, and temporary staff.</p>
    <ul>
        <li>Make sure you securely close and lock all protected doors and windows.</li>
        <li>If you are leaving your home or business makes sure the door you leave by is closed tightly.</li>
        <li>Keep pets, balloons, fans, heaters, plants, etc. away from <a href="{% url sensors %}#motion-detector" title="Click to learn about our Motion Detectors">motion sensor</a> areas.</li>
        <li>Know and rehearse the process to cancel an accidental alarm.  Anyone with you key should know this process.</li>
        <li>Know how much time you have after you arm your system to leave and to disarm your system when you enter.</li>
    </ul>
    <h3>False Alarm prevention with people:</h3>
    <ul>
        <li>Train your emergency contacts with keys on complete system operation.</li>
        <li>Instruct domestic or repair person on how to fully operate your system.</li>
        <li>Use deadbolt locks.</li>
        <li>Expand your protection with an alert neighborhood watch program.</li>
    </ul>
    <h3>Avoid conditions that can trigger your alarm:</h3>
    <ul>
        <li>Tighten loose fitting <a href="{% url door-window-sensor %}" title="Learn More about our Door / Window Sensors">doors or windows (sensors)</a>.</li>
        <li>Keep doors and windows locked when the alarm is "ON" to reduce the chance that friends, neighbors or customers can enter and activate the alarm.</li>
        <li>If you have pets purchase an alarm system that is tolerant of pets (pet immune).  You may not want to purchase <a href="{% url sensors %}#motion-detector" title="Click to learn about our Motion Detectors">motion detectors</a> if your pets have free run of the house when the alarm is on.  Barking dogs can activate <a href="{% url sensors %}#glass-break-sensor" title="Click to learn about our Glass Break Sensors">glass break detectors</a>. (under certain conditions)</li>
        <li>Mylar balloons.</li>
        <li>Drafts that move plants and curtains.</li>
    </ul>
    
    <h3>At your business watch for these pitfalls that may activate your alarm:</h3>
    
    <ul>
        <li>Swinging doors or windows.</li>
        <li>Banners or signs.</li>
        <li>Mylar balloons.</li>
        <li>Plants or curtains caught in drafts.</li>
        <li>Seasonal decorations.</li>
        <li>Stacked items such as boxes that may fall setting off motion detectors.</li>
        <li>Unsupervised guests.</li>
        <li>Untrained, unaware, or careless employees.</li>
        <li>Alarm equipment, such as <a href="{% url sensors %}#motion-detector" title="Click to learn about our Motion Detectors">motion sensors</a> or overhead <a href="{% url door-window-sensor %}" title="Click to learn about our Door / Window Sensors">door magnets</a> being hit by forklifts.</li>
    </ul>
    
    <h3>Contact your alarm dealer:</h3>
    
    <ul>
        <li>To <a href="{% url operation %}#test-system" title="How to test my GE Wireless Home Security System">test your system monthly</a>.</li>
        <li>If you plan home improvement or renovation projects such as changing phone systems (DSL, cable modem), the configuration of a room, adding a wall, rearranging cubicles, installing skylights, ceiling fans, etc.</li>
        <li>If you plan to fumigate.</li>
        <li>If you plan to change your alarm system batteries causing an interruption in you system's power supply.</li>
        <li>If you get a pet.</li>
        <li>If you hire a private contractor (domestic help, cleaning crew, Realtor, etc.).</li>
    </ul>
    <h3>False Alarms:</h3>
    
    <ul>
        <li>Divert emergency resources away from true emergencies.</li>
        <li>Are a nuisance to you and your neighbors.</li>
        <li>Make your security system less reliable.</li>
        <li>Costs you and your community money.</li>
    </ul>
    
    <h2>You can make a difference and be part of the solution!</h2>    
</div>
<div id="accidental-alarm">
    <h2>What to do if you set off your alarm by accident:</h2>
    <p><strong>First, don't panic!</strong> Carefully enter your disarm code to reset your system. Call your central monitoring station, 877-274-0604, immediately. Tell them you had an accidental alarm activation and need to cancel the alarm dispatch. Give your name, phone number, address, and password. Do not leave your home or business until you have talked with your monitoring station. Do not call 911 to cancel an alarm activation. You must call the monitoring station. You can arrange to have the monitoring station call you or another designated person BEFORE the police, fire, or medical personnel are called whenever your alarm is activated. Then if you are aware of a problem with the system you can cancel the alarm dispatch.</p>
</div>
<div id="test-system">
    <h2>Testing Your System:</h2>
    <h3>Testing Your System for the first time after Installation is complete.</h4>
    <p>Before testing your system you must call (800)951-5111, option 6.</p>
    <p>Have your Sensor Information Worksheet and a pen or pencil ready.  The packing slip that came with the system will be used as a checklist for testing the sensors and devices in your system.</p>
    <p>Close all doors and windows that have sensors attached to them.  Arm the system by pressing the Doors and Windows button.  Wait 60 seconds.  After the 60-second exit delay the Command Station will beep letting you know the system is armed.</p>
    <p>In the next step the siren will sound steadily.  It will continue sounding during the remainder of the test.  Do not disarm the system.  If you disarm the system before the test is complete, you will have to begin again.</p>
    
    <p>Open all doors with <a href="{% url door-window-sensor %}" title="Click to learn about our Door / Window Sensors">sensors</a>.  Wait 3 to 5 seconds then close the door.  When the doors are opened, the 60-second entry delay will now begin.  The alarm will not sound.  This is normal.  Once the 60-second entry delay has expired, the alarm will sound and send the signal to the monitoring station.</p>
    <p>With the alarm still sounding walk in front of the <a href="{% url sensors %}#motion-detector" title="Click to learn about our Motion Detectors">motion detector</a>*.</p>  
    <p>With the alarm still sounding, open all windows that have sensors attached.  Wait 3 to 5 seconds then close each window.  The signals for these sensors have now been sent to the monitoring station.</p>
    <p>Now open the panel cover with the alarm still sounding.  This activates the Command Station Tamper.  When the Command Station starts talking close the cover.</p>
    <p>Disarm the system with the 4-digit temporary ID code (1234).  The System Status light will be on and the Command Station will say, "System disarmed."</p>
    <p>Press the System Status button until the Command Station indicates by voice that each individual sensor has been activated.  For example the Command Station will say, "Sensor 1(front door) alarm, Sensor 2 (garage door) alarm, Sensor 3(back door) alarm, Sensor 4 (motion alarm)."  Listen carefully to make sure each sensor is mentioned.  As each sensor is mentioned, place a checkmark on your Sensor Information Worksheet by that sensor.</p>
    <p>If any sensors are not mentioned in the alarm memory, refer to the beginning of this section and re-test only those sensors.   After re-testing those sensors, enter the temporary 4-digit ID code (1234) to disarm the system. The Command Station will confirm, "System disarmed."</p>
    <h4>Testing the Emergency Buttons</h4>
    <p>Press and hold the Emergency Aux Button for three seconds.  Then press and hold the Emergency Police button for three seconds.  Repeat this step on the second Emergency Aux button as well.</p>
</div>
<div id="reference-guide">
    <h2>Quick Reference Guide</h2>
	<h3>Checking the System Status Light</h3>
	<p>If System Status light is on, it could be one of three reasons:</p>
	<ol>
		<li>A sensor is open.</li>
		<li>The alarm system was activated during the day.</li>
		<li>There is a problem with the system.</li>
	</ol>	
	<p>Press the system status button.  Once the panel indicates the condition, refer to the troubleshooting articles.</p>
	<h3>Arming the System to leave</h3>
	<p>Press the Doors and Windows button once.  Press Motion Sensors once*.  You now have 45-seconds to leave the premise before the system is activated.  When you return home you must enter through an entry/exit door.  These doors have been programmed with a 45-second entry delay.</p>
	<p class="footnote">*There is no need to press Motion Sensors if one is not present.</p>
	<h3>Disarming the System</h3>
	<p>Enter your 4-digit ID code to disarm the alarm system.  The Command Station will say, "System disarmed."</p>
	<h3>Arming the System at Bedtime</h3>
	<p>Press the Doors and Windows button twice.  This allows a 45-second exit time but no entry delay time.  The alarm will sound immediately when the door is opened.</p>
	<h3>Chime Feature</h3>
	<p>Press Doors Chime to active or deactivate the chime feature.  The system will chime every time a door or window sensor is opened.</p>
	<h3>Emergency Panic Button</h3>
	<p>In the event of an emergency, press and hold the Police panic button for 3 seconds.  The signal is sent to the monitoring station.  There will be no confirmation call from the monitoring station and the proper authorities will be notified.</p>
	<p>Enter the 4-digit temporary ID code to disarm system.  The Command Station will say, "System disarmed."</p>
	<p>Press System Status button.  The Command Station will indicate by voice that each individual sensor has been activated.  If  the Emergency buttons have been properly activated, the Command Station will say, "System panic alarm."  The signal has now been sent to the monitoring station.</p>
	<p>Now, all the signals for all the sensors have been verified in your home.  The alarm memory needs to be cleared.  Press the System Status button and immediately press the "Disarm" button.  The System Status light should now be off.</p>
	<p><strong>If the System Status light is lit, press System Status button.</strong>  This will indicate either an open sensor or a problem with the system.  If a sensor is open, close that sensor.  The System Status light should be off.</p>
</div>
{% addtoblock "js" %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cycle.all.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('#search-testimonial-box').cycle({
            fx: 'fade',
            timeout: 9000
        });
    });
    </script>
{% endaddtoblock "js" %}
{% endblock %}  