#top-consumer-reviews {
    width: 669px;
    height: 320px;
    background: #272727 url(/static/img/banners/669x320/top-consumer-reviews-compact/striped-background.jpg) repeat-x;
    img {
        position: absolute;
        top: 40px;
        left: 24px;
    }
    #top-consumer-review-banner-content {
        position: absolute;
        right: 300px;
        width: 376px;
        top: 80px;
        h3 {
            text-align: center;
            color: @light-grey;
            font-weight: normal;
            letter-spacing: 0;
            font-size: 16px;
        }
        h2 {
            color: @white;
            font-size: 27px;
            line-height: 36px;
            font-weight: 300;
            padding: 0;
            margin-right: 16px;
            padding-left: 4px;
            margin-top: 4px;
            padding-top: 4px;
            border-top: 3px solid @black;
            strong {
                color: #2bb5fd;
            }
        }
        p {
            color: #2bb5fd;
            text-align: right;
            padding-right: 24px;
            font-weight: bold;
        }
    }
}

