<div id="deals">
    <img src="{{ STATIC_URL }}img/banners/cyber-monday/cyber_monday_deals.png" alt="Cyber Monday Deals" />
    <a href="/shop-home-security-packages"><img src="{{ STATIC_URL }}img/banners/cyber-monday/free_security_system.png" alt="Free Security System" /></a>
    <img src="{{ STATIC_URL }}img/banners/cyber-monday/free_security_camera.png" alt="Free Security Camera" />
    <img src="{{ STATIC_URL }}img/banners/cyber-monday/no_landline_required.png" alt="No Landline Required" />
    <img src="{{ STATIC_URL }}img/banners/cyber-monday/keychain_remote.png" style="float: right;" alt="Keychain Remotes" />
    <img src="{{ STATIC_URL }}img/banners/cyber-monday/monitored_smoke_detector.png" style="float: right;" alt="Monitored Smoke Detectors" />
</div>