{% block party-box %}
<div id="deals">

	<img src="{{ STATIC_URL }}img/banners/party-box/weeks-deal.png" alt="This Week's Security Deals" />
    <a href="http://www.protectamerica.com/shop-home-security-packages"><img src="{{ STATIC_URL }}img/banners/party-box/free-security-system.png" alt="Free Security System" /></a>
    <a href="http://www.protectamerica.com/equipment/life-safety/smoke-detector"><img src="{{ STATIC_URL }}img/banners/hero-banners/spring-savings/9-99-smoke.png" alt="Monitored Smoke Detector" /></a>
    <a href="http://www.protectamerica.com/shop-home-security-packages/copper"><img src="{{ STATIC_URL }}img/banners/party-box/consumer-digest-best-buy.jpg" alt="Best Buy by Consumer Digest" /></a>
</div>
{% endblock %}