{% load content_filters content_tags sekizai_tags testimonial_tags %}

<div id="top-content-holiday">

    <div class="wrapper">
               <img src="{{ STATIC_URL }}img/banners/hero-banners/holiday-banner/green-bow.jpg" alt="green-bow" id="green-bow" />

        <div id="top-hero-banner">

            <div id="holiday-banner" data-url="{% url order-package %}">
                <img src="{{ STATIC_URL }}img/banners/hero-banners/holiday-banner/holiday-banner.jpg"

                    alt="Our best promotion ever! free equipment, $5.99 per week for monitoring" id="copper-flash" />
            </div>
        </div>
        {% include "order/quote-form.html" with form=forms.basic %}
    </div>
</div>