{% load content_filters content_tags sekizai_tags testimonial_tags %}

<div id="hero-wrapper" class="june-deals">
    <div id="hero-image" class="cmonday">
        {% include "order/quote-form-white.html" with form=forms.basic %}
        <div id="june-deals">
            <h1>Home security systems</h1>
            <a href="{% url shop %}" class="button-link stylized">Get Started Now</a>
            <div class="ssavings-deals">
                <a href="http://www.protectamerica.com/equipment/life-safety/smoke-detector"><img src="{{ STATIC_URL }}img/banners/hero-banners/june-deals/monitored-smoke.png" class="june-smoke" alt="Monitored smoke protection" /></a>
                <a href="http://www.protectamerica.com/shop-home-security-packages"><img src="{{ STATIC_URL }}img/banners/hero-banners/june-deals/free-system.png" class="june-free" alt="Get a free security system" /></a>
                <a href="http://www.protectamerica.com/equipment/home-automation"><img src="{{ STATIC_URL }}img/banners/hero-banners/june-deals/home-automation.png" class="june-automation" alt="Home automation" /></a>
            </div>
        </div>
    </div>
</div>