<div id="limited-time-offer">
    <a href="http://www.protectamerica.com/products/security-equipment/accessories/touchscreen" title="Get a Free Simon XT Touch Screen with Cellular, Broadband, or Two-Way Voice Monitoring"><img src="{{ STATIC_URL }}img/banners/936x112/touchscreen-banner.png" alt="Get a Free Simon XT Touch Screen with Cellular, Broadband, or Two-Way Voice Monitoring"  width="936" height="112" />
        <img src="{{ STATIC_URL }}img/extra/limited-time-offer.png" alt="Limited Time Offer" id="limited-time-offer-headline" />

    </a>
</div>

