{% load content_filters content_tags sekizai_tags testimonial_tags %}
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<div id="hero-wrapper" class="night">
    <div id="hero-image" class="cmonday">
        {% include "order/quote-form-white-night.html" with form=forms.basic %}
        <div id="july-deals">
            <h1>Home security systems</h1>
            <h2>Something keeping you up?</h2>
            <h3>Worry-free home security starting <br>at less than a dollar a day.</h3>
            <ul>
                <li><i class="fa fa-check"></i>24/7 security monitoring</i></li>
                <li><i class="fa fa-check"></i>Easy to setup - no tools required</li>
                <li><i class="fa fa-check"></i>Free equipment and no installation fees</li>
            </ul>
            <a href="{% url shop %}" class="button-link stylized">Set your security wake-up call</a>
        </div>
    </div>
</div>