{% load content_filters content_tags sekizai_tags testimonial_tags %}
<style type="text/css">
    #hero-wrapper {
        background: #2b80b8 url({{ STATIC_URL }}img/base/bg-blue.png) repeat;
    }
    #hero-wrapper #hero-image .main-hero-image {
        left: -36px;
    }
    #hero-wrapper #hero-image h1 {
        position: absolute;
        font-weight: bold;
        top: 36px;
        left: 7px;
        font-size: 42px;
    }
</style>
<div id="hero-wrapper" class="blue">
    <div id="hero-image" class="{% if not business_time %}sleepy{% endif %}">
            <h1>The Best Deal in Home Security</h1>
            <img src="{{ STATIC_URL }}img/banners/july/best-deal-home-security.jpg" class="main-hero-image" alt="dependable-security-hero" />
    </div>
</div>