{% load content_filters content_tags sekizai_tags testimonial_tags %}
{% addtoblock "css" %}

{% endaddtoblock "css" %}
<div id="hero-wrapper" class="blue">
    <div id="hero-image" class="sleepy" style="z-index:0;">
        <div id="dependable-security">
            <h1>Dependable Security for Every Home.</h1>
            <p>Over the past 20 years, Protect America has revolutionized home security systems; <span>making it easy to protect your family with quality home security products at an affordable price.</span></p>
            <div class="price-area">
                <img src="{{ STATIC_URL }}img/extra/silver-1999.png" alt="Home Security Systems starting at $19.99" />
            </div>
            <a href="{% url shop %}" class="button-link stylized">Get Started Now <i class="icon-chevron-right"></i></a>
            <img src="{{ STATIC_URL }}img/banners/hero-banners/dependable-security/dependable-security-hero.jpg" class="main-hero-image" alt="dependable-security-hero" />
        </div>
    </div>
        {% comment %}
        <div id="tablet-deal">

                <ul>
                    <li><i class="icon-shield"></i>24/7 Reliable<br />Easy-To-Use<br />Security</li>
                    <li><i class="icon-home"></i>No Equipment<br/>No Activation<br />Fees</li>
                    <li><i class="icon-money"></i>$19.99<br/>monthly<br/>monitoring</li>
    
                </ul>
        </div>
    </div>
            <div class="hero-content">
            <h1>Dependable Security for Every Home.</h1>

            </div>
            <p class="hero-copy">Over the past 20 years, Protect America has revolutionized home security; <span>making it easy to protect your family using quality home security systems with no cost alarm equipment.</span>
                <a href="{% url shop %}" class="button-link stylized">Get Started Now <i class="icon-chevron-right"></i></a>
            </p>

    <div id="main-tablet-image"></div>
    <img src="{{ STATIC_URL }}img/hero-backgrounds/grassy-park.jpg" id="tablet-background" alt="grassy-park" width="800" height="533" />
    {% endcomment %}
</div>
