{% load content_filters content_tags sekizai_tags testimonial_tags %}
{% addtoblock "css" %}

{% endaddtoblock "css" %}
<div id="hero-wrapper" class="blue bf">
    <div id="hero-image" style="z-index:0;">
        <div class="deal-content">
            <h2>Pre Black Friday Security Deals</h2>
            <img src="{{ STATIC_URL }}img/promo/bf/why-wait.png" alt="why-wait" width="575" height="75" />
            <h3>Home Security<span>starting at $19.99/mo</span></h3>
            <div class="button-area">

                <a href="{% url shop %}" class="button-link stylized">Get Started Now <i class="icon-chevron-right"></i></a>

            </div>
        </div>
        <a href="{% url video %}"><img src="{{ STATIC_URL }}img/promo/bf/black-friday-camera-deal.jpg" class="camera" alt="black-friday-camera-deal" width="926" height="496" /></a>
    {% comment %}
        <div id="dependable-security">
            <h1>Dependable Security for Every Home.</h1>
            <p>Over the past 20 years, Protect America has revolutionized home security systems; <span>making it easy to protect your family with quality home security products at an affordable price.</span></p>
            <div class="price-area">
                <img src="{{ STATIC_URL }}img/extra/silver-1999.png" alt="Home Security Systems starting at $19.99" />
            </div>
            <a href="{% url shop %}" class="button-link stylized">Get Started Now <i class="icon-chevron-right"></i></a>
            <img src="{{ STATIC_URL }}img/banners/hero-banners/dependable-security/dependable-security-hero.jpg" class="main-hero-image" alt="dependable-security-hero" />
        </div>
    {% endcomment %}
    {% include "order/quote-form-refresh.html" with form=forms.basic %}

    </div>
    <a href="{% url video %}"><img src="{{ STATIC_URL }}img/promo/bf/camera-button.png" width="137" height="137" class="camera-button" alt="camera-button" /></a>
    {% comment %}<img src="{{ STATIC_URL }}img/promo/bf/save-648.png" class="save648" alt="save-648" width="129" height="129" />{% endcomment %}

</div>
