{% load content_filters content_tags sekizai_tags testimonial_tags %}

<div id="top-content">
    <div class="wrapper">
        <div id="top-hero-banner-controls">
            <div id="hero-left-arrow">&nbsp;</div>
            <div id="pager-container">
                <ul>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                </ul>
            </div>
            <div id="hero-right-arrow">&nbsp;</div>
            
            
        </div>
        <div id="top-hero-banner">
            <div id="touchscreen-banner" data-url="{% url order-package %}?package=silver">
                <h2>Protecting Homes for 20 Years<span>Celebrate with a GE Simon XT Touch Screen with Every Package</span></h2>
                
                <div id="touchscreen-banner-content">
                    <img src="{{ STATIC_URL }}img/banners/hero-banners/20-anniversary/ge-touchscreen.jpg" alt="ge-touchscreen-hero-image" />
                    <p>when you order Broadband or Cellular Monitoring.</p>
                    <div class="button-submit">
                        <a href="{% url order-package %}?package=silver" title="Add a GE Simon XT Touch Screen to any package today">Order Now ></a>
                    </div>
                    <span>Expires 10/31/2012</span>

                </div>
                <img src="{{ STATIC_URL }}img/banners/hero-banners/20-anniversary/20-logo.png" id="twenty-logo" alt="Celebrating Protect America's 20th Anniversary" />

                <img src="{{ STATIC_URL }}img/banners/hero-banners/20-anniversary/streamers.jpg" id="streamers" alt="ge-touchscreen" />

            </div>
            <div id="interactive-banner" data-url="{% url cellular %}">
                <img src="{{ STATIC_URL }}img/interactive/interactive-hero-image.jpg" id="interactive-image" alt="interactive-image" width="528" height="256" />
                <h2>Interactive Security Monitoring <span>Control your Security System from your Computer or Smartphone</span></h2>
                
                <div id="interactive-banner-content">
                    <p>Included <strong>FREE*</strong> <span>with cellular or broadband monitoring.</span></p>
                    <div class="button-link">
                        <a href="{% url cellular %}" title="Interactive Features available free with Cellular or Broadband monitoring">Learn More ></a>
                    </div>
                </div>
                <img src="{{ STATIC_URL }}img/banners/hero-banners/20-anniversary/20-logo.png" id="twenty-logo" alt="Celebrating Protect America's 20th Anniversary" />

            </div>
            <div id="top-consumer-banner" data-url="{% url copper %}">
                <img src="{{ STATIC_URL }}img/banners/hero-banners/top-consumer-reviews/top-consumer-ribbons.jpg" id="consumer-image" alt="Rated 5 Stars from Top Consumer Reviews" />
                <h2>Award Winning Security<span>Rated the Best Home Security System for the Past 5 Years.</span></h2>
                <div id="top-consumer-content">
                    <p>"Protect America provides the <strong>best home security solution</strong> available today. Their state-of-the-art equipment and 24 hour nationwide monitoring system [are] <strong>top-notch.</strong>"</p>
                    <em>&ndash; Top Consumer Reviews, 2012</em>
                </div>
                <img src="{{ STATIC_URL }}img/banners/hero-banners/20-anniversary/20-logo.png" id="twenty-logo" alt="Celebrating Protect America's 20th Anniversary" />

            </div>
        </div>
        {% include "order/quote-form.html" with form=forms.basic %}
    </div>
</div>
