{% load content_filters content_tags sekizai_tags testimonial_tags ab_test %}

<div id="hero-wrapper" class="sept-deals">
    <div id="hero-image" class="cmonday">
        {% include "order/quote-form-white-refresh.html" with form=forms.basic %}
        <div id="sept-deals">
            <h1>Home security systems</h1>
            <h2>Your security<br>should be simple.</h2>
            <h3>And it starts at just $19.99 per month</h3>
            <ul>
                <li><i class="fa fa-check"></i>24/7 security monitoring</i></li>
                <li><i class="fa fa-check"></i>Easy to setup - no tools required</li>
                <li><i class="fa fa-check"></i>Free equipment and no installation fees</li>
            </ul>
            <a href="{% url shop %}?hero">Get started now</a>
            <div class="deal-box">
                <a href="{% url shop %}?heropromo" class="deal-img">
                    <img src="{{ STATIC_URL }}img/banners/hero-banners/sept-deals/security-deal.png" />
                </a>
                <a href="{% url smoke-detector %}?heropromo" class="deal-img">
                    <img src="{{ STATIC_URL }}img/banners/hero-banners/sept-deals/fire-deal.png" />
                </a>
            </div>
        </div>
    </div>
</div>
{% include "order/call-box-b.html" %}
