{% load content_filters content_tags sekizai_tags testimonial_tags ab_test %}

<div id="hero-wrapper" class="sept-deals">
    <div id="hero-image" class="cmonday">
        {% include "order/quote-form-white-refresh.html" with form=forms.basic %}
        <div id="sept-deals">
            <h1>Home security systems</h1>
            <h2>Your security<br>should be simple.</h2>
            <h3>And it starts for less than a dollar per day.</h3>
            <ul>
                <li><i class="fa fa-check"></i>24/7 security monitoring</i></li>
                <li><i class="fa fa-check"></i>Easy to setup - no tools required</li>
                <li><i class="fa fa-check"></i>Free equipment and no installation fees</li>
            </ul>
            <a href="{% url shop %}">Start shopping today</a>
            {% if request.COOKIES.refer_id == 'HOMESITE' or request.session.refer_id == 'HOMESITE' %}
                {% start_ab request 'deal_breaker' %}
            {% else %}
                {% if not request.GET.agent %}
                    {% if not request.COOKIES.refer_id and not request.session.refer_id %}
                        {% start_ab request 'deal_breaker' %}
                    {% else %}
                    {% endif %}
                {% else %}
                {% endif %}
            {% endif %}

        </div>
    </div>
</div>