{% load content_filters content_tags sekizai_tags testimonial_tags %}

<div id="hero-wrapper" class="cmonday">
    <div id="hero-image" class="cmonday">
        {% include "order/quote-form-spring.html" with form=forms.basic %}
        {% comment %}
        <div id="super-bowl">
            <h1>Home security starting at</h1>
            <img src="{{ STATIC_URL }}img/base/super-bowl.jpg" class="main-hero-image" alt="cyber-monday-hero" />
        </div>
        {% endcomment %}
        <div id="cyber-monday">
            <div class="copy">
                <h1>Home security systems and home automation, designed just for you.</h1>
                <h2>Call now to get started.</h2>
                <h3>1-800-951-5190</h3>
            </div>
            <div class="plans">
                <p>Plans starting at only</p>
                <small>$</small>
                <big>5</big>
                <small class="month">/mo</small>
                <a href="{% url shop %}" class="button-link stylized">Shop packages</a>
            </div>
            <img src="{{ STATIC_URL }}img/banners/hero-banners/spring/home-security-protect-america.jpg" class="main-hero-image" alt="Home security systems by Protect America" />
        </div>
        {% include "banners/spring/deals.html" %}
    </div>
</div>