{% load content_filters content_tags sekizai_tags testimonial_tags %}

<div id="top-content">
    <div class="wrapper">
        <div id="top-hero-banner-controls">
            <div id="hero-left-arrow">&nbsp;</div>
            <div id="pager-container">
                <ul style="width: 21px;">
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                </ul>
            </div>
            <div id="hero-right-arrow">&nbsp;</div>
        </div>
        <div id="top-hero-banner">
            <div id="promotion-banner" data-url="{% url order-package %}">
                <img src="{{ STATIC_URL }}img/banners/hero-banners/flash-promotion.jpg"
                    width="685" height="400" alt="Our best promotion ever! free equipment, 19.99 monthly monitoring" id="copper-flash" />
            </div>
            <div id="top-consumer-banner" data-url="{% url copper %}">
                <img src="{{ STATIC_URL }}img/banners/hero-banners/top-consumer-reviews/top-consumer-ribbons.jpg" id="consumer-image" alt="Rated 5 Stars from Top Consumer Reviews" />
                <h2>Award Winning Security<span>Rated the Best Home Security System for the Past 5 Years.</span></h2>
                <div id="top-consumer-content">
                    <p>"Protect America provides the <strong>best home security solution</strong> available today. Their state-of-the-art equipment and 24 hour nationwide monitoring system [are] <strong>top-notch.</strong>"</p>
                    <em>&ndash; Top Consumer Reviews, 2012</em>
                </div>
            </div> 
        </div>
        {% include "order/quote-form.html" with form=forms.basic %}
    </div>
</div>
{% addtoblock "js" %}
<script type="text/javascript">
$('#top-hero-banner').before('<div id="pager-container">') 
    .cycle({ 
        fx:     'fade',
        pause: 1, 
        speed:  'fast', 
        timeout: 7000, 
        pager:  '#pager-container ul',
        pagerAnchorBuilder: function(idx, slide) { 
            // return selector string for existing anchor 
            return '#pager-container ul li:eq(' + idx + ')'; 
        },
        next: '#hero-right-arrow',
        prev: '#hero-left-arrow'
    });
    $('#main-testimonials').cycle({
    fx: 'fade',
    timeout: 9000
});
</script>
{% endaddtoblock "js" %}