{% extends "mobile/base.html" %}

{% load content_filters content_tags sekizai_tags testimonial_tags %}

{% block page_title %}Best Home Security Systems and Products  | Protect America{% endblock %}
{% block page_description %}Learn about why Protect America is rated #1 for its low prices, free equipment, and customer commitment. Call Today!{% endblock %}

{% block content %}
<div class="hero inner about-pa">
    <img src="{{ STATIC_URL }}/img/mobile/about-icon.png" class="hero-icon" alt="About Protect America" />
    <div class="hero-content">
        <h1>About Protect America</h1>
        <p>When you choose a home security company, make it one you can trust. Protect America safeguards your home at a price you can afford.</p>
        <a href="tel:{{ phone_number|format_number }}" title="Tap to order your home security system" class="button" style="margin-top: 8px;">Tap to Get Started</a>
    </div>
</div>
<ul class="index-nav">
    <li class="alpha" data-package="who-we-are">
        <i class="fa fa-shield"></i>
        <h3>Who We Are<span>Its not only our name, its our commitment</span></h3>
        <i class="fa fa-angle-right"></i>
    </li>
    <div class="content-section who-we-are">
        <img src="{{ STATIC_URL }}img/mobile/protect-america-icon.png" alt="Protect America icon" class="centered" />
        <h2>Our name is our commitment</h2>
        <p>Protect America is one of the nation’s top home security companies. We have protected almost half a million homes since 1992 and continue to grow. Currently, only 15% of the population in the U.S. has a working alarm system. Our goal is to provide home security for the whole nation and educate consumers on the importance of home security.</p>
        <p>We also provide more than just home security products. We offer convenience and safety through our home automation, GPS, and surveillance products. Our wireless home security systems and products allow consumers to protect their home and loved ones at the best price.</p>
        {% include "mobile/_partial/cta.html" %}
        <i class="fa fa-caret-up"></i>

    </div>
    <li data-package="award-winning">
        <i class="fa fa-trophy"></i>
        <h3>Award Winning Security<span>Ranked #1 for a reason.</span></h3>
        <i class="fa fa-angle-right"></i>
    </li>
    <div class="content-section award-winning">
        <div id="featured-on">
            <small>Proudly Featured on:</small>
            <div id="featured-badges">

                <div class="featured besty">&nbsp;</div>
                <div class="featured topconsumer">&nbsp;</div>
                <div class="featured consumerdigest">&nbsp;</div>
                <div class="featured abc">&nbsp;</div>
                <div class="featured history">&nbsp;</div>
                <div class="featured buzz">&nbsp;</div>
                <div class="featured fox">&nbsp;</div>
                <div class="featured npr">&nbsp;</div>

                <div class="featured bbb">&nbsp;</div>
                <div class="featured gadgeteer">&nbsp;</div>
                <div class="featured toptens">&nbsp;</div>
            </div>
        </div>
        <h2>Don't take our word for it. <br />Ask the experts.</h2>
        <p>We've armed hundreds of thousands of homeowners with dynamic wireless technology. Not only do we enjoy their praises every day, Protect America has been named a Consumer Digest "Best Buy" for the past five years running. We work hard to earn and keep your business every day, and people are taking notice. We’re proud to be ranked #1 by many home security review sites including: Best Home Security Companys, HomeSecuritySystems.net, and Top Consumer Reviews.</p>

        {% include "mobile/_partial/cta.html" %}
        <i class="fa fa-caret-up"></i>

    </div>
    <li data-package="advantage">
        <i class="fa fa-thumbs-up"></i>
        <h3>Our Advantage<span>Experience, redundancy, and pricing</span></h3>
        <i class="fa fa-angle-right"></i>
    </li>
    <div class="content-section advantage">
        <img src="{{ STATIC_URL }}img/mobile/venn-diagram.png" alt="Best home security choice for family, home, and business" class="centered" />
        <h2>Save up to $1400 vs. ADT</h2>
        <p> If you’ve researched ADT prices or AT&T security, you’re know no offer comes close to Protect America. Our security prices start at just $19.99 per month, and that includes the equipment! We work with you to create a real plan for your home for much less than other providers. How do we do it? Our technology is pre-programmed by our in-house security experts to fit into your home. It is virtually “plug and play” and doesn’t require a professional installer to set up. You could install the system by yourself, but you won’t have to. Our installers walk you through the process step by step and it takes less than an hour on average. Skip the unnecessary fees and high monthly cost. Protect your home and your wallet.</p>
        {% include "mobile/_partial/cta.html" %}
        <i class="fa fa-caret-up"></i>

    </div>
    <li data-package="triple-guarantee">
        <i class="fa fa-check-circle"></i>
        <h3>Our Triple Guarantee<span>Our promise can't be beat</span></h3>
        <i class="fa fa-angle-right"></i>
    </li>
    <div class="content-section triple-guarantee">

        <img src="{{ STATIC_URL }}img/mobile/lowest-price-guaranteed.png" alt="Lowest priced security guaranteed" class="centered" />
        <h2>The Lowest Price</h2>
        <p>The truth is, no one else can offer more for less. We start off by giving you a free security system designed to protect your entire home. Then, our monitoring options start at just $19.99 per month. That’s less than a dollar a day. Protect America is unique because we believe in quality home security at a realistic price. Security is extremely important, but it shouldn’t break the bank. If you find a deal better than ours, we'll beat it!</p>
<div class="clear"></div>
        <img src="{{ STATIC_URL }}img/mobile/free-equipment.png" alt="free security system and equipment" class="centered" />
        <h2>No Equipment Fees</h2>
        <p>Each of our security systems is free. We’ve designed our wireless technology fits perfectly into any home with no upfront equipment costs. We use the Simon XT control panel, a standard in the home security industry and used by many security companies. Being a nationwide company means we can pass on our savings to you, which is exactly what we do.</p>
<div class="clear"></div>
        <img src="{{ STATIC_URL }}img/mobile/lifetime-equipment-warranty.png" alt="lifetime equipment warranty" class="centered" />
        <h2>Lifetime Replacement Plan</h2>
        <p>While a Protect America customer, your system is covered. That means if something breaks we'll fix it or replace it. If you ever need help, our customer service team is always at the ready. Unlike other companies, this is included free with every home security system.</p>
        {% include "mobile/_partial/cta.html" %}
<div class="clear"></div>
        <i class="fa fa-caret-up"></i>

    </div>
    <li data-package="family-of-companies">
        <i class="fa fa-group"></i>
        <h3>Family of Companies<span>a trusted member of a great family</span></h3>
        <i class="fa fa-angle-right"></i>
    </li>
    <div class="content-section family-of-companies">
        <img src="{{ STATIC_URL }}img/mobile/family-of-companies.png" alt="Quicken family of companies" class="centered" />
        <h2>A Trusted part of the Family</h2>
        <p>Protect America is proud to be part of the exclusive Quicken Loans family of companies. Other companies include fathead.com, Quizzle, inHouse Realty, Stik, Rockbot, Upto and many more.</p>
        {% include "mobile/_partial/cta.html" %}
        <i class="fa fa-caret-up"></i>
    </div>
</ul>

    <script type="text/javascript">

    $(".index-nav > li").click(function(){
        var packagec = $(this).data('package');
        if ($(this).hasClass('active')) {
            $(this).removeClass('active');
            $(".content-section."+packagec).slideUp('fast');
        } else {
            $(this).addClass('active');
            $(".content-section."+packagec).slideDown('fast', function() {
                    // Animation complete.
                    $.scrollTo((".content-section."+packagec), 100, {over:-0.2});
                });
        };
    });
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/owl.carousel.min.js"></script>

    <script type="text/javascript">
    $(document).ready(function() {
    	
        var owl = $("#featured-badges");
        var outreach = $("#community-outreach-squares");
        
        owl.owlCarousel({
          autoPlay: 2000,
          items : 12,
          pagination: false,
          itemsCustom: [[0, 2], [480, 3], [640, 4], [800, 5], [960, 6], [1120, 7], [1280, 8], [1440, 9], [1600, 10]]
        });
     });
    </script>
{% endblock %}

