{% extends "mobile/base.html" %}

{% load content_filters content_tags sekizai_tags testimonial_tags %}


{% block content %}
<h1>Customer Information</h1>
<form id="contact-form">
    <fieldset id="name-information">
        <div class="form-wrapper">
            <div class="alpha">
                {% include "mobile/_partial/formfield.html" with field=form.first_name %}
            </div>
            <div>
                {% include "mobile/_partial/formfield.html" with field=form.last_name %}
            </div>
        </div>
        <div class="clear"></div>
    </fieldset>
    <fieldset id="content-information">
        <div class="form-wrapper">
            <h3>Contact Information</h3>
            {% include "mobile/_partial/formfield.html" with field=form.email %}
            {% include "mobile/_partial/formfield.html" with field=form.phone %}
        </div>
    </fieldset>
    <fieldset id="address-information">
        <div class="form-wrapper">
            <h3>Customer Address</h3>

            {% include "mobile/_partial/formfield.html" with field=form.address %}
            {% include "mobile/_partial/formfield.html" with field=form.address_2 %}
            <div class="clear"></div>
            <div class="city-label">
                {% include "mobile/_partial/formfield.html" with field=form.city %}
            </div>
            <div class="state-label">
                {% include "mobile/_partial/formfield.html" with field=form.state %}
            </div>
            <div class="zip-label">
                {% include "mobile/_partial/formfield.html" with field=form.zipcode %}
            </div>
        </div>
        <div class="clear"></div>
    </fieldset>
    <fieldset>
        <div class="form-wrapper">
            {% include "mobile/_partial/formfield.html" with field=form.consent %}
            <label for="tcbox" class="checkbox">By checking this box, you agree to our <a href="http://www.protectamerica.com/help/privacy-policy" title="terms and conditions">terms and conditions</a></label>
            <div class="clear"></div>
        </div>
    </fieldset>
    <div class="button-submit">
        <a href="{% url cart-checkout %}">Complete Order ></a>
    </div>
</form>
    {% include "mobile/_partial/summary.html" %}

{% endblock %}
{% block bottom-nav %}
{% endblock %}