{% extends "mobile/base.html" %}

{% load content_filters content_tags sekizai_tags testimonial_tags %}

{% block page_title %}Home Security Systems | Protect America Mobile{% endblock %}

{% block google_experiment %}

<script type="text/javascript" src="//use.typekit.net/lgm4msi.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

{% endblock %}
{% block header %}
    <div id="header">
        <div id="company-logo">
            <a href="/" title="Protect America"><img src="{{ STATIC_URL }}img/mobile/protect-america-logo.png" alt="Protect America Home Security" width="163" height="29" /></a>
        </div>
    </div>
{% endblock %}
{% block navigation %}
{% endblock %}
{% block subnav %}
{% endblock %}
{% block content %}
<div id="getsmart" class="tk-jaf-facitweb">
    <h1><strong>SXSW</strong>#GETSMART<span>with your home security.</span></h1>
    <img src="{{ STATIC_URL }}img/mobile/iphone.jpg" alt="iphone" width="320" height="583" class="iphone" />
    <ul>
        <h2>How to Get Smart</h2>
        <li>Arm or disarm your system with the press of a button on the SMART Connect App.</li>
        <li>In between panels, check in at home by viewing your live video cameras.</li>
        <li>Easy to use Push Notifications alert you of any problems with your home.</li>
        <li>Getting smarter doesn't mean breaking the bank. Protect America's rates are some of the best prices in the industry for securing your home.</li>
        <a href="tel:{{ phone_number|format_number }}">Ready to Get Smart? <span>Call Today: {{ phone_number|format_number }}</span></a>

    </ul>
    <div class="clear"></div>
    <p>Looking for swag, prizes, events, and more? <strong>Follow @ProtectAmerica on Twitter!</strong></p>
    <a href="http://www.twitter.com/protectamerica" title="Follow Prptect America on Twitter" target="_blank">
        <img src="{{ STATIC_URL }}img/mobile/twitter-logo.png" class="twitter" alt="twitter-logo" width="164" height="165" />
    </a>
</div>

{% endblock %}

{% block footer %}

{% endblock %}

