{% extends "mobile/base.html" %}

{% load content_filters content_tags sekizai_tags testimonial_tags %}


{% block content %}
<div id="mobile-security">
    <img src="{{ STATIC_URL }}img/mobile/home-security-system.jpg" alt="home-security-system" width="319" height="201" />
    <h2>24 /7 Security</h2>
    <div id="security-content">
        <p>Get comprehensive protection for your home with a free wireless alarm system from Protect America. Simply order a 24/7 monitoring solution and Protect America will send you a free GE wireless home security system. No tricks or hidden fees, just an affordable security solution that any American family can afford.</p>
        <h3>Round-the-Clock Monitoring On Your Terms</h3>
        <p>Protect America won't force you to get expensive utility service just for your home security! When you choose Protect America, you'll also get your choice of monitoring solution: landline, broadband, or cellular. Pick the option that works best with your existing service and avoid unnecessary costs! Everyone deserves to be safe and Protect America makes it possible.</p>
        
    </div>
    <img src="{{ STATIC_URL }}img/mobile/awards.jpg" alt="awards" width="275" height="137" />
</div>

{% endblock %}

