{% extends "mobile/base.html" %}

{% load content_filters content_tags sekizai_tags testimonial_tags %}

{% block page_title %}Home Security Systems & Security Services Provider  | Protect America{% endblock %}
{% block page_description %}Choose the right home security package with Protect America.  We make it easy to customize your security to fit your needs. Call Today!{% endblock %}

{% block content %}
<div class="hero inner">
    <img src="{{ STATIC_URL }}/img/mobile/home-security-icon.png" class="hero-icon" alt="Home security systems" />
    <div class="hero-content">
        <h1>Home Security Systems</h1>
        <p>Each of our packages are customized to fit your home and family, without the expensive fees. It's that easy.</p>
        <ul>
            <li><i class="fa fa-check-circle"></i> Lowest Price</li>
            <li><i class="fa fa-check-circle"></i> No Equipment Fees</li>
            <div class="clear"></div>
        </ul>
        <a href="tel:{{ phone_number|format_number }}" title="Tap to order your home security system" class="button">Tap to Get Started</a>
    </div>
</div>
<ul class="index-nav">
    <h2>Packaged Security Solutions</h2>
    <li class="alpha" data-package="copper">
        <i class="number-icon">1</i>
        <h3>Copper Package <span>The essentials at an affordable price</span></h3>
        <p class="price"><span>starting</span> $19.99 <span>per month</span></p>
    </li>
    <div class="package-info copper">
        <div class="package-contents">
            <h4>Package Includes:</h4>
            <ol>
                <li>1 Simon XT Control Panel</li>
                <li>3 Door / Window Sensors</li>
                <li>1 Motion Detector</li>
                <li>1 Security Yard Sign</li>
                <li>3 Window Decals</li>
            </ol>

        </div>
        {% include "mobile/_partial/cta.html" %}
        <i class="fa fa-caret-up"></i>
        <div class="clear"></div>

    </div>
    <li  data-package="bronze">
        <i class="number-icon">2</i>
        <h3>Bronze Package <span>perfectly sized for a small home</span></h3>
        <p class="price"><span>starting</span> $35.99 <span>per month</span></p>

    </li>
    <div class="package-info bronze">
        <div class="package-contents">
            <h4>Package Includes:</h4>
            <ol>
                <li>1 Simon XT Control Panel</li>
                <li>6 Door / Window Sensors</li>
                <li>1 Motion Detector</li>
                <li>1 Security Yard Sign</li>
                <li>3 Window Decals</li>
            </ol>

        </div>
        {% include "mobile/_partial/cta.html" %}
        <i class="fa fa-caret-up"></i>
        <div class="clear"></div>

    </div>
    <li  data-package="silver">
        <i class="number-icon">3</i>
        <h3>Silver Package <span>The most popular security package</span></h3>
        <p class="price"><span>starting</span> $37.99 <span>per month</span></p>

    </li>
    <div class="package-info silver">
        <div class="package-contents">
            <h4>Package Includes:</h4>
            <ol>
                <li>1 Simon XT Control Panel</li>
                <li>9 Door / Window Sensors</li>
                <li>1 Motion Detector</li>
                <li>1 Security Yard Sign</li>
                <li>3 Window Decals</li>
            </ol>

        </div>
        {% include "mobile/_partial/cta.html" %}
        <i class="fa fa-caret-up"></i>
        <div class="clear"></div>

    </div>
    <li data-package="gold">
        <i class="number-icon">4</i>
        <h3>Gold Package <span>The Perfect solution for larger homes</span></h3>
        <p class="price"><span>starting</span> $39.99 <span>per month</span></p>

    </li>
    <div class="package-info gold">
        <div class="package-contents">
            <h4>Package Includes:</h4>
            <ol>
                <li>1 Simon XT Control Panel</li>
                <li>11 Door / Window Sensors</li>
                <li>1 Motion Detector</li>
                <li>1 Security Yard Sign</li>
                <li>3 Window Decals</li>
            </ol>

        </div>
        {% include "mobile/_partial/cta.html" %}
        <i class="fa fa-caret-up"></i>
        <div class="clear"></div>

    </div>
    <li class="omega" data-package="platinum">
        <i class="number-icon">5</i>
        <h3>Platinum Package <span>Complete home security protection</span></h3>
        <p class="price"><span>starting</span> $42.99 <span>per month</span></p>
    </li>
    <div class="package-info platinum">
        <div class="package-contents">
            <h4>Package Includes:</h4>
            <ol>
                <li>1 Simon XT Control Panel</li>
                <li>14 Door / Window Sensors</li>
                <li>1 Motion Detector</li>
                <li>1 Security Yard Sign</li>
                <li>3 Window Decals</li>
            </ol>

        </div>
        {% include "mobile/_partial/cta.html" %}
        <i class="fa fa-caret-up"></i>
        <div class="clear"></div>

    </div>
</ul>
    <script type="text/javascript">

    $(".index-nav > li").click(function(){
        var packagec = $(this).data('package');
        if ($(this).hasClass('active')) {
            $(this).removeClass('active');
            $(".package-info."+packagec).slideUp('fast');
        } else {
            $(this).addClass('active');
            $(".package-info."+packagec).slideDown('fast', function() {
                    // Animation complete.
                    $.scrollTo((".package-info."+packagec), 100, {over:-0.2});
                });

        };
    });
    </script>

{% endblock %}

