{% extends "mobile/base.html" %}

{% load content_filters content_tags sekizai_tags testimonial_tags %}

{% block page_title %}Home Security Systems | Protect America Mobile{% endblock %}

    {% block google_experiment %}

<!-- End of Google Analytics Content Experiment code -->

    {% endblock %}

{% block content %}
    <div class="orange-bg">
        <a href="tel:{{ phone_number|format_number }}">
            <img src="{{ STATIC_URL }}img/banners/mobile/banner-orange-order-now.png" alt="Security for Every Home Starting at $19.99 - and Receive Two Keychains with any Premium Package." width="320" height="280" />

        </a>
    </div>
{% endblock %}



