{% extends "mobile/base.html" %}

{% load content_filters content_tags sekizai_tags testimonial_tags %}

{% block page_title %}Home Security Systems | Protect America Mobile{% endblock %}

{% block content %}
    <div class="hero-image">
        <a href="tel:{{ phone_number|format_number }}">
            <img src="{{ STATIC_URL }}img/banners/mobile/best-deal-ever.jpg" alt="Best Deal Ever - Prices as Low as $19.99 per month for Home Security" width="320" height="232" />
        </a>
    </div>
{% endblock %}



