{% extends "mobile/base.html" %}

{% load content_filters content_tags sekizai_tags testimonial_tags %}


{% block content %}
    <div id="mobile-packages">    
        <h2>Select Your Package:</h2>
        <ul>
            <li class="alpha">
                {% include "mobile/_partial/packages/basic.html" %} 
            </li>
            <li>
                {% include "mobile/_partial/packages/standard.html" %}
            </li>
            <li>
                {% include "mobile/_partial/packages/premier.html" %}
            </li>
        </ul>
        <div class="equipment-included">
            <img src="{{ STATIC_URL }}img/mobile/equipment-included.png" alt="equipment-included" width="320" height="56" />
        </div>
        <div class="button-submit">
            <a href="tel:{{ phone_number|format_number }}">Give Us a Call ></a>
        </div>
        <div class="clear"></div>
    </div>
    {% comment %}
    {% include "mobile/_partial/add-ons.html" %}
    {% endcomment %}
{% addtoblock "js" %}
<script type="text/javascript" src="{{ STATIC_URL }}js/cart.js"></script>
{% endaddtoblock "js" %}
{% addtoblock "js" %}
<script type="text/javascript">
var cart = new Cart('paCart', 'equipment_total', 'monthly_total', 'equipment_breakdown', 'current_package', 'current_monitoring');
</script>
{% endaddtoblock "js" %}
{% addtoblock "js" %}
<script type="text/javascript">
$('.add-item').click(function(e) {
    e.preventDefault();
    var obj = $(this);
    cart.add_to_cart(obj.attr('data-category'),
        obj.attr('data-item'), obj.attr('data-price'), obj.attr('data-monthly'));
    window.location = '/cart/';
    return false;
});
</script>
{% endaddtoblock "js" %}
{% addtoblock "js" %}
<script type="text/javascript">
$('.remove-item').click(function(e) {
    e.preventDefault();
    var obj = $(this);
    cart.remove_from_cart(obj.attr('data-category'), obj.attr('data-item'));
    window.location = '/cart/';
    return false;
});
</script>
{% endaddtoblock "js" %}
{% endblock %}

