@import "../2014-refresh/style-new.less";


#main-container {
    background: @black url(/static/img/house-bg.jpg) no-repeat;
    background-size:cover;
    width: 100%;
    height: 100%;
    position: absolute;
    .container {
        .logo {
            display: block;
            margin: 24px auto;
        }
        h1 {
            color: @white;
            text-align: center;
            font-size: 48px;
            line-height: 56px;
        }
        h3 {
            color: @light-grey;
            text-align: center;
            padding-bottom: 64px;
            font-size: 17px;
        }
        label {
            text-align: center;
            color: @navy;
        }
        form {
            .background-gradient(@top-color: #fff, @bottom-color: #eee);
            padding: 32px 24px;
            width: 65%;
            margin: 0 auto 32px;
            .border-radius(5px,5px,5px,5px);
            border: 1px solid @light-grey;
            border-bottom: 1px solid @white;
            .drop-shadow(0, 5px, 5px, rgba(0,0,0,.25));
        }
        input {
            width: 450px;
            display: block;
            margin: 0 auto;
            height: 32px;
            line-height: 32px;
            margin-bottom: 16px;
            border: 1px solid @light-grey;;
            .border-radius(3px,3px,3px,3px);
            text-align: center;
            font-size: 18px;
        }
        .personal-section {
            margin-top: 32px;
            padding-top: 32px;
            padding-bottom: 24px;
            border-top: 1px dashed @light-grey;
            input {
                width: 300px;
                line-height: 24px;
                height: 24px;
                font-size: 12px;
            }

        }
        button {
            margin: 0 auto;
            display: block;
            background: @yellow;
            color: @navy;
            border-bottom: 3px solid @dark-yellow;
        }
    }
}