@import "../../style";

#quote-form {
    margin-left: 0;
}
#main-container {
    .content-box(685px);
    .border-radius(1px, 1px, 1px, 1px);
    #opener {
        width: 445px;
        height: 391px;
        float: left;
        background-color:#f1f1f1;
        padding-left: 15px;
        padding-right: 15px;
        z-index: 99;
        h1 {
            color: @blue;
            font-size: 26px;
            left: 25px;
            text-align: left;
            padding-left: 15px;
            padding-top: 10px;   
        }
        p {
            color: @black;
            font-size: 14px;
            text-align: justify;
            left: 25px;
            line-height: 20px;
            padding-left: 15px;
            padding-right: 15px;
        }
        #business-package-price {
            top: 200px;
            left: 65px;
            color: @blue;
            font-size: 18px;
            
        }
    }
    #baker-image {
        width: 208px;
        float: left;
    }
}