@import "../../style";

#quote-form {
    margin-left: 0;
}
#main-container {
    .content-box(685px);
    #opener {
        width: 445px;
        height: 391px;
        float: left;
        background-color:#f1f1f1;
        padding-left: 15px;
        padding-right: 15px;
        z-index: 99;
        h1 {
            color: @blue;
            font-size: 26px;
            left: 25px;
            text-align: left;
            padding-left: 15px;
            padding-top: 10px;   
        }
        p {
            color: @black;
            font-size: 14px;
            text-align: justify;
            line-height: 20px;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    #package-price {
        position: absolute;
        left: 330px;
        top: 165px;
        z-index: 1;
        h1 {
            color: @blue;
            font-size: 15px;
            font-weight: 300;
            letter-spacing: .10px;
        }
        h2 {
            color: @blue;
            font-size: 27px;
            margin-top: -18px;
            font-weight: 500;
            letter-spacing:.5px;
            padding-bottom: 5px;
            border-bottom: 1px solid @blue;
        }
        h3 {
            color: @blue;
            font-size: 15px;
            font-weight: 300;
            margin-top: -18px;
            letter-spacing: -.3px;
        }
        h4 {
            color: @blue;
            margin-top: -7px;
            font-weight: 500;
            font-weight: 500;
            font-size: 27px;
            padding-top: 5px;
        }
    }
    #baker-image {
        width: 208px;
        float: left;
    }
}
#included-equipment {
    .content-box(920px);
    div {
        .content-box(137px);
        margin-bottom: 0;
        display: block;
        font-size: 12px;
        text-align: center;
        padding: 0 8px;
        line-height: 14px;
        color: @black;
        text-decoration: none;
        &:hover {
            color: @blue;
            background-color: #e6fbff;
        }
        strong {
            display: block;
        }
        img {
            display: block;
        }
    }
}
.product-description {
    .content-box(960px);
    border: 1px solid @black;
    padding-top: 25px;
        .product-controls {
            width: 300px;
            img {
                border: none;
            }
        }
        .product {
            .content-box(920px);
            margin-left: 10px;
            .product-image {
                .content-box(250px);
                border:none;
            }
            .description-box {
                .content-box(600px);
                margin-top: -25px;
                margin-left: 65px;
                .left-description {
                    .content-box(300px);
                    display: block;
                    width: 250px;
                    padding-right: 25px;
                    h1 {
                        font-size: 18px;
                        color: @blue;
                    }
                    p {
                        color: @black;
                        font-size: 14px;
                        line-height: 20px;
                        width: 250px;
                    }
                    ul {
                        li {
                            float: left;
                            font-size: 13px;
                            line-height: 20px;
                            list-style-type: disc;
                        }
                    }
                }
                .right-description {
                    .content-box(270px);
                    border-left: solid 1px @black;
                    margin: 0 auto;
                    padding-left: 25px;
                        h1 {
                            font-size: 18px;
                            color: @blue;
                            width: 250px;
                            }
                        p {
                            color: @black;
                            font-size: 14px;
                            text-align: justify;
                            width: 290px;
                            }
                }
            }
        }
        .awards {
            .content-box(250px);
            margin-top: -225px;
            margin-left: 25px;
            img {
                padding-bottom: 0px;
            }
            .topconsumers {
                .content-box(100px);
                border-right: 1px solid @black;
                padding-right: 20px;
                color: @black;
                font-size: 9px;
                text-align: justify;
            }
            .consumerdigest {
                .content-box(100px);
                margin-left: 15px;
                p {
                    color: @black;
                    font-size: 9px;
                    text-align: justify;
                }
            }
        }
}
#call-box {
    width:926px;
    margin:0 0 15px;
    background:#fcfcfc;
    border:1px solid #cccccc;
    padding:24px 16px;
    margin:32px 0;-webkit-transition:background-color 0.3s ease-out;-moz-transition:background-color 0.3s ease-out;transition:background-color 0.3s ease-out;
    }
    #call-box h1 {
        color:#0069aa;
        font-size:26px;
        font-weight:normal;
        line-height:36px;
        margin-bottom:10px;
        letter-spacing:-1px;
    }
