{% extends "base.html" %}
{% load sekizai_tags content_tags content_filters %}
{% block page_title %}Best Home Security | Protect America Home Security{% endblock %}
{% block page_description %}Get a home security system at an affordable price. Protect America home security and alarm systems will protect your home. Get a free GE home security system today!{% endblock %}
{% block navigation %}{% endblock %}
{% block subnav %}{% endblock %}
{% block order-footer %}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/affiliates/centerfield-media/style.css">
    <script type="text/javascript" src="//use.typekit.net/lgm4msi.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
{% endblock %}
{% block content %}
</div>
<div id="hero-banner-wrapper" class="tk-jaf-facitweb">
    <div id="hero-main">
        <h1>The Unbeatable Home Security Deal.</h1>
        <div id="hero-left">
            <h2><span>Free</span> Home Security System</h2>
            <ul>
                <li><img src="{{ STATIC_URL }}img/affiliates/centerfield-media/checkmark.png" alt="checkmark" width="24" height="24" />GE Wireless Security System</li>
                <li><img src="{{ STATIC_URL }}img/affiliates/centerfield-media/checkmark.png" alt="checkmark" width="24" height="24" />No Equipment Cost or Activation Fees</li>
                <li><img src="{{ STATIC_URL }}img/affiliates/centerfield-media/checkmark.png" alt="checkmark" width="24" height="24" />Entire Home Protection</li>
                <li><img src="{{ STATIC_URL }}img/affiliates/centerfield-media/checkmark.png" alt="checkmark" width="24" height="24" />24 / 7 Security Monitoring</li>
                <li><img src="{{ STATIC_URL }}img/affiliates/centerfield-media/checkmark.png" alt="checkmark" width="24" height="24" />Interactive Access and Free Smartphone Apps</li>
            </ul>
            {% block review-badges %}
                <img src="{{ STATIC_URL }}img/affiliates/centerfield-media/home-security-consumer-digest-best-buy.png" alt="Home Security Consumer Digest Best Buy" width="128" height="116" class="badge" />
                <img src="{{ STATIC_URL }}img/affiliates/centerfield-media/top-consumer-reviews-5-stars.png" alt="Top Consumer Reviews 5 Stars" width="120" height="120" class="badge" />
                <img src="{{ STATIC_URL }}img/affiliates/centerfield-media/top-ten-reviews-2013-excellence.png" alt="Top Ten Reviews 2013 Excellence" width="73" height="115" />
            {% endblock %}
        </div>
        <div id="hero-right">
        {% block hero-content %}
            <h3>The Protect America system is a solid choice! You get latest technology with fastest response time at a price you can afford.<img src="{{ STATIC_URL }}img/affiliates/centerfield-media/quote-arrow.png" class="quote-arrow" alt="quote-arrow" width="32" height="16" /></h3>
            <p>www.homesecuritysystems.net</p>
        {% endblock %}
            <img src="{{ STATIC_URL }}img/affiliates/centerfield-media/review-site-banner.png"  alt="Home Security Special" />
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="clear"></div>
<div id="call-box" class="main">
    <p>Get Started Now, <strong>Call Today! <span{% if use_call_measurement %} class="dynamic-phone-number"{% endif %}><a href="tel:{{ phone_number|format_number }}">{{ phone_number|format_number }}</a></span></strong></p>
</div>
<div class="clear"></div>
<div class="wrapper">
    <div class="top-information">
        <div id="home-security-information">
            <h2>How We Exceed Above the Rest</h2>
            <img src="{{ STATIC_URL }}img/affiliates/centerfield-media/lowest-price-guaranteed.jpg" alt="Lowest Price Guaranteed in Home Security" width="184" height="160" />
            <h3>Price</h3> 
            <p>There is no other alarm system company in the nation that gives its customers enough equipment to secure their entire home. We even give it to you for free! Protect America has a low price guarantee that’s unbeaten in the home security industry.</p>
            <div class="clear"></div>

            <img src="{{ STATIC_URL }}img/affiliates/centerfield-media/lifetime-equipment-warranty.jpg" alt="Lifetime Equipment Warranty" width="184" height="160" />
            <h3>Lifetime Replacement Parts Warranty</h3>
            <p>As long as you’re a customer with Protect America, we our lifetime warrant will ensure your you’re home security system will work. If there’s ever a problem, we fix it. Most national competitors charge extra for a warranty or only offer short term coverage. </p>
            <div class="clear"></div>

            <div class="customer-testimonial-box">
                    <h3><span>Annmarie writes:</span> from <strong>Tamarac, FL</strong></h3>
                    <p>Arick was extremely helpful and knowledgeable.  I called and from the start he was helpful. He was able to walk me through my issue and it went smooth and painless. He was patient and answered all of my questions and concerns. He knew the system inside and out and that made it much easier for me to navigate on my end. I will ask for him if I ever have another question/concern. Thank you.</p>
                    
                    <div class="star-container">
                        <div class="star active">&nbsp;</div>
                        <div class="star active">&nbsp;</div>
                        <div class="star active">&nbsp;</div>
                        <div class="star active">&nbsp;</div>
                        <div class="star active">&nbsp;</div>
                        <div class="clear"></div>
                    </div>
                    
                    <div class="clear"></div>
                
            </div>
            <div class="customer-testimonial-box alt">
                
                    <h3><span>Jamese writes:</span> from <strong>Lynnwood, IL</strong></h3>
                    <p>My husband and I recently got married and bought a house. We were uncertain about which security system to go with but were convinced by your reviews, contract agreement, and pricing that Protect America was a good fit for us. From the day we received our security system in the mail Protect America remained in constant contact with us to ensure that the system was installed and working as soon as possible. Thank you for your great customer service, I now feel safer in my new home. </p>
                    
                    <div class="star-container">
                        <div class="star active">&nbsp;</div>
                        <div class="star active">&nbsp;</div>
                        <div class="star active">&nbsp;</div>
                        <div class="star active">&nbsp;</div>
                        <div class="star active">&nbsp;</div>
                        <div class="clear"></div>
                    </div>
                    
                    <div class="clear"></div>
                
            </div>

        </div>
        {% include "order/quote-form-callme.html" with form=forms.basic %}
        {% block review-video %}
        <iframe width="275" height="186" src="http://www.youtube.com/embed/isJJrsr5sXQ?modestbranding=1&rel=0&border=1&showinfo=0" frameborder="0" style="margin-left: 15px;" allowfullscreen></iframe>
        {% endblock %}
        <div class="clear"></div>
    </div>
    {% include "order/call-box.html" %}

    <div class="left-column text">
        
        <h3>Monitoring</h3>
        <p>There is no other alarm system company in the nation that gives its customers enough equipment to secure their entire home. We even give it to you for free and you own it! Protect America has a low price guarantee that’s unbeaten in the home security industry.</p>
        <h3>Locked-In Rates</h3>
        <p>Protect America customers never have to worry about their bills getting higher. Your monitoring rate stays the same for the length of your contract. Most companies, including FrontPoint, have an “escalation clause” in their contracts that give them the right to raise customer’s monitoring rates! FrontPoint’s contracts say they can increase your rates by as much as 5 percent a year! Not with Protect America.</p>
        <h3>Fully Customized Packges</h3>
        <p>No two homes have the exact same security needs. Protect America recognizes this and provides enough door/window sensors to protect ALL the points of entry into your home. No matter how big or small, Protect America has you covered. Customers can also add life saving home security accessories, like smoke detectors and interactive video cameras.</p>
        <h3>Cellular Interactive Monitoring</h3>
        <p>No need for wires to keep your home secure! Our cellular interactive monitoring links your home to our monitoring center via a secure, cellular connection. Cellular monitoring from Protect America also includes interactive features that gives you access to your home security system from any Internet-enabled computer or smartphone.</p>
        <h3>Broadband Interactive Monitoring</h3>
        <p>One of the fastest security connections available, broadband interactive monitoring from Protect America uses your existing broadband Internet service to connect your home to our state-of-the-art monitoring station. Broadband monitoring customers also receive interactive access to their home security system allowing access from any Internet-enabled computer or smartphone.</p>
        <h3>Self Install</h3>
        <p>Our security systems are designed to be easily installed by anyone. There’s no need to have a complete stranger enter your home. We pre-program the system to you and then our home security experts will walk you through the installation process step by step in a matter of minutes. The best part? No installation fee saves you hundreds or even thousands of dollars!</p>
    </div>
    <div class="right-column package">
        <h3>Home Security Systems Comparison</h3>

        <table summary="Small comparison chart detailing Protect America pricing versus major competitors.">
            <tfoot>
                <tr>
                    <td colspan="3">
                        Information regarding home security system comparisons obtained via telephone quotations and Internet research 
                        on Sep 01, 2011.
                    </td>
                </tr>

            </tfoot>
            <tbody>
                <tr>
                    <th class="alpha">Package</th>
                    <th class="pa">Protect America<sup>*</sup></th>
                    <th>ADT</th>
                </tr>
                <tr class="odd">
                    <td headers="package">Copper Security <span>3 Door / Window Sensors, 1 Motion Detector</span></td>
        
                    <td class="highlight red" headers="pa">
                        {{ pricetable.COPPER.standard_monitoring }} <span>per month</span></td>
                    <td headers="adt"><sup>$</sup>379.00 <br/> + <br/>
                        <sup>$</sup>42.99 <span>per month</span></td>
                </tr>
                <tr>
                    <td headers="package">Bronze Security <span>7 Door / Window Sensors, 1 Motion Detector</span></td>
        
                    <td class="highlight red" headers="pa">
                        {{ pricetable.BRONZE.standard_monitoring }} <span>per month</span></td>
                    <td headers="adt"><sup>$</sup>699.00 <br/> + <br/>
                        <sup>$</sup>42.99 <span>per month</span></td>
                </tr>
                <tr class="odd">
                    <td headers="package">Silver Security <span>10 Door / Window Sensors, 1 Motion Detector</span></td>
        
                    <td class="highlight red" headers="pa">
                        {{ pricetable.SILVER.standard_monitoring }} <span>per month</span>
                    </td>
                    <td headers="adt"><sup>$</sup>939.00 <br/> + <br/>
                        <sup>$</sup>42.99 <span>per month</span></td>
                </tr>
                <tr>
                    <td headers="package">Gold Security <span>12 Door / Window Sensors, 1 Motion Detector</span></td>
        
                    <td class="highlight red" headers="pa">
                        {{ pricetable.GOLD.standard_monitoring }} <span>per month</span>
                    </td>
                    <td headers="adt"><sup>$</sup>1,099.00 <br/> + <br/>
                        <sup>$</sup>42.99 <span>per month</span></td>
                </tr>
                <tr class="odd">
                    <td headers="package">Platinum Security <span>15 Door / Window Sensors, 1 Motion Detector</span></td>
        
                    <td class="highlight red" headers="pa">
                        {{ pricetable.PLATINUM.standard_monitoring }} <span>per month</span>
                    </td>
                    <td headers="adt"><sup>$</sup>1,339.00 <br/> + <br/>
                        <sup>$</sup>42.99 <span>per month</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="clear"></div>
    
    <div class="clear"></div>
    <div id="main-features">
        <h2>The Best Home Security Systems and Accessories</h2>
        <p>Protect America only uses high quality security systems made by GE. Our products are so reliable, we offer a Lifetime Replacement Parts Warranty with each security system sold. If a part breaks, we replace it. No limitations or tricks, unlike some companies that only offer a 2-year, limited warranty.</p>
        <h2>Award-Winning Security Monitoring</h2>
        <p>Quality security service at an affordable price draws attention… and awards.</p>
        <p>Protect America has received the coveted 5-star rating from TopConsumerReviews.com for the last 5 years. In addition, our Copper Security Package has been named a Consumer’s Digest Best Buy since 2008. Other companies can’t beat our prices and service. Most won’t even try!</p>
        {% block bottom-content %}
            <h2>Protect America is "a solid choice."</h2>
            <p>homesecuritysystems.net has noticed it and you should too! No company can match Protect America’s affordability and quality. That’s why homesecuritysystems.net said, "The Protect America system is a solid choice! Even with the long term contract, you get latest technology with fastest response time at a price you can afford."</p>
        {% endblock %}
    </div>

</div>
    {% include "order/call-box.html" %}

{% endblock %}
{% block main-footer %}{% endblock %}