{% extends "base.html" %}
{% load sekizai_tags content_tags content_filters %}
{% block page_title %}Protect America Interactive Home Security | As Seen in Delta Sky Magazine{% endblock %}
{% block navigation %}{% endblock %}
{% block subnav %}{% endblock %}
{% block order-footer %}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/affiliates/centerfield-media/style.css">
    <script type="text/javascript" src="//use.typekit.net/lgm4msi.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
{% endblock %}
{% block content %}
</div>
<div id="hero-banner-wrapper" class="tk-jaf-facitweb">
    <div id="hero-main">
        <h1>The Unbeatable Home Security Deal</h1>
        <div id="hero-left">
            <h2><span>Free</span> Home Security System</h2>
            <ul>
                <li><img src="{{ STATIC_URL }}img/affiliates/centerfield-media/checkmark.png" alt="checkmark" width="24" height="24" />GE Wireless Security System</li>
                <li><img src="{{ STATIC_URL }}img/affiliates/centerfield-media/checkmark.png" alt="checkmark" width="24" height="24" />No Equipment Cost or Activation Fees</li>
                <li><img src="{{ STATIC_URL }}img/affiliates/centerfield-media/checkmark.png" alt="checkmark" width="24" height="24" />Entire Home Protection</li>
                <li><img src="{{ STATIC_URL }}img/affiliates/centerfield-media/checkmark.png" alt="checkmark" width="24" height="24" />24 / 7 Security Monitoring</li>
                <li><img src="{{ STATIC_URL }}img/affiliates/centerfield-media/checkmark.png" alt="checkmark" width="24" height="24" />Interactive Access and Free Smartphone Apps</li>
            </ul>
            <img src="{{ STATIC_URL }}img/affiliates/centerfield-media/home-security-consumer-digest-best-buy.png" alt="home-security-consumer-digest-best-buy" width="128" height="116" class="badge" />
            <img src="{{ STATIC_URL }}img/affiliates/centerfield-media/top-consumer-reviews-5-stars.png" alt="top-consumer-reviews-5-stars" width="120" height="120" class="badge" />
            <img src="{{ STATIC_URL }}img/affiliates/centerfield-media/top-ten-reviews-2013-excellence.png" alt="top-ten-reviews-2013-excellence" width="73" height="115" />
        </div>
        <div id="hero-right">
            <h3>The Protect America system is a solid choice! Even with the long term contract, you get latest technology with fastest response time at a price you can afford.<img src="{{ STATIC_URL }}img/affiliates/centerfield-media/quote-arrow.png" class="quote-arrow" alt="quote-arrow" width="32" height="16" /></h3>
            <p>www.homesecuritysystems.net</p>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="clear"></div>
<div id="call-box">
    <p>Get Started Now, <strong>Call Today! <span{% if use_call_measurement %} class="dynamic-phone-number"{% endif %}><a href="tel:{{ phone_number|format_number }}">1-800-951-5111</a></span></strong></p>
</div>
<div class="clear"></div>

{% endblock %}