@import "style";


// Styles for the Helper Pages


// The Privacy Policy

#privacy-policy {
    .content-box;
    margin-top: 20px;
    #truste-privacy-logo {
        position: absolute;
        right: 0;
        top: 0;
    }
    #privacy-contact-us {
        #protect-america-mailing-address, #protect-america-phone-number {
            .half-box;
        }
    }
}

// Return Policy


#state-licenses {
    .content-box;
    margin-top: 20px;

}