@import "style";


// Styles for the Ordering Pages
#order-form {
    .half-box;
    .border-radius;
    .drop-shadow;
   	background: #014C9F;
	padding: 20px;
	opacity: 0.98;
	h1 {
	   color: @v-light-grey;
	}
	p {
	   color: @light-grey;
       font-size: 12px;
	}
	input {
        color: @light-grey;
        font-size: 24px;
        height: 28px;
        line-height: 28px;
        margin: 0 20px 15px;
        width: 450px;
    }
    label {
    	color: @white;
    	font-size: 20px;
        line-height: 28px;
        margin-left: 20px;
    }
    select {
    	margin: 0 20px 20px 5px;
    	font-size: 18px;
    	color: @grey;
    	width: 250px;
    }
    button {
        .order-button;
    }
	
}
#order-security-package {
    margin-top: 25px;
    #security-package-images {
        .small-box;
        #copper-package {
            .image-break;
            left: -75px;
            top: 50px;
            display: none;
        }
        #bronze-package {
            .image-break;
            display: none;
            left: -100px;
            top: 50px;
        }
        #silver-package {
            .image-break;
            display: none;
        }
        #gold-package {
            .image-break;
            display: none;
        }
        #platinum-package {
            .image-break;
            display: none;
        }
    }
}
#order-reassurance {
    margin-top: 10px;
    border-top: 1px solid @v-light-grey;
    padding-top: 20px;
    #lowest-price-guaranteed, #lifetime-warranty, #homeowner-insurance-discount, #relocation-kit, #free-tech-support {
        .fifth-box;
        h3 {
            font-size: 16px;
            font-weight: 800;
            text-align: center;
            margin-bottom: 10px;
        }
        p {
            font-size: 12px;
        }
    }
}