<div class="row">
    <div class="span4">
        {% include "crm/_partials/formfield.html" with field=profileform.name %}
        {% include "crm/_partials/formfield.html" with field=profileform.title %}
        {% include "crm/_partials/formfield.html" with field=profileform.company_name %}
        {% include "crm/_partials/formfield.html" with field=profileform.taxid %}
        {% include "crm/_partials/formfield.html" with field=profileform.phone %}
        {% include "crm/_partials/formfield.html" with field=profileform.fax %}
        {% include "crm/_partials/formfield.html" with field=profileform.email %}
    </div>
    <div class="span4">
        {% include "crm/_partials/formfield.html" with field=profileform.street_address %}
        {% include "crm/_partials/formfield.html" with field=profileform.city %}
        {% include "crm/_partials/formfield.html" with field=profileform.state %}
        {% include "crm/_partials/formfield.html" with field=profileform.zipcode %}
        {% include "crm/_partials/formfield.html" with field=profileform.website %}
    </div>
</div>