{% extends "base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags adspace %}


{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/landing-page/basic.css">
    <script type="text/javascript" src="//use.typekit.net/lgm4msi.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>


{% endblock %}

{% block typekit %}tk-jaf-facitweb{% endblock %}




{% block content %}
</div>
{% block heroimage %}
<div id="hero-banner">

    <div class="wrapper">
        <div id="top-hero-banner">
            <div id="main-banner" data-url="{% url order-package %}">
                <img src="{{ STATIC_URL }}img/banners/hero-banners/february/keychains-red.png" class="promo-banner" alt="keychains-red" width="1229" height="409" />
            </div>
        </div>
        {% include "order/quote-form-noview.html" with form=forms.basic %}
    </div>
</div>

{% endblock %}
{% block call-box %}
<div class="wrapper">
    {% if phone_number %}
    {% businesstime %}
    <div class="clear"></div>
    <div id="call-box">
        {% block call-box-text %}<p>Get Started Today, <strong>Call Now! {% endblock %}<span{% if use_call_measurement %} class="dynamic-phone-number"{% endif %}><a href="tel:{{ phone_number|format_number }}">{{ phone_number|format_number }}</a></span></strong></p>
    </div>
    <div class="clear"></div>
    {% endbusinesstime %}
    
    {% endif %}
</div>
{% endblock %}
<div class="wrapper">
    <div id="security-categories">
        <ul>
            <li id="alarm-category" class="security-choice active">
                <img src="{{ STATIC_URL }}img/extra/alarm-big-icon.png" alt="alarm-big-icon" width="193" height="193" />
                <h2>{% block security-choice-one %}Interactive Wireless Home Security{% endblock %}</h2>
                <div class="button-link" ><a href="#wireless-home-security" id="home-security-button-choice" class="active"  onclick="showSlide(1);">Learn More ></a></div>
            </li>
            <li id="video-category" class="security-choice">
                <img src="{{ STATIC_URL }}img/extra/video-big-icon.png" alt="alarm-big-icon" width="193" height="193" />
                <h2>{% block security-choice-two %}Video <br />Security{% endblock %}</h2>
                <div class="button-link"><a href="#video-security" id="video-button-choice"  onclick="showSlide(2);">Learn More ></a></div>
            </li>
            <li id="smart-app-category" class="security-choice">
                <img src="{{ STATIC_URL }}img/extra/smart-app-big-icon.png" alt="alarm-big-icon" width="193" height="193" />
                <h2>{% block security-choice-three %}SMART Connect </br>On The Go App{% endblock %}</h2>
                <div class="button-link"><a href="#smart-apps" id="smart-app-button-choice" onclick="showSlide(3);">Learn More ></a></div>
            </li>
            <div class="clear"></div>
        </ul>
        <img src="{{ STATIC_URL }}img/spanish/color-band.png" id="color-band" alt="Color Band" width="1030" height="80" />
        <img src="{{ STATIC_URL }}img/spanish/white-arrow.png" id="white-arrow" alt="Color Band" />

    </div>
</div>
<div id="big-choices">
    {% block packages-page %}
    <div id="home-security-choice" class="big-info" style="display:block">
        <div class="big-wrapper">
            <div id="home-security-packages">
                <div id="copper-security-package">
                    <h3>Copper</h3>
                    <p><sup>$</sup>19<sup>99</sup><span>monthly</span></p>
                    <div class="package-info">
                        <ul>
                            <li><strong>1</strong> Simon XT Control</li>
                            <li><strong><span>3</span></strong> Door / Window Sensors</li>
                            <li><strong>1</strong> Motion Detector</li>
                        </ul>
                        <ul class="extra-features">
                            <li>No Equipment Fees</li>
                            <li>No Activation Fees</li>
                        </ul>
                    </div>
                </div>
                <div id="bronze-security-package">
                    <h3>Bronze</h3>
                    <p><sup>$</sup>35<sup>99</sup><span>monthly</span></p>
                    <div class="package-info">
                        <ul>
                            <li><strong>1</strong> Simon XT Control</li>
                            <li><strong><span>7</span></strong> Door / Window Sensors</li>
                            <li><strong>1</strong> Motion Detector</li>
                        </ul>
                        <ul class="extra-features">
                            <li>No Equipment Fees</li>
                            <li>No Activation Fees</li>
                        </ul>
                    </div>
                </div>
        
                <div class="premium-packages" style="padding-bottom: 8px;">
                    <img src="{{ STATIC_URL }}img/canada/premium-packages-header.png" class="premium-packages-header" alt="premium-packages-header" />
        
                    <div id="silver-security-package">
                        <h3>Silver</h3>
                        <p><sup>$</sup>37<sup>99</sup><span>monthly</span></p>
                        <div class="package-info">
                            <ul>
                                <li><strong>1</strong> Simon XT Control</li>
                                <li><strong><span>10</span></strong> Door / Window Sensors</li>
                                <li><strong>1</strong> Motion Detector</li>
                            </ul>
                            <ul class="extra-features">
                                <li>No Equipment Fees</li>
                                <li>No Activation Fees</li>
                            </ul>
                        </div>
                    </div>
                    <div id="gold-security-package">
        
                        <h3>Gold</h3>
                        <p><sup>$</sup>39<sup>99</sup><span>monthly</span></p>
                        <div class="package-info">
                            <ul>
                                <li><strong>1</strong> Simon XT Control</li>
                                <li><strong><span>12</span></strong> Door / Window Sensors</li>
                                <li><strong>1</strong> Motion Detector</li>
                            </ul>
                            <ul class="extra-features">
                                <li>No Equipment Fees</li>
                                <li>No Activation Fees</li>
                            </ul>
                        </div>
                    </div>
        
                    <div id="platinum-security-package">
                        <h3>Platinum</h3>
                        <p><sup>$</sup>42<sup>99</sup><span>monthly</span></p>
                        <div class="package-info">
                            <ul>
                                <li><strong>1</strong> Simon XT Control</li>
                                <li><strong><span>15</span></strong> Door / Window Sensors</li>
                                <li><strong>1</strong> Motion Detector</li>
                            </ul>
                            <ul class="extra-features">
                                <li>No Equipment Fees</li>
                                <li>No Activation Fees</li>
                            </ul>
                        </div>
                    </div>

                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>    
            <div id="home-security-info">
                {% block home-security-bottom %}
                <div id="home-security-overview">
                    {% block home-security-overview %}
                    <h2>Protect Your Home with a Wireless Security System</h2>
                    <p>Protect America offers the best home security systems and monitoring deals you'll find. We install premium security hardware with GE security products, and have the most flexible range of monitoring services, including cellular monitoring, high speed broadband monitoring, or standard talking command station monitoring over landline. We provide an extensive selection of GE wireless home security components. And, our security packages are designed to fit most any budget. Let us help you find the right system for your needs, so you can start protecting your home and family today.</p>
                    {% endblock %}
                    {% if phone_number %}
                        {% businesstime %}
                            <h3>Get Started Today, <strong>Call Now! <span{% if use_call_measurement %} class="dynamic-phone-number"{% endif %}><a href="tel:{{ phone_number|format_number }}">{{ phone_number|format_number }}</a></span></strong></h3>
                        {% endbusinesstime %}
                    {% endif %}
                    <div class="clear"></div>
                </div>
                <div id="home-security-main-image">
                    <img src="{{ STATIC_URL }}img/canada/lowest-price-home-security.jpg" alt="lowest-price-home-security" width="316" height="240" />
                    <img src="{{ STATIC_URL }}img/canada/lifetime-security-equipment-warranty.jpg" alt="lifetime-security-equipment-warranty" width="220" height="256" />
                </div>
                {% endblock %}

                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    
    </div>
    {% endblock %}
    {% block video-choice %}
    <div id="video-security-choice" class="big-info" style="display:none">
        <div class="big-wrapper">
            <div id="video-security-main-image-picture">
                <img src="{{ STATIC_URL }}img/canada/interactive-computer-app.jpg" alt="Interactive Video on your Computer, Tablet, or Smart Phone" width="634" height="344" />
            </div>
            <div id="video-security-overview">
                {% block video-security-overview %}
                <h2>Interactive Video Security</h2>
                <p>Protect America allows you to gain a true picture of what is happening in your home or business with 24/7 on-demand video. Get enhanced security with our night vision video cameras, archived clips, event notifications, and automatic recording when movement is detected. With Protect America's video services, peace of mind is just an instant click away.</p>
                {% endblock %}
                {% comment %}<h3>Add to any Package for +$10 per month</h3>{% endcomment %}
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <div id="video-extra-information">
                <div id="interactive-security">
                    {% block video-security-overview-two %}
                    <h2>Video Home Security: Here, There, Everywhere.</h2>
                    <p>These days, people are always on the go and spend less time at home. Unfortunately, an empty house is the perfect time for a burglar to strike. Get interactive video security and check on your phone anywhere at any time. Our home surveillance cameras let you view your own live video feed from any Internet-enabled computer or smartphone. You can also be notified of recorded events with text notifications that can be read straight from your phone.</p>
                    {% if phone_number %}
                        {% businesstime %}
                            <h3>Get Started Today, <strong>Call Now! <span{% if use_call_measurement %} class="dynamic-phone-number"{% endif %}><a href="tel:{{ phone_number|format_number }}">{{ phone_number|format_number }}</a></span></strong></h3>
                        {% endbusinesstime %}
                    {% endif %}
                    {% endblock %}

                    <div class="clear"></div>
                </div>
                <div id="video-screenshot">
                    <img src="{{ STATIC_URL }}img/canada/interactive-video.jpg" alt="interactive-video" width="607" height="579" />
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    {% endblock %}

    <div id="smart-app-choice" class="big-info" style="display:none">
        <div class="big-wrapper">
            <img src="{{ STATIC_URL }}img/canada/interactive-app.jpg" class="interactive-app" alt="interactive-app" width="518" height="663" />
            <div id="smart-app-extra-information">
                {% block smart-app-overview %}
                <h2>There’s a Free App For That.</h2>
                <p>When connecting your home security system through our cellular monitoring or broadband monitoring, your account automatically comes with interactive features. Arm your system, request notifications, manage contacts, control lights, energy, home automation,  and program rules to fit your needs anywhere and at anytime through your computer or smart phone. Forget to set the alarm system? No problem, just arm it while sipping your morning coffee at work.</p>
                <ul>
                    <li>
                        <img src="{{ STATIC_URL }}img/canada/interactive-alarm-icon.jpg" alt="interactive-alarm-icon" width="58" height="58" />
                        <div>
                            <h4>Security System Control</h4>
                            <p>Use your smartphone to arm, disarm, and view the status of your alarm system easily in real time.</p>
                        </div>
                    </li>
                    <li>
                        <img src="{{ STATIC_URL }}img/canada/interactive-video-icon.jpg" alt="interactive-alarm-icon" width="58" height="58" />
                        <div>
                            <h4>Live Video</h4>
                            <p>Keep an eye on your home from anywhere in the world with live video. (Video Service Required).</p>
                        </div>
                    </li>
                    <li>
                        <img src="{{ STATIC_URL }}img/canada/interactive-home-automation-icon.jpg" alt="interactive-alarm-icon" width="58" height="58" />
                        <div>
                            <h4>Home Automation</h4>
                            <p>Home automation lets you control lights and appliances from your phone or computer.</p>
                        </div>
                    </li>
                </ul>
                {% if phone_number %}
                    {% businesstime %}
                        <h3>Get Started Today, <strong>Call Now! <span{% if use_call_measurement %} class="dynamic-phone-number"{% endif %}><a href="tel:{{ phone_number|format_number }}">{{ phone_number|format_number }}</a></span></strong></h3>
                    {% endbusinesstime %}
                {% endif %}
                {% endblock %}
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="wrapper">

    <div id="security-benefits">
        <div id="advantage-badges">
            {% block advantage-badges %}
            <img src="{{ STATIC_URL }}img/external/consumer-digest/consumer-digest-logo.jpg" alt="consumer-digest-logo" width="136" height="120" />
            <img src="{{ STATIC_URL }}img/external/top-consumer-reviews/top-consumer-logo.jpg" alt="top-consumer-logo" width="128" height="120" id="top-consumer-logo" />
            <img src="{{ STATIC_URL }}img/external/ge-logo-blue.png" alt="ge-logo-blue" width="240" height="120" />
            {% endblock %}
        </div>
        <div id="protect-america-information">
            <p>{% block pa_information %}From Texas to Toronto, Protect America is driven to provide only the highest quality products and dedicated service at an affordable price. Serving Alberta, Ontario, and British Columbia, our home security packages provide the equipment necessary to protect your entire home for a fraction of the cost. Each system is customized to fit your needs, while our competitors offer a "starter" package that only protects part of the house at a much higher cost. That's why Protect America was rated the best home security system with a 5-Star Rating from Top Consumer Reviews for six years in a row (2008—2013).{% endblock %}</p>
            {% block pa-info-phone %}
            {% if phone_number %}
                {% businesstime %}
                    <h3>Get Started Today, <strong>Call Now! <span{% if use_call_measurement %} class="dynamic-phone-number"{% endif %}><a href="tel:{{ phone_number|format_number }}">{{ phone_number|format_number }}</a></span></strong></h3>
                {% endbusinesstime %}
            {% endif %}
            {% endblock %}
        </div>
        {% block big-video %}
        <div class="clear"></div>
        <div id="home-security-video">
            <iframe width="492" height="303" src="http://www.youtube.com/embed/isJJrsr5sXQ?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
        {% endblock %}
    </div>
    <div id="home-security-testimonials">
        {% block pa-testimonials %}
        <h2>Customers Love Our Home Security Systems</h2>
        {% testimonial_search "" "limit=2&template=canada-side&words=25" %}
        {% endblock %}
    </div>
    <div class="clear"></div>

</div>

<div class="wrapper">{% block extra-content %}{% endblock %}</div>
{% addtoblock "js" %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/waypoints.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/waypoints-sticky.min.js"></script>



    <script type="text/javascript">
        $(document).ready(function() {
			$('#header').waypoint('sticky', {
			  offset: -85 // Apply "stuck" when element 30px from top
			});
            animated = 0;
            $("#alarm-category").click(function(){
                if(animated == 0 && !$(this).hasClass('active')) {
                    animated = 1;
                    $('.security-choice').removeClass('active');
                    $(this).addClass('active');
                    $('.big-info').slideUp('fast');
                    $('.button-link > .active').fadeIn('slow');
                    $('#home-security-button-choice').fadeOut('fast');
                    $('#white-arrow').animate({left: '-925px'}, 500, function() {
                        $('.button-link > .active').removeClass('active');
                        $('#home-security-choice').slideDown('fast', function() {
                            animated = 0;
    
                            $("#home-security-button-choice").addClass('active');
    
    
                        });
                    });
                    return false;
                } else {
                    return false;
                }
    
            });
            $("#video-category").click(function(){
    
                if(animated == 0 && !$(this).hasClass('active')) {
                    animated = 1;
                    $('.security-choice').removeClass('active');
                    $(this).addClass('active');
                    $('.big-info').slideUp('fast');
                    $('.button-link > .active').fadeIn('slow');
                    $('#video-button-choice').fadeOut('fast');
                    $('#white-arrow').animate({left: '-582px'}, 500, function() {
                        $('.button-link > .active').removeClass('active');
                        $('#video-security-choice').slideDown('fast', function() {
                            animated = 0;
    
                            $("#video-button-choice").addClass('active');
    
    
                        });
                    });
                    return false;
                } else {
                    return false;
                }
            });
            $("#smart-app-category").click(function(){
                
    
                if(animated == 0 && !$(this).hasClass('active')) {
                    animated = 1;
                    $('.security-choice').removeClass('active');
                    $(this).addClass('active');
                    $('.big-info').slideUp('fast');
                    $('.button-link > .active').fadeIn('slow');
                    $('#smart-app-button-choice').fadeOut('fast');
                    $('#white-arrow').animate({left: '-242px'}, 500, function() {
                        $('.button-link > .active').removeClass('active');
                        $('#smart-app-choice').slideDown('fast', function() {
                            animated = 0;
    
                            $("#smart-app-button-choice").addClass('active');
    
    
                        });
                    });
                    return false;
                } else {
                    return false;
                }
            });

        });
    </script>
{% endaddtoblock "js" %}

{% endblock %}




