{% extends "affiliates/generic-landing-base/index.html" %}

{% load sekizai_tags content_tags content_filters %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/affiliates/diy-landing-page/style.css">
    <script type="text/javascript" src="//use.typekit.net/vwb5haa.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
{% addtoblock "js" %}
<script type="text/javascript">
$(document).ready(function() {
    var current_package = 'bronze';
    var current_monitoring = 'landline';
    var price_table = {
        'bronze': {
            'landline': {{ pricetable.BRONZE.landline_monitoring|cut:"$" }},
            'broadband': {{ pricetable.BRONZE.broadband_monitoring|cut:"$" }},
            'cellular': {{ pricetable.BRONZE.cellular_interactive_monitoring|cut:"$" }}
        },
        'silver': {
            'landline': {{ pricetable.SILVER.landline_monitoring|cut:"$" }},
            'broadband': {{ pricetable.SILVER.broadband_monitoring|cut:"$" }},
            'cellular': {{ pricetable.SILVER.cellular_interactive_monitoring|cut:"$" }}
        },
        'gold': {
            'landline': {{ pricetable.GOLD.landline_monitoring|cut:"$" }},
            'broadband': {{ pricetable.GOLD.broadband_monitoring|cut:"$" }},
            'cellular': {{ pricetable.GOLD.cellular_interactive_monitoring|cut:"$" }}
        }
    }
    $('#package-set-one > div').click(function() {
        current_package = $(this).attr('id').split('-package')[0];
        render_changes();
        $('#package-set-one > div').removeClass('active');
        $(this).addClass('active');
    });
    $('#monitoring-set-one > div').click(function() {
        current_monitoring = $(this).attr('id').split('-monitoring')[0];
        render_changes();
        $('#monitoring-set-one > div').removeClass('active');
        $(this).addClass('active');
    });
    function render_changes() {
        $('price').html(price_table[current_package][current_monitoring]);
        $('#package-set-one > div').each(function(i) {
            $(this).find('.monitoring-price em').html(
                price_table[$(this).attr('id').split('-package')[0]][current_monitoring]
            );
        });
        $('#monitoring-set-one > div').each(function(i) {
            $(this).find('.monitoring-price em').html(
                price_table[current_package][$(this).attr('id').split('-monitoring')[0]]
            );
        });
    }
    render_changes();
});
</script>
{% endaddtoblock "js" %}
{% endblock %}

{% block typekit %}tk-museo-slab{% endblock %}

{% block left-wrapper %}
    <img src="{{ STATIC_URL }}img/affiliates/diy-landing-page/touchscreen-top.jpg" id="touchscreen-offer" alt="Do It Yourself Home Security" width="440" height="312" />
    <div id="touchscreen-offer-content">
        <h1>Simple, Easy <span>Do It Yourself<br/>Home Security</span></h1>
        <h2>with 24/7 Professional Monitoring</h2>
        <ul>
            <li>Easy Self Installation</li>
            <li>No Hidden Fees</li>
            <li>High Speed, Reliable Monitoring</li>
        </ul>
    </div>
{% endblock %}    

{% block assurance-block-one %}
    <img src="{{ STATIC_URL }}img/extra/alarm-token.png" alt="alarm-token" width="111" height="111" />
    <h3>Customizable Security Packages</h3>
{% endblock %}

{% block assurance-block-two %}
    <img src="{{ STATIC_URL }}img/extra/20-percent-token.png" alt="20-percent-token" width="111" height="111" />
    <h3>24/7 Reliable Monitoring</h3>
{% endblock %}

{% block assurance-block-three %}
    <img src="{{ STATIC_URL }}img/extra/diy-token.png" alt="diy-token" width="111" height="111" />
    <h3>Easy Wireless Installation</h3>
{% endblock %}

{% block assurance-block-four %}
    <img src="{{ STATIC_URL }}img/extra/hammer-token.png" alt="hammer-token" width="111" height="111" />
    <h3>Lifetime Equipment Warranty</h3>
{% endblock %}



{% block assurance-block-five %}
    <img src="{{ STATIC_URL }}img/extra/dollar-sign-token.png" alt="dollar-sign-token" width="111" height="111" />
    <h3>Lowest Price Guaranteed</h3>
{% endblock %}

{% block assurance-card-one %}
    <div id="package-set-one">
        <div id="bronze-package" class="active">
            <img src="{{ STATIC_URL }}img/affiliates/diy-landing-page/bronze-header.jpg" alt="bronze-header" width="304" height="136" />
            <h3>Protection for up to <span>7 Doors or Windows</span> plus one motion detector</h3>
            <p class="equipment-price">
                Equipment Price: <strong><sup>$</sup>0<sup>*</sup></strong>
            </p>
            <p class="monitoring-price">
                Monitoring Rate: <strong><sup>$</sup><em>35.99</em><span>per month</span></strong>
            </p>
        </div>
        <div id="silver-package">
            <img src="{{ STATIC_URL }}img/affiliates/diy-landing-page/silver-header.jpg" alt="bronze-header" width="304" height="136" />
            <h3>Protection for up to <span>10 Doors or Windows</span> plus one motion detector</h3>
            <p class="equipment-price">
                Equipment Price: <strong><sup>$</sup>0<sup>*</sup></strong>
            </p>
            <p class="monitoring-price">
                Monitoring Rate: <strong><sup>$</sup><em>37.99</em><span>per month</span></strong>
            </p>
        </div>
        <div id="gold-package">
            <img src="{{ STATIC_URL }}img/affiliates/diy-landing-page/gold-header.jpg" alt="bronze-header" width="304" height="136" />
            <h3>Protection for up to <span>12 Doors or Windows</span> plus one motion detector</h3>
            <p class="equipment-price">
                Equipment Price: <strong><sup>$</sup>0<sup>*</sup></strong>
            </p>
            <p class="monitoring-price">
                Monitoring Rate: <strong><sup>$</sup><em>39.99</em><span>per month</span></strong>
            </p>
        </div>
    </div>
    <div id="package-set-two">
        <div id="copper-package">
            <img src="{{ STATIC_URL }}img/affiliates/diy-landing-page/bronze-header.jpg" alt="bronze-header" width="304" height="136" />
            <h3>Protection for up to <span>7 Doors or Windows</span> plus one motion detector</h3>
            <p class="equipment-price">
                Equipment Price: <strong><sup>$</sup>0<sup>*</sup></strong>
            </p>
            <p class="monitoring-price">
                Monitoring Rate: <strong><sup>$</sup><em>35.99</em><span>per month</span></strong>
            </p>
        </div>
        <div id="platinum-package">
            <img src="{{ STATIC_URL }}img/affiliates/diy-landing-page/silver-header.jpg" alt="bronze-header" width="304" height="136" />
            <h3>Protection for up to <span>10 Doors or Windows</span> plus one motion detector</h3>
            <p class="equipment-price">
                Equipment Price: <strong><sup>$</sup>0<sup>*</sup></strong>
            </p>
            <p class="monitoring-price">
                Monitoring Rate: <strong><sup>$</sup><em>37.99</em><span>per month</span></strong>
            </p>
        </div>
        <div id="business-package">
            <img src="{{ STATIC_URL }}img/affiliates/diy-landing-page/gold-header.jpg" alt="bronze-header" width="304" height="136" />
            <h3>Protection for up to <span>12 Doors or Windows</span> plus one motion detector</h3>
            <p class="equipment-price">
                Equipment Price: <strong><sup>$</sup>0<sup>*</sup></strong>
            </p>
            <p class="monitoring-price">
                Monitoring Rate: <strong><sup>$</sup><em>39.99</em><span>per month</span></strong>
            </p>
        </div>
    </div>
{% endblock %}
{% block assurance-card-two %}
    <div id="monitoring-set-one">
        <div id="landline-monitoring" class="active">
            <img src="{{ STATIC_URL }}img/affiliates/diy-landing-page/landline-header.jpg" alt="bronze-header" width="304" height="136" />
            <h3>Protection for up to <span>7 Doors or Windows</span> plus one motion detector</h3>
            <p class="equipment-price">
                Equipment Price: <strong><sup>$</sup>0<sup>*</sup></strong>
            </p>
            <p class="monitoring-price">
                Monitoring Rate: <strong><sup>$</sup><em>35.99</em><span>per month</span></strong>
            </p>
        </div>
        <div id="broadband-monitoring">
            <img src="{{ STATIC_URL }}img/affiliates/diy-landing-page/broadband-header.jpg" alt="bronze-header" width="304" height="136" />
            <h3>Protection for up to <span>10 Doors or Windows</span> plus one motion detector</h3>
            <p class="equipment-price">
                Equipment Price: <strong><sup>$</sup>0<sup>*</sup></strong>
            </p>
            <p class="monitoring-price">
                Monitoring Rate: <strong><sup>$</sup><em>37.99</em><span>per month</span></strong>
            </p>
        </div>
        <div id="cellular-monitoring">
            <img src="{{ STATIC_URL }}img/affiliates/diy-landing-page/cellular-header.jpg" alt="bronze-header" width="304" height="136" />
            <h3>Protection for up to <span>12 Doors or Windows</span> plus one motion detector</h3>
            <p class="equipment-price">
                Equipment Price: <strong><sup>$</sup>0<sup>*</sup></strong>
            </p>
            <p class="monitoring-price">
                Monitoring Rate: <strong><sup>$</sup><em>39.99</em><span>per month</span></strong>
            </p>
        </div>
    </div>
{% endblock %}
{% block assurance-card-three %}
    <div class="image-area">
        <img src="{{ STATIC_URL }}img/affiliates/diy-landing-page/pizza-time.jpg" alt="pizza-time" width="288" height="288" />
    </div>
    <div class="copy-point">
        <h2>Getting a Pizza Delivered <span>Would Take More Time</span></h2>
        <p>Installing your wireless home security system is convenient and easy. Security systems from Protect America are designed to be installed by customers without help from a professional. No wires or drilling holes in your walls! The installation process can be completed in as little as 30 minutes, even by someone with limited technical knowledge. Go ahead and order that pizza, you'll be done by the time it gets to your newly protected house.  </p>
        {% if phone_number %}
            {% businesstime %}
            <div class="clear"></div>
            <div id="call-area">
                <p>Get Started Now, <strong>Call Today! <span{% if use_call_measurement %} class="dynamic-phone-number"{% endif %}>{{ phone_number|format_number }}</span></strong></p>
            </div>
            <div class="clear"></div>
            {% endbusinesstime %}
        {% endif %}
    </div>
{% endblock %}

{% block assurance-card-four %}
    <div class="image-area">
        <img src="{{ STATIC_URL }}img/affiliates/diy-landing-page/lifetime-warranty.jpg" alt="lifetime-warranty" width="288" height="331" />
    </div>
    <div class="copy-point">
        <h2>If It Breaks, We Replace It. <span>The Only Thing Simpler is Self-Installation.</span></h2>
        <p>Protect America is dedicated to providing your home with comprehensive protection day and night. That’s why we replace any broken part of your security system for free! Sensors not working? We’ll send new ones. Even if your whole system is malfunctioning, we’ll replace it. Protect America is committed to your home security and we’re serious about proving it.</p>
        {% if phone_number %}
            {% businesstime %}
            <div class="clear"></div>
            <div id="call-area">
                <p>Get Started Now, <strong>Call Today! <span{% if use_call_measurement %} class="dynamic-phone-number"{% endif %}>{{ phone_number|format_number }}</span></strong></p>
            </div>
            <div class="clear"></div>
            {% endbusinesstime %}
        {% endif %}
    </div>

{% endblock %}

{% block assurance-card-five %}
    <div class="image-area">
        <img src="{{ STATIC_URL }}img/affiliates/diy-landing-page/protect-america-lowest-price-guaranteed.jpg" alt="protect-america-lowest-price-guaranteed" id="lowest-price-image" />
    </div>
    <div class="copy-point">
        <h2>The Only Guarantees in Life <span>are Death, Taxes, and Our Low Prices</span></h2>
        <p>Research is important when choosing a home security company. If you look around, it’s easy to realize that Protect America offers the best guaranteed deal in the industry. Simply order one of our award-winning monitoring solutions and we’ll give you a free home security system. No extra fees or installation costs! Just pay your monthly monitoring fee and get your home protected… for less than your neighbor.</p>
        {% if phone_number %}
            {% businesstime %}
            <div class="clear"></div>
            <div id="call-area">
                <p>Get Started Now, <strong>Call Today! <span{% if use_call_measurement %} class="dynamic-phone-number"{% endif %}>{{ phone_number|format_number }}</span></strong></p>
            </div>
            <div class="clear"></div>
            {% endbusinesstime %}
        {% endif %}
    </div>

{% endblock %}
{% block page-product %}
    <h2>Home Security Package</h2>
    <p><span>Equipment Price: <strong>$0*</strong></span>monthly monitoring starting at $<price>35.99</price>/mo</p>
{% endblock %}
