@charset "UTF-8";



/************************************
*   Reset                           *
************************************/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}:focus{outline:0;}body{line-height:1;color:#000;background:@white;}ol,ul{list-style:none;}table{border-collapse:separate;border-spacing:0;}caption,th,td{text-align:left;font-weight:normal;}blockquote:before,blockquote:after,q:before,q:after{content:"";}blockquote,q{quotes:"" "";}.container_full{overflow:hidden;width:100%;}.padding_10{padding:10px;}.center{text-align:center;}.absolute{position:absolute!important;}.relative{position:relative!important;}.text-center{text-align:center;}.float_left{float:left;}

/********** Color Selection ***********/

@white: #fff;
@light-grey: #ccc;
@grey: #555;
@black: #000;

@light-red: #ffdfdf;
@red: #e51b24;

@v-light-blue: #f2fdff;
@light-blue: #d9f2ff;

@blue: #0069aa;

@radioshack-grey: #eae8e6;

/********* Global **************/

.fade-slow {
    -webkit-transition: background-color .7s ease-out;
    -moz-transition: background-color .7s ease-out;
    transition: background-color .7s ease-out;


}
.fade-fast {
    -webkit-transition: background-color .3s ease-out;
    -moz-transition: background-color .3s ease-out;
    transition: background-color .3s ease-out;

}


body {
    background: @radioshack-grey;
    text-align: center;
    #protect-america-content {
        width: 960px;
        text-align: left;
        overflow: visible;
        margin: 0 auto;
        position: relative;
    }
}
.clear {
    clear: both;
    height: 0;
    line-height: 0;
}
#interiorWrapper {
    overflow: visible;
    margin: 0 auto; 
}
#anteriorFooterWrapper {
    display: none;
}
#pageWrapper {
    width: auto;
}
sup {
    font-size: 10px;
    position: relative;
    bottom: 2px;
}
/***** Buttons *****/
.button {
    display: block;
    float: left;
    background: @red;
    color: @white;
    text-decoration: none;
    height: 24px;
    line-height: 24px;
    background-image: -moz-linear-gradient(top,@red,#ce1821); 
    background-image: -webkit-gradient(linear,left top,left bottom,from(@red),to(#ce1821));
    border: 1px solid transparent;
    font-size: 14px;
    padding: 0 24px;
    &:hover {
        background-image: -moz-linear-gradient(top,@red,#aa141b); 
        background-image: -webkit-gradient(linear,left top,left bottom,from(@red),to(#aa141b));
        border: 1px solid #c61111;
        border-bottom: 1px solid #a90101;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.3);
        -moz-box-shadow: 0 1px 1px rgba(0,0,0,.3);

    }
} 
.phone-alt {
    float: left;
    height: 24px;
    padding-left: 16px;
    p {
        color: @black;
        font-size: 12px;
        font-weight: 800;
        line-height: 24px;
        strong {
            color: @red;
        }
    }
}
/***** Main Offer *****/
#protect-america-content {
    width: 960px;
    margin: 0 auto;
}
#main-offer {
    position: relative;
    height: 400px;
    #offer-headline {
        position: absolute;
        left: 420px;
        padding-top: 10px;
        h1 {
            font-weight: 800;
            font-size: 46px;
            line-height: 68px;
            width: 531px;
            position: relative;
            bottom: 15px;
        }
        h2 {

            font-weight: 200;
            font-size: 33px;
            color: @grey;
            width: 531px;
            line-height: 33px;
        }
    }
    #protect-america-logo {
        position: absolute;
        right: 10px;
        top: 85px;
    }
    #package-image {
        position: absolute;
        left: -40px;
        z-index: -1;

    }
    #monthly-price {
        position: absolute;
        right: 20px;
        bottom: 15px;
    }
    ul {
        width: 355px;
        position: absolute;
        right: 0px;
        top: 150px;
        li {
            width : 175px;
            float: left;
            font-size: 12px;
            line-height: 20px;
        }
    }
}
/***** Call Now Box *****/
#call-box {
    background: @white;
    border: 1px solid @light-grey;
    padding: 8px;
    h2 {
        color: red;
        float: left;
        font-weight: 800;
        font-size: 42px;
        line-height: 64px;
        
    }
    img {
        float: right;
    }
}

/***** Comparison Chart *****/
#comparison-chart {
    margin: 32px 0;

    #dont-be-fooled {
        float: left;
        margin: 12px 26px 0 0;
    }
    table {
        width: 718px;
        border: 1px solid @light-grey;
        background: @white;
        float: left;
        thead {
            tr {
                th {
                    padding: 8px 0;
                    border-bottom: 1px solid #ccc;
                    text-align: center;
                    span {
                        display: block;
                        color: @blue;
                        font-weight: 800;
                        padding-bottom: 4px;
                    }
                    img {
                        display: inline;
                        margin: 0 auto;
                    }
                }
                &:hover {
                    background: @white;
                    .pa {
                        background: @v-light-blue;
                    }
                }
            }

        }
        tr {
            &:hover {
                background: #efefef;
                .pa {
                    background: @light-blue;
                }
            }
            td {
                height: 32px;
                line-height: 32px;
                padding: 2px 0;
            }
        }
        .title {
            font-size: 12px;
            text-align: right;
            padding-right: 16px;
        }
        .pa {
            background: @v-light-blue;
        }
        .item-count {
            font-size: 16px;
            text-align: center;
            color: @grey;
            &.pa {
                color: @blue;
                font-size: 21px;
                font-weight: 800;
            }
        }
        .price-divider {
            border-top: 1px solid @light-grey;
        }
        .price {
            text-align: center;
            font-size: 24px;
            font-weight: 800;
            &.red {
                color: @red;
            }
        }
    }
}
/***** Giftcard Promotion *****/
#giftcard-promotion {
    padding-bottom: 24px;
    margin: 24px 0;
    border-bottom: 1px solid @light-grey;
    img {
        float: left;
    }
    #promotion-content {
        width: 560px;
        float: left;
        margin-left: 55px;
        h2 {
            font-size: 34px;
            line-height: 50px;
            padding-bottom: 4px;
            sup {
                bottom: 8px;
            }
        }
        p {
            color: @grey;
            font-size: 14px;
            line-height: 32px;
            text-align: justify;
            padding-bottom: 12px;
        }
        .phone-alt p {
            font-size: 12px;
            color: @black;
            line-height: 24px;
        }

    }
}
/***** Why Protect America *****/
#why-protect-america {
    background: @white;
    border: 1px solid @light-grey;
    padding: 16px;
    #pa-logo{
        display: block;
    }
    #about-protect-america {
        width: 560px;
        padding-top: 8px;
        float: left;
        p {
            color: @grey;
            font-size: 14px;
            line-height: 32px;
            text-align: justify;
            padding-bottom: 12px;
        }
        .phone-alt p {
            font-size: 12px;
            color: @black;
            line-height: 24px;
        }
    }
    #awards {
        width: 300px;
        float: left;
        border-left: 1px solid @light-grey;
        margin-left: 50px;
        #top-consumer-reviews, #consumer-digest {
            font-size: 10px;
            line-height: 16px;
            vertical-align: middle;
            width: 132px;
            height: 80px;
            padding: 18px 100px;
            margin-left: 25px;

            text-align: justify;

        }
        #consumer-digest {
            background: url(/static/img/consumer-digest-best-buy.jpg) no-repeat;
        }
        #top-consumer-reviews {
            background: url(/static/img/top-consumer-reviews.jpg) no-repeat;
        }
    }
    #confidence-builders {
        padding: 50px 0 24px;
       #all-day-monitoring, #wireless-home-security, #twenty-off-home-insurance, #lifetime-warranty, #lowest-price-guaranteed {
            float: left;
            width: 185px;
            text-align: center;
            h3 {
                font-size: 13px;
                font-weight: 800;
                margin: 16px 8px 8px;
            }
            p {
                font-size: 12px;
                color: @grey;
                margin: 0 16px;
            }
        }
    }
}
/***** Lead Form *****/
#contact-form {
    background: @white url(/static/img/or-background.png) 480px 135px no-repeat;
    border: 1px solid #ccc;
    margin: 32px 0;
    padding-bottom: 32px;
    h2 {
        font-size: 42px;
        font-weight: 800;
        line-height: 80px;
        padding: 24px 0;
        text-align: center;
        
    }
    #call-us {
        display: block;
        float: left;
        width: 530px;
        padding: 0 16px;
        h3 {
            color: @blue;
            font-size: 36px;
            line-height: 36px
        }
        p {
            color: @grey;
            font-size: 14px;
            text-align: justify;
            line-height: 32px;
            padding: 8px 90px 0 0;
        }
        h4 {
            color: @red;
            font-weight: 800;
            font-size: 56px;
            padding-top: 54px;
            line-height: 45px;
            span {
                color: @grey;
                font-size: 36px;
                font-weight: normal;
                display: block;
            }
        }
    }
    #call-you {
        display: block;
        float: left;
        width: 380px;
        padding-left: 16px;
        h3 {
            color: @blue;
            font-size: 36px;
            line-height: 36px;
        }
        p {
            color: @grey;
            font-size: 12px;
            text-align: justify;
            line-height: 24px;
            padding: 8px 60px 0 0;
        }
        form {
            padding-top: 8px;
            position: relative;
            
            .ctrlHolder {
                position: relative;
            }
            #call-you-inputs {
                background: @blue;
                margin-right: 60px;
                padding: 16px 0 16px 16px;
                &:hover {
                    background: @blue;
                    background-image: -moz-linear-gradient(top,@blue,#005f9a); 
                    background-image: -webkit-gradient(linear,left top,left bottom,from(@blue),to(#005f9a));
                    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.3);
                    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.3);
                    box-shadow: 0 1px 1px rgba(0,0,0,.3);
                }
            }
            .error {
                input {
                    background: @light-red;
                    border: 1px solid #c61111;
                }
                .formHint {
                    background: @red;
                    background-image: -moz-linear-gradient(top,@red,#aa141b); 
                    background-image: -webkit-gradient(linear,left top,left bottom,from(@red),to(#aa141b));
                    border: 1px solid #c61111;
                    border-bottom: 1px solid #a90101;
                    color: @white;
                    margin: 4px 0;
                    width: 110px;
                    position: absolute;
                    font-size: 10px;
                    right: 116px;
                    height: 20px;
                    top: -1px;
                    line-height: 21px;
                    padding: 0 8px;
                    text-align: center;
                    border-radius: 5px 5px 0px 0px;
                    -moz-border-radius: 5px 5px 0px 0px; 
                    -webkit-border-radius: 5px 5px 0px 0px; 
                }
            }

            label {
                display: block;
                font-size: 14px;
                color: @white;
                font-weight: 800;
                line-height: 24px;
            }
            input {
                display: block;
                height: 28px;
                border: 1px solid @light-grey;
                width: 284px;
                margin-bottom: 8px;
                line-height: 28px;
                font-size: 16px;
            }
            button {
                display: block;
                background: #90af01;
                color: @white;
                text-decoration: none;
                height: 36px;
                line-height: 36px;
                background-image: -moz-linear-gradient(top,#90af01,#829e01);
                background-image: -webkit-gradient(linear,left top,left bottom,from(#90af01),to(#829e01));
                border: 1px solid transparent;
                font-size: 18px;
                padding: 0 24px;
                width: 320px;
                font-weight: 800;
                margin-top: 21px;
                cursor: pointer;
                cursor: hand;
                &:hover {
                    background-image: -moz-linear-gradient(center top , #90af01, #687e01);
                    background-image: -webkit-gradient(linear,left top,left bottom,from(#90af01),to(#687e01));
                    border: 1px solid #768f03;
                    border-bottom: 1px solid #576902;
                    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.3);
                    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.3);
                    box-shadow: 0 1px 1px rgba(0,0,0,.3);
                }
            }
            p {
                width: 320px;
                font-size: 10px;
                text-align: center;
                padding-top: 0;
            }
        }
    } 
}
/***** Terms and Conditions *****/
#terms-and-conditions {
    margin-bottom: 8px;
    p {
        font-size: 10px;
        line-height: 11px;
        padding-bottom: 4px;
        text-align: justify;
    }
}
