@charset "UTF-8";

@import "style";



#big-button {
    position: absolute;
    right: 16px;
    bottom: 16px;
    .button {
        padding: 0 22px;
        height: 46px;
        line-height: 46px;
        font-size: 18px;
        
    }
}
#main-offer {
    #monthly-price {
        position: absolute;
        right: 16px;
        bottom: 79px;
    }
}

