{% extends "affiliates/sem-landing-page/paid-base.html" %}
{% load sekizai_tags content_tags content_filters %}


{% block page_title %}Wireless Home Security | Wireless Home Alarms | Protect America{% endblock %}
{% block h1 %}Wireless Home Security{% endblock %}

{% block lifestyle-headline %}<h2>The perfect wireless system <span>for your home.</span></h2>{% endblock %}
{% block benefits-headline %}<h2>Easy, Flexible, Wireless Alarm Protection</h2>{% endblock %}


{% block faq %}
    <a id="faqs"></a>
        <div class="big_wrapper" id="faq">
          <div class="wrapper clearfix">
            <h2>Frequently Asked Questions</h2>
            <ul>
              <li class="faq">
                <div>
                  <h3>Why choose wireless security?</h3>
                    <p>Wireless security systems are the future of home security. Wireless delivers trusted protection with no drilling in your walls, easy set-up, and saving you money.</p>
                </div>
              </li>
              <li class="faq">
                <div>
                  <h3>How do prices compare between companies?</h3>
                    <p>Because the system is wireless, we cut out the installation guys and middlemen then pass the savings on to you. Protect America’s security packages come with free equipment and start at $19.99 a month. Compare that with ADT's upfront equipment fees and plans that begin at $42.99 a month.</p>
                </div>
              </li>
              <li  class="faq">
                <div>
                  <h3>What if I have to move?</h3>
                    <p>Take it with you! A big advantage of wireless technology is its flexibility. Protect America offers free EasyMove which allows you to secure your new home with the same system.</p>
                </div>
              </li>

              <li class="faq">
                <div>
                  <h3>Do you offer cellular monitoring?</h3>
                    <p>We do! Advanced wireless systems are the latest in home security technology. Our systems are built to the needs of your home. From cellular monitoring to smart home technology, we can provide the best home security system that fits your life at the most affordable price.</p>
                </div>
              </li>
            </ul>
            <ul class="col2">
              <li class="faq">
                <div>
                  <h3 >What if I don’t know exactly what I need?</h3>
                  <p>We know that no two homes are alike, so our approach is to listen and learn your situation before making an affordable recommendation. Other companies can make recommendations too, but we can’t guarantee they will be affordable.</p>
                </div>
              </li>
              <li class="faq">
                <div>
                  <h3>What happens when my alarm system is triggered? How will the monitoring station respond?</h3>
                  <p>If your system is not disarmed, our monitoring station will attempt to reach you. If you do not answer, we will dispatch the local Police to the monitoring address and will attempt to reach your emergency contacts.</p>
                </div>
              </li>
              <li class="faq">
                <div>
                  <h3 >How do I Arm and Disarm my new alarm system?</h3>
                  <p>Simply press one button to arm your system, and enter your master code to disarm it. Protect America alarm systems are also interactive, so you can arm and disarm from a smartphone with our free "SMART Connect" app!</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
    
        
        <div class="clear"></div>
    </div>
{% endblock %}