{% extends "products/base.html" %}
{% block subnav_child %}
<ul>
	<li><a href="{% url landline %}"><img src="/media/img/nav-icons/monitoring-landline.png" alt="Alarm Monitoring: Standard Landline Connection" />Standard Landline</a></li>
	<li><a href="{% url landline %}"><img src="/media/img/nav-icons/monitoring-two-way-voice.png" alt="Alarm Monitoring: Standard Landline Connection with Two Voice Techonology" />Two Way Voice Landline</a></li>
	<li><a href="{% url landline %}"><img src="/media/img/nav-icons/monitoring-broadband.png" alt="Alarm Monitoring: Broadband Connection" />Broadband</a></li>

	<li><a href="{% url landline %}"><img src="/media/img/nav-icons/monitoring-cellular.png" alt="Alarm Monitoring: Cellular Connection" />Cellular</a></li>


</ul>
{% endblock %}