{% extends "products/base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/monitoring.css">
{% endblock %}
{% block subnav_child %}
<ul>
    <li {% if 'cellular' in active_pages %}class="active"{% endif %}><a href="{% url cellular %}" title="Click here to Learn about our Interactive Cellular Monitoring">Interactive Cellular</a></li>
    <li {% if 'broadband' in active_pages %}class="active"{% endif %}><a href="{% url broadband %}" title="Click here to Learn about our Interactive Broadband Monitoring">Interactive Broadband</a></li>
    <li {% if 'landline' in active_pages %}class="active"{% endif %}><a href="{% url landline %}" title="Click here to Learn about our Standard Landline Monitoring">Standard Landline</a></li>


</ul>
{% endblock %}

