{% extends "products/monitoring/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}

{% block page_title %}Alarm System Without Phone Line | Protect America | Broadband Monitoring Solutions{% endblock %}
{% block page_keywords %}security system,alarm,security,home security,security system,alarm system{% endblock %}
{% block page_description %}Anytime your alarm is triggered PA's monitoring facility is notified through your broadband connection of immediate danger using the HomePulse Broadband Monitoring system.{% endblock %}

{% block content %}

<div id="broadband-overview">
    <div id="broadband-image">
        <img src="{{ STATIC_URL }}img/products/monitoring/homepulse-icon-big.png" alt="broadband-icon-big" width="199" height="200" />
    </div>
    <div id="broadband-content">
        <h1>Lightning Fast Protection With Interactive Broadband Monitoring</h1>
        <p>With HomePulse Broadband Monitoring, anytime the alarm is triggered, your security system sends the signal through your broadband internet connection. HomePulse Broadband Monitoring Service provides your security system with a much faster connection to the monitoring facility and is capable of notifying us of a problem at least four times faster than a landline connection. The presence of a broadband Internet connection and an available port from a router or modem is necessary.</p>
    </div>
    <div class="clear"></div>
    <img src="{{ STATIC_URL }}img/products/monitoring/broadband-step-by-step.png" alt="landline-monitoring-step-by-step" width="640" height="145" />
</div>
{% include "order/quote-form.html" with form=forms.basic %}
<div class="clear"></div>
<div id="broadband-connection">
    <div id="broadband-benefits">
        <h2>The Lightning Fast Benefit to the Broadband Solution</h2>
        <p>How long does it take an home security system to signal a monitoring station of an alarm?  With Protect America's Broadband monitoring, its <strong>within 2 seconds</strong>. When the perimeter of any protected zone is breached, using your high-speed internet connection, two seconds is all it takes for the security system to send a signal to the monitoring facility.</p>
    </div>
    <img src="{{ STATIC_URL }}img/products/monitoring/broadband-globe.png" alt="broadband-globe" width="300" height="239" />
</div>
<div id="no-phone-required">
    <img src="{{ STATIC_URL }}img/products/monitoring/no-phoneline-needed.png" alt="no-phoneline-needed" width="300" height="239" />
    <div id="no-phone-content">
        <h2>No Kidding, No Phone Required</h2>
        <p>Want to ditch the landline? Perfect. Many people are giving up home phones in favor of cell phones. With Broadband monitoring, your security system uses your internet connection to contact our monitoring station. This means that a home landline telephone is not required. So ditch the phone, and get the high speed connection of broadband.</p>
    
    </div>
</div>
<div class="clear"></div>
    {% include "order/call-box.html" %}
<div>
	<div id="helpful-tech-support">
        <img src="{{ STATIC_URL }}img/products/monitoring/broadband-router.jpg" alt="broadband-router" width="185" height="150" />
		<h3>Communicates Through Your Router</h4>
		<p>The master control panel of the security system plugs into an available port on your modem or router instead of a telephone line in order to connect the home and the monitoring facility.</p>
	</div>
	<div id="save-money">
        <img src="{{ STATIC_URL }}img/products/monitoring/lightning-fast-communication.gif" alt="lightning-fast-communication" width="185" height="150" />
		<h3>Lightning Fast Communication</h4>
		<p>Lightning fast communication (2 seconds) between your system and Protect America's monitoring station.</p>
	</div>
	<div id="nationwide-coverage">
        <img src="{{ STATIC_URL }}/img/products/monitoring/24-7-monitoring.gif" alt="24-7-monitoring" width="185" height="150" />
		<h3>Yep, Even On Sundays</h4>
		<p>As one of the fastest growing home security companies nationwide, we use cutting-edge computer technology to provide instantaneous product support and 24-hour, 7 days a week monitoring protection of your home and family.</p>
	</div>

</div>
<div id="customer-testimonials">
    <h2>Real Customers Talking about Protect America:</h2>
    <ul id="main-testimonials">
    {% testimonial_search "broadband" "limit=10&words=100" %}
    </ul>
</div>
<div class="clear"></div>
<div id="interactive-laptop">
    <div id="online-control">
        <h2>Alarm Control At Home and Online.</h2>
        <p>When connecting your home security system through our Interactive Broadband monitoring, you have the option to upgrade your service to include ProtectAmericaInteractive.com. Arm your system, request notifications, manage contacts, and program rules to fit your needs anywhere and at anytime through your computer or smart phone. Forget to set the alarm? No problem, just arm it while sipping your morning coffee at work.</p>
    </div>
    <img src="{{ STATIC_URL }}img/products/monitoring/myprotectam-laptop.png" />
</div>
<div id="interactive-call-out">
    <img src="{{ STATIC_URL }}img/products/monitoring/app-for-that.jpg" alt="app-for-that" width="220" height="322" />
    <div id="app-for-that">
        <h2>There's A <strong>Free</strong> App For That.</h2>
        <p>With Protect America's Broadband and Cellular monitoring you have free direct access to your security system anytime through our interactive monitoring. This includes our mobile app, where you can arm or disarm your system, see which windows or doors are currently open, and access a complete history of your systems events.</p>
        <p>This feature also offers real-time notifications to your mobile phone. This means your system will notify you when your children have come home from school, the housekeeper arrives (and what time the housekeeper left!), and if your medicine cabinet, liquor cabinet, or garage door has been opened (for this monitors will need to be placed on the cabinet and garage door).</p>
    </div>
</div>


{% addtoblock "js" %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cycle.all.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('#main-testimonials').cycle({
            fx: 'fade',
            timeout: 9000
        });
    });
    </script>
{% endaddtoblock "js" %}

{% endblock %}  
{% block page-product %}
    <h2>Interactive Broadband Monitoring</h2>
    <p>Monthly monitoring starting at $37.99/mo</p>
    <div class="button-submit">
        <a href="{% url order-package %}?package=copper" onClick="_gaq.push(['_trackEvent', 'Order Now', 'Order Now Package Footer Click', 'Copper-B']);">Order Now ></a>
    </div>
{% endblock %}

