{% extends "learn/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}

{% block page_title %}Alarm System Without Phone Line | Buy High Speed Broadband Monitored Security | Protect America{% endblock %}
{% block page_keywords %}security system,alarm,security,home security,security system,alarm system{% endblock %}
{% block page_description %}Anytime your alarm is triggered PA's monitoring facility is notified through your broadband connection of immediate danger using the HomePulse Broadband Monitoring system.{% endblock %}

{% block content %}
<div id="hero-wrapper" class="v-light-grey">
    <div id="hero-image">
        <div id="hero-content">
            <h2>Monitored Home Security</h2>
            <h1>High-Speed Broadband Monitoring</h1>
            <p>Lightning Fast Security with no telephone needed.</p>
            <a href="{% url shop %}" class="button-link alt">Shop Packages <i class="icon-chevron-right"></i></a>

        </div>

    </div>
</div>
{% include "order/call-box.html" %}
<div class="wrapper">
    <div id="broadband-connection">
        <div id="broadband-benefits">
            <h2>The Lightning Fast Benefit to the Broadband Solution</h2>
            <p>How long does it take an home security system to signal a monitoring station of an alarm?  With Protect America's Broadband monitoring, its <strong>within 2 seconds</strong>. When the perimeter of any protected zone is breached, using your high-speed internet connection, two seconds is all it takes for the security system to send a signal to the monitoring facility.</p>
        </div>
        <img src="{{ STATIC_URL }}img/products/monitoring/broadband-globe.png" alt="broadband-globe" width="300" height="239" />
    </div>
    <div id="no-phone-required">
        <img src="{{ STATIC_URL }}img/products/monitoring/no-phoneline-needed.png" alt="no-phoneline-needed" width="300" height="239" />
        <div id="no-phone-content">
            <h2>No Kidding, No Phone Required</h2>
            <p>Want to ditch the landline? Perfect. Many people are giving up home phones in favor of cell phones. With Broadband monitoring, your security system uses your internet connection to contact our monitoring station. This means that a home landline telephone is not required. So ditch the phone, and get the high speed connection of broadband.</p>
        
        </div>
    </div>
</div>
<div id="in-home-wrapper">
    <div id="in-your-home">
        <div class="home-img">
            <img src="{{ STATIC_URL }}img/products/simon-xt/in-the-home-simon-xt.jpg" alt="in-the-home-simon-xt" />
        </div>
        <div class="home-content">
            <strong>In The Home:</strong>
            <h2>Broadband Monitoring</h2>
            <p>With Broadband Monitoring, anytime the alarm is triggered, your security system sends the signal through your existing broadband internet connection. Broadband Monitoring Service provides your security system with a much faster connection to the monitoring facility and is capable of notifying us of a problem at least four times faster than a landline connection. </p>
            <a href="{% url shop %}" class="button-link">Shop Packages <i class="icon-chevron-right"></i></a>
        </div>
    </div>
    <img src="{{ STATIC_URL }}img/hero-backgrounds/inside-home.jpg" alt="inside-home" class="in-home-bg" />
    <div class="clear"></div>
</div>
<div class="wrapper">
    
    <div>
    	<div id="helpful-tech-support">
            <img src="{{ STATIC_URL }}img/products/monitoring/broadband-router.jpg" alt="broadband-router" width="185" height="150" />
    		<h3>Communicates Through Your Router</h4>
    		<p>The master control panel of the security system plugs into an available port on your modem or router instead of a telephone line in order to connect the home and the monitoring facility.</p>
    	</div>
    	<div id="save-money">
            <img src="{{ STATIC_URL }}img/products/monitoring/lightning-fast-communication.gif" alt="lightning-fast-communication" width="185" height="150" />
    		<h3>Lightning Fast Communication</h4>
    		<p>Lightning fast communication (2 seconds) between your system and Protect America's monitoring station.</p>
    	</div>
    	<div id="nationwide-coverage">
            <img src="{{ STATIC_URL }}/img/products/monitoring/24-7-monitoring.gif" alt="24-7-monitoring" width="185" height="150" />
    		<h3>Yep, Even On Sundays</h4>
    		<p>As one of the fastest growing home security companies nationwide, we use cutting-edge computer technology to provide instantaneous product support and 24-hour, 7 days a week monitoring protection of your home and family.</p>
    	</div>
    
    </div>
    <div class="clear"></div>
    <div id="app-for-that">
        <h2>There’s an App For That!</h2>
        <p>Unlike other security companies, Protect America's interactive features are included with no charge when you select Broadband or Cellular monitoring. Our SMART Connect apps for Android devices and the iPhone puts home automation, energy management, and live video in your pocket!</p>
        <div class="clear"></div>
        <img src="{{ STATIC_URL }}img/interactive/phones.jpg" class="phones" alt="SMART Connect available on iPhone and Android phones" width="400" height="512" />
        <ul>
            <li>
                <img src="{{ STATIC_URL }}img/interactive/alarm-icon.jpg" alt="Control your Securtiy System from your Phone" width="58" height="58" />
                <div>
                    <h3>Security System Control</h3>
                    <p>Use your smartphone to arm, disarm, and view the status of your alarm system easily in real time.</p>
                </div>
            </li>
            <li>
                <img src="{{ STATIC_URL }}img/interactive/home-automation-icon.jpg" alt="Home Automation from your Phone" width="58" height="58" />
                <div>
                    <h3>Home Automation</h3>
                    <p>Home automation lets you control lights and appliances from your phone or computer using Z-Wave technology.</p>
                </div>
            </li>
            <li class="omega">
                <img src="{{ STATIC_URL }}img/interactive/live-video-icon.jpg" alt="Live Video on your Phone" width="58" height="58" />
                <div>
                    <h3>Live Video Surveillance</h3>
                    <p>Keep an eye on your home from anywhere in the world with live video. <span>(Video Service Required)</span></p>
                </div>
            </li>
            <img src="{{ STATIC_URL }}img/interactive/features-arrow.jpg" class="features-arrow" alt="features-arrow" width="40" height="72" />
            <div class="clear"></div>
        </ul>
        <div class="clear"></div>
        <div class="order-link">
            <a href="{% url interactive-control %}" class="button-link" onClick="_gaq.push(['_trackEvent', 'Order Now', 'Order Now Button Click', 'Interactive']);">Learn More <i class="icon-chevron-right"></i></a>
            <b class="phone-alt">or call <strong><span{% if use_call_measurement %} class="dynamic-phone-number"{% endif %}>{{ phone_number|format_number }}</span></strong> to get started now.</b>
        </div>
    </div>

    <div class="clear"></div>
</div>


{% addtoblock "js" %}
    <script type="text/javascript">
    $(document).ready(function() {
        $('#search-testimonial-box').cycle({
            fx: 'fade',
            timeout: 9000
        });
    });
    </script>
{% endaddtoblock "js" %}

{% endblock %}  
{% block page-product %}
    <h2>Interactive Broadband Monitoring</h2>
    <p>Monthly monitoring starting at $37.99/mo</p>
    <div class="button-submit">
        <a href="{% url order-package %}?package=copper" onClick="_gaq.push(['_trackEvent', 'Order Now', 'Order Now Package Footer Click', 'Copper-B']);">Order Now ></a>
    </div>
{% endblock %}

