{% extends "learn/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}

{% block page_title %}Cellular Monitoring for Home Security | Protect America{% endblock %}
{% block page_keywords %}security system,alarm,security,home security,security system,alarm system{% endblock %}
{% block page_description %}Interested in cellular monitoring for your home security? Protect America has protected 500,000 families since 1992. Call 800-951-5190 today to learn more!{% endblock %}

{% block content %}
<div id="hero-wrapper" class="v-light-grey">
    <div id="hero-image">
        <div id="hero-content">
            <h2>Monitored Home Security</h2>
            <h1>Cellular Monitoring</h1>
            <p>The Cellular Monitoring solution makes home security flexible like never before! No need for a landline home phone or even an internet connection. Simply plug the command station into a power outlet and everything else is completely wireless. Add cellular monitoring to any of our security packages today!</p>
            <a href="{% url shop %}" class="button-link alt">Shop Packages <i class="fa fa-chevron-right"></i></a>

        </div>
        <img src="{{ STATIC_URL }}img/products/monitoring/cellular-monitoring-hero.jpg" class="main-hero-image" alt="Cellular Monitoring" />

    </div>
</div>
{% include "order/call-box.html" with no_promo=False %}

    <h2 class="title center border-top">The Benefits of Cellular Monitoring</h2>
    <div class="container">
        <div class="five columns monitoring-option">
            <img src="{{ STATIC_URL }}img/shop/save-money.png" alt="Broadband Monitoring" width="128" height="128">
            <h3>Wireless Technology</h3>
            <p class="info">Forget that tangle of wires running through your home and walls. Wireless technology makes this security system incredibly easy to use and operate. No mess, no stress.</p>
        </div>
        <div class="five columns monitoring-option">
            <img src="{{ STATIC_URL }}img/icons/protect.png" alt="Easy Landline Connection" width="128" height="128">
            <h3>Ready to Protect</h3>
            <p class="info">Setup typically takes less than an hour. Once your system is operational, you're surrounded by a shield that is ready to jump into action any time.</p>
        </div>

        <div class="five columns monitoring-option">
            <img src="{{ STATIC_URL }}img/icons/tech-support.png" alt="Broadband Monitoring" width="128" height="128">
            <h3>Free and Friendly Tech Support</h3>
            <p class="info">As a Protect America customer, you have access to our technical support professionals who can help with any home security questions you may have. It's our job to make sure you're safe and comfortable!</p>
        </div>
    </div>
    <div class="container">
        <div class="ten columns relative">
            <img src="{{ STATIC_URL }}img/products/cell-takeover/black-wire.jpg" class="break-left" alt="No Landline Required" width="1200" height="125">
            <h2 class="title bottom dropper">No Cut Phone Lines</h2>
            <p>With Cellular Monitoring, your home security system works just like a cell phone. Authorities are notified of an alarm without the need of a landline. This eliminates the opportunity for thieves to bypass your protection by simply cutting the wires that lead to your home.</p>
            <h2 class="title bottom">No Phone Line? No Problem.</h2>
            <p>Many modern homeowners prefer to have a cell phone and have given up their landline altogether. Many alarm systems, however, require a phone line to dial out to their monitoring station. We say - ditch the phone line and switch to cellular. Cellular monitoring means your alarm system communicates wirelessly and easily contacts our monitoring station during any sign of trouble.</p>
        </div>
        <div class="six columns">
            <img src="{{ STATIC_URL }}img/products/cell-takeover/wire-cutters.jpg" alt="Wire Cutters" width="350" height="643">
        </div>
    </div>
    <div id="lifestyle-shot" class="monitoring">
        <div class="container">
            <div id="home-content" style="z-index: 999; position: relative;" class="alt">
                <h2 >Welcome to Your Interactive Home</h2>
                <p>Selecting Cellular Monitoring transforms your home into a truly wireless experience. No internet or landline is required. Unlike other security companies, Protect America's interactive features are included at no extra charge when you select Broadband or Cellular Monitoring. Our SMART Connect apps for Android and Apple devices put home automation, energy management and live video in your pocket!</p>
                <a href="/products/order-package?package=silver" class="button  yellow order-button hide-mobile no-desktop">Order Now</a>
                <a href="tel:1-555-555-5555" class="button yellow hide-desktop no-mobile">Order Now</a>

            </div>
        </div>
    </div>
    <h2 class="title center bottom">The SMART Connected Life</h2>
    <h4 class="subhead">'Smart Connect' services included free with your cellular monitoring</h4>
    <div class="container iphone">

        <div id="iphone-screen" class="iphone-screens">
            <img src="{{ STATIC_URL }}img/i-phone-screens/1.jpg" />


        </div>
        <div class="five columns phone i-1 l1 active" data-screen="1">
            <h3>Alarm System Control</h3>
            <p>Use your smartphone to arm, disarm and view the status of your alarm system easily and in real time.</p>
        </div>
        <div class="five columns phone i-2 l3 active" data-screen="3">
            <h3>Front Door Locks</h3>
            <p>Unlock doors with your phone, program multiple user codes and check the status of your lock from anywhere, anytime.</p>

        </div>
        <div class="five columns phone i-3 l4 active" data-screen="4">
            <h3>Lighting Command</h3>
            <p>Control lights from the couch or miles away. Give your home a "lived-in" appearance no matter where you are.</p>

        </div>
        <div class="five columns phone i-4 l2 active" data-screen="2">
            <h3>Live Video Surveillance</h3>
            <p>Keep an eye on your home from anywhere in the world with live video. (Video Service Required)</p>

        </div>
        <div class="five columns phone i-5 l4 active" data-screen="4">
            <h3>Home Automation</h3>
            <p>Forget to turn off your hair straightener? Want to brew coffee before you get out of bed? Home automation easily controls appliances from your phone.</p>

        </div>
    </div>


{% endblock %}
{% block lifestyle-class %}monitoring{% endblock %}
{% block lifestyle-headline %}<h2 >Welcome to Your Interactive Home</h2>{% endblock %}
{% block lifestyle-subhead %}<p>Selecting Cellular Monitoring transforms your home into a truly wireless experience. No internet or landline is required. Unlike other security companies, Protect America's interactive features are included at no extra charge when you select Broadband or Cellular Monitoring. Our SMART Connect apps for Android and Apple devices put home automation, energy management and live video in your pocket!</p>{% endblock %}
{% block advantage %}{% endblock %}
