{% extends "products/monitoring/base.html" %}
{% block content %}

<div class="bottom-rule">
	<div class="content-box half">
	
	</div>
	<div class="content-box half">
		<h1>Standard Landline Alarm Monitoring</h1>
		<p>When choosing a landline connection, your GE control panel uses your standard landline telephone connection to communicate with our monitoring facility. This is the standard connection for most security systems. Anytime the security system is triggered, the command station sends a signal through the landline phone to our monitoring facility and notifies us about a problem in your home.</p>
		<p>Depending on the nature of the problem, our monitoring facility will respond to your alarm and dispatch the emergency authorities to your home if necessary. Please visit the How It Works page to learn more on the steps we take when responding to an alarm at your home.</p>
	</div>
</div>
<div>
	<div class="content-box half">
		<h2>A Friendly Voice, When you Need it Most.</h2>
	</div>
</div>
{% endblock %}  

