{% extends "learn/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags humanize %}
{% block page_title %}Home Security Systems | Alarm Systems | Protect America{% endblock %}
{% block page_keywords %}affordable home security, security systems for home, home security systems comparison, art security prices, whole home security, garage security{% endblock %}
{% block page_description %}Your home needs every entry covered. When deciding the best security solution for your home, choose a company that combines comprehensive protection with unbeatable value. Protect America will provide you with enough sensors to monitor every door and window on your home. With Protect America, you get complete home security without leaving any opening vulnerable.{% endblock %}


{% block content %}
<div id="package-fan-wrapper">
    <div id="package-fan">
        <h1><strong>Which House is Yours?</strong> Protection for all doors and windows at an affordable price.</h1>
        <div id="copper-card" class="card">
            <img src="{{ STATIC_URL }}img/extra/copper-home-icon.png" alt="Copper Package House (3 Doors / Windows)" width="176" height="160" />
            <h3>3 Doors <br/> or Windows</h3>
            <p>The <strong>most affordable</strong> way to secure peace of mind.</p>
    
            <h4>Monthly Price: <strong>{{ pricetable.COPPER.standard_monitoring }}</strong></h4>
            <a href="{% url order-package %}?package=platinum" title="Order Platinum Package" class="button-link">Order Now <i class="icon-chevron-right"></i></a>
        </div>
    
        <div id="bronze-card" class="card">
            <img src="{{ STATIC_URL }}img/extra/bronze-home-icon.png" alt="Bronze Package House (7 Doors / Windows)" width="176" height="160" />
            <h3>7 Doors <br/> or Windows</h3>
            <p>The <strong>perfect solution</strong> to secure your starter home.</p>
    
    
            <h4>Monthly Price: <strong>{{ pricetable.BRONZE.standard_monitoring }}</strong></h4>

            </h4>
            <a href="{% url order-package %}?package=bronze" title="Order Bronze Package"class="button-link">Order Now <i class="icon-chevron-right"></i></a>
        </div>
    
        <div id="silver-card" class="card">
            <img src="{{ STATIC_URL }}img/extra/silver-home-icon.png" alt="Silver Package House (10 Doors / Windows)" width="176" height="160" />
            <h3>10 Doors <br/> or Windows</h3>
            <p><strong>Perimeter protection</strong> for the average American home</p>
            <h4>Monthly Price: <strong>{{ pricetable.SILVER.standard_monitoring }}</strong></h4>

    
            <a href="{% url order-package %}?package=silver" title="Order Silver Package" class="button-link">Order Now <i class="icon-chevron-right"></i></a>
        </div>
        
        <div id="gold-card" class="card">
            <img src="{{ STATIC_URL }}img/extra/gold-home-icon.png" alt="Gold Package House (12 Doors / Windows)" width="176" height="160" />
            <h3>12 Doors <br/> or Windows</h3>
            <p><strong>Unmatched security</strong> for larger sized homes</p>
    
            <h4>Monthly Price: <strong>{{ pricetable.GOLD.standard_monitoring }}</strong></h4>

            <a href="{% url order-package %}?package=gold" title="Order Gold Package"class="button-link">Order Now <i class="icon-chevron-right"></i></a>
        </div>
        
        <div id="platinum-card" class="card">
            <img src="{{ STATIC_URL }}img/extra/platinum-home-icon.png" alt="Platinum Package House (15 Doors / Windows)" width="176" height="160" />
            <h3>15 Doors <br/> or Windows</h3>
    
            <p>Our <strong>most comprehensive</strong> security system package</strong></p>
    
            <h4>Monthly Price: <strong>{{ pricetable.PLATINUM.standard_monitoring }}</strong></h4>

            <a href="{% url order-package %}?package=platinum" title="Order Platinum Package"class="button-link">Order Now <i class="icon-chevron-right"></i></a>
        </div>
        <div class="clear"></div>
    </div>
</div>
{% include "order/call-box.html" %}

<div class="wrapper">

    {% testimonial_search "trust" "limit=3" %}
    
    <div id="trusted-name">
        <div id="trusted-name-content">
            <h2>The Name You Can Trust</h2>
            <p>Protect America is proud to use certified GE wireless home security for our alarm system panels — meaning we use the same trusted and recognized security systems as other leading security companies such as ADT, but sell them for a great deal less. We are confident that you can't find a better home security system anywhere else. And our prices are the best in the industry — we guarantee it!</p>
        </div>
        <div id="trusted-awards"><img src="{{ STATIC_URL }}img/external/consumer-digest-top-consumer-review.png" alt="Consumer Digest Top Consumer Review" width="352" height="176" /></div>
    <div class="clear"></div>
    
    </div>
    <div id="house-diagram">
        
        <div id="diagram-content">
            <h2>A Security System that Does More, and Protects More. Yep, Even the Garage.</h2>
            <p>With the GE Simon XT Control Panel, you can have up to forty detection points. So, Protect America offers a variety of special sensors to protect your home. This includes: Garage Door Sensors, Flood Sensors, Wireless Cameras, Fire and Smoke Detectors, and Motion Sensors. Unlike out dated, wired systems, our sensors require no mess, wires or modifications. And of course, being Protect America, we offer them at an unbeatable price.</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
{% addtoblock "js" %}
    <script type="text/javascript">
    $(document).ready(function() {
        $('#search-testimonial-box').cycle({
            fx: 'fade',
            timeout: 9000
        });
        $('#copper-card').css('cursor','pointer').click(function() {
            window.location = '{% url copper %}';
    	});
        $('#bronze-card').css('cursor','pointer').click(function() {
            window.location = '{% url bronze %}';
    	});
        $('#silver-card').css('cursor','pointer').click(function() {
            window.location = '{% url silver %}';
    	});
        $('#gold-card').css('cursor','pointer').click(function() {
            window.location = '{% url gold %}';
    	});
        $('#platinum-card').css('cursor','pointer').click(function() {
            window.location = '{% url platinum %}';
    	});
    });
    </script>
{% endaddtoblock "js" %}

{% endblock %}  
{% block page-product %}
    <h2>Platinum Security Package</h2>
    <p><span>Price Today: <strong>FREE*</strong></span>monthly monitoring starting at $42.99/mo</p>
    <div class="button-submit">
        <a href="{% url order-package %}?package=platinum" onClick="_gaq.push(['_trackEvent', 'Order Now', 'Order Now Package Footer Click', 'Platinum-B']);">Order Now ></a>
    </div>
{% endblock %}
