@import "../../style.less";

@new-red: #d82830;
@new-dark-blue: #2f394a;
@new-blue: #2a94d6;
@new-green: #55b1ab;
@new-light-green: #92ccc3;
@new-yellow: #fac521;
@new-light-yellow: #ffe28a;

/*----------------------------------------------------*/

a.button {
	text-decoration: none;
}

h1, h2, h3 {
	text-transform: uppercase;
}

a.button, button {
                position:relative;
                display: block;
                .border-radius;
                text-align: center;
                background: @blue;
                color: @white;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: bold;
                line-height: 22px;
                text-shadow: none;
                border: 1px solid transparent;
                border-bottom: 4px solid @dark-blue;
                padding: 8px 16px 6px;
                .fade-slow;
                a {
                    font-weight: bold;
                }
                &:hover {
                    border: 1px solid transparent;
                    border-bottom: 4px solid @dark-blue+50;
                    background: @blue+50;
                    .fade-fast;
                    color: @white;
                }
                &.download {
                	width: 150px;
					background: #fac521;
					color: #2e3849;
					border-bottom: 4px solid #e5b316;
					font-weight: light;
						 &:hover {
				            border: 1px solid transparent;
				            border-bottom: 4px solid #fac521;
				            background: #ffe28a;
				            .fade-fast;
						}
				}
}

.tiny-paragraph {
                text-align: center;
                line-height:16px;
                color:@dark-grey;
                font-size:12px;
}
/*----------------------------------------------------*/

#hero-area {
    height:400px;
    width:100%;
    background: url(/static/img/affiliates/resources/new/home-page/hero-home.jpg) center center no-repeat;
    position: relative; 
    .hero-header-box {
        background: url(/static/img/affiliates/resources/new/home-page/white-box.png) repeat;
        bottom:0;
        position: absolute;
        z-index:1;
        width: 400px;
        height:400px;
        left: 60%;
        .top-content{
            padding-top: 120px;
            .hero-header-content {
                width:350px;
                height:200px;
                text-align: left;
                padding: 16px;
                h1 {                    
                    color: #2f394a;
                    font-size: 20px;
                    font-weight: 500;
                    font-family: inherit;
                }
                h2 {
                    line-height:30px;
                    color: #2f394a;
                    font-size: 20px;
                    font-weight: 500;
                    font-family: inherit;
                }
                p {
                    color: #2f394a;
                    font-size: 12px;
                    font-weight: 500;
                    font-family: inherit;
                }
                a {
                    color: #2a94d6;
                }
                a.button, button {
	                color: @white;
	                margin: 20px 0px;
                }
            }
        }
    }
}
#hero-area-extra {
	height:300px;
    width:100%;
    background-color: @new-dark-blue;
    #hero-heading {
    	text-align: center;
    	padding-top: 70px;
	    h1 {
		    color: @new-yellow;
		    font-size: 60px;
		    line-height: 65px;
		    font-weight: bold;
		    text-transform: none;
		}
	    h2 {
		    color: @white;
		    font-size: 55px;
		    line-height: 70px;
		    font-weight: 100;
		    text-transform: none;
	    }
	}
}
.wrapper {
    width:960px;
    margin: 0 auto;
    hr {
	    margin-bottom: 150px;
    }
    h2 {
		font-size: 20px;
		font-weight: bold;
		margin: 10px 0px;
	}
	h3 {
		font-size: 20px;
		margin: 10px 0px 50px 0px;
		font-weight: light;
	}
    .nav-area {
        display:block;        
        margin:100px auto 100px auto;
        height:300px;
        border-bottom: 1px solid @v-light-grey;
        li{
            width:150px;
            height:200px;
            float:left;
            margin: 0px 21px;
            text-align: center;
			i {
				font-size: 70px;
				color: @new-blue;
			}
            img {
                position:relative;
                display: block;
                margin: 0 auto;
            } 
            p { .tiny-paragraph; }
            a.button, button {
                margin: 15px  auto;
                position:relative;
                width: 84px;
                display: block;
                .border-radius;
                text-align: center;
                background: @blue;
                color: @white;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: bold;
                line-height: 22px;
                text-shadow: none;
                border: 1px solid transparent;
                border-bottom: 4px solid @dark-blue;
                padding: 8px 16px 6px;
                .fade-slow;
                a {
                    font-weight: bold;
                }
                &:hover {
                    border: 1px solid transparent;
                    border-bottom: 4px solid @dark-blue+50;
                    background: @blue+50;
                    .fade-fast;
                    color: @white;
                }
            }
        }
    }
	color: @dark-grey;
	#logos-border {
		padding-bottom: 500px;
		border-bottom: 1px solid @v-light-grey;
	}
	#collateral-border {
		padding-bottom: 580px;
		border-bottom: 1px solid @v-light-grey;
	}
	#header-icon {
		font-size: 40px;
		padding-bottom: 40px;
		margin-right: 10px;
	}
	h1 {
		font-size: 35px; 
		font-weight: lighter;
		display: inline;
	}
	.collateral-types { margin: 0px 60px 145px 0px !important; }
	.downloads-types {
		.types {
			float: left;
			width: 420px;
			height: 150px;
			margin: 0px 60px 80px 0px;
		}
		#tri-brochure-button {
			margin-top: 103px;
		}
		#bi-brochure-button {
			margin-top: 40px;
		}
	}
	.button {
		margin-top: 40px;
	}
	#logo-guidelines {
		margin: 110px 0px 0px 0px;
		padding-bottom: 360px;
		border-bottom: 1px solid @v-light-grey;
		#examples {
			.example-area {
				width: 160px;
				float: left;
				margin: 50px 40px;
				text-align: center;
				p {
					margin-top: 10px;
					.tiny-paragraph;
				}
			}
		}
	}
	#color-guidelines {
		margin: 100px 0px 0px 0px;
		padding-bottom: 260px;
		.colors-area {
			float: left;
			margin: 0px 13px 100px 13px;
			.tiny-paragraph;
	        .colors {
		        margin: 0px auto 10px auto;
				height: 100px;
				width: 85px;
	        }
			#color-red { background-color: @new-red; }
			#color-dark-blue { background-color: @new-dark-blue; }
			#color-blue { background-color: @new-blue; }
			#color-green { background-color: @new-green; }
			#color-light-green { background-color: @new-light-green; }
			#color-yellow { background-color: @new-yellow; }
			#color-light-yellow { background-color: @new-light-yellow; }
		}
	}
	.right-space {
		padding-right: 100px;
	}
	#print-material {
		margin-top: 100px;
		padding-bottom: 1470px;
		border-bottom: 1px solid @v-light-grey;
		.image-area {
			width: 420px;
			margin: 50px 0px;
			height: 375px;
			float: left;
			img {
				float: left;
				margin-right: 10px;
				height: 290px;
				width: 230px;
			}
			p {
				.tiny-paragraph;
				text-align: left;
			}
			.button {
				clear: both;
				top: 30px;
			}
		}
	}
	#posters {
		margin-top: 110px;
		padding-bottom: 1680px;
		border-bottom: 1px solid @v-light-grey;
		.image-area {
			float: left;
			width: 420px;
			margin: 20px 30px;
			img {
				float: left;
				margin-right: 10px;
			}
			p {
				.tiny-paragraph;
				text-align: left;
			}
			.button {
				clear: both;
				top: 30px;
				margin-bottom: 50px;
			}
		}
	}
	#other {
		margin-top: 100px;
		padding-bottom: 370px;
		border-bottom: 1px solid @v-light-grey;
		.image-area {
			float: left;
			width: 420px;
			margin: 20px 30px;
			img {
				float: left;
				margin-right: 10px;
			}
			p {
				.tiny-paragraph;
				text-align: left;
			}
			.button {
				clear: both;
				top: 30px;
				margin-bottom: 50px;
			}
		}
	}
	.item-container {
		float: left;
		width: 280px;
		height: 350px;
		margin: 0px 100px 0px 100px;
		p {
			margin-top: -10px;
		}
	}
	#security-heading {
		width: 960px;
		float: left;
	}
	.product-image { height:150px;}
	#security-top-border {
		padding-bottom: 370px;
		border-bottom: 1px solid @v-light-grey;
	}
	#security-middle-border {
		margin-top: 110px;
		padding-bottom: 1080px;
		border-bottom: 1px solid @v-light-grey;
	}
	.security-bottom-border {
		margin-top: 110px;
		padding-bottom: 750px;
		border-bottom: 1px solid @v-light-grey;
	}
	.image-container {
		border-bottom: 1px solid @v-light-grey;
		margin: 0px 0px 110px 0px;
		padding-bottom: 110px;
	}
}
.masonry-brick {
	margin: 10px 10px 10px 0px !important;
}
#testimonials {
	clear: both;
	background: #55b1a6;
	height: 300px;
	position: relative;
	.container {
		padding: 40px 0px;
		left: 50%;
		border: none;
		text-align: center;
		width:960px;
		margin: 0 auto;
		display:block;
		&:before {
			content:'\f10d';
			font-size: 120px;
			font-family: FontAwesome;
			color: @new-light-green;
			position: absolute;
			left: 100px;
			top: 80px;
		}
		&:after {
			content:'\f10e';
			font-size: 120px;
			font-family: FontAwesome;
			position: absolute;
			right: 100px;
			top: 200px;
			color: @new-light-green;
		}
		img { float:left; }
		.block-quote {
			font-size: 16px;
			font-weight: 100;
			color: @white;
			width: 450px;
			margin: 40px auto 20px auto;
			letter-spacing: 1px;
			line-height: 25px;
		}
		h4 {
	        clear: both;
	        color: @white;
	        font-style: normal;
	        font-size: 14px;
	        font-weight: 600;
	        text-transform: uppercase;
	        padding: 10px 0 0;
		}
	    h3 {
	        line-height:30px;
			color: @white;
			font-size: 20px;
			font-weight: 500;
			font-family: inherit;
	    }
    }
} 
#presentation {
	margin: 0px auto;
	padding-bottom: 790px;
	border-bottom: 1px solid @v-light-grey;
	margin: 0px 0px 110px 0px;

	.button {
		margin: 20px 0px;
	}      
}
#documents {
	padding-bottom: 1070px;
}
.learn-container {
	float: left;
	width: 400px;
	height: 200px;
	margin: 0px 60px 60px 0px;
}
#presentation-heading, #security-heading {
	width: 960px;
	float: left;
}

// pop up styling

body.aff-web-banners #pop-up-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 900;
}
body.aff-web-banners #pop-up-wrapper #popupEntry2 {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 260px;
  width: 425px;
  margin-left: -130px;
  margin-top: -212px;
  z-index: 999;
  border-color: 565656;
  border-width: 1px;
  border-style: solid;
}
body.aff-web-banners #pop-up-wrapper .popUpButton {
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  padding: 10px;
  z-index: 1000;
}
body.aff-web-banners #pop-up-wrapper .popUpButton:hover {
  box-shadow: 0px 0px 5px #999999;
}