@import "../../style";

#hero-area {
    height:400px;
    width:100%;
    background: url(/static/img/affiliates/resources/new/home-page/hero-home.jpg) center center no-repeat;
    position: relative;   
    .hero-header-box {
        background: url(/static/img/affiliates/resources/new/home-page/white-box.png) repeat;
        bottom:0;
        position: absolute;
        z-index:1;
        width: 400px;
        height:400px;
        left: 60%;
        .top-content{
            padding-top: 120px;
       
            .hero-header-content {
                width:350px;
                height:200px;
                text-align: left;
                padding: 16px;
                h1 {                    
                    color: #2f394a;
                    font-size: 20px;
                    font-weight: 500;
                    font-family: inherit;
                }
                h2 {
                    line-height:30px;
                    color: #2f394a;
                    font-size: 20px;
                    font-weight: 500;
                    font-family: inherit;
                }
                p {
                    color: #2f394a;
                    font-size: 12px;
                    font-weight: 500;
                    font-family: inherit;
                
                }
                a {
                    color: #2a94d6;
                }
                a.button, button {
                    margin-top:16px;
                    position:relative;
                    width: 84px;
                    display: block;
                    .border-radius;
                    
                    text-align: center;
                    
                    background: @blue;
                    color: @white;
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 22px;
                    text-shadow: none;
                    border: 1px solid transparent;
                    border-bottom: 4px solid @dark-blue;
                    padding: 8px 16px 6px;
                    .fade-slow;
                    a {
                        font-weight: bold;
                    }
                    &:hover {
                        border: 1px solid transparent;
                        border-bottom: 4px solid @dark-blue+50;
                        background: @blue+50;
                        .fade-fast;
                        color: @white;
                    }
                    &.yellow {
                        background: @yellow;
                        color: @blue;
                        border-bottom: 4px solid #e5b316;
                        &:hover {
                            border: 1px solid transparent;
                            border-bottom: 4px solid @yellow;
                            background: @light-yellow;
                            .fade-fast;
                        }
                    }
                }


            }
        }
    }
}
#wrapper {
    width:960px;
    margin: 0 auto;
     
    .nav-area {
        
        display:block;        
        margin:100px auto;
        height:300px;
        border-bottom: solid #2f394a 1px;
        li{
            width:150px;
            height:200px;
            float:left;
            margin-right:90px;
           
            img {
                position:relative;
                display: block;
                margin: 0 auto;
               
            } 
            p {
                text-align: center;
                line-height:14px;
                color:#2f394a;
                font-size:11px;
            }
            a.button, button {
                margin: 8px  auto;
                position:relative;
                width: 84px;
                display: block;
                .border-radius;
                
                text-align: center;
                
                background: @blue;
                color: @white;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: bold;
                line-height: 22px;
                text-shadow: none;
                border: 1px solid transparent;
                border-bottom: 4px solid @dark-blue;
                padding: 8px 16px 6px;
                .fade-slow;
                a {
                    font-weight: bold;
                }
                &:hover {
                    border: 1px solid transparent;
                    border-bottom: 4px solid @dark-blue+50;
                    background: @blue+50;
                    .fade-fast;
                    color: @white;
                }
                &.yellow {
                    background: @yellow;
                    color: @blue;
                    border-bottom: 4px solid #e5b316;
                    &:hover {
                        border: 1px solid transparent;
                        border-bottom: 4px solid @yellow;
                        background: @light-yellow;
                        .fade-fast;
                    }
                }
            }

        }
        
    }
}
.presentation {
        width:960px;
        margin: 0 auto;
        margin-top:100px;
        margin-bottom: 100px;
        .learn {
            width: 400px;
            height:200px;
            h3 {
                    line-height:30px;
                    color: #2f394a;
                    font-size: 20px;
                    font-weight: 500;
                    font-family: inherit;
                }
                a.button, button {
                margin-top: 20px;
                position:relative;
                display:block;
                width:194px;
                .border-radius;
                
                text-align: center;
                
                background: @blue;
                color: @white;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: bold;
                line-height: 22px;
                text-shadow: none;
                border: 1px solid transparent;
                border-bottom: 4px solid @dark-blue;
                padding: 8px 16px 6px;
                .fade-slow;
                a {
                    font-weight: bold;
                }
                &:hover {
                    border: 1px solid transparent;
                    border-bottom: 4px solid @dark-blue+50;
                    background: @blue+50;
                    .fade-fast;
                    color: @white;
                }
                &.yellow {
                    background: @yellow;
                    color: @blue;
                    border-bottom: 4px solid #e5b316;
                    &:hover {
                        border: 1px solid transparent;
                        border-bottom: 4px solid @yellow;
                        background: @light-yellow;
                        .fade-fast;
                    }
                }
            }

        }
}
#testimonials {
    background: #55b1a6;
    height: 250px;
    position: relative;
       
    .container {
        
        left: 50%;
        border: none;
        text-align: center;
        width:960px;
        margin: 0 auto;
        display:block;
        img {
            float:left;
        }
        .block-quote {
        padding: 60px 0 30px;
        font-size: 18px;
        color: @white;
        width: 400px;
        
        margin:0 auto;
        
        }
        
        p {
            clear: both;
            color: @white;
            font-style: normal;
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
            padding: 20px 0 0;
        }
    }
   
}


   
 