{% extends "affiliates/resources/get-started.html" %}
{% load sekizai_tags content_tags content_filters %}
{% load url from future %}
{% block page_title %}Protect America Affiliate Resources{% endblock %}
{% block navigation %}
{% endblock %}
{% block hero %}
{% endblock %}
{% block icon-nav %}
{% endblock %}
{% block resources-content %}
{% include "affiliates/resources/_partials/resources-nav.html" %}
<div class="wrapper">
	<div id="collateral-border">
		<i class="fa fa-thumb-tack" id="header-icon"></i> &nbsp;<h1>Collateral</h1>
		<div class="downloads-types">
			<div class="types">
				<h2>Press Kit</h2>
				<p>This media kit provides you with a broad overview of Protect America as a company. The media kit contains press releases, company history, community involvement and general information about our products.</p>
				<br />
				<a href="{{ STATIC_URL }}pdf/mediakit.pdf" class="button download">Download Here &nbsp;| &nbsp;<i class="fa fa-download"></i></a>
			</div>
			<div class="types">
				<h2>Brochure</h2>
				<p>The brochure provides the customer and agent with information on prices, packages and categories of products.</p>
				<a href="{{ STATIC_URL }}pdf/brochure.pdf" class="button download" id="brochure-button">Download Here &nbsp;| &nbsp;<i class="fa fa-download"></i></a>
			</div>
	</div>
</div>
    <div id="print-material">
        <h2>Print Material</h2>
        <div class="image-area right-space">
            <img src="{{ STATIC_URL }}img/affiliates/resources/new/collateral-page/print-business-security.jpg" alt="" />
            <p>This flyer is targeted to business owners and focuses on the advantages of the service we offer.</p>
            <a href="" class="button download">Download Here &nbsp;| &nbsp;<i class="fa fa-download"></i></a>
        </div>
        <div class="image-area">
            <img src="{{ STATIC_URL }}img/affiliates/resources/new/collateral-page/print-security-comparison.jpg" alt="" />
            <p>This flyer is targeted to businesses and home owners and focuses on our competitive advantages vs other home security companies.</p>
            <a href="" class="button download">Download Here &nbsp;| &nbsp;<i class="fa fa-download"></i></a>
        </div>
        <div class="image-area right-space">
            <img src="{{ STATIC_URL }}img/affiliates/resources/new/collateral-page/print-smart-connect.jpg" alt="" />
            <p>These product sheets are great for a kiosk. They are intended to inform the consumer about the different variety of products Protect America offers. Not intended for promotional marketing.</p>
            <a href="" class="button download">Download Here &nbsp;| &nbsp;<i class="fa fa-download"></i></a>
        </div>
        <div class="image-area">
            <img src="{{ STATIC_URL }}img/affiliates/resources/new/collateral-page/print-made-easy.jpg" alt="" />
            <div class="text-area">
                <p>This is a basic flyer that talks about our advantages and promotes our $19.99 offer.</p>
                <a href=""  class="button download">Download Here &nbsp;| &nbsp;<i class="fa fa-download"></i></a>
            </div>
        </div>
        <div class="image-area right-space">
            <img src="{{ STATIC_URL }}img/affiliates/resources/new/collateral-page/print-business-packages.jpg" alt="" />
            <div class="text-area">
                <p>The business package allows for you to target different markets beyond consumers. We are capable of providing small businesses with the right equipment to keep their business protected.</p>
                <a href=""  class="button download">Download Here &nbsp;| &nbsp;<i class="fa fa-download"></i></a>
            </div>
        </div>
        <div class="image-area">
            <img src="{{ STATIC_URL }}img/affiliates/resources/new/collateral-page/print-automobile-security.jpg" alt="" />
            <div class="text-area">
                <p>The business package allows for you to target different markets beyond consumers. We are capable of providing small businesses with the right equipment to keep their business protected.</p>
                <a href=""  class="button download">Download Here &nbsp;| &nbsp;<i class="fa fa-download"></i></a>
            </div>
        </div>
    </div>
    <div id="posters">
        <h2>Posters</h2>
        <div class="image-area">
            <img src="{{ STATIC_URL }}img/affiliates/resources/new/collateral-page/poster-best-price.jpg" alt="" />
            <div class="text-area">
                <p>General promotional poster <br>33 x 73 in</p>
                <a href=""  class="button download">Download Here &nbsp;| &nbsp;<i class="fa fa-download"></i></a>
            </div>
        </div>
         <div class="image-area">
            <img src="{{ STATIC_URL }}img/affiliates/resources/new/collateral-page/poster-guard-dog.jpg" alt="" />
            <div class="text-area">
               	<p>General promotional poster <br>33 x 90 in</p>
                <a href=""  class="button download">Download Here &nbsp;| &nbsp;<i class="fa fa-download"></i></a>
            </div>
        </div>
        <div class="image-area">
            <img src="{{ STATIC_URL }}img/affiliates/resources/new/collateral-page/poster-neighborhood-watch.jpg" alt="" />
            <div class="text-area">
               	<p>General promotional poster <br>39 x 48.5 in</p>
                <a href=""  class="button download">Download Here &nbsp;| &nbsp;<i class="fa fa-download"></i></a>
            </div>
        </div>
        <div class="image-area">
            <img src="{{ STATIC_URL }}img/affiliates/resources/new/collateral-page/poster-guard-dog-small.jpg" alt="" />
            <div class="text-area">
               	<p>Poster <br>21 x 27.5 in</p>
                <a href=""  class="button download">Download Here &nbsp;| &nbsp;<i class="fa fa-download"></i></a>
            </div>
        </div>
        <div class="image-area">
            <img src="{{ STATIC_URL }}img/affiliates/resources/new/collateral-page/poster-kiosk-banner.jpg" alt="" />
            <div class="text-area">
               	<p>Kiosk Banner <br>92 x 22 in</p>
                <a href=""  class="button download">Download Here &nbsp;| &nbsp;<i class="fa fa-download"></i></a>
            </div>
        </div>
        <div class="image-area">
            <img src="{{ STATIC_URL }}img/affiliates/resources/new/collateral-page/poster-large-banner.jpg" alt="" />
            <div class="text-area">
               	<p>Banner <br>48 x 22 in</p>
                <a href=""  class="button download">Download Here &nbsp;| &nbsp;<i class="fa fa-download"></i></a>
            </div>
        </div>
    </div>
    
    <div id="other">
    	<h2>Other</h2>
    	<div class="image-area">
            <img src="{{ STATIC_URL }}img/affiliates/resources/new/collateral-page/other-gift-certificate.jpg" alt="" />
            <div class="text-area">
               	<p>Gift certificate <br>6 x 4 in</p>
                <a href=""  class="button download">Download Here &nbsp;| &nbsp;<i class="fa fa-download"></i></a>
            </div>
        </div>
		<div class="image-area">
            <img src="{{ STATIC_URL }}img/affiliates/resources/new/collateral-page/other-business-card.jpg" alt="" />
            <div class="text-area">
               	<p>Business card<br>3 x 2 in</p>
                <a href=""  class="button download">Download Here &nbsp;| &nbsp;<i class="fa fa-download"></i></a>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}

