{% extends "base.html" %}
{% load sekizai_tags content_tags content_filters %}
{% load url from future %}
{% block page_title %}Protect America Affiliate Resources{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/affiliates/resources/resources.css">
{% endblock %}

{% block navigation %}
{% endblock %}
{% block content %}


{% include "affiliates/resources/_partials/resources-nav.html" %}

<div class="wrapper">
    <div id="press-kit">
        <h1>Press Kit</h1>
        <div class="image-area">
            <img src="{{ STATIC_URL }}img/affiliates/resources/press-kit.png"/>
            <div class="text-area">
                <p>This media kit provides you with a broad overview of Protect America as a company. The media kit contains press releases, company history, community involvement and general information about our products.</p>
                <a href="{{ STATIC_URL }}pdf/mediakit.pdf" class="button-link" >Download Here <i class="icon-download-alt"></i></a> 
            </div>
        </div>
    </div>
    <div id="brochure">
        <h1>Brochure</h1>
        <div class="image-area">
            <img src="{{ STATIC_URL }}img/affiliates/resources/brochure.png"/>
            <div class="text-area">
                <p>The brochure provides the customer and agent with information on prices, packages and categories of products.</p>
                <a href="{{ STATIC_URL }}pdf/brochure.pdf" class="button-link" >Download Here <i class="icon-download-alt"></i></a> 
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div id="print-material">
        <h1>Print Material</h1>
        <div class="image-area">
            <img src="{{ STATIC_URL }}img/affiliates/resources/business-package-flyer.png" />
            <div class="text-area">
                <p>The business package flyer allows for you to target different markets beyond consumers. We are capable of providing small business's with the right equipment to keep their business protected.</p>
                <a href="{{ STATIC_URL }}pdf/businesspackage-flyer.pdf" class="button-link" >Download Here <i class="icon-download-alt"></i></a> 
            </div>
        </div>
        <div id="material">
            <div class="image-area">
                <img src="{{ STATIC_URL }}img/affiliates/resources/smart-connect-flyer.png" class="speical"/>
                <div class="text-area">
                    <p>One of our newest features is the Smart Connect App that is offered with all premium packages. Arm and disarm your system from your phone.</p>
                   <a href="{{ STATIC_URL }}pdf/businesspackage-flyer.pdf" class="button-link" >Download Here <i class="icon-download-alt"></i></a> 
                </div>
            </div>
        </div>
    </div>
    <div id="print-material">
        <div class="image-area">
            <img src="{{ STATIC_URL }}img/affiliates/resources/info-slick.png" />
            <div class="text-area">
                <p>The info slick provides package and product information as well as a illustrated diagram on where you can apply the products we offer in a house.</p>
                <a href="{{ STATIC_URL }}pdf/info-slick.pdf" class="button-link" >Download Here <i class="icon-download-alt"></i></a> 
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div id="posters">
        <h1>Posters & Banners</h1>
        <div class="image-area">
            <img src="{{ STATIC_URL }}img/affiliates/resources/smart-connect-poster.png" />
            <div class="text-area">
                <p>The Smart Connect Poster <br>39x48.5 in</p>
                <a href="{{ STATIC_URL }}pdf/smart-connect-poster.jpg" class="button-link" >Download Here <i class="icon-download-alt"></i></a> 
            </div>
        </div>  
        <div id="material">
            <div class="image-area">
                <img src="{{ STATIC_URL }}img/affiliates/resources/pa-banner-one.png"/>
                <div class="text-area">
                    <p>Information Banner<br>36x84in</p>
                   <a href="{{ STATIC_URL }}pdf/businesspackage-flyer.pdf" class="button-link" >Download Here <i class="icon-download-alt"></i></a> 
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div id="posters">
        <div class="image-area">
            <img src="{{ STATIC_URL }}img/affiliates/resources/pa-banner-two.png" />
            <div class="text-area">
                <p>The Smart Connect Banner<br>36x72 in</p>
                <a href="{{ STATIC_URL }}pdf/smart-connect-banner.pdf" class="button-link">Download Here <i class="icon-download-alt"></i></a> 
            </div>
        </div>
        <div id="material">
            <div class="image-banner">
                <img src="{{ STATIC_URL }}img/affiliates/resources/pa-banner-three.png"/>
                <div class="text-area">
                    <p>Interactive Banner <br>36x72 in</p>
                   <a href="{{ STATIC_URL }}pdf/pa-banner-three.pdf" class="button-link" >Download Here <i class="icon-download-alt"></i></a> 
                </div>
            </div>
        </div>        
    </div>  
    <div class="clear"></div>
</div>

{% endblock %}

