{% extends "base.html" %}
{% load sekizai_tags content_tags content_filters %}
{% load url from future %}
{% block page_title %}Protect America Affiliate Resources{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/affiliates/resources/resources.css">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
{% endblock %}
{% block navigation %}
{% endblock %}
{% block content %}
    {% block hero %} 
    <div id="hero-area"> 
          <div class="hero-header-box">
            <div class="top-content">
                <div class="hero-header-content">
                    <h1>Let's Get Started:</h1>
                    <h2>Access Your Affiliate Reports</h2>
                    <p>To access your affiliate reports, please visit <a href="http://www.protectamerica.com/reports/">http://www.protectamerica.com/reports/</a> and enter your <i>user name</i> and <i>password.</i></p>
                    <p><strong>Please Note: User name and password are case sensitive.</strong></p>
                    <a href="http://www.protectamerica.com/reports/" class="button">LOGIN</a>
                </div>
            </div>
         </div>
    </div>
    {% endblock %}
    {% block icon-nav %}
    <div class="wrapper">
        <div class="nav-area">
            <ul>
            	<li><i class="fa fa-home"></i><a href="#" class="button">HOME</a>
                    <p>Get started with training essentials and educational presentations</p></li>
                <li><i class="fa fa-folder-open-o"></i><a href="logos" class="button">LOGOS</a>
                    <p>Learn about our branding standards and download our logos for print or web</p></li>
                <li><i class="fa fa-desktop"></i><a href="web-banners" class="button">WEB BANNER</a>
                    <p>We offer a wide array of downloadable web banners for advertising</p></li>
                <li><i class="fa fa-thumb-tack"></i><a href="collateral" class="button">COLLATERAL</a>
                    <p>Editable print material is available for download here</p></li>
                <li><i class="fa fa-tags"></i><a href="products" class="button">PRODUCTS</a>
                    <p>Product images are available for a variety of purposes</p></li>
            </ul>
         </div>
    </div>
    {% endblock %}
    {% block resources-content %}
    <div class="wrapper">
    	<div id="presentation">
	    	<div id="#presentation-heading"><i class="fa fa-film" id="header-icon"></i> &nbsp;<h1>Presentations</h1></div>
	        <div class="learn-container">
	            <h2>About the Agent Program</h2>
	            <p>This presentation provides the basics about our agent program before you start. </p>
	            <a  href="{{ STATIC_URL }}pdf/new/training-agent-program.pdf" class="button download">Download Here </a>
	        </div>
	        <div class="learn-container">
	            <h2>New Agent Training</h2>
	            <p>This presentation provides a more in depth guide to you about our agent program now that you're a part of the team.</p>
	            <a href="{{ STATIC_URL }}pdf/new/training-new-agent.ppt" class="button download">Download Here </a>
	        </div>
	        <div class="learn-container">
	            <h2>Sales Training</h2>
	            <p>This presentation provides an excellent introduction to the ins-ands-out of sales.</p>
	            <a href="{{ STATIC_URL }}pdf/new/training-sales.pptx" class="button download">Download Here </a>
	        </div>
	        <div class="learn-container">
	            <h2>POS Credit Card Training</h2>
	            <p>This presentation provides a helpful guide to credit card sales and solutions to most issues.</p>
	            <a href="{{ STATIC_URL }}pdf/new/training-pos-credit-card.pptx" class="button download">Download Here </a>
	        </div>
	        <div class="learn-container">
	            <h2>Z-Wave Equipment Training</h2>
	            <p>This presentation provides a detailed guide to z-wave equipment.</p>
	            <a href="{{ STATIC_URL }}pdf/new/training-zwave-equipment.pptx" class="button download">Download Here </a>
	        </div>
    	</div>
    	
    	<div id="documents">
	    	<div id="#documents-heading"><i class="fa fa-file-o" id="header-icon"></i> &nbsp;<h1>Documents</h1></div>
	        <div class="learn-container">
	            <h2>Telesales Pitch Training</h2>
	            <p>This document provides a step-by-step guide to sales pitches which utilize telecommunications.</p>
	            <a  href="{{ STATIC_URL }}pdf/new/training-telesales-pitch.pdf" class="button download">Download Here </a>
	        </div>
	        <div class="learn-container">
	            <h2>Equipment Sales Handbook</h2>
	            <p>This document provides a handbook on the specifics of equipment sales.</p>
	            <a href="{{ STATIC_URL }}pdf/new/training-equipment-sales-handbook.pdf" class="button download">Download Here </a>
	        </div>
	        <div class="learn-container">
	            <h2>Online Agreement FAQ</h2>
	            <p>This document provides frequently asked questions about the online agreement.</p>
	            <a href="{{ STATIC_URL }}pdf/new/training-online-agreement-faq.pdf" class="button download">Download Here </a>
	        </div>
	        <div class="learn-container">
	            <h2>Discovery Questions</h2>
	            <p>This document provides a list of questions to assist during the sales process.</p>
	            <a href="{{ STATIC_URL }}pdf/new/training-discovery-questions.pdf" class="button download">Download Here </a>
	        </div>
	        <div class="learn-container">
	            <h2>Objections Training</h2>
	            <p>This document provides training on how to handle customer objections during a sale.</p>
	            <a href="{{ STATIC_URL }}pdf/new/training-common-objections.pdf" class="button download">Download Here </a>
	        </div>
	        <div class="learn-container">
	            <h2>Shipping & Delivery</h2>
	            <p>This document provides information regarding shipping and delivery.</p>
	            <a href="{{ STATIC_URL }}pdf/new/training-shipping-delivery.pdf" class="button download">Download Here </a>
	        </div>
	        <div class="learn-container">
	            <h2>Camera Installation Manual</h2>
	            <p>This document provides a detailed manual on installation of wireless cameras.</p>
	            <a href="{{ STATIC_URL }}pdf/new/training-camera-installation.pdf" class="button download">Download Here </a>
	        </div>
    	</div>
    	<div id="videos">
	    	<div id="#documents-heading"><i class="fa fa-video-camera" id="header-icon"></i> &nbsp;<h1>Videos</h1></div>
	        <div class="learn-container">
	            <h2>New Dealer Training</h2>
	            <a  href="https://www.dropbox.com/s/hzck15r3zzxx5g0/new-agent-training-2013-10-21.wmv" class="button download">Download Here </a>
	        </div>
	        <div class="learn-container">
	            <h2>Online Agreement Training</h2>
	            <a href="https://www.dropbox.com/s/rmcm0spt47d2kwc/online-agreement-training-2013-10-21.wmv" class="button download">Download Here </a>
	        </div>
	        <div class="learn-container">
	            <h2>Positioning Training</h2>
	            <a href="https://www.dropbox.com/s/2ltdufbv7ee436r/positioning-training.wmv" class="button download">Download Here </a>
	        </div>
    	</div>
    </div>

    {% endblock %}
{% endblock %}
 
{% block order-footer %}
{% endblock %}
