{% extends "base.html" %}
{% load sekizai_tags content_tags content_filters %}
{% load url from future %}
{% block page_title %}Protect America Affiliate Resources{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/affiliates/resources/resources.css">
{% endblock %}

{% block navigation %}
{% endblock %}
{% block content %}


</div>
{% include "affiliates/resources/_partials/resources-nav.html" %}


<div class="wrapper">
    <div id="download-area">
        <div id="horizontal-logo">
            <img src="{{ STATIC_URL }}img/affiliates/resources/pa-logo-horizontal.png"/>
            <div class="button-link">
                <a href="{{ STATIC_URL }}img/affiliates/resources/horizontal.zip"  >Download Here</a>
            </div>
        </div>       
        <div id="horizontal-logo">
            <img src="{{ STATIC_URL }}img/affiliates/resources/pa-logo-vertical.png"/>
            <div class="button-link">
                <a href="{{ STATIC_URL }}img/affiliates/resources/vertical.zip" >Download Here</a>
            </div>
        </div>
        <div id="horizontal-logo">
            <img src="{{ STATIC_URL }}img/affiliates/resources/pa-logo-white-horizontal.png"/>
            <div class="button-link">
                <a href="{{ STATIC_URL }}img/affiliates/resources/horizontal-white.zip" >Download Here</a>
            </div>           
        </div>
        <div id="horizontal-logo">
            <img src="{{ STATIC_URL }}img/affiliates/resources/pa-logo-white-vertical.png"/>
            <div class="button-link">
                <a href="{{ STATIC_URL }}img/affiliates/resources/vertical-white.zip" >Download Here</a>
            </div>            
        </div>

    </div>
    <div id="rules">
        <h1>Logos</h1>
            <h2>Horizontal</h2>
            <p>The horizontal logo is the preferred use of our brand.</p>
            <h2>Vertical</h2>
            <p>In cases where the horizontal logo becomes illegible we recommend using the vertical logo.</p>
            <h2>White Logo</h2>
            <p>In cases where the background is red or blue and the logo becomes hard to read use the white alternative logos.</p>
        </div> 
    </div>
</div>
<div class="wrapper">
    <div id="what-not-to-do">
        <h2>What Not To Do</h2>
        <p>It is good practice to use the logo correctly to withhold the integrity of the Protect America brand.</p>
    </div>
    <div id="examples">
        <div id="example-area">
            <img src="{{ STATIC_URL }}img/affiliates/resources/pattern.png" alt="pattern" width="161" height="56" />
            <div id="mark">
                <img src="{{ STATIC_URL }}img/affiliates/resources/mark.png" alt="mark" width="26" height="24" />
                <p>Placing the logo over patterns  is  not  recommended. It obstructs the integrity of the logo.</p>
            </div>
        </div>
        <div id="example-area">
            <img src="{{ STATIC_URL }}img/affiliates/resources/picture.png" alt="pattern" width="161" height="56" />
            <div id="mark">
                <img src="{{ STATIC_URL }}img/affiliates/resources/mark.png" alt="mark" width="26" height="24" />
                <p>Do not place the logo over areas where the logo becomes unreadable.</p>
            </div>
        </div>
        <div id="example-area">
            <img src="{{ STATIC_URL }}img/affiliates/resources/logo-white-blue-bg.png" alt="pattern" width="161" height="56" />
            <div id="mark">
                <img src="{{ STATIC_URL }}img/affiliates/resources/check.png" alt="mark" width="26" height="24" />
                <p>Place the logo on solid color areas.</p>
            </div>
        </div>
        <div id="example-area">
            <img src="{{ STATIC_URL }}img/affiliates/resources/pa-logo-picture-bg.png" alt="pattern" width="161" height="56" />
            <div id="mark">
                <img src="{{ STATIC_URL }}img/affiliates/resources/check.png" alt="mark" width="26" height="24" />
                <p>Place the logo in spaces  where there is a solid, clear area. </p>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div id="rules-two">
        <h1>Colors</h1>
        <div id="pantone">
            <img src="{{ STATIC_URL }}img/affiliates/resources/pantone-blue.png"/>
            <h2>Blue:</h2>
            <p>HEX: #0069AA
            <br>CMYK: 92, 58, 6, 1
            <br>RGB: 0, 105, 170</p>
        </div>
        <div id="pantone">
            <img src="{{ STATIC_URL }}img/affiliates/resources/pantone-red.png"/>
            <h2>Red:</h2>
            <p>HEX: #E31B23
            <br>CMYK: 0, 100, 99, 4 
            <br>RGB: 207, 27, 35</p>
        </div>

    </div>
           
</div>


{% endblock %}
{% block order-footer %}
{% endblock %}


