@charset "UTF-8";
@import "mixin";


body {
}
#header {
    #header-wrapper {
        #phone-number {

            a {

            }
        }
        #company-logo {

            #main-logo {

                img {
                }
            }
            #main-navigation {

                li {

                    img {
                    }
                    &:hover {
                    }
                    &.active {
                    }
                }
            }
        }
    }
}
#hero-wrapper {
    background: #0069aa url(/static/img/affiliates/sem-landing-page/rep/mobile-hero-backdrop.jpg) right 55px no-repeat;
    height: 350px;
    h1 {

        span {
        }
    }
    ul {

        li {
            font-size: 12px;
            line-height: 16px;
        }
    }
    .price-tag {
        top: 8px;
        right: 8px;
    	em {
    	}
		p {

			sup {
			}
			span {

			}
		}
    }
    #mobile-banner {
    }
}
#call-box {

    a {

    }

}
#advantages, #security-packages, #sets-apart, #customer-testimonials {

    .header {

        .left-side {

        }
        .right-side {

        }
        h2 {

            span {

            }
        }
    }
    #home-security-package-choices {
    	#home-security-packages {
			.premium-packages-header {
			}
    		#copper-security-package, #bronze-security-package, #silver-security-package, #gold-security-package, #platinum-security-package {

    			.package-name {

    				h3 {
    				}
					p {

						sup {
						}
						span {

						}
					}
    			}

    			.package-info {

    				ul {
        				padding: 19px 0px;
        				height: 67px;
    					li {
 
    					
    					}
    					&.extra-features {

	    					li {
	    					}
    					}
    				}
    			}
    			
    		}
    	}
    }
    #order-reassurance, #alarm-monitoring-options {
        #lowest-price-guaranteed, #lifetime-warranty, #homeowner-insurance-discount, #relocation-kit, #free-tech-support, #cellular-monitoring-option, #broadband-monitoring-option, #landline-monitoring-option {
            margin-bottom: 16px;
            img {
                width: 100px;
                margin-right: 16px;
            }
            .text {
                width: 300px;
                h3 {
                    font-size: 20px;
                }
                p {
                    font-size: 14px;
                    line-height: 16px;
                }
            }
        }
        #free-tech-support {

        }
    }
    #comparison-table {

        th {

        }
        tbody {
            td {

                &.pa {

    
                    &.alpha {

                    }
                    &.omega {

                        
                    }
                }
                &.title {

                }
                &.omega {
                }
                img {

                }
            }
        }
        tfoot {
            td {

                .header-button {

                    &:hover {
                    }
                }
            }
        }
    }
    .testimonial {
        h3 {
            background: url(/static/img/affiliates/sem-landing-page/rep/testimonial-arrow.png) center bottom no-repeat;
            padding-left: 16px;
            padding-bottom: 32px;
            span {
            }
            strong {
            }
        }
        p {
            width: 317px;
        }
    }
}
#customer-testimonials {

}
#footer {


    p {

    }
}