@charset "UTF-8";

@import "style";

/*************** Main Styles ************/
body {
    background: #f0f2f3 url(/static/img/affiliates/five-linx/main-wrapper-bg.jpg) center top no-repeat;
    text-align: center;
    font-family: Helvetica Neue, Arial, sans-serif;
    border-top: 3px solid @blue;

}

.wrapper {
    background: @white;
    width: 584px;
    .callbox {
    }
    #navigation {
        ul {
            li {
                margin: 0 42px;
            }
        }
    }
    #silver-package {
        .package-image {
            width: 290px;
            float: left;
        }
        #package-info {
            float: left;
            width: 270px;
            padding-bottom: 8px;
        }
        h1 {
            font-size: 32px;
            line-height: 32px;
        }
        ul {
            li {
                float: left;
                width: 127px;
                font-size: 10px;
            }
        }
        #low-price-seal {
            float: left;
            width: 114px;
            padding-top: 8px;
            img {
                width: 114px;
            }
        }
        #package-price {
            padding-top: 8px;
            p {
                text-align: left;
            }
        }
    }
    .other-package {
        h3 {

        }
        ul {
            li {

            }
        }
        p {
        }
    }
}
.button-link {
    a {
        padding: 10px 175px;
    }
}