@charset "UTF-8";

@import "style";


/*************** Main Styles ************/
body {
    background: #f0f2f3 url(/static/img/affiliates/five-linx/main-wrapper-bg.jpg) center top no-repeat;
    text-align: center;
    font-family: Helvetica Neue, Arial, sans-serif;
    border-top: 3px solid @blue;

}

.wrapper {
    background: @white;
    width: 752px;
    .callbox {
    }
    #navigation {
        ul {
            li {
                margin: 0 100px;
            }
        }
    }
    #silver-package {
        .package-image {
            width: 376px;
            float: left;
        }
        #package-info {
            float: left;
            width: 376px;
            padding-bottom: 8px;
        }
        h1 {
            font-size: 32px;
            line-height: 32px;
        }
        ul {
            li {
                float: left;
                width: 127px;
                font-size: 10px;
            }
        }
        #low-price-seal {
            float: left;
            width: 150px;
            padding-top: 8px;
            img {
                width: 150px;
            }
        }
        #package-price {
            padding-top: 24px;
            text-align: left;
            p {
                text-align: left;
            }
            span {
                font-size: 16px;
            }
        }
    }
    #encouragement {
        #all-day-protection, #unbeatable-price, #wireless-security, #ge-logo {
            float: left;
            width: 234px;
            img {
                float: none;
                width: 178px;
            }
            h2 {

                text-align: center;
                
            }
            p {
                text-align: center;
                padding: 0 16px;
            }
        }
    }
    .other-packages-header {

    }
    .other-package {
        width: 170px;
        float: left;
        background: @white;
        .button-link {
            display: block;
        }
        img {
            display: block;
            margin-top: 4px;
            width: 100%;
        }
        h3 {

        }
        ul {
            li {
                width: 158px;
            }
        }
        span {
            color: @red;
            text-align: center;
            display: block;
            font-size: 22px;
            line-height: 22px;
            font-weight: bold;
            clear: both;
            padding-top: 16px;
        }
        p {
            width: 158px;
            text-align: center;
            margin: 0 0 8px;
        }
        .button-link {
            a {
               .background-gradient(#90af01, #829e01);
                &:hover {
                    .background-gradient(#90af01, #687e01);
                    border: 1px solid #768f03;
                    border-bottom: 1px solid #576902;
                }
            }
        }
        &.silver-package {
            display: none;
        }
    }
}
#bottom-form {
    .content-box;
    h2 {
        font-weight: bold;
        padding-top: 16px;
        border-top: 1px solid #ccc;
        margin-top: 16px;
        font-size: 36px;
        line-height: 48px;
        display: block;
    }
    #call-us {
        display: block;
        width: 420px;
        float: left;
        h3 {
            text-align: left;
            font-size: 32px;
            padding: 16px 16px 8px;
            line-height: 36px;
        }
        h4 {
            text-align: left;
            font-weight: bold;
            padding: 0 16px;
            span {
                display: block;
                font-size: 36px;
                font-weight: 300;
                color: @dark-grey;
            }
            a {
                color: @red;
                display: block;
                text-decoration: none;
                font-size: 48px;
            }
        }
        p {
            padding: 0 32px 0 16px;
            line-height: 24px;
        }
    }
    #quote-form {
        width: 304px;
        float: left;
        input {
            width: 281px;

        }
        p {
            text-align: center;
            color: @white;
            font-size: 24px;
            padding-top: 8px;
        }
    }
}
.button-link {
    a {
        padding: 10px 175px;
    }
}
/*************** GPS *************/
#location-found {
    background: url(/static/img/products/gps/location-found.jpg) center top no-repeat;

}