@charset "UTF-8";

@import "style";


/*************** Main Styles ************/
body {
    background: #f0f2f3 url(/static/img/affiliates/five-linx/main-wrapper-bg.jpg) center top no-repeat;
    text-align: center;
    font-family: Helvetica Neue, Arial, sans-serif;
    border-top: 3px solid @blue;

}

.wrapper {
    background: @white;
    width: 960px;
    .callbox {
    }
    #navigation {
        ul {
            li {
                margin: 0 32px;
                &.first {
                    margin-right: 32px;
                }
                &.video-security {
                    display: inline;
                    margin-right: 136px;
                }
                &.gps-tracking {
                    display: inline;
                }
            }
        }
    }
    #main-package {
        #the-main-package {
            width: 646px;
            float: left;
            margin-top: 24px;
            position: relative;
            overflow: hidden;
            .button-link {
                text-align: right;
                margin-right: 24px;
                a {
                    padding: 8px 100px;
                    font-size: 14px;
                }
            }
            .package-image {
                width: 388px;
                float: left;
                padding-top: 16px;
                position: absolute;
                left: -44px;
                z-index: 0;
            }
            #package-info {
                float: left;
                width: 326px;
                padding-bottom: 8px;
                margin-left: 320px;
                z-index: 999;
                position: relative;
            }
            h1 {
                font-size: 27px;
                line-height: 32px;
            }
            ul {
                li {
                    float: left;
                    width: 155px;
                    font-size: 12px;
                }
            }
            #low-price-seal {
                float: left;
                width: 150px;
                padding-top: 8px;
                img {
                    width: 150px;
                }
            }
            #package-price {
                padding-top: 24px;
                text-align: left;
                p {
                    text-align: left;
                }
                span {
                    font-size: 16px;
                }
            }

        }
        #quote-form {
            display: block;
            float: left;
            width: 304px;
            .background-gradient(@blue, #123763);
            margin: 0px auto 8px;
            padding-bottom: 8px;
            text-align: center;
            p {
                font-weight: bold;
                font-size: 24px;
                color: @white;
                line-height: 42px;
            }
            input {
                margin: 0 8px;
                display: block;
                height: 28px;
                font-size: 20px;
                line-height: 28px;
                width: 281px;
            }
            label {
                text-align: left;
                padding: 0 8px;
                color: @white;
                display: block;
                padding-top: 8px;
                font-size: 14px;
            }
            button {
                display: block;
                .background-gradient(#e22204, #b71c03); 
                margin: 0 auto;
                color: @white;
                padding: 10px 75px;
                text-decoration: none;
                border: 1px solid transparent;
                font-size: 18px;
                font-weight: bold;
                -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.3);
                -moz-box-shadow: 0 1px 1px rgba(0,0,0,.3);
                box-shadow: 0 1px 1px rgba(0,0,0,.3);
                width: 287px;
                margin-top: 16px;
            }
            #quote-form-error {
                display: none;
            }
            a {
                font-size: 10px;
                color: @white;
                text-decoration: none;
                :hover {
                    text-decoration: underline;
                }
            }
            #third-party-container {
                padding: 4px 0;
            }
        }

    }
    #encouragement {
        #all-day-protection, #unbeatable-price, #wireless-security, #ge-logo, #lifetime-warranty, #owned-system, #homeowners-insurance {
            float: left;
            width: 220px;
            img {
                float: none;
                width: 178px;
            }
            h2 {

                text-align: center;
                
            }
            p {
                text-align: center;
                padding: 0 16px;
            }
        }
        #ge-logo, #owned-system {
            display: block;
        }
    }

    .other-packages-header {

    }
    .other-package {
        width: 174px;
        float: left;
        background: @white;
        img {
            display: block;
            margin-top: 4px;
            width: 100%;
        }
        h3 {

        }
        ul {
            li {
                width: 158px;
            }
        }
        p {
            width: 158px;
            text-align: center;
            margin: 8px 0;
        }
        .button-link {
            a {
               .background-gradient(#90af01, #829e01);
                &:hover {
                    .background-gradient(#90af01, #687e01);
                    border: 1px solid #768f03;
                    border-bottom: 1px solid #576902;
                }
            }
        }
        &.silver-package {
            display: block;
        }
    }
}
#bottom-form {
    .content-box;
    h2 {
        font-weight: bold;
        padding-top: 24px;
        padding-bottom: 24px;
        border-top: 1px solid #ccc;
        margin-top: 16px;
        font-size: 42px;
        line-height: 48px;
        display: block;
    }
    #call-us {
        display: block;
        width: 620px;
        float: left;
        h3 {
            text-align: left;
            font-size: 32px;
            padding: 16px 48px 8px;
            line-height: 36px;
        }
        h4 {
            text-align: left;
            font-weight: bold;
            padding: 0 48px;
            span {
                display: block;
                font-size: 36px;
                font-weight: 300;
                color: @dark-grey;
            }
            a {
                color: @red;
                display: block;
                text-decoration: none;
                font-size: 48px;
            }
        }
        p {
            padding: 0 60px 32px 48px;
            line-height: 24px;
        }
    }
    #quote-form {
        width: 304px;
        float: left;
        input {
            width: 281px;

        }
        p {
            text-align: center;
            color: @white;
            font-size: 24px;
            padding-top: 8px;
        }
    }
}
.button-link {
    a {
        .background-gradient(#90af01, #829e01);
        &:hover {
            .background-gradient(#90af01, #687e01);
            border: 1px solid #768f03;
            border-bottom: 1px solid #576902; 
        }
    }
}
.big-button-link {
    padding-top: 38px;
}
/*************** Package Pages *************/
#in-your-home {
    img {
        float: left;
        width: auto;
    }
    p {
        padding: 48px 48px 0;
    }
}
.copper, .bronze, .silver, .gold, .platinum {
    .wrapper {
        #main-package {
            #the-main-package {
        
    
                .package-image {
                    width: 450px;
                    left: -42px;
                    top: -22px;
                }
            }
        }
        .other-package {
            width: 222px;
            p {
                width: 206px;
            }
        }
    }
}
.bronze {
    .wrapper {
        #main-package {
            #the-main-package {
        
    
                .package-image {
                    left: -75px;
                }
            }
        }
    }
}
.silver, .gold, .platinum {
    .wrapper {
        #main-package {
            #the-main-package {
        
    
                .package-image {
                    width: 380px;
                }
            }
        }
    }
}
/********** GPS **********/

#top-content {
    #gps-tracking-overview {
        float: left;
        width: 613px;
        img {
            position: absolute;
            left: -150px;
            width: 450px;
        }
        #gps-overview-content {
            z-index: 50;
            position: relative;
            padding-left: 235px;
            width: 390px;
        }
    }
    #interactive-video-overview {
        float: left;
        width: 613px;
        padding-bottom: 64px;
        img {
            position: absolute;
            left: -159px;
            width: 608px;
            top: 88px;
        }
        #video-overview-content {
            z-index: 50;
            position: relative;
            padding-left: 235px;
            width: 360px;
            padding-top: 32px;
        }
    }

    #quote-form {
        display: block;
    }
}
#home-business-security {
    .content-box;
    #home-video-security, #business-video-security {
        .content-box(416px);
        text-align: left;
        padding: 0 32px;
        img {
            width: auto;
        }
    }
}
#location-found {
    #lost-car {
        padding: 0 48px;
    }
}
/************ Thank You ****************/

#thank-you-top {
    .content-box(929px);
    padding: 16px 16px;
    #thank-you-content {
        .content-box(400px);
        float: left;
        padding-top: 92px;
        text-align: left;
        h2 {
            padding-left: 0;
        }
    }
    #thank-you-img {
        display: block;
        .content-box(475px);
        float: left;
        img {
            width: 371px;
        }
    }
}
#what-next {
    .content-box;
    background: url(/static/img/thank-you-pages/arrows-bg.png) center 68px no-repeat;
    h2 {
        font-weight: bold;
    }
    #security-professional, #build-system, #secured-home {
        .content-box(320px);
        text-align: center;
        h3 {
            font-weight: bold;
            font-size: 28px;
            line-height: 32px;
        }
        p {
            padding: 0 32px;
            font-size: 14px;
            color: @dark-grey;
            text-align: center;
            line-height: 18px;
        }
    }
}
