@charset "UTF-8";



/************************************
*   Reset                           *
************************************/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}:focus{outline:0;}body{line-height:1;color:#000;background:@white;}ol,ul{list-style:none;}table{border-collapse:separate;border-spacing:0;}caption,th,td{text-align:left;font-weight:normal;}blockquote:before,blockquote:after,q:before,q:after{content:"";}blockquote,q{quotes:"" "";}.container_full{overflow:hidden;width:100%;}.padding_10{padding:10px;}.center{text-align:center;}.absolute{position:absolute!important;}.relative{position:relative!important;}.text-center{text-align:center;}.float_left{float:left;}
.clear {
    clear: both;
    height: 0;
    line-height: 0;
}

/********** Color Selection ***********/

// Shades of Grey
@white: #fff;
@off-white: #fcfcfc;
@v-light-grey: #eee;
@light-grey: #ccc;
@grey: #888;
@dark-grey: #4A505A;
@black: #333; /* In place of black, PA uses a very dark grey. */

// Shades of Blue
@v-light-blue: #f2fdff;
@light-blue: #7fb8e0;
@blue: #22609e;
@dark-blue: #023269;
@link-blue: #0066B3;
@navy-blue: #2f394a;

// Shades of Blood
@light-red: #ffdfdf;
@red: #e51b24;
@dark-red: #8b0404;
@pink: #eaa3a3;
@dark-pink: #f17069;

// Shades of Green
@light-green: #DDF7B7;
@green: #367403;
@dark-green: #005500;




/********** Mix-ins ***********/

.border-radius (@top-left-radius: 10px, @top-right-radius: 10px, @bottom-right-radius: 10px, @bottom-left-radius: 10px) {
    border-radius: @top-left-radius @top-right-radius @bottom-right-radius @bottom-left-radius;
    -moz-border-radius: @top-left-radius @top-right-radius @bottom-right-radius @bottom-left-radius;
    -webkit-border-top-left-radius: @top-left-radius;
    -webkit-border-top-right-radius: @top-right-radius;
    -webkit-border-bottom-left-radius: @bottom-left-radius;
    -webkit-border-bottom-right-radius: @bottom-right-radius;
}
.drop-shadow (@shadow-x: 0px, @shadow-y: 2px, @shadow-blur: 5px, @shadow-color: @dark-grey) {
    -moz-box-shadow: @shadow-x @shadow-y @shadow-blur @shadow-color;
    -webkit-box-shadow: @shadow-x @shadow-y @shadow-blur @shadow-color;
    box-shadow: @shadow-x @shadow-y @shadow-blur @shadow-color;
}
.inset-shadow (@shadow-x: 0px, @shadow-y: 0px, @shadow-blur: 5px, @shadow-color: @light-blue) {
    -moz-box-shadow: inset @shadow-x @shadow-y @shadow-blur @shadow-color;
    -webkit-box-shadow: inset @shadow-x @shadow-y @shadow-blur @shadow-color;
    box-shadow: inset @shadow-x @shadow-y @shadow-blur @shadow-color;
}
.rotate (@rotation) {
    -webkit-transform: rotate(@rotation);
    -moz-transform: rotate(@rotation);
    transform: rotate(@rotation);

}
.text-bump (@bumpness) {
    padding-top: @bumpness;
}
.text-compensate (@compensation) {
    height: @compensation;
}
.fade-slow {
    -webkit-transition: background-color .7s ease-out;
    -moz-transition: background-color .7s ease-out;
    transition: background-color .7s ease-out;


}
.fade-fast {
    -webkit-transition: background-color .3s ease-out;
    -moz-transition: background-color .3s ease-out;
    transition: background-color .3s ease-out;

}
img.image-break {
    left: -150px;
    position: absolute;
    z-index: -50;
}
.image-break (@bumpness: -150px) {
    left: @bumpness;
    position: absolute;
    z-index: -50;
}
.image-break-right (@bumpness: 50px) {
    right: @bumpness;
    position: absolute;
    z-index: -50;
}
.image-break-ribbon {
    position: absolute;
    right: -145px;
    top: 0px;
    z-index: -50;

}
.background-gradient(@top-color: @blue, @bottom-color: #005f9a) {
    background: @top-color;
    background-image: -moz-linear-gradient(top,@top-color,@bottom-color);
    background-image: -webkit-gradient(linear,left top,left bottom,from(@top-color),to(@bottom-color));
}
.absolute {
    position: absolute;
    z-index: -50;

}
.flood-left {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -50;

}
.flood-right {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -50;

}

strong {
    font-weight: bold;
}
