{% extends "base.html" %}
{% load sekizai_tags content_tags content_filters %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/spanish.css">
    <script type="text/javascript" src="//use.typekit.net/lgm4msi.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
{% endblock %}

{% block typekit %}tk-jaf-facitweb{% endblock %}
{% block quick-links %}
<ul id="quick-link-navigation">
    <li id="quick-social">                
        <div id="google-button">
            <g:plusone size="small" href="http://www.protectamerica.com" onClick="_gaq.push(['_trackEvent', '+1 Us', 'Quick Social', '{{ page_name }}']);"></g:plusone>
        </div>
        <div id="facebook-button">
            <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fprotectamerica&amp;send=false&amp;layout=button_count&amp;width=90&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;appId=179318388788943" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:21px;" allowTransparency="true" onClick="_gaq.push(['_trackEvent', 'Like Us', 'Quick Social', 'PAGE_NAME']);"></iframe>
        </div>
        <div class="clear"></div>
    </li>
    {% comment %}
    <li><a href="https://server.iad.liveperson.net/hc/34774121/?cmd=file&file=visitorWantsToChat&site=34774121&byhref=1&SESSIONVAR!skill=Customer%20Service&imageUrl=https://www.protectamerica.com/images/liveperson" title="Chat Online with a Security Expert" target="_blank" onClick="_gaq.push(['_trackEvent', 'Chat Online', 'Quick Links Chat Online Click', 'Header']);" id="security-agreement">Chat En Directo</a></li>
    {% endcomment %}
    <li class="big-blue"><a href="https://secure.protectamerica.com" title="Enter the Online Agreement" id="security-agreement" onClick="_gaq.push(['_trackEvent', 'Links', 'Click', 'Agreement Process']);">Contrato</a></li>
</ul>
{% endblock %}
{% block main-phone %}
    {% if phone_number %}
    <div id="phone-number">
        <p>&iexcl;Llame hoy y ahorre ! <span{% if use_call_measurement %} class="dynamic-phone-number"{% endif %}><a href="tel:{{ phone_number|format_number }}">{{ phone_number|format_number }}</a></span></p>
    </div>
    {% endif %}
{% endblock %}
{% block navigation %}
{% endblock %}
{% block content %}
</div>
<div id="spanish-hero-wrapper">
    <div id="spanish-topper">
        <div id="hero-image">
            <img src="{{ STATIC_URL }}img/spanish/best-security-offer.png" alt="best-security-offer" />
        </div>
        {% include "order/quote-form.html" with form=forms.basic %}

    </div>
</div>
<div class="wrapper">
    {% if phone_number %}
    {% businesstime %}
    <div class="clear"></div>
    <div id="call-box">
        {% block call-box-text %}<p>Asegure su hogar hoy, <strong>&iexcl;Llame ahora! {% endblock %}<span{% if use_call_measurement %} class="dynamic-phone-number"{% endif %}><a href="tel:{{ phone_number|format_number }}">{{ phone_number|format_number }}</a></span></strong></p>
    </div>
    <div class="clear"></div>
    {% endbusinesstime %}
    
    {% endif %}
    <div id="security-benefits">
        <div id="advantage-badges">
            <img src="{{ STATIC_URL }}img/external/consumer-digest/consumer-digest-logo.jpg" alt="consumer-digest-logo" width="136" height="120" />
            <img src="{{ STATIC_URL }}img/external/top-consumer-reviews/top-consumer-logo.jpg" alt="top-consumer-logo" width="128" height="120" id="top-consumer-logo" />
            <img src="{{ STATIC_URL }}img/external/ge-logo-blue.png" alt="ge-logo-blue" width="240" height="120" />
        </div>
        <div id="protect-america-information">
            <p>Protect America est&aacute; dise&ntilde;ado para proveer los productos y servicios de seguridad para el hogar de la mayor calidad al menor precio posible. Durante los &uacute;ltimos cinco a&ntilde;os (2008-2012) hemos obtenido la calificaci&oacute;n de 5 estrellas en Top Consumer Reviews y nuestro Paquete Cobre incluso recibi&oacute; el reconocimiento 'Mejor Compra' de Consumers Digest. </p>
            <div class="button-submit"><a href="">Compre Ahora ></a>{% businesstime %}<p class="phone-alt">o &iexcl;Llame Hoy! <strong><span{% if use_call_measurement %} class="dynamic-phone-number"{% endif %}>{{ phone_number|format_number }}</span></strong></p>{% endbusinesstime %}</div>
        </div>
        <div id="home-security-video">
            <iframe width="537" height="303" src="http://www.youtube.com/embed/isJJrsr5sXQ?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div id="home-security-testimonials">
        <h2>Nuestros Clientes Aman Nuestros Sistemas de Seguridad</h2>
        <div class="testimonial">
            <p>Noel was excellent: very thorough and patient. As I've mentioned, I installed this alarm many years ago when I worked long hours and traveled ...
            <img src="{{ STATIC_URL }}img/extra/grey-arrow.png" class="grey-arrow" alt="grey-arrow" width="39" height="18" />
            </p>
            <h3>Carlos <span>Somerville, MA on November 15, 2012</span></h3>
        </div>
        <div class="testimonial">
            <p>Great customer service, chatted me through my issue with the low battery Thank You! That's why I choose Protect America,
            <img src="{{ STATIC_URL }}img/extra/grey-arrow.png" class="grey-arrow" alt="grey-arrow" width="39" height="18" />
            </p>
            <h3>Martina <span>Fayetteville, NC on December 04, 2012</span></h3>
        </div>
    </div>
    <div class="clear"></div>
    <div id="security-categories">
        <ul>
            <li id="alarm-category">
                <img src="{{ STATIC_URL }}img/extra/alarm-big-icon.png" alt="alarm-big-icon" width="193" height="193" />
                <h2>Sistema de Seguridad Inalambricos</h2>
                <div class="button-link" ><a href="#wireless-home-security" id="home-security-button-choice" class="active">Learn More ></a></div>
            </li>
            <li id="video-category">
                <img src="{{ STATIC_URL }}img/extra/video-big-icon.png" alt="alarm-big-icon" width="193" height="193" />
                <h2>Video <br />Security</h2>
                <div class="button-link"><a href="#video-security" id="video-button-choice">Learn More ></a></div>
            </li>
            <li id="smart-app-category">
                <img src="{{ STATIC_URL }}img/extra/smart-app-big-icon.png" alt="alarm-big-icon" width="193" height="193" />
                <h2>On The Go <br/>Smart Apps</h2>
                <div class="button-link"><a href="#smart-apps" id="smart-app-button-choice">Learn More ></a></div>
            </li>
            <div class="clear"></div>
        </ul>
        <img src="{{ STATIC_URL }}img/spanish/color-band.png" id="color-band" alt="Color Band" width="1030" height="80" />
        <img src="{{ STATIC_URL }}img/spanish/white-arrow.png" id="white-arrow" alt="Color Band" />

    </div>
</div>
<div id="home-security-choice" class="big-info">
    <div class="big-wrapper">
        <div id="home-security-packages">
            <div id="basic-security-package">
                <h3>Basico</h3>
                <p><sup>$</sup>19<sup>99</sup><span>mensual</span></p>
                <div class="package-info">
                    <ul>
                        <li><strong>1 &ndash;</strong> Simon XT Panel de Control</li>
                        <li><strong><span>3</span> &ndash;</strong> Sensor de Puerta/Ventana</li>
                        <li><strong>1 &ndash;</strong> Sensor de Movimiento</li>
                    </ul>
                    <ul class="extra-features">
                        <li><img src="{{ STATIC_URL }}img/spanish/checkmark.png" alt="checkmark" />Equipo incluido</li>
                        <li><img src="{{ STATIC_URL }}img/spanish/checkmark.png" alt="checkmark" />Sin Cargos por Activaci&oacute;ns</li>
                        <li><img src="{{ STATIC_URL }}img/spanish/checkmark.png" alt="checkmark" />Garant&iacute;a de equipo</li>
                    </ul>
                </div>
            </div>
            <div id="standard-security-package">
                <h3>Optimo</h3>
                <p><sup>$</sup>37<sup>99</sup><span>mensual</span></p>
                <div class="package-info">
                    <ul>
                        <li><strong>1 &ndash;</strong> Simon XT Panel de Control</li>
                        <li><strong><span>10</span> &ndash;</strong> Sensor de Puerta/Ventana</li>
                        <li><strong>1 &ndash;</strong> Sensor de Movimiento</li>
                    </ul>
                    <ul class="extra-features">
                        <li><img src="{{ STATIC_URL }}img/spanish/checkmark.png" alt="checkmark" />Equipo incluido</li>
                        <li><img src="{{ STATIC_URL }}img/spanish/checkmark.png" alt="checkmark" />Sin Cargos por Activaci&oacute;ns</li>
                        <li><img src="{{ STATIC_URL }}img/spanish/checkmark.png" alt="checkmark" />Garant&iacute;a de equipo</li>
                    </ul>
                </div>
            </div>
            <div id="premier-security-package">
                <h3>Supremo</h3>
                <p><sup>$</sup>42<sup>99</sup><span>mensual</span></p>
                <div class="package-info">
                    <ul>
                        <li><strong>1 &ndash;</strong> Simon XT Panel de Control</li>
                        <li><strong><span>15</span> &ndash;</strong> Sensor de Puerta/Ventana</li>
                        <li><strong>1 &ndash;</strong> Sensor de Movimiento</li>
                    </ul>
                    <ul class="extra-features">
                        <li><img src="{{ STATIC_URL }}img/spanish/checkmark.png" alt="checkmark" />Equipo incluido</li>
                        <li><img src="{{ STATIC_URL }}img/spanish/checkmark.png" alt="checkmark" />Sin Cargos por Activaci&oacute;ns</li>
                        <li><img src="{{ STATIC_URL }}img/spanish/checkmark.png" alt="checkmark" />Garant&iacute;a de equipo</li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>

        <div id="home-security-info">
            <div id="home-security-overview">
                <h2>Proteja a su familia con un sistema de seguridad</h2>
                <p>Las alarmas para seguridad del hogar son una parte fundamental para aumentar la seguridad de los hogares. Con la amplia variedad de sistemas de seguridad para el hogar que existen en el mercado, puede ser dif&iacute;cil encontrar el mejor sistema para usted. Los sistemas inal&aacute;mbricos de alarmas Protect America tambi&eacute;n se pueden adaptar con accesorios de seguridad para aumentar a&uacute;n m&aacute;s la protecci&oacute;n de su hogar y de su familia.</p>
                {% if phone_number %}
                    {% businesstime %}
                        <h3>Asegure su hogar hoy, <strong>&iexcl;Llame ahora! <span{% if use_call_measurement %} class="dynamic-phone-number"{% endif %}><a href="tel:{{ phone_number|format_number }}">{{ phone_number|format_number }}</a></span></strong></h3>
                    {% endbusinesstime %}
                {% endif %}
                <div class="clear"></div>
            </div>
            <div id="home-security-main-image">
                <img src="{{ STATIC_URL }}img/spanish/lowest-price-guaranteed-icon-spanish.jpg" alt="lowest-price-guaranteed-icon" />
                <img src="{{ STATIC_URL }}img/spanish/lifetime-equipment-warranty-spanish.jpg" alt="lifetime-equipment-warranty" />
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>

</div>
<div id="video-security-choice" class="big-info">
    <div class="big-wrapper">
        <div id="video-security-main-image">
            <img src="{{ STATIC_URL }}img/spanish/infrared-video-security-camera.jpg" alt="infrared-video-security-camera" width="320" height="480" />
        </div>
        <div id="video-security-overview">
            <h2>Interactive Video Security</h2>
            <p>Protect America allows you to gain a true picture of what is happening in your home or business with 24/7 on-demand video. Get enhanced security with our night vision video cameras, archived clips, event notifications, and automatic recording when movement is detected. With Protect America's video services, peace of mind is just an instant click away.</p>
            <h3>Add to any Package for +$10 per month</h3>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div id="video-extra-information">
            <div id="interactive-security">
                <h2>Video Home Security: Here, There, Everywhere.</h2>
                <p>These days, people are always on the go and spend less time at home. Unfortunately, an empty house is the perfect time for a burglar to strike. Get interactive video security and check on your phone anywhere at any time. Our home surveillance cameras let you view your own live video feed from any Internet-enabled computer or smartphone. You can also be notified of recorded events with text notifications that can be read straight from your phone.</p>
                <div class="clear"></div>
            </div>
            <div id="video-screenshot">
            
            </div>
        </div>
    </div>
</div>
<div id="smart-app-choice" class="big-info">
    <div class="big-wrapper">
        <h2>Smart App</h2>
    </div>
</div>
<div class="wrapper"></div>
{% addtoblock "js" %}
    <script type="text/javascript">
        $(document).ready(function() {
        animated = false;
        var flag1 = true;
        var flag2 = true;
        var flag3 = true;

            $("#home-security-button-choice").click(function(){
                if (!animated && flag1) {
                    console.log('Inside button 1 click: flags 1,2,3:'+ flag1 + "," + flag2 + "," + flag3;
                    flag2 = false;
                    flag3 = false;                    
                    animated = true;
                    $('.big-info').slideUp('fast',function() {
                        $('.button-link > .active').fadeIn('slow');
                        $('.button-link > .active').removeClass('active');
                        $('#home-security-button-choice').fadeOut('fast');
                        $('#white-arrow').animate({left: '-925px'}, 500, function() {
                            $('#home-security-choice').slideDown('fast', function() {
                                animated = false;

                                $("#home-security-button-choice").addClass('active');
                                flag2 = true;
                                flag3 = true;                                 
                            });
                        });
                    });
                    
                    return false;
                } else {
                    return false;
                }
            });
            $("#video-button-choice").click(function(){

                console.log('Should be false: '+ animated);

                if (!animated && flag2) {
                    console.log('Inside button 2 click: flags 1,2,3:'+ flag1 + "," + flag2 + "," + flag3;
                    flag1 = false;
                    flag3 = false;
                    animated = true;
                    $('.big-info').slideUp('fast',function() {
                        $('.button-link > .active').fadeIn('slow');
                        $('.button-link > .active').removeClass('active');
                        $('#video-button-choice').fadeOut('fast');
                        $('#white-arrow').animate({left: '-581px'}, 500, function() {
                            $('#video-security-choice').slideDown('fast', function() {
                                animated = false;
                                $("#video-button-choice").addClass('active');
                                flag1 = true;
                                flag3 = true;                                
                            });
                        });
                    });
                    return false;
                } else {
                    return false;
                }
            });

        });
    </script>
{% endaddtoblock "js" %}

{% endblock %}


