{% extends "security/base.html" %}
{% block subnav_parent %}{% endblock %}
{% block content %}
<div id="security-news-headline" class="news-headline">
	<div class="news-date">
		<p>Feb<span>28</span>2011</p>
	</div>
	<h2>Report: NYC apartment renters at high risk for burglary</h2>
	<p>A report by the National Crime Prevention Council shows apartment residents are 85 percent more likely to be robbed than other types of homes in the U.S.</p>
	<p>According to the study, Manhattan renters are at an even greater risk of home theft. The data states renters in the borough are 50 percent more likely to have their homes ...</p>
	<div class="button absright"><a href="">Read More From This Article</a></div>
	<div class="clear"></div>
</div>
<div>
	<div class="news-article">
		<h3>D.C. package thief shown on home security camera</h3>
		<p>After looking at home security camera footage showing a man stealing a package from his front door, Washington, D.C., resident ...</p>
		<div class="button"><a href="">Read More</a></div>

	</div>
	<div class="news-article">
		<h3>Multiple burglary victim installs cameras, uses Facebook to catch suspects</h3>
		<p>The Enterprise Ledger in Alabama reports a homeowner purchased home security cameras after her house was robbed twice in two ...</p>
		<div class="button"><a href="">Read More</a></div>

	</div>
	<div class="news-article">
		<h3>Burglaries increase in California city</h3>
		<p>Burglaries have reportedly jumped over the last six months in Morgan Hill, California, causing concern between police and ...</p>
		<div class="button"><a href="">Read More</a></div>

	</div>
	<div class="news-article">
		<h3>Miss North Carolina's crown stolen from home</h3>
		<p>Rebekah Lowry, who was crowned Miss North Carolina in 2002, recently moved into a home in Hope Mills, but was welcomed to the ...</p>
		<div class="button"><a href="">Read More</a></div>

	</div>
	<div class="clear"></div>
</div>
<div class="button ajax bottom-rule"><a href="">Click to Load More Articles</a></div>

{% endblock %}  
{{ block.super }}


