@import "../generic-landing-page/style.less";

body {
    background: @blue;
}
#header {
    background: @white;
}
#header-wrapper {
    padding-top: 8px;
}
#sub-navigation {
    display: none;
}
#navigation {
    display: none;
}
#quote-form {
    display: none;
}
#footer, #order-footer {
    display: none;
}
#top-wrapper {
    background: #EFEFEF;
    margin-bottom: 16px;
    .drop-shadow(0px, 2px, 3px, @grey);
    margin-top: 8px;
    .border-radius(20px, 20px, 20px, 20px);
    #left-wrapper {
        .content-box(657px);
        height: 400px;
        margin: 8px 16px 0 4px;
        background: transparent;
        margin-left: 154px;
        #touchscreen-offer {
            position: absolute;
            left: -96px;
            top: 96px;
        }
        #touchscreen-offer-content {
            position: absolute;
            left: 300px;
            top: 16px;
        }
        h1 {
            font-size: 24px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #555;
            padding-bottom: 0;
            span {
                display: block;
                font-size: 38px;
                line-height: 40px;
            }
        }
        h2 {
            text-transform: uppercase;
            font-size: 17px;
            line-height: 17px;
            letter-spacing: 0;
        }
        ul {
            padding-top: 24px;
            li {
                color: @red;
                text-transform: uppercase;
                font-size: 21px;
                line-height: 24px;
                padding-left: 64px;
                padding-bottom: 24px;
                font-weight: bold;
            }
        }
    }
    #quote-area {

        width: 283px;
        float: left;
        margin-top: 8px; 
        #quote-form {
            margin-top: 8px;
            margin-bottom: 8px;
            margin-left: 0;
            div {
                p {
                    font-size: 24px;
                }
            }
        }        
    }
    

    #call-box {
        margin: 0;
        border: none;
        background: transparent;
        text-transform: uppercase;
        p {
            font-size: 33px;
            color: @black;

        }
    }    
}
#five-blocks {
    position: relative;
    height: 208px;
    .assurance-block {
        background: transparent;
        text-align: center;
        .border-radius(10px,10px,10px,10px);
        border: 1px solid transparent;
        margin-right: 17px;
        cursor: pointer;
        cursor: hand;
        background: @v-light-blue;
        height: 208px;
        &:hover {
            background: @light-blue;

            .inset-shadow(0, 2px, 3px, @grey);
            border: 1px solid @dark-blue;
        }
        &.active {
            .inset-shadow(0, 2px, 3px, @grey);
            background: @light-grey;
            border: 1px solid @light-blue;

        }
        h3 {
            color: @blue;
            font-weight: bold;
            font-size: 16px;
            text-transform: uppercase;
        }

    }
    #selector-arrow {
        background: url(/static/img/affiliates/diy-landing-page/paper-arrow.png) no-repeat;
        top: 222px;
    }
}
#five-cards {
    overflow: hidden;
    background: #EFEFEF;
    .border-radius(20px, 20px, 20px, 20px);
    height: auto;

    .drop-shadow(0px, 2px, 3px, @grey);
    .terms {
        position: absolute;
        bottom: 2px;
        left: 7px;
        margin-bottom: 0;
        text-transform: uppercase;
        color: #555;
    }
    .more-options {
        position: absolute;
        right: 11px;
        text-transform: uppercase;
        bottom: -7px;
        color: @blue;

    }
    #assurance-card-one {
        padding-top: 20px;
    }
    #assurance-card-five {
        padding-bottom: 16px;
        h2 {
            text-align: center;
            line-height: 48px;
            padding-top: 4px;
            font-weight: bold;
            color: @blue;
            text-transform: uppercase;
        }
        table {
            width: 95%;
            text-transform: uppercase;
            border: 2px dotted @grey;
            margin: 0 auto;
            .border-radius;
            background: @white;
            thead {
                tr {
                    th {
                        height: 48px;
                        text-align: center;
                        line-height: 48px;
                        font-size: 16px;
                        &.og {
                            background: @dark-grey;
                            color: @white;
                            border-left: 2px dotted @grey;
                        }
                        &.pa {
                            background: @v-light-blue;
                            border-left: 2px dotted @grey;
                            color: @blue;

                        }
                    }
                }
            }
            tbody {
                tr {
                    td {
                        text-align: center;
                        border-top: 2px dotted @grey;
                        border-left: 2px dotted @grey;
                        line-height: 36px;
                        font-size: 14px;
                        text-transform: none;
                        &.title {
                            color: @blue;
                            text-align: left;
                            line-height: 32px;
                            padding-left: 24px;
                            font-size: 16px;
                            width: 300px;
                            border-left: none; 
                        }
                        &.alt {
                            background: @red;
                            color: @white;
                        }
                    }
                }
            }
        }
    }
    .assurance-card {
        background: transparent;
        .image-area {
            width: 300px;
            float: left;
            padding: 16px;
            height: auto;
            img#lowest-price-image {
                padding-top: 45px;
            }
        }
        .free-relocation {
            display: block;
            margin: 0 auto;
        }
        .copy-point {
            float: left;
            width: 560px;
            padding: 16px 16px 0;
            h2 {
                text-transform: uppercase;
                font-size: 32px;
                line-height: 40px;
                color: @blue;
                font-weight: normal;
                letter-spacing: 1;
                span {
                    display: block;
                    font-size: 28px;
                    line-height: 36px;
                    font-weight: 300;
                }
            }
            p {
                font-size: 16px;
                line-height: 27px;
            }
            #call-area {
                p {
                    color: @blue;
                    strong {
                        color: @red;
                    }
                }
            }
        }
    }
}
#extracontent {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
    background: @red;
    img {
        display: block;
        margin: 0 auto;
    }
}
#terms-conditions {
    p {
        a {
            color: @white;
        }
    }
}
#order-footer #footer-package-section {
    text-transform: uppercase;
    margin: 8px;
    width: 294px;
    height: 112px;
    h2 {
        font-weight: bold;
        font-size: 22px;
    }
    p {
        text-align: left;
        font-size: 15px;
        color: #555;
        span {
            font-size: 20px;
            padding-bottom: 8px;
            color: @black;
        }
    }
}