{% extends "learn/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}
{% block page_title %}Learn About Security | Home Security Tips | Protect America{% endblock %}
{% block page_keywords %}{% endblock %}
{% block page_description %}{% endblock %}

{% block content %}
<div id="hero-wrapper" class="v-light-grey">
    <div id="hero-image">
        <div id="hero-content">
            <i class="icon-customer-care"></i>
            <h2>Learn About Protect America</h2>
            <h1>Explore Who We Are</h1>
            <p>We not only provide your home with the equipment you need to feel safe and protected, we are involved in community outreach. Dedicated to helping others, Protect America has been involved with various charities and non-profits throughout the years. home security that’s within the reach of any household budget. </p>
            
        </div>

         <img src="{{ STATIC_URL }}img/learn/map-hero.png" class="main-hero-image" alt="smart-connect-interactive-app" />

    </div>
</div>
{% include "order/call-box.html" %}

<div class="wrapper">
</div>
{% endblock %}