body {
    background-color: #222;
    color: #748598;
    font-size: 16px;
    line-height: 1.428571429;
}
.mainContainer {
    box-shadow: 0 0 3px rgba(0,0,0,1);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0 auto;
    max-width: 1600px;
}
a {
    color: #3780CB;
    text-decoration: none;
}
a:hover, a:focus {
    color: #3780CB;
    text-decoration: underline;
}
a.phonenumber,
a.phonenumber:hover {
    cursor: default;
    text-decoration: inherit;
}
img {
    max-width: 100%;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #D4DCE5;
    margin: 1em 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "jaf-facitweb",Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 200;
    color: #173c5c;
}
@media (max-width: 767px) {
    h1 {font-size: 24px}
    h2 {font-size: 22px}
    h3 {font-size: 20px}
    h4 {font-size: 18px}
    h5 {font-size: 16px}
    h6 {font-size: 14px}
}
.inverse h1, .inverse h2, .inverse h3, .inverse h4, .inverse h5, .inverse h6, .inverse .form-title {
    color: #fff;
}
.section {
    background: #E7EAEE;
    border-top: 1px solid #D4DCE5;
    padding: 42px 0;
}
@media (max-width: 767px) {
    .mobileSection {
        border-top: 1px solid;
        padding: 30px 0;
        margin-top: 30px;
    }
    .mobileClear {
        clear: both;
    }
}
.clearRow {
    clear: both;
}
.center {
    text-align: center;
}
.inverse {
    color: #fff;
}
.inverse a {
    color: #fff;
}
.smallText {
    font-size: 12px;
}
.sideGradient {
    background-color: #a3c401;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a3c401), to(#79cb01));
    background-image: -webkit-linear-gradient(left, #a3c401, #79cb01);
    background-image: -moz-linear-gradient(left, #a3c401, #79cb01);
    background-image: -ms-linear-gradient(left, #a3c401, #79cb01);
    background-image: -o-linear-gradient(left, #a3c401, #79cb01);
}
.buttonGradient {
    background-color: #a3c401;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a3c401), to(#79cb01));
    background-image: -webkit-linear-gradient(top, #a3c401, #79cb01);
    background-image: -moz-linear-gradient(top, #a3c401, #79cb01);
    background-image: -ms-linear-gradient(top, #a3c401, #79cb01);
    background-image: -o-linear-gradient(top, #a3c401, #79cb01);
}
.roundedWhiteBox {
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.redbutton,
.inverse .redbutton
.primaryBtn,
.inverse .primaryBtn {
    background-color: #3780CB;
    border: none;
    border-radius: 25px;
    font-size: 14px;
    color: #fff;
    display: inline-block;
    padding: 16px 70px 16px 20px;
    position: relative;
    margin-bottom: 12px;
    text-decoration: none;
    transition: all 250ms ease-out;
}
.redbutton:hover,
.redbutton:hover,
.primaryBtn:hover,
.primaryBtn:focus {
    color: #fff;
    padding-right: 80px;
}
.redbutton {
    margin-top: 10px;
}
i.icon-chevron-right {
    background-image: url(../../../img/affiliates/acn/sprite.png);
    background-position: center -712px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: block;
    height: 30px;
    margin-left: 20px;
    position: absolute;
    right: 20px;
    top: 10px;
    width: 30px;
}
.noBgBtn,
.inverse .noBgBtn {
    background-color: transparent;
    display: inline-block;
    color: #3780CB;
    padding: 24px 90px 24px 0;
    position: relative;
    transition: all 250ms ease-out;
}
.noBgBtn:hover, .noBgBtn:focus {
    color: #3780CB;
    padding-right: 100px;
    text-decoration: none;
}
.noBgBtn i.icon-chevron-right {
    background-position: center -784px;
    border-color: #3780CB;
    height: 50px;
    width: 50px;
}
.hero .noBgBtn {
    font-size: 20px;
    font-weight: 200;
    color: #9AF9BF;
}
@media (max-width: 768px) {
    .hero .noBgBtn {
        font-size: 16px;
        padding-top: 27px;
    }
}
@media (max-width: 480px) {
    .hero .noBgBtn {
        padding-top: 13px;
    }
}
.hero .noBgBtn i.arrowIcon {
    background-position: center -1344px;
    border-color: #9AF9BF;
    margin-top: 6px;
}
i.arrowIcon {
    background-position: center -712px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: block;
    height: 30px;
    margin-left: 20px;
    position: absolute;
    right: 20px;
    top: 10px;
    width: 30px;
}
.noBgBtn i.arrowIcon {
    background-position: center -784px;
    border-color: #3780CB;
    height: 50px;
    width: 50px;
}
.rotateFortyFive {
    transform: rotate(45deg);
    transform-origin:20% 40%;
    -ms-transform: rotate(45deg); /* IE 9 */
    -ms-transform-origin:20% 40%; /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari and Chrome */
    -webkit-transform-origin:20% 40%; /* Safari and Chrome */
}
/*Header/Footer Phone*/
.headerPhone,
.footerPhone {
    background: #305678;
    line-height: 1.2;
    text-align: right;
}
.headerPhone {
    text-align: center;
    line-height: 1;
    padding-bottom: 4px;
    padding-top: 6px;
    position: relative;
}
.headerPhone .phoneNumber {
    font-size: 24px;
}
.headerPhone .slash {
    color: #4e6e8c;
    padding: 0 5px;
}
.headerPhone p,
.footerPhone p {
    font-size: 14px;
    margin-bottom: 6px;
}
.footerPhone {
    border-top-color: #305678;
}
@media (max-width: 768px) {
    .footerPhone p {
        font-size: 14px;
    }
}
@media (max-width: 767px) {
    .headerPhone, .footerPhone {
        text-align: center;
    }
    .headerPhone .phoneNumber {
        font-size: 14px;
    }
}
@media (min-width: 767px) {
    .headerPhone .phoneNumber span {
        display: block;
        font-size: 28px;
        font-weight: bold;
    }
    .scheduleWrapper {
        position: absolute;
        right: 20px;
        text-align: right;
        top: 10px;
        width: 270px;
    }
    .headerPhone .slash {
        display: block;
        height: 0;
    }
}
/*Header*/
#header, #footer {
    background: #1A3347;
}
#header {
    left: 0;
    padding: 0;
    right: 0;
    top: 0;
    z-index: 1000;
}
.logoWrapper h1 {
    margin: 0;
}
/* Nav */
.nav {
    font-size: 16px;
    font-weight: 200;
}
.nav ul {
    clear: both;
    float: none;
    margin: 0;
    padding: 0;
}
.nav li {
    float: left;
    list-style: none;
}
.nav li a {
    color: #A8BBCD;
    display: block;
    line-height: 72px;
    padding: 0 16px;
    transition: all 250ms ease-out;
}
.nav li a:hover {
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 2px rgba(250,250,250,.5);
}
@media (min-width: 767px) {
    .nav ul {
        display: block!important;
    }
}
@media (max-width: 767px) {
    .nav ul#mainNav {
        display: none;
    }
    .nav li {
        border-top: 1px solid #305678;
        float: none;
    }
    #mobileBlogNavTrigger {
        background-color: #305678;
        border-radius: 4px;
        cursor: pointer;
        float: right;
        height: 48px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 3px;
        width: 48px;
    }
    #mobileBlogNavTrigger i {
        background-color: #1A3347;
        display: block;
        height: 3px;
        margin: 6px auto 0;
        width: 80%;
    }
    .logoWrapper {
        margin-top: 10px;
    }
}
/*Hero*/
.hero {
    background: url(../../../img/affiliates/acn/videoSurveillanceBanner.jpg) center top no-repeat #4A505A;
    background-size: cover;
    border-color: #305678;
}
.hero p,
.hero ul,
.hero h1,
.hero h2 {
    margin: 0 0 6px 0;
}
.hero a {
    color: #9AF9BF;
}
.heroIntroWrapper h1 {
    text-transform: capitalize;
}
.heroIntroWrapper ul {
    padding-left: 20px;
    line-height: 2;
}
/*Hero Form*/
.prefixTwo {
    margin-left: 168px;
}
.prefixOne.compareTable {
    margin-left: 80px;
}
.formWrapper {
    font-size: 14px;
    font-weight: 200;
}
p.form-title {
    display: none;
}
h2.form-title {
    font-family: "jaf-facitweb",Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #173C5C;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 15px;
}
.form-fields input[type=text] {
    transition: all 250ms ease-out;
    border: 1px solid #ccc;
    font-size: 16px;
    height: 36px;
    line-height: 36px;
    margin-bottom: 12px;
    padding-left: 2%;
    width: 95%;
}
.form-fields input[type=text]:focus {
    border-color: #173C5C;
    width: 98%;
}
.formWrapper a {
    color: #fff;
    display: block;
}
.consent-label {
    font-weight: 200;
    font-size: 14px;
    line-height: 1.1;
}
.contactFooter .formWrapper a {
    color: #3780CB;
}
@media(max-width: 767px) {
    .order .formWrapper {
        font-size: 12px;
        font-weight: 200;
        border-top: none;
        padding-top: 0;
        margin-top: 0;
    }
    .form-title {
        margin-bottom: 12px;
    }
}
/*CallBox*/
.call-box {
    background-color: #1A3347;
    border-bottom: 1px solid #305678;
    border-top: 1px solid #305678;
    font-size: 25pt;
    font-weight: 200;
    padding: 16px 0;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
}
@media (max-width: 767px) {
    .call-box {
        font-size: 18px;
    }
}
/*highlights*/
.highlights h2 {
    font-size: 24px;
    font-size: 24px;
    line-height: 2;
    margin-bottom: 30px;
}
.highlights h3 {
    font-size: 16px;
}
.highlights hr {
    margin: 60px 0;
}
.sprite {
    background: url(../../../img/affiliates/acn/sprite.png) no-repeat;
}
.highlights .sprite {
    width: 100px;
    height: 60px;
    margin: 30px auto 0;
}
.hl247 {
    background-position: center 4px;
}
.hlUnbeatablePrice {
    background-position: center -74px;
}
.hlSimpleWireless {
    background-position: center -156px;
}
.hlCertifiedGE {
    background-position: center -240px;
}
.hlInteractiveSecSys {
    background-position: center -1267px;
}
.hlVideo {
    background-position: center -305px;
}
.hlGPS {
    background-position: center -392px;
}
.hlBudget {
    background-position: center -467px;
}
.hlGetInTouch {
    background-position: center -550px;
}
/*aboutPA*/
.aboutPA {
    background-color: #fff;
}
.aboutPA .logos {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0px 1px 2px rgba(0,0,0,.5);
    overflow: hidden;
    padding: 10px;
    margin-bottom: 10px;
}
.supportInfo h4,
.cellular h4 {
    line-height: 1.2;
    color: #748598;
}
.aboutPA .halfCol {
    float: left;
    text-align: center;
    width: 25%;
}
/*contactFooter*/
.contactFooter {
    border-top: 1px solid #D4DCE5;
}
.orCall {
    border-top: 1px solid #D4DCE5;
    margin-top: 20px;
    padding-top: 20px;
}
.contactFooter .phone {
    display: block;
    font-size: 32px;
    font-weight: 200;
}
@media (max-width: 767px) {
    .order .contactFooter {
        padding-top: 0;
    }
}
/*Footer*/
.footerNav {
    padding-left: 0;
    list-style: none;
}
.footerNav li {
    border-left: 1px solid #305678;
    float: left;
    font-weight: 200;
}
.footerNav li:first-child {
    border-left: none;
}
.footerNav li:first-child a {
    padding-left: 0;
}
.footerNav li a {
    color: #A8BBCD;
    padding: 0 20px;
}
.footerNav li a:hover {
    color: #fff;
    text-decoration: none;
}
@media (max-width: 767px) {
    .footerNav li {
        border-left: none;
        border-bottom: 1px solid #305678;    
        float: none;
    }
    .footerNav li a {
        display: block;
        line-height: 48px;
    }
}
/*Features*/
.businessSecuirity {
    border-top: none;
    padding: 0;
}
.businessSecuirity h2 {
    margin-top: 72px;
}
.seeOurPackages {
    list-style: none;
    margin-top: 10px;
    text-align: center;
}
/*getStartedProcess*/
.getStartedProcess {
    border-top: 1px solid #eee;
    margin-top: 48px;
    padding: 24px 0;
}
.getStartedProcess h3 {
    margin-bottom: 42px;
}
.processArrow {
    background: url(../../../img/affiliates/acn/sprite.png) right -390px no-repeat;
    color: #555;
    line-height: 36px;
    height: 36px;
}
.processArrow.right {
    background: url(../../../img/affiliates/acn/sprite.png) left -390px no-repeat;
}
/*Packages*/
.packages {
    padding-top: 0;
}
.packages .hero ul {
    list-style: none;
    margin-top: 30px;
}
.packages .hero li {
    color: #9AF9BF;
    font-family: "jaf-facitweb",Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 200;
    line-height: 58px;
    margin-bottom: 12px;
    padding-left: 61px;
}
.packages .hero li.one {
    background-position: -26px -1036px;
}
.packages .hero li.two {
    background-position: -26px -1115px;
}
.packages .hero li.three {
    background-position: -26px -1195px;
}
.packages .title {
    margin-bottom: 30px;
}
.premiumBusinessPackage {
    background-color: #fff;
}
.premiumBusinessPackage ul {
    font-size: 16px;
    font-weight: 200;
}
.premiumBusinessPackage h3 {
    color: #748598;
    font-size: 20px;
    font-weight: 200;
    line-height: 1.5;
    margin-top: 24px;
}
.premiumBusinessPackageImage {
    margin-top: 110px;
}
@media (max-width: 769px) and (min-width: 767px) {
    .premiumBusinessPackageImage {
        margin-top: 160px;
    }
}
#tabs ul {
    padding-left: 0;
}
#tabs a {
    font-weight: bold;
    display: block;
    outline: 0;
    padding-bottom: 8px;
    text-transform: capitalize;
}
#tabs h2 {
    margin-bottom: 10px;
}
#tabs li {
    background-color: #fff;
    border: 1px solid #CCCCCC;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    float: left;
    font-size: 12px;
    list-style: none outside none;
    margin-left: 0.25%;
    margin-right: 0.25%;
    padding-bottom: 6px;
    position: relative;
    text-align: center;
    width: 19%;
}
#tabs li:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
}
.silverWrapper {
    margin-top: -20px;
    padding: 20px 0;
}
#tabs .silverWrapper a {
    padding: 4px 0 12px;
}
.package-box-silver h3 {
    background: none repeat scroll 0 0 #2F394A;
    color: #FFFFFF;
    height: 30px;
    left: 20px;
    line-height: 30px;
    position: absolute;
    right: 20px;
    text-transform: uppercase;
    top: -30px;
}
.package-blue-strip {
    background: none repeat scroll 0 0 #1570AB;
    color: #FFFFFF;
    height: 42px;
    line-height: 47px;
    margin-bottom: 12px;
    position: relative;
}
.package-green-strip {
    color: #FFFFFF;
    height: 48px;
    line-height: 50px;
    margin-bottom: 12px;
    position: relative;
}
.package-blue-strip strong,
.package-green-strip strong {
    font-size: 24px;
    margin-right: 42px;
}
.package-blue-strip small,
.package-green-strip small {
    font-size: 11px;
    font-weight: bold;
    line-height: 1;
    position: absolute;
    right: 48px;
    top: 15px;
}
.package-green-strip {
    position: relative;
}
@media(max-width: 1200px) {
    .package-blue-strip {
        height: auto;
        line-height: 1.2;
        padding: 10px 0;
    }
    .package-blue-strip strong, .package-green-strip strong {
        margin-right: 0;
    }
    .package-blue-strip small, .package-green-strip small {
        display: block;
        position: static;
    }
}
@media(max-width: 767px) {
    #tabs li {
        margin-bottom: 16px;
        margin-left: 3%;
        width: 45%;
    }
}
/*Compare Table*/
.compare {
    background-color: #fcfcfc;
    border-bottom: 1px solid #ccc;
    clear: both;
}
.compareTable {
    margin: 0;
}
.PAColumn {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    color: #4BBA29;
}
.PAColumn li:hover {
    background-color: #f5f5f5;
}
.compareTable ul {
    list-style: none;
    padding: 0 0 60px;
}
.compareTable.featureName li {
    font-size: 12px;
    padding-left: 20px;
    text-align: left;
    text-transform: uppercase;
}
.compareTable .compareColTitle {
    color: #333;
    height: 100px;
    line-height: 100px;
    padding-top: 10px;
}
.compareTable li {
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    height: 36px;
    line-height: 36px;
}
.compareTable .included {
    background-position: center -310px;
}
.competitorCol {
    color: #999;
}
.competitorCol .included {
    background-position: center -350px;
}
/*additionalProducts*/
.productWrapper {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0 0 10px;
    padding: 0 0 40px;
    text-align: center;
}
.productWrapper p {
    bottom: 10px;
    left: 20px;
    line-height: 1;
    position: absolute;
    right: 20px;
}
.additionalProducts .col-xs-6,
.additionalProducts .col-sm-2,
.additionalProducts .col-md-2,
.additionalProducts .col-lg-2 {
    padding-left: 5px;
    padding-right: 5px;
}
/*Scroll Bubble*/
#scrollBubble {
    border: 3px solid #FFF;
    border-radius: 50%;
    bottom: 40px;
    display: block;
    font-weight: 200;
    height: 70px;
    position: fixed;
    right: 40px;
    text-align: center;
    width: 70px;
} 
#scrollBubble p {
    background-position: center -1416px;
    display: block;
    height: 50px;
    margin-top: 10px;
}
.support #scrollBubble {
    display: none;
}
/*Support*/
.faq h3 {
    background: url(../../../img/affiliates/acn/sprite.png) no-repeat -30px -1576px;
    cursor: pointer;
    border-top: 1px solid #D4DCE5;
    margin: 0;
    padding: 20px 0 20px 60px;
}
.faq.arrow_up h3 {
    background-position: -30px -1497px;
}
.faq .faqAnswer {
    display: none;
}
.faq .faqAnswer p,
.faq .faqAnswer ul {
    padding: 20px 0 20px 60px;
}
/*Thank You*/
.thank-you .whatsNext p {
    padding-right: 80px;
}
/*Terms and Conditions*/
#terms {
    color: #ccc;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    padding-top: 20px;
}
#terms a {
    color: #ccc;
}
/*Order*/
.orderHero {
    background-color: #fff;
    padding: 0;
}
.orderHero h2 {
    margin-top: 40px;
}
.orderHero h3 {
    color: #748598;
}
/*IE7 offset columns fix*/
.lt-ie8 .col-lg-offset-12,
.lt-ie8 .col-lg-offset-11,
.lt-ie8 .col-lg-offset-10,
.lt-ie8 .col-lg-offset-9,
.lt-ie8 .col-lg-offset-8,
.lt-ie8 .col-lg-offset-7,
.lt-ie8 .col-lg-offset-6,
.lt-ie8 .col-lg-offset-5,
.lt-ie8 .col-lg-offset-4,
.lt-ie8 .col-lg-offset-3,
.lt-ie8 .col-lg-offset-2,
.lt-ie8 .col-lg-offset-1,
.lt-ie8 .col-md-offset-12,
.lt-ie8 .col-md-offset-11,
.lt-ie8 .col-md-offset-10,
.lt-ie8 .col-md-offset-9,
.lt-ie8 .col-md-offset-8,
.lt-ie8 .col-md-offset-7,
.lt-ie8 .col-md-offset-6,
.lt-ie8 .col-md-offset-5,
.lt-ie8 .col-md-offset-4,
.lt-ie8 .col-md-offset-3,
.lt-ie8 .col-md-offset-2,
.lt-ie8 .col-md-offset-1 {
    margin-left: 0;
}
.lt-ie8 .container {
    padding-left: 0;
    padding-right: 0;
    max-width: 1270px;
}
@media (min-width: 1200px) {
  .lt-ie8 .col-lg-12 {
    width: 100%;
  }
  .lt-ie8 .col-lg-11 {
    width: 87%;
  }
  .lt-ie8 .col-lg-10 {
    width: 79%;
  }
  .lt-ie8 .col-lg-9 {
    width: 71%;
  }
  .lt-ie8 .col-lg-8 {
    width: 62%;
  }
  .lt-ie8 .col-lg-7 {
    width: 54%;
  }
  .lt-ie8 .col-lg-6 {
    width: 46%;
  }
  .lt-ie8 .col-lg-5 {
    width: 37%;
  }
  .lt-ie8 .col-lg-4 {
    width: 29%;
  }
  .lt-ie8 .col-lg-3 {
    width: 21%;
  }
  .lt-ie8 .col-lg-2 {
    width: 12%;
  }
  .lt-ie8 .col-lg-1 {
    width: 4%;
  }
}