@import "../generic-landing-page/style.less";

body {
    background: none;
}
#header-wrapper {
    margin-top: 8px;
}
#sub-navigation {
    display: none;
}
#top-wrapper {
    background: url('/static/img/affiliates/wireless/house.jpg') no-repeat;
    margin-top: 15px;
    #quote-area {
        width: 283px;
        float: left;
        z-index: 999;
        #quote-form {
            margin-bottom: 8px;
            margin-left: 0;
        }        
    }
    #call-box {
        margin: 0;
        border: 1px solid @light-grey;
        text-transform: uppercase;
        p {
            font-size: 30px;
            color: @black;
        }
    }    
    #left-wrapper {
        background: transparent;
        h1 {
            font-size: 50px;
            color: white;
            margin: 15px;
            letter-spacing: 4;
            line-height: 49px;
            padding-left: 20px;
            width: 510px;
            font-weight: 500;
            text-shadow: 3px 3px 3px @dark-grey;
        }
        .touch {
            width: 290px;
            height: 200px;
            position: absolute;
            left: 25px;
            top:185px;

        }
        .icon {
            position: absolute;
            left: 330px;
            top: 240px;
            width: 313px;
            height: 143px;
        }
    }
}
#conv-install {
    width: 950px;
    height: 350px;
    margin-top:35px;
    margin-left: 15px;
    .left-conv-install {
        width: 400px;
        float: left;
        ul {
            li {
                padding-left: 15px;
                float: left;
                font-size: 18px;
            }
        }
    }
    .right-conv-install {
        width: 425px;
        float: right;
        h2 {
            text-align: left;
            margin: 15px;
            font-size: 35px;
            line-height: 40px;
            color: @dark-grey;
            font-weight: lighter;
            letter-spacing: 2;
        }
        p {
            text-align: left;
            width: 375px;
            margin:5px 15px 8px 15px;
            font-size: 14px;
            font-weight: 400;
            line-height: 27px;
            span {
                font-weight: 600;
            }
        }
            img {
                position: relative;
            }
        }
}
#five-blocks {
    position: relative;
    background-color: white;
    height: 200px;
    margin-top: 10px;
    .assurance-block {
        background: white;
        text-align: center;
        .border-radius(5px,5px,5px,5px);
        border: 1px solid transparent;
        margin-right: 17px;
        cursor: pointer;
        cursor: block;
        &.active {
            .inset-shadow(0, 2px, 3px, @light-grey);
            background: #f3f3f3;
            border: 1px solid @light-grey;
        }
        h3 {
            color: #555;
            font-size: 15px;
            text-transform: uppercase;
        }
        &:hover {
            background: rgba(255,255,255,.1);
            .inset-shadow(0, 2px, 3px, @light-grey);
            border: 1px solid @light-grey;
        }
    }
    #selector-arrow {
        background: url('/static/img/affiliates/wireless/carrot-grey.gif') no-repeat;
        height: 20px;
        left: 66px;
        position: absolute;
        top: 185px;
        width: 48px;
    }
}
#five-cards {
    background: white;
    border: #f0eeee solid 1px;
    z-index: 999;
    height: auto;
    .image-area {
        width: 275px;
        height: 363px;
        .image-break(-175px);
        margin-top: 10px;
    }
    .assurance-card {
        background: transparent;
        position: relative;
        .copy-point {
            float: left;
            width: 855px;
            padding: 16px;
            padding-left:15px;
            h2 {
                font-size: 35px;
                line-height: 40px;
                color: @dark-grey;
                font-weight: lighter;
                letter-spacing: 2;
                margin:5px 15px 8px 15px;
            }
            p {
                text-align: left;
                width: 675px;
                margin:5px 15px 8px 15px;
                font-size: 14px;
                font-weight: 400;
                line-height: 27px;
                span {
                    font-weight: 600;
                }
            }
            #call-area {
                p {
                    color: @blue;
                    strong {
                        color: @red;
                    }
                }
            }
        }
    }
    #interactive-call-out-box {
        width: 439px;
        height: 300px;
        float: left;
        .interactive-call-out {
            width: 460px;
            height: 235px;
            margin-top: 15px;
            margin-left: 500px;
            background-color: #e6e6e6;
            img {
                float: left;
                padding-left: 15px;
                padding-right: 20px;
            }
            ul {
                width:425px;
                margin-top: 15px;
                li {
                    padding-top: 15px;
                    width:430px;
                    strong {
                        display: block;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}
.copy-point2 {
    float: left;
    width: 250px;
    height: 640px;
    padding: 16px;
    padding-left:45px;
    h2 {
        span {
            font-size: 52px;
            line-height: 50px;
            color: @dark-grey;
            font-weight: 500;
            letter-spacing: 2;
        }

    }
}

.image-area2 {
    width: 275px;
    height: 700px;
    .image-break(-200px);
    z-index: -1;
    top: 0;
}
#touchscreen-features {
    .content-box;
    text-align: center;
    height: 575px;
    h2 {
        text-align: left;
        margin: 15px;
        font-size: 35px;
        line-height: 40px;
        color: @dark-grey;
        font-weight: lighter;
        letter-spacing: 2;
    }
    p {
        text-align: left;
        margin: 15px;
        font-size: 16px;
        line-height: 27px;
        span {
            font-weight: 600;
        }
    }
    img {
        position: relative;
    }
    #tech-specs {
        position: absolute;
        width: 309px;
        bottom: 0px;
        right: 0px;
        font-size: 10px;
        line-height: 12px;
        background: rgba(255,255,255,.5);
        z-index: 50;
        tr {
            th {
                text-align: center;
                font-weight: bold;
                font-size: 14px;
                line-height: 16px;
                padding: 4px;
                background: @light-blue;
                border: 1px solid @v-light-grey;

            }
            td {
                padding: 4px;
                vertical-align: middle;
                border: 1px solid @v-light-grey;
                border-top: none;
                border-right: none;
                &.omega {
                    border-right: 1px solid @v-light-grey;
                }
            }
        }
    }
}
#house-features {
    .content-box;
    text-align: center;
    height: 620px;
    h2 {
        text-align: left;
        margin: 15px;
        font-size: 35px;
        line-height: 40px;
        color: @dark-grey;
        font-weight: lighter;
        letter-spacing: 2;
    }
    p {
        text-align: left;
        width: 550px;
        margin:5px 15px 8px 15px;
        font-size: 16px;
        line-height: 27px;
        span {
            font-weight: 600;
        }
    }
    img {
        position: absolute;
        right: 100px;
        z-index: -1;
        top: 130px;
        left: 0px;
    }
    #tech-specs {
        position: absolute;
        width: 309px;
        bottom: 0px;
        right: 0px;
        font-size: 10px;
        line-height: 12px;
        background: rgba(255,255,255,.5);
        z-index: 50;
        tr {
            th {
                text-align: center;
                font-weight: bold;
                font-size: 14px;
                line-height: 16px;
                padding: 4px;
                background: @light-blue;
                border: 1px solid @v-light-grey;

            }
            td {
                padding: 4px;
                vertical-align: middle;
                border: 1px solid @v-light-grey;
                border-top: none;
                border-right: none;
                &.omega {
                    border-right: 1px solid @v-light-grey;
                }
            }
        }
    }
}

#equipment-features {
    position: relative;
    .equipment-feature {
        position: absolute;
        width: 24px;
        height: 24px;
        z-index: 250;
        .feature-icon {
            width: 24px;
            height: 24px;
            background: @blue;
            .drop-shadow(0px, 2px, 5px, @black);
            .border-radius(10px, 10px, 10px, 10px);
            border: 2px solid @light-blue;
            z-index: 100;
            position: absolute;
            left: 0;
            top: 0;
            color: @white;
            font-weight: bold;
            cursor: pointer;
            cursor: hand;
            &:hover {
                .background-gradient(@blue, #00568b);
                border: 2px solid @light-blue;
            }
            &.active {
                background: @red;
                border: 2px solid @dark-red;
                &:hover {
                    .background-gradient(#e51a19, #ba1615);
                }
            }
        }
        .feature-content {
            position: absolute;
            width: 250px;
            background: @v-light-grey;
            .background-gradient(@off-white, @v-light-grey);
            border: 1px solid @light-grey;
            top: 50%;
            .drop-shadow(0px, 2px, 5px, @grey);
            padding: 8px;
            .border-radius(5px, 5px, 5px, 5px);
            z-index: 50;
            display: none;
            &.first-open {
                display: block;
            }
            &.right {
                right: 12px;
            }
            &.left {
                left: 12px;
            }
            h3 {
                font-size: 16px;
                font-weight: bold;
            }
            p {
                font-size: 13px;
                line-height: 16px;
                text-align: justify;
                color: @black;
            }
        }
    }
}