body {
	background-color: #222;
	color: #748598;
	font-size: 16px;
	line-height: 1.428571429;
	transition: all 250ms ease-out 0s;
}
.mainContainer {
	margin: 0 auto;
	max-width: 1600px;
}
a {
	color: #3780CB;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3780CB;
	text-decoration: underline;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #D4DCE5;
	margin: 1em 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	color: #173c5c;
	margin-top: 12px;
	margin-bottom: 12px; 
}
.inverse h1, .inverse h2, .inverse h3, .inverse h4, .inverse h5, .inverse h6 {
	color: #fff;
}
.section {
	background: #E7EAEE;
	padding: 42px 0;
}
.section h2 {
	margin-bottom: 40px;
}
.center {
	text-align: center;
}
.inverse {
	color: #fff;
}
.inverse a {
	color: #fff;
}
.smallText {
	font-size: 12px;
}
.sideGradient {
	background-color: #a3c401;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a3c401), to(#79cb01));
	background-image: -webkit-linear-gradient(left, #a3c401, #79cb01);
	background-image: -moz-linear-gradient(left, #a3c401, #79cb01);
	background-image: -ms-linear-gradient(left, #a3c401, #79cb01);
	background-image: -o-linear-gradient(left, #a3c401, #79cb01);
}
.buttonGradient {
	background-color: #a3c401;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a3c401), to(#79cb01));
	background-image: -webkit-linear-gradient(top, #a3c401, #79cb01);
	background-image: -moz-linear-gradient(top, #a3c401, #79cb01);
	background-image: -ms-linear-gradient(top, #a3c401, #79cb01);
	background-image: -o-linear-gradient(top, #a3c401, #79cb01);
}
.primaryBtn, .inverse .primaryBtn {
	background-color: #3780CB;
	border: none;
	border-radius: 25px;
	color: #fff;
	display: block;
	font-weight: bold;
	height: 50px;
	line-height: 50px;
	padding: 0 70px 0 20px;
	position: relative;
	margin-bottom: 12px;
	text-transform: uppercase;
	text-decoration: none;
	transition: all 250ms ease-out 0s;
}
.primaryBtn:hover, .primaryBtn:focus {
	padding-right: 80px;
}
i.arrowIcon {
	background-position: center -712px;
	border: 2px solid #fff;
	border-radius: 50%;
	display: block;
	height: 30px;
	margin-left: 20px;
	position: absolute;
	right: 20px;
	top: 10px;
	width: 30px;
}
.rotateFortyFive {
	transform: rotate(45deg);
	transform-origin:20% 40%;
	-ms-transform: rotate(45deg); /* IE 9 */
	-ms-transform-origin:20% 40%; /* IE 9 */
	-webkit-transform: rotate(45deg); /* Safari and Chrome */
	-webkit-transform-origin:20% 40%; /* Safari and Chrome */
}
/*HeaderPhone*/
.headerPhone {
	background: #305678;
	line-height: 1;
	padding-top: 10px;
	text-align: right;
}
.headerPhone p {
	font-size: 14px;
	text-align: right;
	margin-bottom: 12px;
}
.headerPhone p span {
	display: block;
	font-size: 24px;
	font-weight: 600;
}
/*Header*/
#header, #footer {
	background: #1A3347;
}
#header {
	left: 0;
	padding: 0;
	/*position: fixed;*/
	right: 0;
	top: 0;
	z-index: 1000;
}
/*Hero*/
.hero {
	background: url(../img/videoSurveillanceBanner.jpg) fixed center top no-repeat #4A505A;
	background-size: cover;
}
.hero p,
.hero ul,
.hero h1,
.hero h2 {
	margin: 0 0 6px 0;
}
.heroIntroWrapper h1 {
	text-transform: capitalize;
}
.heroIntroWrapper ul {
	padding-left: 20px;
	line-height: 2;
}
/*Hero Form*/
.prefixTwo {
	margin-left: 168px;
}
.prefixOne.compareTable {
	margin-left: 80px;
}
.formWrapper {
	font-size: 12px;
}
.form-fields input[type=text] {
	border: 1px solid #ccc;
	font-size: 16px;
	height: 36px;
	line-height: 36px;
	margin-bottom: 12px;
	padding-left: 2%;
	width: 98%;
}
/*CallBox*/
.call-box {
	background-color: #555;
	border-bottom: 1px solid #222;
	border-top: 1px solid #222;
	font-size: 25pt;
	font-weight: bold;
	padding: 24px 0;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
}
/*highlights*/
.highlights h3 {
	font-size: 16px;
}
.highlights hr {
	margin: 60px 0;
}
.sprite {
	background: url(../img/sprite.png) 0 no-repeat;
	text-align: left;
	text-indent: -9999em;
}
.highlights .sprite {
	width: 100px;
	height: 60px;
	margin: 0 auto;
}
.hl247 {
	background-position: center 4px;
}
.hlUnbeatablePrice {
	background-position: center -74px;
}
.hlSimpleWireless {
	background-position: center -156px;
}
.hlCertifiedGE {
	background-position: center -240px;
}
.hlVideo {
	background-position: center -305px;
}
.hlGPS {
	background-position: center -392px;
}
.hlBudget {
	background-position: center -467px;
}
.hlGetInTouch {
	background-position: center -550px;
}
/*contactFooter*/
.contactFooter {
	border-top: 1px solid #D4DCE5;
}
.contactFooter .phone {
	display: block;
	font-size: 32px;
	font-weight: 200;
}
/*Features*/
.features {
	background: url(../img/featuresBg.gif) 0 top repeat-x #fff;
	border-bottom: 1px solid #ccc;
	font-size: 16px;
	padding-top: 90px;
}
.seeOurPackages {
	list-style: none;
	margin-top: 10px;
	text-align: center;
}
/*getStartedProcess*/
.getStartedProcess {
	border-top: 1px solid #eee;
	margin-top: 48px;
	padding: 24px 0;
}
.getStartedProcess h3 {
	margin-bottom: 42px;
}
.processArrow {
	background: url(../img/sprite.png) right -390px no-repeat;
	color: #555;
	line-height: 36px;
	height: 36px;
}
.processArrow.right {
	background: url(../img/sprite.png) left -390px no-repeat;
}
/*Testimonials*/
.testimonials .flexslider {
	border: none;
	border-radius: 0;
	box-shadow: none;
}
.testimonials .slidePadding {
	background-color: #4a505a;
	color: #fff;
	font-style: italic;
	padding: 42px 60px;
	margin-bottom: 42px;
	position: relative;
}
.testimonials .arrow {
	background-color: #4a505a;
	bottom: -4px;
	display: block;
	height: 40px;
	left: 50%;
	margin-left: -12px;
	position: absolute;
	width: 40px;
}
.testimonials .flex-control-paging li a.flex-active {
	background-color: #4a505a;
}
.testimonials .flex-direction-nav a {
	background: url(../img/sprite.png) no-repeat center;
	height: 42px;
	opacity: 1;
	text-align: left;
	text-indent: -99999em;
	width: 25px;
}
.testimonials .flexslider:hover .flex-prev,
.testimonials .flexslider:hover .flex-next {
}
.testimonials .flexslider .flex-prev {
	background-position: center -210px;
	left: -120px;
}
.testimonials .flex-direction-nav .flex-next {
	background-position: center -260px;
	right: -120px;
}
.testimonials p {
	font-size: 16px;
}
.testimonials h3 i {
	font-weight: normal;
}

/*Packages*/
#packages .title {
	margin-bottom: 70px;
	padding-top: 62px;
}
#packages {
	background-color: #fcfcfc;
	padding-top: 0;
}
#tabs a {
	font-weight: bold;
	display: block;
	outline: 0;
	padding-bottom: 8px;
	text-transform: capitalize;
}
#tabs h2 {
	margin-bottom: 10px;
}
#tabs li {
	background-color: #fff;
	border: 1px solid #CCCCCC;
	border-radius: 6px 6px 6px 6px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	float: left;
	font-size: 12px;
	list-style: none outside none;
	margin-left: 0.25%;
	margin-right: 0.25%;
	padding-bottom: 6px;
	position: relative;
	text-align: center;
	width: 19%;
}
#tabs li:hover {
	background: #eee;
}
.silverWrapper {
	margin-top: -20px;
	padding: 20px 0;
}
#tabs .silverWrapper a {
	padding: 4px 0 12px;
}
.package-box-silver h3 {
	background: none repeat scroll 0 0 #2F394A;
	color: #FFFFFF;
	height: 30px;
	left: 20px;
	line-height: 30px;
	position: absolute;
	right: 20px;
	text-transform: uppercase;
	top: -30px;
}
.package-blue-strip {
	background: none repeat scroll 0 0 #1570AB;
	color: #FFFFFF;
	height: 42px;
	line-height: 47px;
	margin-bottom: 12px;
	position: relative;
}
.package-green-strip {
	color: #FFFFFF;
	height: 48px;
	line-height: 50px;
	margin-bottom: 12px;
	position: relative;
}
.package-blue-strip strong,
.package-green-strip strong {
	font-size: 24px;
	margin-right: 42px;
}
.package-blue-strip small,
.package-green-strip small {
	font-size: 11px;
	font-weight: bold;
	line-height: 1;
	position: absolute;
	right: 24px;
	top: 15px;
}
.package-green-strip {
	position: relative;
}
/*Compare Table*/
.compare {
	background-color: #fcfcfc;
	border-bottom: 1px solid #ccc;
	clear: both;
}
.compareTable {
	margin: 0;
}
.PAColumn {
	background: #fff;
	border-radius: 6px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	color: #4BBA29;
}
.PAColumn li:hover {
	background-color: #f5f5f5;
}
.compareTable ul {
	list-style: none;
	padding: 0 0 60px;
}
.compareTable.featureName li {
	font-size: 12px;
	padding-left: 20px;
	text-align: left;
	text-transform: uppercase;
}
.compareTable .compareColTitle {
	color: #333;
	height: 100px;
	line-height: 100px;
	padding-top: 10px;
}
.compareTable li {
	border-bottom: 1px solid #ccc;
	font-weight: bold;
	height: 36px;
	line-height: 36px;
}
.compareTable .included {
	background-position: center -310px;
}
.competitorCol {
	color: #999;
}
.competitorCol .included {
	background-position: center -350px;
}
#footer {
	font-size: 12px;
}

/*Form Overlay Window*/
.formModal {
	width: 320px;
}