@import "../../style";
.wrapper {
    padding-bottom: 0;
}
#hero-banner-wrapper {
    background: #b3ddf2 url(/static/img/affiliates/centerfield-media/sky-bg.png) center top repeat-x;
    width: 100%;
    overflow: hidden;
    height: 518px;
    #hero-main {
        width: 960px;
        margin: 0 auto;
        h1 {
            text-align: center;
            color: @black;
            font-size: 42px;
            line-height: 56px;
            font-weight: bold;
            text-shadow: 1px 2px 0px @light-grey;
            letter-spacing: 1px;
            padding: 16px 0;
            
        }
        #hero-left {
            float: left;
            width: 499px;
            border-right: 1px solid @white;
            h2 {
                font-weight: 100;
                font-size: 32px;
                line-height: 32px;
                span {
                    color: #ffa800;
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }
            ul {
                padding: 16px 0;
                li { 
                    line-height: 24px;
                    font-size: 16px;
                    padding-bottom: 8px;
                    img {
                        vertical-align: middle;
                        position: relative;
                        padding-right: 8px;
                    }
                }
            }
            .badge {
                padding-right: 64px;
            }
        }
        #hero-right {
            float: left;
            padding: 24px;
            width: 412px;
            h3 {
                background: @white;
                .border-radius(3px, 3px, 3px, 3px);
                font-size: 27px;
                line-height: 35px;
                font-weight: 100;
                padding: 16px;
                position: relative;
                text-align: justify;
                .quote-arrow {
                    position: absolute;
                    bottom: -16px;
                    left: 48px;
                }
            }
            p {
                color: @blue;
                font-weight: bold;
                font-size: 21px;
                line-height: 24px;
                padding-top: 24px;
            }
        }
    }
}
#call-box {
    width: 100%;
    background: #76ba00;
    margin: 0 0 16px;
    border-top: 4px solid #3c7a00;
    padding: 24px 0;
    p {
        color: @white;
        text-shadow: 1px 2px 0px #3c7a00;
        font-weight: bold;
        strong {
            color: @white;
            a {
                color: @white;
            }
        }
    }
    &:hover {
        background: #76ba00;
        border-top: 4px solid #3c7a00;

    }
    
}
#quote-form {
    background: @light-grey;
    .drop-shadow;
    a {
        color: @blue;
    }
    div {
        p {
            color: @black;
            font-weight: bold;
        }
        label {
            color: @dark-grey;
        }
    }
    button {
        display: block;
        background: #90af01;
        color: @white;
        text-decoration: none;
        height: 36px;
        line-height: 36px;
        background-image: -moz-linear-gradient(top, @grey, @dark-grey);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#90af01), to(#829e01));
        border: 1px solid transparent;
        font-size: 18px;
        padding: 0 24px;
        width: 257px;
        font-weight: bold;
        cursor: pointer;
        cursor: hand;
        margin-left: 8px;
        &:hover {
            background-image: -moz-linear-gradient(center top, #90af01, #687e01);
            background-image: -webkit-gradient(linear, left top, left bottom, from(#90af01), to(#687e01));
            border: 1px solid #768f03;
            border-bottom: 1px solid #576902;
            -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.3);
            -moz-box-shadow: 0 1px 1px rgba(0,0,0,.3);
            box-shadow: 0 1px 1px rgba(0,0,0,.3);
        }
        &.redbutton {
            background: #E51A19;
            color: white;
            background-image: -moz-linear-gradient(top, @grey, @dark-grey);
            background-image: -webkit-gradient(linear, left top, left bottom, from(@grey), to(@dark-grey));
            &:hover {
                background-image: -moz-linear-gradient(center top, @dark-grey, @black);
                background-image: -webkit-gradient(linear, left top, left bottom, from(@dark-grey), to(@black));
                border: 1px solid @dark-grey;
                border-bottom: 1px solid @black;
                -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
                -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
            }
        }
    }

}
.top-information {
    border-bottom: 1px solid @v-light-grey;
}
#home-security-information {
    .content-box();
    float: left;
    width: 600px;
    margin-right: 56px;
    p {
        text-align: justify;
    }
    img {
        display: block;
        margin: 0 auto;
    }
}

/***** Left Column ****/
.left-column {
    .content-box(600px);
    margin-top: 16px;
    margin-right: 56px;
}

.right-column {
    .content-box(304px);
    margin-top: 46px;
    h3 {
        background: #76BA00;
        color: @white;
        text-shadow: 1px 2px 0px #3C7A00;
        text-align: center;
        font-size: 28px;
        line-height: 32px;
        padding: 16px 0px;
        font-weight: bold;
    }
    table {
        td {
            width: 17%;
            text-align: center;
            vertical-align: middle;
            padding: 15px 0;
            border: 1px solid @light-grey;
            font-size: 16px;
            line-height: 16px;
            font-weight: bold;
            background: @off-white;
            .fade-fast;
            &:hover {
              background: @v-light-blue+10;
              .fade-fast;
            }
            span {
                font-size: 10px;
                display: block;
                font-weight: bold;
                line-height: 11px;
                padding-top: 4px;
                color: @grey;
                font-weight: normal;
            }
            &.button {
                border-right: none;
            }
            &.omega {
                border-bottom: none;
            }
            &.call-out {
                background: #fffee4;
                font-size: 18px;
                font-weight: bold;
            }
            &.highlight {
                background: @light-green+20;
            }
            .strike {
                text-decoration: line-through;
            }
            .free {
                color: @red;
            }
        }
        tfoot {
            tr {
                td {
                    font-size: 10px;
                    background: @v-light-grey;

                }
            }
        }
        tr {
            .fade-slow;
            &:hover {
                background: @v-light-blue;
                .fade-fast;   
            }
        }
        .blank-box {
            border-right: 1px solid @light-grey;
        }
        th {
            background: @v-light-grey;
            border: 1px solid @light-grey;
            padding: 16px 5px;
            text-align: center;
            vertical-align: middle;
            font-size: 15px;
            font-weight: bold;
            border-left: none;
            
            line-height: 16px;
            &.alpha {
               border-left: 1px solid @light-grey;
            }
            &.pa {
                background: @light-grey;
                border: 1px solid @grey;
            }
            &.omega {
                background: none;
                border-top: none;
                border-right: none;
                border-bottom: none;
            }
        }
    }

}
#main-features {
    .content-box();
    border-bottom: 1px solid @v-light-grey;
}