@import "../../style";
.wrapper {
    padding-bottom: 0;
}
#hero-banner-wrapper {
    background: #b3ddf2 url(/static/img/affiliates/centerfield-media/sky-bg.png) center top repeat-x;
    width: 100%;
    overflow: hidden;
    height: 518px;
    #hero-main {
        width: 960px;
        margin: 0 auto;
        h1 {
            text-align: center;
            color: @black;
            font-size: 42px;
            line-height: 56px;
            font-weight: bold;
            text-shadow: 1px 2px 0px @light-grey;
            letter-spacing: 1px;
            padding: 16px 0;
            
        }
        #hero-left {
            float: left;
            width: 499px;
            border-right: 1px solid @white;
            h2 {
                font-weight: 100;
                font-size: 32px;
                line-height: 32px;
                span {
                    color: #ffa800;
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }
            ul {
                padding: 16px 0;
                li { 
                    line-height: 24px;
                    font-size: 16px;
                    padding-bottom: 8px;
                    img {
                        vertical-align: middle;
                        position: relative;
                        padding-right: 8px;
                    }
                }
            }
            .badge {
                padding-right: 64px;
            }
        }
        #hero-right {
            float: left;
            padding: 24px;
            width: 412px;
            h3 {
                background: @white;
                .border-radius(3px, 3px, 3px, 3px);
                font-size: 27px;
                line-height: 35px;
                font-weight: 100;
                padding: 16px;
                position: relative;
                text-align: justify;
                .quote-arrow {
                    position: absolute;
                    bottom: -16px;
                    left: 48px;
                }
            }
            p {
                color: @blue;
                font-weight: bold;
                font-size: 21px;
                line-height: 24px;
                padding-top: 24px;
            }
        }
    }
}