@import "../../style";
.wrapper {
    padding-bottom: 0;
}
#top-section-wrapper {
    display: none;
}
#header-wrapper {
    height: 54px;
    #header {
        .stuck-phone {
            display: block;
            margin-top: 16px;
            font-size: 22px;
            font-weight: normal;
            float: right;
            color: #ffffff;
            margin-right: 16px;
            a {
                color: @white;
                text-decoration: none;
            }
        }
    }
}
#main-navigation {
    display: none;
}

#big-hero-banner {
    height: 560px;
    min-height: 100px;
    width: 100%;
    position: relative;
    overflow: hidden;
    #hero-wrapper {
        background: url(/static/img/affiliates/centerfield-media/light-blue-bg.png) repeat;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 500;
        min-width: 1024px;
        h1 {
            text-align: center;
            color: @black;
            font-size: 48px;
            line-height: 56px;
            font-weight: bold;
            text-shadow: 1px 2px 0px @light-grey;
            letter-spacing: 1px;
            padding: 16px 0 24px;
            
        }
        .happy-family {
            position: absolute;
            bottom: 0px;
            left: auto;
            right: 80%;
        }
        #hero-left {
            float: left;
            width: 39%;
            padding-left: 21%;
            h2 {
                font-weight: 100;
                font-size: 32px;
                line-height: 32px;
                span {
                    color: @red;
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }
            ul {
                padding: 24px 0;
                li { 
                    line-height: 24px;
                    font-size: 16px;
                    padding-bottom: 8px;
                    img {
                        vertical-align: middle;
                        position: relative;
                        padding-right: 8px;
                    }
                }
            }
            .badge {
                position: absolute;
                bottom: 13px;
                left: 18%;
            }
        }
       #hero-right {
            float: left;
            padding: 0 24px 24px;
            width: 30%;
            overflow: hidden;
            h3 {
                background: @white;
                .border-radius(3px, 3px, 3px, 3px);
                font-size: 24px;
                line-height: 35px;
                font-weight: 100;
                padding: 16px;
                position: relative;
                text-align: justify;
                .quote-arrow {
                    position: absolute;
                    bottom: -16px;
                    left: 48px;
                }
            }
            p {
                color: @blue;
                font-weight: bold;
                font-size: 19px;
                line-height: 24px;
                padding-top: 24px;
            }
            .special-promo {
                padding-top: 22px;
            }
        }
        #hero-badges {
            width: 37%;
            position: absolute;
            right: 3%;
            top: 424px;
            img {
                padding-right: 6%;
            }
        }
        .hero-promo {
            position: absolute;
            left: 372px;
            padding-left: 1%;
            bottom: 88px;
        }
        .pricing {
            position: absolute;
            left: 372px;
            padding-left: 1%;
            bottom: 175px;
        }
        .button-submit {
            position: absolute;
            left: 413px;
            padding-left: 1%;
            bottom: 105px;
            text-align: left;
            a {
                display: block;
                margin-top: 4px;
                padding: 8px 60px;
                .border-radius(3px,3px,3px,3px);
                background: #00bbf4;
                text-shadow: 0px 1px 0px #2a6273;
                color: #ffffff;
                width: 100px;
                text-align: center;
                margin: 10px auto 0;
                &:hover {
                    border: 1px solid @blue;
                }
            }
        }

    }
    #hero-backdrop {
        position: absolute;
        height: 100%;
        width: 100%;
        min-width: 1024px;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

#hero-banner-wrapper {
    background: #b3ddf2 url(/static/img/affiliates/centerfield-media/sky-bg.png) center top repeat-x;
    width: 100%;
    overflow: hidden;
    height: 475px;
    #hero-main {
        width: 960px;
        margin: 0 auto;


 
    }
}
#one-hundred-percent {
    width: 593px;
    float: left;
    margin-right: 32px;
    padding-right: 42px;
    border-right: 1px solid @v-light-grey;
    text-align: justify;
    padding-top: 24px;
    padding-bottom: 48px;

    h1 {
        font-size: 36px;
        font-weight: 200;
        line-height: 36px;
        padding: 0px 0 20px;
    }
    p {
        padding-bottom: 16px;
    }
    h3 {
        background: #00bbf4;
        padding: 8px 16px;
        .border-radius;
        float: left;
        color: @white;
        font-size: 16px;
        text-shadow: 0px 1px 0px #2a6273;
        margin-top: 16px;
        a {
            color: @white;
            text-decoration: none;
        }
    }

}
#security-information {
    margin-top: 16px;
    #quote-form {
        display: block;
        position: relative;
        float: left;
        .drop-shadow(0,0,0,0);
        width: 265px;
        top: 0;
        border: 1px solid @black;
        label {
            display: none;
        }
        input {
            margin: 16px auto;
            width: 225px;
            display: block;
        }
        button {
            width: 234px;
        }
        .consent-box-two {
            #id_consent_two {
                margin-left: 8px;
            }
            label {
                display: block;
                float: left;
                width: 190px;
            }
        }
    }
}

.top-information {
    border-bottom: 1px solid @v-light-grey;
}
#security-categories {
    padding-top: 16px;
    padding-bottom: 64px;
    width: 960px;
    position: relative;
    overflow: hidden;
    margin-top: 16px;
    ul {
        li {
            float: left;
            width: 320px;
            text-align: center;
            cursor: pointer;
            cursor: hand;
            &.active {
                cursor: default;
            }
            h2 {
                font-size: 26px;
                line-height: 28px;
                padding: 16px 32px;
                font-weight: 200;
            }
            .button-link {
                float: none;
                margin: 0 auto;
                width: 120px;
            }
        }
    }
    #color-band {
        position: absolute;
        z-index: -1;
        bottom: 0;
    }
    #white-arrow {
        position: absolute;
        z-index: -1;
        left: -925px;
        bottom: 0;
    }
}
.big-info {
    padding: 16px 0;
    .big-wrapper {
        width: 960px;
        margin: 0 auto;
        position: relative;
    }
}
#home-security-button-choice {
    display: none;
}
#video-security-choice {
    background: url(/static/img/spanish/video-bg.png) repeat;
    h2 {
        color: @white;
        font-weight: 100;
        font-size: 32px;
        padding-bottom: 16px;
        text-shadow: 0px 2px 0px #8f191a;
        line-height: 32px;
        
    }
    h3 {
        background: #00bbf4;
        padding: 8px 16px;
        .border-radius;
        float: left;
        color: @white;
        font-size: 16px;
        text-shadow: 0px 1px 0px #2a6273;
        margin-top: 16px;
        a {
            color: @white;
            text-decoration: none;
        }
    }
    p {
        text-align: justify;
        color: @white;
        line-height: 24px;
    }
    #way-you-want-security {
        margin: 32px 0 100px;
        img {
            float: left;
            padding-right: 16px;
        }
        #customize-content {
            margin-top: 16px;
            float: left;
            width: 504px;
            margin-left: 48px;
        }
    }
    #locked-in, #self-install {
        width: 309px;
        float: left;
        margin: 0 16px;
        h2 {
            font-size: 24px;
        }
    }
    #self-install {
        margin-left: 0;
    }
    .customer-testimonial-box {
        text-align: center;
        padding: 0px 16px;
        height: 520px;

        margin-bottom: 16px;
        position: relative;
        width: 253px;
        margin-left: 8px;
        float: left;
        border-left: 1px solid @dark-red;
        h3 {
            color: @white;
            font-size: 14px;
            font-weight: normal;
            line-height: 16px;
            padding: 0 10px;
            letter-spacing: 0px;
            text-align: left;
            vertical-align: text-bottom;
            background: transparent;
            padding-top: 32px;
            margin-top: 0;
            margin-bottom: 8px;
            img {
                vertical-align: text-bottom;
            }
            span {
                color: @white;
                display: block;
                font-weight: 300;
                font-size: 26px;
                line-height: 28px;
                padding-bottom: 4px;
            }
        }
        strong {
            color: @light-blue;
            
        }
        p {
            margin: 0 10px 20px;
            text-align: justify;
            font-size: 12px;
            line-height: 22px;
            float: none;
            clear: both;
        }
        img.testimonial-image {
            .drop-shadow(0, 2px, 5px, @grey);
            border: 5px solid @white;
            margin: 16px 16px 8px 0;
            text-align: center;
            width: 120px;
            float: left;
        }
        
        &.alt {
            background: @off-white;
            .drop-shadow(0px ,0px ,0px ,@white);
            border: 1px solid @light-grey;
            margin-right: 0;
        }

        .star-container {
            bottom: 16px;
            padding-bottom: 16px;
            padding-bottom: 9px;
            margin-left: 8px;
            .star {
                width: 40px;
                height: 40px;
                background: url(/static/img/extra/testimonial-stars-light-patched.png) -40px 0 no-repeat;
                float: left;
    
                &.active {
                    background: url(/static/img/extra/testimonial-stars-light-patched.png) -1px 0 no-repeat;
    
                }
            }
        }
    }

}
#smart-app-choice {
    background: url(/static/img/spanish/smart-app-bg.png) repeat;
    position: relative;
    height: 665px;
    .interactive-app {
        position: absolute;
        bottom: -16px;
        left: -136px;
    }
    .smart-app-image {
        float: left;
    }
    #smart-app-extra-information {
        float: left;
        width: 540px;
        padding-left: 400px;
        height: 665px;
        h2 {
            color: @white;
            font-weight: 100;
            font-size: 32px;
            padding-bottom: 16px;
            text-shadow: 0px 2px 0px #22650d;
            line-height: 32px;
            padding-top: 82px;
            
        }
        p {
            text-align: justify;
            color: @white;
            font-size: 13px;
            padding-bottom: 16px;
        }
        h3 {
            background: #00bbf4;
            padding: 8px 16px;
            .drop-shadow(0px, 1px, 3px, #22650d);
            .border-radius;
            float: left;
            color: @white;
            font-size: 16px;
            text-shadow: 0px 1px 0px #2a6273;
            margin-top: 16px;
            a {
                color: @white;
                text-decoration: none;
            }
        }
        ul {
            li {
                width: 450px;
                margin: 8px 0;
                img {
                    float: left;
                    padding-right: 8px;
                }
                h4 {
                    color: #1a5808;
                    font-weight: bold;
                    text-transform: uppercase;
                    font-size: 16px;
                    line-height: 16px;
                }
                p {
                    color: #1a5808;
                    font-size: 14px;
                }
            }
        }
    }
}
#home-security-choice {
    background: url(/static/img/spanish/home-security-bg.png) repeat;
    display: block;
    padding-top: 16px;
    #comparison-table {
        width: 960px;
        th {
            text-align: center;
            color: @white;
            font-weight: normal;
            font-size: 20px;
            line-height: 20px;
            vertical-align: middle;
            padding: 12px 0;
        }
        tbody {
            td {
                color: @white;
                font-weight: 100;
    
                font-size: 28px;
                line-height: 32px;
                padding: 4px 0;
                width: 175px;
                text-align: center;
                vertical-align: middle;
                border: 1px solid @dark-blue;
                border-top: none;
                border-left: none;
                &.pa {
                    width: 274px;
                    background: @light-blue;
                    color: @blue;
                    border-left: 1px solid @dark-blue;
    
                    &.alpha {
                        border-top: 1px solid @dark-blue;
                        .border-radius(3px, 3px, 0, 0);
                        padding-top: 8px;
                    }
                    &.omega {
                        border-bottom: 1px solid @dark-blue;
                        .border-radius(0, 0, 3px, 3px);
                        padding-bottom: 8px;
                        
                    }
                }
                &.title {
                    text-align: right;
                    padding-right: 24px;
                    border-right: none;
                    width: 296px;
                    font-size: 20px;
                    line-height: 24px;
                }
                &.omega {
                    border-bottom: none;
                }
            }
        }
        tfoot {
            td {
                margin-top: 8px;
                text-align: center;
                .header-button {
                    display: block;
                    margin-top: 4px;
                    padding: 8px 48px;
                    .border-radius(3px, 3px, 3px, 3px);
                    background: #00bbf4;
                    text-shadow: 0px 1px 0px #2a6273;
                    color: @white;
                    width: 100px;
                    margin: 10px auto 0;
                    &:hover {
                        border: 1px solid #2272a2;
                    }
                }
            }
        }
    }
    #home-security-info {
        margin-top: 16px;
        margin-bottom: 16px;
        h2 {
            color: @white;
            font-weight: 100;
            font-size: 32px;
            padding-bottom: 16px;
            text-shadow: 0px 2px 0px #1e679a;
            line-height: 32px;
            padding-top: 16px;
            
        }
        h3 {
            background: #00bbf4;
            padding: 8px 16px;
            .border-radius;
            float: left;
            color: @white;
            font-size: 16px;
            text-shadow: 0px 1px 0px #2a6273;
            margin-top: 16px;
            a {
                color: @white;
                text-decoration: none;
            }
        }
        p {
            text-align: justify;
            color: @white;
            line-height: 24px;
        }
        #home-security-main-image {
            float: left;
            width: 424px;
            text-align: center;

        }
        #home-security-overview {
            float: left;
            width: 504px;
            padding: 0 16px;
    
        }
    }
}

