{% extends "_base.html" %}

{% load adspace %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/products.css" />
{% endblock %}

{% block subnav %}
    <div id="subnav">
        <ul>
            <li class="current">
                <a title="" href="#">Packages</a>
            </li>
            <li>
                <a title="" href="#">Packages</a>
            </li>
            <li>
                <a title="" href="#">Packages</a>
            </li>
            <li>
                <a title="" href="#">Packages</a>
            </li>

        </ul>
    </div>
{% endblock %}

{% block content %} 
    {% include "_partial/product_header.html" %}

{% endblock %}

{% block sidebar %} 
    {{ block.super }}
    <div style="margin-bottom: 8px;">
        <a title="Click Here to get Whole Home Protection" href="#">
            <img width="251" height="286" alt="Click Here to get Whole Home Protection" src="{{ STATIC_URL }}img/adt-vs-pa-side.jpg">
        </a>
    </div>
{% endblock %}
