{% extends "_base.html" %}

{% load adspace %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/products.css" />
{% endblock %}

{% block subnav %}
    <div id="subnav">
        <ul>
            <li{% if 'packages' in active_pages %} class="current"{% endif %}>
                <a title="" href="#">Packages</a>
            </li>
            <li{% if 'equipment' in active_pages %} class="current"{% endif %}>
                <a title="" href="#">Equipment</a>
            </li>
            <li{% if 'monitoring' in active_pages %} class="current"{% endif %}>
                <a title="" href="#">Monitoring</a>
            </li>
            <li{% if 'existing_systems' in active_pages %} class="current"{% endif %}>
                <a title="" href="#">Existing Systems</a>
            </li>
            <li{% if 'existing_systems' in active_pages %} class="current"{% endif %}>
                <a title="" href="#">Camera</a>
            </li>
            <li{% if 'existing_systems' in active_pages %} class="current"{% endif %}>
                <a title="" href="#">GPS</a>
            </li>
            <li{% if 'existing_systems' in active_pages %} class="current"{% endif %}>
                <a title="" href="#">Our Advantage</a>
            </li>
            <li{% if 'existing_systems' in active_pages %} class="current"{% endif %}>
                <a title="" href="#">Place Order</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %} 
    {% include "_partial/product_header.html" %}

{% endblock %}

{% block sidebar %} 
    {{ block.super }}
    <div style="margin-bottom: 8px;">
        <a title="Click Here to get Whole Home Protection" href="#">
            <img width="251" height="286" alt="Click Here to get Whole Home Protection" src="{{ STATIC_URL }}img/adt-vs-pa-side.jpg">
        </a>
    </div>
{% endblock %}
