{% extends "base.html" %}
{% block page_title %}Home Security Systems | Protect America{% endblock %}
{% block page_keywords %}{% endblock %}
{% block page_description %}Discover how Protect America provides you with peace of mind by helping you feel safer and more secure with one of our inexpensive home security systems.{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/affiliates/ppc-business-package/ppc-business-package.css">
{% endblock %}
{% block content %}
        {% include "order/quote-form.html" with form=forms.basic %}
            <div id="main-container">
                <div id="opener">
                    <h1>Our Business Package</h1>
                    <p>Every business is different. Whether you run a distribution warehouse or a retail store, security is important. Theft from customers and employees result in an annual $39 billion loss for American businesses. A security system from Protect America can reduce theft and greatly improve your company's bottom line.</p>
                    <img style="padding-left:20px; " src="{{ STATIC_URL }}img/affiliates/ppc-business-package/package-system.jpg" alt="package-system" width="384" height="189" />
                </div>
                <div id="package-price">
                     <h1>Upfront Price</h1>
                     <h2>$99.00</h2>
                     <h3>Monthly Price</h3>
                     <h4>$44.99</h4>
                </div>
                <div id="baker-image">
                    <img src="{{ STATIC_URL }}img/affiliates/ppc-business-package/baker.jpg" alt="baker" width="208" height="391" />
                </div>
            </div>
            <div class="clear"></div>
            <div id="included-equipment">
                <h2>What's Included:</h2>
                <div>
                    <img style="padding-left: 15px;" src="{{ STATIC_URL }}img/affiliates/ppc-business-package/simon-xt-whats-included.gif" alt="simon-xt-whats-included" width="110" height="92" />
                    <strong>One (1)</strong> Simon XT Control Panel
                </div>
                <div>
                   <img src="{{ STATIC_URL }}img/affiliates/ppc-business-package/sensors.png" alt="sensors" width="142" height="83" />
                    <strong>Two (2)</strong> Door / Window Sensors
                </div>
                <div>
                    <img style="padding-left: 25px; margin-top: -25px;" src="{{ STATIC_URL }}img/affiliates/ppc-business-package/secret-key-pad-2.gif" alt="secret-key-pad-2" width="82" height="136" />
                    <strong>One (1)</strong> Secret Keypad
                </div>
                <div>
                    <img style="padding-left: 25px;" src="{{ STATIC_URL }}img/affiliates/ppc-business-package/camera.jpg" alt="camera" width="86" height="108" />
                    <strong>One (1)</strong> Camera
                </div>
                <div>
                    <img src="{{ STATIC_URL }}img/affiliates/ppc-business-package/glass-break-sensor.png" alt="glass-break-sensor" width="122" height="98" />
                    <strong>One (1)</strong> Glass Break Sensors
                </div>
                <div>	
                    <img src="{{ STATIC_URL }}img/affiliates/ppc-business-package/window-stickers.gif" alt="window-stickers" width="170" height="97" />
                    <strong>Three (1)</strong> Window/Door Stickers
                </div>
            </div>
            <div class="product-description">
                <div class="product-controls">
                    <img style="padding-left: 15px;" src="{{ STATIC_URL }}img/affiliates/ppc-business-package/left-arrow.jpg" alt="left-arrow" width="26" height="26" />
                    <img style="margin-left: 210px;" src="{{ STATIC_URL }}img/affiliates/ppc-business-package/right-arrow.jpg" alt="right-arrow" width="26" height="26" />
                </div>
                <div class="product">
                    <div class="product-image">
                        <img style="margin-left: 40px; margin-top: -35px;" src="{{ STATIC_URL }}img/affiliates/ppc-business-package/simon-xt.gif" alt="simon-xt" width="196" height="165" />
                    </div>
                    <div class="description-box">
                        <div class="left-description">
                            <h1>Key Features:</h1>
                            <p>Innovative Wireless Technology Allows for Simple Installation</p>
                            <ul>
                                <li>Built-In Digital Voice Commands</li>
                                <li>40 Wireless Zones</li>
                                <li>24-Hour Rechargeable Battery Back-Up</li>
                                <li>24 Hour Emergency Panic Button</li>
                                <li>Super Loud Built-In Warning Piezo Siren</li>
                                <li> Large Backlit Buttons and LCD Display</li>
                                <li>Latchkey Pager Feature</li>
                                <li>Configurable Door & Window Chimes</li>
                                <li>Built-In Touchpad with One Button Arming</li>
                                <li>9 User-Programmable Access Codes</li>
                                <li> Remote System Control Via Telephone</li>
                                <li>Numeric Keypad with Status Button</li>
                            </ul>
                        </div>
                        <div class="right-description">
                            <h1>GE Simon XT Alarm</h1>
                            <p>Protect America allows you to gain a true picture of what is happening in your home or business with 24 / 7 on-demand video. Get enhanced security with our pan and tilt video cameras, archived clips, event notifications, and automatic recording when movement is detected. With Protect America's video services, peace of mind is just an instant click away.</p>
                            <p>The control panel is the 'brains' of your home security system. And with the GE Simon XT, you get a full-featured home security platform that combines the best of home security with ease of use. Arming, emergency response, and status updates are all just one button press away. </p>
                        </div>
                    </div>
                    <div class="awards">
                        <div class="topconsumers">
                            <img src="{{ STATIC_URL }}img/affiliates/ppc-business-package/topconsumers.gif" alt="topconsumers" width="114" height="53" />Five star rating four years in a row by online website: TopConsumerReviews.com
                        </div>
                        <div class="consumerdigest">
                            <img src="{{ STATIC_URL }}img/affiliates/ppc-business-package/consumerdigest.gif" alt="consumerdigest" width="59" height="53" /><p>Voted a Consumers Digest "Best Buy" for our Copper home security package.</p>       
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div id="call-box">
                <p>Get Started Now,<strong>Call Today<span>1-800-0000</span></strong></p>
            </div>
        </div>
<!--
            <div id="product-description">
                <div class="product-controls">
                    <img src="{{ STATIC_URL }}img/affiliates/ppc-business-package/left-arrow.jpg" id="left-nav-arrow" alt="left-arrow" width="26" height="26" />
                    <img style="margin-left: 0px;" src="{{ STATIC_URL }}img/affiliates/ppc-business-package/right-arrow.jpg" id="right-nav-arrow" alt="right-arrow" width="26" height="26" />
                </div>
                <div class="product">
                    <div class="product-image">
                        <img style="margin-left: -110px;" src="{{ STATIC_URL }}img/affiliates/ppc-business-package/simon-xt.gif" alt="simon-xt" width="196" height="165" />
                    </div>
                    <div class="left-description">
                        <h1>Key Features:</h1>
                        <p>Innovative Wireless Technology Allows for Simple Installation</p>
                        <ul>
                            <li>Built-In Digital Voice Commands</li>
                            <li>40 Wireless Zones</li>
                            <li>24-Hour Rechargeable Battery Back-Up</li>
                            <li>24 Hour Emergency Panic Button</li>
                            <li>Super Loud Built-In Warning Piezo Siren</li>
                            <li> Large Backlit Buttons and LCD Display</li>
                            <li>Latchkey Pager Feature</li>
                            <li>Configurable Door & Window Chimes</li>
                            <li>Built-In Touchpad with One Button Arming</li>
                            <li>9 User-Programmable Access Codes</li>
                            <li> Remote System Control Via Telephone</li>
                            <li>Numeric Keypad with Status Button</li>
                        </ul>
                    </div>
                    <div class="right-description">
                        <h1>GE Simon XT Alarm</h1>
                        <p>Protect America allows you to gain a true picture of what is happening in your home or business with 24 / 7 on-demand video. Get enhanced security with our pan and tilt video cameras, archived clips, event notifications, and automatic recording when movement is detected. With Protect America's video services, peace of mind is just an instant click away.</p>
                        <p>The control panel is the 'brains' of your home security system. And with the GE Simon XT, you get a full-featured home security platform that combines the best of home security with ease of use. Arming, emergency response, and status updates are all just one button press away. </p>
                    </div>
                </div>
                
                
                
                
                
                
                <div class="product">
                    <div>
                        <img style="margin-left: -65px;" src="{{ STATIC_URL }}img/affiliates/ppc-business-package/sensors.png" alt="sensors" width="142" height="83" />
                    </div>
                    <div>
                        <h1>Key Features:</h1>
                        <p>Innovative Wireless Technology Allows for Simple Installation</p>
                        <ul>
                            <li>Wireless</li>
                            <li>Reliable magnetic monitoring technology</li>
                            <li>Easy installation</li>
                            <li>Dual use on either doors or windows</li>
                        </ul>
                    </div>
                    <div id="right-description">
                        <h1>Door / Window Sensors</h1>
                        <p>Door/window sensors are the most common piece of security equipment and the front line defense. A surprisingly simple device, door/window sensors create a magnetic field that, when broken, sends a signal to your central GE Simon XT control panel and sounds the alarm. Protect America only uses wireless sensors that can be used on either doors or windows, allowing for greater system customization. For most businesses, we recommend one sensor for every accessible door and window.
                        </p>
                    </div>
                    <div id="awards">
                        <div id="topconsumers">
                            <img src="{{ STATIC_URL }}img/affiliates/ppc-business-package/topconsumers.gif" alt="topconsumers" width="114" height="53" />Five star rating four years in a row by online website: TopConsumerReviews.com
                        </div>
                        <div id="consumerdigest">
                            <img src="{{ STATIC_URL }}img/affiliates/ppc-business-package/consumerdigest.gif" alt="consumerdigest" width="59" height="53" />
                        </div>
                    </div>
                </div>
            </div>
            
            {% comment %}
            <div id="product-description">
                <div>
                    <img src="{{ STATIC_URL }}img/affiliates/ppc-business-package/left-arrow.jpg" alt="left-arrow" width="26" height="26" />
                </div>
                <div>
                    <img style="margin-left: -65px;" src="{{ STATIC_URL }}img/affiliates/ppc-business-package/sensors.png" alt="sensors" width="142" height="83" />
                </div>
                <div>
                    <img src="{{ STATIC_URL }}img/affiliates/ppc-business-package/right-arrow.jpg" alt="right-arrow" width="26" height="26" />
                </div>
            </div>
                <div>
                    <h1>Key Features:</h1>
                    <p>Innovative Wireless Technology Allows for Simple Installation</p>
                    <ul>
                        <li>Wireless</li>
                        <li>Reliable magnetic monitoring technology</li>
                        <li>Easy installation</li>
                        <li>Dual use on either doors or windows</li>
                    </ul>
                </div>
                <div id="right-description">
                    <h1>Door / Window Sensors</h1>
                    <p>Door/window sensors are the most common piece of security equipment and the front line defense. A surprisingly simple device, door/window sensors create a magnetic field that, when broken, sends a signal to your central GE Simon XT control panel and sounds the alarm. Protect America only uses wireless sensors that can be used on either doors or windows, allowing for greater system customization. For most businesses, we recommend one sensor for every accessible door and window.
                    </p>
                </div>
                {% endcomment %}
-->

{% endblock %}