// Styles for the Products Pages

/************** Packages ****************/

#the-copper-package, #the-bronze-package {
	.bottom-rule;
}

#copper-package-content {
	.small-box;
	.text-compensate(375px);
	.text-bump(50px);
}
#bronze-package-content {
	.big-box;
	.text-compensate(425px);
	.text-bump(50px);
}
#copper-package-image, #bronze-package-image {
	.small-box;
}

#copper-package-included-equipment, #bronze-package-included-equipment {
	.content-box;
	p {
	font-size: 13px;
	text-align: center;
	line-height: 12px;
	color: @black+2;
	}
	p span {
	display:block;
	font-size:16px;
	font-weight:800;
	line-height: 22px;
	color: @black;
	}
	#simon-xt, #motion-detector, #door-window-sensor, #installation-manual, #security-window-stickers, #security-yard-sign  {
		.sixth-box;
	}
}
#copper-package-price {
	margin: 20px 0 50px;
	p {
		font-size: 31px;
		font-weight: normal;
		color: @link-blue;
		line-height: 24px;
	}
	span {
		display:block;
		font-size:16px;
		font-weight:800;
		line-height: 22px;
		color: @black;
	}

}
/************** Existing Systems ****************/
body.cell-takeover {
	#existing-system-overview {
		.big-box;
		.text-compensate(300px);
		.text-bump(50px);
	}
	#old-security-system-image {
		.small-box;
	}
	#cellular-connection {
		.half-box;
		.text-bump(100px);
	}
	#cut-wire-image {
		.half-box;
	}
	#no-phone-line {
		.half-box;
		.text-compensate(300px);
	}
	#nationwide-coverage, #helpful-tech-support, #save-money {
		.fourth-box;
	}
}

