@charset "UTF-8";
/************************************
*	Reset							*
************************************/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}:focus{outline:0;}body{line-height:1;color:#000;background:#fff;}ol,ul{list-style:none;}table{border-collapse:separate;border-spacing:0;}caption,th,td{text-align:left;font-weight:normal;}blockquote:before,blockquote:after,q:before,q:after{content:"";}blockquote,q{quotes:"" "";}.container_full{overflow:hidden;width:100%;}.padding_10{padding:10px;}.center{text-align:center;}.absolute{position:absolute!important;}.relative{position:relative!important;}.text-center{text-align:center;}.float_left{float:left;}
/********** Main ***********/
body {
	background: #fff;
	font: 0.8em/1.7em "Helvetica Neue", Arial, sans-serif;
}
#wrapper {
	background: #fff;
	margin:0 auto;
	position:relative;
	width:960px;
	padding-bottom: 10px;
	z-index: 0;
}
#left-content {
	width: 670px;
	float: left;
}
#right-content {
	width: 290px;
	float: left;

}

.clear { 
	clear: both; 
	height: 0; 
	line-height: 0; 
}
a {
	color: #0066B3;
}
a:hover {
	color: #00458C;
	text-decoration: underline;
}
/********** Content Boxes **********/

.content-box {
	width: 960px;
	margin: 0 0 15px;
	float: left;
}
.content-box .outline-box {
	margin: 10px auto;
	border: 1px solid #999;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 305px;
	float: none;
	

}
.bottom-rule {
	border-bottom: 1px solid #eee;
	margin-bottom: 20px;
}
.breaking {
	overflow: visible;
}
.content-box.half {
	width: 480px;
}
.content-box.big {
	width: 540px;
}
.content-box.small {
	width: 420px;
}
.content-box.third {
	width: 320px;
}
.content-box.fourth {
	width: 240px;
}
.content-box.fifth {
	width: 192px;
}
.content-box.sixth {
	width: 160px;
}
.outline-box {
	width: 960px;
	margin: 0 0 10px;
	border: 1px solid #999;
	-moz-border-radius: 10px;
	border-radius: 10px;
	float: left;

}
.outline-box.half {
	width: 323px;
}

/********** Grid / Image Adjustments ***********/
img.image-break {
	left: -150px;
	position: absolute;
	z-index: -50;
}
img.image-break-right {
	right: 50;
	position: absolute;
	z-index: -50;
}
img.image-break-ribbon {
	top: -20px;
	right: -30px;
	position: absolute;
	z-index: -50;
}
/********** Content Typography **********/
strong {
	font-weight: 800;
}
.content-box h1 {
	color: #333;
	font-size: 36px;
	font-weight: normal;
	line-height: 36px;
	padding: 0 17px;
	margin-bottom: 10px;
	letter-spacing: -1px;
}
.content-box h2 {
	color: #333;
	font-size: 28px;
	font-weight: normal;
	line-height: 28px;
	padding: 0 20px;
	margin-bottom: 10px;
	letter-spacing: -1px;
}
.outline-box h2 {
	background: #DCE9EF;
	color:#333333;
	font-size:28px;
	font-weight: 800;
	line-height:28px;
	margin:0 0 10px;
	padding: 8px;
	border-bottom: 1px solid #999;
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
}
.outline-box h3, .content-box h3 {
	color:#0066B3;
	font-size:20px;
	font-weight: normal;
	line-height:24px;
	margin:20px 0 5px;
	padding: 0 0 0 10px;
	border-bottom: 1px solid #eee;

}
.content-box.third h4 {
	text-align: center;
	font-size: 14px;
	font-weight: 800;
	line-height: 15px;
	margin: 0 5px 10px;
}
.content-box.third p {
	font-size: 12px;
	line-height: 16px;
	padding: 0 10px;
}
.outline-box p, .content-box p {
	padding: 0 10px;
	text-align: justify;
	line-height: 18px;
	color: #333;
}
.content-box p {
	padding: 0 20px;
	margin-bottom: 10px;
}
.outline-box h2 a, .content-box h2 a {
	text-decoration: none;
	color:#333333;
}
.outline-box h2 a:hover, .content-box h2 a:hover {
	text-decoration: underline;
}
#wrapper ul {
	padding: 0 10px 0 30px;
	margin-top: 10px;
	list-style-type: disc;
}
#wrapper ul li {
	margin-bottom: 10px;
}
.content-box .outline-box span {
	background: #DCE9EF;
	color: #333333;
	font-size: 16px;
	font-weight: 800;
	line-height: 16px;
	margin: 0 0 10px;
	padding: 8px;
	border-bottom: 1px solid #999;
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	display: block;
}
#wrapper .content-box .outline-box li {
	margin-bottom: 0;
	font-size: 11px;
}
#wrapper .content-box .outline-box ul {
	list-style-type: none;
	margin: 0 0 10px 10px;
	padding: 0;
}
.text_compensate_250 {
	height: 250px;
}
.text_compensate_300 {
	height: 300px;
}
.text_compensate_350 {
	height: 350px;
}
.text_compensate_400 {
	height: 400px;
}
.text_compensate_450 {
	height: 450px;
}
.text_compensate_500 {
	height: 500px;
}
.text_bump_50 {
	margin-top: 50px;
}
.text_bump_100 {
	margin-top: 100px;
}
/********** Contact Area **********/
.contact-area {
	background: #014C9F;
	height: 130px;
	position: fixed;
	bottom: 0;
	width: 100%;
	opacity: .98;
	-moz-box-shadow: -1px -3px 5px #ccc;
	-webkit-box-shadow: -1px -3px 5px #ccc;
	box-shadow: -1px -3px 5px #ccc;
}
.contact-area .content-box {
	height: 130px;
	-moz-border-radius: 10px;
}
.contact-area .content-box:hover {
	background: #2f394a;
	cursor: pointer;
	cursor: hand;
}
.contact-area-wrapper {
	width: 960px;
	margin: 0 auto;
}
.contact-area .content-box strong {
	font-size: 19px;
	color: #fff;
	margin: 10px 10px;
	padding: 5px 0 5px 40px;
	display: block;
}
.contact-area strong.quote {
	background: url(/media/img/contact-icons.png) no-repeat 0px -64px;
}
.contact-area strong.chat {
	background: url(/media/img/contact-icons.png) no-repeat 0px -32px;
}
.contact-area strong.call {
	background: url(/media/img/contact-icons.png) no-repeat 0px 0px;
}
.contact-area .content-box span {
	font-size: 38px;
	font-weight: 800;
	color: #fff;
	margin: 10px 10px;
	display: block;
}
.contact-area .content-box p {
	font-size: 14px;
	color: #eee;
	padding: 0;
	margin: 10px;
}
/********** Header **********/
.header-background {
	/* fallback (Opera) */
    background: #fff;
    /* Mozilla: */
    background: -moz-linear-gradient(top, #fff, #ddd);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
}
.header-wrapper {
	width: 960px;
	margin: 0 auto;
	
}
.qnav-subheader {
	float:left;
	margin: 5px 0 0 15px;
	font-style: italic;
	font-weight: 800;
}
.qnav { 
	float:right;
	margin: 4px 8px 2px 0;
}
.qnav li a:hover { 
	color: #00458C; 
	background-color:inherit;
	text-decoration: underline;
}
.qnav li a { 
	padding: 3px 10px 3px 25px;
	color:#666; 
	text-decoration: none;
}
.qnav li {	
	font-size:1em; 
	font-weight:normal; 
	list-style: none; 
	float:left; 
	display:inline;
	color:#666; 
}
.chat {
	background: url(/media/img/icon-set.png) no-repeat -158px -44px;
}
.doc {
	background: url(/media/img/icon-set.png) no-repeat -158px -74px;
}
.help {
	background: url(/media/img/icon-set.png) no-repeat -61px -77px;
}
#header {

	height: 60px;
	margin: 0;
}
#header a {
	text-decoration: none;
}
.logo-icon {
	background: url(/media/img/icon-set.png) no-repeat -5px -56px;
	position: relative;
	float: left;
	margin: 3px 5px 0 7px;
	width: 55px;
	height: 50px;
	cursor: pointer;
	cursor: hand;
}
.logotype {
	position: relative;
	top: 5px;
	height: 40px;
	float: left;
	width: 400px;
	cursor: pointer;
	cursor: hand;

}

.logotype h3 {
	color: #014C9F;
	font-size:36px;
	font-weight:800;
	line-height: 30px;
	margin-bottom: 0;
}
.logotype h4 {
	color:#333333;
	font-size:16px;
	line-height: 28px;
	padding:0 0 0 1px;
	letter-spacing: .5px;
	position: relative;
	bottom: 5px;
	font-weight: 800;
	
}
.ge-logo {
	background: url(/media/img/icon-set.png) no-repeat 0px 4px;
	float: right;
	margin-right: 17px;
	width: 175px;
	height: 52px;
}
.call-box {
	float: right;
	width: 250px;
	height: 55px;
	text-align: right;
	padding: 3px 15px 0 0;
}
.call-box p {
	font-size: 16px;
	font-weight: 800;
	line-height: 16px;
	padding: 0;
}
.call-box span {
	color: #C70909;
	font-size: 32px;
	font-weight: 800;
	line-height: 36px;
}
/********** Navigation **********/
.navigation-background {
	background: #4a505a;

}
#navigation {
	height: 32px;
	position: relative;
	overflow: hidden;

	z-index: 500;
	margin-bottom: 20px;
}
#navigation ul {
 	width: 680px;
 	float: left;
 	height: 32px;
}
#navigation li {
	display: inline;
}

#navigation li a {
	color: #eff1f0;
	display: block;
	font-size: 16px;
	font-weight: bold;
	margin: 0 32px 0 0;
	outline: 0;
	padding: 5px 16px;
	text-decoration: none;
	text-align: center;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	line-height: 22px;
	height: 22px;
	float: left;
}

#navigation li a:hover {
	background: #fff;
	color: #00559a;
	text-decoration: underline;
}
#navigation li.nav-active a, #navigation li.nav-active a:hover {
	background: #d9f2ff;
	color: #333;
	text-decoration: none;
	cursor: default;


}
li.homebutton {
	background: url(/media/img/icon-set.png) no-repeat -105px -43px;
	width: 52px;
	height: 32px;
	display: block;
	float: left;
	margin-right: 25px;
	cursor: pointer;
	cursor: hand;

}
.search-area {
	background: #efefef url(/media/img/icon-set.png) no-repeat -152px -99px;
	float:left;
	width: 270px;
	height: 26px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin-top: 3px;
}
.search-area input {
	background: #efefef;
	border: none;
	color:#777777;
	font-weight:800;
	height:21px;
	margin-left:30px;
	width:200px;
	line-height: 21px;
	font-size: 14px;
}
.sub-nav {
	background: #eee;
	border: 1px solid #ccc;
	border-left: none;
	margin: 0 10px 10px 0;
	border-radius: 0px 10px 10px 0px;
	-moz-border-radius: 0px 10px 10px 0px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}
#left-content .sub-nav ul {
	list-style-type: none;
	padding: 0 10px;
	margin: 0;
}
#left-content .sub-nav li {
	float: left;
	margin: 0;
	font-size: 12px;
	color: #666;
	font-weight: 800;
	padding: 2px 25px 2px 0;
	
}
/********** Lead Form **********/
.lead-form {
	background: #dbe9ef;
	margin-left: 10px;
	padding: 10px 10px 10px 12px;
	-moz-border-radius: 10px 0 0 10px;
	border: 1px solid #93b5e0;
	border-right: none;
	-moz-box-shadow: 0 2px 5px #888;
	-webkit-box-shadow: 0 2px 5px #888;
	box-shadow: 0 5px 5px #888;
}
.lead-form input {
	border:1px solid #93B5E0;
	display:block;
	height:24px;
	width:250px;
	line-height: 24px;
	font-size: 18px;
}
.lead-form label {
	display: block;
	font-size: 16px;
	color: #0049a1;
	margin-top: 10px;
}
.lead-form input.submit-button {
	width: 252px;
	height: 48px;
	border: none;
	margin-top: 20px;
}
/********** Buttons **********/
.button {
	margin: 20px 10px;
	text-align: center;
}
.button.right {
	text-align: right;
	margin-right: 20px;
}
.button a {
	background: #014C9F url(/media/img/icon-set.png) no-repeat right -119px;
	border: 1px solid #00458c;
	padding: 5px 20px 5px 10px;
	font-size: 12px;
	color: #fff;
    font-weight: 800;      
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0 2px 5px #888;
	-webkit-box-shadow: 0 2px 5px #888;
	box-shadow: 0 2px 5px #888;
	text-decoration: none;
}
.button a:hover, .contact-area .button a:hover, .button.buyit a:hover {
	background: #efefef url(/media/img/icon-set.png) no-repeat right -135px;
	border:1px solid #BCC9D6;
	color:#045FA5;
}
.button.buyit a {
	background: #367403 url(/media/img/icon-set.png) no-repeat right -119px;
	border: 1px solid #005500;
}
.contact-area .button {
	text-align: right;
	margin: 10px 30px;
}
.contact-area .button a {
	background: #023269 url(/media/img/icon-set.png) no-repeat right -119px;
	border: 1px solid #021c3b;

	-moz-box-shadow: 0 2px 5px #333;
	-webkit-box-shadow: 0 2px 5px #333;
	box-shadow: 0 2px 5px #333;
}
/************* Tables ************/
table {	
	width:95%;
	margin:0 auto;	
	margin-bottom:10px;
	clear:both;
	border-spacing:2px; 
	text-align:center;
	line-height:1.2em;
}
tr th {
	background: #004a97;	
	color:#fff;
	font-weight: 800;
	vertical-align: middle;
	padding: 5px; 

}
tr td {
	background: #dbf1f2;
	padding: 5px; 

}
tr.alt td {
	background: #edf4f4;
}

td a {
	color: #0066B3;
	text-decoration: none;
}
td span {
	font-size: 10px;
	color: #555;
	display: block;
}
td.price, th.price {
	text-align: center;
	vertical-align: middle;
}
tr td.highlight, tr.alt td.highlight {
	color: #CC0000;
	background: #fff9D3;
	font-weight: 800;
}
tfoot tr td {
	font-size: 10px;
	line-height: 1.2em;
	background: #efefef;
	color: #777;
	-moz-border-radius: 0 0 10px 10px;
	
}
.round-top-left {
	-moz-border-radius: 10px 0 0 0;
}
.round-top-right {
	-moz-border-radius: 0 10px 0 0;
}
/***************** Footer *********************/
#footer {
	background:none repeat scroll 0 0 #4a505a;
	clear:both;
	height:52px;
	margin-bottom: 10px;
}
.footer-wrapper {
	width: 960px;
	margin: 0 auto;
}
#footer .navigation a {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	color:#FFFFFF;
	font-size:9px;
	padding:3px;
	text-decoration: none;
}
#footer .navigation a:hover {
	background: #fff;
	color: #014C9F;
	text-decoration: underline;
}
#footer ul.navigation {
	width: 440px;
	padding: 2px 0 0 6px;
	float: left;
}
#footer .navigation li {
	display: inline;
	list-style: none outside none;
	border-right: 1px solid #fff;
	margin: 5px 0;
	padding: 0 5px;
}
#footer .navigation li.omega {
	border-right: none;
}
#footer .copyright {
	text-align: right;
	color: #fff;
	font-size: 9px;
	line-height: 15px;
	padding: 3px 12px 0 0;
}
.extra-stuff {
	width: 960px;
	margin: 10px auto 135px;
}
.extra-stuff img {
	padding-top: 10px;
}
.extra-copyright {
	float: right;
	width: 750px;
	text-align: right;
	font-size: 11px;
	line-height: 16px;
}
.disclaimer {
	color: #999; 
	font-size: 10px; 
	line-height: 1.2em; 
	padding-top: 5px;
	text-align: justify;
}