@import "../landing-page/basic.less";

#quick-link-navigation {
    li {
        .fb-like {
            position: relative;
            top: 4px;
            text-align: right;
        }
        span {
            font-size: 10px;
            line-height: 11px;

            strong {
                padding-right: 8px;
                color: @grey;
            }
            img {
                position: relative;
                top: 4px;
            }
        }
        &.city-info {
            padding-right: 8px;
        }
    }
}
#sub-navigation {
    display: none;
    
}
#big-hero-banner {
    height: 620px;
    min-height: 100px;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 8px;
    #hero-wrapper {
        background: url(/static/img/affiliates/centerfield-media/light-blue-bg.png) repeat;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 500;
        min-width: 1024px;
        h1 {
            text-align: center;
            color: @black;
            font-size: 48px;
            line-height: 56px;
            font-weight: bold;
            text-shadow: 1px 2px 0px @light-grey;
            letter-spacing: 1px;
            padding: 16px 0 24px;
            
        }
        .happy-family {
            position: absolute;
            bottom: 70px;
            left: auto;
            right: 80%;
            width: auto;
        }
        #hero-left {
            float: left;
            width: 39%;
            padding-left: 21%;
            h2 {
                font-weight: 100;
                font-size: 32px;
                line-height: 32px;
                span {
                    color: @red;
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }
            ul {
                padding: 24px 0;
                li { 
                    line-height: 24px;
                    font-size: 16px;
                    padding-bottom: 8px;
                    img {
                        vertical-align: middle;
                        position: relative;
                        padding-right: 8px;
                    }
                }
            }
            .badge {
                position: absolute;
                bottom: 83px;
                left: 18%;
            }
        }
       #hero-right {
            float: left;
            padding: 0 24px 24px;
            width: 30%;
            overflow: hidden;
            h3 {
                background: @white;
                .border-radius(3px, 3px, 3px, 3px);
                font-size: 24px;
                line-height: 35px;
                font-weight: 100;
                padding: 16px;
                position: relative;
                text-align: justify;
                .quote-arrow {
                    position: absolute;
                    bottom: -16px;
                    left: 48px;
                }
            }
            p {
                color: @blue;
                font-weight: bold;
                font-size: 19px;
                line-height: 24px;
                padding-top: 24px;
            }
            .special-promo {
                padding-top: 22px;
            }
        }
        #hero-badges {
            width: 37%;
            position: absolute;
            right: 3%;
            top: 424px;
            img {
                padding-right: 6%;
            }
        }
        .hero-promo {
            position: absolute;
            left: 372px;
            padding-left: 1%;
            bottom: 88px;
        }
        .pricing {
            position: absolute;
            left: 372px;
            padding-left: 1%;
            bottom: 175px;
        }
        .button-submit {
            position: absolute;
            left: 413px;
            padding-left: 1%;
            bottom: 105px;
            text-align: left;
            a {
                display: block;
                margin-top: 4px;
                padding: 8px 60px;
                .border-radius(3px,3px,3px,3px);
                background: #00bbf4;
                text-shadow: 0px 1px 0px #2a6273;
                color: #ffffff;
                width: 100px;
                text-align: center;
                margin: 10px auto 0;
                &:hover {
                    border: 1px solid @blue;
                }
            }
        }
        #call-box {
            width: 100%;
            background: #76ba00;
            margin: 0;
            padding: 24px 0;
            border: 1px solid #3c7a00;
        
            p {
                color: @white;
                text-shadow: 1px 2px 0px #3c7a00;
                font-weight: bold;
                strong {
                    color: @white;
                    a {
                        color: @white;
                    }
                }
            }
            &:hover {
                background: #76ba00;
                border-top: 4px solid #3c7a00;
        
            }
            &.main {
                border: none;
                border-top: 4px solid #3c7a00;
        
            }
        }
    }
    #hero-backdrop {
        position: absolute;
        height: 100%;
        width: 100%;
        min-width: 1024px;
        top: 0;
        left: 0;
        z-index: -1;
    }
}
#quote-form {
    margin-left: 12px;
    border: none;
}
#hero-banner-wrapper {
    background: #b3ddf2 url(/static/img/affiliates/centerfield-media/sky-bg.png) center top repeat-x;
    width: 100%;
    overflow: hidden;
    height: 475px;
    #hero-main {
        width: 960px;
        margin: 0 auto;


 
    }
}
#one-hundred-percent {
    width: 593px;
    float: left;
    margin-right: 32px;
    padding-right: 42px;
    border-right: 1px solid @v-light-grey;
    text-align: justify;
    padding-top: 24px;
    padding-bottom: 48px;

    h1 {
        font-size: 36px;
        font-weight: 200;
        line-height: 36px;
        padding: 0px 0 20px;
    }
    p {
        padding-bottom: 16px;
    }
    h3 {
        background: #00bbf4;
        padding: 8px 16px;
        .border-radius;
        float: left;
        color: @white;
        font-size: 16px;
        text-shadow: 0px 1px 0px #2a6273;
        margin-top: 16px;
        a {
            color: @white;
            text-decoration: none;
        }
    }

}
#video-security-choice {
    background: url(/static/img/spanish/video-bg.png) repeat;
    h2 {
        color: @white;
        font-weight: 100;
        font-size: 32px;
        padding-bottom: 16px;
        text-shadow: 0px 2px 0px #8f191a;
        line-height: 32px;
        padding-top: 0px;
    }
    h3 {
        background: #00bbf4;
        padding: 8px 16px;
        .border-radius;
        float: left;
        color: @white;
        font-size: 16px;
        text-shadow: 0px 1px 0px #2a6273;
        margin-top: 16px;
        a {
            color: @white;
            text-decoration: none;
        }
    }
    p {
        text-align: justify;
        color: @white;
        line-height: 24px;
    }
    #way-you-want-security {
        margin: 32px 0 100px;
        img {
            float: left;
            padding-right: 16px;
        }
        #customize-content {
            margin-top: 16px;
            float: left;
            width: 504px;
            margin-left: 48px;
        }
    }
    #locked-in, #self-install {
        width: 309px;
        float: left;
        margin: 0 16px;
        h2 {
            font-size: 24px;
        }
    }
    #self-install {
        margin-left: 0;
    }
    .customer-testimonial-box {
        text-align: center;
        padding: 0px 16px;
        height: 520px;

        margin-bottom: 16px;
        position: relative;
        width: 253px;
        margin-left: 8px;
        float: left;
        border-left: 1px solid @dark-red;
        h3 {
            color: @white;
            font-size: 14px;
            font-weight: normal;
            line-height: 16px;
            padding: 0 10px;
            letter-spacing: 0px;
            text-align: left;
            vertical-align: text-bottom;
            background: transparent;
            padding-top: 32px;
            margin-top: 0;
            margin-bottom: 8px;
            img {
                vertical-align: text-bottom;
            }
            span {
                color: @white;
                display: block;
                font-weight: 300;
                font-size: 26px;
                line-height: 28px;
                padding-bottom: 4px;
            }
        }
        strong {
            color: @light-blue;
            
        }
        p {
            margin: 0 10px 20px;
            text-align: justify;
            font-size: 12px;
            line-height: 22px;
            float: none;
            clear: both;
        }
        img.testimonial-image {
            .drop-shadow(0, 2px, 5px, @grey);
            border: 5px solid @white;
            margin: 16px 16px 8px 0;
            text-align: center;
            width: 120px;
            float: left;
        }
        
        &.alt {
            background: @off-white;
            .drop-shadow(0px ,0px ,0px ,@white);
            border: 1px solid @light-grey;
            margin-right: 0;
        }

        .star-container {
            bottom: 16px;
            padding-bottom: 16px;
            padding-bottom: 9px;
            margin-left: 8px;
            .star {
                width: 40px;
                height: 40px;
                background: url(/static/img/extra/testimonial-stars-light-patched.png) -40px 0 no-repeat;
                float: left;
    
                &.active {
                    background: url(/static/img/extra/testimonial-stars-light-patched.png) -1px 0 no-repeat;
    
                }
            }
        }
    }

}
    #home-security-packages {
        #copper-security-package, #bronze-security-package, #silver-security-package, #gold-security-package, #platinum-security-package {
            width: 166px;
            float: left;
            .border-radius(5px, 5px, 5px, 5px);
            overflow: hidden;
            border: 1px solid #15537c;
            margin-right: 2px;
            &:hover {
                .drop-shadow(0px, 2px, 5px, @black);
                cursor: pointer;
                cursor: hand;
                border: 1px solid @light-blue;
            }
            h3 {
                background: #555 url(/static/img/spanish/package-topper-bg.png) repeat-x;
                width: 173px;
                height: 126px;
                color: @white;
                font-size: 32px;
                font-weight: 100;
                line-height: 126px;
                text-shadow: 0px 2px 0px #000;
                letter-spacing: 0px;
                text-align: center;
    
            }
            p {
                background: #00bbf2 url(/static/img/spanish/security-package-price-highlighter.jpg) repeat-x;
                height: 55px;
                width: 173px;
                text-align: center;
                color: @white;
                font-size: 36px;
                padding-top: 8px;
                text-shadow: 1px 2px 0px #04758f;
                line-height: 36px;
                position: relative;
                sup {
                    font-size: 16px;
                }
                span {
                    display: block;
                    font-size: 12px;
                    color: #04758f;
                    text-shadow: none;
                    line-height: 12px;
                    position: relative;
                    bottom: 0px;
                }
            }
            .package-info {
                background: @white url(/static/img/canada/basic-package-background.jpg) center top no-repeat;
                height: 312px;
                position: relative;
                ul {
                    padding-top: 8px;
                    line-height: 32px;
                    li {
                        text-align: center;
                        font-size: 11px;
                        line-height: 20px;
                        padding-bottom: 6px;
                        strong {
                            font-size: 18px;
                            line-height: 18px;
                            position: relative;
                            top: 2px;
                            display: block;
                        }
    
                    }
                    &.extra-features {
                        border-top: 1px solid @light-grey;
                        margin: 4px 16px;
                        padding-top: 8px;
                        position: absolute;
                        bottom: 58px;
                        left: 7px;
                        li {
                            font-size: 11px;
                            color: @grey;
                            text-transform: uppercase;
                            line-height: 16px;
                            text-align: center;
                            padding-bottom: 9px;
                            img {
                                vertical-align: middle;
                                padding-right: 16px;
                                position: relative;
                                bottom: 1px;
                            }
                        }
                    }
                }
    
            }
        }
        #copper-security-package, #bronze-security-package {
            margin-top: 48px;
        }
        #standard-security-package {
            margin: 0 29px;
            p {
                background: #00bbf2 url(/static/img/spanish/security-package-price-highlighter-orange.jpg) repeat-x;
                text-shadow: 1px 2px 0px #7d4c16;
                span {
                    color: #7d4c16;
                }
            }
        }
        #premier-security-package {
            p {
                background: #00bbf2 url(/static/img/spanish/security-package-price-highlighter-purple.jpg) repeat-x;
                text-shadow: 1px 2px 0px #52167d;
                span {
                    color: #52167d;
                }
            }
        }
        &.package-page {
            margin: 16px 0;
            #copper-security-package, #standard-security-package, #premier-security-package {
                border: 1px solid #aaa;
                .drop-shadow(0px, 2px, 5px, #ccc);
            }
        }
        .premium-packages {
            margin-right: 8px;
            float: left;
            background: #000;
            padding: 8px 4px 0 8px;
            width: 600px;
            .border-radius(3px, 3px, 3px, 3px);
            background: url(/static/img/canada/premium-package-bg.jpg) repeat-x;
            .premium-packages-header {
                display: block;
                margin: 0 auto;
            }
            #silver-security-package, #gold-security-package, #platinum-security-package {
                width: 196px;
                h3, p {
                    width: 196px;
                }
                .package-info {
                    background: @white url(/static/img/canada/premium-package-background.jpg) no-repeat;
                    .extra-features {
                        left: 14px;
                        padding: 8px 16px 0;
                    }
                }
            }
            #silver-security-package {
                p {
                    background: #00bbf2 url(/static/img/spanish/security-package-price-highlighter-green.jpg) repeat-x;
                    text-shadow: 1px 2px 0px #1a5808;
                    span {
                        color: #1a5808;
                    }
                }
                .package-info {
                    background: @white url(/static/img/canada/green-package-bg.jpg) bottom center no-repeat;
                }
            }
            #gold-security-package {
                p {
                    background: #00bbf2 url(/static/img/spanish/security-package-price-highlighter-orange.jpg) repeat-x;
                    text-shadow: 1px 2px 0px #7d4c16;
                    span {
                        color: #7d4c16;
                    }
                }
                .package-info {
                    background: @white url(/static/img/canada/orange-package-bg.jpg) bottom center no-repeat;
                }
            }
            #platinum-security-package {
                p {
                    background: #00bbf2 url(/static/img/spanish/security-package-price-highlighter-purple.jpg) repeat-x;
                    text-shadow: 1px 2px 0px #52167d;
                    span {
                        color: #52167d;
                    }
                }
                .package-info {
                    background: @white url(/static/img/canada/purple-package-bg.jpg) bottom center no-repeat;
                }
            }
            .promo-banner {
                padding-top: 8px;
            }
        }
    }

