@import "../landing-page/basic.less";

#quick-link-navigation {
    li {
        .fb-like {
            position: relative;
            top: 4px;
            text-align: right;
        }
        span {
            font-size: 10px;
            line-height: 11px;

            strong {
                padding-right: 8px;
                color: @grey;
            }
            img {
                position: relative;
                top: 4px;
            }
        }
        &.city-info {
            padding-right: 8px;
        }
    }
}
#sub-navigation {
    display: none;
    
}
#hero-banner {
    background: #449fd3 url(/static/img/affiliates/adt-comparison-two/light-blue-bg.jpg) repeat-x;
    height: 409px;
    width: 100%;
    overflow: hidden;
    #top-hero-banner {
        float: left;
        width: 669px;
        height: 409px;
    }

    .adt-banner {
        position: absolute;
        left: -269px;
    }
}