@import "style/style.less";
@import "austin.less";

#hero {
	background: url(/static/img/local-pages/cleveland/cleveland-hero.jpg) center center no-repeat #eaf5f7;
	&.index {
		.container {
			.heading {
				margin: 10px 7px 0 0;
				h1 {
					&.big {
						font-size: 38px;
						line-height: 45px;
					}
					span {
						text-shadow: none;
					}
				}
				h3 {
					padding: 10px 30px 5px 30px;
				}
			}
			#party-box-new {
				bottom: 20px;
			}
		}
	}
}

#signature {
	background: url(/static/img/local-pages/cleveland/cleveland-lifestyle-2.jpg) center -100px no-repeat #c5c7d4;
}
#features .container ul li {
	height: 300px !important;
}
#map {
	height: 400px;
}
#party-box-new {
	margin-top: 69px !important;
}

/* #Media Queries
================================================== */
	/* Larger than standard 960 (devices and browsers) */
	@media only screen and (min-width: 960px) {
		#hero {
			&.index {
				.container {
					.quote-form-white {
						left: 10px;
					}
				}
			}
		}
		#map {
			height: 460px;
			width: 460px;
		}
		#signature {
			#signature-right {
				margin-left: 67px;
				width: 343px;
			}
		}
	}
	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		#hero {
			&.index {
				.container {
					.heading {
						float: left;
						margin-left: 304px;
						top: 5px;
						position: relative;
					}
					#party-box-new {
						margin-top: 74px !important;
					}
				}
			}
		}
	}
	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		#hero {
    		&.index {
        		.container {
            		.heading {
            			margin-top: 37px;
					}
				}
			}
		}
	}
	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		#hero {
			background: url(/static/img/local-pages/cleveland/cleveland-hero.jpg) center center no-repeat #eaf5f7 !important;
			&.index {
				margin-bottom: 100px;
        		.container {
        			width: 100%; 
					.heading {
						width: 100%;
						height: 150px;
						text-align: center;
						margin: 0px auto 60px;
						h1 {
							margin: 0px;
							&.big {
								font-size: 35px;
								line-height: 35px;
								}
							span {
								font-size: 17px;
								line-height: 16px;
							}
						}
						h3 {
							font-size: 35px;
							padding: 0 25px 15px;
							margin: 10px auto 0px auto;
						}
						p {
							font-size: 18px !important;
							line-height: 10px !important;
						}
					}
				}
				#party-box-new {
			        bottom: 130px !important;
		        }
			}
		}	
		
		#signature-right { margin-top: 40px; }
		#signature-left { display: none; }
		
		#features .container ul li {
			height: 225px !important;
		}	
		#local-map, #map {
			height: 400px;
			width: 370px !important;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		 #hero {
		 	height: 275px;
		 	padding: 50px 0px 0px 0px;
		 	&.index {
			 	.container {
			 		.heading {
				 		padding: 20px 0px;
			 		}
			 	}
			 }
		 }
	}
	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		 #hero { 
			 &.index {
			 	margin-bottom: 30px;
				 .container {
				 	.heading {
				 		margin-top: 50px;
				 		h1 {
					 		&.big {
						 		font-size: 33px;
					 		}
				 		}
		            }
		        }
	        }
		}
		#community, #features {
			display: none;
		}
		#signature {
	background: #c5c7d4;
}
	}