@import "style/style.less";
@import "austin.less";

#hero {
	background: url(/static/img/local-pages/cleveland/cleveland-hero.jpg) center center no-repeat #eaf5f7;
	&.index {
		.container {
			.heading {
				margin: 10px 7px 0 0;
				h1 {
					&.big {
						font-size: 38px;
						line-height: 45px;
					}
					span {
						text-shadow: none;
					}
				}
			}
		}
	}
}

#signature {
	background: url(/static/img/local-pages/cleveland/cleveland-lifestyle.jpg) center top no-repeat #466383;
}

/* #Media Queries
================================================== */
	/* Larger than standard 960 (devices and browsers) */
	@media only screen and (min-width: 960px) {
		#hero {
			&.index {
				.container {
					.quote-form-white {
						left: 10px;
					}
				}
			}
		}
	}
	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		#hero {
			&.index {
				.container {
					.heading {
						float: left;
						margin-left: 243px;
						top: 5px;
						position: relative;
					}
					#party-box-new {
						margin-top: 147px;
					}
				}
			}
		}
	}
	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		#hero {
    		&.index {
        		.container {
            		.heading {
            			margin-top: 37px;
					}
				}
			}
		}
	}
	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		#hero {
			background: url(/static/img/local-pages/cleveland/cleveland-hero.jpg) center center no-repeat #eaf5f7 !important;
			&.index {
				margin-bottom: 100px;
        		.container {
        			width: 100%; 
					.heading {
						width: 100%;
						height: 115px;
						text-align: center;
						margin: 0px auto 60px;
						h1 {
							margin: 0px;
							&.big {
								font-size: 35px;
								line-height: 35px;
								}
							span {
								font-size: 20px;
								line-height: 20px;
							}
						}
						h3 {
							font-size: 40px;
							padding: 15px 25px;
							margin: 10px auto 0px auto;
						}
					}
				}
			}
		}	
		
		#signature-right { margin-top: 40px; }
		#signature-left { display: none; }
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		 #hero {
		 	height: 275px;
		 	padding: 50px 0px 0px 0px;
		 	&.index {
			 	.container {
			 		.heading {
				 		padding: 20px 0px;
			 		}
			 	}
			 }
		 }
	}
	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		 #hero { 
			 &.index {
				 .container {
				 	.heading {
				 		margin-top: 50px;
				 		h1 {
					 		&.big {
						 		font-size: 33px;
					 		}
				 		}
		            }
		        }
	        }
		}
	}