<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Protect America</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="{{ STATIC_URL }}css/affiliates/cash-is-king/bootstrap.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/affiliates/cash-is-king/bootstrap-theme.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/affiliates/cash-is-king/main.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/affiliates/cash-is-king/media.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>
    <script src="{{ STATIC_URL }}js/affiliates/cash-is-king/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">


  </head>
  <body>
  <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
  <![endif]-->

<section class="section-1">
  <div class="container">
    <div class="row">
      <div class="col-sm-6"><a href="/"><img src="{{ STATIC_URL }}img/affiliates/cash-is-king/img/logo.png" class="logo"></a></div>
      <div class="col-sm-6 hidden-xs" align="right"><h3>Call Now For A FREE SYSTEM!<br><span>1-888-305-9673</span></h3></div>
    </div>
   </div>
</section>

<section class="section-2">
 <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1><img src="{{ STATIC_URL }}img/affiliates/cash-is-king/img/header.png" class="resimg"></h1>
         <div class="col-sm-4" align="center"><img src="{{ STATIC_URL }}img/affiliates/cash-is-king/img/s2-img-1.png" class="resimg2"></div>
         <div class="col-sm-8">
          <p><strong>FREE HOME SECURITY SYSTEM</strong><br>You pay nothing out of pocket. Nada.</p>
          <p><strong>LIFETIME WARRANTY</strong><br>Use it up, wear it out, if it breaks we'll send it out!</p>
          <p><strong>ONLY $19.99 A MONTH</strong><br>Surprisingly affordable? Thats how we planned it.</p>
          <p><a href="#testimonials" class="read"><i class="fa fa-files-o"></i> READ USER REVIEWS</a></p>

         </div>
        <div class="clr divider-line"></div>

        <p align="center"><img src="{{ STATIC_URL }}img/affiliates/cash-is-king/img/s2-img-2.png"><span><strong>LIMITED TIME OFFER!</strong><br>Call now for 2 FREE keychain remotes.<br></span><img src="{{ STATIC_URL }}img/affiliates/cash-is-king/img/s2-img-3.png"></p>

      </div>
      <div class="col-md-5">
        <div class="form-wrap" align="center">
         <span class="promo">NEW PRICE $19.99 A MONTH</span>
         <h3>GET YOUR <strong>FREE SYSTEM!</strong></h3>
         <p align="center">Provide your contact info and we will contact you directly!</p>
          <form role="form" class='cash-form'>
            {% csrf_token %}
          <div class="form-group">
            <label for="yourname" class="sr-only">name</label>
            <input type="text" class="form-control" id="name" placeholder="Your complete name">
          </div>
          <div class="form-group">
            <label for="phonenumber" class="sr-only">phone</label>
            <input type="text" class="form-control" id="phonenumber" placeholder="Enter phone number">
          </div>

          <button type="submit" class="btn btn-default" id="submit">GET SYSTEM</button>
        </form>
        <p><small>By submitting this form, I agree that Protect America, including its affiliates, may contact me regarding its programs and offers via email or telephone using automated technology to any wireless number I provide.</small></p>
        <p align="center"><img src="{{ STATIC_URL }}img/affiliates/cash-is-king/img/norton.png"><img src="{{ STATIC_URL }}img/affiliates/cash-is-king/img/mcaffee.png"></p>
        </div>
      </div>

    </div>
   </div>

</section>

<div class="phone-orange">
<div class="container">
    <div class="row">
      <div class="col-sm-12" align="center">
        <img src="{{ STATIC_URL }}img/affiliates/cash-is-king/img/phone-img.png">
      </div>
    </div>
</div>
</div>
<section class="section-3">
 <div class="container">
    <div class="row">
      <div class="col-sm-12">
      <h3 align="center">Wireless Home Security. 100% Protection.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4"><img src="{{ STATIC_URL }}img/affiliates/cash-is-king/img/s3-1.png" class="resimg">
      <p><strong>Lowest Price Guaranteed</strong><br>At Protect America, we provide the best possible security at the most affordable price. We will match or beat any competitors price, so you never have to worry if you're getting the best deal.</p>
      </div>
      <div class="col-sm-4"><img src="{{ STATIC_URL }}img/affiliates/cash-is-king/img/s3-2.png" class="resimg">
      <p><strong>Lifetime Equipment Warranty</strong><br>When you choose Protect America, you choose a lifetime of service. If your equipment ever malfunctions, we will repair it or provide a new one for free. We work hard to keep you safe, 24/7</p>
      </div>
      <div class="col-sm-4"><img src="{{ STATIC_URL }}img/affiliates/cash-is-king/img/s3-3.png" class="resimg">
      <p><strong>Award Winning Service</strong><br>Protect America is selected year after year as the undisputed, all-around best choice for home security. You can rest assured you're getting the best security for the best deal around!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
      <div class="section3-line "></div>
      </div>
    </div>
    <div class="row">
      <div id="testimonials" class="col-md-5 testimonial">
      <h4 align="center">Read REAL Customer Reviews:</h4>
       <p><img src="{{ STATIC_URL }}img/affiliates/cash-is-king/img/testimonial-1.png"><em>They were awesome! Easy set up and super nice. Best deal compared to the other companies.</em><br><strong>- Andrea</strong></p>
       <div class="clr"></div>
       <p><img src="{{ STATIC_URL }}img/affiliates/cash-is-king/img/testimonial-2.png"><em>I had the system up and working great in just a couple of hours. The GE equipment is simply great. As long as you are having them monitor the equipment is warrantied. I couldn't be happier.</em><br><strong>- Richard B</strong></p>
        <div class="clr"></div>
        <p><img src="{{ STATIC_URL }}img/affiliates/cash-is-king/img/testimonial-3.png"><em>They were awesome! Easy set up and super nice. Best deal compared to the other companies.</em><br><strong>- Ray Caroll</strong></p>
        <div class="clr"></div>
      </div>
      <div class="col-md-7">
      <h5 align="center">See How Protect America Stacks Up to the Competition:</h5>
      <p><img src="{{ STATIC_URL }}img/affiliates/cash-is-king/img/table.png" class="resimg"></p>
      </div>
    </div>
  </div>
</section>
<div class="phone-blue">
<div class="container">
    <div class="row">
      <div class="col-sm-12" align="center">
        <img src="{{ STATIC_URL }}img/affiliates/cash-is-king/img/phone-img.png">
      </div>
    </div>
</div>
</div>



<div class="footer">
    <div class="container">
      <div class="row">
      <div class="col-sm-4">
        <p align="center"><img src="{{ STATIC_URL }}img/affiliates/cash-is-king/img/footerlogo.png"></p>
        <p align="center">&copy; 1992 &mdash; Protect America, Inc. All rights reserved</p>

      </div>
        <div class="col-sm-8">
          <p>* Standard home security alarm monitoring agreement required with approved credit. Offer subject to change. Void where prohibited.</p>
          <p>* Information used for home security alarm system comparisons was obtained November 2011 through telephone and online research. ADT prices: based on total out-of-pocket expense to obtain services; installation based on fees for similar home security equipment packages; "Monitoring" price listed includes the additional "warranty" or "extended service plan".</p>

          <p>GE and GE Security logos are registered trademarks of General Electric.</p>


          </p>
        </div>
      </div>
    </div>
</div>
 <!-- Modal -->
 {% comment %}
<div class="modal fade" id="searchmodal" tabindex="-1" role="dialog" aria-labelledby="searchmodalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="searchmodalLabel">Enter Your Location</h4>
      </div>
      <div class="modal-body">
       <form>
       <p align="center">Please Enter the location of the Radar Map you would like.<br><br>
       <input type="text" placeholder="Search Zip, City or Place" class="form-control">
       <button class="search-button">Search</button></p>
       </form>
      </div>

    </div>
  </div>
</div>
{% endcomment %}


  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js"></script>
  <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/affiliates/cash-is-king/vendor/jquery-1.10.2.min.js"><\/script>')</script>
  <script src="{{ STATIC_URL }}js/affiliates/cash-is-king/vendor/bootstrap.min.js"></script>
  <script src="{{ STATIC_URL }}js/affiliates/cash-is-king/main.js"></script>

<script type="text/javascript">
$(document).ready(function(){

$.ajaxSetup({
     beforeSend: function(xhr, settings) {
         function getCookie(name) {
             var cookieValue = null;
             if (document.cookie && document.cookie != '') {
                 var cookies = document.cookie.split(';');
                 for (var i = 0; i < cookies.length; i++) {
                     var cookie = jQuery.trim(cookies[i]);
                     // Does this cookie string begin with the name we want?
                 if (cookie.substring(0, name.length + 1) == (name + '=')) {
                     cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                     break;
                 }
             }
         }
         return cookieValue;
         }
         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
             // Only send the token to relative URLs i.e. locally.
             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
         }
     }
});



$("form #submit").click(function(){
    $("form #submit").attr('disabled',true);
    var $form = $(this).closest('.cash-form');
    var name = $form.find("#name").val();
    var phone = $form.find("#phonenumber").val();
    var data ={
            'form': 'basic',
             'name':name,
             'phone':phone,
             'trusted_form': $form.find("[name ='xxTrustedFormToken']").val(),
             'site':'cash-is-king'
         }


    $.ajax({
            type: "POST",
            url: "/contact/ajaxpost/",
            data: data,
            dataType: "json",
            success: newFormSuccess,
            error: newFormError
            }); // end ajax


     function newFormError(){
            //$(".sleepy #form-loading, .droopy #form-loading").hide();
            //$(".sleepy .icon-chevron-right, .droopy .icon-chevron-right").show();
            $("form #submit").attr('disabled',false);
            //$("form #submit").text('SUBMIT YOUR INFO');
            if (!name && !phone){
                alert('Please enter your name and phone number.');
            }
            if (!phone && name){
                alert('Please enter your phone number.');
            }
            if (!name && phone){
                alert('Please enter your name.');
            }

            alert('Make sure you entered a valid phone number with dashes');
        } // end newformerror


        function newFormSuccess(json) {
            //$('#form-loading').hide();
            if(json.success) {
                {% if thank_you %}
                window.location = '{{ thank_you }}';
                {% else %}
                window.location = "{% url thank_you %}"
                {% endif %}
                _gaq.push([
                    '_trackEvent',
                    'Form Click',
                    'Form Events',
                    '{{ page_name }}'
                ]);
                return;
            }
        }
        return false;

    }); // end click function

}); //end document ready

</script>




  </body>
</html>
