{% extends "affiliates/centerfield-media/index.html" %}
{% block google_experiment %}
<!-- Google Analytics Content Experiment code -->
<script> 
_udn = "protectamerica.com";
</script>
<script>function utmx_section(){}function utmx(){}(function(){var
k='61445283-49',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->
{% endblock %}
{% block hero-content %}
    <h3>Protect America home security company is by far the best I have ever had. Their reliable customer service, plan options and great reputation have never made me consider giving them up for another security company.
        <img src="{{ STATIC_URL }}img/affiliates/centerfield-media/quote-arrow.png" class="quote-arrow" alt="quote-arrow" width="32" height="16" /></h3>
    <p style="padding-bottom:8px;">&mdash; Best Home Security Companies User</p>
{% endblock %}

{% block bottom-content %}
        <h2>Protect America "delivers superior protection"</h2>
        <p>No company can match Protect America’s affordability and quality. Just listen to Tiffany, one of the Best-Home-Security-Comapnies.com users said, "Protect America home security company is by far the best I have ever had. Their reliable customer service, plan options and great reputation have never made me consider giving them up for another security company. I proudly renew with them every year, because I know with them I am well protected and well covered and that is all I need to worry about."</p>
{% endblock %}