{% extends "base.html" %}

{% load content_filters content_tags sekizai_tags testimonial_tags adspace %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/home.css?v3.0.4">
    <!--[if lt IE 9]>
        <style>
            #hero-content #hero-videos .content-section h2 {
                /*color: #555;*/
                filter: glow(color=black,strength=3);
            {
        </style>
    <![endif]-->
    <script type="text/javascript" src="{{ STATIC_URL }}js/modernizr-2.5.3-min.js"></script>
{% if not debug %}
{% if request.GET.agent == 'a01986' or request.COOKIES.refer_id == 'a01986' %}
<script> 
_udn = "protectamerica.com";
</script> 
<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='61445283-18',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->
{% endif %}
{% if request.GET.agent == 'a03183' or request.COOKIES.refer_id == 'a03183' %}
<script> 
_udn = "protectamerica.com";
</script>
<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='61445283-14',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->
{% endif %}
{% if request.GET.agent == 'a02818' or request.COOKIES.refer_id == 'a02818' %}
<script> 
_udn = "protectamerica.com";
</script>
<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='61445283-15',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->
{% endif %}
{% if request.GET.agent == 'a03053' or request.COOKIES.refer_id == 'a03053' %}
<script> 
_udn = "protectamerica.com";
</script>
<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='61445283-16',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->
{% endif %}
{% if request.GET.agent == 'a02675' or request.COOKIES.refer_id == 'a02675' %}
<script> 
_udn = "protectamerica.com";
</script>
<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='61445283-17',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->
{% endif %}
{% if request.COOKIES.refer_id == 'GOOGLEPPC' or request.COOKIES.refer_id == 'BINGPPC' or request.COOKIES.refer_id == 'HOMESITE' or not request.COOKIES.refer_id %}
{% comment %}Test for Homesite only{% endcomment %}
<!-- Google Analytics Content Experiment code -->

{% endif %}
{% endif %}
{% endblock %}
{% block page_title %}Home Security Systems | Home Alarm Systems | GE Security | Protect America{% endblock %}
{% block page_keywords %}home alarm system, home alarm systems, security, security system, security systems, home security, home security system, home security systems, home security monitoring{% endblock %}
{% block page_description %}Get a free home security system for your home. Sign up for home security monitoring and get a GE Simon security system at no cost. Protect your home today!
{% endblock %}

{% block subnav %}
{% endblock %}
{% block bing-conversion-code %}<meta name="google-site-verification" content="OSo3lFTITOYd9b2_wfgqZbQaQvE-OYsg6rpUzFY7-HQ" />
<meta name="msvalidate.01" content="AEAA46163DE3E7323225885EAAF6CB36" />{% endblock %}

{% block content %}
{% block hero_banner_area %}
<div id="hero-content">
    <div id="slide-form-area">
        {% include "order/quote-form-noview.html" with form=forms.basic %}
        <div class="clear"></div>
        <div id="validation-badges">
            <h2>Featured On:</h2>
            <div class="badge-row row-1">
                <img src="{{ STATIC_URL }}img/extra/validation-icons/fox-news-icon.png" alt="fox-news-icon" />
                <img src="{{ STATIC_URL }}img/extra/validation-icons/consumer-digest-icon.png" class="alt" alt="consumer-digest-icon" />
            </div>
            <div class="badge-row row-2">
                <img src="{{ STATIC_URL }}img/extra/validation-icons/best-home-security-companys-icon.png" alt="best-home-security-companys-icon" />
                <img src="{{ STATIC_URL }}img/extra/validation-icons/bbb-icon.png" class="alt" alt="bbb-icon" />
            </div>
            <div class="badge-row row-3">
                <img src="{{ STATIC_URL }}img/extra/validation-icons/top-tens-icon.png" alt="top-tens-icon" />
                <img src="{{ STATIC_URL }}img/extra/validation-icons/top-consumer-reviews-icon.png" class="alt" alt="top-consumer-reviews-icon" />
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div id="hero-videos">

        <div id="video-1">
            <div class="content-section">
                <h2>Your Family's Safety and Security <span>starting at $19.99</span></h2>
                <a href="{% url shop %}" class="button-link stylized">Shop Now <i class="icon-chevron-right"></i></a>
            </div>
            <video class="opacityZero" id="vider-1" poster="{{ STATIC_URL }}video/touchscreen.jpg" autoplay  muted="true" loop="loop"  height="960" width="540">

                <source type="video/webm" src="http://www.protectamerica.com/static/video/Touch_Blue.webmsd.webm">
                <source type="video/mp4" src="http://www.protectamerica.com/static/video/Touch_Blue.mp4">


            </video>
        </div>

        <div id="video-2">
            <div class="content-section">
                <h2>Control Your Home from Anywhere <span>Smart App Control</span></h2>
                <a href="{% url shop %}" class="button-link stylized">Shop Now <i class="icon-chevron-right"></i></a>
            </div>
            <video class="opacityZero" id="vider-2" poster="{{ STATIC_URL }}video/smart-connect.jpg" autoplay  muted="true" loop="loop"  height="960" width="540">

                <source type="video/webm" src="http://www.protectamerica.com/static/video/Connect_Green.webmsd.webm">
                <source type="video/mp4" src="http://www.protectamerica.com/static/video/Connect_Green.mp4">



            </video>
        </div>
        <div id="video-3">
            <div class="content-section">
                <h2>Award winning service and security <span>for over 20 years</span></h2>
                <a href="{% url shop %}" class="button-link stylized">Shop Now <i class="icon-chevron-right"></i></a>
            </div>
            <video id="service-vid" id="vider-3" class="opacityZero" poster="{{ STATIC_URL }}video/family.jpg" autoplay  muted="true" loop="loop"  height="960" width="540">
                <source type="video/webm" src="http://www.protectamerica.com/static/video/Family_Yellow.webmsd.webm">
                <source type="video/mp4" src="http://www.protectamerica.com/static/video/Family_Yellow.mp4">
            </video>
        </div>
    </div>
    <div id="hero-footer">
{% include "order/call-box.html" %}


    </div>
    <div class="clear"></div>
</div>
<div style="background: #333">
    <div id="main-benefits">
        <h1>Your #1 Trusted Home Security System</h1>
        <p>Protect America makes it easy to secure and protect your home and family. </p>
        <ul>
            <li>
                <h3><i class="icon-home"></i>Simply Peace of Mind</h3>
                <p>Our systems provide state-of-the-art 24/7 security so you don't have to worry about a thing.</p>
            </li>
            <li class="alt">
                <h3><i class="icon-user"></i>Security Designed for your Life</h3>
                <p>Each system is built to fit you, including options like: home automation, fire protection, and iPhone control.</p>
            </li>
            <li>
                <h3><i class="icon-rss"></i>Easy Wireless Set-Up</h3>
                <p>Our wireless security systems make installation a snap without holes or destruction to your home.</p>
            </li>
            <li>
                <h3><i class="icon-dollar"></i>The Best Price, Period</h3>
                <p>The equipment is included, there are no activation fees, and our alarm monitoring starts at $19.99 per month.</p>
            </li>
            <li class="alt">
                <h3><i class="icon-dollar"></i>The Best Price, Period</h3>
                <p>The equipment is included, there are no activation fees, and our alarm monitoring starts at $19.99 per month.</p>
            </li>
            <li>
                <h3><i class="icon-dollar"></i>The Best Price, Period</h3>
                <p>The equipment is included, there are no activation fees, and our alarm monitoring starts at $19.99 per month.</p>
            </li>
        </ul>
        <div class="clear"></div>

    </div>
</div>
<div id="hero-testimonial">
    <div id="hero-testimonial-wrapper" class="wrapper">
        <div id="review-cycle-container">
            <div class="review">
                <p>My husband and I recently got married and bought a house. We were uncertain about which security system to go with but were convinced by your reviews, contract agreement, and pricing that Protect America was a good fit for us. From the day we received our security system in the mail Protect America remained in constant contact with us to ensure that the system was installed and working as soon as possible. Thank you for your great customer service, I now feel safer in my new home.</p>
                <b>Jamese of Lynnwood, IL <span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span></b>
            </div>
            <div class="review">
                <p>I have never felt more relieved knowing my family is safer now that I have your security system watching over our house 24/7 and 365 days of the year. Ms. Nwaka was very informative about the active and passive side of the security system and how well I could utilize them to their fullest extent. I am very happy that I chose Protect America, and commend you on having such an excellent and very friendly staff, who actually care about their clients.</p>
                <b>Edward of Duluth, MN <span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span></b>
            </div>
            <div class="review">
                <p>I phoned your company today after receiving a recommendation from my police dept. and going online to find out about what you offered. Mike was extremely helpful in explaining the many features available and the equipment you have to offer. I've never had a system before, so I appreciated his patience in dealing with me. It is so important to find businesses that are trustworthy in this day and age! Looking forward to my new protection</p>
                <b>Gail of Deer Park, TX <span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span></b>
            </div>
        </div>
    </div>
    
</div>
<div class="wrapper">
    <div id="home-security-category">
        <h2>Home Security</h2>
        <p>It’s important to feel safe in your home. We know protection for your home and family is not an easy decision. Our security systems are custom built to combine the best price with the best equipment and service.</p>
        <p>We believe in providing the best service at the lowest price.  Our security systems are simple to use, provide unlimited customer support, and a free lifetime equipment warranty.</p>
        <h3>Basic savings versus ADT over 3 years</h3>
        <b>$1177</b>
    </div>
</div>
{% endblock %}
<div class="clear"></div>
{% addtoblock "js" %}
    <script type="text/javascript">

    $(".extra-content").siblings('p').append(' <a href="" class="read-more">Read More</a>')
    $(".read-more").click(function() {
        $(this).hide()
        $(this).parent().parent().children('.extra-content').slideDown('fast');
        return false;
    });
    $(document).ready(function() {
            $(".copper").click(function() {
                window.location.href = "{% url copper %}";
            });
            $(".bronze").click(function() {
                window.location.href = "{% url bronze %}";
            });
            $(".silver").click(function() {
                window.location.href = "{% url silver %}";
            });
            $(".gold").click(function() {
                window.location.href = "{% url gold %}";
            });
            $(".platinum").click(function() {
                window.location.href = "{% url platinum %}";
            });

            $('#top-hero-banner > div').click(function(e) {
            if($(this).attr('data-url')) {
                window.location = $(this).attr('data-url');
                _gaq.push([  
                    '_trackEvent',
                    'Hero Banner',
                    'Front Page Hero Banner Click',
                    $(this).attr('id')
                ]);
                return;
            }

        });

        {% if 'hic_test' in request.GET %}
        setCookie('hic_test', 'true');
        {% endif %}
            var currentSlider = 2;
            var nextSlider = 0;
        $(document).ready(function() {
            $('#hero-content').css('height', ($(window).height()-85));

            $('#hero-videos').cycle({
        		fx: 'fade',
                timeout:  7000,
                fit: 1,
                slideResize: 0,
                height: '100%',
                width: '100%'
            });
            setInterval(function(){
                        var video = $('#vider-'+currentSlider);
 


                        console.log('playing:' + currentSlider);
                        video.trigger('play'); 
                        currentSlider = currentSlider + 1;

                        if (currentSlider == 4) {
                            currentSlider = 1;
                        }; 

                        console.log('now on:' + currentSlider);
            },7000);
            image_height_reset($('video'));

            $('#review-cycle-container').cycle({
        		fx: 'scrollRight',
                timeout:  15000,
     	
            });
        });

    });
    function image_height_reset(look) {
        $look = $('#vider-1')
        var windowHeight = $(window).height() + 100;
        var windowWidth = $(window).width();

        var scale = 384 / 216;
        
        $('video').css('height', windowHeight + 'px');        
        newWidth = windowHeight * scale

        $('video').css('width', newWidth + 'px');        

        $('video').css('left', '0'); 
        $('#video-1').css('width', '100%');        
        $('#video-2').css('width', '100%');        
        $('#video-3').css('width', '100%');        
        $('#video-1').css('height', '100%');        
        $('#video-2').css('height', '100%');        
        $('#video-3').css('height', '100%');
        $('.fallback').css('height', '100%');
        $('#hero-content').css('height', ($(window).height()-116));

        $('.fallback').css('width', 'auto');

    }
    $(window).resize(function() {
        image_height_reset($('video'));
    });
    </script>
{% endaddtoblock "js" %}
{% endblock %}


