#top-content{display:none;}
#header-wrapper #quick-link-navigation{height:25px;}#header-wrapper #quick-link-navigation li{display:none;}
#navigation-wrapper{margin-top:8px;}#navigation-wrapper #navigation{display:none;}
#package-content #platinum-package{left:-50px;}
#package-content h2{left:335px;}
#package-content ul{right:22px;}
#postcards .postcard5{display:none;}
