#top-content{display:none;}
#header-wrapper #quick-link-navigation{height:25px;}#header-wrapper #quick-link-navigation li{display:none;}
#navigation-wrapper{margin-top:8px;}#navigation-wrapper #navigation{display:none;}
#package-content #platinum-package{left:-50px;}
#package-content h2{left:335px;}
#package-content ul{right:22px;}
#postcards .postcard5{display:none;}
#call-box{margin-top:0;padding:4px 16px;vertical-align:middle;}#call-box p{font-size:3.75em;line-height:1.25em;}
#call-box img{display:none;}
#check-in-anywhere{margin-top:32px;}#check-in-anywhere h2{font-size:36px;}#check-in-anywhere h2 strong{font-size:42px;line-height:42px;}
#contact-form #quote-form input{width:282px;}
