/* #Site Styles
================================================== */

body {
	background-color: #d8d8d8;
}
.page {
	width: 1200px;
	max-width: 1200px;
	position: relative;
	margin: 0 auto;
	background-color: #efefef;
}

.fade-slow {
    -webkit-transition: background-color .7s ease-out;
    -moz-transition: background-color .7s ease-out;
    transition: background-color .7s ease-out;
}
.fade-fast {
    -webkit-transition: background-color .3s ease-out;
    -moz-transition: background-color .3s ease-out;
    transition: background-color .3s ease-out;
}
.border-radius (@top-left-radius: 10px, @top-right-radius: 10px, @bottom-right-radius: 10px, @bottom-left-radius: 10px) {
    border-radius: @top-left-radius @top-right-radius @bottom-right-radius @bottom-left-radius;
    -moz-border-radius: @top-left-radius @top-right-radius @bottom-right-radius @bottom-left-radius;
    -webkit-border-top-left-radius: @top-left-radius;
    -webkit-border-top-right-radius: @top-right-radius;
    -webkit-border-bottom-left-radius: @bottom-left-radius;
    -webkit-border-bottom-right-radius: @bottom-right-radius;
}
.call-box {
	background: #404D6C;
	padding: 30px 0;
	h3 {
		margin: 0;
		color: #222;
		font-weight: 700;
		font-size: 32px;
		text-align: center;
		text-transform: uppercase;
	}
}

.header {
	.container {
		.four.columns {
			width: 265px;
			img {
				margin: 12px 0 15px 96px;
			}
		}
		.top-phone {
			float: right;
			clear: both;
			width: 100%;
			padding: 10px 0;
			p {
				float: right;
				margin-right: 5px;
				font-weight: 400;
				font-size: 12px;
				text-align: right;
				&.last {
					margin-right: 8px;
				}
				&.phone {
					font-weight: 600;
					font-size: 14px;
				}
			}
		}
	}
	h2 {
		color: #fff;
		font-weight: 300;
		font-size: 26px;
		line-height: 30px;
	}
	p {
		color: #fff;
		font-size: 11px;
		font-weight: 700;
		margin: 0 0 10px;
	}
	ul {
		&.main-menu {
			display: block;
			margin: 0;
		}
		&.standard-main-menu {
			float: right;
			li {
				float: left;
			}
		}
		&.main-navigation {
			display: none;
		}
		li {
			margin-bottom: 0;
			a {
				color: #fff;
				text-transform: uppercase;
				text-decoration: none;
				font-size: 15px;
				font-weight: 900;
				display: block;
				font-family: "proxima-nova", sans-serif;
				padding: 5px 10px;
				margin-right: 10px;
				width: auto;
				float: left;
				&.last {
					margin-right: 0;
				}
				&.active {
					border: 2px solid #fff;
				}
				&:hover {
					color: #000;
					border-color: #000;
				}
			}
		}
	}
}
ul.main-menu {
	display: none;
}
.advantages {
	margin: 60px auto;
	width: 960px;
	p {
		text-align: center;
		padding: 0 20px;
	}
	strong {
		clear: both;
		display: block;
		font-size: 16px;
		line-height: 24px;
		padding-bottom: 5px;
	}
	i {
		font-size: 48px;
		color: #fe0002;
		text-align: center;
		display: block;
		margin: 0 auto 20px;
	}
}
.lifestyle {
	background: #f1f1f1 url(/static/img/affiliates/zhunrize/header-bg.jpg) top center no-repeat;
	height: 600px;
	border-bottom: 1px solid #ccc;
}
.form {
	float: left;
	position: relative;
}
.deal {
	background: #fff;
	height: 280px;
	width: 360px;
	float: right;
	margin: 0 90px 0 0;
	padding: 20px;
	.three.columns  {
		float: left;
		width: 180px;
	}
	img {
		width: 130px;
		padding: 10px 0 0;
	}
	p {
		margin: 0;
	}
	h2 {
		font-size: 30px;
		line-height: 30px;
		letter-spacing: 0;
		text-transform: none;
	}
	li {
		font-size: 12px;
		padding: 0;
		margin: 0;
	}
	.price {
		margin: 20px 0;
		float: left;
		width: 400px;
		p {
			margin: 0;
			padding: 0;
			font-size: 18px;
			strong {
				font-size: 22px;
			}
		}
		h2 {
			margin: 0;
			line-height: 35px;
		}
	}
	a {
		&.button-link {
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border-radius: 5px;
			padding: 5px 15px;
			font-size: 14px;
			color: #222 !important;
			text-shadow: 0 1px rgba(255, 255, 255, .75);
			font-weight: 600;
			margin: 0 auto 10px;
			display: block;
			text-decoration: none;
			background-color: #AC9628;
			background-image: linear-gradient(bottom, #AC9628 0%, #E8DF7F 50%);
			background-image: -o-linear-gradient(bottom, #AC9628 0%, #E8DF7F 50%);
			background-image: -moz-linear-gradient(bottom, #AC9628 0%, #E8DF7F 50%);
			background-image: -webkit-linear-gradient(bottom, #AC9628 0%, #E8DF7F 50%);
			background-image: -ms-linear-gradient(bottom, #AC9628 0%, #E8DF7F 50%);
			background-image: -webkit-gradient(   linear,   left bottom,   left top,   color-stop(0, #AC9628),   color-stop(0.5, #E8DF7F)   );
			&:hover {
				background-color: #E8DF7F;
				background-image: linear-gradient(bottom, #E8DF7F 0%, #AC9628 50%);
				background-image: -o-linear-gradient(bottom, #E8DF7F 0%, #AC9628 50%);
				background-image: -moz-linear-gradient(bottom, #E8DF7F 0%, #AC9628 50%);
				background-image: -webkit-linear-gradient(bottom, #E8DF7F 0%, #AC9628 50%);
				background-image: -ms-linear-gradient(bottom, #E8DF7F 0%, #AC9628 50%);
				background-image: -webkit-gradient(
				linear,
				left bottom,
				left top,
				color-stop(0, #E8DF7F),
				color-stop(0.5, #AC9628)
				);
			}
		}
	}
}
.margin-vertical {
	margin: 10px 0;
	&.plus {
		margin: 30px 0;
	}
}
.title {
	text-align: center;
	margin: 0 0 60px;
}
/* new shop page */
.container {
	.shop {
	    padding: 60px 0;
	    background: #eee;
	    width: 960px;
	    height: 365px;
	    margin: 0 auto;
    	h2 {
	    	text-align: center;
	    	margin: 0;
	    	color: #222;
    	}
    	h3 {
	    	text-align: center;
	    	margin-bottom: 20px;
	    	color: #666;
    	}
    	a {
    		text-decoration: none;
	    	&.package {
	            float: left;
	            text-align: center;
	            border: 1px solid #ddd;
                margin-top: 21px;
                margin-bottom: 16px;
	            display: block;
	            box-shadow: 0 5px 15px #ddd;
	            background: #fff;
	            position: relative;
	            width: 160px;
	            margin: 21px 10px 16px;
	            padding: 0 0 12px;
	            &.copper {
    	            margin-left: 30px;
	            }
	            &.silver {
    	            margin-top: 0;
    	            padding: 0;
    	            h3 {
        	            padding-top: 36px;
    	            }
    	            .button-link {
    				    margin: 16px auto 25px;
    	            }
	            }
	            &:hover {
		            box-shadow: 0 0 25px #999;
		            .price:after {
		            	background: #eb292b;
		            }
	            }
	            ul {
	            	margin: 25px 0 15px;
		            li {
			            font-size: 11px;
		            }
	            }
	            .button-link {
				    -moz-border-radius: 5px;
					-webkit-border-radius: 5px;
					border-radius: 5px;
					padding: 5px 15px;
					font-size: 14px;
					color: #222 !important;
					text-shadow: 0 1px rgba(255, 255, 255, .75);
					font-weight: 600;
					float: none;
					width: 85px;
					margin: 0 auto 10px;
					display: block;
					text-decoration: none;
					background-color: #AC9628;
					background-image: linear-gradient(bottom, #AC9628 0%, #E8DF7F 50%);
					background-image: -o-linear-gradient(bottom, #AC9628 0%, #E8DF7F 50%);
					background-image: -moz-linear-gradient(bottom, #AC9628 0%, #E8DF7F 50%);
					background-image: -webkit-linear-gradient(bottom, #AC9628 0%, #E8DF7F 50%);
					background-image: -ms-linear-gradient(bottom, #AC9628 0%, #E8DF7F 50%);
					background-image: -webkit-gradient(   linear,   left bottom,   left top,   color-stop(0, #AC9628),   color-stop(0.5, #E8DF7F)   );
					&:hover {
						background-color: #E8DF7F;
						background-image: linear-gradient(bottom, #E8DF7F 0%, #AC9628 50%);
						background-image: -o-linear-gradient(bottom, #E8DF7F 0%, #AC9628 50%);
						background-image: -moz-linear-gradient(bottom, #E8DF7F 0%, #AC9628 50%);
						background-image: -webkit-linear-gradient(bottom, #E8DF7F 0%, #AC9628 50%);
						background-image: -ms-linear-gradient(bottom, #E8DF7F 0%, #AC9628 50%);
						background-image: -webkit-gradient(
						linear,
						left bottom,
						left top,
						color-stop(0, #E8DF7F),
						color-stop(0.5, #AC9628)
						);
					}
	            }
	            b {
    	            background: #ffd100;
    	            text-transform: uppercase;
    	            color: #273347;
    	            font-weight: 900;
    	            display: block;
    	            width: 80%;
    	            position: absolute;
    	            left: 50%;
    	            margin-left: -40%;
    	            top: 8px;
	            }
	            h3 {
	                color: #fff;
	                background: #333;
	                padding: 8px 0 0;
	                font-size: 26px;
	                margin-bottom: 0;
	            }
                p {
                    background: #333;
                    color: #fff;
                    font-size: 36px;
                    line-height: 36px;
                    padding-bottom: 8px;
                    font-weight: 700;
                    span {
                        display: block;
                        font-size: 11px;
                        line-height: 12px;
                    }
                }
	            ul {
	                li {
	                    padding: 0;
	                    margin: 0;
	                    color: #333;
	                }
	            }
	        }
            &.platinum {
			    margin-right: 0 !important;
			}
			&.silver {
			    margin-top: 0;
			    background-position: 0 -2px;
			}
    	}
        .triple-guarantee {
            padding: 0;
            height: 64px;
            clear: both;
            padding: 0 20px 0 30px;
            h2 {
                float: left;
                font-size: 32px;
                font-weight: 600;
                line-height: 26px;
                text-align: left;
                color: #2e3849;
                text-transform: uppercase;
                strong {
                    color: #418fde;
                    font-weight: 500;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                }
            }
            ul {
                float: right;
                width: 645px;
                padding: 8px 0 0 0;
                li {
                    float: left;
                    font-size: 14px;
                    line-height: 34px;
                    color: #333;
                    font-weight: 600;
                    width: auto;
                    margin-right: 24px;
                    text-transform: uppercase;
                    letter-spacing: 0;
                    &.last {
                        margin-right: 0;
                    }
                    i {
                        font-size: 32px;
                        color: #418fde;
                        margin-right: 10px;
                        float: left;
                    }
                }
            }
        }
    }
}

.button-link {
    display: block;
    float: left;
    padding: 8px 16px;
    .border-radius(5px,5px,5px,5px);
    color: #fff !important;
    font-weight: 700;
    background: #418fde;
    text-decoration: none;
    margin-right: 16px;
    .fade-slow;
    &.alt {
        background: #fff;
        color: #418fde;
    }
    &:hover {
        color: #fff;
        .fade-fast;
        background: #00aee4;
        text-decoration: none;
    }
    
    i {
        border-left: 1px solid #6598b9;
        padding: 4px 0 4px 8px;
        margin-left: 4px;
    }
}
.content {
	margin: 60px auto;
}
.conversation {
	background: #a10015;
	padding: 60px 0;
	height: 360px;
	.left {
		width: 460px;
		float: left;
		margin: 0 0 0 90px;
		h2 {
			color: #fff;
			text-align: left;
			font-size: 24px;
			text-transform: none;
			margin: 0;
			padding: 0 0 20px;
		}
		.white {
			color: #fff;
		}
		p {
			font-weight: 400;
			font-size: 16px;
			line-height: 22px;
		}
	}
	.right {
		width: 180px;
		float: right;
		margin: 0 90px 0 0;
		#quote-form {
			margin: 0;
		}
	}
}
.services {
	i {
		font-size: 160px;
		color: #404D6C;
		text-align: center;
		display: block;
		margin: 0 auto 20px;
	}
	text-align: center;
}
.form-darker {
	border: 1px solid #ccc;
	width: 275px;
}
#quote-form {
	background: #fff;
	margin: 0 0 0 90px;
	padding: 0;
	width: 180px;
	height: 340px;
	text-align: justify;
	.third-party-badge {
		img {
			width: 120px;
			margin: 15px 0;
		}
	}
	.fields {
		background: #eee;
		padding: 10px 10px 0 10px;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
	}
	input {
		margin-bottom: 5px;
		width: 149px;
		padding: 5px;
		font-size: 12px;
		box-shadow: inset 0 1px 10px -3px #999999;
		-webkit-box-shadow: inset 0 1px 10px -3px #999999;
		-moz-box-shadow: inset 0 1px 10px -3px #999999;
	}
	small {
		padding: 10px;
		display: block;
		font-size: 8px;
		line-height: 10px;
	}
	label {
		display: none;
	}
	.quote-form-error {
		display: none;
	}
	p {
		text-align: center;
		font-size: 14px;
		padding: 10px 0;
		margin: 0;
		color: #222;
		background-color: #E8DF7F;
		font-weight: 600;
		font-family: "proxima-nova", sans-serif;
	}
	a {
		clear: both;
		display: block;
		font-size: 8px;
		padding: 0;
		text-align: center;
	}
	button {
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		padding: 5px 15px;
		font-size: 14px;
		color: #222;
		font-weight: 600;
		margin: 0 auto 10px;
		display: block;
		text-decoration: none;
		background-color: #AC9628;
		background-image: linear-gradient(bottom, #AC9628 0%, #E8DF7F 50%);
		background-image: -o-linear-gradient(bottom, #AC9628 0%, #E8DF7F 50%);
		background-image: -moz-linear-gradient(bottom, #AC9628 0%, #E8DF7F 50%);
		background-image: -webkit-linear-gradient(bottom, #AC9628 0%, #E8DF7F 50%);
		background-image: -ms-linear-gradient(bottom, #AC9628 0%, #E8DF7F 50%);
		background-image: -webkit-gradient(   linear,   left bottom,   left top,   color-stop(0, #AC9628),   color-stop(0.5, #E8DF7F)   );
		&:hover {
			background-color: #E8DF7F;
			background-image: linear-gradient(bottom, #E8DF7F 0%, #AC9628 50%);
			background-image: -o-linear-gradient(bottom, #E8DF7F 0%, #AC9628 50%);
			background-image: -moz-linear-gradient(bottom, #E8DF7F 0%, #AC9628 50%);
			background-image: -webkit-linear-gradient(bottom, #E8DF7F 0%, #AC9628 50%);
			background-image: -ms-linear-gradient(bottom, #E8DF7F 0%, #AC9628 50%);
			background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0, #E8DF7F),
			color-stop(0.5, #AC9628)
			);
		}
	}
}

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	@media only screen and (min-width: 960px) {
		.main-menu {
			display: none;
		}
	}

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {

		.lifestyle {
			background-position: 52% 35%;
			height: 380px;
		}
		.content {
			img {
				width: 400px;
			}
		}
		.main-menu {
			display: none;
			a {
				color: #fff;
				text-transform: uppercase;
				text-decoration: none;
				font-size: 20px;
				font-weight: 600;
				display: block;
				font-family: "proxima-nova", sans-serif;
				padding: 0;
				height: 50px;
				width: 768px;
				clear: both;
				float: left;
				text-align: center;
				&.active {
					padding: 0;
					border-bottom: none;
				}
			}
		}
		.header {
			.container {
				.four.columns {
					img {
						width: 175px;
						margin: 18px 0 5px 20px;
					}
				}
				.three.columns {
					display: none;
				}
				.eight.columns {
					float: right;
				}
			}
			ul {
				&.standard-main-menu {
					display: none;
				}
				&.main-navigation {
					display: block;
					float: right;
					width: 235px;
					margin-bottom: 0;
					a {
						strong {
							color: #fff;
						}
						&.active {
							border-bottom: none;
						}
						font-size: 20px;
						i {
							margin-right: 10px;
						}
					}
					li {
						margin-bottom: 0;
					}
				}
			}
		}
		.deal {
			height: 320px;
			h2 {
				font-size: 32px;
			}
			img {
				width: 115px;
			}
		}
		.advantages {
			p {
				padding: 0 10px;
			}
		}
		.shop {
			.container {
				a.package.silver {
					display: none;
				}
			}
			.triple-guarantee {
				display: none;
			}
		}
		.deal {
			margin: 10px 0 0;
		}
		#quote-form {
			width: 220px;
			height: 380px;
			.fields {
				padding: 10px 10px 0 10px;
			}
			button {
				width: 130px;
				font-size: 14px;
				padding: 5px 0 9px;
			}
			p {
				font-size: 16px;
				padding: 10px 0;
			}
			input {
				width: 178px;
				padding: 5px 10px;
			}
			small {
				font-size: 9px;
				line-height: 12px;
				padding: 10px;
			}
			a {
				line-height: 12px;
			}
		}
		ul.main-menu {
			margin: 0;
			li {
				margin-bottom: 0;
				border-top: 1px solid #fff;
				a {
					color: #333;
					background: #f1f1f1;
					text-transform: uppercase;
					text-decoration: none;
					font-size: 20px;
					font-weight: 600;
					display: block;
					font-family: "proxima-nova", sans-serif;
					padding: 25px 0 5px;
					margin: 0;
					height: 37px;
					width: auto;
					float: none;
					text-align: center;
					border-bottom: 1px solid #ddd;
					&.active {
						margin: 0;
						padding: 25px 0 5px;
						border-bottom: 1px solid #ddd;
					}
				}
			}
		}

	}


	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {

		.header {
			.container {
				position: relative;
				img {
					width: 226px !important;
					display: block;
					margin: 15px auto 0;
					float: left;
				}
				p {
					display: none;
				}
				h2 {
					text-align: center !important;
					position: absolute;
					top: 38px;
					right: 0;
					font-weight: 600;
				}
				.eight.columns {
					width: 155px;
				}
				.four.columns {
					img {
						width: 200px !important;
						margin: 14px 0 5px 20px;
					}
				}
			}
			ul {
				&.main-navigation {
					a {
						float: right;
						font-size: 30px;
						padding: 30px 13px 8px;
						strong {
							display: none;
						}
					}
				}
			}
		}
		.content {
			img {
				margin: 0 0 20px;
			}
		}
		.lifestyle {
			background-position: 80% top;
			height: 435px;
		}
		.conversation {
			h4 {
				text-align: center;
			}
			h2 {
				text-align: center;
				margin-bottom: 20px;
			}
		}
		#quote-form {
			margin: 0 auto;
			width: 420px;
			height: 436px;
			p {
				font-size: 31px;
				padding: 20px 0;
			}
			input {
				width: 280px;
				padding: 10px;
				margin: 0 auto 10px;
			}
			button {
				width: 300px;
				font-size: 26px;
				padding: 12px 0 15px;
			}
		}
		.form-darker {
			width: 420px;
			margin: 40px 0;
		}
		.shop {
			.container {
				a.package {
					margin: 21px 25px 16px 0;
					width: 195px;
					&.copper {
						margin-left: 0;
					}
					&.bronze {
						margin-right: 0;
					}
					&.platinum {
						margin-right: 0;
					}
				}
			}
		}
		.deal {
			display: none;
		}

	}


	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {

		.header {
			.container {
				.eight.columns {
					width: 135px;
					ul.main-navigation {
						width: 135px;
					}
				}
				.four.columns {
					width: 165px;
					img {
						width: 160px !important;
						margin: 14px 0 5px;
					}
				}
			}
		}
		#quote-form {
			width: 300px;
			p {
				font-size: 22px;
			}
			input {
				width: 258px;
			}
			button {
				width: 280px;
				padding: 7px 0 10px;
				font-size: 22px;
			}
		}
		.form-darker {
			width: 301px;
		}
		.content {
			img {
				width: 300px;
			}
		}
		.shop {
			.container {
				a.package {
					width: 300px;
				}
			}
		}

	}