<!doctype html>
{% load content_filters content_tags sekizai_tags testimonial_tags %}

<!-- 
320 and Up boilerplate extension
Andy Clarke http://about.me/malarkey
Keith Clark http://twitter.com/keithclarkcouk
Version: 2
URL: http://stuffandnonsense.co.uk/projects/320andup/
License: http://creativecommons.org/licenses/MIT
-->

<!--[if IEMobile 7]><html class="no-js iem7 oldie"><![endif]-->
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)]><!--><html class="no-js" lang="en"><!--<![endif]-->

<head>
<meta charset="utf-8">

<title>{% block page-title %}Home Security | Alarm Systems{% endblock %} | Tomboy Tools Home Security Systems</title>
<meta name="description" content="{% block page-description %}{% endblock %}">
<meta name="keywords" content="{% block page_keywords %}{% endblock %}" />
<meta name="ROBOTS" content="INDEX,FOLLOW"/>
<meta name="rating" content="general" />
<meta name="copyright" content="Copyright &copy; 2012 5LINX Home Security, all rights reserved" />
<meta name="author" content="Tomboy Tools" />
<meta name="distribution" content="global" />
<meta name="resource-type" content="document" />
<meta http-equiv="imagetoolbar" content="false" />
<meta name="MSSmartTagsPreventParsing" content="true" />

<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>

{% block css %}
<!-- Skeleton -->
<link rel="stylesheet" href="{{ STATIC_URL }}css/affiliates/zhunrize/base.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/affiliates/zhunrize/skeleton.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/affiliates/zhunrize/layout.css">
{% endblock %}

<!--[if (lt IE 9) & (!IEMobile)]>
<script src="js/selectivizr-min.js"></script>
<![endif]-->

<!-- JavaScript -->
<script type="text/javascript" src="//use.typekit.net/wsu1mxq.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script src="{{ STATIC_URL }}js/modernizr-2.0.6.min.js"></script>
{% block favicons %}
<!-- For iPhone 4 -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}img/affiliates/tomboy-tools/h/apple-touch-icon.png">
<!-- For iPad 1-->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}img/affiliates/tomboy-tools/m/apple-touch-icon.png">
<!-- For the new iPad -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}img/affiliates/tomboy-tools/h/apple-touch-icon-144x144-precomposed.png">
<!-- For iPhone 3G, iPod Touch and Android -->
<link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}img/affiliates/tomboy-tools/l/apple-touch-icon-precomposed.png">
<!-- For Nokia -->
<link rel="shortcut icon" href="{{ STATIC_URL }}img/affiliates/tomboy-tools/l/apple-touch-icon.png">
<!-- For everything else -->
<!--iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="apple-touch-startup-image" href="{{ STATIC_URL }}img/affiliates/tomboy-tools/splash.png">
<script>(function(){var p,l,r=window.devicePixelRatio;if(navigator.platform==="iPad"){p=r===2?"{{ STATIC_URL }}img/affiliates/tomboy-tools/h/startup-tablet-portrait-retina.png":"{{ STATIC_URL }}img/affiliates/tomboy-tools/h/startup-tablet-portrait.png";l=r===2?"{{ STATIC_URL }}img/affiliates/tomboy-tools/h/startup-tablet-landscape-retina.png":"{{ STATIC_URL }}img/affiliates/tomboy-tools/h/startup-tablet-landscape.png";document.write('<link rel="apple-touch-startup-image" href="'+l+'" media="screen and (orientation: landscape)"/><link rel="apple-touch-startup-image" href="'+p+'" media="screen and (orientation: portrait)"/>');}else{p=r===2?"{{ STATIC_URL }}img/affiliates/tomboy-tools/h/startup-retina.png":"{{ STATIC_URL }}img/affiliates/tomboy-tools/h/startup.png";document.write('<link rel="apple-touch-startup-image" href="'+p+'"/>');}})()</script>
{% endblock %}

<!--Microsoft. Delete if not required -->
<meta http-equiv="cleartype" content="on">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<!--[if lt IE 7 ]><script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script><script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script><![endif]-->

<!-- http://t.co/y1jPVnT -->
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="canonical" href="/">
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-5441302-15']);
  _gaq.push(['_setDomainName', 'tomboytoolssecurity.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body class="{{ page_name }} clearfix">
<div class="page">

    {% block hero %}
    <div class="lifestyle">
        <div class="header">
            <div class="container">
                <div class="four columns">
                    <a href="/"><img src="{{ STATIC_URL }}img/affiliates/zhunrize/logo.png" alt="Zhunrize Security" /></a>
                </div>
                <div class="fourteen columns">
                    <div class="top-phone">
                        <p class="last">{% if request.GET.affkey %}Consultant ID: {{ request.GET.affkey }}{% else %}{% if request.COOKIES.affkey %}Consultant ID: {{ request.COOKIES.affkey }}{% else %}{% if affkey %}Consultant ID: {{ affkey }}{% else %}Consultant ID: L100000{% endif %}{% endif %}{% endif %}</p>
                        
                        <p class="phone">855-330-0270</p>
                        <p class="extra">Protect your family now:</p>
                        <p>{% if request.GET.affkey %}Consultant ID Number: {{ request.GET.affkey }}{% else %}{% if request.COOKIES.affkey %}Consultant ID Number: {{ request.COOKIES.affkey }}{% else %}{% endif %}{% endif %}</p>
                        
                    </div>
                    <ul class="main-navigation">
                        <li><a href="#" id="mobile-menu"><i class="fa fa-bars" title="Menu"></i><strong>Menu</strong></a></li>
                        <li class="alpha"><a href="tel:1-888-648-9606"><i class="fa fa-phone"></i><strong>Call Us</strong></a></li>
                    </ul>
                    <ul class="standard-main-menu">
                        <li><a href="/" class="{% if 'home' in active_pages %}active{% endif %}">Home</a></li>
                        <li><a href="/security-systems" class="{% if 'security-systems' in active_pages %}active{% endif %}">Security systems</a></li>
                        <li><a href="/video-security-cameras" class="{% if 'video-security-cameras' in active_pages %}active{% endif %}">Video security</a></li>
                        <li><a href="/order" class="{% if 'order' in active_pages %}active{% endif %} last">Order now</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <ul class="main-menu">
            <li><a href="/" class="{% if 'home' in active_pages %}active{% endif %}">Home</a></li>
            <li><a href="#" class="{% if 'copper' in active_pages %}active{% endif %}">Security systems</a></li>
            <li><a href="#" class="{% if 'video' in active_pages %}active{% endif %}">Video security</a></li>
            <li><a href="#" class="{% if 'gps' in active_pages %}active{% endif %}">GPS</a></li>
            <li><a href="#" class="{% if 'order' in active_pages %}active{% endif %}">Order now</a></li>
        </ul>

        <div class="nav">
            <div class="container">
                
            </div>
        </div>

                <div class="form">
                {% include "affiliates/zhunrize/_partials/quote-form.html" with form=forms.basic %}
                </div>

                <div class="deal">
                    <p>Free security system</p>
                    <h2>Simple, affordable, and complete home security</h2>
                    <div class="three columns">
                        <li>Simon XT control panel</li>
                        <li>1 motion detector</li>
                        <li>3 window decals</li>
                        <li>Battery backup</li>
                    </div>
                    <div class="three columns">
                        <li>10 door/window sensors</li>
                        <li>Siren and door chime</li>
                        <li>1 security yard sign</li>
                    </div>
                    <div class="clear"></div>
                    <div class="price">
                        <p>Price today <strong>FREE</strong></p>
                        <small>36 month contract required</small>
                    </div>
                    <a href="{% url order %}" class="button-link margin-vertical">Order now</a><p style="float: left; padding: 5px 0 5px 10px;">or call <strong>855-330-0270</strong></p>
                </div>

    </div>
    {% endblock %}

    {% block content %}
    {% endblock %}
    
    {% block advantage %}
    <div class="container">
        <div class="advantages">
            <div class="four columns">
                <i class="fa fa-lock"></i>
                <p><strong>24/7 Monitored Security</strong>Day or night, your home is safe and secure.</p>
            </div>
            <div class="four columns">
                <i class="fa fa-dollar"></i>
                <p><strong>Lowest Price Guarantee</strong>Dollars go further without loss of security.</p> 
            </div>
            <div class="four columns">
                <i class="fa fa-signal"></i>
                <p><strong>Simple, Convenient Wireless Security</strong>No holes and no drilling, just peace of mind</p>
            </div>
            <div class="four columns">
                <i class="fa fa-link"></i>
                <p><strong>Quality Products</strong>Alarm panels from Interlogix United Technologies.</p>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block packages %}
    <div class="container">
        <div class="shop">
        <h2>Start with a customizable package</h2>
        <h3>with no installation or equipment fees.</h3>
            <a href="#" class="copper package three columns">
                <h3>Copper</h3>
                <p>$19.99<span>per month</span></p>
                <ul>
                    <li>1 Simon XT panel</li>
                    <li>3 door / window sensors</li>
                    <li>1 motion detector</li>
                </ul>
                <div class="button-link" data-link="copper">Select plan</div>

            </a>
            <a href="#" class="bronze package three columns">
                <h3>Bronze</h3>
                <p>$35.99<span>per month</span></p>
                <ul>
                    <li>1 Simon XT panel</li>
                    <li>7 door / window sensors</li>
                    <li>1 motion detector</li>
                </ul>
                <div class="button-link" data-link="bronze">Select plan</div>

            </a>
            <a href="#" class="silver package three columns">
                <b>Most Popular</b>
                <h3>Silver</h3>
                <p>$37.99<span>per month</span></p>
                <ul>
                    <li>1 Simon XT panel</li>
                    <li>10 door / window sensors</li>
                    <li>1 motion detector</li>
                </ul>
                <div class="button-link" data-link="silver">Select plan</div>

            </a>
            <a href="#" class="gold package three columns">
                <h3>Gold</h3>
                <p>$39.99<span>per month</span></p>
                <ul>
                    <li>1 Simon XT panel</li>
                    <li>12 door / window sensors</li>
                    <li>1 motion detector</li>
                </ul>
                <div class="button-link" data-link="gold">Select plan</div>

            </a>
            <a href="#" class="platinum package three columns">
                <h3>Platinum</h3>
                <p>$42.99<span>per month</span></p>
                <ul>
                    <li>1 Simon XT panel</li>
                    <li>15 door / window sensors</li>
                    <li>1 motion detector</li>
                </ul>
                <div class="button-link" data-link="platinum">Select plan</div>

            </a>

        </div>
    </div>
    {% endblock %}

    {% block conversation %}

    <div class="conversation">
        <div class="left">
            <h2 class="title white">Security is an amazing conversation piece</h2>
            <p class="white">Get a home security system for your home or business! Simply order one of our award-winning monitoring solutions and a wireless home security system will be sent to your door for FREE. Give us a call to start the conversation with one of our home security experts. We’ll go over the security specifics of your home to determine which security package best fits your needs. There’s no time to wait! In the United States, a home is attacked by burglars every 14 seconds. Call Tomboy Tools Home Security Systems now to secure your home and family!</p>
            <h4 class="white">Call today!</h4>
            <h2 class="white">855-330-0270</h2>
        </div>
        <div class="right">
            {% include "affiliates/zhunrize/_partials/quote-form.html" with form=forms.basic %}
        </div>
    </div>

    {% endblock %}




<!-- Scripts -->
<script type="text/javascript" src="//use.typekit.net/czn3ncv.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script src="{{ STATIC_URL }}js/jquery-1.6.2.min.js"></script>
<script src="{{ STATIC_URL }}js/plugins.js"></script>
<script src="{{ STATIC_URL }}js/script.js"></script>
<script src="{{ STATIC_URL }}js/helper.js"></script>
{% render_block "js" %}
<!--[if (lt IE 9) & (!IEMobile)]>
<script src="js/imgsizer.js"></script>
<![endif]-->

<script>
// iOS scale bug fix
MBP.scaleFix();

// Respond.js
yepnope({
  test : Modernizr.mq('(only all)'),
  nope : ['{{ STATIC_URL }}js/respond.min.js']
});
</script>
{% addtoblock "js" %}
<script type="text/javascript">
$(document).ready(function(){
    $("#mobile-menu").click(function( event ){
        event.preventDefault();
        if ($(this).hasClass('active')) {
            $(this).removeClass('active');
            $(".main-menu").slideUp('fast');
        } else {
            $(this).addClass('active');
            $(".main-menu").slideDown('fast');
        };
    });
});
</script>
{% endaddtoblock "js" %}
</div>
</body>
</html>
