{% extends "affiliates/zhunrize/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}
{% block page_title %}Order Today | Security Systems | Tomboy Tools Home Security{% endblock %}
{% block page_keywords %}wireless home alarm system, wireless GE home security system, motion detectors, smoke detectors, interactive home video security, flood sensors, Tomboy Tools home security systems, Tomboy Tools, Tomboy Tools alarms{% endblock %}
{% block page_description %}Get your new GE Simon XT wireless home security system today! Our expert security consultants are waiting to discuss the specific security needs of your home. Order a monitoring solution and receive a free home security system.{% endblock %}

{% block subnav %}
{% endblock %}

{% block content %}
	<div class="left">
		<h1>Thanks for choosing Zhunrize</h1>
		<p>One of our home security professionals is ready to guide you through protecting your home.</p><p>Please fill out your information or call <strong>855-330-0270</strong> to speak to a security expert now!</p>
		<ul>
			<li><i class="fa fa-thumbs-up"></i><p><strong>No installation fees</strong>Unlike our competitors, each of our packages comes with free equipment and no activation fees. Our home security systems require no professional installer and therefore no fees. It’s that easy.</p></li>
			<li><i class="fa fa-lightbulb-o"></i><p><strong>Home automation</strong>Control lights and appliances to manage your energy usage. Lock and unlock doors, even be notified of water leaks and frozen pipes – all remotely on your smartphone. Control your home from any Apple or Android product.</p></li>
			<li class="last"><i class="fa fa-video-camera"></i><p><strong>Flexible security options</strong>Video Cameras, Fire Monitoring, and Home Automation; each of our home security systems is bundled just for you. No two homes are alike, so we approach your protection with an open mind.</p></li>
		</ul>
	</div>
	<div class="right">
		<p>{% include "affiliates/zhunrize/_partials/quote-form.html" with form=forms.basic %}</p>
	</div>
	<div class="clear"></div>
{% endblock %}

{% block advantage %}
{% endblock %}

{% block packages %}
{% endblock %}

{% block conversation %}
{% endblock %}