{% extends "affiliates/zhunrize/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}
{% block page_title %}Copper Security Package | Security Systems | Tomboy Tools Home Security{% endblock %}
{% block page_keywords %}home security system, home alarm system, wireless security system, wireless alarm system, wireless GE home security system, motion detectors, smoke detectors, interactive home video security, flood sensors, Tomboy Tools home security systems, Tomboy Tools, Tomboy Tools alarms, Copper Security package, Copper Security system{% endblock %}
{% block page_description %}The Copper Security package from Tomboy Tools is the perfect home security system for first time homeowners and includes 3 door/window sensors plus a motion detector. Customers can get a free wireless GE security system for free when they order a monitoring solution.{% endblock %}

{% block content %}

    <div class="content">
    	<h2>Adding security to your home</h2>
        <div class="left">
            <img src="{{ STATIC_URL }}img/affiliates/zhunrize/protection.png" alt="Total home protection" />
        </div>
        <div class="right">
        	<p>When looking to find peace of mind when it comes to your family, an alarm system can help make the difference to make your home feel secure. And we realize that importance of feeling safe. We offer various security equipment pieces to customize your security system to your home and budget.</p>
        	<p>A common misconception about home security is that going with a local alarm company is better. Many think that since there is a home security company locally, there is a local monitoring facility as well. In reality, when you sign up with a local home security company they install it, and it ends up being monitored by a national monitoring facility. Make sure to check if your home security company has redundant back-up monitoring. Protect America uses three of the best monitoring facilities throughout the United States to make sure your home is always protected.</p>
			<p>It is also important to note that Protect America offers three different types of monitoring options to fit your needs and budget. Many smaller companies offer only one type of monitoring. Before choosing a home security company, make sure the system will actually work with your home.</p>
        </div>
        <div class="clear"></div>
        <h2>More products, more options</h2>
        <p>Protection isn't a homogenized need. Your home needs different safeguards than a small business, and national home security companies offer more specialized products and options than the local installer - not to mention lifetime equipment warranties.</p>
        <p>When you choose a home security company, make sure it's one you can trust - after all, you're placing your most valued items in its care.</p>
        <div class="clear"></div>
    </div>

{% endblock %}

{% block advantage %}
{% endblock %}

{% block packages %}
{% endblock %}