{% extends "affiliates/zhunrize/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}
{% block page_title %}Copper Security Package | Security Systems | Tomboy Tools Home Security{% endblock %}
{% block page_keywords %}home security system, home alarm system, wireless security system, wireless alarm system, wireless GE home security system, motion detectors, smoke detectors, interactive home video security, flood sensors, Tomboy Tools home security systems, Tomboy Tools, Tomboy Tools alarms, Copper Security package, Copper Security system{% endblock %}
{% block page_description %}The Copper Security package from Tomboy Tools is the perfect home security system for first time homeowners and includes 3 door/window sensors plus a motion detector. Customers can get a free wireless GE security system for free when they order a monitoring solution.{% endblock %}

{% block content %}

    <div class="container content">
        <div class="six columns">
            <img src="{{ STATIC_URL }}img/products/copper-package/in-the-home.jpg" alt="In the Home: Copper Package" />
        </div>
        <div class="six columns offset-by-four">
            <p>For the most part, the typical American home has three or less doors that can be used for entry. While burglars use a number of methods to enter your home, the vast majority of burglaries happen through an outside door. The Copper Security package from Tomboy Toosl meets the basic security needs of most by offering three door/window sensors. This package is ideal for defending your front and back door, along with any windows or side doors you feel it necessary to monitor. The Copper Security package also features an infrared motion detector for enhanced interior protection. When you call, don’t forget to ask one of our home security experts how to further customize your system with security accessories, such as smoke detectors, interactive cameras, and flood sensors.</p>
        </div>
    </div>

{% endblock %}

{% block advantage %}
{% endblock %}