{% extends "affiliates/generic-landing-base/index.html" %}

{% load sekizai_tags content_tags content_filters %}

{% block page_title %}Vivint Home Security Comparison | Best Home Security Systems | Protect America Vs. Vivint{% endblock %}
{% block page_description %}Protect America offers the best home security systems at competitive prices. Just compare our security services with that of Vivint to see for yourself!{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/affiliates/vivint-vs-protectamerica/vivint-vs-protectamerica-canada.css">
    <script type="text/javascript" src="//use.typekit.net/lrx4kky.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
{% endblock %}

{% block typekit %}tk-museo-slab{% endblock %}

{% block extra_javascript %}
<script>
$(document).ready(function() {
    $('#assurance-block-four').trigger('click');
});
</script>
{% endblock %}

{% block left-wrapper %}
  <img src="{{ STATIC_URL }}img/affiliates/vivint-vs-protectamerica/hero-exp.2013.gif" alt="hero-exp.2013" width="688" height="387" />
{% endblock %}    

{% block assurance-block-one %}
    <img src="{{ STATIC_URL }}img/affiliates/frontpoint-vs-protectamerica/front-point-will-cost-you.gif" alt="front-point-will-cost-you" width="106" height="104" />
    <h3>Vivint<br />Will Cost You</h3>
{% endblock %}

{% block assurance-block-two %}
    <img src="{{ STATIC_URL }}img/affiliates/frontpoint-vs-protectamerica/what-frontpoint-wont-say.gif" alt="what-frontpoint-wont-say" width="107" height="105" />
    <h3>What Vivint<br />Won’t Say</h3>
{% endblock %}

{% block assurance-block-three %}
    <img src="{{ STATIC_URL }}img/affiliates/frontpoint-vs-protectamerica/pa-advantage.gif" alt="pa-advantage" width="106" height="103" />
    <h3>The Protect America Advantage</h3>
{% endblock %}

{% block assurance-block-four %}
    <img src="{{ STATIC_URL }}img/affiliates/frontpoint-vs-protectamerica/nineteen-dollars.gif" alt="nineteen-dollars" width="107" height="104" />
    <h3>The Best Deal Ever</h3>
{% endblock %}

{% block assurance-block-five %}
    <img src="{{ STATIC_URL }}img/affiliates/vivint-vs-protectamerica/diverse-monitoring.gif" alt="diverse-monitoring" width="106" height="105" />
    <h3>Diverse Monitoring Solutions</h3>
{% endblock %}

{% block assurance-card-one %}
<div id="package-comparison-chart">
    <h2>Their Price Compared to the Best Deal Ever</h2>
    <table>
        <thead>
            <tr>
                <th class="alpha company">&nbsp;</th>
                <th class="upfront">Installation Fee</th>
                <th>Landline Monitoring</th>
                <th>Broadband Monitoring</th>
                <th>Cellular Monitoring</th>
                <th>Contract Term</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="company">Protect America</td>
                <td class="upfront free"><span>$0</span></td>
                <td><span> $19.99</span> per month</td>
                <td><span> $37.99 </span>per month</td>
                <td><span>$41.99 </span>per month</td>
                <td><span>36 </span>Months</td>
            </tr>
            <tr class="alt">
                <td class="company">Vivint</td>
                <td class="upfront"><span>$99</td>
                <td class="upfront">Not<br/>Offered</td>
                <td class="na">Not<br/>Offered</td>
                <td><span>$49.99</span>per month</td>
                <td><span>42</span> Months</td>
            </tr>
        </tbody>
    </table>
    <h4 style="padding-left: 15px;padding-bottom: 15px; line-height: 12px; font-size: 8pt;">* Information used for home security alarm system comparisons was obtained November 2012 through telephone and online research. Vivint prices: based on total out-of-pocket expense to obtain services; installation based on fees for similar home security equipment packages.</h4>
</div>
{% endblock %}

{% block assurance-card-two %}
<div id="conv-install">
    <div class="left-conv-install-fine-print">
        <img src="{{ STATIC_URL }}img/affiliates/vivint-vs-protectamerica/vivint-infographic-chart-of-price.gif" alt="vivint-infographic-chart-of-price" width="563" height="305" />
    </div>
    <div class="right-conv-install-fine-print">
        <h2>What Vivint Won’t Say</h2>
        <p>Equipment from Vivint is incredibly expensive. Their home security and automation devices can cost as much as $699 and useful accessories, like smoke detectors, are priced far higher than most security companies. Vivint’s complicated home automation platform increases costs to consumers without providing comprehensive protection. If you’re looking for reliable and affordable security, then you’re looking for Protect America!</p>
    </div>
</div>
<div class="clear"></div>
{% endblock %}

{% block assurance-card-three %}
<div id="conv-install">
    <div class="left-conv-install">
        <img style="margin-left: 15px;" src="{{ STATIC_URL }}img/affiliates/frontpoint-vs-protectamerica/pa-advantage-big-mark.gif" alt="pa-advantage-big-mark" width="293" height="292" />
    </div>
    <div class="right-conv-install">
        <h2>The Protect America Advantage</h2>
        <p>The nation’s leading wireless home security company, Protect America has spent the last 20 years developing an award-winning reputation. We’ve been ranked the number one home security company by <a href="http://www.TopConsumerReviews.com" target="_blank">TopConsumerReviews</a> for the past five years. Since 2008, our Copper security package has been named a Consumer’s Digest ‘Best Buy’ for quality and affordability.</p>
    </div>
</div>
<div class="clear"></div>
{% endblock %}

{% block assurance-card-four %}
<div id="conv-install">
    <div class="left-conv-install">
        <img style="padding-top: 25px;" src="{{ STATIC_URL }}img/affiliates/vivint-vs-protectamerica/best-deal-ever-exp.2013.png" alt="best-deal-ever-exp.2013" width="378" height="218" />
    </div>
    <div class="right-conv-install">
        <h2>The Best Deal Ever</h2><h3 style="padding-left: 5px;">Total Vivint Upfront Price: $148.99</h3>
        <p>You’re just in time for the best deal ever in home security! For a limited time, we’re offering monthly monitoring rates starting at just $19.99. This unheard of price also includes a free wireless home security system! Vivint monitoring starts at a ridiculous $49.99 per month and you’ll have to pay for activation, among other fees. No other security company can match Protect America’s prices. If some other company does manage to beat our price, we’ll match their offer. That’s our Lowest Price Guarantee!</p>
    </div>
</div>
<div class="clear"></div>
{% endblock %}

{% block assurance-card-five %}
<div id="conv-install">
    <div class="left-conv-install-fine-print2">
        <img src="{{ STATIC_URL }}img/affiliates/vivint-vs-protectamerica/monitoring-options.gif" alt="monitoring-options" width="472" height="399" />
    </div>
    <div class="right-conv-install-fine-print2">
        <h2 style="margin-top: 55px;">Diverse Monitoring Solutions</h2>
        <p>Get home security that works for your home. Vivint only provides a cellular monitoring option for their home security solutions. With limited cell coverage, many customers won’t know how well their security system works until a technician is already at your home. Protect America offers a range of monitoring solutions that work with almost every American household. When you order a Protect America wireless security system, take your pick of landline, broadband, or cellular monitoring. Choose whatever technology you already use in your home and know it’ll work!</p>
    </div>
</div>
<div class="clear"></div>
{% endblock %}
{% block page-product %}
    <h2>Copper Security Package</h2>
    <p><span>Monthly Monitoring:<strong> $19.99</strong></span>No Installation Fees<br/>Equipment Included</p>
    <div class="button-submit">
        <a href="{% url order-package %}?package=copper" onClick="_gaq.push(['_trackEvent', 'Order Now', 'Order Now Package Footer Click', 'Copper-B']);">Order Now ></a>
    </div>
{% endblock %}
