{% extends "base.html" %}
{% load sekizai_tags content_tags content_filters %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/canada.css">
    <script type="text/javascript" src="//use.typekit.net/lgm4msi.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>


{% endblock %}

{% block typekit %}tk-jaf-facitweb{% endblock %}


{% block company-logo %}
<div id="company-logo">
    <a href="http://www.protectamerica.com/canada/" title="Protect America - Canada Home Security">
        <img src="{{ STATIC_URL }}img/canada/protect-america-canada-home-security.png"  alt="home security systems" id="protect-america-logo" width="288" height="48" />

    </a>
</div>
{% endblock %}
{% block navigation %}
{% comment %}
    <div id="navigation">
        <ul>
            <li class="home-button {% if 'index' in active_pages %}active{% endif %}"><a href="/" title="Home Security Systems and Products" onClick="_gaq.push(['_trackEvent', 'Home', 'Top Navigation', '{{ page_name }}']);"><img src="{{ STATIC_URL }}img/base/home-icon{% if 'index' in active_pages %}-white{% endif %}.png" alt="home alarm companies" /></a></li>
            <li {% if 'ca-packages' in active_pages %}class="active"{% endif %}><a href="{% url ca_packages %}" title="Home Security Systems and Products" onClick="_gaq.push(['_trackEvent', 'Shop', 'Top Navigation', '{{ page_name }}']);">Shop</a></li>
        </ul>
        <div id="search-area">
            <form name="search2" method="GET" action="http://www.protectamerica.com/search/">
                <input type="text" id="q" name="q" placeholder="Enter Keywords" value="{% if request.GET.q %}{{ request.GET.q }}{% endif %}" onClick="_gaq.push(['_trackEvent', 'Search', 'Top Navigation', '{{ page_name }}']);"/>
            </form>
        </div>
    </div>
{% endcomment %}
{% endblock %}
{% block content %}

{% addtoblock "js" %}
{% endaddtoblock "js" %}

{% endblock %}

