{% extends "base.html" %}
{% load sekizai_tags content_tags content_filters %}
{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/canada.css">
{% endblock %}

{% block google_experiment %}

    {% endblock %}
{% block google_analytics %}
<script type="text/javascript">

 var _gaq = _gaq || [];
 _gaq.push(['_setAccount', 'UA-5441302-17']);
 _gaq.push(['_setDomainName', 'protectamericasecurity.ca']);
 {% block ga_custom_variables %}{% endblock %}
 _gaq.push(['_trackPageview']);

 (function() {
   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
   ga.src = ('http:' == document.location.protocol ? 'http://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
 })();

</script>
{% endblock %}

<!-- Page Header -->
{% block header %}

    <div id="top-section-wrapper">
        <div id="top-section" class="container">

            <div id="company-links" class="sixteen columns">
                <a href="http://www.myprotectamerica.com" class="interactive-customer" target="blank">Interactive Customers</a>

                <a href="https://server.iad.liveperson.net/hc/34774121/?cmd=file&file=visitorWantsToChat&site=34774121&byhref=1" class="easy-chat-click" id="online-chat-button" target="blank">Online Chat</a>
                <div id="main-phone">
                    <i class="icon-phone-sign"></i>
                    {% block main-phone %}
                        {% if phone_number %}
                            <a href="tel:{{ phone_number|format_number }}" class="" onClick="_gaq.push(['_trackEvent', 'Phone Call Click', 'Top Call', '{{ page_name }}']);"><span{% if use_call_measurement %} class="dynamic-phone-number"{% endif %}>{{ phone_number|format_number }}</span></a>
                        {% endif %}
                    {% endblock %}
                </div>
                <ul id="international-selection">
                	<li class="ca active"><a href="http://www.protectamericasecurity.ca" rel="nofollow">EN</a></li>
                    <li class="us"><a href="http://www.protectamerica.com" rel="nofollow">EN</a></li>
                    <li class="es"><a href="http://www.protectamerica.com/es/" rel="nofollow">ES</a></li>
                    <i class="icon-caret-down"></i>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div id="header-wrapper">
        <div id="header" class="container">
            <a href="">
                <img src="{{ STATIC_URL }}img/canada/logo-canada.png" title="Home Security Systems by Protect America" alt="Protect America Home Security" id="canada-logo">
            </a>
            <a href="" onClick="_gaq.push(['_trackEvent', 'Request Quote Click', 'Menu Request Quote', '{{ page_name }}']);" class="request-quote-button lb-button" data-link="request-quote">Request Quote</a>
            {% if phone_number %}
                <div class="stuck-phone">
                    Call Today &amp; Save!
                    <a href="tel:1-877-459-7521" class="" onClick="_gaq.push(['_trackEvent', 'Phone Call Click', 'Top Call', '{{ page_name }}']);"><span{% if use_call_measurement %} class="dynamic-phone-number"{% endif %}>{{ phone_number|format_number }}</span></a>
                </div>
                <div class="stuck-phone-number">
                    <a href="tel:1-877-459-7521" class="" onClick="_gaq.push(['_trackEvent', 'Phone Call Click', 'Top Call', '{{ page_name }}']);"><span{% if use_call_measurement %} class="dynamic-phone-number"{% endif %}>{{ phone_number|format_number }}</span></a>
                </div>
            {% endif %}
            {% block navigation %}
            {% endblock %}
            {% include "order/quote-form-refresh.html" with form=forms.basic %}

            <div class="clear"></div>
        </div>
    </div>
{% endblock %}
{% block order-footer %}
<div id="order-footer">
    <div id="footer-call-now">
        <a href="http://www.protectamerica.com/products/order-package" class="button-link stylized lb-button" data-link="request-quote">Get Started Now</a>
        <h3>Your family's safety is important.</h3>
        <p>Our security experts are ready to help.</p>
        <span{% if use_call_measurement %} class="dynamic-phone-number"{% endif %}><a href="tel:{{ phone_number|format_number }}">{{ phone_number|format_number }}</a></span>
    </div>
    <div class="clear"></div>
</div>
{% endblock %}
    {% block main-footer %}
    <!-- Footer navigation -->
    {% comment %}
    <footer>
        <div class="container">
            <ul class="four columns">
                <li><a href="http://www.protectamerica.com/shop-home-security-systems">Shop</a></li>
                <li><a href="http://www.protectamerica.com/learn/security-101/how-it-works">How It Works</a></li>
                <li><a href="http://www.protectamerica.com/support/customer-service">Customer Service</a></li>
                <li><a href="http://www.protectamerica.com/home-security-blog/">Home and Life Blog</a></li>
                <li><a href="http://www.protectamerica.com/help/state-licenses/">State Licenses</a></li>
                <li><a href="http://www.protectamerica.com/sitemap/">Sitemap</a></li>
            </ul>
            <ul class="four columns">
    
                <li><a href="http://www.protectamerica.com/help/privacy-policy/">Privacy Policy</a></li>
                <li><a href="http://www.protectamerica.com/help/return-policy/">Return Policy</a></li>
                <li><a href="http://www.protectamerica.com/help/do-not-call/">Do Not Call</a></li>
                <li><a href="http://www.protectamerica.com/support/affiliates/">Affiliates</a></li>
                <li><a href="http://www.protectamerica.com/support/dealers">Dealer Program</a></li>

            </ul>
            <ul class="five offset-by-eight columns hours-area">
                <li><strong>Telephone</strong></li>
                <li>{{ phone_number|format_number }}</li>
                <li>M-F 7am - 11pm ct</li>
                <li>Sat 8am - 8pm ct</li>
                <li>Sun 9am - 9pm ct</li>
            </ul>
            <ul class="two columns offset-by-one">
                <li class="facebook"><a href="http://www.facebook.com/ProtectAmerica"><i class="fa fa-facebook"></i></a></li>
                <li class="googleplus"><a href="https://plus.google.com/+ProtectAmerica/"><i class="fa fa-google-plus"></i></a></li>
                <div class="clear"></div>
                <li class="twitter"><a href="http://www.twitter.com/ProtectAmerica"><i class="fa fa-twitter"></i></a></li>
                <li class="youtube"><a href="http://www.youtube.com/user/ProtectAmerica"><i class="fa fa-youtube"></i></a></li>
                <div class="clear"></div>
                <li class="linkedin"><a href="http://www.linkedin.com/company/protect-america"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
    </footer>
    <!-- End footer navigation -->
    {% endcomment %}
    {% endblock %}

