{% extends "affiliates/sem-landing-page/ppc-landing.html" %}
{% load sekizai_tags content_tags content_filters %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/canada.css">
    <script type="text/javascript" src="//use.typekit.net/lgm4msi.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>


{% endblock %}
{% block google_analytics %}
<script type="text/javascript">

 var _gaq = _gaq || [];
 _gaq.push(['_setAccount', 'UA-5441302-17']);
 _gaq.push(['_setDomainName', 'protectamericasecurity.ca']);
 {% block ga_custom_variables %}{% endblock %}
 _gaq.push(['_trackPageview']);

 (function() {
   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
   ga.src = ('http:' == document.location.protocol ? 'http://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
 })();

</script>
{% endblock %}
{% block international-main %}<img src="{{ STATIC_URL }}img/external/flags/ca.png" alt="us" width="16" height="11" /> CA <img src="{{ STATIC_URL }}img/external/flags/arrow-selector.png" class="arrow-selector" alt="arrow-selector" />{% endblock %}

{% block company-logo %}
<!-- {{ request.session.refer_id }} & Cookie: request.COOKIES.refer_id  -->
<div id="company-logo">
    <a href="http://www.protectamericasecurity.ca/" title="Protect America Home Security">
        <img src="{{ STATIC_URL }}img/canada/protect-america-canada-home-security.png" alt="Protect America Home Security" width="288" height="48" />
    </a>
</div>
{% endblock %}

{% block typekit %}tk-jaf-facitweb{% endblock %}

{% block navigation %}
    <div id="navigation">
        <ul>
            <li class="home-button {% if 'index' in active_pages %}active{% endif %}"><a href="/" title="Home Security Systems and Products" onClick="_gaq.push(['_trackEvent', 'Home', 'Top Navigation', '{{ page_name }}']);"><img src="{{ STATIC_URL }}img/base/home-icon{% if 'index' in active_pages %}-white{% endif %}.png" alt="home alarm companies" /></a></li>
            <li {% if 'products' in active_pages %}class="active"{% endif %}><a href="{% url products %}" title="Home Security Systems and Products" onClick="_gaq.push(['_trackEvent', 'Shop', 'Top Navigation', '{{ page_name }}']);">Shop</a></li>
        </ul>

    </div>
{% endblock %}
{% block page-product %}
    <h2>Home Security</h2>
    <p><span>Equipment Price: <strong>
        INCLUDED
    </strong></span>monthly monitoring starting at $19.99/mo</p>

{% endblock %}
{% block main-footer %}{% endblock %}
