{% extends "canada/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}

{% block page_title %}Home Security Systems | Home Alarm Systems | Protect America Canada{% endblock %}
{% block page_keywords %}home security,home security system,security,security system,security systems,alarm system{% endblock %}
{% block page_description %}Get a free home security system for your home. Sign up for home security monitoring and get a Simon security system at no cost. Now serving Alberta, Ontario, and British Columbia{% endblock %}

{% block viewport %}
<meta name = "viewport" content ="initial-scale=1, user-scalable=no">
{% endblock %}



{% block content %}
{% block hero_banner_area %}
    <div id="hero-wrapper" class="sept-deals">
        <div id="hero-image" class="cmonday">
            {% include "order/quote-form-white-refresh.html" with form=forms.basic %}
            <div id="sept-deals">
                <h1>Home security systems</h1>
                <h2>Providing peace of mind<br>you deserve.</h2>
                <h3>And it starts at just $19.99 per month</h3>
                <ul>
                    <li><i class="fa fa-check"></i>24/7 security monitoring</i></li>
                    <li><i class="fa fa-check"></i>Easy to setup - no tools required</li>
                    <li><i class="fa fa-check"></i>Free equipment and no installation fees</li>
                </ul>
                <a href="#" class="lb-button" data-link="request-quote">Start shopping today</a>
                <div class="deal-box">
                        <img src="{{ STATIC_URL }}img/banners/hero-banners/sept-deals/security-deal.png" />
                        <img src="{{ STATIC_URL }}img/banners/hero-banners/sept-deals/fire-deal.png" />
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% include "order/call-box-b.html" %}

<div class="container">
        <h2 class="title center">Protect Your Home</h2>
        <div class="seven columns">
            <p>Knowing your home is protected gives you more time to enjoy what you love to do. We’re proud to offer peace-of-mind with quality security technology in Ontario, British Columbia and Alberta.</p>
            <p>Quality is only the beginning, however. We believe real home security should be available to anyone; which is why Protect America’s prices are also the most affordable in the industry.</p>
        </div>
        <div class="seven columns offset-by-two">
            <p>Trusted 24/7 monitoring combined with a variety of wireless technologies let you cloak your home in an invisible web of armor that’s always on, always ready.</p>
            <p>We’re ready with all the expertise, equipment and resources you need to build a safer home.</p>
        </div>
        <div class="clear"></div>
            <a href="http://www.protectamerica.com/equipment/home-security" class="button center lb-button not-mobile" data-link="request-quote">Request Quote</a>
            <a href="tel:{{ phone_number|format_number }}" class="button center lb-button not-desktop" data-link="request-quote">Request Quote</a>
</div>
<div class="clear"></div>

<div id="advantage-table-wrapper">
    <div id="advantage-table">
        {% block advantage-header %}
        <h2>A step above the rest <span>providing more safety and security for less</span></h2>
        {% endblock %}
        <table>
            <thead>
                {% block table-headers %}

                <tr>
                    <th>&nbsp;</th>
                    <th>Door / Window Protection</th>
                    <th>24/7 Alarm Monitoring</th>
                    <th>Free Security Equipment</th>
                    <th class="extra">No Installation <br />Fees</th>
                    <th class="extra">Lifetime Equipment Warranty</th>
                    <th>Monthly Cost</th>
                </tr>
                {% endblock %}
            </thead>
            <tbody>
                {% block advantage-us %}
                <tr class="alpha">
                    <td class="title">Protect America</td>
                    <td class="price">3</td>
                    <td><i class="fa fa-check"></i></td>
                    <td><i class="fa fa-check"></i></td>
                    <td class="extra"><i class="fa fa-check"></i></td>
                    <td class="extra"><i class="fa fa-check"></i></td>
                    <td class="price">$19.99</td>
                </tr>
                {% endblock %}
                {% block advantage-competitor-1 %}
                <tr>
                    <td class="title">ADT</td>
                    <td class="price">2</td>
                    <td><i class="fa fa-check"></i></td>
                    <td class="na">Not Available</td>
                    <td class="na extra">Not Available</td>
                    <td class="na extra">Not Available</td>
                    <td class="price">$42.99</td>
                </tr>
                {% endblock %}
                {% block advantage-competitor-2 %}
                    {% if local_rival %}
                    <tr>
                        <td class="title">{{ local_rival.rival }}</td>
                        <td class="price">{{ local_rival.door_window }}</td>
                        <td class="na" >{% if local_rival.alarm_monitoring %}<i class="fa fa-check"></i>{% else %}Not Available{% endif %}</td>
                        <td class="na">{% if local_rival.free_equipment %}<i class="fa fa-check"></i>{% else %}Not Available{% endif %}</td>
                        <td class="na extra">{% if local_rival.no_fees %}<i class="fa fa-check"></i>{% else %}Not Available{% endif %}</td>
                        <td class="na extra">{% if local_rival.warranty %}<i class="fa fa-check"></i>{% else %}Not Available{% endif %}</td>
                        <td class="price">{{ local_rival.monthly_cost }}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td class="title">Vivint</td>
                        <td class="price">2</td>
                        <td><i class="fa fa-check"></i></td>
                        <td class="na">Not Available</td>
                        <td class="na extra">Not Available</td>
                        <td class="na extra">Not Available</td>
                        <td class="price">$49.99</td>
                    </tr>
                    {% endif %}
                {% endblock %}
            </tbody>
        </table>
        <div class="clear"></div>
    </div>
</div>
<div class="container" style="margin: 60px auto;">
    <div class="seven columns">
        <h3>Safe from all angles</h3>
        <p>Go beyond security. Safeguard your home and family from fire, carbon monoxide, medical emergencies and more! All safety technologies integrate with your security system and are <strong>monitored 24/7</strong>. Protect America security experts are trained to ask questions and listen before making the best recommendations possible.</p>
        <p>We’ll help you create a real plan and turn your house into a smarter and safer home.</p>
        
    </div>
    <div class="seven columns offset-by-two">
        <h3>Make everything automatic</h3>
        <p>Put your home to work while you are busy living life! With the touch of a button you can lock doors, dim the lights and much more.</p>
        <p>The <strong>Z-Wave Home Automation</strong> technology automates a variety of devices in your home and works effortlessly with our free Protect America smartphone app.</p>
        <p>Other home security companies may charge up to $20 a month for these capabilities, but Protect America includes them <strong>free of charge</strong> with our broadband or cellular monitoring services!</p>
        
    </div>
</div>

{% addtoblock "js" %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.menu-aim.js"></script>
    <script type="text/javascript">

        var $menu = $(".dropdown-menu");

        $menu.menuAim({
            activate: activateSubmenu,
            deactivate: deactivateSubmenu,
        });

        function activateSubmenu(row) {
            var $row = $(row),
                submenuId = $row.data("submenuId"),
                $submenu = $("#" + submenuId),
                height = 240,
                width = $menu.outerWidth();
            $submenu.css({
                display: "block",
                top: -1,
                left: width - 3,  // main should overlay submenu
                height: height - 4  // padding for main dropdown's arrow
            });

            $row.find("a").addClass("maintainHover");
        }

        function deactivateSubmenu(row) {
            var $row = $(row),
                submenuId = $row.data("submenuId"),
                $submenu = $("#" + submenuId);

            // Hide the submenu and remove the row's highlighted look
            $submenu.css("display", "none");
            $row.find("a").removeClass("maintainHover");
        }

        $(".dropdown-menu li").click(function(e) {
            e.stopPropagation();
        });
        $(".dropdown-toggle").click(function(e) {
            return false;
        });


    </script>
    <script type="text/javascript">
    $(document).ready(function() {
        $( "#menu-button" ).click(function() {
            $( "#mobile-menu-container" ).slideToggle( "slow", function() {
            });
        });
        
        var owl = $("#featured-badges");
        
        owl.owlCarousel({
          autoPlay: 7000,
          items : 6,
          pagination: false,
          itemsCustom: [[0, 2], [480, 3], [640, 4], [800, 5], [960, 6], [1120, 7], [1280, 8], [1440, 9], [1600, 10]]
        });
    });
    </script>
{% endaddtoblock "js" %}
{% endblock %}

{% block terms %}
<div id="terms-wrapper">
    <div id="terms">
        <div id="terms-conditions">
            <p>* <a href="https://secure.protectamerica.com/sample/en" >Standard home security alarm monitoring agreement</a> required with approved credit. Offer subject to change. Void where prohibited. Offer Expires: {{ final_date|date:"SHORT_DATE_FORMAT" }}</p>
            <p>* Information used for home security alarm system comparisons was obtained November 2011 through telephone and online research. ADT prices: based on total out-of-pocket expense to obtain services; installation based on fees for similar home security equipment packages; "Monitoring" price listed includes the additional "warranty" or "extended service plan". </p>
            {% block extra_terms %}
            {% endblock %}
        </div>
        <div id="copyrights">
            {% if local_street %}
            <div id="local-address" itemscope itemtype="http://schema.org/LocalBusiness">
                <p><span itemprop="name">{{ city }} Protect America</span>: <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><b itemprop="streetAddress">{{ local_street }}</b> <b itemprop="addressLocality">{{ local_city }}</b>, <b itemprop="addressRegion">{{ local_state }}</b> <b itemprop="postalCode">{{ local_zipcode }}</b></span></p>
            </div>
            {% endif %}

            {% block consumer-digest-term %}<p>The BEST BUY SEAL is a registered trademark of Consumers Digest Communications, LLC, used under license.</p>{% endblock %}
            <p>&copy; 1992 &mdash; 2014 Protect America, Inc. All rights reserved</p>
        </div>

    </div>
    <div class="clear"></div>

</div>
{% endblock %}

