{% extends "canada/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}

{% block content %}
<div id="home-security-packages" class="package-page">
    <div id="basic-security-package">
        <h3>Basic</h3>
        <p><sup>$</sup>19<sup>99</sup><span>monthly</span></p>
        <div class="package-info">
            <ul>
                <li><strong>1 &ndash;</strong> Simon XT Control</li>
                <li><strong><span>3</span> &ndash;</strong> Door / Window Sensors</li>
                <li><strong>1 &ndash;</strong> Motion Detector</li>
            </ul>
            <ul class="extra-features">
                <li><img src="{{ STATIC_URL }}img/spanish/checkmark.png" alt="checkmark" />Security Equipment Included</li>
                <li><img src="{{ STATIC_URL }}img/spanish/checkmark.png" alt="checkmark" />No Activation Fees</li>
                <li><img src="{{ STATIC_URL }}img/spanish/checkmark.png" alt="checkmark" />Lifetime Equipment Warranty</li>
            </ul>
        </div>
    </div>
    <div id="standard-security-package">
        <h3>Standard</h3>
        <p><sup>$</sup>37<sup>99</sup><span>monthly</span></p>
        <div class="package-info">
            <ul>
                <li><strong>1 &ndash;</strong> Simon XT Control</li>
                <li><strong><span>10</span> &ndash;</strong> Door / Window Sensors</li>
                <li><strong>1 &ndash;</strong> Motion Detector</li>
            </ul>
            <ul class="extra-features">
                <li><img src="{{ STATIC_URL }}img/spanish/checkmark.png" alt="checkmark" />Security Equipment Included</li>
                <li><img src="{{ STATIC_URL }}img/spanish/checkmark.png" alt="checkmark" />No Activation Fees</li>
                <li><img src="{{ STATIC_URL }}img/spanish/checkmark.png" alt="checkmark" />Lifetime Equipment Warranty</li>
            </ul>
        </div>
    </div>
    <div id="premier-security-package">
        <h3>Premier</h3>
        <p><sup>$</sup>42<sup>99</sup><span>monthly</span></p>
        <div class="package-info">
            <ul>
                <li><strong>1 &ndash;</strong> Simon XT Control</li>
                <li><strong><span>15</span> &ndash;</strong> Door / Window Sensors</li>
                <li><strong>1 &ndash;</strong> Motion Detector</li>
            </ul>
            <ul class="extra-features">
                <li><img src="{{ STATIC_URL }}img/spanish/checkmark.png" alt="checkmark" />Security Equipment Included</li>
                <li><img src="{{ STATIC_URL }}img/spanish/checkmark.png" alt="checkmark" />No Activation Fees</li>
                <li><img src="{{ STATIC_URL }}img/spanish/checkmark.png" alt="checkmark" />Lifetime Equipment Warranty</li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
</div>
{% include "order/call-box.html" %}
<div class="clear"></div>
{% testimonial_search "home security" "limit=10&words=75" %}



{% endblock %}


