{% extends "base.html" %}
{% load sekizai_tags content_tags content_filters %}

{% block subnav %}{% endblock %}
{% block content %}
    {% addtoblock "css" %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/affiliates/cybermonday.css">
    {% endaddtoblock "css" %}
    <div id="left-column">
        <div id="affordable-home-security">
        </div>
        <div class="clear"></div>

    </div>
    <div id="right-column">
        {% include "order/quote-form.html" with form=forms.basic %}


    </div>
    <div class="clear"></div>
    <div id="package-content">
        <img src="{{ STATIC_URL }}/img/products/platinum-package/platinum-package-lowest-price.jpg" id="platinum-package" />
        
        <h2>GE Wireless <span>Home Security System</span></h2>
        <ul>​
            <li>Simon XT Control Panel</li>
            <li>Internal Siren &amp; Door Chime</li>
            <li>1 Yard Sign</li>
            <li>15 Door / Window Sensors</li>
            <li>Battery Backup</li>
            <li>3 Window Decals</li>
            <li>1 Motion Detector</li>
        </ul>
        <p id="price-tag">Price Today:<strong>Free</strong><span>with 3-year monitoring agreement*</span></p>
    </div>
    {% businesstime %}
    <div id="call-box">
        <p><strong>Call Today! {{ phone_number|format_number }}</strong></p>
        <img src="{{ STATIC_URL }}/img/affiliates/cybermonday/call-in-banner.png" id="call-in-banner" />
    </div>
    {% endbusinesstime %}

    <div class="clear"></div>
    <div id="why-protect-america">
        <img src="{{ STATIC_URL }}img/protect-america-logo2.png" id="pa-logo" title="Protect America Home Security" />
        <div id="about-protect-america">
            <p>A pioneer of self-installed home security systems, Protect America has served more than 350,000 people since its founding in 1992. Our dedication to affordable, quality security has helped to make us one of the nation's largest home security companies. People trust Protect America. And with good reason. We're an award-winning company that has also earned a Five-Star Rating from Top Consumer Reviews. Get a GE home security system today and experience a more secure life with Protect America.</p>
            {% businesstime %}
                <div class="phone-alt"><p>call <strong>{{ phone_number|format_number }}</strong> to receive a free security analysis</p></div>
            {% endbusinesstime %}
            <div class="clear"></div>
        </div>
        <div id="awards">

            <p id="top-consumer-reviews">Five star rating four years in a row by online website: TopConsumerReviews.com</p>

            

            <p id="consumer-digest">Named Consumers Digest "Best Buy" for our Copper home security package</p>

        </div>
        <div class="clear"></div>
        <div id="confidence-builders">
            <div id="all-day-monitoring">
                <img src="{{ STATIC_URL }}img/extra/always-on-monitoring.png" title="24/7 Monitored Home Security" />
                <h3>Affordable 24/7 Home Security Monitoring</h3>
                <p>Keep your loved ones secure day and night</p>
            </div>
            <div id="wireless-home-security">
                <img src="{{ STATIC_URL }}img/extra/wireless-home-security.png" title="GE Wireless Home Security Systems" />
                <h3>Simple to Use Wireless GE Security</h3>
                <p>Trusted top of the line security equipment</p>
            </div>
            <div id="twenty-off-home-insurance">
                <img src="{{ STATIC_URL }}img/extra/20-off-homeowners-insurance.png" title="20% off your Homeowner Insurance" />
                <h3>Save up to 20% on Homeowner's Insurance</h3>
                <p>Protecting your home while saving you money</p>
            </div>
            <div id="lifetime-warranty">
                <img src="{{ STATIC_URL }}img/extra/lifetime-warranty.png" title="Lifetime Warranty with your Security System" />
                <h3>Lifetime Replacement Parts Warranty</h3>
                <p>Making sure you are always safe and secure</p>
            </div>
            <div id="lowest-price-guaranteed">
                <img src="{{ STATIC_URL }}img/extra/lowest-price-home-security.png" title="Lowest Priced Home Security System" />
                <h3>The Best Priced Home Security System</h3>
                <p>Compare & save, get the best priced guaranteed</p>
            </div>
            <div class="clear"></div>

        </div>
    </div>
</div>
    {% addtoblock "js" %}
<script type="text/javascript" src="{{ STATIC_URL }}/js/jquery.cycle.all.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#app-screens').cycle({
		fx: 'fade' // choose your transition type, ex: fade, scrollUp, shuffle, etc...
	});
});
</script>
    {% endaddtoblock "js" %}
{% endblock %}
