{% extends "thank-you/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}
{% block page_title %}Home Security Systems | Alarm Systems | Protect America{% endblock %}
{% block content %}
<div id="hero-wrapper" class="v-light-grey">
    <div id="hero-image">
        <div id="hero-content">
            <i class="icon-customer-care"></i>
            <h2>Thank you.</h2>
            <h1>I Have received your message.</h1>
            <p>As the CEO of Protect America, I enjoy hearing from customers, no matter if its good or bad. I read each comment personally, and your comments and insight greatly improve our company. Protect America is dedicated to quality and affordable home security that includes convenient customer service. If we fail to meet these expectations, let me know personally and I’ll take care of it. Thanks again for taking the time to write. You should receive a response from me with 24 to 48 hours.</p>
            <img src="/static/img/external/tp-signature.png" alt="Thad Paschall, Protect America CEO" style="margin-top: 16px;" />

        </div>
        <img src="{{ STATIC_URL }}img/base/protect-america-hero.jpg" class="main-hero-image" alt="Protect America Logo" />

    </div>
</div>
<div class="wrapper">

    <div id="recommend-us">
        <h2>Recommend Us</h2>
        <div id="facebook">
            <div id="social-button">
                <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fprotectamerica&amp;send=false&amp;layout=box_count&amp;width=90&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=90" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:90px;" allowTransparency="true" onClick="_gaq.push(['_trackEvent', 'Like Us', 'Recommend Us', 'Thank You Page']);"></iframe>
            </div>
            <div class="social-text">
                <h3>Like Us on Facebook.</h3>
                <p>Enjoy the experience of protecting your home? <strong>Like us on Facebook</strong> and spread security awareness!</p>
            </div>
        </div>
        <div id="google-plus">
            <div id="social-button">
                <g:plusone size="tall" href="http://www.protectamerica.com" onClick="_gaq.push(['_trackEvent', '+1 Us', 'Recommend Us', 'Thank You Page']);"></g:plusone>
            </div>
            <div class="social-text">
                <h3>+1 Us on Google.</h3>
                <p>Recommend us! Simply <strong>press the +1 button</strong> and let us know we’re doing a great job.</p>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
{% addtoblock "css" %}
{% endaddtoblock "css" %}
{% if request.META.REMOTE_ADDR != '12.201.194.50' and request.META.REMOTE_ADDR != '207.200.35.18' and request.META.REMOTE_ADDR != '127.0.0.1' %}
{% addtoblock "js" %}

    <!-- Google Website Optimizer Tracking Script FOR BANNER TEST -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['bannertest._setAccount', 'UA-5441302-7']);
      _gaq.push(['bannertest._trackPageview', '/2192626919/goal']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <!-- End of Google Website Optimizer Tracking Script FOR BANNER TEST -->

    <!-- Google Website Optimizer Tracking Script FOR COMPLETE HOME SECURITY OVERHAUL TEST -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['homesecurity._setAccount', 'UA-5441302-7']);
      _gaq.push(['homesecurity._trackPageview', '/1270118885/goal']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <!-- End of Google Website Optimizer Tracking Script FOR COMPLETE HOME SECURITY OVERHAUL TEST -->

<!-- Google Code for Converted Remarketing List -->
    <script type="text/javascript">
    <!--
    var google_conversion_id = 1072079179;
    var google_conversion_language = "en";
    var google_conversion_format = "1";
    var google_conversion_color = "666666";
    var google_conversion_label = "I0a5CMf9wAEQy8Ka_wM";
    var google_conversion_value = 0;
    //-->
    </script>
    <script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1072079179/?label=I0a5CMf9wAEQy8Ka_wM&amp;guid=ON&amp;script=0"/>
    </div>
    </noscript>
    <!-- End Google Remarketing Conversion Code -->
    
    <!-- Google Code for Lead Conversion Page -->
    <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 1072079179;
    var google_conversion_language = "en_US";
    var google_conversion_format = "1";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "GAfMCKGfQxDLwpr_Aw";
    var google_conversion_value = 0;
    /* ]]> */
    </script>
    <script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1072079179/?label=GAfMCKGfQxDLwpr_Aw&amp;guid=ON&amp;script=0"/>
    </div>
    </noscript>
    <!-- End Google Lead Conversion Code -->

    <!-- MSN Code -->
    <SCRIPT>
    microsoft_adcenterconversion_domainid = 476463;
    microsoft_adcenterconversion_cp = 5050; 
    </script>
    
    <SCRIPT SRC="http://0.r.msn.com/scripts/microsoft_adcenterconversion.js"></SCRIPT>
    <!-- End MSN Code -->

{% if not custom_url %}
{% endif %}
{% endaddtoblock "js" %}
{% endif %}
{% endblock %}

{% block extra_pixels %}
{% if affiliate_obj.conversion_pixels %}
{{ affiliate_obj.conversion_pixels|safe }}
{% endif %}
{% endblock %}
