{% extends "thank-you/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}
{% block page_title %}Home Security Systems | Alarm Systems | Protect America{% endblock %}
{{% block hero %}
    <div id="hero" class="thank-you basic">
        <div class="container">
            {% block hero-heading %}
            <div class="ten columns offset-by-six margin-vertical thanks-content">
                <h1>Thank you.</h1>
                <h3>I have received your message.</h3>
                <p>As the CEO of Protect America, I enjoy hearing from customers &ndash; no matter if it’s good or bad. Your comments and insight greatly improve our company, and I read each comment personally. Protect America is dedicated to quality and affordable home security that includes convenient customer service. If we fail to meet these expectations, let me know personally and I’ll take care of it. Thanks again for taking the time to write. You should receive a response from me with 24 to 48 hours.</p>
            </div>
            {% endblock %}
        </div>
    </div>
{% addtoblock "css" %}
{% endaddtoblock "css" %}
{% if request.META.REMOTE_ADDR != '12.201.194.50' and request.META.REMOTE_ADDR != '207.200.35.18' and request.META.REMOTE_ADDR != '127.0.0.1' %}
{% addtoblock "js" %}

    <!-- Google Website Optimizer Tracking Script FOR BANNER TEST -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['bannertest._setAccount', 'UA-5441302-7']);
      _gaq.push(['bannertest._trackPageview', '/2192626919/goal']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <!-- End of Google Website Optimizer Tracking Script FOR BANNER TEST -->

    <!-- Google Website Optimizer Tracking Script FOR COMPLETE HOME SECURITY OVERHAUL TEST -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['homesecurity._setAccount', 'UA-5441302-7']);
      _gaq.push(['homesecurity._trackPageview', '/1270118885/goal']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <!-- End of Google Website Optimizer Tracking Script FOR COMPLETE HOME SECURITY OVERHAUL TEST -->

<!-- Google Code for Converted Remarketing List -->
    <script type="text/javascript">
    <!--
    var google_conversion_id = 1072079179;
    var google_conversion_language = "en";
    var google_conversion_format = "1";
    var google_conversion_color = "666666";
    var google_conversion_label = "I0a5CMf9wAEQy8Ka_wM";
    var google_conversion_value = 0;
    //-->
    </script>
    <script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1072079179/?label=I0a5CMf9wAEQy8Ka_wM&amp;guid=ON&amp;script=0"/>
    </div>
    </noscript>
    <!-- End Google Remarketing Conversion Code -->
    
    <!-- Google Code for Lead Conversion Page -->
    <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 1072079179;
    var google_conversion_language = "en_US";
    var google_conversion_format = "1";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "GAfMCKGfQxDLwpr_Aw";
    var google_conversion_value = 0;
    /* ]]> */
    </script>
    <script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1072079179/?label=GAfMCKGfQxDLwpr_Aw&amp;guid=ON&amp;script=0"/>
    </div>
    </noscript>
    <!-- End Google Lead Conversion Code -->

    <!-- MSN Code -->
    <SCRIPT>
    microsoft_adcenterconversion_domainid = 476463;
    microsoft_adcenterconversion_cp = 5050; 
    </script>
    
    <SCRIPT SRC="http://0.r.msn.com/scripts/microsoft_adcenterconversion.js"></SCRIPT>
    <!-- End MSN Code -->

{% if not custom_url %}
{% endif %}
{% endaddtoblock "js" %}
{% endif %}
{% endblock %}

{% block extra_pixels %}
{% if affiliate_obj.conversion_pixels %}
{{ affiliate_obj.conversion_pixels|safe }}
{% endif %}
{% endblock %}
