{% extends "thank-you/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}
{% block page_title %}Home Security Systems | Alarm Systems | Protect America{% endblock %}
{% block content %}
<div style="position:absolute;left:9999px;">    
<script type='text/javascript'>
var ebRand = Math.random()+'';
ebRand = ebRand * 1000000;
//<![CDATA[ 
document.write('<scr'+'ipt src="HTTP://bs.serving-sys.com/BurstingPipe/ActivityServer.bs?cn=as&amp;ActivityID=342256&amp;rnd=' + ebRand + '"></scr' + 'ipt>');
//]]>
</script>
<noscript>
<img width="1" height="1" style="border:0" src="HTTP://bs.serving-sys.com/BurstingPipe/ActivityServer.bs?cn=as&amp;ActivityID=342256&amp;ns=1"/>
</noscript>
</div>

<div id="hero-wrapper" class="blue">
    <div id="hero-image">
        <div id="hero-content">
            <i class="icon-home-security"></i>
            <h2>Go Ahead, Get Excited</h2>
            <h1>You are one step closer to <br/> securing your home!</h1>
            <p>Thanks for choosing Protect America for your family's security. We've received your request for a free security quote and one of our security professionals will be contacting you within 24 hours. In the meantime, you can always call us directly at <strong><span{% if use_call_measurement %} class="dynamic-phone-number"{% endif %}>{{ phone_number|format_number }}</span></strong>. When you do, be sure to ask about our "Lowest Price Guarantee" that ensures your family is well-protected at an affordable price.</p>
        </div>
        <img src="{{ STATIC_URL }}img/base/thank-you-hero.jpg" class="main-hero-image" alt="smart-connect-interactive-app" />

    </div>
</div>
{% include "order/call-box.html" %}
<div class="wrapper">
    <div id="recommend-us">
        <h2>Recommend Us</h2>
        <div id="facebook">
            <div id="social-button">
                <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fprotectamerica&amp;send=false&amp;layout=box_count&amp;width=90&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=90" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:90px;" allowTransparency="true" onClick="_gaq.push(['_trackEvent', 'Like Us', 'Recommend Us', 'Thank You Page']);"></iframe>
            </div>
            <div class="social-text">
                <h3>Like Us on Facebook.</h3>
                <p>Enjoy protecting your home? <strong>Like us on Facebook</strong> to tell the world how great we are.</p>
            </div>
        </div>
        <div id="google-plus">
            <div id="social-button">
                <g:plusone size="tall" href="http://www.protectamerica.com" onClick="_gaq.push(['_trackEvent', '+1 Us', 'Recommend Us', 'Thank You Page']);"></g:plusone>
            </div>
            <div class="social-text">
                <h3>+1 Us on Google.</h3>
                <p>Recommending us is easy. Just <strong>click the +1</strong> as a way of saying, "Nice job, way to go!"</p>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div id="what-next">
        <h2>What's Next</h2>
        <div id="security-professional">
            <img src="{{ STATIC_URL }}img/thank-you-pages/security-professional.png" alt="Security Professional will contact you within 24 Hours" width="200" height="160" />
            <h3>Step One:</h3>
            <p>A Security Professional will contact you within 24 hours</p>
        </div>
        <div id="build-system">
            <img src="{{ STATIC_URL }}img/thank-you-pages/house-blueprint.png" alt="A Free Security System that fits your Home and Budget" width="200" height="160" />
            <h3>Step Two:</h3>
            <p>Together we will create your free system that fits your home and budget</p>
        </div>
        <div id="secured-home">
            <img src="{{ STATIC_URL }}img/thank-you-pages/secured-home.jpg" alt="Home Security in 7 - 10 Days" width="200" height="160" />
            <h3>Step Three:</h3>
            <p>Your home will be secured and protected within 7 - 10 days</p>

        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
{% include "_partials/thank_you_scripts.html" %}
{% endblock %}

{% block extra_pixels %}
{% if affiliate_obj.conversion_pixels %}
{{ affiliate_obj.conversion_pixels|safe }}
{% endif %}
{% endblock %}