{% extends "affiliates/generic-landing-base/index.html" %}


{% load sekizai_tags content_tags content_filters %}

{% block page_title %}Crime Stoppers and Protect America | Case Files is Powered by Protect America | Best Home Security Systems{% endblock %}
{% block page_description %}Protect America offers the best home security systems at competitive prices. Just compare our security services with that of Comcast to see for yourself!{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/affiliates/crime-stoppers-cf/crime-stoppers-cf-losangeles.css">
    <script type="text/javascript" src="//use.typekit.net/qrm2ztf.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
{% endblock %}

{% block typekit %}tk-museo-slab{% endblock %}

{% block extra_javascript %}
<script>
$(document).ready(function() {
    $('#assurance-block-four').trigger('click');
});
</script>
{% endblock %}

{% block left-wrapper %}
    <img src="{{ STATIC_URL }}img/affiliates/crime-stoppers-cf/video-place-holder.jpg" alt="video-place-holder" width="684" height="401" />
{% endblock %}    

{% block assurance-block-one %}
    <img src="{{ STATIC_URL }}img/affiliates/crime-stoppers-cf/cs-cf.png" alt="cs-cf" width="122" height="121" />
    <h3>About Crime Stoppers Case Files</h3>
{% endblock %}

{% block assurance-block-two %}
    <img src="{{ STATIC_URL }}img/affiliates/crime-stoppers-cf/tv-programming-guide.png" alt="tv-programming-guide" width="122" height="120" />
    <h3>Program Guide</h3>
{% endblock %}

{% block assurance-block-three %}
    <img src="{{ STATIC_URL }}img/affiliates/crime-stoppers-cf/pa-advantage.png" alt="pa-advantage" width="122" height="119" />
    <h3>Best Deal Ever in Home Security</h3>
{% endblock %}

{% block assurance-block-four %}
    <img src="{{ STATIC_URL }}img/affiliates/crime-stoppers-cf/why-home-security.png" alt="why-home-security" width="120" height="118" />
    <h3>Home Security Lowers Crime</h3>
{% endblock %}

{% block assurance-block-five %}
    <img src="{{ STATIC_URL }}img/affiliates/crime-stoppers-cf/partnership.png" alt="partnership" width="124" height="121" />
    <h3>Protect America &amp; Crime Stoppers</h3>
{% endblock %}

{% block assurance-card-one %}
<div id="conv-install">
    <div class="left-conv-install">
        <img src="{{ STATIC_URL }}img/affiliates/crime-stoppers-cf/cscf-image.jpg" alt="cscf-image" width="439" height="279" />
    </div>
    <div class="right-conv-install">
        <h2 class="tk-freight-sans-pro"> About Crime Stoppers and Crime Stoppers Case Files</h2>
        <p class="tk-freight-sans-pro">Founded by a police detective in Albuquerque in 1975, Crime Stoppers has grown into one of the most successful crime prevention initiatives in history. Today, nearly every major city in the world has a Crime Stoppers phone line to collect anonymous tips. Over the past 35 years, Crime Stoppers tip lines have helped law enforcement solve over one million cases and lead to the recovery of more than $5 billion in stolen property.</p>
        <p class="tk-freight-sans-pro">In many cities, Crime Stoppers tips that lead to an arrest boast a 95 percent conviction rate. Getting local communities to engage Crime Stoppers tip lines is an important effort that could have a dramatic impact on crime. Protect America is proud to sponsor Crime Stoppers Case Files, a syndicated TV show highlighting crimes that are important to specific local communities. Many major cities, like Miami and Los Angeles, have their own Casefiles program that gives prominent local crimes a higher profile and helps improve clearance rates.</p>
    </div>
</div>
{% endblock %}

{% block assurance-card-two %}
<div id="conv-install">
    <div class="left-conv-install">
        <img src="{{ STATIC_URL }}img/affiliates/crime-stoppers-cf/tv-place-holder-image.jpg" alt="tv-place-holder-image" width="248" height="345" />
    </div>
    <div class="right-conv-install">
        <h2 style="margin-bottom: 25px;" class="tk-freight-sans-pro">Find the Show</h2>
            <div class="column-one">
                <ul>
                    <li><img src="{{ STATIC_URL }}img/affiliates/crime-stoppers-cf/program-guide-l.a.png" alt="program-guide-l.a" width="172" height="47" /></li>
                    <li><img src="{{ STATIC_URL }}img/affiliates/crime-stoppers-cf/program-guide-chicago.png" alt="program-guide-chicago" width="72" height="70" /></li>
                    <li><img src="{{ STATIC_URL }}img/affiliates/crime-stoppers-cf/program-guide-miami.png" alt="program-guide-miami" width="99" height="73" /></li>
                    <li><img src="{{ STATIC_URL }}img/affiliates/crime-stoppers-cf/program-guide-cleveland.png" alt="program-guide-cleveland" width="90" height="88" /></li>
                </ul>
            </div>
            <div class="column-two">
                <ul>
                    <li>Los Angeles: Saturday 11:30pm Right After “Inside Edition”</li>
                    <li>Chicago: Saturday 11:00pm Right After “The Closer”</li>
                    <li style="padding-top: 25px;">Miami: Saturday 10:00 Right After “Burn Notice”</li>
                    <li style="padding-top: 35px;">Cleveland: Saturday 7:00pm Right After “NBC Nightly News”</li>
                </ul>
            </div>
    </div>
</div>
<div class="clear"></div>
{% endblock %}

{% block assurance-card-three %}
<div id="conv-install">
    <div class="left-conv-install">
        <img src="{{ STATIC_URL }}img/affiliates/comcast-vs-protectamerica/pie-chart.jpg" alt="pie-chart" width="375" height="309" />
    </div>
    <div class="right-conv-install">
        <h2 class="tk-freight-sans-pro">What Comcast Won’t Say</h2><h3 style="padding-left: 5px;">Total Comcast Price: $82.90/mo</h3>
        <p class="tk-freight-sans-pro">Trust your home security to a company that’s completely dedication to your home security. With Comcast, the protection of your home is just another feature that comes with your already expensive cable package. Don’t turn your security over to a cable company! Keep your home and family safe with Protect America.</p>
    </div>
</div>
<div class="clear"></div>

{% endblock %}

{% block assurance-card-four %}
<div id="conv-install">
    <div class="left-conv-install">
        <img src="{{ STATIC_URL }}img/affiliates/comcast-vs-protectamerica/pie-chart.jpg" alt="pie-chart" width="375" height="309" />
    </div>
    <div class="right-conv-install">
        <h2 class="tk-freight-sans-pro">What Comcast Won’t Say</h2><h3 style="padding-left: 5px;">Total Comcast Price: $82.90/mo</h3>
        <p class="tk-freight-sans-pro">Trust your home security to a company that’s completely dedication to your home security. With Comcast, the protection of your home is just another feature that comes with your already expensive cable package. Don’t turn your security over to a cable company! Keep your home and family safe with Protect America.</p>
    </div>
</div>
<div class="clear"></div>
{% endblock %}

{% block assurance-card-five %}
<div class="copy-point">
    <h2 class="tk-freight-sans-pro">Control Your Security from Anywhere in the World.</h2> 
    <p class="tk-freight-sans-pro">Choose our cellular or broadband monitoring and your account comes with FREE interactive features. Arm your system and program rules to fit your needs anywhere, anytime through your computer or smart phone.</p>
    <div class="image-area">
        <img src="{{ STATIC_URL }}img/affiliates/adt-comparison/interactive.png" alt="interactive" width="642" height="309" />
    </div>
</div>
<div id="interactive-call-out-box">
    <div class="interactive-call-out">
        <ul>
            <li>
                <img src="{{ STATIC_URL }}img/affiliates/adt-comparison/security-system-control-small-icon-interactive.png" alt="security-system-control-small-icon-interactive" width="74" height="74" />
                <p><strong>Security System Control</strong>Use your smartphone to arm, disarm, and view the status of your alarm system easily in real time.</p>
                
            </li>
            <li>
                <img src="{{ STATIC_URL }}img/affiliates/adt-comparison/live-video-small-icon-automation.png" alt="live-video-small-icon-automation" width="74" height="74" />
                <p><strong>Live Video</strong>Keep an eye on your home from anywhere in the world with live video. (Video Service Required)</p>
            </li>
        </ul>
    </div>
</div>
<div class="clear"></div>
{% endblock %}
{% block page-product %}
    <h2>Copper Security Package</h2>
    <p><span>Price Today: <strong>FREE*</strong></span>monthly monitoring starting at $19.99/mo</p>
    <div class="button-submit">
        <a href="{% url order-package %}?package=copper" onClick="_gaq.push(['_trackEvent', 'Order Now', 'Order Now Package Footer Click', 'Copper-B']);">Order Now ></a>
    </div>
{% endblock %}
