{% extends "affiliates/generic-landing-base/index.html" %}


{% load sekizai_tags content_tags content_filters %}

{% block page_title %}Crime Stoppers and Protect America | Case Files is Powered by Protect America | Best Home Security Systems{% endblock %}
{% block page_description %}Protect America offers the best home security systems at competitive prices. Just compare our security services with that of Comcast to see for yourself!{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/affiliates/crime-stoppers-cf/crime-stoppers-cf-miami.css">
    <script type="text/javascript" src="//use.typekit.net/qrm2ztf.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
{% endblock %}

{% block typekit %}tk-museo-slab{% endblock %}

{% block extra_javascript %}
<script>
$(document).ready(function() {
    $('#assurance-block-four').trigger('click');
});
</script>
{% endblock %}

{% block left-wrapper %}
    <img src="{{ STATIC_URL }}img/affiliates/crime-stoppers-cf/video-place-holder.jpg" alt="video-place-holder" width="684" height="401" />
{% endblock %}    

{% block assurance-block-one %}
    <img src="{{ STATIC_URL }}img/affiliates/crime-stoppers-cf/cs-cf.png" alt="cs-cf" width="122" height="121" />
    <h3>About Crime Stoppers Case Files</h3>
{% endblock %}

{% block assurance-block-two %}
    <img src="{{ STATIC_URL }}img/affiliates/crime-stoppers-cf/tv-programming-guide.png" alt="tv-programming-guide" width="122" height="120" />
    <h3>Program Guide</h3>
{% endblock %}

{% block assurance-block-three %}
    <img src="{{ STATIC_URL }}img/affiliates/crime-stoppers-cf/pa-advantage.png" alt="pa-advantage" width="122" height="119" />
    <h3>Best Deal Ever in Home Security</h3>
{% endblock %}

{% block assurance-block-four %}
    <img src="{{ STATIC_URL }}img/affiliates/crime-stoppers-cf/why-home-security.png" alt="why-home-security" width="120" height="118" />
    <h3>Home Security Lowers Crime</h3>
{% endblock %}

{% block assurance-block-five %}
    <img src="{{ STATIC_URL }}img/affiliates/crime-stoppers-cf/partnership.png" alt="partnership" width="124" height="121" />
    <h3>Protect America &amp; Crime Stoppers</h3>
{% endblock %}

{% block assurance-card-one %}
<div style="height: 546px;" id="conv-install">
    <div class="left-conv-install">
        <img style="margin-top: 25px;" src="{{ STATIC_URL }}img/affiliates/crime-stoppers-cf/cscf-image.jpg" alt="cscf-image" width="419" height="259" />
        <p class="tk-freight-sans-pro">“The mission of Crime Stopper Case Files is to help solve crime and make the streets safer for everybody.  We are extremely proud that Protect America has joined us in this fight, together we will be more effective.</p>
        <p class="tk-freight-sans-pro">We enable the public to be proactive in solving crime. Protect America enables their customers in preventing it.” <p class="tk-freight-sans-pro"><i>- Shawn Rech, Executive Producer Crime Stoppers Case Files.”</i></p>
    </div>
    <div class="right-conv-install">
        <h2 class="tk-freight-sans-pro"> About Crime Stoppers and Crime Stoppers Case Files</h2>
        <p class="tk-freight-sans-pro">Founded by a police detective in Albuquerque in 1975, Crime Stoppers has grown into one of the most successful crime prevention initiatives in history. Today, nearly every major city in the world has a Crime Stoppers phone line to collect anonymous tips. Over the past 35 years, Crime Stoppers tip lines have helped law enforcement solve over one million cases and lead to the recovery of more than $5 billion in stolen property.</p>
        <p class="tk-freight-sans-pro">In many cities, Crime Stoppers tips that lead to an arrest boast a 95 percent conviction rate. Getting local communities to engage Crime Stoppers tip lines is an important effort that could have a dramatic impact on crime. Protect America is proud to sponsor Crime Stoppers Case Files, a syndicated TV show highlighting crimes that are important to specific local communities. Many major cities, like Miami and Los Angeles, have their own Casefiles program that gives prominent local crimes a higher profile and helps improve clearance rates.</p>
    </div>
</div>
{% endblock %}

{% block assurance-card-two %}
<div style="height: 378px;" id="conv-install">
    <h2 style="margin-bottom: 25px;" class="tk-freight-sans-pro">Find the Show</h2>
        <div class="column-one">
            <ul>
                <li><img src="{{ STATIC_URL }}img/affiliates/crime-stoppers-cf/program-guide-l.a.png" alt="program-guide-l.a" width="172" height="47" /></li>
                <li><img src="{{ STATIC_URL }}img/affiliates/crime-stoppers-cf/program-guide-chicago.png" alt="program-guide-chicago" width="72" height="70" /></li>
                <li><img src="{{ STATIC_URL }}img/affiliates/crime-stoppers-cf/program-guide-miami.png" alt="program-guide-miami" width="99" height="73" /></li>
                <li><img src="{{ STATIC_URL }}img/affiliates/crime-stoppers-cf/program-guide-cleveland.png" alt="program-guide-cleveland" width="90" height="88" /></li>
            </ul>
        </div>
        <div class="column-two">
            <ul>
                <li><strong style="font-size: 18px;">Los Angeles:</strong> Saturday 11:30pm Right After “Inside Edition”</li>
                <li style="padding-top: 15px;"><strong style="font-size: 18px;">Chicago:</strong> Saturday 11:00pm Right After “The Closer”</li>
                <li style="padding-top: 15px;"><strong style="font-size: 18px;">Miami:</strong> Saturday 10:00 Right After “Burn Notice”</li>
                <li style="padding-top:35px; border-bottom: none;"><strong style="font-size: 18px;">Cleveland:</strong> Saturday 7:00pm Right After “NBC Nightly News”</li>
            </ul>
        </div>
</div>
<div class="clear"></div>
{% endblock %}

{% block assurance-card-three %}
<div id="conv-install">
    <div class="left-conv-install">
        <img style="padding-top: 25px;" src="{{ STATIC_URL }}img/affiliates/crime-stoppers-cf/best-deal-ever.gif" alt="best-deal-ever" width="421" height="253" />
    </div>
    <div class="right-conv-install">
        <h2 class="tk-freight-sans-pro">Best Deal Ever in Home Security</h2>
        <p class="tk-freight-sans-pro">If you’re looking for home security, look no further than Protect America, one of the nation’s largest home security companies! Other home security providers wish they could match our offer. Simply order a monitoring solution from Protect America and we’ll send you a FREE wireless home security system. With monitoring fees starting at $19.99 a month, Protect America is the best, and most affordable, option for the security of your home! Call today and learn more about the single best deal ever in home security. <div id="call-area">
                <p>Get Started Now, <strong>Call Today! <span{% if use_call_measurement %} class="dynamic-phone-number"{% endif %}>{{ phone_number|format_number }}</span></strong></p>
            </div>
        <div class="clear"></div>
    </div>
</div>
<div class="clear"></div>

{% endblock %}

{% block assurance-card-four %}
<div style="height: 500px;" id="conv-install">
    <div class="left-conv-install">
        <img style="margin-left: 30px; margin-top: 15px;" src="{{ STATIC_URL }}img/affiliates/crime-stoppers-cf/burglar-infographic.png" alt="burglar-infographic" width="353" height="493" />
    </div>
    <div class="right-conv-install">
        <h2 class="tk-freight-sans-pro">You Can Help Fight Crime!</h2>
        <p class="tk-freight-sans-pro">When people are actively interested in eliminating crime in their neighborhoods, the results can be spectacular. Crime Stoppers has been such a successful organization because it understands the importance of community involvement. In fact, Crime Stoppers tips that lead to an arrest have a 95 percent conviction rate. One of the best ways for people to take control of crime in their area is to get a home security system. Homes with alarm systems are 3 times less likely to be robbed and neighborhoods with high concentrations of security systems have lower crime rates. Call Protect America today and speak with one of our security experts about the safety of your home and family.</p>
    </div>
</div>
<div class="clear"></div>
{% endblock %}
{% block assurance-card-five %}
<div style="height: 375px;" id="conv-install">
    <div class="left-conv-install">
        <img src="{{ STATIC_URL }}img/affiliates/crime-stoppers-cf/partnership-big.png" alt="partnership-big" width="364" height="362" />
    </div>
    <div class="right-conv-install">
        <h2 class="tk-freight-sans-pro">Protect America Partners with Crime Stoppers</h2>
        <p class="tk-freight-sans-pro">As a home security company, Protect America understands and supports the mission of Crime Stoppers South Florida. Protect America has created an exclusive partnership with Crime Stoppers South Florida that will offer support the area’s tip line while raising awareness for general crime prevention activities. It is possible for community organizations to have a positive impact on crime. With the help of Protect America, Crime Stoppers South Florida will continue to help the Sunshine State a safer place.</p>
    </div>
</div>
<div class="clear"></div>
{% endblock %}
{% block page-product %}
    <h2>Copper Security Package</h2>
    <p><span>Equipment Price: <strong>FREE*</strong></span>monthly monitoring starting at $19.99/mo</p>
    <div class="button-submit">
        <a href="{% url order-package %}?package=copper" onClick="_gaq.push(['_trackEvent', 'Order Now', 'Order Now Package Footer Click', 'Copper-B']);">Order Now ></a>
    </div>
{% endblock %}
