{% extends "base.html" %}
{% block css %}
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/crime-stats.css">
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "e120b57d-de18-41e4-9f08-4c602e36df66"}); </script>
{% endblock %}
{% block subnav_parent %}
<ul>
	<li class=""><a href="/news/" title="Home Security News">News</a></li>
	<li class=""><a href="/home-security-blog/" title="Home Security Blog">Blog</a></li>
	<li class="active"><a href="/crime-rate/" title="Crime Statistics">Crime Stats</a></li>
	<li class=""><a href="http://www.protectamerica.com/pa/install" title="Step by step installation instructions and video for your wireless home security system.">Installation</a></li>
	<li class=""><a href="http://www.protectamerica.com/pa/operation" title="Monitoring security operation and testing of your GE security system.">Operation</a></li>
	<li class=""><a href="http://www.protectamerica.com/pa/troubleshooting" title="Troubleshooting your Protect America alarm equipment and monitoring service.">Troubleshoot</a></li>
	<li class=""><a href="http://www.protectamerica.com/pa/request-moving-kit" title="security Moving Kit">Moving Kit</a></li>
	<li class=""><a href="http://www.protectamerica.com/pa/faq" title="Find all the answers about our alarm company monitoring, equipment, and services.">FAQs</a></li>
</ul>
{% endblock %}
{% block subnav_child %}

{% endblock %}
