{% extends "learn/base.html" %}
{% load content_filters content_tags sekizai_tags crime_stats_filters testimonial_tags humanize %}

{% block page_title %}Crime Statistics | Crime Rate and Sex Offenders List | Protect America Home Security{% endblock %}

{% block content %}
<div id="hero-wrapper" class="v-light-grey">
    <div id="hero-image" class="crime-hero">
        <div id="hero-content">
            <i class="icon-home-security"></i>
            <h2>Local Crime Stats</h2>
            <h1>Find Your City</h1>
            <form action="/crime-rate/search/" method="GET">
                <input value="{{ request.GET.q }}" name="q" placeholder="(Enter City/State or Zip Code)" />
                <button>Find City <i class="icon-chevron-right"></i></button>
                
            </form>
        </div>

    </div>
</div>
{% include "order/call-box.html" with no_promo=False %}

<div class="wrapper" id="state-chooser">
    <div id="state-list">
        {% if matches %}
        <div id="search-results">
            <h2>Did you mean?</h2>
            <ul>
            {% for city in matches %}
                <li><a href="{{ city.get_absolute_url }}">{{ city }}</a></li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}    
        
        <h2>Select Your State:</h2>
        <ul>
        {% for state in states %}
            <li><a href="{{ state.get_absolute_url }}">{{ state.name }}</a></li>
        {% endfor %}
        </ul>
    </div>
    <div class="clear"></div>
</div>
{% endblock %}

