<!doctype html>
{% load content_filters content_tags sekizai_tags testimonial_tags %}

<!-- 
320 and Up boilerplate extension
Andy Clarke http://about.me/malarkey
Keith Clark http://twitter.com/keithclarkcouk
Version: 2
URL: http://stuffandnonsense.co.uk/projects/320andup/
License: http://creativecommons.org/licenses/MIT
-->

<!--[if IEMobile 7]><html class="no-js iem7 oldie"><![endif]-->
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)]><!--><html class="no-js" lang="en"><!--<![endif]-->

<head>
<meta charset="utf-8">

<title>{% block page-title %}Home Security | Alarm Systems{% endblock %} | Tomboy Tools Home Security Systems</title>
<meta name="description" content="{% block page-description %}{% endblock %}">
<meta name="keywords" content="{% block page_keywords %}{% endblock %}" />
<meta name="ROBOTS" content="INDEX,FOLLOW"/>
<meta name="rating" content="general" />
<meta name="copyright" content="Copyright &copy; 2012 5LINX Home Security, all rights reserved" />
<meta name="author" content="Tomboy Tools" />
<meta name="distribution" content="global" />
<meta name="resource-type" content="document" />
<meta http-equiv="imagetoolbar" content="false" />
<meta name="MSSmartTagsPreventParsing" content="true" />


<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0">

{% block css %}
<!-- For all browsers -->
<link rel="stylesheet" href="{{ STATIC_URL }}css/affiliates/tomboy-tools/320.css">
<link rel="stylesheet" media="print" href="{{ STATIC_URL }}css/print.css">
<!-- For progressively larger displays -->
<link rel="stylesheet" media="only screen and (min-width: 480px)" href="{{ STATIC_URL }}css/affiliates/tomboy-tools/480.css">
<link rel="stylesheet" media="only screen and (min-width: 600px)" href="{{ STATIC_URL }}css/affiliates/tomboy-tools/600.css">
<link rel="stylesheet" media="only screen and (min-width: 768px)" href="{{ STATIC_URL }}css/affiliates/tomboy-tools/768.css">
<link rel="stylesheet" media="only screen and (min-width: 960px)" href="{{ STATIC_URL }}css/affiliates/tomboy-tools/960.css">
<!-- For Retina displays -->
<link rel="stylesheet" media="only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5)" href="{{ STATIC_URL }}css/2x.css">
{% endblock %}

<!--[if (lt IE 9) & (!IEMobile)]>
<script src="js/selectivizr-min.js"></script>
<![endif]-->

<!-- JavaScript -->
<script src="{{ STATIC_URL }}js/modernizr-2.0.6.min.js"></script>
{% block favicons %}
<!-- For iPhone 4 -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}img/affiliates/tomboy-tools/h/apple-touch-icon.png">
<!-- For iPad 1-->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}img/affiliates/tomboy-tools/m/apple-touch-icon.png">
<!-- For the new iPad -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}img/affiliates/tomboy-tools/h/apple-touch-icon-144x144-precomposed.png">
<!-- For iPhone 3G, iPod Touch and Android -->
<link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}img/affiliates/tomboy-tools/l/apple-touch-icon-precomposed.png">
<!-- For Nokia -->
<link rel="shortcut icon" href="{{ STATIC_URL }}img/affiliates/tomboy-tools/l/apple-touch-icon.png">
<!-- For everything else -->
<!--iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="apple-touch-startup-image" href="{{ STATIC_URL }}img/affiliates/tomboy-tools/splash.png">
<script>(function(){var p,l,r=window.devicePixelRatio;if(navigator.platform==="iPad"){p=r===2?"{{ STATIC_URL }}img/affiliates/tomboy-tools/h/startup-tablet-portrait-retina.png":"{{ STATIC_URL }}img/affiliates/tomboy-tools/h/startup-tablet-portrait.png";l=r===2?"{{ STATIC_URL }}img/affiliates/tomboy-tools/h/startup-tablet-landscape-retina.png":"{{ STATIC_URL }}img/affiliates/tomboy-tools/h/startup-tablet-landscape.png";document.write('<link rel="apple-touch-startup-image" href="'+l+'" media="screen and (orientation: landscape)"/><link rel="apple-touch-startup-image" href="'+p+'" media="screen and (orientation: portrait)"/>');}else{p=r===2?"{{ STATIC_URL }}img/affiliates/tomboy-tools/h/startup-retina.png":"{{ STATIC_URL }}img/affiliates/tomboy-tools/h/startup.png";document.write('<link rel="apple-touch-startup-image" href="'+p+'"/>');}})()</script>
{% endblock %}

<!--Microsoft. Delete if not required -->
<meta http-equiv="cleartype" content="on">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<!--[if lt IE 7 ]><script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script><script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script><![endif]-->

<!-- http://t.co/y1jPVnT -->
<link rel="canonical" href="/">
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-5441302-15']);
  _gaq.push(['_setDomainName', 'tomboytoolssecurity.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body class="{{ page_name }} clearfix">
<div class="wrapper">
    <div class="callbox">
        <h3>Protect Your Family Now:</h3>
        <h4><a href="tel:+1-888-648-9606" title="Call 5LINX Home Security today to Order your Home Security System">1-888-648-9606</a></h4>
        <p>{% if request.GET.affkey %}Consultant ID Number: {{ request.GET.affkey }}{% else %}{% if request.COOKIES.affkey %}Consultant ID Number: {{ request.COOKIES.affkey }}{% else %}Consultant ID Number: 000000{% endif %}{% endif %}</p>
    </div>
    <a href="/" title="Tomboy Tools Home Security Systems">
        <img src="{{ STATIC_URL }}img/affiliates/tomboy-tools/tomboy-tools-logo.png" alt="Tomboy Tools Home Security Systems" id="company-logo" />
    </a>
    <div class="clear"></div>
    <div id="navigation">
        <ul>
            <li class="{% if 'copper' in active_pages %}active{% endif %}{% if 'bronze' in active_pages %}active{% endif %}{% if 'silver' in active_pages %}active{% endif %}{% if 'gold' in active_pages %}active{% endif %}{% if 'platinum' in active_pages %}active{% endif %}"><a href="{% url copper %}">Security Systems</a></li>
            <li class="video-security {% if 'video' in active_pages %}active{% endif %}"><a href="{% url video %}">Video Security</a></li>
            <li class="gps-tracking {% if 'gps' in active_pages %}active{% endif %}"><a href="{% url gps %}">GPS</a></li>
            <li class="place-order {% if 'order' in active_pages %}active{% endif %}"><a href="{% url order %}">Order Now</a></li>
        </ul>
    </div>
    
    {% block content %}
    {% endblock %}
    {% block conversation-piece %}
    <div id="bottom-form">
        <h2>Security is An Amazing Conversation Piece.</h2> 

        <div id="call-us">
            <h3>Give us a Call</h3>
            <p>Get a GE home security system for your home or business! Simply order one of our award-winning monitoring solutions and a wireless GE home security system will be sent to your door for FREE. Give us a call to start the conversation with one of our home security experts. We’ll go over the security specifics of your home to determine which security package best fits your needs. There’s no time to wait! In the United States, a home is attacked by burglars every 14 seconds. Call Tomboy Tools Home Security Systems now to secure your home and family!</p>  
            <h4><span>Call Today!</span><a href="tel:+1-888-648-9606" title="Call 5LINX Home Security today to Order your Home Security System">1-888-648-9606</a></h4>
        </div>
        {% include "affiliates/tomboy-tools/quote-form.html" with form=forms.basic %}

    </div>
    <div class="callbox footer">
        <h3>Protect Your Family Now:</h3>
        <h4><a href="tel:+1-888-648-9606" title="Call 5LINX Home Security today to Order your Home Security System">1-888-648-9606</a></h4>
        <p>{% if request.GET.affkey %}Consultant ID Number: {{ request.GET.affkey }}{% else %}{% if request.COOKIES.affkey %}Consultant ID Number: {{ request.COOKIES.affkey }}{% else %}Consultant ID Number: 000000{% endif %}{% endif %}</p>
    </div>
    {% endblock %}
</div>



<!-- Scripts -->
<script src="{{ STATIC_URL }}js/jquery-1.6.2.min.js"></script>
<script src="{{ STATIC_URL }}js/plugins.js"></script>
<script src="{{ STATIC_URL }}js/script.js"></script>
<script src="{{ STATIC_URL }}js/helper.js"></script>
{% render_block "js" %}
<!--[if (lt IE 9) & (!IEMobile)]>
<script src="js/imgsizer.js"></script>
<![endif]-->

<script>
// iOS scale bug fix
MBP.scaleFix();

// Respond.js
yepnope({
	test : Modernizr.mq('(only all)'),
	nope : ['{{ STATIC_URL }}js/respond.min.js']
});
</script>

<!-- http://mths.be/aab -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-5441302-14']);
  _gaq.push(['_setDomainName', '5linxsecuritysystems.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>



<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</body>
</html>
