{% extends "affiliates/tomboy-tools/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}
{% block page_title %}GPS Vehicle Tracking | Security Systems | Project Home Security{% endblock %}
{% block page_keywords %}wireless home alarm system, wireless GE home security system, Project Home security systems, Tomboy Tools, Tomboy Tools alarms, car tracking, van tracking, truck tracking, GPS vehicle tracking, vehicle tracking, car monitoring, GPS alarms,{% endblock %}
{% block page_description %}Watch your car, truck, or van with GPS vehicle tracking from Project Home. This feature can be added to your new home security system and accessed remotely from a computer or smartphone.{% endblock %}

{% block hero %}
{% endblock %}

{% block content %}

    <div class="container content">
        <div class="nine columns">
            <img src="{{ STATIC_URL }}img/affiliates/tomboy-tools/car.jpg" alt="GPS Tracking" width="100%" />
            <div id="video-overview-content">
                <h1>GPS Vehicle Tracking</h1>
                <p>Project Home Security Systems gives customers the option of locating and following your car online in real time. GPS vehicle tracking from Project Home allows for the creation of customizable alerts sent through email or text. Project Home GPS vehicle tracking will alert you when someone is driving your vehicle and can even tell you when they’re speeding. Great for younger drivers, GPS vehicle tracking helps comfort parents and ensure responsible driving habits.</p>
                <a class="button-link" href="{% url order %}">Order GPS tracking now</a>
            </div>
        </div>
        <div class="five columns offset-by-two">
            <div class="form-darker">
                {% include "affiliates/tomboy-tools/quote-form.html" with form=forms.basic %}
            </div>
        </div>
        <div class="clear content"></div>
        <div class="sixteen columns">
                <img src="{{ STATIC_URL }}img/affiliates/tomboy-tools/car_gps.jpg" alt="Location found" width="100%" />
                <h2 class="margin-vertical plus">Lost your Car?</h2>
                <p>Locate your car instantly with the click of a button! Use your GPS vehicle tracking to aide police if your car is ever stolen. Forget where you parked? Use the smartphone app to navigate large parking lots. GPS vehicle tracking adds an extra level of security to your life and your vehicle.</p>
        </div>
    </div>
    <div class="call-box">
        <div class="container">
            <h3>Call now! 1-888-648-9606</h3>
        </div>
    </div>

{% endblock %}