{% extends "affiliates/tomboy-tools/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}

{% block content %}
<div id="top-content">
    <div id="gps-tracking-overview">
        <img src="{{ STATIC_URL }}img/products/gps/big-red-car.jpg" alt="big-red-car" />
        <div id="gps-overview-content">
            <h1>GPS Vehicle Tracking</h1>
            <p>Tomboy Tools Home Security Systems gives customers the option of locating and following your car online in real time. GPS vehicle tracking from Tomboy Tools allows for the creation of customizable alerts sent through email or text. Tomboy Tools GPS vehicle tracking will alert you when someone is driving your vehicle and can even tell you when they’re speeding. Great for younger drivers, GPS vehicle tracking helps comfort parents and ensure responsible driving habits.</p>
            <div class="button-link"><a href="{% url order %}">Order GPS Tracking Now ></a></div>
        </div>
    </div>
    {% include "affiliates/tomboy-tools/quote-form.html" with form=forms.basic %}

</div>
<div id="location-found">
    <div id="lost-car">
        <h2>Lost your Car?</h2>
        <p>Locate your car instantly with the click of a button! Use your GPS vehicle tracking to aide police if your car is ever stolen. Forget where you parked? Use the smartphone app to navigate large parking lots. GPS vehicle tracking adds an extra level of security to your life and your vehicle.</p>

    </div>

</div>
<div class="clear"></div>
{% endblock %}
