{% extends "affiliates/tomboy-tools/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}
{% block page_title %}Security Systems | Alarm Systems | Project Home Security{% endblock %}
{% block page_keywords %}wireless home security system, home alarm system, wireless GE home alarm system, free home security systems, self-installed home alarm systems, Project Home security systems, Tomboy Tools, Tomboy Tools alarms{% endblock %}
{% block page_description %}Home security systems from Project Home provide the most affordable 24-hour monitored protection. Get a GE wireless home alarm system with up to 14 door/window sensors for no upfront cost. Self-installed wireless home security systems save time and money.{% endblock %}


{% block content %}


{% endblock %}
