{% extends "affiliates/tomboy-tools/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}

{% block content %}
    <div id="main-package">
        <div id="the-main-package">
            <img src="{{ STATIC_URL }}/img/products/silver-package/silver-package-simon-xt.jpg" alt="Silver Package - GE Wireless Simon XT with 10 Door / Window Sensors and 1 Motion Detector" class="package-image" />
            <div id="package-info">
                <h2>Free Silver Package</h2>
                <h1>Home Security System</h1>
                <ul>
                    <li>Simon XT Control Panel</li>
                    <li>10 Door / Window Sensors</li>
                    <li>1 Motion Detector</li>
                    <li>Siren &amp; Door Chime</li>
                    <li>3 Window Decals</li>
                    <li>1 Security Yard Sign</li>
                    <li>Battery Backup</li>
                    
                </ul>
                <div class="clear"></div>
                <div id="low-price-seal">
                    <img src="{{ STATIC_URL }}img/extra/lowest-price-badge-small-white.jpg" alt="Lowest Price Guaranteed" />
                </div>
                <div id="package-price">
                    <p>Price Today <strong>Free</strong></p>
                    <span>{{ pricetable.SILVER.standard_monitoring }} per month</span>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <div class="big-button-link">
                <a href="{% url order %}" title="Order the Silver Package">Order Now ></a>
            </div>
        </div>
        {% include "affiliates/tomboy-tools/quote-form.html" with form=forms.basic %}

    </div>
    <div class="clear"></div>
    <div id="in-your-home">
        <img src="{{ STATIC_URL }}img/products/silver-package/in-the-home.jpg" alt="In the Home: Silver Package" />
        <p>Superior security is within your reach! The Silver Security package from Tomboy Tools has 10 door/window sensors, enough to monitor every door or window on your home. The Silver Security package even includes a motion detector for increased interior security. Designed for homes with less than 2500 square feet, the Silver package is also customizable and can support smoke detectors, low temperature gauges, flood sensors, and interactive home security cameras.</p>
    </div>
    <div id="encouragement">
        <div id="wireless-security">
            <img src="{{ STATIC_URL }}img/affiliates/five-linx/wireless-security-icon.png" alt="Easy to Use Wireless Security" />
            <h2>Simple, Convenient Wireless Security</h2>
            <p>No drilling, no technicians, easy DIY. Just simple and effective security.</p>
            <div class="clear"></div>
        </div>
        <div id="homeowners-insurance">
            <img src="{{ STATIC_URL }}img/affiliates/five-linx/dollar-sign.png" alt="Save on Home Owner's Insurance"  />
            <h2>Save on Homeowner’s Insurance</h2>
            <p>Reduce your monthly insurance payments by up to 20 percent!</p>
            <div class="clear"></div>
        </div>
        <div id="owned-system">
            <img src="{{ STATIC_URL }}img/affiliates/five-linx/owned-system.png" alt="Own your Security System" />
            <h2>Own Your Security System</h2>
            <p>Don’t lease! Own! You can even take your system with you if you move.</p>
            <div class="clear"></div>
        </div>
        <div id="lifetime-warranty">
            <img src="{{ STATIC_URL }}img/affiliates/five-linx/lifetime-warranty.png" alt="Lifetime Replacement Parts Warranty" />
            <h2>Lifetime Replacement Parts Warranty</h2>
            <p>If a part, or even the entire system, breaks, we replace it! We even replace batteries.</p>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>

    </div>
    <img src="{{ STATIC_URL }}img/affiliates/five-linx/other-packages-header.png" alt="Other Security Packages Header" width="288" height="24" class="other-packages-header" />
    <div class="clear"></div>
    <a href="{% url copper %}" title="Copper Security Package">

    <div class="other-package">
        <img src="{{ STATIC_URL }}img/products/copper-package/copper-package-simon-xt.jpg" alt="Copper Security Package" />
        <h3>Copper Package</h3>
        <ul>
            <li>3 Door / Window Sensors</li>
            <li>1 Motion Detector</li>
        </ul>
        <span>FREE TODAY!</span>
        <p>
            Monthly Monitoring:
            <strong>{{ pricetable.COPPER.standard_monitoring }}/mo</strong>
        </p>
        <div class="clear"></div>
    </div>
    </a>
    <a href="{% url bronze %}" title="Silver Security Package">

    <div class="other-package bronze-package">
        <img src="{{ STATIC_URL }}img/products/bronze-package/bronze-package-simon-xt.jpg" alt="Bronze Security Package" />

        <h3>Bronze Package</h3>
        <ul>
            <li>7 Door / Window Sensors</li>
            <li>1 Motion Detector</li>
        </ul>
        <span>FREE TODAY!</span>
        <p>
            Monthly Monitoring:
            <strong>{{ pricetable.BRONZE.standard_monitoring }}/mo</strong>
        </p>
        <div class="clear"></div>
    </div>
    </a>
    <a href="{% url gold %}" title="Gold Security Package">

    <div class="other-package">
        <img src="{{ STATIC_URL }}img/products/gold-package/gold-package-simon-xt.jpg" alt="Gold Security Package" />

        <h3>Gold Package</h3>
        <ul>
            <li>12 Door / Window Sensors</li>
            <li>1 Motion Detector</li>
        </ul>
        <span>FREE TODAY!</span>

        <p>
            Monthly Monitoring:
            <strong>{{ pricetable.GOLD.standard_monitoring }}/mo</strong>
        </p>
        <div class="clear"></div>
    </div>
    </a>
    <a href="{% url platinum %}" title="Platinum Security Package">
    <div class="other-package">
        <img src="{{ STATIC_URL }}img/products/platinum-package/platinum-package-simon-xt.jpg" alt="Platinum Security Package" />

        <h3>Platinum Package</h3>
        <ul>
            <li>15 Door / Window Sensors</li>
            <li>1 Motion Detector</li>
        </ul>
        <span>FREE TODAY!</span>

        <p>
            Monthly Monitoring:
            <strong>{{ pricetable.PLATINUM.standard_monitoring }}/mo</strong>
        </p>
        <div class="clear"></div>

    </div>
    </a>
    <div class="clear"></div>


{% endblock %}
