{% extends "affiliates/tomboy-tools/base.html" %}
{% load content_filters content_tags sekizai_tags testimonial_tags %}
{% block page_title %}Thank You | Security Systems | Tomboy Tools Home Security{% endblock %}
{% block page_keywords %}wireless home alarm system, wireless GE home security system, Tomboy Tools home security systems, Tomboy Tools, Tomboy Tools alarms, thank you for your order, order complete, order processing{% endblock %}
{% block page_description %}Tomboy Tools appreciates your business! Thank you for selecting us for your home security needs. You’ll be receiving your new wireless home security system in a few days. You should install your home security system immediately after you receive it.{% endblock %}

{% block hero %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="four columns margin-vertical plus">
        <img src="{{ STATIC_URL }}img/thank-you-pages/construction-woman.jpg" width="240" />
    </div>
    <div class="nine columns offset-by-three margin-vertical plus">
        <h2 class="title">You just moved one step closer to protecting your home!</h2>
        <p>We thank you for selecting Tomboy Tools for your home security needs! We received your request for a free home security quote and will be contacting you within 24 hours. In the meantime, one of our home security experts is waiting to speak to you know! Give us a call directly at 1-800-713-0139 to discuss your home security needs. When you call, ask about home security accessories, like interactive video security, smoke detectors, and flood sensors.</p>
    </div>
    <div class="clear"></div>
    <h2 class="title">What's Next:</h2>
    <div class="four columns">
        <img src="{{ STATIC_URL }}img/thank-you-pages/security-professional.png" alt="Security Professional will contact you within 24 Hours"  />
        <h3>Step One:</h3>
        <p>A Security Professional will contact you within 24 hours</p>
    </div>
    <div class="four columns offset-by-two">
        <img src="{{ STATIC_URL }}img/thank-you-pages/house-blueprint.png" alt="A Free Security System that fits your Home and Budget"  />
        <h3>Step Two:</h3>
        <p>Together we will create your free system that fits your home and budget</p>
    </div>
    <div class="four columns offset-by-two">
        <img src="{{ STATIC_URL }}img/thank-you-pages/secured-home.jpg" alt="Home Security in 7 - 10 Days" />
        <h3>Step Three:</h3>
        <p>Your home will be secured and protected within 7 - 10 days</p>
    </div>
</div>


{% endblock %}

{% block advantage %}
{% endblock %}

{% block packages %}
{% endblock %}

{% block conversation %}
{% endblock %}