{% extends "crm/base.html" %}

{% load sekizai_tags %}

{% block extra_sidebar %}
<div class="row">
    <div class="span3" style="text-align: right;">
        <a href="{% url crm:affiliates_add %}" class="btn btn-success btn-large">
            <i class="icon-plus-sign icon-white"></i>
            Add an Affiliate
        </a>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="span4">
        <h1>Affiliates</h1>
    </div>
    <div class="span4">
        <form class="well form-search" action="{% url crm:affiliates_search %}"
            method="GET" >
            {% csrf_token %}
            <input type="text" class="input-medium search-query span2"
                data-provide="typeahead" placeholder="Search by Agent ID" 
                name='q' />
            <button type="submit" class="btn">Search</button>
        </form>
    </div>
    <hr/>
</div>
<div class="row">
    <div class="span8">
<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>Agent ID</th>
        <th>Name</th>
        <th>Phone</th>
        <th></th>
    </tr>
    {% for affiliate in affiliates.object_list %}
    <tr>
        <td>{{ affiliate.agent_id }}</td>
        <td>{{ affiliate.name }}</td>
        <td>{{ affiliate.phone }}</td>
        <td style="text-align: center;">
            <a href="{% url crm:affiliates_edit affiliate.id %}" class="btn">
                <i class="icon-pencil"></i>
                Edit
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
<ul class="pager">
    {% if affiliates.has_previous %}
    <li class="previous">
        <a href="?page={{ affiliates.previous_page_number }}">&larr; Older</a>
    </li>
    {% endif %}
    {% if affiliates.has_next %}
    <li class="next">
        <a href="?page={{ affiliates.next_page_number }}">Newer &rarr;</a>
    </li>
    {% endif %}
</ul>
    </div>
</div>
{% addtoblock "js" %}
<script type='text/javascript'>
$(document).ready(function() {
    $('.search-query').typeahead({
        'source': {{ typeahead_src|safe }}
    })
});
</script>
{% endaddtoblock "js" %}
{% endblock %}