{% load sekizai_tags %}<!DOCTYPE html>
<html>
<head>
	<title>Protect America CRM</title>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}crm/css/reset.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}crm/css/text.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}crm/css/grid.css">

	<link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}crm/less/style.less">
	{% render_block "css" %}
	<script type="text/javascript" src="{{ STATIC_URL }}crm/js/less.js"></script>
</head>
<body>
<div class="container_16">
	<h1>Protect America CRM</h1>
</div>
{% render_block "js" %}
</body>
</html>