{% extends "crm/base.html" %}

{% load sekizai_tags %}

{% block content %}
<form action="?profile" method="POST">
{% csrf_token %}
<div class="row">
    <div class="span8">
        <h2> Affiliate Request Information </h2>
        <hr/>
        {% include "crm/_partials/profile_form_html.html" %} 
    </div>
    <div class="row">
        <div class="span8" style="margin-left: 56px;">
            <p>Affiliate Comment:</p>
            <blockquote>{{ profile.comments }}</blockquote>
        </div>
    </div>
</div>
<div class="row">
    <div class="span8">
        <div class="form-actions">
            <button class="btn btn-primary" type="submit">Update Information</button>
            <a href="{% url crm:affiliates %}" class="btn">Cancel</a>
            <div class="btn-group pull-right">
                <a href="#" class="btn btn-success"
                    id="approve-btn">Approve</a>
                <a href="#" class="btn btn-danger"
                    id='decline-btn'>Decline</a>
            </div>
        </div>
    </div>
</div>
</form>
<div class="modal hide fade" id="decline_confirm">
    <form action="{% url crm:affiliate_requests_decline profile.id %}" method="POST">
        {% csrf_token %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Are you sure... ?</h3>
    </div>
    <div class="modal-body">
        <p>Please give a reason why you are declining this affiliate. (This is optional)</p>
        <div class="control-group">
            <label class="control-label">Decline Message</label>
            <div class="controls">
                <textarea name="decline_message" class="span4"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <button class="btn btn-danger">Confirm Decline</button>
    </div>
    </form>
</div>
<div class="modal hide fade" id="approve_confirm">
    <form action="?approved" method="POST">
    {% csrf_token %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>We need some more information!</h3>
    </div>
    <div class="modal-body">
        <p>To approve this Affiliate we need you to give us some information about the affiliate!</p>
        {% include "crm/_partials/formfield.html" with field=form.agent_id %}
        {% include "crm/_partials/formfield.html" with field=form.name %}
        {% include "crm/_partials/formfield.html" with field=form.phone %}
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <button class="btn btn-success" type="submit">Approve Affiliate</a>
    </div>
    </form>
</div>
{% addtoblock "js" %}
<script type='text/javascript'>
$(document).ready(function() {
    $('#decline-btn').click(function(e) {
        e.preventDefault();
        $('#decline_confirm').modal('show');
    });
    $('#approve-btn').click(function(e) {
        e.preventDefault();
        $('#approve_confirm').modal('show');
    });
    {% if form.errors %}
    $('#approve_confirm').modal('show');
    {% endif %}
});
</script>
{% endaddtoblock %}
{% endblock %}